<div class="dablink">"Zero" redirects here. For other uses, see <a href="/wiki/Zero_(disambiguation)" title="Zero (disambiguation)">Zero (disambiguation)</a>.</div>
<div class="metadata topicon" id="protected-icon" style="display:none; right:55px;"><a href="/wiki/Wikipedia:Protection_policy#semi" title="This article is semi-protected."><img alt="Page semi-protected" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Padlock-silver.svg/20px-Padlock-silver.svg.png" width="20" height="20" /></a></div>
<table class="infobox nowraplinks" style="width: 20em;">
<tr>
<th colspan="2" style="text-align:center; font:10em verdana; background:#ccc;">0</th>
</tr>
<tr>
<td colspan="2">
<div style="text-align:center;font-size:smaller;">
<p><a href="/wiki/%E2%88%921_(number)" title="1 (number)">1</a> <strong class="selflink">0</strong> <a href="/wiki/1_(number)" title="1 (number)">1</a> <a href="/wiki/2_(number)" title="2 (number)">2</a> <a href="/wiki/3_(number)" title="3 (number)">3</a> <a href="/wiki/4_(number)" title="4 (number)">4</a> <a href="/wiki/5_(number)" title="5 (number)">5</a> <a href="/wiki/6_(number)" title="6 (number)">6</a> <a href="/wiki/7_(number)" title="7 (number)">7</a> <a href="/wiki/8_(number)" title="8 (number)">8</a> <a href="/wiki/9_(number)" title="9 (number)">9</a> <a href="/wiki/10_(number)" title="10 (number)"><span class="Unicode"></span></a></p>
</div>
<div style="text-align:center;font-size:smaller;">
<p><a href="/wiki/List_of_numbers" title="List of numbers">List of numbers</a>  <a href="/wiki/Integer" title="Integer">Integers</a></p>
</div>
<div style="text-align:center;font-size:smaller;">
<p><strong class="selflink">0</strong> <a href="/wiki/10_(number)" title="10 (number)">10</a> <a href="/wiki/20_(number)" title="20 (number)">20</a> <a href="/wiki/30_(number)" title="30 (number)">30</a> <a href="/wiki/40_(number)" title="40 (number)">40</a> <a href="/wiki/50_(number)" title="50 (number)">50</a> <a href="/wiki/60_(number)" title="60 (number)">60</a> <a href="/wiki/70_(number)" title="70 (number)">70</a> <a href="/wiki/80_(number)" title="80 (number)">80</a> <a href="/wiki/90_(number)" title="90 (number)">90</a> <a href="/wiki/100_(number)" title="100 (number)"><span class="Unicode"></span></a></p>
</div>
</td>
</tr>
<tr>
<td><a href="/wiki/Cardinal_number" title="Cardinal number">Cardinal</a></td>
<td>0, zero, "oh" (<span class="nowrap"><span title="pronunciation:"><img alt="play" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/11px-Loudspeaker.svg.png" width="11" height="11" /></span>&#160;<span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Wikipedia:IPA_for_English" title="Wikipedia:IPA for English">/</a></span><span class="IPA"><a href="/wiki/Wikipedia:IPA_for_English#Key" title="Wikipedia:IPA for English"><span title="primary stress follows" style="border-bottom:1px dotted"></span></a></span><span class="IPA"><a href="/wiki/Wikipedia:IPA_for_English#Key" title="Wikipedia:IPA for English"><span title="long 'o' in 'bode'" style="border-bottom:1px dotted">o</span></a></span><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Wikipedia:IPA_for_English" title="Wikipedia:IPA for English">/</a></span></span>), nought, naught, nil.</td>
</tr>
<tr>
<td><a href="/wiki/Ordinal_number_(linguistics)" title="Ordinal number (linguistics)">Ordinal</a></td>
<td><a href="/wiki/0th_(disambiguation)" title="0th (disambiguation)" class="mw-redirect">0th</a>, zeroth, noughth</td>
</tr>
<tr>
<td><a href="/wiki/Factorization" title="Factorization">Factorization</a></td>
<td><img class="tex" alt=" 0 " src="//upload.wikimedia.org/wikipedia/en/math/c/f/c/cfcd208495d565ef66e7dff9f98764da.png" /></td>
</tr>
<tr>
<td><a href="/wiki/Divisor" title="Divisor">Divisors</a></td>
<td>all numbers</td>
</tr>
<tr>
<td><a href="/wiki/Arabic_numerals" title="Arabic numerals">Arabic</a></td>
<td style="font-size:150%">,0</td>
</tr>
<tr>
<td><a href="/wiki/Bengali_language" title="Bengali language">Bengali</a></td>
<td style="font-size:150%"></td>
</tr>
<tr>
<td><a href="/wiki/Devanagari" title="Devanagari">Devangar</a></td>
<td style="font-size:150%"></td>
</tr>
<tr>
<td><a href="/wiki/Chinese_numerals" title="Chinese numerals">Chinese</a></td>
<td>, </td>
</tr>
<tr>
<td><a href="/wiki/Japanese_numerals" title="Japanese numerals">Japanese</a></td>
<td>, </td>
</tr>
<tr>
<td><a href="/wiki/Khmer_numerals" title="Khmer numerals" class="mw-redirect">Khmer</a></td>
<td></td>
</tr>
<tr>
<td><a href="/wiki/Thai_numerals" title="Thai numerals">Thai</a></td>
<td></td>
</tr>
<tr>
<td><a href="/wiki/Binary_numeral_system" title="Binary numeral system">Binary</a></td>
<td>0</td>
</tr>
<tr>
<td><a href="/wiki/Octal" title="Octal">Octal</a></td>
<td>0</td>
</tr>
<tr>
<td><a href="/wiki/Duodecimal" title="Duodecimal">Duodecimal</a></td>
<td>0</td>
</tr>
<tr>
<td><a href="/wiki/Hexadecimal" title="Hexadecimal">Hexadecimal</a></td>
<td>0</td>
</tr>
</table>
<p><b>0</b> (<b>zero</b>; <a href="/wiki/British_English" title="British English">BrE</a>: <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/zr/</span>, <span title="English pronunciation respelling" class="IPA"><a href="/wiki/Wikipedia:Pronunciation_respelling_key" title="Wikipedia:Pronunciation respelling key"><i><b><span class="SMALLCAPS" style="FONT-VARIANT:SMALL-CAPS;"><span class="NOCAPS" style="TEXT-TRANSFORM:LOWERCASE;">ZIRR</span></span></b>-oh</i></a></span> or <a href="/wiki/American_English" title="American English">AmE</a>: <span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">/ziro/</span>, <span title="English pronunciation respelling" class="IPA"><a href="/wiki/Wikipedia:Pronunciation_respelling_key" title="Wikipedia:Pronunciation respelling key"><i><b><span class="SMALLCAPS" style="FONT-VARIANT:SMALL-CAPS;"><span class="NOCAPS" style="TEXT-TRANSFORM:LOWERCASE;">ZEER</span></span></b>-oh</i></a></span>) is both a <a href="/wiki/Number" title="Number">number</a><sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> and the <a href="/wiki/Numerical_digit" title="Numerical digit">numerical digit</a> used to represent that number in <a href="/wiki/Numeral_system" title="Numeral system">numerals</a>. It fulfills a central role in <a href="/wiki/Mathematics" title="Mathematics">mathematics</a> as the <a href="/wiki/Additive_identity" title="Additive identity">additive identity</a> of the <a href="/wiki/Integer" title="Integer">integers</a>, <a href="/wiki/Real_number" title="Real number">real numbers</a>, and many other <a href="/wiki/Algebra" title="Algebra">algebraic</a> structures. As a digit, 0 is used as a placeholder in <a href="/wiki/Positional_notation" title="Positional notation">place value systems</a>. In the <a href="/wiki/English_language" title="English language">English language</a>, 0 may be called <b>zero</b>, <b>nought</b> or (US) <b>naught</b>(<span class="nowrap"><span title="pronunciation:"><img alt="play" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/11px-Loudspeaker.svg.png" width="11" height="11" /></span>&#160;<span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Wikipedia:IPA_for_English" title="Wikipedia:IPA for English">/</a></span><span class="IPA"><a href="/wiki/Wikipedia:IPA_for_English#Key" title="Wikipedia:IPA for English"><span title="primary stress follows" style="border-bottom:1px dotted"></span></a></span><span class="IPA"><a href="/wiki/Wikipedia:IPA_for_English#Key" title="Wikipedia:IPA for English"><span title="'n' in 'nigh'" style="border-bottom:1px dotted">n</span></a></span><span class="IPA"><a href="/wiki/Wikipedia:IPA_for_English#Key" title="Wikipedia:IPA for English"><span title="'au' in 'fraud'" style="border-bottom:1px dotted"></span></a></span><span class="IPA"><a href="/wiki/Wikipedia:IPA_for_English#Key" title="Wikipedia:IPA for English"><span title="'t' in 'tie'" style="border-bottom:1px dotted">t</span></a></span><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Wikipedia:IPA_for_English" title="Wikipedia:IPA for English">/</a></span></span>), <b>nil</b>, or "<b>o</b>"(<span class="nowrap"><span title="pronunciation:"><img alt="play" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/11px-Loudspeaker.svg.png" width="11" height="11" /></span>&#160;<span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Wikipedia:IPA_for_English" title="Wikipedia:IPA for English">/</a></span><span class="IPA"><a href="/wiki/Wikipedia:IPA_for_English#Key" title="Wikipedia:IPA for English"><span title="primary stress follows" style="border-bottom:1px dotted"></span></a></span><span class="IPA"><a href="/wiki/Wikipedia:IPA_for_English#Key" title="Wikipedia:IPA for English"><span title="long 'o' in 'bode'" style="border-bottom:1px dotted">o</span></a></span><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Wikipedia:IPA_for_English" title="Wikipedia:IPA for English">/</a></span></span>). Informal or slang terms for zero include <b>zilch</b> and <b>zip</b>.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> <i>Ought</i> or <i>aught</i> (<span class="nowrap"><span title="pronunciation:"><img alt="play" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/11px-Loudspeaker.svg.png" width="11" height="11" /></span>&#160;<span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Wikipedia:IPA_for_English" title="Wikipedia:IPA for English">/</a></span><span class="IPA"><a href="/wiki/Wikipedia:IPA_for_English#Key" title="Wikipedia:IPA for English"><span title="primary stress follows" style="border-bottom:1px dotted"></span></a></span><span class="IPA"><a href="/wiki/Wikipedia:IPA_for_English#Key" title="Wikipedia:IPA for English"><span title="'au' in 'fraud'" style="border-bottom:1px dotted"></span></a></span><span class="IPA"><a href="/wiki/Wikipedia:IPA_for_English#Key" title="Wikipedia:IPA for English"><span title="'t' in 'tie'" style="border-bottom:1px dotted">t</span></a></span><span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA"><a href="/wiki/Wikipedia:IPA_for_English" title="Wikipedia:IPA for English">/</a></span></span>) have also been used historically.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup> (See <a href="/wiki/Names_for_the_number_0_in_English" title="Names for the number 0 in English">Names for the number 0 in English</a>)</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Etymology"><span class="tocnumber">1</span> <span class="toctext">Etymology</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#History"><span class="tocnumber">2</span> <span class="toctext">History</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Mesopotamia"><span class="tocnumber">2.1</span> <span class="toctext">Mesopotamia</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#India"><span class="tocnumber">2.2</span> <span class="toctext">India</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#China"><span class="tocnumber">2.3</span> <span class="toctext">China</span></a></li>
<li class="toclevel-2 tocsection-6"><a href="#The_Arab_world"><span class="tocnumber">2.4</span> <span class="toctext">The Arab world</span></a></li>
<li class="toclevel-2 tocsection-7"><a href="#Greeks_and_Romans"><span class="tocnumber">2.5</span> <span class="toctext">Greeks and Romans</span></a></li>
<li class="toclevel-2 tocsection-8"><a href="#The_Americas"><span class="tocnumber">2.6</span> <span class="toctext">The Americas</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-9"><a href="#As_a_number"><span class="tocnumber">3</span> <span class="toctext">As a number</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#As_a_year_label"><span class="tocnumber">4</span> <span class="toctext">As a year label</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#Names_and_symbols"><span class="tocnumber">5</span> <span class="toctext">Names and symbols</span></a>
<ul>
<li class="toclevel-2 tocsection-12"><a href="#Rules_of_Brahmagupta"><span class="tocnumber">5.1</span> <span class="toctext">Rules of Brahmagupta</span></a></li>
<li class="toclevel-2 tocsection-13"><a href="#Zero_as_a_decimal_digit"><span class="tocnumber">5.2</span> <span class="toctext">Zero as a decimal digit</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-14"><a href="#In_mathematics"><span class="tocnumber">6</span> <span class="toctext">In mathematics</span></a>
<ul>
<li class="toclevel-2 tocsection-15"><a href="#Elementary_algebra"><span class="tocnumber">6.1</span> <span class="toctext">Elementary algebra</span></a></li>
<li class="toclevel-2 tocsection-16"><a href="#Other_branches_of_mathematics"><span class="tocnumber">6.2</span> <span class="toctext">Other branches of mathematics</span></a></li>
<li class="toclevel-2 tocsection-17"><a href="#Related_mathematical_terms"><span class="tocnumber">6.3</span> <span class="toctext">Related mathematical terms</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-18"><a href="#In_science"><span class="tocnumber">7</span> <span class="toctext">In science</span></a>
<ul>
<li class="toclevel-2 tocsection-19"><a href="#Physics"><span class="tocnumber">7.1</span> <span class="toctext">Physics</span></a></li>
<li class="toclevel-2 tocsection-20"><a href="#Chemistry"><span class="tocnumber">7.2</span> <span class="toctext">Chemistry</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-21"><a href="#In_computer_science"><span class="tocnumber">8</span> <span class="toctext">In computer science</span></a></li>
<li class="toclevel-1 tocsection-22"><a href="#In_other_fields"><span class="tocnumber">9</span> <span class="toctext">In other fields</span></a></li>
<li class="toclevel-1 tocsection-23"><a href="#See_also"><span class="tocnumber">10</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-24"><a href="#Notes"><span class="tocnumber">11</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-25"><a href="#References"><span class="tocnumber">12</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-26"><a href="#External_links"><span class="tocnumber">13</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=1" title="Edit section: Etymology"></a>]</span> <span class="mw-headline" id="Etymology">Etymology</span></h2>
<p>The word <i>zero</i> came via French <i>zro</i> from <a href="/wiki/Venetian_language" title="Venetian language">Venetian</a> <i>zero</i>, which (together with <i><a href="//en.wiktionary.org/wiki/cipher" class="extiw" title="wikt:cipher">cypher</a></i>) came via Italian <i>zefiro</i> from Arabic , <i>afira</i> = "it was empty", <i>ifr</i> = "zero", "<a href="/wiki/Nothing" title="Nothing">nothing</a>". This was a translation of the Sanskrit word <i>shoonya</i> (nya), meaning "empty".<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup><sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup><sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup><sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=2" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=3" title="Edit section: Mesopotamia"></a>]</span> <span class="mw-headline" id="Mesopotamia">Mesopotamia</span></h3>
<p>By the middle of the 2nd millennium BC, the <a href="/wiki/Babylonian_mathematics" title="Babylonian mathematics">Babylonian mathematics</a> had a sophisticated <a href="/wiki/Sexagesimal" title="Sexagesimal">sexagesimal</a> positional numeral system. The lack of a positional value (or zero) was indicated by a <i>space</i> between sexagesimal numerals. By 300&#160;BC, a punctuation symbol (two slanted wedges) was co-opted as a <a href="/wiki/Free_variables_and_bound_variables" title="Free variables and bound variables">placeholder</a> in the same <a href="/wiki/Babylonian_numerals" title="Babylonian numerals">Babylonian system</a>. In a tablet unearthed at <a href="/wiki/Kish_(Sumer)" title="Kish (Sumer)">Kish</a> (dating from about 700&#160;BC), the scribe Bl-bn-aplu wrote his zeros with three hooks, rather than two slanted wedges.<sup id="cite_ref-multiref1_7-0" class="reference"><a href="#cite_note-multiref1-7"><span>[</span>8<span>]</span></a></sup></p>
<p>The Babylonian placeholder was not a true zero because it was not used alone. Nor was it used at the end of a number. Thus numbers like 2 and 120 (260), 3 and 180 (360), 4 and 240 (460), looked the same because the larger numbers lacked a final sexagesimal placeholder. Only context could differentiate them.</p>
<h3><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=4" title="Edit section: India"></a>]</span> <span class="mw-headline" id="India">India</span></h3>
<p>The concept of zero as a number and not merely a symbol for separation is attributed to India, where, by the 9th century AD, practical calculations were carried out using zero, which was treated like any other number, even in case of division.<sup id="cite_ref-bourbaki46_8-0" class="reference"><a href="#cite_note-bourbaki46-8"><span>[</span>9<span>]</span></a></sup><sup id="cite_ref-ebcal_9-0" class="reference"><a href="#cite_note-ebcal-9"><span>[</span>10<span>]</span></a></sup> The Indian scholar <a href="/wiki/Pingala" title="Pingala">Pingala</a> (circa 5th-2nd century BC) used <a href="/wiki/Binary_numeral_system" title="Binary numeral system">binary numbers</a> in the form of short and long syllables (the latter equal in length to two short syllables), making it similar to <a href="/wiki/Morse_code" title="Morse code">Morse code</a>.<sup id="cite_ref-10" class="reference"><a href="#cite_note-10"><span>[</span>11<span>]</span></a></sup><sup id="cite_ref-11" class="reference"><a href="#cite_note-11"><span>[</span>12<span>]</span></a></sup> He and his contemporary Indian scholars used the <a href="/wiki/Sanskrit" title="Sanskrit">Sanskrit</a> word <i><a href="/wiki/%C5%9A%C5%ABnyat%C4%81" title="nyat">nya</a></i> to refer to zero or <i>void</i>. The use of a blank on a counting board to represent 0 dated back in India to 4th century BC.<sup id="cite_ref-12" class="reference"><a href="#cite_note-12"><span>[</span>13<span>]</span></a></sup> In 498&#160;AD, Indian mathematician and astronomer <a href="/wiki/Aryabhata" title="Aryabhata">Aryabhata</a> stated that "Sthanam sthanam dasa gunam" or place to place in ten times in value, which is the origin of the modern decimal-based place value notation.<sup id="cite_ref-13" class="reference"><a href="#cite_note-13"><span>[</span>14<span>]</span></a></sup></p>
<p>The oldest known text to use a decimal <a href="/wiki/Positional_notation" title="Positional notation">place-value system</a>, including a zero, is the Jain text from India entitled the <i><a href="/wiki/Lokavibhaga" title="Lokavibhaga">Lokavibhga</a></i>, dated 458&#160;AD, where <i><a href="/wiki/Shunya#Etymology" title="Shunya" class="mw-redirect">shunya</a></i> ("void" or "empty") was employed for this purpose.<sup id="cite_ref-14" class="reference"><a href="#cite_note-14"><span>[</span>15<span>]</span></a></sup> The first known use of special <a href="/wiki/Glyph" title="Glyph">glyphs</a> for the decimal digits that includes the indubitable appearance of a symbol for the digit zero, a small circle, appears on a stone inscription found at the <a href="/wiki/Chaturbhuja_Temple" title="Chaturbhuja Temple" class="mw-redirect">Chaturbhuja Temple</a> at <a href="/wiki/Gwalior" title="Gwalior">Gwalior</a> in India, dated 876&#160;AD.<sup id="cite_ref-15" class="reference"><a href="#cite_note-15"><span>[</span>16<span>]</span></a></sup><sup id="cite_ref-16" class="reference"><a href="#cite_note-16"><span>[</span>17<span>]</span></a></sup> There are many documents on copper plates, with the same small <i>o</i> in them, dated back as far as the sixth century AD, but their authenticity may be doubted.<sup id="cite_ref-multiref1_7-1" class="reference"><a href="#cite_note-multiref1-7"><span>[</span>8<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=5" title="Edit section: China"></a>]</span> <span class="mw-headline" id="China">China</span></h3>
<p>Since the 4th century BC, <a href="/wiki/Counting_rods" title="Counting rods">counting rods</a> were used in China for decimal calculation s including the use of blank spaces. Chinese mathematicians understood negative numbers and zero, some mathematicians indicated the for the latter with <i>wr</i> ( "no entry"), <i>kng</i> ( "empty") and the frame-like symbol /, until <a href="/wiki/Gautama_Siddha" title="Gautama Siddha">Gautama Siddha</a> introduced the symbol 0 in the 8th century.<sup id="cite_ref-17" class="reference"><a href="#cite_note-17"><span>[</span>18<span>]</span></a></sup><sup id="cite_ref-18" class="reference"><a href="#cite_note-18"><span>[</span>19<span>]</span></a></sup></p>
<p>Prior to that, <i><a href="/wiki/The_Nine_Chapters_on_the_Mathematical_Art" title="The Nine Chapters on the Mathematical Art">The Nine Chapters on the Mathematical Art</a></i>, composed in the 1st century AD, had already explicitly stated "[when subtracting] subtract same signed numbers, add differently signed numbers, subtract a positive number from zero to make a negative number, and subtract a negative number from zero to make a positive number."<sup id="cite_ref-19" class="reference"><a href="#cite_note-19"><span>[</span>20<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=6" title="Edit section: The Arab world"></a>]</span> <span class="mw-headline" id="The_Arab_world">The Arab world</span></h3>
<p>The <a href="/wiki/Arabic_numerals" title="Arabic numerals">Hindu-Arabic numerals</a> and the positional number system were introduced around 500&#160;AD, and in 825&#160;AD, it was introduced by a <a href="/wiki/Persian_people" title="Persian people">Persian</a> scientist, <a href="/wiki/Al-Khw%C4%81rizm%C4%AB" title="Al-Khwrizm" class="mw-redirect">al-Khwrizm</a>,<sup id="cite_ref-Durant_20-0" class="reference"><a href="#cite_note-Durant-20"><span>[</span>21<span>]</span></a></sup> in his book on arithmetic. This book synthesized Greek and Hindu knowledge and also contained his own fundamental contribution to mathematics and science including an explanation of the use of zero. It was only centuries later, in the 12th century, that the Arabic numeral system was introduced to the <a href="/wiki/Western_world" title="Western world">Western world</a> through <a href="/wiki/Latin" title="Latin">Latin</a> translations of his treatise <i><a href="/wiki/Mu%E1%B8%A5ammad_ibn_M%C5%ABs%C4%81_al-Khw%C4%81rizm%C4%AB#Arithmetic" title="Muammad ibn Ms al-Khwrizm">Arithmetic</a></i>.</p>
<h3><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=7" title="Edit section: Greeks and Romans"></a>]</span> <span class="mw-headline" id="Greeks_and_Romans">Greeks and Romans</span></h3>
<p>Records show that the <a href="/wiki/Ancient_Greece" title="Ancient Greece">ancient Greeks</a> seemed unsure about the status of zero as a number. They asked themselves, "How can nothing <i>be</i> something?", leading to <a href="/wiki/Philosophy" title="Philosophy">philosophical</a> and, by the Medieval period, religious arguments about the nature and existence of zero and the <a href="/wiki/Vacuum" title="Vacuum">vacuum</a>. The <a href="/wiki/Zeno%27s_paradoxes" title="Zeno's paradoxes">paradoxes</a> of <a href="/wiki/Zeno_of_Elea" title="Zeno of Elea">Zeno of Elea</a> depend in large part on the uncertain interpretation of zero.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a href="/wiki/File:P._Lund,_Inv._35a.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/P._Lund%2C_Inv._35a.jpg/300px-P._Lund%2C_Inv._35a.jpg" width="300" height="164" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:P._Lund,_Inv._35a.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Example of the early Greek symbol for zero (lower right corner) from a 2nd century papyrus</div>
</div>
</div>
<p>By 130&#160;AD, <a href="/wiki/Ptolemy" title="Ptolemy">Ptolemy</a>, influenced by <a href="/wiki/Hipparchus" title="Hipparchus">Hipparchus</a> and the Babylonians, was using a symbol for zero (a small circle with a long overbar) within a sexagesimal numeral system otherwise using alphabetic <a href="/wiki/Greek_numerals" title="Greek numerals">Greek numerals</a>. Because it was used alone, not just as a placeholder, this <a href="/wiki/Greek_numerals#Hellenistic_zero" title="Greek numerals">Hellenistic zero</a> was perhaps the first documented use of a <i>number</i> zero in the Old World. However, the positions were usually limited to the fractional part of a number (called minutes, seconds, thirds, fourths, etc.)they were not used for the integral part of a number. In later <a href="/wiki/Byzantine_Empire" title="Byzantine Empire">Byzantine</a> manuscripts of Ptolemy's <i>Syntaxis Mathematica</i> (also known as the <i>Almagest</i>), the Hellenistic zero had morphed into the Greek letter <a href="/wiki/Omicron" title="Omicron">omicron</a> (otherwise meaning 70).</p>
<p>Another zero was used in tables alongside <a href="/wiki/Roman_numerals#Zero" title="Roman numerals">Roman numerals</a> by 525 (first known use by <a href="/wiki/Dionysius_Exiguus" title="Dionysius Exiguus">Dionysius Exiguus</a>), but as a word, <i>nulla</i> meaning "nothing", not as a symbol. When division produced zero as a remainder, <i>nihil</i>, also meaning "nothing", was used. These medieval zeros were used by all future medieval <a href="/wiki/Computus" title="Computus">computists</a> (calculators of <a href="/wiki/Easter" title="Easter">Easter</a>). The initial "N" was used as a zero symbol in a table of Roman numerals by <a href="/wiki/Bede" title="Bede">Bede</a> or his colleague around 725.</p>
<h3><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=8" title="Edit section: The Americas"></a>]</span> <span class="mw-headline" id="The_Americas">The Americas</span></h3>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Estela_C_de_Tres_Zapotes.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Estela_C_de_Tres_Zapotes.jpg/220px-Estela_C_de_Tres_Zapotes.jpg" width="220" height="289" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Estela_C_de_Tres_Zapotes.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The back of Olmec stela C from <a href="/wiki/Tres_Zapotes" title="Tres Zapotes">Tres Zapotes</a>, the second oldest <a href="/wiki/Mesoamerican_Long_Count_calendar" title="Mesoamerican Long Count calendar">Long Count</a> date discovered. The numerals 7.16.6.16.18 translate to September, 32&#160;BC (Julian). The glyphs surrounding the date are thought to be one of the few surviving examples of <a href="/wiki/Isthmian_script" title="Isthmian script">Epi-Olmec script</a>.</div>
</div>
</div>
<p>The <a href="/wiki/Mesoamerican_Long_Count_calendar" title="Mesoamerican Long Count calendar">Mesoamerican Long Count calendar</a> developed in south-central Mexico and Central America required the use of zero as a place-holder within its <a href="/wiki/Vigesimal" title="Vigesimal">vigesimal</a> (base-20) positional numeral system. Many different glyphs, including this partial <a href="/wiki/Quatrefoil" title="Quatrefoil">quatrefoil</a><a href="/wiki/File:MAYA-g-num-0-inc-v1.svg" class="image"><img alt="MAYA-g-num-0-inc-v1.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/14/MAYA-g-num-0-inc-v1.svg/30px-MAYA-g-num-0-inc-v1.svg.png" width="30" height="25" /></a>were used as a zero symbol for these Long Count dates, the earliest of which (on Stela 2 at Chiapa de Corzo, <a href="/wiki/Chiapas" title="Chiapas">Chiapas</a>) has a date of 36&#160;BC.<sup id="cite_ref-21" class="reference"><a href="#cite_note-21"><span>[</span>22<span>]</span></a></sup> Since the eight earliest Long Count dates appear outside the Maya homeland,<sup id="cite_ref-22" class="reference"><a href="#cite_note-22"><span>[</span>23<span>]</span></a></sup> it is assumed that the use of zero in the Americas predated the Maya and was possibly the invention of the <a href="/wiki/Olmec" title="Olmec">Olmecs</a>. Many of the earliest Long Count dates were found within the Olmec heartland, although the Olmec civilization ended by the 4th century BC, several centuries before the earliest known Long Count dates.s lacked a final sexagesimal placeholder. Only context could differentiate them.</p>
<p>Although zero became an integral part of <a href="/wiki/Maya_numerals" title="Maya numerals">Maya numerals</a>, it did not influence <a href="/wiki/Old_World" title="Old World">Old World</a> numeral systems. <a href="/wiki/Quipu" title="Quipu">Quipu</a>, a knotted cord device, used in the <a href="/wiki/Inca_Empire" title="Inca Empire">Inca Empire</a> and its predecessor societies in the <a href="/wiki/Andes" title="Andes">Andean</a> region to record accounting and other digital data, is encoded in a <a href="/wiki/Decimal" title="Decimal">base ten</a> positional system. Zero is represented by the absence of a knot in the appropriate position.</p>
<h2><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=9" title="Edit section: As a number"></a>]</span> <span class="mw-headline" id="As_a_number">As a number</span></h2>
<p><b>0</b> is the <a href="/wiki/Integer" title="Integer">integer</a> immediately preceding <a href="/wiki/1_(number)" title="1 (number)">1</a>. In most <a href="/wiki/History_of_mathematics" title="History of mathematics">cultures</a>, 0 was identified before the idea of negative things (quantities) that go lower than zero was accepted. <a href="/wiki/Parity_of_zero" title="Parity of zero">Zero is an even number</a>,<sup id="cite_ref-23" class="reference"><a href="#cite_note-23"><span>[</span>24<span>]</span></a></sup> because it is divisible by <a href="/wiki/2_(number)" title="2 (number)">2</a>. 0 is neither positive nor negative. By most definitions<sup id="cite_ref-24" class="reference"><a href="#cite_note-24"><span>[</span>25<span>]</span></a></sup> 0 is a <a href="/wiki/Natural_number" title="Natural number">natural number</a>, and then the only natural number not to be positive. Zero is a number which quantifies a count or an amount of <a href="/wiki/Empty_set" title="Empty set">null</a> size.</p>
<p>The value, or <i>number</i>, zero is not the same as the <i>digit</i> zero, used in <a href="/wiki/Numeral_system" title="Numeral system">numeral systems</a> using <a href="/wiki/Positional_notation" title="Positional notation">positional notation</a>. Successive positions of digits have higher weights, so inside a numeral the digit zero is used to skip a position and give appropriate weights to the preceding and following digits. A zero digit is not always necessary in a positional number system, for example, in the number 02. In some instances, a <a href="/wiki/Leading_zero" title="Leading zero">leading zero</a> may be used to distinguish a number.</p>
<h2><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=10" title="Edit section: As a year label"></a>]</span> <span class="mw-headline" id="As_a_year_label">As a year label</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/0_(year)" title="0 (year)">0 (year)</a></div>
<p>In the <a href="/wiki/Before_Christ" title="Before Christ" class="mw-redirect">BC</a> <a href="/wiki/Calendar_era" title="Calendar era">calendar era</a>, the year <a href="/wiki/1_BC" title="1 BC">1 BC</a> is the first year before <a href="/wiki/1" title="1">AD 1</a>; no room is reserved for a <a href="/wiki/Year_zero" title="Year zero" class="mw-redirect">year zero</a>. By contrast, in <a href="/wiki/Astronomical_year_numbering" title="Astronomical year numbering">astronomical year numbering</a>, the year 1&#160;BC is numbered 0, the year 2&#160;BC is numbered 1, and so on.<sup id="cite_ref-25" class="reference"><a href="#cite_note-25"><span>[</span>26<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=11" title="Edit section: Names and symbols"></a>]</span> <span class="mw-headline" id="Names_and_symbols">Names and symbols</span></h2>
<div class="rellink relarticle mainarticle">Main articles: <a href="/wiki/Names_for_the_number_0" title="Names for the number 0">Names for the number 0</a> and <a href="/wiki/Symbols_for_zero" title="Symbols for zero">Symbols for zero</a></div>
<p>In 976 AD the <a href="/wiki/Persian_people" title="Persian people">Persian</a> encyclopedist <a href="/wiki/Muhammad_ibn_Ahmad_al-Khwarizmi" title="Muhammad ibn Ahmad al-Khwarizmi">Muhammad ibn Ahmad al-Khwarizmi</a>, in his "Keys of the Sciences", remarked that if, in a calculation, no number appears in the place of tens, then a little circle should be used "to keep the rows". This circle the Arabs called  <i><a href="//en.wiktionary.org/wiki/%D8%B5%D9%81%D8%B1" class="extiw" title="wikt:">ifr</a></i>, "empty". That was the earliest mention of the name <i>ifr</i> that eventually became <i><a href="//en.wiktionary.org/wiki/zero" class="extiw" title="wikt:zero">zero</a></i>.<sup id="cite_ref-Durant_20-1" class="reference"><a href="#cite_note-Durant-20"><span>[</span>21<span>]</span></a></sup></p>
<p>Italian <i><a href="//en.wiktionary.org/wiki/zefiro" class="extiw" title="wikt:zefiro">zefiro</a></i> already meant "west wind" from Latin and Greek <i><a href="/wiki/Anemoi" title="Anemoi">zephyrus</a></i>; this may have influenced the spelling when transcribing Arabic <i>ifr</i>.<sup id="cite_ref-ifrah_26-0" class="reference"><a href="#cite_note-ifrah-26"><span>[</span>27<span>]</span></a></sup> The Italian mathematician <a href="/wiki/Fibonacci" title="Fibonacci">Fibonacci</a> (c.11701250), who grew up in North Africa and is cred with introducing the decimal system to Europe, used the term <i>zephyrum</i>. This became <i>zefiro</i> in Italian, which was contracted to <i>zero</i> in Venetian.</p>
<p>As the decimal zero and its new mathematics spread from the Arab world to Europe in the <a href="/wiki/Middle_Ages" title="Middle Ages">Middle Ages</a>, words derived from <i>ifr</i> and <i>zephyrus</i> came to refer to calculation, as well as to privileged knowledge and secret codes. According to Ifrah, "in thirteenth-century Paris, a 'worthless fellow' was called a '... cifre en algorisme', i.e., an 'arithmetical nothing'."<sup id="cite_ref-ifrah_26-1" class="reference"><a href="#cite_note-ifrah-26"><span>[</span>27<span>]</span></a></sup> From <i>ifr</i> also came French <i><a href="//en.wiktionary.org/wiki/chiffre" class="extiw" title="wikt:chiffre">chiffre</a></i> = "digit", "figure", "number", <i>chiffrer</i> = "to calculate or compute", <i>chiffr</i> = "encrypted". Today, the word in Arabic is still <i>ifr</i>, and cognates of <i>ifr</i> are common in the languages of Europe and southwest Asia.</p>
<div class="floatleft"><a href="/wiki/File:Text_figures_036.svg" class="image"><img alt="Text figures 036.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Text_figures_036.svg/71px-Text_figures_036.svg.png" width="71" height="34" /></a></div>
<p>The modern numerical digit 0 is usually written as a circle or ellipse. Traditionally, many print typefaces made the capital letter <a href="/wiki/O" title="O">O</a> more rounded than the narrower, elliptical digit 0.<sup id="cite_ref-bemer_27-0" class="reference"><a href="#cite_note-bemer-27"><span>[</span>28<span>]</span></a></sup> <a href="/wiki/Typewriter" title="Typewriter">Typewriters</a> originally made no distinction in shape between O and 0; some models did not even have a separate key for the digit 0. The distinction came into prominence on modern character <a href="/wiki/Visual_display_unit" title="Visual display unit" class="mw-redirect">displays</a>.<sup id="cite_ref-bemer_27-1" class="reference"><a href="#cite_note-bemer-27"><span>[</span>28<span>]</span></a></sup></p>
<p>A <a href="/wiki/Slashed_zero" title="Slashed zero">slashed zero</a> can be used to distinguish the number from the letter. The digit 0 with a dot in the center seems to have originated as an option on <a href="/wiki/IBM_3270" title="IBM 3270">IBM 3270</a> displays and has continued with the some modern computer typefaces such as <a href="/wiki/Andal%C3%A9_Mono" title="Andal Mono">Andal Mono</a>. One variation uses a short vertical bar instead of the dot. Some fonts designed for use with computers made one of the capital-Odigit-0 pair more rounded and the other more angular (closer to a rectangle). A further distinction is made in <a href="/wiki/FE-Schrift" title="FE-Schrift">falsification-hindering typeface</a> as used on <a href="/wiki/Vehicle_registration_plates_of_Germany" title="Vehicle registration plates of Germany">German car number plates</a> by slitting open the digit 0 on the upper right side. Sometimes the digit 0 is used either exclusively, or not at all, to avoid confusion altogether.</p>
<h3><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=12" title="Edit section: Rules of Brahmagupta"></a>]</span> <span class="mw-headline" id="Rules_of_Brahmagupta">Rules of Brahmagupta</span></h3>
<p>The rules governing the use of zero appeared for the first time in <a href="/wiki/Brahmagupta" title="Brahmagupta">Brahmagupta</a>'s book <i><a href="/wiki/Brahmasphutasiddhanta" title="Brahmasphutasiddhanta" class="mw-redirect">Brahmasputha Siddhanta</a> (The Opening of the Universe)</i>,<sup id="cite_ref-brahmagupta_28-0" class="reference"><a href="#cite_note-brahmagupta-28"><span>[</span>29<span>]</span></a></sup> written in 628&#160;AD. Here Brahmagupta considers not only zero, but negative numbers, and the algebraic rules for the elementary operations of arithmetic with such numbers. In some instances, his rules differ from the modern standard. Here are the rules of Brahmagupta:<sup id="cite_ref-brahmagupta_28-1" class="reference"><a href="#cite_note-brahmagupta-28"><span>[</span>29<span>]</span></a></sup></p>
<ul>
<li>The sum of zero and a negative number is negative.</li>
<li>The sum of zero and a positive number is positive.</li>
<li>The sum of zero and zero is zero.</li>
<li>The sum of a positive and a negative is their difference; or, if their absolute values are equal, zero.</li>
<li>A positive or negative number <a href="/wiki/Division_by_zero" title="Division by zero">when divided by zero</a> is a fraction with the zero as denominator.</li>
<li>Zero divided by a negative or positive number is either zero or is expressed as a fraction with zero as numerator and the finite quantity as denominator.</li>
<li>Zero divided by zero is zero.</li>
</ul>
<p>In saying zero divided by zero is zero, Brahmagupta differs from the modern position. Mathematicians normally do not assign a value to this, whereas computers and calculators sometimes assign <a href="/wiki/NaN" title="NaN">NaN</a>, which means "not a number." Moreover, non-zero positive or negative numbers when divided by zero are either assigned no value, or a value of unsigned infinity, positive infinity, or negative infinity. Once again, these assignments are not numbers, and are associated more with computer science than pure mathematics, where in most contexts no assignment is done.</p>
<h3><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=13" title="Edit section: Zero as a decimal digit"></a>]</span> <span class="mw-headline" id="Zero_as_a_decimal_digit">Zero as a decimal digit</span></h3>
<div class="rellink boilerplate seealso">See also: <a href="/wiki/History_of_the_Hindu-Arabic_numeral_system" title="History of the Hindu-Arabic numeral system" class="mw-redirect">History of the Hindu-Arabic numeral system</a></div>
<p>Positional notation without the use of zero (using an empty space in tabular arrangements, or the word <i>kha</i> "emptiness") is known to have been in use in India from the 6th century. The earliest certain use of zero as a <i>decimal</i> positional digit dates to the 5th century mention in the text <a href="/wiki/Lokavibhaga" title="Lokavibhaga">Lokavibhaga</a>. The glyph for the zero digit was written in the shape of a dot, and consequently called <i><a href="/wiki/Bindu" title="Bindu">bindu</a></i> ("dot"). The dot had been used in Greece during earlier ciphered numeral periods.</p>
<p>The <a href="/wiki/Hindu-Arabic_numeral_system" title="Hindu-Arabic numeral system" class="mw-redirect">Hindu-Arabic numeral system</a> (base 10) reached Europe in the 11th century, via the <a href="/wiki/Iberian_Peninsula" title="Iberian Peninsula">Iberian Peninsula</a> through Spanish <a href="/wiki/Muslim" title="Muslim">Muslims</a>, the <a href="/wiki/Moors" title="Moors">Moors</a>, together with knowledge of <a href="/wiki/Astronomy" title="Astronomy">astronomy</a> and instruments like the <a href="/wiki/Astrolabe" title="Astrolabe">astrolabe</a>, first imported by <a href="/wiki/Pope_Sylvester_II" title="Pope Sylvester II">Gerbert of Aurillac</a>. For this reason, the numerals came to be known in Europe as "<a href="/wiki/Arabic_numerals" title="Arabic numerals">Arabic numerals</a>". The Italian mathematician <a href="/wiki/Fibonacci" title="Fibonacci">Fibonacci</a> or Leonardo of Pisa was instrumental in bringing the system into European mathematics in 1202, stating:</p>
<blockquote>
<p>After my father's appointment by his homeland as state official in the customs house of Bugia for the Pisan merchants who thronged to it, he took charge; and in view of its future usefulness and convenience, had me in my boyhood come to him and there wanted me to devote myself to and be instructed in the study of calculation for some days. There, following my introduction, as a consequence of marvelous instruction in the art, to the nine digits of the Hindus, the knowledge of the art very much appealed to me before all others, and for it I realized that all its aspects were studied in Egypt, Syria, Greece, Sicily, and Provence, with their varying methods; and at these places thereafter, while on business. I pursued my study in depth and learned the give-and-take of disputation. But all this even, and the algorism, as well as the art of Pythagoras, I considered as almost a mistake in respect to the method of the <a href="/wiki/Hinduism" title="Hinduism">Hindus</a> (Modus Indorum). Therefore, embracing more stringently that method of the Hindus, and taking stricter pains in its study, while adding certain things from my own understanding and inserting also certain things from the niceties of Euclid's geometric art. I have striven to compose this book in its entirety as understandably as I could, dividing it into fifteen chapters. Almost everything which I have introduced I have displayed with exact proof, in order that those further seeking this knowledge, with its pre-eminent method, might be instructed, and further, in order that the Latin people might not be discovered to be without it, as they have been up to now. If I have perchance omitted anything more or less proper or necessary, I beg indulgence, since there is no one who is blameless and utterly provident in all things. The nine Indian figures are: 9 8 7 6 5 4 3 2 1. With these nine figures, and with the sign 0 ... any number may be written.<sup id="cite_ref-29" class="reference"><a href="#cite_note-29"><span>[</span>30<span>]</span></a></sup><sup id="cite_ref-30" class="reference"><a href="#cite_note-30"><span>[</span>31<span>]</span></a></sup></p>
</blockquote>
<p>Here Leonardo of Pisa uses the phrase "sign 0", indicating it is like a sign to do operations like addition or multiplication. From the 13th century, manuals on calculation (adding, multiplying, extracting roots, etc.) became common in Europe where they were called <i><a href="/wiki/Algorism" title="Algorism">algorismus</a></i> after the Persian mathematician al-Khwrizm. The most popular was written by <a href="/wiki/Johannes_de_Sacrobosco" title="Johannes de Sacrobosco">Johannes de Sacrobosco</a>, about 1235 and was one of the earliest scientific books to be <i>printed</i> in 1488. Until the late 15th century, Hindu-Arabic numerals seem to have predominated among mathematicians, while merchants preferred to use the <a href="/wiki/Roman_numerals" title="Roman numerals">Roman numerals</a>. In the 16th century, they became commonly used in Europe.</p>
<h2><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=14" title="Edit section: In mathematics"></a>]</span> <span class="mw-headline" id="In_mathematics">In mathematics</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=15" title="Edit section: Elementary algebra"></a>]</span> <span class="mw-headline" id="Elementary_algebra">Elementary algebra</span></h3>
<p>The number 0 is the smallest <a href="/wiki/Non-negative" title="Non-negative" class="mw-redirect">non-negative</a> integer. The <a href="/wiki/Natural_number" title="Natural number">natural number</a> following 0 is 1 and no natural number precedes 0. The number 0 <a href="/wiki/Natural_number#History_of_natural_numbers_and_the_status_of_zero" title="Natural number">may or may not be considered a natural number</a>, but it is a whole number and hence a <a href="/wiki/Rational_number" title="Rational number">rational number</a> and a <a href="/wiki/Real_number" title="Real number">real number</a> (as well as an <a href="/wiki/Algebraic_number" title="Algebraic number">algebraic number</a> and a <a href="/wiki/Complex_number" title="Complex number">complex number</a>).</p>
<p>The number 0 is neither positive nor negative and appears in the middle of a <a href="/wiki/Number_line" title="Number line">number line</a>. It is neither a <a href="/wiki/Prime_number" title="Prime number">prime number</a> nor a <a href="/wiki/Composite_number" title="Composite number">composite number</a>. It cannot be prime because it has an <a href="/wiki/Infinity" title="Infinity">infinite</a> number of <a href="/wiki/Divisor" title="Divisor">factors</a> and cannot be composite because it cannot be expressed by multiplying prime numbers (0 must always be one of the factors).<sup id="cite_ref-31" class="reference"><a href="#cite_note-31"><span>[</span>32<span>]</span></a></sup> Zero is, however, <a href="/wiki/Parity_(mathematics)" title="Parity (mathematics)">even</a> (see <a href="/wiki/Parity_of_zero" title="Parity of zero">parity of zero</a>).</p>
<p>The following are some basic (elementary) rules for dealing with the number 0. These rules apply for any real or complex number <i>x</i>, unless otherwise stated.</p>
<ul>
<li>Addition: <i>x</i> + 0 = 0 + <i>x</i> = <i>x</i>. That is, 0 is an <a href="/wiki/Identity_element" title="Identity element">identity element</a> (or neutral element) with respect to <a href="/wiki/Addition" title="Addition">addition</a>.</li>
<li>Subtraction: <i>x</i>  0 = <i>x</i> and 0  <i>x</i> = <i>x</i>.</li>
<li>Multiplication: <i>x</i>  0 = 0  <i>x</i> = 0.</li>
<li>Division: <span class="frac nowrap"><sup>0</sup><sub><i>x</i></sub></span> = 0, for nonzero <i>x</i>. But <span class="frac nowrap"><sup><i>x</i></sup><sub>0</sub></span> is <a href="/wiki/Defined_and_undefined" title="Defined and undefined" class="mw-redirect">undefined</a>, because 0 has no <a href="/wiki/Multiplicative_inverse" title="Multiplicative inverse">multiplicative inverse</a> (no real number multiplied by 0 produces 1), a consequence of the previous rule; see <a href="/wiki/Division_by_zero" title="Division by zero">division by zero</a>.</li>
<li>Exponentiation: <i>x</i><sup>0</sup> = <sup><i>x</i></sup>/<sub><i>x</i></sub> = 1, except that the case <i>x</i> = 0 may be left undefined in some contexts; see <a href="/wiki/0_to_the_power_of_0" title="0 to the power of 0" class="mw-redirect">Zero to the zero power</a>. For all positive real <i>x</i>, 0<sup><i>x</i></sup> = 0.</li>
</ul>
<p>The expression <span class="frac nowrap"><sup>0</sup><sub>0</sub></span>, which may be obtained in an attempt to determine the limit of an expression of the form <span class="frac nowrap"><sup><i>f</i>(<i>x</i>)</sup><sub><i>g</i>(<i>x</i>)</sub></span> as a result of applying the <a href="/wiki/Limit_of_a_function" title="Limit of a function">lim</a> operator independently to both operands of the fraction, is a so-called "<a href="/wiki/Indeterminate_form" title="Indeterminate form">indeterminate form</a>". That does not simply mean that the limit sought is necessarily undefined; rather, it means that the limit of <span class="frac nowrap"><sup><i>f</i>(<i>x</i>)</sup><sub><i>g</i>(<i>x</i>)</sub></span>, if it exists, must be found by another method, such as <a href="/wiki/L%27H%C3%B4pital%27s_rule" title="L'Hpital's rule">l'Hpital's rule</a>.</p>
<p><a href="/wiki/Empty_sum" title="Empty sum">The sum of 0 numbers</a> is 0, and <a href="/wiki/Empty_product" title="Empty product">the product of 0 numbers</a> is 1. The <a href="/wiki/Factorial" title="Factorial">factorial</a> 0! evaluates to 1.</p>
<h3><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=16" title="Edit section: Other branches of mathematics"></a>]</span> <span class="mw-headline" id="Other_branches_of_mathematics">Other branches of mathematics</span></h3>
<ul>
<li>In <a href="/wiki/Set_theory" title="Set theory">set theory</a>, 0 is the <a href="/wiki/Cardinality" title="Cardinality">cardinality</a> of the empty set: if one does not have any apples, then one has 0 apples. In fact, in certain axiomatic developments of mathematics from set theory, 0 is <i><a href="/wiki/Definition" title="Definition">defined</a></i> to be the empty set. When this is done, the empty set is the <a href="/wiki/Von_Neumann_cardinal_assignment" title="Von Neumann cardinal assignment">Von Neumann cardinal assignment</a> for a set with no elements, which is the empty set. The cardinality function, applied to the empty set, returns the empty set as a value, thereby assigning it 0 elements.</li>
<li>Also in set theory, 0 is the lowest <a href="/wiki/Ordinal_number" title="Ordinal number">ordinal number</a>, corresponding to the empty set viewed as a <a href="/wiki/Well-order" title="Well-order">well-ordered set</a>.</li>
<li>In <a href="/wiki/Propositional_calculus" title="Propositional calculus">propositional logic</a>, 0 may be used to denote the <a href="/wiki/Truth_value" title="Truth value">truth value</a> false.</li>
<li>In <a href="/wiki/Abstract_algebra" title="Abstract algebra">abstract algebra</a>, 0 is commonly used to denote a <a href="/wiki/Zero_element_(disambiguation)" title="Zero element (disambiguation)" class="mw-redirect">zero element</a>, which is a <a href="/wiki/Identity_element" title="Identity element">neutral element</a> for addition (if defined on the structure under consideration) and an <a href="/wiki/Absorbing_element" title="Absorbing element">absorbing element</a> for multiplication (if defined).</li>
<li>In <a href="/wiki/Lattice_(order)" title="Lattice (order)">lattice theory</a>, 0 may denote the <a href="/wiki/Greatest_element" title="Greatest element">bottom element</a> of a <a href="/wiki/Lattice_(order)" title="Lattice (order)">bounded lattice</a>.</li>
<li>In <a href="/wiki/Category_theory" title="Category theory">category theory</a>, 0 is sometimes used to denote an <a href="/wiki/Initial_and_terminal_objects" title="Initial and terminal objects">initial object</a> of a <a href="/wiki/Category_(mathematics)" title="Category (mathematics)">category</a>.</li>
<li>In <a href="/wiki/Recursion_theory" title="Recursion theory" class="mw-redirect">recursion theory</a>, 0 can be used to denote the <a href="/wiki/Turing_degree" title="Turing degree">Turing degree</a> of the <a href="/wiki/Computable_function" title="Computable function">partial computable functions</a>.</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=17" title="Edit section: Related mathematical terms"></a>]</span> <span class="mw-headline" id="Related_mathematical_terms">Related mathematical terms</span></h3>
<ul>
<li>A <a href="/wiki/Root_of_a_function" title="Root of a function" class="mw-redirect">zero of a function</a> <i>f</i> is a point <i>x</i> in the domain of the function such that <span style="white-space:nowrap;"><i>f</i>(<i>x</i>) = 0</span>. When there are finitely many zeros these are called the roots of the function. See also <a href="/wiki/Zero_(complex_analysis)" title="Zero (complex analysis)">zero (complex analysis)</a> for zeros of a <a href="/wiki/Holomorphic_function" title="Holomorphic function">holomorphic function</a>.</li>
<li>The zero function (or zero map) on a domain <i>D</i> is the <a href="/wiki/Constant_function" title="Constant function">constant function</a> with 0 as its only possible output value, i.e., the function <i>f</i> defined by <span style="white-space:nowrap;"><i>f</i>(<i>x</i>) = 0</span> for all <i>x</i> in <i>D</i>. A particular zero function is a <a href="/wiki/Zero_morphism" title="Zero morphism">zero morphism</a> in category theory; e.g., a zero map is the identity in the additive group of functions. The <a href="/wiki/Determinant" title="Determinant">determinant</a> on non-invertible <a href="/wiki/Matrix_(mathematics)" title="Matrix (mathematics)">square matrices</a> is a zero map.</li>
<li>Several branches of mathematics have <a href="/wiki/Zero_element_(disambiguation)" title="Zero element (disambiguation)" class="mw-redirect">zero elements</a>, which generalise either the property <span style="white-space:nowrap;">0 + <i>x</i> = <i>x</i>,</span> or the property <span style="white-space:nowrap;">0  <i>x</i> = 0,</span> or both.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=18" title="Edit section: In science"></a>]</span> <span class="mw-headline" id="In_science">In science</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=19" title="Edit section: Physics"></a>]</span> <span class="mw-headline" id="Physics">Physics</span></h3>
<p>The value zero plays a special role for many physical quantities. For some quantities, the zero level is naturally distinguished from all other levels, whereas for others it is more or less arbitrarily chosen. For example, on the <a href="/wiki/Kelvin" title="Kelvin">Kelvin</a> temperature scale, zero is the coldest possible temperature (<a href="/wiki/Negative_temperature" title="Negative temperature">negative temperatures</a> exist but are not actually colder), whereas on the <a href="/wiki/Celsius" title="Celsius">Celsius</a> scale, zero is arbitrarily defined to be at the <a href="/wiki/Melting_point" title="Melting point">freezing point</a> of water. Measuring sound intensity in <a href="/wiki/Decibel" title="Decibel">decibels</a> or <a href="/wiki/Phon" title="Phon">phons</a>, the zero level is arbitrarily set at a reference valuefor example, at a value for the threshold of hearing. In <a href="/wiki/Physics" title="Physics">physics</a>, the <a href="/wiki/Zero-point_energy" title="Zero-point energy">zero-point energy</a> is the lowest possible <a href="/wiki/Energy" title="Energy">energy</a> that a <a href="/wiki/Quantum_mechanics" title="Quantum mechanics">quantum mechanical</a> <a href="/wiki/Physical_system" title="Physical system">physical system</a> may possess and is the energy of the <a href="/wiki/Stationary_state" title="Stationary state">ground state</a> of the system.</p>
<h3><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=20" title="Edit section: Chemistry"></a>]</span> <span class="mw-headline" id="Chemistry">Chemistry</span></h3>
<p>Zero has been proposed as the <a href="/wiki/Atomic_number" title="Atomic number">atomic number</a> of the theoretical element <a href="/wiki/Tetraneutron" title="Tetraneutron">tetraneutron</a>. It has been shown that a cluster of four <a href="/wiki/Neutron" title="Neutron">neutrons</a> may be stable enough to be considered an <a href="/wiki/Atom" title="Atom">atom</a> in its own right. This would create an <a href="/wiki/Chemical_element" title="Chemical element">element</a> with no <a href="/wiki/Proton" title="Proton">protons</a> and no charge on its <a href="/wiki/Atomic_nucleus" title="Atomic nucleus">nucleus</a>.</p>
<p>As early as 1926, Professor Andreas von Antropoff coined the term <a href="/wiki/Neutronium" title="Neutronium">neutronium</a> for a conjectured form of <a href="/wiki/Matter" title="Matter">matter</a> made up of neutrons with no protons, which he placed as the chemical element of atomic number zero at the head of his new version of the <a href="/wiki/Periodic_table" title="Periodic table">periodic table</a>. It was subsequently placed as a noble gas in the middle of several spiral representations of the periodic system for classifying the chemical elements.</p>
<h2><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=21" title="Edit section: In computer science"></a>]</span> <span class="mw-headline" id="In_computer_science">In computer science</span></h2>
<p>The most common practice throughout human history has been to start counting at one, and this is the practice in early classic <a href="/wiki/Computer_science" title="Computer science">computer science</a> programming languages such as <a href="/wiki/Fortran" title="Fortran">Fortran</a> and <a href="/wiki/COBOL" title="COBOL">COBOL</a>. However, in the late 1950s <a href="/wiki/LISP" title="LISP" class="mw-redirect">LISP</a> introduced <a href="/wiki/Zero-based_numbering" title="Zero-based numbering">zero-based numbering</a> for arrays while <a href="/wiki/Algol_58" title="Algol 58" class="mw-redirect">Algol 58</a> introduced completely flexible basing for array subscripts (allowing any positive, negative, or zero integer as base for array subscripts), and most subsequent programming languages adopted one or other of these positions. For example, the elements of an <a href="/wiki/Array_data_type" title="Array data type">array</a> are numbered starting from 0 in <a href="/wiki/C_(computer_language)" title="C (computer language)" class="mw-redirect">C</a>, so that for an array of <i>n</i> items the sequence of array indices runs from 0 to <span class="nowrap"><i>n</i>1</span>. This permits an array element's location to be calculated by adding the index directly to address of the array, whereas 1 based languages precalculate the array's base address to be the position one element before the first.</p>
<p>There can be confusion between 0 and 1 based indexing, for example Java's <a href="/wiki/JDBC" title="JDBC" class="mw-redirect">JDBC</a> indexes parameters from 1 although <a href="/wiki/Java" title="Java">Java</a> itself uses 0-based indexing.</p>
<p>In databases, it is possible for a field not to have a value. It is then said to have a <a href="/wiki/Null_(SQL)" title="Null (SQL)">null value</a>. For numeric fields it is not the value zero. For text fields this is not blank nor the empty string. The presence of null values leads to <a href="/wiki/Ternary_logic" title="Ternary logic" class="mw-redirect">three-valued logic</a>. No longer is a condition either <i>true</i> or <i>false</i>, but it can be <i>undetermined</i>. Any computation including a null value delivers a null result. Asking for all records with value 0 or value not equal 0 will not yield all records, since the records with value null are excluded.</p>
<p>A <a href="/wiki/Null_pointer" title="Null pointer" class="mw-redirect">null pointer</a> is a pointer in a computer program that does not point to any object or function. In C, the integer constant 0 is converted into the null pointer at <a href="/wiki/Compile_time" title="Compile time">compile time</a> when it appears in a pointer context, and so 0 is a standard way to refer to the null pointer in code. However, the internal representation of the null pointer may be any bit pattern (possibly different values for different data types).</p>
<p>In mathematics <img class="tex" alt="-0 = 0 = +0" src="//upload.wikimedia.org/wikipedia/en/math/8/a/4/8a47c669bc0b6eda3ad628362cd7e5bc.png" />, both <a href="/wiki/%E2%88%920_(number)" title="0 (number)" class="mw-redirect">0</a> and +0 represent exactly the same number, i.e., there is no "negative zero" distinct from zero. In some <a href="/wiki/Signed_number_representations" title="Signed number representations">signed number representations</a> (but not the <a href="/wiki/Two%27s_complement" title="Two's complement">two's complement</a> representation used to represent integers in most computers today) and most <a href="/wiki/Floating_point" title="Floating point">floating point</a> number representations, zero has two distinct representations, one grouping it with the positive numbers and one with the negatives; this latter representation is known as <a href="/wiki/Negative_zero" title="Negative zero" class="mw-redirect">negative zero</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=22" title="Edit section: In other fields"></a>]</span> <span class="mw-headline" id="In_other_fields">In other fields</span></h2>
<ul>
<li>In some countries and some company phone networks, dialing 0 on a telephone places a call for <a href="/wiki/Operator_assistance" title="Operator assistance">operator assistance</a>.</li>
<li>DVDs that can be played in any region are sometimes referred to as being "<a href="/wiki/Region_0" title="Region 0" class="mw-redirect">region 0</a>"</li>
<li><a href="/wiki/Roulette" title="Roulette">Roulette</a> wheels usually feature a "0" space (and sometimes also a "00" space), whose presence is ignored when calculating payoffs (thereby allowing the house to win in the long run).</li>
<li>In <a href="/wiki/Formula_One" title="Formula One">Formula One</a>, if the reigning <a href="/wiki/List_of_Formula_One_World_Drivers%27_Champions" title="List of Formula One World Drivers' Champions">World Champion</a> no longer competes in Formula One in the year following their victory in the title race, 0 is given to one of the drivers of the team that the reigning champion won the title with. This happened in 1993 and 1994, with <a href="/wiki/Damon_Hill" title="Damon Hill">Damon Hill</a> driving car 0, due to the reigning World Champion (<a href="/wiki/Nigel_Mansell" title="Nigel Mansell">Nigel Mansell</a> and <a href="/wiki/Alain_Prost" title="Alain Prost">Alain Prost</a> respectively) not competing in the championship.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=23" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Grammatical_number" title="Grammatical number">Grammatical number</a></li>
<li><a href="/wiki/Number_theory" title="Number theory">Number theory</a></li>
<li><a href="/wiki/Peano_axioms" title="Peano axioms">Peano axioms</a></li>
<li><a href="/wiki/0th_(disambiguation)" title="0th (disambiguation)" class="mw-redirect">Zeroth</a> (Zero as an <a href="/wiki/Ordinal_number" title="Ordinal number">ordinal number</a>)</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=24" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist references-column-width" style="-moz-column-width: 30em; -webkit-column-width: 30em; column-width: 30em; list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation book">Russel, Bertrand (1942). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=63ooitcP2osC"><i>Principles of mathematics</i></a> (2 ed.). Forgotten Books. p.&#160;125. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/1-440-05416-9" title="Special:BookSources/1-440-05416-9">1-440-05416-9</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=63ooitcP2osC">http://books.google.com/books?id=63ooitcP2osC</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Principles+of+mathematics&amp;rft.aulast=Russel&amp;rft.aufirst=Bertrand&amp;rft.au=Russel%2C%26%2332%3BBertrand&amp;rft.date=1942&amp;rft.pages=p.%26nbsp%3B125&amp;rft.ion=2&amp;rft.pub=Forgotten+Books&amp;rft.isbn=1-440-05416-9&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3D63ooitcP2osC&amp;rfr_id=info:sid/en.wikipedia.org:0_(number)"><span style="display: none;">&#160;</span></span>, <a rel="nofollow" class="external text" href="http://books.google.com/books?id=63ooitcP2osC&amp;pg=PA125">Chapter 14, page 125</a></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><span class="citation book">Catherine Soanes, ed. (2001) (Hardback). <i>The Oxford Dictionary, Thesaurus and Wordpower Guide</i>. Maurice Waite, Sara Hawker (2nd ed.). <a href="/wiki/New_York" title="New York">New York, United States</a>: <a href="/wiki/Oxford_University_Press" title="Oxford University Press">Oxford University Press</a>. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-0-19-860373-3" title="Special:BookSources/978-0-19-860373-3">978-0-19-860373-3</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+Oxford+Dictionary%2C+Thesaurus+and+Wordpower+Guide&amp;rft.date=2001&amp;rft.ion=2nd&amp;rft.place=%5B%5BNew+York%7CNew+York%2C+United+States%5D%5D&amp;rft.pub=%5B%5BOxford+University+Press%5D%5D&amp;rft.isbn=978-0-19-860373-3&amp;rfr_id=info:sid/en.wikipedia.org:0_(number)"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.etymonline.com/index.php?search=aught&amp;searchmode=none"><i>aught</i> at etymonline.com</a></span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><span class="citation book">Menninger, Karl (1992). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=BFJHzSIj2u0C"><i>Number words and number symbols: a cultural history of numbers</i></a>. Courier Dover Publications. p.&#160;401. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-486-27096-3" title="Special:BookSources/0-486-27096-3">0-486-27096-3</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=BFJHzSIj2u0C">http://books.google.com/books?id=BFJHzSIj2u0C</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Number+words+and+number+symbols%3A+a+cultural+history+of+numbers&amp;rft.aulast=Menninger&amp;rft.aufirst=Karl&amp;rft.au=Menninger%2C%26%2332%3BKarl&amp;rft.date=1992&amp;rft.pages=p.%26nbsp%3B401&amp;rft.pub=Courier+Dover+Publications&amp;rft.isbn=0-486-27096-3&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DBFJHzSIj2u0C&amp;rfr_id=info:sid/en.wikipedia.org:0_(number)"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://www.oed.com/view/Entry/232803?rskey=zGcSoq&amp;result=1&amp;isAdvanced=false">""zero, n.". OED Online. December 2011. Oxford University Press. (accessed March 04, 2012)."</a>. <a rel="nofollow" class="external text" href="http://www.webcitation.org/65yd7ur9u">Archived</a> from the original on 2012-03-06<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.oed.com/view/Entry/232803?rskey=zGcSoq&amp;result=1&amp;isAdvanced=false">http://www.oed.com/view/Entry/232803?rskey=zGcSoq&amp;result=1&amp;isAdvanced=false</a></span><span class="reference-accessdate">. Retrieved 2012-03-04</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=%22zero%2C+n.%22.+OED+Online.+December+2011.+Oxford+University+Press.+%28accessed+March+04%2C+2012%29.&amp;rft.atitle=&amp;rft_id=http%3A%2F%2Fwww.oed.com%2Fview%2FEntry%2F232803%3Frskey%3DzGcSoq%26result%3D1%26isAdvanced%3Dfalse&amp;rfr_id=info:sid/en.wikipedia.org:0_(number)"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.oed.com/view/Entry/33155">"cipher | cypher, n.". OED Online. December 2011. Oxford University Press. (accessed March 04, 2012).</a></span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.merriam-webster.com/dictionary/zero">Merriam Webster online Dictionary</a></span></li>
<li id="cite_note-multiref1-7">^ <a href="#cite_ref-multiref1_7-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-multiref1_7-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text">Kaplan, Robert. (2000). <i>The Nothing That Is: A Natural History of Zero</i>. Oxford: Oxford University Press.</span></li>
<li id="cite_note-bourbaki46-8"><b><a href="#cite_ref-bourbaki46_8-0">^</a></b> <span class="reference-text">Bourbaki, Nicolas (1998). <i>Elements of the History of Mathematics</i>. Berlin, Heidelberg, and New York: Springer-Verlag. 46. <a href="/wiki/Special:BookSources/3540647678" class="internal mw-magiclink-isbn">ISBN 3-540-64767-8</a>.</span></li>
<li id="cite_note-ebcal-9"><b><a href="#cite_ref-ebcal_9-0">^</a></b> <span class="reference-text"><i>Britannica Concise Encyclopedia</i> (2007), entry <i>algebra</i></span></li>
<li id="cite_note-10"><b><a href="#cite_ref-10">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://home.ica.net/~roymanju/Binary.htm">Binary Numbers in Ancient India</a></span></li>
<li id="cite_note-11"><b><a href="#cite_ref-11">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.sju.edu/~rhall/Rhythms/Poets/arcadia.pdf">Math for Poets and Drummers</a> (pdf, 145KB)</span></li>
<li id="cite_note-12"><b><a href="#cite_ref-12">^</a></b> <span class="reference-text">Robert Temple, <i>The Genius of China, A place for zero</i>; <a href="/wiki/Special:BookSources/1853752924" class="internal mw-magiclink-isbn">ISBN 1-85375-292-4</a></span></li>
<li id="cite_note-13"><b><a href="#cite_ref-13">^</a></b> <span class="reference-text"><i>Aryabhatiya of Aryabhata</i>, translated by Walter Eugene Clark.</span></li>
<li id="cite_note-14"><b><a href="#cite_ref-14">^</a></b> <span class="reference-text">Ifrah, Georges (2000), p.&#160;416.</span></li>
<li id="cite_note-15"><b><a href="#cite_ref-15">^</a></b> <span class="reference-text">Bill Casselman (University of British Columbia), American Mathematical Society, "<a rel="nofollow" class="external text" href="http://www.ams.org/featurecolumn/archive/india-zero.html">All for Nought</a>"</span></li>
<li id="cite_note-16"><b><a href="#cite_ref-16">^</a></b> <span class="reference-text">Ifrah, Georges (2000), p.&#160;400.</span></li>
<li id="cite_note-17"><b><a href="#cite_ref-17">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.nownews.com/2008/11/03/142-2359146.htm"></a></span></li>
<li id="cite_note-18"><b><a href="#cite_ref-18">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.math.sinica.edu.tw/math_media/pdf.php?m_file=ZDI2My8yNjMwNg=="></a></span></li>
<li id="cite_note-19"><b><a href="#cite_ref-19">^</a></b> <span class="reference-text">The original text, found in Chapter 8 of <i>The Nine Chapters on the Mathematical Art</i> is :  The word <i>wr</i> () used here, for which <i>zero</i> is the standard translation by mathematical historians, literally means: "no entry" or "null enters". The full Chinese text can be found at <a href="//en.wikisource.org/wiki/zh:%E4%B9%9D%E7%AB%A0%E7%AE%97%E8%A1%93" class="extiw" title="wikisource:zh:">wikisource:zh:</a>.</span></li>
<li id="cite_note-Durant-20">^ <a href="#cite_ref-Durant_20-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Durant_20-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.archive.org/details/ageoffaithahisto012288mbp">Will Durant, <i>'The Story of Civilization'</i>, Volume 4, <b>The Age of Faith</b>, pp. 241.</a></span></li>
<li id="cite_note-21"><b><a href="#cite_ref-21">^</a></b> <span class="reference-text">No long count date actually using the number 0 has been found before the 3rd century AD, but since the long count system would make no sense without some placeholder, and since Mesoamerican glyphs do not typically leave empty spaces, these earlier dates are taken as indirect evidence that the concept of 0 already existed at the time.</span></li>
<li id="cite_note-22"><b><a href="#cite_ref-22">^</a></b> <span class="reference-text">Diehl, p. 186</span></li>
<li id="cite_note-23"><b><a href="#cite_ref-23">^</a></b> <span class="reference-text"><a href="/wiki/Lemma_(mathematics)" title="Lemma (mathematics)">Lemma</a> B.2.2, <i>The integer 0 is even and is not odd</i>, in <span class="citation book">Penner, Robert C. (1999). <i>Discrete Mathematics: Proof Techniques and Mathematical Structures</i>. World Scientific. p.&#160;34. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/9810240880" title="Special:BookSources/9810240880">9810240880</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Discrete+Mathematics%3A+Proof+Techniques+and+Mathematical+Structures&amp;rft.aulast=Penner&amp;rft.aufirst=Robert+C.&amp;rft.au=Penner%2C%26%2332%3BRobert+C.&amp;rft.date=1999&amp;rft.pages=p.%26nbsp%3B34&amp;rft.pub=World+Scientific&amp;rft.isbn=9810240880&amp;rfr_id=info:sid/en.wikipedia.org:0_(number)"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-24"><b><a href="#cite_ref-24">^</a></b> <span class="reference-text"><span class="citation book">Bunt, Lucas Nicolaas Hendrik; Jones, Phillip S.; Bedient, Jack D. (1988). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=7xArILpcndYC"><i>The historical roots of elementary mathematics</i></a>. Courier Dover Publications. pp.&#160;254255. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-486-2556-3" title="Special:BookSources/0-486-2556-3">0-486-2556-3</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=7xArILpcndYC">http://books.google.com/books?id=7xArILpcndYC</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+historical+roots+of+elementary+mathematics&amp;rft.aulast=Bunt&amp;rft.aufirst=Lucas+Nicolaas+Hendrik&amp;rft.au=Bunt%2C%26%2332%3BLucas+Nicolaas+Hendrik&amp;rft.au=Jones%2C%26%2332%3BPhillip+S.&amp;rft.au=Bedient%2C%26%2332%3BJack+D.&amp;rft.date=1988&amp;rft.pages=pp.%26nbsp%3B254%E2%80%93255&amp;rft.pub=Courier+Dover+Publications&amp;rft.isbn=0-486-2556-3&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3D7xArILpcndYC&amp;rfr_id=info:sid/en.wikipedia.org:0_(number)"><span style="display: none;">&#160;</span></span>, <a rel="nofollow" class="external text" href="http://books.google.com/books?id=7xArILpcndYC&amp;pg=PA255">Extract of pages 254-255</a></span></li>
<li id="cite_note-25"><b><a href="#cite_ref-25">^</a></b> <span class="reference-text"><span class="citation book">Steel, Duncan (2000). <i>Marking time: the epic quest to invent the perfect calendar</i>. John Wiley &amp; Sons. p.&#160;113. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-471-29827-1" title="Special:BookSources/0-471-29827-1">0-471-29827-1</a>. "In the B.C./A.D. scheme there is no year zero. After 31 December 1&#160;BC came AD 1 January 1. ... If you object to that no-year-zero scheme, then don't use it: use the astronomer's counting scheme, with negative year numbers."</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Marking+time%3A+the+epic+quest+to+invent+the+perfect+calendar&amp;rft.aulast=Steel&amp;rft.aufirst=Duncan&amp;rft.au=Steel%2C%26%2332%3BDuncan&amp;rft.date=2000&amp;rft.pages=p.%26nbsp%3B113&amp;rft.pub=John+Wiley+%26+Sons&amp;rft.isbn=0-471-29827-1&amp;rfr_id=info:sid/en.wikipedia.org:0_(number)"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-ifrah-26">^ <a href="#cite_ref-ifrah_26-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-ifrah_26-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><span class="citation book">Ifrah, Georges (2000). <i>The Universal History of Numbers: From Prehistory to the Invention of the Computer</i>. Wiley. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-471-39340-1" title="Special:BookSources/0-471-39340-1">0-471-39340-1</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+Universal+History+of+Numbers%3A+From+Prehistory+to+the+Invention+of+the+Computer&amp;rft.aulast=Ifrah&amp;rft.aufirst=Georges&amp;rft.au=Ifrah%2C%26%2332%3BGeorges&amp;rft.date=2000&amp;rft.pub=Wiley&amp;rft.isbn=0-471-39340-1&amp;rfr_id=info:sid/en.wikipedia.org:0_(number)"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-bemer-27">^ <a href="#cite_ref-bemer_27-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-bemer_27-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><span class="citation Journal">Bemer, R. W. (1967). "Towards standards for handwritten zero and oh: much ado about nothing (and a letter), or a partial dossier on distinguishing between handwritten zero and oh". <i>Communications of the ACM</i> <b>10</b> (8): 513518. <a href="/wiki/Digital_object_identifier" title="Digital object identifier">doi</a>:<a rel="nofollow" class="external text" href="http://dx.doi.org/10.1145%2F363534.363563">10.1145/363534.363563</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Towards+standards+for+handwritten+zero+and+oh%3A+much+ado+about+nothing+%28and+a+letter%29%2C+or+a+partial+dossier+on+distinguishing+between+handwritten+zero+and+oh&amp;rft.jtitle=Communications+of+the+ACM&amp;rft.aulast=Bemer&amp;rft.aufirst=R.+W.&amp;rft.au=Bemer%2C%26%2332%3BR.+W.&amp;rft.date=1967&amp;rft.volume=10&amp;rft.issue=8&amp;rft.pages=513%E2%80%93518&amp;rft_id=info:doi/10.1145%2F363534.363563&amp;rfr_id=info:sid/en.wikipedia.org:0_(number)"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-brahmagupta-28">^ <a href="#cite_ref-brahmagupta_28-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-brahmagupta_28-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><a rel="nofollow" class="external text" href="http://books.google.com/books?id=A3cAAAAAMAAJ&amp;printsec=frontcover&amp;dq=brahmagupta"><i>Algebra with Arithmetic of Brahmagupta and Bhaskara</i></a>, translated to English by Henry Thomas Colebrooke, London1817</span></li>
<li id="cite_note-29"><b><a href="#cite_ref-29">^</a></b> <span class="reference-text">Sigler, L., <i>Fibonacci's Liber Abaci</i>. English translation, Springer, 2003.</span></li>
<li id="cite_note-30"><b><a href="#cite_ref-30">^</a></b> <span class="reference-text">Grimm, R.E., "The Autobiography of Leonardo Pisano", <i><a href="/wiki/Fibonacci_Quarterly" title="Fibonacci Quarterly">Fibonacci Quarterly</a></i> <b>11</b>/1 (February 1973), pp. 99104.</span></li>
<li id="cite_note-31"><b><a href="#cite_ref-31">^</a></b> <span class="reference-text"><span class="citation book">Reid, Constance (1992). <a rel="nofollow" class="external text" href="http://books.google.com/?id=d3NFIvrTk4sC&amp;pg=PA23&amp;dq=zero+neither+prime+nor+composite&amp;q=zero%20neither%20prime%20nor%20composite"><i>From zero to infinity: what makes numbers interesting</i></a> (4th ed.). <a href="/wiki/Mathematical_Association_of_America" title="Mathematical Association of America">Mathematical Association of America</a>. p.&#160;23. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/9780883855058" title="Special:BookSources/9780883855058">9780883855058</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/?id=d3NFIvrTk4sC&amp;pg=PA23&amp;dq=zero+neither+prime+nor+composite&amp;q=zero%20neither%20prime%20nor%20composite">http://books.google.com/?id=d3NFIvrTk4sC&amp;pg=PA23&amp;dq=zero+neither+prime+nor+composite&amp;q=zero%20neither%20prime%20nor%20composite</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=From+zero+to+infinity%3A+what+makes+numbers+interesting&amp;rft.aulast=Reid&amp;rft.aufirst=Constance&amp;rft.au=Reid%2C%26%2332%3BConstance&amp;rft.date=1992&amp;rft.pages=p.%26nbsp%3B23&amp;rft.ion=4th&amp;rft.pub=%5B%5BMathematical+Association+of+America%5D%5D&amp;rft.isbn=9780883855058&amp;rft_id=http%3A%2F%2Fbooks.google.com%2F%3Fid%3Dd3NFIvrTk4sC%26pg%3DPA23%26dq%3Dzero%2Bneither%2Bprime%2Bnor%2Bcomposite%26q%3Dzero%2520neither%2520prime%2520nor%2520composite&amp;rfr_id=info:sid/en.wikipedia.org:0_(number)"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=25" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<p><span class="citation foldoc">This article is based on material taken from the <a href="/wiki/Free_On-line_Dictionary_of_Computing" title="Free On-line Dictionary of Computing">Free On-line Dictionary of Computing</a> prior to 1 November 2008 and incorporated under the "relicensing" terms of the <a href="/wiki/GNU_Free_Documentation_License" title="GNU Free Documentation License">GFDL</a>, version 1.3 or later.</span></p>
<div class="refbegin" style="">
<ul>
<li><a href="/wiki/John_D._Barrow" title="John D. Barrow">Barrow, John D.</a> (2001) <i>The Book of Nothing</i>, Vintage. <a href="/wiki/Special:BookSources/0099288451" class="internal mw-magiclink-isbn">ISBN 0-09-928845-1</a>.</li>
<li>Diehl, Richard A. (2004) <i>The Olmecs: America's First Civilization</i>, Thames &amp; Hudson, London.</li>
<li>Ifrah, Georges (2000) <i>The Universal History of Numbers: From Prehistory to the Invention of the Computer</i>, Wiley. <a href="/wiki/Special:BookSources/0471393401" class="internal mw-magiclink-isbn">ISBN 0-471-39340-1</a>.</li>
<li>Kaplan, Robert (2000) <i>The Nothing That Is: A Natural History of Zero</i>, Oxford: Oxford University Press.</li>
<li><a href="/wiki/Charles_Seife" title="Charles Seife">Seife, Charles</a> (2000) <i>Zero: The Biography of a Dangerous Idea</i>, Penguin USA (Paper). <a href="/wiki/Special:BookSources/0140296476" class="internal mw-magiclink-isbn">ISBN 0-14-029647-6</a>.</li>
<li><a href="/wiki/Nicolas_Bourbaki" title="Nicolas Bourbaki">Bourbaki, Nicolas</a> (1998). <i>Elements of the History of Mathematics</i>. Berlin, Heidelberg, and New York: Springer-Verlag. <a href="/wiki/Special:BookSources/3540647678" class="internal mw-magiclink-isbn">ISBN 3-540-64767-8</a>.</li>
<li><a href="/wiki/Isaac_Asimov" title="Isaac Asimov">Isaac Asimov</a> (1978). Article "Nothing Counts" in <i>Asimov on Numbers</i>. Pocket Books.</li>
</ul>
</div>
<h2><span class="section">[<a href="/w/index.php?title=0_(number)&amp;action=&amp;section=26" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" width="30" height="40" /></td>
<td class="mbox-text" style="">Wikimedia Commons has media related to: <i><b><a class="external text" href="//commons.wikimedia.org/wiki/Category:0_(number)">0 (number)</a></b></i></td>
</tr>
</table>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/zero">zero</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Wikiquote-logo-en.svg/40px-Wikiquote-logo-en.svg.png" width="40" height="40" /></td>
<td class="mbox-text" style="">Wikiquote has a collection of quotations related to: <i><b><a class="external text" href="//en.wikiquote.org/wiki/Zero">Zero</a></b></i></td>
</tr>
</table>
<ul>
<li><a rel="nofollow" class="external text" href="http://www-gap.dcs.st-and.ac.uk/~history/HistTopics/Zero.html">A History of Zero</a></li>
<li><a rel="nofollow" class="external text" href="http://home.ubalt.edu/ntsbarsh/zero/ZERO.HTM">Zero Saga</a></li>
<li><a rel="nofollow" class="external text" href="http://www.ucs.louisiana.edu/~sxw8045/history.htm">The History of Algebra</a></li>
<li><a href="/wiki/Edsger_W._Dijkstra" title="Edsger W. Dijkstra">Edsger W. Dijkstra</a>: <a rel="nofollow" class="external text" href="http://www.cs.utexas.edu/users/EWD/ewd08xx/EWD831.PDF">Why numbering should start at zero</a>, EWD831 (<a href="/wiki/Portable_Document_Format" title="Portable Document Format">PDF</a> of a handwritten manuscript)</li>
<li><a rel="nofollow" class="external text" href="http://www.schoolhouserock.tv/My.html">"My Hero Zero"</a> Educational children's song in <a href="/wiki/Schoolhouse_Rock!" title="Schoolhouse Rock!">Schoolhouse Rock!</a></li>
</ul>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.bbc.co.uk/programmes/p004y254">Zero</a> on <a href="/wiki/In_Our_Time_(BBC_Radio_4)" title="In Our Time (BBC Radio 4)"><i>In Our Time</i></a> at the <a href="/wiki/BBC" title="BBC">BBC</a>. (<a rel="nofollow" class="external text" href="http://www.bbc.co.uk/iplayer/console/p004y254/In_Our_Time_Zero">listen now</a>)</li>
<li><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/15px-Wikisource-logo.svg.png" width="15" height="16" /> Texts on Wikisource:
<ul>
<li><span class="citation book">Chisholm, Hugh, ed. (1911). "<a href="//en.wikisource.org/wiki/1911_Encyclop%C3%A6dia_Britannica/Zero" class="extiw" title="wikisource:1911 Encyclopdia Britannica/Zero">Zero</a>". <i><a href="/wiki/Encyclop%C3%A6dia_Britannica_Eleventh_Edition" title="Encyclopdia Britannica Eleventh Edition">Encyclopdia Britannica</a></i> (11th ed.). Cambridge University Press.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=%5B%5BWikisource%3A1911+Encyclop%C3%A6dia+Britannica%2FZero%7CZero%5D%5D&amp;rft.atitle=%5B%5BEncyclop%C3%A6dia+Britannica+Eleventh+Edition%7CEncyclop%C3%A6dia+Britannica%5D%5D&amp;rft.date=1911&amp;rft.ion=11th&amp;rft.pub=Cambridge+University+Press&amp;rfr_id=info:sid/en.wikipedia.org:0_(number)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation book">"<a href="//en.wikisource.org/wiki/The_Encyclopedia_Americana_(1920)/Zero" class="extiw" title="s:The Encyclopedia Americana (1920)/Zero">Zero</a>". <i><a href="/wiki/Encyclopedia_Americana" title="Encyclopedia Americana">Encyclopedia Americana</a></i>. 1920.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=%5B%5Bs%3AThe+Encyclopedia+Americana+%281920%29%2FZero%7CZero%5D%5D&amp;rft.atitle=%5B%5BEncyclopedia+Americana%5D%5D&amp;rft.date=1920&amp;rfr_id=info:sid/en.wikipedia.org:0_(number)"><span style="display: none;">&#160;</span></span></li>
</ul>
</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 14025/1000000
Post-expand include size: 89822/2048000 bytes
Template argument size: 27771/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:34513-0!0!0!!en!4!* and timestamp 20120416013434 -->
