<div class="dablink">This article is about the phrase (or the statement in mathematics).  For the song by Radiohead, see <a href="/wiki/2_%2B_2_%3D_5_(song)" title="2 + 2 = 5 (song)">2 + 2 = 5 (song)</a>.</div>
<p>The phrase "<b>two plus two equals five</b>" ("<b>2 + 2 = 5</b>") is a slogan used in <a href="/wiki/George_Orwell" title="George Orwell">George Orwell</a>'s <i><a href="/wiki/Nineteen_Eighty-Four" title="Nineteen Eighty-Four">Nineteen Eighty-Four</a></i><sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> as an example of an obviously false <a href="/wiki/Dogma" title="Dogma">dogma</a> one must believe, similar to other obviously false slogans by the Party in the novel. It is contrasted with the phrase "two plus two makes four", the obviousbut politically inexpedienttruth. Orwell's <a href="/wiki/Protagonist" title="Protagonist">protagonist</a>, <a href="/wiki/Winston_Smith" title="Winston Smith">Winston Smith</a>, uses the phrase to wonder if <a href="/wiki/Inner_Party" title="Inner Party">the State</a> might declare "two plus two equals five" as a fact; he ponders whether, <a href="/wiki/Consensus_reality" title="Consensus reality">if everybody believes it, does that make it true?</a> Eventually, while undergoing electric torture, Winston declared that he saw five fingers when in fact he only saw four ("Four, five, six  in all honesty I don't know"). The <a href="/wiki/Inner_Party" title="Inner Party">Inner Party</a> interrogator of <a href="/wiki/Thoughtcrime" title="Thoughtcrime">thought-criminals</a>, <a href="/wiki/O%27Brien_(1984)" title="O'Brien (1984)" class="mw-redirect">O'Brien</a>, says of the mathematically false statement that control over physical reality is unimportant; so long as one controls their own perceptions to what the <a href="/wiki/The_Party_(Nineteen_Eighty-Four)" title="The Party (Nineteen Eighty-Four)" class="mw-redirect">Party</a> wills, then any corporeal act is possible, in accordance with the principles of doublethink ("Sometimes they are five. Sometimes they are three. Sometimes they are all of them at once").<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#History"><span class="tocnumber">1</span> <span class="toctext">History</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#George_Orwell"><span class="tocnumber">1.1</span> <span class="toctext">George Orwell</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Dostoyevsky_and_Victor_Hugo"><span class="tocnumber">1.2</span> <span class="toctext">Dostoyevsky and Victor Hugo</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-4"><a href="#Self-evident_truth"><span class="tocnumber">2</span> <span class="toctext">Self-evident truth</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#In_popular_culture"><span class="tocnumber">3</span> <span class="toctext">In popular culture</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#References"><span class="tocnumber">5</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Further_reading"><span class="tocnumber">6</span> <span class="toctext">Further reading</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#External_links"><span class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=2_%2B_2_%3D_5&amp;action=&amp;section=1" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=2_%2B_2_%3D_5&amp;action=&amp;section=2" title="Edit section: George Orwell"></a>]</span> <span class="mw-headline" id="George_Orwell">George Orwell</span></h3>
<p>George Orwell had used the concept before publishing <i><a href="/wiki/Nineteen_Eighty-Four" title="Nineteen Eighty-Four">Nineteen Eighty-Four</a></i>. During his career at the <a href="/wiki/BBC" title="BBC">BBC</a>, he became familiar with the methods of <a href="/wiki/Nazi_propaganda" title="Nazi propaganda">Nazi propaganda</a>. In his essay "Looking Back on the <a href="/wiki/Spanish_Civil_War" title="Spanish Civil War">Spanish War</a>",<sup id="cite_ref-lookingback_2-0" class="reference"><a href="#cite_note-lookingback-2"><span>[</span>3<span>]</span></a></sup> published in 1943 (six years before the publication of <i><a href="/wiki/Nineteen_Eighty-Four" title="Nineteen Eighty-Four">Nineteen Eighty-Four</a>,</i>) Orwell wrote:</p>
<table class="cquote" style="margin:auto; border-collapse: collapse; border: none; background-color: transparent; width: auto;">
<tr>
<td width="20" valign="top" style="border:none; color:#B2B7F2;font-size:35px;font-family: 'Times New Roman', serif; font-weight: bold; text-align: left; padding: 10px 10px;"></td>
<td valign="top" style="border: none; padding: 4px 10px;">Nazi theory indeed specifically denies that such a thing as "the truth" exists. [] The implied objective of this line of thought is a nightmare world in which the Leader, or some ruling clique, controls not only the future but <i>the past</i>. If the Leader says of such and such an event, "It never happened"well, it never happened. If he says that two and two are fivewell, two and two are five. This prospect frightens me much more than bombs []<sup id="cite_ref-lookingback_2-1" class="reference"><a href="#cite_note-lookingback-2"><span>[</span>3<span>]</span></a></sup></td>
<td width="20" valign="bottom" style="border: none; color: #B2B7F2; font-size: 35px; font-family: 'Times New Roman', serif; font-weight: bold; text-align: right; padding: 10px 10px;"></td>
</tr>
</table>
<p><br />
In the view of most of Orwell's biographers, the main source for this was <i>Assignment in Utopia</i> by <a href="/wiki/Eugene_Lyons" title="Eugene Lyons">Eugene Lyons</a>, an account of his time in the Soviet Union. This contains a chapter "Two Plus Two Equals Five", which was a slogan used by Stalin's government to predict that the <a href="/wiki/Five-Year_Plans_for_the_National_Economy_of_the_Soviet_Union" title="Five-Year Plans for the National Economy of the Soviet Union">Five year plan</a> would be completed in four years, which for a time appeared widely in Moscow.</p>
<p>However, Orwell may also have been influenced by <a href="/wiki/Nazism" title="Nazism">Nazi</a> <a href="/wiki/Reichsmarschall" title="Reichsmarschall">Reichsmarschall</a> <a href="/wiki/Hermann_G%C3%B6ring" title="Hermann Gring">Hermann Gring</a>, who once, in a debatably hyperbolic display of loyalty to <a href="/wiki/Adolf_Hitler" title="Adolf Hitler">Adolf Hitler</a>, declared, "If the Fhrer wants it, two and two makes five!"<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup> In <i>Nineteen Eighty-Four</i>, Orwell writes:</p>
<table class="cquote" style="margin:auto; border-collapse: collapse; border: none; background-color: transparent; width: auto;">
<tr>
<td width="20" valign="top" style="border:none; color:#B2B7F2;font-size:35px;font-family: 'Times New Roman', serif; font-weight: bold; text-align: left; padding: 10px 10px;"></td>
<td valign="top" style="border: none; padding: 4px 10px;">In the end the Party would announce that two and two made five, and you would have to believe it. It was inevitable that they should make that claim sooner or later: the logic of their position demanded it. Not merely the validity of experience, but the very existence of external reality, was tacitly denied by their philosophy. The heresy of heresies was common sense. And what was terrifying was not that they would kill you for thinking otherwise, but that they might be right. For, after all, how do we know that two and two make four? Or that the force of gravity works? Or that the past is unchangeable? If both the past and the external world exist only in the mind, and if the mind itself is controllablewhat then?<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup></td>
<td width="20" valign="bottom" style="border: none; color: #B2B7F2; font-size: 35px; font-family: 'Times New Roman', serif; font-weight: bold; text-align: right; padding: 10px 10px;"></td>
</tr>
</table>
<p><br /></p>
<h3><span class="section">[<a href="/w/index.php?title=2_%2B_2_%3D_5&amp;action=&amp;section=3" title="Edit section: Dostoyevsky and Victor Hugo"></a>]</span> <span class="mw-headline" id="Dostoyevsky_and_Victor_Hugo">Dostoyevsky and Victor Hugo</span></h3>
<p>In <a href="/wiki/Fyodor_Dostoyevsky" title="Fyodor Dostoyevsky">Fyodor Dostoyevsky</a>'s <i><a href="/wiki/Notes_from_Underground" title="Notes from Underground">Notes from Underground</a></i>, the protagonist implicitly supports the idea of two times two making five, spending several paragraphs considering the implications of rejecting the statement "two times two makes four."</p>
<p>His purpose is not ideological, however. Instead, he proposes that it is the free will to choose or reject the logical as well as the illogical that makes mankind human. He adds: "I admit that twice two makes four is an excellent thing, but if we are to give everything its due, twice two makes five is sometimes a very charming thing too."</p>
<p>Dostoyevsky was writing in 1864. However, according to <a href="/wiki/Roderick_T._Long" title="Roderick T. Long" class="mw-redirect">Roderick T. Long</a>, <a href="/wiki/Victor_Hugo" title="Victor Hugo">Victor Hugo</a> had used the phrase back in 1852. He objected to the way in which the vast majority of French voters had backed <a href="/wiki/Napoleon_III" title="Napoleon III">Napoleon III</a>, endorsing the way liberal values had been ignored in Napoleon III's coup.<sup id="cite_ref-Roderick_T._Long_5-0" class="reference"><a href="#cite_note-Roderick_T._Long-5"><span>[</span>6<span>]</span></a></sup></p>
<p>Victor Hugo said "Now, get seven million five hundred thousand votes to declare that two and two make five, that the straight line is the longest road, that the whole is less than its part; get it declared by eight millions, by ten millions, by a hundred millions of votes, you will not have advanced a step."</p>
<p>Victor Hugo here is echoing earlier French thought  <a href="/wiki/Emmanuel_Joseph_Siey%C3%A8s" title="Emmanuel Joseph Sieys">Sieys</a>, in his "<a href="/wiki/What_Is_the_Third_Estate%3F" title="What Is the Third Estate?">What Is the Third Estate?</a>" uses the phrase, "Consequently if it be claimed that under the French constitution, 200,000 individuals out of 26 million citizens constitute two-thirds of the common will, only one comment is possible: it is a claim that two and two make five."</p>
<p>It is very plausible that Dostoyevsky had this in mind. He had been sentenced to death for his participation in a radical intellectual discussion group. The sentence was commuted to imprisonment in Siberia, and he changed his opinions to something that fit no conventional labels.</p>
<p>The idea seems to have been significant to <a href="/wiki/Russian_literature" title="Russian literature">Russian literature</a> and culture. <a href="/wiki/Ivan_Turgenev" title="Ivan Turgenev">Ivan Turgenev</a> wrote in <i>prayer</i>, one of his <i><a href="/wiki/Poems_in_Prose" title="Poems in Prose">Poems in Prose</a></i> "Whatever a man prays for, he prays for a miracle. Every prayer reduces itself to this: Great God, grant that twice two be not four." Also similar sentiments are said to be among <a href="/wiki/Leo_Tolstoy" title="Leo Tolstoy">Leo Tolstoy</a>'s last words when urged to convert back to the <a href="/wiki/Russian_Orthodox_Church" title="Russian Orthodox Church">Russian Orthodox Church</a>: "Even in the valley of the shadow of death, two and two do not make six." Even turn-of-the-century Russian newspaper columnists used the phrase to suggest the moral confusion of the age.<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=2_%2B_2_%3D_5&amp;action=&amp;section=4" title="Edit section: Self-evident truth"></a>]</span> <span class="mw-headline" id="Self-evident_truth">Self-evident truth</span></h2>
<p>If "two plus two equals five" is used as a propositional statement about integers, it must be either true or false.<sup id="cite_ref-7" class="reference"><a href="#cite_note-7"><span>[</span>8<span>]</span></a></sup></p>
<p>However, by redefining what we mean by "2" and "5", we can make the answer anything we like. For instance, if by "2" we mean "any real number which rounds to 2" and by "5" we mean "any real number which rounds to 5", then from 2.4+2.4=4.8 we conclude that "2+2=5". A difficulty with this approach, of course, is that it runs afoul of Lincoln's dictum that calling a tail a leg doesn't make it one. The question at this point gets bogged down in the philosophy of language, and in any event has nothing to do with mathematics.</p>
<p>In his play <i><a href="/wiki/Dom_Juan" title="Dom Juan">Dom Juan</a></i>, <a href="/wiki/Moli%C3%A8re" title="Molire">Molire</a>'s title character is asked what he believes. He answers that he believes that two plus two equals four.<sup id="cite_ref-8" class="reference"><a href="#cite_note-8"><span>[</span>9<span>]</span></a></sup> <a href="/wiki/Belief" title="Belief">Belief</a> is the psychological state in which an individual holds a proposition or premise to be true.<sup id="cite_ref-9" class="reference"><a href="#cite_note-9"><span>[</span>10<span>]</span></a></sup> A belief is separate from <a href="/wiki/Knowledge" title="Knowledge">knowledge</a>.<sup id="cite_ref-10" class="reference"><a href="#cite_note-10"><span>[</span>11<span>]</span></a></sup><sup id="cite_ref-11" class="reference"><a href="#cite_note-11"><span>[</span>12<span>]</span></a></sup> Were certain absolute knowledge to exist, belief in an existential claim would be unnecessary. Moliere seeks the freedom to believe that two plus two equals four. Orwell seeks the freedom to say that two plus two equals four, as an objective fact which the Party cannot touch.</p>
<p><a href="/wiki/Ren%C3%A9_Descartes" title="Ren Descartes">Ren Descartes</a>' realm of pure ideas considers that self-evident ideas such as two plus two equals four may in fact have no reality outside the mind. According to the first mation, the standard of truth is self-evidence of clear and distinct ideas. However, Descartes questions the correspondence of these ideas to reality.<sup id="cite_ref-12" class="reference"><a href="#cite_note-12"><span>[</span>13<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=2_%2B_2_%3D_5&amp;action=&amp;section=5" title="Edit section: In popular culture"></a>]</span> <span class="mw-headline" id="In_popular_culture">In popular culture</span></h2>
<ul>
<li>In the <i><a href="/wiki/Star_Trek:_The_Next_Generation" title="Star Trek: The Next Generation">Star Trek: The Next Generation</a></i> episode "<a href="/wiki/Chain_of_Command_(Star_Trek:_The_Next_Generation)" title="Chain of Command (Star Trek: The Next Generation)">Chain of Command, Part II</a>", <a href="/wiki/Jean-Luc_Picard" title="Jean-Luc Picard">Picard</a> is tortured by a <a href="/wiki/Cardassian" title="Cardassian">Cardassian</a> in a manner similar to a torture scene from <i>Nineteen Eighty-Four</i>. During the episode, the Cardassian officer tries to coerce Picard to admit seeing five lights when in fact there were only four. Picard valiantly sticks to reality. Near the end when Picard is about to be brought back to his crew, he defiantly declares, once again, "There are <i>four lights</i>!". However, later in a counselling session with <a href="/wiki/Deanna_Troi" title="Deanna Troi">Troi</a>, Picard admits that he believed he <i>did</i> see five lights at the end.</li>
<li>In <a href="/wiki/Ayn_Rand" title="Ayn Rand">Ayn Rand</a>'s <i><a href="/wiki/Atlas_Shrugged" title="Atlas Shrugged">Atlas Shrugged</a></i>,<sup id="cite_ref-13" class="reference"><a href="#cite_note-13"><span>[</span>14<span>]</span></a></sup> the hero <a href="/wiki/John_Galt" title="John Galt">John Galt</a> posits that "the noblest act you have ever performed is the act of your mind in the process of grasping that two and two make four". Responding to this claim, psychologist <a href="/wiki/Albert_Ellis" title="Albert Ellis">Albert Ellis</a> wrote "Here Rand falsely notes that two and two make four: and that you are noble for grasping this 'fact.' She fails to note that two and two, definitionally make four; and that her own mind, apparently, isnt sufficiently noble to acknowledge this definition."<sup id="cite_ref-14" class="reference"><a href="#cite_note-14"><span>[</span>15<span>]</span></a></sup></li>
<li>"<a href="/wiki/2_%2B_2_%3D_5_(song)" title="2 + 2 = 5 (song)">2 + 2 = 5</a>" (a.k.a. "The Lukewarm.") is the opening track on English rock band <a href="/wiki/Radiohead" title="Radiohead">Radiohead</a>'s sixth album, <i><a href="/wiki/Hail_to_the_Thief" title="Hail to the Thief">Hail to the Thief</a></i>, released in 2003.</li>
<li>Stephen Hawking uses Two plus Two equals Five, In Timmy Turner and His Fairly Odd Parents, to enrage the Teacher. Croker, the class teacher was interrupted as he was teaching that Two plus Two does not equal five and that it equals four.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=2_%2B_2_%3D_5&amp;action=&amp;section=6" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<div class="noprint tright portal" style="border:solid #aaa 1px; margin:0.5em 0 0.5em 0.5em;">
<table style="background:#f9f9f9; font-size:85%; line-height:110%; max-width:175px;">
<tr>
<td style="text-align: center;"><a href="/wiki/File:Nuvola_apps_edu_mathematics_blue-p.svg" class="image"><img alt="Portal icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Nuvola_apps_edu_mathematics_blue-p.svg/28px-Nuvola_apps_edu_mathematics_blue-p.svg.png" width="28" height="28" /></a></td>
<td style="padding: 0 0.2em; vertical-align: middle; font-style: italic; font-weight: bold"><a href="/wiki/Portal:Mathematics" title="Portal:Mathematics">Mathematics  portal</a></td>
</tr>
</table>
</div>
<ul>
<li><a href="/wiki/Asch_conformity_experiments" title="Asch conformity experiments">Asch conformity experiments</a>  for more on how the influence of a majority can affect how a single person thinks.</li>
<li><a href="/wiki/Mathematical_fallacy" title="Mathematical fallacy">Mathematical fallacy</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=2_%2B_2_%3D_5&amp;action=&amp;section=7" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist references-column-width" style="-moz-column-width: 30em; -webkit-column-width: 30em; column-width: 30em; list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Part One, Chapter Seven</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">Part Three, Chapter Two</span></li>
<li id="cite_note-lookingback-2">^ <a href="#cite_ref-lookingback_2-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-lookingback_2-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><span class="citation web"><a href="/wiki/George_Orwell" title="George Orwell">Orwell, George</a>. <a rel="nofollow" class="external text" href="http://orwell.ru/library/essays/Spanish_War/english/esw_1">"Looking back on the Spanish War"</a>. orwell.ru<span class="printonly">. <a rel="nofollow" class="external free" href="http://orwell.ru/library/essays/Spanish_War/english/esw_1">http://orwell.ru/library/essays/Spanish_War/english/esw_1</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Looking+back+on+the+Spanish+War&amp;rft.atitle=&amp;rft.aulast=Orwell&amp;rft.aufirst=George&amp;rft.au=Orwell%2C%26%2332%3BGeorge&amp;rft.pub=orwell.ru&amp;rft_id=http%3A%2F%2Forwell.ru%2Flibrary%2Fessays%2FSpanish_War%2Fenglish%2Fesw_1&amp;rfr_id=info:sid/en.wikipedia.org:2_%2B_2_%3D_5"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://web.archive.org/web/20041227105306/http://motlc.wiesenthal.com/text/x18/xr1883.html">"Hermann Gring"</a>. <i>Museum of Tolerance Multimedia Learning Center</i><span class="printonly">. <a rel="nofollow" class="external free" href="http://web.archive.org/web/20041227105306/http://motlc.wiesenthal.com/text/x18/xr1883.html">http://web.archive.org/web/20041227105306/http://motlc.wiesenthal.com/text/x18/xr1883.html</a></span><span class="reference-accessdate">. Retrieved 18 February 2012</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Hermann+G%C3%B6ring&amp;rft.atitle=Museum+of+Tolerance+Multimedia+Learning+Center&amp;rft_id=http%3A%2F%2Fweb.archive.org%2Fweb%2F20041227105306%2Fhttp%3A%2F%2Fmotlc.wiesenthal.com%2Ftext%2Fx18%2Fxr1883.html&amp;rfr_id=info:sid/en.wikipedia.org:2_%2B_2_%3D_5"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><a href="/wiki/George_Orwell" title="George Orwell">George Orwell</a>. <i><a href="/wiki/Nineteen_Eighty-Four" title="Nineteen Eighty-Four">Nineteen Eighty-Four</a></i>. <a href="/wiki/Secker_and_Warburg" title="Secker and Warburg" class="mw-redirect">Secker and Warburg</a> (1949). <a href="/wiki/Special:BookSources/0452284236" class="internal mw-magiclink-isbn">ISBN 0-452-28423-6</a></span></li>
<li id="cite_note-Roderick_T._Long-5"><b><a href="#cite_ref-Roderick_T._Long_5-0">^</a></b> <span class="reference-text"><span class="citation web">Long, Roderick T.. <a rel="nofollow" class="external text" href="http://www.lewrockwell.com/long/long12.html">"Victor Hugo on the Limits of Democracy"</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://www.lewrockwell.com/long/long12.html">http://www.lewrockwell.com/long/long12.html</a></span><span class="reference-accessdate">. Retrieved 5 December 2011</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Victor+Hugo+on+the+Limits+of+Democracy&amp;rft.atitle=&amp;rft.aulast=Long&amp;rft.aufirst=Roderick+T.&amp;rft.au=Long%2C%26%2332%3BRoderick+T.&amp;rft_id=http%3A%2F%2Fwww.lewrockwell.com%2Flong%2Flong12.html&amp;rfr_id=info:sid/en.wikipedia.org:2_%2B_2_%3D_5"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text">e.g. <i>Novoe vremia</i> (New Times), 31 October 1900</span></li>
<li id="cite_note-7"><b><a href="#cite_ref-7">^</a></b> <span class="reference-text"><a rel="nofollow" class="external autonumber" href="http://www.ignouwala.com/ebooks/mcs-013/01.pdf">[1]</a><sup class="noprint Inline-Template"><span title="&#160;since February 2012" style="white-space: nowrap;">[<i><a href="/wiki/Wikipedia:Link_rot" title="Wikipedia:Link rot">dead link</a></i>]</span></sup></span></li>
<li id="cite_note-8"><b><a href="#cite_ref-8">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://moliere-in-english.com/donjuan.html">"Moliere Don Juan Adapted by Timothy Mooney"</a>. Moliere-in-english.com<span class="printonly">. <a rel="nofollow" class="external free" href="http://moliere-in-english.com/donjuan.html">http://moliere-in-english.com/donjuan.html</a></span><span class="reference-accessdate">. Retrieved 1 February 2012</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Moliere+Don+Juan+Adapted+by+Timothy+Mooney&amp;rft.atitle=&amp;rft.pub=Moliere-in-english.com&amp;rft_id=http%3A%2F%2Fmoliere-in-english.com%2Fdonjuan.html&amp;rfr_id=info:sid/en.wikipedia.org:2_%2B_2_%3D_5"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-9"><b><a href="#cite_ref-9">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://plato.stanford.edu/entries/belief">"Belief (Stanford Encyclopedia of Philosophy)"</a>. Plato.stanford.edu<span class="printonly">. <a rel="nofollow" class="external free" href="http://plato.stanford.edu/entries/belief">http://plato.stanford.edu/entries/belief</a></span><span class="reference-accessdate">. Retrieved 1 February 2012</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Belief+%28Stanford+Encyclopedia+of+Philosophy%29&amp;rft.atitle=&amp;rft.pub=Plato.stanford.edu&amp;rft_id=http%3A%2F%2Fplato.stanford.edu%2Fentries%2Fbelief&amp;rfr_id=info:sid/en.wikipedia.org:2_%2B_2_%3D_5"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-10"><b><a href="#cite_ref-10">^</a></b> <span class="reference-text">Gettier, EL 1963, 'Is justified true belief knowledge?', Analysis, vol. 23, no. 6, pp. 121123</span></li>
<li id="cite_note-11"><b><a href="#cite_ref-11">^</a></b> <span class="reference-text">Goldman, AI 1967, 'A causal theory of knowing', <i>The Journal of Philosophy</i>, vol. 64, no. 12, pp. 357372</span></li>
<li id="cite_note-12"><b><a href="#cite_ref-12">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://www.wright.edu/cola/descartes/mation1.html">"Descartes' Mations Home Page"</a>. Wright.edu. 27 July 2005<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.wright.edu/cola/descartes/mation1.html">http://www.wright.edu/cola/descartes/mation1.html</a></span><span class="reference-accessdate">. Retrieved 1 February 2012</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Descartes%27+Mations+Home+Page&amp;rft.atitle=&amp;rft.date=27+July+2005&amp;rft.pub=Wright.edu&amp;rft_id=http%3A%2F%2Fwww.wright.edu%2Fcola%2Fdescartes%2Fmation1.html&amp;rfr_id=info:sid/en.wikipedia.org:2_%2B_2_%3D_5"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-13"><b><a href="#cite_ref-13">^</a></b> <span class="reference-text"><span class="citation book"><a href="/wiki/Ayn_Rand" title="Ayn Rand">Rand, Ayn</a> (1999 [1957]). <i>Atlas Shrugged</i>. <a href="/wiki/Plume_(publisher)" title="Plume (publisher)">Plume</a>. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-452-01187-6" title="Special:BookSources/0-452-01187-6">0-452-01187-6</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Atlas+Shrugged&amp;rft.aulast=Rand&amp;rft.aufirst=Ayn&amp;rft.au=Rand%2C%26%2332%3BAyn&amp;rft.date=1999+%5B1957%5D&amp;rft.pub=%5B%5BPlume+%28publisher%29%7CPlume%5D%5D&amp;rft.isbn=0-452-01187-6&amp;rfr_id=info:sid/en.wikipedia.org:2_%2B_2_%3D_5"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-14"><b><a href="#cite_ref-14">^</a></b> <span class="reference-text"><span class="citation book"><a href="/wiki/Albert_Ellis" title="Albert Ellis">Ellis, Albert</a> (2007). <i>Are Capitalism, Objectivism, And Libertarianism Religions? Yes!</i>. <a href="/wiki/CreateSpace" title="CreateSpace" class="mw-redirect">CreateSpace</a>. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/1-4348-0885-8" title="Special:BookSources/1-4348-0885-8">1-4348-0885-8</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Are+Capitalism%2C+Objectivism%2C+And+Libertarianism+Religions%3F+Yes%21&amp;rft.aulast=Ellis&amp;rft.aufirst=Albert&amp;rft.au=Ellis%2C%26%2332%3BAlbert&amp;rft.date=2007&amp;rft.pub=%5B%5BCreateSpace%5D%5D&amp;rft.isbn=1-4348-0885-8&amp;rfr_id=info:sid/en.wikipedia.org:2_%2B_2_%3D_5"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=2_%2B_2_%3D_5&amp;action=&amp;section=8" title="Edit section: Further reading"></a>]</span> <span class="mw-headline" id="Further_reading">Further reading</span></h2>
<ul>
<li><span class="citation" id="CITEREFEuler1990">Euler, H. (1990), "The history of 2 + 2 = 4", <i>Mathematics Magazine</i> <b>63</b>: 338339</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=The+history+of+2+%2B+2+%3D+4&amp;rft.jtitle=Mathematics+Magazine&amp;rft.aulast=Euler&amp;rft.aufirst=H.&amp;rft.au=Euler%2C%26%2332%3BH.&amp;rft.date=1990&amp;rft.volume=63&amp;rft.pages=338%E2%80%93339&amp;rfr_id=info:sid/en.wikipedia.org:2_%2B_2_%3D_5"><span style="display: none;">&#160;</span></span>.</li>
<li><span class="citation" id="CITEREFKruegerHallford1984">Krueger, L. E. &amp; Hallford, E. W. (1984), "Why 2 + 2 = 5 looks so wrong: On the odd-even rule in sum verification", <i>Memory &amp; Cognition</i> <b>12</b> (2): 171180, <a href="/wiki/PubMed_Identifier" title="PubMed Identifier" class="mw-redirect">PMID</a>&#160;<a rel="nofollow" class="external text" href="http://www.ncbi.nlm.nih.gov/pubmed/6727639">6727639</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Why+2+%2B+2+%3D+5+looks+so+wrong%3A+On+the+odd-even+rule+in+sum+verification&amp;rft.jtitle=Memory+%26+Cognition&amp;rft.aulast=Krueger&amp;rft.aufirst=L.+E.&amp;rft.au=Krueger%2C%26%2332%3BL.+E.&amp;rft.au=Hallford%2C%26%2332%3BE.+W.&amp;rft.date=1984&amp;rft.volume=12&amp;rft.issue=2&amp;rft.pages=171%E2%80%93180&amp;rft_id=info:pmid/6727639&amp;rfr_id=info:sid/en.wikipedia.org:2_%2B_2_%3D_5"><span style="display: none;">&#160;</span></span>.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=2_%2B_2_%3D_5&amp;action=&amp;section=9" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.time.com/time/printout/0,8816,854746,00.html">Two Plus Two Equals Red</a>, Time Magazine, Monday, 30 Jun. 1947</li>
</ul>
<table cellspacing="0" class="navbox" style="border-spacing:0;;">
<tr>
<td style="padding:2px;">
<table cellspacing="0" class="nowraplinks collapsible autocollapse navbox-inner" style="border-spacing:0;background:transparent;color:inherit;;">
<tr>
<th scope="col" style=";" class="navbox-title" colspan="2">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Nineteen_Eighty-Four" title="Template:Nineteen Eighty-Four"><span title="View this template" style=";;background:none transparent;border:none;">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Nineteen_Eighty-Four" title="Template talk:Nineteen Eighty-Four"><span title="Discuss this template" style=";;background:none transparent;border:none;">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Nineteen_Eighty-Four&amp;action="><span title="Edit this template" style=";;background:none transparent;border:none;">e</span></a></li>
</ul>
</div>
<div class="" style="font-size:110%;"><i><a href="/wiki/Nineteen_Eighty-Four" title="Nineteen Eighty-Four">Nineteen Eighty-Four</a></i> by <a href="/wiki/George_Orwell" title="George Orwell">George Orwell</a></div>
</th>
</tr>
<tr style="height:2px;">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Characters</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-odd">
<div style="padding:0em 0.25em"><a href="/wiki/Winston_Smith" title="Winston Smith">Winston Smith</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Julia_(Nineteen_Eighty-Four)" title="Julia (Nineteen Eighty-Four)">Julia</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/O%27Brien_(Nineteen_Eighty-Four)" title="O'Brien (Nineteen Eighty-Four)">O'Brien</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Big_Brother_(Nineteen_Eighty-Four)" title="Big Brother (Nineteen Eighty-Four)">Big Brother</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Emmanuel_Goldstein" title="Emmanuel Goldstein">Emmanuel Goldstein</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Places</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-even">
<div style="padding:0em 0.25em"><a href="/wiki/Nations_of_Nineteen_Eighty-Four" title="Nations of Nineteen Eighty-Four">Nations of <i>Nineteen Eighty-Four</i></a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Room_101" title="Room 101">Room 101</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Classes</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-odd">
<div style="padding:0em 0.25em"><a href="/wiki/Inner_Party" title="Inner Party">Inner Party</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Outer_Party" title="Outer Party">Outer Party</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Proles" title="Proles">Proles</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/The_Brotherhood_(Nineteen_Eighty-Four)" title="The Brotherhood (Nineteen Eighty-Four)">The Brotherhood</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Ministries</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-even">
<div style="padding:0em 0.25em"><a href="/wiki/Ministry_of_Love" title="Ministry of Love">Ministry of Love</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Ministry_of_Peace" title="Ministry of Peace">Ministry of Peace</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Ministry_of_Plenty" title="Ministry of Plenty">Ministry of Plenty</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Ministry_of_Truth" title="Ministry of Truth">Ministry of Truth</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Concepts</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-odd">
<div style="padding:0em 0.25em"><a href="/wiki/Ingsoc" title="Ingsoc">Ingsoc</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Newspeak" title="Newspeak">Newspeak</a> (<a href="/wiki/List_of_Newspeak_words" title="List of Newspeak words">wordlist</a>)&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Doublethink" title="Doublethink">Doublethink</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Goodthink" title="Goodthink">Goodthink</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Crimestop" title="Crimestop">Crimestop</a>&#160;<span style="font-weight:bold;"></span>  <strong class="selflink">Two + two = five</strong>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Thoughtcrime" title="Thoughtcrime">Thoughtcrime</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Thought_Police" title="Thought Police">Thought Police</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Telescreen" title="Telescreen">Telescreen</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Memory_hole" title="Memory hole">Memory hole</a>&#160;<span style="font-weight:bold;"></span>  <i><a href="/wiki/The_Theory_and_Practice_of_Oligarchical_Collectivism" title="The Theory and Practice of Oligarchical Collectivism">The Theory and Practice of Oligarchical Collectivism</a></i>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Two_Minutes_Hate" title="Two Minutes Hate">Two Minutes Hate</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Hate_week" title="Hate week">Hate week</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Prolefeed" title="Prolefeed">Prolefeed</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Prolesec" title="Prolesec">Prolesec</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/List_of_Newspeak_words#Unperson" title="List of Newspeak words">Unperson</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Adaptations</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-odd">
<div style="padding:0em 0.25em"><a href="/wiki/1984_(1953_TV_program)" title="1984 (1953 TV program)">1953 US TV</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Nineteen_Eighty-Four_(TV_programme)" title="Nineteen Eighty-Four (TV programme)">1954 BBC TV</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/1984_(1956_film)" title="1984 (1956 film)">1956 film</a>&#160;<span style="font-weight:bold;"></span>  <i><a href="/wiki/Diamond_Dogs" title="Diamond Dogs">Diamond Dogs</a></i>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Nineteen_Eighty-Four_(film)" title="Nineteen Eighty-Four (film)">1984 film</a>&#160;<span style="font-weight:bold;"></span>  <i><a href="/wiki/Me_and_the_Big_Guy" title="Me and the Big Guy">Me and the Big Guy</a></i>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/1984_(opera)" title="1984 (opera)">2005 opera</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Influence</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-even">
<div style="padding:0em 0.25em"><a href="/wiki/Nineteen_Eighty-Four_in_popular_media" title="Nineteen Eighty-Four in popular media"><i>Nineteen Eighty-Four</i> in popular media</a>&#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Wikipedia:1984" title="Wikipedia:1984"><i>Nineteen Eighty-Four</i> in Wikipedia</a></div>
</td>
</tr>
<tr style="height:2px;">
<td></td>
</tr>
<tr>
<td class="navbox-abovebelow" style=";" colspan="2">
<div><b><img alt="Wikipedia book" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/89/Symbol_book_class2.svg/16px-Symbol_book_class2.svg.png" width="16" height="16" /> <a href="/wiki/Book:Nineteen_Eighty-Four" title="Book:Nineteen Eighty-Four">Book:Nineteen Eighty-Four</a></b></div>
</td>
</tr>
</table>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 7963/1000000
Post-expand include size: 65524/2048000 bytes
Template argument size: 21758/2048000 bytes
Expensive parser function count: 4/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:255114-0!*!0!!en!4!* and timestamp 20120417235743 -->
