<table class="infobox" style="width:19em;">
<tr>
<th colspan="2" class="navbox-title"><a href="/wiki/Numeral_system" title="Numeral system">Numeral systems</a> by culture</th>
</tr>
<tr>
<td colspan="2"><b><a href="/wiki/Hindu%E2%80%93Arabic_numeral_system" title="HinduArabic numeral system">Hindu-Arabic numerals</a></b></td>
</tr>
<tr>
<td><a href="/wiki/Arabic_numerals" title="Arabic numerals">Western Arabic (Hindu numerals)</a><br />
<a href="/wiki/Eastern_Arabic_numerals" title="Eastern Arabic numerals">Eastern Arabic</a><br />
<a href="/wiki/Indian_numerals" title="Indian numerals">Indian family</a><br />
<a href="/wiki/Tamil_numerals" title="Tamil numerals">Tamil</a></td>
<td><a href="/wiki/Burmese_numerals" title="Burmese numerals">Burmese</a><br />
<a href="/wiki/Khmer_numerals" title="Khmer numerals" class="mw-redirect">Khmer</a><br />
<a href="/wiki/Lao_alphabet#Numerals" title="Lao alphabet">Lao</a><br />
<a href="/wiki/Mongolian_numerals" title="Mongolian numerals">Mongolian</a><br />
<a href="/wiki/Thai_numerals" title="Thai numerals">Thai</a></td>
</tr>
<tr>
<th colspan="2">East Asian numerals</th>
</tr>
<tr>
<td><a href="/wiki/Chinese_numerals" title="Chinese numerals">Chinese</a><br />
<a href="/wiki/Japanese_numerals" title="Japanese numerals">Japanese</a><br />
<i><a href="/wiki/Suzhou_numerals" title="Suzhou numerals">Suzhou</a></i></td>
<td><a href="/wiki/Korean_numerals" title="Korean numerals">Korean</a><br />
<a href="/wiki/Vietnamese_numerals" title="Vietnamese numerals">Vietnamese</a><br />
<i><a href="/wiki/Counting_rods" title="Counting rods">Counting rods</a></i></td>
</tr>
<tr>
<th colspan="2">Alphabetic numerals</th>
</tr>
<tr>
<td><a href="/wiki/Abjad_numerals" title="Abjad numerals">Abjad</a><br />
<a href="/wiki/Armenian_numerals" title="Armenian numerals">Armenian</a><br />
<a href="/wiki/%C4%80ryabha%E1%B9%ADa_numeration" title="ryabhaa numeration"><span title="International Alphabet of Sanskrit Transliteration" class="Unicode" style="white-space:normal; text-decoration: none">ryabhaa</span></a><br />
<a href="/wiki/Cyrillic_numerals" title="Cyrillic numerals">Cyrillic</a></td>
<td><a href="/wiki/Ge%27ez_script#Numerals" title="Ge'ez script">Ge'ez</a><br />
<a href="/wiki/Greek_numerals" title="Greek numerals">Greek</a><br />
<a href="/wiki/Georgian_numerals" title="Georgian numerals">Georgian</a><br />
<a href="/wiki/Hebrew_numerals" title="Hebrew numerals">Hebrew</a></td>
</tr>
<tr>
<th colspan="2">other historical systems</th>
</tr>
<tr>
<td><a href="/wiki/Aegean_numerals" title="Aegean numerals">Aegean</a><br />
<a href="/wiki/Attic_numerals" title="Attic numerals">Attic</a><br />
<a href="/wiki/Babylonian_numerals" title="Babylonian numerals">Babylonian</a><br />
<a href="/wiki/Brahmi_numeral" title="Brahmi numeral" class="mw-redirect">Brahmi</a><br />
<a href="/wiki/Egyptian_numerals" title="Egyptian numerals">Egyptian</a><br />
<a href="/wiki/Etruscan_numerals" title="Etruscan numerals">Etruscan</a><br />
<a href="/wiki/Inuit_numerals" title="Inuit numerals">Inuit</a></td>
<td><a href="/wiki/Kharosthi_numerals" title="Kharosthi numerals" class="mw-redirect">Kharosthi</a><br />
<a href="/wiki/Maya_numerals" title="Maya numerals">Mayan</a><br />
<a href="/wiki/Quipu" title="Quipu">Quipu</a><br />
<a href="/wiki/Roman_numerals" title="Roman numerals">Roman</a></td>
</tr>
<tr>
<th colspan="2" class="navbox-title"><a href="/wiki/Positional_notation" title="Positional notation">Positional systems</a> by <a href="/wiki/Radix" title="Radix">base</a></th>
</tr>
<tr>
<td colspan="2" align="center"><a href="/wiki/Decimal" title="Decimal">Decimal</a> (10)</td>
</tr>
<tr>
<td colspan="2" align="center"><strong class="selflink">2</strong>, <a href="/wiki/Ternary_numeral_system" title="Ternary numeral system">3</a>, <a href="/wiki/Quaternary_numeral_system" title="Quaternary numeral system">4</a>, <a href="/wiki/Quinary" title="Quinary">5</a>, <a href="/wiki/Senary" title="Senary">6</a>, <a href="/wiki/Septenary" title="Septenary">7</a>, <a href="/wiki/Octal" title="Octal">8</a>, <a href="/wiki/Nonary" title="Nonary">9</a>, <a href="/wiki/Undecimal" title="Undecimal">11</a>, <a href="/wiki/Duodecimal" title="Duodecimal">12</a>, <a href="/wiki/Base_13" title="Base 13">13</a>, <a href="/wiki/Tetradecimal" title="Tetradecimal">14</a>, <a href="/wiki/Pentadecimal" title="Pentadecimal">15</a>, <a href="/wiki/Hexadecimal" title="Hexadecimal">16</a>, <a href="/wiki/Vigesimal" title="Vigesimal">20</a>, <a href="/wiki/Base_24" title="Base 24">24</a>, <a href="/wiki/Septemvigesimal" title="Septemvigesimal">27</a>, <a href="/wiki/Base_30" title="Base 30">30</a>, <a href="/wiki/Base_36" title="Base 36">36</a>, <a href="/wiki/Sexagesimal" title="Sexagesimal">60</a>, <a href="/wiki/Base64" title="Base64">64</a></td>
</tr>
<tr>
<td colspan="2" align="center"><a href="/wiki/Balanced_ternary" title="Balanced ternary">Balanced ternary</a></td>
</tr>
<tr>
<th colspan="2" class="navbox-title">Non-positional system</th>
</tr>
<tr>
<td colspan="2" align="center"><a href="/wiki/Unary_numeral_system" title="Unary numeral system">Unary numeral system</a> (Base 1)</td>
</tr>
<tr>
<td colspan="2" align="center"><b><a href="/wiki/List_of_numeral_systems" title="List of numeral systems">List of numeral systems</a></b></td>
</tr>
<tr>
<td colspan="2" align="right">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Numeral_systems" title="Template:Numeral systems"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Numeral_systems" title="Template talk:Numeral systems"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Numeral_systems&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>
<p>The <b>binary numeral system</b>, or <b>base-2 number system</b>, represents numeric values using two symbols: <a href="/wiki/0_(number)" title="0 (number)">0</a> and <a href="/wiki/1_(number)" title="1 (number)">1</a>. More specifically, the usual <a href="/wiki/Base_(exponentiation)" title="Base (exponentiation)">base</a>-<a href="/wiki/2_(number)" title="2 (number)">2</a> system is a <a href="/wiki/Positional_notation" title="Positional notation">positional notation</a> with a <a href="/wiki/Radix" title="Radix">radix</a> of 2. Because of its straightforward implementation in <a href="/wiki/Digital_electronic_circuit" title="Digital electronic circuit" class="mw-redirect">digital electronic circuitry</a> using <a href="/wiki/Logic_gate" title="Logic gate">logic gates</a>, the binary system is used internally by almost all modern <a href="/wiki/Computer" title="Computer">computers</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#History"><span class="tocnumber">1</span> <span class="toctext">History</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Representation"><span class="tocnumber">2</span> <span class="toctext">Representation</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Counting_in_binary"><span class="tocnumber">3</span> <span class="toctext">Counting in binary</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Fractions_in_binary"><span class="tocnumber">4</span> <span class="toctext">Fractions in binary</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Binary_arithmetic"><span class="tocnumber">5</span> <span class="toctext">Binary arithmetic</span></a>
<ul>
<li class="toclevel-2 tocsection-6"><a href="#Addition"><span class="tocnumber">5.1</span> <span class="toctext">Addition</span></a>
<ul>
<li class="toclevel-3 tocsection-7"><a href="#Addition_table"><span class="tocnumber">5.1.1</span> <span class="toctext">Addition table</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-8"><a href="#Subtraction"><span class="tocnumber">5.2</span> <span class="toctext">Subtraction</span></a></li>
<li class="toclevel-2 tocsection-9"><a href="#Multiplication"><span class="tocnumber">5.3</span> <span class="toctext">Multiplication</span></a>
<ul>
<li class="toclevel-3 tocsection-10"><a href="#Multiplication_table"><span class="tocnumber">5.3.1</span> <span class="toctext">Multiplication table</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-11"><a href="#Division"><span class="tocnumber">5.4</span> <span class="toctext">Division</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-12"><a href="#Bitwise_operations"><span class="tocnumber">6</span> <span class="toctext">Bitwise operations</span></a></li>
<li class="toclevel-1 tocsection-13"><a href="#Conversion_to_and_from_other_numeral_systems"><span class="tocnumber">7</span> <span class="toctext">Conversion to and from other numeral systems</span></a>
<ul>
<li class="toclevel-2 tocsection-14"><a href="#Decimal"><span class="tocnumber">7.1</span> <span class="toctext">Decimal</span></a></li>
<li class="toclevel-2 tocsection-15"><a href="#Hexadecimal"><span class="tocnumber">7.2</span> <span class="toctext">Hexadecimal</span></a></li>
<li class="toclevel-2 tocsection-16"><a href="#Octal"><span class="tocnumber">7.3</span> <span class="toctext">Octal</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-17"><a href="#Representing_real_numbers"><span class="tocnumber">8</span> <span class="toctext">Representing real numbers</span></a></li>
<li class="toclevel-1 tocsection-18"><a href="#See_also"><span class="tocnumber">9</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-19"><a href="#Notes"><span class="tocnumber">10</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-20"><a href="#References"><span class="tocnumber">11</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-21"><a href="#External_links"><span class="tocnumber">12</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=1" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<p>The Indian scholar <a href="/wiki/Pingala" title="Pingala">Pingala</a> (around 5th2nd centuries BC) developed mathematical concepts for describing <a href="/wiki/Prosody_(poetry)" title="Prosody (poetry)" class="mw-redirect">prosody</a>, and in doing so presented the first known description of a binary numeral system.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> He used binary numbers in the form of short and long syllables (the latter equal in length to two short syllables), making it similar to <a href="/wiki/Morse_code" title="Morse code">Morse code</a>.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup><sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup></p>
<p>Pingala's Hindu classic titled <a href="/wiki/Chandah-shastra" title="Chandah-shastra" class="mw-redirect">Chandastra</a> (8.23) describes the formation of a matrix in order to give a unique value to each meter. An example of such a matrix is as follows<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup><sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup>:</p>
<dl>
<dd>0 0 0 0 &#160; numerical value 1</dd>
<dd>1 0 0 0 &#160; numerical value 2</dd>
<dd>0 1 0 0 &#160; numerical value 3</dd>
<dd>1 1 0 0 &#160; numerical value 4</dd>
</dl>
<p>A set of eight <a href="/wiki/Ba_gua" title="Ba gua">trigrams</a> and a set of 64 <a href="/wiki/Hexagram_(I_Ching)" title="Hexagram (I Ching)">hexagrams</a>, analogous to the three-bit and six-bit binary numerals, were known in <a href="/wiki/Zhou_Dynasty" title="Zhou Dynasty">ancient China</a> through the <a href="/wiki/Chinese_classic_texts" title="Chinese classic texts" class="mw-redirect">classic text</a> <i><a href="/wiki/I_Ching" title="I Ching">I Ching</a></i>. In the 11th century, scholar and philosopher <a href="/wiki/Shao_Yong" title="Shao Yong">Shao Yong</a> developed a method for arranging the hexagrams which corresponds to the sequence 0 to 63, as represented in binary, with yin as 0, yang as 1 and the <a href="/wiki/Least_significant_bit" title="Least significant bit">least significant bit</a> on top. There is, however, no evidence that Shao understood binary computation. The ordering is also the <a href="/wiki/Lexicographical_order" title="Lexicographical order">lexicographical order</a> on <a href="/wiki/Sextuple" title="Sextuple" class="mw-redirect">sextuples</a> of elements chosen from a two-element set.<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup></p>
<p>Similar sets of binary combinations have also been used in traditional <a href="/wiki/African" title="African" class="mw-redirect">African</a> divination systems such as <a href="/wiki/If%C3%A1" title="If">If</a> as well as in <a href="/wiki/Middle_Ages" title="Middle Ages">medieval</a> Western <a href="/wiki/Geomancy#Divination.2C_Geomancy.2C_fractals_and_modern_computers" title="Geomancy">geomancy</a>. The base-2 system utilized in geomancy had long been widely applied in sub-Saharan Africa.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:162px;"><a href="/wiki/File:Gottfried_Wilhelm_von_Leibniz.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Gottfried_Wilhelm_von_Leibniz.jpg/160px-Gottfried_Wilhelm_von_Leibniz.jpg" width="160" height="203" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Gottfried_Wilhelm_von_Leibniz.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Gottfried Leibniz</div>
</div>
</div>
<p>In 1605 <a href="/wiki/Francis_Bacon" title="Francis Bacon">Francis Bacon</a> discussed a system whereby letters of the alphabet could be reduced to sequences of binary digits, which could then be encoded as scarcely visible variations in the font in any random text.<sup id="cite_ref-Bacon1605_7-0" class="reference"><a href="#cite_note-Bacon1605-7"><span>[</span>8<span>]</span></a></sup> Importantly for the general theory of binary encoding, he added that this method could be used with any objects at all: "provided those objects be capable of a twofold difference only; as by Bells, by Trumpets, by Lights and Torches, by the report of Muskets, and any instruments of like nature".<sup id="cite_ref-Bacon1605_7-1" class="reference"><a href="#cite_note-Bacon1605-7"><span>[</span>8<span>]</span></a></sup> (See <a href="/wiki/Bacon%27s_cipher" title="Bacon's cipher">Bacon's cipher</a>.)</p>
<p>The modern binary number system was studied by <a href="/wiki/Gottfried_Leibniz" title="Gottfried Leibniz">Gottfried Leibniz</a> in 1679. See his article:<i>Explication de l'Arithmtique Binaire</i><sup id="cite_ref-8" class="reference"><a href="#cite_note-8"><span>[</span>9<span>]</span></a></sup>(1703). Leibniz's system uses 0 and 1, like the modern binary numeral system. As a <a href="/wiki/Sinophile" title="Sinophile">Sinophile</a>, Leibniz was aware of the <i>I Ching</i> and noted with fascination how its hexagrams correspond to the binary numbers from 0 to 111111, and concluded that this mapping was evidence of major Chinese accomplishments in the sort of philosophical <a href="/wiki/Mathematics" title="Mathematics">mathematics</a> he admired.<sup id="cite_ref-9" class="reference"><a href="#cite_note-9"><span>[</span>10<span>]</span></a></sup></p>
<p>In 1854, <a href="/wiki/United_Kingdom" title="United Kingdom">British</a> mathematician <a href="/wiki/George_Boole" title="George Boole">George Boole</a> published a landmark paper detailing an <a href="/wiki/Algebra" title="Algebra">algebraic</a> system of <a href="/wiki/Logic" title="Logic">logic</a> that would become known as <a href="/wiki/Boolean_algebra_(logic)" title="Boolean algebra (logic)">Boolean algebra</a>. His logical calculus was to become instrumental in the design of digital electronic circuitry.<sup id="cite_ref-10" class="reference"><a href="#cite_note-10"><span>[</span>11<span>]</span></a></sup></p>
<p>In 1937, <a href="/wiki/Claude_Shannon" title="Claude Shannon">Claude Shannon</a> produced his master's thesis at <a href="/wiki/MIT" title="MIT" class="mw-redirect">MIT</a> that implemented Boolean algebra and binary arithmetic using electronic relays and switches for the first time in history. Entitled <i><a href="/wiki/A_Symbolic_Analysis_of_Relay_and_Switching_Circuits" title="A Symbolic Analysis of Relay and Switching Circuits">A Symbolic Analysis of Relay and Switching Circuits</a></i>, Shannon's thesis essentially founded practical <a href="/wiki/Digital_circuit" title="Digital circuit" class="mw-redirect">digital circuit</a> design.<sup id="cite_ref-11" class="reference"><a href="#cite_note-11"><span>[</span>12<span>]</span></a></sup></p>
<p>In November 1937, <a href="/wiki/George_Stibitz" title="George Stibitz">George Stibitz</a>, then working at <a href="/wiki/Bell_Labs" title="Bell Labs">Bell Labs</a>, completed a relay-based computer he dubbed the "Model K" (for "<b>K</b>itchen", where he had assembled it), which calculated using binary addition.<sup id="cite_ref-12" class="reference"><a href="#cite_note-12"><span>[</span>13<span>]</span></a></sup> Bell Labs thus authorized a full research programme in late 1938 with Stibitz at the helm. Their Complex Number Computer, completed January 8, 1940, was able to calculate <a href="/wiki/Complex_numbers" title="Complex numbers" class="mw-redirect">complex numbers</a>. In a demonstration to the <a href="/wiki/American_Mathematical_Society" title="American Mathematical Society">American Mathematical Society</a> conference at <a href="/wiki/Dartmouth_College" title="Dartmouth College">Dartmouth College</a> on September 11, 1940, Stibitz was able to send the Complex Number Calculator remote commands over telephone lines by a <a href="/wiki/Teletype" title="Teletype" class="mw-redirect">teletype</a>. It was the first computing machine ever used remotely over a phone line. Some participants of the conference who witnessed the demonstration were <a href="/wiki/John_Von_Neumann" title="John Von Neumann" class="mw-redirect">John Von Neumann</a>, <a href="/wiki/John_Mauchly" title="John Mauchly">John Mauchly</a> and <a href="/wiki/Norbert_Wiener" title="Norbert Wiener">Norbert Wiener</a>, who wrote about it in his memoirs.<sup id="cite_ref-13" class="reference"><a href="#cite_note-13"><span>[</span>14<span>]</span></a></sup><sup id="cite_ref-14" class="reference"><a href="#cite_note-14"><span>[</span>15<span>]</span></a></sup><sup id="cite_ref-15" class="reference"><a href="#cite_note-15"><span>[</span>16<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=2" title="Edit section: Representation"></a>]</span> <span class="mw-headline" id="Representation">Representation</span></h2>
<p>Any number can be represented by any sequence of <a href="/wiki/Bit" title="Bit">bits</a> (binary digits), which in turn may be represented by any mechanism capable of being in two mutually exclusive states. The following sequence of symbols could all be interpreted as the binary numeric value of <a href="/wiki/667_(number)" title="667 (number)" class="mw-redirect">667</a>:</p>
<pre>
1 0 1 0 0 1 1 0 1 1
|  |   | |  | |
x o x o o x x o x x
y n y n n y y n y y
</pre>
<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Binary_clock.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/27/Binary_clock.svg/250px-Binary_clock.svg.png" width="250" height="183" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Binary_clock.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A <a href="/wiki/Binary_clock" title="Binary clock">binary clock</a> might use <a href="/wiki/Light-emitting_diode" title="Light-emitting diode">LEDs</a> to express binary values. In this clock, each column of LEDs shows a <a href="/wiki/Binary-coded_decimal" title="Binary-coded decimal">binary-coded decimal</a> numeral of the traditional <a href="/wiki/Sexagesimal" title="Sexagesimal">sexagesimal</a> time.</div>
</div>
</div>
<p>The numeric value represented in each case is dependent upon the value assigned to each symbol. In a computer, the numeric values may be represented by two different <a href="/wiki/Voltage" title="Voltage">voltages</a>; on a <a href="/wiki/Magnetic_field" title="Magnetic field">magnetic</a> <a href="/wiki/Disk_storage" title="Disk storage">disk</a>, magnetic <a href="/wiki/Polarity_(physics)" title="Polarity (physics)">polarities</a> may be used. A "positive", "<a href="/wiki/Yes_and_no" title="Yes and no">yes</a>", or "on" state is not necessarily equivalent to the numerical value of one; it depends on the architecture in use.</p>
<p>In keeping with customary representation of numerals using <a href="/wiki/Arabic_numerals" title="Arabic numerals">Arabic numerals</a>, binary numbers are commonly written using the symbols <b>0</b> and <b>1</b>. When written, binary numerals are often subscripted, prefixed or suffixed in order to indicate their base, or radix. The following notations are equivalent:</p>
<dl>
<dd>100101 binary (explicit statement of format)</dd>
<dd>100101b (a suffix indicating binary format)</dd>
<dd>100101B (a suffix indicating binary format)</dd>
<dd>bin 100101 (a prefix indicating binary format)</dd>
<dd>100101<sub>2</sub> (a subscript indicating base-2 (binary) notation)</dd>
<dd>%100101 (a prefix indicating binary format)</dd>
<dd>0b100101 (a prefix indicating binary format, common in programming languages)</dd>
<dd>6b100101 (a prefix indicating number of bits in binary format, common in programming languages)</dd>
</dl>
<p>When spoken, binary numerals are usually read digit-by-digit, in order to distinguish them from decimal numbers. For example, the binary numeral 100 is pronounced <i>one zero zero</i>, rather than <i>one hundred</i>, to make its binary nature explicit, and for purposes of correctness. Since the binary numeral 100 is equal to the decimal value four, it would be confusing to refer to the numeral as <i>one hundred</i>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=3" title="Edit section: Counting in binary"></a>]</span> <span class="mw-headline" id="Counting_in_binary">Counting in binary</span></h2>
<table class="wikitable" border="1" align="right">
<tr>
<th>Decimal pattern (Hex Value)</th>
<th>Binary numbers</th>
</tr>
<tr>
<td>0</td>
<td align="right">0</td>
</tr>
<tr>
<td>1</td>
<td align="right">1</td>
</tr>
<tr>
<td>2</td>
<td align="right">10</td>
</tr>
<tr>
<td>3</td>
<td align="right">11</td>
</tr>
<tr>
<td>4</td>
<td align="right">100</td>
</tr>
<tr>
<td>5</td>
<td align="right">101</td>
</tr>
<tr>
<td>6</td>
<td align="right">110</td>
</tr>
<tr>
<td>7</td>
<td align="right">111</td>
</tr>
<tr>
<td>8</td>
<td align="right">1000</td>
</tr>
<tr>
<td>9</td>
<td align="right">1001</td>
</tr>
<tr>
<td>10 - (A)</td>
<td align="right">1010</td>
</tr>
<tr>
<td>11 - (B)</td>
<td align="right">1011</td>
</tr>
<tr>
<td>12 - (C)</td>
<td align="right">1100</td>
</tr>
<tr>
<td>13 - (D)</td>
<td align="right">1101</td>
</tr>
<tr>
<td>14 - (E)</td>
<td align="right">1110</td>
</tr>
<tr>
<td>15 - (F)</td>
<td align="right">1111</td>
</tr>
<tr>
<td>16 - (10)</td>
<td align="right">10000</td>
</tr>
</table>
<p>Counting in binary is similar to counting in any other number system. Beginning with a single digit, counting proceeds through each symbol, in increasing order. Decimal counting uses the symbols <b>0</b> through <b>9</b>, while binary only uses the symbols <b>0</b> and <b>1</b>.</p>
<p>When the symbols for the first digit are exhausted, the next-higher digit (to the left) is incremented, and counting starts over at 0. In <a href="/wiki/Decimal" title="Decimal">decimal</a>, counting proceeds like so:</p>
<dl>
<dd>000, 001, 002, ... 007, 008, 009, (rightmost digit starts over, and next digit is incremented)</dd>
<dd>0<b>1</b>0, 011, 012, ...</dd>
<dd>&#160;&#160;&#160;...</dd>
<dd>090, 091, 092, ... 097, 098, 099, (rightmost two digits start over, and next digit is incremented)</dd>
<dd><b>1</b>00, 101, 102, ...</dd>
</dl>
<p>After a digit reaches 9, an increment resets it to 0 but also causes an increment of the next digit to the left. In binary, counting is the same except that only the two symbols 0 and 1 are used. Thus after a digit reaches 1 in binary, an increment resets it to 0 but also causes an increment of the next digit to the left:</p>
<dl>
<dd>0000,</dd>
<dd>000<b>1</b>, (rightmost digit starts over, and next digit is incremented)</dd>
<dd>00<b>1</b>0, 0011, (rightmost two digits start over, and next digit is incremented)</dd>
<dd>0<b>1</b>00, 0101, 0110, 0111, (rightmost three digits start over, and the next digit is incremented)</dd>
<dd><b>1</b>000, 1001, ...</dd>
</dl>
<p>Since binary is a base-2 system, each digit represents an increasing power of 2, with the rightmost digit representing 2<sup>0</sup>, the next representing 2<sup>1</sup>, then 2<sup>2</sup>, and so on. To determine the decimal representation of a binary number simply take the sum of the products of the binary digits and the powers of 2 which they represent. For example, the binary number:</p>
<p>100101</p>
<p>is converted to decimal form by:</p>
<p>[(<b>1</b>)  2<sup>5</sup>] + [(<b>0</b>)  2<sup>4</sup>] + [(<b>0</b>)  2<sup>3</sup>] + [(<b>1</b>)  2<sup>2</sup>] + [(<b>0</b>)  2<sup>1</sup>] + [(<b>1</b>)  2<sup>0</sup>] =</p>
<p>[<b>1</b>  32] + [<b>0</b>  16] + [<b>0</b>  8] + [<b>1</b>  4] + [<b>0</b>  2] + [<b>1</b>  1] = 37</p>
<p>To create higher numbers, additional digits are simply added to the left side of the binary representation.</p>
<h2><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=4" title="Edit section: Fractions in binary"></a>]</span> <span class="mw-headline" id="Fractions_in_binary">Fractions in binary</span></h2>
<p>Fractions in binary only terminate if the denominator has <a href="/wiki/2_(number)" title="2 (number)">2</a> as the only <a href="/wiki/Prime_factor" title="Prime factor">prime factor</a>. As a result, 1/10 does not have a finite binary representation, and this causes 10  0.1 not to be precisely equal to 1 in <a href="/wiki/Floating_point_arithmetic" title="Floating point arithmetic" class="mw-redirect">floating point arithmetic</a>. As an example, to interpret the binary expression for 1/3 = .010101..., this means: 1/3 = 0  <b>2<sup>1</sup></b> + 1  <b>2<sup>2</sup></b> + 0  <b>2<sup>3</sup></b> + 1  <b>2<sup>4</sup></b> + ... = 0.3125 + ... An exact value cannot be found with a sum of a finite number of inverse powers of two, and zeros and ones alternate forever.</p>
<table class="wikitable">
<tr>
<th>Fraction</th>
<th><a href="/wiki/Base_10" title="Base 10" class="mw-redirect">Decimal</a></th>
<th>Binary</th>
<th>Fractional Approx.</th>
</tr>
<tr>
<td>1/1</td>
<td>1<span style="padding-left: 0.25em;">&#160;</span>or<span style="padding-left: 0.25em;">&#160;</span>0.999...</td>
<td>1<span style="padding-left: 0.25em;">&#160;</span>or<span style="padding-left: 0.25em;">&#160;</span>0.111...</td>
<td>1/2+1/4+1/8...</td>
</tr>
<tr>
<td>1/2</td>
<td>0.5<span style="padding-left: 0.25em;">&#160;</span>or<span style="padding-left: 0.25em;">&#160;</span>0.4999...</td>
<td>0.1<span style="padding-left: 0.25em;">&#160;</span>or<span style="padding-left: 0.25em;">&#160;</span>0.0111...</td>
<td>1/4+1/8+1/16...</td>
</tr>
<tr>
<td>1/3</td>
<td>0.333...</td>
<td>0.010101...</td>
<td>1/4+1/16+1/64...</td>
</tr>
<tr>
<td>1/4</td>
<td>0.25<span style="padding-left: 0.25em;">&#160;</span>or<span style="padding-left: 0.25em;">&#160;</span>0.24999...</td>
<td>0.01<span style="padding-left: 0.25em;">&#160;</span>or<span style="padding-left: 0.25em;">&#160;</span>0.00111...</td>
<td>1/8+1/16+1/32...</td>
</tr>
<tr>
<td>1/5</td>
<td>0.2<span style="padding-left: 0.25em;">&#160;</span>or<span style="padding-left: 0.25em;">&#160;</span>0.1999...</td>
<td>0.00110011...</td>
<td>1/8+1/16+1/128...</td>
</tr>
<tr>
<td>1/6</td>
<td>0.1666...</td>
<td>0.0010101...</td>
<td>1/8+1/32+1/128...</td>
</tr>
<tr>
<td>1/7</td>
<td>0.142857142857...</td>
<td>0.001001...</td>
<td>1/8+1/64+1/512...</td>
</tr>
<tr>
<td>1/8</td>
<td>0.125<span style="padding-left: 0.25em;">&#160;</span>or<span style="padding-left: 0.25em;">&#160;</span>0.124999...</td>
<td>0.001<span style="padding-left: 0.25em;">&#160;</span>or<span style="padding-left: 0.25em;">&#160;</span>0.000111...</td>
<td>1/16+1/32+1/64...</td>
</tr>
<tr>
<td>1/9</td>
<td>0.111...</td>
<td>0.000111000111...</td>
<td>1/16+1/32+1/64...</td>
</tr>
<tr>
<td>1/10</td>
<td>0.1<span style="padding-left: 0.25em;">&#160;</span>or<span style="padding-left: 0.25em;">&#160;</span>0.0999...</td>
<td>0.000110011...</td>
<td>1/16+1/32+1/256...</td>
</tr>
<tr>
<td>1/11</td>
<td>0.090909...</td>
<td>0.00010111010001011101...</td>
<td>1/16+1/64+1/128...</td>
</tr>
<tr>
<td>1/12</td>
<td>0.08333...</td>
<td>0.00010101...</td>
<td>1/16+1/64+1/256...</td>
</tr>
<tr>
<td>1/13</td>
<td>0.076923076923...</td>
<td>0.000100111011000100111011...</td>
<td>1/16+1/128+1/256...</td>
</tr>
<tr>
<td>1/14</td>
<td>0.0714285714285...</td>
<td>0.0001001001...</td>
<td>1/16+1/128+1/1024...</td>
</tr>
<tr>
<td>1/15</td>
<td>0.0666...</td>
<td>0.00010001...</td>
<td>1/16+1/256...</td>
</tr>
<tr>
<td>1/16</td>
<td>0.0625<span style="padding-left: 0.25em;">&#160;</span>or<span style="padding-left: 0.25em;">&#160;</span>0.0624999...</td>
<td>0.0001<span style="padding-left: 0.25em;">&#160;</span>or<span style="padding-left: 0.25em;">&#160;</span>0.0000111...</td>
<td>1/32+1/64+1/128...</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=5" title="Edit section: Binary arithmetic"></a>]</span> <span class="mw-headline" id="Binary_arithmetic">Binary arithmetic</span></h2>
<p><a href="/wiki/Arithmetic" title="Arithmetic">Arithmetic</a> in binary is much like arithmetic in other numeral systems. Addition, subtraction, multiplication, and division can be performed on binary numerals.</p>
<h3><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=6" title="Edit section: Addition"></a>]</span> <span class="mw-headline" id="Addition">Addition</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a href="/wiki/File:Half_Adder.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Half_Adder.svg/200px-Half_Adder.svg.png" width="200" height="111" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Half_Adder.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The <a href="/wiki/Circuit_diagram" title="Circuit diagram">circuit diagram</a> for a binary <a href="/wiki/Adder_(electronics)" title="Adder (electronics)">half adder</a>, which adds two bits together, producing sum and carry bits.</div>
</div>
</div>
<p>The simplest arithmetic operation in binary is <a href="/wiki/Addition" title="Addition">addition</a>. Adding two single-digit binary numbers is relatively simple, using a form of carrying:</p>
<dl>
<dd>0 + 0  0</dd>
<dd>0 + 1  1</dd>
<dd>1 + 0  1</dd>
<dd>1 + 1  0, carry 1 (since 1 + 1 = 0 + 1  binary 10)</dd>
</dl>
<p>Adding two "1" digits produces a digit "0", while 1 will have to be added to the next column. This is similar to what happens in decimal when certain single-digit numbers are added together; if the result equals or exceeds the value of the radix (10), the digit to the left is incremented:</p>
<dl>
<dd>5 + 5  0, carry 1 (since 5 + 5 = 10 carry 1)</dd>
<dd>7 + 9  6, carry 1 (since 7 + 9 = 16 carry 1)</dd>
</dl>
<p>This is known as <i>carrying</i>. When the result of an addition exceeds the value of a digit, the procedure is to "carry" the excess amount divided by the radix (that is, 10/10) to the left, adding it to the next positional value. This is correct since the next position has a weight that is higher by a factor equal to the radix. Carrying works the same way in binary:</p>
<pre>
  1 1 1 1 1  (carried digits)
    0 1 1 0 1
+   1 0 1 1 1
-------------
= 1 0 0 1 0 0 = 36
</pre>
<p>In this example, two numerals are being added together: 01101<sub>2</sub> (13<sub>10</sub>) and 10111<sub>2</sub> (23<sub>10</sub>). The top row shows the carry bits used. Starting in the rightmost column, 1 + 1 = 10<sub>2</sub>. The 1 is carried to the left, and the 0 is written at the bottom of the rightmost column. The second column from the right is added: 1 + 0 + 1 = 10<sub>2</sub> again; the 1 is carried, and 0 is written at the bottom. The third column: 1 + 1 + 1 = 11<sub>2</sub>. This time, a 1 is carried, and a 1 is written in the bottom row. Proceeding like this gives the final answer 100100<sub>2</sub> (36 decimal).</p>
<p>When computers must add two numbers, the rule that: x <a href="/wiki/Exclusive_or" title="Exclusive or">xor</a> y = (x + y) <a href="/wiki/Modulo_operation" title="Modulo operation">mod</a> 2 for any two bits x and y allows for very fast calculation, as well.</p>
<p>A simplification for many binary addition problems is the <a href="/w/index.php?title=Long_Carry_Method&amp;action=&amp;redlink=1" class="new" title="Long Carry Method (page does not exist)">Long Carry Method</a> or <a href="/w/index.php?title=Brookhouse_Method_of_Binary_Addition&amp;action=&amp;redlink=1" class="new" title="Brookhouse Method of Binary Addition (page does not exist)">Brookhouse Method of Binary Addition</a>. This method is generally useful in any binary addition where one of the numbers has a long string of 1 digits. For example the following large binary numbers can be added in two simple steps without multiple carries from one place to the next.</p>
<pre>
  1 1 1   1 1 1 1 1   (carried digits)                   (Long Carry Method)
    1 1 1 0 1 1 1 1 1 0                              <s>1 1 1</s> 0 <s>1 1 1 1 1</s> 0
+   1 0 1 0 1 1 0 0 1 1            Versus:       +   1 0 <s>1</s> 0 1 1 0 0 <s>1</s> 1  add crossed out digits first
-----------------------                          + 1 0 0 0 1 0 0 0 0 0 0  = sum of crossed out digits
= 1 1 0 0 1 1 1 0 0 0 1                          -----------------------  now add remaining digits
                                                   1 1 0 0 1 1 1 0 0 0 1
</pre>
<p>In this example, two numerals are being added together: 1 1 1 0 1 1 1 1 1 0<sub>2</sub> (958<sub>10</sub>) and 1 0 1 0 1 1 0 0 1 1<sub>2</sub> (691<sub>10</sub>). The top row shows the carry bits used. Instead of the standard carry from one column to the next, the lowest place-valued "1" with a "1" in the corresponding place value beneath it may be added and a "1" may be carried to one digit past the end of the series. These numbers must be crossed off since they are already added. Then simply add that result to the uncanceled digits in the second row. Proceeding like this gives the final answer 1 1 0 0 1 1 1 0 0 0 1<sub>2</sub> (1649<sub>10</sub>).</p>
<h4><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=7" title="Edit section: Addition table"></a>]</span> <span class="mw-headline" id="Addition_table">Addition table</span></h4>
<table class="wikitable" style="text-align:center">
<tr>
<th style="width:1.5em"></th>
<th style="width:1.5em">0</th>
<th style="width:1.5em">1</th>
</tr>
<tr>
<th>0</th>
<td>0</td>
<td>1</td>
</tr>
<tr>
<th>1</th>
<td>1</td>
<td>10</td>
</tr>
</table>
<p>The binary addition table is similar, but not the same, as the <a href="/wiki/Logical_disjunction#Truth_table" title="Logical disjunction">Truth table</a> of the <a href="/wiki/Logical_disjunction" title="Logical disjunction">Logical disjunction</a> operation <img class="tex" alt="\or" src="//upload.wikimedia.org/wikipedia/en/math/5/a/d/5addb134385e47a2efa484f6306e75a1.png" />. The difference is that <img class="tex" alt="1" src="//upload.wikimedia.org/wikipedia/en/math/c/4/c/c4ca4238a0b923820dcc509a6f75849b.png" /><img class="tex" alt="\or " src="//upload.wikimedia.org/wikipedia/en/math/5/a/d/5addb134385e47a2efa484f6306e75a1.png" /><img class="tex" alt="1=1" src="//upload.wikimedia.org/wikipedia/en/math/5/0/3/50347a3f14aea923e9f8eac867fd3bb1.png" />, while <img class="tex" alt="1+1=10" src="//upload.wikimedia.org/wikipedia/en/math/d/3/8/d382d7d4feb2f95148407eff21d72f2d.png" />.</p>
<h3><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=8" title="Edit section: Subtraction"></a>]</span> <span class="mw-headline" id="Subtraction">Subtraction</span></h3>
<p><a href="/wiki/Subtraction" title="Subtraction">Subtraction</a> works in much the same way:</p>
<dl>
<dd>0  0  0</dd>
<dd>0  1  1, borrow 1</dd>
<dd>1  0  1</dd>
<dd>1  1  0</dd>
</dl>
<p>Subtracting a "1" digit from a "0" digit produces the digit "1", while 1 will have to be subtracted from the next column. This is known as <i>borrowing</i>. The principle is the same as for carrying. When the result of a subtraction is less than 0, the least possible value of a digit, the procedure is to "borrow" the deficit divided by the radix (that is, 10/10) from the left, subtracting it from the next positional value.</p>
<pre>
    *   * * *   (starred columns are borrowed from)
  1 1 0 1 1 1 0
     1 0 1 1 1
----------------
= 1 0 1 0 1 1 1
</pre>
<p>Subtracting a positive number is equivalent to <i>adding</i> a <a href="/wiki/Negative_number" title="Negative number">negative number</a> of equal <a href="/wiki/Absolute_value" title="Absolute value">absolute value</a>; computers typically use <a href="/wiki/Two%27s_complement" title="Two's complement">two's complement</a> notation to represent negative values. This notation eliminates the need for a separate "subtract" operation. Using two's complement notation subtraction can be summarized by the following formula:</p>
<p><b>A  B = A + not B + 1</b></p>
<p>For further details, see <a href="/wiki/Two%27s_complement" title="Two's complement">two's complement</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=9" title="Edit section: Multiplication"></a>]</span> <span class="mw-headline" id="Multiplication">Multiplication</span></h3>
<p><a href="/wiki/Multiplication" title="Multiplication">Multiplication</a> in binary is similar to its decimal counterpart. Two numbers <i>A</i> and <i>B</i> can be multiplied by partial products: for each digit in <i>B</i>, the product of that digit in <i>A</i> is calculated and written on a new line, shifted leftward so that its rightmost digit lines up with the digit in <i>B</i> that was used. The sum of all these partial products gives the final result.</p>
<p>Since there are only two digits in binary, there are only two possible outcomes of each partial multiplication:</p>
<ul>
<li>If the digit in <i>B</i> is 0, the partial product is also 0</li>
<li>If the digit in <i>B</i> is 1, the partial product is equal to <i>A</i></li>
</ul>
<p>For example, the binary numbers 1011 and 1010 are multiplied as follows:</p>
<pre>
           1 0 1 1   (A)
          1 0 1 0   (B)
         ---------
           0 0 0 0    Corresponds to a zero in B
   +     1 0 1 1      Corresponds to a one in B
   +   0 0 0 0
   + 1 0 1 1
   ---------------
   = 1 1 0 1 1 1 0
</pre>
<p>Binary numbers can also be multiplied with bits after a <a href="/wiki/Binary_point" title="Binary point" class="mw-redirect">binary point</a>:</p>
<pre>
               1 0 1.1 0 1   (A) (5.625 in decimal)
              1 1 0.0 1     (B) (6.25  in decimal)
             -------------
                   1.0 1 1 0 1    Corresponds to a one in B
     +           0 0.0 0 0 0      Corresponds to a zero in B
     +         0 0 0.0 0 0
     +       1 0 1 1.0 1
     +     1 0 1 1 0.1
     -----------------------
     =   1 0 0 0 1 1.0 0 1 0 1   (35.15625 in decimal)
</pre>
<p>See also <a href="/wiki/Booth%27s_multiplication_algorithm" title="Booth's multiplication algorithm">Booth's multiplication algorithm</a>.</p>
<h4><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=10" title="Edit section: Multiplication table"></a>]</span> <span class="mw-headline" id="Multiplication_table">Multiplication table</span></h4>
<table class="wikitable" style="text-align:center">
<tr>
<th style="width:1.5em"></th>
<th style="width:1.5em">0</th>
<th style="width:1.5em">1</th>
</tr>
<tr>
<th>0</th>
<td>0</td>
<td>0</td>
</tr>
<tr>
<th>1</th>
<td>0</td>
<td>1</td>
</tr>
</table>
<p>The binary multiplication table is the same as the <a href="/wiki/Logical_conjunction#Truth_table" title="Logical conjunction">Truth table</a> of the <a href="/wiki/Logical_conjunction" title="Logical conjunction">Logical conjunction</a> operation <img class="tex" alt="\and" src="//upload.wikimedia.org/wikipedia/en/math/9/c/a/9cae4437756a15b8e44ec23e07fb1f65.png" />.</p>
<h3><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=11" title="Edit section: Division"></a>]</span> <span class="mw-headline" id="Division">Division</span></h3>
<dl>
<dd>
<div class="rellink boilerplate seealso">See also: <a href="/wiki/Division_(digital)" title="Division (digital)">Division (digital)</a></div>
</dd>
</dl>
<p>Binary <a href="/wiki/Division_(mathematics)" title="Division (mathematics)">division</a> is again similar to its decimal counterpart:</p>
<p>Here, the <a href="/wiki/Divisor" title="Divisor">divisor</a> is 101<sub>2</sub>, or 5 decimal, while the <a href="/wiki/Dividend" title="Dividend">dividend</a> is 11011<sub>2</sub>, or 27 decimal. The procedure is the same as that of decimal <a href="/wiki/Long_division" title="Long division">long division</a>; here, the divisor 101<sub>2</sub> goes into the first three digits 110<sub>2</sub> of the dividend one time, so a "1" is written on the top line. This result is multiplied by the divisor, and subtracted from the first three digits of the dividend; the next digit (a "1") is included to obtain a new three-digit sequence:</p>
<pre>
              1
        ___________
1 0 1   ) 1 1 0 1 1 
         1 0 1
          -----
            0 1 1
</pre>
<p>The procedure is then repeated with the new sequence, continuing until the digits in the dividend have been exhausted:</p>
<pre>
             1 0 1
       ___________
1 0 1  ) 1 1 0 1 1
        1 0 1
         -----
           0 1 1
          0 0 0
           -----
             1 1 1
            1 0 1
             -----
               1 0
</pre>
<p>Thus, the <a href="/wiki/Quotient" title="Quotient">quotient</a> of 11011<sub>2</sub> divided by 101<sub>2</sub> is 101<sub>2</sub>, as shown on the top line, while the remainder, shown on the bottom line, is 10<sub>2</sub>. In decimal, 27 divided by 5 is 5, with a remainder of 2.</p>
<h2><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=12" title="Edit section: Bitwise operations"></a>]</span> <span class="mw-headline" id="Bitwise_operations">Bitwise operations</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Bitwise_operation" title="Bitwise operation">bitwise operation</a></div>
<p>Though not directly related to the numerical interpretation of binary symbols, sequences of bits may be manipulated using <a href="/wiki/Logical_connective" title="Logical connective">Boolean logical operators</a>. When a string of binary symbols is manipulated in this way, it is called a <a href="/wiki/Bitwise_operation" title="Bitwise operation">bitwise operation</a>; the logical operators <a href="/wiki/Logical_conjunction" title="Logical conjunction">AND</a>, <a href="/wiki/Logical_disjunction" title="Logical disjunction">OR</a>, and <a href="/wiki/Exclusive_disjunction" title="Exclusive disjunction" class="mw-redirect">XOR</a> may be performed on corresponding bits in two binary numerals provided as input. The logical <a href="/wiki/Negation" title="Negation">NOT</a> operation may be performed on individual bits in a single binary numeral provided as input. Sometimes, such operations may be used as arithmetic short-cuts, and may have other computational benefits as well. For example, an <a href="/wiki/Arithmetic_shift" title="Arithmetic shift">arithmetic shift</a> left of a binary number is the equivalent of multiplication by a (positive, integral) power of 2.</p>
<h2><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=13" title="Edit section: Conversion to and from other numeral systems"></a>]</span> <span class="mw-headline" id="Conversion_to_and_from_other_numeral_systems">Conversion to and from other numeral systems</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=14" title="Edit section: Decimal"></a>]</span> <span class="mw-headline" id="Decimal">Decimal</span></h3>
<p>To convert from a base-10 integer numeral to its base-2 (binary) equivalent, the number is <a href="/wiki/Division_by_two" title="Division by two">divided by two</a>, and the remainder is the <a href="/wiki/Least-significant_bit" title="Least-significant bit" class="mw-redirect">least-significant bit</a>. The (integer) result is again divided by two, its remainder is the next least significant bit. This process repeats until the quotient becomes zero.</p>
<p>Conversion from base-2 to base-10 proceeds by applying the preceding algorithm, so to speak, in reverse. The bits of the binary number are used one by one, starting with the most significant (leftmost) bit. Beginning with the value 0, repeatedly double the prior value and add the next bit to produce the next value. This can be organized in a multi-column table. For example to convert 10010101101<sub>2</sub> to decimal:</p>
<dl>
<dd>
<table class="wikitable">
<tr>
<th>Prior value</th>
<th> 2 +</th>
<th>Next Bit</th>
<th>Next value</th>
</tr>
<tr>
<td align="right">0</td>
<td> 2 +</td>
<td><b>1</b></td>
<td>= 1</td>
</tr>
<tr>
<td align="right">1</td>
<td> 2 +</td>
<td><b>0</b></td>
<td>= 2</td>
</tr>
<tr>
<td align="right">2</td>
<td> 2 +</td>
<td><b>0</b></td>
<td>= 4</td>
</tr>
<tr>
<td align="right">4</td>
<td> 2 +</td>
<td><b>1</b></td>
<td>= 9</td>
</tr>
<tr>
<td align="right">9</td>
<td> 2 +</td>
<td><b>0</b></td>
<td>= 18</td>
</tr>
<tr>
<td align="right">18</td>
<td> 2 +</td>
<td><b>1</b></td>
<td>= 37</td>
</tr>
<tr>
<td align="right">37</td>
<td> 2 +</td>
<td><b>0</b></td>
<td>= 74</td>
</tr>
<tr>
<td align="right">74</td>
<td> 2 +</td>
<td><b>1</b></td>
<td>= 149</td>
</tr>
<tr>
<td align="right">149</td>
<td> 2 +</td>
<td><b>1</b></td>
<td>= 299</td>
</tr>
<tr>
<td align="right">299</td>
<td> 2 +</td>
<td><b>0</b></td>
<td>= 598</td>
</tr>
<tr>
<td align="right">598</td>
<td> 2 +</td>
<td><b>1</b></td>
<td>= <b>1197</b></td>
</tr>
</table>
</dd>
</dl>
<p>The result is 1197<sub>10</sub>. Note that the first Prior Value of 0 is simply an initial decimal value. This method is an application of the <a href="/wiki/Horner_scheme" title="Horner scheme" class="mw-redirect">Horner scheme</a>.</p>
<table>
<tr>
<th>Binary&#160;</th>
<td>1</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td></td>
</tr>
<tr>
<th>Decimal&#160;</th>
<td>12<sup>10</sup> +</td>
<td>02<sup>9</sup> +</td>
<td>02<sup>8</sup> +</td>
<td>12<sup>7</sup> +</td>
<td>02<sup>6</sup> +</td>
<td>12<sup>5</sup> +</td>
<td>02<sup>4</sup> +</td>
<td>12<sup>3</sup> +</td>
<td>12<sup>2</sup> +</td>
<td>02<sup>1</sup> +</td>
<td>12<sup>0</sup> =</td>
<td>1197</td>
</tr>
</table>
<p>The fractional parts of a number are converted with similar methods. They are again based on the equivalence of shifting with doubling or halving.</p>
<p>In a fractional binary number such as .11010110101<sub>2</sub>, the first digit is <img class="tex" alt="\begin{matrix} \frac{1}{2} \end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/5/b/1/5b13567b38be9c20d4420c513aae8e2e.png" />, the second <img class="tex" alt="\begin{matrix} (\frac{1}{2})^2 = \frac{1}{4} \end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/4/3/5/435a8c36b8649ae9977fd4eed46cff01.png" />, etc. So if there is a 1 in the first place after the decimal, then the number is at least <img class="tex" alt="\begin{matrix} \frac{1}{2} \end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/5/b/1/5b13567b38be9c20d4420c513aae8e2e.png" />, and vice versa. Double that number is at least 1. This suggests the algorithm: Repeatedly double the number to be converted, record if the result is at least 1, and then throw away the integer part.</p>
<p>For example, <img class="tex" alt="\begin{matrix} (\frac{1}{3}) \end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/5/9/e/59ef3c96eb4199cd54ebb7ba6d2cb399.png" /><sub>10</sub>, in binary, is:</p>
<dl>
<dd>
<table class="wikitable">
<tr>
<th>Converting</th>
<th>Result</th>
</tr>
<tr>
<td><img class="tex" alt="\begin{matrix} \frac{1}{3} \end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/1/4/9/149ed93ee0d7103439c23078c5c13b18.png" /></td>
<td>0.</td>
</tr>
<tr>
<td><img class="tex" alt="\begin{matrix} \frac{1}{3} \times 2 = \frac{2}{3} &lt; 1 \end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/1/e/e/1ee690232cb104d2c258b4e31d2123a4.png" /></td>
<td>0.0</td>
</tr>
<tr>
<td><img class="tex" alt="\begin{matrix} \frac{2}{3} \times 2 = 1\frac{1}{3} \ge 1 \end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/e/d/6/ed6df1779509310f40c3924428a3e36b.png" /></td>
<td>0.01</td>
</tr>
<tr>
<td><img class="tex" alt="\begin{matrix} \frac{1}{3} \times 2 = \frac{2}{3} &lt; 1 \end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/1/e/e/1ee690232cb104d2c258b4e31d2123a4.png" /></td>
<td>0.010</td>
</tr>
<tr>
<td><img class="tex" alt="\begin{matrix} \frac{2}{3} \times 2 = 1\frac{1}{3} \ge 1 \end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/e/d/6/ed6df1779509310f40c3924428a3e36b.png" /></td>
<td>0.0101</td>
</tr>
</table>
</dd>
</dl>
<p>Thus the repeating decimal fraction 0.<span style="text-decoration:overline;">3</span>... is equivalent to the repeating binary fraction 0.<span style="text-decoration:overline;">01</span>... .</p>
<p>Or for example, 0.1<sub>10</sub>, in binary, is:</p>
<dl>
<dd>
<table class="wikitable">
<tr>
<th>Converting</th>
<th>Result</th>
</tr>
<tr>
<td><b>0.1</b></td>
<td>0.</td>
</tr>
<tr>
<td>0.1  2 = <b>0.2</b> &lt; 1</td>
<td>0.0</td>
</tr>
<tr>
<td>0.2  2 = <b>0.4</b> &lt; 1</td>
<td>0.00</td>
</tr>
<tr>
<td>0.4  2 = <b>0.8</b> &lt; 1</td>
<td>0.000</td>
</tr>
<tr>
<td>0.8  2 = <b>1.6</b>  1</td>
<td>0.0001</td>
</tr>
<tr>
<td>0.6  2 = <b>1.2</b>  1</td>
<td>0.00011</td>
</tr>
<tr>
<td>0.2  2 = <b>0.4</b> &lt; 1</td>
<td>0.000110</td>
</tr>
<tr>
<td>0.4  2 = <b>0.8</b> &lt; 1</td>
<td>0.0001100</td>
</tr>
<tr>
<td>0.8  2 = <b>1.6</b>  1</td>
<td>0.00011001</td>
</tr>
<tr>
<td>0.6  2 = <b>1.2</b>  1</td>
<td>0.000110011</td>
</tr>
<tr>
<td>0.2  2 = <b>0.4</b> &lt; 1</td>
<td>0.0001100110</td>
</tr>
</table>
</dd>
</dl>
<p>This is also a repeating binary fraction 0.0<span style="text-decoration:overline;">0011</span>... . It may come as a surprise that terminating decimal fractions can have repeating expansions in binary. It is for this reason that many are surprised to discover that 0.1 + ... + 0.1, (10 additions) differs from 1 in <a href="/wiki/Floating_point_arithmetic" title="Floating point arithmetic" class="mw-redirect">floating point arithmetic</a>. In fact, the only binary fractions with terminating expansions are of the form of an integer divided by a power of 2, which 1/10 is not.</p>
<p>The final conversion is from binary to decimal fractions. The only difficulty arises with repeating fractions, but otherwise the method is to shift the fraction to an integer, convert it as above, and then divide by the appropriate power of two in the decimal base. For example:</p>
<dl>
<dd>
<table>
<tr>
<td><img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /></td>
<td align="right">=</td>
<td align="right"><b>1100</b></td>
<td align="left"><b>.1<span style="text-decoration:overline;">01110</span>...</b></td>
</tr>
<tr>
<td><img class="tex" alt="x \times 2^6" src="//upload.wikimedia.org/wikipedia/en/math/f/8/6/f86a4b938cbbfa0181bde2de194ac11e.png" /></td>
<td align="right">=</td>
<td align="right"><b>1100101110</b></td>
<td align="left"><b>.<span style="text-decoration:overline;">01110</span>...</b></td>
</tr>
<tr>
<td><img class="tex" alt="x \times 2" src="//upload.wikimedia.org/wikipedia/en/math/e/d/d/edda0fbf2ea0cb5edf5ebac14f0ef8bb.png" /></td>
<td align="right">=</td>
<td align="right"><b>11001</b></td>
<td align="left"><b>.<span style="text-decoration:overline;">01110</span>...</b></td>
</tr>
<tr>
<td><img class="tex" alt="x \times (2^6 - 2)" src="//upload.wikimedia.org/wikipedia/en/math/4/1/c/41cd24aa202a93a177d3c17703999115.png" /></td>
<td align="right">=</td>
<td align="right"><b>1100010101</b></td>
</tr>
<tr>
<td><img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /></td>
<td align="right">=</td>
<td align="right">(789/62)<sub>10</sub></td>
</tr>
</table>
</dd>
</dl>
<p>Another way of converting from binary to decimal, often quicker for a person familiar with <a href="/wiki/Hexadecimal" title="Hexadecimal">hexadecimal</a>, is to do so indirectlyfirst converting (<img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /> in binary) into (<img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /> in hexadecimal) and then converting (<img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /> in hexadecimal) into (<img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /> in decimal).</p>
<p>For very large numbers, these simple methods are inefficient because they perform a large number of multiplications or divisions where one operand is very large. A simple divide-and-conquer algorithm is more effective asymptotically: given a binary number, it is divided by 10<sup><i>k</i></sup>, where <i>k</i> is chosen so that the quotient roughly equals the remainder; then each of these pieces is converted to decimal and the two are <a href="/wiki/Concatenation" title="Concatenation">concatenated</a>. Given a decimal number, it can be split into two pieces of about the same size, each of which is converted to binary, whereupon the first converted piece is multiplied by 10<sup><i>k</i></sup> and added to the second converted piece, where <i>k</i> is the number of decimal digits in the second, least-significant piece before conversion.</p>
<h3><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=15" title="Edit section: Hexadecimal"></a>]</span> <span class="mw-headline" id="Hexadecimal">Hexadecimal</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Hexadecimal" title="Hexadecimal">hexadecimal</a></div>
<table border="0" cellspacing="0" cellpadding="0" style="text-align:center;border:2px" align="right">
<tr style="background:black; height:2px">
<td style="background:black; width:2px"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr style="background:#c0c0ff; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td style="width:45px"><b>0</b><sub>hex</sub></td>
<td>=</td>
<td style="width:45px"><a href="/wiki/0_(number)" title="0 (number)">0<sub>dec</sub></a></td>
<td>=</td>
<td style="width:45px">0<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:white;width:24px">0</td>
<td style="background:white;width:24px">0</td>
<td style="background:white;width:24px">0</td>
<td style="background:white;width:24px">0</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:white; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>1</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/1_(number)" title="1 (number)">1<sub>dec</sub></a></td>
<td>=</td>
<td>1<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:white;width:24px">0</td>
<td style="background:white;width:24px">0</td>
<td style="background:white;width:24px">0</td>
<td style="background:red;width:24px">1</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:white; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>2</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/2_(number)" title="2 (number)">2<sub>dec</sub></a></td>
<td>=</td>
<td>2<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:white;width:24px">0</td>
<td style="background:white;width:24px">0</td>
<td style="background:red;width:24px">1</td>
<td style="background:white;width:24px">0</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:#e1e1ff; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>3</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/3_(number)" title="3 (number)">3<sub>dec</sub></a></td>
<td>=</td>
<td>3<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:white;width:24px">0</td>
<td style="background:white;width:24px">0</td>
<td style="background:red;width:24px">1</td>
<td style="background:red;width:24px">1</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:black; height:2px">
<td style="background:black; width:2px"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr style="background:white; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>4</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/4_(number)" title="4 (number)">4<sub>dec</sub></a></td>
<td>=</td>
<td>4<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:white;width:24px">0</td>
<td style="background:red;width:24px">1</td>
<td style="background:white;width:24px">0</td>
<td style="background:white;width:24px">0</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:#e1e1ff; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>5</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/5_(number)" title="5 (number)">5<sub>dec</sub></a></td>
<td>=</td>
<td>5<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:white;width:24px">0</td>
<td style="background:red;width:24px">1</td>
<td style="background:white;width:24px">0</td>
<td style="background:red;width:24px">1</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:#e1ffe1; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>6</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/6_(number)" title="6 (number)">6<sub>dec</sub></a></td>
<td>=</td>
<td>6<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:white;width:24px">0</td>
<td style="background:red;width:24px">1</td>
<td style="background:red;width:24px">1</td>
<td style="background:white;width:24px">0</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:white; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>7</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/7_(number)" title="7 (number)">7<sub>dec</sub></a></td>
<td>=</td>
<td>7<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:white;width:24px">0</td>
<td style="background:red;width:24px">1</td>
<td style="background:red;width:24px">1</td>
<td style="background:red;width:24px">1</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:black; height:2px">
<td style="background:black; width:2px"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr style="background:white; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>8</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/8_(number)" title="8 (number)">8<sub>dec</sub></a></td>
<td>=</td>
<td>10<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:red;width:24px">1</td>
<td style="background:white;width:24px">0</td>
<td style="background:white;width:24px">0</td>
<td style="background:white;width:24px">0</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:#e1ffe1; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>9</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/9_(number)" title="9 (number)">9<sub>dec</sub></a></td>
<td>=</td>
<td>11<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:red;width:24px">1</td>
<td style="background:white;width:24px">0</td>
<td style="background:white;width:24px">0</td>
<td style="background:red;width:24px">1</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:#e1e1ff; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>A</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/10_(number)" title="10 (number)">10<sub>dec</sub></a></td>
<td>=</td>
<td>12<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:red;width:24px">1</td>
<td style="background:white;width:24px">0</td>
<td style="background:red;width:24px">1</td>
<td style="background:white;width:24px">0</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:white; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>B</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/11_(number)" title="11 (number)">11<sub>dec</sub></a></td>
<td>=</td>
<td>13<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:red;width:24px">1</td>
<td style="background:white;width:24px">0</td>
<td style="background:red;width:24px">1</td>
<td style="background:red;width:24px">1</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:black; height:2px">
<td style="background:black; width:2px"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr style="background:#e1e1ff; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>C</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/12_(number)" title="12 (number)">12<sub>dec</sub></a></td>
<td>=</td>
<td>14<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:red;width:24px">1</td>
<td style="background:red;width:24px">1</td>
<td style="background:white;width:24px">0</td>
<td style="background:white;width:24px">0</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:white; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>D</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/13_(number)" title="13 (number)">13<sub>dec</sub></a></td>
<td>=</td>
<td>15<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:red;width:24px">1</td>
<td style="background:red;width:24px">1</td>
<td style="background:white;width:24px">0</td>
<td style="background:red;width:24px">1</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:white; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>E</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/14_(number)" title="14 (number)">14<sub>dec</sub></a></td>
<td>=</td>
<td>16<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:red;width:24px">1</td>
<td style="background:red;width:24px">1</td>
<td style="background:red;width:24px">1</td>
<td style="background:white;width:24px">0</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:#c0c0ff; color:black; height:24px">
<td style="background:black; width:2px"></td>
<td><b>F</b><sub>hex</sub></td>
<td>=</td>
<td><a href="/wiki/15_(number)" title="15 (number)">15<sub>dec</sub></a></td>
<td>=</td>
<td>17<sub>oct</sub></td>
<td style="background:black; width:2px"></td>
<td style="background:red;width:24px">1</td>
<td style="background:red;width:24px">1</td>
<td style="background:red;width:24px">1</td>
<td style="background:red;width:24px">1</td>
<td style="background:black; width:2px"></td>
</tr>
<tr style="background:black; height:2px">
<td style="background:black; width:2px"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
<p>Binary may be converted to and from hexadecimal somewhat more easily. This is because the <a href="/wiki/Radix" title="Radix">radix</a> of the hexadecimal system (16) is a power of the radix of the binary system (2). More specifically, 16 = 2<sup>4</sup>, so it takes four digits of binary to represent one digit of hexadecimal, as shown in the table to the right.</p>
<p>To convert a hexadecimal number into its binary equivalent, simply substitute the corresponding binary digits:</p>
<dl>
<dd>3A<sub>16</sub> = 0011 1010<sub>2</sub></dd>
<dd>E7<sub>16</sub> = 1110 0111<sub>2</sub></dd>
</dl>
<p>To convert a binary number into its hexadecimal equivalent, divide it into groups of four bits. If the number of bits isn't a multiple of four, simply insert extra <b>0</b> bits at the left (called <a href="/wiki/Padding_(cryptography)#Bit_padding" title="Padding (cryptography)">padding</a>). For example:</p>
<dl>
<dd>1010010<sub>2</sub> = 0101 0010 grouped with padding = 52<sub>16</sub></dd>
<dd>11011101<sub>2</sub> = 1101 1101 grouped = DD<sub>16</sub></dd>
</dl>
<p>To convert a hexadecimal number into its decimal equivalent, multiply the decimal equivalent of each hexadecimal digit by the corresponding power of 16 and add the resulting values:</p>
<dl>
<dd>C0E7<sub>16</sub> = (12  16<sup>3</sup>) + (0  16<sup>2</sup>) + (14  16<sup>1</sup>) + (7  16<sup>0</sup>) = (12  4096) + (0  256) + (14  16) + (7  1) = 49,383<sub>10</sub></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=16" title="Edit section: Octal"></a>]</span> <span class="mw-headline" id="Octal">Octal</span></h3>
<p>Binary is also easily converted to the <a href="/wiki/Octal" title="Octal">octal</a> numeral system, since octal uses a radix of 8, which is a <a href="/wiki/Power_of_two" title="Power of two">power of two</a> (namely, 2<sup>3</sup>, so it takes exactly three binary digits to represent an octal digit). The correspondence between octal and binary numerals is the same as for the first eight digits of <a href="/wiki/Hexadecimal" title="Hexadecimal">hexadecimal</a> in the table above. Binary 000 is equivalent to the octal digit 0, binary 111 is equivalent to octal 7, and so forth.</p>
<dl>
<dd>
<table class="wikitable" style="text-align:center">
<tr>
<th>Octal</th>
<th>Binary</th>
</tr>
<tr>
<td>0</td>
<td>000</td>
</tr>
<tr>
<td>1</td>
<td>001</td>
</tr>
<tr>
<td>2</td>
<td>010</td>
</tr>
<tr>
<td>3</td>
<td>011</td>
</tr>
<tr>
<td>4</td>
<td>100</td>
</tr>
<tr>
<td>5</td>
<td>101</td>
</tr>
<tr>
<td>6</td>
<td>110</td>
</tr>
<tr>
<td>7</td>
<td>111</td>
</tr>
</table>
</dd>
</dl>
<p>Converting from octal to binary proceeds in the same fashion as it does for <a href="/wiki/Hexadecimal" title="Hexadecimal">hexadecimal</a>:</p>
<dl>
<dd>65<sub>8</sub> = 110 101<sub>2</sub></dd>
<dd>17<sub>8</sub> = 001 111<sub>2</sub></dd>
</dl>
<p>And from binary to octal:</p>
<dl>
<dd>101100<sub>2</sub> = 101 100<sub>2</sub> grouped = 54<sub>8</sub></dd>
<dd>10011<sub>2</sub> = 010 011<sub>2</sub> grouped with padding = 23<sub>8</sub></dd>
</dl>
<p>And from octal to decimal:</p>
<dl>
<dd>65<sub>8</sub> = (6  8<sup>1</sup>) + (5  8<sup>0</sup>) = (6  8) + (5  1) = 53<sub>10</sub></dd>
<dd>127<sub>8</sub> = (1  8<sup>2</sup>) + (2  8<sup>1</sup>) + (7  8<sup>0</sup>) = (1  64) + (2  8) + (7  1) = 87<sub>10</sub></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=17" title="Edit section: Representing real numbers"></a>]</span> <span class="mw-headline" id="Representing_real_numbers">Representing real numbers</span></h2>
<p>Non-integers can be represented by using negative powers, which are set off from the other digits by means of a <a href="/wiki/Radix_point" title="Radix point">radix point</a> (called a <a href="/wiki/Decimal_point" title="Decimal point" class="mw-redirect">decimal point</a> in the decimal system). For example, the binary number 11.01<sub>2</sub> thus means:</p>
<dl>
<dd>
<table>
<tr>
<td><b>1</b>  2<sup>1</sup></td>
<td>(1  2 = <b>2</b>)</td>
<td>plus</td>
</tr>
<tr>
<td><b>1</b>  2<sup>0</sup></td>
<td>(1  1 = <b>1</b>)</td>
<td>plus</td>
</tr>
<tr>
<td><b>0</b>  2<sup>1</sup></td>
<td>(0   = <b>0</b>)</td>
<td>plus</td>
</tr>
<tr>
<td><b>1</b>  2<sup>2</sup></td>
<td>(1   = <b>0.25</b>)</td>
</tr>
</table>
</dd>
</dl>
<p>For a total of 3.25 decimal.</p>
<p>All <a href="/wiki/Dyadic_fraction" title="Dyadic fraction" class="mw-redirect">dyadic rational numbers</a> <img class="tex" alt="\frac{p}{2^a}" src="//upload.wikimedia.org/wikipedia/en/math/c/c/6/cc6034c0575ab49213564cfa3858b203.png" /> have a <i>terminating</i> binary numeralthe binary representation has a finite number of terms after the radix point. Other <a href="/wiki/Rational_numbers" title="Rational numbers" class="mw-redirect">rational numbers</a> have binary representation, but instead of terminating, they <i>recur</i>, with a finite sequence of digits repeating indefinitely. For instance</p>
<dl>
<dd><img class="tex" alt="\frac{1_{10}}{3_{10}}" src="//upload.wikimedia.org/wikipedia/en/math/8/7/7/87783d46e1c6a4b8ab347a37bc00219b.png" /> = <img class="tex" alt="\frac{1_2}{11_2}" src="//upload.wikimedia.org/wikipedia/en/math/6/5/1/6518e3453480dc0d0f90dbc1ca4e9971.png" /> = 0.01010101<span style="text-decoration:overline;">01</span><sub>2</sub></dd>
</dl>
<dl>
<dd><img class="tex" alt="\frac{12_{10}}{17_{10}}" src="//upload.wikimedia.org/wikipedia/en/math/2/6/a/26afcd287eda84cfe3536fd98e180820.png" /> = <img class="tex" alt="\frac{1100_2}{10001_2}" src="//upload.wikimedia.org/wikipedia/en/math/a/2/2/a221be95035bb6660e2780347198dc62.png" /> = 0.10110100 10110100 <span style="text-decoration:overline;">10110100</span>...<sub>2</sub></dd>
</dl>
<p>The phenomenon that the binary representation of any rational is either terminating or recurring also occurs in other radix-based numeral systems. See, for instance, the explanation in <a href="/wiki/Decimal" title="Decimal">decimal</a>. Another similarity is the existence of alternative representations for any terminating representation, relying on the fact that 0.111111 is the sum of the <a href="/wiki/Geometric_series" title="Geometric series">geometric series</a> 2<sup>1</sup> + 2<sup>2</sup> + 2<sup>3</sup> + ... which is 1.</p>
<p>Binary numerals which neither terminate nor recur represent <a href="/wiki/Irrational_number" title="Irrational number">irrational numbers</a>. For instance,</p>
<ul>
<li>0.10100100010000100000100 does have a pattern, but it is not a fixed-length recurring pattern, so the number is irrational</li>
<li>1.0110101000001001111001100110011111110 is the binary representation of <img class="tex" alt="\sqrt{2}" src="//upload.wikimedia.org/wikipedia/en/math/b/d/3/bd392ee2edb7951d5058b1c353f2a511.png" />, the <a href="/wiki/Square_root" title="Square root">square root</a> of 2, another irrational. It has no discernible pattern. See <a href="/wiki/Irrational_number" title="Irrational number">irrational number</a>.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=18" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Binary-coded_decimal" title="Binary-coded decimal">Binary-coded decimal</a></li>
<li><a href="/wiki/Finger_binary" title="Finger binary">Finger binary</a></li>
<li><a href="/wiki/Gray_code" title="Gray code">Gray code</a></li>
<li><a href="/wiki/Linear_feedback_shift_register" title="Linear feedback shift register">linear feedback shift register</a></li>
<li><a href="/wiki/Offset_binary" title="Offset binary">Offset binary</a></li>
<li><a href="/wiki/Quibinary" title="Quibinary" class="mw-redirect">Quibinary</a></li>
<li><a href="/wiki/Reduction_of_summands" title="Reduction of summands">Reduction of summands</a></li>
<li><a href="/wiki/Redundant_binary_representation" title="Redundant binary representation">Redundant binary representation</a></li>
<li><a href="/wiki/SZTAKI_Desktop_Grid" title="SZTAKI Desktop Grid">SZTAKI Desktop Grid</a> searches for generalized binary number systems up to dimension 11.</li>
<li><a href="/wiki/Two%27s_complement" title="Two's complement">Two's complement</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=19" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation book">Sanchez, Julio; Canton, Maria P. (2007). <i>Microcontroller programming&#160;: the microchip PIC</i>. Boca Raton, Florida: CRC Press. p.&#160;37. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-8493-7189-9" title="Special:BookSources/0-8493-7189-9">0-8493-7189-9</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Microcontroller+programming+%3A+the+microchip+PIC&amp;rft.aulast=Sanchez&amp;rft.aufirst=Julio&amp;rft.au=Sanchez%2C%26%2332%3BJulio&amp;rft.au=Canton%2C%26%2332%3BMaria+P.&amp;rft.date=2007&amp;rft.pages=p.%26nbsp%3B37&amp;rft.place=Boca+Raton%2C+Florida&amp;rft.pub=CRC+Press&amp;rft.isbn=0-8493-7189-9&amp;rfr_id=info:sid/en.wikipedia.org:Binary_numeral_system"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">W. S. Anglin and J. Lambek, <i>The Heritage of Thales</i>, Springer, 1995, <a href="/wiki/Special:BookSources/038794544X" class="internal mw-magiclink-isbn">ISBN 0-387-94544-X</a></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://home.ica.net/~roymanju/Binary.htm">Binary Numbers in Ancient India</a></span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.sju.edu/~rhall/Rhythms/Poets/arcadia.pdf">Math for Poets and Drummers</a> (pdf, 145KB)</span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://home.ica.net/~roymanju/Binary.htm">"Binary Numbers in Ancient India"</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://home.ica.net/~roymanju/Binary.htm">http://home.ica.net/~roymanju/Binary.htm</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Binary+Numbers+in+Ancient+India&amp;rft.atitle=&amp;rft_id=http%3A%2F%2Fhome.ica.net%2F%7Eroymanju%2FBinary.htm&amp;rfr_id=info:sid/en.wikipedia.org:Binary_numeral_system"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text"><span class="citation book">Stakhov, Alexey; Stakhov, Alekse; Olsen, Scott (2009). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=K6fac9RxXREC"><i>The mathematics of harmony: from Euclid to contemporary mathematics and computer science</i></a>. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-981-277-582-5" title="Special:BookSources/978-981-277-582-5">978-981-277-582-5</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=K6fac9RxXREC">http://books.google.com/books?id=K6fac9RxXREC</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+mathematics+of+harmony%3A+from+Euclid+to+contemporary+mathematics+and+computer+science&amp;rft.aulast=Stakhov&amp;rft.aufirst=Alexey&amp;rft.au=Stakhov%2C%26%2332%3BAlexey&amp;rft.au=Stakhov%2C%26%2332%3BAlekse%C4%AD&amp;rft.au=Olsen%2C%26%2332%3BScott&amp;rft.date=2009&amp;rft.isbn=978-981-277-582-5&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DK6fac9RxXREC&amp;rfr_id=info:sid/en.wikipedia.org:Binary_numeral_system"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text"><span class="citation Journal">Ryan, James A. (January 1996). "Leibniz' Binary System and Shao Yong's "Yijing"". <i>Philosophy East and West</i> (University of Hawaii Press) <b>46</b> (1): 5990. <a href="/wiki/Digital_object_identifier" title="Digital object identifier">doi</a>:<a rel="nofollow" class="external text" href="http://dx.doi.org/10.2307%2F1399337">10.2307/1399337</a>. <a href="/wiki/JSTOR" title="JSTOR">JSTOR</a>&#160;<a rel="nofollow" class="external text" href="http://www.jstor.org/stable/1399337">1399337</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Leibniz%27+Binary+System+and+Shao+Yong%27s+%22Yijing%22&amp;rft.jtitle=Philosophy+East+and+West&amp;rft.aulast=Ryan&amp;rft.aufirst=James+A.&amp;rft.au=Ryan%2C%26%2332%3BJames+A.&amp;rft.date=January+1996&amp;rft.volume=46&amp;rft.issue=1&amp;rft.pages=59%E2%80%9390&amp;rft.pub=University+of+Hawaii+Press&amp;rft_id=info:doi/10.2307%2F1399337&amp;rft.jstor=1399337&amp;rfr_id=info:sid/en.wikipedia.org:Binary_numeral_system"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-Bacon1605-7">^ <a href="#cite_ref-Bacon1605_7-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Bacon1605_7-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><span class="citation web"><a href="/wiki/Francis_Bacon" title="Francis Bacon">Bacon, Francis</a> (1605). <a rel="nofollow" class="external text" href="http://home.hiwaay.net/~paul/bacon/advancement/book6ch1.html">"The Advancement of Learning"</a>. London. pp.&#160;Chapter 1<span class="printonly">. <a rel="nofollow" class="external free" href="http://home.hiwaay.net/~paul/bacon/advancement/book6ch1.html">http://home.hiwaay.net/~paul/bacon/advancement/book6ch1.html</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=The+Advancement+of+Learning&amp;rft.atitle=&amp;rft.aulast=Bacon&amp;rft.aufirst=Francis&amp;rft.au=Bacon%2C%26%2332%3BFrancis&amp;rft.date=1605&amp;rft.pages=pp.%26nbsp%3BChapter+1&amp;rft.place=London&amp;rft_id=http%3A%2F%2Fhome.hiwaay.net%2F%7Epaul%2Fbacon%2Fadvancement%2Fbook6ch1.html&amp;rfr_id=info:sid/en.wikipedia.org:Binary_numeral_system"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-8"><b><a href="#cite_ref-8">^</a></b> <span class="reference-text">Leibniz G., Explication de l'Arithmtique Binaire, Die Mathematische Schriften, ed. C. Gerhardt, Berlin 1879, vol.7, p.223; Engl. transl.<a rel="nofollow" class="external autonumber" href="http://www.leibniz-translations.com/binary.htm">[1]</a></span></li>
<li id="cite_note-9"><b><a href="#cite_ref-9">^</a></b> <span class="reference-text"><span class="citation book">Aiton, Eric J. (1985). <i>Leibniz: A Biography</i>. Taylor &amp; Francis. pp.&#160;2458. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-85274-470-6" title="Special:BookSources/0-85274-470-6">0-85274-470-6</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Leibniz%3A+A+Biography&amp;rft.aulast=Aiton&amp;rft.aufirst=Eric+J.&amp;rft.au=Aiton%2C%26%2332%3BEric+J.&amp;rft.date=1985&amp;rft.pages=pp.%26nbsp%3B245%E2%80%938&amp;rft.pub=Taylor+%26+Francis&amp;rft.isbn=0-85274-470-6&amp;rfr_id=info:sid/en.wikipedia.org:Binary_numeral_system"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-10"><b><a href="#cite_ref-10">^</a></b> <span class="reference-text"><span class="citation book">Boole, George (2009) [1854]. <a rel="nofollow" class="external text" href="http://www.gutenberg.org/etext/15114"><i>An Investigation of the Laws of Thought on Which are Founded the Mathematical Theories of Logic and Probabilities</i></a> (Macmillan, Dover Publications, reprinted with corrections [1958] ed.). New York: Cambridge University Press. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-1-108-00153-3" title="Special:BookSources/978-1-108-00153-3">978-1-108-00153-3</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://www.gutenberg.org/etext/15114">http://www.gutenberg.org/etext/15114</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=An+Investigation+of+the+Laws+of+Thought+on+Which+are+Founded+the+Mathematical+Theories+of+Logic+and+Probabilities&amp;rft.aulast=Boole&amp;rft.aufirst=George&amp;rft.au=Boole%2C%26%2332%3BGeorge&amp;rft.date=2009&amp;rft.ion=Macmillan%2C+Dover+Publications%2C+reprinted+with+corrections+%5B1958%5D&amp;rft.place=New+York&amp;rft.pub=Cambridge+University+Press&amp;rft.isbn=978-1-108-00153-3&amp;rft_id=http%3A%2F%2Fwww.gutenberg.org%2Fetext%2F15114&amp;rfr_id=info:sid/en.wikipedia.org:Binary_numeral_system"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-11"><b><a href="#cite_ref-11">^</a></b> <span class="reference-text"><span class="citation book">Shannon, Claude Elwood (1940). <a rel="nofollow" class="external text" href="http://hdl.handle.net/1721.1/11173"><i>A symbolic analysis of relay and switching circuits</i></a>. Cambridge: Massachusetts Institute of Technology<span class="printonly">. <a rel="nofollow" class="external free" href="http://hdl.handle.net/1721.1/11173">http://hdl.handle.net/1721.1/11173</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=A+symbolic+analysis+of+relay+and+switching+circuits&amp;rft.aulast=Shannon&amp;rft.aufirst=Claude+Elwood&amp;rft.au=Shannon%2C%26%2332%3BClaude+Elwood&amp;rft.date=1940&amp;rft.place=Cambridge&amp;rft.pub=Massachusetts+Institute+of+Technology&amp;rft_id=http%3A%2F%2Fhdl.handle.net%2F1721.1%2F11173&amp;rfr_id=info:sid/en.wikipedia.org:Binary_numeral_system"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-12"><b><a href="#cite_ref-12">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://www.invent.org/hall_of_fame/140.html">"National Inventors Hall of Fame  George R. Stibitz"</a>. 20 August 2008<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.invent.org/hall_of_fame/140.html">http://www.invent.org/hall_of_fame/140.html</a></span><span class="reference-accessdate">. Retrieved 5 July 2010</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=National+Inventors+Hall+of+Fame+%E2%80%93+George+R.+Stibitz&amp;rft.atitle=&amp;rft.date=20+August+2008&amp;rft_id=http%3A%2F%2Fwww.invent.org%2Fhall_of_fame%2F140.html&amp;rfr_id=info:sid/en.wikipedia.org:Binary_numeral_system"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-13"><b><a href="#cite_ref-13">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://stibitz.denison.edu/bio.html">"George Stibitz&#160;: Bio"</a>. Math &amp; Computer Science Department, Denison University. 30 April 2004<span class="printonly">. <a rel="nofollow" class="external free" href="http://stibitz.denison.edu/bio.html">http://stibitz.denison.edu/bio.html</a></span><span class="reference-accessdate">. Retrieved 5 July 2010</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=George+Stibitz+%3A+Bio&amp;rft.atitle=&amp;rft.date=30+April+2004&amp;rft.pub=Math+%26+Computer+Science+Department%2C+Denison+University&amp;rft_id=http%3A%2F%2Fstibitz.denison.edu%2Fbio.html&amp;rfr_id=info:sid/en.wikipedia.org:Binary_numeral_system"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-14"><b><a href="#cite_ref-14">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://www.kerryr.net/pioneers/stibitz.htm">"Pioneers  The people and ideas that made a difference  George Stibitz (19041995)"</a>. Kerry Redshaw. 20 February 2006<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.kerryr.net/pioneers/stibitz.htm">http://www.kerryr.net/pioneers/stibitz.htm</a></span><span class="reference-accessdate">. Retrieved 5 July 2010</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Pioneers+%E2%80%93+The+people+and+ideas+that+made+a+difference+%E2%80%93+George+Stibitz+%281904%E2%80%931995%29&amp;rft.atitle=&amp;rft.date=20+February+2006&amp;rft.pub=Kerry+Redshaw&amp;rft_id=http%3A%2F%2Fwww.kerryr.net%2Fpioneers%2Fstibitz.htm&amp;rfr_id=info:sid/en.wikipedia.org:Binary_numeral_system"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-15"><b><a href="#cite_ref-15">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://ei.cs.vt.edu/~history/Stibitz.html">"George Robert Stibitz  Obituary"</a>. Computer History Association of California. 6 February 1995<span class="printonly">. <a rel="nofollow" class="external free" href="http://ei.cs.vt.edu/~history/Stibitz.html">http://ei.cs.vt.edu/~history/Stibitz.html</a></span><span class="reference-accessdate">. Retrieved 5 July 2010</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=George+Robert+Stibitz+%E2%80%93+Obituary&amp;rft.atitle=&amp;rft.date=6+February+1995&amp;rft.pub=Computer+History+Association+of+California&amp;rft_id=http%3A%2F%2Fei.cs.vt.edu%2F%7Ehistory%2FStibitz.html&amp;rfr_id=info:sid/en.wikipedia.org:Binary_numeral_system"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=20" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li>Sanchez, Julio; Canton, Maria P. (2007), Microcontroller programming&#160;: the microchip PIC, Boca Raton, FL: CRC Press, p.&#160;37, <a href="/wiki/Special:BookSources/0849371899" class="internal mw-magiclink-isbn">ISBN 0-8493-7189-9</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Binary_numeral_system&amp;action=&amp;section=21" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" width="30" height="40" /></td>
<td class="mbox-text" style="">Wikimedia Commons has media related to: <i><b><a class="external text" href="//commons.wikimedia.org/wiki/Category:Binary_numeral_system">Binary numeral system</a></b></i></td>
</tr>
</table>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.kerryr.net/pioneers/leibniz.htm">A brief overview of Leibniz and the connection to binary numbers</a></li>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/do_you_know/BinaryHistory.shtml">Binary System</a> at <a href="/wiki/Cut-the-knot" title="Cut-the-knot" class="mw-redirect">cut-the-knot</a></li>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/blue/frac_conv.shtml">Conversion of Fractions</a> at <a href="/wiki/Cut-the-knot" title="Cut-the-knot" class="mw-redirect">cut-the-knot</a></li>
<li><a rel="nofollow" class="external text" href="http://www.mathsisfun.com/binary-digits.html">Binary Digits</a> at <a rel="nofollow" class="external text" href="http://www.mathsisfun.com/">Math Is Fun</a></li>
<li><a rel="nofollow" class="external text" href="http://www.wikihow.com/Convert-from-Decimal-to-Binary">How to Convert from Decimal to Binary</a> at <a href="/wiki/WikiHow" title="WikiHow">wikiHow</a></li>
<li><a rel="nofollow" class="external text" href="http://www.circuitdesign.info/blog/2008/06/the-binary-number-system-part-2-binary-weighting/">Learning exercise for children at CircuitDesign.info</a></li>
<li><a rel="nofollow" class="external text" href="http://gwydir.demon.co.uk/jo/numbers/binary/kids.htm">Binary Counter with Kids</a></li>
<li><a rel="nofollow" class="external text" href="http://gwydir.demon.co.uk/jo/numbers/binary/cards.htm">Magic Card Trick</a></li>
<li><a rel="nofollow" class="external text" href="http://www.mycomputeraid.com/networking-support/general-networking-support/howto-read-binary-basics/">Quick reference on Howto read binary</a></li>
<li><a rel="nofollow" class="external text" href="http://calc.50x.eu/">Binary converter to HEX/DEC/OCT with direct access to bits</a></li>
</ul>
<p><span id="interwiki-mk-fa"></span></p>


<!-- 
NewPP limit report
Preprocessor node count: 9035/1000000
Post-expand include size: 61271/2048000 bytes
Template argument size: 15340/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:238686-0!0!0!!en!4!* and timestamp 20120417142813 -->
