<div class="dablink">For other uses, see <a href="/wiki/Decimal_(disambiguation)" title="Decimal (disambiguation)">Decimal (disambiguation)</a>.</div>
<table class="metadata plainlinks ambox ambox-style ambox-citation_style" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/f/f2/Edit-clear.svg/40px-Edit-clear.svg.png" width="40" height="40" /></div>
</td>
<td class="mbox-text" style="">This article's <b>citation style may be unclear</b>. The references used may be made clearer with a different or consistent style of <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">citation</a>, <a href="/wiki/Wikipedia:Footnotes" title="Wikipedia:Footnotes" class="mw-redirect">footnoting</a>, or <a href="/wiki/Wikipedia:External_links" title="Wikipedia:External links">external linking</a>. <small><i>(January 2011)</i></small></td>
</tr>
</table>
<table class="metadata plainlinks ambox ambox-content ambox-Refimprove" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This article <b>needs additional <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">citations</a> for <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verification</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Decimal&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(January 2011)</i></small></td>
</tr>
</table>
<dl>
<dd><i>This article aims to be an accessible introduction. For the mathematical definition, see <a href="/wiki/Decimal_representation" title="Decimal representation">Decimal representation</a>.</i></dd>
</dl>
<table class="infobox" style="width:19em;">
<tr>
<th colspan="2" class="navbox-title"><a href="/wiki/Numeral_system" title="Numeral system">Numeral systems</a> by culture</th>
</tr>
<tr>
<td colspan="2"><b><a href="/wiki/Hindu%E2%80%93Arabic_numeral_system" title="HinduArabic numeral system">Hindu-Arabic numerals</a></b></td>
</tr>
<tr>
<td><a href="/wiki/Arabic_numerals" title="Arabic numerals">Western Arabic (Hindu numerals)</a><br />
<a href="/wiki/Eastern_Arabic_numerals" title="Eastern Arabic numerals">Eastern Arabic</a><br />
<a href="/wiki/Indian_numerals" title="Indian numerals">Indian family</a><br />
<a href="/wiki/Tamil_numerals" title="Tamil numerals">Tamil</a></td>
<td><a href="/wiki/Burmese_numerals" title="Burmese numerals">Burmese</a><br />
<a href="/wiki/Khmer_numerals" title="Khmer numerals" class="mw-redirect">Khmer</a><br />
<a href="/wiki/Lao_alphabet#Numerals" title="Lao alphabet">Lao</a><br />
<a href="/wiki/Mongolian_numerals" title="Mongolian numerals">Mongolian</a><br />
<a href="/wiki/Thai_numerals" title="Thai numerals">Thai</a></td>
</tr>
<tr>
<th colspan="2">East Asian numerals</th>
</tr>
<tr>
<td><a href="/wiki/Chinese_numerals" title="Chinese numerals">Chinese</a><br />
<a href="/wiki/Japanese_numerals" title="Japanese numerals">Japanese</a><br />
<i><a href="/wiki/Suzhou_numerals" title="Suzhou numerals">Suzhou</a></i></td>
<td><a href="/wiki/Korean_numerals" title="Korean numerals">Korean</a><br />
<a href="/wiki/Vietnamese_numerals" title="Vietnamese numerals">Vietnamese</a><br />
<i><a href="/wiki/Counting_rods" title="Counting rods">Counting rods</a></i></td>
</tr>
<tr>
<th colspan="2">Alphabetic numerals</th>
</tr>
<tr>
<td><a href="/wiki/Abjad_numerals" title="Abjad numerals">Abjad</a><br />
<a href="/wiki/Armenian_numerals" title="Armenian numerals">Armenian</a><br />
<a href="/wiki/%C4%80ryabha%E1%B9%ADa_numeration" title="ryabhaa numeration"><span title="International Alphabet of Sanskrit Transliteration" class="Unicode" style="white-space:normal; text-decoration: none">ryabhaa</span></a><br />
<a href="/wiki/Cyrillic_numerals" title="Cyrillic numerals">Cyrillic</a></td>
<td><a href="/wiki/Ge%27ez_script#Numerals" title="Ge'ez script">Ge'ez</a><br />
<a href="/wiki/Greek_numerals" title="Greek numerals">Greek</a><br />
<a href="/wiki/Georgian_numerals" title="Georgian numerals">Georgian</a><br />
<a href="/wiki/Hebrew_numerals" title="Hebrew numerals">Hebrew</a></td>
</tr>
<tr>
<th colspan="2">other historical systems</th>
</tr>
<tr>
<td><a href="/wiki/Aegean_numerals" title="Aegean numerals">Aegean</a><br />
<a href="/wiki/Attic_numerals" title="Attic numerals">Attic</a><br />
<a href="/wiki/Babylonian_numerals" title="Babylonian numerals">Babylonian</a><br />
<a href="/wiki/Brahmi_numeral" title="Brahmi numeral" class="mw-redirect">Brahmi</a><br />
<a href="/wiki/Egyptian_numerals" title="Egyptian numerals">Egyptian</a><br />
<a href="/wiki/Etruscan_numerals" title="Etruscan numerals">Etruscan</a><br />
<a href="/wiki/Inuit_numerals" title="Inuit numerals">Inuit</a></td>
<td><a href="/wiki/Kharosthi_numerals" title="Kharosthi numerals" class="mw-redirect">Kharosthi</a><br />
<a href="/wiki/Maya_numerals" title="Maya numerals">Mayan</a><br />
<a href="/wiki/Quipu" title="Quipu">Quipu</a><br />
<a href="/wiki/Roman_numerals" title="Roman numerals">Roman</a></td>
</tr>
<tr>
<th colspan="2" class="navbox-title"><a href="/wiki/Positional_notation" title="Positional notation">Positional systems</a> by <a href="/wiki/Radix" title="Radix">base</a></th>
</tr>
<tr>
<td colspan="2" align="center"><strong class="selflink">Decimal</strong> (10)</td>
</tr>
<tr>
<td colspan="2" align="center"><a href="/wiki/Binary_numeral_system" title="Binary numeral system">2</a>, <a href="/wiki/Ternary_numeral_system" title="Ternary numeral system">3</a>, <a href="/wiki/Quaternary_numeral_system" title="Quaternary numeral system">4</a>, <a href="/wiki/Quinary" title="Quinary">5</a>, <a href="/wiki/Senary" title="Senary">6</a>, <a href="/wiki/Septenary" title="Septenary">7</a>, <a href="/wiki/Octal" title="Octal">8</a>, <a href="/wiki/Nonary" title="Nonary">9</a>, <a href="/wiki/Undecimal" title="Undecimal">11</a>, <a href="/wiki/Duodecimal" title="Duodecimal">12</a>, <a href="/wiki/Base_13" title="Base 13">13</a>, <a href="/wiki/Tetradecimal" title="Tetradecimal">14</a>, <a href="/wiki/Pentadecimal" title="Pentadecimal">15</a>, <a href="/wiki/Hexadecimal" title="Hexadecimal">16</a>, <a href="/wiki/Vigesimal" title="Vigesimal">20</a>, <a href="/wiki/Base_24" title="Base 24">24</a>, <a href="/wiki/Septemvigesimal" title="Septemvigesimal">27</a>, <a href="/wiki/Base_30" title="Base 30">30</a>, <a href="/wiki/Base_36" title="Base 36">36</a>, <a href="/wiki/Sexagesimal" title="Sexagesimal">60</a>, <a href="/wiki/Base64" title="Base64">64</a></td>
</tr>
<tr>
<td colspan="2" align="center"><a href="/wiki/Balanced_ternary" title="Balanced ternary">Balanced ternary</a></td>
</tr>
<tr>
<th colspan="2" class="navbox-title">Non-positional system</th>
</tr>
<tr>
<td colspan="2" align="center"><a href="/wiki/Unary_numeral_system" title="Unary numeral system">Unary numeral system</a> (Base 1)</td>
</tr>
<tr>
<td colspan="2" align="center"><b><a href="/wiki/List_of_numeral_systems" title="List of numeral systems">List of numeral systems</a></b></td>
</tr>
<tr>
<td colspan="2" align="right">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Numeral_systems" title="Template:Numeral systems"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Numeral_systems" title="Template talk:Numeral systems"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Numeral_systems&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>
<p>The <b>decimal</b> <a href="/wiki/Numeral_system" title="Numeral system">numeral system</a> (also called <b>base ten</b> or occasionally <b>denary</b>) has <a href="/wiki/10_(number)" title="10 (number)">ten</a> as its <a href="/wiki/Base_(exponentiation)" title="Base (exponentiation)">base</a>. It is the numerical base most widely used by modern civilizations.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<p><b>Decimal notation</b> often refers to a base-10 <a href="/wiki/Positional_notation" title="Positional notation">positional notation</a> such as the <a href="/wiki/Hindu-Arabic_numeral_system" title="Hindu-Arabic numeral system" class="mw-redirect">Hindu-Arabic numeral system</a>; however, it can also be used more generally to refer to non-positional systems such as <a href="/wiki/Roman_numerals" title="Roman numerals">Roman</a> or <a href="/wiki/Chinese_numerals" title="Chinese numerals">Chinese numerals</a> which are also based on powers of ten.</p>
<p><b>Decimals</b> also refer to decimal fractions, either separately or in contrast to <a href="/wiki/Vulgar_fraction" title="Vulgar fraction" class="mw-redirect">vulgar fractions</a>. In this context, a decimal is a tenth part, and decimals become a series of nested tenths. There was a notation in use like 'tenth-metre', meaning the tenth decimal of the metre, currently an Angstrom. The contrast here is between decimals and vulgar fractions, and decimal divisions and other divisions of measures, like the inch. It is possible to follow a decimal expansion with a vulgar fraction; this is done with the recent divisions of the troy ounce, which has three places of decimals, followed by a trinary place.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Decimal_notation"><span class="tocnumber">1</span> <span class="toctext">Decimal notation</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Decimal_fractions"><span class="tocnumber">1.1</span> <span class="toctext">Decimal fractions</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Other_rational_numbers"><span class="tocnumber">1.2</span> <span class="toctext">Other rational numbers</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Real_numbers"><span class="tocnumber">1.3</span> <span class="toctext">Real numbers</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Non-uniqueness_of_decimal_representation"><span class="tocnumber">1.4</span> <span class="toctext">Non-uniqueness of decimal representation</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-6"><a href="#Decimal_computation"><span class="tocnumber">2</span> <span class="toctext">Decimal computation</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#History"><span class="tocnumber">3</span> <span class="toctext">History</span></a>
<ul>
<li class="toclevel-2 tocsection-8"><a href="#History_of_decimal_fractions"><span class="tocnumber">3.1</span> <span class="toctext">History of decimal fractions</span></a></li>
<li class="toclevel-2 tocsection-9"><a href="#Natural_languages"><span class="tocnumber">3.2</span> <span class="toctext">Natural languages</span></a></li>
<li class="toclevel-2 tocsection-10"><a href="#Other_bases"><span class="tocnumber">3.3</span> <span class="toctext">Other bases</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-11"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#References"><span class="tocnumber">5</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-13"><a href="#External_links"><span class="tocnumber">6</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Decimal&amp;action=&amp;section=1" title="Edit section: Decimal notation"></a>]</span> <span class="mw-headline" id="Decimal_notation">Decimal notation</span></h2>
<p>Decimal notation is the writing of <a href="/wiki/Number" title="Number">numbers</a> in a base-10 <a href="/wiki/Numeral_system" title="Numeral system">numeral system</a>. Examples are <a href="/wiki/Roman_numerals" title="Roman numerals">Roman numerals</a>, <a href="/wiki/Brahmi_numerals" title="Brahmi numerals">Brahmi numerals</a>, and <a href="/wiki/Chinese_numerals" title="Chinese numerals">Chinese numerals</a>, as well as the <a href="/wiki/Hindu-Arabic_numerals" title="Hindu-Arabic numerals" class="mw-redirect">Hindu-Arabic numerals</a> used by speakers of many European languages. Roman numerals have symbols for the decimal powers (1, 10, 100, 1000) and secondary symbols for half these values (5, 50, 500). Brahmi numerals have symbols for the nine numbers 19, the nine decades 1090, plus a symbol for 100 and another for 1000. Chinese numerals have symbols for 19, and additional symbols for powers of 10, which in modern usage reach 10<sup>44</sup>.</p>
<p>However, when people who use <a href="/wiki/Hindu-Arabic_numerals" title="Hindu-Arabic numerals" class="mw-redirect">Hindu-Arabic numerals</a> speak of decimal notation, they often mean not just decimal numeration, as above, but also decimal fractions, all conveyed as part of a <a href="/wiki/Positional_notation" title="Positional notation">positional</a> system. Positional decimal systems include a zero and use symbols (called <a href="/wiki/Numerical_digit" title="Numerical digit">digits</a>) for the ten values (0, 1, 2, 3, 4, 5, 6, 7, 8, and 9) to represent any number, no matter how large or how small. These digits are often used with a <a href="/wiki/Decimal_separator" title="Decimal separator" class="mw-redirect">decimal separator</a> which indicates the start of a fractional part, and with a symbol such as the plus sign + (for positive) or minus sign  (for negative) adjacent to the numeral to indicate whether it is greater or less than zero, respectively.</p>
<p>Positional notation uses positions for each power of ten: units, tens, hundreds, thousands, etc. The position of each digit within a number denotes the multiplier (power of ten) multiplied with that digiteach position has a value ten times that of the position to its right. There were at least two presumably independent sources of positional decimal systems in ancient civilization: the <a href="/wiki/Counting_rods" title="Counting rods">Chinese counting rod</a> system and the <a href="/wiki/Hindu-Arabic_numeral_system" title="Hindu-Arabic numeral system" class="mw-redirect">Hindu-Arabic numeral system</a> (the latter descended from Brahmi numerals).</p>
<p><a href="/wiki/10_(number)" title="10 (number)">Ten</a> is the number which is the count of fingers and thumbs on both hands (or toes on the feet). The English word <a href="/wiki/Numerical_digit" title="Numerical digit">digit</a> as well as its translation in many languages is also the anatomical term for fingers and toes. In English, decimal (decimus &lt; <a href="/wiki/Latin" title="Latin">Lat.</a>) means <i>tenth</i>, decimate means <i>reduce by a tenth</i>, and denary (denarius &lt; Lat.) means <i>the <a href="/wiki/Unit_of_measurement" title="Unit of measurement" class="mw-redirect">unit</a> of ten</i>.</p>
<p>The symbols for the digits in common use around the <a href="/wiki/Globe" title="Globe">globe</a> today are called <a href="/wiki/Hindu-Arabic_numerals" title="Hindu-Arabic numerals" class="mw-redirect">Arabic numerals</a> by Europeans and <a href="/wiki/Indian_numerals" title="Indian numerals">Indian numerals</a> by Arabs, the two groups' terms both referring to the culture from which they learned the system. However, the symbols used in different areas are not identical; for instance, Western Arabic numerals (from which the <a href="/wiki/European_numerals" title="European numerals" class="mw-redirect">European numerals</a> are derived) differ from the forms used by other Arab cultures.</p>
<h3><span class="section">[<a href="/w/index.php?title=Decimal&amp;action=&amp;section=2" title="Edit section: Decimal fractions"></a>]</span> <span class="mw-headline" id="Decimal_fractions">Decimal fractions</span></h3>
<p>A <b>decimal fraction</b> is a <a href="/wiki/Fraction_(mathematics)" title="Fraction (mathematics)">fraction</a> whose <a href="/wiki/Denominator" title="Denominator" class="mw-redirect">denominator</a> is a <a href="/wiki/Exponentiation" title="Exponentiation">power</a> of ten.</p>
<p>Decimal fractions are commonly expressed without a denominator, the <a href="/wiki/Decimal_mark" title="Decimal mark">decimal separator</a> being inserted into the numerator (with <a href="/wiki/Leading_zero" title="Leading zero">leading zeros</a> added if needed) at the position from the right corresponding to the power of ten of the denominator; e.g., 8/10, 83/100, 83/1000, and 8/10000 are expressed as 0.8, 0.83, 0.083, and 0.0008. In English-speaking, some Latin American and many Asian countries, a period (<b>.</b>) or raised period (<b></b>) is used as the decimal separator; in many other countries, particularly in Europe, a comma is used.</p>
<p>The <a href="/wiki/Integer_part" title="Integer part" class="mw-redirect">integer part</a>, or integral part of a decimal number is the part to the left of the decimal separator (see also <a href="/wiki/Truncation" title="Truncation">truncation</a>). The part from the decimal separator to the right is the <a href="/wiki/Fractional_part" title="Fractional part">fractional part</a>; if considered as a separate number, a zero is often written in front. Especially for negative numbers, we have to distinguish between the fractional part of the notation and the fractional part of the number itself, because the latter gets its own decimal sign. It is usual for a decimal number whose <a href="/wiki/Absolute_value" title="Absolute value">absolute value</a> is less than one to have a leading zero.</p>
<p><a href="/wiki/Trailing_zero" title="Trailing zero">Trailing zeros</a> after the decimal point are not necessary, although in science, engineering and <a href="/wiki/Statistics" title="Statistics">statistics</a> they can be retained to indicate a required precision or to show a level of confidence in the accuracy of the number: Although 0.080 and 0.08 are numerically equal, in engineering 0.080 suggests a measurement with an error of up to one part in two thousand (0.0005), while 0.08 suggests a measurement with an error of up to one in two hundred (see <i><a href="/wiki/Significant_figures" title="Significant figures">significant figures</a></i>).</p>
<h3><span class="section">[<a href="/w/index.php?title=Decimal&amp;action=&amp;section=3" title="Edit section: Other rational numbers"></a>]</span> <span class="mw-headline" id="Other_rational_numbers">Other rational numbers</span></h3>
<p>Any <a href="/wiki/Rational_number" title="Rational number">rational number</a> with a denominator whose only <a href="/wiki/Prime_factor" title="Prime factor">prime factors</a> are 2 and/or 5 may be precisely expressed as a decimal fraction and has a finite decimal expansion.<sup id="cite_ref-p141isbn0-87891-200-2_2-0" class="reference"><a href="#cite_note-p141isbn0-87891-200-2-2"><span>[</span>3<span>]</span></a></sup></p>
<dl>
<dd>1/2 = 0.5</dd>
<dd>1/20 = 0.05</dd>
<dd>1/5 = 0.2</dd>
<dd>1/50 = 0.02</dd>
</dl>
<dl>
<dd>1/4 = 0.25</dd>
<dd>1/40 = 0.025</dd>
<dd>1/25 = 0.04</dd>
</dl>
<dl>
<dd>1/8 = 0.125</dd>
<dd>1/125= 0.008</dd>
</dl>
<dl>
<dd>1/10 = 0.1</dd>
</dl>
<p>If the rational number's denominator has any prime factors other than 2 or 5, it cannot be expressed as a finite decimal fraction,<sup id="cite_ref-p141isbn0-87891-200-2_2-1" class="reference"><a href="#cite_note-p141isbn0-87891-200-2-2"><span>[</span>3<span>]</span></a></sup> and has a unique infinite decimal expansion ending with <a href="/wiki/Recurring_decimal" title="Recurring decimal" class="mw-redirect">recurring decimal</a>.</p>
<dl>
<dd>1/3 = 0.333333 (with 3 repeating)</dd>
<dd>1/9 = 0.111111 (with 1 repeating)</dd>
</dl>
<p>100-1=99=911</p>
<dl>
<dd>1/11 = 0.090909 (with 09 repeating)</dd>
</dl>
<p>1000-1=9111=2737</p>
<dl>
<dd>1/27 = 0.037037037</dd>
<dd>1/37 = 0.027027027</dd>
<dd>1/111 = 0 .009009009</dd>
</dl>
<p>also:</p>
<dl>
<dd>1/81= 0.012345679012 (with 012345679 repeating)</dd>
</dl>
<p>That a rational number must have a <a href="/wiki/Finite_set" title="Finite set">finite</a> or recurring decimal expansion can be seen to be a consequence of the <a href="/wiki/Long_division" title="Long division">long division</a> <a href="/wiki/Algorithm" title="Algorithm">algorithm</a>, in that there are only q-1 possible nonzero <a href="/wiki/Remainder" title="Remainder">remainders</a> on division by q, so that the recurring pattern will have a period less than q. For instance, to find 3/7 by long division:</p>
<pre>
   <u>  0.4 2 8 5 7 1 4 ..</u>.
 7 ) 3.0 0 0 0 0 0 0 0
    <u> 2 8 </u>                        30/7 = 4 r 2
       2 0
      <u> 1 4 </u>                      20/7 = 2 r 6
         6 0
        <u> 5 6 </u>                    60/7 = 8 r 4
           4 0
          <u> 3 5 </u>                  40/7 = 5 r 5
             5 0
            <u> 4 9 </u>                50/7 = 7 r 1
               1 0
              <u>   7 </u>              10/7 = 1 r 3
                 3 0
                <u> 2 8 </u>            30/7 = 4 r 2
                   2 0
                        etc.
</pre>
<p>The converse to this observation is that every <a href="/wiki/Recurring_decimal" title="Recurring decimal" class="mw-redirect">recurring decimal</a> represents a rational number <i>p</i>/<i>q</i>. This is a consequence of the fact that the recurring part of a decimal representation is, in fact, an infinite <a href="/wiki/Geometric_series" title="Geometric series">geometric series</a> which will sum to a rational number. For instance,</p>
<dl>
<dd><img class="tex" alt="0.0123123123\cdots = \frac{123}{10000} \sum_{k=0}^\infty 0.001^k = \frac{123}{10000}\ \frac{1}{1-0.001} = \frac{123}{9990} = \frac{41}{3330}" src="//upload.wikimedia.org/wikipedia/en/math/d/d/a/ddaa687a9eabc4c7260b8c786dabb93b.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Decimal&amp;action=&amp;section=4" title="Edit section: Real numbers"></a>]</span> <span class="mw-headline" id="Real_numbers">Real numbers</span></h3>
<div class="rellink boilerplate further">Further information: <a href="/wiki/Decimal_representation" title="Decimal representation">Decimal representation</a></div>
<p>Every <a href="/wiki/Real_number" title="Real number">real number</a> has a (possibly infinite) decimal representation; i.e., it can be written as</p>
<dl>
<dd><img class="tex" alt=" x = \mathop{\rm sign}(x) \sum_{i\in\mathbb Z} a_i\,10^i" src="//upload.wikimedia.org/wikipedia/en/math/c/d/c/cdce1dc022da8bd7619fa83c816bc4c1.png" /></dd>
</dl>
<p>where</p>
<ul>
<li>sign() is the <a href="/wiki/Sign_function" title="Sign function">sign function</a>, and</li>
<li><i>a<sub>i</sub></i>  { 0,1,,9 } for all <i>i</i>  <b>Z</b> are its <b>decimal digits</b>, equal to zero for all <i>i</i> greater than some number (that number being the <a href="/wiki/Common_logarithm" title="Common logarithm">common logarithm</a> of |x|).</li>
</ul>
<p>Such a sum converges as <i>i</i> increases, even if there are infinitely many non-zero <i>a<sub>i</sub></i>.</p>
<p><a href="/wiki/Rational_number" title="Rational number">Rational numbers</a> (e.g., p/q) with <a href="/wiki/Prime_factor" title="Prime factor">prime factors</a> in the denominator other than 2 and 5 (when reduced to simplest terms) have a unique <a href="/wiki/Recurring_decimal" title="Recurring decimal" class="mw-redirect">recurring decimal</a> representation.</p>
<h3><span class="section">[<a href="/w/index.php?title=Decimal&amp;action=&amp;section=5" title="Edit section: Non-uniqueness of decimal representation"></a>]</span> <span class="mw-headline" id="Non-uniqueness_of_decimal_representation">Non-uniqueness of decimal representation</span></h3>
<table class="metadata plainlinks ambox ambox-content ambox-Refimprove" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This section <b>needs additional <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">citations</a> for <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verification</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Decimal&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(March 2012)</i></small></td>
</tr>
</table>
<p>Consider those rational numbers which have only the factors 2 and 5 in the denominator, i.e., which can be written as <i>p</i>/(2<sup><i>a</i></sup>5<sup><i>b</i></sup>). In this case there is a terminating decimal representation. For instance, 1/1&#160;=&#160;1, 1/2&#160;=&#160;0.5, 3/5&#160;=&#160;0.6, 3/25&#160;=&#160;0.12 and 1306/1250&#160;=&#160;1.0448. Such numbers are the only real numbers which do not have a unique decimal representation, as they can also be written as a representation that has a recurring&#160;9, for instance 1&#160;=&#160;<a href="/wiki/0.999..." title="0.999...">0.99999</a>, 1/2&#160;=&#160;0.499999, etc. The number <a href="/wiki/0_(number)" title="0 (number)">0</a>&#160;=&#160;0/1 is special in that it has no representation with recurring&#160;9.</p>
<p>This leaves the <a href="/wiki/Irrational_number" title="Irrational number">irrational numbers</a>. They also have unique infinite decimal representations, and can be characterised as the numbers whose decimal representations neither terminate nor recur.</p>
<p>So in general the decimal representation is unique, if one excludes representations that end in a recurring&#160;9.</p>
<p>The same <a href="/wiki/Trichotomy_(mathematics)" title="Trichotomy (mathematics)">trichotomy</a> holds for other base-<i>n</i> <a href="/wiki/Positional_notation" title="Positional notation">positional numeral systems</a>:</p>
<ul>
<li>Terminating representation: rational where the denominator divides some <i>n</i><sup><i>k</i></sup></li>
<li>Recurring representation: other rational</li>
<li>Non-terminating, non-recurring representation: irrational</li>
</ul>
<p>A version of this even holds for irrational-base numeration systems, such as <a href="/wiki/Golden_mean_base" title="Golden mean base" class="mw-redirect">golden mean base</a> representation.</p>
<h2><span class="section">[<a href="/w/index.php?title=Decimal&amp;action=&amp;section=6" title="Edit section: Decimal computation"></a>]</span> <span class="mw-headline" id="Decimal_computation">Decimal computation</span></h2>
<p>Decimal computation was carried out in ancient times in many ways, typically on sand tables or with a variety of <a href="/wiki/Abacus" title="Abacus">abaci</a>.</p>
<p>Modern <a href="/wiki/Computer" title="Computer">computer</a> hardware and software systems commonly use a <a href="/wiki/Binary_numeral_system" title="Binary numeral system">binary representation</a> internally (although many early computers, such as the <a href="/wiki/ENIAC" title="ENIAC">ENIAC</a> or the <a href="/wiki/IBM_650" title="IBM 650">IBM 650</a>, used decimal representation internally).<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup> For external use by computer specialists, this binary representation is sometimes presented in the related <a href="/wiki/Octal" title="Octal">octal</a> or <a href="/wiki/Hexadecimal" title="Hexadecimal">hexadecimal</a> systems.</p>
<p>For most purposes, however, binary values are converted to or from the equivalent decimal values for presentation to or input from humans; computer programs express literals in decimal by default. (123.1, for example, is written as such in a computer program, even though many computer languages are unable to encode that number precisely.)</p>
<p>Both computer hardware and software also use internal representations which are effectively decimal for storing decimal values and doing arithmetic. Often this arithmetic is done on data which are encoded using some variant of <a href="/wiki/Binary-coded_decimal" title="Binary-coded decimal">binary-coded decimal</a>,<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup> especially in database implementations, but there are other decimal representations in use (such as in the new <a href="/wiki/IEEE_754" title="IEEE 754" class="mw-redirect">IEEE 754 Standard for Floating-Point Arithmetic</a>).<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup></p>
<p>Decimal arithmetic is used in computers so that decimal fractional results can be computed exactly, which is not possible using a binary fractional representation. This is often important for financial and other calculations.<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Decimal&amp;action=&amp;section=7" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<p>Many ancient cultures calculated from early on with numerals based on ten: <a href="/wiki/Egyptian_hieroglyphs" title="Egyptian hieroglyphs">Egyptian hieroglyphs</a>, in evidence since around 3000 BC, used a purely decimal system,<sup id="cite_ref-7" class="reference"><a href="#cite_note-7"><span>[</span>8<span>]</span></a></sup><sup id="cite_ref-8" class="reference"><a href="#cite_note-8"><span>[</span>9<span>]</span></a></sup> just as the <a href="/wiki/Cretan_hieroglyphs" title="Cretan hieroglyphs">Cretan hieroglyphs</a> (ca. 16251500 BC) of the <a href="/wiki/Minoans" title="Minoans" class="mw-redirect">Minoans</a> whose numerals are closely based on the Egyptian model.<sup id="cite_ref-9" class="reference"><a href="#cite_note-9"><span>[</span>10<span>]</span></a></sup><sup id="cite_ref-10" class="reference"><a href="#cite_note-10"><span>[</span>11<span>]</span></a></sup> The decimal system was handed down to the consecutive <a href="/wiki/Bronze_Age_Greece" title="Bronze Age Greece" class="mw-redirect">Bronze Age cultures of Greece</a>, including <a href="/wiki/Linear_A" title="Linear A">Linear A</a> (ca. 18th century BC1450 BC) and <a href="/wiki/Linear_B" title="Linear B">Linear B</a> (ca. 13751200 BC)  the number system of <a href="/wiki/Classical_Greece" title="Classical Greece">classical Greece</a> also used powers of ten, including, like the <a href="/wiki/Roman_numerals" title="Roman numerals">Roman numerals</a> did, an intermediate base of 5.<sup id="cite_ref-Greek_numerals_11-0" class="reference"><a href="#cite_note-Greek_numerals-11"><span>[</span>12<span>]</span></a></sup> Notably, the polymath <a href="/wiki/Archimedes" title="Archimedes">Archimedes</a> (c. 287212 BC) invented a decimal positional system in his <a href="/wiki/The_Sand_Reckoner" title="The Sand Reckoner">Sand Reckoner</a> which was based on 10<sup>8</sup><sup id="cite_ref-Greek_numerals_11-1" class="reference"><a href="#cite_note-Greek_numerals-11"><span>[</span>12<span>]</span></a></sup> and later led the German mathematician <a href="/wiki/Carl_Friedrich_Gauss" title="Carl Friedrich Gauss">Carl Friedrich Gauss</a> to lament what heights science would have already reached in his days if Archimedes had fully realized the potential of his ingenious discovery.<sup id="cite_ref-12" class="reference"><a href="#cite_note-12"><span>[</span>13<span>]</span></a></sup> The <a href="/wiki/Hittites" title="Hittites">Hittites</a> hieroglyphs (since 15th century BC), just like the Egyptian and early numerals in Greece, was strictly decimal.<sup id="cite_ref-13" class="reference"><a href="#cite_note-13"><span>[</span>14<span>]</span></a></sup></p>
<p>The Egyptian hieratic numerals, the Greek alphabet numerals, the Roman numerals, the Chinese numerals and early Indian Brahmi numerals are all non-positional decimal systems, and required large numbers of symbols. For instance, Egyptian numerals used different symbols for 10, 20, through 90, 100, 200, through 900, 1000, 2000, 3000, 4000, to 10,000.<sup id="cite_ref-14" class="reference"><a href="#cite_note-14"><span>[</span>15<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=Decimal&amp;action=&amp;section=8" title="Edit section: History of decimal fractions"></a>]</span> <span class="mw-headline" id="History_of_decimal_fractions">History of decimal fractions</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:152px;"><a href="/wiki/File:Rod_fraction.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Rod_fraction.jpg/150px-Rod_fraction.jpg" width="150" height="87" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Rod_fraction.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
counting rod decimal fraction 1/7</div>
</div>
</div>
<p>According to <a href="/wiki/Joseph_Needham" title="Joseph Needham">Joseph Needham</a>, decimal fractions were first developed and used by the Chinese in the 1st century BC, and then spread to the Middle East and from there to Europe.<sup id="cite_ref-jnfractn1_15-0" class="reference"><a href="#cite_note-jnfractn1-15"><span>[</span>16<span>]</span></a></sup> The written Chinese decimal fractions were non-positional.<sup id="cite_ref-jnfractn1_15-1" class="reference"><a href="#cite_note-jnfractn1-15"><span>[</span>16<span>]</span></a></sup> However, <a href="/wiki/Rod_calculus#Fractions" title="Rod calculus">counting rod fractions</a> were positional.</p>
<p><a href="/wiki/Qin_Jiushao" title="Qin Jiushao">Qin Jiushao</a> in his book <a href="/wiki/Mathematical_Treatise_in_Nine_Sections" title="Mathematical Treatise in Nine Sections">Mathematical Treatise in Nine Sections</a> (1247) denoted 0.96644 by</p>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd></dd>
<dd><a href="/wiki/File:Counting_rod_0.png" class="image"><img alt="Counting rod 0.png" src="//upload.wikimedia.org/wikipedia/commons/5/50/Counting_rod_0.png" width="23" height="23" /></a><a href="/wiki/File:Counting_rod_h9_num.png" class="image"><img alt="Counting rod h9 num.png" src="//upload.wikimedia.org/wikipedia/commons/e/e4/Counting_rod_h9_num.png" width="29" height="31" /></a><a href="/wiki/File:Counting_rod_v6.png" class="image"><img alt="Counting rod v6.png" src="//upload.wikimedia.org/wikipedia/commons/1/19/Counting_rod_v6.png" width="29" height="32" /></a><a href="/wiki/File:Counting_rod_h6.png" class="image"><img alt="Counting rod h6.png" src="//upload.wikimedia.org/wikipedia/commons/c/c1/Counting_rod_h6.png" width="29" height="31" /></a><a href="/wiki/File:Counting_rod_v4.png" class="image"><img alt="Counting rod v4.png" src="//upload.wikimedia.org/wikipedia/commons/6/67/Counting_rod_v4.png" width="25" height="29" /></a><a href="/wiki/File:Counting_rod_h4.png" class="image"><img alt="Counting rod h4.png" src="//upload.wikimedia.org/wikipedia/commons/c/ce/Counting_rod_h4.png" width="29" height="25" /></a>, meaning</dd>
</dl>
</dd>
</dl>
</dd>
</dl>
</dd>
</dl>
</dd>
</dl>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd></dd>
<dd>096644</dd>
</dl>
</dd>
</dl>
</dd>
</dl>
</dd>
</dl>
</dd>
</dl>
<p><sup id="cite_ref-16" class="reference"><a href="#cite_note-16"><span>[</span>17<span>]</span></a></sup></p>
<p><a href="/wiki/Immanuel_Bonfils" title="Immanuel Bonfils">Immanuel Bonfils</a> invented decimal fractions around 1350, anticipating <a href="/wiki/Simon_Stevin" title="Simon Stevin">Simon Stevin</a>, but did not develop any notation to represent them.<sup id="cite_ref-17" class="reference"><a href="#cite_note-17"><span>[</span>18<span>]</span></a></sup></p>
<p>The Persian mathematician <a href="/wiki/Jamsh%C4%ABd_al-K%C4%81sh%C4%AB" title="Jamshd al-Ksh">Jamshd al-Ksh</a> claimed to have discovered decimal fractions himself in the 15th century, though J. Lennart Berggren notes that positional decimal fractions were used five centuries before him by Arab mathematician <a href="/wiki/Abu%27l-Hasan_al-Uqlidisi" title="Abu'l-Hasan al-Uqlidisi">Abu'l-Hasan al-Uqlidisi</a> as early as the 10th century.<sup id="cite_ref-Berggren_18-0" class="reference"><a href="#cite_note-Berggren-18"><span>[</span>19<span>]</span></a></sup></p>
<p><a href="/wiki/Muhammad_ibn_M%C5%ABs%C4%81_al-Khw%C4%81rizm%C4%AB" title="Muhammad ibn Ms al-Khwrizm" class="mw-redirect">Khwarizmi</a> introduced fractions to Islamic countries in the early 9th century. His representation of fractions was taken from traditional Chinese mathematical fractions. This form of fraction with the numerator on top and the denominator on the bottom, without a horizontal bar, was also used in the 10th century by <a href="/wiki/Abu%27l-Hasan_al-Uqlidisi" title="Abu'l-Hasan al-Uqlidisi">Abu'l-Hasan al-Uqlidisi</a> and again in the 15th century work "Arithmetic Key" by <a href="/wiki/Jamsh%C4%ABd_al-K%C4%81sh%C4%AB" title="Jamshd al-Ksh">Jamshd al-Ksh</a>.</p>
<p>A forerunner of modern European decimal notation was introduced by <a href="/wiki/Simon_Stevin" title="Simon Stevin">Simon Stevin</a> in the 16th century.<sup id="cite_ref-van_19-0" class="reference"><a href="#cite_note-van-19"><span>[</span>20<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=Decimal&amp;action=&amp;section=9" title="Edit section: Natural languages"></a>]</span> <span class="mw-headline" id="Natural_languages">Natural languages</span></h3>
<p><a href="/wiki/Telugu_language" title="Telugu language">Telugu language</a> uses a straightforward decimal system. Other <a href="/wiki/Dravidian_languages" title="Dravidian languages">Dravidian languages</a> such as <a href="/wiki/Tamil_language" title="Tamil language">Tamil</a> and <a href="/wiki/Malayalam" title="Malayalam">Malayalam</a> have replaced the number nine <i>tondu</i> with 'onpattu' ("one to ten") during the early middle ages, while Telugu preserved the number nine as <i>tommidi</i>.</p>
<p>A straightforward decimal rank system with a word for each order 10,100,1000,10000, and in which 11 is expressed as <i>ten-one</i> and 23 as <i>two-ten-three</i>, and 89345 is expressed as 89345 is found in <a href="/wiki/Chinese_language" title="Chinese language">Chinese languages</a>, and in <a href="/wiki/Vietnamese_language" title="Vietnamese language">Vietnamese</a> with a few irregularities. <a href="/wiki/Japanese_language" title="Japanese language">Japanese</a>, <a href="/wiki/Korean_language" title="Korean language">Korean</a>, and <a href="/wiki/Thai_language" title="Thai language">Thai</a> have imported the Chinese decimal system. Many other languages with a decimal system have special words for the numbers between 10 and 20, and decades. For example in English 11 is "eleven" not "ten-one".</p>
<p>Incan languages such as <a href="/wiki/Quechua_languages" title="Quechua languages">Quechua</a> and <a href="/wiki/Aymara_language" title="Aymara language">Aymara</a> have an almost straightforward decimal system, in which 11 is expressed as <i>ten with one</i> and 23 as <i>two-ten with three</i>.</p>
<p>Some psychologists suggest irregularities of the English names of numerals may hinder children's counting ability.<sup id="cite_ref-20" class="reference"><a href="#cite_note-20"><span>[</span>21<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=Decimal&amp;action=&amp;section=10" title="Edit section: Other bases"></a>]</span> <span class="mw-headline" id="Other_bases">Other bases</span></h3>
<p>Some cultures do, or did, use other bases of numbers.</p>
<ul>
<li><a href="/wiki/Pre-Columbian" title="Pre-Columbian" class="mw-redirect">Pre-Columbian</a> <a href="/wiki/Mesoamerica" title="Mesoamerica">Mesoamerican</a> cultures such as the <a href="/wiki/Maya_numerals" title="Maya numerals">Maya</a> used a <a href="/wiki/Vigesimal" title="Vigesimal">base-20</a> system (using all twenty fingers and <a href="/wiki/Toe" title="Toe">toes</a>).</li>
<li>The <a href="/wiki/Babylonia" title="Babylonia">Babylonians</a> used a combination of decimal with <a href="/wiki/Sexagesimal" title="Sexagesimal">base 60</a>.</li>
<li>Many or all of the <a href="/wiki/Chumashan_languages" title="Chumashan languages">Chumashan languages</a> originally used a base-4 counting system, in which the names for numbers were structured according to multiples of 4 and 16.<sup id="cite_ref-21" class="reference"><a href="#cite_note-21"><span>[</span>22<span>]</span></a></sup></li>
<li>Many languages<sup id="cite_ref-22" class="reference"><a href="#cite_note-22"><span>[</span>23<span>]</span></a></sup> use quinary number systems, including <a href="/wiki/Gumatj_language" title="Gumatj language">Gumatj</a>, <a href="/wiki/Nunggubuyu_language" title="Nunggubuyu language">Nunggubuyu</a>,<sup id="cite_ref-23" class="reference"><a href="#cite_note-23"><span>[</span>24<span>]</span></a></sup> <a href="/wiki/Kuurn_Kopan_Noot_language" title="Kuurn Kopan Noot language" class="mw-redirect">Kuurn Kopan Noot</a><sup id="cite_ref-24" class="reference"><a href="#cite_note-24"><span>[</span>25<span>]</span></a></sup> and <a href="/wiki/Saraveca" title="Saraveca" class="mw-redirect">Saraveca</a>. Of these, Gumatj is the only true 525 language known, in which 25 is the higher group of 5.</li>
<li>Some <a href="/wiki/Nigeria" title="Nigeria">Nigerians</a> use <a href="/wiki/Base_12" title="Base 12" class="mw-redirect">base-12</a> systems<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from October 2009">citation needed</span></a></i>]</sup></li>
<li>The <a href="/wiki/Huli_language" title="Huli language">Huli language</a> of <a href="/wiki/Papua_New_Guinea" title="Papua New Guinea">Papua New Guinea</a> is reported to have base-15 numbers.<sup id="cite_ref-25" class="reference"><a href="#cite_note-25"><span>[</span>26<span>]</span></a></sup> <i>Ngui</i> means 15, <i>ngui ki</i> means 152 = 30, and <i>ngui ngui</i> means 1515 = 225.</li>
<li><a href="/wiki/Umbu-Ungu_language" title="Umbu-Ungu language" class="mw-redirect">Umbu-Ungu</a>, also known as Kakoli, is reported to have base-24 numbers.<sup id="cite_ref-26" class="reference"><a href="#cite_note-26"><span>[</span>27<span>]</span></a></sup> <i>Tokapu</i> means 24, <i>tokapu talu</i> means 242 = 48, and <i>tokapu tokapu</i> means 2424 = 576.</li>
<li><a href="/wiki/Ngiti_language" title="Ngiti language">Ngiti</a> is reported to have a base-32 number system with base-4 cycles.<sup id="cite_ref-27" class="reference"><a href="#cite_note-27"><span>[</span>28<span>]</span></a></sup></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Decimal&amp;action=&amp;section=11" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<div style="-moz-column-count: 2; -webkit-column-count: 2; column-count: 2;">
<ul>
<li><a href="/wiki/0.999..." title="0.999...">0.999...</a></li>
<li><a href="/wiki/10_(number)" title="10 (number)">10 (number)</a></li>
<li><a href="/wiki/Algorism" title="Algorism">Algorism</a></li>
<li><a href="/wiki/Binary-coded_decimal" title="Binary-coded decimal">Binary-coded decimal</a></li>
<li><a href="/wiki/Decimal_representation" title="Decimal representation">Decimal representation</a></li>
<li><a href="/wiki/Decimal_separator" title="Decimal separator" class="mw-redirect">Decimal separator</a></li>
<li><a href="/wiki/Dewey_Decimal_System" title="Dewey Decimal System" class="mw-redirect">Dewey Decimal System</a></li>
<li><a href="/wiki/Hindu-Arabic_numeral_system" title="Hindu-Arabic numeral system" class="mw-redirect">Hindu-Arabic numeral system</a></li>
<li><a href="/wiki/List_of_decimal-fraction_equivalents:_0_to_1_by_64ths" title="List of decimal-fraction equivalents: 0 to 1 by 64ths">List of decimal-fraction equivalents: 0 to 1 by 64ths</a></li>
<li><a href="/wiki/Numeral_system" title="Numeral system">Numeral system</a></li>
<li><a href="/wiki/Scientific_notation" title="Scientific notation">Scientific notation</a></li>
<li><a href="/wiki/SI_prefix" title="SI prefix" class="mw-redirect">SI prefix</a></li>
</ul>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Decimal&amp;action=&amp;section=12" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist references-column-count references-column-count-2" style="-moz-column-count: 2; -webkit-column-count: 2; column-count: 2; list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><i>The History of Arithmetic</i>, <a href="/wiki/Louis_Charles_Karpinski" title="Louis Charles Karpinski">Louis Charles Karpinski</a>, 200pp, Rand McNally &amp; Company, 1925.</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><i>Histoire universelle des chiffres</i>, <a href="/wiki/Georges_Ifrah" title="Georges Ifrah">Georges Ifrah</a>, Robert Laffont, 1994 (Also: <i>The Universal History of Numbers: From prehistory to the invention of the computer</i>, <a href="/wiki/Georges_Ifrah" title="Georges Ifrah">Georges Ifrah</a>, <a href="/wiki/Special:BookSources/0471393401" class="internal mw-magiclink-isbn">ISBN 0-471-39340-1</a>, John Wiley and Sons Inc., New York, 2000. Translated from the French by David Bellos, E.F. Harding, Sophie Wood and Ian Monk)</span></li>
<li id="cite_note-p141isbn0-87891-200-2-2">^ <a href="#cite_ref-p141isbn0-87891-200-2_2-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-p141isbn0-87891-200-2_2-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><span class="citation book"><a rel="nofollow" class="external text" href="http://books.google.com/books?id=ebx9StilsqIC&amp;pg=PA141#v=onepage&amp;q&amp;f=false"><i>Math Made Nice-n-Easy</i></a>. Piscataway, N.J.: Research Education Association. 1999. p.&#160;141<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=ebx9StilsqIC&amp;pg=PA141#v=onepage&amp;q&amp;f=false">http://books.google.com/books?id=ebx9StilsqIC&amp;pg=PA141#v=onepage&amp;q&amp;f=false</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Math+Made+Nice-n-Easy&amp;rft.date=1999&amp;rft.pages=p.%26nbsp%3B141&amp;rft.place=Piscataway%2C+N.J.&amp;rft.pub=Research++Education+Association&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3Debx9StilsqIC%26pg%3DPA141%23v%3Donepage%26q%26f%3Dfalse&amp;rfr_id=info:sid/en.wikipedia.org:Decimal"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><i>Fingers or Fists? (The Choice of Decimal or Binary Representation)</i>, <a href="/wiki/Werner_Buchholz" title="Werner Buchholz">Werner Buchholz</a>, Communications of the ACM, Vol. 2 #12, pp311, ACM Press, December 1959.</span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><i>Decimal Computation</i>, <a href="/wiki/Hermann_Schmid_(computer_scientist)" title="Hermann Schmid (computer scientist)" class="mw-redirect">Hermann Schmid</a>, John Wiley &amp; Sons 1974 (<a href="/wiki/Special:BookSources/047176180X" class="internal mw-magiclink-isbn">ISBN 047176180X</a>); reprinted in 1983 by Robert E. Krieger Publishing Company (<a href="/wiki/Special:BookSources/0898743184" class="internal mw-magiclink-isbn">ISBN 0898743184</a>)</span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text"><i>Decimal Floating-Point: Algorism for Computers</i>, <a href="/wiki/Mike_Cowlishaw" title="Mike Cowlishaw">Cowlishaw, M. F.</a>, Proceedings 16th IEEE Symposium on Computer Arithmetic, <a href="/wiki/Special:BookSources/076951894X" class="internal mw-magiclink-isbn">ISBN 0-7695-1894-X</a>, pp104-111, IEEE Comp. Soc., June 2003</span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://speleotrove.com/decimal/decifaq.html">Decimal Arithmetic - FAQ</a></span></li>
<li id="cite_note-7"><b><a href="#cite_ref-7">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www-gap.dcs.st-and.ac.uk/~history/HistTopics/Egyptian_numerals.html">Egyptian numerals</a></span></li>
<li id="cite_note-8"><b><a href="#cite_ref-8">^</a></b> <span class="reference-text">Georges Ifrah: <i>From One to Zero. A Universal History of Numbers</i>, Penguin Books, 1988, <a href="/wiki/Special:BookSources/0140099190" class="internal mw-magiclink-isbn">ISBN 0-14-009919-0</a>, pp. 200-213 (Egyptian Numerals)</span></li>
<li id="cite_note-9"><b><a href="#cite_ref-9">^</a></b> <span class="reference-text">Graham Flegg: Numbers: their history and meaning, Courier Dover Publications, 2002, <a href="/wiki/Special:BookSources/9780486421650" class="internal mw-magiclink-isbn">ISBN 978-0-486-42165-0</a>, p. 50</span></li>
<li id="cite_note-10"><b><a href="#cite_ref-10">^</a></b> <span class="reference-text">Georges Ifrah: <i>From One to Zero. A Universal History of Numbers</i>, Penguin Books, 1988, <a href="/wiki/Special:BookSources/0140099190" class="internal mw-magiclink-isbn">ISBN 0-14-009919-0</a>, pp.213-218 (Cretan numerals)</span></li>
<li id="cite_note-Greek_numerals-11">^ <a href="#cite_ref-Greek_numerals_11-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Greek_numerals_11-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www-gap.dcs.st-and.ac.uk/~history/HistTopics/Greek_numbers.html">Greek numerals</a></span></li>
<li id="cite_note-12"><b><a href="#cite_ref-12">^</a></b> <span class="reference-text"><a href="/wiki/Karl_Menninger_(mathematics)" title="Karl Menninger (mathematics)">Menninger, Karl</a>: <i>Zahlwort und Ziffer. Eine Kulturgeschichte der Zahl</i>, Vandenhoeck und Ruprecht, 3rd. ed., 1979, <a href="/wiki/Special:BookSources/3525407254" class="internal mw-magiclink-isbn">ISBN 3-525-40725-4</a>, pp. 150-153</span></li>
<li id="cite_note-13"><b><a href="#cite_ref-13">^</a></b> <span class="reference-text">Georges Ifrah: <i>From One to Zero. A Universal History of Numbers</i>, Penguin Books, 1988, <a href="/wiki/Special:BookSources/0140099190" class="internal mw-magiclink-isbn">ISBN 0-14-009919-0</a>, pp. 218f. (The Hittite hieroglyphic system)</span></li>
<li id="cite_note-14"><b><a href="#cite_ref-14">^</a></b> <span class="reference-text"><a href="/wiki/Lam_Lay_Yong" title="Lam Lay Yong">Lam Lay Yong</a> et al The Fleeting Footsteps p 137-139</span></li>
<li id="cite_note-jnfractn1-15">^ <a href="#cite_ref-jnfractn1_15-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-jnfractn1_15-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><span class="citation book"><a href="/wiki/Joseph_Needham" title="Joseph Needham">Joseph Needham</a> (1959). "Decimal System". <i><a href="/wiki/Science_and_Civilisation_in_China" title="Science and Civilisation in China">Science and Civilisation in China, Volume III, Mathematics and the Sciences of the Heavens and the Earth</a></i>. Cambridge University Press.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Decimal+System&amp;rft.atitle=%5B%5BScience+and+Civilisation+in+China%7CScience+and+Civilisation+in+China%2C+Volume+III%2C+Mathematics+and+the+Sciences+of+the+Heavens+and+the+Earth%5D%5D&amp;rft.aulast=%5B%5BJoseph+Needham%5D%5D&amp;rft.au=%5B%5BJoseph+Needham%5D%5D&amp;rft.date=1959&amp;rft.pub=Cambridge+University+Press&amp;rfr_id=info:sid/en.wikipedia.org:Decimal"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-16"><b><a href="#cite_ref-16">^</a></b> <span class="reference-text">Jean-Claude Martzloff, A History of Chinese Mathematics, Springer 1997 <a href="/wiki/Special:BookSources/3540337822" class="internal mw-magiclink-isbn">ISBN 3-540-33782-2</a></span></li>
<li id="cite_note-17"><b><a href="#cite_ref-17">^</a></b> <span class="reference-text"><a href="/wiki/Solomon_Gandz" title="Solomon Gandz">Gandz, S.</a>: The invention of the decimal fractions and the application of the exponential calculus by Immanuel Bonls of Tarascon (c. 1350), Isis 25 (1936), 1645.</span></li>
<li id="cite_note-Berggren-18"><b><a href="#cite_ref-Berggren_18-0">^</a></b> <span class="reference-text"><span class="citation book">Berggren, J. Lennart (2007). "Mathematics in Medieval Islam". <i>The Mathematics of Egypt, Mesopotamia, China, India, and Islam: A Sourcebook</i>. Princeton University Press. p.&#160;518. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-0-691-11485-9" title="Special:BookSources/978-0-691-11485-9">978-0-691-11485-9</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Mathematics+in+Medieval+Islam&amp;rft.atitle=The+Mathematics+of+Egypt%2C+Mesopotamia%2C+China%2C+India%2C+and+Islam%3A+A+Sourcebook&amp;rft.aulast=Berggren&amp;rft.aufirst=J.+Lennart&amp;rft.au=Berggren%2C%26%2332%3BJ.+Lennart&amp;rft.date=2007&amp;rft.pages=p.%26nbsp%3B518&amp;rft.pub=Princeton+University+Press&amp;rft.isbn=978-0-691-11485-9&amp;rfr_id=info:sid/en.wikipedia.org:Decimal"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-van-19"><b><a href="#cite_ref-van_19-0">^</a></b> <span class="reference-text"><span class="citation book"><a href="/wiki/Bartel_Leendert_van_der_Waerden" title="Bartel Leendert van der Waerden">B. L. van der Waerden</a> (1985). <i>A History of Algebra. From Khwarizmi to Emmy Noether</i>. Berlin: Springer-Verlag.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=A+History+of+Algebra.+From+Khwarizmi+to+Emmy+Noether&amp;rft.aulast=%5B%5BBartel+Leendert+van+der+Waerden%7CB.+L.+van+der+Waerden%5D%5D&amp;rft.au=%5B%5BBartel+Leendert+van+der+Waerden%7CB.+L.+van+der+Waerden%5D%5D&amp;rft.date=1985&amp;rft.place=Berlin&amp;rft.pub=Springer-Verlag&amp;rfr_id=info:sid/en.wikipedia.org:Decimal"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-20"><b><a href="#cite_ref-20">^</a></b> <span class="reference-text"><span class="citation Journal">Azar, Beth (1999). <a rel="nofollow" class="external text" href="http://web.archive.org/web/20071021015527/http://www.apa.org/monitor/apr99/english.html">"English words may hinder math skills development"</a>. <i>American Psychology Association Monitor</i> <b>30</b> (4). Archived from <a rel="nofollow" class="external text" href="http://www.apa.org/monitor/apr99/english.html">the original</a> on 2007-10-21<span class="printonly">. <a rel="nofollow" class="external free" href="http://web.archive.org/web/20071021015527/http://www.apa.org/monitor/apr99/english.html">http://web.archive.org/web/20071021015527/http://www.apa.org/monitor/apr99/english.html</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=English+words+may+hinder+math+skills+development&amp;rft.jtitle=American+Psychology+Association+Monitor&amp;rft.aulast=Azar&amp;rft.aufirst=Beth&amp;rft.au=Azar%2C%26%2332%3BBeth&amp;rft.date=1999&amp;rft.volume=30&amp;rft.issue=4&amp;rft_id=http%3A%2F%2Fweb.archive.org%2Fweb%2F20071021015527%2Fhttp%3A%2F%2Fwww.apa.org%2Fmonitor%2Fapr99%2Fenglish.html&amp;rfr_id=info:sid/en.wikipedia.org:Decimal"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-21"><b><a href="#cite_ref-21">^</a></b> <span class="reference-text">There is a surviving list of <a href="/wiki/Venture%C3%B1o_language" title="Ventureo language">Ventureo language</a> number words up to 32 written down by a Spanish priest ca. 1819. "Chumashan Numerals" by Madison S. Beeler, in <i>Native American Mathematics</i>, ed by Michael P. Closs (1986), <a href="/wiki/Special:BookSources/0292755317" class="internal mw-magiclink-isbn">ISBN 0-292-75531-7</a>.</span></li>
<li id="cite_note-22"><b><a href="#cite_ref-22">^</a></b> <span class="reference-text">Harald Hammarstrm, <a rel="nofollow" class="external text" href="http://www.cs.chalmers.se/~harald2/rara2006.pdf">Rarities in Numeral Systems</a>: "Bases 5, 10, and 20 are omnipresent."</span></li>
<li id="cite_note-23"><b><a href="#cite_ref-23">^</a></b> <span class="reference-text"><span class="citation book">Harris, John (1982). Hargrave, Susanne. ed. <a rel="nofollow" class="external text" href="http://www1.aiatsis.gov.au/exhibitions/e_access/serial/m0029743_v_a.pdf"><i>Facts and fallacies of aboriginal number systems</i></a>. <b>8</b>. pp.&#160;153181<span class="printonly">. <a rel="nofollow" class="external free" href="http://www1.aiatsis.gov.au/exhibitions/e_access/serial/m0029743_v_a.pdf">http://www1.aiatsis.gov.au/exhibitions/e_access/serial/m0029743_v_a.pdf</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Facts+and+fallacies+of+aboriginal+number+systems&amp;rft.aulast=Harris&amp;rft.aufirst=John&amp;rft.au=Harris%2C%26%2332%3BJohn&amp;rft.date=1982&amp;rft.volume=8&amp;rft.pages=pp.%26nbsp%3B153%E2%80%93181&amp;rft_id=http%3A%2F%2Fwww1.aiatsis.gov.au%2Fexhibitions%2Fe_access%2Fserial%2Fm0029743_v_a.pdf&amp;rfr_id=info:sid/en.wikipedia.org:Decimal"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-24"><b><a href="#cite_ref-24">^</a></b> <span class="reference-text">Dawson, J. "<a rel="nofollow" class="external text" href="http://books.google.com/books?id=OdEDAAAAMAAJ"><i>Australian Aborigines: The Languages and Customs of Several Tribes of Aborigines in the Western District of Victoria</i></a> (1881), p. xcviii.</span></li>
<li id="cite_note-25"><b><a href="#cite_ref-25">^</a></b> <span class="reference-text"><span class="citation Journal">Cheetham, Brian (1978). <a rel="nofollow" class="external text" href="http://www.uog.ac.pg/PUB08-Oct-03/cheetham.htm">"Counting and Number in Huli"</a>. <i>Papua New Guinea Journal of Education</i> <b>14</b>: 1635<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.uog.ac.pg/PUB08-Oct-03/cheetham.htm">http://www.uog.ac.pg/PUB08-Oct-03/cheetham.htm</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Counting+and+Number+in+Huli&amp;rft.jtitle=Papua+New+Guinea+Journal+of+Education&amp;rft.aulast=Cheetham&amp;rft.aufirst=Brian&amp;rft.au=Cheetham%2C%26%2332%3BBrian&amp;rft.date=1978&amp;rft.volume=14&amp;rft.pages=16%E2%80%9335&amp;rft_id=http%3A%2F%2Fwww.uog.ac.pg%2FPUB08-Oct-03%2Fcheetham.htm&amp;rfr_id=info:sid/en.wikipedia.org:Decimal"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-26"><b><a href="#cite_ref-26">^</a></b> <span class="reference-text"><span class="citation Journal">Bowers, Nancy; Lepi, Pundia (1975). <a rel="nofollow" class="external text" href="http://www.ethnomath.org/resources/bowers-lepi1975.pdf">"Kaugel Valley systems of reckoning"</a>. <i>Journal of the Polynesian Society</i> <b>84</b> (3): 309324<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.ethnomath.org/resources/bowers-lepi1975.pdf">http://www.ethnomath.org/resources/bowers-lepi1975.pdf</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Kaugel+Valley+systems+of+reckoning&amp;rft.jtitle=Journal+of+the+Polynesian+Society&amp;rft.aulast=Bowers&amp;rft.aufirst=Nancy&amp;rft.au=Bowers%2C%26%2332%3BNancy&amp;rft.au=Lepi%2C%26%2332%3BPundia&amp;rft.date=1975&amp;rft.volume=84&amp;rft.issue=3&amp;rft.pages=309%E2%80%93324&amp;rft_id=http%3A%2F%2Fwww.ethnomath.org%2Fresources%2Fbowers-lepi1975.pdf&amp;rfr_id=info:sid/en.wikipedia.org:Decimal"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-27"><b><a href="#cite_ref-27">^</a></b> <span class="reference-text"><span class="citation web">Hammarstrm, Harald (2006). <a rel="nofollow" class="external text" href="http://www.cs.chalmers.se/~harald2/rarapaper.pdf">"Proceedings of Rara &amp; Rarissima Conference"</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://www.cs.chalmers.se/~harald2/rarapaper.pdf">http://www.cs.chalmers.se/~harald2/rarapaper.pdf</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Proceedings+of+Rara+%26amp%3B+Rarissima+Conference&amp;rft.atitle=&amp;rft.aulast=Hammarstr%C3%B6m&amp;rft.aufirst=Harald&amp;rft.au=Hammarstr%C3%B6m%2C%26%2332%3BHarald&amp;rft.date=2006&amp;rft_id=http%3A%2F%2Fwww.cs.chalmers.se%2F%7Eharald2%2Frarapaper.pdf&amp;rfr_id=info:sid/en.wikipedia.org:Decimal"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Decimal&amp;action=&amp;section=13" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://speleotrove.com/decimal/decifaq.html">Decimal arithmetic FAQ</a></li>
<li><a rel="nofollow" class="external text" href="http://spot.colorado.edu/~gubermas/NCTM_pap.htm">Cultural Aspects of Young Children's Mathematics Knowledge</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 8390/1000000
Post-expand include size: 58490/2048000 bytes
Template argument size: 18848/2048000 bytes
Expensive parser function count: 4/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:8214-0!0!0!!en!4!* and timestamp 20120412192515 -->
