<dl>
<dd><i>For mediant in music, see <a href="/wiki/Mediant" title="Mediant">mediant</a>. "Mediant" should not be confused with <a href="/wiki/Median" title="Median">median</a>.</i></dd>
</dl>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, the <b>mediant</b> of two <a href="/wiki/Vulgar_fraction" title="Vulgar fraction" class="mw-redirect">fractions</a></p>
<dl>
<dd><img class="tex" alt=" \frac {a} {c} \text{ and } \frac {b} {d}  " src="//upload.wikimedia.org/wikipedia/en/math/f/0/a/f0a79343bd72dc58dc4fe751072ee7eb.png" /></dd>
</dl>
<p>is</p>
<dl>
<dd><img class="tex" alt=" \frac {a + b} {c + d}. " src="//upload.wikimedia.org/wikipedia/en/math/a/b/f/abf4a80ac612e76684ee628166650719.png" /></dd>
</dl>
<p>that is to say, the <a href="/wiki/Numerator" title="Numerator" class="mw-redirect">numerator</a> and <a href="/wiki/Denominator" title="Denominator" class="mw-redirect">denominator</a> of the mediant are the sums of the numerators and denominators of the given fractions, respectively. It is sometimes called the <b>freshman sum</b>, as it is a very common mistake in the usual <a href="/wiki/Fraction_(mathematics)#Addition" title="Fraction (mathematics)">addition of fractions</a>.</p>
<p>In general, this is an operation on <a href="/wiki/Fractions" title="Fractions" class="mw-redirect">fractions</a> rather than on <a href="/wiki/Rational_numbers" title="Rational numbers" class="mw-redirect">rational numbers</a>. That is to say, for two rational numbers <i>q</i><sub>1</sub>, <i>q</i><sub>2</sub>, the value of the mediant depends on how the rational numbers are expressed using <a href="/wiki/Equivalent_fractions" title="Equivalent fractions" class="mw-redirect">integer pairs</a>. For example, the mediant of 1/1 and 1/2 is 2/3, but the mediant of 2/2 and 1/2 is 3/4.</p>
<p>A way around this, where required, is to specify that both rationals are to be represented as fractions in their lowest terms (with <i>c</i> &gt; 0, <i>d</i> &gt; 0). With such a restriction, mediant becomes a well-defined binary operation on rationals.</p>
<p>The <a href="/wiki/Stern-Brocot_tree" title="Stern-Brocot tree" class="mw-redirect">Stern-Brocot tree</a> provides an enumeration of all positive rational numbers, in lowest terms, obtained purely by iterative computation of the mediant according to a simple algorithm.</p>
<h2><span class="section">[<a href="/w/index.php?title=Mediant_(mathematics)&amp;action=&amp;section=1" title="Edit section: Properties"></a>]</span> <span class="mw-headline" id="Properties">Properties</span></h2>
<ul>
<li><b>The mediant inequality:</b> An important property (also explaining its name) of the mediant is that it lies strictly between the two fractions of which it is the mediant: If <img class="tex" alt="a/c &lt; b/d " src="//upload.wikimedia.org/wikipedia/en/math/1/5/b/15b5b16e964fb8f5dda60a5bc1b0e2be.png" />, then</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\frac a c &lt; \frac{a+b}{c+d} &lt; \frac b d. " src="//upload.wikimedia.org/wikipedia/en/math/e/c/e/ecee54f02d1ac9f7c6917f4c031e0d27.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>This property follows from the two relations</dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\frac{a+b}{c+d}-\frac a c={{bc-ad}\over{c(c+d)}} ={d\over{c+d}}\left( \frac{b}{d}-\frac a c \right)" src="//upload.wikimedia.org/wikipedia/en/math/f/7/0/f709aff93be62ced55252daacbc59545.png" /></dd>
</dl>
</dd>
<dd>and</dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\frac b d-\frac{a+b}{c+d}={{bc-ad}\over{d(c+d)}} ={c\over{c+d}}\left( \frac{b}{d}-\frac a c \right). " src="//upload.wikimedia.org/wikipedia/en/math/c/4/c/c4cfb4e68cf8a6daaf35fc6b5f9273f8.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>Assume that the pair of fractions <i>a</i>/<i>c</i> and <i>b</i>/<i>d</i> satisfies the determinant relation <img class="tex" alt="bc-ad=1" src="//upload.wikimedia.org/wikipedia/en/math/4/4/0/440de441916a938a420e78e5c5b9e15b.png" />. Then the mediant has the property that it is the <i>simplest</i> fraction in the interval (<i>a</i>/<i>c</i>, <i>b</i>/<i>d</i>), in the sense of being the fraction with the smallest denominator. More precisely, if the fraction <img class="tex" alt=" a'/c' " src="//upload.wikimedia.org/wikipedia/en/math/7/8/e/78e9e0576e519a55c63830fb4d682040.png" /> with positive denominator c' lies (strictly) between <i>a</i>/<i>c</i> and <i>b</i>/<i>d</i>, then its numerator resp. denominator can be written as <img class="tex" alt=" \,a'=\lambda_1 a+\lambda_2  b " src="//upload.wikimedia.org/wikipedia/en/math/d/0/3/d03d4207e9d70b316d3aff9aacc8e0e4.png" /> and <img class="tex" alt=" \,c'=\lambda_1 c+\lambda_2  d " src="//upload.wikimedia.org/wikipedia/en/math/1/e/a/1ea52b6e0b1edf7a06263f03d89b35aa.png" /> with two <i>positive</i> real (in fact rational) numbers <img class="tex" alt=" \lambda_1,\,\lambda_2 " src="//upload.wikimedia.org/wikipedia/en/math/8/8/0/8801d6a24cbe87ded2ad354fc43186e8.png" />. To see why the <img class="tex" alt=" \lambda_i " src="//upload.wikimedia.org/wikipedia/en/math/4/0/d/40df999cdd2cf5df4f75806b9e280679.png" /> must be positive note that</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\frac{\lambda_1 a+\lambda_2  b}{\lambda_1 c+\lambda_2  d }-\frac a c=\lambda_2 {{bc-ad}\over{c(\lambda_1 c+\lambda_2  d)}}
" src="//upload.wikimedia.org/wikipedia/en/math/0/0/7/007d21fb0a6158ee54340f88ffc8748f.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>and</dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\frac b d-\frac{\lambda_1 a+\lambda_2  b}{\lambda_1 c+\lambda_2  d }=\lambda_1 {{bc-ad}\over{d(\lambda_1 c+\lambda_2  d )}} " src="//upload.wikimedia.org/wikipedia/en/math/d/7/2/d722bb58b00910c03a094aea1e8ffd60.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>must be positive. The determinant relation
<dl>
<dd><img class="tex" alt="bc-ad=1 \, " src="//upload.wikimedia.org/wikipedia/en/math/a/a/6/aa660d44b46083a06275448cb4e432d9.png" /></dd>
</dl>
</dd>
<dd>then implies that both <img class="tex" alt=" \lambda_1,\,\lambda_2 " src="//upload.wikimedia.org/wikipedia/en/math/8/8/0/8801d6a24cbe87ded2ad354fc43186e8.png" /> must be integers, solving the system of linear equations
<dl>
<dd><img class="tex" alt="\, a'=\lambda_1 a+\lambda_2 b " src="//upload.wikimedia.org/wikipedia/en/math/d/0/3/d03d4207e9d70b316d3aff9aacc8e0e4.png" /></dd>
<dd><img class="tex" alt="\, c'=\lambda_1 c+\lambda_2 d " src="//upload.wikimedia.org/wikipedia/en/math/1/e/a/1ea52b6e0b1edf7a06263f03d89b35aa.png" /></dd>
</dl>
</dd>
<dd>for <img class="tex" alt=" \lambda_1,\lambda_2 " src="//upload.wikimedia.org/wikipedia/en/math/0/2/e/02e6544009b75cb925ad20ac0235b268.png" />. Therefore <img class="tex" alt=" c'\ge c+d. " src="//upload.wikimedia.org/wikipedia/en/math/b/7/f/b7f992665f7bdcaa6fca75927c8be16f.png" /></dd>
</dl>
<ul>
<li>The converse is also true: assume that the pair of reduced fractions <i>a</i>/<i>c</i>&#160;&lt;&#160;<i>b</i>/<i>d</i> has the property that the <i>reduced</i> fraction with smallest denominator lying in the interval (<i>a</i>/<i>c</i>,&#160;<i>b</i>/<i>d</i>) is equal to the mediant of the two fractions. Then the determinant relation <i>bc</i>&#160;&#160;<i>ad</i> = 1 holds. This fact may be deduced e.g. with the help of <a href="/wiki/Pick%27s_theorem" title="Pick's theorem">Pick's theorem</a> which expresses the area of a plane triangle whose vertices have integer coordinates in terms of the number v<sub>interior</sub> of lattice points (strictly) inside the triangle and the number v<sub>boundary</sub> of lattice points on the boundary of the triangle. Consider the triangle <img class="tex" alt=" \Delta(v_1,v_2,v_3)" src="//upload.wikimedia.org/wikipedia/en/math/5/6/f/56fcf46fb386ae861ac64b7a2d9354d8.png" /> with the three vertices <i>v</i><sub>1</sub> = (0,&#160;0), <i>v</i><sub>2</sub> = (<i>a</i>,&#160;<i>c</i>), <i>v</i><sub>3</sub> = (<i>b</i>,&#160;<i>d</i>). Its area is equal to</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt=" \text{area}(\Delta)={{bc-ad}\over 2} \ ." src="//upload.wikimedia.org/wikipedia/en/math/2/f/1/2f1f0babfb6b56a337452fb2e493fbfb.png" /></dd>
</dl>
</dd>
<dd>A point <img class="tex" alt=" p=(p_1,p_2) " src="//upload.wikimedia.org/wikipedia/en/math/9/0/5/90553b6ca8c9cdf6dcfa58aee2abe59d.png" /> inside the triangle can be parametrized as
<dl>
<dd><img class="tex" alt=" p_1=\lambda_1 a+\lambda_2 b,\; p_2=\lambda_1 c+\lambda_2 d,  
" src="//upload.wikimedia.org/wikipedia/en/math/e/f/8/ef84115a73b84c5bfb3c877f6959387c.png" /></dd>
</dl>
</dd>
<dd>where
<dl>
<dd><img class="tex" alt=" \lambda_1\ge 0,\,\lambda_2 \ge 0, \,\lambda_1+\lambda_2 \le 1. \, " src="//upload.wikimedia.org/wikipedia/en/math/2/8/5/2858cd292b3ba5220f41bd07ec83428a.png" /></dd>
</dl>
</dd>
<dd>The Pick formula
<dl>
<dd><img class="tex" alt=" \text{area}(\Delta)=v_\mathrm{interior}+{v_\mathrm{boundary}\over 2}-1 
" src="//upload.wikimedia.org/wikipedia/en/math/9/8/b/98b24b522fca5664a2419068f1fcda37.png" /></dd>
</dl>
</dd>
<dd>now implies that there must be a lattice point <i>q</i>&#160;=&#160;(<i>q</i><sub>1</sub>,&#160;<i>q</i><sub>2</sub>) lying inside the triangle different from the three vertices if <i>bc</i>&#160;&amp;nsbp;<i>ad</i>&#160;&gt;1 (then the area of the triangle is <img class="tex" alt=" \ge 1 " src="//upload.wikimedia.org/wikipedia/en/math/1/9/0/190e98cf0a6ba7a8b6ed2eafbfb4e8ea.png" />). The corresponding fraction <i>q</i><sub>1</sub>/<i>q</i><sub>2</sub> lies (strictly) between the given (by assumption reduced) fractions and has denominator</dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt=" q_2=\lambda_1c+\lambda_2d \le \max(c,d)&lt;c+d 
" src="//upload.wikimedia.org/wikipedia/en/math/0/5/7/0572255eb14474fed990027a403afcc9.png" /></dd>
</dl>
</dd>
<dd>as
<dl>
<dd><img class="tex" alt=" \lambda_1+\lambda_2 \le 1. \, " src="//upload.wikimedia.org/wikipedia/en/math/b/3/7/b37880afefe41567695941ab158f3fef.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>Relatedly, if <i>p</i>/<i>q</i> and <i>r</i>/<i>s</i> are reduced fractions on the unit interval such that |<i>ps</i>&#160;&#160;<i>rq</i>| = 1 (so that they are adjacent elements of a row of the <a href="/wiki/Farey_sequence" title="Farey sequence">Farey sequence</a>) then</li>
</ul>
<dl>
<dd><img class="tex" alt="?\left(\frac{p+r}{q+s}\right) = \frac12 \left(?\bigg(\frac pq\bigg) + {}?\bigg(\frac rs\bigg)\right)" src="//upload.wikimedia.org/wikipedia/en/math/2/4/b/24bed68fd5a1b6eb44beea46c2bef9e0.png" /></dd>
<dd>where&#160;? is <a href="/wiki/Minkowski%27s_question_mark_function" title="Minkowski's question mark function">Minkowski's question mark function</a>.</dd>
</dl>
<dl>
<dd>In fact, mediants commonly occur in the study of <a href="/wiki/Continued_fraction" title="Continued fraction">continued fractions</a> and in particular, <a href="/wiki/Farey_fraction" title="Farey fraction" class="mw-redirect">Farey fractions</a>. The <i>n</i>th <a href="/wiki/Farey_sequence" title="Farey sequence">Farey sequence</a> <i>F</i><sub><i>n</i></sub> is defined as the (ordered with respect to magnitude) sequence of reduced fractions <i>a</i>/<i>b</i> (with <a href="/wiki/Coprime" title="Coprime">coprime</a> <i>a</i>, <i>b</i>) such that <i>b</i>&#160;&#160;<i>n</i>. If two fractions <i>a</i>/<i>c</i>&#160;&lt;&#160;<i>b</i>/<i>d</i> are adjacent (neighbouring) fractions in a segment of F<sub>n</sub> then the determinant relation <img class="tex" alt=" bc-ad=1" src="//upload.wikimedia.org/wikipedia/en/math/4/4/0/440de441916a938a420e78e5c5b9e15b.png" /> mentioned above is generally valid and therefore the mediant is the <i>simplest</i> fraction in the interval (<i>a</i>/<i>c</i>,&#160;<i>b</i>/<i>d</i>), in the sense of being the fraction with the smallest denominator. Thus the mediant will then (first) appear in the (<i>c</i>&#160;+&#160;<i>d</i>)th Farey sequence and is the "next" fraction which is inserted in any Farey sequence between <i>a</i>/<i>c</i> and <i>b</i>/<i>d</i>. This gives the rule how the Farey sequences <i>F</i><sub><i>n</i></sub> are successively built up with increasing <i>n</i>.</dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Mediant_(mathematics)&amp;action=&amp;section=2" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/blue/Mediant.shtml">Mediant Fractions</a> at <a href="/wiki/Cut-the-knot" title="Cut-the-knot" class="mw-redirect">cut-the-knot</a></li>
<li><a rel="nofollow" class="external text" href="http://www.mathpath.org/Algor/cuberoot/cube.root.mediant.htm">MATHPATH: Cube roots via Mediants</a></li>
<li><a rel="nofollow" class="external text" href="http://mathpages.com/home/kmath055.htm">MATHPAGES, Kevin Brown: Generalized Mediant</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 286/1000000
Post-expand include size: 0/2048000 bytes
Template argument size: 0/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1421466-0!0!0!!*!*!* and timestamp 20120301084200 -->
