<p>In <a href="/wiki/Mathematics_education" title="Mathematics education">mathematics education</a> at <a href="/wiki/Primary_school" title="Primary school">primary school</a> level, a <b>number bond</b> (sometimes alternatively called an <b>addition fact</b>) is a simple <a href="/wiki/Addition" title="Addition">addition</a> sum which has become so familiar that a child can recognise it and complete it almost instantly, with recall as automatic as that of an entry from a <a href="/wiki/Multiplication_table" title="Multiplication table">multiplication table</a> in <a href="/wiki/Multiplication" title="Multiplication">multiplication</a>.</p>
<p>For example,</p>
<dl>
<dd><img class="tex" alt="5 + 2 = 7\;" src="//upload.wikimedia.org/wikipedia/en/math/2/d/a/2da46771024364e1cfd94c25d2d0f56e.png" /></dd>
</dl>
<p>A child who "knows" this number bond should be able to immediately fill in any one of these three numbers if it was missing, given the other two, without having to "work it out".</p>
<p>Having acquired some familiar number bonds, children should also soon learn how to use them to develop strategies to complete more complicated sums, for example by navigating from a new sum to an adjacent number bond they know, i.e. 5&#160;+&#160;2 and 4&#160;+&#160;3 are both number bonds that make 7; or by strategies like "making ten", for example recognising that 7&#160;+&#160;6&#160;=&#160;7&#160;+&#160;(3&#160;+&#160;3)&#160;=&#160;(7&#160;+&#160;3)&#160;+&#160;3&#160;=&#160;13.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#History"><span class="tocnumber">1</span> <span class="toctext">History</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#See_also"><span class="tocnumber">2</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#References"><span class="tocnumber">3</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#External_links"><span class="tocnumber">4</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Number_bond&amp;action=&amp;section=1" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<p>The term "number bond" is sometimes derided<sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Avoid_weasel_words" title="Wikipedia:Avoid weasel words" class="mw-redirect"><span title="The material in the vicinity of this tag may use weasel words or too-vague attribution. from July 2010">by whom?</span></a></i>]</sup> as a piece of unnecessary new mathematical jargon, adding an element of pointless abstraction or incomprehensibility for those not familiar with it (such as children's parents) to a subject even as simple as primary school addition.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> In fact the term has been used at least since the 1960s,<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> and had formally entered the primary curriculum in <a href="/wiki/Singapore" title="Singapore">Singapore</a> by the early 1970s.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<p>In the U.K. the phrase came into widespread classroom use from the late 1990s when the <a href="/wiki/National_Numeracy_Strategy" title="National Numeracy Strategy">National Numeracy Strategy</a> brought in an emphasis on in-classroom discussion of strategies for developing mental arithmetic in its "numeracy hour".</p>
<h2><span class="section">[<a href="/w/index.php?title=Number_bond&amp;action=&amp;section=2" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Addition#Elementary_methods" title="Addition">Addition#Elementary methods</a> and <a href="/wiki/Addition#Decimal_system" title="Addition">Addition#Decimal system</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Number_bond&amp;action=&amp;section=3" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">e.g. Sarah Ebner, <a rel="nofollow" class="external text" href="http://timesonline.typepad.com/schoolgate/2010/03/can-you-help-an-eightyearold-with-her-maths-homework.html">Can you help an eight-year-old with her maths homework?</a>, <i><a href="/wiki/The_Times" title="The Times">Times Online</a></i>, 12 March 2010</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">Gordon Pemberton and A. Haigh (1963), <i>Number bond workbooks</i>, books 14, Glasgow: Blackie, 1963</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text">Peng Yee Lee (2008), Sixty years of Mathematics syllabi and textbooks in Singapore, in Zalman Usiskin, Edwin Willmore (eds), <i>Mathematics curriculum in Pacific rim countriesChina, Japan, Korea, and Singapore: proceedings of a conference</i>, Charlotte, NC: Information Age Publishing, <a rel="nofollow" class="external text" href="http://books.google.co.uk/books?id=qT7mQp-271kC&amp;pg=PA89">p.89</a> <a href="/wiki/Special:BookSources/1593119534" class="internal mw-magiclink-isbn">ISBN 1593119534</a></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Number_bond&amp;action=&amp;section=4" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://home-ed.info/maths/number_bonds.html">Number bonds: beginning addition</a></li>
<li><a rel="nofollow" class="external text" href="http://www.amblesideprimary.com/ambleweb/mentalmaths/numberbond.html">Number Bond machine</a> - online number bond practice applet, Ambleside C.E. Primary School</li>
<li><a rel="nofollow" class="external text" href="http://letsplaymath.net/2007/01/13/number-bonds-better-understanding/">Let's play math: Number bonds</a></li>
<li><a rel="nofollow" class="external autonumber" href="http://www.mrpasterfield.com/vocabulary.html">[1]</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 400/1000000
Post-expand include size: 3120/2048000 bytes
Template argument size: 1283/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:26773116-0!0!0!!en!*!* and timestamp 20120412184821 -->
