<div class="dablink">This article is about the mathematical symbols.  For other uses of "plus" and the symbol "+", see <a href="/wiki/Plus_(disambiguation)" title="Plus (disambiguation)" class="mw-redirect">Plus (disambiguation)</a>.  For other uses of "minus", see <a href="/wiki/Minus_(disambiguation)" title="Minus (disambiguation)">Minus (disambiguation)</a>.</div>
<p>The <b>plus and minus signs</b> (<b>+</b> and <b></b>) are <a href="/wiki/Mathematical_symbol" title="Mathematical symbol" class="mw-redirect">mathematical symbols</a> used to represent the notions of <a href="/wiki/Sign_(mathematics)" title="Sign (mathematics)">positive and negative</a> as well as the operations of <a href="/wiki/Addition" title="Addition">addition</a> and <a href="/wiki/Subtraction" title="Subtraction">subtraction</a>. Their use has been extended to many other meanings, more or less analogous. <b>Plus</b> and <b>minus</b> are <a href="/wiki/Latin" title="Latin">Latin</a> terms meaning "more" and "less", respectively.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#History"><span class="tocnumber">1</span> <span class="toctext">History</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Plus_sign"><span class="tocnumber">2</span> <span class="toctext">Plus sign</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Minus_sign"><span class="tocnumber">3</span> <span class="toctext">Minus sign</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Use_in_elementary_education"><span class="tocnumber">4</span> <span class="toctext">Use in elementary education</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Use_as_a_qualifier"><span class="tocnumber">5</span> <span class="toctext">Use as a qualifier</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Uses_in_computing"><span class="tocnumber">6</span> <span class="toctext">Uses in computing</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Other_uses"><span class="tocnumber">7</span> <span class="toctext">Other uses</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Character_codes"><span class="tocnumber">8</span> <span class="toctext">Character codes</span></a>
<ul>
<li class="toclevel-2 tocsection-9"><a href="#Alternative_plus_sign"><span class="tocnumber">8.1</span> <span class="toctext">Alternative plus sign</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-10"><a href="#See_also"><span class="tocnumber">9</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#References"><span class="tocnumber">10</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#External_links"><span class="tocnumber">11</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Plus_and_minus_signs&amp;action=&amp;section=1" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<p>Though the signs now seem as familiar as the <a href="/wiki/Alphabet" title="Alphabet">alphabet</a> or the <a href="/wiki/Hindu-Arabic_numerals" title="Hindu-Arabic numerals" class="mw-redirect">Hindu-Arabic numerals</a>, they are not of great antiquity. The <a href="/wiki/Egyptian_hieroglyph" title="Egyptian hieroglyph" class="mw-redirect">Egyptian hieroglyphic</a> sign for addition, for example, resembled a pair of legs walking in the direction in which the text was written (<a href="/wiki/Egyptian_language" title="Egyptian language">Egyptian</a> could be written either from right to left or left to right), with the reverse sign indicating subtraction:<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from December 2008">citation needed</span></a></i>]</sup></p>
<table align="center">
<tr>
<td>
<table class='mw-hiero-table mw-hiero-outer' dir='ltr'>
<tr>
<td>
<table class="mw-hiero-table">
<tr>
<td><img style='margin: 1px; height: 18px;' src='//bits.wikimedia.org/w/extensions-1.19/wikihiero/img/hiero_D54.png' title='D54' alt='D54' /></td>
<td>or</td>
<td><img style='margin: 1px; height: 18px;' src='//bits.wikimedia.org/w/extensions-1.19/wikihiero/img/hiero_D55.png' title='D55' alt='D55' /></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<p>In Europe in the early 15th century the letters "P" and "M" were generally used.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> The symbols (P with line <i>p</i> for <i>pi</i>, i.e., plus, and M with line <i>m</i> for <i>meno</i>, i.e., minus) appeared for the first time in <a href="/wiki/Luca_Pacioli" title="Luca Pacioli">Luca Pacioli</a>s mathematics compendium, <i>Summa de arithmetica, geometria, proportioni et proportionalit</i>, first printed and published in <a href="/wiki/Venice" title="Venice">Venice</a> in 1494.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> The <b>+</b> is a simplification of the Latin "et" (comparable to the <a href="/wiki/Ampersand" title="Ampersand">ampersand</a> <b>&amp;</b>).<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from November 2009">citation needed</span></a></i>]</sup> The <b></b> may be derived from a <a href="/wiki/Tilde" title="Tilde">tilde</a> written over <b>m</b> when used to indicate subtraction; or it may come from a shorthand version of the letter m itself.<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from December 2008">citation needed</span></a></i>]</sup> In his 1489 treatise <a href="/wiki/Johannes_Widmann" title="Johannes Widmann">Johannes Widmann</a> referred to the symbols  and + as <i>minus</i> and <i>mer</i> (Modern German <i>mehr</i>; "more"): "das  ist, das ist minus, und das + ist das mer".<sup id="cite_ref-OED_2-0" class="reference"><a href="#cite_note-OED-2"><span>[</span>3<span>]</span></a></sup></p>
<p>A book published by <a href="/wiki/Henricus_Grammateus" title="Henricus Grammateus">Henricus Grammateus</a> in 1518 makes another early use of + and  for addition and subtraction.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup></p>
<p><a href="/wiki/Robert_Recorde" title="Robert Recorde">Robert Recorde</a>, the designer of the <a href="/wiki/Equals_sign" title="Equals sign">equals sign</a>, introduced plus and minus to Britain in 1557 in <i><a href="/wiki/The_Whetstone_of_Witte" title="The Whetstone of Witte">The Whetstone of Witte</a></i>:<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from December 2008">citation needed</span></a></i>]</sup> "There be other 2 signes in often use of which the first is made thus + and betokeneth more: the other is thus made  and betokeneth lesse."</p>
<h2><span class="section">[<a href="/w/index.php?title=Plus_and_minus_signs&amp;action=&amp;section=2" title="Edit section: Plus sign"></a>]</span> <span class="mw-headline" id="Plus_sign">Plus sign</span></h2>
<p>The plus sign is a <a href="/wiki/Binary_operator" title="Binary operator" class="mw-redirect">binary operator</a> that indicates <a href="/wiki/Addition" title="Addition">addition</a>, as in 2 + 3 = 5. It can also serve as a <a href="/wiki/Unary_operator" title="Unary operator" class="mw-redirect">unary operator</a> that leaves its <a href="/wiki/Operand" title="Operand">operand</a> <a href="/wiki/Identity_function" title="Identity function">unchanged</a> (+<i>x</i> means the same as <i>x</i>). This notation may be used when it is desired to emphasise the positiveness of a number, especially when contrasting with the negative (+5 versus 5).</p>
<p>The plus sign can also indicate many other operations, depending on the mathematical system under consideration. Many <a href="/wiki/Algebraic_structure" title="Algebraic structure">algebraic structures</a> have some operation which is called, or equivalent to, <a href="/wiki/Addition" title="Addition">addition</a>. Moreover, the symbolism has been extended to very different operations. Plus can mean:</p>
<ul>
<li><a href="/wiki/Exclusive_or" title="Exclusive or">exclusive or</a> (usually written ): 1 + 1 = 0, 1 + 0 = 1</li>
<li><a href="/wiki/Logical_disjunction" title="Logical disjunction">logical disjunction</a> (usually written ): 1 + 1 = 1, 1 + 0 = 1</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Plus_and_minus_signs&amp;action=&amp;section=3" title="Edit section: Minus sign"></a>]</span> <span class="mw-headline" id="Minus_sign">Minus sign</span></h2>
<p>The minus sign has three main uses in mathematics:<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup></p>
<ol>
<li>The subtraction operator: A binary operator to indicate the operation of <a href="/wiki/Subtraction" title="Subtraction">subtraction</a>, as in 5&#160;&#160;3&#160;=&#160;2. Subtraction is the inverse of addition.</li>
<li>Directly in front of a number and when it is not a subtraction operator it means a negative number. For instance 5 is negative 5.</li>
<li>A unary operator that acts as an instruction to replace the operand by its opposite. For example, if <i>x</i> is 3, then <i>x</i> is 3, but if <i>x</i> is 3, then <i>x</i> is 3. Similarly, (2) is equal to&#160;2.</li>
</ol>
<p>All three uses can be referred to as "minus" in everyday speech. In modern US usage, 5 (for example) is normally pronounced "negative five" rather than "minus five". "minus" may be used by speakers born before 1950, and is still popular in some contexts, but "negative" is usually taught as the only correct reading.<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup> In most other parts of the English-speaking world, "minus five" is more common. Textbooks in America encourage <i>x</i> to be read as "the opposite of <i>x</i>" or even "the additive inverse of <i>x</i>" to avoid giving the impression that <i>x</i> is necessarily negative.<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup></p>
<p>In some contexts, different glyphs are used for these meanings; for instance in the computer language <a href="/wiki/APL_(programming_language)" title="APL (programming language)">APL</a> a raised minus sign is used in negative numbers (as in 2&#160;&#160;5 gives <sup></sup>3), but such usage is rare.</p>
<p>In mathematics and most programming languages, the rules for the <a href="/wiki/Order_of_operations" title="Order of operations">order of operations</a> mean that 5<sup>2</sup> is equal to 25. Powers bind more strongly than multiplication or division which binds more strongly than addition or subtraction. While strictly speaking, the unary minus is not subtraction, it is given the same place as subtraction. However in some programming languages and <a href="/wiki/Microsoft_Excel" title="Microsoft Excel">Excel</a> in particular, unary operators bind strongest, so in these 5^2 is 25 but 05^2 is 25.<sup id="cite_ref-7" class="reference"><a href="#cite_note-7"><span>[</span>8<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Plus_and_minus_signs&amp;action=&amp;section=4" title="Edit section: Use in elementary education"></a>]</span> <span class="mw-headline" id="Use_in_elementary_education">Use in elementary education</span></h2>
<p>Some elementary teachers use raised plus and minus signs before numbers to show they are positive or negative numbers.<sup id="cite_ref-8" class="reference"><a href="#cite_note-8"><span>[</span>9<span>]</span></a></sup> For example subtracting 5 from 3 might be read as positive three take away negative 5 and be shown as</p>
<dl>
<dd>3  <sup></sup>5 becomes 3 + 5 = 8,</dd>
</dl>
<p>or even as</p>
<dl>
<dd><sup>+</sup>3  <sup></sup>5 becomes <sup>+</sup>3 + <sup>+</sup>5 which is <sup>+</sup>8</dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Plus_and_minus_signs&amp;action=&amp;section=5" title="Edit section: Use as a qualifier"></a>]</span> <span class="mw-headline" id="Use_as_a_qualifier">Use as a qualifier</span></h2>
<p>In grading systems (such as examination marks), the plus sign indicates a grade one level higher and the minus sign a grade lower. For example, B ("B minus") is one grade lower than B. Sometimes this is extended to two plus or minus signs; for example A++ is two grades higher than A.</p>
<p>Positive and negative are sometimes abbreviated as +ve and ve.</p>
<p>In mathematics the <a href="/wiki/One-sided_limit" title="One-sided limit">one-sided limit</a> <i>x</i><i>a</i><sup>+</sup> means <i>x</i> approaches <i>a</i> from the right, and <i>x</i><i>a</i><sup></sup> means <i>x</i> approaches <i>a</i> from the left. For example, when calculating what <i>x</i><sup>1</sup> is when <i>x</i> approaches 0, because <i>x</i><sup>1</sup><a href="/wiki/Extended_real_number_line" title="Extended real number line">+</a> when <i>x</i>0<sup>+</sup> but <i>x</i><sup>1</sup>  when <i>x</i>0<sup></sup>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Plus_and_minus_signs&amp;action=&amp;section=6" title="Edit section: Uses in computing"></a>]</span> <span class="mw-headline" id="Uses_in_computing">Uses in computing</span></h2>
<p>As well as the normal mathematical usage plus and minus may be used for a number of other purposes in computing.</p>
<p>Plus and minus signs are often used in <a href="/wiki/Tree_view" title="Tree view">tree view</a> on a computer screen to show if a folder is collapsed or not.</p>
<p>In some programming languages <a href="/wiki/Concatenation" title="Concatenation">concatenation</a> of <a href="/wiki/String_(computer_science)" title="String (computer science)">strings</a> is written: "a" + "b" = "ab", although this usage is questioned by some for violating <a href="/wiki/Commutativity" title="Commutativity" class="mw-redirect">commutativity</a>, a property addition is expected to have.</p>
<p>In most programming languages, subtraction and negation are indicated with the ASCII <a href="/wiki/Hyphen-minus" title="Hyphen-minus">hyphen-minus</a> character, <code>-</code>. In <a href="/wiki/APL_(programming_language)" title="APL (programming language)">APL</a> a raised minus sign (Unicode U+00AF) is used to denote a negative number, as in 3) and in <a href="/wiki/J_(programming_language)" title="J (programming language)">J</a> a negative number is denoted by an <a href="/wiki/Underscore" title="Underscore">underscore</a>, as in _5.</p>
<p>In <a href="/wiki/C_(programming_language)" title="C (programming language)">C</a> and some other computer programming languages, two plus signs indicate the <a href="/wiki/Increment_operator" title="Increment operator" class="mw-redirect">increment</a> operator and two minus signs a decrement. For example, <code>x++</code> means "increment the value of x by one" and <code>x--</code> means "decrement the value of x by one". By extension, "++" is sometimes used in computing terminology to signify an improvement, as in the name of the language <a href="/wiki/C%2B%2B" title="C++">C++</a>.</p>
<p>There is no concept of negative zero in mathematics, but in computing <a href="/wiki/%E2%88%920_(number)" title="0 (number)" class="mw-redirect">0</a> may have a separate representation from zero. In the <a href="/wiki/IEEE_floating-point_standard" title="IEEE floating-point standard" class="mw-redirect">IEEE floating-point standard</a> 1/0 is negative infinity whereas 1/0 is positive infinity.</p>
<h2><span class="section">[<a href="/w/index.php?title=Plus_and_minus_signs&amp;action=&amp;section=7" title="Edit section: Other uses"></a>]</span> <span class="mw-headline" id="Other_uses">Other uses</span></h2>
<p>In chemistry, the minus sign (rather than an <a href="/wiki/En_dash" title="En dash" class="mw-redirect">en dash</a>) is used for a <a href="/wiki/Covalent_bond" title="Covalent bond">single covalent bond</a> between two atoms, in <a href="/wiki/Skeletal_formula" title="Skeletal formula">skeletal formula</a>.</p>
<p>Subscripted plus and minus signs are used as diacritics in the <a href="/wiki/International_Phonetic_Alphabet" title="International Phonetic Alphabet">International Phonetic Alphabet</a> to indicate <a href="/wiki/Relative_articulation" title="Relative articulation">advanced or retracted articulations</a> of speech sounds.</p>
<p>The minus sign is also used as tone letter in the orthographies of <a href="/wiki/Dan_language" title="Dan language">Dan</a>, <a href="/wiki/Krumen_language" title="Krumen language">Krumen</a>, <a href="/wiki/Karaboro_languages" title="Karaboro languages">Karaboro</a>, <a href="/wiki/Mwan_language" title="Mwan language">Mwan</a>, <a href="/wiki/Wan_language" title="Wan language">Wan</a>, <a href="/w/index.php?title=Yaour%C3%A9&amp;action=&amp;redlink=1" class="new" title="Yaour (page does not exist)">Yaour</a>, <a href="/wiki/W%C3%A8_language" title="W language" class="mw-redirect">W</a>, <a href="/wiki/Nyabwa_language" title="Nyabwa language">Nyabwa</a> and <a href="/wiki/Godie_language" title="Godie language" class="mw-redirect">Godi</a>.<sup id="cite_ref-9" class="reference"><a href="#cite_note-9"><span>[</span>10<span>]</span></a></sup> The Unicode character used for the tone letter (U+02D7) is different from the mathematical minus sign.</p>
<h2><span class="section">[<a href="/w/index.php?title=Plus_and_minus_signs&amp;action=&amp;section=8" title="Edit section: Character codes"></a>]</span> <span class="mw-headline" id="Character_codes">Character codes</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Plus_Minus_Hyphen-minus.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Plus_Minus_Hyphen-minus.svg/220px-Plus_Minus_Hyphen-minus.svg.png" width="220" height="63" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Plus_Minus_Hyphen-minus.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Plus, minus, and hyphen-minus.</div>
</div>
</div>
<table class="wikitable" style="text-align:center;">
<tr>
<th>Read</th>
<th>Character</th>
<th><a href="/wiki/Unicode" title="Unicode">Unicode</a></th>
<th><a href="/wiki/ASCII" title="ASCII">ASCII</a></th>
<th><a href="/wiki/Uniform_Resource_Locator" title="Uniform Resource Locator" class="mw-redirect">URL</a></th>
<th><a href="/wiki/HTML" title="HTML">HTML</a> <small>(others)</small></th>
</tr>
<tr>
<td><i>Plus</i></td>
<td>+</td>
<td>U+002B</td>
<td><code>&amp;#43;</code></td>
<td><code>%2B</code></td>
<td></td>
</tr>
<tr>
<td><i>Minus</i></td>
<td></td>
<td>U+2212</td>
<td></td>
<td><code>%E2%88%92</code></td>
<td><code>&amp;minus;</code> <i>or</i> <code>&amp;x2212;</code> <i>or</i> <code>&amp;#8722;</code></td>
</tr>
<tr>
<td><i>Hyphen-minus</i></td>
<td>-</td>
<td>U+002D</td>
<td><code>&amp;#45;</code></td>
<td><code>%2D</code></td>
<td></td>
</tr>
</table>
<p>The Unicode minus sign is designed to be the same length and height as the plus and <a href="/wiki/Equals_sign" title="Equals sign">equals signs</a>. In most fonts these are the same width as digits in order to facilitate the alignment of numbers in tables.</p>
<p>The <b>hyphen-minus sign</b> (-) is the <a href="/wiki/ASCII" title="ASCII">ASCII</a> version of the minus sign, and doubles as a <a href="/wiki/Hyphen" title="Hyphen">hyphen</a>. It is usually shorter in length than the plus sign and sometimes at a different height. It can be used as a substitute for the true minus sign when the character set is limited to <a href="/wiki/ASCII" title="ASCII">ASCII</a>.</p>
<p>There is a <b>commercial minus sign</b> (), which looks somewhat like an <a href="/wiki/Obelus" title="Obelus">obelus</a>, at U+2052 (HTML <tt>&amp;x2052;</tt>).</p>
<h3><span class="section">[<a href="/w/index.php?title=Plus_and_minus_signs&amp;action=&amp;section=9" title="Edit section: Alternative plus sign"></a>]</span> <span class="mw-headline" id="Alternative_plus_sign">Alternative plus sign</span></h3>
<div style="float:right; margin: 0 0 10px 10px; padding:40px; font-size:100%; font-family: Georgia; background-color: #ddddff; border: 1px solid #aaaaff;"><a href="/wiki/File:Altplus.svg" class="image"><img alt="Altplus.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/13/Altplus.svg/50px-Altplus.svg.png" width="50" height="35" /></a></div>
<p>A <a href="/wiki/Jew" title="Jew" class="mw-redirect">Jewish</a> tradition that dates from at least the 19th century is to write <i>plus</i> using a symbol like an inverted T. This practice was adopted into <a href="/wiki/Israel" title="Israel">Israeli</a> schools (this practice goes back to at least the 1940s)<sup id="cite_ref-10" class="reference"><a href="#cite_note-10"><span>[</span>11<span>]</span></a></sup> and is still commonplace today in <a href="/wiki/Elementary_school" title="Elementary school">elementary schools</a> (including <a href="/wiki/Secular" title="Secular" class="mw-redirect">secular</a> schools) but in fewer <a href="/wiki/Secondary_school" title="Secondary school">secondary schools</a>.<sup id="cite_ref-University_of_California_11-0" class="reference"><a href="#cite_note-University_of_California-11"><span>[</span>12<span>]</span></a></sup> It is also used occasionally in books by religious authors, but most books for adults use the international symbol "+". The usual explanation for this practice is that it avoids the writing of a symbol "+" that looks like a <a href="/wiki/Christian_cross" title="Christian cross">Christian cross</a>.<sup id="cite_ref-University_of_California_11-1" class="reference"><a href="#cite_note-University_of_California-11"><span>[</span>12<span>]</span></a></sup> <a href="/wiki/Unicode" title="Unicode">Unicode</a> has this symbol at position U+FB29 "Hebrew letter alternative plus sign" (<span class="Unicode"></span>).<sup id="cite_ref-12" class="reference"><a href="#cite_note-12"><span>[</span>13<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Plus_and_minus_signs&amp;action=&amp;section=10" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Graft-chimaera" title="Graft-chimaera">Graft-chimaera</a> for the meaning of + in <a href="/wiki/Botanical_name" title="Botanical name">botanical names</a></li>
<li><a href="/wiki/List_of_international_call_prefixes" title="List of international call prefixes">List of international call prefixes</a> that + can represent the numbers required to dial out of a country as seen in a phone number</li>
<li><a href="/wiki/Plus-minus_sign" title="Plus-minus sign">Plus-minus sign</a></li>
<li><a href="/wiki/Table_of_mathematical_symbols" title="Table of mathematical symbols" class="mw-redirect">Table of mathematical symbols</a></li>
<li><a href="/wiki/En_dash" title="En dash" class="mw-redirect">En dash</a>, a dash that looks similar to the subtraction symbol but is used for a different purpose</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Plus_and_minus_signs&amp;action=&amp;section=11" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist references-column-width" style="-moz-column-width: 30em; -webkit-column-width: 30em; column-width: 30em; list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation Journal">Stallings, Lynn (May 2000). <a rel="nofollow" class="external text" href="http://findarticles.com/p/articles/mi_qa3667/is_200005/ai_n8885415/">"A brief history of algebraic notation"</a>. <i>School Science and Mathematics</i><span class="printonly">. <a rel="nofollow" class="external free" href="http://findarticles.com/p/articles/mi_qa3667/is_200005/ai_n8885415/">http://findarticles.com/p/articles/mi_qa3667/is_200005/ai_n8885415/</a></span><span class="reference-accessdate">. Retrieved 13 April 2009</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=A+brief+history+of+algebraic+notation&amp;rft.jtitle=School+Science+and+Mathematics&amp;rft.aulast=Stallings&amp;rft.aufirst=Lynn&amp;rft.au=Stallings%2C%26%2332%3BLynn&amp;rft.date=May+2000&amp;rft_id=http%3A%2F%2Ffindarticles.com%2Fp%2Farticles%2Fmi_qa3667%2Fis_200005%2Fai_n8885415%2F&amp;rfr_id=info:sid/en.wikipedia.org:Plus_and_minus_signs"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">Alan Sangster, Greg Stoner &amp; Patricia McCarthy: "The market for Luca Paciolis Summa Arithmetica", in Accounting Historians Journal, Vol. 35, No. 1 June 2008 pp. 111-134, p. 115. (<a rel="nofollow" class="external text" href="http://eprints.mdx.ac.uk/3201/1/final_final_proof_Market_paper_050308.pdf">online</a>)</span></li>
<li id="cite_note-OED-2"><b><a href="#cite_ref-OED_2-0">^</a></b> <span class="reference-text"><cite id="Reference-OED-plus">"<a rel="nofollow" class="external text" href="http://oed.com/search?searchType=dictionary&amp;q=plus">plus</a>". <i><a href="/wiki/Oxford_English_Dictionary" title="Oxford English Dictionary">Oxford English Dictionary</a></i>. <a href="/wiki/Oxford_University_Press" title="Oxford University Press">Oxford University Press</a>. 3rd ed. 2001.</cite></span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://jeff560.tripod.com/operation.html">Earliest Uses of Various Mathematical Symbols</a></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><span class="citation book">Henri Picciotto. <a rel="nofollow" class="external text" href="http://books.google.com/books?id=nzukMBV6ReoC&amp;pg=PA9"><i>The Algebra Lab</i></a>. Creative Publications. p.&#160;9. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-0-88488-964-9" title="Special:BookSources/978-0-88488-964-9">978-0-88488-964-9</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=nzukMBV6ReoC&amp;pg=PA9">http://books.google.com/books?id=nzukMBV6ReoC&amp;pg=PA9</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+Algebra+Lab&amp;rft.aulast=Henri+Picciotto&amp;rft.au=Henri+Picciotto&amp;rft.pages=p.%26nbsp%3B9&amp;rft.pub=Creative+Publications&amp;rft.isbn=978-0-88488-964-9&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DnzukMBV6ReoC%26pg%3DPA9&amp;rfr_id=info:sid/en.wikipedia.org:Plus_and_minus_signs"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text"><span class="citation book">Schwartzman, Steven (1994). <i>The words of mathematics</i>. The Mathematical Association of America. p.&#160;136.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+words+of+mathematics&amp;rft.aulast=Schwartzman&amp;rft.aufirst=Steven&amp;rft.au=Schwartzman%2C%26%2332%3BSteven&amp;rft.date=1994&amp;rft.pages=p.%26nbsp%3B136&amp;rft.pub=The+Mathematical+Association+of+America&amp;rfr_id=info:sid/en.wikipedia.org:Plus_and_minus_signs"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text"><span class="citation Journal">Wheeler, Ruric E. (2001). <i>Modern Mathematics</i> (11 ed.). pp. 171.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Modern+Mathematics&amp;rft.aulast=Wheeler&amp;rft.aufirst=Ruric+E.&amp;rft.au=Wheeler%2C%26%2332%3BRuric+E.&amp;rft.date=2001&amp;rft.pages=pp.+171&amp;rft.ion=11&amp;rfr_id=info:sid/en.wikipedia.org:Plus_and_minus_signs"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-7"><b><a href="#cite_ref-7">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://office.microsoft.com/en-us/excel/HP100788861033.aspx">"Microsoft Office Excel Calculation operators and precedence"</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://office.microsoft.com/en-us/excel/HP100788861033.aspx">http://office.microsoft.com/en-us/excel/HP100788861033.aspx</a></span><span class="reference-accessdate">. Retrieved 2009-07-29</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Microsoft+Office+Excel+Calculation+operators+and+precedence&amp;rft.atitle=&amp;rft_id=http%3A%2F%2Foffice.microsoft.com%2Fen-us%2Fexcel%2FHP100788861033.aspx&amp;rfr_id=info:sid/en.wikipedia.org:Plus_and_minus_signs"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-8"><b><a href="#cite_ref-8">^</a></b> <span class="reference-text"><span class="citation book">Grant P. Wiggins; Jay McTighe (2005). <i>Understanding by design</i>. ACSD Publications. p.&#160;210. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/1-4166-0035-3" title="Special:BookSources/1-4166-0035-3">1-4166-0035-3</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Understanding+by+design&amp;rft.aulast=Grant+P.+Wiggins&amp;rft.au=Grant+P.+Wiggins&amp;rft.au=Jay+McTighe&amp;rft.date=2005&amp;rft.pages=p.%26nbsp%3B210&amp;rft.pub=ACSD+Publications&amp;rft.isbn=1-4166-0035-3&amp;rfr_id=info:sid/en.wikipedia.org:Plus_and_minus_signs"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-9"><b><a href="#cite_ref-9">^</a></b> <span class="reference-text">Hartell, Rhonda L., ed. (1993), <i>The Alphabets of Africa</i>. Dakar: UNESCO and SIL.</span></li>
<li id="cite_note-10"><b><a href="#cite_ref-10">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://books.google.com/books?id=rxs3oYNE8KIC&amp;printsec=frontcover&amp;dq=The+Holocaust+in+Three+Generations&amp;sig=W6pg6INpBJa-zq46uI774W1t-hY#PPA107,M1">The Holocaust in Three Generations (Page 107)</a></span></li>
<li id="cite_note-University_of_California-11">^ <a href="#cite_ref-University_of_California_11-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-University_of_California_11-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><a rel="nofollow" class="external text" href="http://books.google.com/books?id=m8sWAAAAIAAJ&amp;dq=Jewish+plus+sign&amp;q=%22plus+sign+used+in+mathematics%22&amp;pgis=1">Christian-Jewish Dialogue: Theological Foundations By Peter von der Osten-Sacken (1986  Fortress Press  ISBN 0-8006-0771-6)</a> "In Israel the plus sign used in mathematics is represented by a horizontal stroke with a vertical hook instead of the sign otherwise used all over the world, because the latter is reminiscent of a cross." (Page 96)</span></li>
<li id="cite_note-12"><b><a href="#cite_ref-12">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.decodeunicode.org/U+FB29">Unicode U+FB29 reference page</a> This form of the plus sign is also used on the control buttons at individual seats onboard the El Al Israel Airlines aircraft.</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Plus_and_minus_signs&amp;action=&amp;section=12" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/plus_sign">plus sign</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/minus_sign">minus sign</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.roma.unisa.edu.au/07305/symbols.htm#Plus">The History of Mathematical Symbols  Plus and Minus</a></li>
<li><a rel="nofollow" class="external text" href="http://jeff560.tripod.com/mathsym.html">Earliest uses of various mathematical symbols</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 6427/1000000
Post-expand include size: 37264/2048000 bytes
Template argument size: 13168/2048000 bytes
Expensive parser function count: 4/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:245206-0!*!0!!en!4!* and timestamp 20120412182953 -->
