<table class="metadata plainlinks ambox ambox-style ambox-Orphan" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Wiki_letter_w.svg" class="image"><img alt="Wiki letter w.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/6/6c/Wiki_letter_w.svg/40px-Wiki_letter_w.svg.png" width="40" height="40" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>is an <a href="/wiki/Wikipedia:Orphan" title="Wikipedia:Orphan">orphan</a>, as few or no other articles <a class="external text" href="//en.wikipedia.org/w/index.php?title=Special:Whatlinkshere&amp;target=Rule_of_nines_(mathematics)&amp;namespace=0">link to it</a></b>. Please <a href="/wiki/Help:Link" title="Help:Link">introduce links</a> to this page from <a class="external text" href="http://en.wikipedia.org/w/index.php?title=Special%3ASearch&amp;redirs=1&amp;search=Rule+of+nines+%28mathematics%29&amp;fulltext=Search&amp;ns0=1&amp;title=Special%3ASearch&amp;advanced=1&amp;fulltext=Rule+of+nines+%28mathematics%29">related articles</a>; <a rel="nofollow" class="external text" href="http://edwardbetts.com/find_link?q=Rule_of_nines_(mathematics)">suggestions may be available</a>. <small><i>(June 2011)</i></small></td>
</tr>
</table>
<p>The <b>rule of nines</b>, in mathematics, is a <a href="/wiki/Divisibility_rule" title="Divisibility rule">divisibility rule</a> for the <a href="/wiki/Divisor" title="Divisor">divisor</a> 9. It is notable because it illustrates some interesting properties of <a href="/wiki/Modular_arithmetic" title="Modular arithmetic">modular arithmetic</a>, and its proof is derived from that basis. The rule is that <i>any positive integer is divisible by 9 if and only if the sum of its digits is also divisible by 9, when expressed in <a href="/wiki/Decimal" title="Decimal">decimal notation</a></i>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Rule_of_nines_(mathematics)&amp;action=&amp;section=1" title="Edit section: Proof"></a>]</span> <span class="mw-headline" id="Proof">Proof</span></h2>
<p><i>This proof, although not directly taken from that source, is based on the one by Flannery (2001).</i></p>
<p>Let the positive integer <i>n</i> be represented by the decimal digits <i>a<sub>k</sub> a<sub>k-1</sub></i> ... <i>a</i><sub>2</sub> <i>a</i><sub>1</sub> <i>a</i><sub>0</sub>. Because</p>
<p><img class="tex" alt="
\begin{align}
    10^0 &amp;\equiv 1 \pmod{9} \\
    10^1 &amp;\equiv 1 \pmod{9} \\
    10^2 &amp;\equiv 1 \pmod{9} \\
      &amp;...
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/2/a/a/2aaefa9904df0a905aab9ce271770d6d.png" /></p>
<p>and multiplication functions the same way in modular arithmetic as it does in <a href="/wiki/Elementary_algebra" title="Elementary algebra">elementary algebra</a>,<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<p><img class="tex" alt="
\begin{align}
  a_0 \times 10^0 &amp;\equiv a_0 \pmod{9} \\
  a_1 \times 10^1 &amp;\equiv a_1 \pmod{9} \\
  a_2 \times 10^2 &amp;\equiv a_2 \pmod{9} \\
                  &amp;...                 \\
  a_k \times 10^k &amp;\equiv a_k \pmod{9}.
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/1/c/3/1c34fb61e65f78739e05425aed5f370a.png" /></p>
<p>Summing these equivalences, we get</p>
<p><img class="tex" alt="a_k \times 10^k + ... + a_0 \times 10^0 \equiv a_k + ... + a_0 \pmod{9}." src="//upload.wikimedia.org/wikipedia/en/math/9/2/f/92fea6822afe30274818307ee585d30c.png" /></p>
<p>Notice that the left term of this equivalence is equal to <i>n</i>, according to our definition. Therefore, the sum of the digits of <i>n</i> is equivalent to <i>n</i> itself (modulo 9); and so this sum is divisible by 9 if and only if <i>n</i> is also divisible by 9. The proof is complete.</p>
<h2><span class="section">[<a href="/w/index.php?title=Rule_of_nines_(mathematics)&amp;action=&amp;section=2" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">with the caveat that the modulus must remain the same</span></li>
</ol>
<h2><span class="section">[<a href="/w/index.php?title=Rule_of_nines_(mathematics)&amp;action=&amp;section=3" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation book">Flannery (2001). <i>In Code: A Mathematical Journey</i>. <a href="/wiki/Workman_Publishing" title="Workman Publishing" class="mw-redirect">Workman Publishing</a>. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0761123849" title="Special:BookSources/0761123849">0761123849</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=In+Code%3A+A+Mathematical+Journey&amp;rft.aulast=Flannery&amp;rft.au=Flannery&amp;rft.date=2001&amp;rft.pub=%5B%5BWorkman+Publishing%5D%5D&amp;rft.isbn=0761123849&amp;rfr_id=info:sid/en.wikipedia.org:Rule_of_nines_(mathematics)"><span style="display: none;">&#160;</span></span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1080/1000000
Post-expand include size: 9030/2048000 bytes
Template argument size: 2625/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:8365689-0!0!0!!*!4!* and timestamp 20120412190627 -->
