<div class="dablink">This article is about the geometric meaning.  For the plant, see <a href="/wiki/Phyllanthus" title="Phyllanthus">Phyllanthus</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a href="/wiki/File:Triangle_Sides.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/03/Triangle_Sides.svg/200px-Triangle_Sides.svg.png" width="200" height="150" class="thumbimage" /></a>
<div class="thumbcaption">A right-angled triangle where <i>c<sub>1</sub></i> and <i>c<sub>2</sub></i> are the catheti and <i>h</i> is the hypotenuse</div>
</div>
</div>
<p>In a <a href="/wiki/Right_triangle" title="Right triangle">right triangle</a>, the <b>cathetus</b> (originally from the <a href="/wiki/Greek_language" title="Greek language">Greek</a> word <span lang="el" xml:lang="el"></span>; plural: <b>catheti</b>), commonly known as a <b>leg</b>, is either of the sides that are adjacent to the <a href="/wiki/Right_angle" title="Right angle">right angle</a>. It is occasionally called the <b>periphrasis</b> ("side about the right angle"). The side opposite the right angle is the <a href="/wiki/Hypotenuse" title="Hypotenuse">hypotenuse</a>. When referring to the hypotenuse, the catheti are often referred to simply as "the other two sides".</p>
<p>If the catheti of a right triangle have different lengths, distinction can be made between the minor (shorter) and major (longer) cathetus. The <a href="/wiki/Ratio" title="Ratio">ratio</a> of the lengths of the catheti defines the <a href="/wiki/Trigonometric_functions" title="Trigonometric functions">trigonometric functions</a> tangent and cotangent of the angles in the triangle. In a right triangle, the length of the cathetus is also the <a href="/wiki/Geometric_mean" title="Geometric mean">geometric mean</a> between the length of the segment cut by the altitude to the hypotenuse and the length of the whole hypotenuse.</p>
<p>By the <a href="/wiki/Pythagorean_theorem" title="Pythagorean theorem">Pythagorean theorem</a>, the sum of the squares of the lengths of the catheti is equal to the square of the length of the hypotenuse.</p>
<h2><span class="section">[<a href="/w/index.php?title=Cathetus&amp;action=&amp;section=1" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li>Bernhardsen, T. <i>Geographic Information Systems: An Introduction</i>, 3rd ed. New York: Wiley, p.&#160;271, 2002.</li>
<li><span class="citation mathworld" id="Reference-Mathworld-Cathetus"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Cathetus.html">Cathetus</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/Special:Search/cathetus">cathetus</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 293/1000000
Post-expand include size: 2243/2048000 bytes
Template argument size: 824/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:2568071-0!*!0!*!*!4!* and timestamp 20120325123033 -->
