<table class="metadata plainlinks ambox ambox-style ambox-More_footnotes" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Text_document_with_red_question_mark.svg/40px-Text_document_with_red_question_mark.svg.png" width="40" height="40" /></div>
</td>
<td class="mbox-text" style="">This article includes a <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">list of references</a>, but <b>its sources remain unclear because it has insufficient <a href="/wiki/Wikipedia:INCITE" title="Wikipedia:INCITE" class="mw-redirect">inline citations</a></b>. Please help to <a href="/wiki/Wikipedia:WikiProject_Fact_and_Reference_Check" title="Wikipedia:WikiProject Fact and Reference Check">improve</a> this article by <a href="/wiki/Wikipedia:When_to_cite" title="Wikipedia:When to cite">introducing</a> more precise citations. <small><i>(October 2011)</i></small></td>
</tr>
</table>
<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:CIRCLE_1.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1d/CIRCLE_1.svg/250px-CIRCLE_1.svg.png" width="250" height="252" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:CIRCLE_1.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Centre of a circle</div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, the <b>centre</b> (or <b>center</b>) (from <a href="/wiki/Greek_language" title="Greek language">Greek</a> <i></i>) <sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> of an object is a point in some sense in the middle of the object. If geometry is regarded as the study of <a href="/wiki/Isometry_group" title="Isometry group">isometry groups</a> then the centre is a fixed point of the isometries.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Circles"><span class="tocnumber">1</span> <span class="toctext">Circles</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Symmetric_objects"><span class="tocnumber">2</span> <span class="toctext">Symmetric objects</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Triangles"><span class="tocnumber">3</span> <span class="toctext">Triangles</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#References"><span class="tocnumber">5</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Centre_(geometry)&amp;action=&amp;section=1" title="Edit section: Circles"></a>]</span> <span class="mw-headline" id="Circles">Circles</span></h2>
<p>The centre of a <a href="/wiki/Circle" title="Circle">circle</a> is the point equidistant from the points on the edge. Similarly the centre of a <a href="/wiki/Sphere" title="Sphere">sphere</a> is the point equidistant from the points on the surface, and the centre of a line segment is the midpoint of the two ends.</p>
<h2><span class="section">[<a href="/w/index.php?title=Centre_(geometry)&amp;action=&amp;section=2" title="Edit section: Symmetric objects"></a>]</span> <span class="mw-headline" id="Symmetric_objects">Symmetric objects</span></h2>
<p>For objects with several <a href="/wiki/Symmetries" title="Symmetries" class="mw-redirect">symmetries</a>, the <a href="/wiki/Center_of_symmetry" title="Center of symmetry" class="mw-redirect">centre of symmetry</a> is the point left unchanged by the symmetric actions. So the centre of a <a href="/wiki/Square_(geometry)" title="Square (geometry)">square</a>, <a href="/wiki/Rectangle" title="Rectangle">rectangle</a>, <a href="/wiki/Rhombus" title="Rhombus">rhombus</a> or <a href="/wiki/Parallelogram" title="Parallelogram">parallelogram</a> is where the diagonals intersect, this being (amongst other properties) the fixed point of rotational symmetries. Similarly the centre of an <a href="/wiki/Ellipse" title="Ellipse">ellipse</a> is where the axes intersect.</p>
<h2><span class="section">[<a href="/w/index.php?title=Centre_(geometry)&amp;action=&amp;section=3" title="Edit section: Triangles"></a>]</span> <span class="mw-headline" id="Triangles">Triangles</span></h2>
<p>Main article&#160;: <a href="/wiki/Triangle_centre" title="Triangle centre" class="mw-redirect">Triangle centre</a></p>
<p>Several special points of a triangle are often described as <a href="/wiki/Triangle_center" title="Triangle center">triangle centres</a>: the <a href="/wiki/Circumcentre" title="Circumcentre" class="mw-redirect">circumcentre</a>, <a href="/wiki/Centroid" title="Centroid">centroid</a> or <a href="/wiki/Centre_of_mass" title="Centre of mass" class="mw-redirect">centre of mass</a>, <a href="/wiki/Incentre" title="Incentre" class="mw-redirect">incentre</a>, <a href="/wiki/Excentre" title="Excentre" class="mw-redirect">excentres</a>, <a href="/wiki/Orthocentre" title="Orthocentre" class="mw-redirect">orthocentre</a>, <a href="/wiki/Nine-point_centre" title="Nine-point centre" class="mw-redirect">nine-point centre</a>. For an <a href="/wiki/Equilateral_triangle" title="Equilateral triangle">equilateral triangle</a>, these (except for the excentres) are the same point, which lies at the intersection of the three axes of symmetry of the triangle, one third of the distance from its base to its apex.</p>
<p>A strict definition of a triangle centre is a point whose <a href="/wiki/Trilinear_coordinate" title="Trilinear coordinate" class="mw-redirect">trilinear coordinates</a> are <i>f</i>(<i>a</i>,<i>b</i>,<i>c</i>)&#160;: <i>f</i>(<i>b</i>,<i>c</i>,<i>a</i>)&#160;: <i>f</i>(<i>c</i>,<i>a</i>,<i>b</i>) where <i>f</i> is a function of the lengths of the three sides of the triangle, <i>a</i>, <i>b</i>, <i>c</i> such that:</p>
<ol>
<li><i>f</i> is homogenous in <i>a</i>, <i>b</i>, <i>c</i> i.e. <i>f</i>(<i>ta</i>,<i>tb</i>,<i>tc</i>)=<i>t</i><sup><i>h</i></sup><i>f</i>(<i>a</i>,<i>b</i>,<i>c</i>) for some real power <i>h</i>; thus the position of a centre is independent of scale.</li>
<li><i>f</i> is symmetric in its last two arguments i.e. <i>f</i>(<i>a</i>,<i>b</i>,<i>c</i>)= <i>f</i>(<i>a</i>,<i>c</i>,<i>b</i>); thus position of a centre in a mirror-image triangle is the mirror-image of its position in the original triangle.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></li>
</ol>
<p>This strict definition exclude the excentres, and also excludes pairs of bicentric points such as the <a href="/wiki/Brocard_point" title="Brocard point" class="mw-redirect">Brocard points</a> (which are interchanged by a mirror-image reflection). The <a href="/wiki/Encyclopedia_of_Triangle_Centers" title="Encyclopedia of Triangle Centers">Encyclopedia of Triangle Centers</a> lists over 3,000 different triangle centres.</p>
<h2><span class="section">[<a href="/w/index.php?title=Centre_(geometry)&amp;action=&amp;section=4" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Centroid" title="Centroid">Centroid</a></li>
<li><a href="/wiki/Centerpoint_(geometry)" title="Centerpoint (geometry)">Centrepoint</a></li>
<li><a href="/wiki/Center_of_mass" title="Center of mass">Centre of mass</a></li>
<li><a href="/wiki/Chebyshev_center" title="Chebyshev center">Chebyshev centre</a></li>
<li><a href="/wiki/Fixed_points_of_isometry_groups_in_Euclidean_space" title="Fixed points of isometry groups in Euclidean space">Fixed points of isometry groups in Euclidean space</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Centre_(geometry)&amp;action=&amp;section=5" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><a class="external free" href="http://en.wiktionary.org/wiki/center">http://en.wiktionary.org/wiki/center</a></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://faculty.evansville.edu/ck6/tcenters/roads.html">Algebraic Highways in Triangle Geometry</a></span></li>
</ol>
</div>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Centre_(geometry)&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 654/1000000
Post-expand include size: 7914/2048000 bytes
Template argument size: 2051/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:4850775-0!*!0!!en!4!* and timestamp 20120410201559 -->
