<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Sector_central_angle_arc.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/08/Sector_central_angle_arc.svg/220px-Sector_central_angle_arc.svg.png" width="220" height="234" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Sector_central_angle_arc.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Angle AOB forms a central angle of circle O</div>
</div>
</div>
<p>A <b>central angle</b> is an <a href="/wiki/Angle" title="Angle">angle</a> which <b>vertex</b> is the center of a <a href="/wiki/Circle" title="Circle">circle</a>, and whose sides pass through a pair of points on the circle, thereby <a href="/wiki/Subtend" title="Subtend" class="mw-redirect">subtending</a> an <a href="/wiki/Arc_(geometry)" title="Arc (geometry)">arc</a> between those two points whose angle is (by definition) equal to the central angle itself. It is also known as the arc <a href="/wiki/Line_segment" title="Line segment">segment</a>'s <a href="/wiki/Angular_distance" title="Angular distance">angular distance</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Coordinates"><span class="tocnumber">1</span> <span class="toctext">Coordinates</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Calculation_of_TvL"><span class="tocnumber">2</span> <span class="toctext">Calculation of TvL</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Occupying_great_circle"><span class="tocnumber">3</span> <span class="toctext">Occupying great circle</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Angular_distance_formulary"><span class="tocnumber">4</span> <span class="toctext">Angular distance formulary</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#External_links"><span class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Central_angle&amp;action=&amp;section=1" title="Edit section: Coordinates"></a>]</span> <span class="mw-headline" id="Coordinates">Coordinates</span></h2>
<p>On a <a href="/wiki/Sphere" title="Sphere">sphere</a> or <a href="/wiki/Ellipsoid" title="Ellipsoid">ellipsoid</a>, the central angle is delineated along a <a href="/wiki/Great_circle" title="Great circle">great circle</a>. The usually provided coordinates of a point on a sphere/ellipsoid is its conjugate <a href="/wiki/Latitude" title="Latitude">latitude</a> ("Lat"), <img class="tex" alt="\phi\,\!" src="//upload.wikimedia.org/wikipedia/en/math/b/f/d/bfd070bbf4b8539e9b3af50740384bf6.png" />, and <a href="/wiki/Longitude" title="Longitude">longitude</a> ("Long"), <img class="tex" alt="\lambda\,\!" src="//upload.wikimedia.org/wikipedia/en/math/b/5/d/b5d9e5a9ecd98ded0a1c6f439321904a.png" />. The "point", <img class="tex" alt="\widehat{\sigma}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/f/2/b/f2bb513ede98ef82f1dc15c792218993.png" />, is actuallyrelative to the great circle it is being measured onthe <i>transverse colatitude</i> ("TvL"), and the central angle/angular distance is the difference between two TvLs, <img class="tex" alt="\Delta\widehat{\sigma}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/1/f/3/1f3413d89e36ff48c2a690612dc5cae8.png" />.</p>
<h2><span class="section">[<a href="/w/index.php?title=Central_angle&amp;action=&amp;section=2" title="Edit section: Calculation of TvL"></a>]</span> <span class="mw-headline" id="Calculation_of_TvL">Calculation of TvL</span></h2>
<p>The calculation of <img class="tex" alt="\widehat{\sigma}_s\,\!" src="//upload.wikimedia.org/wikipedia/en/math/0/a/e/0ae32dfacc96a02ed58316e8bedf1f91.png" /> and <img class="tex" alt="\widehat{\sigma}_f\,\!" src="//upload.wikimedia.org/wikipedia/en/math/4/2/7/427de93d966269dd193e89a6f7d40bde.png" /> can be found using a common subroutine:</p>
<dl>
<dd><img class="tex" alt="V_s,V_f,V_w,V_c:\mathrm{\;Standpoint,\ forepoint,\ working,\ coworking\ values};\,\!" src="//upload.wikimedia.org/wikipedia/en/math/4/c/2/4c25bfda98fafec4775baa7e448a2fce.png" />
<dl>
<dd>
<dl>
<dd>
<dl>
<dd>&#160;<img class="tex" alt="\widehat{\alpha}_w:\mathrm{\;Orthodromic\ azimuth\ at\ \widehat{\sigma}_w};\,\!" src="//upload.wikimedia.org/wikipedia/en/math/5/6/7/567c8262b9f352a2bb89e9d037da579b.png" /></dd>
</dl>
</dd>
</dl>
</dd>
</dl>
</dd>
</dl>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="{}_{\color{white}.}\!\begin{pmatrix}\operatorname{sgn}(V)=|V|\!\cdot
V^{-1};\quad\overrightarrow{\operatorname{sgn}}(V)=\operatorname{sgn}\big(\operatorname{sgn}(V)+\frac{1}{2}\big)\\{}_{(\,\operatorname{sgn}(0)=0;\qquad\overrightarrow{\operatorname{sgn}}(0)=+1\,)}\end{pmatrix}{}_{\color{white}.}\!\!\,\!" src="//upload.wikimedia.org/wikipedia/en/math/7/5/5/75500c6b37ceb598bea4b669efce0fa4.png" /></dd>
</dl>
</dd>
</dl>
</dd>
</dl>
<dl>
<dd><img class="tex" alt="\Delta\lambda=\lambda_f-\lambda_s;\,\!" src="//upload.wikimedia.org/wikipedia/en/math/a/c/8/ac8d4c9b7455c905e0008c6f9db1aa2a.png" /></dd>
</dl>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="{}_{\color{white}.}\!\left(\mbox{If } \phi_s=\phi_f=0\mbox{, then }\;\widehat{\sigma}_s=\frac{\pi-|\Delta\lambda|}{2},\;\widehat{\sigma}_f=\frac{\pi+|\Delta\lambda|}{2}\right){}_{\color{white}.}\!\!\,\!" src="//upload.wikimedia.org/wikipedia/en/math/6/e/2/6e23370b687a430c1101cbd1344e9c00.png" /></dd>
</dl>
</dd>
</dl>
</dd>
</dl>
<dl>
<dd><img class="tex" alt="\begin{align}\phi_w=\phi_s;\;
&amp;\phi_c=\phi_f\!\!:\mbox{Get}\;\widehat{\sigma}_w\!\!:\\
&amp;\widehat{\sigma}_s=\widehat{\sigma}_w\!\cdot\overrightarrow{\mbox{sgn}}(S\!B_w)+\pi\!\cdot\overrightarrow{\mbox{sgn}}(\widehat{\sigma}_w)\mbox{sgn}(1-\overrightarrow{\mbox{sgn}}(S\!B_w));\end{align}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/3/0/4/304f0a2a4cf4100b143652207a1e132b.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="\begin{align}\phi_w=\phi_f;\;
&amp;\phi_c=\phi_s\!\!:\mbox{Get}\;\widehat{\sigma}_w\!\!:\\
&amp;\widehat{\sigma}_f=\widehat{\sigma}_w\!\cdot\overrightarrow{\mbox{sgn}}(-S\!B_w)+\pi\!\cdot\overrightarrow{\mbox{sgn}}(\widehat{\sigma}_w)\mbox{sgn}(1-\overrightarrow{\mbox{sgn}}(-S\!B_w))\\
&amp;\qquad\qquad\qquad\qquad\quad+2\pi\!\cdot\mbox{sgn}(1-\overrightarrow{\mbox{sgn}}(\widehat{\sigma}_w-\widehat{\sigma}_s));\end{align}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/c/4/d/c4de72f4d6ffe18007209f8dfddb88fa.png" /></dd>
</dl>
<p>&#160;&#160;_____________________________________________________________________</p>
<dl>
<dd>
<table>
<tr>
<td><img class="tex" alt="\begin{matrix}S\!A_w=\cos(\phi_c)\sin(\Delta\lambda);\qquad\qquad\qquad\qquad\qquad\qquad\;\;\\S\!B_w=\sin(\phi_w+\phi_c)\sin^2(\frac{\Delta\lambda}{2})+\sin(\phi_c-\phi_w)\cos^2(\frac{\Delta\lambda}{2});\end{matrix}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/4/8/3/48327a9787ea3ecead2beea047f821a9.png" /></td>
<td></td>
</tr>
<tr>
<td><img class="tex" alt="\left(\,\sin^2(\Delta\widehat{\sigma})={S\!A_w}^2+{S\!B_w}^2;\quad|\tan(\widehat{a}_w)|=\left|\frac{S\!A_w}{S\!B_w}\right|\,\right)\,\!" src="//upload.wikimedia.org/wikipedia/en/math/6/3/6/63632ec0f12819888bab578dcef6a673.png" /></td>
<td></td>
</tr>
<tr>
<td><img class="tex" alt="\begin{matrix}\widehat{\sigma}_w\!\!\!&amp;=&amp;\!\!\!\arctan\big(|\sec(\widehat{a}_w)|\tan(\phi_w)\big)=\arctan\!\left(\left|\frac{\sin(\Delta\widehat{\sigma})}{S\!B_w}\right|\tan(\phi_w)\right),\\&amp;=&amp;\!\!\!\!\!\!\arctan\!\left(\frac{\sqrt{{S\!A_w}^2+{S\!B_w}^2}}{|S\!B_w|}\tan(\phi_w)\right).\qquad\qquad\qquad\qquad\qquad\end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/5/8/8/5882265fdbef7915cfd1b5daae9a5aa5.png" /></td>
</tr>
</table>
</dd>
</dl>
<p>&#160;&#160;</p>
<p>Each point has at least two values, both a forward and reverse value.</p>
<h2><span class="section">[<a href="/w/index.php?title=Central_angle&amp;action=&amp;section=3" title="Edit section: Occupying great circle"></a>]</span> <span class="mw-headline" id="Occupying_great_circle">Occupying great circle</span></h2>
<p>The arc path, <img class="tex" alt="\scriptstyle{\widehat{\Alpha}}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/3/f/e/3feab6cae35a053f4ef4b1ff63c24e21.png" />, tracing the great circle that a central angle occupies, is measured as that great circle's azimuth at the equator, introducing an important property of spherical geometry, <a href="/wiki/Clairaut%27s_theorem" title="Clairaut's theorem"><b>Clairaut's constant</b></a>:</p>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\sin(\widehat{\Alpha})=\Big|\cos(\phi_w)\sin(\widehat{\alpha}_w)\Big|;\,\!" src="//upload.wikimedia.org/wikipedia/en/math/e/1/e/e1efc1ef8af2882df1513879ed716540.png" /></dd>
</dl>
</dd>
</dl>
</dd>
</dl>
</dd>
</dl>
</dd>
</dl>
<p>From this and relationships to <img class="tex" alt="\widehat{\sigma}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/f/2/b/f2bb513ede98ef82f1dc15c792218993.png" />,</p>
<dl>
<dd><img class="tex" alt="\begin{align}\widehat{\Alpha}
&amp;=\Big|\arcsin\big(\cos(\phi_w)\sin(\widehat{\alpha}_w)\big)\Big|\!\!\!&amp;&amp;=\Big|\arccos\left(\frac{\sin(\phi_w)}{\sin(\widehat{\sigma}_w)}\right)\Big|,\\
&amp;=\Big|\arctan\big(\cos(\widehat{\sigma}_w)\tan(\widehat{\alpha}_w)\big)\Big|\!\!\!&amp;&amp;=\Big|\arctan\big(\sin(\widehat{\alpha}_w)\sin(\widehat{\sigma}_w)\cot(\phi_w)\big)\Big|.\end{align}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/b/5/0/b50a4332fd499014a83129cb61a89d00.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Central_angle&amp;action=&amp;section=4" title="Edit section: Angular distance formulary"></a>]</span> <span class="mw-headline" id="Angular_distance_formulary">Angular distance formulary</span></h2>
<p>The angular distance can be calculated either directly as the TvL difference, or via the common coordinates (here, either SA<sub>w</sub>, SB<sub>w</sub> value set can be used):</p>
<dl>
<dd><img class="tex" alt="\begin{align}{}_{\color{white}.}\\\Delta\widehat{\sigma}
&amp;=\widehat{\sigma}_f\;-\;\widehat{\sigma}_s,\\
&amp;=\arcsin\!\left(\sqrt{{S\!A}^2+{S\!B}^2}\,\right),\\
&amp;\quad{}^{\mathit{(can\,only\,find\,the\,first\,quadrant,\,i.e.,\;up\,to\,90^\circ)}}\\
&amp;=\arccos\!\Big(\sin(\phi_s)\sin(\phi_f)+\cos(\phi_s)\cos(\phi_f)\cos(\Delta\lambda)\,\Big),\\
&amp;\quad{}^{\mathit{(not\,recommended\,for\,small\,angles,\;due\,to\,rounding\,error)}}\\
&amp;=\arctan\!\left(\frac{\sqrt{{S\!A}^2+{S\!B}^2}}{\sin(\phi_s)\sin(\phi_f)+\cos(\phi_s)\cos(\phi_f)\cos(\Delta\lambda)}\right),\\{}^{\color{white}.}\end{align}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/a/0/7/a07a62a04122a43eccd1f1a91214dc45.png" /></dd>
</dl>
<p>and, using half-angles,</p>
<dl>
<dd>&#160;&#160;&#160;<img class="tex" alt="\begin{align}{}_{\color{white}.}\\
&amp;=2\arcsin\!\left(\sqrt{\sin^2\!\left(\frac{\phi_f-\phi_s}{2}\right)+\cos(\phi_s)\cos(\phi_f)\sin^2\!\left(\frac{\Delta\lambda}{2}\right)}\,\right),\\
&amp;=2\arccos\!\left(\sqrt{\cos^2\!\left(\frac{\phi_f-\phi_s}{2}\right)-\cos(\phi_s)\cos(\phi_f)\sin^2\!\left(\frac{\Delta\lambda}{2}\right)}\,\right),\\
&amp;=2\arctan\!\left(\sqrt{\frac{\sin^2\left(\frac{\phi_f-\phi_s}{2}\right)+\cos(\phi_s)\cos(\phi_f)\sin^2\Big(\frac{\Delta\lambda}{2}\Big)}{\cos^2\left(\frac{\phi_f-\phi_s}{2}\right)-\cos(\phi_s)\cos(\phi_f)\sin^2\!\Big(\frac{\Delta\lambda}{2}\Big)}}\,\right).\\{}^{\color{white}.}\end{align}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/8/8/6/886a75818cc239b501f5be189fe506da.png" /></dd>
</dl>
<p>It can, as well, be found by means of finding the chord length via <a href="/wiki/Cartesian_coordinate_system" title="Cartesian coordinate system">Cartesian subtraction</a><sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup>:</p>
<dl>
<dd><img class="tex" alt="\begin{align}
&amp;\Delta{X}=\cos(\phi_f)\cos(\lambda_f) - \cos(\phi_s)\cos(\lambda_s);\\
&amp;\Delta{Y}=\cos(\phi_f)\sin(\lambda_f) - \cos(\phi_s)\sin(\lambda_s);\\
&amp;\Delta{Z}=\sin(\phi_f) - \sin(\phi_s);\\
&amp;C_h=\sqrt{(\Delta{X})^2+(\Delta{Y})^2+(\Delta{Z})^2};\\
&amp;\Delta\widehat{\sigma}=2\arcsin\left(\frac{C_h}{2}\right).\end{align}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/a/6/4/a647d09e71d1ca165c4b5cdfad81cfba.png" /></dd>
</dl>
<p>Also, by using Cartesian products rather than differences, the origin of the <i><b>spherical cosine for sides</b></i> becomes apparent:</p>
<p><img class="tex" alt="\begin{align}
{\scriptstyle{\Pi}}X&amp;=\cos(\phi_s)\cos(\phi_f)\cos(\lambda_s)\cos(\lambda_f);\\
{\scriptstyle{\Pi}}Y&amp;=\cos(\phi_s)\cos(\phi_f)\sin(\lambda_s)\sin(\lambda_f);\\
{\scriptstyle{\Pi}}Z&amp;=\sin(\phi_s)\sin(\phi_f);\\
\frac{{\scriptstyle{\Pi}}X\!\!+\!{\scriptstyle{\Pi}}Y}{\cos(\phi_s)\cos(\phi_f)}&amp;=\cos(\lambda_s)\cos(\lambda_f)+\sin(\lambda_s)\sin(\lambda_f)=\cos(\Delta\lambda);\\
\Delta\widehat{\sigma}&amp;=\arccos\Big({\scriptstyle{\Pi}}X+{\scriptstyle{\Pi}}Y+{\scriptstyle{\Pi}}Z\Big)
=\arccos\Big({\scriptstyle{\Pi}}Z+\big({\scriptstyle{\Pi}}X+{\scriptstyle{\Pi}}Y\big)\Big),\\
&amp;=\arccos\Big(\sin(\phi_s)\sin(\phi_f)+\cos(\phi_s)\cos(\phi_f)\cos(\Delta\lambda)\Big).\end{align}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/9/9/5/9951c4a26837e9fd75c1c61b2deb1314.png" /></p>
<p>There is also a logarithmical form:</p>
<dl>
<dd><img class="tex" alt="{}_{\color{white}.}\;\mathbb{N}=\exp\left(\ln\!\left(\frac{\cos\left(\frac{\phi_f-\phi_s}{2}\right)}{\sin\left(\frac{\phi_s+\phi_f}{2}\right)}\right)-\ln\left(\tan\Big(\frac{|\Delta\lambda|}{2}\Big)\right)\right);\,\!" src="//upload.wikimedia.org/wikipedia/en/math/1/d/b/1db03d38bf4822335d5d50037df880f2.png" /></dd>
<dd><img class="tex" alt="{}_{\color{white}.}\;\mathbb{D}=\exp\left(\ln\!\left(\frac{\sin\left(\frac{|\phi_f-\phi_s|}{2}\right)}{\cos\left(\frac{\phi_s+\phi_f}{2}\right)}\right)-\ln\left(\tan\Big(\frac{|\Delta\lambda|}{2}\Big)\right)\right);\,\!" src="//upload.wikimedia.org/wikipedia/en/math/8/6/b/86b61e990466a71cd3bb874b3f19317d.png" /></dd>
</dl>
<p><img class="tex" alt="{}_{\color{white}.}\quad\!\Delta\widehat{\sigma}=2\arctan\!\left(\,\left|\exp\left(\ln\!\left(\frac{\sin(\arctan(\mathbb{N}))}{\sin(\arctan(\mathbb{D}))}\right)+\ln\left(\tan\Big(\frac{|\phi_f-\phi_s|}{2}\Big)\right)\right)\right|\,\right).\,\!" src="//upload.wikimedia.org/wikipedia/en/math/3/4/6/346b1a4e3a755e1261089188db2efdbb.png" /></p>
<h2><span class="section">[<a href="/w/index.php?title=Central_angle&amp;action=&amp;section=5" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Inscribed_angle" title="Inscribed angle">Inscribed angle</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Central_angle&amp;action=&amp;section=6" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><a rel="nofollow" class="external free" href="http://mathcentral.uregina.ca/QQ/database/QQ.09.09/h/dave2.html">http://mathcentral.uregina.ca/QQ/database/QQ.09.09/h/dave2.html</a></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Central_angle&amp;action=&amp;section=7" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/arccentralangle.html">Central Angle of an Arc definition</a> With interactive animation</li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/arccentralangletheorem.html">Central Angle Theorem described</a> With interactive animation</li>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/Curriculum/Geometry/InscribedAngle.shtml">Inscribed and Central Angles in a Circle</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 322/1000000
Post-expand include size: 165/2048000 bytes
Template argument size: 0/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:462705-0!0!0!!en!4!* and timestamp 20120405142420 -->
