<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Cube_diagonals.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Cube_diagonals.svg/250px-Cube_diagonals.svg.png" width="250" height="241" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Cube_diagonals.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
AC (shown in red) is a face diagonal while AC' (shown in blue) is a <a href="/wiki/Space_diagonal" title="Space diagonal">space diagonal</a></div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, a <b>face diagonal</b> of a <a href="/wiki/Polyhedron" title="Polyhedron">polyhedron</a> is a <a href="/wiki/Diagonal" title="Diagonal">diagonal</a> on one of the <a href="/wiki/Faces_(geometry)" title="Faces (geometry)" class="mw-redirect">faces</a>, in contrast to a <a href="/wiki/Space_diagonal" title="Space diagonal">space diagonal</a> passing through the interior of the polyhedron.</p>
<p>A <a href="/wiki/Cuboid" title="Cuboid">cuboid</a> has twelve face diagonals (and four space diagonals); the cuboid's face diagonals can have up to three different lengths (the space diagonals all have the same length). A regular <a href="/wiki/Dodecahedron" title="Dodecahedron">dodecahedron</a> has 60 face diagonals (and 100 space diagonals).</p>
<p>The face diagonal of a <a href="/wiki/Cube" title="Cube">cube</a> with side length <i>a</i> is <img class="tex" alt="\sqrt 2a" src="//upload.wikimedia.org/wikipedia/en/math/7/9/0/7909039913521c4a475cf37f559989bd.png" />.</p>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Face_diagonal&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 160/1000000
Post-expand include size: 3818/2048000 bytes
Template argument size: 611/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:10830506-0!0!0!*!*!4!* and timestamp 20120301184244 -->
