<div class="thumb tright">
<div class="thumbinner" style="width:352px;"><a href="/wiki/File:Parallel_postulate_en.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Parallel_postulate_en.svg/350px-Parallel_postulate_en.svg.png" width="350" height="263" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Parallel_postulate_en.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
If the sum of the interior angles  and  is less than 180, the two straight lines, produced indefinitely, meet on that side.</div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, the <b>parallel postulate</b>, also called <b><a href="/wiki/Euclid" title="Euclid">Euclid</a>'s fifth postulate</b> because it is the fifth postulate in <a href="/wiki/Euclid%27s_Elements" title="Euclid's Elements">Euclid's <i>Elements</i></a>, is a distinctive <a href="/wiki/Axiom" title="Axiom">axiom</a> in <a href="/wiki/Euclidean_geometry" title="Euclidean geometry">Euclidean geometry</a>. It states that, in two-dimensional geometry:</p>
<blockquote>
<p><i>If a <a href="/wiki/Line_segment" title="Line segment">line segment</a> intersects two straight <a href="/wiki/Line_(mathematics)" title="Line (mathematics)" class="mw-redirect">lines</a> forming two interior angles on the same side that sum to less than two <a href="/wiki/Right_angle" title="Right angle">right angles</a>, then the two lines, if extended indefinitely, meet on that side on which the angles sum to less than two right angles.</i></p>
</blockquote>
<p><i>Euclidean geometry</i> is the study of geometry that satisfies all of Euclid's axioms, <i>including</i> the parallel postulate. A geometry where the parallel postulate does not hold is known as a <a href="/wiki/Non-Euclidean_geometry" title="Non-Euclidean geometry">non-Euclidean geometry</a>. Geometry that is <a href="/wiki/Logically_independent" title="Logically independent" class="mw-redirect">independent</a> of Euclid's fifth postulate (i.e., only assumes the first four postulates) is known as <a href="/wiki/Absolute_geometry" title="Absolute geometry">absolute geometry</a> (or, in other places known as neutral geometry).</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Converse_of_Euclid.27s_parallel_postulate"><span class="tocnumber">1</span> <span class="toctext">Converse of Euclid's parallel postulate</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Logically_equivalent_properties"><span class="tocnumber">2</span> <span class="toctext">Logically equivalent properties</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#History"><span class="tocnumber">3</span> <span class="toctext">History</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Criticism"><span class="tocnumber">4</span> <span class="toctext">Criticism</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Notes_and_references"><span class="tocnumber">6</span> <span class="toctext">Notes and references</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Further_reading"><span class="tocnumber">7</span> <span class="toctext">Further reading</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Parallel_postulate&amp;action=&amp;section=1" title="Edit section: Converse of Euclid's parallel postulate"></a>]</span> <span class="mw-headline" id="Converse_of_Euclid.27s_parallel_postulate">Converse of Euclid's parallel postulate</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:352px;"><a href="/wiki/File:Parallel_Postulate.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/9e/Parallel_Postulate.svg/350px-Parallel_Postulate.svg.png" width="350" height="225" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Parallel_Postulate.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
If the sum of the two interior angles equals 180, the lines are parallel and will never intersect.</div>
</div>
</div>
<p>Euclid did not postulate the <a href="/wiki/Theorem#Converse" title="Theorem">converse</a> of his fifth postulate, which is one way to distinguish Euclidean geometry from <a href="/wiki/Elliptic_geometry" title="Elliptic geometry">elliptic geometry</a>. The Elements contains the proof of an equivalent statement (Book I, Proposition 27): <i>If a straight line falling on two straight lines make the alternate angles equal to one another, the straight lines will be parallel to one another.</i> As <a href="/wiki/Augustus_De_Morgan" title="Augustus De Morgan">De Morgan</a><sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> pointed out, this is logically equivalent to (Book I, Proposition 16). These results do not depend upon the fifth postulate, but they do require the second postulate<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> which is violated in elliptic geometry.</p>
<h2><span class="section">[<a href="/w/index.php?title=Parallel_postulate&amp;action=&amp;section=2" title="Edit section: Logically equivalent properties"></a>]</span> <span class="mw-headline" id="Logically_equivalent_properties">Logically equivalent properties</span></h2>
<p>Probably the best known equivalent of Euclid's parallel postulate is <a href="/wiki/Playfair%27s_axiom" title="Playfair's axiom">Playfair's axiom</a>, named after the Scottish <a href="/wiki/Mathematician" title="Mathematician">mathematician</a> <a href="/wiki/John_Playfair" title="John Playfair">John Playfair</a>, which states:</p>
<blockquote>
<p><i>At most one line can be drawn through any point not on a given line <a href="/wiki/Parallel_(geometry)" title="Parallel (geometry)">parallel</a> to the given line in a plane.</i><sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
</blockquote>
<p>Many other statements equivalent to the parallel postulate have been suggested, some of them appearing at first to be unrelated to parallelism, and some seeming so <a href="/wiki/Self-evidence" title="Self-evidence">self-evident</a> that they were <a href="/wiki/Unconscious_mind" title="Unconscious mind">unconsciously</a> assumed by people who claimed to have proven the parallel postulate from Euclid's other postulates. This is a summary</p>
<ol>
<li>There is at most one line that can be drawn parallel to another given one by an external point. (<a href="/wiki/Playfair%27s_axiom" title="Playfair's axiom">Playfair's axiom</a>)</li>
<li>The sum of the <a href="/wiki/Angle" title="Angle">angles</a> in every <a href="/wiki/Triangle" title="Triangle">triangle</a> is 180 (<a href="/wiki/Triangle_postulate" title="Triangle postulate">triangle postulate</a>).</li>
<li>There exists a triangle whose angles add up to 180.</li>
<li>The sum of the angles is the same for every triangle.</li>
<li>There exists a pair of <a href="/wiki/Similarity_(geometry)" title="Similarity (geometry)">similar</a>, but not <a href="/wiki/Congruence_(geometry)" title="Congruence (geometry)">congruent</a>, triangles.</li>
<li>Every triangle can be <a href="/wiki/Circumscribe" title="Circumscribe" class="mw-redirect">circumscribed</a>.</li>
<li>If three angles of a <a href="/wiki/Quadrilateral" title="Quadrilateral">quadrilateral</a> are <a href="/wiki/Right_angle" title="Right angle">right angles</a>, then the fourth angle is also a right angle.</li>
<li>There exists a quadrilateral of which all angles are right angles.</li>
<li>There exists a pair of straight lines that are at constant <a href="/wiki/Distance" title="Distance">distance</a> from each other.</li>
<li>Two lines that are parallel to the same line are also parallel to each other.</li>
<li>In a <a href="/wiki/Right-angled_triangle" title="Right-angled triangle" class="mw-redirect">right-angled triangle</a>, the square of the hypotenuse equals the sum of the squares of the other two sides (<a href="/wiki/Pythagoras%27_Theorem" title="Pythagoras' Theorem" class="mw-redirect">Pythagoras' Theorem</a>).<sup id="cite_ref-Parallel_3-0" class="reference"><a href="#cite_note-Parallel-3"><span>[</span>4<span>]</span></a></sup><sup id="cite_ref-Pruss_4-0" class="reference"><a href="#cite_note-Pruss-4"><span>[</span>5<span>]</span></a></sup></li>
<li>There is no upper limit to the <a href="/wiki/Area_(geometry)" title="Area (geometry)" class="mw-redirect">area</a> of a triangle. (<a href="/wiki/John_Wallis#Geometry" title="John Wallis">Wallis axiom</a>)<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup></li>
<li>The summit angles of the <a href="/wiki/Saccheri_quadrilateral" title="Saccheri quadrilateral">Saccheri quadrilateral</a> are 90.</li>
<li>If a line intersects one of two parallel lines, both of which are coplanar with the original line, then it also intersects the other. (<a href="/wiki/Proclus" title="Proclus">Proclus</a>' axiom)<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup></li>
</ol>
<p>However, the alternatives which employ the word "parallel" cease appearing so simple when one is obliged to explain which of the three common definitions of "parallel" is meant&#160; constant separation, never meeting, or same angles where crossed by a third line&#160; since the equivalence of these three is itself one of the unconsciously obvious assumptions equivalent to Euclid's fifth postulate. For example, if the word "parallel" in Playfair's axiom is taken to mean 'constant separation', then it is no longer equivalent to Euclid's fifth postulate, and is provable from the first four (the axiom says 'There is at most one line...', which is consistent with there being no such lines). However, if the definition is taken so that parallel lines are lines that do not intersect, Playfair's axiom is equivalent to Euclid's fifth postulate and is thus independent of the first four postulates.</p>
<h2><span class="section">[<a href="/w/index.php?title=Parallel_postulate&amp;action=&amp;section=3" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<p>For two thousand years, many attempts were made to prove the parallel postulate using Euclid's first four postulates. The main reason that such a proof was so highly sought after was that, unlike the first four postulates, the parallel postulate isn't self-evident. If the order the postulates were listed in the Elements is significant, it indicates that Euclid included this postulate only when he realised he could not prove it or proceed without it.<sup id="cite_ref-7" class="reference"><a href="#cite_note-7"><span>[</span>8<span>]</span></a></sup> Many attempts were made to prove the fifth postulate from the other four, many of them being accepted as proofs for long periods of time until the mistake was found. Invariably the mistake was assuming some 'obvious' property which turned out to be equivalent to the fifth postulate (<a href="#Logically_equivalent_properties">Playfair's axiom</a>). Although known from the time of Proclus, this became known as Playfair's Axiom after John Playfair wrote a famous commentary on Euclid in 1795 in which he proposed replacing Euclid's fifth postulate by his own axiom.</p>
<p><a href="/wiki/Proclus" title="Proclus">Proclus</a> (410-485) wrote a commentary on <i><a href="/wiki/Euclid%27s_Elements" title="Euclid's Elements">The Elements</a></i> where he comments on attempted proofs to deduce the fifth postulate from the other four, in particular he notes that <a href="/wiki/Ptolemy" title="Ptolemy">Ptolemy</a> had produced a false 'proof'. Proclus then goes on to give a false proof of his own. However he did give a postulate which is equivalent to the fifth postulate.</p>
<p><a href="/wiki/Ibn_al-Haytham" title="Ibn al-Haytham" class="mw-redirect">Ibn al-Haytham</a> (Alhazen) (965-1039), an <a href="/wiki/Mathematics_in_medieval_Islam" title="Mathematics in medieval Islam">Arab mathematician</a>, made the first attempt at proving the parallel postulate using a <a href="/wiki/Reductio_ad_absurdum" title="Reductio ad absurdum">proof by contradiction</a>,<sup id="cite_ref-8" class="reference"><a href="#cite_note-8"><span>[</span>9<span>]</span></a></sup><sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability"><span title="The material in the vicinity of this tag failed verification of its source citation(s) from September 2011">not in citation given</span></a></i>]</sup> where he introduced the concept of <a href="/wiki/Hyperbolic_motion" title="Hyperbolic motion">motion</a> and <a href="/wiki/Transformation_(geometry)" title="Transformation (geometry)" class="mw-redirect">transformation</a> into geometry.<sup id="cite_ref-9" class="reference"><a href="#cite_note-9"><span>[</span>10<span>]</span></a></sup><sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability"><span title="The material in the vicinity of this tag failed verification of its source citation(s) from February 2010">not in citation given</span></a></i>]</sup> He formulated the <a href="/wiki/Lambert_quadrilateral" title="Lambert quadrilateral">Lambert quadrilateral</a>, which Boris Abramovich Rozenfeld names the "Ibn al-HaythamLambert quadrilateral",<sup id="cite_ref-Rozenfeld_10-0" class="reference"><a href="#cite_note-Rozenfeld-10"><span>[</span>11<span>]</span></a></sup> and his attempted proof also shows similarities to <a href="#Logically_equivalent_properties">Playfair's axiom</a>.<sup id="cite_ref-Smith_11-0" class="reference"><a href="#cite_note-Smith-11"><span>[</span>12<span>]</span></a></sup></p>
<p><a href="/wiki/Omar_Khayy%C3%A1m" title="Omar Khayym">Omar Khayym</a> (10501123), a Persian, made the first attempt at formulating a non-Euclidean <a href="/wiki/Postulate" title="Postulate" class="mw-redirect">postulate</a> as an alternative to the parallel postulate,<sup id="cite_ref-12" class="reference"><a href="#cite_note-12"><span>[</span>13<span>]</span></a></sup> and he was the first to consider the cases of <a href="/wiki/Elliptical_geometry" title="Elliptical geometry" class="mw-redirect">elliptical geometry</a> and <a href="/wiki/Hyperbolic_geometry" title="Hyperbolic geometry">hyperbolic geometry</a>, though he excluded the latter.<sup id="cite_ref-Rosenfeld_13-0" class="reference"><a href="#cite_note-Rosenfeld-13"><span>[</span>14<span>]</span></a></sup> The <a href="/wiki/Saccheri_quadrilateral" title="Saccheri quadrilateral">Khayyam-Saccheri quadrilateral</a> was also first considered by Omar Khayyam in the late 11th century in Book I of <i>Explanations of the Difficulties in the Postulates of Euclid</i>.<sup id="cite_ref-Rozenfeld_10-1" class="reference"><a href="#cite_note-Rozenfeld-10"><span>[</span>11<span>]</span></a></sup> Unlike many commentators on Euclid before and after him (including <a href="/wiki/Giovanni_Girolamo_Saccheri" title="Giovanni Girolamo Saccheri">Giovanni Girolamo Saccheri</a>), Khayyam was not trying to prove the parallel postulate as such but to derive it from an equivalent postulate: "Two convergent straight lines intersect and it is impossible for two convergent straight lines to diverge in the direction in which they converge."<sup id="cite_ref-14" class="reference"><a href="#cite_note-14"><span>[</span>15<span>]</span></a></sup> He recognized that three possibilities arose from omitting Euclid's Fifth; if two perpendiculars to one line cross another line, judicious choice of the last can make the internal angles where it meets the two perpendiculars equal (it is then parallel to the first line). If those equal internal angles are right angles, we get Euclid's Fifth; otherwise, they must be either acute or obtuse. He persuaded himself that the acute and obtuse cases lead to contradiction, but had made a tacit assumption equivalent to the fifth to get there.<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from January 2012">citation needed</span></a></i>]</sup></p>
<p><a href="/wiki/Nasir_al-Din_al-Tusi" title="Nasir al-Din al-Tusi">Nasir al-Din al-Tusi</a> (12011274), in his <i>Al-risala al-shafiya'an al-shakk fi'l-khutut al-mutawaziya</i> (<i>Discussion Which Removes Doubt about Parallel Lines</i>) (1250), wrote detailed critiques of the parallel postulate and on Khayym's attempted proof a century earlier. Nasir al-Din attempted to derive a proof by contradiction of the parallel postulate.<sup id="cite_ref-Katz_15-0" class="reference"><a href="#cite_note-Katz-15"><span>[</span>16<span>]</span></a></sup> He was also one of the first to consider the cases of elliptical geometry and hyperbolic geometry, though he ruled out both of them.<sup id="cite_ref-Rosenfeld_13-1" class="reference"><a href="#cite_note-Rosenfeld-13"><span>[</span>14<span>]</span></a></sup></p>
<div class="thumb tright">
<div class="thumbinner" style="width:352px;"><a href="/wiki/File:Euclidian_and_non_euclidian_geometry.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Euclidian_and_non_euclidian_geometry.png/350px-Euclidian_and_non_euclidian_geometry.png" width="350" height="137" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Euclidian_and_non_euclidian_geometry.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Euclidean, elliptical and hyperbolic geometry. The Parallel Postulate is satisfied only for models of Euclidean geometry.</div>
</div>
</div>
<p>Nasir al-Din's son, Sadr al-Din (sometimes known as "Pseudo-Tusi"), wrote a book on the subject in 1298, based on his father's later thoughts, which presented one of the earliest arguments for a non-Euclidean hypothesis equivalent to the parallel postulate. "He essentially revised both the Euclidean system of axioms and postulates and the proofs of many propositions from the <i>Elements</i>."<sup id="cite_ref-Katz_15-1" class="reference"><a href="#cite_note-Katz-15"><span>[</span>16<span>]</span></a></sup><sup id="cite_ref-16" class="reference"><a href="#cite_note-16"><span>[</span>17<span>]</span></a></sup> His work was published in <a href="/wiki/Rome" title="Rome">Rome</a> in 1594 and was studied by European geometers. This work marked the starting point for Saccheri's work on the subject <sup id="cite_ref-Katz_15-2" class="reference"><a href="#cite_note-Katz-15"><span>[</span>16<span>]</span></a></sup> wherein he criticised this work as well as the work of Wallis.<sup id="cite_ref-17" class="reference"><a href="#cite_note-17"><span>[</span>18<span>]</span></a></sup></p>
<p><br />
<a href="/wiki/Giordano_Vitale" title="Giordano Vitale">Giordano Vitale</a> (1633-1711), in his book <i>Euclide restituo</i> (1680, 1686), used the Khayyam-Saccheri quadrilateral to prove that if three points are equidistant on the base AB and the summit CD, then AB and CD are everywhere equidistant. <a href="/wiki/Girolamo_Saccheri" title="Girolamo Saccheri" class="mw-redirect">Girolamo Saccheri</a> (1667-1733) pursued the same line of reasoning more thoroughly, correctly obtaining absurdity from the obtuse case (proceeding, like Euclid, from the implicit assumption that lines can be extended indefinitely and have infinite length), but failing to debunk the acute case (although he managed to wrongly persuade himself that he had).</p>
<p>Where Khayym and Saccheri had attempted to prove Euclid's fifth by disproving the only possible alternatives, the nineteenth century finally saw mathematicians exploring those alternatives and discovering the <a href="/wiki/Logically_consistent" title="Logically consistent" class="mw-redirect">logically consistent</a> geometries which result. In 1829, <a href="/wiki/Nikolai_Ivanovich_Lobachevsky" title="Nikolai Ivanovich Lobachevsky" class="mw-redirect">Nikolai Ivanovich Lobachevsky</a> published an account of acute geometry in an obscure Russian journal (later re-published in 1840 in German). In 1831, <a href="/wiki/J%C3%A1nos_Bolyai" title="Jnos Bolyai">Jnos Bolyai</a> included, in a book by his father, an appendix describing acute geometry, which, doubtlessly, he had developed independently of Lobachevsky. <a href="/wiki/Carl_Friedrich_Gauss" title="Carl Friedrich Gauss">Carl Friedrich Gauss</a> had also studied the problem, but he did not publish any of his results. Upon hearing of Bolyai's results in a letter from Bolyai's father, <a href="/wiki/Farkas_Bolyai" title="Farkas Bolyai">Farkas Bolyai</a>, he stated:</p>
<blockquote>
<p>"If I commenced by saying that I am unable to praise this work, you would certainly be surprised for a moment. But I cannot say otherwise. To praise it would be to praise myself. Indeed the whole contents of the work, the path taken by your son, the results to which he is led, coincide almost entirely with my mations, which have occupied my mind partly for the last thirty or thirty-five years."<sup id="cite_ref-18" class="reference"><a href="#cite_note-18"><span>[</span>19<span>]</span></a></sup></p>
</blockquote>
<p>The resulting geometries were later developed by <a href="/wiki/Nikolai_Ivanovich_Lobachevsky" title="Nikolai Ivanovich Lobachevsky" class="mw-redirect">Lobachevsky</a>, <a href="/wiki/Bernhard_Riemann" title="Bernhard Riemann">Riemann</a> and <a href="/wiki/Jules-Henri_Poincar%C3%A9" title="Jules-Henri Poincar" class="mw-redirect">Poincar</a> into <a href="/wiki/Hyperbolic_geometry" title="Hyperbolic geometry">hyperbolic geometry</a> (the acute case) and <a href="/wiki/Spherical_geometry" title="Spherical geometry">spherical geometry</a> (the obtuse case). The <a href="/wiki/Independence_(mathematical_logic)" title="Independence (mathematical logic)">independence</a> of the parallel postulate from Euclid's other axioms was finally demonstrated by <a href="/wiki/Eugenio_Beltrami" title="Eugenio Beltrami">Eugenio Beltrami</a> in 1868.</p>
<h2><span class="section">[<a href="/w/index.php?title=Parallel_postulate&amp;action=&amp;section=4" title="Edit section: Criticism"></a>]</span> <span class="mw-headline" id="Criticism">Criticism</span></h2>
<p>Attempts to logically prove this postulate, rather than the eighth axiom, were criticized by <a href="/wiki/Schopenhauer" title="Schopenhauer" class="mw-redirect">Schopenhauer</a>, as described in <a href="/wiki/Schopenhauer%27s_criticism_of_the_proofs_of_the_Parallel_Postulate" title="Schopenhauer's criticism of the proofs of the Parallel Postulate" class="mw-redirect">Schopenhauer's criticism of the proofs of the Parallel Postulate</a>. However, the argument used by Schopenhauer was that the postulate is evident by perception, not that it was not a logical consequence of the other axioms.</p>
<h2><span class="section">[<a href="/w/index.php?title=Parallel_postulate&amp;action=&amp;section=5" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li>For more information, see the <a href="/wiki/Non-Euclidean_geometry#History" title="Non-Euclidean geometry">history of non-Euclidean geometry</a>.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Parallel_postulate&amp;action=&amp;section=6" title="Edit section: Notes and references"></a>]</span> <span class="mw-headline" id="Notes_and_references">Notes and references</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Heath, T.L., <i>The thirteen books of Euclid's Elements</i>, Vol.1, Dover, 1956, pg.309.</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">Coxeter, H.S.M., <i>Non-Euclidean Geometry</i>, 6th Ed., MAA 1998, pg.3</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://aleph0.clarku.edu/~djoyce/java/elements/bookI/propI30.html">Euclid's Parallel Postulate and Playfair's Axiom</a></span></li>
<li id="cite_note-Parallel-3"><b><a href="#cite_ref-Parallel_3-0">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFEric_W._Weisstein2003">Eric W. Weisstein (2003), <a rel="nofollow" class="external text" href="http://books.google.com/books?id=aFDWuZZslUUC&amp;pg=PA2147"><i>CRC concise encyclopedia of mathematics</i></a> (2nd ed.), p.&#160;2147, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/1-58488-347-2" title="Special:BookSources/1-58488-347-2">1-58488-347-2</a><span class="printonly">, <a rel="nofollow" class="external free" href="http://books.google.com/books?id=aFDWuZZslUUC&amp;pg=PA2147">http://books.google.com/books?id=aFDWuZZslUUC&amp;pg=PA2147</a></span>, "The parallel postulate is equivalent to the <i>Equidistance postulate</i>, <i>Playfair axiom</i>, <i>Proclus axiom</i>, the <i>Triangle postulate</i> and the <i>Pythagorean theorem</i>."</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=CRC+concise+encyclopedia+of+mathematics&amp;rft.aulast=Eric+W.+Weisstein&amp;rft.au=Eric+W.+Weisstein&amp;rft.date=2003&amp;rft.pages=p.%26nbsp%3B2147&amp;rft.ion=2nd&amp;rft.isbn=1-58488-347-2&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DaFDWuZZslUUC%26pg%3DPA2147&amp;rfr_id=info:sid/en.wikipedia.org:Parallel_postulate"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-Pruss-4"><b><a href="#cite_ref-Pruss_4-0">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFAlexander_R._Pruss2006">Alexander R. Pruss (2006), <a rel="nofollow" class="external text" href="http://books.google.com/books?id=8qAxk1rXIjQC&amp;pg=PA11"><i>The principle of sufficient reason: a reassessment</i></a>, Cambridge University Press, p.&#160;11, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-521-85959-X" title="Special:BookSources/0-521-85959-X">0-521-85959-X</a><span class="printonly">, <a rel="nofollow" class="external free" href="http://books.google.com/books?id=8qAxk1rXIjQC&amp;pg=PA11">http://books.google.com/books?id=8qAxk1rXIjQC&amp;pg=PA11</a></span>, "We could include...the parallel postulate and derive the Pythagorean theorem. Or we could instead make the Pythagorean theorem among the other axioms and derive the parallel postulate."</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+principle+of+sufficient+reason%3A+a+reassessment&amp;rft.aulast=Alexander+R.+Pruss&amp;rft.au=Alexander+R.+Pruss&amp;rft.date=2006&amp;rft.pages=p.%26nbsp%3B11&amp;rft.pub=Cambridge+University+Press&amp;rft.isbn=0-521-85959-X&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3D8qAxk1rXIjQC%26pg%3DPA11&amp;rfr_id=info:sid/en.wikipedia.org:Parallel_postulate"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text"><span class="citation web">Bogomolny, Alexander. <a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/triangle/pythpar/Fifth.shtml">"Euclid's Fifth Postulate"</a>. <i>Cut The Knot</i><span class="printonly">. <a rel="nofollow" class="external free" href="http://www.cut-the-knot.org/triangle/pythpar/Fifth.shtml">http://www.cut-the-knot.org/triangle/pythpar/Fifth.shtml</a></span><span class="reference-accessdate">. Retrieved 30 September 2011</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Euclid%27s+Fifth+Postulate&amp;rft.atitle=Cut+The+Knot&amp;rft.aulast=Bogomolny&amp;rft.aufirst=Alexander&amp;rft.au=Bogomolny%2C%26%2332%3BAlexander&amp;rft_id=http%3A%2F%2Fwww.cut-the-knot.org%2Ftriangle%2Fpythpar%2FFifth.shtml&amp;rfr_id=info:sid/en.wikipedia.org:Parallel_postulate"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text"><span class="citation web">Weisstein, Eric W.. <a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/ProclusAxiom.html">"Proclus' Axiom&#160; MathWorld"</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://mathworld.wolfram.com/ProclusAxiom.html">http://mathworld.wolfram.com/ProclusAxiom.html</a></span><span class="reference-accessdate">. Retrieved 2009-09-05</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Proclus%27+Axiom%26nbsp%3B%E2%80%93+MathWorld&amp;rft.atitle=&amp;rft.aulast=Weisstein&amp;rft.aufirst=Eric+W.&amp;rft.au=Weisstein%2C%26%2332%3BEric+W.&amp;rft_id=http%3A%2F%2Fmathworld.wolfram.com%2FProclusAxiom.html&amp;rfr_id=info:sid/en.wikipedia.org:Parallel_postulate"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-7"><b><a href="#cite_ref-7">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFFlorence_P._LewisJan_1920">Florence P. Lewis (Jan 1920), "History of the Parallel Postulate", <i>The American Mathematical Monthly</i> (The American Mathematical Monthly, Vol. 27, No. 1) <b>27</b> (1): 1623, <a href="/wiki/Digital_object_identifier" title="Digital object identifier">doi</a>:<a rel="nofollow" class="external text" href="http://dx.doi.org/10.2307%2F2973238">10.2307/2973238</a>, <a href="/wiki/JSTOR" title="JSTOR">JSTOR</a>&#160;<a rel="nofollow" class="external text" href="http://www.jstor.org/stable/2973238">2973238</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=History+of+the+Parallel+Postulate&amp;rft.jtitle=The+American+Mathematical+Monthly&amp;rft.aulast=Florence+P.+Lewis&amp;rft.au=Florence+P.+Lewis&amp;rft.date=Jan+1920&amp;rft.volume=27&amp;rft.issue=1&amp;rft.pages=16%E2%80%9323&amp;rft.pub=The+American+Mathematical+Monthly%2C+Vol.+27%2C+No.+1&amp;rft_id=info:doi/10.2307%2F2973238&amp;rft.jstor=2973238&amp;rfr_id=info:sid/en.wikipedia.org:Parallel_postulate"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-8"><b><a href="#cite_ref-8">^</a></b> <span class="reference-text">Eder (2000)</span></li>
<li id="cite_note-9"><b><a href="#cite_ref-9">^</a></b> <span class="reference-text">(<a href="#CITEREFKatz1998">Katz 1998</a>, p.&#160;269):</span>
<blockquote class="templatequote">
<div class="Bug6200"><span class="reference-text">In effect, this method characterized parallel lines as lines always equidistant from one another and also introduced the concept of motion into geometry.</span></div>
</blockquote>
</li>
<li id="cite_note-Rozenfeld-10">^ <a href="#cite_ref-Rozenfeld_10-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Rozenfeld_10-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text">(<a href="#CITEREFRozenfeld1988">Rozenfeld 1988</a>, p.&#160;65)</span></li>
<li id="cite_note-Smith-11"><b><a href="#cite_ref-Smith_11-0">^</a></b> <span class="reference-text">(<a href="#CITEREFSmith1992">Smith 1992</a>)</span></li>
<li id="cite_note-12"><b><a href="#cite_ref-12">^</a></b> <span class="reference-text">Victor J. Katz (1998), <i>History of Mathematics: An Introduction</i>, p. 270, <a href="/wiki/Addison-Wesley" title="Addison-Wesley">Addison-Wesley</a>, <a href="/wiki/Special:BookSources/0321016181" class="internal mw-magiclink-isbn">ISBN 0-321-01618-1</a>:</span>
<blockquote class="templatequote">
<div class="Bug6200"><span class="reference-text">"In some sense, his treatment was better than ibn al-Haytham's because he explicitly formulated a new postulate to replace Euclid's rather than have the latter hidden in a new definition."</span></div>
</blockquote>
</li>
<li id="cite_note-Rosenfeld-13">^ <a href="#cite_ref-Rosenfeld_13-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Rosenfeld_13-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text">Boris A. Rosenfeld and Adolf P. Youschkevitch (1996), "Geometry", in Roshdi Rashed, ed., <i><a href="/wiki/Encyclopedia_of_the_History_of_Arabic_Science" title="Encyclopedia of the History of Arabic Science">Encyclopedia of the History of Arabic Science</a></i>, Vol. 2, p. 447-494 [469], <a href="/wiki/Routledge" title="Routledge">Routledge</a>, London and New York:</span>
<blockquote class="templatequote">
<div class="Bug6200"><span class="reference-text">"Khayyam's postulate had excluded the case of the hyperbolic geometry whereas al-Tusi's postulate ruled out both the hyperbolic and elliptic geometries."</span></div>
</blockquote>
</li>
<li id="cite_note-14"><b><a href="#cite_ref-14">^</a></b> <span class="reference-text">Boris A Rosenfeld and Adolf P Youschkevitch (1996), <i>Geometry</i>, p.467 in Roshdi Rashed, Rgis Morelon (1996), <i>Encyclopedia of the history of Arabic science</i>, Routledge, <a href="/wiki/Special:BookSources/0415124115" class="internal mw-magiclink-isbn">ISBN 0-415-12411-5</a>.</span></li>
<li id="cite_note-Katz-15">^ <a href="#cite_ref-Katz_15-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Katz_15-1"><sup><i><b>b</b></i></sup></a> <a href="#cite_ref-Katz_15-2"><sup><i><b>c</b></i></sup></a> <span class="reference-text">Victor J. Katz (1998), <i>History of Mathematics: An Introduction</i>, p.&#160;270-271, <a href="/wiki/Addison-Wesley" title="Addison-Wesley">Addison-Wesley</a>, <a href="/wiki/Special:BookSources/0321016181" class="internal mw-magiclink-isbn">ISBN 0-321-01618-1</a>:</span>
<blockquote>
<p><span class="reference-text">"But in a manuscript probably written by his son Sadr al-Din in 1298, based on Nasir al-Din's later thoughts on the subject, there is a new argument based on another hypothesis, also equivalent to Euclid's, [...] The importance of this latter work is that it was published in Rome in 1594 and was studied by European geometers. In particular, it became the starting point for the work of Saccheri and ultimately for the discovery of non-Euclidean geometry."</span></p>
</blockquote>
</li>
<li id="cite_note-16"><b><a href="#cite_ref-16">^</a></b> <span class="reference-text">Boris A. Rosenfeld and Adolf P. Youschkevitch (1996), "Geometry", in Roshdi Rashed, ed., <i><a href="/wiki/Encyclopedia_of_the_History_of_Arabic_Science" title="Encyclopedia of the History of Arabic Science">Encyclopedia of the History of Arabic Science</a></i>, Vol. 2, p. 447-494 [469], <a href="/wiki/Routledge" title="Routledge">Routledge</a>, London and New York:</span>
<blockquote class="templatequote">
<div class="Bug6200"><span class="reference-text">"In <i>Pseudo-Tusi's Exposition of Euclid</i>, [...] another statement is used instead of a postulate. It was independent of the Euclidean postulate V and easy to prove. [...] He essentially revised both the Euclidean system of axioms and postulates and the proofs of many propositions from the <i>Elements</i>."</span></div>
</blockquote>
</li>
<li id="cite_note-17"><b><a href="#cite_ref-17">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www-history.mcs.st-andrews.ac.uk/Biographies/Saccheri.html">MacTutor's Giovanni Girolamo Saccheri</a></span></li>
<li id="cite_note-18"><b><a href="#cite_ref-18">^</a></b> <span class="reference-text">On Gauss' Mountains. <a rel="nofollow" class="external free" href="http://www.mathpages.com/rr/s8-06/8-06.htm">http://www.mathpages.com/rr/s8-06/8-06.htm</a></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Parallel_postulate&amp;action=&amp;section=7" title="Edit section: Further reading"></a>]</span> <span class="mw-headline" id="Further_reading">Further reading</span></h2>
<ul>
<li><a href="/wiki/Lewis_Carroll" title="Lewis Carroll">Carroll, Lewis</a>, <i>Euclid and His Modern Rivals</i>, Dover, <a href="/wiki/Special:BookSources/0486229688" class="internal mw-magiclink-isbn">ISBN 0-486-22968-8</a></li>
<li><span class="citation" id="CITEREFEder2000">Eder, Michelle (2000), <a rel="nofollow" class="external text" href="http://www.math.rutgers.edu/~cherlin/History/Papers2000/eder.html"><i>Views of Euclid's Parallel Postulate in Ancient Greece and in Medieval Islam</i></a>, <a href="/wiki/Rutgers_University" title="Rutgers University">Rutgers University</a><span class="printonly">, <a rel="nofollow" class="external free" href="http://www.math.rutgers.edu/~cherlin/History/Papers2000/eder.html">http://www.math.rutgers.edu/~cherlin/History/Papers2000/eder.html</a></span><span class="reference-accessdate">, retrieved 2008-01-23</span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Views+of+Euclid%27s+Parallel+Postulate+in+Ancient+Greece+and+in+Medieval+Islam&amp;rft.aulast=Eder&amp;rft.aufirst=Michelle&amp;rft.au=Eder%2C%26%2332%3BMichelle&amp;rft.date=2000&amp;rft.pub=%5B%5BRutgers+University%5D%5D&amp;rft_id=http%3A%2F%2Fwww.math.rutgers.edu%2F%7Echerlin%2FHistory%2FPapers2000%2Feder.html&amp;rfr_id=info:sid/en.wikipedia.org:Parallel_postulate"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation" id="CITEREFKatz1998">Katz, Victor J. (1998), <i>History of Mathematics: An Introduction</i>, <a href="/wiki/Addison-Wesley" title="Addison-Wesley">Addison-Wesley</a>, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-321-01618-1" title="Special:BookSources/0-321-01618-1">0-321-01618-1</a>, <a href="/wiki/Online_Computer_Library_Center" title="Online Computer Library Center">OCLC</a>&#160;<a rel="nofollow" class="external text" href="http://www.worldcat.org/oclc/38199387">60154481 38199387 60154481</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=History+of+Mathematics%3A+An+Introduction&amp;rft.aulast=Katz&amp;rft.aufirst=Victor+J.&amp;rft.au=Katz%2C%26%2332%3BVictor+J.&amp;rft.date=1998&amp;rft.pub=%5B%5BAddison-Wesley%5D%5D&amp;rft.isbn=0-321-01618-1&amp;rft_id=info:oclcnum/38199387+60154481&amp;rfr_id=info:sid/en.wikipedia.org:Parallel_postulate"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation" id="CITEREFRozenfeld1988">Rozenfeld, Boris A. (1988), <i>A History of Non-Euclidean Geometry: Evolution of the Concept of a Geometric Space</i>, <a href="/wiki/Springer_Science%2BBusiness_Media" title="Springer Science+Business Media">Springer Science+Business Media</a>, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-387-96458-4" title="Special:BookSources/0-387-96458-4">0-387-96458-4</a>, <a href="/wiki/Online_Computer_Library_Center" title="Online Computer Library Center">OCLC</a>&#160;<a rel="nofollow" class="external text" href="http://www.worldcat.org/oclc/15550634">230166667 230980046 77693662 15550634 230166667 230980046 77693662</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=A+History+of+Non-Euclidean+Geometry%3A+Evolution+of+the+Concept+of+a+Geometric+Space&amp;rft.aulast=Rozenfeld&amp;rft.aufirst=Boris+A.&amp;rft.au=Rozenfeld%2C%26%2332%3BBoris+A.&amp;rft.date=1988&amp;rft.pub=%5B%5BSpringer+Science%2BBusiness+Media%5D%5D&amp;rft.isbn=0-387-96458-4&amp;rft_id=info:oclcnum/15550634+230166667+230980046+77693662&amp;rfr_id=info:sid/en.wikipedia.org:Parallel_postulate"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation" id="CITEREFSmith1992">Smith, John D. (1992), "The Remarkable Ibn al-Haytham", <i>The Mathematical Gazette</i> (<a href="/wiki/Mathematical_Association" title="Mathematical Association">Mathematical Association</a>) <b>76</b> (475): 189198, <a href="/wiki/Digital_object_identifier" title="Digital object identifier">doi</a>:<a rel="nofollow" class="external text" href="http://dx.doi.org/10.2307%2F3620392">10.2307/3620392</a>, <a href="/wiki/JSTOR" title="JSTOR">JSTOR</a>&#160;<a rel="nofollow" class="external text" href="http://www.jstor.org/stable/3620392">3620392</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=The+Remarkable+Ibn+al-Haytham&amp;rft.jtitle=The+Mathematical+Gazette&amp;rft.aulast=Smith&amp;rft.aufirst=John+D.&amp;rft.au=Smith%2C%26%2332%3BJohn+D.&amp;rft.date=1992&amp;rft.volume=76&amp;rft.issue=475&amp;rft.pages=189%E2%80%93198&amp;rft.pub=%5B%5BMathematical+Association%5D%5D&amp;rft_id=info:doi/10.2307%2F3620392&amp;rft.jstor=3620392&amp;rfr_id=info:sid/en.wikipedia.org:Parallel_postulate"><span style="display: none;">&#160;</span></span></li>
</ul>
<p><span id="interwiki-ru-fa"></span></p>


<!-- 
NewPP limit report
Preprocessor node count: 8080/1000000
Post-expand include size: 59842/2048000 bytes
Template argument size: 17737/2048000 bytes
Expensive parser function count: 3/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:33731493-0!*!0!!en!4!* and timestamp 20120407084539 -->
