<div class="dablink">For other uses, see <a href="/wiki/Perimeter_(disambiguation)" title="Perimeter (disambiguation)">Perimeter (disambiguation)</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Perimiters.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Perimiters.svg/250px-Perimiters.svg.png" width="250" height="46" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Perimiters.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Perimeter is the distance around a two dimensional shape, or the measurement of the distance around something; the length of the boundary.</div>
</div>
</div>
<p>A <b>perimeter</b> is a path that surrounds an <a href="/wiki/Area" title="Area">area</a>. The word comes from the Greek <i>peri</i> (around) and <i>meter</i> (measure). The term may be used either for the path or its length - it can be thought of as the length of the outline of a shape. The perimeter of a circular area is called its <a href="/wiki/Circumference" title="Circumference">circumference</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Practical_uses"><span class="tocnumber">1</span> <span class="toctext">Practical uses</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Formulas"><span class="tocnumber">2</span> <span class="toctext">Formulas</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#See_also"><span class="tocnumber">3</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#External_links"><span class="tocnumber">4</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Perimeter&amp;action=&amp;section=1" title="Edit section: Practical uses"></a>]</span> <span class="mw-headline" id="Practical_uses">Practical uses</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:PerimeterRectangle.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/da/PerimeterRectangle.svg/250px-PerimeterRectangle.svg.png" width="250" height="147" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:PerimeterRectangle.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The formula for the perimeter of a <a href="/wiki/Rectangle" title="Rectangle">rectangle</a>.</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:2pi-unrolled.gif" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/67/2pi-unrolled.gif/250px-2pi-unrolled.gif" width="250" height="86" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:2pi-unrolled.gif" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
When a circle's radius is 1, its perimeter is 2, which is also the distance it rolls in one revolution.</div>
</div>
</div>
<p>Calculating the perimeter has considerable practical applications. The perimeter can be used to calculate the length of fence required to surround a yard or garden. The perimeter of a wheel (its circumference) describes how far it will roll in one revolution. Similarly, the amount of string wound around a spool is related to the spool's perimeter.</p>
<div style="clear:both;"></div>
<h2><span class="section">[<a href="/w/index.php?title=Perimeter&amp;action=&amp;section=2" title="Edit section: Formulas"></a>]</span> <span class="mw-headline" id="Formulas">Formulas</span></h2>
<table class="wikitable">
<tr>
<th>shape</th>
<th>formula</th>
<th>variables</th>
</tr>
<tr>
<td><a href="/wiki/Circle" title="Circle">circle</a></td>
<td><img class="tex" alt="2 \pi r\," src="//upload.wikimedia.org/wikipedia/en/math/4/f/0/4f0f2463c6cce308b00799ddfcb3d923.png" /></td>
<td>where <img class="tex" alt="r" src="//upload.wikimedia.org/wikipedia/en/math/4/b/4/4b43b0aee35624cd95b910189b3dc231.png" /> is the radius.</td>
</tr>
<tr>
<td><a href="/wiki/Triangle" title="Triangle">triangle</a></td>
<td><img class="tex" alt="a + b + c\," src="//upload.wikimedia.org/wikipedia/en/math/7/e/8/7e8db2b4cd002e46f7bb8bfe4f24217c.png" /></td>
<td>where <img class="tex" alt="a" src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0cc175b9c0f1b6a831c399e269772661.png" />, <img class="tex" alt="b" src="//upload.wikimedia.org/wikipedia/en/math/9/2/e/92eb5ffee6ae2fec3ad71c777531578f.png" /> and <img class="tex" alt="c" src="//upload.wikimedia.org/wikipedia/en/math/4/a/8/4a8a08f09d37b73795649038408b5f33.png" /> are the lengths of the sides of the triangle.</td>
</tr>
<tr>
<td><a href="/wiki/Square_(geometry)" title="Square (geometry)">square</a>/<a href="/wiki/Rhombus" title="Rhombus">rhombus</a></td>
<td><img class="tex" alt="4a" src="//upload.wikimedia.org/wikipedia/en/math/2/1/e/21e1dcd96ade2d871bb13381006a5f67.png" /></td>
<td>where <img class="tex" alt="a" src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0cc175b9c0f1b6a831c399e269772661.png" /> is the side length</td>
</tr>
<tr>
<td><a href="/wiki/Rectangle" title="Rectangle">rectangle</a></td>
<td><img class="tex" alt="2(h+w)" src="//upload.wikimedia.org/wikipedia/en/math/2/0/c/20c38c58b6a37e1ee023a3b6bc769a75.png" /></td>
<td>where <img class="tex" alt="h" src="//upload.wikimedia.org/wikipedia/en/math/2/5/1/2510c39011c5be704182423e3a695e91.png" /> is the height and <img class="tex" alt="w" src="//upload.wikimedia.org/wikipedia/en/math/f/1/2/f1290186a5d0b1ceab27f4e77c0c5d68.png" /> is the width</td>
</tr>
<tr>
<td><a href="/wiki/Equilateral_polygon" title="Equilateral polygon">equilateral polygon</a></td>
<td><img class="tex" alt="n \times a\," src="//upload.wikimedia.org/wikipedia/en/math/f/0/1/f0198b70000b9feb4b3cfdceb5eb8cd7.png" /></td>
<td>where <img class="tex" alt="n" src="//upload.wikimedia.org/wikipedia/en/math/7/b/8/7b8b965ad4bca0e41ab51de7b31363a1.png" /> is the number of sides and <img class="tex" alt="a" src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0cc175b9c0f1b6a831c399e269772661.png" /> is the length of one of the sides.</td>
</tr>
<tr>
<td><a href="/wiki/Regular_polygon" title="Regular polygon">regular polygon</a></td>
<td><img class="tex" alt="2nb \sin(\frac{\pi}{n})" src="//upload.wikimedia.org/wikipedia/en/math/c/2/4/c249868257be5bc9c98eb7834bb5a069.png" /></td>
<td>where <img class="tex" alt="n" src="//upload.wikimedia.org/wikipedia/en/math/7/b/8/7b8b965ad4bca0e41ab51de7b31363a1.png" /> is the number of sides and <img class="tex" alt="b" src="//upload.wikimedia.org/wikipedia/en/math/9/2/e/92eb5ffee6ae2fec3ad71c777531578f.png" /> is the distance between center of the polygon and one of the <a href="/wiki/Vertex_(geometry)" title="Vertex (geometry)">vertices</a> of the polygon.</td>
</tr>
<tr>
<td>general <a href="/wiki/Polygon" title="Polygon">polygon</a></td>
<td><img class="tex" alt="a_{1} + a_{2} + a_{3} + \ldots + a_{n} = \sum_{i=1}^{n}a_{i}" src="//upload.wikimedia.org/wikipedia/en/math/e/f/9/ef9a261e41db8d88d668fc78559bfbec.png" /></td>
<td>where <img class="tex" alt="a_{i}" src="//upload.wikimedia.org/wikipedia/en/math/4/5/f/45f02f3a9d28b7a06fa82fc25a24ef38.png" /> is the length of the <img class="tex" alt="i" src="//upload.wikimedia.org/wikipedia/en/math/8/6/5/865c0c0b4ab0e063e5caa3387c1a8741.png" />-th (1st, 2nd, 3rd ... n-th) side of an n-sided polygon.</td>
</tr>
</table>
<p>The perimeter is the distance around all of a shape. Perimeters for more general shapes can be calculated as any path with <img class="tex" alt="\int_0^L \mathrm{d}s" src="//upload.wikimedia.org/wikipedia/en/math/9/9/0/990c6dc09826c14ea674f9b457a31da5.png" /> where <img class="tex" alt="L" src="//upload.wikimedia.org/wikipedia/en/math/d/2/0/d20caec3b48a1eef164cb4ca81ba2587.png" /> is the length of the path and <img class="tex" alt="ds" src="//upload.wikimedia.org/wikipedia/en/math/5/2/2/522748524ad010358705b6852b81be4c.png" /> is an infinitesimal line element. Both of these must be replaced with other algebraic forms in order to be solved: an advanced notion of perimeter, which includes <a href="/wiki/Hypersurface" title="Hypersurface">hypersurfaces</a> bounding volumes in <img class="tex" alt="n" src="//upload.wikimedia.org/wikipedia/en/math/7/b/8/7b8b965ad4bca0e41ab51de7b31363a1.png" />-<a href="/wiki/Dimension_(mathematics)" title="Dimension (mathematics)" class="mw-redirect">dimensional</a> <a href="/wiki/Euclidean_space" title="Euclidean space">euclidean spaces</a> can be found in the theory of <a href="/wiki/Caccioppoli_set" title="Caccioppoli set">Caccioppoli sets</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Perimeter&amp;action=&amp;section=3" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Wikibooks-logo-en-noslogan.svg/40px-Wikibooks-logo-en-noslogan.svg.png" width="40" height="40" /></td>
<td class="mbox-text" style="">The Wikibook <i><a class="external text" href="//en.wikibooks.org/wiki/Geometry">Geometry</a></i> has a page on the topic of
<div style="margin-left:10px;"><i><b><a class="external text" href="//en.wikibooks.org/wiki/Geometry/Chapter_8">Perimeters, areas and volumes</a></b></i></div>
</td>
</tr>
</table>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Wikibooks-logo-en-noslogan.svg/40px-Wikibooks-logo-en-noslogan.svg.png" width="40" height="40" /></td>
<td class="mbox-text" style="">The Wikibook <i><a class="external text" href="//en.wikibooks.org/wiki/Geometry">Geometry</a></i> has a page on the topic of
<div style="margin-left:10px;"><i><b><a class="external text" href="//en.wikibooks.org/wiki/Geometry/Circles/Arcs">Arcs</a></b></i></div>
</td>
</tr>
</table>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Wikibooks-logo-en-noslogan.svg/40px-Wikibooks-logo-en-noslogan.svg.png" width="40" height="40" /></td>
<td class="mbox-text" style="">The Wikibook <i><a class="external text" href="//en.wikibooks.org/wiki/Geometry">Geometry</a></i> has a page on the topic of
<div style="margin-left:10px;"><i><b><a class="external text" href="//en.wikibooks.org/wiki/Geometry/Perimeter_and_Arclength">Perimeter and Arclength</a></b></i></div>
</td>
</tr>
</table>
<ul>
<li><a href="/wiki/Isoperimetric_inequality" title="Isoperimetric inequality">Isoperimetric inequality</a></li>
<li><a href="/wiki/Circumference" title="Circumference">Circumference</a></li>
<li><a href="/wiki/Caccioppoli_set" title="Caccioppoli set">Caccioppoli set</a></li>
<li><a href="/wiki/Pythagorean_Theorem" title="Pythagorean Theorem" class="mw-redirect">Pythagorean Theorem</a></li>
<li><a href="/wiki/Wetted_perimeter" title="Wetted perimeter">Wetted perimeter</a></li>
<li><a href="/wiki/Area" title="Area">Area</a></li>
<li><a href="/wiki/Volume" title="Volume">Volume</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Perimeter&amp;action=&amp;section=4" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/Special:Search/perimeter">perimeter</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Perimeter"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Perimeter.html">Perimeter</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><span class="citation mathworld" id="Reference-Mathworld-Semiperimeter"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Semiperimeter.html">Semiperimeter</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>
<p><span id="interwiki-fr-ga"></span></p>


<!-- 
NewPP limit report
Preprocessor node count: 1207/1000000
Post-expand include size: 9013/2048000 bytes
Template argument size: 3528/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:23636-0!0!0!!en!4!* and timestamp 20120330105106 -->
