<div class="dablink">This article is about axioms for Euclidean geometry.  For other uses, see <a href="/wiki/Tarski%E2%80%93Grothendieck_set_theory" title="TarskiGrothendieck set theory">TarskiGrothendieck set theory</a>.</div>
<p><b>Tarski's axioms</b>, due to <a href="/wiki/Alfred_Tarski" title="Alfred Tarski">Alfred Tarski</a>, are an axiom set for the substantial fragment of <a href="/wiki/Euclidean_geometry" title="Euclidean geometry">Euclidean geometry</a>, called "<a href="/wiki/Elementary_theory" title="Elementary theory">elementary</a>," that is formulable in <a href="/wiki/First-order_logic" title="First-order logic">first-order logic</a> with <a href="/wiki/Identity_(mathematics)" title="Identity (mathematics)">identity</a>, and requiring no <a href="/wiki/Set_theory" title="Set theory">set theory</a> (<a href="#CITEREFTarski1959">Tarski 1959</a>). Other modern axiomizations of Euclidean geometry are those by <a href="/wiki/Hilbert%27s_axioms" title="Hilbert's axioms">Hilbert</a> and <a href="/wiki/Birkhoff%27s_axioms" title="Birkhoff's axioms">George Birkhoff</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Overview"><span class="tocnumber">1</span> <span class="toctext">Overview</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#The_axioms"><span class="tocnumber">2</span> <span class="toctext">The axioms</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Fundamental_relations"><span class="tocnumber">2.1</span> <span class="toctext">Fundamental relations</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Congruence_axioms"><span class="tocnumber">2.2</span> <span class="toctext">Congruence axioms</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Betweenness_axioms"><span class="tocnumber">2.3</span> <span class="toctext">Betweenness axioms</span></a></li>
<li class="toclevel-2 tocsection-6"><a href="#Congruence_and_betweenness"><span class="tocnumber">2.4</span> <span class="toctext">Congruence and betweenness</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-7"><a href="#Discussion"><span class="tocnumber">3</span> <span class="toctext">Discussion</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Comparison_with_Hilbert"><span class="tocnumber">4</span> <span class="toctext">Comparison with Hilbert</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#Notes"><span class="tocnumber">5</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Tarski%27s_axioms&amp;action=&amp;section=1" title="Edit section: Overview"></a>]</span> <span class="mw-headline" id="Overview">Overview</span></h2>
<p>Early in his career Tarski taught geometry and researched set theory. His coworker Steven Givant (1999) explained Tarski's take-off point:</p>
<dl>
<dd>From Enriques, Tarski learned of the work of <a href="/wiki/Mario_Pieri" title="Mario Pieri">Mario Pieri</a>, an Italian geometer who was strongly influenced by Peano. Tarski preferred Pieri's system [of his <i>Point and Sphere</i> memoir], where the logical structure and the complexity of the axioms were more transparent.</dd>
</dl>
<p>Givant's then says "with typical thoroughness" Tarski devised his system:</p>
<dl>
<dd>What was different about Tarski's approach to geometry? First of all, the axiom system was much simpler than any of the axiom systems that existed up to that time. In fact the length of all of Tarski's axioms together is not much more than just one of Pieri's 24 axioms. It was the first system of Euclidean geometry that was simple enough for all axioms to be expressed in terms of the <a href="/wiki/Primitive_notion" title="Primitive notion">primitive notions</a> only, without the help of defined notions. Of even greater importance, for the first time a clear distinction was made between full geometry and its elementary  that is, its first order  part.</dd>
</dl>
<p>Like other modern axiomatizations of Euclidean geometry, Tarski's employs a <a href="/wiki/Formal_system" title="Formal system">formal system</a> consisting of symbol strings, called <a href="/wiki/Sentence_(mathematical_logic)" title="Sentence (mathematical logic)">sentences</a>, whose construction respects formal <a href="/wiki/Syntax_(logic)" title="Syntax (logic)">syntactical rules</a>, and rules of proof that determine the allowed manipulations of the sentences. Unlike some other modern axiomatizations, such as <a href="/wiki/Birkhoff%27s_axioms" title="Birkhoff's axioms">Birkhoff's</a> and <a href="/wiki/Hilbert%27s_axioms" title="Hilbert's axioms">Hilbert's</a>, Tarski's axiomatization has no <a href="/wiki/Primitive_object" title="Primitive object" class="mw-redirect">primitive objects</a> other than <i>points</i>, so a variable or constant cannot refer to a line or an angle. Because points are the only primitive objects, and because Tarski's system is a <a href="/wiki/First-order_theory" title="First-order theory" class="mw-redirect">first-order theory</a>, it is not even possible to define lines as sets of points. The only primitive relations (<a href="/wiki/Predicate_(mathematical_logic)" title="Predicate (mathematical logic)">predicates</a>) are "betweenness" and "congruence" among points.</p>
<p>Tarski's axiomatization is shorter than its rivals, in a sense Tarski and Givant (1999) make explicit. It is more concise than Pieri's because Pieri had only two primitive notions while Tarski introduced three: point, betweenness, and congruence. Such economy of primitive and defined notions means that Tarski's system is not very convenient for <i>doing</i> Euclidian geometry. Rather, Tarski designed his system to facilitate its analysis via the tools of <a href="/wiki/Mathematical_logic" title="Mathematical logic">mathematical logic</a>, i.e., to facilitate deriving its metamathematical properties. Tarski's system has the unusual property that all sentences can be written in universal-existential form, a special case of the <a href="/wiki/Prenex_normal_form" title="Prenex normal form">prenex normal form</a>. This form has all <a href="/wiki/Universal_quantification" title="Universal quantification">universal quantifiers</a> preceding any <a href="/wiki/Existential_quantification" title="Existential quantification">existential quantifiers</a>, so that all sentences can be recast in the form <img class="tex" alt="\forall u \forall v \ldots\exists a \exists b\dots." src="//upload.wikimedia.org/wikipedia/en/math/f/1/8/f182be12c10840f7db735ea7756ae0eb.png" /> This fact allowed Tarski to prove that Euclidean geometry is <a href="/wiki/Decidability_(logic)" title="Decidability (logic)">decidable</a>: there exists an <a href="/wiki/Algorithm" title="Algorithm">algorithm</a> which can determine the truth or falsity of any sentence. Tarski's axiomatization is also <a href="/wiki/Completeness" title="Completeness">complete</a>. This does not contradict <a href="/wiki/G%C3%B6del%27s_first_incompleteness_theorem" title="Gdel's first incompleteness theorem" class="mw-redirect">Gdel's first incompleteness theorem</a>, because Tarski's theory lacks the expressive power needed to interpret <a href="/wiki/Robinson_arithmetic" title="Robinson arithmetic">Robinson arithmetic</a> (<a href="#CITEREFFranz.C3.A9n2005">Franzn 2005</a>, pp.&#160;2526).</p>
<h2><span class="section">[<a href="/w/index.php?title=Tarski%27s_axioms&amp;action=&amp;section=2" title="Edit section: The axioms"></a>]</span> <span class="mw-headline" id="The_axioms">The axioms</span></h2>
<p><a href="/wiki/Alfred_Tarski" title="Alfred Tarski">Alfred Tarski</a> worked on the axiomatization and metamathematics of <a href="/wiki/Euclidean_geometry" title="Euclidean geometry">Euclidean geometry</a> intermittently from 1926 until his 1983 death, with Tarski (1959) heralding his mature interest in the subject. The work of Tarski and his students on Euclidean geometry culminated in the monograph Schwabhuser, Szmielew, and Tarski (1983), which set out the 10 <a href="/wiki/Axiom" title="Axiom">axioms</a> and one <a href="/wiki/Axiom_schema" title="Axiom schema">axiom schema</a> shown below, the associated <a href="/wiki/Metamathematics" title="Metamathematics">metamathematics</a>, and a fair bit of the subject. Gupta (1965) made important contributions, and Tarski and Givant (1999) discuss the history.</p>
<h3><span class="section">[<a href="/w/index.php?title=Tarski%27s_axioms&amp;action=&amp;section=3" title="Edit section: Fundamental relations"></a>]</span> <span class="mw-headline" id="Fundamental_relations">Fundamental relations</span></h3>
<p>These axioms are a more elegant version of a set Tarski devised in the 1920s as part of his investigation of the metamathematical properties of <a href="/wiki/Euclidean_plane_geometry" title="Euclidean plane geometry" class="mw-redirect">Euclidean plane geometry</a>. This objective required reformulating that geometry as a <a href="/wiki/First-order_logic" title="First-order logic">first-order theory</a>. Tarski did so by positing a <a href="/wiki/Universe_(mathematics)" title="Universe (mathematics)">universe</a> of <a href="/wiki/Point_(geometry)" title="Point (geometry)">points</a>, with lower case letters denoting variables ranging over that universe. <a href="/wiki/Equality" title="Equality">Equality</a> is provided by the underlying logic (see <a href="/wiki/First-order_logic#Equality_and_its_axioms" title="First-order logic">First-order logic#Equality and its axioms</a>).<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> Tarski then posited two primitive relations:</p>
<ul>
<li><i>Betweeness</i>, a <a href="/wiki/Triadic_relation" title="Triadic relation" class="mw-redirect">triadic relation</a>. The <a href="/wiki/Atomic_sentence" title="Atomic sentence">atomic sentence</a> <i>Bxyz</i> denotes that <i>y</i> is "between" <i>x</i> and <i>z</i>, in other words, that <i>y</i> is a point on the <a href="/wiki/Line_segment" title="Line segment">line segment</a> <i>xz</i>. (This relation is interpreted inclusively, so that <i>Bxyz</i> is trivially true whenever <i>x=y</i> or <i>y=z</i>).</li>
<li><i><a href="/wiki/Congruence_(geometry)" title="Congruence (geometry)">Congruence</a></i> (or "equidistance"), a <a href="/wiki/Polyadic_relation" title="Polyadic relation" class="mw-redirect">tetradic relation</a>. The <a href="/wiki/Atomic_sentence" title="Atomic sentence">atomic sentence</a> <i>wx</i>  <i>yz</i> can be interpreted as <i>wx</i> is <a href="/wiki/Congruence_(geometry)" title="Congruence (geometry)">congruent</a> to <i>yz</i>, in other words, that the <a href="/wiki/Distance" title="Distance">length</a> of the line segment <i>wx</i> is equal to the length of the line segment <i>yz</i>.</li>
</ul>
<p>Betweenness captures the <a href="/wiki/Affine_geometry" title="Affine geometry">affine</a> aspect of Euclidean geometry; congruence, its <a href="/wiki/Metric_space" title="Metric space">metric</a> aspect. The background logic includes <a href="/wiki/Identity_(mathematics)" title="Identity (mathematics)">identity</a>, a <a href="/wiki/Binary_relation" title="Binary relation">binary relation</a>. The axioms invoke identity (or its negation) on five occasions.</p>
<p>The axioms below are grouped by the types of relation they invoke, then sorted, first by the number of existential quantifiers, then by the number of atomic sentences. The axioms should be read as <a href="/wiki/Universal_closure" title="Universal closure" class="mw-redirect">universal closures</a>; hence any <a href="/wiki/Free_variable" title="Free variable" class="mw-redirect">free variables</a> should be taken as tacitly <a href="/wiki/Universal_quantifier" title="Universal quantifier" class="mw-redirect">universally quantified</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Tarski%27s_axioms&amp;action=&amp;section=4" title="Edit section: Congruence axioms"></a>]</span> <span class="mw-headline" id="Congruence_axioms">Congruence axioms</span></h3>
<dl>
<dt><a href="/wiki/Reflexivity" title="Reflexivity" class="mw-redirect">Reflexivity</a> of Congruence</dt>
<dd><img class="tex" alt="xy \equiv yx\,." src="//upload.wikimedia.org/wikipedia/en/math/f/1/c/f1c517c5f3ee027dab53dc7500e65c1e.png" /></dd>
</dl>
<p>The distance from <i>x</i> to <i>y</i> is the same as that from <i>y</i> to <i>x</i>. This axiom asserts a property very similar to <a href="/wiki/Symmetry" title="Symmetry">symmetry</a> for <a href="/wiki/Binary_relation" title="Binary relation">binary relations</a>.</p>
<dl>
<dt>Identity of Congruence</dt>
<dd><img class="tex" alt="xy \equiv zz \rightarrow x=y." src="//upload.wikimedia.org/wikipedia/en/math/a/1/5/a1566e5ff4039c59e7c30ec38628f4f7.png" /></dd>
</dl>
<p>If <i>xy</i> is congruent with a segment that begins and ends at the same point, <i>x</i> and <i>y</i> are the same point. This is closely related to the notion of <a href="/wiki/Reflexivity" title="Reflexivity" class="mw-redirect">reflexivity</a> for <a href="/wiki/Binary_relation" title="Binary relation">binary relations</a>.</p>
<dl>
<dt><a href="/wiki/Transitive_relation" title="Transitive relation">Transitivity</a> of Congruence</dt>
<dd><img class="tex" alt="(xy \equiv zu \and xy \equiv vw) \rightarrow zu \equiv vw." src="//upload.wikimedia.org/wikipedia/en/math/1/6/3/1636b3ea93943be5ff474b74c0be1270.png" /></dd>
</dl>
<p>Two line segments both congruent to a third segment are congruent to each other; all three segments have the same length. This axiom asserts that congruence is <a href="/wiki/Euclidean_relation" title="Euclidean relation">Euclidean</a>, in that it respects the first of <a href="/wiki/Euclid%27s_elements" title="Euclid's elements" class="mw-redirect">Euclid's</a> "<a href="/wiki/Euclid%27s_axioms#Axiomatic_approach" title="Euclid's axioms" class="mw-redirect">common notions</a>." Hence this axiom could have been named "Congruence is Euclidean." The transitivity of congruence is an easy consequence of this axiom and Reflexivity.</p>
<h3><span class="section">[<a href="/w/index.php?title=Tarski%27s_axioms&amp;action=&amp;section=5" title="Edit section: Betweenness axioms"></a>]</span> <span class="mw-headline" id="Betweenness_axioms">Betweenness axioms</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Tarski%27s_formulation_of_Pasch%27s_axiom.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Tarski%27s_formulation_of_Pasch%27s_axiom.svg/220px-Tarski%27s_formulation_of_Pasch%27s_axiom.svg.png" width="220" height="124" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Tarski%27s_formulation_of_Pasch%27s_axiom.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Pasch's axiom</div>
</div>
</div>
<dl>
<dt>Identity of Betweenness</dt>
<dd><img class="tex" alt="Bxyx \rightarrow x=y." src="//upload.wikimedia.org/wikipedia/en/math/b/6/f/b6f6a9744eb05af410b514b7c93150fe.png" /></dd>
</dl>
<p>The only point on the line segment <img class="tex" alt="xx" src="//upload.wikimedia.org/wikipedia/en/math/9/3/3/9336ebf25087d91c818ee6e9ec29f8c1.png" /> is <img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /> itself.</p>
<p><br /></p>
<dl>
<dt><a href="/wiki/Axiom_of_Pasch" title="Axiom of Pasch" class="mw-redirect">Axiom of Pasch</a></dt>
<dd><img class="tex" alt="(Bxuz \and Byvz) \rightarrow \exists a\, (Buay \and Bvax)." src="//upload.wikimedia.org/wikipedia/en/math/2/3/5/2350e3a6da28400d6c9f97d14c7afa3e.png" /></dd>
</dl>
<p>Draw line segments connecting any two <a href="/wiki/Vertex_(geometry)" title="Vertex (geometry)">vertices</a> of a given <a href="/wiki/Triangle" title="Triangle">triangle</a> with the sides opposite the vertices. These two line segments must then intersect at some point inside the triangle.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Tarski%27s_continuity_axiom.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Tarski%27s_continuity_axiom.svg/220px-Tarski%27s_continuity_axiom.svg.png" width="220" height="135" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Tarski%27s_continuity_axiom.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Continuity:  and  divide the ray into two halves and the axiom asserts the existence of a point b dividing those two halves</div>
</div>
</div>
<dl>
<dt><a href="/wiki/Axiom_schema" title="Axiom schema">Axiom schema</a> of Continuity</dt>
</dl>
<p>Let (<i>x</i>) and (<i>y</i>) be <a href="/wiki/First_order_logic" title="First order logic" class="mw-redirect">first-order formulae</a> containing no <a href="/wiki/Free_variable" title="Free variable" class="mw-redirect">free instances</a> of either <i>a</i> or <i>b</i>. Let there also be no free instances of <i>x</i> in (<i>y</i>) or of <i>y</i> in (<i>x</i>). Then all instances of the following schema are axioms:</p>
<dl>
<dd><img class="tex" alt="\exists a \,\forall x\, \forall y\,[(\phi(x) \and \psi(y)) \rightarrow Baxy] \rightarrow \exists b\, \forall x\, \forall y\,[(\phi(x) \and \psi(y)) \rightarrow Bxby]." src="//upload.wikimedia.org/wikipedia/en/math/d/a/2/da299cc114a866e821796ad12c1502dd.png" /></dd>
</dl>
<p>Let <i>r</i> be a ray with endpoint <i>a</i>. Let the first order formulae  and  define subsets <i>X</i> and <i>Y</i> of <i>r</i>, such that every point in <i>Y</i> is to the right of every point of <i>X</i> (with respect to <i>a</i>). Then there exists a point <i>b</i> in <i>r</i> lying between <i>X</i> and <i>Y</i>. This is essentially the <a href="/wiki/Dedekind_cut" title="Dedekind cut">Dedekind cut</a> construction, carried out in a way that avoids quantification over sets.</p>
<dl>
<dt>Lower <a href="/wiki/Dimension" title="Dimension">Dimension</a></dt>
<dd><img class="tex" alt="\exists a \, \exists b\, \exists c\, [\neg Babc \and \neg Bbca \and \neg Bcab]." src="//upload.wikimedia.org/wikipedia/en/math/6/4/6/64609d1d3d15e01552416e433d58fab0.png" /></dd>
</dl>
<p>In short, there exist three noncollinear points, and any <a href="/wiki/Model_theory" title="Model theory">model</a> of these axioms must have <a href="/wiki/Dimension" title="Dimension">dimension</a> &gt; 1.</p>
<h3><span class="section">[<a href="/w/index.php?title=Tarski%27s_axioms&amp;action=&amp;section=6" title="Edit section: Congruence and betweenness"></a>]</span> <span class="mw-headline" id="Congruence_and_betweenness">Congruence and betweenness</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Points_in_a_plane_equidistant_to_two_given_points_lie_on_a_line.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Points_in_a_plane_equidistant_to_two_given_points_lie_on_a_line.svg/220px-Points_in_a_plane_equidistant_to_two_given_points_lie_on_a_line.svg.png" width="220" height="197" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Points_in_a_plane_equidistant_to_two_given_points_lie_on_a_line.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Upper dimension</div>
</div>
</div>
<dl>
<dt>Upper <a href="/wiki/Dimension" title="Dimension">Dimension</a></dt>
<dd><img class="tex" alt="(xu \equiv xv \and yu \equiv yv \and zu \equiv zv \and u \ne v) \rightarrow (Bxyz \or Byzx \or Bzxy)." src="//upload.wikimedia.org/wikipedia/en/math/9/2/a/92ae8a0e9ca6fb405ea49ae5d06dde29.png" /></dd>
</dl>
<p>Three points equidistant from two distinct points form a line. Hence any <a href="/wiki/Model_theory" title="Model theory">model</a> of these axioms must have <a href="/wiki/Dimension" title="Dimension">dimension</a> &lt; 3.</p>
<dl>
<dt>Axiom of Euclid</dt>
</dl>
<p>Each of the three variants of this axiom, all equivalent over the remaining Tarski's axioms to Euclid's <a href="/wiki/Parallel_postulate" title="Parallel postulate">parallel postulate</a>, has an advantage over the others:</p>
<ul>
<li><b>A</b> dispenses with <a href="/wiki/Existential_quantifier" title="Existential quantifier" class="mw-redirect">existential quantifiers</a>;</li>
<li><b>B</b> has the fewest variables and <a href="/wiki/Atomic_sentence" title="Atomic sentence">atomic sentences</a>;</li>
<li><b>C</b> requires but one primitive notion, betweenness. This variant is the usual one given in the literature.</li>
</ul>
<dl>
<dd><b>A</b>: <img class="tex" alt="((Bxyw \and xy \equiv yw ) \and (Bxuv \and xu \equiv uv) \and (Byuz \and yu \equiv zu)) \rightarrow yz \equiv vw." src="//upload.wikimedia.org/wikipedia/en/math/a/9/f/a9f51318db0fb40b7fc32d1311dae0aa.png" /></dd>
</dl>
<p>Let a line segment join the midpoint of two sides of a given <a href="/wiki/Triangle" title="Triangle">triangle</a>. That line segment will be half as long as the third side. This is equivalent to the <a href="/wiki/Interior_angle" title="Interior angle" class="mw-redirect">interior angles</a> of any triangle summing to two <a href="/wiki/Right_angles" title="Right angles" class="mw-redirect">right angles</a>.</p>
<dl>
<dd><b>B</b>: <img class="tex" alt="Bxyz \or Byzx \or Bzxy \or \exists a\, (xa \equiv ya \and xa \equiv za)." src="//upload.wikimedia.org/wikipedia/en/math/d/a/0/da0c3437eb9bf8835c72531705e42387.png" /></dd>
</dl>
<p>Given any <a href="/wiki/Triangle" title="Triangle">triangle</a>, there exists a <a href="/wiki/Circle" title="Circle">circle</a> that includes all of its vertices.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Tarski%27s_axiom_of_Euclid_C.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Tarski%27s_axiom_of_Euclid_C.svg/220px-Tarski%27s_axiom_of_Euclid_C.svg.png" width="220" height="218" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Tarski%27s_axiom_of_Euclid_C.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Axiom of Euclid: C</div>
</div>
</div>
<dl>
<dd><b>C</b>: <img class="tex" alt="(Bxuv \and Byuz \and x \ne u) \rightarrow \exists a\, \exists b\,(Bxya \and Bxzb \and Bavb)." src="//upload.wikimedia.org/wikipedia/en/math/b/6/0/b60c7106c83dcf4a6c7b9a0535c552c4.png" /></dd>
</dl>
<p>Given any <a href="/wiki/Angle" title="Angle">angle</a> and any point <i>v</i> in its interior, there exists a line segment including <i>v</i>, with an endpoint on each side of the angle.</p>
<dl>
<dt>Five Segment</dt>
</dl>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Five_segment.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/19/Five_segment.svg/220px-Five_segment.svg.png" width="220" height="289" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Five_segment.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Five segment</div>
</div>
</div>
<dl>
<dd><img class="tex" alt="{(x \ne y  \and  Bxyz  \and  Bx'y'z'  \and xy \equiv x'y' \and yz \equiv y'z' \and xu \equiv x'u' \and yu \equiv y'u')} \rightarrow zu \equiv z'u'." src="//upload.wikimedia.org/wikipedia/en/math/1/9/b/19bc8a0f557dcc833354226509ca7b71.png" /></dd>
</dl>
<p>Begin with two <a href="/wiki/Triangle" title="Triangle">triangles</a>, <i>xuz</i> and <i>x'u'z'.</i> Draw the line segments <i>yu</i> and <i>y'u',</i> connecting a vertex of each triangle to a point on the side opposite to the vertex. The result is two divided triangles, each made up of five segments. If four segments of one triangle are each <a href="/wiki/Congruence_(geometry)" title="Congruence (geometry)">congruent</a> to a segment in the other triangle, then the fifth segments in both triangles must be congruent.</p>
<dl>
<dt>Segment Construction</dt>
<dd><img class="tex" alt=" \exists a\, [Bwxa \and xa \equiv yz]." src="//upload.wikimedia.org/wikipedia/en/math/6/0/d/60d62ed4dd34159eda885ad11f8234ca.png" /></dd>
</dl>
<p>Given any two line segments, the second can be "extended" by a line segment <a href="/wiki/Congruence_(geometry)" title="Congruence (geometry)">congruent</a> to the first.</p>
<h2><span class="section">[<a href="/w/index.php?title=Tarski%27s_axioms&amp;action=&amp;section=7" title="Edit section: Discussion"></a>]</span> <span class="mw-headline" id="Discussion">Discussion</span></h2>
<p>Starting from two primitive <a href="/wiki/Relation_(mathematics)" title="Relation (mathematics)" class="mw-redirect">relations</a> whose fields are a <a href="/wiki/Density" title="Density">dense</a> <a href="/wiki/Universe_(mathematics)" title="Universe (mathematics)">universe</a> of <a href="/wiki/Point_(geometry)" title="Point (geometry)">points</a>, Tarski built a geometry of <a href="/wiki/Line_segment" title="Line segment">line segments</a>. According to Tarski and Givant (1999: 192-93), none of the above <a href="/wiki/Axiom" title="Axiom">axioms</a> is fundamentally new. The first four axioms establish some elementary properties of the two primitive relations. For instance, Reflexivity and Transitivity of Congruence establish that congruence is an <a href="/wiki/Equivalence_relation" title="Equivalence relation">equivalence relation</a> over line segments. The Identity of Congruence and of Betweenness govern the trivial case when those relations are applied to nondistinct points. The theorem <i>xy</i><i>zz</i>  <i>x</i>=<i>y</i>  <i>Bxyx</i> extends these Identity axioms.</p>
<p>A number of other properties of Betweenness are derivable as theorems including:</p>
<ul>
<li><a href="/wiki/Reflexivity" title="Reflexivity" class="mw-redirect">Reflexivity</a>: <i>Bxxy</i>&#160;;</li>
<li><a href="/wiki/Symmetry" title="Symmetry">Symmetry</a>: <i>Bxyz</i>  <i>Bzyx</i>&#160;;</li>
<li><a href="/wiki/Transitive_relation" title="Transitive relation">Transitivity</a>: (<i>Bxyw</i>  <i>Byzw</i>)  <i>Bxyz</i>&#160;;</li>
<li><a href="/wiki/Connection_(mathematics)" title="Connection (mathematics)">Connectivity</a>: (<i>Bxyw</i>  <i>Bxzw</i>)  (<i>Bxyz</i>  <i>Bxzy</i>).</li>
</ul>
<p>The last two properties <a href="/wiki/Total_order" title="Total order">totally order</a> the points making up a line segment.</p>
<p>Upper and Lower Dimension together require that any model of these axioms have a specific finite <a href="/wiki/Dimension" title="Dimension">dimensionality</a>. Suitable changes in these axioms yield axiom sets for <a href="/wiki/Euclidean_geometry" title="Euclidean geometry">Euclidean geometry</a> for <a href="/wiki/Dimension" title="Dimension">dimensions</a> 0, 1, and greater than 2 (Tarski and Givant 1999: Axioms 8<sup>(1)</sup>, 8<sup>(n)</sup>, 9<sup>(0)</sup>, 9<sup>(1)</sup>, 9<sup>(n)</sup> ). Note that <a href="/wiki/Solid_geometry" title="Solid geometry">solid geometry</a> requires no new axioms, unlike the case with <a href="/wiki/Hilbert%27s_axioms" title="Hilbert's axioms">Hilbert's axioms</a>. Moreover, Lower Dimension for <i>n</i> dimensions is simply the negation of Upper Dimension for <i>n</i> - 1 dimensions.</p>
<p>When dimension &gt; 1, Betweenness can be defined in terms of <a href="/wiki/Congruence_relation" title="Congruence relation">congruence</a> (Tarski and Givant, 1999). First define the relation "" (where <img class="tex" alt="ab \leq cd" src="//upload.wikimedia.org/wikipedia/en/math/8/5/6/856381dc2156914f86538e54e8a750f9.png" /> is interpreted "the length of line segment <img class="tex" alt="ab" src="//upload.wikimedia.org/wikipedia/en/math/1/8/7/187ef4436122d1cc2f40dc2b92f0eba0.png" /> is less than or equal to the length of line segment <img class="tex" alt="cd" src="//upload.wikimedia.org/wikipedia/en/math/6/8/6/6865aeb3a9ed28f9a79ec454b259e5d0.png" />"):</p>
<dl>
<dd><img class="tex" alt="xy \le zu \leftrightarrow \forall v ( zv \equiv uv \rightarrow \exists w ( xw \equiv yw \and yw \equiv uv ) )." src="//upload.wikimedia.org/wikipedia/en/math/a/6/3/a63b12f5b5635324e18d45cb416ca741.png" /></dd>
</dl>
<p>In the case of two dimensions, the intuition is as follows: For any line segment <i>xy</i>, consider the possible range of lengths of <i>xv</i>, where <i>v</i> is any point on the perpendicular bisector of <i>xy</i>. It is apparent that while there is no upper bound to the length of <i>xv</i>, there is a lower bound, which occurs when <i>v</i> is the midpoint of <i>xy</i>. So if <i>xy</i> is shorter than or equal to <i>zu</i>, then the range of possible lengths of <i>xv</i> will be a superset of the range of possible lengths of <i>zw</i>, where <i>w</i> is any point on the perpendicular bisector of <i>zu</i>.</p>
<p><br />
Betweenness can than be defined as</p>
<dl>
<dd><img class="tex" alt="Bxyz \leftrightarrow \forall u ( ( ux \le xy \and uz \le zy ) \rightarrow u = y )." src="//upload.wikimedia.org/wikipedia/en/math/e/f/9/ef94f92f29a84a5d6bcc05f354ce3f9f.png" /></dd>
</dl>
<p>The Axiom Schema of Continuity assures that the ordering of points on a line is <a href="/wiki/Dedekind_complete" title="Dedekind complete" class="mw-redirect">complete</a> (with respect to first-order definable properties). The Axioms of <a href="/wiki/Pasch%27s_axiom" title="Pasch's axiom">Pasch</a> and Euclid are well known. Remarkably, Euclidean geometry requires just the following further axioms:</p>
<ul>
<li><i>Segment Construction</i>. This axiom makes <a href="/wiki/Measurement" title="Measurement">measurement</a> and the <a href="/wiki/Cartesian_coordinate_system" title="Cartesian coordinate system">Cartesian coordinate system</a> possiblesimply assign the value of 1 to some arbitrary line segment;<sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Please_clarify" title="Wikipedia:Please clarify"><span title="The text in the vicinity of this tag needs clarification or removal of jargon from December 2011">clarification needed</span></a></i>]</sup></li>
</ul>
<p>Let <i>wff</i> stand for a <a href="/wiki/Well-formed_formula" title="Well-formed formula">well-formed formula</a> (or syntactically correct formula) of elementary geometry. Tarski and Givant (1999: 175) proved that elementary geometry is:</p>
<ul>
<li><a href="/wiki/Consistency" title="Consistency">Consistent</a>: There is no wff such that it and its negation are both theorems;</li>
<li><a href="/wiki/Complete_theory" title="Complete theory">Complete</a>: Every sentence or its negation is a theorem provable from the axioms;</li>
<li><a href="/wiki/Decidability_(logic)" title="Decidability (logic)">Decidable</a>: There exists an <a href="/wiki/Algorithm" title="Algorithm">algorithm</a> that assigns a <a href="/wiki/Truth_value" title="Truth value">truth value</a> to every sentence. This follows from Tarski's:
<ul>
<li><a href="/wiki/Decision_procedure" title="Decision procedure" class="mw-redirect">Decision procedure</a> for the <a href="/wiki/Real_closed_field" title="Real closed field">real closed field</a>, which he found by <a href="/wiki/Quantifier_elimination" title="Quantifier elimination">quantifier elimination</a>;</li>
<li>Axioms admitting of a (multi-dimensional) faithful <a href="/wiki/Interpretability" title="Interpretability">interpretation</a> as a <a href="/wiki/Real_closed_field" title="Real closed field">real closed field</a>.</li>
</ul>
</li>
</ul>
<p>Gupta (1965) proved the above axioms independent, <i>Pasch</i> and <i>Reflexivity of Congruence</i> excepted.</p>
<p>Negating the Axiom of Euclid yields <a href="/wiki/Hyperbolic_geometry" title="Hyperbolic geometry">hyperbolic geometry</a>, while eliminating it outright yields <a href="/wiki/Absolute_geometry" title="Absolute geometry">absolute geometry</a>. Full (as opposed to elementary) Euclidean geometry requires giving up a first order axiomatization: replace (<i>x</i>) and (<i>y</i>) in the axiom schema of Continuity with <i>x</i>  <i>A</i> and <i>y</i>  <i>B</i>, where <i>A</i> and <i>B</i> are universally quantified variables ranging over sets of points.</p>
<h2><span class="section">[<a href="/w/index.php?title=Tarski%27s_axioms&amp;action=&amp;section=8" title="Edit section: Comparison with Hilbert"></a>]</span> <span class="mw-headline" id="Comparison_with_Hilbert">Comparison with Hilbert</span></h2>
<p><a href="/wiki/Hilbert%27s_axioms" title="Hilbert's axioms">Hilbert's axioms</a> for plane geometry number 16, and include Transitivity of Congruence and a variant of the Axiom of Pasch. The only notion from intuitive geometry invoked in the remarks to Tarski's axioms is <a href="/wiki/Triangle" title="Triangle">triangle</a>. (Versions <b>B</b> and <b>C</b> of the Axiom of Euclid refer to '"circle" and "angle," respectively.) Hilbert's axioms also require "ray," "angle," and the notion of a triangle "including" an angle. In addition to betweenness and congruence, Hilbert's axioms require a primitive <a href="/wiki/Binary_relation" title="Binary relation">binary relation</a> "on," linking a point and a line. The <a href="/wiki/Axiom_schema" title="Axiom schema">Axiom schema</a> of Continuity plays a role similar to Hilbert's two axioms of Continuity. This schema is indispensable; Euclidean geometry in Tarski's (or equivalent) language cannot be finitely axiomatized as a <a href="/wiki/First-order_logic" title="First-order logic">first-order theory</a>. Hilbert's axioms do not constitute a first-order theory because his continuity axioms require <a href="/wiki/Second-order_logic" title="Second-order logic">second-order logic</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Tarski%27s_axioms&amp;action=&amp;section=9" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Tarski and Givant, 1999, page 177</span></li>
</ol>
<h2><span class="section">[<a href="/w/index.php?title=Tarski%27s_axioms&amp;action=&amp;section=10" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation" id="CITEREFFranz.C3.A9n2005"><a href="/wiki/Torkel_Franz%C3%A9n" title="Torkel Franzn">Franzn, Torkel</a> (2005), <i>Godel's Theorem: An Incomplete Guide to Its Use and Abuse</i>, A K Peters, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/1568812388" title="Special:BookSources/1568812388">1568812388</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Godel%27s+Theorem%3A+An+Incomplete+Guide+to+Its+Use+and+Abuse&amp;rft.aulast=Franz%C3%A9n&amp;rft.aufirst=Torkel&amp;rft.au=Franz%C3%A9n%2C%26%2332%3BTorkel&amp;rft.date=2005&amp;rft.pub=A+K+Peters&amp;rft.isbn=1568812388&amp;rfr_id=info:sid/en.wikipedia.org:Tarski%27s_axioms"><span style="display: none;">&#160;</span></span></li>
<li>Givant, Steven (1999) "Unifying threads in Alfred Tarski's Work", <a href="/wiki/Mathematical_Intelligencer" title="Mathematical Intelligencer" class="mw-redirect">Mathematical Intelligencer</a> 21:4758.</li>
<li>Gupta, H. N. (1965) <i>Contributions to the Axiomatic Foundations of Geometry</i>. Ph.D. thesis, University of California-Berkeley.</li>
<li><span class="citation" id="CITEREFTarski1959"><a href="/wiki/Alfred_Tarski" title="Alfred Tarski">Tarski, Alfred</a> (1959), "What is elementary geometry?", in Leon Henkin, Patrick Suppes and Alfred Tarski, <i>The axiomatic method. With special reference to geometry and physics. Proceedings of an International Symposium held at the Univ. of Calif., Berkeley, Dec. 26, 1957-Jan. 4, 1958</i>, Studies in Logic and the Foundations of Mathematics, Amsterdam: North-Holland, pp.&#160;1629, <a href="/wiki/Mathematical_Reviews" title="Mathematical Reviews">MR</a><a rel="nofollow" class="external text" href="http://www.ams.org/mathscinet-getitem?mr=0106185">0106185</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=What+is+elementary+geometry%3F&amp;rft.atitle=The+axiomatic+method.+With+special+reference+to+geometry+and+physics.+Proceedings+of+an+International+Symposium+held+at+the+Univ.+of+Calif.%2C+Berkeley%2C+Dec.+26%2C+1957-Jan.+4%2C+1958&amp;rft.aulast=Tarski&amp;rft.aufirst=Alfred&amp;rft.au=Tarski%2C%26%2332%3BAlfred&amp;rft.date=1959&amp;rft.series=Studies+in+Logic+and+the+Foundations+of+Mathematics&amp;rft.pages=pp.%26nbsp%3B16%E2%80%9329&amp;rft.place=Amsterdam&amp;rft.pub=North-Holland&amp;rfr_id=info:sid/en.wikipedia.org:Tarski%27s_axioms"><span style="display: none;">&#160;</span></span>. Available as a 2007 <a rel="nofollow" class="external text" href="http://books.google.com/books?id=eVVKtnKzfnUC&amp;pg=PA16">reprint</a>, Brouwer Press, <a href="/wiki/Special:BookSources/1443728128" class="internal mw-magiclink-isbn">ISBN 1-443-72812-8</a></li>
<li><span class="citation" id="CITEREFTarskiGivant1999"><a href="/wiki/Alfred_Tarski" title="Alfred Tarski">Tarski, Alfred</a>; Givant, Steven (1999), <a rel="nofollow" class="external text" href="http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.27.9012">"Tarski's system of geometry"</a>, <i>The Bulletin of Symbolic Logic</i> <b>5</b> (2): 175214, <a href="/wiki/Digital_object_identifier" title="Digital object identifier">doi</a>:<a rel="nofollow" class="external text" href="http://dx.doi.org/10.2307%2F421089">10.2307/421089</a>, <a href="/wiki/International_Standard_Serial_Number" title="International Standard Serial Number">ISSN</a>&#160;<a rel="nofollow" class="external text" href="http://www.worldcat.org/issn/1079-8986">1079-8986</a>, <a href="/wiki/JSTOR" title="JSTOR">JSTOR</a>&#160;<a rel="nofollow" class="external text" href="http://www.jstor.org/stable/421089">421089</a>, <a href="/wiki/Mathematical_Reviews" title="Mathematical Reviews">MR</a><a rel="nofollow" class="external text" href="http://www.ams.org/mathscinet-getitem?mr=1791303">1791303</a><span class="printonly">, <a rel="nofollow" class="external free" href="http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.27.9012">http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.27.9012</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Tarski%27s+system+of+geometry&amp;rft.jtitle=The+Bulletin+of+Symbolic+Logic&amp;rft.aulast=Tarski&amp;rft.aufirst=Alfred&amp;rft.au=Tarski%2C%26%2332%3BAlfred&amp;rft.au=Givant%2C%26%2332%3BSteven&amp;rft.date=1999&amp;rft.volume=5&amp;rft.issue=2&amp;rft.pages=175%E2%80%93214&amp;rft_id=info:doi/10.2307%2F421089&amp;rft.issn=1079-8986&amp;rft.jstor=421089&amp;rft_id=http%3A%2F%2Fciteseerx.ist.psu.edu%2Fviewdoc%2Fsummary%3Fdoi%3D10.1.1.27.9012&amp;rfr_id=info:sid/en.wikipedia.org:Tarski%27s_axioms"><span style="display: none;">&#160;</span></span></li>
<li>Schwabhuser, W., Szmielew, W., and <a href="/wiki/Alfred_Tarski" title="Alfred Tarski">Alfred Tarski</a>, 1983. <i>Metamathematische Methoden in der Geometrie</i>. Springer-Verlag.</li>
<li>Szczerba, L. W., 1986, "Tarski and Geometry," <i>Journal of Symbolic Logic</i> 51: 907-12.</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 3270/1000000
Post-expand include size: 25594/2048000 bytes
Template argument size: 7479/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:2181360-0!0!0!!en!4!* and timestamp 20120315110420 -->
