<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Parallel_transversal.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/32/Parallel_transversal.svg/250px-Parallel_transversal.svg.png" width="250" height="214" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Parallel_transversal.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A transversal cutting two parallel lines</div>
</div>
</div>
<table class="metadata plainlinks ambox ambox-move" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Merge-arrows.svg/50px-Merge-arrows.svg.png" width="50" height="20" /></div>
</td>
<td class="mbox-text" style="">It has been suggested that this article or section be <a href="/wiki/Wikipedia:Merging" title="Wikipedia:Merging">merged</a> with <i><a href="/wiki/Complementary_angles" title="Complementary angles">Complementary angles</a></i>, <i><a href="/wiki/Supplementary_angles" title="Supplementary angles">Supplementary angles</a></i>, <i><a href="/wiki/Adjacent_angles" title="Adjacent angles" class="mw-redirect">Adjacent angles</a></i> and <i><a href="/wiki/Vertical_angles" title="Vertical angles">Vertical angles</a></i>&#160;to <i><a href="/w/index.php?title=Special_angle_relationships&amp;action=&amp;redlink=1" class="new" title="Special angle relationships (page does not exist)">Special angle relationships</a></i>. (<a href="/wiki/Talk:Vertical_angles#Merge.3F" title="Talk:Vertical angles">Discuss</a>) <small><i>Proposed since December 2011.</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, a <b>transversal</b> is a <a href="/wiki/Line_(mathematics)" title="Line (mathematics)" class="mw-redirect">line</a> that passes through two parallel lines in the same <a href="/wiki/Plane_(geometry)" title="Plane (geometry)">plane</a> at different <a href="/wiki/Point_(geometry)" title="Point (geometry)">points</a>. When the lines are <a href="/wiki/Parallel_lines" title="Parallel lines" class="mw-redirect">parallel</a>, as is often the case, a transversal produces several <a href="/wiki/Congruence_(geometry)" title="Congruence (geometry)">congruent</a> and several <a href="/wiki/Supplementary_angles" title="Supplementary angles">supplementary angles</a>. When three lines in general position that form a triangle are cut by a transversal, the lengths of the six resulting segments satisfy <a href="/wiki/Menelaus%27_theorem" title="Menelaus' theorem">Menelaus' theorem</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Terminology"><span class="tocnumber">1</span> <span class="toctext">Terminology</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Related_theorems"><span class="tocnumber">2</span> <span class="toctext">Related theorems</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#External_links"><span class="tocnumber">3</span> <span class="toctext">External links</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#References"><span class="tocnumber">4</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Transversal_(geometry)&amp;action=&amp;section=1" title="Edit section: Terminology"></a>]</span> <span class="mw-headline" id="Terminology">Terminology</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:248px;">
<table style="background: transparent; border: 0; padding: 0; margin: 0; width:244px;" cellspacing="0">
<tr style="vertical-align:middle;">
<td style="padding: auto; margin: 0;" class="thumbimage"><a href="/wiki/File:Alternateexterior.gif" class="image" title="Alternate exterior angles created by a transversal of two lines."><img alt="" src="//upload.wikimedia.org/wikipedia/commons/e/e7/Alternateexterior.gif" width="120" height="144" /></a></td>
<td style="padding: 0; margin: 0; border: 0; width: 2px"></td>
<td style="padding: auto; margin: 0;" class="thumbimage"><a href="/wiki/File:Alternateinterior.gif" class="image" title="Alternate interior angles created by a transversal of two lines."><img alt="" src="//upload.wikimedia.org/wikipedia/commons/2/25/Alternateinterior.gif" width="120" height="138" /></a></td>
</tr>
<tr style="vertical-align:top;">
<td style="padding: 0; margin: 0; border: 0;">
<div class="thumbcaption">Alternate exterior angles created by a transversal of two lines.</div>
</td>
<td style="padding: 0; margin: 0; border: 0;"></td>
<td style="padding: 0; margin: 0; border: 0;">
<div class="thumbcaption">Alternate interior angles created by a transversal of two lines.</div>
</td>
</tr>
</table>
</div>
</div>
<p>When a line <i>l</i> is the transversal of two lines <i>m</i> and <i>n</i> there are a total of eight angles formed. Names have been given to these angles and specific pairs. There are four <b>interior angles</b> defined as angles between <i>m</i> and <i>n</i>, and the remaining four are called <b>exterior angles</b>. A pair of angles, one formed by <i>l</i> and <i>m</i> and the other formed by <i>l</i> and <i>n</i>, are called <b>corresponding angles</b> if they are on the same side of <i>l</i> and on the same sides of <i>m</i> and <i>n</i> respectively. Similarly, a pair of angles are called <b>alternating angles</b> if they are on opposite sides of <i>l</i> and opposite sides of <i>m</i> and <i>n</i>.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<p><br style="clear:both;" /></p>
<h2><span class="section">[<a href="/w/index.php?title=Transversal_(geometry)&amp;action=&amp;section=2" title="Edit section: Related theorems"></a>]</span> <span class="mw-headline" id="Related_theorems">Related theorems</span></h2>
<p><a href="/wiki/Euclid" title="Euclid">Euclid</a>'s formulation of the <a href="/wiki/Parallel_postulate" title="Parallel postulate">parallel postulate</a> may be stated in terms of a transversal. Specifically, if the interior angles on the same side of the transversal are less than two right angles then lines must intersect. In fact, Euclid uses the same phrase in Greek that is usually translated as "transversal".<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<p>Euclid's Proposition 27 states that if a transversal intersects two lines so that alternate interior angles are congruent, then the lines are parallel. Euclid proves this <a href="/wiki/Proof_by_contradiction" title="Proof by contradiction">by contradiction</a>: If the lines are not parallel then they must intersect and a triangle is formed. Then one of the alternate angles is an exterior angle equal to the other angle which is an opposite interior angle in the triangle. This contradicts Proposition 16 which states that an exterior angle on a triangle is always greater than the opposite interior angles.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup><sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup></p>
<p>Euclid's Proposition 28 extends this result in two ways. First, if a transversal intersects two lines so that corresponding angles are congruent, then the lines are parallel. Second, if a transversal intersects two lines so that interior angles on the same side of the transversal are supplementary, then the lines are parallel. These follow from the previous proposition by applying the fact than opposite angles on intersecting lines equal (Prop. 15) and that adjacent angles on a line are supplementary (Prop. 13). As noted by <a href="/wiki/Proclus" title="Proclus">Proclus</a>, Euclid gives only three of a possible six such criteria for parallel lines.<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup><sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup></p>
<p>Euclid's Proposition 29 is a converse to the previous two. First, if a transversal intersects two parallel lines, then the alternate interior angles are congruent. If not then one is greater than the other, which implies it's supplement is less than the supplement of the other angle. This implies that there are interior angles on the same side of the transversal which are less than two right angles, contradicting the fifth postulate. The proposition continues by stating that in a transversal of two parallel lines, corresponding angles are congruent and interior angles on the same side equal two right angles. These statements follow in the same way that Prop. 28 follows from Prop. 27.<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup><sup id="cite_ref-7" class="reference"><a href="#cite_note-7"><span>[</span>8<span>]</span></a></sup></p>
<p>Euclid's proof makes essential use of fifth postulate, however modern treatments of geometry use <a href="/wiki/Playfair%27s_axiom" title="Playfair's axiom">Playfair's axiom</a> instead. To prove proposition 29 assuming Playfair's axiom, let a transversal cross two parallel lines and suppose alternate interior angles are not equal. Draw a third line through the point where the transversal crosses the first line, but with angle equal to the angle the transversal makes with the second angle. This produces two different lines through a point both parallel to another line, contradicting the axiom.<sup id="cite_ref-8" class="reference"><a href="#cite_note-8"><span>[</span>9<span>]</span></a></sup><sup id="cite_ref-9" class="reference"><a href="#cite_note-9"><span>[</span>10<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Transversal_(geometry)&amp;action=&amp;section=3" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.mathwarehouse.com/geometry/angle/interactive-transveral-angles.php">Transversal and Angles</a> Interactive transversal with color coded angles (corresponding, alternate interior etc..)</li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/transversal.html">Transversal definition</a> With interactive animation</li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/anglesalternateinterior.html">The alternate interior angles associated with a transversal</a> With interactive animation</li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/anglesalternateexterior.html">The alternate exterior angles associated with a transversal</a> With interactive animation</li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/anglescorresponding.html">Corresponding angles associated with a transversal line</a> With interactive animations</li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/anglestransexterior.html">Exterior angles associated with a transversal line</a> With interactive animation</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Transversal_(geometry)&amp;action=&amp;section=4" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Holgate art. 87</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">Heath p. 308 note 1</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text">Heath p. 307</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text">See also Holgate Art. 88</span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text">Heath p. 309-310</span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text">See also Holgate Art. 89-90</span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text">Heath p. 311-312</span></li>
<li id="cite_note-7"><b><a href="#cite_ref-7">^</a></b> <span class="reference-text">See also Holgate Art. 93-95</span></li>
<li id="cite_note-8"><b><a href="#cite_ref-8">^</a></b> <span class="reference-text">Heath p. 313</span></li>
<li id="cite_note-9"><b><a href="#cite_ref-9">^</a></b> <span class="reference-text">A similar proof is given in Holgate Art. 93</span></li>
</ol>
</div>
<ul>
<li><span class="citation book">Holgate, Thomas Franklin (1901). <i>Elementary Geometry</i>. Macmillan.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Elementary+Geometry&amp;rft.aulast=Holgate&amp;rft.aufirst=Thomas+Franklin&amp;rft.au=Holgate%2C%26%2332%3BThomas+Franklin&amp;rft.date=1901&amp;rft.pub=Macmillan&amp;rfr_id=info:sid/en.wikipedia.org:Transversal_(geometry)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation book">Thomas Little Heath, T.L. (1908). <i>The thirteen books of Euclid's Elements</i>. <b>1</b>. The University Press. pp.&#160;307 ff..</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+thirteen+books+of+Euclid%27s+Elements&amp;rft.aulast=Thomas+Little+Heath&amp;rft.aufirst=T.L.&amp;rft.au=Thomas+Little+Heath%2C%26%2332%3BT.L.&amp;rft.date=1908&amp;rft.volume=1&amp;rft.pages=pp.%26nbsp%3B307+ff.&amp;rft.pub=The+University+Press&amp;rfr_id=info:sid/en.wikipedia.org:Transversal_(geometry)"><span style="display: none;">&#160;</span></span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 2080/1000000
Post-expand include size: 12638/2048000 bytes
Template argument size: 3982/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:13295107-0!*!0!!en!4!* and timestamp 20120412184740 -->
