<div class="dablink">This article is about measurement by the use of triangles.  For other uses, see <a href="/wiki/Triangulation_(disambiguation)" title="Triangulation (disambiguation)">Triangulation (disambiguation)</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Theb1604_-_Flickr_-_NOAA_Photo_Library.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/95/Theb1604_-_Flickr_-_NOAA_Photo_Library.jpg/220px-Theb1604_-_Flickr_-_NOAA_Photo_Library.jpg" width="220" height="330" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Theb1604_-_Flickr_-_NOAA_Photo_Library.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Triangulation of <a href="/wiki/Kodiak_Island" title="Kodiak Island">Kodiak Island</a>.</div>
</div>
</div>
<p>In <a href="/wiki/Trigonometry" title="Trigonometry">trigonometry</a> and <a href="/wiki/Geometry" title="Geometry">geometry</a>, <b>triangulation</b> is the process of determining the location of a point by measuring <a href="/wiki/Angles" title="Angles">angles</a> to it from known points at either end of a fixed baseline, rather than measuring distances to the point directly (<a href="/wiki/Trilateration" title="Trilateration">trilateration</a>). The point can then be fixed as the third point of a triangle with one known side and two known angles.</p>
<p>Triangulation can also refer to the accurate <a href="/wiki/Surveying" title="Surveying">surveying</a> of systems of very large triangles, called <b>triangulation networks</b>. This followed from the work of <a href="/wiki/Willebrord_Snell" title="Willebrord Snell" class="mw-redirect">Willebrord Snell</a> in 161517, who showed how a point could be located from the angles subtended from <i>three</i> known points, but measured at the new unknown point rather than the previously fixed points, a problem called <a href="/wiki/Resection_(orientation)" title="Resection (orientation)">resectioning</a>. Surveying error is minimized if a mesh of triangles at the largest appropriate scale is established first. Points inside the triangles can all then be accurately located with reference to it. Such triangulation methods were used for accurate large-scale land surveying until the rise of <a href="/wiki/Global_navigation_satellite_system" title="Global navigation satellite system" class="mw-redirect">global navigation satellite systems</a> in the 1980s.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Applications"><span class="tocnumber">1</span> <span class="toctext">Applications</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Distance_to_a_point_by_measuring_two_fixed_angles"><span class="tocnumber">2</span> <span class="toctext">Distance to a point by measuring two fixed angles</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Calculation"><span class="tocnumber">2.1</span> <span class="toctext">Calculation</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-4"><a href="#History"><span class="tocnumber">3</span> <span class="toctext">History</span></a>
<ul>
<li class="toclevel-2 tocsection-5"><a href="#Gemma_Frisius_and_triangulation_for_mapmaking"><span class="tocnumber">3.1</span> <span class="toctext">Gemma Frisius and triangulation for mapmaking</span></a></li>
<li class="toclevel-2 tocsection-6"><a href="#Willebrord_Snell_and_modern_triangulation_networks"><span class="tocnumber">3.2</span> <span class="toctext">Willebrord Snell and modern triangulation networks</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-7"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#References"><span class="tocnumber">5</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#Further_reading"><span class="tocnumber">6</span> <span class="toctext">Further reading</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Triangulation&amp;action=&amp;section=1" title="Edit section: Applications"></a>]</span> <span class="mw-headline" id="Applications">Applications</span></h2>
<p>Optical 3d measuring systems use this principle as well in order to determine the spatial dimensions and the geometry of an item. Basically, the configuration consists of two sensors observing the item. One of the sensors is typically a digital camera device, and the other one can also be a camera or a light projector. The projection centers of the sensors and the considered point on the objects surface define a (spatial) triangle. Within this triangle, the distance between the sensors is the base <i>b</i> and must be known. By determining the angles between the projection rays of the sensors and the basis, the intersection point, and thus the 3d coordinate, is calculated from the triangular relations.</p>
<h2><span class="section">[<a href="/w/index.php?title=Triangulation&amp;action=&amp;section=2" title="Edit section: Distance to a point by measuring two fixed angles"></a>]</span> <span class="mw-headline" id="Distance_to_a_point_by_measuring_two_fixed_angles">Distance to a point by measuring two fixed angles</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:312px;"><a href="/wiki/File:Distance_by_triangulation.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/80/Distance_by_triangulation.svg/310px-Distance_by_triangulation.svg.png" width="310" height="126" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Distance_by_triangulation.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Triangulation can be used to calculate the <a href="/wiki/Coordinate" title="Coordinate" class="mw-redirect">coordinates</a> and <a href="/wiki/Distance" title="Distance">distance</a> from the shore to the ship. The observer at <i>A</i> measures the <a href="/wiki/Angle" title="Angle">angle</a> <i></i> between the shore and the ship, and the observer at <i>B</i> does likewise for <i></i> . With the length <i>l</i> or the <a href="/wiki/Coordinate" title="Coordinate" class="mw-redirect">coordinates</a> of <i>A</i> and <i>B</i> known, then the <a href="/wiki/Law_of_sines" title="Law of sines">law of sines</a> can be applied to find the coordinates of the ship at <i>C</i> and the distance <i>d</i>.</div>
</div>
</div>
<div class="floatright"><a href="/wiki/File:Triangulation_.jpg" class="image" title="Triangulation"><img alt="Triangulation" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Triangulation_.jpg/200px-Triangulation_.jpg" width="200" height="204" /></a></div>
<p>The <a href="/wiki/Coordinate" title="Coordinate" class="mw-redirect">coordinates</a> and distance to a point can be found by calculating the length of one side of a <a href="/wiki/Triangle" title="Triangle">triangle</a>, given measurements of angles and sides of the triangle formed by that point and two other known reference points.</p>
<p>The following formulas apply in flat or <a href="/wiki/Euclidean_geometry" title="Euclidean geometry">Euclidean geometry</a>. They become inaccurate if distances become appreciable compared to the <a href="/wiki/Curvature_of_the_Earth" title="Curvature of the Earth" class="mw-redirect">curvature of the Earth</a>, but can be replaced with more complicated results derived using <a href="/wiki/Spherical_trigonometry" title="Spherical trigonometry">spherical trigonometry</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Triangulation&amp;action=&amp;section=3" title="Edit section: Calculation"></a>]</span> <span class="mw-headline" id="Calculation">Calculation</span></h3>
<dl>
<dd><img class="tex" alt=" \ell = \frac{d}{\tan \alpha} + \frac{d}{\tan \beta}" src="//upload.wikimedia.org/wikipedia/en/math/e/d/1/ed1188b7cccdada35bcd69f660d37d94.png" /></dd>
</dl>
<p>Therefore</p>
<dl>
<dd><img class="tex" alt="d = \ell \, / \, (\tfrac{1}{\tan \alpha} + \tfrac{1}{\tan \beta})" src="//upload.wikimedia.org/wikipedia/en/math/a/b/1/ab1cb150e00633b8ef6534f5e2059451.png" /></dd>
</dl>
<p>Using the <a href="/wiki/Trigonometric_identities" title="Trigonometric identities" class="mw-redirect">trigonometric identities</a> tan&#160; =&#160;sin&#160;&#160;/&#160;cos&#160; and sin(&#160;+&#160;) =&#160;sin&#160;&#160;cos&#160;&#160;+&#160;cos&#160;&#160;sin&#160;, this is equivalent to:</p>
<dl>
<dd><img class="tex" alt="d = \frac{\ell \sin\alpha \sin\beta}{\sin(\alpha + \beta)}" src="//upload.wikimedia.org/wikipedia/en/math/d/1/1/d1153fd42c5794d868e54987365b9b48.png" /></dd>
</dl>
<p>From this, it is easy to determine the distance of the unknown point from either observation point, its north/south and east/west offsets from the observation point, and finally its full coordinates.</p>
<h2><span class="section">[<a href="/w/index.php?title=Triangulation&amp;action=&amp;section=4" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Sea_island_survey.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Sea_island_survey.jpg/220px-Sea_island_survey.jpg" width="220" height="326" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Sea_island_survey.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
<a href="/wiki/Liu_Hui" title="Liu Hui">Liu Hui</a> (c. 263), How to measure the height of a sea island. Illustration from an ion of 1726</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:G-F_triangulation.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0b/G-F_triangulation.jpg/220px-G-F_triangulation.jpg" width="220" height="324" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:G-F_triangulation.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
<a href="/wiki/Gemma_Frisius" title="Gemma Frisius">Gemma Frisius</a>'s 1533 proposal to use triangulation for mapmaking</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:L-Triangulierung.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/L-Triangulierung.png/220px-L-Triangulierung.png" width="220" height="197" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:L-Triangulierung.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Nineteenth-century triangulation network for the triangulation of Rhineland-Hesse</div>
</div>
</div>
<p>Triangulation today is used for many purposes, including <a href="/wiki/Surveying" title="Surveying">surveying</a>, <a href="/wiki/Navigation" title="Navigation">navigation</a>, <a href="/wiki/Metrology" title="Metrology">metrology</a>, <a href="/wiki/Astrometry" title="Astrometry">astrometry</a>, <a href="/wiki/Binocular_vision" title="Binocular vision">binocular vision</a>, <a href="/wiki/Model_rocketry" title="Model rocketry" class="mw-redirect">model rocketry</a> and gun direction of <a href="/wiki/Weapon" title="Weapon">weapons</a>.</p>
<p>The use of triangles to estimate distances goes back to antiquity. In the 6th century BC the Greek philosopher <a href="/wiki/Thales" title="Thales">Thales</a> is recorded as using <a href="/wiki/Similar_triangles" title="Similar triangles" class="mw-redirect">similar triangles</a> to estimate the height of the <a href="/wiki/Pyramids" title="Pyramids" class="mw-redirect">pyramids</a> by measuring the length of their shadows and that of his own at the same moment, and comparing the ratios to his height (intercept theorem);<sup id="cite_ref-Life_of_Thales_0-0" class="reference"><a href="#cite_note-Life_of_Thales-0"><span>[</span>1<span>]</span></a></sup> and to have estimated the distances to ships at sea as seen from a clifftop, by measuring the horizontal distance traversed by the line-of-sight for a known fall, and scaling up to the height of the whole cliff.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> Such techniques would have been familiar to the ancient Egyptians. Problem 57 of the <a href="/wiki/Rhind_papyrus" title="Rhind papyrus" class="mw-redirect">Rhind papyrus</a>, a thousand years earlier, defines the <i>seqt</i> or <i>seked</i> as the ratio of the run to the rise of a <a href="/wiki/Slope" title="Slope">slope</a>, <i>i.e.</i> the reciprocal of gradients as measured today. The slopes and angles were measured using a sighting rod that the Greeks called a <i><a href="/wiki/Dioptra" title="Dioptra">dioptra</a></i>, the forerunner of the Arabic <a href="/wiki/Alidade" title="Alidade">alidade</a>. A detailed contemporary collection of constructions for the determination of lengths from a distance using this instrument is known, the <i>Dioptra</i> of <a href="/wiki/Hero_of_Alexandria" title="Hero of Alexandria">Hero of Alexandria</a> (c. 1070 AD), which survived in Arabic translation; but the knowledge became lost in Europe. In China, <a href="/wiki/Pei_Xiu" title="Pei Xiu">Pei Xiu</a> (224271) identified "measuring right angles and acute angles" as the fifth of his six principles for accurate map-making, necessary to accurately establish distances;<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup> while <a href="/wiki/Liu_Hui" title="Liu Hui">Liu Hui</a> (c. 263) gives a version of the calculation above, for measuring perpendicular distances to inaccessible places.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup><sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup></p>
<p>In the field, triangulation methods were apparently not used by the Roman specialist land surveyors, the <i>agromensores</i>; but were introduced into medieval Spain through <a href="/wiki/Geography_in_medieval_Islam" title="Geography in medieval Islam" class="mw-redirect">Arabic treatises</a> on the <a href="/wiki/Astrolabe" title="Astrolabe">astrolabe</a>, such as that by Ibn al-Saffar (d. 1035).<sup id="cite_ref-Hill_5-0" class="reference"><a href="#cite_note-Hill-5"><span>[</span>6<span>]</span></a></sup> <a href="/wiki/Abu_Rayhan_Biruni" title="Abu Rayhan Biruni" class="mw-redirect">Abu Rayhan Biruni</a> (d. 1048) also introduced triangulation techniques to <a href="/wiki/Abu_Rayhan_Biruni#Geodesy_and_geography" title="Abu Rayhan Biruni" class="mw-redirect">measure the size of the Earth</a> and the distances between various places.<sup id="cite_ref-MacTutor_6-0" class="reference"><a href="#cite_note-MacTutor-6"><span>[</span>7<span>]</span></a></sup> Simplified Roman techniques then seem to have co-existed with more sophisticated techniques used by professional surveyors. But it was rare for such methods to be <a href="/wiki/Latin_translations_of_the_12th_century" title="Latin translations of the 12th century">translated into Latin</a> (a manual on Geometry, the eleventh century <i>Geomatria incerti auctoris</i> is a rare exception), and such techniques appear to have percolated only slowly into the rest of Europe.<sup id="cite_ref-Hill_5-1" class="reference"><a href="#cite_note-Hill-5"><span>[</span>6<span>]</span></a></sup> Increased awareness and use of such techniques in Spain may be attested by the medieval <a href="/wiki/Jacob%27s_staff" title="Jacob's staff">Jacob's staff</a>, used specifically for measuring angles, which dates from about 1300; and the appearance of accurately surveyed coastlines in the <a href="/wiki/Portolan_charts" title="Portolan charts" class="mw-redirect">Portolan charts</a>, the earliest of which that survives is dated 1296.</p>
<h3><span class="section">[<a href="/w/index.php?title=Triangulation&amp;action=&amp;section=5" title="Edit section: Gemma Frisius and triangulation for mapmaking"></a>]</span> <span class="mw-headline" id="Gemma_Frisius_and_triangulation_for_mapmaking">Gemma Frisius and triangulation for mapmaking</span></h3>
<p>On land, the Dutch cartographer <a href="/wiki/Gemma_Frisius" title="Gemma Frisius">Gemma Frisius</a> proposed using triangulation to accurately position far-away places for map-making in his 1533 pamphlet <i>Libellus de Locorum describendorum ratione</i> (<i>Booklet concerning a way of describing places</i>) , which he bound in as an appendix in a new ion of <a href="/wiki/Peter_Apian" title="Peter Apian" class="mw-redirect">Peter Apian</a>'s best-selling 1524 <i>Cosmographica</i>. This became very influential, and the technique spread across Germany, Austria and the Netherlands. The astronomer <a href="/wiki/Tycho_Brahe" title="Tycho Brahe">Tycho Brahe</a> applied the method in Scandinavia, completing a detailed triangulation in 1579 of the island of <a href="/wiki/Ven,_Sweden" title="Ven, Sweden">Hven</a>, where his observatory was based, with reference to key landmarks on both sides of the <a href="/wiki/%C3%98resund" title="resund">resund</a>, producing an estate plan of the island in 1584.<sup id="cite_ref-7" class="reference"><a href="#cite_note-7"><span>[</span>8<span>]</span></a></sup> In England Frisius's method was included in the growing number of books on surveying which appeared from the middle of the century onwards, including William Cunningham's <i>Cosmographical Glasse</i> (1559), Valentine Leigh's <i>Treatise of Measuring All Kinds of Lands</i> (1562), <a href="/wiki/William_Bourne_(mathematician)" title="William Bourne (mathematician)">William Bourne</a>'s <i>Rules of Navigation</i> (1571), <a href="/wiki/Thomas_Digges" title="Thomas Digges">Thomas Digges</a>'s <i>Geometrical Practise named Pantometria</i> (1571), and <a href="/wiki/John_Norden" title="John Norden">John Norden</a>'s <i>Surveyor's Dialogue</i> (1607). It has been suggested that <a href="/wiki/Christopher_Saxton" title="Christopher Saxton">Christopher Saxton</a> may have used rough-and-ready triangulation to place features in his county maps of the 1570s; but others suppose that, having obtained rough bearings to features from key vantage points, he may have estimated the distances to them simply by guesswork.<sup id="cite_ref-8" class="reference"><a href="#cite_note-8"><span>[</span>9<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=Triangulation&amp;action=&amp;section=6" title="Edit section: Willebrord Snell and modern triangulation networks"></a>]</span> <span class="mw-headline" id="Willebrord_Snell_and_modern_triangulation_networks">Willebrord Snell and modern triangulation networks</span></h3>
<p>The modern systematic use of triangulation networks stems from the work of the Dutch mathematician <a href="/wiki/Willebrord_Snell" title="Willebrord Snell" class="mw-redirect">Willebrord Snell</a>, who in 1615 surveyed the distance from <a href="/wiki/Alkmaar" title="Alkmaar">Alkmaar</a> to <a href="/wiki/Bergen_op_Zoom" title="Bergen op Zoom">Bergen op Zoom</a>, approximately 70 miles (110 kilometres), using a chain of quadrangles containing 33 triangles in all. The two towns were separated by one degree on the <a href="/wiki/Meridian_(geography)" title="Meridian (geography)">meridian</a>, so from his measurement he was able to calculate a value for the circumference of the earth  a feat celebrated in the title of his book <i>Eratosthenes Batavus</i> (<i>The Dutch <a href="/wiki/Eratosthenes" title="Eratosthenes">Eratosthenes</a></i>), published in 1617. Snell calculated how the planar formulae could be corrected to allow for the curvature of the earth. He also showed how to <a href="/wiki/Resection_(orientation)" title="Resection (orientation)">resection</a>, or calculate, the position of a point inside a triangle using the angles cast between the vertices at the unknown point. These could be measured much more accurately than bearings of the vertices, which depended on a compass. This established the key idea of surveying a large-scale primary network of control points first, and then locating secondary subsidiary points later, within that primary network.</p>
<p>Snell's methods were taken up by <a href="/wiki/Jean_Picard" title="Jean Picard">Jean Picard</a> who in 166970 surveyed one degree of latitude along the <a href="/wiki/Paris_Meridian" title="Paris Meridian" class="mw-redirect">Paris Meridian</a> using a chain of thirteen triangles stretching north from <a href="/wiki/Paris" title="Paris">Paris</a> to the clocktower of <a href="/wiki/Sourdon" title="Sourdon">Sourdon</a>, near <a href="/wiki/Amiens" title="Amiens">Amiens</a>. Thanks to improvements in instruments and accuracy, Picard's is rated as the first reasonably accurate measurement of the radius of the earth. Over the next century this work was extended most notably by the Cassini family: between 1683 and 1718 <a href="/wiki/Giovanni_Domenico_Cassini" title="Giovanni Domenico Cassini">Jean-Dominique Cassini</a> and his son <a href="/wiki/Jacques_Cassini" title="Jacques Cassini">Jacques Cassini</a> surveyed the whole of the Paris meridian from <a href="/wiki/Dunkirk" title="Dunkirk">Dunkirk</a> to <a href="/wiki/Perpignan" title="Perpignan">Perpignan</a>; and between 1733 and 1740 Jacques and his son <a href="/wiki/C%C3%A9sar-Fran%C3%A7ois_Cassini_de_Thury" title="Csar-Franois Cassini de Thury">Csar Cassini</a> undertook the first triangulation of the whole country, including a re-surveying of the <a href="/wiki/Meridian_arc" title="Meridian arc">meridian arc</a>, leading to the publication in 1745 of the first map of France constructed on rigorous principles.</p>
<p>Triangulation methods were by now well established for local mapmaking, but it was only towards the end of the 18th century that other countries began to establish detailed triangulation network surveys to map whole countries. The <a href="/wiki/Principal_Triangulation_of_Great_Britain" title="Principal Triangulation of Great Britain">Principal Triangulation of Great Britain</a> was begun by the <a href="/wiki/Ordnance_Survey" title="Ordnance Survey">Ordnance Survey</a> in 1783, though not completed until 1853; and the <a href="/wiki/Great_Trigonometric_Survey" title="Great Trigonometric Survey">Great Trigonometric Survey</a> of India, which ultimately named and mapped <a href="/wiki/Mount_Everest" title="Mount Everest">Mount Everest</a> and the other Himalayan peaks, was begun in 1801. For the Napoleonic French state, the French triangulation was extended by <a href="/w/index.php?title=Jean_Joseph_Tranchot&amp;action=&amp;redlink=1" class="new" title="Jean Joseph Tranchot (page does not exist)">Jean Joseph Tranchot</a> into the German <a href="/wiki/Rhineland" title="Rhineland">Rhineland</a> from 1801, subsequently completed after 1815 by the Prussian general <a href="/wiki/Karl_von_M%C3%BCffling" title="Karl von Mffling" class="mw-redirect">Karl von Mffling</a>. Meanwhile, the famous mathematician <a href="/wiki/Carl_Friedrich_Gauss" title="Carl Friedrich Gauss">Carl Friedrich Gauss</a> was entrusted from 1821 to 1825 with the triangulation of the <a href="/wiki/Kingdom_of_Hanover" title="Kingdom of Hanover">kingdom of Hanover</a>, for which he developed the <a href="/wiki/Least_squares" title="Least squares">method of least squares</a> to find the best fit solution for problems of large systems of <a href="/wiki/Simultaneous_equation" title="Simultaneous equation" class="mw-redirect">simultaneous equations</a> given more real-world measurements than unknowns.</p>
<p>Today, large-scale triangulation networks for positioning have largely been superseded by the <a href="/wiki/Global_navigation_satellite_system" title="Global navigation satellite system" class="mw-redirect">Global navigation satellite systems</a> established since the 1980s. But many of the control points for the earlier surveys still survive as valued historical features in the landscape, such as the concrete <a href="/wiki/Trig_point" title="Trig point" class="mw-redirect">triangulation pillars</a> set up for <a href="/wiki/Retriangulation_of_Great_Britain" title="Retriangulation of Great Britain">retriangulation of Great Britain</a> (19361962), or the triangulation points set up for the <a href="/wiki/Struve_Geodetic_Arc" title="Struve Geodetic Arc">Struve Geodetic Arc</a> (18161855), now scheduled as a UNESCO <a href="/wiki/World_Heritage_Site" title="World Heritage Site">World Heritage Site</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Triangulation&amp;action=&amp;section=7" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Multilateration" title="Multilateration">Multilateration</a>, where a point is calculated using the time-difference-of-arrival between other known points</li>
<li><a href="/wiki/Trilateration" title="Trilateration">Trilateration</a>, where a point is calculated given its distances from other known points</li>
<li><a href="/wiki/GSM_localization" title="GSM localization" class="mw-redirect">GSM localization</a></li>
<li><a href="/wiki/Parallax" title="Parallax">Parallax</a></li>
<li><a href="/wiki/Resection_(orientation)" title="Resection (orientation)">Resection</a></li>
<li><a href="/wiki/SOCET_SET" title="SOCET SET">SOCET SET</a></li>
<li><a href="/wiki/Stereopsis" title="Stereopsis">Stereopsis</a></li>
<li><a href="/wiki/Surveying" title="Surveying">Surveying</a></li>
<li><a href="/wiki/Trig_point" title="Trig point" class="mw-redirect">Trig point</a></li>
<li><a href="/wiki/Triangulation_(social_science)" title="Triangulation (social science)">Triangulation (social science)</a> The application and combination of several research methodologies in the study of the same phenomenon.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Triangulation&amp;action=&amp;section=8" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist references-column-count references-column-count-2" style="-moz-column-count: 2; -webkit-column-count: 2; column-count: 2; list-style-type: decimal;">
<ol class="references">
<li id="cite_note-Life_of_Thales-0"><b><a href="#cite_ref-Life_of_Thales_0-0">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFDiogenes_La.C3.ABrtius"><a href="/wiki/Diogenes_La%C3%ABrtius" title="Diogenes Lartius">Diogenes Lartius</a>, <a rel="nofollow" class="external text" href="http://www.classicpersuasion.org/pw/diogenes/dlthales.htm">"Life of Thales"</a>, <i>The Lives and Opinions of Eminent Philosophers</i><span class="printonly">, <a rel="nofollow" class="external free" href="http://www.classicpersuasion.org/pw/diogenes/dlthales.htm">http://www.classicpersuasion.org/pw/diogenes/dlthales.htm</a></span><span class="reference-accessdate">, retrieved 2008-02-22</span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Life+of+Thales&amp;rft.atitle=The+Lives+and+Opinions+of+Eminent+Philosophers&amp;rft.aulast=%5B%5BDiogenes+La%C3%ABrtius%5D%5D&amp;rft.au=%5B%5BDiogenes+La%C3%ABrtius%5D%5D&amp;rft_id=http%3A%2F%2Fwww.classicpersuasion.org%2Fpw%2Fdiogenes%2Fdlthales.htm&amp;rfr_id=info:sid/en.wikipedia.org:Triangulation"><span style="display: none;">&#160;</span></span> I, 27</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><a href="/wiki/Proclus" title="Proclus">Proclus</a>, <i>In Euclidem</i></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a href="/wiki/Joseph_Needham" title="Joseph Needham">Joseph Needham</a> (1986). <i>Science and Civilization in China: Volume 3, Mathematics and the Sciences of the Heavens and the Earth</i>. Taipei: Caves Books Ltd. pp. 539540</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><a href="/wiki/Liu_Hui" title="Liu Hui">Liu Hui</a>, <i><a href="/wiki/The_Sea_Island_Mathematical_Manual" title="The Sea Island Mathematical Manual">The Sea Island Mathematical Manual</a></i></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text">Kurt Vogel (1983; 1997), <a rel="nofollow" class="external text" href="http://books.google.co.uk/books?id=AG2XBCmxYcUC&amp;pg=PA6&amp;lpg=PA6&amp;source=web&amp;ots=dFLpU3z6ri&amp;sig=Aa-wiZAq2PEBsgmrW_9Bn44TB08&amp;hl=en&amp;sa=X&amp;oi=book_result&amp;resnum=1&amp;ct=result#PPA1,M1">A Surveying Problem Travels from China to Paris</a>, in Yvonne Dold-Samplonius (ed.), <i>From China to Paris</i>, Proceedings of a conference held July, 1997, Mathematisches Forschungsinstitut, Oberwolfach, Germany. <a href="/wiki/Special:BookSources/3515082239" class="internal mw-magiclink-isbn">ISBN 3-515-08223-9</a>.</span></li>
<li id="cite_note-Hill-5">^ <a href="#cite_ref-Hill_5-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Hill_5-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><a href="/wiki/Donald_Routledge_Hill" title="Donald Routledge Hill" class="mw-redirect">Donald Routledge Hill</a> (1984), <i>A History of Engineering in Classical and Medieval Times</i>, London: Croom Helm &amp; La Salle, Illinois: Open Court. <a href="/wiki/Special:BookSources/0875484220" class="internal mw-magiclink-isbn">ISBN 0-87548-422-0</a>. pp. 119122</span></li>
<li id="cite_note-MacTutor-6"><b><a href="#cite_ref-MacTutor_6-0">^</a></b> <span class="reference-text"><span class="citation"><a href="/wiki/John_J._O%27Connor_(mathematician)" title="John J. O'Connor (mathematician)" class="mw-redirect">O'Connor, John J.</a>; <a href="/wiki/Edmund_F._Robertson" title="Edmund F. Robertson">Robertson, Edmund F.</a>, <a rel="nofollow" class="external text" href="http://www-history.mcs.st-andrews.ac.uk/Biographies/Al-Biruni.html">"Abu Arrayhan Muhammad ibn Ahmad al-Biruni"</a>, <i><a href="/wiki/MacTutor_History_of_Mathematics_archive" title="MacTutor History of Mathematics archive">MacTutor History of Mathematics archive</a></i>, <a href="/wiki/University_of_St_Andrews" title="University of St Andrews">University of St Andrews</a><span class="printonly">, <a rel="nofollow" class="external free" href="http://www-history.mcs.st-andrews.ac.uk/Biographies/Al-Biruni.html">http://www-history.mcs.st-andrews.ac.uk/Biographies/Al-Biruni.html</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Abu+Arrayhan+Muhammad+ibn+Ahmad+al-Biruni&amp;rft.atitle=%5B%5BMacTutor+History+of+Mathematics+archive%5D%5D&amp;rft.aulast=O%27Connor&amp;rft.aufirst=John+J.&amp;rft.au=O%27Connor%2C%26%2332%3BJohn+J.&amp;rft.au=Robertson%2C%26%2332%3BEdmund+F.&amp;rft.pub=%5B%5BUniversity+of+St+Andrews%5D%5D&amp;rft_id=&amp;rfr_id=info:sid/en.wikipedia.org:Triangulation"><span style="display: none;">&#160;</span></span>.</span></li>
<li id="cite_note-7"><b><a href="#cite_ref-7">^</a></b> <span class="reference-text">Michael Jones (2004), "<a rel="nofollow" class="external text" href="http://books.google.co.uk/books?id=_tsvf51Z4ocC&amp;pg=PA210&amp;lpg=PA210&amp;dq=portolan+triangulation&amp;source=web&amp;ots=ZrtTrVrU11&amp;sig=iUMgeFF6fXDdfFStUWPLRyI5OOw&amp;hl=en">Tycho Brahe, Cartography and Landscape in 16th Century Scandinavia</a>", in Hannes Palang (ed), European Rural Landscapes: Persistence and Change in a Globalising Environment, p.210</span></li>
<li id="cite_note-8"><b><a href="#cite_ref-8">^</a></b> <span class="reference-text">Martin and Jean Norgate (2003), <a rel="nofollow" class="external text" href="http://www.geog.port.ac.uk/webmap/hantsmap/hantsmap/saxton1/sax1svy1.htm">Saxton's Hampshire: Surveying</a>, University of Portsmouth</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Triangulation&amp;action=&amp;section=9" title="Edit section: Further reading"></a>]</span> <span class="mw-headline" id="Further_reading">Further reading</span></h2>
<ul>
<li>Bagrow, L. (1964) <i>History of Cartography</i>; revised and enlarged by R.A. Skelton. Harvard University Press.</li>
<li>Crone, G.R. (1978 [1953]) <i>Maps and their Makers: An Introduction to the History of Cartography</i> (5th ed).</li>
<li>Tooley, R.V. &amp; Bricker, C. (1969) <i>A History of Cartography: 2500 Years of Maps and Mapmakers</i></li>
<li>Keay, J. (2000) <i>The Great Arc: The Dramatic Tale of How India Was Mapped and Everest Was Named</i>. London: Harper Collins. <a href="/wiki/Special:BookSources/0002570629" class="internal mw-magiclink-isbn">ISBN 0-00-257062-9</a>.</li>
<li>Murdin, P. (2009) <i>Full Meridian of Glory: Perilous Adventures in the Competition to Measure the Earth</i>. Springer. <a href="/wiki/Special:BookSources/9780387755335" class="internal mw-magiclink-isbn">ISBN 978-0-387-75533-5</a>.</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1822/1000000
Post-expand include size: 13864/2048000 bytes
Template argument size: 3635/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:207174-0!0!0!!en!4!* and timestamp 20120414182816 -->
