<div class="thumb tright">
<div class="thumbinner" style="width:502px;"><a href="/wiki/File:3spheres.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c3/3spheres.svg/500px-3spheres.svg.png" width="500" height="498" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:3spheres.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Figure 1. The plane, z=0, showing the 3 sphere centers, P1, P2, and P3; their x,y coordinates; and the 3 sphere radii, r1, r2, and r3. The two intersections of the three sphere surfaces are directly in front and directly behind the point designated intersections in the z=0 plane.</div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, <b>trilateration</b> is the process of determinating absolute or relative locations of points by measurement of distances, using the geometry of <a href="/wiki/Circles" title="Circles" class="mw-redirect">circles</a>, <a href="/wiki/Sphere" title="Sphere">spheres</a> or <a href="/wiki/Triangle" title="Triangle">triangles</a>.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup><sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup><sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup> In addition to its interest as a geometric problem, trilateration does have practical applications in <a href="/wiki/Surveying" title="Surveying">surveying</a> and <a href="/wiki/Navigation" title="Navigation">navigation</a>, including <a href="/wiki/Global_positioning_system" title="Global positioning system" class="mw-redirect">global positioning systems</a> (GPS). In contrast to <a href="/wiki/Triangulation" title="Triangulation">triangulation</a> it does not involve the measurement of <a href="/wiki/Angle" title="Angle">angles</a>.</p>
<p>In <a href="/wiki/2D_geometric_model" title="2D geometric model">two-dimensional geometry</a>, when it is known that a point lies on two curves such as the boundaries of two circles then the circle centers and the two radii provide sufficient information to narrow the possible locations down to two. Additional information may narrow the possibilities down to one unique location.</p>
<p>In three-dimensional geometry, when it is known that a point lies on three surfaces such as the surfaces of three spheres then the centers of the three spheres along with their radii provide sufficient information to narrow the possible locations down to no more than two. If it is known that the point lies on the surface of a fourth sphere then knowledge of this sphere's center along with its radius is sufficient to determine the one unique location.</p>
<p>This article describes a method for determining the intersections of three sphere surfaces given the centers and radii of the three spheres.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Derivation"><span class="tocnumber">1</span> <span class="toctext">Derivation</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Preliminary_and_final_computations"><span class="tocnumber">2</span> <span class="toctext">Preliminary and final computations</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#See_also"><span class="tocnumber">3</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#References"><span class="tocnumber">4</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#External_links"><span class="tocnumber">5</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Trilateration&amp;action=&amp;section=1" title="Edit section: Derivation"></a>]</span> <span class="mw-headline" id="Derivation">Derivation</span></h2>
<p>The intersections of the surfaces of three spheres is found by formulating the equations for the three sphere surfaces and then solving the three equations for the three unknowns, x, y, and z. To simplify the calculations, the equations are formulated so that the centers of the spheres are on the z=0 plane. Also the formulation is such that one center is at the origin, and one other is on the x-axis. It is possible to formulate the equations in this manner since any three non-colinear points lie on a unique plane. After finding the solution it can be transformed back to the original three dimensional <a href="/wiki/Cartesian_coordinate_system" title="Cartesian coordinate system">Cartesian coordinate system</a>.</p>
<p>We start with the equations for the three spheres:</p>
<dl>
<dd><img class="tex" alt="r_1^2=x^2+y^2+z^2" src="//upload.wikimedia.org/wikipedia/en/math/9/c/8/9c843990b9aec5ec37a76935241464eb.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="r_2^2=(x-d)^2+y^2+z^2" src="//upload.wikimedia.org/wikipedia/en/math/f/7/1/f71db876aa1a51dee0277b30972e90bd.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="r_3^2=(x-i)^2+(y-j)^2+z^2" src="//upload.wikimedia.org/wikipedia/en/math/1/0/4/1044a1f795b4b0ad2832e30a142889f3.png" /></dd>
</dl>
<p>We need to find a point located at (<i>x</i>, <i>y</i>, <i>z</i>) that satisfies all three equations.</p>
<p>First we subtract the second equation from the first and solve for <i>x</i>:</p>
<dl>
<dd><img class="tex" alt="x=\frac{r_1^2-r_2^2+d^2}{2d}" src="//upload.wikimedia.org/wikipedia/en/math/9/4/6/946d26f6d1306f6c5b50d5ccad3801ea.png" />.</dd>
</dl>
<p>We assume that the first two spheres intersect in more than one point, that is that</p>
<dl>
<dd><img class="tex" alt="d-r_1 &lt; r_2 &lt; d+r_1" src="//upload.wikimedia.org/wikipedia/en/math/4/f/7/4f7ce33a9e8350d2bb4c0588948f05b3.png" />.</dd>
</dl>
<p>In this case substituting the equation for x back into the equation for the first sphere produces the equation for a circle, the solution to the intersection of the first two spheres:</p>
<dl>
<dd><img class="tex" alt="y^2+z^2=r_1^2-\frac{(r_1^2-r_2^2+d^2)^2}{4d^2}" src="//upload.wikimedia.org/wikipedia/en/math/a/3/2/a32b132afc13d56e13e17f103bc24550.png" />.</dd>
</dl>
<p>Substituting&#160;:<img class="tex" alt="y^2+z^2=r_1^2-x^2" src="//upload.wikimedia.org/wikipedia/en/math/3/c/5/3c57a4db43e2cc01a3aea8c0e1918123.png" /> into the formula for the third sphere and solving for y there results:<br /></p>
<dl>
<dd><img class="tex" alt="y=\frac{r_1^2-r_3^2-x^2+(x-i)^2+j^2}{2j}=\frac{r_1^2-r_3^2+i^2+j^2}{2j}-\frac{i}{j}x" src="//upload.wikimedia.org/wikipedia/en/math/d/9/0/d901db4a9fede465533b08f2590a7e8f.png" />.</dd>
</dl>
<p>Now that we have the <i>x</i>- and <i>y</i>-coordinates of the solution point, we can simply rearrange the formula for the first sphere to find the <i>z</i>-coordinate:</p>
<dl>
<dd><img class="tex" alt="z=\pm \sqrt{r_1^2-x^2-y^2}." src="//upload.wikimedia.org/wikipedia/en/math/d/3/6/d36b86b133bc4621c11dd920c691e373.png" /></dd>
</dl>
<p>Now we have the solution to all three points <i>x</i>, <i>y</i> and <i>z</i>. Because <i>z</i> is expressed as the positive or negative square root, it is possible for there to be zero, one or two solutions to the problem.</p>
<p>This last part can be visualized as taking the circle found from intersecting the first and second sphere and intersecting that with the third sphere. If that circle falls entirely outside or inside of the sphere, <i>z</i> is equal to the <a href="/wiki/Imaginary_number" title="Imaginary number">square root of a negative number</a>: no real solution exists. If that circle touches the sphere on exactly one point, <i>z</i> is equal to zero. If that circle touches the surface of the sphere at two points, then <i>z</i> is equal to plus or minus the square root of a positive number.</p>
<p><br /></p>
<h2><span class="section">[<a href="/w/index.php?title=Trilateration&amp;action=&amp;section=2" title="Edit section: Preliminary and final computations"></a>]</span> <span class="mw-headline" id="Preliminary_and_final_computations">Preliminary and final computations</span></h2>
<p>The <i>Derivation</i> section pointed out that the coordinate system in which the sphere centers are designated must be such that (1) all three centers are in the plane, Z = 0, (2) the sphere center, P1, is at the origin, and (3) the sphere center, P2, is on the X axis. In general the problem will not be given in a form such that these requirements are met.</p>
<p>This problem can be overcome as described below where the points, P1, P2, and P3 are treated as vectors from the origin where indicated. P1, P2, and P3 are of course expressed in the original coordinate system.</p>
<dl>
<dd><img class="tex" alt="\hat e_x = \frac{ P2 - P1 }{ \| P2 - P1 \| }" src="//upload.wikimedia.org/wikipedia/en/math/3/c/1/3c147ababe74fdbaaf915bcdaf48fcc5.png" /> is the unit vector in the direction from P1 to P2.</dd>
<dd><img class="tex" alt="i = \hat e_x \cdot ( P3 - P1 ) " src="//upload.wikimedia.org/wikipedia/en/math/5/e/1/5e175cf338eacf9a2c09740169bcabff.png" /> is the signed magnitude of the x component, in the figure 1 coordinate system, of the vector from P1 to P3.</dd>
<dd><img class="tex" alt="\hat e_y = \frac{ P3 - P1 - i \; \hat e_x}{ \| P3 - P1 - i \; \hat e_x \| }" src="//upload.wikimedia.org/wikipedia/en/math/9/9/9/9993aab5ac1ea964784f2675c0b0937e.png" /> is the unit vector in the y direction. Note that the points P1, P2, and P3 are all in the z=0 plane of the figure 1 coordinate system.</dd>
</dl>
<p>The third basis unit vector is <img class="tex" alt="\hat e_z = \hat e_x \times \hat e_y" src="//upload.wikimedia.org/wikipedia/en/math/5/b/d/5bdd3d066a87cbb96f31f1964f28c406.png" />. Therefore,</p>
<dl>
<dd><img class="tex" alt="d = \| P2 - P1 \|" src="//upload.wikimedia.org/wikipedia/en/math/2/8/b/28bcf33a4961ada5d53d03008b210780.png" /> the distance between the centers P1 and P2 and</dd>
<dd><img class="tex" alt="j = \hat e_y \cdot ( P3 - P1 ) " src="//upload.wikimedia.org/wikipedia/en/math/e/1/7/e175e38d561e3a6498040d670a4438cc.png" /> is the signed magnitude of the y component, in the figure 1 coordinate system, of the vector from P1 to P3.</dd>
</dl>
<p>Using <img class="tex" alt="i, \;  d, \;  and \;  j" src="//upload.wikimedia.org/wikipedia/en/math/2/c/e/2ce57b2c50bc52c60e0f5100c6bf265b.png" /> as computed above, solve for x, y and z as described in the <i>Derivation</i> section. Then</p>
<dl>
<dd><img class="tex" alt="\vec p_{1,2} = P1 + x \ \hat e_x + y \ \hat e_y \ \pm \ z \ \hat e_z " src="//upload.wikimedia.org/wikipedia/en/math/6/f/e/6fededd78ff06922e006628667ef2766.png" /></dd>
</dl>
<p>gives the points in the original coordinate system since <img class="tex" alt="\hat e_x, \; \hat e_y, \; and \; \hat e_z" src="//upload.wikimedia.org/wikipedia/en/math/1/5/3/153f7e26283b921a60105a26310cff1e.png" />, the basis unit vectors, are expressed in the original coordinate system.</p>
<h2><span class="section">[<a href="/w/index.php?title=Trilateration&amp;action=&amp;section=3" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Euclidean_distance" title="Euclidean distance">Euclidean distance</a></li>
<li><a href="/wiki/Multilateration" title="Multilateration">Multilateration</a> - position estimation using measurements of time difference of arrival at (or from) three or more sites.</li>
<li><a href="/wiki/Resection_(orientation)" title="Resection (orientation)">Resection</a></li>
<li><a href="/wiki/Triangulation" title="Triangulation">Triangulation</a></li>
<li><a href="/wiki/Global_positioning_system" title="Global positioning system" class="mw-redirect">Global positioning system</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Trilateration&amp;action=&amp;section=4" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.britannica.com/EBchecked/topic/605329/trilateration">Encyclopdia Britannica</a></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.diracdelta.co.uk/science/source/t/r/trilateration/source.html">diracdelta</a></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.globmaritime.com/technical-articles/marine-navigation/general-concepts/9622-trilateration-traverse-and-vertical-surveying.html">Global Maritime</a></span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.thefreedictionary.com/trilateration">free dictionary</a></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Trilateration&amp;action=&amp;section=5" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://babel.noc.teithe.gr/~dmanol/Papers/IEEE-AES-96-Efficient%20Solution-and-Performance-Analysis-of-3-D%20Position-Estimation-by-Trilateration.pdf">Efficient Solution and Performance Analysis of 3-D Position Estimation by Trilateration</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 297/1000000
Post-expand include size: 165/2048000 bytes
Template argument size: 0/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:702847-0!0!0!!en!4!* and timestamp 20120412105137 -->
