<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Carry_(arithmetic)&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(July 2011)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Elementary_arithmetic" title="Elementary arithmetic">elementary arithmetic</a> a <b>carry</b> is a <a href="/wiki/Digit" title="Digit">digit</a> that is transferred from one <a href="/wiki/Column" title="Column">column</a> of digits to another column of more significant digits during a calculation <a href="/wiki/Algorithm" title="Algorithm">algorithm</a>. When used in subtraction the operation is called a <b>borrow</b>. It is a central part of <a href="/wiki/Traditional_mathematics" title="Traditional mathematics">traditional mathematics</a>, but is often omitted from curricula based on <a href="/wiki/Reform_mathematics" title="Reform mathematics">reform mathematics</a>, which do not emphasize any specific method to find a correct answer.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Manual_arithmetic"><span class="tocnumber">1</span> <span class="toctext">Manual arithmetic</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Mathematics_education"><span class="tocnumber">1.1</span> <span class="toctext">Mathematics education</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-3"><a href="#Computing"><span class="tocnumber">2</span> <span class="toctext">Computing</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#See_also"><span class="tocnumber">3</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#External_links"><span class="tocnumber">4</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Carry_(arithmetic)&amp;action=&amp;section=1" title="Edit section: Manual arithmetic"></a>]</span> <span class="mw-headline" id="Manual_arithmetic">Manual arithmetic</span></h2>
<p>A typical example of carry is in the following pencil-and-paper <a href="/wiki/Addition" title="Addition">addition</a>:</p>
<pre>
  
  27
+ 59
----
  86
</pre>
<p>7 + 9 = 16, and the digit <a href="/wiki/1_(number)" title="1 (number)">1</a> is the carry.</p>
<p>The opposite is a <b>borrow</b>, as in</p>
<pre>
  <sup>1</sup>
  47
 19
----
  28
</pre>
<p>Here, 7  9 = 2, so try (10  9) + 7 = 8, and the 10 is got by taking ("borrowing") 1 from the next digit to the left. There are two ways in which this is commonly taught:</p>
<ol>
<li>The ten is <i>moved</i> from the next digit left, leaving in this example 3  1 in the tens column. According to this method, the term "borrow" is a <a href="/wiki/Misnomer" title="Misnomer">misnomer</a>, since the ten is never paid back.</li>
<li>The ten is <i>copied</i> from the next digit left, and then 'paid back' by adding it to the subtrahend in the column from which it was 'borrowed', giving in this example 4  (1 + 1) in the tens column.</li>
</ol>
<h3><span class="section">[<a href="/w/index.php?title=Carry_(arithmetic)&amp;action=&amp;section=2" title="Edit section: Mathematics education"></a>]</span> <span class="mw-headline" id="Mathematics_education">Mathematics education</span></h3>
<table class="metadata plainlinks ambox ambox-content ambox-globalize" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="Globe icon." src="//upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Ambox_globe_content.svg/48px-Ambox_globe_content.svg.png" width="48" height="40" /></div>
</td>
<td class="mbox-text" style="">The examples and perspective in this section <b>deal primarily with the United States and do not represent a <a href="/wiki/Wikipedia:WikiProject_Countering_systemic_bias" title="Wikipedia:WikiProject Countering systemic bias">worldwide view</a> of the subject</b>. Please <a class="external text" href="//en.wikipedia.org/w/index.php?title=Carry_(arithmetic)&amp;action=">improve this article</a> and discuss the issue on the <a href="/wiki/Talk:Carry_(arithmetic)" title="Talk:Carry (arithmetic)">talk page</a>. <small><i>(December 2010)</i></small></td>
</tr>
</table>
<p>Traditionally, carry is taught in the addition of multi-digit numbers in the 2nd or late first year of elementary school. However since the late 20th century, many widely adopted curricula developed in the United States such as <a href="/wiki/TERC" title="TERC">TERC</a> omitted instruction of the traditional carry method in favor of <a href="/w/index.php?title=Invented_arithmetic&amp;action=&amp;redlink=1" class="new" title="Invented arithmetic (page does not exist)">invented arithmetic</a> methods, and methods using coloring, manipulatives, and charts. Such omissions were criticized by such groups as <a href="/wiki/Mathematically_Correct" title="Mathematically Correct">Mathematically Correct</a>, and some states and districts have since abandoned this experiment, though it remains widely used.</p>
<h2><span class="section">[<a href="/w/index.php?title=Carry_(arithmetic)&amp;action=&amp;section=3" title="Edit section: Computing"></a>]</span> <span class="mw-headline" id="Computing">Computing</span></h2>
<p>When speaking of a <a href="/wiki/Digital_circuit" title="Digital circuit" class="mw-redirect">digital circuit</a> like an <a href="/wiki/Adder_(electronics)" title="Adder (electronics)">adder</a>, the word <i>carry</i> is used in a similar sense. In most <a href="/wiki/Computer" title="Computer">computers</a>, the carry from the most significant bit of an arithmetic operation (or bit shifted out from a shift operation) is placed in a special <i>carry bit</i> which can be used as a carry-in for multiple precision arithmetic or tested and used to control execution of a <a href="/wiki/Computer_program" title="Computer program">computer program</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Carry_(arithmetic)&amp;action=&amp;section=4" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Carry_flag" title="Carry flag">Carry flag</a>, the equivalent in a computer</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Carry_(arithmetic)&amp;action=&amp;section=5" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/carry">carry</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Carry"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Carry.html">Carry</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><span class="citation mathworld" id="Reference-Mathworld-Borrow"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Borrow.html">Borrow</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1135/1000000
Post-expand include size: 13400/2048000 bytes
Template argument size: 4494/2048000 bytes
Expensive parser function count: 3/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1629687-0!*!0!!en!4!* and timestamp 20120325122834 -->
