<p>In <a href="/wiki/Mathematics_education" title="Mathematics education">mathematics education</a> at <a href="/wiki/Primary_school" title="Primary school">primary school</a> level, <b>chunking</b> (sometimes also called the <b>partial quotients method</b>) is an elementary approach for solving simple <a href="/wiki/Division_(mathematics)" title="Division (mathematics)">division</a> questions, by repeated <a href="/wiki/Subtraction" title="Subtraction">subtraction</a>.</p>
<p>To calculate the result of dividing a large number by a small number, the student repeatedly takes away "chunks" of the large number, where each "chunk" is an easy multiple (for example 100, 10, 5 2, etc.) of the small number, until the large number has been reduced to zero or the remainder is less than the divisor. At the same time the student keeps a running total of what multiple of the small number has so far been taken away, which eventually becomes the final result of the sum.</p>
<p>So, for example, to calculate 132/8, one might successively subtract 80, 40 and 8 to leave 4,</p>
<pre>
      132
       80   (10  8)
       --
       52
       40   ( 5  8)
       --
       12
        8   ( 1  8) 
       --
        4
            --------  
      132 =  16  8 + 4
</pre>
<p>to establish that 132/8 is 16 with 4 remaining.</p>
<p>In the U.K. this approach for elementary division sums has come into widespread classroom use in primary schools since the late 1990s, when the <a href="/wiki/National_Numeracy_Strategy" title="National Numeracy Strategy">National Numeracy Strategy</a> in its "numeracy hour" brought in a new emphasis on more free-form oral and mental strategies for calculations, rather than the rote learning of standard methods.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<p>Compared to the <a href="/wiki/Short_division" title="Short division">short division</a> and <a href="/wiki/Long_division" title="Long division">long division</a> methods more traditionally taught, chunking may seem unfamiliar,<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> and also unsystematic, even arbitrary. However, it is argued that chunking, rather than moving straight to short division, gives a better introduction to division, in part because the focus is always holistic, focussing throughout on the whole calculation and its meaning, rather than just rules for generating successive digits; and because its more free-form nature requires genuine understanding to be successful, rather than just the ability to follow a ritualised procedure.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Chunking_(division)&amp;action=&amp;section=1" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> Gary Eason, <a rel="nofollow" class="external text" href="http://news.bbc.co.uk/1/hi/education/639937.stm">Back to school for parents</a>, <i>BBC News</i>, 13 February 2000.</li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> Rob Eastaway, <a rel="nofollow" class="external text" href="http://www.timesonline.co.uk/tol/life_and_style/education/article7126927.ece">Mum, Dad, thats not how we do it at school</a>, <i><a href="/wiki/The_Times" title="The Times">The Times</a></i>, 17 May 2010</li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> Anne Campbell, Gavin Fairbairn, <i>Working with support in the classroom</i>, SAGE, 2005; pp. <a rel="nofollow" class="external text" href="http://books.google.co.uk/books?id=-v7jeLBjzTMC&amp;pg=PA59">5960</a> via Google books</li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Chunking_(division)&amp;action=&amp;section=2" title="Edit section: Further reading"></a>]</span> <span class="mw-headline" id="Further_reading">Further reading</span></h2>
<ul>
<li>Rob Eastaway and Mike Askew (2010), <i>Maths for Mums and Dads</i>, Square Peg. <a href="/wiki/Special:BookSources/0224086359" class="internal mw-magiclink-isbn">ISBN 0224086359</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 94/1000000
Post-expand include size: 165/2048000 bytes
Template argument size: 0/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:27438986-0!*!0!!*!*!* and timestamp 20120229011109 generated by srv260 -->
