<table class="metadata plainlinks ambox ambox-style ambox-No_footnotes" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Text_document_with_red_question_mark.svg/40px-Text_document_with_red_question_mark.svg.png" width="40" height="40" /></div>
</td>
<td class="mbox-text" style="">This article includes a <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">list of references</a>, related reading or <a href="/wiki/Wikipedia:External_links" title="Wikipedia:External links">external links</a>, but <b>its sources remain unclear because it lacks <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">inline citations</a></b>. Please <a href="/wiki/Wikipedia:WikiProject_Fact_and_Reference_Check" title="Wikipedia:WikiProject Fact and Reference Check">improve</a> this article by introducing more precise citations. <small><i>(January 2009)</i></small></td>
</tr>
</table>
<p><b>Finger binary</b> is a system for <a href="/wiki/Finger_counting" title="Finger counting">counting</a> and displaying <a href="/wiki/Binary_numeral_system" title="Binary numeral system">binary numbers</a> on the <a href="/wiki/Finger" title="Finger">fingers</a> of one or more <a href="/wiki/Hand" title="Hand">hands</a>. It is possible to count from 0 to 31 (2<sup>5</sup>1) using the fingers of a single hand, or from 0 through 1023 (2<sup>10</sup>1) if both hands are used.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Mechanics"><span class="tocnumber">1</span> <span class="toctext">Mechanics</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Examples"><span class="tocnumber">1.1</span> <span class="toctext">Examples</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-3"><a href="#Negative_numbers_and_non-integers"><span class="tocnumber">2</span> <span class="toctext">Negative numbers and non-integers</span></a>
<ul>
<li class="toclevel-2 tocsection-4"><a href="#Negative_numbers"><span class="tocnumber">2.1</span> <span class="toctext">Negative numbers</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Fractions"><span class="tocnumber">2.2</span> <span class="toctext">Fractions</span></a>
<ul>
<li class="toclevel-3 tocsection-6"><a href="#Dyadic_fractions"><span class="tocnumber">2.2.1</span> <span class="toctext">Dyadic fractions</span></a></li>
<li class="toclevel-3 tocsection-7"><a href="#Rational_numbers"><span class="tocnumber">2.2.2</span> <span class="toctext">Rational numbers</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-8"><a href="#Decimal_fractions_and_vulgar_fractions"><span class="tocnumber">2.3</span> <span class="toctext">Decimal fractions and vulgar fractions</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-9"><a href="#Finger_ternary"><span class="tocnumber">3</span> <span class="toctext">Finger ternary</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#References"><span class="tocnumber">5</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#External_links"><span class="tocnumber">6</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Finger_binary&amp;action=&amp;section=1" title="Edit section: Mechanics"></a>]</span> <span class="mw-headline" id="Mechanics">Mechanics</span></h2>
<div class="rellink">Further information: <a href="/wiki/Binary_numeral_system" title="Binary numeral system">Binary numeral system</a></div>
<p>In the binary number system, each <a href="/wiki/Numerical_digit" title="Numerical digit">numerical digit</a> has two possible states (0 or 1) and each successive digit represents an increasing <a href="/wiki/Power_of_two" title="Power of two">power of two</a>. The rightmost digit represents two to the <a href="/wiki/Zeroth_power" title="Zeroth power" class="mw-redirect">zeroth power</a> (i.e., it is the "ones digit"); the digit to its left represents two to the first power (the "twos digit"); the next digit to the left represents two to the second power (the "fours digit"); and so on. (The <a href="/wiki/Decimal_number_system" title="Decimal number system" class="mw-redirect">decimal number system</a> is essentially the same, only that powers of ten are used: "ones digit", "tens digit" "hundreds digit", etc.)</p>
<p>It is possible to use <a href="/wiki/Digit_(anatomy)" title="Digit (anatomy)">anatomical digits</a> to represent <a href="/wiki/Numerical_digit" title="Numerical digit">numerical digits</a> by using a raised finger to represent a binary digit in the "1" state and a lowered finger to represent it in the "0" state. Each successive finger represents a higher power of two. With palms oriented toward the counter's face, the values are:</p>
<table class="wikitable" style="text-align:center">
<tr>
<th></th>
<th><a href="/wiki/Little_finger" title="Little finger">Pinky</a></th>
<th><a href="/wiki/Ring_finger" title="Ring finger">Ring</a></th>
<th><a href="/wiki/Middle_finger" title="Middle finger">Middle</a></th>
<th><a href="/wiki/Index_finger" title="Index finger">Index</a></th>
<th><a href="/wiki/Thumb" title="Thumb">Thumb</a></th>
</tr>
<tr>
<th>Power of two</th>
<td>2<sup>4</sup></td>
<td>2<sup>3</sup></td>
<td>2<sup>2</sup></td>
<td>2<sup>1</sup></td>
<td>2<sup>0</sup></td>
</tr>
<tr>
<th>Value</th>
<td>16</td>
<td>8</td>
<td>4</td>
<td>2</td>
<td>1</td>
</tr>
</table>
<p>if only the right hand is used, and:</p>
<table class="wikitable" style="text-align:center">
<tr>
<th rowspan="2"></th>
<th colspan="5">Left hand</th>
<th colspan="5">Right hand</th>
</tr>
<tr>
<th>Thumb</th>
<th>Index</th>
<th>Middle</th>
<th>Ring</th>
<th>Pinky</th>
<th>Pinky</th>
<th>Ring</th>
<th>Middle</th>
<th>Index</th>
<th>Thumb</th>
</tr>
<tr>
<th>Power of two</th>
<td>2<sup>9</sup></td>
<td>2<sup>8</sup></td>
<td>2<sup>7</sup></td>
<td>2<sup>6</sup></td>
<td>2<sup>5</sup></td>
<td>2<sup>4</sup></td>
<td>2<sup>3</sup></td>
<td>2<sup>2</sup></td>
<td>2<sup>1</sup></td>
<td>2<sup>0</sup></td>
</tr>
<tr>
<th>Value</th>
<td>512</td>
<td>256</td>
<td>128</td>
<td>64</td>
<td>32</td>
<td>16</td>
<td>8</td>
<td>4</td>
<td>2</td>
<td>1</td>
</tr>
</table>
<p>if both hands are used.</p>
<p>The values of each raised finger are added together to arrive at a total number. In the one-handed version, all fingers raised is thus <b>31</b> (16 + 8 + 4 + 2 + 1), and all fingers lowered (a fist) is 0. In the two-handed system, all fingers raised is <b>1,023</b> (512 + 256 + 128 + 64 + 32 + 16 + 8 + 4 + 2 + 1) and two fists (no fingers raised) represents 0.</p>
<p>It is also possible to have each hand represent an independent number between 0 and 31; this can be used to represent various types of paired numbers, such as <a href="/wiki/Month" title="Month">month</a> and <a href="/wiki/Day" title="Day">day</a>, X-Y <a href="/wiki/Coordinate" title="Coordinate" class="mw-redirect">coordinates</a>, or sports scores (such as for <a href="/wiki/Table_tennis" title="Table tennis">table tennis</a> or <a href="/wiki/Baseball" title="Baseball">baseball</a>).</p>
<h3><span class="section">[<a href="/w/index.php?title=Finger_binary&amp;action=&amp;section=2" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h3>
<ul class="gallery">
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:18.5px auto;"><a href="/wiki/File:LSQ_a.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/82/LSQ_a.jpg/120px-LSQ_a.jpg" width="120" height="113" /></a></div>
</div>
<div class="gallerytext">
<p>0</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:28px auto;"><a href="/wiki/File:Index_finger.JPG" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/d/d5/Index_finger.JPG/120px-Index_finger.JPG" width="120" height="94" /></a></div>
</div>
<div class="gallerytext">
<p>2</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:18.5px auto;"><a href="/wiki/File:LSQ_v.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/26/LSQ_v.jpg/120px-LSQ_v.jpg" width="120" height="113" /></a></div>
</div>
<div class="gallerytext">
<p>6 = 4 + 2</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Tri_prsta.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Tri_prsta.jpg/98px-Tri_prsta.jpg" width="98" height="120" /></a></div>
</div>
<div class="gallerytext">
<p>7 = 4 + 2 + 1</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:17px auto;"><a href="/wiki/File:LSQ_6.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/03/LSQ_6.jpg/120px-LSQ_6.jpg" width="120" height="116" /></a></div>
</div>
<div class="gallerytext">
<p>14 = 8 + 4 + 2</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:18.5px auto;"><a href="/wiki/File:LSQ_i.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/af/LSQ_i.jpg/120px-LSQ_i.jpg" width="120" height="113" /></a></div>
</div>
<div class="gallerytext">
<p>16</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:18.5px auto;"><a href="/wiki/File:LSQ_y.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/LSQ_y.jpg/120px-LSQ_y.jpg" width="120" height="113" /></a></div>
</div>
<div class="gallerytext">
<p>17 = 16 + 1</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:17px auto;"><a href="/wiki/File:LSQ_8.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c8/LSQ_8.jpg/120px-LSQ_8.jpg" width="120" height="116" /></a></div>
</div>
<div class="gallerytext">
<p>26 = 16 + 8 + 2</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:17px auto;"><a href="/wiki/File:LSQ_9.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/de/LSQ_9.jpg/120px-LSQ_9.jpg" width="120" height="116" /></a></div>
</div>
<div class="gallerytext">
<p>28 = 16 + 8 + 4</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:17px auto;"><a href="/wiki/File:LSQ_4.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ef/LSQ_4.jpg/120px-LSQ_4.jpg" width="120" height="116" /></a></div>
</div>
<div class="gallerytext">
<p>30 = 16 + 8 + 4 + 2</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:17px auto;"><a href="/wiki/File:LSQ_5.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f1/LSQ_5.jpg/120px-LSQ_5.jpg" width="120" height="116" /></a></div>
</div>
<div class="gallerytext">
<p>31 = 16 + 8 + 4 + 2 + 1</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Chinesische.Zahl.Eins.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/32/Chinesische.Zahl.Eins.jpg/110px-Chinesische.Zahl.Eins.jpg" width="110" height="120" /></a></div>
</div>
<div class="gallerytext">
<p>256</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Chinesische.Zahl.Drei.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Chinesische.Zahl.Drei.jpg/115px-Chinesische.Zahl.Drei.jpg" width="115" height="120" /></a></div>
</div>
<div class="gallerytext">
<p>448 = 256 + 128 + 64</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Chinesische.Zahl.Vier.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Chinesische.Zahl.Vier.jpg/119px-Chinesische.Zahl.Vier.jpg" width="119" height="120" /></a></div>
</div>
<div class="gallerytext">
<p>480 = 256 + 128 + 64 + 32</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Thumbs_up.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Thumbs_up.jpg/84px-Thumbs_up.jpg" width="84" height="120" /></a></div>
</div>
<div class="gallerytext">
<p>512</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:21px auto;"><a href="/wiki/File:Chinesische.Zahl.Sechs.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Chinesische.Zahl.Sechs.jpg/120px-Chinesische.Zahl.Sechs.jpg" width="120" height="108" /></a></div>
</div>
<div class="gallerytext">
<p>544 = 512 + 32</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:24px auto;"><a href="/wiki/File:Chinesische.Zahl.Acht.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/94/Chinesische.Zahl.Acht.jpg/120px-Chinesische.Zahl.Acht.jpg" width="120" height="102" /></a></div>
</div>
<div class="gallerytext">
<p>768 = 512 + 256</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:20px auto;"><a href="/wiki/File:Chinesische.Zahl.Fuenf.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Chinesische.Zahl.Fuenf.jpg/120px-Chinesische.Zahl.Fuenf.jpg" width="120" height="110" /></a></div>
</div>
<div class="gallerytext">
<p>992 = 512 + 256 + 128 + 64 + 32</p>
</div>
</div>
</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Finger_binary&amp;action=&amp;section=3" title="Edit section: Negative numbers and non-integers"></a>]</span> <span class="mw-headline" id="Negative_numbers_and_non-integers">Negative numbers and non-integers</span></h2>
<div class="rellink boilerplate seealso">For more details on this topic, see <a href="/wiki/Binary_numeral_system#Representing_real_numbers" title="Binary numeral system">Binary numeral system#Representing real numbers</a>.</div>
<p>Just as fractional and negative numbers can be represented in binary, they can be represented in finger binary.</p>
<h3><span class="section">[<a href="/w/index.php?title=Finger_binary&amp;action=&amp;section=4" title="Edit section: Negative numbers"></a>]</span> <span class="mw-headline" id="Negative_numbers">Negative numbers</span></h3>
<p>Representing negative numbers is extremely simple, by using the leftmost finger as a <a href="/wiki/Sign_bit" title="Sign bit">sign bit</a>: raised means the number is negative, in a <a href="/wiki/Sign-magnitude" title="Sign-magnitude" class="mw-redirect">sign-magnitude</a> system. Anywhere between -511 and +511 can be represented this way, using two hands. Note that, in this system, both a positive and a negative zero may be represented.</p>
<p>If a convention were reached on palm up/palm down representing positive/negative, you could maintain 2^10 - 1 in both positive and negative numbers (-1023 to +1023, with positive and negative zero still represented).</p>
<h3><span class="section">[<a href="/w/index.php?title=Finger_binary&amp;action=&amp;section=5" title="Edit section: Fractions"></a>]</span> <span class="mw-headline" id="Fractions">Fractions</span></h3>
<p>There are multiple ways of representing fractions in finger binary.</p>
<h4><span class="section">[<a href="/w/index.php?title=Finger_binary&amp;action=&amp;section=6" title="Edit section: Dyadic fractions"></a>]</span> <span class="mw-headline" id="Dyadic_fractions">Dyadic fractions</span></h4>
<p>Fractions can be stored natively in a binary format by having each finger represent a fractional power of two: <img class="tex" alt="\tfrac{1}{2^x}" src="//upload.wikimedia.org/wikipedia/en/math/7/e/d/7ed68125c51416a69847be82843cdc5e.png" />. (These are known as <a href="/wiki/Dyadic_fraction" title="Dyadic fraction" class="mw-redirect">dyadic fractions</a>.)</p>
<p>Using the left hand only:</p>
<table class="wikitable" style="text-align:center">
<tr>
<th></th>
<th>Thumb</th>
<th>Index</th>
<th>Middle</th>
<th>Ring</th>
<th>Pinky</th>
</tr>
<tr>
<th>Value</th>
<td>1/2</td>
<td>1/4</td>
<td>1/8</td>
<td>1/16</td>
<td>1/32</td>
</tr>
</table>
<p>Using two hands:</p>
<table class="wikitable" style="text-align:center">
<tr>
<th colspan="5"><big>Left Hand</big></th>
<th colspan="5"><big>Right Hand</big></th>
</tr>
<tr>
<th>Thumb</th>
<th>Index</th>
<th>Middle</th>
<th>Ring</th>
<th>Pinky</th>
<th>Pinky</th>
<th>Ring</th>
<th>Middle</th>
<th>Index</th>
<th>Thumb</th>
</tr>
<tr>
<td>1/2</td>
<td>1/4</td>
<td>1/8</td>
<td>1/16</td>
<td>1/32</td>
<td>1/64</td>
<td>1/128</td>
<td>1/256</td>
<td>1/512</td>
<td>1/1024</td>
</tr>
</table>
<div style="clear:both;"></div>
<div class="thumb tright">
<div class="thumbinner" style="width:178px;"><a href="/wiki/File:Chinesische.Zahl.Acht.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/9/94/Chinesische.Zahl.Acht.jpg" width="176" height="150" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Chinesische.Zahl.Acht.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
3/4, in fractional finger binary</div>
</div>
</div>
<p>The total is calculated by adding all the values in the same way as regular (non-fractional) finger binary, then dividing by the largest fractional power being used (32 for one-handed fractional binary, 1024 for two-handed), and <a href="/wiki/Fraction_(mathematics)#Equivalent_fractions" title="Fraction (mathematics)">simplifying the fraction</a> as necessary.</p>
<p>For example, with thumb and index finger raised on the left hand and no fingers raised on the right hand, this is (512 + 256)/1024 = 768/1024 = 3/4. If using only one hand (left or right), it would be (16 + 8)/32 = 24/32 = 3/4 also.</p>
<p>The simplification process can itself be greatly simplified by performing a <a href="/wiki/Bit_shift" title="Bit shift" class="mw-redirect">bit shift</a> operation: all digits to the right of the rightmost raised finger (i.e., all trailing zeros) are discarded and the rightmost raised finger is treated as the ones digit. The digits are added together using their now-shifted values to determine the <a href="/wiki/Numerator" title="Numerator" class="mw-redirect">numerator</a> and the rightmost finger's original value is used to determine the <a href="/wiki/Denominator" title="Denominator" class="mw-redirect">denominator</a>.</p>
<p>For instance, if the thumb and index finger on the left hand are the only raised digits, the rightmost raised finger (the index finger) becomes "1". The thumb, to its immediate right, is now the 2s digit; added together, they equal 3. The index finger's original value (1/4) determines the denominator: the result is 3/4.</p>
<h4><span class="section">[<a href="/w/index.php?title=Finger_binary&amp;action=&amp;section=7" title="Edit section: Rational numbers"></a>]</span> <span class="mw-headline" id="Rational_numbers">Rational numbers</span></h4>
<p>Combined <a href="/wiki/Integer" title="Integer">integer</a> and fractional values (i.e., <a href="/wiki/Rational_number" title="Rational number">rational numbers</a>) can be represented by setting a <a href="/wiki/Radix_point" title="Radix point">radix point</a> somewhere between two fingers (for instance, between the left and right pinkies). All digits to the left of the radix point are integers; those to the right are fractional.</p>
<h3><span class="section">[<a href="/w/index.php?title=Finger_binary&amp;action=&amp;section=8" title="Edit section: Decimal fractions and vulgar fractions"></a>]</span> <span class="mw-headline" id="Decimal_fractions_and_vulgar_fractions">Decimal fractions and vulgar fractions</span></h3>
<p><a href="/wiki/Dyadic_fraction" title="Dyadic fraction" class="mw-redirect">Dyadic fractions</a>, explained above, unfortunately have limited use in a society based around decimal figures. A simple non-dyadic fraction such as 1/3 can be approximated as 341/1024 (0.3330078125), but the conversion between dyadic and <a href="/wiki/Decimal_fraction" title="Decimal fraction" class="mw-redirect">decimal</a> (0.333) or <a href="/wiki/Vulgar_fraction" title="Vulgar fraction" class="mw-redirect">vulgar</a> (1/3) forms is complicated.</p>
<p>Instead, either decimal or vulgar fractions can be represented natively in finger binary. Decimal fractions can be represented by using regular integer binary methods and dividing the result by 10, 100, 1000, or some other power of ten. Numbers between 0 and 102.3, 10.23, 1.023, etc. can be represented this way, in increments of 0.1, 0.01, 0.001, etc.</p>
<p><a href="/wiki/Vulgar_fraction" title="Vulgar fraction" class="mw-redirect">Vulgar fractions</a> can be represented by using one hand to represent the <a href="/wiki/Numerator" title="Numerator" class="mw-redirect">numerator</a> and one hand to represent the <a href="/wiki/Denominator" title="Denominator" class="mw-redirect">denominator</a>; a spectrum of rational numbers can be represented this way, ranging from 1/31 to 31/1 (as well as 0).</p>
<h2><span class="section">[<a href="/w/index.php?title=Finger_binary&amp;action=&amp;section=9" title="Edit section: Finger ternary"></a>]</span> <span class="mw-headline" id="Finger_ternary">Finger ternary</span></h2>
<p>In theory, it is possible to use other positions of the fingers to represent more than two states (0 and 1); for instance, a <a href="/wiki/Ternary_numeral_system" title="Ternary numeral system">ternary numeral system</a> (<a href="/wiki/Number_base" title="Number base" class="mw-redirect">base</a> 3) could be used by having a fully raised finger represent 2, fully lowered represent 0, and "curled" (half-lowered) represent 1. This would make it possible to count up to 59,048 (3<sup>10</sup>1) on two hands. In practice, however, many people will find it difficult to hold all fingers independently (especially the middle and ring fingers) in more than two distinct positions.</p>
<h2><span class="section">[<a href="/w/index.php?title=Finger_binary&amp;action=&amp;section=10" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Chisanbop" title="Chisanbop">Chisanbop</a></li>
<li><a href="/wiki/Senary#Finger_counting" title="Senary">Senary#Finger counting</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Finger_binary&amp;action=&amp;section=11" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation book">Pohl, Frederik (2003). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=XsLXJMagfmUC&amp;pg=PA187&amp;dq=fingers+binary+1023#PPA187,M1"><i>Chasing Science</i></a> (reprint, illustrated ed.). Macmillan. pp.&#160;304. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/9780765308290" title="Special:BookSources/9780765308290">9780765308290</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=XsLXJMagfmUC&amp;pg=PA187&amp;dq=fingers+binary+1023#PPA187,M1">http://books.google.com/books?id=XsLXJMagfmUC&amp;pg=PA187&amp;dq=fingers+binary+1023#PPA187,M1</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Chasing+Science&amp;rft.aulast=Pohl&amp;rft.aufirst=Frederik&amp;rft.au=Pohl%2C%26%2332%3BFrederik&amp;rft.date=2003&amp;rft.pages=pp.%26nbsp%3B304&amp;rft.ion=reprint%2C+illustrated&amp;rft.pub=Macmillan&amp;rft.isbn=9780765308290&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DXsLXJMagfmUC%26pg%3DPA187%26dq%3Dfingers%2Bbinary%2B1023%23PPA187%2CM1&amp;rfr_id=info:sid/en.wikipedia.org:Finger_binary"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation book">Pohl, Frederik (1976). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=fDxbAAAAMAAJ&amp;q=fingers+binary+1023&amp;dq=fingers+binary+1023&amp;pgis=1"><i>The Best of Frederik Pohl</i></a>. Sidgwick &amp; Jackson. pp.&#160;363<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=fDxbAAAAMAAJ&amp;q=fingers+binary+1023&amp;dq=fingers+binary+1023&amp;pgis=1">http://books.google.com/books?id=fDxbAAAAMAAJ&amp;q=fingers+binary+1023&amp;dq=fingers+binary+1023&amp;pgis=1</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+Best+of+Frederik+Pohl&amp;rft.aulast=Pohl&amp;rft.aufirst=Frederik&amp;rft.au=Pohl%2C%26%2332%3BFrederik&amp;rft.date=1976&amp;rft.pages=pp.%26nbsp%3B363&amp;rft.pub=Sidgwick+%26+Jackson&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DfDxbAAAAMAAJ%26q%3Dfingers%2Bbinary%2B1023%26dq%3Dfingers%2Bbinary%2B1023%26pgis%3D1&amp;rfr_id=info:sid/en.wikipedia.org:Finger_binary"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation book">Fahnestock, James D. (1959). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=j_0mAAAAMAAJ&amp;q=fingers+binary+1023&amp;dq=fingers+binary+1023&amp;pgis=1"><i>Computers and how They Work</i></a>. Ziff-Davis Pub. Co.. pp.&#160;228<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=j_0mAAAAMAAJ&amp;q=fingers+binary+1023&amp;dq=fingers+binary+1023&amp;pgis=1">http://books.google.com/books?id=j_0mAAAAMAAJ&amp;q=fingers+binary+1023&amp;dq=fingers+binary+1023&amp;pgis=1</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Computers+and+how+They+Work&amp;rft.aulast=Fahnestock&amp;rft.aufirst=James+D.&amp;rft.au=Fahnestock%2C%26%2332%3BJames+D.&amp;rft.date=1959&amp;rft.pages=pp.%26nbsp%3B228&amp;rft.pub=Ziff-Davis+Pub.+Co.&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3Dj_0mAAAAMAAJ%26q%3Dfingers%2Bbinary%2B1023%26dq%3Dfingers%2Bbinary%2B1023%26pgis%3D1&amp;rfr_id=info:sid/en.wikipedia.org:Finger_binary"><span style="display: none;">&#160;</span></span></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Finger_binary&amp;action=&amp;section=12" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.instructables.com/id/Binary-Counting/">Binary Counting</a></li>
</ul>
<table cellspacing="0" class="navbox" style="border-spacing:0;;">
<tr>
<td style="padding:2px;">
<table cellspacing="0" class="nowraplinks collapsible autocollapse navbox-inner" style="border-spacing:0;background:transparent;color:inherit;;">
<tr>
<th scope="col" style=";" class="navbox-title" colspan="2">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Gestures" title="Template:Gestures"><span title="View this template" style=";;background:none transparent;border:none;">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Gestures" title="Template talk:Gestures"><span title="Discuss this template" style=";;background:none transparent;border:none;">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Gestures&amp;action="><span title="Edit this template" style=";;background:none transparent;border:none;">e</span></a></li>
</ul>
</div>
<div class="" style="font-size:110%;"><a href="/wiki/Gesture" title="Gesture">Gestures</a></div>
</th>
</tr>
<tr style="height:2px;">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;"><span class="nowrap">Friendly gestures</span></th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-odd">
<div style="padding:0em 0.25em"><a href="/wiki/Air_kiss" title="Air kiss">Air kiss</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/A-ok" title="A-ok">A-ok</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Cheek_kissing" title="Cheek kissing">Cheek kissing</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Dap_greeting" title="Dap greeting">Dap greeting</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Elbow_bump" title="Elbow bump">Elbow bump</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Eskimo_kissing" title="Eskimo kissing">Eskimo kissing</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Fist_bump" title="Fist bump">Fist bump</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Hat_tip" title="Hat tip">Hat tip</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/High_five" title="High five">High five</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Hongi" title="Hongi">Hongi</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/ILY_sign" title="ILY sign">ILY sign</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Namaste" title="Namaste">Namaste</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Pound_hug" title="Pound hug">Pound hug</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Sign_of_the_horns" title="Sign of the horns">Sign of the horns</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Shaka_sign" title="Shaka sign">Shaka</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Thumbs_signal" title="Thumbs signal">Thumbs signal</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Thai_greeting" title="Thai greeting">Wai</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Formal gestures</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-even">
<div style="padding:0em 0.25em"><a href="/wiki/Adab_(gesture)" title="Adab (gesture)">Adab</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Bowing" title="Bowing">Bowing</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Curtsey" title="Curtsey">Curtsey</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Genuflection" title="Genuflection">Genuflection</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Hand-kissing" title="Hand-kissing">Hand-kissing</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Handshake" title="Handshake">Handshake</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Kowtow" title="Kowtow">Kowtow</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Mano_(gesture)" title="Mano (gesture)">Mano</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Namaste" title="Namaste">Namaste</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Zolgokh" title="Zolgokh">Zolgokh</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;"><a href="/wiki/Salute" title="Salute">Salutes</a></th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-odd">
<div style="padding:0em 0.25em"><a href="/wiki/Bellamy_salute" title="Bellamy salute">Bellamy salute</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Nazi_salute" title="Nazi salute">Nazi salute</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Raised_fist" title="Raised fist">Raised fist</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Roman_salute" title="Roman salute">Roman salute</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Scout_sign_and_salute" title="Scout sign and salute">Scout sign and salute</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Three-finger_salute_(Serbian)" title="Three-finger salute (Serbian)">Three-finger salute</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Two-finger_salute" title="Two-finger salute">Two-finger salute</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Vulcan_salute" title="Vulcan salute">Vulcan salute</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Zogist_salute" title="Zogist salute">Zogist salute</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Celebratory gestures</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-even">
<div style="padding:0em 0.25em"><a href="/wiki/Applause" title="Applause">Applause</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Fist_pump" title="Fist pump">Fist pump</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/High_five" title="High five">High five</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Victory_clasp" title="Victory clasp">Victory clasp</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;"><a href="/wiki/Finger_counting" title="Finger counting">Finger counting</a></th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-odd">
<div style="padding:0em 0.25em"><a href="/wiki/Chinese_number_gestures" title="Chinese number gestures">Chinese number gestures</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Chisanbop" title="Chisanbop">Chisanbop</a>&#160;<span style="font-weight:bold;"></span> <strong class="selflink">Finger binary</strong></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;"><a href="/wiki/Obscene_gesture" title="Obscene gesture">Obscene gestures</a></th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-even">
<div style="padding:0em 0.25em"><a href="/wiki/Bras_d%27honneur" title="Bras d'honneur">Bras d'honneur</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Dulya" title="Dulya">Dulya</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Finger_(gesture)" title="Finger (gesture)">Finger</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Mooning" title="Mooning">Mooning</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Moutza" title="Moutza">Moutza</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Shocker_(hand_gesture)" title="Shocker (hand gesture)">Shocker</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/V_sign" title="V sign">V sign</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Wanker" title="Wanker">Wanker</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;"><a href="/wiki/Taunts" title="Taunts" class="mw-redirect">Taunts</a></th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-odd">
<div style="padding:0em 0.25em"><a href="/wiki/Akanbe" title="Akanbe">Akanbe</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Loser_(hand_gesture)" title="Loser (hand gesture)">Loser</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Talk_to_the_hand" title="Talk to the hand">Talk to the hand</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Head motions</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-even">
<div style="padding:0em 0.25em"><a href="/wiki/Nod_(gesture)" title="Nod (gesture)">Nod</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Head_shake" title="Head shake">Head shake</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Head_bobble" title="Head bobble">Head bobble</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Other gestures</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-odd">
<div style="padding:0em 0.25em"><a href="/wiki/Air_quotes" title="Air quotes">Air quotes</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Anasyrma" title="Anasyrma">Anasyrma</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Crossed_fingers" title="Crossed fingers">Crossed fingers</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Facepalm" title="Facepalm">Facepalm</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Finger_gun" title="Finger gun">Finger gun</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Gang_signal" title="Gang signal">Gang signal</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Hand-rubbing" title="Hand-rubbing">Hand-rubbing</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Jazz_hands" title="Jazz hands">Jazz hands</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Kuji-in" title="Kuji-in">Kuji-in</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Laban_sign" title="Laban sign">Laban sign</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Mudra" title="Mudra">Mudra</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Pollice_verso" title="Pollice verso">Pollice verso</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Puppy_face" title="Puppy face">Puppy face</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Shrug" title="Shrug">Shrug</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Sign_of_the_Cross" title="Sign of the Cross">Sign of the Cross</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Varadamudra" title="Varadamudra">Varadamudra</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/V_sign" title="V sign">V sign</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Related</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-even">
<div style="padding:0em 0.25em"><a href="/wiki/List_of_gestures" title="List of gestures">List of gestures</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Articulatory_gestures" title="Articulatory gestures">Articulatory gestures</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Manual_communication" title="Manual communication">Manual communication</a>&#160;<span style="font-weight:bold;"></span> <a href="/wiki/Sign_language" title="Sign language">Sign language</a></div>
</td>
</tr>
</table>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 3306/1000000
Post-expand include size: 55190/2048000 bytes
Template argument size: 21103/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:2266631-0!0!0!!en!4!* and timestamp 20120412192821 -->
