<div class="thumb tright">
<div class="thumbinner" style="width:196px;"><a href="/wiki/File:Arithmetic_for_parents.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/5/5a/Arithmetic_for_parents.png" width="194" height="301" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Arithmetic_for_parents.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.18/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Book cover</div>
</div>
</div>
<p><b>Arithmetic for Parents</b> is a book for grownups about children's mathematics.</p>
<p>It is mainly aimed at teachers and at parents who wish to help their children in their mathematical studies. It is also aimed at grownups who wish to return to their childhood mathematics, and to have a new look at the material, from a more mature perspective.</p>
<p>The author, <a href="/wiki/Ron_Aharoni" title="Ron Aharoni">Ron Aharoni</a>, is a professor of mathematics at the <a href="/wiki/Technion_%E2%80%93_Israel_Institute_of_Technology" title="Technion  Israel Institute of Technology" class="mw-redirect">Technion</a>. He spent the last eight years teaching mathematics and guiding teachers in elementary schools.</p>
<p>The book was originally written in Hebrew and was translated to English, Portuguese and Arabic.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#How_the_book_originated"><span class="tocnumber">1</span> <span class="toctext">How the book originated</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#The_structure_of_the_book"><span class="tocnumber">2</span> <span class="toctext">The structure of the book</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#See_also"><span class="tocnumber">3</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#External_links"><span class="tocnumber">4</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Arithmetic_for_Parents&amp;action=&amp;section=1" title="Edit section: How the book originated"></a>]</span> <span class="mw-headline" id="How_the_book_originated">How the book originated</span></h2>
<p>Accepting an offer of a friend, Aharoni taught three years in elementary schools in <a href="/wiki/Ma%27alot-Tarshiha" title="Ma'alot-Tarshiha">Maalot</a>, a frontier town in the north of Israel. By his testimony, he discovered that elementary mathematics is not always that simple, and that it contains a lot of fine points, essential to its teaching. He attempts to convey this message to the reader, and to the mathematical education community.</p>
<h2><span class="section">[<a href="/w/index.php?title=Arithmetic_for_Parents&amp;action=&amp;section=2" title="Edit section: The structure of the book"></a>]</span> <span class="mw-headline" id="The_structure_of_the_book">The structure of the book</span></h2>
<p>The book is divided into three parts. The first deals with the question of what is mathematics, and what are the main topics taught in elementary school. It turns out that the answer to the last question is particularly simple&#160;: the four arithmetical operations  addition, subtraction, multiplication and division. But this simplicity is deceptive, since there are two sides to the operations: meaning and calculation. "Meaning" is the real life situations in which the operations are needed. The calculation is carried out in the decimal system, so the second main topic studied is in fact the decimal system. The second part of the book describes basic didactic rules. The author claims that there are three basic principles in the teaching of mathematics:</p>
<ol>
<li>Systematic teaching</li>
<li>Concreteness</li>
<li>Using words.</li>
</ol>
<p><b>Systematic</b> teaching means not skipping stages. Mathematics is built layer upon layer, and missing a stage means trying to build a floor upon a missing floor. One of the messages of the book is that elementary mathematics has many hidden links, that are easy to skip since for the grownup they are too self evident, and he or she have never formulated them explicitly to themselves. For example, the fact that an operation can have more than one meaning; the similarity between multiplication and counting (in both some unit is repeated. This is the reason that in Algebra one writes "2x" for "2 times x",); the meaning of the decimal system as repeated collecting of tens.</p>
<p><b>Concreteness</b> means hands-on experience. To grasp the concept of the number the student has to count objects, again and again. To understand the decimal system he or she has to collect tens by him (or her) self.</p>
<p><b>Words</b> are the cement gluing ideas together. They enable two things: to consolidate principles that have been learnt, and communication about these principles, with others and with oneself. To build a new layer, it is not enough to have an intuitive grasp of the previous layer. The principles should be formulated in words. One of the messages of the book is that one should not be weary of using precise and explicit formulations in elementary schools.</p>
<p>The third part of the book consists of detailed, yet clear explanation of the mathematics of elementary school, from Grade 1 to Grade 6.</p>
<h2><span class="section">[<a href="/w/index.php?title=Arithmetic_for_Parents&amp;action=&amp;section=3" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Mathematics_education" title="Mathematics education">Mathematics education</a></li>
<li><a href="/wiki/Elementary_arithmetic" title="Elementary arithmetic">Elementary arithmetic</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Arithmetic_for_Parents&amp;action=&amp;section=4" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.sumizdat.org/">Description at Sumizdat</a></li>
<li><a rel="nofollow" class="external text" href="http://www.orimosenzon.com/wiki/index.php/Arithmetic_for_parents_preview">A preview of the book</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 15/1000000
Post-expand include size: 0/2048000 bytes
Template argument size: 0/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:22225493-0!*!0!!en!4!* and timestamp 20120229080753 generated by srv243 -->
