<table class="metadata plainlinks ambox ambox-style ambox-Tone" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/f/f2/Edit-clear.svg/40px-Edit-clear.svg.png" width="40" height="40" /></div>
</td>
<td class="mbox-text" style="">This article's <b><a href="/wiki/Wikipedia:TONE" title="Wikipedia:TONE" class="mw-redirect">tone</a> or style may not reflect the formal tone used on Wikipedia</b>. Specific concerns may be found on the <a href="/wiki/Talk:Elementary_arithmetic" title="Talk:Elementary arithmetic">talk page</a>. See Wikipedia's <a href="/wiki/Wikipedia:Guide_to_writing_better_articles" title="Wikipedia:Guide to writing better articles" class="mw-redirect">guide to writing better articles</a> for suggestions. <small><i>(March 2012)</i></small></td>
</tr>
</table>
<table class="metadata plainlinks ambox ambox-style ambox-No_footnotes" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Text_document_with_red_question_mark.svg/40px-Text_document_with_red_question_mark.svg.png" width="40" height="40" /></div>
</td>
<td class="mbox-text" style="">This article includes a <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">list of references</a>, related reading or <a href="/wiki/Wikipedia:External_links" title="Wikipedia:External links">external links</a>, but <b>its sources remain unclear because it lacks <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">inline citations</a></b>. Please <a href="/wiki/Wikipedia:WikiProject_Fact_and_Reference_Check" title="Wikipedia:WikiProject Fact and Reference Check">improve</a> this article by introducing more precise citations. <small><i>(May 2010)</i></small></td>
</tr>
</table>
<p><b>Elementary arithmetic</b> is the simplified portion of <a href="/wiki/Arithmetic" title="Arithmetic">arithmetic</a> which includes the operations of <a href="/wiki/Addition" title="Addition">addition</a>, <a href="/wiki/Subtraction" title="Subtraction">subtraction</a>, <a href="/wiki/Multiplication" title="Multiplication">multiplication</a>, and <a href="/wiki/Division_(mathematics)" title="Division (mathematics)">division</a>.</p>
<p>Elementary arithmetic starts with the <a href="/wiki/Natural_numbers" title="Natural numbers" class="mw-redirect">natural numbers</a> and the written symbols (<b><a href="/wiki/Numerical_digit" title="Numerical digit">digits</a></b>) which represent them. The process for combining a pair of these numbers with the four basic operations traditionally relies on memorized results for small values of numbers, including the contents of a <a href="/wiki/Multiplication_table" title="Multiplication table">multiplication table</a> to assist with multiplication and division.</p>
<p>Elementary arithmetic also includes <a href="/wiki/Fraction_(mathematics)" title="Fraction (mathematics)">fractions</a> and <a href="/wiki/Negative_numbers" title="Negative numbers" class="mw-redirect">negative numbers</a>, which can be represented on a <a href="/wiki/Number_line" title="Number line">number line</a>.</p>
<p>The <a href="/wiki/Abacus" title="Abacus">abacus</a> is an early mechanical device for performing elementary arithmetic, which is still used in many parts of Asia. Modern calculating tools which perform elementary arithmetic operations include <a href="/wiki/Cash_register" title="Cash register">cash registers</a>, electronic <a href="/wiki/Calculator" title="Calculator">calculators</a>, and <a href="/wiki/Computer" title="Computer">computers</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#The_digits"><span class="tocnumber">1</span> <span class="toctext">The digits</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Addition"><span class="tocnumber">2</span> <span class="toctext">Addition</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Addition_algorithm"><span class="tocnumber">2.1</span> <span class="toctext">Addition algorithm</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Example"><span class="tocnumber">2.2</span> <span class="toctext">Example</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-5"><a href="#Successorship_and_size"><span class="tocnumber">3</span> <span class="toctext">Successorship and size</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Counting"><span class="tocnumber">4</span> <span class="toctext">Counting</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Subtraction"><span class="tocnumber">5</span> <span class="toctext">Subtraction</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Multiplication"><span class="tocnumber">6</span> <span class="toctext">Multiplication</span></a>
<ul>
<li class="toclevel-2 tocsection-9"><a href="#Multiplication_algorithm_for_a_single-digit_factor"><span class="tocnumber">6.1</span> <span class="toctext">Multiplication algorithm for a single-digit factor</span></a></li>
<li class="toclevel-2 tocsection-10"><a href="#Example_2"><span class="tocnumber">6.2</span> <span class="toctext">Example</span></a></li>
<li class="toclevel-2 tocsection-11"><a href="#Multiplication_algorithm_for_multi-digit_factors"><span class="tocnumber">6.3</span> <span class="toctext">Multiplication algorithm for multi-digit factors</span></a></li>
<li class="toclevel-2 tocsection-12"><a href="#Example_3"><span class="tocnumber">6.4</span> <span class="toctext">Example</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-13"><a href="#Division"><span class="tocnumber">7</span> <span class="toctext">Division</span></a>
<ul>
<li class="toclevel-2 tocsection-14"><a href="#Division_notation"><span class="tocnumber">7.1</span> <span class="toctext">Division notation</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-15"><a href="#Educational_standards"><span class="tocnumber">8</span> <span class="toctext">Educational standards</span></a></li>
<li class="toclevel-1 tocsection-16"><a href="#See_also"><span class="tocnumber">9</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-17"><a href="#Further_reading"><span class="tocnumber">10</span> <span class="toctext">Further reading</span></a></li>
<li class="toclevel-1 tocsection-18"><a href="#External_links"><span class="tocnumber">11</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=1" title="Edit section: The digits"></a>]</span> <span class="mw-headline" id="The_digits">The digits</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Numerical_digit" title="Numerical digit">Numerical digit</a></div>
<p>Digits are the entire set of symbols used to represent numbers. In a particular <a href="/wiki/Numeral_system" title="Numeral system">numeral system</a>, a single digit represents a different amount than any other digit, although the symbols in the same numeral system might vary between cultures.</p>
<p>In modern usage, the <a href="/wiki/Arabic_numerals" title="Arabic numerals">Arabic numerals</a> are the most common set of symbols, and the most frequently used form of these digits is the Western style. Each single digit matches the following amounts:</p>
<p><big>0</big> , <a href="/wiki/0_(number)" title="0 (number)">zero</a>. Used in the absence of objects to be counted. For example, a different way of saying "there are no sticks here", is to say "the number of sticks here is 0".<br />
<big>1</big> , <a href="/wiki/1_(number)" title="1 (number)">one</a>. Applied to a single item. For example, here is one stick: <big>I</big><br />
<big>2</big> , <a href="/wiki/2_(number)" title="2 (number)">two</a>. Applied to a pair of items. Here are two sticks: <big>I I</big><br />
<big>3</big> , <a href="/wiki/3_(number)" title="3 (number)">three</a>. Applied to three items. Here are three sticks: <big>I I I</big><br />
<big>4</big> , <a href="/wiki/4_(number)" title="4 (number)">four</a>. Applied to four items. Here are four sticks: <big>I I I&#160; I</big><br />
<big>5</big> , <a href="/wiki/5_(number)" title="5 (number)">five</a>. Applied to five items. Here are five sticks: <big>I I I&#160; I I</big><br />
<big>6</big> , <a href="/wiki/6_(number)" title="6 (number)">six</a>. Applied to six items. Here are six sticks: <big>I I I&#160; I I I</big><br />
<big>7</big> , <a href="/wiki/7_(number)" title="7 (number)">seven</a>. Applied to seven items. Here are seven sticks: <big>I I I&#160; I I I&#160; I</big><br />
<big>8</big> , <a href="/wiki/8_(number)" title="8 (number)">eight</a>. Applied to eight items. Here are eight sticks: <big>I I I&#160; I I I&#160; I I</big><br />
<big>9</big> , <a href="/wiki/9_(number)" title="9 (number)">nine</a>. Applied to nine items. Here are nine sticks: <big>I I I&#160; I I I&#160; I I I</big></p>
<p>Any numeral system defines the value of all numbers which contain more than one digit, most often by addition of the value for adjacent digits. The <a href="/wiki/Hindu%E2%80%93Arabic_numeral_system" title="HinduArabic numeral system">HinduArabic numeral system</a> includes <a href="/wiki/Positional_notation" title="Positional notation">positional notation</a> to determine the value for any numeral. In this type of system, the increase in value for an additional digit includes one or more multiplications with the <a href="/wiki/Radix" title="Radix">radix</a> value and the result is added to the value of an adjacent digit. With Arabic numerals, the radix value of ten produces a value of twenty-one (equal to 210 + 1) for the numeral "21". An additional multiplication with the radix value occurs for each additional digit, so the numeral "201" represents a value of two-hundred-and-one (equal to 21010 + 010 + 1).</p>
<p>The elementary level of study typically includes understanding the value of individual <a href="/wiki/Whole_numbers" title="Whole numbers" class="mw-redirect">whole numbers</a> using Arabic numerals with a maximum of seven digits, and performing the four basic operations using Arabic numerals with a maximum of four digits each.</p>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=2" title="Edit section: Addition"></a>]</span> <span class="mw-headline" id="Addition">Addition</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Addition" title="Addition">Addition</a></div>
<table class="wikitable">
<tr>
<th>+</th>
<th>&#160;0</th>
<th>&#160;1</th>
<th>&#160;2</th>
<th>&#160;3</th>
<th>&#160;4</th>
<th>&#160;5</th>
<th>&#160;6</th>
<th>&#160;7</th>
<th>&#160;8</th>
<th>&#160;9</th>
</tr>
<tr>
<th>&#160;0</th>
<td style="background:#cff">&#160;0</td>
<td>&#160;1</td>
<td>&#160;2</td>
<td>&#160;3</td>
<td>&#160;4</td>
<td>&#160;5</td>
<td>&#160;6</td>
<td>&#160;7</td>
<td>&#160;8</td>
<td>&#160;9</td>
</tr>
<tr>
<th>&#160;1</th>
<td>&#160;1</td>
<td style="background:#cff">&#160;2</td>
<td>&#160;3</td>
<td>&#160;4</td>
<td>&#160;5</td>
<td>&#160;6</td>
<td>&#160;7</td>
<td>&#160;8</td>
<td>&#160;9</td>
<td>10</td>
</tr>
<tr>
<th>&#160;2</th>
<td>&#160;2</td>
<td>&#160;3</td>
<td style="background:#cff">&#160;4</td>
<td>&#160;5</td>
<td>&#160;6</td>
<td>&#160;7</td>
<td>&#160;8</td>
<td>&#160;9</td>
<td>10</td>
<td>11</td>
</tr>
<tr>
<th>&#160;3</th>
<td>&#160;3</td>
<td>&#160;4</td>
<td>&#160;5</td>
<td style="background:#cff">&#160;6</td>
<td>&#160;7</td>
<td>&#160;8</td>
<td>&#160;9</td>
<td>10</td>
<td>11</td>
<td>12</td>
</tr>
<tr>
<th>&#160;4</th>
<td>&#160;4</td>
<td>&#160;5</td>
<td>&#160;6</td>
<td>&#160;7</td>
<td style="background:#cff">&#160;8</td>
<td>&#160;9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
</tr>
<tr>
<th>&#160;5</th>
<td>&#160;5</td>
<td>&#160;6</td>
<td>&#160;7</td>
<td>&#160;8</td>
<td>&#160;9</td>
<td style="background:#cff">10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
</tr>
<tr>
<th>&#160;6</th>
<td>&#160;6</td>
<td>&#160;7</td>
<td>&#160;8</td>
<td>&#160;9</td>
<td>10</td>
<td>11</td>
<td style="background:#cff">12</td>
<td>13</td>
<td>14</td>
<td>15</td>
</tr>
<tr>
<th>&#160;7</th>
<td>&#160;7</td>
<td>&#160;8</td>
<td>&#160;9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td style="background:#cff">14</td>
<td>15</td>
<td>16</td>
</tr>
<tr>
<th>&#160;8</th>
<td>&#160;8</td>
<td>&#160;9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td style="background:#cff">16</td>
<td>17</td>
</tr>
<tr>
<th>&#160;9</th>
<td>&#160;9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
<td>17</td>
<td style="background:#cff">18</td>
</tr>
</table>
<p>What does it mean to add two natural numbers? Suppose you have two bags, one bag holding five apples and a second bag holding three apples. Grabbing a third, empty bag, move all the apples from the first and second bags into the third bag. The third bag now holds eight apples. This illustrates the combination of three apples and five apples is eight apples; or more generally: "three plus five is eight" or "three plus five equals eight" or "eight is the sum of three and five". Numbers are abstract, and the addition of a group of three things to a group of five things will yield a group of eight things. Addition is a regrouping: two sets of objects which were counted separately are put into a single group and counted together: the count of the new group is the "sum" of the separate counts of the two original groups.</p>
<p>This operation of <i>combining</i> is only one of several possible meanings that the mathematical operation of addition can have. Other meanings for addition include:</p>
<ul>
<li><i>comparing</i> ("Tom has 5 apples. Jane has 3 more apples than Tom. How many apples does Jane have?"),</li>
<li><i>joining</i> ("Tom has 5 apples. Jane gives him 3 more apples. How many apples does Tom have now?"),</li>
<li><i>measuring</i> ("Tom's desk is 3 feet wide. Jane's is also 3 feet wide. How wide will their desks be put together?"),</li>
<li>and even sometimes <i>separating</i> ("Tom had some apples. He gave 3 to Jane. Now he has 5. How many did he start with?").</li>
</ul>
<p>Symbolically, addition is represented by the "<a href="/wiki/Plus_sign" title="Plus sign" class="mw-redirect">plus sign</a>": +. So the statement "three plus five equals eight" can be written symbolically as 3 + 5 = 8. The order in which two numbers are added does not matter, so 3 + 5 = 5 + 3 = 8. This is the <a href="/wiki/Commutative" title="Commutative" class="mw-redirect">commutative</a> property of addition.</p>
<p>To add a pair of digits using the table, find the intersection of the row of the first digit with the column of the second digit: the row and the column intersect at a square containing the sum of the two digits. Some pairs of digits add up to two-digit numbers, with the tens-digit always being a 1. In the addition algorithm the tens-digit of the sum of a pair of digits is called the "<a href="/wiki/Carry_(arithmetic)" title="Carry (arithmetic)">carry</a> digit".</p>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=3" title="Edit section: Addition algorithm"></a>]</span> <span class="mw-headline" id="Addition_algorithm">Addition algorithm</span></h3>
<p>For simplicity, consider only numbers with three digits or less. To add a pair of numbers (written in Arabic numerals), write the second number under the first one, so that digits line up in columns: the rightmost column will contain the ones-digit of the second number under the ones-digit of the first number. This rightmost column is the ones-column. The column immediately to its left is the tens-column. The tens-column will have the tens-digit of the second number (if it has one) under the tens-digit of the first number (if it has one). The column immediately to the left of the tens-column is the hundreds-column. The hundreds-column will line up the hundreds-digit of the second number (if there is one) under the hundreds-digit of the first number (if there is one).</p>
<p>After the second number has been written down under the first one so that digits line up in their correct columns, draw a line under the second (bottom) number. Start with the ones-column: the ones-column should contain a pair of digits: the ones-digit of the first number and, under it, the ones-digit of the second number. Find the sum of these two digits: write this sum under the line and in the ones-column. If the sum has two digits, then write down only the ones-digit of the sum. Write the "carry digit" above the top digit of the next column: in this case the next column is the tens-column, so write a 1 above the tens-digit of the first number.</p>
<p>If both first and second number each have only one digit then their sum is given in the addition table, and the addition algorithm is unnecessary.</p>
<p>Then comes the tens-column. The tens-column might contain two digits: the tens-digit of the first number and the tens-digit of the second number. If one of the numbers has a missing tens-digit then the tens-digit for this number can be considered to be a zero. Add the tens-digits of the two numbers. Then, if there is a carry digit, add it to this sum. If the sum was 18 then adding the carry digit to it will yield 19. If the sum of the tens-digits (plus carry digit, if there is one) is less than ten then write it in the tens-column under the line. If the sum has two digits then write its last digit in the tens-column under the line, and carry its first digit (which should be a one) over to the next column: in this case the hundreds column.</p>
<p>If none of the two numbers has a hundreds-digit then if there is no carry digit then the addition algorithm has finished. If there is a carry digit (carried over from the tens-column) then write it in the hundreds-column under the line, and the algorithm is finished. When the algorithm finishes, the number under the line is the sum of the two numbers.</p>
<p>If at least one of the numbers has a hundreds-digit then if one of the numbers has a missing hundreds-digit then write a zero digit in its place. Add the two hundreds-digits, and to their sum add the carry digit if there is one. Then write the sum of the hundreds-column under the line, also in the hundreds column. If the sum has two digits then write down the last digit of the sum in the hundreds-column and write the carry digit to its left: on the thousands-column.</p>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=4" title="Edit section: Example"></a>]</span> <span class="mw-headline" id="Example">Example</span></h3>
<p>Say one wants to find the sum of the numbers 653 and 274. Write the second number under the first one, with digits aligned in columns, like so:</p>
<table cellspacing="0" cellpadding="2px">
<tr>
<td>6</td>
<td>5</td>
<td>3</td>
</tr>
<tr>
<td>2</td>
<td>7</td>
<td>4</td>
</tr>
</table>
<p>Then draw a line under the second number and put a plus sign. The addition starts with the ones-column. The ones-digit of the first number is 3 and of the second number is 4. The sum of three and four is seven, so write a seven in the ones-column under the line:</p>
<table cellspacing="0" cellpadding="2px">
<tr>
<td></td>
<td>6</td>
<td>5</td>
<td>3</td>
</tr>
<tr>
<td style="border-bottom: 1px solid black;">+</td>
<td style="border-bottom: 1px solid black;">2</td>
<td style="border-bottom: 1px solid black;">7</td>
<td style="border-bottom: 1px solid black;">4</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td>7</td>
</tr>
</table>
<p>Next, the tens-column. The tens-digit of the first number is 5, and the tens-digit of the second number is 7, and five plus seven is twelve: 12, which has two digits, so write its last digit, 2, in the tens-column under the line, and write the carry digit on the hundreds-column above the first number:</p>
<table cellspacing="0" cellpadding="2px">
<tr>
<td></td>
<td>1</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td>6</td>
<td>5</td>
<td>3</td>
</tr>
<tr>
<td style="border-bottom: 1px solid black;">+</td>
<td style="border-bottom: 1px solid black;">2</td>
<td style="border-bottom: 1px solid black;">7</td>
<td style="border-bottom: 1px solid black;">4</td>
</tr>
<tr>
<td></td>
<td></td>
<td>2</td>
<td>7</td>
</tr>
</table>
<p>Next, the hundreds-column. The hundreds-digit of the first number is 6, while the hundreds-digit of the second number is 2. The sum of six and two is eight, but there is a carry digit, which added to eight is equal to nine. Write the nine under the line in the hundreds-column:</p>
<table cellspacing="0" cellpadding="2px">
<tr>
<td></td>
<td>1</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td>6</td>
<td>5</td>
<td>3</td>
</tr>
<tr>
<td style="border-bottom: 1px solid black;">+</td>
<td style="border-bottom: 1px solid black;">2</td>
<td style="border-bottom: 1px solid black;">7</td>
<td style="border-bottom: 1px solid black;">4</td>
</tr>
<tr>
<td></td>
<td>9</td>
<td>2</td>
<td>7</td>
</tr>
</table>
<p>No digits (and no columns) have been left unadded, so the algorithm finishes, and</p>
<dl>
<dd>653 + 274 = 927.</dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=5" title="Edit section: Successorship and size"></a>]</span> <span class="mw-headline" id="Successorship_and_size">Successorship and size</span></h2>
<p>The result of the addition of one to a number is the <i>successor</i> of that number. Examples:<br />
the successor of zero is one,<br />
the successor of one is two,<br />
the successor of two is three,<br />
the successor of ten is eleven.<br />
Every natural number has a successor.</p>
<p>The predecessor of the successor of a number is the number itself. For example, five is the successor of four therefore four is the predecessor of five. Every natural number except zero has a predecessor.</p>
<p>If a number is the successor of another number, then the first number is said to be <i>larger than</i> the other number. If a number is larger than another number, and if the other number is larger than a third number, then the first number is also larger than the third number. Example: five is larger than four, and four is larger than three, therefore five is larger than three. But six is larger than five, therefore six is also larger than three. But seven is larger than six, therefore seven is also larger than three... therefore eight is larger than three... therefore nine is larger than three, etc.</p>
<p>If two non-zero natural numbers are added together, then their sum is larger than either one of them. Example: three plus five equals eight, therefore eight is larger than three (8&gt;3) and eight is larger than five (8&gt;5). The symbol for "larger than" is &gt;.</p>
<p>If a number is larger than another one, then the other is <i>smaller than</i> the first one. Examples: three is smaller than eight (3&lt;8) and five is smaller than eight (5&lt;8). The symbol for smaller than is &lt;. A number cannot be at the same time larger and smaller than another number. Neither can a number be at the same time larger than and equal to another number. Given a pair of natural numbers, one and only one of the following cases must be true:</p>
<ul>
<li>the first number is larger than the second one,</li>
<li>the first number is equal to the second one,</li>
<li>the first number is smaller than the second one.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=6" title="Edit section: Counting"></a>]</span> <span class="mw-headline" id="Counting">Counting</span></h2>
<p>To count a group of objects means to assign a natural number to each one of the objects, as if it were a label for that object, such that a natural number is never assigned to an object unless its predecessor was already assigned to another object, with the exception that zero is not assigned to any object: the smallest natural number to be assigned is one, and the largest natural number assigned depends on the size of the group. It is called <i>the count</i> and it is equal to the number of objects in that group.</p>
<p>The process of <a href="/wiki/Counting" title="Counting">counting</a> a group is the following:<br />
<i>Step 1:</i> Let "the count" be equal to zero. "The count" is a variable quantity, which though beginning with a value of zero, will soon have its value changed several times.<br />
<i>Step 2:</i> Find at least one object in the group which has not been labeled with a natural number. If no such object can be found (if they have all been labeled) then the counting is finished. Otherwise choose one of the unlabeled objects.<br />
<i>Step 3:</i> Increase the count by one. That is, replace the value of the count by its successor.<br />
<i>Step 4:</i> Assign the new value of the count, as a label, to the unlabeled object chosen in Step 2.<br />
<i>Step 5:</i> Go back to Step 2.</p>
<p>When the counting is finished, the last value of the count will be the final count. This count is equal to the number of objects in the group.</p>
<p>Often, when counting objects, one does not keep track of what numerical label corresponds to which object: one only keeps track of the subgroup of objects which have already been labeled, so as to be able to identify unlabeled objects necessary for Step 2. However, if one is counting persons, then one can ask the persons who are being counted to each keep track of the number which the person's self has been assigned. After the count has finished it is possible to ask the group of persons to file up in a line, in order of increasing numerical label. What the persons would do during the process of lining up would be something like this: each pair of persons who are unsure of their positions in the line ask each other what their numbers are: the person whose number is smaller should stand on the left side and the one with the larger number on the right side of the other person. Thus, pairs of persons compare their numbers and their positions, and commute their positions as necessary, and through repetition of such conditional commutations they become ordered.</p>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=7" title="Edit section: Subtraction"></a>]</span> <span class="mw-headline" id="Subtraction">Subtraction</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Subtraction" title="Subtraction">Subtraction</a></div>
<p>Subtraction is the mathematical operation which describes a reduced quantity. The result of this operation is the <i>difference</i> between two numbers. As with addition, subtraction can have a number of interpretations, such as:</p>
<ul>
<li><i>separating</i> ("Tom has 8 apples. He gives away 3 apples. How many does he have left?")</li>
<li><i>comparing</i> ("Tom has 8 apples. Jane has 3 fewer apples than Tom. How many does Jane have?")</li>
<li><i>combining</i> ("Tom has 8 apples. Three of the apples are green and the rest are red. How many are red?")</li>
<li>and sometimes <i>joining</i> ("Tom had some apples. Jane gave him 3 more apples, so now he has 8 apples. How many did he start with?").</li>
</ul>
<p>As with addition, there are other possible interpretations, such as <i>motion</i>.</p>
<p>Symbolically, the <a href="/wiki/Plus_and_minus_signs#Minus_sign" title="Plus and minus signs">minus sign</a> ("") represents the subtraction operation. So the statement "five minus three equals two" is also written as 5  3 = 2. In elementary arithmetic, subtraction uses smaller positive numbers for all values to produce simpler solutions.</p>
<p>Unlike addition, subtraction is not commutative, so the order of numbers in the operation will change the result. Therefore, each number is provided a different distinguishing name. The first number (5 in the previous example) is formally defined as the <i>minuend</i> and the second number (3 in the previous example) as the <i>subtrahend</i>. The value of the minuend is larger than the value of the subtrahend so that the result is a positive number, but a smaller value of the minuend will result in <a href="/wiki/Negative_number" title="Negative number">negative numbers</a>.</p>
<p>There are several methods to accomplish subtraction. The method which is in <a href="/wiki/United_States_of_America" title="United States of America" class="mw-redirect">United States of America</a> referred to as <a href="/wiki/Traditional_mathematics" title="Traditional mathematics">Traditional mathematics</a> taught elementary school students to subtract using methods suitable for hand calculation. The particular method used varies from country from country, and within a country, different methods are in fashion at different times. <a href="/wiki/Reform_mathematics" title="Reform mathematics">Reform mathematics</a> is distinguished generally by the lack of preference for any specific technique, replaced by guiding 2nd-grade students to invent their own methods of computation, such as using properties of negative numbers in the case of <a href="/wiki/Investigations_in_Numbers,_Data,_and_Space" title="Investigations in Numbers, Data, and Space">TERC</a>.</p>
<p>American schools currently teach a method of subtraction using borrowing and a system of markings called crutches. Although a method of borrowing had been known and published in textbooks prior, apparently the crutches are the invention of William A. Browell, who used them in a study in November 1937 <a rel="nofollow" class="external autonumber" href="http://math.coe.uga.edu/TME/Issues/v10n2/5ross.pdf">[1]</a>. This system caught on rapidly, displacing the other methods of subtraction in use in America at that time.</p>
<p>Students in some European countries are taught, and some older Americans employ, a method of subtraction called the Austrian method, also known as the additions method. There is no borrowing in this method. There are also crutches (markings to aid the memory) which [probably] vary according to country.</p>
<p>In the method of borrowing, a subtraction such as 86  39 will accomplish the ones-place subtraction of 9 from 6 by borrowing a 10 from 80 and adding it to the 6. The problem is thus transformed into (70+16)39, effectively. This is indicated by striking through the 8, writing a small 7 above it, and writing a small 1 above the 6. These markings are called <i>crutches</i>. The 9 is then subtracted from 16, leaving 7, and the 30 from the 70, leaving 40, or 47 as the result.</p>
<p>In the additions method, a 10 is borrowed to make the 6 into 16, in preparation for the subtraction of 9, just as in the borrowing method. However, the 10 is not taken by reducing the minuend, rather one augments the subtrahend. Effectively, the problem is transformed into (80+16)(39+10). Typically a crutch of a small one is marked just below the subtrahend digit as a reminder. Then the operations proceed: 9 from 16 is 7; and 40 (that is, 30+10) from 80 is 40, or 47 as the result.</p>
<p>The additions method seem to be taught in two variations, which differ only in psychology. Continuing the example of 8639, the first variation attempts to subtract 9 from 6, and then 9 from 16, borrowing a 10 by marking near the digit of the subtrahend in the next column. The second variation attempts to find a digit which, when added to 9, gives 6, and recognizing that is not possible, gives 16, and carrying the 10 of the 16 as a one marking near the same digit as in the first method. The markings are the same; it is just a matter of preference as to how one explains its appearance.</p>
<p>As a final caution, the borrowing method gets a bit complicated in cases such as 10087, where a borrow cannot be made immediately, and must be obtained by reaching across several columns. In this case, the minuend is effectively rewritten as 90+10, by taking a one hundred from the hundreds, making ten tens from it, and immediately borrowing that down to 9 tens in the tens column and finally placing a ten in the ones column.</p>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=8" title="Edit section: Multiplication"></a>]</span> <span class="mw-headline" id="Multiplication">Multiplication</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Multiplication" title="Multiplication">Multiplication</a></div>
<table class="wikitable">
<tr>
<th></th>
<th>&#160;0</th>
<th>&#160;1</th>
<th>&#160;2</th>
<th>&#160;3</th>
<th>&#160;4</th>
<th>&#160;5</th>
<th>&#160;6</th>
<th>&#160;7</th>
<th>&#160;8</th>
<th>&#160;9</th>
</tr>
<tr>
<th>&#160;0</th>
<td style="background:#cff">&#160;0</td>
<td>&#160;0</td>
<td>&#160;0</td>
<td>&#160;0</td>
<td>&#160;0</td>
<td>&#160;0</td>
<td>&#160;0</td>
<td>&#160;0</td>
<td>&#160;0</td>
<td>&#160;0</td>
</tr>
<tr>
<th>&#160;1</th>
<td>&#160;0</td>
<td style="background:#cff">&#160;1</td>
<td>&#160;2</td>
<td>&#160;3</td>
<td>&#160;4</td>
<td>&#160;5</td>
<td>&#160;6</td>
<td>&#160;7</td>
<td>&#160;8</td>
<td>&#160;9</td>
</tr>
<tr>
<th>&#160;2</th>
<td>&#160;0</td>
<td>&#160;2</td>
<td style="background:#cff">&#160;4</td>
<td>&#160;6</td>
<td>&#160;8</td>
<td>10</td>
<td>12</td>
<td>14</td>
<td>16</td>
<td>18</td>
</tr>
<tr>
<th>&#160;3</th>
<td>&#160;0</td>
<td>&#160;3</td>
<td>&#160;6</td>
<td style="background:#cff">&#160;9</td>
<td>12</td>
<td>15</td>
<td>18</td>
<td>21</td>
<td>24</td>
<td>27</td>
</tr>
<tr>
<th>&#160;4</th>
<td>&#160;0</td>
<td>&#160;4</td>
<td>&#160;8</td>
<td>12</td>
<td style="background:#cff">16</td>
<td>20</td>
<td>24</td>
<td>28</td>
<td>32</td>
<td>36</td>
</tr>
<tr>
<th>&#160;5</th>
<td>&#160;0</td>
<td>&#160;5</td>
<td>10</td>
<td>15</td>
<td>20</td>
<td style="background:#cff">25</td>
<td>30</td>
<td>35</td>
<td>40</td>
<td>45</td>
</tr>
<tr>
<th>&#160;6</th>
<td>&#160;0</td>
<td>&#160;6</td>
<td>12</td>
<td>18</td>
<td>24</td>
<td>30</td>
<td style="background:#cff">36</td>
<td>42</td>
<td>48</td>
<td>54</td>
</tr>
<tr>
<th>&#160;7</th>
<td>&#160;0</td>
<td>&#160;7</td>
<td>14</td>
<td>21</td>
<td>28</td>
<td>35</td>
<td>42</td>
<td style="background:#cff">49</td>
<td>56</td>
<td>63</td>
</tr>
<tr>
<th>&#160;8</th>
<td>&#160;0</td>
<td>&#160;8</td>
<td>16</td>
<td>24</td>
<td>32</td>
<td>40</td>
<td>48</td>
<td>56</td>
<td style="background:#cff">64</td>
<td>72</td>
</tr>
<tr>
<th>&#160;9</th>
<td>&#160;0</td>
<td>&#160;9</td>
<td>18</td>
<td>27</td>
<td>36</td>
<td>45</td>
<td>54</td>
<td>63</td>
<td>72</td>
<td style="background:#cff">81</td>
</tr>
</table>
<p>When two numbers are multiplied together, the result is called a <i>product</i>. The two numbers being multiplied together are called <i>factors</i>.</p>
<p>What does it mean to multiply two natural numbers? Suppose there are five red bags, each one containing three apples. Now grabbing an empty green bag, move all the apples from all five red bags into the green bag. Now the green bag will have fifteen apples. Thus the product of five and three is fifteen. This can also be stated as "five times three is fifteen" or "five times three equals fifteen" or "fifteen is the product of five and three". Multiplication can be seen to be a form of repeated addition: the first factor indicates how many times the second factor should be added onto itself; the final sum being the product.</p>
<p>Symbolically, multiplication is represented by the <i>multiplication sign</i>: <img class="tex" alt=" \times " src="//upload.wikimedia.org/wikipedia/en/math/9/e/e/9eedd61e32f7a8e70e171028a7e5dc08.png" />. So the statement "five times three equals fifteen" can be written symbolically as</p>
<dl>
<dd><img class="tex" alt=" 5 \times 3 = 15.\ " src="//upload.wikimedia.org/wikipedia/en/math/d/0/5/d058cf10ed8816c1b6a71bbe0bb6c187.png" /></dd>
</dl>
<p>In some countries, and in more advanced arithmetic, other multiplication signs are used, e.g. <img class="tex" alt="5\cdot3" src="//upload.wikimedia.org/wikipedia/en/math/4/e/b/4ebddf2c88762bebec2f34d2244fa7e1.png" />. In some situations, especially in <a href="/wiki/Algebra" title="Algebra">algebra</a>, where numbers can be symbolized with letters, the multiplication symbol may be omitted; e.g. <img class="tex" alt="xy" src="//upload.wikimedia.org/wikipedia/en/math/3/e/4/3e44107170a520582ade522fa73c1d15.png" /> means <img class="tex" alt="x \times y" src="//upload.wikimedia.org/wikipedia/en/math/8/9/d/89df7401551d525a04db9dc12e4684ba.png" />. The order in which two numbers are multiplied does not matter, so that, for example, three times four equals four times three. This is the commutative property of multiplication.</p>
<p>To multiply a pair of digits using the table, find the intersection of the row of the first digit with the column of the second digit: the row and the column intersect at a square containing the product of the two digits. Most pairs of digits produce two-digit numbers. In the multiplication algorithm the tens-digit of the product of a pair of digits is called the "<a href="/wiki/Carry_(arithmetic)" title="Carry (arithmetic)">carry</a> digit".</p>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=9" title="Edit section: Multiplication algorithm for a single-digit factor"></a>]</span> <span class="mw-headline" id="Multiplication_algorithm_for_a_single-digit_factor">Multiplication algorithm for a single-digit factor</span></h3>
<p>Consider a multiplication where one of the factors has only one digit, whereas the other factor has an arbitrary quantity of digits. Write down the multi-digit factor, then write the single-digit factor under the last digit of the multi-digit factor. Draw a horizontal line under the single-digit factor. Henceforth, the single-digit factor will be called the "multiplier" and the multi-digit factor will be called the "multiplicand".</p>
<p>Suppose for simplicity that the multiplicand has three digits. The first digit is the hundreds-digit, the middle digit is the tens-digit, and the last, rightmost, digit is the ones-digit. The multiplier only has a ones-digit. The ones-digits of the multiplicand and multiplier form a column: the ones-column.</p>
<p>Start with the ones-column: the ones-column should contain a pair of digits: the ones-digit of the multiplicand and, under it, the ones-digit of the multiplier. Find the product of these two digits: write this product under the line and in the ones-column. If the product has two digits, then write down only the ones-digit of the product. Write the "carry digit" as a superscript of the yet-unwritten digit in the next column and under the line: in this case the next column is the tens-column, so write the carry digit as the superscript of the yet-unwritten tens-digit of the product (under the line).</p>
<p>If both first and second number each have only one digit then their product is given in the multiplication table, and the multiplication algorithm is unnecessary.</p>
<p>Then comes the tens-column. The tens-column so far contains only one digit: the tens-digit of the multiplicand (though it might contain a carry digit under the line). Find the product of the multiplier and the tens-digits of the multiplicand. Then, if there is a carry digit (superscripted, under the line and in the tens-column), add it to this product. If the resulting sum is less than ten then write it in the tens-column under the line. If the sum has two digits then write its last digit in the tens-column under the line, and carry its first digit over to the next column: in this case the hundreds column.</p>
<p>If the multiplicand does not have a hundreds-digit then if there is no carry digit then the multiplication algorithm has finished. If there is a carry digit (carried over from the tens-column) then write it in the hundreds-column under the line, and the algorithm is finished. When the algorithm finishes, the number under the line is the product of the two numbers.</p>
<p>If the multiplicand has a hundreds-digit... find the product of the multiplier and the hundreds-digit of the multiplicand, and to this product add the carry digit if there is one. Then write the resulting sum of the hundreds-column under the line, also in the hundreds column. If the sum has two digits then write down the last digit of the sum in the hundreds-column and write the carry digit to its left: on the thousands-column.</p>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=10" title="Edit section: Example"></a>]</span> <span class="mw-headline" id="Example_2">Example</span></h3>
<p>Say one wants to find the product of the numbers 3 and 729. Write the single-digit multiplier under the multi-digit multiplicand, with the multiplier under the ones-digit of the multiplicand, like so:<br /></p>
<table cellspacing="0" cellpadding="2px" style="text-align: right;">
<tr>
<td>7</td>
<td>2</td>
<td>9</td>
</tr>
<tr>
<td></td>
<td></td>
<td>3</td>
</tr>
</table>
<p>Then draw a line under the multiplier and put a multiplication symbol. Multiplication starts with the ones-column. The ones-digit of the multiplicand is 9 and the multiplier is 3. The product of three and nine is 27, so write a seven in the ones-column under the line, and write the carry-digit 2 as a superscript of the yet-unwritten tens-digit of the product under the line:</p>
<table cellspacing="0" cellpadding="2px" style="text-align: right;">
<tr>
<td></td>
<td>7</td>
<td>2</td>
<td>9</td>
</tr>
<tr>
<td colspan="2" style="border-bottom: 1px solid black; font-family: monospace; font-size: 150%; text-align: left;"></td>
<td style="border-bottom: 1px solid black;"></td>
<td style="border-bottom: 1px solid black;">3</td>
</tr>
<tr>
<td>&#160;</td>
<td>&#160;</td>
<td><sup><small>2</small></sup></td>
<td>7</td>
</tr>
</table>
<p>Next, the tens-column. The tens-digit of the multiplicand is 2, the multiplier is 3, and three times two is six. Add the carry-digit, 2, to the product 6 to obtain 8. Eight has only one digit: no carry-digit, so write in the tens-column under the line. You can erase the two now.</p>
<table cellspacing="0" cellpadding="2px" style="text-align: right;">
<tr>
<td></td>
<td>7</td>
<td>2</td>
<td>9</td>
</tr>
<tr>
<td colspan="2" style="border-bottom: 1px solid black; font-family: monospace; font-size: 150%; text-align: left;"></td>
<td style="border-bottom: 1px solid black;"></td>
<td style="border-bottom: 1px solid black;">3</td>
</tr>
<tr>
<td>&#160;</td>
<td>&#160;</td>
<td>8</td>
<td>7</td>
</tr>
</table>
<p>Next, the hundreds-column. The hundreds-digit of the multiplicand is 7, while the multiplier is 3. The product of three and seven is 21, and there is no previous carry-digit (carried over from the tens-column). The product 21 has two digits: write its last digit in the hundreds-column under the line, then carry its first digit over to the thousands-column. Since the multiplicand has no thousands-digit, then write this carry-digit in the thousands-column under the line (not superscripted):</p>
<table cellspacing="0" cellpadding="2px" style="text-align: right;">
<tr>
<td></td>
<td>7</td>
<td>2</td>
<td>9</td>
</tr>
<tr>
<td colspan="2" style="border-bottom: 1px solid black; font-family: monospace; font-size: 150%; text-align: left;"></td>
<td style="border-bottom: 1px solid black;"></td>
<td style="border-bottom: 1px solid black;">3</td>
</tr>
<tr>
<td>2</td>
<td>1</td>
<td>8</td>
<td>7</td>
</tr>
</table>
<p>No digits of the multiplicand have been left unmultiplied, so the algorithm finishes, and</p>
<dl>
<dd><img class="tex" alt=" 3 \times 729 = 2187" src="//upload.wikimedia.org/wikipedia/en/math/0/d/4/0d40c636c79ad017971d17f8bce06dbe.png" />.</dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=11" title="Edit section: Multiplication algorithm for multi-digit factors"></a>]</span> <span class="mw-headline" id="Multiplication_algorithm_for_multi-digit_factors">Multiplication algorithm for multi-digit factors</span></h3>
<p>Given a pair of factors, each one having two or more digits, write both factors down, one under the other one, so that digits line up in columns.</p>
<p>For simplicity consider a pair of three-digits numbers. Write the last digit of the second number under the last digit of the first number, forming the ones-column. Immediately to the left of the ones-column will be the tens-column: the top of this column will have the second digit of the first number, and below it will be the second digit of the second number. Immediately to the left of the tens-column will be the hundreds-column: the top of this column will have the first digit of the first number and below it will be the first digit of the second number. After having written down both factors, draw a line under the second factor.</p>
<p>The multiplication will consist of two parts. The first part will consist of several multiplications involving one-digit multipliers. The operation of each one of such multiplications was already described in the previous multiplication algorithm, so this algorithm will not describe each one individually, but will only describe how the several multiplications with one-digit multipliers shall be cordinated. The second part will add up all the subproducts of the first part, and the resulting sum will be the product.</p>
<p><i>First part.</i> Let the first factor be called the multiplicand. Let each digit of the second factor be called a multiplier. Let the ones-digit of the second factor be called the "ones-multiplier". Let the tens-digit of the second factor be called the "tens-multiplier". Let the hundreds-digit of the second factor be called the "hundreds-multiplier".</p>
<p>Start with the ones-column. Find the product of the ones-multiplier and the multiplicand and write it down in a row under the line, aligning the digits of the product in the previously-defined columns. If the product has four digits, then the first digit will be the beginning of the thousands-column. Let this product be called the "ones-row".</p>
<p>Then the tens-column. Find the product of the tens-multiplier and the multiplicand and write it down in a row  call it the "tens-row"  under the ones-row, <i>but shifted one column to the left</i>. That is, the ones-digit of the tens-row will be in the tens-column of the ones-row; the tens-digit of the tens-row will be under the hundreds-digit of the ones-row; the hundreds-digit of the tens-row will be under the thousands-digit of the ones-row. If the tens-row has four digits, then the first digit will be the beginning of the ten-thousands-column.</p>
<p>Next, the hundreds-column. Find the product of the hundreds-multiplier and the multiplicand and write it down in a row  call it the "hundreds-row"  under the tens-row, but shifted one more column to the left. That is, the ones-digit of the hundreds-row will be in the hundreds-column; the tens-digit of the hundreds-row will be in the thousands-column; the hundreds-digit of the hundreds-row will be in the ten-thousands-column. If the hundreds-row has four digits, then the first digit will be the beginning of the hundred-thousands-column.</p>
<p>After having down the ones-row, tens-row, and hundreds-row, draw a horizontal line under the hundreds-row. The multiplications are over.</p>
<p><i>Second part.</i> Now the multiplication has a pair of lines. The first one under the pair of factors, and the second one under the three rows of subproducts. Under the second line there will be six columns, which from right to left are the following: ones-column, tens-column, hundreds-column, thousands-column, ten-thousands-column, and hundred-thousands-column.</p>
<p>Between the first and second lines, the ones-column will contain only one digit, located in the ones-row: it is the ones-digit of the ones-row. Copy this digit by rewriting it in the ones-column under the second line.</p>
<p>Between the first and second lines, the tens-column will contain a pair of digits located in the ones-row and the tens-row: the tens-digit of the ones-row and the ones-digit of the tens-row. Add these digits up and if the sum has just one digit then write this digit in the tens-column under the second line. If the sum has two digits then the first digit is a carry-digit: write the last digit down in the tens-column under the second line and carry the first digit over to the hundreds-column, writing it as a superscript to the yet-unwritten hundreds-digit under the second line.</p>
<p>Between the first and second lines, the hundreds-column will contain three digits: the hundreds-digit of the ones-row, the tens-digit of the tens-row, and the ones-digit of the hundreds-row. Find the sum of these three digits, then if there is a carry-digit from the tens-column (written in superscript under the second line in the hundreds-column) then add this carry-digit as well. If the resulting sum has one digit then write it down under the second line in the hundreds-column; if it has two digits then write the last digit down under the line in the hundreds-column, and carry over the first digit to the thousands-column, writing it as a superscript to the yet-unwritten thousands-digit under the line.</p>
<p>Between the first and second lines, the thousands-column will contain either two or three digits: the hundreds-digit of the tens-row, the tens-digit of the hundreds-row, and (possibly) the thousands-digit of the ones-row. Find the sum of these digits, then if there is a carry-digit from the hundreds-column (written in superscript under the second line in the thousands-column) then add this carry-digit as well. If the resulting sum has one digit then write it down under the second line in the thousands-column; if it has two digits then write the last digit down under the line in the thousands-column, and carry the first digit over to the ten-thousands-column, writing it as a superscript to the yet-unwritten ten-thousands-digit under the line.</p>
<p>Between the first and second lines, the ten-thousands-column will contain either one or two digits: the hundreds-digit of the hundreds-column and (possibly) the thousands-digit of the tens-column. Find the sum of these digits (if the one in the tens-row is missing think of it as a zero), and if there is a carry-digit from the thousands-column (written in superscript under the second line in the ten-thousands-column) then add this carry-digit as well. If the resulting sum has one digit then write it down under the second line in the ten-thousands-column; if it has two digits then write the last digit down under the line in the ten-thousands-column, and carry the first digit over to the hundred-thousands-column, writing it as a superscript to the yet-unwritten ten-thousands digit under the line. However, if the hundreds-row has no thousands-digit then do not write this carry-digit as a superscript, but in normal size, in the position of the hundred-thousands-digit under the second line, and the multiplication algorithm is over.</p>
<p>If the hundreds-row does have a thousands-digit, then add to it the carry-digit from the previous row (if there is no carry-digit then think of it as a zero) and write the single-digit sum in the hundred-thousands-column under the second line.</p>
<p>The number under the second line is the sought-after product of the pair of factors above the first line.</p>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=12" title="Edit section: Example"></a>]</span> <span class="mw-headline" id="Example_3">Example</span></h3>
<p>Let our objective be to find the product of 789 and 345. Write the 345 under the 789 in three columns, and draw a horizontal line under them:</p>
<table>
<tr>
<td>7</td>
<td>8</td>
<td>9</td>
</tr>
<tr>
<td><u>3</u></td>
<td><u>4</u></td>
<td><u>5</u></td>
</tr>
</table>
<p><i>First part.</i> Start with the ones-column. The multiplicand is 789 and the ones-multiplier is 5. Perform the multiplication in a row under the line:</p>
<table>
<tr>
<td>&#160;</td>
<td>7</td>
<td>8</td>
<td>9</td>
</tr>
<tr>
<td><u>&#160;&#160;</u></td>
<td><u>3</u></td>
<td><u>4</u></td>
<td><u>5</u></td>
</tr>
<tr>
<td>3</td>
<td>9<sup><small>4</small></sup></td>
<td>4<sup><small>4</small></sup></td>
<td>5</td>
</tr>
</table>
<p>Then the tens-column. The multiplicand is 789 and the tens-multiplier is 4. Perform the multiplication in the tens-row, under the previous subproduct in the ones-row, but shifted one column to the left:</p>
<table>
<tr>
<td>&#160;</td>
<td>&#160;</td>
<td>7</td>
<td>8</td>
<td>9</td>
</tr>
<tr>
<td><u>&#160;&#160;</u></td>
<td><u>&#160;&#160;</u></td>
<td><u>3</u></td>
<td><u>4</u></td>
<td><u>5</u></td>
</tr>
<tr>
<td>&#160;</td>
<td>3</td>
<td>9<sup><small>4</small></sup></td>
<td>4<sup><small>4</small></sup></td>
<td>5</td>
</tr>
<tr>
<td>3</td>
<td>1<sup><small>3</small></sup></td>
<td>5<sup><small>3</small></sup></td>
<td>6</td>
</tr>
</table>
<p>Next, the hundreds-column. The multiplicand is once again 789, and the hundreds-multiplier is 3. Perform the multiplication in the hundreds-row, under the previous subproduct in the tens-row, but shifted one (more) column to the left. Then draw a horizontal line under the hundreds-row:</p>
<table>
<tr>
<td>&#160;</td>
<td>&#160;</td>
<td>&#160;</td>
<td>7</td>
<td>8</td>
<td>9</td>
</tr>
<tr>
<td><u>&#160;&#160;</u></td>
<td><u>&#160;&#160;</u></td>
<td><u>&#160;&#160;</u></td>
<td><u>3</u></td>
<td><u>4</u></td>
<td><u>5</u></td>
</tr>
<tr>
<td>&#160;</td>
<td>&#160;</td>
<td>3</td>
<td>9<sup><small>4</small></sup></td>
<td>4<sup><small>4</small></sup></td>
<td>5</td>
</tr>
<tr>
<td>&#160;</td>
<td>3</td>
<td>1<sup><small>3</small></sup></td>
<td>5<sup><small>3</small></sup></td>
<td>6</td>
</tr>
<tr>
<td><u>2</u></td>
<td><u>3<sup><small>2</small></sup></u></td>
<td><u>6<sup><small>2</small></sup></u></td>
<td><u>7</u></td>
<td><u>&#160;&#160;</u></td>
<td><u>&#160;&#160;</u></td>
</tr>
</table>
<p><i>Second part.</i> Now add the subproducts between the first and second lines, but ignoring any superscripted carry-digits located between the first and second lines.</p>
<table>
<tr>
<td>&#160;</td>
<td>&#160;</td>
<td>&#160;</td>
<td>7</td>
<td>8</td>
<td>9</td>
</tr>
<tr>
<td><u>&#160;&#160;</u></td>
<td><u>&#160;&#160;</u></td>
<td><u>&#160;&#160;</u></td>
<td><u>3</u></td>
<td><u>4</u></td>
<td><u>5</u></td>
</tr>
<tr>
<td>&#160;</td>
<td>&#160;</td>
<td>3</td>
<td>9<sup><small>4</small></sup></td>
<td>4<sup><small>4</small></sup></td>
<td>5</td>
</tr>
<tr>
<td>&#160;</td>
<td>3</td>
<td>1<sup><small>3</small></sup></td>
<td>5<sup><small>3</small></sup></td>
<td>6</td>
</tr>
<tr>
<td><u>2</u></td>
<td><u>3<sup><small>2</small></sup></u></td>
<td><u>6<sup><small>2</small></sup></u></td>
<td><u>7</u></td>
<td><u>&#160;&#160;</u></td>
<td><u>&#160;&#160;</u></td>
</tr>
<tr>
<td>2</td>
<td>7<sup><small>1</small></sup></td>
<td>2<sup><small>2</small></sup></td>
<td>2<sup><small>1</small></sup></td>
<td>0</td>
<td>5</td>
</tr>
</table>
<p>The answer is</p>
<dl>
<dd><img class="tex" alt=" 789 \times 345 = 272205. " src="//upload.wikimedia.org/wikipedia/en/math/1/7/8/17899422f78cc68252845987fbd2d326.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=13" title="Edit section: Division"></a>]</span> <span class="mw-headline" id="Division">Division</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Division_(mathematics)" title="Division (mathematics)">Division (mathematics)</a></div>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, especially in elementary <a href="/wiki/Arithmetic" title="Arithmetic">arithmetic</a>, <b>division</b> is an arithmetic operation which is the inverse of <a href="/wiki/Multiplication" title="Multiplication">multiplication</a>.</p>
<p>Specifically, if <i>c</i> times <i>b</i> equals <i>a</i>, written:</p>
<dl>
<dd><img class="tex" alt="c \times b = a\," src="//upload.wikimedia.org/wikipedia/en/math/4/c/f/4cfe41c235e1b5ed99b77acf244a18fc.png" /></dd>
</dl>
<p>where <i>b</i> is not <a href="/wiki/0_(number)" title="0 (number)">zero</a>, then <i>a</i> divided by <i>b</i> equals <i>c</i>, written:</p>
<dl>
<dd><img class="tex" alt="\frac ab = c" src="//upload.wikimedia.org/wikipedia/en/math/5/3/5/53561bb467e6d967b7cf156ab073d11d.png" /></dd>
</dl>
<p>For instance,</p>
<dl>
<dd><img class="tex" alt="\frac 63 = 2" src="//upload.wikimedia.org/wikipedia/en/math/3/d/1/3d15fd8daaf1eb15eeb299992e048a34.png" /></dd>
</dl>
<p>since</p>
<dl>
<dd><img class="tex" alt="2 \times 3 = 6\," src="//upload.wikimedia.org/wikipedia/en/math/3/d/7/3d7905a7a1ec8cff527e244777d69106.png" />.</dd>
</dl>
<p>In the above expression, <i>a</i> is called the <b>dividend</b>, <i>b</i> the <b>divisor</b> and <i>c</i> the <b>quotient</b>.</p>
<p><a href="/wiki/Division_by_zero" title="Division by zero">Division by zero</a> (i.e. where the divisor is zero) is not defined.</p>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=14" title="Edit section: Division notation"></a>]</span> <span class="mw-headline" id="Division_notation">Division notation</span></h3>
<p>Division is most often shown by placing the <i>dividend</i> over the <i>divisor</i> with a horizontal line, also called a <a href="/wiki/Vinculum_(symbol)" title="Vinculum (symbol)">vinculum</a>, between them. For example, <i>a</i> divided by <i>b</i> is written</p>
<dl>
<dd><img class="tex" alt="\frac ab." src="//upload.wikimedia.org/wikipedia/en/math/0/4/a/04ad7ad74b5239487c0e9eed72e681a1.png" /></dd>
</dl>
<p>This can be read out loud as "a divided by b" or "a over b". A way to express division all on one line is to write the <i>dividend</i>, then a <a href="/wiki/Slash_(punctuation)" title="Slash (punctuation)">slash</a>, then the <i>divisor</i>, like this:</p>
<dl>
<dd><img class="tex" alt="a/b.\," src="//upload.wikimedia.org/wikipedia/en/math/0/a/a/0aa261c140856613b91c3b65582470a8.png" /></dd>
</dl>
<p>This is the usual way to specify division in most computer <a href="/wiki/Programming_language" title="Programming language">programming languages</a> since it can easily be typed as a simple sequence of characters.</p>
<p>A handwritten or typographical variation, which is halfway between these two forms, uses a <a href="/wiki/Solidus_(punctuation)" title="Solidus (punctuation)" class="mw-redirect">solidus</a> (fraction slash) but elevates the dividend, and lowers the divisor:</p>
<dl>
<dd><span class="frac nowrap"><sup><i>a</i></sup><sub><i>b</i></sub></span> .</dd>
</dl>
<p>Any of these forms can be used to display a <a href="/wiki/Fraction_(mathematics)" title="Fraction (mathematics)">fraction</a>. A <i>common fraction</i> is a division expression where both dividend and divisor are <a href="/wiki/Integer" title="Integer">integers</a> (although typically called the <i>numerator</i> and <i>denominator</i>), and there is no implication that the division needs to be evaluated further.</p>
<p>A more basic way to show division is to use the <a href="/wiki/Obelus" title="Obelus">obelus</a> (or division sign) in this manner:</p>
<dl>
<dd><img class="tex" alt="a \div b." src="//upload.wikimedia.org/wikipedia/en/math/3/0/7/307d8b81a1fafd8c9bb854920131e532.png" /></dd>
</dl>
<p>This form is infrequent except in basic arithmetic. The obelus is also used alone to represent the division operation itself, as for instance as a label on a key of a <a href="/wiki/Calculator" title="Calculator">calculator</a>.</p>
<p>In some non-<a href="/wiki/English_language" title="English language">English</a>-speaking cultures, "a divided by b" is written <i>a</i>&#160;: <i>b</i>. However, in English usage the <a href="/wiki/Colon_(punctuation)" title="Colon (punctuation)">colon</a> is restricted to expressing the related concept of <a href="/wiki/Ratio" title="Ratio">ratios</a> (then "a is to b").</p>
<p>With a knowledge of <a href="/wiki/Multiplication_tables" title="Multiplication tables" class="mw-redirect">multiplication tables</a>, two integers can be divided on paper using the method of <a href="/wiki/Long_division" title="Long division">long division</a>. If the dividend has a <a href="/wiki/Fraction_(mathematics)" title="Fraction (mathematics)">fractional</a> part (expressed as a <a href="/wiki/Decimal_fraction" title="Decimal fraction" class="mw-redirect">decimal fraction</a>), one can continue the algorithm past the ones place as far as desired. If the divisor has a decimal fractional part, one can restate the problem by moving the decimal to the right in both numbers until the divisor has no fraction.</p>
<p>To divide by a fraction, multiply by the reciprocal (reversing the position of the top and bottom parts) of that fraction.</p>
<dl>
<dd><img class="tex" alt="\textstyle{5 \div {1 \over 2} = 5 \times {2 \over 1} = 5 \times 2 = 10}" src="//upload.wikimedia.org/wikipedia/en/math/2/b/8/2b8e00e30ccd0e1aa5a3abbe6e496927.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="\textstyle{{2 \over 3} \div {2 \over 5} = {2 \over 3} \times {5 \over 2} = {10 \over 6} = {5 \over 3}}" src="//upload.wikimedia.org/wikipedia/en/math/a/d/6/ad63796f6ca9f6b8720ec12852fd4bcb.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=15" title="Edit section: Educational standards"></a>]</span> <span class="mw-headline" id="Educational_standards">Educational standards</span></h2>
<p>Local standards usually define the educational methods and content included in the elementary level of instruction. In the United States and Canada, controversial subjects include the amount of calculator usage compared to manual computation and the broader debate between <a href="/wiki/Traditional_mathematics" title="Traditional mathematics">traditional mathematics</a> and <a href="/wiki/Reform_mathematics" title="Reform mathematics">reform mathematics</a>.</p>
<p>In the United States, the 1989 <a href="/wiki/NCTM" title="NCTM" class="mw-redirect">NCTM</a> standards led to curricula which de-emphasized or omitted much of what was considered to be elementary arithmetic in elementary school, and replaced it with emphasis on topics traditionally studied in college such as algebra, statistics and problem solving, and non-standard computation methods unfamiliar to most adults.</p>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=16" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/0_(number)" title="0 (number)">0</a></li>
<li><a href="/wiki/Binary_arithmetic" title="Binary arithmetic" class="mw-redirect">binary arithmetic</a></li>
<li><a href="/wiki/Equals_sign" title="Equals sign">equals sign</a></li>
<li><a href="/wiki/Number_line" title="Number line">number line</a></li>
<li><a href="/wiki/Long_division" title="Long division">long division</a></li>
<li><a href="/wiki/Plus_and_minus_signs" title="Plus and minus signs">plus and minus signs</a></li>
<li><a href="/wiki/Subtraction" title="Subtraction">subtraction</a></li>
<li><a href="/wiki/Subtraction_without_borrowing" title="Subtraction without borrowing" class="mw-redirect">Subtraction without borrowing</a></li>
<li><a href="/wiki/Unary_numeral_system" title="Unary numeral system">unary numeral system</a></li>
<li><a href="/wiki/Early_numeracy" title="Early numeracy">Early numeracy</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=17" title="Edit section: Further reading"></a>]</span> <span class="mw-headline" id="Further_reading">Further reading</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://math.coe.uga.edu/TME/Issues/v10n2/5ross.pdf">1</a> Subtraction in the United States: An Historical Perspective, Susan Ross, Mary Pratt-Cotter, The Mathematics Educator, Vol. 8, No. 1.</li>
</ul>
<ul>
<li>Browell, W. A. (1939). Learning as reorganization: An experimental study in third-grade arithmetic, Duke University Press.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_arithmetic&amp;action=&amp;section=18" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.alfons-kolling.de/schule/Rechen-U-Boot-en.pdf">Pdf</a> or <a href="/wiki/OpenDocument" title="OpenDocument">OpenDocument</a> <a rel="nofollow" class="external text" href="http://www.alfons-kolling.de/schule/Rechen-U-Boot.ods">ods</a> Worksheets in German</li>
</ul>
<table cellspacing="0" class="navbox" style="border-spacing:0;;">
<tr>
<td style="padding:2px;">
<table cellspacing="0" class="nowraplinks collapsible autocollapse navbox-inner" style="border-spacing:0;background:transparent;color:inherit;;">
<tr>
<th scope="col" style=";" class="navbox-title" colspan="2">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary_arithmetic" title="Template:Elementary arithmetic"><span title="View this template" style=";;background:none transparent;border:none;">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Elementary_arithmetic" title="Template talk:Elementary arithmetic"><span title="Discuss this template" style=";;background:none transparent;border:none;">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary_arithmetic&amp;action="><span title="Edit this template" style=";;background:none transparent;border:none;">e</span></a></li>
</ul>
</div>
<div class="" style="font-size:110%;"><strong class="selflink">Elementary arithmetic</strong></div>
</th>
</tr>
<tr style="height:2px;">
<td></td>
</tr>
<tr>
<td colspan="2" style="width:100%;padding:0px;;;background:transparent;color:inherit;" class="navbox-list navbox-odd">
<div style="padding:0px;">
<table cellspacing="0" class="navbox-columns-table" style="text-align:left;width:auto; margin-left:auto; margin-right:auto;">
<tr style="vertical-align:top;">
<td style="width:5em;">&#160;&#160;&#160;</td>
<td style="padding:0px;text-align: center;;;width:25%;">
<div>
<p><a href="/wiki/Addition" title="Addition"><img alt="Symbol support vote.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/94/Symbol_support_vote.svg/50px-Symbol_support_vote.svg.png" width="50" height="51" /></a><br />
<a href="/wiki/Addition" title="Addition">Addition</a><br />
<a href="/wiki/Addition" title="Addition"><font size="5">+</font></a></p>
</div>
</td>
<td style="border-left:2px solid #fdfdfd;padding:0px;text-align: center;;;width:25%;">
<div>
<p><a href="/wiki/Subtraction" title="Subtraction"><img alt="Symbol oppose vote.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Symbol_oppose_vote.svg/50px-Symbol_oppose_vote.svg.png" width="50" height="51" /></a><br />
<a href="/wiki/Subtraction" title="Subtraction">Subtraction</a><br />
<a href="/wiki/Subtraction" title="Subtraction"><font size="5"></font></a></p>
</div>
</td>
<td style="border-left:2px solid #fdfdfd;padding:0px;text-align: center;;;width:25%;">
<div>
<p><a href="/wiki/Multiplication" title="Multiplication"><img alt="Symbol multiplication vote.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Symbol_multiplication_vote.svg/50px-Symbol_multiplication_vote.svg.png" width="50" height="51" /></a><br />
<a href="/wiki/Multiplication" title="Multiplication">Multiplication</a><br />
<a href="/wiki/Multiplication" title="Multiplication"><font size="5"></font></a></p>
</div>
</td>
<td style="border-left:2px solid #fdfdfd;padding:0px;text-align: center;;;width:25%;">
<div>
<p><a href="/wiki/Division_(mathematics)" title="Division (mathematics)"><img alt="Symbol divide vote.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Symbol_divide_vote.svg/50px-Symbol_divide_vote.svg.png" width="50" height="51" /></a><br />
<a href="/wiki/Division_(mathematics)" title="Division (mathematics)">Division</a><br />
<a href="/wiki/Division_(mathematics)" title="Division (mathematics)"><font size="5"></font></a></p>
</div>
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
<p><span id="interwiki-he-fa"></span></p>


<!-- 
NewPP limit report
Preprocessor node count: 1795/1000000
Post-expand include size: 24058/2048000 bytes
Template argument size: 8026/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1567386-0!0!0!!en!4!* and timestamp 20120409114525 -->
