<div class="floatright"><a href="/wiki/File:Eqaulity.PNG" class="image" title="Table of the equality binary relation"><img alt="Table of the equality binary relation" src="//upload.wikimedia.org/wikipedia/commons/b/b8/Eqaulity.PNG" width="261" height="276" /></a></div>
<p>Loosely, <b>equality</b> is the state of being quantitatively the same. More formally, equality (or the <b>identity relation</b>) is the <a href="/wiki/Binary_relation" title="Binary relation">binary relation</a> on a <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">set</a> <i>X</i> defined by</p>
<dl>
<dd><img class="tex" alt="\{(x, x)\;|\;x\in X\}" src="//upload.wikimedia.org/wikipedia/en/math/5/a/2/5a2ff73e778c62c6e67ad14112d6b1bf.png" />.</dd>
</dl>
<p>The identity relation is the archetype of the more general concept of an <a href="/wiki/Equivalence_relation" title="Equivalence relation">equivalence relation</a> on a set: those binary relations which are <a href="/wiki/Reflexive_relation" title="Reflexive relation">reflexive</a>, <a href="/wiki/Symmetric_relation" title="Symmetric relation">symmetric</a>, and <a href="/wiki/Transitive_relation" title="Transitive relation">transitive</a>. The relation of equality is also <a href="/wiki/Antisymmetric_relation" title="Antisymmetric relation">antisymmetric</a>. These four properties uniquely determine the equality relation on any set <i>S</i> and render equality the only relation on <i>S</i> that is both an equivalence relation and a <a href="/wiki/Partial_order" title="Partial order" class="mw-redirect">partial order</a>. It follows from this that equality is the smallest equivalence relation on any set <i>S</i>, in the sense that it is a <a href="/wiki/Subset" title="Subset">subset</a> of any other equivalence relation on <i>S</i>. An <a href="/wiki/Equation" title="Equation">equation</a> is simply an <a href="/wiki/Logical_assertion" title="Logical assertion">assertion</a> that two <a href="/wiki/Expression_(mathematics)" title="Expression (mathematics)">expressions</a> are related by equality (are equal).</p>
<p>In <a href="/wiki/Weakly_typed" title="Weakly typed" class="mw-redirect">weakly typed</a> <a href="/wiki/Programming_languages" title="Programming languages" class="mw-redirect">programming languages</a> like <a href="/wiki/C_(programming_language)" title="C (programming language)">C</a>, a logical operation of equality test often yields a value value of 1 or 0 or is automatically converted in such a value if the environment requires this. The mathematical equivalent of such operation is <a href="/wiki/Kronecker_delta" title="Kronecker delta">Kronecker delta</a>. Languages with stronger type systems (like <a href="/wiki/Java_(programming_language)" title="Java (programming language)">Java</a>) often have a dedicated <a href="/wiki/Boolean_data_type" title="Boolean data type">Boolean data type</a>.</p>
<p>The etymology of the word is from the Latin aequalis, meaning uniform or identical, from aequus, meaning "level, even, or just."</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Logical_formulations"><span class="tocnumber">1</span> <span class="toctext">Logical formulations</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Some_basic_logical_properties_of_equality"><span class="tocnumber">2</span> <span class="toctext">Some basic logical properties of equality</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Relation_with_equivalence_and_isomorphism"><span class="tocnumber">3</span> <span class="toctext">Relation with equivalence and isomorphism</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#References"><span class="tocnumber">5</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Equality_(mathematics)&amp;action=&amp;section=1" title="Edit section: Logical formulations"></a>]</span> <span class="mw-headline" id="Logical_formulations">Logical formulations</span></h2>
<p>The equality relation is always defined such that things that are equal have all and only the same properties. Some people define equality as congruence. Often equality is just defined as <a href="/wiki/Identity_(philosophy)" title="Identity (philosophy)">identity</a>.</p>
<p>A stronger sense of equality is obtained if some form of <a href="/wiki/Leibniz%27s_law" title="Leibniz's law" class="mw-redirect">Leibniz's law</a> is added as an <a href="/wiki/Axiom" title="Axiom">axiom</a>; the assertion of this axiom rules out "bare particulars"things that have all and only the same properties but are not equal to each otherwhich are possible in some logical formalisms. The axiom states that two things are equal if they have all and only the same <a href="/wiki/Property_(philosophy)" title="Property (philosophy)">properties</a>. Formally:</p>
<dl>
<dd><a href="/wiki/Given_any" title="Given any" class="mw-redirect">Given any</a> <i>x</i> and <i>y</i>, <i>x</i> = <i>y</i> <a href="/wiki/Material_implication" title="Material implication">if</a>, given any <a href="/wiki/Predicate_(mathematics)" title="Predicate (mathematics)" class="mw-redirect">predicate</a> <i>P</i>, <i>P</i>(<i>x</i>) <a href="/wiki/If_and_only_if" title="If and only if">if and only if</a> <i>P</i>(<i>y</i>).</dd>
</dl>
<p>In this law, the connective "if and only if" can be weakened to "if"; the modified law is equivalent to the original.</p>
<p>Instead of considering Leibniz's law as an axiom, it can also be taken as the <i>definition</i> of equality. The property of being an equivalence relation, as well as the properties given below, can then be proved: they become <a href="/wiki/Theorem" title="Theorem">theorems</a>. If a=b, then a can replace b and b can replace a.</p>
<h2><span class="section">[<a href="/w/index.php?title=Equality_(mathematics)&amp;action=&amp;section=2" title="Edit section: Some basic logical properties of equality"></a>]</span> <span class="mw-headline" id="Some_basic_logical_properties_of_equality">Some basic logical properties of equality</span></h2>
<p>The substitution property states:</p>
<ul>
<li><a href="/wiki/For_any" title="For any" class="mw-redirect">For any</a> quantities <i>a</i> and <i>b</i> and any expression <i>F</i>(<i>x</i>), <a href="/wiki/Material_implication" title="Material implication">if</a> <i>a</i> = <i>b</i>, then <i>F</i>(<i>a</i>) = <i>F</i>(<i>b</i>) (if either side makes sense, i.e. is <a href="/wiki/Well-formed_formula" title="Well-formed formula">well-formed</a>).</li>
</ul>
<p>In <a href="/wiki/First-order_logic" title="First-order logic">first-order logic</a>, this is a <a href="/wiki/Schema_(logic)" title="Schema (logic)" class="mw-redirect">schema</a>, since we can't quantify over expressions like <i>F</i> (which would be a <a href="/wiki/Functional_predicate" title="Functional predicate">functional predicate</a>).</p>
<p>Some specific examples of this are:</p>
<ul>
<li>For any <a href="/wiki/Real_number" title="Real number">real numbers</a> <i>a</i>, <i>b</i>, and <i>c</i>, if <i>a</i> = <i>b</i>, then <i>a</i> + <i>c</i> = <i>b</i> + <i>c</i> (here <i>F</i>(<i>x</i>) is <i>x</i> + <i>c</i>);</li>
<li>For any <a href="/wiki/Real_number" title="Real number">real numbers</a> <i>a</i>, <i>b</i>, and <i>c</i>, if <i>a</i> = <i>b</i>, then <i>a</i>  <i>c</i> = <i>b</i>  <i>c</i> (here <i>F</i>(<i>x</i>) is <i>x</i>  <i>c</i>);</li>
<li>For any <a href="/wiki/Real_number" title="Real number">real numbers</a> <i>a</i>, <i>b</i>, and <i>c</i>, if <i>a</i> = <i>b</i>, then <i>ac</i> = <i>bc</i> (here <i>F</i>(<i>x</i>) is <i>xc</i>);</li>
<li>For any <a href="/wiki/Real_number" title="Real number">real numbers</a> <i>a</i>, <i>b</i>, and <i>c</i>, if <i>a</i> = <i>b</i> and <i>c</i> <a href="/wiki/Division_by_zero" title="Division by zero">is not</a> <a href="/wiki/0_(number)" title="0 (number)">zero</a>, then <i>a</i>/<i>c</i> = <i>b</i>/<i>c</i> (here <i>F</i>(<i>x</i>) is <i>x</i>/<i>c</i>).</li>
</ul>
<p>The reflexive property states:</p>
<dl>
<dd><a href="/wiki/For_any" title="For any" class="mw-redirect">For any</a> quantity <i>a</i>, <i>a</i> = <i>a</i>.</dd>
</dl>
<p>This property is generally used in <a href="/wiki/Mathematical_proof" title="Mathematical proof">mathematical proofs</a> as an intermediate step.</p>
<p>The symmetric property states:</p>
<ul>
<li><a href="/wiki/For_any" title="For any" class="mw-redirect">For any</a> quantities <i>a</i> and <i>b</i>, <a href="/wiki/Material_implication" title="Material implication">if</a> <i>a</i> = <i>b</i>, then <i>b</i> = <i>a</i>.</li>
</ul>
<p>The transitive property states:</p>
<ul>
<li><a href="/wiki/For_any" title="For any" class="mw-redirect">For any</a> quantities <i>a</i>, <i>b</i>, and <i>c</i>, <a href="/wiki/Material_implication" title="Material implication">if</a> <i>a</i> = <i>b</i> <a href="/wiki/And_(logic)" title="And (logic)" class="mw-redirect">and</a> <i>b</i> = <i>c</i>, then <i>a</i> = <i>c</i>.</li>
</ul>
<p>The <a href="/wiki/Binary_relation" title="Binary relation">binary relation</a> "<a href="/wiki/Approximation" title="Approximation">is approximately equal</a>" between <a href="/wiki/Real_number" title="Real number">real numbers</a> or other things, even if more precisely defined, is not transitive (it may seem so at first sight, but many small <a href="/wiki/Difference" title="Difference">differences</a> can add up to something big). However, equality <a href="/wiki/Almost_everywhere" title="Almost everywhere">almost everywhere</a> <i>is</i> transitive.</p>
<p>Although the symmetric and transitive properties are often seen as fundamental, they can be proved, if the substitution and reflexive properties are assumed instead.</p>
<h2><span class="section">[<a href="/w/index.php?title=Equality_(mathematics)&amp;action=&amp;section=3" title="Edit section: Relation with equivalence and isomorphism"></a>]</span> <span class="mw-headline" id="Relation_with_equivalence_and_isomorphism">Relation with equivalence and isomorphism</span></h2>
<div class="rellink boilerplate seealso">See also: <a href="/wiki/Equivalence_relation" title="Equivalence relation">Equivalence relation</a>&#160;and <a href="/wiki/Isomorphism" title="Isomorphism">Isomorphism</a></div>
<p>In some contexts, equality is sharply distinguished from <i><a href="/wiki/Equivalence_relation" title="Equivalence relation">equivalence</a></i> or <i><a href="/wiki/Isomorphism" title="Isomorphism">isomorphism</a>.</i><sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> For example, one may distinguish <i><a href="/wiki/Fraction_(mathematics)" title="Fraction (mathematics)">fractions</a></i> from <i><a href="/wiki/Rational_number" title="Rational number">rational numbers</a>,</i> the latter being equivalence classes of fractions: the fractions <img class="tex" alt="1/2" src="//upload.wikimedia.org/wikipedia/en/math/9/7/5/975ca8804565c1a569450d61090b2743.png" /> and <img class="tex" alt="2/4" src="//upload.wikimedia.org/wikipedia/en/math/6/4/0/6408e079aefee9702aa00f77228dd941.png" /> are distinct as fractions, as different strings of symbols, but they "represent" the same rational number, the same point on a number line. This distinction gives rise to the notion of a <a href="/wiki/Quotient_set" title="Quotient set" class="mw-redirect">quotient set</a>.</p>
<p>Similarly, the sets</p>
<dl>
<dd><img class="tex" alt="\{\text{A}, \text{B}, \text{C}\} \," src="//upload.wikimedia.org/wikipedia/en/math/a/a/4/aa4a07b55f337b56b832df0a8ddccdc5.png" /> and <img class="tex" alt="\{ 1, 2, 3 \} \," src="//upload.wikimedia.org/wikipedia/en/math/0/f/0/0f008d6b4626fc852bdef05cafca1e92.png" /></dd>
</dl>
<p>are not equal sets  the first consists of letters, while the second consists of numbers  but they are both sets of three elements, and thus isomorphic, meaning that there is a <a href="/wiki/Bijection" title="Bijection">bijection</a> between them, for example</p>
<dl>
<dd><img class="tex" alt="\text{A} \mapsto 1, \text{B} \mapsto 2, \text{C} \mapsto 3." src="//upload.wikimedia.org/wikipedia/en/math/9/4/6/94685b4eefca7e847bd859d8c427427a.png" /></dd>
</dl>
<p>However, there are other choices of isomorphism, such as</p>
<dl>
<dd><img class="tex" alt="\text{A} \mapsto 3, \text{B} \mapsto 2, \text{C} \mapsto 1," src="//upload.wikimedia.org/wikipedia/en/math/d/c/d/dcdddf34f6e997c6e414482234077206.png" /></dd>
</dl>
<p>and these sets cannot be identified without making such a choice  any statement that identifies them "depends on choice of identification". This distinction, <a href="/wiki/Isomorphism#Relation_with_equality" title="Isomorphism">between equality and isomorphism</a>, is of fundamental importance in <a href="/wiki/Category_theory" title="Category theory">category theory</a>, and is one motivation for the development of category theory.</p>
<h2><span class="section">[<a href="/w/index.php?title=Equality_(mathematics)&amp;action=&amp;section=4" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Equals_sign" title="Equals sign">Equals sign</a></li>
<li><a href="/wiki/Inequality_(mathematics)" title="Inequality (mathematics)">Inequality</a></li>
<li><a href="/wiki/Logical_equality" title="Logical equality">Logical equality</a></li>
<li><a href="/wiki/Extensionality" title="Extensionality">Extensionality</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Equality_(mathematics)&amp;action=&amp;section=5" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">(<a href="#CITEREFMazur2007">Mazur 2007</a>)</span></li>
</ol>
</div>
<div class="refbegin" style="">
<ul>
<li><span class="citation" id="CITEREFMazur2007"><a href="/wiki/Barry_Mazur" title="Barry Mazur">Mazur, Barry</a> (12 June 2007), <a rel="nofollow" class="external text" href="http://www.math.harvard.edu/~mazur/preprints/when_is_one.pdf"><i>When is one thing equal to some other thing?</i></a><span class="printonly">, <a rel="nofollow" class="external free" href="http://www.math.harvard.edu/~mazur/preprints/when_is_one.pdf">http://www.math.harvard.edu/~mazur/preprints/when_is_one.pdf</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=When+is+one+thing+equal+to+some+other+thing%3F&amp;rft.aulast=Mazur&amp;rft.aufirst=Barry&amp;rft.au=Mazur%2C%26%2332%3BBarry&amp;rft.date=12+June+2007&amp;rft_id=http%3A%2F%2Fwww.math.harvard.edu%2F%7Emazur%2Fpreprints%2Fwhen_is_one.pdf&amp;rfr_id=info:sid/en.wikipedia.org:Equality_(mathematics)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation book"><a href="/wiki/Saunders_Mac_Lane" title="Saunders Mac Lane">Mac Lane, Saunders</a>; <a href="/wiki/Garrett_Birkhoff" title="Garrett Birkhoff">Garrett Birkhoff</a> (1967). <i>Algebra</i>. American Mathematical Society.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Algebra&amp;rft.aulast=Mac+Lane&amp;rft.aufirst=Saunders&amp;rft.au=Mac+Lane%2C%26%2332%3BSaunders&amp;rft.date=1967&amp;rft.pub=American+Mathematical+Society&amp;rfr_id=info:sid/en.wikipedia.org:Equality_(mathematics)"><span style="display: none;">&#160;</span></span></li>
</ul>
</div>


<!-- 
NewPP limit report
Preprocessor node count: 1655/1000000
Post-expand include size: 8122/2048000 bytes
Template argument size: 2016/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:90446-0!0!0!!en!4!* and timestamp 20120412192801 -->
