<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Parity_(mathematics)&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(April 2009)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, the <b>parity</b> of an object states whether it is even or odd.</p>
<p>This concept begins with <a href="/wiki/Integer" title="Integer">integers</a>. An <b>even number</b> is an integer that is "evenly divisible" by 2, i.e., divisible by 2 without remainder; an <b>odd number</b> is an integer that is not evenly divisible by 2. (The old-fashioned term "evenly divisible" is now almost always shortened to "<a href="/wiki/Divisibility" title="Divisibility" class="mw-redirect">divisible</a>".) A formal definition of an even number is that it is an integer of the form <i>n</i>&#160;=&#160;2<i>k</i>, where <i>k</i> is an integer; it can then be shown that an odd number is an integer of the form <i>n</i>&#160;=&#160;2<i>k</i>&#160;+&#160;1.</p>
<p>Examples of even numbers are 4, 0, 8, and 1728. Examples of odd numbers are 5, 3, 9, and 71. This classification only applies to integers, i.e., non-integers like 1/2 or 4.201 are neither even nor odd.</p>
<p>The <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">sets</a> of even and odd numbers can be defined as following:</p>
<ul>
<li><b>Even</b>&#160;= <img class="tex" alt="\{ 2k; \forall k \in \mathbb{Z} \}" src="//upload.wikimedia.org/wikipedia/en/math/0/8/e/08e06a280318f231d466047551ae50c5.png" /></li>
<li><b>Odd</b>&#160;= <img class="tex" alt="\{ 2k+1; \forall k \in \mathbb{Z} \}" src="//upload.wikimedia.org/wikipedia/en/math/0/9/e/09ec01dc22b09806a82dbacf7523577a.png" /></li>
</ul>
<p>A number (i.e., integer) expressed in the <a href="/wiki/Decimal" title="Decimal">decimal</a> <a href="/wiki/Numeral_system" title="Numeral system">numeral system</a> is even or odd according to whether its last digit is even or odd. That is, if the last digit is 1, 3, 5, 7, or 9, then it is odd; otherwise it is even. The same idea will work using any even base. In particular, a number expressed in the <a href="/wiki/Binary_numeral_system" title="Binary numeral system">binary numeral system</a> is odd if its last digit is 1 and even if its last digit is 0. In an odd base, the number is even according to the sum of its digits  it is even if and only if the sum of its digits is even.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Arithmetic_on_even_and_odd_numbers"><span class="tocnumber">1</span> <span class="toctext">Arithmetic on even and odd numbers</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Addition_and_subtraction"><span class="tocnumber">1.1</span> <span class="toctext">Addition and subtraction</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Multiplication"><span class="tocnumber">1.2</span> <span class="toctext">Multiplication</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Division"><span class="tocnumber">1.3</span> <span class="toctext">Division</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-5"><a href="#History"><span class="tocnumber">2</span> <span class="toctext">History</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Music_theory"><span class="tocnumber">3</span> <span class="toctext">Music theory</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Higher_mathematics"><span class="tocnumber">4</span> <span class="toctext">Higher mathematics</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Parity_for_other_objects"><span class="tocnumber">5</span> <span class="toctext">Parity for other objects</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#See_also"><span class="tocnumber">7</span> <span class="toctext">See also</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Parity_(mathematics)&amp;action=&amp;section=1" title="Edit section: Arithmetic on even and odd numbers"></a>]</span> <span class="mw-headline" id="Arithmetic_on_even_and_odd_numbers">Arithmetic on even and odd numbers</span></h2>
<p>The following laws can be verified using the properties of <a href="/wiki/Divisibility" title="Divisibility" class="mw-redirect">divisibility</a>. They are a special case of rules in <a href="/wiki/Modular_arithmetic" title="Modular arithmetic">modular arithmetic</a>, and are commonly used to check if an equality is likely to be correct by testing the parity of each side. As with ordinary arithmetic, multiplication and addition are commutative and associative, and multiplication is distributive over addition. However, subtraction in parity is identical to addition, so subtraction also possesses these properties (which are absent from ordinary arithmetic).</p>
<h3><span class="section">[<a href="/w/index.php?title=Parity_(mathematics)&amp;action=&amp;section=2" title="Edit section: Addition and subtraction"></a>]</span> <span class="mw-headline" id="Addition_and_subtraction"><a href="/wiki/Addition" title="Addition">Addition</a> and <a href="/wiki/Subtraction" title="Subtraction">subtraction</a></span></h3>
<ul>
<li>odd  even = odd;</li>
</ul>
<p>Rules analogous to these for divisibility by 9 are used in the method of <a href="/wiki/Casting_out_nines" title="Casting out nines">casting out nines</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Parity_(mathematics)&amp;action=&amp;section=3" title="Edit section: Multiplication"></a>]</span> <span class="mw-headline" id="Multiplication"><a href="/wiki/Multiplication" title="Multiplication">Multiplication</a></span></h3>
<ul>
<li>even  even = even;</li>
<li>even  odd = even;</li>
<li>odd  odd = odd.</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Parity_(mathematics)&amp;action=&amp;section=4" title="Edit section: Division"></a>]</span> <span class="mw-headline" id="Division"><a href="/wiki/Division_(mathematics)" title="Division (mathematics)">Division</a></span></h3>
<p>The division of two whole numbers does not necessarily result in a whole number. For example, 1 divided by 4 equals 1/4, which is neither even <i>nor</i> odd, since the concepts even and odd apply only to integers. But when the <a href="/wiki/Quotient" title="Quotient">quotient</a> is an integer, it will be even <a href="/wiki/If_and_only_if" title="If and only if">if and only if</a> the <a href="/wiki/Division_(mathematics)" title="Division (mathematics)">dividend</a> has more <a href="/wiki/Integer_factorization" title="Integer factorization">factors of two</a> than the divisor.</p>
<h2><span class="section">[<a href="/w/index.php?title=Parity_(mathematics)&amp;action=&amp;section=5" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<p>The ancient Greeks considered 1 to be neither fully odd nor fully even. Some of this sentiment survived into the 19th century: <a href="/wiki/Friedrich_Fr%C3%B6bel" title="Friedrich Frbel">Friedrich Wilhelm August Frbel</a>'s 1826 <i><a href="/w/index.php?title=The_Education_of_Man&amp;action=&amp;redlink=1" class="new" title="The Education of Man (page does not exist)">The Education of Man</a></i> instructs the teacher to drill students with the claim that 1 is neither even nor odd, to which Frbel attaches the philosophical afterthought,</p>
<blockquote class="templatequote">
<div class="Bug6200">It is well to direct the pupil's attention here at once to a great far-reaching law of nature and of thought. It is this, that between two relatively different things or ideas there stands always a third, in a sort of balance, seeming to unite the two. Thus, there is here between odd and even numbers one number (one) which is neither of the two. Similarly, in form, the right angle stands between the acute and obtuse angles; and in language, the semi-vowels or aspirants between the mutes and vowels. A thoughtful teacher and a pupil taught to think for himself can scarcely help noticing this and other important laws.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></div>
</blockquote>
<h2><span class="section">[<a href="/w/index.php?title=Parity_(mathematics)&amp;action=&amp;section=6" title="Edit section: Music theory"></a>]</span> <span class="mw-headline" id="Music_theory">Music theory</span></h2>
<p>In <a href="/wiki/Wind_instrument" title="Wind instrument">wind instruments</a> with a cylindrical bore and in effect closed at one end, such as the <a href="/wiki/Clarinet" title="Clarinet">clarinet</a> at the mouthpiece, the <a href="/wiki/Harmonic" title="Harmonic">harmonics</a> produced are odd multiples of the <a href="/wiki/Fundamental_frequency" title="Fundamental frequency">fundamental frequency</a>. (With cylindrical pipes open at both ends, used for example in some <a href="/wiki/Organ_stop" title="Organ stop">organ stops</a> such as the <a href="/wiki/Flue_pipe#Diapasons" title="Flue pipe">open diapason</a>, the harmonics are even multiples of the same frequency for the given bore length, but this has the effect of the fundamental frequency being doubled and all multiples of this fundamental frequency being produced.) See <a href="/wiki/Harmonic_series_(music)" title="Harmonic series (music)">harmonic series (music)</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Parity_(mathematics)&amp;action=&amp;section=7" title="Edit section: Higher mathematics"></a>]</span> <span class="mw-headline" id="Higher_mathematics">Higher mathematics</span></h2>
<p>The even numbers form an <a href="/wiki/Ring_ideal" title="Ring ideal" class="mw-redirect">ideal</a> in the <a href="/wiki/Ring_(algebra)" title="Ring (algebra)" class="mw-redirect">ring</a> of integers, but the odd numbers do not  this is clear from the fact that the <a href="/wiki/Identity_(mathematics)" title="Identity (mathematics)">identity</a> element for addition, zero, is an element of the even numbers only. An integer is even if it is congruent to 0 <a href="/wiki/Modular_arithmetic" title="Modular arithmetic">modulo</a> this ideal, in other words if it is congruent to 0 modulo 2, and odd if it is congruent to 1 modulo 2.</p>
<p>All <a href="/wiki/Prime_number" title="Prime number">prime numbers</a> are odd, with one exception: the prime number 2. All known <a href="/wiki/Perfect_number" title="Perfect number">perfect numbers</a> are even; it is unknown whether any odd perfect numbers exist.</p>
<p>The squares of all even numbers are even, and the squares of all odd numbers are odd. Since an even number can be expressed as 2x, (2x)<sup>2</sup> = 4x<sup>2</sup> which is even. Since an odd number can be expressed as 2x + 1, (2x + 1)<sup>2</sup> = 4x<sup>2</sup> + 4x + 1. 4x<sup>2</sup> and 4x are even, which means that 4x<sup>2</sup> + 4x + 1 is odd (since even + odd = odd).</p>
<p><a href="/wiki/Goldbach%27s_conjecture" title="Goldbach's conjecture">Goldbach's conjecture</a> states that every even integer greater than 2 can be represented as a sum of two prime numbers. Modern <a href="/wiki/Computer" title="Computer">computer</a> calculations have shown this conjecture to be true for integers up to at least 4  10<sup>14</sup>, but still no general <a href="/wiki/Mathematical_proof" title="Mathematical proof">proof</a> has been found.</p>
<p>The <a href="/wiki/Feit%E2%80%93Thompson_theorem" title="FeitThompson theorem">FeitThompson theorem</a> states that a <a href="/wiki/Finite_group" title="Finite group">finite group</a> is always solvable if its order is an odd number. This is an example of odd numbers playing a role in an advanced mathematical theorem where the method of application of the simple hypothesis of "odd order" is far from obvious.</p>
<h2><span class="section">[<a href="/w/index.php?title=Parity_(mathematics)&amp;action=&amp;section=8" title="Edit section: Parity for other objects"></a>]</span> <span class="mw-headline" id="Parity_for_other_objects">Parity for other objects</span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Rubiks_revenge_solved.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Rubiks_revenge_solved.jpg/220px-Rubiks_revenge_solved.jpg" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Rubiks_revenge_solved.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Rubik's Revenge in solved state</div>
</div>
</div>
<div class="tright" style="clear: right; width: 260px; text-align:center">
<div style="border:1px solid #b0b0b0; background:#f9f9f9; padding-top:6px">
<table cellpadding="0" cellspacing="0" style="border: 1px solid #b0b0b0; margin:auto">
<tr style="vertical-align:middle; background-color:white;">
<td><a href="/wiki/File:Solid_white.svg" class="image"><img alt="Solid white.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/70/Solid_white.svg/18px-Solid_white.svg.png" width="18" height="18" /></a></td>
<td>a</td>
<td>b</td>
<td>c</td>
<td>d</td>
<td>e</td>
<td>f</td>
<td>g</td>
<td>h</td>
<td><a href="/wiki/File:Solid_white.svg" class="image"><img alt="Solid white.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/70/Solid_white.svg/18px-Solid_white.svg.png" width="18" height="18" /></a></td>
</tr>
<tr style="vertical-align:middle;">
<td style="background-color:white; text-align:center;">8</td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><a href="/wiki/File:Chess_xxl45.svg" class="image"><img alt=" cross" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Chess_xxl45.svg/26px-Chess_xxl45.svg.png" width="26" height="26" /></a></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><a href="/wiki/File:Chess_xxl45.svg" class="image"><img alt=" cross" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Chess_xxl45.svg/26px-Chess_xxl45.svg.png" width="26" height="26" /></a></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:white; text-align:center;">8</td>
</tr>
<tr style="vertical-align:middle;">
<td style="background-color:white; text-align:center;">7</td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><a href="/wiki/File:Chess_xxl45.svg" class="image"><img alt=" cross" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Chess_xxl45.svg/26px-Chess_xxl45.svg.png" width="26" height="26" /></a></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><a href="/wiki/File:Chess_xxl45.svg" class="image"><img alt=" cross" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Chess_xxl45.svg/26px-Chess_xxl45.svg.png" width="26" height="26" /></a></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:white; text-align:center;">7</td>
</tr>
<tr style="vertical-align:middle;">
<td style="background-color:white; text-align:center;">6</td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><a href="/wiki/File:Chess_ndd45.svg" class="image"><img alt=" black knight" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Chess_ndd45.svg/26px-Chess_ndd45.svg.png" width="26" height="26" /></a></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:white; text-align:center;">6</td>
</tr>
<tr style="vertical-align:middle;">
<td style="background-color:white; text-align:center;">5</td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><a href="/wiki/File:Chess_xxl45.svg" class="image"><img alt=" cross" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Chess_xxl45.svg/26px-Chess_xxl45.svg.png" width="26" height="26" /></a></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><a href="/wiki/File:Chess_xxl45.svg" class="image"><img alt=" cross" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Chess_xxl45.svg/26px-Chess_xxl45.svg.png" width="26" height="26" /></a></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:white; text-align:center;">5</td>
</tr>
<tr style="vertical-align:middle;">
<td style="background-color:white; text-align:center;">4</td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><a href="/wiki/File:Chess_xxl45.svg" class="image"><img alt=" cross" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Chess_xxl45.svg/26px-Chess_xxl45.svg.png" width="26" height="26" /></a></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><a href="/wiki/File:Chess_xxl45.svg" class="image"><img alt=" cross" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Chess_xxl45.svg/26px-Chess_xxl45.svg.png" width="26" height="26" /></a></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:white; text-align:center;">4</td>
</tr>
<tr style="vertical-align:middle;">
<td style="background-color:white; text-align:center;">3</td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:white; text-align:center;">3</td>
</tr>
<tr style="vertical-align:middle;">
<td style="background-color:white; text-align:center;">2</td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:white; text-align:center;">2</td>
</tr>
<tr style="vertical-align:middle;">
<td style="background-color:white; text-align:center;">1</td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><a href="/wiki/File:Chess_bld45.svg" class="image"><img alt=" white bishop" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Chess_bld45.svg/26px-Chess_bld45.svg.png" width="26" height="26" /></a></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><a href="/wiki/File:Chess_bll45.svg" class="image"><img alt=" white bishop" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Chess_bll45.svg/26px-Chess_bll45.svg.png" width="26" height="26" /></a></td>
<td style="background-color:#d18b47; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Chess_d45.svg/26px-Chess_d45.svg.png" width="26" height="26" /></td>
<td style="background-color:#ffce9e; text-align:center;"><img alt=" black king" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Chess_l45.svg/26px-Chess_l45.svg.png" width="26" height="26" /></td>
<td style="background-color:white; text-align:center;">1</td>
</tr>
<tr style="vertical-align:middle; background-color:white;">
<td><a href="/wiki/File:Solid_white.svg" class="image"><img alt="Solid white.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/70/Solid_white.svg/18px-Solid_white.svg.png" width="18" height="18" /></a></td>
<td>a</td>
<td>b</td>
<td>c</td>
<td>d</td>
<td>e</td>
<td>f</td>
<td>g</td>
<td>h</td>
<td><a href="/wiki/File:Solid_white.svg" class="image"><img alt="Solid white.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/70/Solid_white.svg/18px-Solid_white.svg.png" width="18" height="18" /></a></td>
</tr>
</table>
<div class="thumbcaption" style="margin-left:4px;margin-right:4px;">The two white <a href="/wiki/Bishop_(chess)" title="Bishop (chess)">bishops</a> are confined to squares of opposite parity; the black <a href="/wiki/Knight_(chess)" title="Knight (chess)">knight</a> can only jump to squares of alternating parity.</div>
</div>
</div>
<p>Parity is also used to refer to a number of other properties.</p>
<ul>
<li>The <a href="/wiki/Parity_of_a_permutation" title="Parity of a permutation">parity of a permutation</a> (as defined in <a href="/wiki/Abstract_algebra" title="Abstract algebra">abstract algebra</a>) is the parity of the number of <a href="/wiki/Transposition_(mathematics)" title="Transposition (mathematics)" class="mw-redirect">transpositions</a> into which the permutation can be decomposed. For example (ABC) to (BCA) is even because it can be done by swapping A and B then C and A (two transpositions). It can be shown that no permutation can be decomposed both in an even and in an odd number of transpositions. Hence the above is a suitable definition. In <a href="/wiki/Rubik%27s_Cube" title="Rubik's Cube">Rubik's Cube</a>, <a href="/wiki/Megaminx" title="Megaminx">Megaminx</a>, and other twisty puzzles, the moves of the puzzle allow only even permutations of the puzzle pieces, so parity is important in understanding the <a href="/wiki/Configuration_space" title="Configuration space">configuration space</a> of these puzzles.</li>
</ul>
<ul>
<li>The <a href="/wiki/Even_and_odd_functions" title="Even and odd functions">parity of a function</a> describes how its values change when its arguments are exchanged with their negations. An even function, such as an even power of a variable, gives the same result for any argument as for its negation. An odd function, such as an odd power of a variable, gives for any argument the negation of its result when given the negation of that argument. It is possible for a function to be neither odd nor even, and for the case <i>f</i>(<i>x</i>)&#160;=&#160;0, to be both odd and even.</li>
</ul>
<ul>
<li>Integer coordinates of points in <a href="/wiki/Euclidean_space" title="Euclidean space">Euclidean spaces</a> of two or more dimensions also have a parity, usually defined as the parity of the sum of the coordinates.<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from February 2012">citation needed</span></a></i>]</sup> For instance, the <a href="/w/index.php?title=Checkerboard_lattice&amp;action=&amp;redlink=1" class="new" title="Checkerboard lattice (page does not exist)">checkerboard lattice</a> contains all integer points of even parity. This feature manifests itself in <a href="/wiki/Chess" title="Chess">chess</a>, as <a href="/wiki/Bishop" title="Bishop">bishops</a> are constrained to squares of the same parity; knights alternate parity between moves. This form of parity was famously used to solve the <a href="/wiki/Mutilated_chessboard_problem" title="Mutilated chessboard problem">Mutilated chessboard problem</a>.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Parity_(mathematics)&amp;action=&amp;section=9" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation book">Froebel, Friedrich; Translator Josephine Jarvis (1885) (in English). <a rel="nofollow" class="external text" href="http://www.archive.org/details/educationofman00froe"><i>The Education of Man</i></a>. New York: A Lovell &amp; Company. pp.&#160;240<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.archive.org/details/educationofman00froe">http://www.archive.org/details/educationofman00froe</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+Education+of+Man&amp;rft.aulast=Froebel&amp;rft.aufirst=Friedrich&amp;rft.au=Froebel%2C%26%2332%3BFriedrich&amp;rft.date=1885&amp;rft.pages=pp.%26nbsp%3B240&amp;rft.place=New+York&amp;rft.pub=A+Lovell+%26+Company&amp;rft_id=http%3A%2F%2Fwww.archive.org%2Fdetails%2Feducationofman00froe&amp;rfr_id=info:sid/en.wikipedia.org:Parity_(mathematics)"><span style="display: none;">&#160;</span></span></span></li>
</ol>
<h2><span class="section">[<a href="/w/index.php?title=Parity_(mathematics)&amp;action=&amp;section=10" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li>Diagonal parity  <a href="/wiki/RAID#Non-standard_levels" title="RAID">RAID#Non-standard levels</a></li>
<li><a href="/wiki/Even_and_odd_functions" title="Even and odd functions">Even and odd functions</a></li>
<li><a href="/wiki/Even_and_odd_ordinals" title="Even and odd ordinals">Even and odd ordinals</a></li>
<li><a href="/wiki/Even_and_odd_permutations" title="Even and odd permutations" class="mw-redirect">Even and odd permutations</a></li>
<li><a href="/wiki/Flight_number" title="Flight number">Flight number</a></li>
<li><a href="/wiki/House_numbering" title="House numbering">House numbering</a></li>
<li><a href="/wiki/Parity_function" title="Parity function">Parity function</a></li>
<li><a href="/wiki/Parity_of_zero" title="Parity of zero">Parity of zero</a></li>
<li><a href="/wiki/Thue%E2%80%93Morse_sequence" title="ThueMorse sequence">ThueMorse sequence</a></li>
<li><a href="/wiki/United_States_numbered_highways" title="United States numbered highways" class="mw-redirect">United States numbered highways</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 4825/1000000
Post-expand include size: 51317/2048000 bytes
Template argument size: 7237/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:143135-0!0!0!!en!4!* and timestamp 20120412184811 -->
