<div class="thumb tright">
<div class="thumbinner" style="width:242px;"><a href="/wiki/File:Triangle_ABC_with_bisector_AD.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Triangle_ABC_with_bisector_AD.svg/240px-Triangle_ABC_with_bisector_AD.svg.png" width="240" height="195" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Triangle_ABC_with_bisector_AD.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
In this diagram, BD:DC = AB:AC.</div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, the <b>angle bisector theorem</b> is concerned with the relative <a href="/wiki/Length" title="Length">lengths</a> of the two segments that a <a href="/wiki/Triangle" title="Triangle">triangle</a>'s side is divided into by a line that <a href="/wiki/Bisection" title="Bisection">bisects</a> the opposite angle. It equates their relative lengths to the relative lengths of the other two sides of the triangle.</p>
<p>Consider a triangle <i>ABC</i>. Let the <a href="/wiki/Bisection#Angle_bisector" title="Bisection">angle bisector</a> of angle <i>A</i> <a href="/wiki/Intersect" title="Intersect" class="mw-redirect">intersect</a> side <i>BC</i> at a point <i>D</i>. The angle bisector theorem states that the ratio of the length of the <a href="/wiki/Line_segment" title="Line segment">line segment</a> <i>BD</i> to the length of segment <i>DC</i> is equal to the ratio of the length of side <i>AB</i> to the length of side <i>AC</i>:</p>
<dl>
<dd><img class="tex" alt="{\frac {|BD|} {|DC|}}={\frac {|AB|}{|AC|}}. " src="//upload.wikimedia.org/wikipedia/en/math/7/d/d/7ddbb3147f29ef629f9af03ddeca4a04.png" /></dd>
</dl>
<p>The generalized angle bisector theorem states that if D lies on BC, then</p>
<dl>
<dd><img class="tex" alt="{\frac {|BD|} {|DC|}}={\frac {|AB|  \sin \angle DAB}{|AC| \sin \angle DAC}}. " src="//upload.wikimedia.org/wikipedia/en/math/8/f/1/8f14388e92c56ac8c78725a1f05340ef.png" /></dd>
</dl>
<p>This reduces to the previous version if <i>AD</i> is the bisector of <i>BAC</i>.</p>
<p>The angle bisector theorem is commonly used when the angle bisectors and side lengths are known. It can be used in a calculation or in a proof.</p>
<p>An angle bisector of an isosceles triangle will also bisect the opposite side, when the angle bisect bisects the vertex angle of the triangle</p>
<h2><span class="section">[<a href="/w/index.php?title=Angle_bisector_theorem&amp;action=&amp;section=1" title="Edit section: Proof"></a>]</span> <span class="mw-headline" id="Proof">Proof</span></h2>
<p>In the above diagram, use the <a href="/wiki/Law_of_sines" title="Law of sines">Law of Sines</a> on triangles <i>ABD</i> and <i>ACD</i>:</p>
<dl>
<dd><img class="tex" alt="{\frac {|AB|} {|BD|}} = {\frac {\sin \angle BDA} {\sin \angle BAD}} " src="//upload.wikimedia.org/wikipedia/en/math/f/2/1/f217696bd6b9cedbe87d921cfa9b891b.png" /> ..... (Equation 1)</dd>
</dl>
<dl>
<dd><img class="tex" alt="{\frac {|AC|} {|DC|}} = {\frac {\sin \angle ADC} {\sin \angle DAC}} " src="//upload.wikimedia.org/wikipedia/en/math/2/4/5/245e0a09be45ccf36555b20ee970ae16.png" /> ..... (Equation 2)</dd>
</dl>
<p>Angles <i>BDA</i> and <i>ADC</i> are <a href="/wiki/Supplementary_angles" title="Supplementary angles">supplementary</a>, and therefore have equal sines. Angles <i>BAD</i> and <i>DAC</i> are equal. Therefore the Right Hand Sides of Equations 1 and 2 are equal, so their Left Hand Sides must also be equal:</p>
<dl>
<dd><img class="tex" alt="{\frac {|AB|} {|BD|}}={\frac {|AC|}{|DC|}} " src="//upload.wikimedia.org/wikipedia/en/math/5/d/a/5dafd9e8af9b2eddf579440fcb4da1d3.png" /></dd>
</dl>
<p>which is the Angle Bisector Theorem.</p>
<p>If angles <i>BAD</i> and <i>DAC</i> are unequal, Equations 1 and 2 can be re-written as:</p>
<dl>
<dd><img class="tex" alt=" {\frac {|AB|} {|BD|} \sin \angle\ BAD = \sin \angle BDA}" src="//upload.wikimedia.org/wikipedia/en/math/c/e/1/ce12d0aa6b2a581954a159f12ac516a9.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt=" {\frac {|AC|} {|DC|} \sin \angle\ DAC = \sin \angle ADC}" src="//upload.wikimedia.org/wikipedia/en/math/2/1/d/21dac6a11571cfa9f7ed997884580dc3.png" /></dd>
</dl>
<p>Angles <i>BDA</i> and <i>ADC</i> are still supplementary, so the Right Hand Sides of these equations are equal, so the Left Hand Sides are equal to:</p>
<dl>
<dd><img class="tex" alt=" {\frac {|AB|} {|BD|} \sin \angle\ BAD = \frac {|AC|} {|DC|} \sin \angle\ DAC}" src="//upload.wikimedia.org/wikipedia/en/math/2/0/e/20e1fc759e876b0f51695e0ab52d9962.png" /></dd>
</dl>
<p>which rearranges to the "generalized" version of the theorem.</p>
<p>An alternative proof goes as follows, using its own diagram:</p>
<div class="floatright"><a href="/wiki/File:Bisekt.svg" class="image"><img alt="Bisekt.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Bisekt.svg/400px-Bisekt.svg.png" width="400" height="335" /></a></div>
<p>Let <i>B</i><sub>1</sub> be the base of altitude in the triangle <i>ABD</i> through <i>B</i> and let <i>C</i><sub>1</sub> be the base of altitude in the triangle <i>ACD</i> through <i>C</i>. Then,</p>
<p><i>DB</i><sub>1</sub><i>B</i> and <i>DC</i><sub>1</sub><i>C</i> are right, while the angles <i>B</i><sub>1</sub><i>DB</i> and <i>C</i><sub>1</sub><i>DC</i> are congruent if <i>D</i> lies on the segment <i>BC</i> and they are identical otherwise, so the triangles <i>DB</i><sub>1</sub><i>B</i> and <i>DC</i><sub>1</sub><i>C</i> are similar (AAA), which implies that</p>
<dl>
<dd><img class="tex" alt="{\frac {|BD|} {|CD|}}= {\frac {|BB_1|}{|CC_1|}}=\frac {|AB|\sin \angle BAD}{|AC|\sin \angle CAD}." src="//upload.wikimedia.org/wikipedia/en/math/4/2/0/4209edde1439ea336ed74c456d0ecbc0.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Angle_bisector_theorem&amp;action=&amp;section=2" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/Curriculum/Geometry/AngleBisectorRatio.shtml">A Property of Angle Bisectors</a> at <a href="/wiki/Cut-the-knot" title="Cut-the-knot" class="mw-redirect">cut-the-knot</a></li>
<li><a rel="nofollow" class="external text" href="http://planetmath.org/?op=getobj&amp;from=objects&amp;id=6487">Proof of angle bisector theorem</a> at <a href="/wiki/PlanetMath" title="PlanetMath">PlanetMath</a></li>
<li><a rel="nofollow" class="external text" href="http://planetmath.org/?op=getobj&amp;from=objects&amp;id=6488">Another proof of angle bisector theorem</a> at <a href="/wiki/PlanetMath" title="PlanetMath">PlanetMath</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 88/1000000
Post-expand include size: 0/2048000 bytes
Template argument size: 0/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:2401128-0!0!0!!*!4!* and timestamp 20120308055711 -->
