<table class="metadata plainlinks ambox ambox-content ambox-Refimprove" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This article <b>needs additional <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">citations</a> for <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verification</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Angular_diameter&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(September 2009)</i></small></td>
</tr>
</table>
<p>The <b>angular diameter</b> or <b>apparent size</b> of an object as seen from a given position is the visual diameter of the object measured as an angle. In the vision sciences it is called the <a href="/wiki/Visual_angle" title="Visual angle">visual angle</a>. The visual diameter is the <a href="/wiki/Diameter" title="Diameter">diameter</a> of the <a href="/wiki/Projection_(mathematics)" title="Projection (mathematics)">perspective projection</a> of the object on a <a href="/wiki/Plane_(mathematics)" title="Plane (mathematics)" class="mw-redirect">plane</a> through its centre that is <a href="/wiki/Perpendicular" title="Perpendicular">perpendicular</a> to the viewing direction. Because of <a href="/wiki/Foreshortening" title="Foreshortening" class="mw-redirect">foreshortening</a>, it may be quite different from the actual physical <a href="/wiki/Diameter" title="Diameter">diameter</a> for an object that is seen under an angle. For a disk-shaped object at a large distance, the visual and actual diameters are the same.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Formulas"><span class="tocnumber">1</span> <span class="toctext">Formulas</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Use_in_astronomy"><span class="tocnumber">2</span> <span class="toctext">Use in astronomy</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Non-circular_objects"><span class="tocnumber">3</span> <span class="toctext">Non-circular objects</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Defect_of_illumination"><span class="tocnumber">4</span> <span class="toctext">Defect of illumination</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#External_links"><span class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Angular_diameter&amp;action=&amp;section=1" title="Edit section: Formulas"></a>]</span> <span class="mw-headline" id="Formulas">Formulas</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a href="/wiki/File:Angular_dia_formula.JPG" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/49/Angular_dia_formula.JPG/400px-Angular_dia_formula.JPG" width="400" height="156" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Angular_dia_formula.JPG" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Diagram for the formula of the angular diameter</div>
</div>
</div>
<p>The angular diameter of an object can be calculated using the formula:</p>
<dl>
<dd><img class="tex" alt="\delta = 2 \arctan \left( \tfrac{1}{2}\,d / D \right)," src="//upload.wikimedia.org/wikipedia/en/math/f/b/3/fb33b3421c82dec404963f30ccf0870f.png" /></dd>
</dl>
<p>in which <img class="tex" alt="\delta" src="//upload.wikimedia.org/wikipedia/en/math/f/1/0/f10f03c9836c36537d2539196058bfa2.png" /> is the angular diameter, and <img class="tex" alt="d" src="//upload.wikimedia.org/wikipedia/en/math/8/2/7/8277e0910d750195b448797616e091ad.png" /> and <img class="tex" alt="D" src="//upload.wikimedia.org/wikipedia/en/math/f/6/2/f623e75af30e62bbd73d6df5b50bb7b5.png" /> are the visual diameter of and the distance to the object, expressed in the same units. When <img class="tex" alt="D" src="//upload.wikimedia.org/wikipedia/en/math/f/6/2/f623e75af30e62bbd73d6df5b50bb7b5.png" /> is much larger than <img class="tex" alt="d" src="//upload.wikimedia.org/wikipedia/en/math/8/2/7/8277e0910d750195b448797616e091ad.png" />, <img class="tex" alt="\delta" src="//upload.wikimedia.org/wikipedia/en/math/f/1/0/f10f03c9836c36537d2539196058bfa2.png" /> may be approximated by the formula <img class="tex" alt="\delta = d / D" src="//upload.wikimedia.org/wikipedia/en/math/0/e/5/0e5a5183d9e7cca93219443205b62a3a.png" />, in which case the result is in <a href="/wiki/Radian" title="Radian">radians</a>.</p>
<p>For a spherical object whose <i>actual</i> diameter equals <img class="tex" alt="d_\mbox{act}" src="//upload.wikimedia.org/wikipedia/en/math/c/2/e/c2e92809addced20306e1bbf9e0eedb7.png" />, the angular diameter can be found with the formula:</p>
<dl>
<dd><img class="tex" alt="\delta = 2 \arcsin \left( \tfrac{1}{2}\,d_\mbox{act} / D \right)." src="//upload.wikimedia.org/wikipedia/en/math/e/b/e/ebebbd5e908bddd4722f0f5adf87e0a2.png" /></dd>
</dl>
<p>For practical use, the distinction between the visual diameter <img class="tex" alt="d" src="//upload.wikimedia.org/wikipedia/en/math/8/2/7/8277e0910d750195b448797616e091ad.png" /> and the actual diameter <img class="tex" alt="d_\mbox{act}" src="//upload.wikimedia.org/wikipedia/en/math/c/2/e/c2e92809addced20306e1bbf9e0eedb7.png" /> only makes a difference for spherical objects that are relatively close.</p>
<h2><span class="section">[<a href="/w/index.php?title=Angular_diameter&amp;action=&amp;section=2" title="Edit section: Use in astronomy"></a>]</span> <span class="mw-headline" id="Use_in_astronomy">Use in astronomy</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a href="/wiki/File:Angular_diameter.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Angular_diameter.jpg/300px-Angular_diameter.jpg" width="300" height="167" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Angular_diameter.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Angular diameter&#160;: the angle subtended by an object</div>
</div>
</div>
<p>In <a href="/wiki/Astronomy" title="Astronomy">astronomy</a> the sizes of objects in the sky are often given in terms of their angular diameter as seen from <a href="/wiki/Earth" title="Earth">Earth</a>, rather than their actual sizes. Since these angular diameters are typically small, it is common to present them in <a href="/wiki/Arcsecond" title="Arcsecond" class="mw-redirect">arcseconds</a>. An arcsecond is 1/3600th of one <a href="/wiki/Degree_(angle)" title="Degree (angle)">degree</a>, and a radian is 180/<img class="tex" alt="\pi" src="//upload.wikimedia.org/wikipedia/en/math/5/2/2/522359592d78569a9eac16498aa7a087.png" /> degrees, so one radian equals 3600*180/<img class="tex" alt="\pi" src="//upload.wikimedia.org/wikipedia/en/math/5/2/2/522359592d78569a9eac16498aa7a087.png" /> arcseconds, which is about 206265 arcseconds. Therefore, the angular diameter of an object with visual diameter <i>d</i> at a distance <i>D</i>, expressed in arcseconds, is given by:<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="\delta" src="//upload.wikimedia.org/wikipedia/en/math/f/1/0/f10f03c9836c36537d2539196058bfa2.png" /> = 206265 <i>d</i> / <i>D</i> arcseconds.</dd>
</dl>
<p>The angular diameter of Earth's orbit around the Sun, from a distance of one <a href="/wiki/Parsec" title="Parsec">parsec</a>, is 2 (two arcseconds).</p>
<p>The angular diameter of the Sun, from a distance of one <a href="/wiki/Light-year" title="Light-year">light-year</a>, is 0.03, and that of the Earth 0.0003. The angular diameter 0.03 of the Sun given above is approximately the same as that of a person at a distance of the diameter of the <a href="/wiki/Earth" title="Earth">Earth</a>.<a rel="nofollow" class="external autonumber" href="http://www.google.com/search?hl=en&amp;hs=3cj&amp;q=arctan%286ft+%2F+12756.3+Km%29+in+arcseconds&amp;btnG=Search">[1]</a></p>
<p>This table shows the angular sizes of noteworthy <a href="/wiki/Astronomical_object" title="Astronomical object">celestial bodies</a> as seen from the Earth:</p>
<table class="wikitable">
<tr>
<th>Celestial body</th>
<th>Angular diameter</th>
<th align="left">Relative size (10 pixels per arcsecond)</th>
</tr>
<tr>
<td><a href="/wiki/Sun" title="Sun">Sun</a></td>
<td align="center">31.6  32.7</td>
<td>28.7  29.7 times the maximum value for Venus (orange bar below)</td>
</tr>
<tr>
<td><a href="/wiki/Moon" title="Moon">Moon</a></td>
<td align="center">29.3  34.1</td>
<td>26.6  31.0 times the maximum value for Venus (orange bar below)</td>
</tr>
<tr>
<td><a href="/wiki/Venus" title="Venus">Venus</a></td>
<td align="center">9.565  66.012</td>
<td>
<hr style="width:95.65px;height:8px;" />
<hr style="width:660.12px;height:8px;background:orange" /></td>
</tr>
<tr>
<td><a href="/wiki/Jupiter" title="Jupiter">Jupiter</a></td>
<td align="center">29.800  50.115</td>
<td>
<hr style="width:298px;height:8px;" />
<hr style="width:501.15px;height:8px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Saturn" title="Saturn">Saturn</a></td>
<td align="center">14.991  20.790</td>
<td>
<hr style="width:149.91px;height:8px;" />
<hr style="width:207.9px;height:8px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Mars" title="Mars">Mars</a></td>
<td align="center">3.492  25.113</td>
<td>
<hr style="width:34.92px;height:8px;" />
<hr style="width:251.13px;height:8px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Mercury_(planet)" title="Mercury (planet)">Mercury</a></td>
<td align="center">4.535  13.019</td>
<td>
<hr style="width:45.35px;height:8px;" />
<hr style="width:130.19px;height:8px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Uranus" title="Uranus">Uranus</a></td>
<td align="center">3.340  4.084</td>
<td>
<hr style="width:33.4px;height:8px;" />
<hr style="width:40.84px;height:8px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Neptune" title="Neptune">Neptune</a></td>
<td align="center">2.179  2.373</td>
<td>
<hr style="width:21.79px;height:8px;" />
<hr style="width:23.73px;height:8px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Ceres_(dwarf_planet)" title="Ceres (dwarf planet)">Ceres</a></td>
<td align="center">0.330  0.840</td>
<td>
<hr style="width:3.3px;height:8px;" />
<hr style="width:8.4px;height:8px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Vesta_(asteroid)" title="Vesta (asteroid)" class="mw-redirect">Vesta</a></td>
<td align="center">0.20"  0.64"</td>
<td>
<hr style="width:2px;height:8px;" />
<hr style="width:6.4px;height:8px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Pluto" title="Pluto">Pluto</a></td>
<td align="center">0.063  0.115</td>
<td>
<hr style="width:0.63px;height:8px;" />
<hr style="width:1.15px;height:8px;" /></td>
</tr>
<tr>
<td><a href="/wiki/R_Doradus" title="R Doradus">R Doradus</a></td>
<td align="center">0.052  0.062</td>
<td>
<hr style="width:0.52px;height:8px;" />
<hr style="width:0.62px;height:8px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Betelgeuse" title="Betelgeuse">Betelgeuse</a></td>
<td align="center">0.049  0.060</td>
<td>
<hr style="width:0.49px;height:8px;" />
<hr style="width:0.6px;height:8px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Eris_(dwarf_planet)" title="Eris (dwarf planet)">Eris</a></td>
<td align="center">0.034"  0.089</td>
<td>
<hr style="width:0.34px;height:8px;" />
<hr style="width:0.89px;height:8px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Alphard" title="Alphard">Alphard</a></td>
<td align="center">0.00909</td>
<td>
<hr style="width:0.09px;height:16px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Alpha_Centauri_A" title="Alpha Centauri A" class="mw-redirect">Alpha Centauri A</a></td>
<td align="center">0.007</td>
<td>
<hr style="width:0.07px;height:16px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Canopus" title="Canopus">Canopus</a></td>
<td align="center">0.006</td>
<td>
<hr style="width:0.06px;height:16px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Sirius" title="Sirius">Sirius</a></td>
<td align="center">0.005936</td>
<td>
<hr style="width:0.06px;height:16px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Altair" title="Altair">Altair</a></td>
<td align="center">0.003</td>
<td>
<hr style="width:0.03px;height:16px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Deneb" title="Deneb">Deneb</a></td>
<td align="center">0.002</td>
<td>
<hr style="width:0.02px;height:16px;" /></td>
</tr>
<tr>
<td><a href="/wiki/Proxima_Centauri" title="Proxima Centauri">Proxima Centauri</a></td>
<td align="center">0.001</td>
<td>
<hr style="width:0.01px;height:16px;" /></td>
</tr>
</table>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a href="/wiki/File:Comparison_angular_diameter.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Comparison_angular_diameter.svg/300px-Comparison_angular_diameter.svg.png" width="300" height="300" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Comparison_angular_diameter.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Comparison of angular diameter of the Sun, Moon and planets. To get a true representation of the sizes, view the image at a distance of 102.6 times the width of the "Moon: max." circle. For example, if this circle is 10 cm wide on your monitor, view it from 10.26 m away.</div>
</div>
</div>
<p>The table shows that the angular diameter of Sun, when seen from Earth is approximately 32 arcminutes (1920 arcseconds or 0.53 degrees), as illustrated above.</p>
<p>This meaning the angular diameter of the Sun is about 250,000 that of Sirius (it has twice the diameter and the distance is 500,000 times as much; the Sun is 10,000,000,000 times as bright, corresponding to an angular diameter ratio of 100,000, so Sirius is roughly 6 times as bright per unit <a href="/wiki/Solid_angle" title="Solid angle">solid angle</a>).</p>
<p>The angular diameter of the Sun is also about 250,000 that of Alpha Centauri A (it has the same diameter and the distance is 250,000 times as much; the Sun is 40,000,000,000 times as bright, corresponding to an angular diameter ratio of 200,000, so Alpha Centauri A is a little brighter per unit solid angle).</p>
<p>The angular diameter of the Sun is about the same as that of the Moon (the diameter is 400 times as large and the distance also; the Sun is 200,000 to 500,000 times as bright as the full Moon (figures vary), corresponding to an angular diameter ratio of 450 to 700, so a celestial body with a diameter of 2.5 to 4 and the same brightness per unit solid angle would have the same brightness as the full Moon).</p>
<p>Even though Pluto is physically larger than Ceres, when viewed from Earth, e.g. through the <a href="/wiki/Hubble_Space_Telescope" title="Hubble Space Telescope">Hubble Space Telescope</a>, Ceres has a much larger apparent size.</p>
<p>While angular sizes measured in degrees are useful for larger patches of sky (in the constellation of Orion, for example, the three stars of the belt cover about 3 degrees of angular size), we need much finer units when talking about the angular size of galaxies, nebulae or other objects of the night sky.</p>
<p>Degrees, therefore, are subdivided as follows:</p>
<ul>
<li>360 <a href="/wiki/Degree_(angle)" title="Degree (angle)">degrees</a> () in a full circle</li>
<li>60 <a href="/wiki/Arc-minute" title="Arc-minute" class="mw-redirect">arc-minutes</a> () in one degree</li>
<li>60 <a href="/wiki/Arc-second" title="Arc-second" class="mw-redirect">arc-seconds</a> () in one arc-minute</li>
</ul>
<p>To put this in perspective, the full moon viewed from earth is about  degree, or 30 arc minutes (or 1800 arc-seconds). The moon's motion across the sky can be measured in angular size: approximately 15 degrees every hour, or 15 arc-seconds per second. A one-mile-long line painted on the face of the moon would appear to us to be about one arc-second in length.</p>
<p>In astronomy, it is typically difficult to directly measure the distance to an object. But the object may have a known physical size (perhaps it is similar to a closer object with known distance) and a measurable angular diameter. In that case, the angular diameter formula can be inverted to yield the <a href="/wiki/Angular_diameter_distance" title="Angular diameter distance">Angular diameter distance</a> to distant objects as</p>
<p><img class="tex" alt="d \equiv 2 D \tan  \left ( \frac{\delta}{2} \right)" src="//upload.wikimedia.org/wikipedia/en/math/0/c/8/0c872119c765396d2f559e6cc2c1acf2.png" />.</p>
<p>In non-Euclidean space, such as our expanding universe, the angular diameter distance is only one of several definitions of distance, so that there can be different "distances" to the same object. See <a href="/wiki/Distance_measures_(cosmology)" title="Distance measures (cosmology)">Distance measures (cosmology)</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Angular_diameter&amp;action=&amp;section=3" title="Edit section: Non-circular objects"></a>]</span> <span class="mw-headline" id="Non-circular_objects">Non-circular objects</span></h2>
<p>Many <a href="/wiki/Deep_sky_object" title="Deep sky object" class="mw-redirect">deep sky objects</a> such as <a href="/wiki/Galaxies" title="Galaxies" class="mw-redirect">galaxies</a> and <a href="/wiki/Nebula" title="Nebula">nebulas</a> are non-circular and are thus typically given two measures of diameter: <i>Major Diameter</i> and <i>Minor Diameter</i>. For example, the <a href="/wiki/Small_Magellanic_Cloud" title="Small Magellanic Cloud">Small Magellanic Cloud</a> has a visual apparent diameter of 5&#160;20  3&#160;5.</p>
<h2><span class="section">[<a href="/w/index.php?title=Angular_diameter&amp;action=&amp;section=4" title="Edit section: Defect of illumination"></a>]</span> <span class="mw-headline" id="Defect_of_illumination">Defect of illumination</span></h2>
<p>Defect of illumination is the maximum angular width of the unilluminated part of a celestial body seen by a given observer. For example, if an object is 40 seconds of arc across and is 75 percent illuminated, the defect of illumination is 10 seconds of arc.</p>
<h2><span class="section">[<a href="/w/index.php?title=Angular_diameter&amp;action=&amp;section=5" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Angular_diameter_distance" title="Angular diameter distance">Angular diameter distance</a></li>
<li><a href="/wiki/Angular_resolution" title="Angular resolution">Angular resolution</a></li>
<li><a href="/wiki/Solid_angle" title="Solid angle">Solid angle</a></li>
<li><a href="/wiki/Visual_acuity" title="Visual acuity">Visual acuity</a></li>
<li><a href="/wiki/Visual_angle" title="Visual angle">Visual angle</a></li>
<li><a href="/wiki/Visual_Angle_Illusion" title="Visual Angle Illusion" class="mw-redirect">Visual Angle Illusion</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Angular_diameter&amp;action=&amp;section=6" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation book">Michael A. Seeds; Dana E. Backman (2010). <i>Stars and Galaxies</i> (7 ed.). Brooks Cole. p.&#160;39. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-0-538-73317-5" title="Special:BookSources/978-0-538-73317-5">978-0-538-73317-5</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Stars+and+Galaxies&amp;rft.aulast=Michael+A.+Seeds&amp;rft.au=Michael+A.+Seeds&amp;rft.au=Dana+E.+Backman&amp;rft.date=2010&amp;rft.pages=p.%26nbsp%3B39&amp;rft.ion=7&amp;rft.pub=Brooks+Cole&amp;rft.isbn=978-0-538-73317-5&amp;rfr_id=info:sid/en.wikipedia.org:Angular_diameter"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Angular_diameter&amp;action=&amp;section=7" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://ceres.hsc.edu/homepages/classes/astronomy/fall97/Mathematics/sec9.html">Small-Angle Formula</a></li>
<li><a rel="nofollow" class="external text" href="http://www.astronomynotes.com/solarsys/s2.htm">Visual Aid to the Apparent Size of the Planets</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1396/1000000
Post-expand include size: 7821/2048000 bytes
Template argument size: 2418/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:826723-0!0!0!!en!4!* and timestamp 20120417115734 -->
