<table class="metadata plainlinks ambox ambox-content ambox-Refimprove" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This article <b>needs additional <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">citations</a> for <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verification</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Concurrent_lines&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(March 2011)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, two or more <a href="/wiki/Line_(mathematics)" title="Line (mathematics)" class="mw-redirect">lines</a> are said to be <b>concurrent</b> if they <a href="/wiki/Line-line_intersection" title="Line-line intersection">intersect</a> at a single <a href="/wiki/Point_(geometry)" title="Point (geometry)">point</a>.</p>
<p>In a <a href="/wiki/Triangle" title="Triangle">triangle</a>, four basic types of sets of concurrent lines are <a href="/wiki/Altitude_(triangle)" title="Altitude (triangle)">altitudes</a>, <a href="/wiki/Bisection#Angle_bisector" title="Bisection">angle bisectors</a>, <a href="/wiki/Median_(geometry)" title="Median (geometry)">medians</a>, and perpendicular bisectors:</p>
<ul>
<li>A triangle's altitudes run from each <a href="/wiki/Vertex_(geometry)" title="Vertex (geometry)">vertex</a> and meet the opposite side at a <a href="/wiki/Right_angle" title="Right angle">right angle</a>. The point where the three altitudes meet is the <a href="/wiki/Orthocenter" title="Orthocenter" class="mw-redirect">orthocenter</a>.</li>
</ul>
<ul>
<li>Angle bisectors are rays running from each vertex of the triangle and bisecting the associated <a href="/wiki/Angle" title="Angle">angle</a>. They all meet at the <a href="/wiki/Incenter" title="Incenter" class="mw-redirect">incenter</a>.</li>
</ul>
<ul>
<li>Medians connect each vertex of a triangle to the midpoint of the opposite side. The three medians meet at the <a href="/wiki/Centroid" title="Centroid">centroid</a>.</li>
</ul>
<ul>
<li>Perpendicular bisectors are lines running out of the midpoints of each side of a triangle at 90 degree angles. The three perpendicular bisectors meet at the <a href="/wiki/Circumcenter" title="Circumcenter" class="mw-redirect">circumcenter</a>.</li>
</ul>
<p>Other sets of lines associated with a triangle are concurrent as well. For example, any median (which is necessarily a <a href="/wiki/Bisection#Triangle_area_bisectors" title="Bisection">bisector of the triangle's area</a>) is concurrent with two other area bisectors each of which is parallel to a side.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<p>Compare to <a href="/wiki/Line_(geometry)" title="Line (geometry)">collinear</a>. In <a href="/wiki/Projective_geometry" title="Projective geometry">projective geometry</a>, in two dimensions concurrency is the <a href="/wiki/Duality_(projective_geometry)" title="Duality (projective geometry)">dual</a> of collinearity; in three dimensions, concurrency is the dual of <a href="/wiki/Coplanarity" title="Coplanarity">coplanarity</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Concurrent_lines&amp;action=&amp;section=1" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Dunn, J. A., and Pretty, J. E., "Halving a triangle," <i><a href="/wiki/Mathematical_Gazette" title="Mathematical Gazette" class="mw-redirect">Mathematical Gazette</a></i> 56, May 1972, 105-108.</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Concurrent_lines&amp;action=&amp;section=2" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Concurrent.html">Wolfram MathWorld Concurrent</a>, 2010.</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 468/1000000
Post-expand include size: 4498/2048000 bytes
Template argument size: 1587/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:2206157-0!*!0!!*!4!* and timestamp 20120329032254 -->
