<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, a <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">set</a> of <a href="/wiki/Point_(geometry)" title="Point (geometry)">points</a> is said to be <b>concyclic</b> (or cocyclic) if they lie on a common <a href="/wiki/Circle" title="Circle">circle</a>.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Concyclic.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/16/Concyclic.svg/250px-Concyclic.svg.png" width="250" height="225" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Concyclic.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Concyclic points, showing that the perpendicular bisectors of pairs are <a href="/wiki/Concurrent_lines" title="Concurrent lines">concurrent</a></div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Four_concyclic_points.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Four_concyclic_points.png/250px-Four_concyclic_points.png" width="250" height="250" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Four_concyclic_points.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Four concyclic points showing that angles <img class="tex" alt="\alpha" src="//upload.wikimedia.org/wikipedia/en/math/b/c/c/bccfc7022dfb945174d9bcebad2297bb.png" /> are the same. Points are the vertices of a cyclic quadrilateral</div>
</div>
</div>
<p>A <a href="/wiki/Circumscribed_circle" title="Circumscribed circle">circle can be drawn around</a> any <a href="/wiki/Triangle" title="Triangle">triangle</a> and through its vertices. A quadrilateral that can be inscribed inside a circle is said to be a <a href="/wiki/Cyclic_quadrilateral" title="Cyclic quadrilateral">cyclic quadrilateral</a>.</p>
<p>In general the centre <i>O</i> of a circle on which points <i>P</i> and <i>Q</i> lie must be such that <i>OP</i> and <i>OQ</i> are equal distances. Therefore <i>O</i> must lie on the <a href="/wiki/Perpendicular_bisector" title="Perpendicular bisector" class="mw-redirect">perpendicular bisector</a> of the <a href="/wiki/Line_segment" title="Line segment">line segment</a> <i>PQ</i>. For <i>n</i> distinct points there are <i>n</i>(<i>n</i> 1)/2 such lines to draw, and the concyclic condition is that they all meet in a single point, the centre <i>O</i>.</p>
<p>A <a href="/wiki/Quadrilateral" title="Quadrilateral">quadrilateral</a> in which the four vertices are concyclic is called a <a href="/wiki/Cyclic_quadrilateral" title="Cyclic quadrilateral">cyclic quadrilateral</a>. More generally, a polygon in which all vertices are concyclic is called a <a href="/wiki/Cyclic_polygon" title="Cyclic polygon" class="mw-redirect">cyclic polygon</a>.</p>
<p>Three <a href="/wiki/Line_(mathematics)" title="Line (mathematics)" class="mw-redirect">noncollinear</a> points <i>A</i>, <i>B</i>, and <i>C</i> are concyclic to a single circle. Four different points <i>A</i>, <i>B</i>, <i>C</i>, and <i>D</i> are cyclic <a href="/wiki/If_and_only_if" title="If and only if">if and only if</a> (see second diagram):</p>
<dl>
<dd><img class="tex" alt=" \alpha \equiv \angle CAD = \angle CBD. \!\, " src="//upload.wikimedia.org/wikipedia/en/math/7/f/6/7f62d28ec3fc567fa4ff223298db34ee.png" /></dd>
</dl>
<p>This condition is the <a href="/wiki/Inscribed_angle_theorem" title="Inscribed angle theorem" class="mw-redirect">inscribed angle theorem</a>, and is equivalent to the condition that opposite angles in the quadrilateral be supplementary. Four points in the <a href="/wiki/Complex_plane" title="Complex plane">complex plane</a> are either concyclic or collinear if and only if their <a href="/wiki/Cross-ratio" title="Cross-ratio">cross-ratio</a> is <a href="/wiki/Real_number" title="Real number">real</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Concyclic_points&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Collinear_points" title="Collinear points" class="mw-redirect">Collinear points</a></li>
<li><a href="/wiki/Lester%27s_theorem" title="Lester's theorem">Lester's theorem</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Concyclic_points&amp;action=&amp;section=2" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Concyclic"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Concyclic.html">Concyclic</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><i><a rel="nofollow" class="external text" href="http://demonstrations.wolfram.com/FourConcyclicPoints/">Four Concyclic Points</a></i> by Michael Schreiber, <a href="/wiki/The_Wolfram_Demonstrations_Project" title="The Wolfram Demonstrations Project" class="mw-redirect">The Wolfram Demonstrations Project</a>.</li>
</ul>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Concyclic_points&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 193/1000000
Post-expand include size: 4033/2048000 bytes
Template argument size: 638/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:504404-0!0!0!!*!4!* and timestamp 20120410175546 -->
