<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Confocal&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(December 2009)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, <b>confocal</b> means having the same <a href="/wiki/Focus_(geometry)" title="Focus (geometry)">foci</a>.</p>
<ul>
<li>For an optical cavity consisting of two mirrors, confocal means that they share their foci. If they are identical mirrors, their <a href="/wiki/Radius_of_curvature_(optics)" title="Radius of curvature (optics)">radius of curvature</a>, <i>R</i><sub>mirror</sub>, equals <i>L</i>, where <i>L</i> is the distance between the mirrors.</li>
</ul>
<ul>
<li>In <a href="/wiki/Conic_section" title="Conic section">conic sections</a>, it is said of two <a href="/wiki/Ellipse" title="Ellipse">ellipses</a>, two <a href="/wiki/Hyperbola" title="Hyperbola">hyperbolas</a>, or an ellipse and a hyperbola which share both foci with each other. If an ellipse and a hyperbola are confocal, they are <a href="/wiki/Perpendicular" title="Perpendicular">perpendicular</a> to each other.</li>
</ul>
<ul>
<li>In <a href="/wiki/Optics" title="Optics">optics</a>, it means that one <a href="/wiki/Focus_(optics)" title="Focus (optics)">focus</a> or image point of one lens is the same as one focus of the next <a href="/wiki/Lens_(optics)" title="Lens (optics)">lens</a>.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Confocal&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Confocal_laser_scanning_microscopy" title="Confocal laser scanning microscopy">Confocal laser scanning microscopy</a></li>
<li><a href="/wiki/Confocal_microscopy" title="Confocal microscopy">Confocal microscopy</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 437/1000000
Post-expand include size: 6074/2048000 bytes
Template argument size: 2175/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:39739-0!*!0!*!*!4!* and timestamp 20120313121420 -->
