<div class="floatright"><a href="/wiki/File:Hyperbolic_sector.svg" class="image"><img alt="Hyperbolic sector.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Hyperbolic_sector.svg/200px-Hyperbolic_sector.svg.png" width="200" height="200" /></a></div>
<p>A <b>hyperbolic sector</b> is a region of the <a href="/wiki/Cartesian_plane" title="Cartesian plane" class="mw-redirect">Cartesian plane</a> {(<i>x</i>,<i>y</i>)} bounded by rays from the origin to two points (<i>a</i>, 1/<i>a</i>) and (<i>b</i>, 1/<i>b</i>) and by the <a href="/wiki/Hyperbola" title="Hyperbola">hyperbola</a> <i>xy</i> = 1.</p>
<p>A hyperbolic sector in standard position has <i>a</i> = 1 and <i>b</i> &gt; 1 .</p>
<p>The <a href="/wiki/Area" title="Area">area</a> of a hyperbolic sector in standard position is <a href="/wiki/Natural_logarithm" title="Natural logarithm">log<sub>e</sub></a> <i>b</i> .</p>
<p>Proof: Integrate under 1/<i>x</i> from 1 to <i>b</i>, add triangle {(0, 0), (1, 0), (1, 1)}, and subtract triangle {(0, 0), (<i>b</i>, 0), (<i>b</i>, 1/<i>b</i>)}. <sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<p>When in standard position, a hyperbolic sector corresponds to a positive <a href="/wiki/Hyperbolic_angle" title="Hyperbolic angle">hyperbolic angle</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Hyperbolic_sector&amp;action=&amp;section=1" title="Edit section: Hyperbolic logarithm"></a>]</span> <span class="mw-headline" id="Hyperbolic_logarithm">Hyperbolic logarithm</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Hyperbola_E.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Hyperbola_E.svg/220px-Hyperbola_E.svg.png" width="220" height="236" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Hyperbola_E.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Unit area for <i>x</i> = e</div>
</div>
</div>
<p>Students of <a href="/wiki/Integral_calculus" title="Integral calculus" class="mw-redirect">integral calculus</a> know that f(<i>x</i>) = <i>x</i><sup>p</sup> has an algebraic <a href="/wiki/Antiderivative" title="Antiderivative">antiderivative</a> except in the case p = 1 corresponding to the quadrature of the hyperbola. The other cases are given by <a href="/wiki/Cavalieri%27s_quadrature_formula" title="Cavalieri's quadrature formula">Cavalieri's quadrature formula</a>. Whereas quadrature of the parabola had been accomplished by <a href="/wiki/Archimedes" title="Archimedes">Archimedes</a> in the 3rd century BC (<a href="/wiki/The_Quadrature_of_the_Parabola" title="The Quadrature of the Parabola">The Quadrature of the Parabola</a>), the hyperbolic quadrature required the invention of a new function: <a href="/wiki/Gregoire_de_Saint-Vincent" title="Gregoire de Saint-Vincent" class="mw-redirect">Gregoire de Saint-Vincent</a> addressed the problem of computing the area of a hyperbolic sector. His findings led to the <a href="/wiki/Natural_logarithm" title="Natural logarithm">natural logarithm</a> function, once called the <i>hyperbolic logarithm</i> since it is obtained by integrating, or finding the area, under the hyperbola.</p>
<p>The natural logarithm is a <a href="/wiki/Transcendental_function" title="Transcendental function">transcendental function</a>, an entity beyond the class of <a href="/wiki/Algebraic_function" title="Algebraic function">algebraic functions</a>. Evidently transcendental functions are necessary in integral calculus.</p>
<h2><span class="section">[<a href="/w/index.php?title=Hyperbolic_sector&amp;action=&amp;section=2" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Squeeze_mapping" title="Squeeze mapping">Squeeze mapping</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Hyperbolic_sector&amp;action=&amp;section=3" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">V.G. Ashkinuse &amp; <a href="/wiki/Isaak_Yaglom" title="Isaak Yaglom">Isaak Yaglom</a> (1962) <i>Ideas and Methods of Affine and Projective Geometry</i> (in <a href="/wiki/Russian_language" title="Russian language">Russian</a>), page 151, Ministry of Education, Moscow</span></li>
</ol>
</div>


<!-- 
NewPP limit report
Preprocessor node count: 61/1000000
Post-expand include size: 165/2048000 bytes
Template argument size: 0/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1139926-0!*!0!!*!4!* and timestamp 20120329195235 -->
