<table class="metadata plainlinks ambox ambox-content ambox-one_source" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This article <b>relies largely or entirely upon a <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">single source</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Hypotenuse&amp;action=">improve this article</a> by introducing <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">citations</a> to additional sources. Discussion about the problems with the sole source used may be found on the <a href="/wiki/Talk:Hypotenuse" title="Talk:Hypotenuse">talk page</a>. <small><i>(November 2010)</i></small></td>
</tr>
</table>
<div class="thumb tright">
<div class="thumbinner" style="width:152px;"><a href="/wiki/File:Hypotenuse.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Hypotenuse.svg/150px-Hypotenuse.svg.png" width="150" height="108" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Hypotenuse.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A right-angled triangle and its hypotenuse.</div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, a <b>hypotenuse</b> is the longest side of a <a href="/wiki/Right_triangle" title="Right triangle">right-angled triangle</a>, the side opposite the <a href="/wiki/Right_angle" title="Right angle">right angle</a>. The length of the hypotenuse of a <a href="/wiki/Right_triangle" title="Right triangle">right triangle</a> can be found using the <a href="/wiki/Pythagorean_theorem" title="Pythagorean theorem">Pythagorean theorem</a>, which states that the <a href="/wiki/Square_(algebra)" title="Square (algebra)" class="mw-redirect">square</a> of the length of the hypotenuse equals the sum of the squares of the lengths of the other two sides. For example, if one of the other sides has a length of 3&#160;meters (when squared, 9&#160;m) and the other has a length of 4&#160;m (when squared, 16&#160;m), then their squares add up to 25&#160;m. The length of the hypotenuse is the <a href="/wiki/Square_root" title="Square root">square root</a> of this, or 5&#160;m.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Etymology"><span class="tocnumber">1</span> <span class="toctext">Etymology</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Calculating_the_hypotenuse"><span class="tocnumber">2</span> <span class="toctext">Calculating the hypotenuse</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Properties"><span class="tocnumber">3</span> <span class="toctext">Properties</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Trigonometric_ratios"><span class="tocnumber">4</span> <span class="toctext">Trigonometric ratios</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Notes"><span class="tocnumber">6</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#References"><span class="tocnumber">7</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Hypotenuse&amp;action=&amp;section=1" title="Edit section: Etymology"></a>]</span> <span class="mw-headline" id="Etymology">Etymology</span></h2>
<p>The word <i>hypotenuse</i> derives from <a href="/wiki/Latin" title="Latin">Latin</a> <i>hypotnsa</i>, a <a href="/wiki/Romanization_of_Greek" title="Romanization of Greek">transliteration</a> of <a href="/wiki/Ancient_Greek" title="Ancient Greek">Ancient Greek</a> <span class="Unicode"><i>hypotenousa</i> (<i>pleur</i> or <i>gramm</i>)</span>, the <a href="/wiki/Grammatical_gender" title="Grammatical gender">feminine</a> <a href="/wiki/Present_tense" title="Present tense">present</a> <a href="/wiki/Participle" title="Participle">participle</a> of <i>hypoten</i>, a combination of <i>hyp</i> ("under") and <i>ten</i> ("I stretch").<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> The word  was used for the hypotenuse of a triangle by <a href="/wiki/Plato" title="Plato">Plato</a> in the Timeus 54d and by many other ancient authors.</p>
<p>A <a href="/wiki/Folk_etymology" title="Folk etymology">folk etymology</a> says that <i>tenuse</i> means "side", so <i>hypotenuse</i> means a support like a prop or <a href="/wiki/Buttress" title="Buttress">buttress</a>,<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup> but this is inaccurate.</p>
<h2><span class="section">[<a href="/w/index.php?title=Hypotenuse&amp;action=&amp;section=2" title="Edit section: Calculating the hypotenuse"></a>]</span> <span class="mw-headline" id="Calculating_the_hypotenuse">Calculating the hypotenuse</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a href="/wiki/File:Triangle_Sides.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/03/Triangle_Sides.svg/200px-Triangle_Sides.svg.png" width="200" height="150" class="thumbimage" /></a>
<div class="thumbcaption">A right-angled triangle and its hypotenuse, <i>h</i>, along with <a href="/wiki/Cathetus" title="Cathetus">catheti</a>, <i>c<sub>1</sub></i> and <i>c<sub>2</sub></i>.</div>
</div>
</div>
<p>Usually the length of the hypotenuse is calculated using the <a href="/wiki/Square_root" title="Square root">square root</a> function derived from the <a href="/wiki/Pythagorean_theorem" title="Pythagorean theorem">Pythagorean theorem</a>. Setting x&#160;=&#160;c<sub>1</sub> and y&#160;=&#160;c<sub>2</sub> to avoid subscripts:</p>
<p>In mathematical notation;</p>
<dl>
<dd><img class="tex" alt="h = \sqrt { x^2 + y^2 } " src="//upload.wikimedia.org/wikipedia/en/math/b/f/7/bf791b04f11f3387d1e8442c75bf823e.png" /></dd>
</dl>
<p>Many computer languages support the ISO C standard function hypot(<i>x</i>,<i>y</i>), which returns the value above. The function is designed not to fail where the straightforward calculation might overflow or underflow and can be slightly more accurate.</p>
<p>Some scientific calculators provide a function to convert from <a href="/wiki/Rectangular_coordinates" title="Rectangular coordinates" class="mw-redirect">rectangular coordinates</a> to <a href="/wiki/Polar_coordinates" title="Polar coordinates" class="mw-redirect">polar coordinates</a>. This gives both the length of the hypotenuse and the <a href="/wiki/Angle" title="Angle">angle</a> the hypotenuse makes with the base line (<i>c<sub>1</sub></i> above) at the same time when given <i>x</i> and <i>y</i>. The angle returned will normally be that given by <a href="/wiki/Atan2" title="Atan2">atan2</a>(<i>y</i>,<i>x</i>).</p>
<h2><span class="section">[<a href="/w/index.php?title=Hypotenuse&amp;action=&amp;section=3" title="Edit section: Properties"></a>]</span> <span class="mw-headline" id="Properties">Properties</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:227px;"><a href="/wiki/File:Tri%C3%A2ngulo_ret%C3%A2ngulo.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Tri%C3%A2ngulo_ret%C3%A2ngulo.svg/225px-Tri%C3%A2ngulo_ret%C3%A2ngulo.svg.png" width="225" height="131" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Tri%C3%A2ngulo_ret%C3%A2ngulo.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
In the figure, <b>a</b> is the hypotenuse and <b>b</b> and <b>c</b> are the catheti. The orthographic projection of <b>b</b> is <b>m</b>, and of <b>c</b> is <b>n</b>.</div>
</div>
</div>
<p><a href="/wiki/Orthographic_projection" title="Orthographic projection">Orthographic projections</a>:</p>
<ul>
<li>The length of the hypotenuse equals the sum of the lengths of the orthographic projections of both catheti.</li>
</ul>
<ul>
<li>The square of the length of a cathetus equals the <a href="/wiki/Product_(mathematics)" title="Product (mathematics)">product</a> of the lengths of its orthographic projection on the hypotenuse times the length of this.</li>
</ul>
<dl>
<dd>
<dl>
<dd><b>b = a  m</b></dd>
<dd><b>c = a  n</b></dd>
</dl>
</dd>
</dl>
<ul>
<li>Also, the length of a cathetus <b>b</b> is the proportional mean between the lengths of its projection <b>m</b> and the hypotenuse <b>a</b>.</li>
</ul>
<dl>
<dd>
<dl>
<dd><b>a/b = b/m</b></dd>
<dd><b>a/c = c/n</b></dd>
</dl>
</dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Hypotenuse&amp;action=&amp;section=4" title="Edit section: Trigonometric ratios"></a>]</span> <span class="mw-headline" id="Trigonometric_ratios">Trigonometric ratios</span></h2>
<p>By means of <a href="/wiki/Trigonometry" title="Trigonometry">trigonometric ratios</a>, one can obtain the value of two acute angles, <img class="tex" alt="\alpha\," src="//upload.wikimedia.org/wikipedia/en/math/b/2/7/b27abc434a11d07b390df859d7aa782a.png" /> and <img class="tex" alt=" \beta\," src="//upload.wikimedia.org/wikipedia/en/math/8/1/b/81b4c8dd7cbec41cae5ef37da5644e99.png" />, of the right triangle.</p>
<p>Given the length of the hypotenuse <img class="tex" alt=" c\," src="//upload.wikimedia.org/wikipedia/en/math/0/8/1/08163b03d3a58471d7f88fc4e581a282.png" /> and of a cathetus <img class="tex" alt=" b\," src="//upload.wikimedia.org/wikipedia/en/math/5/f/c/5fce6fb65e297d5b7e9a07717b52fc59.png" />, the ratio is:</p>
<div class="floatright"><a href="/wiki/File:Euklidova_veta.svg" class="image"><img alt="Euklidova veta.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Euklidova_veta.svg/330px-Euklidova_veta.svg.png" width="330" height="182" /></a></div>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd><img class="tex" alt=" \frac{b}{c} = \sin (\beta)\," src="//upload.wikimedia.org/wikipedia/en/math/2/7/3/2739abe27dae367512b7ec8d6f81d78c.png" /></dd>
</dl>
</dd>
</dl>
</dd>
</dl>
<p>The trigonometric inverse function is:</p>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd><img class="tex" alt=" \beta\ = \arcsin\left(\frac {b}{c} \right)\," src="//upload.wikimedia.org/wikipedia/en/math/c/7/f/c7fe68ab895227c41643c77b342b6f51.png" /></dd>
</dl>
</dd>
</dl>
</dd>
</dl>
<p>in which <img class="tex" alt="\beta\," src="//upload.wikimedia.org/wikipedia/en/math/8/1/b/81b4c8dd7cbec41cae5ef37da5644e99.png" /> is the angle opposite the cathetus <img class="tex" alt=" b\," src="//upload.wikimedia.org/wikipedia/en/math/5/f/c/5fce6fb65e297d5b7e9a07717b52fc59.png" />.</p>
<p>The adjacent angle of the catheti <img class="tex" alt=" b\," src="//upload.wikimedia.org/wikipedia/en/math/5/f/c/5fce6fb65e297d5b7e9a07717b52fc59.png" />, will be <img class="tex" alt="\alpha\," src="//upload.wikimedia.org/wikipedia/en/math/b/2/7/b27abc434a11d07b390df859d7aa782a.png" /> = 90  <img class="tex" alt="\beta\," src="//upload.wikimedia.org/wikipedia/en/math/8/1/b/81b4c8dd7cbec41cae5ef37da5644e99.png" /></p>
<p>One may also obtain the value of the angle <img class="tex" alt="\beta\," src="//upload.wikimedia.org/wikipedia/en/math/8/1/b/81b4c8dd7cbec41cae5ef37da5644e99.png" /> by the equation:</p>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd><img class="tex" alt=" \beta\ = \arccos\left(\frac {a}{c} \right)\," src="//upload.wikimedia.org/wikipedia/en/math/9/6/6/966985271cfa32b7593da0178616dc11.png" /></dd>
</dl>
</dd>
</dl>
</dd>
</dl>
<p>in which <img class="tex" alt=" a\," src="//upload.wikimedia.org/wikipedia/en/math/f/5/3/f532fcdb8b9c5c620fefcd59f1d5f869.png" /> is the other cathetus.</p>
<p><br /></p>
<h2><span class="section">[<a href="/w/index.php?title=Hypotenuse&amp;action=&amp;section=5" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Cathetus" title="Cathetus">Cathetus</a></li>
<li><a href="/wiki/Triangle" title="Triangle">Triangle</a></li>
<li><a href="/wiki/Space_diagonal" title="Space diagonal">Space diagonal</a></li>
<li><a href="/wiki/Nonhypotenuse_number" title="Nonhypotenuse number">Nonhypotenuse number</a></li>
<li><a href="/wiki/Taxicab_geometry" title="Taxicab geometry">Taxicab geometry</a></li>
<li><a href="/wiki/Trigonometry" title="Trigonometry">Trigonometry</a></li>
<li><a href="/wiki/Special_right_triangles" title="Special right triangles">Special right triangles</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Hypotenuse&amp;action=&amp;section=6" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation web">Harper, Douglas. <a rel="nofollow" class="external text" href="http://www.etymonline.com/index.php?term=hypotenuse">"hypotenuse"</a>. <i><a href="/wiki/Online_Etymology_Dictionary" title="Online Etymology Dictionary">Online Etymology Dictionary</a></i><span class="printonly">. <a rel="nofollow" class="external free" href="http://www.etymonline.com/index.php?term=hypotenuse">http://www.etymonline.com/index.php?term=hypotenuse</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=hypotenuse&amp;rft.atitle=%5B%5BOnline+Etymology+Dictionary%5D%5D&amp;rft.aulast=Harper%2C+Douglas&amp;rft.au=Harper%2C+Douglas&amp;rft_id=http%3A%2F%2Fwww.etymonline.com%2Findex.php%3Fterm%3Dhypotenuse&amp;rfr_id=info:sid/en.wikipedia.org:Hypotenuse"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.04.0057:entry=u(potei/nw">u(potei/nw</a>, <a rel="nofollow" class="external text" href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.04.0057:entry=u(po/">u(po/</a>, <a rel="nofollow" class="external text" href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.04.0057:entry=tei/nw">tei/nw</a>, <a rel="nofollow" class="external text" href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.04.0057:entry=pleura/">pleura/</a>. Liddell, Henry George; Scott, Robert; <i><a href="/wiki/A_Greek%E2%80%93English_Lexicon" title="A GreekEnglish Lexicon">A GreekEnglish Lexicon</a></i> at <a href="/wiki/Perseus_Project" title="Perseus Project">Perseus Project</a></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><span class="citation book">Anderson, Raymond (1947). <i>Romping Through Mathematics</i>. Faber. pp.&#160;52.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Romping+Through+Mathematics&amp;rft.aulast=Anderson&amp;rft.aufirst=Raymond&amp;rft.au=Anderson%2C%26%2332%3BRaymond&amp;rft.date=1947&amp;rft.pages=pp.%26nbsp%3B52&amp;rft.pub=Faber&amp;rfr_id=info:sid/en.wikipedia.org:Hypotenuse"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Hypotenuse&amp;action=&amp;section=7" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Hypotenuse"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Hypotenuse.html">Hypotenuse</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 2011/1000000
Post-expand include size: 11189/2048000 bytes
Template argument size: 3197/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:251366-0!0!0!!en!4!* and timestamp 20120412184015 -->
