<div class="thumb tright">
<div class="thumbinner" style="width:277px;"><a href="/wiki/File:Inscribed_circles.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Inscribed_circles.svg/275px-Inscribed_circles.svg.png" width="275" height="275" class="thumbimage" /></a>
<div class="thumbcaption">Inscribed circles of various polygons</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Circumcentre.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Circumcentre.svg/220px-Circumcentre.svg.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Circumcentre.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
An inscribed triangle of a circle</div>
</div>
</div>
<p><br />
In <a href="/wiki/Geometry" title="Geometry">geometry</a>, an <b>inscribed</b> <a href="/wiki/Planar" title="Planar">planar</a> <a href="/wiki/Shape" title="Shape">shape</a> or <a href="/wiki/Solid_(geometry)" title="Solid (geometry)" class="mw-redirect">solid</a> is one that is enclosed by and "fits snugly" inside another geometric shape or solid. To say that "Figure F is inscribed in figure G" means precisely the same thing as "figure G is circumscribed about figure F". A circle or ellipse inscribed in a convex polygon (or a sphere or ellipsoid inscribed in a convex <a href="/wiki/Polyhedron" title="Polyhedron">polyhedron</a>) is tangent to every side of the outer figure (but see <a href="/wiki/Inscribed_sphere" title="Inscribed sphere">Inscribed sphere</a> for semantic variants). A polygon inscribed in a circle, ellipse, or polygon (or a polyhedron inscribed in a sphere, ellipsoid, or polyhedron) has each vertex on the outer figure; if the outer figure is a polygon or polyhedron, there must be a vertex of the inscribed polygon or polyhedron on each side of the outer figure. Familiar examples include <a href="/wiki/Circle" title="Circle">circles</a> inscribed in <a href="/wiki/Triangle" title="Triangle">triangles</a> or <a href="/wiki/Regular_polygon" title="Regular polygon">regular polygons</a>, and triangles or regular polygons inscribed in circles.</p>
<p>An inscribed figure is not necessarily unique in orientation; this can easily be seen, for example, when the given outer figure is a circle, in which case a rotation of an inscribed figure gives another inscribed figure that is congruent to the original one.</p>
<p>The definition given above assumes that the objects concerned are embedded in two- or three-<a href="/wiki/Dimension" title="Dimension">dimensional</a> <a href="/wiki/Euclidean_space" title="Euclidean space">Euclidean space</a>, but can easily be generalized to higher dimensions and other <a href="/wiki/Metric_space" title="Metric space">metric spaces</a>.</p>
<p>The <b>inradius</b> or <a href="/wiki/Filling_radius" title="Filling radius">filling radius</a> of a given outer figure is the <a href="/wiki/Radius" title="Radius">radius</a> of the inscribed circle or sphere, if it exists.</p>
<h2><span class="section">[<a href="/w/index.php?title=Inscribed_figure&amp;action=&amp;section=1" title="Edit section: Facts about inscribed figures"></a>]</span> <span class="mw-headline" id="Facts_about_inscribed_figures">Facts about inscribed figures</span></h2>
<ul>
<li>Every circle has an inscribed triangle with any three given <a href="/wiki/Angle" title="Angle">angle</a> measures (summing of course to 180), and every triangle can be inscribed in some circle (which is called its <a href="/wiki/Circumscribed_circle" title="Circumscribed circle">circumscribed circle</a>).</li>
</ul>
<ul>
<li>Every triangle has an inscribed circle, called the <a href="/wiki/Incircle_and_excircles_of_a_triangle" title="Incircle and excircles of a triangle">incircle</a>.</li>
</ul>
<ul>
<li>Every circle has an inscribed regular polygon of <i>n</i> sides, for any <i>n</i>3, and every regular polygon can be inscribed in some circle.</li>
</ul>
<ul>
<li>Every regular polygon has an inscribed circle, and every circle can be inscribed in some regular polygon of <i>n</i> sides, for any <i>n</i>3.</li>
</ul>
<ul>
<li>Every triangle has an infinitude of inscribed <a href="/wiki/Ellipse" title="Ellipse">ellipses</a>. One of them is a circle, and one of them is the <a href="/wiki/Steiner_inellipse" title="Steiner inellipse">Steiner inellipse</a> which is tangent to the triangle at the midpoints of the sides.</li>
</ul>
<ul>
<li>Every triangle has <a href="/wiki/Triangle#Figures_inscribed_in_a_triangle" title="Triangle">three inscribed squares</a>, though two of them coincide with each other in the case of a right triangle.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Inscribed_figure&amp;action=&amp;section=2" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Circumconic_and_inconic" title="Circumconic and inconic">Circumconic and inconic</a></li>
<li><a href="/wiki/Inscribed_square_problem" title="Inscribed square problem">Inscribed square problem</a></li>
</ul>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Inscribed_figure&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 163/1000000
Post-expand include size: 3839/2048000 bytes
Template argument size: 611/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:4470203-0!*!0!!*!4!* and timestamp 20120309222740 -->
