<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Segmento-definicion.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Segmento-definicion.png/250px-Segmento-definicion.png" width="250" height="56" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Segmento-definicion.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The geometric definition of a line segment</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Fotothek_df_tg_0003359_Geometrie_%5E_Konstruktion_%5E_Strecke_%5E_Messinstrument.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Fotothek_df_tg_0003359_Geometrie_%5E_Konstruktion_%5E_Strecke_%5E_Messinstrument.jpg/220px-Fotothek_df_tg_0003359_Geometrie_%5E_Konstruktion_%5E_Strecke_%5E_Messinstrument.jpg" width="220" height="323" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Fotothek_df_tg_0003359_Geometrie_%5E_Konstruktion_%5E_Strecke_%5E_Messinstrument.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
historical image  create a line segment (1699)</div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, a <b>line segment</b> is a part of a <a href="/wiki/Line_(mathematics)" title="Line (mathematics)" class="mw-redirect">line</a> that is bounded by two end <a href="/wiki/Point_(geometry)" title="Point (geometry)">points</a>, and contains every point on the line between its end points. Examples of line segments include the sides of a triangle or square. More generally, when the end points are both vertices of a <a href="/wiki/Polygon" title="Polygon">polygon</a>, the line segment is either an <a href="/wiki/Edge_(geometry)" title="Edge (geometry)">edge</a> (of that polygon) if they are adjacent vertices, or otherwise a <a href="/wiki/Diagonal" title="Diagonal">diagonal</a>. When the end points both lie on a <a href="/wiki/Curve" title="Curve">curve</a> such as a <a href="/wiki/Circle" title="Circle">circle</a>, a line segment is called a <a href="/wiki/Chord_(geometry)" title="Chord (geometry)">chord</a> (of that curve).</p>
<p>Sometimes one needs to distinguish between "open" and "closed" line segments. Then one defines a <b>closed line segment</b> as above, and an <b>open line segment</b> as a subset <i>L</i> that can be parametrized as</p>
<dl>
<dd><img class="tex" alt=" L = \{ \mathbf{u}+t\mathbf{v} \mid t\in(0,1)\}" src="//upload.wikimedia.org/wikipedia/en/math/9/3/3/933ae5e26de272ca4751c68c44c6cf4a.png" /></dd>
</dl>
<p>for some vectors <img class="tex" alt="\mathbf{u}, \mathbf{v} \in V\,\!" src="//upload.wikimedia.org/wikipedia/en/math/3/2/9/329817ada78defd7321c0691889cae1f.png" />.</p>
<p>Equivalently, a line segment is the <a href="/wiki/Convex_hull" title="Convex hull">convex hull</a> of two points. Thus, the line segment can be expressed as a <a href="/wiki/Convex_combination" title="Convex combination">convex combination</a> of the segment's two end points.</p>
<p>In geometry, it is sometimes defined that a point <i>B</i> is between two other points <i>A</i> and <i>C</i>, if the distance <i>AB</i> added to the distance <i>BC</i> is equal to the distance <i>AC</i>. Thus the equation of a line segment with endpoints <span class="nowrap"><i>A</i> = (<i>a<sub>x</sub></i>, <i>a<sub>y</sub></i>)</span> and <span class="nowrap"><i>C</i> = (<i>c<sub>x</sub></i>, <i>c<sub>y</sub></i>)</span> is</p>
<dl>
<dd><img class="tex" alt="\sqrt{(x-c_x)^2 + (y-c_y)^2} + \sqrt{(x-a_x)^2 + (y-a_y)^2} = \sqrt{(c_x-a_x)^2 + (c_y-a_y)^2}." src="//upload.wikimedia.org/wikipedia/en/math/0/8/1/081c8b9d09ff973477035264f15e109f.png" /></dd>
</dl>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Properties"><span class="tocnumber">1</span> <span class="toctext">Properties</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#In_proofs"><span class="tocnumber">2</span> <span class="toctext">In proofs</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#As_a_degenerate_ellipse"><span class="tocnumber">3</span> <span class="toctext">As a degenerate ellipse</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#References"><span class="tocnumber">5</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#External_links"><span class="tocnumber">6</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Line_segment&amp;action=&amp;section=1" title="Edit section: Properties"></a>]</span> <span class="mw-headline" id="Properties">Properties</span></h2>
<ul>
<li>A line segment is a <a href="/wiki/Connected_set" title="Connected set" class="mw-redirect">connected</a>, <a href="/wiki/Non-empty" title="Non-empty" class="mw-redirect">non-empty</a> <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">set</a>.</li>
<li>If <i>V</i> is a <a href="/wiki/Topological_vector_space" title="Topological vector space">topological vector space</a>, then a closed line segment is a <a href="/wiki/Closed_set" title="Closed set">closed set</a> in <i>V</i>. However, an open line segment is an <a href="/wiki/Open_subset" title="Open subset" class="mw-redirect">open set</a> in <i>V</i> <a href="/wiki/If_and_only_if" title="If and only if">if and only if</a> <i>V</i> is one-dimensional.</li>
<li>More generally than above, the concept of a line segment can be defined in an <a href="/wiki/Ordered_geometry" title="Ordered geometry">ordered geometry</a>.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Line_segment&amp;action=&amp;section=2" title="Edit section: In proofs"></a>]</span> <span class="mw-headline" id="In_proofs">In proofs</span></h2>
<p>In an axiomatic treatment of geometry, the notion of betweenness is either assumed to satisfy a certain number of axioms, or else be defined in terms of an isometry of a line (used as a coordinate system).</p>
<p>Segments play an important role in other theories. For example, a set is convex if the segment that joins any two points of the set is contained in the set. This is important because it transforms some of the analysis of convex sets to the analysis of a line segment.</p>
<h2><span class="section">[<a href="/w/index.php?title=Line_segment&amp;action=&amp;section=3" title="Edit section: As a degenerate ellipse"></a>]</span> <span class="mw-headline" id="As_a_degenerate_ellipse">As a degenerate ellipse</span></h2>
<p>A line segment can be viewed as a <a href="/wiki/Degenerate_conic" title="Degenerate conic">degenerate case</a> of an <a href="/wiki/Ellipse" title="Ellipse">ellipse</a> in which the semiminor axis goes to zero, the <a href="/wiki/Focus_(geometry)" title="Focus (geometry)">foci</a> go to the end points, and the eccentricity goes to one. As a degenerate orbit this is a <a href="/wiki/Elliptic_orbit#Radial_elliptic_trajectory" title="Elliptic orbit">radial elliptic trajectory</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Line_segment&amp;action=&amp;section=4" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Interval_(mathematics)" title="Interval (mathematics)">Interval (mathematics)</a></li>
<li><a href="/wiki/Line_(geometry)" title="Line (geometry)">Line (geometry)</a></li>
<li><a href="/wiki/Line_segment_intersection" title="Line segment intersection">Line segment intersection</a>, the algorithmic problem of finding intersecting pairs in a collection of line segments</li>
<li><a href="/wiki/Spirangle" title="Spirangle">Spirangle</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Line_segment&amp;action=&amp;section=5" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li>David Hilbert: <i>The Foundations of Geometry</i>. The Open Court Publishing Company 1950, p. 4</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Line_segment&amp;action=&amp;section=6" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" width="30" height="40" /></td>
<td class="mbox-text" style="">Wikimedia Commons has media related to: <i><b><a class="external text" href="//commons.wikimedia.org/wiki/Line_segment">Line segment</a></b></i></td>
</tr>
</table>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/line_segment">line segment</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<ul>
<li><a rel="nofollow" class="external text" href="http://planetmath.org/encyclopedia/LineSegment.html">Line Segment at</a> <a href="/wiki/PlanetMath" title="PlanetMath">PlanetMath</a></li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/linesegment.html">Definition of line segment</a> With interactive animation</li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/constcopysegment.html">Copying a line segment with compass and straightedge</a></li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/constdividesegment.html">Dividing a line segment into N equal parts with compass and straightedge</a> Animated demonstration</li>
</ul>
<p><i>This article incorporates material from <a href="http://planetmath.org/?op=getobj&amp;from=objects&amp;id=5783" class="extiw" title="planetmath:5783">Line segment</a> on <a href="/wiki/PlanetMath" title="PlanetMath">PlanetMath</a>, which is licensed under the <a href="/wiki/Wikipedia:CC-BY-SA" title="Wikipedia:CC-BY-SA" class="mw-redirect">Creative Commons Attribution/Share-Alike License</a>.</i></p>


<!-- 
NewPP limit report
Preprocessor node count: 401/1000000
Post-expand include size: 3527/2048000 bytes
Template argument size: 1067/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:22634860-0!0!0!!en!4!* and timestamp 20120414185553 -->
