<div class="thumb tright">
<div class="thumbinner" style="width:292px;"><a href="/wiki/File:FuncionLineal01.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/86/FuncionLineal01.svg/290px-FuncionLineal01.svg.png" width="290" height="290" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:FuncionLineal01.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Three lines  the red and blue lines have the same slope, while the red and green ones have same y-intercept.</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:312px;"><a href="/wiki/File:1D_line.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b4/1D_line.svg/310px-1D_line.svg.png" width="310" height="29" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:1D_line.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A representation of one <a href="/wiki/Line_segment" title="Line segment">line segment</a></div>
</div>
</div>
<p>The notion of <b>line</b> or <b>straight line</b> was introduced by ancient mathematicians to represent <a href="/wiki/Curvature" title="Curvature">straight</a> objects with negligible width and depth. Lines are an idealization of such objects. Thus, until seventeenth century, lines were defined like this: "The line is the first species of quantity, which has only one dimension, namely length, without any width nor depth, and is nothing else than the flow or run of the point which [...] will leave from its imaginary moving some vestige in length, exempt of any width. [...] The straight line is that which is equally extended between its points" <sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<p><a href="/wiki/Euclid" title="Euclid">Euclid</a> described a line as "breadthless length", and introduced several <a href="/wiki/Postulate" title="Postulate" class="mw-redirect">postulates</a> as basic unprovable properties from which he constructed the geometry, which is now called <a href="/wiki/Euclidean_geometry" title="Euclidean geometry">Euclidean geometry</a> to avoid confusion with other geometries which have been introduced since the end of nineteenth century (such as <a href="/wiki/Non-Euclidean_geometry" title="Non-Euclidean geometry">non-Euclidean geometry</a>, <a href="/wiki/Projective_geometry" title="Projective geometry">projective geometry</a>, and <a href="/wiki/Affine_geometry" title="Affine geometry">affine geometry</a>).</p>
<p>In modern mathematics, given the multitude of geometries, the concept of a line is closely tied to the way the geometry is described. For instance, in <a href="/wiki/Analytic_geometry" title="Analytic geometry">analytic geometry</a>, a line in the plane is often defined as the set of points whose coordinates satisfy a given <a href="/wiki/Linear_equation" title="Linear equation">linear equation</a>, but in a more abstract setting, such as <a href="/wiki/Incidence_geometry" title="Incidence geometry">incidence geometry</a>, a line may be an independent object, distinct from the set of points which lie on it.</p>
<p>When a geometry is described by a set of <a href="/wiki/Axiom" title="Axiom">axioms</a>, the notion of a line is usually left undefined (a so-called <a href="/wiki/Primitive_notion" title="Primitive notion">primitive</a> object). The properties of lines are then determined by the axioms which refer to them. One advantage to this approach is the flexibility it gives to users of the geometry. Thus in <a href="/wiki/Differential_geometry" title="Differential geometry">differential geometry</a> a line may be interpreted as a <a href="/wiki/Geodesic" title="Geodesic">geodesic</a> (shortest path between points), while in some <a href="/wiki/Projective_geometry" title="Projective geometry">projective geometries</a> a line is a 2-dimensional vector space (all linear combinations of two independent vectors). This flexibility also extends beyond mathematics and, for example, permits physicists to think of the path of a light ray as being a line.</p>
<p>A <a href="/wiki/Line_segment" title="Line segment">line segment</a> is a part of a line that is bounded by two distinct end points and contains every point on the line between its end points. Depending on how the line segment is defined, either of the two end points may or may not be part of the line segment. Two or more line segments may have some of the same relationships as lines, such as being parallel, intersecting, or skew.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Euclidean_geometry"><span class="tocnumber">1</span> <span class="toctext">Euclidean geometry</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Ray"><span class="tocnumber">1.1</span> <span class="toctext">Ray</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Coordinate_geometry"><span class="tocnumber">1.2</span> <span class="toctext">Coordinate geometry</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Vector_equation"><span class="tocnumber">1.3</span> <span class="toctext">Vector equation</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Collinear_points"><span class="tocnumber">1.4</span> <span class="toctext">Collinear points</span></a></li>
<li class="toclevel-2 tocsection-6"><a href="#Euclidean_space"><span class="tocnumber">1.5</span> <span class="toctext">Euclidean space</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-7"><a href="#Projective_geometry"><span class="tocnumber">2</span> <span class="toctext">Projective geometry</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Geodesics"><span class="tocnumber">3</span> <span class="toctext">Geodesics</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#Notes"><span class="tocnumber">5</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#External_links"><span class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Line_(geometry)&amp;action=&amp;section=1" title="Edit section: Euclidean geometry"></a>]</span> <span class="mw-headline" id="Euclidean_geometry">Euclidean geometry</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Euclidean_geometry" title="Euclidean geometry">Euclidean geometry</a></div>
<p>When geometry was first formalised by <a href="/wiki/Euclid" title="Euclid">Euclid</a> in the <i><a href="/wiki/Euclid%27s_Elements" title="Euclid's Elements">Elements</a></i>, he defined lines to be "breadthless length" with a straight line being a line "which lies evenly with the points on itself".<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> These definitions serve little purpose since they use terms which are not, themselves, defined. In fact, Euclid did not use these definitions in work and probably included them just to make it clear to the reader what was being discussed. In modern geometry, a line is simply taken as an undefined object with properties given by <a href="/wiki/Postulate" title="Postulate" class="mw-redirect">postulates</a>,<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup> but is sometimes defined as a set of points obeying a linear relationship.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup></p>
<p>In an <a href="/wiki/Axiom" title="Axiom">axiomatic</a> formulation of Euclidean geometry, such as that of <a href="/wiki/Hilbert%27s_axioms" title="Hilbert's axioms">Hilbert</a> (Euclid's original axioms contained various flaws which have been corrected by modern mathematicians),<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup> a line is stated to have certain properties which relate it to other lines and <a href="/wiki/Point_(geometry)" title="Point (geometry)">points</a>. For example, for any two distinct points, there is a unique line containing them, and any two distinct lines intersect in at most one point.<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup> In two <a href="/wiki/Dimension" title="Dimension">dimensions</a>, i.e., the Euclidean <a href="/wiki/Plane_(mathematics)" title="Plane (mathematics)" class="mw-redirect">plane</a>, two lines which do not intersect are called <a href="/wiki/Parallel_(geometry)" title="Parallel (geometry)">parallel</a>. In higher dimensions, two lines that do not intersect may be parallel if they are contained in a plane, or <a href="/wiki/Skew_lines" title="Skew lines">skew</a> if they are not.</p>
<p>Any collection of finitely many lines partitions the plane into <a href="/wiki/Convex_polygon" title="Convex polygon" class="mw-redirect">convex polygons</a> (possibly unbounded); this partition is known as an <a href="/wiki/Arrangement_of_lines" title="Arrangement of lines">arrangement of lines</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Line_(geometry)&amp;action=&amp;section=2" title="Edit section: Ray"></a>]</span> <span class="mw-headline" id="Ray">Ray</span></h3>
<p>If the concept of "order" of points of a line is defined, a <i>ray</i>, or half-line, may be defined as well. A ray is part of a line which is finite in one direction, but infinite in the other. It can be defined by two points, the initial point, A, and one other, B. The ray is all the points in the line segment between A and B together with all points, C, on the line through A and B such that the points appear on the line in the order A, B, C.<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup></p>
<div class="center">
<div class="floatnone"><a href="/wiki/File:Ray_(A,_B,_C).svg" class="image" title="Ray"><img alt="Ray" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Ray_%28A%2C_B%2C_C%29.svg/500px-Ray_%28A%2C_B%2C_C%29.svg.png" width="500" height="50" /></a></div>
</div>
<p>In <a href="/wiki/Topology" title="Topology">topology</a>, a ray in a space <i>X</i> is a continuous embedding <b>R</b><sup>+</sup>  <i>X</i>. It is used to define the important concept of <a href="/wiki/End_(topology)" title="End (topology)">end</a> of the space.</p>
<h3><span class="section">[<a href="/w/index.php?title=Line_(geometry)&amp;action=&amp;section=3" title="Edit section: Coordinate geometry"></a>]</span> <span class="mw-headline" id="Coordinate_geometry">Coordinate geometry</span></h3>
<p>In <a href="/wiki/Coordinate_geometry" title="Coordinate geometry" class="mw-redirect">coordinate geometry</a>, lines in a <a href="/wiki/Cartesian_plane" title="Cartesian plane" class="mw-redirect">Cartesian plane</a> can be described algebraically by <a href="/wiki/Linear_equation" title="Linear equation">linear equations</a> and <a href="/wiki/Linear_function" title="Linear function">linear functions</a>. In two dimensions, the characteristic equation is often given by the <i><a href="/wiki/Slope-intercept_form" title="Slope-intercept form" class="mw-redirect">slope-intercept form</a></i>:</p>
<dl>
<dd><img class="tex" alt=" y = mx + c \," src="//upload.wikimedia.org/wikipedia/en/math/9/f/7/9f7e4ec58f07a800b45c08fd4935e90a.png" /></dd>
</dl>
<p>where:</p>
<dl>
<dd><i>m</i> is the <a href="/wiki/Slope" title="Slope">slope</a> or <a href="/wiki/Slope" title="Slope">gradient</a> of the line.</dd>
<dd><i>c</i> is the <a href="/wiki/Y-intercept" title="Y-intercept">y-intercept</a> of the line.</dd>
<dd><i>x</i> is the <a href="/wiki/Independent_variable" title="Independent variable" class="mw-redirect">independent variable</a> of the function <i>y = f(x)</i>.</dd>
</dl>
<p>The slope of the line through points A(a<sub>x</sub>, a<sub>y</sub>) and B(b<sub>x</sub>, b<sub>y</sub>) is given by <i>m</i> = (b<sub>y</sub>-a<sub>y</sub>)/(b<sub>x</sub>-a<sub>x</sub>) and the equation of this line can be written y = <i>m</i>(x - a<sub>x</sub>) + a<sub>y</sub>.</p>
<p>In three dimensions, a line is described by <a href="/wiki/Parametric_equations" title="Parametric equations" class="mw-redirect">parametric equations</a>:</p>
<dl>
<dd><img class="tex" alt=" x = x_0 + at \," src="//upload.wikimedia.org/wikipedia/en/math/9/e/9/9e9418d3ca1a77a8b75dfb49e61bcbcd.png" /></dd>
<dd><img class="tex" alt=" y = y_0 + bt \," src="//upload.wikimedia.org/wikipedia/en/math/9/e/3/9e385507e090d5f40b9ae3e767efb0b9.png" /></dd>
<dd><img class="tex" alt=" z = z_0 + ct \," src="//upload.wikimedia.org/wikipedia/en/math/2/7/1/271439de67a609838713d19c85a3711f.png" /></dd>
</dl>
<p>where:</p>
<dl>
<dd><i>x</i>, <i>y</i>, and <i>z</i> are all functions of the independent variable <i>t</i>.</dd>
<dd><i>x</i><sub>0</sub>, <i>y</i><sub>0</sub>, and <i>z</i><sub>0</sub> are the initial values of each respective variable (or (<i>x</i><sub>0</sub>, <i>y</i><sub>0</sub>, <i>z</i><sub>0</sub>) is any point on the line).</dd>
<dd><i>a</i>, <i>b</i>, and <i>c</i> are related to the slope of the line, such that the <a href="/wiki/Vector_(geometric)" title="Vector (geometric)" class="mw-redirect">vector</a> (<i>a</i>, <i>b</i>, <i>c</i>) is a parallel to the line.</dd>
</dl>
<p>In <b>R</b><sup>2</sup>, every line <i>L</i> is described by a linear equation of the form</p>
<dl>
<dd><img class="tex" alt="L=\{(x,y)\mid ax+by=c\} \," src="//upload.wikimedia.org/wikipedia/en/math/f/f/9/ff9b9f0e61921fce59e501cb3a98d70d.png" /></dd>
</dl>
<p>with fixed real <a href="/wiki/Coefficient" title="Coefficient">coefficients</a> <i>a</i>, <i>b</i> and <i>c</i> such that <i>a</i> and <i>b</i> are not both zero (see <a href="/wiki/Linear_equation" title="Linear equation">Linear equation</a> for other forms). Important properties of these lines are their slope, <a href="/wiki/Root_of_a_function" title="Root of a function" class="mw-redirect">x-intercept</a> and y-intercept.</p>
<p>The equation of the line passing through two different points <img class="tex" alt="P_0 = ( x_0, y_0 )" src="//upload.wikimedia.org/wikipedia/en/math/7/e/e/7ee2fd91773dd6e6ecba3de7a1b74fd5.png" /> and <img class="tex" alt="P_1 = (x_1, y_1)" src="//upload.wikimedia.org/wikipedia/en/math/e/3/8/e38e464b2ad39be72af38cacc8fc17de.png" /> may be written as</p>
<dl>
<dd><img class="tex" alt="(y - y_0)(x_1 - x_0) = (y_1 - y_0)(x - x_0)" src="//upload.wikimedia.org/wikipedia/en/math/3/0/0/30045ad91ddd9fce1948ea2bd6117913.png" />.</dd>
</dl>
<p>If <i>x<sub>0</sub></i>  <i>x<sub>1</sub></i>, this equation may be rewritten as</p>
<dl>
<dd><img class="tex" alt="y=(x-x_0)\,\frac{y_1-y_0}{x_1-x_0}+y_0" src="//upload.wikimedia.org/wikipedia/en/math/d/1/7/d17c71a0d7d155ec5a9d4055163253e9.png" /></dd>
</dl>
<p>or</p>
<dl>
<dd><img class="tex" alt="y=x\,\frac{y_1-y_0}{x_1-x_0}+\frac{x_1y_0-x_0y_1}{x_1-x_0}\,." src="//upload.wikimedia.org/wikipedia/en/math/a/9/9/a99bbe376be12d430ff9ac8544e15f8a.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Line_(geometry)&amp;action=&amp;section=4" title="Edit section: Vector equation"></a>]</span> <span class="mw-headline" id="Vector_equation">Vector equation</span></h3>
<p>The vector equation of the line through points A and B is given by <b>r</b> = <b>OA</b> + <b>AB</b> (where  is a scalar multiple).</p>
<p>If <b>a</b> is vector <b>OA</b> and <b>b</b> is vector <b>OB</b>, then the equation of the line can be written: <b>r</b> = <b>a</b> + (<b>b</b> - <b>a</b>).</p>
<p>A ray starting at point A is described by limiting 0.</p>
<h3><span class="section">[<a href="/w/index.php?title=Line_(geometry)&amp;action=&amp;section=5" title="Edit section: Collinear points"></a>]</span> <span class="mw-headline" id="Collinear_points">Collinear points</span></h3>
<p>Three points are said to be collinear if they lie on the same line. In <a href="/wiki/Euclidean_space" title="Euclidean space">Euclidean space</a>, this is the degenerate condition where three points do <i>not</i> determine a <a href="/wiki/Plane_(geometry)" title="Plane (geometry)">plane</a>.</p>
<p>In <a href="/wiki/Coordinate_geometry" title="Coordinate geometry" class="mw-redirect">coordinate geometry</a>, the points <i>X</i>=(<i>x</i><sub>1</sub>, <i>x</i><sub>2</sub>, ...), <i>Y</i>=(<i>y</i><sub>1</sub>, <i>y</i><sub>2</sub>, ...), and <i>Z</i>=(<i>z</i><sub>1</sub>, <i>z</i><sub>2</sub>, ...) are collinear if the <a href="/wiki/Matrix_(mathematics)" title="Matrix (mathematics)">matrix</a></p>
<dl>
<dd><img class="tex" alt="\begin{bmatrix}
 1 &amp; x_1 &amp; x_2 &amp; \dots \\
 1 &amp; y_1 &amp; y_2 &amp; \dots \\
 1 &amp; z_1 &amp; z_2 &amp; \dots
\end{bmatrix}
" src="//upload.wikimedia.org/wikipedia/en/math/9/4/2/942dadd168249faca0a6a19afa071b6a.png" /></dd>
</dl>
<p>has a <a href="/wiki/Rank_(linear_algebra)" title="Rank (linear algebra)">rank</a> less than 3. In particular, for three points in the plane, above matrix is square and the points are collinear if its <a href="/wiki/Determinant" title="Determinant">determinant</a> is zero.</p>
<p>In the geometries where the line is not a primitive notion, as may be the case in some <a href="/wiki/Synthetic_geometry" title="Synthetic geometry">synthetic geometries</a>, another definition of collinearity is needed.</p>
<p>When the distance <i>d</i>(<i>a</i>,<i>b</i>) between two points <i>a</i> and <i>b</i> is a primitive notion, the collinearity between three points may be defined by: <sup id="cite_ref-7" class="reference"><a href="#cite_note-7"><span>[</span>8<span>]</span></a></sup><sup id="cite_ref-8" class="reference"><a href="#cite_note-8"><span>[</span>9<span>]</span></a></sup></p>
<dl>
<dd>The points <i>a</i>, <i>b</i> and <i>c</i> are collinear if and only if <i>d</i>(<i>x</i>,<i>a</i>) = <i>d</i>(<i>c</i>,<i>a</i>) and <i>d</i>(<i>x</i>,<i>b</i>) = <i>d</i>(<i>c</i>,<i>b</i>) implies <i>x</i>=<i>c</i>.</dd>
</dl>
<p>In <a href="/wiki/Euclidean_geometry" title="Euclidean geometry">Euclidean geometry</a> this property is true, because the point which is symmetric to <i>c</i> with respect to the line defined by <i>a</i> and <i>b</i> satisfies the equalities on the left of "implies", and this point is equal to <i>c</i> if and only if <i>c</i> is on the line.</p>
<h3><span class="section">[<a href="/w/index.php?title=Line_(geometry)&amp;action=&amp;section=6" title="Edit section: Euclidean space"></a>]</span> <span class="mw-headline" id="Euclidean_space">Euclidean space</span></h3>
<p>In <a href="/wiki/Euclidean_space" title="Euclidean space">Euclidean space</a>, <b>R</b><sup><i>n</i></sup> (and analogously in every other <a href="/wiki/Affine_space" title="Affine space">affine space</a>), the line <i>L</i> passing through two different points <i>a</i> and <i>b</i> is the subset</p>
<dl>
<dd><img class="tex" alt="L = \{(1-t)\,a+t\,b\mid t\in\mathbb{R}\}" src="//upload.wikimedia.org/wikipedia/en/math/6/0/9/609d1c4e45ec269b3da8035267d39325.png" /></dd>
</dl>
<p>The direction of the line is that of the vector <i>b</i>-<i>a</i>. Different choices of <i>a</i> and <i>b</i> can yield the same line.</p>
<h2><span class="section">[<a href="/w/index.php?title=Line_(geometry)&amp;action=&amp;section=7" title="Edit section: Projective geometry"></a>]</span> <span class="mw-headline" id="Projective_geometry">Projective geometry</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Projective_geometry" title="Projective geometry">Projective geometry</a></div>
<p>In <a href="/wiki/Projective_geometry" title="Projective geometry">projective geometry</a>, a line is similar to that in Euclidean geometry but has slightly different properties. In many models of projective geometry, the idea of the line rarely conforms to the notion of the "straight curve" as it is visualised in Euclidean geometry. <a href="/wiki/Elliptic_geometry" title="Elliptic geometry">Elliptic geometry</a> is a typical example of when this happens.<sup id="cite_ref-9" class="reference"><a href="#cite_note-9"><span>[</span>10<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Line_(geometry)&amp;action=&amp;section=8" title="Edit section: Geodesics"></a>]</span> <span class="mw-headline" id="Geodesics">Geodesics</span></h2>
<p>The "straightness" of a line, interpreted as the property that it minimizes distances between its points, can be generalized and leads to the concept of <a href="/wiki/Geodesic" title="Geodesic">geodesics</a> in <a href="/wiki/Metric_space" title="Metric space">metric spaces</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Line_(geometry)&amp;action=&amp;section=9" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Real_line" title="Real line">Real line</a></li>
<li><a href="/wiki/Number_line" title="Number line">Number line</a></li>
<li><a href="/wiki/Line_segment" title="Line segment">Line segment</a></li>
<li><a href="/wiki/Distance_from_a_point_to_a_line" title="Distance from a point to a line">Distance from a point to a line</a></li>
<li><a href="/wiki/Plane_(geometry)" title="Plane (geometry)">Plane (geometry)</a>, including <a href="/wiki/Plane_(geometry)#Distance_from_a_point_to_a_plane" title="Plane (geometry)">Plane (geometry)#Distance from a point to a plane</a>, which generalizes the distance from a point to a line.</li>
<li><a href="/wiki/Affine_function" title="Affine function" class="mw-redirect">Affine function</a></li>
<li><a href="/wiki/Five_points_determine_a_conic" title="Five points determine a conic">Five points determine a conic</a>, just as two points determine a line</li>
<li><a href="/wiki/Glossary_of_Riemannian_and_metric_geometry#R" title="Glossary of Riemannian and metric geometry">Glossary of Riemannian and metric geometry#R</a> for its meaning in <a href="/wiki/Riemannian_geometry" title="Riemannian geometry">Riemannian geometry</a>.</li>
<li><a href="/wiki/Incidence_(geometry)" title="Incidence (geometry)">Incidence (geometry)</a></li>
<li><a href="/wiki/Pl%C3%BCcker_coordinates" title="Plcker coordinates">Plcker coordinates</a></li>
<li><a href="/wiki/Robotics_conventions" title="Robotics conventions">Minimal line representation</a></li>
<li><a href="/wiki/Ridge_detection" title="Ridge detection">Ridge detection</a> and <a href="/wiki/Hough_transform" title="Hough transform">Hough transform</a> for algorithms for detecting lines in digital images</li>
<li><a href="/wiki/Line_drawing_algorithm" title="Line drawing algorithm">Line drawing algorithm</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Line_(geometry)&amp;action=&amp;section=10" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">In (rather old) French: "La ligne est la premire espece de quantit, laquelle a tant seulement une dimension  savoir longitude, sans aucune latitude ni profondit, &amp; n'est autre chose que le flux ou coulement du poinct, lequel [...] laissera de son mouvement imaginaire quelque vestige en long, exempt de toute latitude. [...] La ligne droicte est celle qui est galement estendu entre ses poincts." Pages 7 and 8 of <i>Les quinze livres des lments gomtriques d'Euclide Megarien, traduits de Grec en Franois, &amp; augmentez de plusieurs figures &amp; demonstrations, avec la corrections des erreurs commises s autres traductions</i>, by Pierre Mardele, Lyon, MDCXLV (1645).</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">Faber, Appendix A, p. 291.</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text">Faber, Part III, p. 95.</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><a rel="nofollow" class="external free" href="http://webcache.googleusercontent.com/search?q=cache:N4keHx_oXY4J:www.ecs.syr.edu/faculty/fawcett/handouts/cse382/presentations/lvs.doc+line+%2Bset+of+points+%2Bhilbert+%2Bdefin&amp;cd=1&amp;ct=clnk&amp;gl=uk">http://webcache.googleusercontent.com/search?q=cache:N4keHx_oXY4J:www.ecs.syr.edu/faculty/fawcett/handouts/cse382/presentations/lvs.doc+line+%2Bset+of+points+%2Bhilbert+%2Bdefin&amp;cd=1&amp;ct=clnk&amp;gl=uk</a></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text">Faber, Part III, p. 108.</span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text">Faber, Appendix B, p. 300.</span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text">Faber, Appendix B, p. 303.</span></li>
<li id="cite_note-7"><b><a href="#cite_ref-7">^</a></b> <span class="reference-text"><a href="/wiki/Alessandro_Padoa" title="Alessandro Padoa">Alessandro Padoa</a>, Un nouveau systme de dfinitions pour la gomtrie euclidienne, <a href="/wiki/International_Congress_of_Mathematicians" title="International Congress of Mathematicians">International Congress of Mathematicians</a>, 1900</span></li>
<li id="cite_note-8"><b><a href="#cite_ref-8">^</a></b> <span class="reference-text"><a href="/wiki/Bertrand_Russell" title="Bertrand Russell">Bertrand Russell</a>,<a href="/wiki/The_Principles_of_Mathematics" title="The Principles of Mathematics">The Principles of Mathematics</a>, p.410</span></li>
<li id="cite_note-9"><b><a href="#cite_ref-9">^</a></b> <span class="reference-text">Faber, Part III, p. 108.</span></li>
</ol>
<h2><span class="section">[<a href="/w/index.php?title=Line_(geometry)&amp;action=&amp;section=11" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/38px-Wikisource-logo.svg.png" width="38" height="40" /></td>
<td class="mbox-text" style=""><a href="/wiki/Wikisource" title="Wikisource">Wikisource</a> has the text of the <a href="/wiki/Encyclop%C3%A6dia_Britannica_Eleventh_Edition" title="Encyclopdia Britannica Eleventh Edition">1911 Encyclopdia Britannica</a> article <i><b><a href="//en.wikisource.org/wiki/1911_Encyclop%C3%A6dia_Britannica/Line" class="extiw" title="wikisource:1911 Encyclopdia Britannica/Line">Line</a></b></i>.</td>
</tr>
</table>
<ul>
<li><span class="citation book">Faber, Richard L. (1983). <i>Foundations of Euclidean and Non-Euclidean Geometry</i>. New York, United States: Marcel Dekker. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-8247-1748-1" title="Special:BookSources/0-8247-1748-1">0-8247-1748-1</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Foundations+of+Euclidean+and+Non-Euclidean+Geometry&amp;rft.aulast=Faber&amp;rft.aufirst=Richard+L.&amp;rft.au=Faber%2C%26%2332%3BRichard+L.&amp;rft.date=1983&amp;rft.place=New+York%2C+United+States&amp;rft.pub=Marcel+Dekker&amp;rft.isbn=0-8247-1748-1&amp;rfr_id=info:sid/en.wikipedia.org:Line_(geometry)"><span style="display: none;">&#160;</span></span></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Line_(geometry)&amp;action=&amp;section=12" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Line"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Line.html">Line</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/Curriculum/Calculus/StraightLine.shtml">Equations of the Straight Line</a> at <a href="/wiki/Cut-the-Knot" title="Cut-the-Knot">Cut-the-Knot</a></li>
<li><a rel="nofollow" class="external text" href="http://en.citizendium.org/wiki/Line_(geometry)">Citizendium</a></li>
</ul>
<p><span id="interwiki-pl-fa"></span></p>


<!-- 
NewPP limit report
Preprocessor node count: 1223/1000000
Post-expand include size: 6061/2048000 bytes
Template argument size: 1851/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:946975-0!0!0!!en!4!* and timestamp 20120412182535 -->
