<table class="metadata plainlinks ambox ambox-style ambox-Orphan" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Wiki_letter_w.svg" class="image"><img alt="Wiki letter w.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/6/6c/Wiki_letter_w.svg/40px-Wiki_letter_w.svg.png" width="40" height="40" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>is an <a href="/wiki/Wikipedia:Orphan" title="Wikipedia:Orphan">orphan</a>, as few or no other articles <a class="external text" href="//en.wikipedia.org/w/index.php?title=Special:Whatlinkshere&amp;target=List_of_formulas_in_elementary_geometry&amp;namespace=0">link to it</a></b>. Please <a href="/wiki/Help:Link" title="Help:Link">introduce links</a> to this page from <a class="external text" href="http://en.wikipedia.org/w/index.php?title=Special%3ASearch&amp;redirs=1&amp;search=List+of+formulas+in+elementary+geometry&amp;fulltext=Search&amp;ns0=1&amp;title=Special%3ASearch&amp;advanced=1&amp;fulltext=List+of+formulas+in+elementary+geometry">related articles</a>; <a rel="nofollow" class="external text" href="http://edwardbetts.com/find_link?q=List_of_formulas_in_elementary_geometry">suggestions may be available</a>. <small><i>(December 2011)</i></small></td>
</tr>
</table>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Geometric_shapes"><span class="tocnumber">1</span> <span class="toctext">Geometric shapes</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Two-dimensional_shapes"><span class="tocnumber">1.1</span> <span class="toctext">Two-dimensional shapes</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Three-dimensional_shapes"><span class="tocnumber">1.2</span> <span class="toctext">Three-dimensional shapes</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-4"><a href="#References"><span class="tocnumber">2</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=List_of_formulas_in_elementary_geometry&amp;action=&amp;section=1" title="Edit section: Geometric shapes"></a>]</span> <span class="mw-headline" id="Geometric_shapes">Geometric shapes</span></h2>
<p>This is a short list of some common mathematical shapes and figures and the formulas that describe them.</p>
<h3><span class="section">[<a href="/w/index.php?title=List_of_formulas_in_elementary_geometry&amp;action=&amp;section=2" title="Edit section: Two-dimensional shapes"></a>]</span> <span class="mw-headline" id="Two-dimensional_shapes">Two-dimensional shapes</span></h3>
<table class="wikitable">
<tr>
<th>Shape</th>
<th><a href="/wiki/Area" title="Area">Area</a></th>
<th>Perimeter/Circumference</th>
</tr>
<tr>
<td><a href="/wiki/Rectangle" title="Rectangle">Rectangle</a></td>
<td>A = l  w</td>
<td>P = 2l + 2w</td>
</tr>
<tr>
<td><a href="/wiki/Circle" title="Circle">Circle</a></td>
<td>A =   <img class="tex" alt="r^2" src="//upload.wikimedia.org/wikipedia/en/math/b/f/0/bf0e22b63959a3aae3c6c971f02227cb.png" /></td>
<td>C = 2    r</td>
</tr>
<tr>
<td><a href="/wiki/Ellipse" title="Ellipse">Ellipse</a> (where a is the semimajor axis and b is the semiminor axis)</td>
<td>A =   a  b</td>
<td></td>
</tr>
<tr>
<td><a href="/wiki/Triangle" title="Triangle">Triangle</a></td>
<td>A =   b  h</td>
<td>P = a + b + c</td>
</tr>
<tr>
<td><a href="/wiki/Parallelogram" title="Parallelogram">Parallelogram</a> b = base, h = height, a = side</td>
<td>A = b  h</td>
<td>P = 2a + 2b</td>
</tr>
<tr>
<td><a href="/wiki/Trapezoid" title="Trapezoid">Trapezoid</a> (where a and b are the bases)</td>
<td>A = (a + b)  h</td>
<td></td>
</tr>
</table>
<p><sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<p><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=List_of_formulas_in_elementary_geometry&amp;action=&amp;section=3" title="Edit section: Three-dimensional shapes"></a>]</span> <span class="mw-headline" id="Three-dimensional_shapes">Three-dimensional shapes</span></h3>
<table class="wikitable">
<tr>
<th>Shape</th>
<th><a href="/wiki/Volume" title="Volume">Volume</a></th>
<th>Surface area</th>
</tr>
<tr>
<td><a href="/wiki/Cube" title="Cube">Cube</a></td>
<td><img class="tex" alt="V=s^3" src="//upload.wikimedia.org/wikipedia/en/math/4/3/6/4369d10adca4e2589dff8b4a2b85dffb.png" /></td>
<td><img class="tex" alt="6s^2" src="//upload.wikimedia.org/wikipedia/en/math/b/3/e/b3eb1d067995c0a8e1a3ff9a881748e6.png" /></td>
</tr>
<tr>
<td>Rectangular Prism l = length, h = height, w = width</td>
<td>V = l  w  h</td>
<td>S = 2lw + 2l<i>h</i> + 2<i>wh</i></td>
</tr>
<tr>
<td><a href="/wiki/Sphere" title="Sphere">Sphere</a></td>
<td>V = (<img class="tex" alt="4/3" src="//upload.wikimedia.org/wikipedia/en/math/8/7/0/87069d0b9cbfd259ce8e4a8198f527fe.png" />)  <img class="tex" alt="r^3" src="//upload.wikimedia.org/wikipedia/en/math/c/1/f/c1f78fd9a2d2a57a5811813b061d0bb0.png" /></td>
<td>4 <img class="tex" alt="r^2" src="//upload.wikimedia.org/wikipedia/en/math/b/f/0/bf0e22b63959a3aae3c6c971f02227cb.png" /></td>
</tr>
<tr>
<td>Right Circular Cylinder</td>
<td>V =   <img class="tex" alt="r^2" src="//upload.wikimedia.org/wikipedia/en/math/b/f/0/bf0e22b63959a3aae3c6c971f02227cb.png" />  h</td>
<td>S = 2 rh + 2 <img class="tex" alt="r^2" src="//upload.wikimedia.org/wikipedia/en/math/b/f/0/bf0e22b63959a3aae3c6c971f02227cb.png" /></td>
</tr>
</table>
<p><sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=List_of_formulas_in_elementary_geometry&amp;action=&amp;section=4" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.austincc.edu/tutor/students/resources/Geometry.pdf">http://www.austincc.edu/tutor/students/resources/Geometry.pdf</a></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.math.com/tables/geometry/areas.htm">http://www.math.com/tables/geometry/areas.htm</a></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.math.com/tables/geometry/volumes.htm">http://www.math.com/tables/geometry/volumes.htm</a></span></li>
</ol>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Geometry" title="Geometry">geometry-related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=List_of_formulas_in_elementary_geometry&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Geometry-stub" title="Template:Geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 688/1000000
Post-expand include size: 10423/2048000 bytes
Template argument size: 2560/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:33900798-0!0!0!!en!4!* and timestamp 20120320181212 -->
