<table class="metadata plainlinks ambox ambox-content ambox-Refimprove" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This article <b>needs additional <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">citations</a> for <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verification</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Point_(geometry)&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(January 2011)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, <a href="/wiki/Topology" title="Topology">topology</a>, and related branches of mathematics, a <b>spatial point</b> is a <a href="/wiki/Primitive_notion" title="Primitive notion">primitive notion</a> upon which other concepts may be defined. In geometry, points are <a href="/wiki/Zero-dimensional_space" title="Zero-dimensional space">zero-dimensional</a>; i.e., they do not have <a href="/wiki/Volume" title="Volume">volume</a>, <a href="/wiki/Area" title="Area">area</a>, <a href="/wiki/Length" title="Length">length</a>, or any other higher-<a href="/wiki/Dimension" title="Dimension">dimensional</a> analogue. In branches of mathematics dealing with <a href="/wiki/Set_theory" title="Set theory">set theory</a>, an <a href="/wiki/Element_(mathematics)" title="Element (mathematics)">element</a> is sometimes referred to as a <b>point</b>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Points_in_Euclidean_geometry"><span class="tocnumber">1</span> <span class="toctext">Points in Euclidean geometry</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Points_in_branches_of_mathematics"><span class="tocnumber">2</span> <span class="toctext">Points in branches of mathematics</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#See_also"><span class="tocnumber">3</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#External_links"><span class="tocnumber">4</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Point_(geometry)&amp;action=&amp;section=1" title="Edit section: Points in Euclidean geometry"></a>]</span> <span class="mw-headline" id="Points_in_Euclidean_geometry">Points in Euclidean geometry</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:ACP_3.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/34/ACP_3.svg/220px-ACP_3.svg.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:ACP_3.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A finite set of points (blue) in two dimensional <a href="/wiki/Euclidean_space" title="Euclidean space">Euclidean space</a>.</div>
</div>
</div>
<p>Points are most often considered within the framework of <a href="/wiki/Euclidean_geometry" title="Euclidean geometry">Euclidean geometry</a>, where they are one of the fundamental objects. <a href="/wiki/Euclid" title="Euclid">Euclid</a> originally defined the point vaguely, as "that which has no part". In two-dimensional <a href="/wiki/Euclidean_space" title="Euclidean space">Euclidean space</a>, a point is represented by an <a href="/wiki/Ordered_pair" title="Ordered pair">ordered pair</a> (<span class="texhtml"><var>x</var></span>,<span class="texhtml"><var>y</var></span>) of numbers, where the first number <a href="/wiki/Convention_(norm)" title="Convention (norm)">conventionally</a> represents the <a href="/wiki/Horizontal_plane" title="Horizontal plane">horizontal</a> and is often denoted by <span class="texhtml"><var>x</var></span>, and the second number conventionally represents the <a href="/wiki/Vertical_direction" title="Vertical direction">vertical</a> and is often denoted by <span class="texhtml"><var>y</var></span>. This idea is easily generalized to three dimensional Euclidean space, where a point is represented by an ordered triplet (<span class="texhtml"><var>x</var></span>,<span class="texhtml"><var>y</var></span>,<span class="texhtml"><var>z</var></span>) with the additional third number representing depth and often denoted by <span class="texhtml"><var>z</var></span>. Further generalizations are represented by an ordered <a href="/wiki/Tuple" title="Tuple">tuplet</a> of <span class="texhtml"><var>n</var></span> terms, (a<sub>1</sub>,a<sub>2</sub>,,a<sub><span class="texhtml"><var>n</var></span></sub>) where <span class="texhtml"><var>n</var></span> is the <a href="/wiki/Dimension_(mathematics)" title="Dimension (mathematics)" class="mw-redirect">dimension</a> of the space in which the point is located.</p>
<p>Many constructs within Euclidean geometry consist of an <a href="/wiki/Infinity" title="Infinity">infinite</a> collection of points that conform to certain axioms. This is usually represented by a <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">set</a> of points; As an example, a <a href="/wiki/Line_(mathematics)" title="Line (mathematics)" class="mw-redirect">line</a> is an infinite set of points of the form <img class="tex" alt="\scriptstyle {L = \lbrace (a_1,a_2,...a_n)|a_1c_1 + a_2c_2 + ... a_nc_n = d \rbrace}" src="//upload.wikimedia.org/wikipedia/en/math/8/f/1/8f18b9c9a58016a4fedbd02cbb39042b.png" />, where <i>c</i><sub>1</sub> through <i>c<sub>n</sub></i> and <span class="texhtml"><var>d</var></span> are constants and <span class="texhtml"><var>n</var></span> is the dimension of the space. Similar constructions exist that define the <a href="/wiki/Plane_(mathematics)" title="Plane (mathematics)" class="mw-redirect">plane</a>, <a href="/wiki/Line_segment" title="Line segment">line segment</a> and other related concepts.</p>
<p>In addition to defining points and constructs related to points, Euclid also postulated a key idea about points; he claimed that any two points can be connected by a straight line. This is easily confirmed under modern expansions of Euclidean geometry, and had lasting consequences at its introduction, allowing the construction of almost all the geometric concepts of the time. However, Euclid's postulation of points was neither complete nor definitive, as he occasionally assumed facts about points that didn't follow directly from his axioms, such as the ordering of points on the line or the existence of specific points. In spite of this, modern expansions of the system serve to remove these assumptions.</p>
<h2><span class="section">[<a href="/w/index.php?title=Point_(geometry)&amp;action=&amp;section=2" title="Edit section: Points in branches of mathematics"></a>]</span> <span class="mw-headline" id="Points_in_branches_of_mathematics">Points in branches of mathematics</span></h2>
<p>A point in <a href="/wiki/Point-set_topology" title="Point-set topology" class="mw-redirect">point-set topology</a> is defined as a member of the underlying set of a <a href="/wiki/Topological_space" title="Topological space">topological space</a>.</p>
<p>Although the notion of a point is generally considered fundamental in mainstream geometry and topology, there are some systems that forgo it, e.g. <a href="/wiki/Noncommutative_geometry" title="Noncommutative geometry">noncommutative geometry</a> and <a href="/wiki/Pointless_topology" title="Pointless topology">pointless topology</a>. A "pointless space" is defined not as a <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">set</a>, but via some structure (<a href="/wiki/C*-algebra" title="C*-algebra">algebraic</a> or <a href="/wiki/Complete_Heyting_algebra" title="Complete Heyting algebra">logical</a> respectively) which looks like a well-known function space on the set: an algebra of <a href="/wiki/Continuous_function" title="Continuous function">continuous functions</a> or an <a href="/wiki/Algebra_of_sets" title="Algebra of sets">algebra of sets</a> respectively. More precisely, such structures generalize well-known spaces of <a href="/wiki/Function_(mathematics)" title="Function (mathematics)">functions</a> in a way that the operation "take a value at this point" may not be defined.</p>
<h2><span class="section">[<a href="/w/index.php?title=Point_(geometry)&amp;action=&amp;section=3" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Accumulation_point" title="Accumulation point" class="mw-redirect">Accumulation point</a></li>
<li><a href="/wiki/Affine_space" title="Affine space">Affine space</a></li>
<li><a href="/wiki/Boundary_point" title="Boundary point" class="mw-redirect">Boundary point</a></li>
<li><a href="/wiki/Critical_point_(mathematics)" title="Critical point (mathematics)">Critical point</a></li>
<li><a href="/wiki/Cusp_(singularity)" title="Cusp (singularity)">Cusp</a></li>
<li><a href="/wiki/Singular_point" title="Singular point" class="mw-redirect">Singular point</a></li>
<li><a href="/wiki/Pointwise" title="Pointwise">Pointwise</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Point_(geometry)&amp;action=&amp;section=4" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" width="30" height="40" /></td>
<td class="mbox-text" style="">Wikimedia Commons has media related to: <i><b><a class="external text" href="//commons.wikimedia.org/wiki/Category:Points_(mathematics)">Points (mathematics)</a></b></i></td>
</tr>
</table>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/point.html">Definition of Point</a> with interactive applet</li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/tocs/pointstoc.html">Points definition pages</a>, with interactive animations that are also useful in a classroom setting. Math Open Reference</li>
<li><a rel="nofollow" class="external text" href="http://planetmath.org/?op=getobj&amp;from=objects&amp;id=8173">Point</a>, <a href="/wiki/PlanetMath" title="PlanetMath">PlanetMath.org</a>.</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 844/1000000
Post-expand include size: 7567/2048000 bytes
Template argument size: 2491/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:593693-0!0!0!!en!4!* and timestamp 20120414231052 -->
