<p><b>Pompeiu's theorem</b> is a result of <a href="/wiki/Plane_geometry" title="Plane geometry" class="mw-redirect">plane geometry</a>, discovered by the Romanian mathematician <a href="/wiki/Dimitrie_Pompeiu" title="Dimitrie Pompeiu">Dimitrie Pompeiu</a>. The theorem is quite simple, but not classical. It states the following:</p>
<dl>
<dd><i>Given an <a href="/wiki/Equilateral_triangle" title="Equilateral triangle">equilateral triangle</a> ABC in the plane, and a point P in the plane of the triangle ABC, the lengths PA, PB, and PC form the sides of a (maybe, degenerate) triangle.</i></dd>
</dl>
<p>The proof is quick. Consider a rotation of 60 about the point <i>C</i>. Assume <i>A</i> maps to <i>B</i>, and <i>B</i> maps to <i>B</i>&#160;'. Then we have <img class="tex" alt="\scriptstyle PC\ =\ P'C" src="//upload.wikimedia.org/wikipedia/en/math/5/c/2/5c2e72987e18d224a0501497ea6b5ca1.png" />, and <img class="tex" alt="\scriptstyle\angle PCP'\ =\ 60^{\circ}" src="//upload.wikimedia.org/wikipedia/en/math/6/7/6/676e6950c4beaba9b7109a0d8e2960b8.png" />. Hence triangle <i>PCP</i>&#160;' is equilateral and <img class="tex" alt="\scriptstyle PP'\ =\ PC" src="//upload.wikimedia.org/wikipedia/en/math/a/b/f/abff05ee665c75c7abd7076a75a28156.png" />. It is obvious that <img class="tex" alt="\scriptstyle PA\ =\ P'B" src="//upload.wikimedia.org/wikipedia/en/math/5/c/0/5c0ac16bf6d251b3436000c3f830a5f7.png" />. Thus, triangle <i>PBP</i>&#160;' has sides equal to <i>PA</i>, <i>PB</i>, and <i>PC</i> and the <a href="/wiki/Proof_by_construction" title="Proof by construction" class="mw-redirect">proof by construction</a> is complete.</p>
<p>Further investigations reveal that if <i>P</i> is not in the interior of the triangle, but rather on the <a href="/wiki/Circumcircle" title="Circumcircle" class="mw-redirect">circumcircle</a>, then <i>PA</i>, <i>PB</i>, <i>PC</i> form a degenerate triangle, with the largest being equal to the sum of the others.</p>
<h2><span class="section">[<a href="/w/index.php?title=Pompeiu%27s_theorem&amp;action=&amp;section=1" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/PompeiusTheorem.html">MathWorld's page on Pompeiu's Theorem</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 66/1000000
Post-expand include size: 0/2048000 bytes
Template argument size: 0/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:8635114-0!0!0!*!*!*!* and timestamp 20120301002646 -->
