<div class="thumb tright">
<div class="thumbinner" style="width:152px;"><a href="/wiki/File:Byrne_Preface-15.gif" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Byrne_Preface-15.gif/150px-Byrne_Preface-15.gif" width="150" height="217" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Byrne_Preface-15.gif" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The pons asinorum in Byrne's ion of the <i>Elements</i> showing part of Euclid's proof.</div>
</div>
</div>
<p><i><b>Pons asinorum</b></i> (<a href="/wiki/Latin" title="Latin">Latin</a> for "bridge of asses") is the name given to <a href="/wiki/Euclid" title="Euclid">Euclid</a>'s fifth proposition in Book 1 of his <i><a href="/wiki/Euclid%27s_Elements" title="Euclid's Elements">Elements</a></i> of <a href="/wiki/Geometry" title="Geometry">geometry</a>, also known as the <a href="/wiki/Isosceles_triangle_theorem" title="Isosceles triangle theorem">theorem on isosceles triangles</a>. It states that the angles opposite the equal sides of an isosceles triangle are equal. Another medieval term for the theorem was <b>Elefuga</b> which, according to <a href="/wiki/Roger_Bacon" title="Roger Bacon">Roger Bacon</a>, comes from Greek <i>elegia</i> misery, and <i>fuga</i> Latin for flight, that is "flight of the wretches". Though this etymology is dubious, it is echoed in <a href="/wiki/Geoffrey_Chaucer" title="Geoffrey Chaucer">Chaucer's</a> use of the term "flemyng of wreches" for the theorem.<sup id="cite_ref-PUb_0-0" class="reference"><a href="#cite_note-PUb-0"><span>[</span>1<span>]</span></a></sup></p>
<p>There are two possible explanations for the name <i>pons asinorum</i>, the simplest being that the diagram used resembles an actual bridge. But the more popular explanation is that it is the first real test in the <i>Elements</i> of the intelligence of the reader and functions as a "bridge" to the harder propositions that follow.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<p>Whatever its origin, the term is also used as a metaphor for a problem or challenge which will separate the sure of mind from the simple, the fleet thinker from the slow, the determined from the dallier; to represent a critical test of ability or understanding.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Metaphorical_use"><span class="tocnumber">1</span> <span class="toctext">Metaphorical use</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Dulcarnon"><span class="tocnumber">2</span> <span class="toctext">Dulcarnon</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#References"><span class="tocnumber">3</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#External_links"><span class="tocnumber">4</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Pons_asinorum&amp;action=&amp;section=1" title="Edit section: Metaphorical use"></a>]</span> <span class="mw-headline" id="Metaphorical_use">Metaphorical use</span></h2>
<p>Uses of the term or the theorem itself as a metaphor include:</p>
<ul>
<li><a href="/wiki/Richard_Aungerville" title="Richard Aungerville" class="mw-redirect">Richard Aungerville</a>'s Philobiblon contains the passage "Quot Euclidis discipulos retrojecit Elefuga quasi scopulos eminens et abruptus, qui nullo scalarum suffragio scandi posset! Durus, inquiunt, est hie sermo; quis potest eum audire?", which compares the theorem to a steep cliff that no ladder may help scale and asks how many would-be geometers have been turned away.<sup id="cite_ref-PUb_0-1" class="reference"><a href="#cite_note-PUb-0"><span>[</span>1<span>]</span></a></sup></li>
<li>The term <i>pons asinorum</i>, in both its meanings as a bridge and as a test, is used as a metaphor for finding the middle term of a <a href="/wiki/Syllogism" title="Syllogism">syllogism</a>.<sup id="cite_ref-PUb_0-2" class="reference"><a href="#cite_note-PUb-0"><span>[</span>1<span>]</span></a></sup></li>
<li>The 18th-century poet <a href="/wiki/Thomas_Campbell_(poet)" title="Thomas Campbell (poet)">Thomas Campbell</a> wrote a humorous poem called "Pons asinorum" where a geometry class assails the theorem as a company of soldiers might charge a fortress; the battle was not without casualties.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup></li>
<li>Economist <a href="/wiki/John_Stuart_Mill" title="John Stuart Mill">John Stuart Mill</a> called <a href="/wiki/David_Ricardo" title="David Ricardo">Ricardo's</a> <a href="/wiki/Law_of_Rent" title="Law of Rent" class="mw-redirect">Law of Rent</a> the <i>Pons Asinorum</i> of economics.<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup></li>
<li><i>Pons Asinorum</i> is the name given to a <a rel="nofollow" class="external text" href="http://www.math.ucf.edu/~reid/Rubik/patterns.html">particular configuration</a> of a <a href="/wiki/Rubik%27s_Cube" title="Rubik's Cube">Rubik's Cube</a>.</li>
<li>The <a href="/wiki/Finnish_language" title="Finnish language">Finnish</a> <i>aasinsilta</i> and <a href="/wiki/Swedish_language" title="Swedish language">Swedish</a> <i>snebrygga</i> is a literary technique where a tenuous, even contrived connection between two arguments or topics, which is almost but not quite a <a href="/wiki/Non_sequitur" title="Non sequitur">non sequitur</a>, is used as an awkward transition between them.<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup> In serious text, it is considered a stylistic error, since it belongs properly to the <a href="/wiki/Stream_of_consciousness_(narrative_mode)" title="Stream of consciousness (narrative mode)">stream of consciousness</a>- or <a href="/wiki/Causerie" title="Causerie">causerie</a>-style writing.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Pons_asinorum&amp;action=&amp;section=2" title="Edit section: Dulcarnon"></a>]</span> <span class="mw-headline" id="Dulcarnon">Dulcarnon</span></h2>
<p>Similarly, the name <b>Dulcarnon</b> is given to the 47th proposition of Book I of Euclid, better known as the <a href="/wiki/Pythagorean_theorem" title="Pythagorean theorem">Pythagorean theorem</a>, after the Arabic <i><a href="/wiki/Dh%C5%AB_%27l_qarnain" title="Dh 'l qarnain" class="mw-redirect">Dh 'l qarnain</a></i>  , meaning "the owner of the two horns", because diagrams of the theorem showed two smaller squares like horns at the top of the figure. The term is also used as a metaphor for a dilemma.<sup id="cite_ref-PUb_0-3" class="reference"><a href="#cite_note-PUb-0"><span>[</span>1<span>]</span></a></sup> The theorem was also sometimes called "the Windmill" for similar reasons.<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Pons_asinorum&amp;action=&amp;section=3" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ol class="references">
<li id="cite_note-PUb-0">^ <a href="#cite_ref-PUb_0-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-PUb_0-1"><sup><i><b>b</b></i></sup></a> <a href="#cite_ref-PUb_0-2"><sup><i><b>c</b></i></sup></a> <a href="#cite_ref-PUb_0-3"><sup><i><b>d</b></i></sup></a> <span class="reference-text">A. F. West &amp; H. D. Thompson "On Dulcarnon, Elefuga And Pons Asinorum as Fanciful Names For Geometrical Propositions" <i>The Princeton University bulletin</i> Vol. 3 No. 4 (1891) p. 84</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">D.E. Smith <i>History of Mathematics</i> (1958 Dover) p. 284</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.merriam-webster.com/dictionary/pons%20asinorum">Pons asinorum - Definition and More from the Free Merriam</a></span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text">W.E. Aytoun (Ed.) <i>The poetical works of Thomas Campbell</i> (1864, Little, Brown) p. 385 <a rel="nofollow" class="external text" href="http://books.google.com/books?id=vFMOAAAAIAAJ">Google Books</a></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><a href="/wiki/Henry_Dunning_Macleod" title="Henry Dunning Macleod">H.D. Macleod</a> <i>The Elements of Economics</i> (1886 D. Appleton) Vol. 2 p. 96</span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text"><a rel="nofollow" class="external free" href="http://yle.fi/alueet/satakunta/2011/03/aasinsilta_on_laiskurin_apuneuvo_2395900.html">http://yle.fi/alueet/satakunta/2011/03/aasinsilta_on_laiskurin_apuneuvo_2395900.html</a></span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text">Charles Lutwidge Dodgson, <i><a href="/wiki/Euclid_and_his_Modern_Rivals" title="Euclid and his Modern Rivals">Euclid and his Modern Rivals</a></i> Act I Scene II 1</span></li>
</ol>
<h2><span class="section">[<a href="/w/index.php?title=Pons_asinorum&amp;action=&amp;section=4" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/Special:Search/pons_asinorum">pons asinorum</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/38px-Wikisource-logo.svg.png" width="38" height="40" /></td>
<td class="mbox-text" style=""><a href="/wiki/Wikisource" title="Wikisource">Wikisource</a> has original text related to this article:
<div style="margin-left: 10px;"><b><a class="external text" href="//en.wikisource.org/wiki/Page:The_Elements_of_Euclid_for_the_Use_of_Schools_and_Colleges_-_1872.djvu/34">Proposition 5 of Euclid's Elements</a></b></div>
</td>
</tr>
</table>
<ul>
<li><a rel="nofollow" class="external text" href="http://planetmath.org/encyclopedia/PonsAsinorum.html">Pons asinorum</a> at <a href="/wiki/PlanetMath" title="PlanetMath">PlanetMath</a></li>
<li><a rel="nofollow" class="external text" href="http://aleph0.clarku.edu/~djoyce/java/elements/bookI/propI5.html">D. E. Joyce's presentation of Euclid's <i>Elements</i></a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 2062/1000000
Post-expand include size: 9971/2048000 bytes
Template argument size: 5037/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:702149-0!*!0!!en!4!* and timestamp 20120414024512 -->
