<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Radical_center.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Radical_center.svg/250px-Radical_center.svg.png" width="250" height="266" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Radical_center.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The radical center (orange point) is the center of the unique circle (also orange) that intersects three given circles at right angles.</div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, the <b>power center</b> of three <a href="/wiki/Circle" title="Circle">circles</a>, also called the <b>radical center</b>, is the intersection point of the three <a href="/wiki/Radical_axis" title="Radical axis">radical axes</a> of the pairs of circles. If the radical center lies outside of all three circles, then it is the center of the unique circle (the <b>radical circle</b>) that intersects the three given circles orthogonally; the construction of this orthogonal circle corresponds to <b>Monge's problem</b>. This is a special case of the <a href="/w/index.php?title=Three_conics_theorem&amp;action=&amp;redlink=1" class="new" title="Three conics theorem (page does not exist)">three conics theorem</a>.</p>
<p>The three radical axes meet in a single point, the radical center, for the following reason. The radical axis of a pair of circles is defined as the set of points that have equal <a href="/wiki/Power_of_a_point" title="Power of a point">power</a> <i>h</i> with respect to both circles. For example, for every point <b>P</b> on the radical axis of circles 1 and 2, the powers to each circle are equal, <i>h</i><sub>1</sub>&#160;=&#160;<i>h</i><sub>2</sub>. Similarly, for every point on the radical axis of circles 2 and 3, the powers must be equal, <i>h</i><sub>2</sub>&#160;=&#160;<i>h</i><sub>3</sub>. Therefore, at the intersection point of these two lines, all three powers must be equal, <i>h</i><sub>1</sub>&#160;=&#160;<i>h</i><sub>2</sub>&#160;=&#160;<i>h</i><sub>3</sub>. Since this implies that <i>h</i><sub>1</sub>&#160;=&#160;<i>h</i><sub>3</sub>, this point must also lie on the radical axis of circles 1 and 3. Hence, all three radical axes pass through the same point, the radical center.</p>
<p>The radical center has several applications in geometry. It has an important role in a solution to <a href="/wiki/Problem_of_Apollonius" title="Problem of Apollonius">Apollonius' problem</a> published by <a href="/wiki/Joseph_Diaz_Gergonne" title="Joseph Diaz Gergonne">Joseph Diaz Gergonne</a> in 1814. Several types of radical circles have been defined as well, such as the radical circle of the <a href="/w/index.php?title=Lucas_circle&amp;action=&amp;redlink=1" class="new" title="Lucas circle (page does not exist)">Lucas circles</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Power_center_(geometry)&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Power_of_a_point" title="Power of a point">Power of a point</a></li>
<li><a href="/wiki/Radical_axis" title="Radical axis">Radical axis</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Power_center_(geometry)&amp;action=&amp;section=2" title="Edit section: Further reading"></a>]</span> <span class="mw-headline" id="Further_reading">Further reading</span></h2>
<ul>
<li><span class="citation book"><a href="/w/index.php?title=C._Stanley_Ogilvy&amp;action=&amp;redlink=1" class="new" title="C. Stanley Ogilvy (page does not exist)">Ogilvy CS</a> (1990). <i>Excursions in Geometry</i>. Dover. pp.&#160;23. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-486-26530-7" title="Special:BookSources/0-486-26530-7">0-486-26530-7</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Excursions+in+Geometry&amp;rft.aulast=Ogilvy+CS&amp;rft.au=Ogilvy+CS&amp;rft.date=1990&amp;rft.pages=pp.%26nbsp%3B23&amp;rft.pub=Dover&amp;rft.isbn=0-486-26530-7&amp;rfr_id=info:sid/en.wikipedia.org:Power_center_(geometry)"><span style="display: none;">&#160;</span></span></li>
</ul>
<ul>
<li><span class="citation book"><a href="/wiki/Harold_Scott_MacDonald_Coxeter" title="Harold Scott MacDonald Coxeter">Coxeter HSM</a>, <a href="/wiki/S._L._Greitzer" title="S. L. Greitzer" class="mw-redirect">Greitzer SL</a> (1967). <i>Geometry Revisited</i>. <a href="/wiki/Washington,_D.C." title="Washington, D.C.">Washington</a>: <a href="/wiki/Mathematical_Association_of_America" title="Mathematical Association of America">MAA</a>. pp.&#160;35, 38. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-0883856192" title="Special:BookSources/978-0883856192">978-0883856192</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Geometry+Revisited&amp;rft.aulast=%5B%5BHarold+Scott+MacDonald+Coxeter%7CCoxeter+HSM%5D%5D%2C+%5B%5BS.+L.+Greitzer%7CGreitzer+SL%5D%5D&amp;rft.au=%5B%5BHarold+Scott+MacDonald+Coxeter%7CCoxeter+HSM%5D%5D%2C+%5B%5BS.+L.+Greitzer%7CGreitzer+SL%5D%5D&amp;rft.date=1967&amp;rft.pages=pp.%26nbsp%3B35%2C+38&amp;rft.place=%5B%5BWashington%2C+D.C.%7CWashington%5D%5D&amp;rft.pub=%5B%5BMathematical+Association+of+America%7CMAA%5D%5D&amp;rft.isbn=978-0883856192&amp;rfr_id=info:sid/en.wikipedia.org:Power_center_(geometry)"><span style="display: none;">&#160;</span></span></li>
</ul>
<ul>
<li><span class="citation book">Johnson RA (1960). <i>Advanced Euclidean Geometry: An elementary treatise on the geometry of the triangle and the circle</i> (reprint of 1929 ion by Houghton Miflin ed.). New York: Dover Publications. pp.&#160;3234. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-0486462370" title="Special:BookSources/978-0486462370">978-0486462370</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Advanced+Euclidean+Geometry%3A+An+elementary+treatise+on+the+geometry+of+the+triangle+and+the+circle&amp;rft.aulast=Johnson+RA&amp;rft.au=Johnson+RA&amp;rft.date=1960&amp;rft.pages=pp.%26nbsp%3B32%26ndash%3B34&amp;rft.ion=reprint+of+1929+ion+by+Houghton+Miflin&amp;rft.place=New+York&amp;rft.pub=Dover+Publications&amp;rft.isbn=978-0486462370&amp;rfr_id=info:sid/en.wikipedia.org:Power_center_(geometry)"><span style="display: none;">&#160;</span></span></li>
</ul>
<ul>
<li><span class="citation book">Wells D (1991). <i>The Penguin Dictionary of Curious and Interesting Geometry</i>. New York: Penguin Books. pp.&#160;35. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-14-011813-6" title="Special:BookSources/0-14-011813-6">0-14-011813-6</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+Penguin+Dictionary+of+Curious+and+Interesting+Geometry&amp;rft.aulast=Wells+D&amp;rft.au=Wells+D&amp;rft.date=1991&amp;rft.pages=pp.%26nbsp%3B35&amp;rft.place=New+York&amp;rft.pub=Penguin+Books&amp;rft.isbn=0-14-011813-6&amp;rfr_id=info:sid/en.wikipedia.org:Power_center_(geometry)"><span style="display: none;">&#160;</span></span></li>
</ul>
<ul>
<li><span class="citation book">Drrie H (1965). "Monge's Problem". <i>100 Great Problems of Elementary Mathematics: Their History and Solutions</i>. New York: Dover. pp.&#160;151154 (31).</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Monge%27s+Problem&amp;rft.atitle=100+Great+Problems+of+Elementary+Mathematics%3A+Their+History+and+Solutions&amp;rft.aulast=D%C3%B6rrie+H&amp;rft.au=D%C3%B6rrie+H&amp;rft.date=1965&amp;rft.pages=pp.%26nbsp%3B151%E2%80%93154+%28%C2%A731%29&amp;rft.place=New+York&amp;rft.pub=Dover&amp;rfr_id=info:sid/en.wikipedia.org:Power_center_(geometry)"><span style="display: none;">&#160;</span></span></li>
</ul>
<ul>
<li><span class="citation book">Lachlan R (1893). <i>An elementary treatise on modern pure geometry</i>. London: Macmillan. pp.&#160;185. <a href="/wiki/Amazon_Standard_Identification_Number" title="Amazon Standard Identification Number">ASIN</a>&#160;<a rel="nofollow" class="external text" href="http://www.amazon.com/dp/B0008CQ720">B0008CQ720</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=An+elementary+treatise+on+modern+pure+geometry&amp;rft.aulast=Lachlan+R&amp;rft.au=Lachlan+R&amp;rft.date=1893&amp;rft.pages=pp.%26nbsp%3B185&amp;rft.place=London&amp;rft.pub=Macmillan&amp;rft_id=info:asin/B0008CQ720&amp;rfr_id=info:sid/en.wikipedia.org:Power_center_(geometry)"><span style="display: none;">&#160;</span></span></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Power_center_(geometry)&amp;action=&amp;section=3" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" width="30" height="40" /></td>
<td class="mbox-text" style="">Wikimedia Commons has media related to: <i><b><a class="external text" href="//commons.wikimedia.org/wiki/Category:Radical_axes">Radical centers and axes</a></b></i></td>
</tr>
</table>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Radical_center"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/RadicalCenter.html">Radical center</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><span class="citation mathworld" id="Reference-Mathworld-Radical_circle"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/RadicalCircle.html">Radical circle</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><span class="citation mathworld" id="Reference-Mathworld-Monge.27s_problem"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/MongesProblem.html">Monge's problem</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/Curriculum/Geometry/RadicalCenter.shtml">Radical Center</a> at <a href="/wiki/Cut-the-Knot" title="Cut-the-Knot">Cut-the-Knot</a></li>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/Curriculum/Geometry/RadicalAxis.shtml">Radical Axis and Center</a> at <a href="/wiki/Cut-the-Knot" title="Cut-the-Knot">Cut-the-Knot</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 4201/1000000
Post-expand include size: 25150/2048000 bytes
Template argument size: 7192/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:326298-0!*!0!!*!4!* and timestamp 20120412195511 -->
