<table class="metadata plainlinks ambox ambox-style ambox-Cleanup" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/f/f2/Edit-clear.svg/40px-Edit-clear.svg.png" width="40" height="40" /></div>
</td>
<td class="mbox-text" style="">This article <b>may require <a href="/wiki/Wikipedia:Cleanup" title="Wikipedia:Cleanup">cleanup</a> to meet Wikipedia's <a href="/wiki/Wikipedia:Manual_of_Style" title="Wikipedia:Manual of Style">quality standards</a></b>. (Consider using <a href="/wiki/Wikipedia:Template_messages/Cleanup" title="Wikipedia:Template messages/Cleanup">more specific cleanup instructions</a>.) Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Reflection_symmetry&amp;action=">improve this article</a> if you can. The <a href="/wiki/Talk:Reflection_symmetry" title="Talk:Reflection symmetry">talk page</a> may contain suggestions. <small><i>(November 2007)</i></small></td>
</tr>
</table>
<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Symmetry.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Symmetry.png/250px-Symmetry.png" width="250" height="245" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Symmetry.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Figures with the axes of symmetry drawn in.</div>
</div>
</div>
<p><b>Reflection symmetry</b>, <b>reflectional symmetry</b>, <b>line symmetry</b>, <b>mirror symmetry</b>, <b>mirror-image symmetry</b>, or <b><a href="/wiki/Symmetry_(biology)#Bilateral_symmetry" title="Symmetry (biology)" class="mw-redirect">bilateral symmetry</a></b> is <a href="/wiki/Symmetry" title="Symmetry">symmetry</a> with respect to <a href="/wiki/Reflection_(mathematics)" title="Reflection (mathematics)">reflection</a>. That is, a figure which does not change upon undergoing a reflection has reflectional symmetry.</p>
<p>In <a href="/wiki/2D_geometric_model" title="2D geometric model">2D</a> there is a line of symmetry, in <a href="/wiki/Three-dimensional_space" title="Three-dimensional space">3D</a> a <a href="/wiki/Plane_(mathematics)" title="Plane (mathematics)" class="mw-redirect">plane</a> of symmetry. An object or figure which is indistinguishable from its transformed image is called mirror symmetric (see <a href="/wiki/Mirror_image" title="Mirror image">mirror image</a>). Also see <a href="/wiki/Pattern" title="Pattern">pattern</a>.</p>
<p>The <b>axis of symmetry</b> or <b>line of symmetry</b> of a two-<a href="/wiki/Dimension" title="Dimension">dimensional</a> figure is a line such that, for each <a href="/wiki/Perpendicular" title="Perpendicular">perpendicular</a> constructed, if the perpendicular intersects the figure at a distance 'd' from the axis along the perpendicular, then there exists another intersection of the shape and the perpendicular, at the same distance 'd' from the axis, in the opposite direction along the perpendicular. Another way to think about it is that if the shape were to be folded in half over the axis, the two halves would be identical: the two halves are each other's mirror image. Thus a square has four axes of symmetry, because there are four different ways to fold it and have the edges all match. A circle has infinitely many axes of symmetry, for the same reason.</p>
<p>If the letter 'T' is reflected along a vertical axis, it appears the same. Note that this is sometimes called horizontal symmetry, and sometimes vertical symmetry. One can better use an unambiguous formulation, e.g. "T has a vertical symmetry axis."(this may also be called a line of symmetry)</p>
<p>The <a href="/wiki/Triangle" title="Triangle">triangles</a> with this symmetry are isosceles. The <a href="/wiki/Quadrilateral" title="Quadrilateral">quadrilaterals</a> with this symmetry are the <a href="/wiki/Kite_(geometry)" title="Kite (geometry)">kites</a> and the <a href="/wiki/Isosceles_trapezoid" title="Isosceles trapezoid">isosceles trapezoids</a>.</p>
<p>For each line or plane of reflection, the <a href="/wiki/Symmetry_group" title="Symmetry group">symmetry group</a> is isomorphic with <i>C<sub>s</sub></i> (see <a href="/wiki/Point_groups_in_three_dimensions" title="Point groups in three dimensions">point groups in three dimensions</a>), one of the three types of order two (<a href="/wiki/Involution_(mathematics)" title="Involution (mathematics)">involutions</a>), hence algebraically <i>C<sub>2</sub></i>. The <a href="/wiki/Fundamental_domain" title="Fundamental domain">fundamental domain</a> is a half-plane or half-space.</p>
<p>In certain contexts there is rotational symmetry anyway. Then mirror-image symmetry is equivalent with inversion symmetry; in such contexts in modern physics the term P-symmetry is used for both (P stands for <a href="/wiki/Parity_(physics)" title="Parity (physics)">parity</a>).</p>
<p>For more general types of <a href="/wiki/Reflection_(mathematics)" title="Reflection (mathematics)">reflection</a> there are corresponding more general types of reflection symmetry. Examples:</p>
<ul>
<li>with respect to a non-isometric <a href="/wiki/Affine_involution" title="Affine involution">affine involution</a> (an <a href="/wiki/Oblique_reflection" title="Oblique reflection">oblique reflection</a> in a line, plane, etc).</li>
<li>with respect to <a href="/wiki/Inversive_geometry" title="Inversive geometry">circle inversion</a>.</li>
</ul>
<p>Mirrored symmetry is also found in the design of ancient structures, including Stonehenge.<sup id="cite_ref-Johnson.2C_Anthony_2008_0-0" class="reference"><a href="#cite_note-Johnson.2C_Anthony_2008-0"><span>[</span>1<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Reflection_symmetry&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Rotational_symmetry" title="Rotational symmetry">Rotational symmetry</a></li>
<li><a href="/wiki/Translational_symmetry" title="Translational symmetry">Translational symmetry</a></li>
<li><a href="/wiki/Holstein%E2%80%93Herring_method" title="HolsteinHerring method">HolsteinHerring method</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Reflection_symmetry&amp;action=&amp;section=2" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-Johnson.2C_Anthony_2008-0"><b><a href="#cite_ref-Johnson.2C_Anthony_2008_0-0">^</a></b> <span class="reference-text">Johnson, Anthony, <i>Solving Stonehenge: The New Key to an Ancient Enigma</i>. (Thames &amp; Hudson, 2008) <a href="/wiki/Special:BookSources/9780500051559" class="internal mw-magiclink-isbn">ISBN 978-0-500-05155-9</a></span></li>
</ol>
</div>
<ul>
<li><span class="citation book" id="Weyl_1982"><a href="/wiki/Hermann_Weyl" title="Hermann Weyl">Weyl, Hermann</a> (1982) [1952]. <i>Symmetry</i>. Princeton: Princeton University Press. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-691-02374-3" title="Special:BookSources/0-691-02374-3">0-691-02374-3</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Symmetry&amp;rft.aulast=Weyl&amp;rft.aufirst=Hermann&amp;rft.au=Weyl%2C%26%2332%3BHermann&amp;rft.date=1982&amp;rft.place=Princeton&amp;rft.pub=Princeton+University+Press&amp;rft.isbn=0-691-02374-3&amp;rfr_id=info:sid/en.wikipedia.org:Reflection_symmetry"><span style="display: none;">&#160;</span></span></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Reflection_symmetry&amp;action=&amp;section=3" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" width="30" height="40" /></td>
<td class="mbox-text" style="">Wikimedia Commons has media related to: <i><b><a class="external text" href="//commons.wikimedia.org/wiki/Category:Reflection_symmetry">Reflection symmetry</a></b></i></td>
</tr>
</table>
<ul>
<li><a rel="nofollow" class="external text" href="http://republika.pl/fraktal/mapping.html">Mapping with symmetry - source in Delphi</a></li>
<li><a rel="nofollow" class="external text" href="http://www.mathsisfun.com/geometry/symmetry-reflection.html">Reflection Symmetry Examples</a> from <a href="/w/index.php?title=Math_Is_Fun&amp;action=&amp;redlink=1" class="new" title="Math Is Fun (page does not exist)">Math Is Fun</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1595/1000000
Post-expand include size: 12360/2048000 bytes
Template argument size: 4355/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1390873-0!*!0!!*!4!* and timestamp 20120412181609 -->
