<table class="metadata plainlinks ambox ambox-content ambox-one_source" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This article <b>relies largely or entirely upon a <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">single source</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=AA_postulate&amp;action=">improve this article</a> by introducing <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">citations</a> to additional sources. Discussion about the problems with the sole source used may be found on the <a href="/wiki/Talk:AA_postulate" title="Talk:AA postulate">talk page</a>. <small><i>(November 2010)</i></small></td>
</tr>
</table>
<table class="metadata plainlinks ambox ambox-style ambox-Orphan" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Wiki_letter_w.svg" class="image"><img alt="Wiki letter w.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/6/6c/Wiki_letter_w.svg/40px-Wiki_letter_w.svg.png" width="40" height="40" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>is an <a href="/wiki/Wikipedia:Orphan" title="Wikipedia:Orphan">orphan</a>, as few or no other articles <a class="external text" href="//en.wikipedia.org/w/index.php?title=Special:Whatlinkshere&amp;target=AA_postulate&amp;namespace=0">link to it</a></b>. Please <a href="/wiki/Help:Link" title="Help:Link">introduce links</a> to this page from <a class="external text" href="http://en.wikipedia.org/w/index.php?title=Special%3ASearch&amp;redirs=1&amp;search=AA+postulate&amp;fulltext=Search&amp;ns0=1&amp;title=Special%3ASearch&amp;advanced=1&amp;fulltext=AA+postulate">related articles</a>; <a rel="nofollow" class="external text" href="http://edwardbetts.com/find_link?q=AA_postulate">suggestions may be available</a>. <small><i>(December 2009)</i></small></td>
</tr>
</table>
<div class="floatright"><a href="/wiki/File:AA_Postulate_Helper.png" class="image"><img alt="AA Postulate Helper.png" src="//upload.wikimedia.org/wikipedia/commons/6/61/AA_Postulate_Helper.png" width="200" height="200" /></a></div>
<p>The <b>AA Postulate</b> in <a href="/wiki/Euclidean_geometry" title="Euclidean geometry">Euclidean geometry</a> states that two <a href="/wiki/Triangle" title="Triangle">triangles</a> are similar if they have two corresponding <a href="/wiki/Angle" title="Angle">angles</a> <a href="/wiki/Congruence_(geometry)" title="Congruence (geometry)">congruent</a>.</p>
<p>The AA Postulate works because the <a href="/wiki/Interior_angle" title="Interior angle" class="mw-redirect">interior angles</a> of a <a href="/wiki/Triangle" title="Triangle">triangle</a> are always equal to 180. By knowing two angles, such as 32 and 64 degrees, we know that the next angle is 84, because 180-(32+64)=84. (This is sometimes referred to as the AAA Postulatewhich is true in all respects, but two angles are entirely sufficient.)</p>
<p>The postulate can be better understood by working in reverse order. The two triangles on grids A and B are <a href="/wiki/Similarity_(geometry)" title="Similarity (geometry)">similar</a>, by a 1.5 <a href="/wiki/Dilation" title="Dilation">dilation</a><sup class="plainlinks noprint Inline-Template" style="vertical-align:text-top;white-space:nowrap;">[<i><a rel="nofollow" class="external text" href="//toolserver.org/%7Edispenser/cgi-bin/dab_solver.py?page=AA_postulate&amp;intro=Template:Disambiguation_needed/intro&amp;client=Template:Dn"><span title="Link needs disambiguation from April 2012">disambiguation needed</span>&#160;<img alt="" src="//upload.wikimedia.org/wikipedia/commons/d/d1/InterlanguageLinks-Asset-Pencil-Hover.gif" width="10" height="10" /></a></i>]</sup> from A to B. If they are aligned, as in grid C, it is apparent find that the angle on the origin is congruent with the other (D). We also know that the pair of sides opposite the origin are parallel. We know this because the pairs of sides around them are similar, stem from the same point, and line up with each other. We can then look at the sides around the parallels as <a href="/wiki/Transversal_(geometry)" title="Transversal (geometry)">transversals</a>, and therefore the corresponding angles are congruent. Using this reasoning we can tell that similar triangles have congruent angles.</p>
<h2><span class="section">[<a href="/w/index.php?title=AA_postulate&amp;action=&amp;section=1" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><a rel="nofollow" class="external free" href="http://hanlonmath.com/pdfFiles/464Chapter7Sim.Poly.pdf">http://hanlonmath.com/pdfFiles/464Chapter7Sim.Poly.pdf</a> <i><b>(Unused Source)</b></i></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1200/1000000
Post-expand include size: 13631/2048000 bytes
Template argument size: 5081/2048000 bytes
Expensive parser function count: 3/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1406077-0!*!0!*!*!4!* and timestamp 20120417115210 -->
