<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/adjacent">adjacent</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<p><b>Adjacent</b> is an adjective meaning <i>contiguous</i>, <i>adjoining</i> or <i>abutting</i></p>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, adjacent sides meet to make an <a href="/wiki/Angle" title="Angle">angle</a>.</p>
<p>In <a href="/wiki/Graph_theory" title="Graph theory">graph theory</a> adjacent nodes in a graph are linked by an edge.</p>
<p>In <a href="/wiki/Trigonometry" title="Trigonometry">trigonometry</a> the adjacent side of a <a href="/wiki/Right-angled_triangle" title="Right-angled triangle" class="mw-redirect">right-angled triangle</a> is the <a href="/wiki/Cathetus" title="Cathetus">cathetus</a> next to the angle in question. Right next to In <a href="/wiki/DNA" title="DNA">DNA</a> the sequences repeat with each other one after another<sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Please_clarify" title="Wikipedia:Please clarify"><span title="The text in the vicinity of this tag needs clarification or removal of jargon from September 2011">clarification needed</span></a></i>]</sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Adjacent&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Graph_(mathematics)" title="Graph (mathematics)">Graph (mathematics)</a></li>
<li><a href="/wiki/Adjacent_angle" title="Adjacent angle">Adjacent angle</a></li>
<li><a href="/wiki/Adjacent_channel" title="Adjacent channel">Adjacent channel</a></li>
</ul>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Adjacent&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 781/1000000
Post-expand include size: 8117/2048000 bytes
Template argument size: 2291/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1651508-0!*!0!*!*!4!* and timestamp 20120412041850 -->
