<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, a <b>circumscribed sphere</b> of a <a href="/wiki/Polyhedron" title="Polyhedron">polyhedron</a> is a <a href="/wiki/Sphere" title="Sphere">sphere</a> that contains the polyhedron and touches each of the polyhedron's vertices. The word <b>circumsphere</b> is sometimes used to mean the same thing. When it exists, a circumscribed sphere need not be the smallest sphere containing the polyhedron; for instance, the tetrahedron formed by a vertex of a <a href="/wiki/Cube" title="Cube">cube</a> and its three neighbors has the same circumsphere as the cube itself, but can be contained within a smaller sphere having the three neighboring vertices on its equator.</p>
<p>All <a href="/wiki/Regular_polyhedra" title="Regular polyhedra" class="mw-redirect">regular polyhedra</a> have circumscribed spheres, but most irregular polyhedra do not have one, since in general not all vertices lie on a common sphere. It is possible to define the smallest containing sphere for such shapes.</p>
<p>The radius of sphere circumscribed around a polyhedron <i>P</i> is called the <b>circumradius</b> of <i>P</i>.</p>
<p>The circumscribed sphere is the three-dimensional analogue of the circumscribed circle.</p>
<h2><span class="section">[<a href="/w/index.php?title=Circumscribed_sphere&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Circumscribed_circle" title="Circumscribed circle">Circumscribed circle</a></li>
<li><a href="/wiki/Midsphere" title="Midsphere">Midsphere</a></li>
<li><a href="/wiki/Inscribed_sphere" title="Inscribed sphere">Inscribed sphere</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Circumscribed_sphere&amp;action=&amp;section=2" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Circumsphere"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Circumsphere.html">Circumsphere</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Circumscribed_sphere&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 175/1000000
Post-expand include size: 4070/2048000 bytes
Template argument size: 647/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:991784-0!*!0!!*!4!* and timestamp 20120229092444 generated by mw55 -->
