<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:ClockAngles.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/6/6e/ClockAngles.jpg/220px-ClockAngles.jpg" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:ClockAngles.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The diagram shows the angles formed by the hands of an analog clock showing a time of 2:20</div>
</div>
</div>
<p><b>Clock angle problems</b> are a type of <a href="/wiki/Mathematical_problem" title="Mathematical problem">mathematical problem</a> which involve finding the angles between the hands of an <a href="/wiki/Analog_clock" title="Analog clock" class="mw-redirect">analog clock</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Math_problem"><span class="tocnumber">1</span> <span class="toctext">Math problem</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Equation_for_the_angle_of_the_hour_hand"><span class="tocnumber">1.1</span> <span class="toctext">Equation for the angle of the hour hand</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Equation_for_the_degrees_on_the_minute_hand"><span class="tocnumber">1.2</span> <span class="toctext">Equation for the degrees on the minute hand</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Example"><span class="tocnumber">1.3</span> <span class="toctext">Example</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Equation_for_the_angle_between_the_hands"><span class="tocnumber">1.4</span> <span class="toctext">Equation for the angle between the hands</span></a>
<ul>
<li class="toclevel-3 tocsection-6"><a href="#Example_2"><span class="tocnumber">1.4.1</span> <span class="toctext">Example</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-7"><a href="#When_are_hour_and_minute_hands_of_a_clock_superimposed.3F"><span class="tocnumber">1.5</span> <span class="toctext">When are hour and minute hands of a clock superimposed?</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-8"><a href="#See_also"><span class="tocnumber">2</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#External_links"><span class="tocnumber">3</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Clock_angle_problem&amp;action=&amp;section=1" title="Edit section: Math problem"></a>]</span> <span class="mw-headline" id="Math_problem">Math problem</span></h2>
<p>Clock angle problems relate two different measurements: <a href="/wiki/Angle" title="Angle">angles</a> and <a href="/wiki/Time" title="Time">time</a>.</p>
<p>A method to solve such problems is to consider the rate of change of the angle in degrees per minute. The hour hand of a normal 12-hour analogue clock turns 360 in 12 hours (720 minutes) or 0.5 per minute. The minute hand rotates through 360 in 60 minutes or 6 per minute.</p>
<h3><span class="section">[<a href="/w/index.php?title=Clock_angle_problem&amp;action=&amp;section=2" title="Edit section: Equation for the angle of the hour hand"></a>]</span> <span class="mw-headline" id="Equation_for_the_angle_of_the_hour_hand">Equation for the angle of the hour hand</span></h3>
<p><img class="tex" alt="\theta_{\text{hr}} = \frac{1}{2}M_\Sigma = \frac{1}{2}(60H + M)" src="//upload.wikimedia.org/wikipedia/en/math/b/9/0/b902c12f9c9b324ed587bd34925e805f.png" /></p>
<p>where:</p>
<ul>
<li><img class="tex" alt="\scriptstyle\theta" src="//upload.wikimedia.org/wikipedia/en/math/2/3/9/239c42d35e7c4548370c82ddf2cbce99.png" /> is the angle in degrees of the hand measured clockwise from the 12 o'clock position.</li>
<li><img class="tex" alt="\scriptstyle H" src="//upload.wikimedia.org/wikipedia/en/math/7/a/6/7a6089fa359efbaf00217bf8e79426da.png" /> is the hours past 12 o'clock.</li>
<li><img class="tex" alt="\scriptstyle M" src="//upload.wikimedia.org/wikipedia/en/math/8/5/3/85352b5b8832903500d7f7d2873e5144.png" /> is the minutes past the hour.</li>
<li><img class="tex" alt="\scriptstyle M_\Sigma" src="//upload.wikimedia.org/wikipedia/en/math/7/3/f/73fd1c78e299ff02b14f3c75180d8564.png" /> is the minutes past 12 o'clock.</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Clock_angle_problem&amp;action=&amp;section=3" title="Edit section: Equation for the degrees on the minute hand"></a>]</span> <span class="mw-headline" id="Equation_for_the_degrees_on_the_minute_hand">Equation for the degrees on the minute hand</span></h3>
<p><img class="tex" alt="\theta_{\text{min.}} = 6M" src="//upload.wikimedia.org/wikipedia/en/math/f/c/e/fce981d460f6a97eea769b1bfb5f4b90.png" /></p>
<p>where:</p>
<ul>
<li><img class="tex" alt="\scriptstyle\theta" src="//upload.wikimedia.org/wikipedia/en/math/2/3/9/239c42d35e7c4548370c82ddf2cbce99.png" /> is the angle in degrees of the hand measured clockwise from the 12 o'clock position.</li>
<li><img class="tex" alt="\scriptstyle M" src="//upload.wikimedia.org/wikipedia/en/math/8/5/3/85352b5b8832903500d7f7d2873e5144.png" /> is the minute.</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Clock_angle_problem&amp;action=&amp;section=4" title="Edit section: Example"></a>]</span> <span class="mw-headline" id="Example">Example</span></h3>
<p>The time is 5:24. The angle in degrees of the hour hand is:</p>
<p><img class="tex" alt="\theta_{\text{hr}} = \frac{1}{2}(60 \times 5 + 24) = 162" src="//upload.wikimedia.org/wikipedia/en/math/5/c/4/5c4a35ed1ca47aeb5283e344e72d7739.png" /></p>
<p>The angle in degrees of the minute hand is:</p>
<p><img class="tex" alt="\theta_{\text{min.}} = 6 \times 24 = 144" src="//upload.wikimedia.org/wikipedia/en/math/9/6/6/9664f1823c663b4569d059ca0e4852f2.png" /></p>
<h3><span class="section">[<a href="/w/index.php?title=Clock_angle_problem&amp;action=&amp;section=5" title="Edit section: Equation for the angle between the hands"></a>]</span> <span class="mw-headline" id="Equation_for_the_angle_between_the_hands">Equation for the angle between the hands</span></h3>
<p>The angle between the hands can be found using the formula:</p>
<p><img class="tex" alt="\begin{align}
\Delta\theta
 &amp;= \left|\theta_{\text{hr}} - \theta_{\text{min.}}\right| \\
 &amp;= \left|\frac{1}{2}(60H + M) - 6M\right|\\
 &amp;= \left|\frac{1}{2}(60H - 11M)\right|
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/7/4/0/740ecb50f0350565a8b4ab9802e52e36.png" /></p>
<p><br /></p>
<h4><span class="section">[<a href="/w/index.php?title=Clock_angle_problem&amp;action=&amp;section=6" title="Edit section: Example"></a>]</span> <span class="mw-headline" id="Example_2">Example</span></h4>
<p>The time is 2:40.</p>
<p><img class="tex" alt="\begin{align}
\Delta\theta 
 &amp;= \left|\frac{1}{2}(60 \times 2 - 11 \times 40)\right|\\
 &amp;= \left|\frac{1}{2}(120 - 440)\right|\\
 &amp;= 160
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/8/9/a/89addb73c95f5189f82a56f29abf5167.png" /></p>
<p>where</p>
<ul>
<li><img class="tex" alt="\scriptstyle H" src="//upload.wikimedia.org/wikipedia/en/math/7/a/6/7a6089fa359efbaf00217bf8e79426da.png" /> is the hour</li>
<li><img class="tex" alt="\scriptstyle M" src="//upload.wikimedia.org/wikipedia/en/math/8/5/3/85352b5b8832903500d7f7d2873e5144.png" /> is the minute</li>
</ul>
<p>Derived by Ashwin Jayprakash</p>
<h3><span class="section">[<a href="/w/index.php?title=Clock_angle_problem&amp;action=&amp;section=7" title="Edit section: When are hour and minute hands of a clock superimposed?"></a>]</span> <span class="mw-headline" id="When_are_hour_and_minute_hands_of_a_clock_superimposed.3F">When are hour and minute hands of a clock superimposed?</span></h3>
<p>Hour and minute hands are superimposed only when their angle is the same.</p>
<p><img class="tex" alt="\begin{align}
\theta_{\text{hr}} &amp;= \theta_{\text{min.}}\\
\Rightarrow \frac{1}{2}(60H + M) &amp;= 6M\\
\Rightarrow 11M &amp;= 60H\\
\Rightarrow M &amp;= \frac{60}{11}H\\
\Rightarrow M &amp;= 5.\overline{45}H
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/a/3/f/a3fa0b2c7c2732d9156b1483f2f91651.png" /></p>
<p><img class="tex" alt="\scriptstyle H" src="//upload.wikimedia.org/wikipedia/en/math/7/a/6/7a6089fa359efbaf00217bf8e79426da.png" /> is an integer in the range 011. This gives times of: 0:00, 1:05.<span style="text-decoration:overline;">45</span>, 2:10.<span style="text-decoration:overline;">90</span>, 3:16.<span style="text-decoration:overline;">36</span>, etc.</p>
<h2><span class="section">[<a href="/w/index.php?title=Clock_angle_problem&amp;action=&amp;section=8" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Clock_position" title="Clock position">Clock position</a></li>
</ul>
<p>Time Angle Defination&#160;: The angle between minute hand and hour hand is called Time Angle. Formula:</p>
<pre>
                            Time Angle=   |Houre angle  ( 5.5 * Minute ) |
</pre>
<p>Example:</p>
<pre>
                            Now, we have to find the angle at 6:31.
Solution: 
      We know that,
                              Time Angle= |Houre angle  - ( 5.5 * Minute ) |  
</pre>
<p>And here, the houre angle is 180 w.r.t 12 because the angle subtanded between tow adjacent digit is 30.</p>
<pre>
                              So,  
                                          Houre angle = 180    And    Minute = 31
</pre>
<p>Now, put the values in formula</p>
<pre>
   Time anlge =|180  (5.5 * 31 )|
</pre>
<p>Time angle =| 180 -170.5 | Time angle=9.5</p>
<pre>
 Derived by                                                             Ashwin Jayprakash
</pre>
<h2><span class="section">[<a href="/w/index.php?title=Clock_angle_problem&amp;action=&amp;section=9" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external free" href="http://www.delphiforfun.org/Programs/clock_angle.htm">http://www.delphiforfun.org/Programs/clock_angle.htm</a></li>
<li><a rel="nofollow" class="external free" href="http://www.eaa.unsw.edu.au/pdf/M_clock-hand-angles.xls">http://www.eaa.unsw.edu.au/pdf/M_clock-hand-angles.xls</a></li>
<li><a rel="nofollow" class="external free" href="http://mathforum.org/library/view/7952.html">http://mathforum.org/library/view/7952.html</a></li>
<li><a rel="nofollow" class="external free" href="http://www.ldlewis.com/hospital_clock/">http://www.ldlewis.com/hospital_clock/</a> - extensive clock angle analysis</li>
<li><a rel="nofollow" class="external free" href="http://www.jimloy.com/puzz/clock1.htm">http://www.jimloy.com/puzz/clock1.htm</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 200/1000000
Post-expand include size: 147/2048000 bytes
Template argument size: 6/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:11843393-0!0!0!!en!4!* and timestamp 20120415125832 -->
