<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Complementary_angles.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/8/85/Complementary_angles.svg/250px-Complementary_angles.svg.png" width="250" height="250" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Complementary_angles.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A pair of complementary angles, because their measures add up to 90 degrees</div>
</div>
</div>
<table class="metadata plainlinks ambox ambox-move" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Merge-arrows.svg/50px-Merge-arrows.svg.png" width="50" height="20" /></div>
</td>
<td class="mbox-text" style="">It has been suggested that this article or section be <a href="/wiki/Wikipedia:Merging" title="Wikipedia:Merging">merged</a> with <i><a href="/wiki/Vertical_angles" title="Vertical angles">Vertical angles</a></i> , <i><a href="/wiki/Supplementary_angles" title="Supplementary angles">Supplementary angles</a></i> , <i><a href="/wiki/Adjacent_angles" title="Adjacent angles" class="mw-redirect">Adjacent angles</a></i> and <i><a href="/wiki/Transversal_(geometry)" title="Transversal (geometry)">Transversal (geometry)</a></i> &#160;to <i><a href="/w/index.php?title=Special_angle_relationships&amp;action=&amp;redlink=1" class="new" title="Special angle relationships (page does not exist)">Special angle relationships</a></i>. (<a href="/wiki/Talk:Vertical_angles#Merge.3F" title="Talk:Vertical angles">Discuss</a>) <small><i>Proposed since December 2011.</i></small></td>
</tr>
</table>
<p>In geometry, <b>complementary angles</b> are <a href="/wiki/Angle" title="Angle">angles</a> whose measures sum to 90. If the two complementary angles are adjacent (i.e. have a common <a href="/wiki/Vertex_(geometry)" title="Vertex (geometry)">vertex</a> and share just one side) their non-shared sides form a <a href="/wiki/Angle" title="Angle">right angle</a>.</p>
<p>In <a href="/wiki/Euclidean_geometry" title="Euclidean geometry">Euclidean geometry</a>, the two <a href="/wiki/Angle" title="Angle">acute angles</a> in a <a href="/wiki/Right_triangle" title="Right triangle">right triangle</a> are complementary, because the sum of internal angles of a triangle is 180 degrees, and the right angle itself accounts for ninety degrees.</p>
<p>The adjective <i>complementary</i> is from <a href="/wiki/Latin" title="Latin">Latin</a> <i>complementum</i>, associated with the verb <i>complere</i>, "to fill up". An acute angle is "filled up" by its complement to form a right angle.</p>
<h2><span class="section">[<a href="/w/index.php?title=Complementary_angles&amp;action=&amp;section=1" title="Edit section: Trigonometric ratios"></a>]</span> <span class="mw-headline" id="Trigonometric_ratios">Trigonometric ratios</span></h2>
<p>The <b><a href="/wiki/Sine" title="Sine">sine</a></b> of an angle equals the <b><a href="/wiki/Cosine" title="Cosine" class="mw-redirect">cosine</a></b> of its complementary angle. It is therefore true that, if angles <i><b>A</b></i> and <i><b>B</b></i> are complementary, <img class="tex" alt=" \sin^2A + \sin^2B = 1" src="//upload.wikimedia.org/wikipedia/en/math/b/5/8/b58311d20196a62bc8aba9ba79000044.png" />, and <img class="tex" alt="\cos^2A + \cos^2B = 1" src="//upload.wikimedia.org/wikipedia/en/math/7/c/7/7c77d20293a39d48a5a85cea2829fa29.png" />.</p>
<p>The <b><a href="/wiki/Tangent" title="Tangent">tangent</a></b> of an angle equals the <b><a href="/wiki/Cotangent" title="Cotangent" class="mw-redirect">cotangent</a></b> of its complementary angle. The tangents of complementary angles are <a href="/wiki/Multiplicative_inverse" title="Multiplicative inverse">reciprocals</a> of each other.</p>
<p>The <b><a href="/wiki/Cosecant" title="Cosecant" class="mw-redirect">secant</a></b> of an angle equals the <b><a href="/wiki/Cosecant" title="Cosecant" class="mw-redirect">cosecant</a></b> of its complementary angle.</p>
<p>The prefix "co-" in the names of some trigonometric ratios refers to the word "complementary".</p>
<h2><span class="section">[<a href="/w/index.php?title=Complementary_angles&amp;action=&amp;section=2" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Supplementary_angles" title="Supplementary angles">Supplementary angles</a></li>
<li><a href="/wiki/Triangle" title="Triangle">Triangles</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Complementary_angles&amp;action=&amp;section=3" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/complementary">complementary</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/anglecomplementary.html">Animated demonstration</a> - Interactive applet and explanation of the characteristics of complementary angles.</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 741/1000000
Post-expand include size: 7184/2048000 bytes
Template argument size: 2928/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:463007-0!0!0!!*!4!* and timestamp 20120325135239 -->
