<div class="dablink">This article is about the geometrical figure.  For the Indian highway project, see <a href="/wiki/Golden_Quadrilateral" title="Golden Quadrilateral">Golden Quadrilateral</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:227px;"><a href="/wiki/File:SimilarGoldenRectangles.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8e/SimilarGoldenRectangles.svg/225px-SimilarGoldenRectangles.svg.png" width="225" height="206" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:SimilarGoldenRectangles.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A golden rectangle with longer side <font color="blue"><i><b>a</b></i></font> and shorter side <font color="red"><i><b>b</b></i></font>, when placed adjacent to a square with sides of length <font color="blue"><i><b>a</b></i></font>, will produce a <a href="/wiki/Similarity_(geometry)" title="Similarity (geometry)">similar</a> golden rectangle with longer side <font color="green"><i><b>a + b</b></i></font> and shorter side <font color="blue"><i><b>a</b></i></font>. This illustrates the relationship <img class="tex" alt=" \frac{a+b}{a} = \frac{a}{b} \equiv \varphi\,." src="//upload.wikimedia.org/wikipedia/en/math/b/2/7/b2712d8ae5598f7d8b7c115d2b31cdfb.png" /></div>
</div>
</div>
<p>A <b>golden rectangle</b> is one whose side lengths are in the <a href="/wiki/Golden_ratio" title="Golden ratio">golden ratio</a>, <img class="tex" alt="1&#160;: \tfrac{1 + \sqrt{5}}{2}" src="//upload.wikimedia.org/wikipedia/en/math/0/e/f/0ef2fdac446668fbfcf2639206d0d446.png" /> or approximately 1:1.618.</p>
<p>A distinctive feature of this shape is that when a <a href="/wiki/Square_(geometry)" title="Square (geometry)">square</a> section is removed, the remainder is another golden <a href="/wiki/Rectangle" title="Rectangle">rectangle</a>; that is, with the same <a href="/wiki/Aspect_ratio" title="Aspect ratio">aspect ratio</a> as the first. Square removal can be repeated infinitely, in which case corresponding corners of the squares form an infinite sequence of points on the <a href="/wiki/Golden_spiral" title="Golden spiral">golden spiral</a>, the unique <a href="/wiki/Logarithmic_spiral" title="Logarithmic spiral">logarithmic spiral</a> with this property.</p>
<p>According to astrophysicist and math popularizer <a href="/wiki/Mario_Livio" title="Mario Livio">Mario Livio</a>, since the publication of <a href="/wiki/Luca_Pacioli" title="Luca Pacioli">Luca Pacioli</a>'s <i>Divina Proportione</i> in 1509,<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> when "with Pacioli's book, the Golden Ratio started to become available to artists in theoretical treatises that were not overly mathematical, that they could actually use,"<sup id="cite_ref-livio_1-0" class="reference"><a href="#cite_note-livio-1"><span>[</span>2<span>]</span></a></sup> many artists and architects have been fascinated by the presumption that the golden rectangle is considered aesthetically pleasing. The proportions of the golden rectangle have been observed in works predating Pacioli's publication.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Construction"><span class="tocnumber">1</span> <span class="toctext">Construction</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Applications"><span class="tocnumber">2</span> <span class="toctext">Applications</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#See_also"><span class="tocnumber">3</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#References"><span class="tocnumber">4</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#External_links"><span class="tocnumber">5</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Golden_rectangle&amp;action=&amp;section=1" title="Edit section: Construction"></a>]</span> <span class="mw-headline" id="Construction">Construction</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Golden_Rectangle_Construction.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/32/Golden_Rectangle_Construction.svg/220px-Golden_Rectangle_Construction.svg.png" width="220" height="266" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Golden_Rectangle_Construction.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A method to construct a golden rectangle. The square is outlined in red. The resulting dimensions are in the golden ratio.</div>
</div>
</div>
<p>A golden rectangle can be <a href="/wiki/Compass_and_straightedge_constructions" title="Compass and straightedge constructions">constructed with only straightedge and compass</a> by this technique:</p>
<ol>
<li>Construct a simple square</li>
<li>Draw a line from the midpoint of one side of the square to an opposite corner</li>
<li>Use that line as the radius to draw an arc that defines the height of the rectangle</li>
<li>Complete the golden rectangle</li>
</ol>
<h2><span class="section">[<a href="/w/index.php?title=Golden_rectangle&amp;action=&amp;section=2" title="Edit section: Applications"></a>]</span> <span class="mw-headline" id="Applications">Applications</span></h2>
<ul>
<li><a href="/wiki/Le_Corbusier" title="Le Corbusier">Le Corbusier</a>'s 1927 <a href="/wiki/Villa_Stein" title="Villa Stein">Villa Stein</a> in <a href="/wiki/Garches" title="Garches">Garches</a> features a rectangular ground plan, elevation, and inner structure that are closely approximate to golden rectangles.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup></li>
<li>The <a href="/wiki/Flag_of_Togo" title="Flag of Togo">flag of Togo</a> was designed to approximate a golden rectangle closely.<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Golden_rectangle&amp;action=&amp;section=3" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Fibonacci_numbers" title="Fibonacci numbers" class="mw-redirect">Fibonacci numbers</a></li>
<li><a href="/wiki/Golden_rhombus" title="Golden rhombus">Golden rhombus</a></li>
<li><a href="/wiki/Kepler_triangle" title="Kepler triangle">Kepler triangle</a></li>
<li><a href="/wiki/Leonardo_of_Pisa" title="Leonardo of Pisa" class="mw-redirect">Leonardo of Pisa</a></li>
<li><a href="/wiki/Rabatment_of_the_rectangle" title="Rabatment of the rectangle">Rabatment of the rectangle</a></li>
<li><a href="/wiki/Silver_ratio" title="Silver ratio">Silver ratio</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Golden_rectangle&amp;action=&amp;section=4" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Pacioli, Luca. <i>De divina proportione</i>, Luca Paganinem de Paganinus de Brescia (Antonio Capella) 1509, Venice.</span></li>
<li id="cite_note-livio-1"><b><a href="#cite_ref-livio_1-0">^</a></b> <span class="reference-text"><span class="citation book">Livio, Mario (2002). <i>The Golden Ratio: The Story of Phi, The World's Most Astonishing Number</i>. New York: Broadway Books. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-7679-0815-5" title="Special:BookSources/0-7679-0815-5">0-7679-0815-5</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+Golden+Ratio%3A+The+Story+of+Phi%2C+The+World%27s+Most+Astonishing+Number&amp;rft.aulast=Livio&amp;rft.aufirst=Mario&amp;rft.au=Livio%2C%26%2332%3BMario&amp;rft.date=2002&amp;rft.place=New+York&amp;rft.pub=Broadway+Books&amp;rft.isbn=0-7679-0815-5&amp;rfr_id=info:sid/en.wikipedia.org:Golden_rectangle"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text">Van Mersbergen, Audrey M., <i>Rhetorical Prototypes in Architecture: Measuring the Acropolis with a Philosophical Polemic</i>, <i>Communication Quarterly</i>, Vol. 46, 1998 ("a 'Golden Rectangle' has a ratio of the length of its sides equal to 1:1.61803+. The Parthenon is of these dimensions.")</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text">Le Corbusier, <i>The Modulor</i>, p. 35, as cited in Padovan, Richard, <i>Proportion: Science, Philosophy, Architecture</i> (1999), p. 320. Taylor &amp; Francis. <a href="/wiki/Special:BookSources/0419227806" class="internal mw-magiclink-isbn">ISBN 0-419-22780-6</a>: "Both the paintings and the architectural designs make use of the golden section".</span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://www.fotw.us/flags/tg.html">"Flag of Togo"</a>. <i>FOTW.us</i>. Flags Of The World<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.fotw.us/flags/tg.html">http://www.fotw.us/flags/tg.html</a></span><span class="reference-accessdate">. Retrieved 2007-06-09</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Flag+of+Togo&amp;rft.atitle=FOTW.us&amp;rft.pub=Flags+Of+The+World&amp;rft_id=http%3A%2F%2Fwww.fotw.us%2Fflags%2Ftg.html&amp;rfr_id=info:sid/en.wikipedia.org:Golden_rectangle"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Golden_rectangle&amp;action=&amp;section=5" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" width="30" height="40" /></td>
<td class="mbox-text" style="">Wikimedia Commons has media related to: <i><b><a class="external text" href="//commons.wikimedia.org/wiki/Category:Golden_rectangle">Golden rectangle</a></b></i></td>
</tr>
</table>
<ul>
<li><a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/GoldenRatio.html">Golden Ratio at MathWorld</a></li>
<li><a rel="nofollow" class="external text" href="http://uk.arxiv.org/abs/physics/0411195">The Golden Mean and the Physics of Aesthetics</a></li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/rectanglegolden.html">Golden rectangle demonstration</a> With interactive animation</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1654/1000000
Post-expand include size: 8501/2048000 bytes
Template argument size: 2635/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:219374-0!0!0!!en!4!* and timestamp 20120412182112 -->
