<div class="dablink">For fictional interstellar organization called Great Circle, see <a href="/wiki/Andromeda_(novel)" title="Andromeda (novel)">Andromeda (novel)</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Great_circle_hemispheres.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/04/Great_circle_hemispheres.png/220px-Great_circle_hemispheres.png" width="220" height="202" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Great_circle_hemispheres.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A great circle divides the sphere in two equal <a href="/wiki/Sphere" title="Sphere">hemispheres</a></div>
</div>
</div>
<p>A <b>great circle</b>, also known as an <b>orthodrome</b> or <a href="/wiki/Riemannian_circle" title="Riemannian circle">Riemannian circle</a>, of a <a href="/wiki/Sphere" title="Sphere">sphere</a> is the intersection of the sphere and a <a href="/wiki/Plane_(geometry)" title="Plane (geometry)">plane</a> which passes through the center point of the sphere, as opposed to a general <a href="/wiki/Circle_of_a_sphere" title="Circle of a sphere">circle of a sphere</a> where the plane is not required to pass through the center. (A <i>small circle</i> is the intersection of the sphere and a plane which does not pass through the center.) Any <a href="/wiki/Diameter" title="Diameter">diameter</a> of any great circle coincides with a diameter of the sphere, and therefore all great circles have the same <a href="/wiki/Circumference" title="Circumference">circumference</a> as each other, and have the same center as the sphere. A great circle is the largest circle that can be drawn on any given sphere. Every <a href="/wiki/Circle" title="Circle">circle</a> in <a href="/wiki/Euclidean_space" title="Euclidean space">Euclidean space</a> is a great circle of exactly one sphere.</p>
<p>For any two points on the surface of a sphere there is a great circle through the two points. The minor arc of a great circle between two points is the shortest surface-path between them. In this sense the minor arc is analogous to straight lines in <a href="/wiki/Spherical_geometry" title="Spherical geometry">spherical geometry</a>. The length of the minor arc of a great circle is taken as the distance between two points on a surface of a sphere, namely the <a href="/wiki/Great-circle_distance" title="Great-circle distance">great-circle distance</a>. The great circles are the <a href="/wiki/Geodesic" title="Geodesic">geodesics</a> of the sphere.</p>
<p>In higher dimensions, the great circles on the <a href="/wiki/N-sphere" title="N-sphere"><i>n</i>-sphere</a> are the intersection of the <i>n</i>-sphere with two-planes that pass through the origin in the Euclidean space <b>R</b><sup><i>n</i>+1</sup>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Earth_geodesics"><span class="tocnumber">1</span> <span class="toctext">Earth geodesics</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Derivation_of_shortest_paths"><span class="tocnumber">2</span> <span class="toctext">Derivation of shortest paths</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#See_also"><span class="tocnumber">3</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#References"><span class="tocnumber">4</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#External_links"><span class="tocnumber">5</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Great_circle&amp;action=&amp;section=1" title="Edit section: Earth geodesics"></a>]</span> <span class="mw-headline" id="Earth_geodesics">Earth geodesics</span></h2>
<div class="rellink boilerplate seealso">See also: <a href="/wiki/Geodesy" title="Geodesy">Geodesy</a></div>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:OblateSpheroid.PNG" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b5/OblateSpheroid.PNG/220px-OblateSpheroid.PNG" width="220" height="186" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:OblateSpheroid.PNG" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
An <a href="/wiki/Oblate_spheroid" title="Oblate spheroid">oblate spheroid</a></div>
</div>
</div>
<p>Strictly speaking the Earth <a href="/wiki/Reference_ellipsoid" title="Reference ellipsoid">is not a perfect sphere</a> (it is an oblate spheroid or ellipsoid  i.e., slightly compressed at the poles), which means that the shortest distance between two points (a geodesic) is not quite a great circle. The equatorial radius of the earth is about 6378.137 kilometers. The polar radius of the earth is about 6356.752 kilometers (about 21.4 kilometers less). Nevertheless, the sphere model can be considered a first approximation.</p>
<p>When long distance aviation or nautical routes are drawn on a flat map (for instance, the <a href="/wiki/Mercator_projection" title="Mercator projection">Mercator projection</a>), they often look curved. This is because they lie on great circles. A route that would appear as a straight line on the map would actually be longer. An exception is the <a href="/wiki/Gnomonic_projection" title="Gnomonic projection">gnomonic projection</a>, in which all straight lines represent great circles.</p>
<p>On a spherical Earth, the <a href="/wiki/Meridian_(geography)" title="Meridian (geography)">meridians</a> (or <i>lines of longitude</i>) are great circles, as is the <a href="/wiki/Equator" title="Equator">equator</a>. Lines of <a href="/wiki/Latitude" title="Latitude">latitude</a> are not great circles, because they are smaller than the equator; their centers are not at the center of the Earth -- they are <a href="/wiki/Small_circle" title="Small circle" class="mw-redirect">small circles</a> instead. Since Earth is not a perfect sphere, the equator (which <b>is</b> generally considered a spherical great circle) is about 40,075 km, while a north-south meridian line (which is an ellipse) is almost 40,008 km. The quadratic mean or <a href="/wiki/Root_mean_square" title="Root mean square">root mean square</a> of these extremes provides a decent approximation of the average great-circle circumference, about 40041.5 km.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Great-circle_route.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/85/Great-circle_route.jpg/220px-Great-circle_route.jpg" width="220" height="109" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Great-circle_route.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Great-circle route from China to Canada</div>
</div>
</div>
<p>Some examples of great circles on the <a href="/wiki/Celestial_sphere" title="Celestial sphere">celestial sphere</a> include the <a href="/wiki/Celestial_horizon" title="Celestial horizon" class="mw-redirect">celestial horizon</a>, the <a href="/wiki/Celestial_equator" title="Celestial equator">celestial equator</a>, and the <a href="/wiki/Ecliptic" title="Ecliptic">ecliptic</a>.</p>
<p>Great circle routes are used by ships and aircraft where currents and winds are not a significant factor. <a href="/wiki/Flight_length" title="Flight length">Flight lengths</a> can therefore often be approximated to the <a href="/wiki/Great-circle_distance" title="Great-circle distance">great-circle distance</a> between two airports. For aircraft travelling west between continents in the northern hemisphere these paths will extend northward near or into the <a href="/wiki/Arctic" title="Arctic">Arctic</a> region, however easterly flights will often fly a more southerly track to take advantage of the <a href="/wiki/Jet_stream" title="Jet stream">jet stream</a>.</p>
<p>For navigational convenience, Great Circle routes are often broken into a series of shorter <a href="/wiki/Rhumb_line" title="Rhumb line">rhumb lines</a> which allow the use of constant headings between <a href="/wiki/Waypoint" title="Waypoint">waypoints</a> along the Great Circle.</p>
<div style="clear:both;"></div>
<h2><span class="section">[<a href="/w/index.php?title=Great_circle&amp;action=&amp;section=2" title="Edit section: Derivation of shortest paths"></a>]</span> <span class="mw-headline" id="Derivation_of_shortest_paths">Derivation of shortest paths</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Greatcircle_Jetstream_routes.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/79/Greatcircle_Jetstream_routes.svg/220px-Greatcircle_Jetstream_routes.svg.png" width="220" height="101" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Greatcircle_Jetstream_routes.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Airline routes between <a href="/wiki/San_Francisco" title="San Francisco">San Francisco</a> and <a href="/wiki/Tokyo" title="Tokyo">Tokyo</a> following the most direct great circle (top), but following the jet stream (bottom) when heading eastwards</div>
</div>
</div>
<p>To prove that the minor arc of great circle is the shortest path connecting two points on the surface of a sphere, one has to apply <a href="/wiki/Calculus_of_variations" title="Calculus of variations">calculus of variations</a> to it.</p>
<p>Consider the class of all regular paths from a point <i>p</i> to another point <i>q</i>. Introduce <a href="/wiki/Spherical_coordinates" title="Spherical coordinates" class="mw-redirect">spherical coordinates</a> so that <i>p</i> coincides with the north pole. Any curve on the sphere that does not intersect either pole, except possibly at the endpoints, can be parametrized by</p>
<dl>
<dd><img class="tex" alt="\theta = \theta(t),\quad \phi = \phi(t),\quad a\le t\le b" src="//upload.wikimedia.org/wikipedia/en/math/1/9/5/195e08817e8a21cdb4023ded96abe1f4.png" /></dd>
</dl>
<p>provided we allow  to take on arbitrary real values. The infinitesimal arc length in these coordinates is</p>
<dl>
<dd><img class="tex" alt="
ds=r\sqrt{\theta'^2+\phi'^{2}\sin^{2}\theta}\, dt.
" src="//upload.wikimedia.org/wikipedia/en/math/0/3/f/03fe329767af429479bc023b7605a6ab.png" /></dd>
</dl>
<p>So the length of a curve  from <i>p</i> to <i>q</i> is a <a href="/wiki/Functional_(mathematics)" title="Functional (mathematics)">functional</a> of the curve given by</p>
<dl>
<dd><img class="tex" alt="
S[\gamma]=r\int_a^b\sqrt{\theta'^2+\phi'^{2}\sin^{2}\theta}\, dt.
" src="//upload.wikimedia.org/wikipedia/en/math/9/b/b/9bb92c2bb5e8c428b15783c60e631fa7.png" /></dd>
</dl>
<p>Note that <i>S</i>[] does not exceed the length of the meridian from <i>p</i> to <i>q</i>:</p>
<dl>
<dd><img class="tex" alt="S[\gamma] \ge r\int_a^b|\theta'(t)|\,dt \ge r|\theta(q)-\theta(p)|." src="//upload.wikimedia.org/wikipedia/en/math/5/2/8/52804f46b652a46ada0e0bc1e3c8ac6b.png" /></dd>
</dl>
<p>Since the starting point and ending point are fixed, <i>S</i> is minimized if and only if '&#160;=&#160;0, so the curve must lie on a meridian of the sphere &#160;=&#160;<sub>0</sub>&#160;=&#160;constant. In Cartesian coordinates, this is</p>
<dl>
<dd><img class="tex" alt="x\sin\phi_0 - y\cos\phi_0 = 0" src="//upload.wikimedia.org/wikipedia/en/math/1/a/6/1a6fbc649bf9931fbda4210347b75f28.png" /></dd>
</dl>
<p>which is a plane through the origin, i.e., the center of the sphere.</p>
<h2><span class="section">[<a href="/w/index.php?title=Great_circle&amp;action=&amp;section=3" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Great-circle_distance" title="Great-circle distance">Great-circle distance</a></li>
<li><a href="/wiki/Geodesic" title="Geodesic">Geodesic</a></li>
<li><a href="/wiki/Rhumb_line" title="Rhumb line">Rhumb line</a></li>
<li><a href="/wiki/Circle_of_a_sphere" title="Circle of a sphere">Circle of a sphere</a></li>
<li><a href="/wiki/Qibla" title="Qibla">Qibla</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Great_circle&amp;action=&amp;section=4" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://math.wikia.com/index.php?title=Elliptical_great-circle_radius_average">Elliptical great-circle radius average</a></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Great_circle&amp;action=&amp;section=5" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/GreatCircle.html">Great Circle  from MathWorld</a> Great Circle description, figures, and equations. Mathworld, Wolfram Research, Inc. c1999</li>
<li><a rel="nofollow" class="external text" href="http://www.gcmap.com/">Great Circle Mapper</a> Interactive tool for plotting great circle routes.</li>
<li><a rel="nofollow" class="external text" href="http://v-flyer.com/the-toolbox/blue-marble-mapper">Blue Marble Mapper</a> Draws Great Circle routes between airports using the NASA Blue Marble as the base map.</li>
<li><a rel="nofollow" class="external text" href="http://www.aircalculator.com">Air Route Calculator and Maps</a> See Great Circle routes between most airports using Google Maps. See closest and furthest airports from origin and destination.</li>
<li><a rel="nofollow" class="external text" href="http://williams.best.vwh.net/gccalc.htm">Great Circle Calculator</a> deriving (initial) course and distance between two points.</li>
<li><a rel="nofollow" class="external text" href="http://www.acscdg.com/">Great Circle Distance</a> Graphical tool for drawing great circles over maps. Also shows distance and azimuth in a table.</li>
<li><a rel="nofollow" class="external text" href="http://demonstrations.wolfram.com/GreatCirclesOnMercatorsChart/">Great Circles on Mercator's Chart</a> by John Snyder with additional contributions by Jeff Bryant, Pratik Desai, and Carl Woll, <a href="/wiki/Wolfram_Demonstrations_Project" title="Wolfram Demonstrations Project">Wolfram Demonstrations Project</a>.</li>
<li><a rel="nofollow" class="external text" href="http://www.spigolo.altervista.org/ortho/OrthoFirstProblem.html">3D First Problem <span class="languageicon" style="font-size:0.95em; font-weight:bold; color:#555;">(Italian)</span></a> 3D javascript interactive tool (<a href="/wiki/Google_Chrome" title="Google Chrome">Google Chrome</a>, <a href="/wiki/Firefox" title="Firefox">Firefox</a>, <a href="/wiki/Safari_(web_browser)" title="Safari (web browser)">Safari (web browser)</a>).</li>
<li><a rel="nofollow" class="external text" href="http://www.spigolo.altervista.org/ortho/OrthoSecondProblem.html">3D Second Problem <span class="languageicon" style="font-size:0.95em; font-weight:bold; color:#555;">(Italian)</span></a> 3D javascript interactive tool (<a href="/wiki/Google_Chrome" title="Google Chrome">Google Chrome</a>, <a href="/wiki/Firefox" title="Firefox">Firefox</a>, <a href="/wiki/Safari_(web_browser)" title="Safari (web browser)">Safari (web browser)</a>).</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 374/1000000
Post-expand include size: 2452/2048000 bytes
Template argument size: 587/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:48082-0!0!0!!en!4!* and timestamp 20120417140035 -->
