<table class="metadata plainlinks ambox ambox-move" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Merge-arrow.svg/50px-Merge-arrow.svg.png" width="50" height="20" /></div>
</td>
<td class="mbox-text" style="">It has been suggested that this article or section be <a href="/wiki/Wikipedia:Merging" title="Wikipedia:Merging">merged</a> into <i><a href="/wiki/Law_of_sines" title="Law of sines">Law of sines</a></i>. (<a href="/wiki/Talk:Law_of_sines" title="Talk:Law of sines">Discuss</a>) <small><i>Proposed since May 2010.</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, the <b>hinge theorem</b> states that if two sides of one <a href="/wiki/Triangle" title="Triangle">triangle</a> are <a href="/wiki/Congruence_(geometry)" title="Congruence (geometry)">congruent</a> to two sides of another triangle, and the <a href="/wiki/Included_angle" title="Included angle">included angle</a> of the first is larger than the included angle of the second, then the third side of the first triangle is longer than the third side of the second triangle.</p>
<p>The hinge theorem holds in <a href="/wiki/Euclidean_space" title="Euclidean space">Euclidean spaces</a> and more generally in simply connected non-positively curved <a href="/wiki/Space_form" title="Space form">space forms</a>.</p>
<p>The <a href="/wiki/Conversion_(logic)" title="Conversion (logic)" class="mw-redirect">converse</a> of the hinge theorem is also true: If the two sides of one triangle are congruent to two sides of another triangle, and the third side of the first triangle is greater than the third side of the second triangle, then the included angle of the first triangle is larger than the included angle of the second triangle.</p>
<p>In some textbooks, the theorem and its converse are written as the <a href="/wiki/Solution_of_triangles" title="Solution of triangles">SAS</a> Inequality Theorem and the <a href="/wiki/Solution_of_triangles" title="Solution of triangles">SSS</a> Inequality Theorem respectively.</p>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Hinge_theorem&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 639/1000000
Post-expand include size: 7047/2048000 bytes
Template argument size: 1677/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:3570709-0!*!0!*!*!4!* and timestamp 20120229125402 generated by mw56 -->
