<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, the <b>perpendicular distance</b> from a point <img class="tex" alt="(x_1, y_1)" src="//upload.wikimedia.org/wikipedia/en/math/6/1/3/613c8cdd5c639e212bb058608712c542.png" /> to the line <i>ax</i> + <i>by</i> + <i>c</i> = 0 is given by</p>
<dl>
<dd><img class="tex" alt="d = \frac{|ax_1 + by_1 + c|}{\sqrt{a^2 + b^2}}." src="//upload.wikimedia.org/wikipedia/en/math/3/a/d/3ad6413bdb55b8437546667a79e56825.png" /></dd>
</dl>
<p>If the <a href="/wiki/Linear_equation" title="Linear equation">equation of the line</a> is given on the form <i>y</i> = <i>kx</i> + <i>m</i>, the perpendicular distance from <img class="tex" alt="(x_1, y_1)" src="//upload.wikimedia.org/wikipedia/en/math/6/1/3/613c8cdd5c639e212bb058608712c542.png" /> is given by</p>
<dl>
<dd><img class="tex" alt="d = \frac{|k x_1 - y_1 + m|}{\sqrt{k^2+1}}. " src="//upload.wikimedia.org/wikipedia/en/math/c/e/0/ce0a4aa0c6221829c408a461bdcba4bd.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Perpendicular_distance&amp;action=&amp;section=1" title="Edit section: Proof (Two Dimensions)"></a>]</span> <span class="mw-headline" id="Proof_.28Two_Dimensions.29">Proof (Two Dimensions)</span></h3>
<p>Consider the line given by <img class="tex" alt="ax + by + c = 0 " src="//upload.wikimedia.org/wikipedia/en/math/d/2/3/d231e514817d440b7e0c28af6d6c21c1.png" /> and a point <img class="tex" alt="P(x_1,y_1) " src="//upload.wikimedia.org/wikipedia/en/math/8/0/1/801b5239522dbf633814d830ec31ec78.png" />. For ease, consider a point given by <img class="tex" alt="Q(x_0,y_1) " src="//upload.wikimedia.org/wikipedia/en/math/5/a/4/5a4a39f44744f61aa39bda26a249cef5.png" />, where <img class="tex" alt="x_0 = -(by_1 + c)/a " src="//upload.wikimedia.org/wikipedia/en/math/7/d/3/7d32acf24a8b8521a77dd902729d7eab.png" /> (since <img class="tex" alt="Q(x_0,y_1) " src="//upload.wikimedia.org/wikipedia/en/math/5/a/4/5a4a39f44744f61aa39bda26a249cef5.png" /> is on the line). Then we have</p>
<dl>
<dd><img class="tex" alt="d_\perp = |PQ \sin \theta| = |(x_1 - x_0) \sin \theta| " src="//upload.wikimedia.org/wikipedia/en/math/b/6/9/b69449609189d84fd07b9a1de91f26c8.png" />.</dd>
</dl>
<p>Here <img class="tex" alt="\theta " src="//upload.wikimedia.org/wikipedia/en/math/5/0/d/50d91f80cbb8feda1d10e167107ad1ff.png" /> is simply the angle between the line and the <img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" />-axis, such that</p>
<dl>
<dd><img class="tex" alt=" \tan \theta = m = -a/b " src="//upload.wikimedia.org/wikipedia/en/math/f/5/3/f53f829d59de023f112c5ceadf452645.png" />.</dd>
</dl>
<p>Using the <a href="/wiki/Pythagorean_theorem" title="Pythagorean theorem">Pythagorean theorem</a> we have <img class="tex" alt=" \sin \theta = -a/\sqrt{a^2 + b^2} " src="//upload.wikimedia.org/wikipedia/en/math/8/8/b/88b3a967513534cdd016055d6ecfd191.png" />, and</p>
<dl>
<dd><img class="tex" alt="d_\perp = |(x_1 - x_0) \sin \theta|  = \left|\left(x_1 + \frac{by_1+c}{a}\right) \cdot \frac{-a}{\sqrt{a^2 + b^2}}\right| = \left|\frac{ax_1+by_1+c}{a} \cdot \frac{-a}{\sqrt{a^2 + b^2}}\right| = \frac{|ax_1+by_1+c|}{\sqrt{a^2 + b^2}}" src="//upload.wikimedia.org/wikipedia/en/math/a/8/c/a8c8dbe569dd1449724938915de91c19.png" />.</dd>
</dl>
<p>This can be extended to the case where <img class="tex" alt="Q " src="//upload.wikimedia.org/wikipedia/en/math/f/0/9/f09564c9ca56850d4cd6b3319e541aee.png" /> is any point on the line, however, one can always choose <img class="tex" alt="Q " src="//upload.wikimedia.org/wikipedia/en/math/f/0/9/f09564c9ca56850d4cd6b3319e541aee.png" /> such that one coordinate is common to <img class="tex" alt="P(x_1,y_1) " src="//upload.wikimedia.org/wikipedia/en/math/8/0/1/801b5239522dbf633814d830ec31ec78.png" /> to simplify the formulation.</p>
<h2><span class="section">[<a href="/w/index.php?title=Perpendicular_distance&amp;action=&amp;section=2" title="Edit section: Proof (Higher Dimensions)"></a>]</span> <span class="mw-headline" id="Proof_.28Higher_Dimensions.29">Proof (Higher Dimensions)</span></h2>
<p>The general formula for higher dimensions can be quickly arrived at using <a href="/wiki/Vector_notation" title="Vector notation">vector notation</a>. Let the <a href="/wiki/Hyperplane" title="Hyperplane">hyperplane</a> have equation <img class="tex" alt=" \mathbf{n} \cdot (\mathbf{r} - \mathbf{r}_0) = 0 " src="//upload.wikimedia.org/wikipedia/en/math/f/9/8/f9882a5059df3f1946d327822c8386c3.png" />, where the <img class="tex" alt="\mathbf{n}" src="//upload.wikimedia.org/wikipedia/en/math/1/4/0/140191178029fda74745453765ddd5b3.png" /> is a <a href="/wiki/Normal_vector" title="Normal vector" class="mw-redirect">normal vector</a> and <img class="tex" alt="\mathbf{r}_0 = (x_{10},x_{20},\dots,x_{N0})" src="//upload.wikimedia.org/wikipedia/en/math/b/1/8/b18500e0682650052ba3328644e5ca06.png" /> is a <a href="/wiki/Position_vector" title="Position vector" class="mw-redirect">position vector</a> to a point in the <a href="/wiki/Hyperplane" title="Hyperplane">hyperplane</a>. We desire the orthogonal distance to the point <img class="tex" alt="\mathbf{r}_1 = (x_{11},x_{21},\dots,x_{N1})" src="//upload.wikimedia.org/wikipedia/en/math/c/a/5/ca56f6485ea1d51325b45e58012952c2.png" />. The <a href="/wiki/Hyperplane" title="Hyperplane">hyperplane</a> may also be represented by the scalar equation <img class="tex" alt="\sum_{i=1}^N a_i x_i = -a_0" src="//upload.wikimedia.org/wikipedia/en/math/c/3/0/c3014091248ac951d459bd75460ff66d.png" />, for constants <img class="tex" alt="\{a_i\}" src="//upload.wikimedia.org/wikipedia/en/math/0/d/5/0d5168b839a2826e798b6759d33e50b5.png" />. Likewise, a corresponding <img class="tex" alt="\mathbf{n}" src="//upload.wikimedia.org/wikipedia/en/math/1/4/0/140191178029fda74745453765ddd5b3.png" /> may be represented as <img class="tex" alt="(a_1,a_2, \dots, a_N)" src="//upload.wikimedia.org/wikipedia/en/math/b/5/2/b5286952813275e4b929541942b02388.png" />. The magnitude of the vector <img class="tex" alt="\mathbf{r}_1 - \mathbf{r}_0" src="//upload.wikimedia.org/wikipedia/en/math/c/7/0/c70f7eda91fc4df6fb435b5c90dba12b.png" /> is like our distance <img class="tex" alt="PQ" src="//upload.wikimedia.org/wikipedia/en/math/0/8/d/08d6d8834ad9ec87b1dc7ec8148e7a1f.png" /> above, so we desire the <a href="/wiki/Scalar_projection" title="Scalar projection">scalar projection</a> in the direction of <img class="tex" alt="\mathbf{n}" src="//upload.wikimedia.org/wikipedia/en/math/1/4/0/140191178029fda74745453765ddd5b3.png" />. Noting that <img class="tex" alt="\mathbf{n} \cdot \mathbf{r}_0 = \mathbf{r}_0 \cdot \mathbf{n} = -a_0" src="//upload.wikimedia.org/wikipedia/en/math/d/7/f/d7f2fecb3749d094b613984b94c321ea.png" /> (as <img class="tex" alt="\mathbf{r}_0" src="//upload.wikimedia.org/wikipedia/en/math/d/1/f/d1fd3afa481a6d18ff0bd09f8704abe4.png" /> satisfies the equation of the <a href="/wiki/Hyperplane" title="Hyperplane">hyperplane</a>) we have</p>
<dl>
<dd><img class="tex" alt="d_\perp = \frac{|(\mathbf{r}_1 - \mathbf{r}_0) \cdot \mathbf{n}|}{|\mathbf{n}|} = \frac{|\mathbf{r}_1\cdot \mathbf{n} - \mathbf{r}_0 \cdot \mathbf{n}|}{|\mathbf{n}|} = \frac{|\mathbf{r}_1\cdot \mathbf{n} + a_0|}{|\mathbf{n}|} = \frac{|a_1x_{11} + a_2x_{21} + \dots + a_Nx_{N1} + a_0|}{\sqrt{a_1^2 + a_2^2 + \dots + a_N^2}}" src="//upload.wikimedia.org/wikipedia/en/math/d/e/5/de5b30555ff141535bdfa4875142381b.png" />.</dd>
</dl>
<p>Notice how the general expression is consistent with <img class="tex" alt="N=2" src="//upload.wikimedia.org/wikipedia/en/math/9/b/b/9bb52e6c9f03ba7cdab00a83c95f5c5f.png" /> dimensions.</p>
<h2><span class="section">[<a href="/w/index.php?title=Perpendicular_distance&amp;action=&amp;section=3" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Distance_from_a_point_to_a_line" title="Distance from a point to a line">Distance from a point to a line</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 308/1000000
Post-expand include size: 0/2048000 bytes
Template argument size: 0/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:13556959-0!0!0!!*!*!* and timestamp 20120314022036 -->
