<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Perpendicular&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(December 2011)</i></small></td>
</tr>
</table>
<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Perpendicular-coloured.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/84/Perpendicular-coloured.svg/250px-Perpendicular-coloured.svg.png" width="250" height="218" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Perpendicular-coloured.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The segment AB is perpendicular to the segment CD because the two angles it creates (indicated in orange and blue) are each 90 degrees.</div>
</div>
</div>
<div class="dablink">For other uses, see <a href="/wiki/Perpendicular_(disambiguation)" title="Perpendicular (disambiguation)">Perpendicular (disambiguation)</a>.</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, two <a href="/wiki/Line_(geometry)" title="Line (geometry)">lines</a> or <a href="/wiki/Plane_(geometry)" title="Plane (geometry)">planes</a> (or a line and a plane) are considered <b>perpendicular</b> (or <a href="/wiki/Orthogonality" title="Orthogonality">orthogonal</a>) to each other if they form <a href="/wiki/Congruence_(geometry)" title="Congruence (geometry)">congruent</a> <a href="/wiki/Adjacent_angle" title="Adjacent angle">adjacent</a> <a href="/wiki/Angle" title="Angle">angles</a> (a T-shape). The term may be used as a <a href="/wiki/Noun" title="Noun">noun</a> or <a href="/wiki/Adjective" title="Adjective">adjective</a>. Thus, as illustrated, the line AB is the perpendicular to CD through the point B.</p>
<p>By definition, a <a href="/wiki/Line_(mathematics)" title="Line (mathematics)" class="mw-redirect">line</a> is infinitely long, and strictly speaking AB and CD in this example represent <a href="/wiki/Line_segment" title="Line segment">line segments</a> of two infinitely long lines. Hence the line segment AB does not have to intersect line segment CD to be considered perpendicular lines, because if the line segments are extended out to infinity, they would still form congruent adjacent angles.</p>
<p>If a line is perpendicular to another as shown, all of the angles created by their intersection are called <i>right angles</i> (right angles measure <a href="/wiki/Pi" title="Pi"></a>/2 <a href="/wiki/Radian" title="Radian">radians</a>, or 90<a href="/wiki/Degree_(angle)" title="Degree (angle)"></a>). Conversely, any lines that meet to form right angles are perpendicular.</p>
<p>In a coordinate plane, perpendicular lines have opposite reciprocal slopes, which means that the product of their slopes is -1. A horizontal line has slope equal to zero while the slope of a vertical line is described as undefined or sometimes infinity. Two lines that are perpendicular would be denoted as AB<img class="tex" alt="\perp" src="//upload.wikimedia.org/wikipedia/en/math/d/2/1/d21e3d53f78769beee8ff7b6c4a9a92c.png" />CD.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Construction_of_the_perpendicular"><span class="tocnumber">1</span> <span class="toctext">Construction of the perpendicular</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#In_relationship_to_parallel_lines"><span class="tocnumber">2</span> <span class="toctext">In relationship to parallel lines</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Perpendicular_symbol"><span class="tocnumber">3</span> <span class="toctext">Perpendicular symbol</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Graph_of_functions"><span class="tocnumber">4</span> <span class="toctext">Graph of functions</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#External_links"><span class="tocnumber">6</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Perpendicular&amp;action=&amp;section=1" title="Edit section: Construction of the perpendicular"></a>]</span> <span class="mw-headline" id="Construction_of_the_perpendicular">Construction of the perpendicular</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Perpendicular-construction.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Perpendicular-construction.svg/220px-Perpendicular-construction.svg.png" width="220" height="184" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Perpendicular-construction.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Construction of the perpendicular (blue) to the line AB through the point P.</div>
</div>
</div>
<p>To make the perpendicular to the line AB through the point P using <a href="/wiki/Compass_and_straightedge" title="Compass and straightedge" class="mw-redirect">compass and straightedge</a>, proceed as follows (see figure):</p>
<ul>
<li>Step 1 (red): construct a <a href="/wiki/Circle" title="Circle">circle</a> with center at P to create points A' and B' on the line AB, which are <a href="/wiki/Equidistant" title="Equidistant">equidistant</a> from P.</li>
<li>Step 2 (green): construct circles centered at A' and B', both passing through P. Let Q be the other point of intersection of these two circles.</li>
<li>Step 3 (blue): connect P and Q to construct the desired perpendicular PQ.</li>
</ul>
<p>To prove that the PQ is perpendicular to AB, use the <a href="/wiki/Congruence_(geometry)#Congruence_of_triangles" title="Congruence (geometry)">SSS congruence theorem</a> for ' and QPB' to conclude that angles OPA' and OPB' are equal. Then use the <a href="/wiki/Congruence_(geometry)#Congruence_of_triangles" title="Congruence (geometry)">SAS congruence theorem</a> for triangles OPA' and OPB' to conclude that angles POA and POB are equal.</p>
<h2><span class="section">[<a href="/w/index.php?title=Perpendicular&amp;action=&amp;section=2" title="Edit section: In relationship to parallel lines"></a>]</span> <span class="mw-headline" id="In_relationship_to_parallel_lines">In relationship to parallel lines</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a href="/wiki/File:Perpendicular_transversal_v3.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/be/Perpendicular_transversal_v3.svg/200px-Perpendicular_transversal_v3.svg.png" width="200" height="277" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Perpendicular_transversal_v3.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Lines <i>a</i> and <i>b</i> are parallel, as shown by the tick marks, and are cut by the <a href="/wiki/Transversal_line" title="Transversal line" class="mw-redirect">transversal line</a> c.</div>
</div>
</div>
<p>If two lines (<i>a</i> and <i>b</i>) are both perpendicular to a third line (<i>c</i>), all of the angles formed along the third line are right angles. Therefore, in <a href="/wiki/Euclidean_geometry" title="Euclidean geometry">Euclidean geometry</a>, any two lines that are both perpendicular to a third line are parallel to each other, because of the <a href="/wiki/Parallel_postulate" title="Parallel postulate">parallel postulate</a>. Conversely, if one line is perpendicular to a second line, it is also perpendicular to any line parallel to that second line.</p>
<p>In the figure at the right, all of the orange-shaded angles are congruent to each other and all of the green-shaded angles are congruent to each other, because <a href="/wiki/Vertical_(angles)" title="Vertical (angles)" class="mw-redirect">vertical angles</a> are congruent and alternate interior angles formed by a transversal cutting parallel lines are congruent. Therefore, if lines <i>a</i> and <i>b</i> are parallel, any of the following conclusions leads to all of the others:</p>
<ul>
<li>One of the angles in the diagram is a right angle.</li>
<li>One of the orange-shaded angles is congruent to one of the green-shaded angles.</li>
<li>Line 'c' is perpendicular to line 'a'.</li>
<li>Line 'c' is perpendicular to line 'b'.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Perpendicular&amp;action=&amp;section=3" title="Edit section: Perpendicular symbol"></a>]</span> <span class="mw-headline" id="Perpendicular_symbol">Perpendicular symbol</span></h2>
<p>The perpendicular symbol is <img class="tex" alt="\perp" src="//upload.wikimedia.org/wikipedia/en/math/d/2/1/d21e3d53f78769beee8ff7b6c4a9a92c.png" /> . For example, <img class="tex" alt="AB \perp CD" src="//upload.wikimedia.org/wikipedia/en/math/6/9/3/693c4c24f3806c4aec02bb66f3cbe31b.png" /> indicates that line <i>AB</i> is perpendicular to line <i>CD</i>.</p>
<p>In the <a href="/wiki/Unicode" title="Unicode">Unicode</a> character set, the perpendicular sign has the codepoint U+27C2 and is part of the Miscellaneous Mathematical Symbols-A range. It looks similar to the <a href="/wiki/Up_tack" title="Up tack">up tack</a> symbol (U+22A5).</p>
<h2><span class="section">[<a href="/w/index.php?title=Perpendicular&amp;action=&amp;section=4" title="Edit section: Graph of functions"></a>]</span> <span class="mw-headline" id="Graph_of_functions">Graph of functions</span></h2>
<p>In 2-dimension plane, right angles can be formed by two intersected lines which the <a href="/wiki/Product_(mathematics)" title="Product (mathematics)">product</a> of their <a href="/wiki/Slopes" title="Slopes" class="mw-redirect">slopes</a> equals to 1. More precisely, defining two <a href="/wiki/Linear_functions" title="Linear functions" class="mw-redirect">linear functions</a>: <span class="nowrap"><i>y</i><sub>1</sub> = <i>a</i><sub>1</sub><i>x</i> + <i>b</i><sub>1</sub></span> and <span class="nowrap"><i>y</i><sub>2</sub> = <i>a</i><sub>2</sub><i>x</i> + <i>b</i><sub>2</sub></span>, the graph of the functions will be perpendicular and will make four right angles where the lines intersect if and only if <span class="nowrap"><i>a</i><sub>1</sub><i>a</i><sub>2</sub> = 1</span>. However, this method cannot be used if the slope is zero or infinity (the line parallels to an axis).o</p>
<p>For another method, let the two linear functions: <i>a</i><sub>1</sub><i>x</i> + <i>b</i><sub>1</sub><i>y</i> + <i>c</i><sub>1</sub> = 0 and <i>a</i><sub>2</sub><i>x</i> + <i>b</i><sub>2</sub><i>y</i> + <i>c</i><sub>2</sub> = 0. The lines will be perpendicular if and only if <i>a</i><sub>1</sub><i>a</i><sub>2</sub> + <i>b</i><sub>1</sub><i>b</i><sub>2</sub> = 0. This method is simplified from the <a href="/wiki/Dot_product" title="Dot product">dot product</a> (or generally, <a href="/wiki/Inner_product" title="Inner product" class="mw-redirect">inner product</a>) of <a href="/wiki/Euclidean_vector" title="Euclidean vector">vectors</a>. In particular, two vectors are considered orthogonal if their inner product is zero.</p>
<h2><span class="section">[<a href="/w/index.php?title=Perpendicular&amp;action=&amp;section=5" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Orthogonality" title="Orthogonality">Orthogonality</a></li>
<li><a href="/wiki/Perpendicular_component" title="Perpendicular component" class="mw-redirect">Perpendicular component</a> (of a vector)</li>
<li><a href="/wiki/Surface_normal" title="Surface normal" class="mw-redirect">Surface normal</a></li>
<li><a href="/wiki/Parallel_(geometry)" title="Parallel (geometry)">Parallel (geometry)</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Perpendicular&amp;action=&amp;section=6" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/perpendicular.html">Definition: perpendicular</a> With interactive animation</li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/constbisectline.html">How to draw a perpendicular bisector of a line with compass and straight edge</a> Animated demonstration</li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/constperpendray.html">How to draw a perpendicular at the endpoint of a ray with compass and straight edge</a> Animated demonstration</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 547/1000000
Post-expand include size: 6836/2048000 bytes
Template argument size: 2471/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:76944-0!0!0!!en!4!* and timestamp 20120413195051 -->
