<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Plane%E2%80%93sphere_intersection&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(June 2009)</i></small></td>
</tr>
</table>
<div class="thumb tright">
<div class="thumbinner" style="width:352px;"><a href="/wiki/File:Plane-Sphere_Intersection.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Plane-Sphere_Intersection.svg/350px-Plane-Sphere_Intersection.svg.png" width="350" height="161" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Plane-Sphere_Intersection.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The three possible plane-sphere intersections:<br />
1. No intersection.<br />
2. Point intersection.<br />
3. Circle intersection.</div>
</div>
</div>
<p>In the theory of <a href="/wiki/Analytic_geometry" title="Analytic geometry">analytic geometry</a> for <a href="/wiki/Real_number" title="Real number">real</a> three-dimensional space, the <a href="/wiki/Line_intersection" title="Line intersection" class="mw-redirect">intersection</a> of a <a href="/wiki/Plane_(mathematics)" title="Plane (mathematics)" class="mw-redirect">plane</a> and a <a href="/wiki/Sphere" title="Sphere">sphere</a> can be the <a href="/wiki/Empty_set" title="Empty set">empty set</a>, a <a href="/wiki/Point_(geometry)" title="Point (geometry)">point</a>, or a <a href="/wiki/Circle" title="Circle">circle</a>. Distinguishing these cases, and determining equations for the point and circle in the latter cases have use, for example, when calculating ray intersections in <a href="/wiki/Ray_tracing_(physics)" title="Ray tracing (physics)">ray tracing</a>.</p>
<p>For convenience in analysis, choose a <a href="/wiki/Coordinate_system" title="Coordinate system">coordinate system</a> that places the center of the sphere at the origin; this can be accomplished by a translation. Thus the implicit equation for the sphere with radius <i>r</i> becomes</p>
<dl>
<dd><img class="tex" alt=" x^2 + y^2 + z^2 = r^2 . \,\!" src="//upload.wikimedia.org/wikipedia/en/math/c/a/a/caa9b407f12ebbc240c5f9e7525b98d7.png" /></dd>
</dl>
<p>Points on the plane may be described in one of two ways; both have benefits. An implicit equation for the plane is</p>
<dl>
<dd><img class="tex" alt=" a x + b y + c z = d . \,\!" src="//upload.wikimedia.org/wikipedia/en/math/1/2/2/12205c4406aee43bc297687e09eb7d83.png" /></dd>
</dl>
<p>Scale the coefficients, if necessary, so that <i>a</i><sup>2</sup>&#160;+&#160;<i>b</i><sup>2</sup>&#160;+&#160;<i>c</i><sup>2</sup> is normalized to 1 and <i>d</i> is non-negative (which we can always do); then <i>d</i> gives the minimum distance from the plane to the origin. Thus we have</p>
<ul>
<li>if <i>d</i>&#160;&gt;&#160;<i>r</i>, no intersection;</li>
<li>if <i>d</i>&#160;=&#160;<i>r</i>, a single point of intersection, at (<i>da</i>,&#160;<i>db</i>,&#160;<i>dc</i>);</li>
<li>if <i>d</i>&#160;&lt;&#160;<i>r</i>, a circle of intersection, with center (<i>da</i>,&#160;<i>db</i>,&#160;<i>dc</i>) and squared radius <i>r</i><sup>2</sup>&#160;&#160;<i>d</i><sup>2</sup>.</li>
</ul>
<p>A parametric equation for the plane yields the most convenient equation for the circle. (An implicit form requires two equations, so this does not reduce the dimensionality.) We write this in terms of a known point <i>P</i> of the plane, which we may take to be (<i>da</i>,&#160;<i>db</i>,&#160;<i>dc</i>), and two <a href="/wiki/Linear_independence" title="Linear independence">independent</a> vectors in the plane, <b>v</b><sub>1</sub> and <b>v</b><sub>2</sub>.</p>
<dl>
<dd><img class="tex" alt=" \mathrm{Point}(s,t) = P + s \bold{v}_1 + t \bold{v}_2 \,\!" src="//upload.wikimedia.org/wikipedia/en/math/c/e/a/cea7bc067021b602bd32ba666a7e027a.png" /></dd>
</dl>
<p>Among <i>a</i>, <i>b</i>, and <i>c</i>, suppose <i>c</i> has the largest magnitude. (This is a safety precaution.) Then we may take <b>v</b><sub>1</sub> to be (0,&#160;<i>c</i>,&#160;<i>b</i>) and <b>v</b><sub>2</sub> to be (<i>c</i>,&#160;0,&#160;<i>a</i>), because the vector from the origin to (<i>a</i>,&#160;<i>b</i>,&#160;<i>c</i>) is perpendicular to the plane. Although these vectors <a href="/wiki/Span_(linear_algebra)" title="Span (linear algebra)" class="mw-redirect">span</a> the plane, we cannot expect them to have unit magnitude nor to be perpendicular to each other. To convert them to an <a href="/wiki/Orthonormal_basis" title="Orthonormal basis">orthonormal basis</a>, we can use the <a href="/wiki/Gram-Schmidt_process" title="Gram-Schmidt process" class="mw-redirect">Gram-Schmidt process</a>. Easier still is to scale <b>v</b><sub>1</sub> to unit length (dividing by (1&#160;&#160;<i>a</i><sup>2</sup>)<sup>1/2</sup>), then to generate <b>v</b><sub>2</sub> as the cross product of this and the plane normal, (<i>a</i>,&#160;<i>b</i>,&#160;<i>c</i>). Either way, setting</p>
<dl>
<dd><img class="tex" alt="t = R \cos \theta, \qquad s = R \sin \theta, \,\!" src="//upload.wikimedia.org/wikipedia/en/math/b/6/d/b6d35d25c0ddcb9521b809f299dbe302.png" /></dd>
</dl>
<p>with</p>
<dl>
<dd><img class="tex" alt=" R = \sqrt{r^2-d^2} , \,\!" src="//upload.wikimedia.org/wikipedia/en/math/c/9/f/c9f6042d21e03c46a49f4a931c31e65c.png" /></dd>
</dl>
<p>in the Point equation, we obtain a parametric equation for the circle in terms of . Alternatively, rotate the coordinate system so that the circle center lies on the <i>z</i> axis, at (0,&#160;0,&#160;<i>d</i>), then write the circle as</p>
<dl>
<dd><img class="tex" alt=" (R \cos \theta, R \sin \theta, d) . \,\!" src="//upload.wikimedia.org/wikipedia/en/math/4/b/a/4ba0de104b24bff6e5ab31116fddd718.png" /></dd>
</dl>
<p>This variation is convenient for analysis, but more expensive in applications.</p>
<h2><span class="section">[<a href="/w/index.php?title=Plane%E2%80%93sphere_intersection&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Analytic_geometry" title="Analytic geometry">Analytic geometry</a></li>
<li><a href="/wiki/Line-plane_intersection" title="Line-plane intersection">Line-plane intersection</a></li>
<li><a href="/wiki/Plane_(mathematics)#Line_of_intersection_between_two_planes" title="Plane (mathematics)" class="mw-redirect">Line of intersection between two planes</a></li>
<li><a href="/wiki/Line%E2%80%93sphere_intersection" title="Linesphere intersection">Linesphere intersection</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 494/1000000
Post-expand include size: 6535/2048000 bytes
Template argument size: 2206/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:7160695-0!0!0!*!*!4!* and timestamp 20120313223951 -->
