<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Vertical_Angles.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/13/Vertical_Angles.svg/220px-Vertical_Angles.svg.png" width="220" height="287" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Vertical_Angles.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Two lines intersect to create two pairs of vertical angles. One pair consists of angles A and B; the second pair consists of angles C and D.</div>
</div>
</div>
<table class="metadata plainlinks ambox ambox-move" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Merge-arrows.svg/50px-Merge-arrows.svg.png" width="50" height="20" /></div>
</td>
<td class="mbox-text" style="">It has been suggested that this article or section be <a href="/wiki/Wikipedia:Merging" title="Wikipedia:Merging">merged</a> with <i><a href="/wiki/Complementary_angles" title="Complementary angles">Complementary angles</a></i> , <i><a href="/wiki/Supplementary_angles" title="Supplementary angles">Supplementary angles</a></i> , <i><a href="/wiki/Adjacent_angles" title="Adjacent angles" class="mw-redirect">Adjacent angles</a></i> and <i><a href="/wiki/Transversal_(geometry)" title="Transversal (geometry)">Transversal (geometry)</a></i> &#160;to <i><a href="/w/index.php?title=Special_angle_relationships&amp;action=&amp;redlink=1" class="new" title="Special angle relationships (page does not exist)">Special angle relationships</a></i>. (<a href="/wiki/Talk:Vertical_angles#Merge.3F" title="Talk:Vertical angles">Discuss</a>) <small><i>Proposed since December 2011.</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, a pair of <a href="/wiki/Angle" title="Angle">angles</a> is said to be <b>vertical</b> (also <b>opposite</b> and <b>vertically opposite</b>, which is abbreviated as <b>vert. opp. s</b><sup id="cite_ref-tb_0-0" class="reference"><a href="#cite_note-tb-0"><span>[</span>1<span>]</span></a></sup>) if the angles are formed from two intersecting <a href="/wiki/Line_(mathematics)" title="Line (mathematics)" class="mw-redirect">lines</a> and the angles are not adjacent. The two angles share a vertex. Such angles are equal in <a href="/wiki/Angular_measure" title="Angular measure" class="mw-redirect">measure</a> and can be described as "equal" (in the UK or the USA) or "<a href="/wiki/Congruence_(geometry)" title="Congruence (geometry)">congruent</a>" (in the USA).<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Vertical_angle_theorem"><span class="tocnumber">1</span> <span class="toctext">Vertical angle theorem</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Algebraic_solution_for_Vertical_Angles"><span class="tocnumber">2</span> <span class="toctext">Algebraic solution for Vertical Angles</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#References"><span class="tocnumber">3</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#External_links"><span class="tocnumber">4</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Vertical_angles&amp;action=&amp;section=1" title="Edit section: Vertical angle theorem"></a>]</span> <span class="mw-headline" id="Vertical_angle_theorem">Vertical angle theorem</span></h2>
<p>When two straight lines intersect at a point, four angles are made. The non-adjacent angles are called vertical or opposite or vertically opposite angles. Also, each pair of adjacent angles forms a straight line and the two angles are <a href="/wiki/Supplementary_angle" title="Supplementary angle" class="mw-redirect">supplementary</a>.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup> Since either of a pair of vertical angles is supplementary to either of the adjacent angles, the vertical angles are equal in measure.</p>
<h2><span class="section">[<a href="/w/index.php?title=Vertical_angles&amp;action=&amp;section=2" title="Edit section: Algebraic solution for Vertical Angles"></a>]</span> <span class="mw-headline" id="Algebraic_solution_for_Vertical_Angles">Algebraic solution for Vertical Angles</span></h2>
<p>In the figure, assume the measure of Angle <i>A</i> = <i>x</i>. When two adjacent angles form a straight line, they are supplementary. Therefore, the measure of Angle <i>C</i> = 180  <i>x</i>. Similarly, the measure of Angle <i>D</i> = 180  <i>x</i>. Both Angle <i>C</i> and Angle <i>D</i> have measures equal to 180 - <i>x</i> and are congruent. Since Angle <i>B</i> is supplementary to both Angles <i>C</i> and <i>D</i>, either of these angle measures may be used to determine the measure of Angle <i>B</i>. Using the measure of either Angle <i>C</i> or Angle <i>D</i> we find the measure of Angle <i>B</i> = 180 - (180 - <i>x</i>) = 180 - 180 + <i>x</i> = <i>x</i>. Therefore, both Angle <i>A</i> and Angle <i>B</i> have measures equal to <i>x</i> and are equal in measure.</p>
<h2><span class="section">[<a href="/w/index.php?title=Vertical_angles&amp;action=&amp;section=3" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-tb-0"><b><a href="#cite_ref-tb_0-0">^</a></b> <span class="reference-text"><span class="citation book">Wong, TW; Wong, MS. "Angles in Intersecting and Parallel Lines". <i>New Century Mathematics</i>. <b>1B</b> (1 ed.). Hong Kong: Oxford University Press. pp.&#160;161163. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/9780198001768" title="Special:BookSources/9780198001768">9780198001768</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Angles+in+Intersecting+and+Parallel+Lines&amp;rft.atitle=New+Century+Mathematics&amp;rft.aulast=Wong&amp;rft.aufirst=TW&amp;rft.au=Wong%2C%26%2332%3BTW&amp;rft.au=Wong%2C%26%2332%3BMS&amp;rft.volume=1B&amp;rft.pages=pp.%26nbsp%3B161%E2%80%93163&amp;rft.ion=1&amp;rft.place=Hong+Kong&amp;rft.pub=Oxford+University+Press&amp;rft.isbn=9780198001768&amp;rfr_id=info:sid/en.wikipedia.org:Vertical_angles"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><span class="citation book"><a href="/wiki/Euclid" title="Euclid">Euclid</a> (c. 300 BC). <i><a href="/wiki/Euclid%27s_Elements" title="Euclid's Elements">The Elements</a></i>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=%5B%5BEuclid%27s+Elements%7CThe+Elements%5D%5D&amp;rft.aulast=Euclid&amp;rft.au=Euclid&amp;rft.date=c.+300+BC&amp;rfr_id=info:sid/en.wikipedia.org:Vertical_angles"><span style="display: none;">&#160;</span></span> Proposition I:15.</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><span class="citation book"><a href="/wiki/Euclid" title="Euclid">Euclid</a> (c. 300 BC). <i><a href="/wiki/Euclid%27s_Elements" title="Euclid's Elements">The Elements</a></i>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=%5B%5BEuclid%27s+Elements%7CThe+Elements%5D%5D&amp;rft.aulast=%5B%5BEuclid%5D%5D&amp;rft.au=%5B%5BEuclid%5D%5D&amp;rft.date=c.+300+BC&amp;rfr_id=info:sid/en.wikipedia.org:Vertical_angles"><span style="display: none;">&#160;</span></span> Proposition I:13.</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Vertical_angles&amp;action=&amp;section=4" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/anglesvertical.html">Definition and properties of vertical angles</a> With interactive applet</li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/tocs/anglestoc.html">Angle definition pages</a> with interactive applets that are also useful in a classroom setting. Math Open Reference</li>
</ul>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:E-to-the-i-pi.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/35/E-to-the-i-pi.svg/34px-E-to-the-i-pi.svg.png" width="34" height="30" /></a></td>
<td><i>This mathematics-related article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Vertical_angles&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Math-stub" title="Template:Math-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Math-stub" title="Template talk:Math-stub"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Math-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 2740/1000000
Post-expand include size: 17928/2048000 bytes
Template argument size: 4820/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1910580-0!*!0!!en!4!* and timestamp 20120412182452 -->
