<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Vertical_translation&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(December 2009)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Function_(mathematics)" title="Function (mathematics)">function</a> <a href="/wiki/Graph_of_a_function" title="Graph of a function">graphing</a>, a <b>vertical translation</b> is a <a href="/wiki/Relation_(mathematics)" title="Relation (mathematics)" class="mw-redirect">related</a> graph which, for every <a href="/wiki/Point_(geometry)" title="Point (geometry)">point</a> (<i>x</i>, <i>y</i>); has a <i>y</i> value which differs from another graph, by exactly some <a href="/wiki/Constant_(mathematics)" title="Constant (mathematics)">constant</a> <i>c</i>. For example, the <a href="/wiki/Antiderivative" title="Antiderivative">antiderivatives</a> of a <a href="/wiki/Indexed_family" title="Indexed family">family</a> are vertical translations of each other.</p>
<h2><span class="section">[<a href="/w/index.php?title=Vertical_translation&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Translation_(geometry)" title="Translation (geometry)">translation (geometry)</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 438/1000000
Post-expand include size: 6374/2048000 bytes
Template argument size: 2211/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:268229-0!*!0!*!*!4!* and timestamp 20120313115448 -->
