<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:LabeledTriangle.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a0/LabeledTriangle.svg/220px-LabeledTriangle.svg.png" width="220" height="159" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:LabeledTriangle.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
According to Weitzenbck's inequality, the <a href="/wiki/Area" title="Area">area</a> of this <a href="/wiki/Triangle" title="Triangle">triangle</a> is at most <span class="texhtml">(<i>a</i><sup>2</sup> + <i>b</i><sup>2</sup> + <i>c</i><sup>2</sup>)  4<span style="text-decoration:overline;">3</span>.</span></div>
</div>
</div>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, <b>Weitzenbck's inequality</b> (named after Roland Weitzenbck) states that for a triangle of side lengths <img class="tex" alt="a" src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0cc175b9c0f1b6a831c399e269772661.png" />, <img class="tex" alt="b" src="//upload.wikimedia.org/wikipedia/en/math/9/2/e/92eb5ffee6ae2fec3ad71c777531578f.png" />, <img class="tex" alt="c" src="//upload.wikimedia.org/wikipedia/en/math/4/a/8/4a8a08f09d37b73795649038408b5f33.png" />, and area <img class="tex" alt="\Delta" src="//upload.wikimedia.org/wikipedia/en/math/6/5/9/659d23f0ed16cdb87b1d41c7b58b52f4.png" />, the following inequality holds:</p>
<dl>
<dd><img class="tex" alt="a^2 + b^2 + c^2 \geq 4\sqrt{3}\, \Delta. " src="//upload.wikimedia.org/wikipedia/en/math/c/7/3/c7346cd3c640b23130f4a2a1df547a84.png" /></dd>
</dl>
<p>Equality occurs if and only if the triangle is equilateral. <a href="/wiki/Pedoe%27s_inequality" title="Pedoe's inequality">Pedoe's inequality</a> is a generalization of Weitzenbck's inequality.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Proofs"><span class="tocnumber">1</span> <span class="toctext">Proofs</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#First_method"><span class="tocnumber">1.1</span> <span class="toctext">First method</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Second_method"><span class="tocnumber">1.2</span> <span class="toctext">Second method</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Third_method"><span class="tocnumber">1.3</span> <span class="toctext">Third method</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-5"><a href="#External_links"><span class="tocnumber">2</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="editsection">[<a href="/w/index.php?title=Weitzenb%C3%B6ck%27s_inequality&amp;action=edit&amp;section=1" title="Edit section: Proofs">edit</a>]</span> <span class="mw-headline" id="Proofs">Proofs</span></h2>
<p>The proof of this inequality was set as a question in the <a href="/wiki/International_Mathematical_Olympiad" title="International Mathematical Olympiad">International Mathematical Olympiad</a> of 1961. Even so, the result is not too difficult to derive using <a href="/wiki/Heron%27s_formula" title="Heron's formula">Heron's formula</a> for the area of a triangle:</p>
<dl>
<dd><img class="tex" alt="
\begin{align}
\Delta &amp; {} = \frac{\sqrt{(a+b+c)(a+b-c)(b+c-a)(c+a-b)}}{4} \\
&amp; {} = \frac{1}{4} \sqrt{2(a^2 b^2+a^2c^2+b^2c^2)-(a^4+b^4+c^4)}.
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/4/8/0/4809f51be81b231cebb8e0197cb48f70.png" /></dd>
</dl>
<h3><span class="editsection">[<a href="/w/index.php?title=Weitzenb%C3%B6ck%27s_inequality&amp;action=edit&amp;section=2" title="Edit section: First method">edit</a>]</span> <span class="mw-headline" id="First_method">First method</span></h3>
<p>This method assumes no knowledge of inequalities except that all squares are nonnegative.</p>
<dl>
<dd><img class="tex" alt="
\begin{align}
{} &amp; (a^2 - b^2)^2 + (b^2 - c^2)^2 + (c^2 - a^2)^2 \geq 0 \\
{} \iff &amp; 2(a^4+b^4+c^4) - 2(a^2 b^2+a^2c^2+b^2c^2) \geq 0 \\
{} \iff &amp; \frac{4(a^4+b^4+c^4)}{3} \geq \frac{4(a^2 b^2+a^2c^2+b^2c^2)}{3} \\
{} \iff &amp; \frac{(a^4+b^4+c^4) + 2(a^2 b^2+a^2c^2+b^2c^2)}{3} \geq 2(a^2 b^2+a^2c^2+b^2c^2)-(a^4+b^4+c^4) \\
{} \iff &amp; \frac{(a^2 + b^2 + c^2)^2}{3} \geq (4\Delta)^2,
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/0/0/e/00e69ac290cad2e4f518dc38c146dc7f.png" /></dd>
</dl>
<p>and the result follows immediately by taking the positive square root of both sides. From the first inequality we can also see that equality occurs only when <img class="tex" alt="a = b = c" src="//upload.wikimedia.org/wikipedia/en/math/0/6/7/067e8173226f0047ad0e439500259b2f.png" /> and the triangle is equilateral.</p>
<h3><span class="editsection">[<a href="/w/index.php?title=Weitzenb%C3%B6ck%27s_inequality&amp;action=edit&amp;section=3" title="Edit section: Second method">edit</a>]</span> <span class="mw-headline" id="Second_method">Second method</span></h3>
<p>This proof assumes knowledge of the <a href="/wiki/Rearrangement_inequality" title="Rearrangement inequality">rearrangement inequality</a> and the <a href="/wiki/Arithmetic-geometric_mean_inequality" title="Arithmetic-geometric mean inequality" class="mw-redirect">arithmetic-geometric mean inequality</a>.</p>
<dl>
<dd><img class="tex" alt="
\begin{align}
&amp; &amp; a^2 + b^2 + c^2 &amp; \geq &amp; &amp; ab+bc+ca \\
\iff &amp; &amp; 3(a^2 + b^2 + c^2) &amp; \geq &amp; &amp; (a + b + c)^2 \\
\iff &amp; &amp; a^2 + b^2 + c^2 &amp; \geq &amp; &amp; \sqrt{3 (a+b+c)\left(\frac{a+b+c}{3}\right)^3} \\
\iff &amp; &amp; a^2 + b^2 + c^2 &amp; \geq &amp; &amp; \sqrt{3 (a+b+c)(-a+b+c)(a-b+c)(a+b-c)} \\
\iff &amp; &amp; a^2 + b^2 + c^2 &amp; \geq &amp; &amp; 4 \sqrt3 \Delta.
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/5/1/4/514b901a50437ae2a08de97a53261f43.png" /></dd>
</dl>
<p>As we have used the rearrangement inequality and the arithmetic-geometric mean inequality, equality only occurs when <img class="tex" alt="a = b = c" src="//upload.wikimedia.org/wikipedia/en/math/0/6/7/067e8173226f0047ad0e439500259b2f.png" /> and the triangle is equilateral.</p>
<h3><span class="editsection">[<a href="/w/index.php?title=Weitzenb%C3%B6ck%27s_inequality&amp;action=edit&amp;section=4" title="Edit section: Third method">edit</a>]</span> <span class="mw-headline" id="Third_method">Third method</span></h3>
<p>It can be shown that the area of the inner <a href="/wiki/Napoleon%27s_triangle" title="Napoleon's triangle" class="mw-redirect">Napoleon's triangle</a> is:</p>
<dl>
<dd><img class="tex" alt="\frac{1}{6}(a^2 + b^2 + c^2 - 4\sqrt{3}\, \Delta) " src="//upload.wikimedia.org/wikipedia/en/math/7/9/7/7970515f300fd9e5c60d2f96517a6832.png" /></dd>
</dl>
<p>and therefore greater than or equal to 0.</p>
<h2><span class="editsection">[<a href="/w/index.php?title=Weitzenb%C3%B6ck%27s_inequality&amp;action=edit&amp;section=5" title="Edit section: External links">edit</a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Weitzenb.C3.B6ck.27s_Inequality"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/WeitzenboecksInequality.html">Weitzenbck's Inequality</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li>"<a rel="nofollow" class="external text" href="http://demonstrations.wolfram.com/WeitzenboecksInequality/">Weitzenbck's Inequality</a>," an interactive demonstration by Jay Warendorff - <a href="/wiki/Wolfram_Demonstrations_Project" title="Wolfram Demonstrations Project">Wolfram Demonstrations Project</a>.</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 149/1000000
Post-expand include size: 435/2048000 bytes
Template argument size: 191/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:10777748-0!0!0!!en!4!* and timestamp 20120301034203 -->
