{% extends 'base.html' %}


{% block nav-profile-style %}
class="active"
{% endblock %}


{% block main %}

<h1>{% block title %} Profile Settings {% endblock %}</h1>
<form method="post" action="" class="well form-horizontal">
	{% csrf_token %}
    {{ formset }}
    <br />    <br />
    <input type="submit" value="Submit">
</form>

{% endblock %}


