{% extends "base.html" %}


{% block nav-register-style %}
 class="active"
{% endblock %}


{% block main %}

<h1>{% block title %}Create an account on OpenMath{% endblock %}</h1>

  <form action="" method="post">
  	{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create the account">
  </form>
{% endblock %}