<table class="metadata plainlinks ambox ambox-content ambox-Refimprove" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This article <b>needs additional <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">citations</a> for <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verification</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Additive_inverse&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(January 2010)</i></small></td>
</tr>
</table>
<p>In mathematics, the <b>additive inverse</b>, or <b>opposite</b>, of a <a href="/wiki/Number" title="Number">number</a> <span class="texhtml"><var>a</var></span> is the number that, when <a href="/wiki/Addition" title="Addition">added</a> to <span class="texhtml"><var>a</var></span>, yields <a href="/wiki/0_(number)" title="0 (number)">zero</a>. The additive inverse of <span class="texhtml"><var>a</var></span> is denoted by <a href="/wiki/Unary_operation" title="Unary operation">unary</a> <a href="/wiki/Minus_sign" title="Minus sign" class="mw-redirect">minus</a>: <span class="texhtml"><var>a</var></span>. This can be seen as a shorthand for a common <a href="/wiki/Subtraction" title="Subtraction">subtraction</a> notation:</p>
<dl>
<dd><span class="texhtml"><span class="texhtml"><var>a</var></span> = 0  <span class="texhtml"><var>a</var></span></span></dd>
</dl>
<p>with "0" omitted, although in a correct <a href="/wiki/Typography" title="Typography">typography</a> there should be no <a href="/wiki/Space_(punctuation)" title="Space (punctuation)">space</a> after unary&#160;"".</p>
<p>For example, the additive inverse of 7 is 7, because 7&#160;+&#160;(7)&#160;=&#160;0, and the additive inverse of 0.3 is 0.3, because 0.3&#160;+&#160;0.3&#160;=&#160;0.</p>
<p>In other words, the additive inverse of a number is the number's negative. For example, the additive inverse of 8 is 8, the additive inverse of 10002 is 10002 and the additive inverse of <span class="texhtml"><var>x</var></span> is (<span class="texhtml"><var>x</var></span>).</p>
<p>The additive inverse of a number is defined as its <a href="/wiki/Inverse_element" title="Inverse element">inverse element</a> under the <a href="/wiki/Binary_operation" title="Binary operation">binary operation</a> of addition. It can be calculated using <a href="/wiki/Multiplication" title="Multiplication">multiplication</a> by <a href="/wiki/%E2%88%921" title="1" class="mw-redirect">1</a>; that is, <span class="texhtml"><span class="texhtml"><var>n</var></span> = 1<span class="texhtml"><var>n</var></span></span>.</p>
<p><a href="/wiki/Integer" title="Integer">Integers</a>, <a href="/wiki/Rational_number" title="Rational number">rational numbers</a>, <a href="/wiki/Real_number" title="Real number">real numbers</a>, and <a href="/wiki/Complex_number" title="Complex number">complex number</a> all have additive inverses, as they contain negative as well as positive numbers. <a href="/wiki/Natural_number" title="Natural number">Natural numbers</a>, <a href="/wiki/Cardinal_number" title="Cardinal number">cardinal numbers</a>, and <a href="/wiki/Ordinal_number" title="Ordinal number">ordinal numbers</a>, on the other hand, do not have additive inverses within their respective <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">sets</a>. Thus, for example, we can say that natural numbers <i>do</i> have additive inverses, but because these additive inverses are not themselves natural numbers, the set of natural numbers is not <a href="/wiki/Closure_(mathematics)" title="Closure (mathematics)"><i>closed</i></a> under taking additive inverses.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#General_definition"><span class="tocnumber">1</span> <span class="toctext">General definition</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Other_examples"><span class="tocnumber">2</span> <span class="toctext">Other examples</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#See_also"><span class="tocnumber">3</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#References"><span class="tocnumber">4</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Additive_inverse&amp;action=&amp;section=1" title="Edit section: General definition"></a>]</span> <span class="mw-headline" id="General_definition">General definition</span></h2>
<p>The notation <b>+</b> is reserved for <a href="/wiki/Commutative" title="Commutative" class="mw-redirect">commutative</a> binary operations, i.e. such that <span class="texhtml"><span class="texhtml"><var>x</var></span> + <span class="texhtml"><var>y</var></span> = <span class="texhtml"><var>y</var></span> + <span class="texhtml"><var>x</var></span></span>, for all <span class="texhtml"><var>x</var></span>,<span class="texhtml"><var>y</var></span>. If such an operation admits an <a href="/wiki/Identity_element" title="Identity element">identity element</a> <i>o</i> (such that <span class="texhtml"><span class="texhtml"><var>x</var></span> + <i>o</i> (= <i>o</i> + <span class="texhtml"><var>x</var></span>) = <span class="texhtml"><var>x</var></span></span> for all <span class="texhtml"><var>x</var></span>), then this element is unique (<span class="texhtml"><i>o</i> = o + <i>o</i> = <i>o</i></span>). For a given <span class="texhtml"><var>x</var></span>, if there exists <span class="texhtml"><var>x</var></span> such that <span class="texhtml"><span class="texhtml"><var>x</var></span> + <span class="texhtml"><var>x</var></span> (= <span class="texhtml"><var>x</var></span> + <span class="texhtml"><var>x</var></span>) = <i>o</i></span>, then <span class="texhtml"><var>x</var></span> is called an <b>additive inverse</b> of <span class="texhtml"><var>x</var></span>.</p>
<p>If + is <a href="/wiki/Associativity" title="Associativity" class="mw-redirect">associative</a> (<span class="texhtml">(x+y) + z = x + (y+z)</span> for all <span class="texhtml"><var>x</var></span>,<span class="texhtml"><var>y</var></span>,<span class="texhtml"><var>z</var></span>), then an additive inverse is unique</p>
<dl>
<dd><span class="texhtml"><span class="texhtml"><var>x</var></span> = <span class="texhtml"><var>x</var></span> + <i>o</i> = <span class="texhtml"><var>x</var></span> + (<span class="texhtml"><var>x</var></span> + <span class="texhtml"><var>x</var></span>) = (<span class="texhtml"><var>x</var></span> + <span class="texhtml"><var>x</var></span>) + <span class="texhtml"><var>x</var></span> = <i>o</i> + <span class="texhtml"><var>x</var></span> = <span class="texhtml"><var>x</var></span></span></dd>
</dl>
<p>We often write <span class="texhtml"><span class="texhtml"><var>x</var></span>  <span class="texhtml"><var>y</var></span></span> as <span class="texhtml"><span class="texhtml"><var>x</var></span> + (<span class="texhtml"><var>y</var></span>)</span>.<sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Please_clarify" title="Wikipedia:Please clarify"><span title="The text in the vicinity of this tag needs clarification or removal of jargon from January 2012">clarification needed</span></a></i>]</sup></p>
<p>For example, since addition of real numbers is associative, each real number has a unique additive inverse.</p>
<h2><span class="section">[<a href="/w/index.php?title=Additive_inverse&amp;action=&amp;section=2" title="Edit section: Other examples"></a>]</span> <span class="mw-headline" id="Other_examples">Other examples</span></h2>
<p>All the following examples are in fact <a href="/wiki/Abelian_group" title="Abelian group">abelian groups</a>:</p>
<ul>
<li>addition of real valued functions: here, the additive inverse of a function <span class="texhtml"><var>f</var></span> is the function <span class="texhtml"><var>f</var></span> defined by <span class="texhtml">(<span class="texhtml"><var>f</var></span>)(<span class="texhtml"><var>x</var></span>) =  <span class="texhtml"><var>f</var></span>(<span class="texhtml"><var>x</var></span>)</span>, for all <span class="texhtml"><var>x</var></span>, such that <span class="texhtml"><span class="texhtml"><var>f</var></span> + (<span class="texhtml"><var>f</var></span>) = <i>o</i></span>, the zero function (<span class="texhtml"><i>o</i>(<span class="texhtml"><var>x</var></span>) = 0</span> for all <span class="texhtml"><var>x</var></span>).</li>
<li>more generally, what precedes applies to all functions with values in an abelian group ('zero' meaning then the identity element of this group):
<ul>
<li>complex valued functions,</li>
<li><a href="/wiki/Vector_space" title="Vector space">vector space</a> valued functions (not necessarily linear),</li>
</ul>
</li>
<li><a href="/wiki/Sequence" title="Sequence">sequences</a>, <a href="/wiki/Matrix_(mathematics)" title="Matrix (mathematics)">matrices</a> and <a href="/wiki/Net_(mathematics)" title="Net (mathematics)">nets</a> are also special kinds of functions.</li>
<li>In a vector space additive inversion corresponds to <a href="/wiki/Scalar_multiplication" title="Scalar multiplication">scalar multiplication</a> by 1. For <a href="/wiki/Euclidean_space" title="Euclidean space">Euclidean space</a>, it is <a href="/wiki/Inversion_in_a_point" title="Inversion in a point" class="mw-redirect">inversion in the origin</a>.</li>
<li>In <a href="/wiki/Modular_arithmetic" title="Modular arithmetic">modular arithmetic</a>, the <b>modular additive inverse</b> of <span class="texhtml"><var>x</var></span> is also defined: it is the number <span class="texhtml"><var>a</var></span> such that <span class="texhtml"><span class="texhtml"><var>a</var></span> + <span class="texhtml"><var>x</var></span>  0 (mod <span class="texhtml"><var>n</var></span>)</span>. This additive inverse does always exist. For example, the inverse of 3 modulo 11 is 8 because it is the solution to <span class="texhtml">3 + <span class="texhtml"><var>x</var></span>  0 (mod 11)</span>.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Additive_inverse&amp;action=&amp;section=3" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Multiplicative_inverse" title="Multiplicative inverse">Multiplicative inverse</a></li>
<li><a href="/wiki/Additive_identity" title="Additive identity">Additive identity</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Additive_inverse&amp;action=&amp;section=4" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Additive_Inverse">Margherita Barile, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/AdditiveInverse.html">Additive Inverse</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 2152/1000000
Post-expand include size: 15483/2048000 bytes
Template argument size: 5900/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:228312-0!*!0!!en!4!* and timestamp 20120315015347 -->
