<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:MonkeyFaceFOILRule.JPG" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0c/MonkeyFaceFOILRule.JPG/250px-MonkeyFaceFOILRule.JPG" width="250" height="467" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:MonkeyFaceFOILRule.JPG" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A visual representation of the FOIL rule. Each colored line represents two terms that must be multiplied.</div>
</div>
</div>
<p>In <a href="/wiki/Elementary_algebra" title="Elementary algebra">elementary algebra</a>, <i><b>FOIL</b></i> is a <a href="/wiki/Mnemonic" title="Mnemonic">mnemonic</a> for the standard method of multiplying two <a href="/wiki/Binomial" title="Binomial">binomials</a>hence the method may be referred to as the <b>FOIL method</b>. The word <i>FOIL</i> is an <a href="/wiki/Acronym" title="Acronym" class="mw-redirect">acronym</a> for the four terms of the product:</p>
<ul>
<li><b>F</b>irst (first terms of each binomial are multiplied together)</li>
<li><b>O</b>uter (outside terms are multipliedthat is, the first term of the first binomial and the second term of the second)</li>
<li><b>I</b>nner (inside terms are multipliedsecond term of the first binomial and first term of the second)</li>
<li><b>L</b>ast (last terms of each binomial are multiplied)</li>
</ul>
<p>The general form is:</p>
<dl>
<dd><img class="tex" alt="(a+b)(c+d) = \underbrace{ac}_\mathrm{first} + \underbrace{ad}_\mathrm{outside} + \underbrace{bc}_\mathrm{inside} + \underbrace{bd}_\mathrm{last}" src="//upload.wikimedia.org/wikipedia/en/math/a/d/e/adedc64e9b3c821fb8298133717f818e.png" /></dd>
</dl>
<p>Note that <img class="tex" alt="a" src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0cc175b9c0f1b6a831c399e269772661.png" /> is both a first term and an outer term; <img class="tex" alt="b" src="//upload.wikimedia.org/wikipedia/en/math/9/2/e/92eb5ffee6ae2fec3ad71c777531578f.png" /> is both a last and inner term, and so forth. The order of the four terms in the sum is not important, and need not match the order of the letters in the word FOIL.</p>
<p>The FOIL method is a special case of a more general method for multiplying algebraic expressions using the <a href="/wiki/Distributive_law" title="Distributive law" class="mw-redirect">distributive law</a>. The word <i>FOIL</i> was originally intended solely as a <a href="/wiki/Mnemonic" title="Mnemonic">mnemonic</a> for high-school students learning algebra, but many students and educators in the <a href="/wiki/United_States" title="United States">United States</a> now use the word foil as a <a href="/wiki/Verb" title="Verb">verb</a> meaning to expand the product of two binomials.<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from May 2011">citation needed</span></a></i>]</sup> This <a href="/wiki/Neologism" title="Neologism">neologism</a> has not gained widespread acceptance in the mathematical community.<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from March 2012">citation needed</span></a></i>]</sup></p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Examples"><span class="tocnumber">1</span> <span class="toctext">Examples</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#The_distributive_law"><span class="tocnumber">2</span> <span class="toctext">The distributive law</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Reverse_FOIL"><span class="tocnumber">3</span> <span class="toctext">Reverse FOIL</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Table_as_an_alternative_to_FOIL"><span class="tocnumber">4</span> <span class="toctext">Table as an alternative to FOIL</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Generalizations"><span class="tocnumber">5</span> <span class="toctext">Generalizations</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#See_also"><span class="tocnumber">6</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#References"><span class="tocnumber">7</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=FOIL_method&amp;action=&amp;section=1" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h2>
<p>The FOIL method is most commonly used to multiply <a href="/wiki/Linear_function" title="Linear function">linear</a> binomials. For example,</p>
<dl>
<dd><img class="tex" alt="\begin{align}
(x + 3)(x + 5) \,&amp;=\, x\cdot x \,+\, x\cdot 5 \,+\, 3 \cdot x \,+\, 3 \cdot 5 \\
&amp;=\, x^2 + 5x + 3x + 15 \\
&amp;=\, x^2 + 8x + 15
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/e/6/d/e6d7ee0687bb63dda181792b234f605c.png" /></dd>
</dl>
<p>If either binomial involves <a href="/wiki/Subtraction" title="Subtraction">subtraction</a>, the corresponding terms must be negated. For example,</p>
<dl>
<dd><img class="tex" alt="\begin{align}
(2x-3)(3x-4) &amp;= (2x)(3x)+(2x)(-4)+(-3)(3x)+(-3)(-4) \\
&amp;= 6x^2 - 8x - 9x + 12 \\
&amp;= 6x^2 - 17x + 12
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/6/b/f/6bf0deec2d9cef1c812a26237f81a795.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=FOIL_method&amp;action=&amp;section=2" title="Edit section: The distributive law"></a>]</span> <span class="mw-headline" id="The_distributive_law">The distributive law</span></h2>
<p>The FOIL method is equivalent to a two-step process involving the <a href="/wiki/Distributivity" title="Distributivity" class="mw-redirect">distributive law</a>:</p>
<dl>
<dd><img class="tex" alt="\begin{align}
(a+b)(c+d) &amp;{} = a(c+d) + b(c+d) \\
&amp;{}= ac + ad + bc + bd
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/a/2/8/a28a1e9f09d6ec3021df0317d2e5e939.png" /></dd>
</dl>
<p>In the first step, the <img class="tex" alt="(c+d)" src="//upload.wikimedia.org/wikipedia/en/math/8/5/a/85ab1a31cddfe0b261c6f9d1dbcf4be6.png" /> is distributed over the addition in first binomial. In the second step, the distributive law is used to simplify each of the two terms. Note that this process involves a total of three applications of the distributive property.</p>
<h2><span class="section">[<a href="/w/index.php?title=FOIL_method&amp;action=&amp;section=3" title="Edit section: Reverse FOIL"></a>]</span> <span class="mw-headline" id="Reverse_FOIL">Reverse FOIL</span></h2>
<p>The FOIL rule converts a <a href="/wiki/Multiplication" title="Multiplication">product</a> of two binomials into a <a href="/wiki/Addition" title="Addition">sum</a> of four (or fewer, if <a href="/wiki/Like_terms" title="Like terms">like terms</a> are then combined) <a href="/wiki/Monomial" title="Monomial">monomials</a>. The reverse process is called <i>factoring</i> or <i><a href="/wiki/Factorization" title="Factorization">factorization</a></i>. In particular, if the proof above is read in reverse it illustrates the technique called <a href="/wiki/Factorization#Factoring_by_grouping" title="Factorization">factoring by grouping</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=FOIL_method&amp;action=&amp;section=4" title="Edit section: Table as an alternative to FOIL"></a>]</span> <span class="mw-headline" id="Table_as_an_alternative_to_FOIL">Table as an alternative to FOIL</span></h2>
<p>A visual memory tool can replace the FOIL mnemonic for a pair of polynomials with any number of terms. Make a table with the terms of the first polynomial on the left edge and the terms of the second on the top edge, then fill in the table with <a href="/wiki/Multiplication" title="Multiplication">products</a>. The table equivalent to the FOIL rule looks like this.</p>
<dl>
<dd><img class="tex" alt="\begin{matrix}
\times &amp; c &amp; d \\
a &amp; ac &amp; ad \\
b &amp; bc &amp; bd
\end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/0/0/1/001ac1e9d147242e936f49cd5c0db9c1.png" /></dd>
</dl>
<p>In the case that these are polynomials, <img class="tex" alt="(ax+b)(cx+d)," src="//upload.wikimedia.org/wikipedia/en/math/1/f/9/1f9c4ec54f0798efea313d1e7cde923f.png" /> the terms of a given degree are found by adding along the <a href="/wiki/Antidiagonal" title="Antidiagonal" class="mw-redirect">antidiagonals</a></p>
<dl>
<dd><img class="tex" alt="\begin{matrix}
\times &amp; cx &amp; d \\
ax &amp; acx^2 &amp; adx \\
b &amp; bcx &amp; bd
\end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/0/8/f/08f654f2ec15cfeba47f9ffd8b985041.png" /></dd>
</dl>
<p>so <img class="tex" alt="(ax+b)(cx+d) = acx^2 + (ad+bc)x + bd." src="//upload.wikimedia.org/wikipedia/en/math/0/b/5/0b5cad89bced2931274c9e204e74a0e8.png" /></p>
<p>To multiply (<i>a</i>+<i>b</i>+<i>c</i>)(<i>w</i>+<i>x</i>+<i>y</i>+<i>z</i>), the table would be as follows.</p>
<dl>
<dd><img class="tex" alt="\begin{matrix}
\times &amp; w &amp; x &amp; y &amp; z \\
a &amp; aw &amp; ax &amp; ay &amp; az \\
b &amp; bw &amp; bx &amp; by &amp; bz \\
c &amp; cw &amp; cx &amp; cy &amp; cz
\end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/6/d/7/6d75d9760790ea26509aef7d88657e16.png" /></dd>
</dl>
<p>The sum of the table entries is the product of the polynomials. Thus</p>
<dl>
<dd><img class="tex" alt="\begin{align}
 (a+b+c)(w+x+y+z) = {} &amp; aw + ax + ay + az \\
 &amp; {} + bw + bx + by + bz \\
 &amp; {} + cw + cx + cy + cz .
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/c/3/6/c369408eaf10e195ebb21e55c743caa4.png" /></dd>
</dl>
<p>Similarly, to multiply <img class="tex" alt="(ax^2+bx+c)(dx^3+ex^2+fx+g)," src="//upload.wikimedia.org/wikipedia/en/math/6/e/3/6e39a2be38de04bfb55a4280706b76ff.png" /> one writes the same table</p>
<dl>
<dd><img class="tex" alt="\begin{matrix}
\times &amp; d &amp; e &amp; f &amp; g \\
a &amp; ad &amp; ae &amp; af &amp; ag \\
b &amp; bd &amp; be &amp; bf &amp; bg \\
c &amp; cd &amp; ce &amp; cf &amp; cg
\end{matrix}" src="//upload.wikimedia.org/wikipedia/en/math/3/5/9/359f1d09fcb7ee00792cbea4f8174f86.png" /></dd>
</dl>
<p>and sums along antidiagonals:</p>
<dl>
<dd><img class="tex" alt="\begin{align}(ax^2&amp;+bx+c)(dx^3+ex^2+fx+g)\\
&amp;= adx^5 + (ae+bd)x^4 + (af+be+cd)x^3 + (ag+bf+ce)x^2+(bg+cf)x+cg.\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/8/9/c/89c44431112691b3eaaa60eb0e6dcbc7.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=FOIL_method&amp;action=&amp;section=5" title="Edit section: Generalizations"></a>]</span> <span class="mw-headline" id="Generalizations">Generalizations</span></h2>
<p>The FOIL rule cannot be directly applied to expanding products with more than two multiplicands, or multiplicands with more than two summands. However, applying the <a href="/wiki/Associativity" title="Associativity" class="mw-redirect">associative law</a> and recursive foiling allows one to expand such products. For instance,</p>
<dl>
<dd><img class="tex" alt="\begin{align}(a+b+c+d)(x+y+z+w)=&amp;\,((a+b)+(c+d))((x+y)+(z+w)) \\ =&amp;\,(a+b)(x+y)+(a+b)(z+w) \\ &amp;\,{}+(c+d)(x+y)+(c+d)(z+w) \\ =&amp;\,ax+ay+bx+by+az+aw+bz+bw \\ &amp;\,{}+cx+cy+dx+dy+cz+cw+dz+dw. \end{align}" src="//upload.wikimedia.org/wikipedia/en/math/4/2/5/42551c6e191129650051a4b3ea80fa5b.png" /></dd>
</dl>
<p>Alternate methods based on distributing forgo the use of the FOIL rule, but may be easier to remember and apply. For example,</p>
<dl>
<dd><img class="tex" alt="\begin{align}
(a+b+c+d)(x+y+z+w)&amp;=(a+(b+c+d))(x+y+z+w) \\
&amp;=a(x+y+z+w)+(b+c+d)(x+y+z+w) \\
&amp;=a(x+y+z+w)+(b+(c+d))(x+y+z+w) \\
&amp;=a(x+y+z+w)+b(x+y+z+w) \\
&amp;\qquad +(c+d)(x+y+z+w) \\
&amp;=a(x+y+z+w)+b(x+y+z+w) \\
&amp;\qquad +c(x+y+z+w)+d(x+y+z+w) \\
&amp;=ax+ay+az+aw+bx+by+bz+bw \\
&amp;\qquad +cx+cy+cz+cw+dx+dy+dz+dw.
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/f/5/5/f5543132d9e1f4691d42f50414b16b8d.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=FOIL_method&amp;action=&amp;section=6" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Binomial_theorem" title="Binomial theorem">Binomial theorem</a></li>
<li><a href="/wiki/Factorization" title="Factorization">Factorization</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=FOIL_method&amp;action=&amp;section=7" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation" id="CITEREFSteegeBailey1997">Steege, Ray; Bailey, Kerry (1997), <i>Schaum's Outline of Theory and Problems of Intermediate Algebra</i>, Schaum's Outline Series, New York: McGrawHill, p.&#160;54, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-0-07-060839-9" title="Special:BookSources/978-0-07-060839-9">978-0-07-060839-9</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Schaum%27s+Outline+of+Theory+and+Problems+of+Intermediate+Algebra&amp;rft.aulast=Steege&amp;rft.aufirst=Ray&amp;rft.au=Steege%2C%26%2332%3BRay&amp;rft.au=Bailey%2C%26%2332%3BKerry&amp;rft.date=1997&amp;rft.series=Schaum%27s+Outline+Series&amp;rft.pages=p.%26nbsp%3B54&amp;rft.place=New+York&amp;rft.pub=McGraw%E2%80%93Hill&amp;rft.isbn=978-0-07-060839-9&amp;rfr_id=info:sid/en.wikipedia.org:FOIL_method"><span style="display: none;">&#160;</span></span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1870/1000000
Post-expand include size: 12083/2048000 bytes
Template argument size: 4084/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1797141-0!0!0!!en!4!* and timestamp 20120311213720 -->
