<table class="metadata plainlinks ambox ambox-content ambox-multiple_issues" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/f/f4/Ambox_content.png" width="40" height="40" /></div>
</td>
<td class="mbox-text" style="">
<div>
<div style="text-align:left;"><b>This article has multiple issues</b>. Please help <b><a class="external text" href="//en.wikipedia.org/w/index.php?title=Unitary_method&amp;action=">improve it</a></b> or discuss these issues on the <b><a href="/w/index.php?title=Talk:Unitary_method&amp;action=&amp;redlink=1" class="new" title="Talk:Unitary method (page does not exist)">talk page</a></b>.</div>
<ul>
<li id="ambox-multiple_issues-cleanup">It <b>may require <a href="/wiki/Wikipedia:Cleanup" title="Wikipedia:Cleanup">cleanup</a> to meet Wikipedia's <a href="/wiki/Wikipedia:Manual_of_Style" title="Wikipedia:Manual of Style">quality standards</a></b>. <small>Tagged since September 2008.</small></li>
<li id="ambox-multiple_issues-orphan"><b>Very few or no other articles <a class="external text" href="//en.wikipedia.org/w/index.php?title=Special:Whatlinkshere&amp;target=Unitary_method&amp;namespace=0">link to it</a></b>. Please help <a href="/wiki/Help:Link" title="Help:Link">introduce links</a> to this page from other <a rel="nofollow" class="external text" href="http://www.google.com/search?hl=en&amp;as_qdr=all&amp;q=+site%3Aen.wikipedia.org+%22Unitary+method%22">articles related to it</a>. <small>Tagged since February 2012.</small></li>
<li id="ambox-multiple_issues-wikify">It <b>may need to be <a href="/wiki/Wikipedia:Glossary#Wikify" title="Wikipedia:Glossary">wikified</a> to meet Wikipedia's <a href="/wiki/Wikipedia:Manual_of_Style" title="Wikipedia:Manual of Style">quality standards</a></b>. <small>Tagged since February 2012.</small></li>
</ul>
</div>
</td>
</tr>
</table>
<p>The <b>unitary method</b> is a technique in <a href="/wiki/Elementary_algebra" title="Elementary algebra">elementary algebra</a> for solving a class of problems in variation. It consists of altering one of the variables to a single unit, i.e. 1, and then performing the operation necessary to alter it to the desired value.</p>
<p>For example, to solve the problem. 'A man walks seven miles in two hours. What is his average speed?', we aim to calculate how far the man walks in one hour. We can safely assume that he would walk half the distance in half the time. In one hour (one half of two hours) he walks three and a half miles (one half of seven miles). His speed is therefore three and a half miles per hour.</p>
<p>We can apply the same method to the problem 'A man walks at four miles per hour. How long would it take him to cover five miles?' by asking first, how long does the man take to walk one mile. One is a quarter of four, so it takes him a quarter of an hour to walk one mile. To walk five miles it therefore takes him five quarter hours, or an hour and a quarter.</p>
<h2><span class="section">[<a href="/w/index.php?title=Unitary_method&amp;action=&amp;section=1" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Unitary_method&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(September 2008)</i></small></td>
</tr>
</table>
<p>The unitary method is a technique in elementary algebra for solving a class of problems in variation. It consists of altering one of the variables to a single unit, i.e. 1, and then performing the operation necessary to alter it to the desired value.</p>
<p>For example, to solve the problem. 'A man walks seven miles in two hours. What is his average speed?', we aim to calculate how far the man walks in one hour. We can safely assume that he would walk half the distance in half the time. In one hour (one half of two hours) he walks three and a half miles (one half of seven miles). His speed is therefore three and a half miles per hour.</p>
<p>We can apply the same method to the problem 'A man walks at four miles per hour. How long would it take him to cover five miles?' by asking first, how long does the man take to walk one mile. One is a quarter of four, so it takes him a quarter of an hour to walk one mile. To walk five miles it therefore takes him five quarter hours, or an hour and a quarter.</p>
<h2><span class="section">[<a href="/w/index.php?title=Unitary_method&amp;action=&amp;section=2" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external free" href="http://thesaurus.maths.org/mmkb/entry.html?action=entryById&amp;id=4175">http://thesaurus.maths.org/mmkb/entry.html?action=entryById&amp;id=4175</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 2076/1000000
Post-expand include size: 18355/2048000 bytes
Template argument size: 7034/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:18796818-0!*!0!!*!4!* and timestamp 20120321043157 -->
