<p>In the branch of mathematics called <a href="/wiki/Abstract_algebra" title="Abstract algebra">algebra</a>, the <b>zero-product property</b> states that the product of two nonzero elements is nonzero. In other words, it is the following assertion:</p>
<blockquote>
<p>If <img class="tex" alt="ab = 0" src="//upload.wikimedia.org/wikipedia/en/math/5/7/a/57afd198eda1a8bf641270d95a62e86b.png" />, then either <img class="tex" alt="a=0" src="//upload.wikimedia.org/wikipedia/en/math/d/e/d/ded681eaa02d11064c9a469dd1b3e04c.png" /> or <img class="tex" alt="b=0" src="//upload.wikimedia.org/wikipedia/en/math/f/6/d/f6d5eef5ee5e51fc839bb54201c62e3b.png" />.</p>
</blockquote>
<p>The zero-product property is also known as the <b>rule of zero product</b> or <b>nonexistence of <a href="/wiki/Zero_divisor" title="Zero divisor">zero divisors</a>.</b> All of the number systems studied in <a href="/wiki/Elementary_mathematics" title="Elementary mathematics">elementary mathematics</a>  the <a href="/wiki/Integer" title="Integer">integers</a> <img class="tex" alt="\mathbb{Z}" src="//upload.wikimedia.org/wikipedia/en/math/3/f/3/3f3c78f02a9c53f5460f4bcc2e7dd3cb.png" />, the <a href="/wiki/Rational_number" title="Rational number">rational numbers</a> <img class="tex" alt="\mathbb{Q}" src="//upload.wikimedia.org/wikipedia/en/math/d/4/5/d45a4aa156a8ac07ab80e7d9cf5fa79f.png" />, the <a href="/wiki/Real_number" title="Real number">real numbers</a> <img class="tex" alt="\mathbb{R}" src="//upload.wikimedia.org/wikipedia/en/math/1/3/4/134676911181af05d24d406f16edf587.png" />, and the <a href="/wiki/Complex_number" title="Complex number">complex numbers</a> <img class="tex" alt="\mathbb{C}" src="//upload.wikimedia.org/wikipedia/en/math/8/4/f/84feda6433ec704f8ff2098173f9413f.png" />  satisfy the zero-product property. In general, a <a href="/wiki/Ring_(mathematics)" title="Ring (mathematics)">ring</a> which satisfies the zero-product property is called a <a href="/wiki/Domain_(ring_theory)" title="Domain (ring theory)">domain</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Algebraic_context"><span class="tocnumber">1</span> <span class="toctext">Algebraic context</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Examples"><span class="tocnumber">2</span> <span class="toctext">Examples</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Non-examples"><span class="tocnumber">3</span> <span class="toctext">Non-examples</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Application_to_finding_roots_of_polynomials"><span class="tocnumber">4</span> <span class="toctext">Application to finding roots of polynomials</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Notes"><span class="tocnumber">6</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#References"><span class="tocnumber">7</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#External_links"><span class="tocnumber">8</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Zero-product_property&amp;action=&amp;section=1" title="Edit section: Algebraic context"></a>]</span> <span class="mw-headline" id="Algebraic_context">Algebraic context</span></h2>
<p>Suppose <img class="tex" alt="A" src="//upload.wikimedia.org/wikipedia/en/math/7/f/c/7fc56270e7a70fa81a5935b72eacbe29.png" /> is an algebraic structure. We might ask, does <img class="tex" alt="A" src="//upload.wikimedia.org/wikipedia/en/math/7/f/c/7fc56270e7a70fa81a5935b72eacbe29.png" /> have the zero-product property? In order for this question to have meaning, <img class="tex" alt="A" src="//upload.wikimedia.org/wikipedia/en/math/7/f/c/7fc56270e7a70fa81a5935b72eacbe29.png" /> must have both additive structure and multiplicative structure.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>note 1<span>]</span></a></sup> Usually one assumes that <img class="tex" alt="A" src="//upload.wikimedia.org/wikipedia/en/math/7/f/c/7fc56270e7a70fa81a5935b72eacbe29.png" /> is a <a href="/wiki/Ring_(mathematics)" title="Ring (mathematics)">ring</a>, though it could be something else, e.g., the nonnegative integers <img class="tex" alt="\{0,1,2,\ldots\}" src="//upload.wikimedia.org/wikipedia/en/math/f/8/6/f8607aded8fe95476db33f9866972dae.png" />.</p>
<p>Note that if <img class="tex" alt="A" src="//upload.wikimedia.org/wikipedia/en/math/7/f/c/7fc56270e7a70fa81a5935b72eacbe29.png" /> satisfies the zero-product property, and if <img class="tex" alt="B" src="//upload.wikimedia.org/wikipedia/en/math/9/d/5/9d5ed678fe57bcca610140957afab571.png" /> is a subset of <img class="tex" alt="A" src="//upload.wikimedia.org/wikipedia/en/math/7/f/c/7fc56270e7a70fa81a5935b72eacbe29.png" />, then <img class="tex" alt="B" src="//upload.wikimedia.org/wikipedia/en/math/9/d/5/9d5ed678fe57bcca610140957afab571.png" /> also satisfies the zero product property: if <img class="tex" alt="a" src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0cc175b9c0f1b6a831c399e269772661.png" /> and <img class="tex" alt="b" src="//upload.wikimedia.org/wikipedia/en/math/9/2/e/92eb5ffee6ae2fec3ad71c777531578f.png" /> are elements of <img class="tex" alt="B" src="//upload.wikimedia.org/wikipedia/en/math/9/d/5/9d5ed678fe57bcca610140957afab571.png" /> such that <img class="tex" alt="ab=0" src="//upload.wikimedia.org/wikipedia/en/math/5/7/a/57afd198eda1a8bf641270d95a62e86b.png" />, then either <img class="tex" alt="a=0" src="//upload.wikimedia.org/wikipedia/en/math/d/e/d/ded681eaa02d11064c9a469dd1b3e04c.png" /> or <img class="tex" alt="b=0" src="//upload.wikimedia.org/wikipedia/en/math/f/6/d/f6d5eef5ee5e51fc839bb54201c62e3b.png" /> because <img class="tex" alt="a" src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0cc175b9c0f1b6a831c399e269772661.png" /> and <img class="tex" alt="b" src="//upload.wikimedia.org/wikipedia/en/math/9/2/e/92eb5ffee6ae2fec3ad71c777531578f.png" /> can also be considered as elements of <img class="tex" alt="A" src="//upload.wikimedia.org/wikipedia/en/math/7/f/c/7fc56270e7a70fa81a5935b72eacbe29.png" />.</p>
<h2><span class="section">[<a href="/w/index.php?title=Zero-product_property&amp;action=&amp;section=2" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h2>
<ul>
<li>A ring in which the zero-product property holds is called a <a href="/wiki/Domain_(ring_theory)" title="Domain (ring theory)">domain</a>. A <a href="/wiki/Commutative_ring" title="Commutative ring">commutative</a> domain with a <a href="/wiki/Unit_element" title="Unit element" class="mw-redirect">multiplicative identity</a> element is called an <a href="/wiki/Integral_domain" title="Integral domain">integral domain</a>. Any <a href="/wiki/Field_(abstract_algebra)" title="Field (abstract algebra)" class="mw-redirect">field</a> is an integral domain; in fact, any subring of a field is an integral domain (as long as it contains 1). Similarly, any subring of a <a href="/wiki/Skew_field" title="Skew field" class="mw-redirect">skew field</a> is a domain. Thus, the zero-product property holds for any subring of a skew field.</li>
</ul>
<ul>
<li>If <img class="tex" alt="p" src="//upload.wikimedia.org/wikipedia/en/math/8/3/8/83878c91171338902e0fe0fb97a8c47a.png" /> is a <a href="/wiki/Prime_number" title="Prime number">prime number</a>, then the ring of <a href="/wiki/Modular_arithmetic" title="Modular arithmetic">integers modulo <img class="tex" alt="p" src="//upload.wikimedia.org/wikipedia/en/math/8/3/8/83878c91171338902e0fe0fb97a8c47a.png" /></a> has the zero-product property (in fact, it is a field).</li>
</ul>
<ul>
<li>The <a href="/wiki/Gaussian_integers" title="Gaussian integers" class="mw-redirect">Gaussian integers</a> are an <a href="/wiki/Integral_domain" title="Integral domain">integral domain</a> because they are a subring of the complex numbers.</li>
</ul>
<ul>
<li>In the <a href="/wiki/Skew_field" title="Skew field" class="mw-redirect">skew field</a> of <a href="/wiki/Quaternions" title="Quaternions" class="mw-redirect">quaternions</a>, the zero-product property holds. This ring is not an integral domain, because the multiplication is not commutative.</li>
</ul>
<ul>
<li>The set of nonnegative integers <img class="tex" alt="\{0,1,2,\ldots\}" src="//upload.wikimedia.org/wikipedia/en/math/f/8/6/f8607aded8fe95476db33f9866972dae.png" /> is not a ring, but it does satisfy the zero-product property.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Zero-product_property&amp;action=&amp;section=3" title="Edit section: Non-examples"></a>]</span> <span class="mw-headline" id="Non-examples">Non-examples</span></h2>
<ul>
<li>Let <img class="tex" alt="\mathbb{Z}_n" src="//upload.wikimedia.org/wikipedia/en/math/e/6/b/e6bf66567baf49625b5d93a86bb43777.png" /> denote the ring of <a href="/wiki/Modular_arithmetic" title="Modular arithmetic">integers modulo <img class="tex" alt="n" src="//upload.wikimedia.org/wikipedia/en/math/7/b/8/7b8b965ad4bca0e41ab51de7b31363a1.png" /></a>. Then <img class="tex" alt="\mathbb{Z}_6" src="//upload.wikimedia.org/wikipedia/en/math/0/8/b/08b0ff316a78bf782b5703b7baef43a7.png" /> does not satisfy the zero product property: 2 and 3 are nonzero elements, yet <img class="tex" alt="2 \cdot 3 \equiv 0 \pmod{6}" src="//upload.wikimedia.org/wikipedia/en/math/a/f/0/af07247d5e65268390108bbd46ebf55b.png" />.</li>
</ul>
<ul>
<li>In general, if <img class="tex" alt="n" src="//upload.wikimedia.org/wikipedia/en/math/7/b/8/7b8b965ad4bca0e41ab51de7b31363a1.png" /> is a <a href="/wiki/Composite_number" title="Composite number">composite number</a>, then <img class="tex" alt="\mathbb{Z}_n" src="//upload.wikimedia.org/wikipedia/en/math/e/6/b/e6bf66567baf49625b5d93a86bb43777.png" /> does not satisfy the zero-product property. Namely, if <img class="tex" alt="n = qm" src="//upload.wikimedia.org/wikipedia/en/math/4/d/1/4d190f43d04040918140bc52e46f9ebe.png" /> where <img class="tex" alt="0 &lt; q,m &lt; n" src="//upload.wikimedia.org/wikipedia/en/math/6/1/5/615d4a456311598a0fe45e3192bd99c3.png" />, then <img class="tex" alt="m" src="//upload.wikimedia.org/wikipedia/en/math/6/f/8/6f8f57715090da2632453988d9a1501b.png" /> and <img class="tex" alt="q" src="//upload.wikimedia.org/wikipedia/en/math/7/6/9/7694f4a66316e53c8cdd9d9954bd611d.png" /> are nonzero modulo <img class="tex" alt="n" src="//upload.wikimedia.org/wikipedia/en/math/7/b/8/7b8b965ad4bca0e41ab51de7b31363a1.png" />, yet <img class="tex" alt="qm \equiv 0 \pmod{n}" src="//upload.wikimedia.org/wikipedia/en/math/0/e/b/0ebfe0c7bdaa4023df48d2037cbf7a59.png" />.</li>
</ul>
<ul>
<li>The ring <img class="tex" alt="\mathbb{Z}^{2 \times 2}" src="//upload.wikimedia.org/wikipedia/en/math/0/2/9/029ff5bc51140e40a7611f989bb38cf1.png" /> of 2 by 2 <a href="/wiki/Matrix_(mathematics)" title="Matrix (mathematics)">matrices</a> with <a href="/wiki/Integer" title="Integer">integer</a> entries does not satisfy the zero-product property: if</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="M = \begin{pmatrix}1 &amp; -1 \\ 0 &amp; 0\end{pmatrix}" src="//upload.wikimedia.org/wikipedia/en/math/6/1/c/61c71da59a5a1e8f386a23b94468f09f.png" /> and <img class="tex" alt="N = \begin{pmatrix}0 &amp; 1 \\ 0 &amp; 1\end{pmatrix}" src="//upload.wikimedia.org/wikipedia/en/math/d/a/7/da7363cfbac1ed9a292e564b9153a040.png" />,</dd>
</dl>
</dd>
</dl>
<dl>
<dd>then</dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="MN = \begin{pmatrix}1 &amp; -1 \\ 0 &amp; 0\end{pmatrix} \begin{pmatrix}0 &amp; 1 \\ 0 &amp; 1\end{pmatrix} = \begin{pmatrix}0 &amp; 0 \\ 0 &amp; 0\end{pmatrix} = 0" src="//upload.wikimedia.org/wikipedia/en/math/3/5/1/3516cdec5638197a0e81207d70dfc5f6.png" />,</dd>
</dl>
</dd>
</dl>
<dl>
<dd>yet neither <img class="tex" alt="M" src="//upload.wikimedia.org/wikipedia/en/math/6/9/6/69691c7bdcc3ce6d5d8a1361f22d04ac.png" /> nor <img class="tex" alt="N" src="//upload.wikimedia.org/wikipedia/en/math/8/d/9/8d9c307cb7f3c4a32822a51922d1ceaa.png" /> is zero.</dd>
</dl>
<ul>
<li>The ring of all <a href="/wiki/Function_(mathematics)" title="Function (mathematics)">functions</a> <img class="tex" alt="f: [0,1] \to \mathbb{R}" src="//upload.wikimedia.org/wikipedia/en/math/d/f/1/df18822601df2f0a972e4c67479078b3.png" />, from the <a href="/wiki/Unit_interval" title="Unit interval">unit interval</a> to the <a href="/wiki/Real_number" title="Real number">real numbers</a>, has zero divisors: there are pairs of functions which are not identically equal to zero yet whose product is the zero function. In fact, it is not hard to construct, for any <i>n</i>  2, functions <img class="tex" alt="f_1,\ldots,f_n" src="//upload.wikimedia.org/wikipedia/en/math/c/3/4/c346baaa1b4391fa30bd4fd3f23fff6b.png" />, none of which is identically zero, such that <img class="tex" alt="f_i \, f_j" src="//upload.wikimedia.org/wikipedia/en/math/d/8/8/d883c0ca49975eb82e842431802cf039.png" /> is identically zero whenever <img class="tex" alt="i \neq j" src="//upload.wikimedia.org/wikipedia/en/math/3/d/2/3d27367ea16a2a7b40b3eb3172a32120.png" />.</li>
</ul>
<ul>
<li>The same is true even if we consider only continuous functions, or only even infinitely smooth functions.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Zero-product_property&amp;action=&amp;section=4" title="Edit section: Application to finding roots of polynomials"></a>]</span> <span class="mw-headline" id="Application_to_finding_roots_of_polynomials">Application to finding roots of polynomials</span></h2>
<p>Suppose <img class="tex" alt="P" src="//upload.wikimedia.org/wikipedia/en/math/4/4/c/44c29edb103a2872f519ad0c9a0fdaaa.png" /> and <img class="tex" alt="Q" src="//upload.wikimedia.org/wikipedia/en/math/f/0/9/f09564c9ca56850d4cd6b3319e541aee.png" /> are univariate polynomials with real coefficients, and <img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /> is a real number such that <img class="tex" alt="P(x)Q(x) = 0" src="//upload.wikimedia.org/wikipedia/en/math/6/d/f/6df60153aea5007f11962a7412c7e536.png" />. (Actually, we may allow the coefficients and <img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /> to come from any integral domain.) By the zero-product property, it follows that either <img class="tex" alt="P(x) = 0" src="//upload.wikimedia.org/wikipedia/en/math/b/9/0/b90918f8950b61072610a4727bd2e528.png" /> or <img class="tex" alt="Q(x) = 0" src="//upload.wikimedia.org/wikipedia/en/math/a/4/8/a484b18f827c40ff637196b7717ae42c.png" />. In other words, the roots of <img class="tex" alt="PQ" src="//upload.wikimedia.org/wikipedia/en/math/0/8/d/08d6d8834ad9ec87b1dc7ec8148e7a1f.png" /> are precisely the roots of <img class="tex" alt="P" src="//upload.wikimedia.org/wikipedia/en/math/4/4/c/44c29edb103a2872f519ad0c9a0fdaaa.png" /> together with the roots of <img class="tex" alt="Q" src="//upload.wikimedia.org/wikipedia/en/math/f/0/9/f09564c9ca56850d4cd6b3319e541aee.png" />.</p>
<p>Thus, one can use factorization to find the roots of a polynomial. For example, the polynomial <img class="tex" alt="x^3 - 2x^2 - 5x + 6" src="//upload.wikimedia.org/wikipedia/en/math/4/4/3/44346abe43a0e16bfb0fa99615a52c71.png" /> factorizes as <img class="tex" alt="(x-3)(x-1)(x+2)" src="//upload.wikimedia.org/wikipedia/en/math/3/b/1/3b1be76fe2d38bdba95b8dc4e2b9ec9f.png" />; hence, its roots are precisely 3, 1, and -2.</p>
<p>In general, suppose <img class="tex" alt="R" src="//upload.wikimedia.org/wikipedia/en/math/e/1/e/e1e1d3d40573127e9ee0480caf1283d6.png" /> is an integral domain and <img class="tex" alt="f" src="//upload.wikimedia.org/wikipedia/en/math/8/f/a/8fa14cdd754f91cc6554c9e71929cce7.png" /> is a <a href="/wiki/Monic_polynomial" title="Monic polynomial">monic</a> univariate polynomial of degree <img class="tex" alt="d \geq 1" src="//upload.wikimedia.org/wikipedia/en/math/b/1/4/b14ffa55c538ddb790d180a335931733.png" /> with coefficients in <img class="tex" alt="R" src="//upload.wikimedia.org/wikipedia/en/math/e/1/e/e1e1d3d40573127e9ee0480caf1283d6.png" />. Suppose also that <img class="tex" alt="f" src="//upload.wikimedia.org/wikipedia/en/math/8/f/a/8fa14cdd754f91cc6554c9e71929cce7.png" /> has <img class="tex" alt="d" src="//upload.wikimedia.org/wikipedia/en/math/8/2/7/8277e0910d750195b448797616e091ad.png" /> distinct roots <img class="tex" alt="r_1,\ldots,r_d \in R" src="//upload.wikimedia.org/wikipedia/en/math/8/8/c/88cd2130c1032566a54c6bce82342af6.png" />. It follows (but we do not prove here) that <img class="tex" alt="f" src="//upload.wikimedia.org/wikipedia/en/math/8/f/a/8fa14cdd754f91cc6554c9e71929cce7.png" /> factorizes as <img class="tex" alt="f(x) = (x-r_1) \cdots (x-r_d)" src="//upload.wikimedia.org/wikipedia/en/math/3/3/5/3353124a3d824b94a2de7afdedbd8435.png" />. By the zero-product property, it follows that <img class="tex" alt="r_1,\ldots,r_d" src="//upload.wikimedia.org/wikipedia/en/math/0/7/7/077d8c6a341a7bdc800192f4a8d39e4c.png" /> are the <i>only</i> roots of <img class="tex" alt="f" src="//upload.wikimedia.org/wikipedia/en/math/8/f/a/8fa14cdd754f91cc6554c9e71929cce7.png" />: any root of <img class="tex" alt="f" src="//upload.wikimedia.org/wikipedia/en/math/8/f/a/8fa14cdd754f91cc6554c9e71929cce7.png" /> must be a root of <img class="tex" alt="(x-r_i)" src="//upload.wikimedia.org/wikipedia/en/math/d/2/4/d24a77855a68320ccb65af816803795b.png" /> for some <img class="tex" alt="i" src="//upload.wikimedia.org/wikipedia/en/math/8/6/5/865c0c0b4ab0e063e5caa3387c1a8741.png" />. In particular, <img class="tex" alt="f" src="//upload.wikimedia.org/wikipedia/en/math/8/f/a/8fa14cdd754f91cc6554c9e71929cce7.png" /> has at most <img class="tex" alt="d" src="//upload.wikimedia.org/wikipedia/en/math/8/2/7/8277e0910d750195b448797616e091ad.png" /> distinct roots.</p>
<p>If however <img class="tex" alt="R" src="//upload.wikimedia.org/wikipedia/en/math/e/1/e/e1e1d3d40573127e9ee0480caf1283d6.png" /> is not an integral domain, then the conclusion need not hold. For example, the cubic polynomial <img class="tex" alt="x^3 + 3x^2 + 2x" src="//upload.wikimedia.org/wikipedia/en/math/7/4/4/7445c61c9e9594dc31950145a0b16dca.png" /> has six roots in <img class="tex" alt="\mathbb{Z}_6" src="//upload.wikimedia.org/wikipedia/en/math/0/8/b/08b0ff316a78bf782b5703b7baef43a7.png" /> (though it has only three roots in <img class="tex" alt="\mathbb{Z}" src="//upload.wikimedia.org/wikipedia/en/math/3/f/3/3f3c78f02a9c53f5460f4bcc2e7dd3cb.png" />).</p>
<h2><span class="section">[<a href="/w/index.php?title=Zero-product_property&amp;action=&amp;section=5" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Fundamental_theorem_of_algebra" title="Fundamental theorem of algebra">Fundamental theorem of algebra</a></li>
<li><a href="/wiki/Integral_domain" title="Integral domain">Integral domain</a> and <a href="/wiki/Domain_(ring_theory)" title="Domain (ring theory)">domain</a></li>
<li><a href="/wiki/Prime_ideal" title="Prime ideal">Prime ideal</a></li>
<li><a href="/wiki/Zero_divisor" title="Zero divisor">Zero divisor</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Zero-product_property&amp;action=&amp;section=6" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">There must be a notion of zero (the <a href="/wiki/Additive_identity" title="Additive identity">additive identity</a>) and a notion of products, i.e., multiplication.</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Zero-product_property&amp;action=&amp;section=7" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li>David S. Dummit and Richard M. Foote, <i>Abstract Algebra</i> (3d ed.), Wiley, 2003, <a href="/wiki/Special:BookSources/0471433349" class="internal mw-magiclink-isbn">ISBN 0-471-43334-9</a>.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Zero-product_property&amp;action=&amp;section=8" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://planetmath.org/encyclopedia/ZeroRuleOfProduct.html">PlanetMath: Zero rule of product</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 823/1000000
Post-expand include size: 165/2048000 bytes
Template argument size: 8/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:4062502-0!0!0!!en!*!* and timestamp 20120413145827 -->
