<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, a <b>base</b> is a side of a plane figure or face of solid, particularly one perpendicular to the direction <a href="/wiki/Height" title="Height">height</a> is measured or on what is considered to the bottom. This usage can be applied to a <a href="/wiki/Triangle" title="Triangle">triangle</a>, <a href="/wiki/Parallelogram" title="Parallelogram">parallelogram</a>, <a href="/wiki/Trapezoids" title="Trapezoids" class="mw-redirect">trapezoids</a>, <a href="/wiki/Cylinder_(geometry)" title="Cylinder (geometry)">cylinder</a>, <a href="/wiki/Cone" title="Cone">cone</a>, <a href="/wiki/Pyramid" title="Pyramid">pyramid</a>, <a href="/wiki/Parallelopiped" title="Parallelopiped" class="mw-redirect">parallelopiped</a> or <a href="/wiki/Frustum" title="Frustum">frustum</a>. By extension, the length or area of a base is also called a base. As such, bases are commonly used in formulas for <a href="/wiki/Area" title="Area">area</a> and <a href="/wiki/Volume" title="Volume">volume</a>.</p>
<p><br /></p>
<h2><span class="section">[<a href="/w/index.php?title=Base_(geometry)&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Area" title="Area">Area</a></li>
<li><a href="/wiki/Volume" title="Volume">Volume</a></li>
<li><a href="/wiki/Principal_square_root" title="Principal square root" class="mw-redirect">Principal square root</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Base_(geometry)&amp;action=&amp;section=2" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation book">Palmer, C.I.; Taylor, D.P. (1918). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=k9oZAAAAYAAJ"><i>Plane Geometry</i></a>. Scott, Foresman &amp; Co.. pp.&#160;38, 315, 353<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=k9oZAAAAYAAJ">http://books.google.com/books?id=k9oZAAAAYAAJ</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Plane+Geometry&amp;rft.aulast=Palmer&amp;rft.aufirst=C.I.&amp;rft.au=Palmer%2C%26%2332%3BC.I.&amp;rft.au=Taylor%2C%26%2332%3BD.P.&amp;rft.date=1918&amp;rft.pages=pp.%26nbsp%3B38%2C+315%2C+353&amp;rft.pub=Scott%2C+Foresman+%26+Co.&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3Dk9oZAAAAYAAJ&amp;rfr_id=info:sid/en.wikipedia.org:Base_(geometry)"><span style="display: none;">&#160;</span></span></li>
</ul>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Base_(geometry)&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 859/1000000
Post-expand include size: 7573/2048000 bytes
Template argument size: 1600/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:9579379-0!*!0!!*!4!* and timestamp 20120412191456 -->
