<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Equilateral_triangle_bicentric_001.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Equilateral_triangle_bicentric_001.svg/220px-Equilateral_triangle_bicentric_001.svg.png" width="220" height="221" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Equilateral_triangle_bicentric_001.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
An <a href="/wiki/Equilateral_triangle" title="Equilateral triangle">equilateral triangle</a></div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Bicentric_kite_001.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/37/Bicentric_kite_001.svg/220px-Bicentric_kite_001.svg.png" width="220" height="223" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Bicentric_kite_001.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A <a href="/wiki/Bicentric_quadrilateral" title="Bicentric quadrilateral">bicentric</a> <a href="/wiki/Kite_(geometry)" title="Kite (geometry)">kite</a></div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Bicentric_isosceles_trapezoid_001.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Bicentric_isosceles_trapezoid_001.svg/220px-Bicentric_isosceles_trapezoid_001.svg.png" width="220" height="222" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Bicentric_isosceles_trapezoid_001.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A bicentric <a href="/wiki/Isosceles_trapezoid" title="Isosceles trapezoid">isosceles trapezoid</a></div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Pentagon_001.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Pentagon_001.svg/220px-Pentagon_001.svg.png" width="220" height="221" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Pentagon_001.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
<a href="/wiki/Regular_polygon" title="Regular polygon">A regular</a> <a href="/wiki/Pentagon" title="Pentagon">pentagon</a></div>
</div>
</div>
<p>In geometry, a <b>bicentric polygon</b> is a tangential <a href="/wiki/Polygon" title="Polygon">polygon</a> (a polygon all of whose sides are tangent to an inner <a href="/wiki/Incircle" title="Incircle" class="mw-redirect">incircle</a>) which is also <a href="/wiki/Cyclic_polygon" title="Cyclic polygon" class="mw-redirect">cyclic</a>  that is, <a href="/wiki/Inscribe" title="Inscribe" class="mw-redirect">inscribed</a> in an <a href="/wiki/Circumcircle" title="Circumcircle" class="mw-redirect">outer circle</a> that passes through each vertex of the polygon. All <a href="/wiki/Triangle" title="Triangle">triangles</a> and all <a href="/wiki/Regular_polygon" title="Regular polygon">regular polygons</a> are bicentric. On the other hand, a <a href="/wiki/Rectangle" title="Rectangle">rectangle</a> with unequal sides is not bicentric, because no circle can be tangent to all four sides.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Triangles"><span class="tocnumber">1</span> <span class="toctext">Triangles</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Bicentric_quadrilaterals"><span class="tocnumber">2</span> <span class="toctext">Bicentric quadrilaterals</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Regular_polygons"><span class="tocnumber">3</span> <span class="toctext">Regular polygons</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#External_links"><span class="tocnumber">5</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Bicentric_polygon&amp;action=&amp;section=1" title="Edit section: Triangles"></a>]</span> <span class="mw-headline" id="Triangles">Triangles</span></h2>
<p>In a triangle, the radii <i>r</i> and <i>R</i> of the <a href="/wiki/Incircle_and_excircles_of_a_triangle" title="Incircle and excircles of a triangle">incircle</a> and <a href="/wiki/Circumcircle" title="Circumcircle" class="mw-redirect">circumcircle</a> respectively are related by the <a href="/wiki/Equation" title="Equation">equation</a></p>
<dl>
<dd><img class="tex" alt="\frac{1}{R-x}+\frac{1}{R+x}=\frac{1}{r}" src="//upload.wikimedia.org/wikipedia/en/math/1/a/f/1afe54fa45b0d356683606f0b1c2a781.png" /></dd>
</dl>
<p>where <i>x</i> is the distance between the centers of the circles. This is one version of <a href="/wiki/Euler_theorem_in_geometry" title="Euler theorem in geometry" class="mw-redirect">Euler's triangle formula</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Bicentric_polygon&amp;action=&amp;section=2" title="Edit section: Bicentric quadrilaterals"></a>]</span> <span class="mw-headline" id="Bicentric_quadrilaterals">Bicentric quadrilaterals</span></h2>
<p>Not all <a href="/wiki/Quadrilateral" title="Quadrilateral">quadrilaterals</a> are bicentric (having both an incircle and a circumcircle). Given two circles (one within the other) with radii <i>R</i> and <i>r</i> where <img class="tex" alt="R&gt;r" src="//upload.wikimedia.org/wikipedia/en/math/a/c/2/ac233a88af3de2d649fff89c44960faa.png" />, there exists a convex quadrilateral inscribed in one of them and tangent to the other <a href="/wiki/If_and_only_if" title="If and only if">if and only if</a> their radii satisfy</p>
<dl>
<dd><img class="tex" alt="\frac{1}{(R-x)^2}+\frac{1}{(R+x)^2}=\frac{1}{r^2}" src="//upload.wikimedia.org/wikipedia/en/math/3/2/6/326a3f66a0f37ea3993cbd66c74ed1d1.png" /></dd>
</dl>
<p>where <i>x</i> is the distance between their centers. This condition is known as <a href="/wiki/Bicentric_quadrilateral#Fuss.27_theorem_and_Carlitz.27_identity" title="Bicentric quadrilateral">Fuss' theorem</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Bicentric_polygon&amp;action=&amp;section=3" title="Edit section: Regular polygons"></a>]</span> <span class="mw-headline" id="Regular_polygons">Regular polygons</span></h2>
<p>For all regular polygons, <i>x</i>=0. That is, the incircle and the circumcircle share a common center. This center is also the center of the regular polygon.</p>
<p>For some regular polygons which can be <a href="/wiki/Compass_and_straightedge_constructions" title="Compass and straightedge constructions">constructed with compass and ruler</a>, we have the following formulas for the relation between the common <a href="/wiki/Edge_(geometry)" title="Edge (geometry)">edge</a> length <i>a</i>, the radius <i>r</i> of the <a href="/wiki/Incircle_and_excircles_of_a_triangle" title="Incircle and excircles of a triangle">incircle</a>, and the radius <i>R</i> of the <a href="/wiki/Circumcircle" title="Circumcircle" class="mw-redirect">circumcircle</a>:</p>
<table class="wikitable">
<tr>
<td><img class="tex" alt="n \!\, " src="//upload.wikimedia.org/wikipedia/en/math/e/7/8/e784b4c88f2c395bbb12f006330f3b20.png" /></td>
<td><img class="tex" alt="r \!\, " src="//upload.wikimedia.org/wikipedia/en/math/4/1/6/416d8bb4304dae72ccd6656cc07351d2.png" /></td>
<td><img class="tex" alt="R \!\, " src="//upload.wikimedia.org/wikipedia/en/math/7/f/e/7fe293d2791a366794589dcdb9e7a809.png" /></td>
<td><img class="tex" alt="a \!\, " src="//upload.wikimedia.org/wikipedia/en/math/8/4/4/844f907b4d7a81768588a34afe8ab71e.png" /></td>
</tr>
<tr>
<td><a href="/wiki/Equilateral_triangle" title="Equilateral triangle">3</a></td>
<td><img class="tex" alt=" \frac{R}{2} = \frac{a}{6}\sqrt{3} \!\, " src="//upload.wikimedia.org/wikipedia/en/math/f/2/c/f2c32e1cf5ae7bcb8037f3d406f10c76.png" /></td>
<td><img class="tex" alt=" 2r = \frac{a}{3}\sqrt{3} \!\, " src="//upload.wikimedia.org/wikipedia/en/math/c/5/0/c503a5411a3349fa188c58fc538b01b9.png" /></td>
<td><img class="tex" alt=" 2r\sqrt{3} = R\sqrt{3} \!\, " src="//upload.wikimedia.org/wikipedia/en/math/5/6/7/567aa63b3210250b7807d5eec141af6e.png" /></td>
</tr>
<tr>
<td><a href="/wiki/Square_(geometry)" title="Square (geometry)">4</a></td>
<td><img class="tex" alt=" \frac{R}{2}\sqrt{2} = \frac{a}{2} \!\, " src="//upload.wikimedia.org/wikipedia/en/math/5/6/4/564b9688f5f995700f04b007553110b1.png" /></td>
<td><img class="tex" alt=" r\sqrt{2} = \frac{a}{2}\sqrt{2} \!\, " src="//upload.wikimedia.org/wikipedia/en/math/a/e/1/ae12d6c4db34ad207122d28ae3ae6ecb.png" /></td>
<td><img class="tex" alt=" 2r = R\sqrt{2} \!\, " src="//upload.wikimedia.org/wikipedia/en/math/4/5/3/4532a15e49245fda5611fb8e616e88ba.png" /></td>
</tr>
<tr>
<td><a href="/wiki/Pentagon" title="Pentagon">5</a></td>
<td><img class="tex" alt=" \frac{R}{4}\left(\sqrt{5}+1\right) = \frac{a}{10}\sqrt{25+10\sqrt{5}} \!\, " src="//upload.wikimedia.org/wikipedia/en/math/b/0/4/b04045b2aa748bfbc298e257afdbaa9c.png" /></td>
<td><img class="tex" alt=" r\left(\sqrt{5}-1\right) = \frac{a}{10}\sqrt{50+10\sqrt{5}} \!\, " src="//upload.wikimedia.org/wikipedia/en/math/6/9/7/697c2fa22b08f26bc1da4d0405218841.png" /></td>
<td><img class="tex" alt=" 2r\sqrt{5-2\sqrt{5}} = \frac{R}{2}\sqrt{10-2\sqrt{5}} \!\, " src="//upload.wikimedia.org/wikipedia/en/math/e/4/5/e450b9628ea9574f88028afd2bc1e92d.png" /></td>
</tr>
<tr>
<td><a href="/wiki/Hexagon" title="Hexagon">6</a></td>
<td><img class="tex" alt=" \frac{R}{2}\sqrt{3} = \frac{a}{2}\sqrt{3} \!\, " src="//upload.wikimedia.org/wikipedia/en/math/5/b/c/5bcc70d060f800a8ee4f7fa4c606d3f0.png" /></td>
<td><img class="tex" alt=" \frac{2r}{3}\sqrt{3} = a \!\, " src="//upload.wikimedia.org/wikipedia/en/math/8/5/a/85aa9feba97d46d26857ba1004f8f791.png" /></td>
<td><img class="tex" alt=" \frac{2r}{3}\sqrt{3} = R \!\, " src="//upload.wikimedia.org/wikipedia/en/math/6/6/c/66cea577aeb48975bf97a39c4c61eb77.png" /></td>
</tr>
<tr>
<td><a href="/wiki/Octagon" title="Octagon">8</a></td>
<td><img class="tex" alt=" \frac{R}{2} \sqrt{2+\sqrt{2}} = \frac{a}{2}\left(\sqrt{2}+1\right) \!\, " src="//upload.wikimedia.org/wikipedia/en/math/6/5/f/65f5fe83bf6afd78ae2e3444d75c724e.png" /></td>
<td><img class="tex" alt=" r \sqrt{4-2\sqrt{2}} = \frac{a}{2}\sqrt{4+2\sqrt{2}} \!\, " src="//upload.wikimedia.org/wikipedia/en/math/1/8/5/185e6592620ebaaa62080f45eb9e5268.png" /></td>
<td><img class="tex" alt=" 2r \left(\sqrt{2}-1\right) = R\sqrt{2-\sqrt{2}} \!\, " src="//upload.wikimedia.org/wikipedia/en/math/3/6/7/36729efc355c1529f5a6ce4534e361a1.png" /></td>
</tr>
<tr>
<td><a href="/wiki/Decagon" title="Decagon">10</a></td>
<td><img class="tex" alt=" \frac{R}{4} \sqrt{10+2\sqrt{5}} = \frac{a}{2}\sqrt{5+2\sqrt{5}} \!\, " src="//upload.wikimedia.org/wikipedia/en/math/c/5/4/c543cc206f51e8b1d80d7013894ec692.png" /></td>
<td><img class="tex" alt=" \frac{r}{5} \sqrt{50-10\sqrt{5}} = \frac{a}{2}\left(\sqrt{5}+1\right) \!\, " src="//upload.wikimedia.org/wikipedia/en/math/0/1/a/01aea8b62c313bbef5602f5a301ed767.png" /></td>
<td><img class="tex" alt=" \frac{2r}{5} \sqrt{25-10\sqrt{5}} = \frac{R}{2} \left(\sqrt{5}-1\right) \!\, " src="//upload.wikimedia.org/wikipedia/en/math/a/4/9/a4961f1c8fa846f5b33ab6e98b886b9c.png" /></td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Bicentric_polygon&amp;action=&amp;section=4" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Bicentric_quadrilateral" title="Bicentric quadrilateral">Bicentric quadrilateral</a></li>
<li><a href="/wiki/Euler_theorem_in_geometry" title="Euler theorem in geometry" class="mw-redirect">Euler theorem in geometry</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Bicentric_polygon&amp;action=&amp;section=5" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Bicentric_polygon"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/BicentricPolygon.html">Bicentric polygon</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Bicentric_polygon&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 412/1000000
Post-expand include size: 4063/2048000 bytes
Template argument size: 661/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:13290844-0!0!0!!en!4!* and timestamp 20120301235300 -->
