<div class="thumb tright">
<div class="thumbinner" style="width:102px;"><a href="/wiki/File:Bicone.svg" class="image"><img alt="Bicone.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/12/Bicone.svg/100px-Bicone.svg.png" width="100" height="198" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Bicone.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.18/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
</div>
</div>
</div>
<p>A <b>bicone</b> or <b>dicone</b> is the <a href="/wiki/Dimension" title="Dimension">three-dimensional</a> <a href="/wiki/Geometric_shape" title="Geometric shape" class="mw-redirect">geometric shape</a> swept by revolving an <a href="/wiki/Triangle" title="Triangle">isosceles triangle</a> around its edge of unequal length. Alternatively, one can view a bicone as the surface created by joining two identical <a href="/wiki/Cone_(geometry)" title="Cone (geometry)">right circular cones</a> base-to-base.</p>
<h2><span class="section">[<a href="/w/index.php?title=Bicone&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Bipyramid" title="Bipyramid">Bipyramid</a></li>
<li><a href="/wiki/Sphericon" title="Sphericon">Sphericon</a></li>
<li><a href="/wiki/Biconical_antenna" title="Biconical antenna">Biconical antenna</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Bicone&amp;action=&amp;section=2" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Bicone"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Bicone.html">Bicone</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Bicone&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 175/1000000
Post-expand include size: 3954/2048000 bytes
Template argument size: 629/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:13953265-0!*!0!!*!4!* and timestamp 20120229070334 generated by mw58 -->
