<div class="dablink">For the notion of diameter in graph theory, see <a href="/wiki/Distance_(graph_theory)" title="Distance (graph theory)">Distance (graph theory)</a>.  For the computer network protocol, see <a href="/wiki/Diameter_(protocol)" title="Diameter (protocol)">Diameter (protocol)</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:CIRCLE_1.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1d/CIRCLE_1.svg/220px-CIRCLE_1.svg.png" width="220" height="222" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:CIRCLE_1.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Diameter</div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, a <b>diameter</b> of a <a href="/wiki/Circle" title="Circle">circle</a> is any straight <a href="/wiki/Line_segment" title="Line segment">line segment</a> that passes through the center of the circle and whose endpoints are on the circle. The diameters are the longest <a href="/wiki/Chord_(geometry)" title="Chord (geometry)">chords</a> of the circle. The word "diameter" derives from <a href="/wiki/Greek_language" title="Greek language">Greek</a> <i></i> (<i>diametros</i>), "diagonal of a circle", from <i>-</i> (<i>dia-</i>), "across, through" + <i></i> (<i>metron</i>), "a measure"<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup>).</p>
<p>In more modern usage, the length of a diameter is also called the <b>diameter</b>. In this sense one speaks of <i>the</i> diameter rather than <i>a</i> diameter, because all diameters of a <a href="/wiki/Circle" title="Circle">circle</a> have the same length, this being twice the <a href="/wiki/Radius" title="Radius">radius</a>.</p>
<p>For a <a href="/wiki/Convex_set" title="Convex set">convex shape</a> in the plane, the diameter is defined to be the largest distance that can be formed between two opposite parallel lines tangent to its boundary, and the <i>width</i> is defined to be the smallest such distance. For a <a href="/wiki/Curve_of_constant_width" title="Curve of constant width">curve of constant width</a> such as the <a href="/wiki/Reuleaux_triangle" title="Reuleaux triangle">Reuleaux triangle</a>, the width and diameter are the same because all such pairs of parallel tangent lines have the same distance. See also <a href="/wiki/Tangent_lines_to_circles" title="Tangent lines to circles">Tangent lines to circles</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Generalizations"><span class="tocnumber">1</span> <span class="toctext">Generalizations</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Diameter_symbol"><span class="tocnumber">2</span> <span class="toctext">Diameter symbol</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#See_also"><span class="tocnumber">3</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Notes"><span class="tocnumber">4</span> <span class="toctext">Notes</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Diameter&amp;action=&amp;section=1" title="Edit section: Generalizations"></a>]</span> <span class="mw-headline" id="Generalizations">Generalizations</span></h2>
<p>The four definitions given above are special cases of a more general definition. The <b>diameter</b> of a <a href="/wiki/Subset" title="Subset">subset</a> of a <a href="/wiki/Metric_space" title="Metric space">metric space</a> is the <a href="/wiki/Supremum" title="Supremum">least upper bound</a> of the distances between pairs of points in the subset. So, if <i>A</i> is the subset, the diameter is</p>
<dl>
<dd><a href="/wiki/Supremum" title="Supremum">sup</a> { d(<i>x</i>, <i>y</i>) | <i>x</i>, <i>y</i>  <i>A</i> } .</dd>
</dl>
<p>Some authors prefer to treat the <a href="/wiki/Empty_set" title="Empty set">empty set</a> (<img class="tex" alt="A=\emptyset " src="//upload.wikimedia.org/wikipedia/en/math/2/7/3/273f1a0f41aae06db6fd4a82e3193581.png" />) as a special case.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<p>In <a href="/wiki/Differential_geometry" title="Differential geometry">differential geometry</a>, the diameter is an important global <a href="/wiki/Riemannian_geometry" title="Riemannian geometry">Riemannian</a> <a href="/wiki/Invariant_(mathematics)" title="Invariant (mathematics)">invariant</a>. In plane and coordinate geometry, a diameter of a <a href="/wiki/Conic_section" title="Conic section">conic section</a> is any chord which passes through the conic's centre; such diameters are not necessarily of uniform length, except in the case of the circle, which has <a href="/wiki/Eccentricity_(mathematics)" title="Eccentricity (mathematics)">eccentricity</a>&#160;<i>e</i>&#160;=&#160;0.</p>
<p>In medical <a href="/wiki/Idiom#Parlance" title="Idiom">parlance</a> the diameter of a <a href="/wiki/Lesion" title="Lesion">lesion</a> is the longest line segment whose endpoints are within the lesion.</p>
<h2><span class="section">[<a href="/w/index.php?title=Diameter&amp;action=&amp;section=2" title="Edit section: Diameter symbol"></a>]</span> <span class="mw-headline" id="Diameter_symbol">Diameter symbol</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:152px;"><a href="/wiki/File:Sign_diameter.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/2/29/Sign_diameter.png/150px-Sign_diameter.png" width="150" height="91" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Sign_diameter.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Sign <span class="Unicode"></span> from <a href="/wiki/Autocad" title="Autocad" class="mw-redirect">Autocad</a> drawing</div>
</div>
</div>
<div class="dablink">Not to be confused with the Scandinavian letter "<a href="/wiki/%C3%98" title=""></a>" or the <a href="/wiki/Empty_set" title="Empty set">Empty set</a> symbol "<i><span class="Unicode"></span></i>".</div>
<p>The <a href="/wiki/Symbol" title="Symbol">symbol</a> or <a href="/wiki/Variable_(mathematics)" title="Variable (mathematics)">variable</a> for diameter, <span class="Unicode"></span>, is <a href="/wiki/Homoglyph" title="Homoglyph">similar in size and design</a> to <a href="/wiki/%C3%98" title=""></a>, the Latin small letter o with stroke. <a href="/wiki/Unicode" title="Unicode">Unicode</a> provides character number 8960 (<a href="/wiki/Hexadecimal" title="Hexadecimal">hexadecimal</a> 2300) for the symbol, which can be encoded in <a href="/wiki/HTML" title="HTML">HTML</a> webpages as <tt>&amp;#8960;</tt> or <tt>&amp;#x2300;</tt>. The character can be obtained in <a href="/wiki/Microsoft_Windows" title="Microsoft Windows">Microsoft Windows</a> by holding the <kbd class="keyboard-key nowrap" style="border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;"><a href="/wiki/Alt_key" title="Alt key">Alt</a></kbd> key down while entering <kbd class="keyboard-key nowrap" style="border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;">8</kbd><kbd class="keyboard-key nowrap" style="border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;">9</kbd><kbd class="keyboard-key nowrap" style="border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;">6</kbd><kbd class="keyboard-key nowrap" style="border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;">0</kbd> on the <a href="/wiki/Numeric_keypad" title="Numeric keypad">numeric keypad</a>. On an <a href="/wiki/Apple,_Inc." title="Apple, Inc." class="mw-redirect">Apple</a> <a href="/wiki/Macintosh" title="Macintosh">Macintosh</a>, the diameter symbol can be entered via the character palette (this is opened by pressing <kbd class="keyboard-key nowrap" style="border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;"><span class="Unicode"></span> Opt</kbd><kbd class="keyboard-key nowrap" style="border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;"><span class="Unicode"></span> Cmd</kbd><kbd class="keyboard-key nowrap" style="border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;">T</kbd> in most applications), where it can be found in the Technical Symbols category.</p>
<p>The character often will not display correctly, however, since most <a href="/wiki/Typeface" title="Typeface">fonts</a> do not include it. In most situations the letter  is acceptable, which is unicode 0248 (hexadecimal 00F8). It can be obtained in UNIX-like operating systems using a <a href="/wiki/Compose_key" title="Compose key">Compose key</a> by pressing, in sequence, <kbd class="keyboard-key nowrap" style="border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;"><a href="/wiki/Compose_key" title="Compose key">Compose</a></kbd><kbd class="keyboard-key nowrap" style="border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;">/</kbd><kbd class="keyboard-key nowrap" style="border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;">o</kbd> and on a Macintosh by pressing <kbd class="keyboard-key nowrap" style="border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;"><span class="Unicode"></span> Opt</kbd> <kbd class="keyboard-key nowrap" style="border: 1px solid #aaa; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 1px 2px 2px #ddd; -webkit-box-shadow: 1px 2px 2px #ddd; box-shadow: 1px 2px 2px #ddd; background-color: #f9f9f9; background-image: -moz-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -ms-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -o-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: -webkit-linear-gradient(top, #eee, #f9f9f9, #eee); background-image: linear-gradient(top, #eee, #f9f9f9, #eee); padding: 1px 3px; font-family: inherit; font-size: 0.85em;">O</kbd> (in both cases, that is the letter <a href="/wiki/O" title="O">o</a>, not the number <a href="/wiki/0_(number)" title="0 (number)">0</a>).</p>
<p>In <a href="/wiki/LaTeX" title="LaTeX">LaTeX</a> the symbol is achieved with the command \diameter which is part of the wasysym package.</p>
<p>The diameter symbol <span class="Unicode"></span> is distinct from the <a href="/wiki/Empty_set" title="Empty set">empty set</a> symbol <span class="Unicode"></span>, from an (<a href="/wiki/Italic_script" title="Italic script">italic</a>) uppercase <a href="/wiki/Phi_(letter)" title="Phi (letter)" class="mw-redirect">phi</a> <i></i>, and from the Nordic vowel <a href="/wiki/%C3%98" title=""></a>.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Diameter&amp;action=&amp;section=3" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Distance_(graph_theory)" title="Distance (graph theory)">Graph or network diameter</a></li>
<li><a href="/wiki/Angular_diameter" title="Angular diameter">Angular diameter</a></li>
<li><a href="/wiki/Hydraulic_diameter" title="Hydraulic diameter">Hydraulic diameter</a></li>
<li><a href="/wiki/Caliper" title="Caliper">Caliper</a>, <a href="/wiki/Micrometer" title="Micrometer">micrometer</a>, tools for measuring diameters</li>
<li><a href="/wiki/Eratosthenes" title="Eratosthenes">Eratosthenes</a>, who calculated the diameter of the <a href="/wiki/Earth" title="Earth">Earth</a> around 240 BC.</li>
<li><a href="/wiki/Jung%27s_theorem" title="Jung's theorem">Jung's theorem</a>, an inequality relating the diameter to the radius of the <a href="/wiki/Circumradius" title="Circumradius" class="mw-redirect">smallest enclosing ball</a></li>
<li><a href="/wiki/Sauter_mean_diameter" title="Sauter mean diameter">Sauter mean diameter</a></li>
<li><a href="/wiki/List_of_gear_nomenclature#Inside_diameter" title="List of gear nomenclature">Inside diameter</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Diameter&amp;action=&amp;section=4" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.etymonline.com/index.php?term=diameter">Online Etymology Dictionary</a></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://at.yorku.ca/cgi-bin/bbqa?forum=ask_a_topologist_2004;task=show_msg;msg=0860.0002">Re: diameter of an empty set</a></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFKorpela2006">Korpela, Jukka K. (2006), <a rel="nofollow" class="external text" href="http://books.google.com/books?id=lxndiWaFMvMC&amp;pg=PA23"><i>Unicode Explained</i></a>, O'Reilly Media, Inc., pp.&#160;2324, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/9780596101213" title="Special:BookSources/9780596101213">9780596101213</a><span class="printonly">, <a rel="nofollow" class="external free" href="http://books.google.com/books?id=lxndiWaFMvMC&amp;pg=PA23">http://books.google.com/books?id=lxndiWaFMvMC&amp;pg=PA23</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Unicode+Explained&amp;rft.aulast=Korpela&amp;rft.aufirst=Jukka+K.&amp;rft.au=Korpela%2C%26%2332%3BJukka+K.&amp;rft.date=2006&amp;rft.pages=pp.%26nbsp%3B23%E2%80%9324&amp;rft.pub=O%27Reilly+Media%2C+Inc.&amp;rft.isbn=9780596101213&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DlxndiWaFMvMC%26pg%3DPA23&amp;rfr_id=info:sid/en.wikipedia.org:Diameter"><span style="display: none;">&#160;</span></span>.</span></li>
</ol>
</div>


<!-- 
NewPP limit report
Preprocessor node count: 2747/1000000
Post-expand include size: 30925/2048000 bytes
Template argument size: 4231/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:8007-0!0!0!!en!4!* and timestamp 20120407075202 -->
