<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Direction_(geometry)&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(February 2008)</i></small></td>
</tr>
</table>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Sanas.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/12/Sanas.jpg/220px-Sanas.jpg" width="220" height="187" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Sanas.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The shape of each panel of this <a href="/wiki/Road_sign" title="Road sign" class="mw-redirect">road sign</a>, and the broken lines at the ends, represents an arrow; a space-consuming central bar of the arrow sign is dispensed with.</div>
</div>
</div>
<p><b>Direction</b> is the information contained in the relative position of one point with respect to another point without the <a href="/wiki/Distance" title="Distance">distance</a> information. Directions may be either <a href="/wiki/Relative_direction" title="Relative direction">relative</a> to some indicated reference (the violins in a full orchestra are typically seated to the left of the conductor), or absolute according to some previously agreed upon frame of reference (New York City lies due west of Madrid). Direction is often indicated manually by an extended <a href="/wiki/Index_finger" title="Index finger">index finger</a> or written as an <a href="/wiki/Arrow" title="Arrow">arrow</a>. On a vertically oriented sign representing a horizontal plane, such as a road sign, "forward" is usually indicated by an upward arrow. Mathematically, direction may be uniquely specified by a <a href="/wiki/Unit_vector" title="Unit vector">unit vector</a> in a given <a href="/wiki/Basis" title="Basis">basis</a>, or equivalently by the angles made by the most direct path with respect to a specified set of axes.</p>
<h2><span class="section">[<a href="/w/index.php?title=Direction_(geometry)&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Cardinal_direction" title="Cardinal direction">Cardinal direction</a></li>
<li><a href="/wiki/Compass" title="Compass">Compass</a></li>
<li><a href="/wiki/Navigation" title="Navigation">Navigation</a></li>
<li><a href="/wiki/Radio_direction_finder" title="Radio direction finder">Radio direction finder</a></li>
<li><a href="/wiki/Relative_direction" title="Relative direction">Relative direction</a></li>
<li><a href="/wiki/Affine_space" title="Affine space">Affine space</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 438/1000000
Post-expand include size: 6374/2048000 bytes
Template argument size: 2211/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:4767947-0!*!0!*!*!4!* and timestamp 20120313112730 -->
