<table class="wikitable" align="right" width="300">
<tr valign="top">
<td><a href="/wiki/File:Complete_graph_K2.svg" class="image"><img alt="Complete graph K2.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/96/Complete_graph_K2.svg/120px-Complete_graph_K2.svg.png" width="120" height="120" /></a><br />
An edge between two <a href="/wiki/Vertex_(geometry)" title="Vertex (geometry)">vertices</a></td>
<td><a href="/wiki/File:Square_(geometry).svg" class="image"><img alt="Square (geometry).svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Square_%28geometry%29.svg/120px-Square_%28geometry%29.svg.png" width="120" height="120" /></a><br />
A polygon is bounded by edges, like this <a href="/wiki/Square_(geometry)" title="Square (geometry)">square</a> has 4 edges.</td>
</tr>
<tr valign="top">
<td><a href="/wiki/File:Hexahedron.png" class="image"><img alt="Hexahedron.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/33/Hexahedron.png/120px-Hexahedron.png" width="120" height="120" /></a><br />
Every edge shares two faces in a <a href="/wiki/Polyhedron" title="Polyhedron">polyhedron</a>, like this <a href="/wiki/Cube" title="Cube">cube</a>.</td>
<td><a href="/wiki/File:Hypercube.svg" class="image"><img alt="Hypercube.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/22/Hypercube.svg/120px-Hypercube.svg.png" width="120" height="130" /></a><br />
Every edge shares three or more faces in a <a href="/wiki/4-polytope" title="4-polytope" class="mw-redirect">4-polytope</a>, as seen in this projection of a <a href="/wiki/Tesseract" title="Tesseract">tesseract</a>.</td>
</tr>
</table>
<div class="dablink">For edge in <a href="/wiki/Graph_theory" title="Graph theory">graph theory</a>, see <a href="/wiki/Edge_(graph_theory)" title="Edge (graph theory)" class="mw-redirect">Edge (graph theory)</a>.</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, an <b>edge</b> is a <a href="/wiki/Line_segment" title="Line segment">line segment</a> joining two adjacent vertices in a <a href="/wiki/Polygon" title="Polygon">polygon</a>. Thus applied, an edge is a connector for a one-dimensional line segment and two zero-dimensional objects.</p>
<p>A planar closed sequence of edges forms a <a href="/wiki/Polygon" title="Polygon">polygon</a> (and a <a href="/wiki/Face_(geometry)" title="Face (geometry)">face</a>). In a <a href="/wiki/Polyhedron" title="Polyhedron">polyhedron</a>, exactly two faces meet at every <i>edge</i>, while in higher dimensional <a href="/wiki/Polytope" title="Polytope">polytopes</a>, three or more faces meet at an <i>edge</i>.</p>
<p>In a polygon, an edge can also be called a <a href="/wiki/Facet_(geometry)" title="Facet (geometry)" class="mw-redirect">facet</a> or <i>side</i>, bounding the polygon. In a <a href="/wiki/Polyhedron" title="Polyhedron">polyhedron</a>, an <i>edge</i> can also be considered a <a href="/wiki/Ridge_(geometry)" title="Ridge (geometry)">ridge</a>, being the shared boundary between two faces, and in a <a href="/wiki/4-polytope" title="4-polytope" class="mw-redirect">4-polytope</a>, an <i>edge</i> can be considered a <a href="/wiki/Peak_(geometry)" title="Peak (geometry)">peak</a>, with a cycle of 3 or more faces and <a href="/wiki/Cell_(geometry)" title="Cell (geometry)">cells</a> wrapping around it.</p>
<h2><span class="section">[<a href="/w/index.php?title=Edge_(geometry)&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Euler_characteristic" title="Euler characteristic">Euler characteristic</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Edge_(geometry)&amp;action=&amp;section=2" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a href="/wiki/George_Olshevsky" title="George Olshevsky">Olshevsky, George</a>, <i><a rel="nofollow" class="external text" href="http://web.archive.org/web/20070204075028/members.aol.com/Polycell/glossary.html#Edge">Edge</a></i> at <i>Glossary for Hyperspace</i>.</li>
<li><span class="citation mathworld" id="Reference-Mathworld-Polygonal_edge"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/PolygonEdge.html">Polygonal edge</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><span class="citation mathworld" id="Reference-Mathworld-Polyhedral_edge"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/PolyhedronEdge.html">Polyhedral edge</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Edge_(geometry)&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 213/1000000
Post-expand include size: 4613/2048000 bytes
Template argument size: 828/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:12158034-0!*!0!!*!4!* and timestamp 20120331172205 -->
