<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a href="/wiki/File:Locus_Curve.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Locus_Curve.svg/400px-Locus_Curve.svg.png" width="400" height="133" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Locus_Curve.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A set of loci 2cm, 4cm, 6cm and 8cm from <img class="tex" alt="l" src="//upload.wikimedia.org/wikipedia/en/math/2/d/b/2db95e8e1a9267b7a1188556b2013b33.png" /> towards <img class="tex" alt="P" src="//upload.wikimedia.org/wikipedia/en/math/4/4/c/44c29edb103a2872f519ad0c9a0fdaaa.png" />. These curves are half of the <a href="/wiki/Conchoid_of_Nichomedes" title="Conchoid of Nichomedes" class="mw-redirect">Conchoid of Nichomedes</a>.</div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, a <b>locus</b> (<a href="/wiki/Latin" title="Latin">Latin</a> for "place", plural <i><b>loci</b></i>) is a collection of <a href="/wiki/Point_(geometry)" title="Point (geometry)">points</a> which share a property. For example a <a href="/wiki/Circle" title="Circle">circle</a> may be defined as the locus of points in a plane at a fixed distance from a given point.</p>
<p>A locus may alternatively be described as the path through which a point moves to fulfill a given condition or conditions. So, for example, a circle may also be defined as the locus of a point moving so as to remain at a given distance from a fixed point.</p>
<p>The term occurs in <a href="/wiki/Complex_dynamics" title="Complex dynamics">complex dynamics</a> as:</p>
<ul>
<li><a href="/wiki/Bifurcation_locus" title="Bifurcation locus">Bifurcation locus</a></li>
<li><a href="/wiki/Connectedness_locus" title="Connectedness locus">Connectedness locus</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Locus_(mathematics)&amp;action=&amp;section=1" title="Edit section: Proofs involving loci"></a>]</span> <span class="mw-headline" id="Proofs_involving_loci">Proofs involving loci</span></h2>
<p>In general, a proof that a locus is a particular curve has two parts. The first part is to show that every point on the curve satisfies the condition of the locus and second part is to show that every point that satisfies the condition is on the curve. For example, to show that the locus of points <a href="/wiki/Equidistant" title="Equidistant">equidistant</a> between two given (different) points is their <a href="/wiki/Perpendicular_bisector" title="Perpendicular bisector" class="mw-redirect">perpendicular bisector</a>, one must show:</p>
<ul>
<li>Any point equidistant from the two points lies on the perpendicular bisector,</li>
<li>Any point on this line is equidistant from the two given points.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Locus_(mathematics)&amp;action=&amp;section=2" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Set_(mathematics)" title="Set (mathematics)">Set (mathematics)</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Locus_(mathematics)&amp;action=&amp;section=3" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li>Robert Clarke James, Glenn James: <i>Mathematics Dictionary</i>. Springer 1992, <a href="/wiki/Special:BookSources/9780412990410" class="internal mw-magiclink-isbn">ISBN 9780412990410</a>, p. 255 (<i><a rel="nofollow" class="external text" href="http://books.google.com/books?id=UyIfgBIwLMQC&amp;pg=PA255">restricted online copy</a></i> at <a href="/wiki/Google_Books" title="Google Books">Google Books</a>)</li>
<li><a href="/wiki/Alfred_North_Whitehead" title="Alfred North Whitehead">Alfred North Whitehead</a>: <i>An Introduction to Mathematics</i>. BiblioBazaar LLC 2009 (reprint), <a href="/wiki/Special:BookSources/9781103197842" class="internal mw-magiclink-isbn">ISBN 9781103197842</a>, pp. 121 (<i><a rel="nofollow" class="external text" href="http://books.google.com/books?id=UyIfgBIwLMQC&amp;pg=PA121">restricted online copy</a></i> at <a href="/wiki/Google_Books" title="Google Books">Google Books</a>)</li>
<li>George Wentworth: <i>Junior High School Mathematics: Book III</i>. BiblioBazaar LLC 2009 (reprint), <a href="/wiki/Special:BookSources/9781103152360" class="internal mw-magiclink-isbn">ISBN 9781103152360</a>, pp. 265 (<i><a rel="nofollow" class="external text" href="http://books.google.com/books?id=cPlTB4qe40MC&amp;pg=PA265">restricted online copy</a></i> at <a href="/wiki/Google_Books" title="Google Books">Google Books</a>)</li>
</ul>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Locus_(mathematics)&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 221/1000000
Post-expand include size: 4196/2048000 bytes
Template argument size: 731/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:542465-0!0!0!!*!4!* and timestamp 20120409085751 -->
