<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Medial_Triangle.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Medial_Triangle.svg/220px-Medial_Triangle.svg.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Medial_Triangle.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The red triangle is the medial triangle of the black. The endpoints of the red triangle coincide with the midpoints of the black triangle.</div>
</div>
</div>
<p>The <b>medial triangle</b> of a <a href="/wiki/Triangle" title="Triangle">triangle</a> <i>ABC</i> is the triangle with vertices at the <a href="/wiki/Midpoint" title="Midpoint">midpoints</a> of the triangle's sides AB, AC and BC. (The medial triangle is <b>different</b> from the <a href="/w/index.php?title=Median_triangle&amp;action=&amp;redlink=1" class="new" title="Median triangle (page does not exist)">median triangle</a>.)<sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Please_clarify" title="Wikipedia:Please clarify"><span title="The text in the vicinity of this tag needs clarification or removal of jargon from February 2011">clarification needed</span></a></i>]</sup></p>
<p>The medial triangle can also be viewed as the image of triangle <i>ABC</i> transformed by a <a href="/wiki/Homothety" title="Homothety" class="mw-redirect">homothety</a> centered at the <a href="/wiki/Centroid" title="Centroid">centroid</a> with ratio -1/2. Hence, the medial triangle is inversely <a href="/wiki/Similarity_(geometry)" title="Similarity (geometry)">similar</a> and shares the same centroid and <a href="/wiki/Median_(geometry)" title="Median (geometry)">medians</a> with triangle <i>ABC</i>. It also follows from this that the <a href="/wiki/Perimeter" title="Perimeter">perimeter</a> of the medial triangle equals the <a href="/wiki/Semiperimeter" title="Semiperimeter">semiperimeter</a> of triangle <i>ABC</i>, and that the <a href="/wiki/Area" title="Area">area</a> is one quarter of the area of triangle <i>ABC</i>.</p>
<p>Note that the <a href="/wiki/Orthocenter" title="Orthocenter" class="mw-redirect">orthocenter</a> of the medial triangle coincides with the <a href="/wiki/Circumcenter" title="Circumcenter" class="mw-redirect">circumcenter</a> of triangle <i>ABC</i>. This fact provides a tool for proving <a href="/wiki/Line_(geometry)" title="Line (geometry)">collinearity</a> of the circumcenter, centroid and orthocenter. The medial triangle is the <a href="/wiki/Pedal_triangle" title="Pedal triangle">pedal triangle</a> of the circumcenter.</p>
<p>If <i>XYZ</i> is the medial triangle of <i>ABC</i>, then <i>ABC</i> is the <b>anticomplementary triangle</b> of <i>XYZ</i>. The anticomplementary triangle of <i>ABC</i> is formed by three lines parallel to the sides of <i>ABC</i>: the parallel to <i>AB</i> through <i>C</i>, the parallel to <i>AC</i> through <i>B</i>, and the parallel to <i>BC</i> through <i>A</i>.</p>
<p>Let a = |BC|, b = |CA|, c = |AB| be the sidelengths of triangle ABC. <a href="/wiki/Trilinear_coordinates" title="Trilinear coordinates">Trilinear coordinates</a> for the vertices of the medial triangle are given by</p>
<ul>
<li>X = 0&#160;: 1/b&#160;: 1/c</li>
<li>Y = 1/a&#160;: 0&#160;: 1/c</li>
<li>Z = 1/a&#160;: 1/b&#160;: 0</li>
</ul>
<p><a href="/wiki/Trilinear_coordinates" title="Trilinear coordinates">Trilinear coordinates</a> for the vertices of the anticomplementary triangle, X'Y'Z', are given by</p>
<ul>
<li>X' = 1/a&#160;: 1/b&#160;: 1/c</li>
<li>Y' = 1/a&#160;: 1/b&#160;: 1/c</li>
<li>Z' = 1/a&#160;: 1/b&#160;: 1/c</li>
</ul>
<p>The name "anticomplementary triangle" corresponds to the fact that its vertices are the anticomplements of the vertices A, B, C of the reference triangle. The vertices of the medial triangle are the complements of A, B, C.</p>
<p>A point in the interior of a triangle is the center of an <a href="/wiki/Circumconic_and_inconic" title="Circumconic and inconic">inellipse</a> of the triangle if and only if the point lies in the interior of the medial triangle.<sup id="cite_ref-Chakerian_0-0" class="reference"><a href="#cite_note-Chakerian-0"><span>[</span>1<span>]</span></a></sup><sup class="reference" style="white-space:nowrap;">:p.139</sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Medial_triangle&amp;action=&amp;section=1" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-Chakerian-0"><b><a href="#cite_ref-Chakerian_0-0">^</a></b> <span class="reference-text">Chakerian, G. D. "A Distorted View of Geometry." Ch. 7 in <i>Mathematical Plums</i> (R. Honsberger, or). Washington, DC: Mathematical Association of America, 1979.</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Medial_triangle&amp;action=&amp;section=2" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Medial_triangle"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/MedialTriangle.html">Medial triangle</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><span class="citation mathworld" id="Reference-Mathworld-Anticomplementary_Triangle"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/AnticomplementaryTriangle.html">Anticomplementary Triangle</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 558/1000000
Post-expand include size: 4049/2048000 bytes
Template argument size: 1361/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:3339743-0!*!0!!*!4!* and timestamp 20120413141139 -->
