<div class="dablink">For another use of the term <b>median</b> in geometry, see <a href="/wiki/Geometric_median" title="Geometric median">Geometric median</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Triangle.Centroid.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Triangle.Centroid.svg/220px-Triangle.Centroid.svg.png" width="220" height="178" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Triangle.Centroid.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The triangle medians and the centroid.</div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, a <b>median</b> of a <a href="/wiki/Triangle" title="Triangle">triangle</a> is a <a href="/wiki/Line_segment" title="Line segment">line segment</a> joining a <a href="/wiki/Vertex_(geometry)" title="Vertex (geometry)">vertex</a> to the <a href="/wiki/Midpoint" title="Midpoint">midpoint</a> of the opposing side. Every triangle has exactly three medians: one running from each vertex to the opposite side. In the case of <a href="/wiki/Isosceles" title="Isosceles" class="mw-redirect">isosceles</a> and <a href="/wiki/Equilateral" title="Equilateral" class="mw-redirect">equilateral</a> triangles, a median bisects any angle at a vertex whose two adjacent sides are equal in length.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Relation_to_center_of_mass"><span class="tocnumber">1</span> <span class="toctext">Relation to center of mass</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Equal-area_division"><span class="tocnumber">2</span> <span class="toctext">Equal-area division</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Proof"><span class="tocnumber">2.1</span> <span class="toctext">Proof</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-4"><a href="#Formulas_involving_the_medians.27_lengths"><span class="tocnumber">3</span> <span class="toctext">Formulas involving the medians' lengths</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Other_properties"><span class="tocnumber">4</span> <span class="toctext">Other properties</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#External_links"><span class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Median_(geometry)&amp;action=&amp;section=1" title="Edit section: Relation to center of mass"></a>]</span> <span class="mw-headline" id="Relation_to_center_of_mass">Relation to center of mass</span></h2>
<p>Each median of a triangle passes through the triangle's <a href="/wiki/Centroid" title="Centroid">centroid</a>, which is the center of mass of an object of uniform density in the shape of the triangle. Thus the object would balance on any line through the centroid, including any median.</p>
<h2><span class="section">[<a href="/w/index.php?title=Median_(geometry)&amp;action=&amp;section=2" title="Edit section: Equal-area division"></a>]</span> <span class="mw-headline" id="Equal-area_division">Equal-area division</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a href="/wiki/File:Triangle.Centroid.Median.png" class="image"><img alt="Triangle.Centroid.Median.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Triangle.Centroid.Median.png/300px-Triangle.Centroid.Median.png" width="300" height="259" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Triangle.Centroid.Median.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
</div>
</div>
</div>
<p>Each median divides the area of the triangle in half; hence the name. (Any other lines which divide the area of the triangle into two equal parts do not pass through the centroid.)<a rel="nofollow" class="external autonumber" href="http://www.btinternet.com/~se16/js/halfarea.htm">[1]</a> The three medians divide the triangle into six smaller triangles of equal <a href="/wiki/Area" title="Area">area</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Median_(geometry)&amp;action=&amp;section=3" title="Edit section: Proof"></a>]</span> <span class="mw-headline" id="Proof">Proof</span></h3>
<p>Consider a triangle <i>ABC</i> Let <i>D</i> be the midpoint of <img class="tex" alt="\overline{AB}" src="//upload.wikimedia.org/wikipedia/en/math/4/d/5/4d5f1f7b8a17c2052c4351dc169ac1bb.png" />, <i>E</i> be the midpoint of <img class="tex" alt="\overline{BC}" src="//upload.wikimedia.org/wikipedia/en/math/e/9/1/e9198af4810f8cedcc22256209b20024.png" />, <i>F</i> be the midpoint of <img class="tex" alt="\overline{AC}" src="//upload.wikimedia.org/wikipedia/en/math/4/d/0/4d03743f4bccc17274f384b62e2f448e.png" />, and <i>O</i> be the centroid.</p>
<p>By definition, <img class="tex" alt="AD=DB, AF=FC, BE=EC \," src="//upload.wikimedia.org/wikipedia/en/math/f/7/6/f76b5ff221a176c0307f2d1d4e91c9d8.png" />. Thus <img class="tex" alt="[ADO]=[BDO], [AFO]=[CFO], [BEO]=[CEO]," src="//upload.wikimedia.org/wikipedia/en/math/7/7/b/77b70d2574818a26740627f13950ef51.png" /> and <img class="tex" alt="[ABE]=[ACE] \," src="//upload.wikimedia.org/wikipedia/en/math/4/5/5/4553da185143e47b2e02e93d91d6781a.png" />, where <img class="tex" alt="[ABC]" src="//upload.wikimedia.org/wikipedia/en/math/f/b/f/fbf29c161428aa651110db2c6230f2b9.png" /> represents the <a href="/wiki/Area" title="Area">area</a> of triangle <img class="tex" alt="\triangle ABC" src="//upload.wikimedia.org/wikipedia/en/math/6/3/5/635759e23aaf6e02541e3b72d65268d0.png" />&#160;; these hold because in each case the two triangles have bases of equal length and share a common altitude from the (extended) base, and a triangle's area equals one-half its base times its height.</p>
<p>We have:</p>
<dl>
<dd><img class="tex" alt="[ABO]=[ABE]-[BEO] \," src="//upload.wikimedia.org/wikipedia/en/math/e/6/7/e672251603b6141a430b671088ac80cb.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="[ACO]=[ACE]-[CEO] \," src="//upload.wikimedia.org/wikipedia/en/math/d/b/e/dbefaaa97dc7d7ed147fc52cee64b6ef.png" /></dd>
</dl>
<p>Thus, <img class="tex" alt="[ABO]=[ACO] \," src="//upload.wikimedia.org/wikipedia/en/math/3/2/9/32936043ef1dc05eba2137ffc4a3f479.png" /> and <img class="tex" alt="[ADO]=[DBO], [ADO]=\frac{1}{2}[ABO]" src="//upload.wikimedia.org/wikipedia/en/math/5/9/8/598b6f25309c905043792c94accee187.png" /></p>
<p>Since <img class="tex" alt="[AFO]=[FCO], [AFO]= \frac{1}{2}ACO=\frac{1}{2}[ABO]=[ADO]" src="//upload.wikimedia.org/wikipedia/en/math/0/1/6/01695df52079ece19f02abf08721d462.png" />, therefore, <img class="tex" alt="[AFO]=[FCO]=[DBO]=[ADO]\," src="//upload.wikimedia.org/wikipedia/en/math/f/9/7/f97c77869d6597f6bba806205bf28e87.png" />. Using the same method, you can show that <img class="tex" alt="[AFO]=[FCO]=[DBO]=[ADO]=[BEO]=[CEO] \," src="//upload.wikimedia.org/wikipedia/en/math/3/b/4/3b43c554f48693561fd0ccdb8506053d.png" />.</p>
<h2><span class="section">[<a href="/w/index.php?title=Median_(geometry)&amp;action=&amp;section=4" title="Edit section: Formulas involving the medians' lengths"></a>]</span> <span class="mw-headline" id="Formulas_involving_the_medians.27_lengths">Formulas involving the medians' lengths</span></h2>
<p>The lengths of the medians can be obtained from <a href="/wiki/Apollonius%27_theorem" title="Apollonius' theorem">Apollonius' theorem</a> as:</p>
<dl>
<dd><img class="tex" alt="m_a = \sqrt {\frac{2 b^2 + 2 c^2 - a^2}{4} }, " src="//upload.wikimedia.org/wikipedia/en/math/b/5/4/b54bc04706ef8c3f73bb90bce70c981f.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="m_b = \sqrt {\frac{2 a^2 + 2 c^2 - b^2}{4} }, " src="//upload.wikimedia.org/wikipedia/en/math/6/9/0/69012715be9924b712c73879b5e13572.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="m_c = \sqrt {\frac{2 a^2 + 2 b^2 - c^2}{4} }, " src="//upload.wikimedia.org/wikipedia/en/math/8/6/a/86a3a7727a6e2e1b0f2ad636701fbb3a.png" /></dd>
</dl>
<p>where <i>a</i>, <i>b</i> and <i>c</i> are the sides of the triangle with respective medians <i>m</i><sub><i>a</i></sub>, <i>m</i><sub><i>b</i></sub>, and <i>m</i><sub><i>c</i></sub> from their midpoints.</p>
<p>Thus we have the relationships:<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="a = \frac{2}{3} \sqrt{-m_a^2 + 2m_b^2 + 2m_c^2} = \sqrt{2(b^2+c^2)-4m_a^2} = \sqrt{\frac{b^2}{2} - c^2 + 2m_b^2} = \sqrt{\frac{c^2}{2} - b^2 + 2m_c^2}," src="//upload.wikimedia.org/wikipedia/en/math/4/f/f/4ffc6ab91a9757d52f609a8791f0c5f7.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="b = \frac{2}{3} \sqrt{-m_b^2 + 2m_a^2 + 2m_c^2} = \sqrt{2(a^2+c^2)-4m_b^2} = \sqrt{\frac{a^2}{2} - c^2 + 2m_a^2} = \sqrt{\frac{c^2}{2} - a^2 + 2m_c^2}," src="//upload.wikimedia.org/wikipedia/en/math/8/b/3/8b3019738d3d33c15d4672af55cab8a0.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="c = \frac{2}{3} \sqrt{-m_c^2 + 2m_b^2 + 2m_a^2} = \sqrt{2(b^2+a^2)-4m_c^2} = \sqrt{\frac{b^2}{2} - a^2 + 2m_b^2} = \sqrt{\frac{a^2}{2} - b^2 + 2m_a^2}." src="//upload.wikimedia.org/wikipedia/en/math/9/2/f/92fddff1250d3d9d0aefa974581527ab.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Median_(geometry)&amp;action=&amp;section=5" title="Edit section: Other properties"></a>]</span> <span class="mw-headline" id="Other_properties">Other properties</span></h2>
<p>The centroid divides each median into parts in the ratio 2:1, with the centroid being twice as close to the midpoint of a side as it is to the opposite vertex.</p>
<p>For any triangle,<sup id="cite_ref-P.26S_1-0" class="reference"><a href="#cite_note-P.26S-1"><span>[</span>2<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="\tfrac{3}{4}" src="//upload.wikimedia.org/wikipedia/en/math/0/a/6/0a68e73c11ad2348d7f564e980ecdbab.png" />(perimeter) &lt; sum of the medians &lt; <img class="tex" alt="\tfrac{3}{2}" src="//upload.wikimedia.org/wikipedia/en/math/d/1/1/d11b4d95d5bd330b8dc219f09c35b400.png" />(perimeter).</dd>
</dl>
<p>For any triangle with sides <img class="tex" alt="a, b, c" src="//upload.wikimedia.org/wikipedia/en/math/a/4/4/a44c56c8177e32d3613988f4dba7962e.png" /> and medians <img class="tex" alt="m_a, m_b, m_c" src="//upload.wikimedia.org/wikipedia/en/math/6/1/f/61f82eb4866c4b7f85e095cc2cbc4a4e.png" />,<sup id="cite_ref-P.26S_1-1" class="reference"><a href="#cite_note-P.26S-1"><span>[</span>2<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="\tfrac{3}{4}(a^2+b^2+c^2)=m_a^2+m_b^2+m_c^2." src="//upload.wikimedia.org/wikipedia/en/math/5/e/3/5e3dcc5de744e86519283c2370b8baff.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Median_(geometry)&amp;action=&amp;section=6" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Angle_bisector" title="Angle bisector" class="mw-redirect">Angle bisector</a></li>
<li><a href="/wiki/Altitude_(triangle)" title="Altitude (triangle)">Altitude (triangle)</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Median_(geometry)&amp;action=&amp;section=7" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation book">Dplanche, Y. (1996). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=1HVHOwAACAAJ"><i>Diccio frmulas</i></a>. Medianas de un tringulo. Edunsa. p.&#160;22. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/9788477471196" title="Special:BookSources/9788477471196">9788477471196</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=1HVHOwAACAAJ">http://books.google.com/books?id=1HVHOwAACAAJ</a></span><span class="reference-accessdate">. Retrieved 2011-04-24</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Diccio+f%C3%B3rmulas&amp;rft.aulast=D%C3%A9planche&amp;rft.aufirst=Y.&amp;rft.au=D%C3%A9planche%2C%26%2332%3BY.&amp;rft.date=1996&amp;rft.pages=p.%26nbsp%3B22&amp;rft.pub=Edunsa&amp;rft.isbn=9788477471196&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3D1HVHOwAACAAJ&amp;rfr_id=info:sid/en.wikipedia.org:Median_(geometry)"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-P.26S-1">^ <a href="#cite_ref-P.26S_1-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-P.26S_1-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text">Posamentier, Alfred S., and Salkind, Charles T., <i>Challenging Problems in Geometry</i>, Dover, 1996: pp. 86-87.</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Median_(geometry)&amp;action=&amp;section=8" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" width="30" height="40" /></td>
<td class="mbox-text" style="">Wikimedia Commons has media related to: <i><b><a class="external text" href="//commons.wikimedia.org/wiki/Category:Median_(geometry)">Median (geometry)</a></b></i></td>
</tr>
</table>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.btinternet.com/~se16/js/halfarea.htm">Medians and Area Bisectors of a Triangle</a></li>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/triangle/medians.shtml">The Medians</a> at <a href="/wiki/Cut-the-knot" title="Cut-the-knot" class="mw-redirect">cut-the-knot</a></li>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/Curriculum/Geometry/MedianTriangle.shtml">Area of Median Triangle</a> at <a href="/wiki/Cut-the-knot" title="Cut-the-knot" class="mw-redirect">cut-the-knot</a></li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/trianglemedians.html">Medians of a triangle</a> With interactive animation</li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/constmedian.html">Constructing a median of a triangle with compass and straightedge</a> animated demonstration</li>
<li><span class="citation mathworld" id="Reference-Mathworld-Triangle_Median"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/TriangleMedian.html">Triangle Median</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1221/1000000
Post-expand include size: 6785/2048000 bytes
Template argument size: 1905/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1072006-0!0!0!!en!4!* and timestamp 20120412191501 -->
