<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Cube_diagonals.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Cube_diagonals.svg/250px-Cube_diagonals.svg.png" width="250" height="241" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Cube_diagonals.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
AC' (shown in blue) is a space diagonal while AC (shown in red) is a <a href="/wiki/Face_diagonal" title="Face diagonal">face diagonal</a></div>
</div>
</div>
<p>In a <a href="/wiki/Cuboid" title="Cuboid">rectangular box</a> or a <a href="/wiki/Magic_cube" title="Magic cube">magic cube</a>, the four <b>space diagonals</b> are the lines that go from a corner of the box or cube, through the center of the box or cube, to the opposite corner. These lines are also called <i>triagonals</i> or <i>volume diagonals</i>.</p>
<p>For the cube to be considered magic, these four lines must sum correctly.</p>
<p>The word triagonal is derived from the fact that as a variable point travels down the line, three coordinates change. The equivalent in a <a href="/wiki/Square_(geometry)" title="Square (geometry)">square</a> is <a href="/wiki/Diagonal" title="Diagonal">diagonal</a>, because two coordinates change. In a <a href="/wiki/Tesseract" title="Tesseract">tesseract</a> it is <a href="/wiki/Quadragonal" title="Quadragonal" class="mw-redirect">quadragonal</a> because 4 coordinates change, etc.</p>
<p>The space diagonal of a <a href="/wiki/Cube" title="Cube">cube</a> with side length <img class="tex" alt="a" src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0cc175b9c0f1b6a831c399e269772661.png" /> is <img class="tex" alt="a\sqrt {3}" src="//upload.wikimedia.org/wikipedia/en/math/d/c/a/dca31b4dbd8c7bd5aa84028e8e77f3ca.png" />.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#r-agonals"><span class="tocnumber">1</span> <span class="toctext"><i>r</i>-agonals</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#See_also"><span class="tocnumber">2</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#References"><span class="tocnumber">3</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#External_links"><span class="tocnumber">4</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Space_diagonal&amp;action=&amp;section=1" title="Edit section: r-agonals"></a>]</span> <span class="mw-headline" id="r-agonals"><i>r</i>-agonals</span></h2>
<p>This section applies particularly to <a href="/wiki/Magic_hypercubes" title="Magic hypercubes" class="mw-redirect">Magic hypercubes</a>.</p>
<p>The magic hypercube community has started to recognize an abbreviated expression for these <i>space diagonals</i>. By using <i>r</i> as a variable to describe the various <i>agonals</i>, a concise notation is possible.</p>
<p>If <i>r</i> =</p>
<ul>
<li>2 then we have a diagonal. 2 coordinates change.</li>
<li>3 = a <i>triagonal</i>. 3 coordinates change</li>
<li>4 = a <i>quadragonal</i>. 4 coordinates change</li>
<li><i>n</i> = the dimension of the hypercube, the <i>2<sup>n-1</sup></i> agonals are required to sum correctly for the hypercube to be considered magic.</li>
</ul>
<p>... By extension, if <i>r</i> =</p>
<ul>
<li>1, the line is parallel to a face. Only 1 coordinate changes. A 1-agonal may be called a monagonal, in keeping with a diagonal, a triagonal, etc. Lines parallel to the faces of the hypercube have, in the past, also been referred to as i-rows.</li>
</ul>
<p>Because the prefix <i>pan</i> indicates <i>all</i>, we can concisely state the characteristics or a magic hypercube.</p>
<p>For example;</p>
<ul>
<li>If pan-<i>r</i>-agonals sum correctly for <i>r</i> = 1 and 2, we know the square is pandiagonal magic.</li>
<li>If pan-<i>r</i>-agonals sum correctly for <i>r</i> = 1 and 3, we have a pantriagonal magic cube (the equivalent of a pandiagonal magic square).</li>
<li>If the <i>r</i>-agonals sum correctly for <i>r</i> = 1 and <i>n</i>, then the magic hypercube is simple magic regardless of what dimension it is.</li>
</ul>
<p>The length of an <i>r</i>-agonal of a <a href="/wiki/Hypercube" title="Hypercube">hypercube</a> with side length <i>a</i> is <img class="tex" alt="\sqrt {ra^2}" src="//upload.wikimedia.org/wikipedia/en/math/c/2/6/c26884a940eb77c0a27c4049cb8b42a7.png" />.</p>
<h2><span class="section">[<a href="/w/index.php?title=Space_diagonal&amp;action=&amp;section=2" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Magic_cube" title="Magic cube">Magic cube</a></li>
<li><a href="/wiki/Magic_hypercube" title="Magic hypercube">Magic hypercube</a></li>
<li><a href="/wiki/Magic_cube_classes" title="Magic cube classes">Magic cube classes</a></li>
<li><a href="/wiki/Hypotenuse" title="Hypotenuse">Hypotenuse</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Space_diagonal&amp;action=&amp;section=3" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li>John R. Hendricks, <i>The Pan-3-Agonal Magic Cube</i>, Journal of Recreational Mathematics 5:1:1972, pp 51-54. First published mention of pan-3-agonals</li>
<li>Hendricks, J. R., <i>Magic Squares to Tesseracts by Computer</i>, 1998, 0-9684700-0-9, page 49</li>
<li>Heinz &amp; Hendricks, <i>Magic Square Lexicon: Illustrated</i>, 2000, 0-9687985-0-0, pages 99,165</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Space_diagonal&amp;action=&amp;section=4" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Space_Diagonals"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/SpaceDiagonal.html">Space Diagonals</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><a rel="nofollow" class="external text" href="http://www.magichypercubes.com/Encyclopedia/index.html">de Winkel Magic Encyclopedia</a></li>
<li><a rel="nofollow" class="external text" href="http://members.shaw.ca/hdhcubes/cube_basics.htm">Heinz - Basic cube parts</a></li>
<li><a rel="nofollow" class="external text" href="http://members.shaw.ca/johnhendricksmath/">John Hendricks Hypercubes</a></li>
</ul>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Space_diagonal&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 210/1000000
Post-expand include size: 4035/2048000 bytes
Template argument size: 654/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1337505-0!0!0!!en!4!* and timestamp 20120410050458 -->
