<div class="dablink">This article is about the geometrical concept.  For other uses, see <a href="/wiki/Sphere_(disambiguation)" title="Sphere (disambiguation)">Sphere (disambiguation)</a>.</div>
<div class="dablink">"Globose" redirects here. See also <a href="/wiki/Globose_nucleus" title="Globose nucleus">Globose nucleus</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Sphere_wireframe_10deg_6r.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Sphere_wireframe_10deg_6r.svg/220px-Sphere_wireframe_10deg_6r.svg.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Sphere_wireframe_10deg_6r.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A two-dimensional <a href="/wiki/3D_projection#Perspective_projection" title="3D projection">perspective projection</a> of a sphere</div>
</div>
</div>
<p>A <b>sphere</b> (from <a href="/wiki/Greek_language" title="Greek language">Greek</a>   <i>sphaira</i>, "globe, ball"<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup>) is a perfectly round <a href="/wiki/Geometrical" title="Geometrical" class="mw-redirect">geometrical</a> object in <a href="/wiki/Solid_geometry" title="Solid geometry">three-dimensional space</a>, such as the shape of a round <a href="/wiki/Ball" title="Ball">ball</a>. Like a <a href="/wiki/Circle" title="Circle">circle</a>, which is in two dimensions, a perfect sphere is completely <a href="/wiki/Symmetrical" title="Symmetrical" class="mw-redirect">symmetrical</a> around its center, with all points on the surface lying the same distance <i>r</i> from the center point. This distance <i>r</i> is known as the "<a href="/wiki/Radius" title="Radius">radius</a>" of the sphere. The maximum straight distance through the sphere is known as the "<a href="/wiki/Diameter" title="Diameter">diameter</a>" of the sphere. It passes through the center and is thus twice the radius.</p>
<p>In mathematics, a careful distinction is made between the sphere (a two-dimensional spherical surface <a href="/wiki/Embedding" title="Embedding">embedded</a> in three-dimensional <a href="/wiki/Euclidean_space" title="Euclidean space">Euclidean space</a>) and the <a href="/wiki/Ball_(mathematics)" title="Ball (mathematics)">ball</a> (the three-dimensional shape consisting of a sphere and its interior).</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Volume_of_a_sphere"><span class="tocnumber">1</span> <span class="toctext">Volume of a sphere</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Surface_area_of_a_sphere"><span class="tocnumber">2</span> <span class="toctext">Surface area of a sphere</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Equations_in_R3"><span class="tocnumber">3</span> <span class="toctext">Equations in R<sup>3</sup></span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Terminology"><span class="tocnumber">4</span> <span class="toctext">Terminology</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Hemisphere"><span class="tocnumber">5</span> <span class="toctext">Hemisphere</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Generalization_to_other_dimensions"><span class="tocnumber">6</span> <span class="toctext">Generalization to other dimensions</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Generalization_to_metric_spaces"><span class="tocnumber">7</span> <span class="toctext">Generalization to metric spaces</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Topology"><span class="tocnumber">8</span> <span class="toctext">Topology</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#Spherical_geometry"><span class="tocnumber">9</span> <span class="toctext">Spherical geometry</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#Eleven_properties_of_the_sphere"><span class="tocnumber">10</span> <span class="toctext">Eleven properties of the sphere</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#Cubes_in_relation_to_spheres"><span class="tocnumber">11</span> <span class="toctext">Cubes in relation to spheres</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#See_also"><span class="tocnumber">12</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-13"><a href="#References"><span class="tocnumber">13</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-14"><a href="#External_links"><span class="tocnumber">14</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=1" title="Edit section: Volume of a sphere"></a>]</span> <span class="mw-headline" id="Volume_of_a_sphere">Volume of a sphere</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Esfera_Arqu%C3%ADmedes.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Esfera_Arqu%C3%ADmedes.jpg/220px-Esfera_Arqu%C3%ADmedes.jpg" width="220" height="233" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Esfera_Arqu%C3%ADmedes.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Circumscribed cylinder to a sphere.</div>
</div>
</div>
<p>In 3 dimensions, the <a href="/wiki/Volume" title="Volume">volume</a> inside a sphere (that is, the volume of a <a href="/wiki/Ball_(mathematics)" title="Ball (mathematics)">ball</a>) is given by the formula</p>
<dl>
<dd><img class="tex" alt="\!V = \frac{4}{3}\pi r^3" src="//upload.wikimedia.org/wikipedia/en/math/e/6/7/e678db0137d57dddf5d66f02a6fdf4ef.png" /></dd>
</dl>
<p>where <i>r</i> is the radius of the sphere and  is the constant <a href="/wiki/Pi" title="Pi">pi</a>. This formula was first derived by <a href="/wiki/Archimedes" title="Archimedes">Archimedes</a>, who showed that the volume of a sphere is 2/3 that of a <a href="/wiki/Circumscribe" title="Circumscribe" class="mw-redirect">circumscribed</a> <a href="/wiki/Cylinder_(geometry)" title="Cylinder (geometry)">cylinder</a>. (This assertion follows from <a href="/wiki/Cavalieri%27s_principle" title="Cavalieri's principle">Cavalieri's principle</a>.) In modern mathematics, this formula can be derived using <a href="/wiki/Integral_calculus" title="Integral calculus" class="mw-redirect">integral calculus</a>, i.e. <a href="/wiki/Disk_integration" title="Disk integration">disk integration</a> to sum the volumes of an infinite number of circular disks of infinitesimally small thickness stacked centered side by side along the <i>x</i> axis from <span class="nowrap"><i>x</i> = 0</span> where the disk has radius <i>r</i> (i.e. <span class="nowrap"><i>y</i> = <i>r</i></span>) to <span class="nowrap"><i>x</i> = <i>r</i></span> where the disk has radius 0 (i.e. <span class="nowrap"><i>y</i> = 0</span>).</p>
<p>At any given <i>x</i>, the incremental volume (<i>V</i>) is given by the product of the cross-sectional <a href="/wiki/Area_of_a_disk#Onion_proof" title="Area of a disk">area of the disk</a> at <i>x</i> and its thickness (<i>x</i>):</p>
<dl>
<dd><img class="tex" alt="\!\delta V \approx \pi y^2 \cdot \delta x." src="//upload.wikimedia.org/wikipedia/en/math/b/8/4/b84755c78c28bdac4188bacdfa446042.png" /></dd>
</dl>
<p>The total volume is the summation of all incremental volumes:</p>
<dl>
<dd><img class="tex" alt="\!V \approx \sum \pi y^2 \cdot \delta x." src="//upload.wikimedia.org/wikipedia/en/math/1/1/e/11e3b77a575a2efcaff2df468e375b47.png" /></dd>
</dl>
<p>In the limit as x approaches zero<sup id="cite_ref-delta_1-0" class="reference"><a href="#cite_note-delta-1"><span>[</span>2<span>]</span></a></sup> this becomes:</p>
<dl>
<dd><img class="tex" alt="\!V = \int_{-r}^{r} \pi y^2 dx." src="//upload.wikimedia.org/wikipedia/en/math/1/8/3/183e36da23a7e00f3c81a78504748233.png" /></dd>
</dl>
<p>At any given <i>x</i>, a right-angled triangle connects <i>x</i>, <i>y</i> and <i>r</i> to the origin, hence it follows from the <a href="/wiki/Pythagorean_theorem" title="Pythagorean theorem">Pythagorean theorem</a> that:</p>
<dl>
<dd><img class="tex" alt="\!r^2 = x^2 + y^2." src="//upload.wikimedia.org/wikipedia/en/math/f/3/e/f3ed1c70540118b3bbea7938e9cf0d9b.png" /></dd>
</dl>
<p>Thus, substituting <i>y</i> with a function of <i>x</i> gives:</p>
<dl>
<dd><img class="tex" alt="\!V = \int_{-r}^{r} \pi (r^2 - x^2)dx." src="//upload.wikimedia.org/wikipedia/en/math/d/e/6/de62eedd584775e4c9d9082b4f25bbe2.png" /></dd>
</dl>
<p>This can now be evaluated:</p>
<dl>
<dd><img class="tex" alt="\!V = \pi \left[r^2x - \frac{x^3}{3} \right]_{-r}^{r} = \pi \left(r^3 - \frac{r^3}{3} \right) - \pi \left(-r^3 + \frac{r^3}{3} \right) = \frac{4}{3}\pi r^3." src="//upload.wikimedia.org/wikipedia/en/math/e/b/0/eb0e94717b0e0c5b44f997df13d4fa4a.png" /></dd>
</dl>
<p>Therefore the volume of a sphere is:</p>
<dl>
<dd><img class="tex" alt="\!V = \frac{4}{3}\pi r^3." src="//upload.wikimedia.org/wikipedia/en/math/5/8/3/583e905ee603dba2319787609527f8e0.png" /></dd>
</dl>
<p>Alternatively this formula is found using <a href="/wiki/Spherical_coordinates" title="Spherical coordinates" class="mw-redirect">spherical coordinates</a>, with volume element</p>
<dl>
<dd><img class="tex" alt="\mathrm{d}V=r^2\sin\theta\,\mathrm{d}r\,\mathrm{d}\theta\,\mathrm{d}\varphi" src="//upload.wikimedia.org/wikipedia/en/math/b/8/9/b898f90eeaf713fceda8bfc12100112d.png" /></dd>
</dl>
<p>In higher dimensions, the sphere (or <a href="/wiki/Hypersphere" title="Hypersphere" class="mw-redirect">hypersphere</a>) is usually called an <i>n</i>-ball. General recursive formulas exist for <a href="/wiki/Deriving_the_volume_of_an_n-ball" title="Deriving the volume of an n-ball">deriving the volume of an <i>n</i>-ball</a>.</p>
<p>For most practical purposes, the volume of a sphere <a href="/wiki/Inscribed_figure" title="Inscribed figure">inscribed</a> in a cube can be approximated as 52.4% of the volume of the cube, since <img class="tex" alt="\pi/6 \approx 0.5236" src="//upload.wikimedia.org/wikipedia/en/math/7/1/e/71e623347b1518bab512c1acb52a401b.png" />. For example, since a cube with edge length 1&#160;m has a volume of 1&#160;m<sup>3</sup>, a sphere with diameter 1&#160;m has a volume of about 0.524&#160;m<sup>3</sup>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=2" title="Edit section: Surface area of a sphere"></a>]</span> <span class="mw-headline" id="Surface_area_of_a_sphere">Surface area of a sphere</span></h2>
<p>The <a href="/wiki/Surface_area" title="Surface area">surface area</a> of a sphere is given by the following formula:</p>
<dl>
<dd><img class="tex" alt="\!A = 4\pi r^2." src="//upload.wikimedia.org/wikipedia/en/math/c/4/9/c49461dde7d4d9ae64b99060fe7f3588.png" /></dd>
</dl>
<p>This formula was first derived by <a href="/wiki/Archimedes" title="Archimedes">Archimedes</a>, based upon the fact that the projection to the lateral surface of a <a href="/wiki/Circumscribe" title="Circumscribe" class="mw-redirect">circumscribed</a> cylinder (i.e. the <a href="/wiki/Lambert_cylindrical_equal-area_projection" title="Lambert cylindrical equal-area projection">Lambert cylindrical equal-area projection</a>) is area-preserving. It is also the <a href="/wiki/Derivative" title="Derivative">derivative</a> of the formula for the volume with respect to <i>r</i> because the total volume of a sphere of radius <i>r</i> can be thought of as the summation of the surface area of an infinite number of spherical shells of infinitesimal thickness concentrically stacked inside one another from radius 0 to radius <i>r</i>. At infinitesimal thickness the discrepancy between the inner and outer surface area of any given shell is infinitesimal and the elemental volume at radius <i>r</i> is simply the product of the surface area at radius <i>r</i> and the infinitesimal thickness.</p>
<p>At any given radius <i>r</i>, the incremental volume (<i>V</i>) is given by the product of the surface area at radius <i>r</i> (<i>A</i>(<i>r</i>)) and the thickness of a shell (<i>r</i>):</p>
<dl>
<dd><img class="tex" alt="\delta V \approx A(r) \cdot \delta r. \," src="//upload.wikimedia.org/wikipedia/en/math/2/c/5/2c5ac29364b117e3e0a522230d0cd897.png" /></dd>
</dl>
<p>The total volume is the summation of all shell volumes:</p>
<dl>
<dd><img class="tex" alt="V \approx \sum A(r) \cdot \delta r." src="//upload.wikimedia.org/wikipedia/en/math/0/0/7/007951797970d20d6b8b3e8cd009ec48.png" /></dd>
</dl>
<p>In the limit as <i>r</i> approaches zero<sup id="cite_ref-delta_1-1" class="reference"><a href="#cite_note-delta-1"><span>[</span>2<span>]</span></a></sup> this becomes:</p>
<dl>
<dd><img class="tex" alt="V = \int_0^r A(r) \, dr." src="//upload.wikimedia.org/wikipedia/en/math/7/7/0/7703fdbae0bcdb3603d69a3f90246ffc.png" /></dd>
</dl>
<p>Since we have already proved what the volume is, we can substitute <i>V</i>:</p>
<dl>
<dd><img class="tex" alt="\frac{4}{3}\pi r^3 = \int_0^r A(r) \, dr." src="//upload.wikimedia.org/wikipedia/en/math/9/4/b/94b9e902fdc47686630ab8b4ba5efff8.png" /></dd>
</dl>
<p>Differentiating both sides of this equation with respect to <i>r</i> yields <i>A</i> as a function of <i>r</i>:</p>
<dl>
<dd><img class="tex" alt="\!4\pi r^2 = A(r)." src="//upload.wikimedia.org/wikipedia/en/math/a/6/f/a6f6b30a06ef0fe471d0a0b7ae9be92f.png" /></dd>
</dl>
<p>Which is generally abbreviated as:</p>
<dl>
<dd><img class="tex" alt="\!A = 4\pi r^2." src="//upload.wikimedia.org/wikipedia/en/math/c/4/9/c49461dde7d4d9ae64b99060fe7f3588.png" /></dd>
</dl>
<p>Alternatively, the <a href="/wiki/Area_element" title="Area element" class="mw-redirect">area element</a> on the sphere is given in <a href="/wiki/Spherical_coordinates" title="Spherical coordinates" class="mw-redirect">spherical coordinates</a> by <img class="tex" alt="dA = r^2 \sin\theta\, d\theta\, d\phi." src="//upload.wikimedia.org/wikipedia/en/math/e/4/e/e4e50080db918c251b08350852dc14d9.png" />. With Cartesian coordinates, the area element <img class="tex" alt="dS=\frac{r}{\sqrt{r^{2}-\sum_{i\ne k}x_{i}^{2}}}\Pi_{i\ne k}dx_{i},\;\forall k" src="//upload.wikimedia.org/wikipedia/en/math/a/8/0/a8050ab9127913229d8665c009e251af.png" />. More generally, see <a href="/wiki/Area_element" title="Area element" class="mw-redirect">area element</a>.</p>
<p>The total area can thus be obtained by <a href="/wiki/Integral" title="Integral">integration</a>:</p>
<dl>
<dd><img class="tex" alt="A = \int_0^{2\pi} \int_0^\pi r^2 \sin\theta \, d\theta \, d\phi = 4\pi r^2." src="//upload.wikimedia.org/wikipedia/en/math/5/1/a/51aaf1edaf6fb937acc34314b7db029d.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=3" title="Edit section: Equations in R3"></a>]</span> <span class="mw-headline" id="Equations_in_R3">Equations in R<sup>3</sup></span></h2>
<p>In <a href="/wiki/Analytic_geometry" title="Analytic geometry">analytic geometry</a>, a sphere with center (<i>x</i><sub>0</sub>, <i>y</i><sub>0</sub>, <i>z</i><sub>0</sub>) and radius <i>r</i> is the <a href="/wiki/Locus_(mathematics)" title="Locus (mathematics)">locus</a> of all points (<i>x</i>, <i>y</i>, <i>z</i>) such that</p>
<dl>
<dd><img class="tex" alt="\, (x - x_0 )^2 + (y - y_0 )^2 + ( z - z_0 )^2 = r^2." src="//upload.wikimedia.org/wikipedia/en/math/4/1/e/41ed77c9bab7e8d949e2376e38b989a3.png" /></dd>
</dl>
<p>The points on the sphere with radius <i>r</i> can be parameterized via</p>
<dl>
<dd><img class="tex" alt="\, x = x_0 + r \cos \theta \; \sin \varphi" src="//upload.wikimedia.org/wikipedia/en/math/9/e/3/9e32cf9af726870981af4cf154ea874b.png" /></dd>
<dd><img class="tex" alt="\, y = y_0 + r \sin \theta \; \sin \varphi \qquad (0 \leq \theta \leq 2\pi \mbox{ and } 0 \leq \varphi \leq \pi ) \," src="//upload.wikimedia.org/wikipedia/en/math/3/f/4/3f44e350a2d0f0a9dd636b4e0049375a.png" /></dd>
<dd><img class="tex" alt="\, z = z_0 + r \cos \varphi \," src="//upload.wikimedia.org/wikipedia/en/math/9/2/6/9261110138f668d178f1f9f03630111a.png" /></dd>
</dl>
<p>(see also <a href="/wiki/Trigonometric_function" title="Trigonometric function" class="mw-redirect">trigonometric functions</a> and <a href="/wiki/Spherical_coordinates" title="Spherical coordinates" class="mw-redirect">spherical coordinates</a>).</p>
<p>A sphere of any radius centered at zero is an integral surface of the following <a href="/wiki/Differential_form" title="Differential form">differential form</a>:</p>
<dl>
<dd><img class="tex" alt="\, x \, dx + y \, dy + z \, dz = 0." src="//upload.wikimedia.org/wikipedia/en/math/b/3/8/b385b7baa429d94e8b56623acea27460.png" /></dd>
</dl>
<p>This equation reflects the fact that the position and velocity vectors of a point traveling on the sphere are always <a href="/wiki/Orthogonal" title="Orthogonal" class="mw-redirect">orthogonal</a> to each other.</p>
<p>The sphere has the smallest surface area among all surfaces enclosing a given volume and it encloses the largest volume among all closed surfaces with a given surface area. For this reason, the sphere appears in nature: for instance bubbles and small water drops are roughly spherical, because the <a href="/wiki/Surface_tension" title="Surface tension">surface tension</a> locally minimizes surface area. The surface area in relation to the mass of a sphere is called the <a href="/wiki/Specific_surface_area" title="Specific surface area">specific surface area</a>. From the above stated equations it can be expressed as follows:</p>
<dl>
<dd><img class="tex" alt="SSA = \frac{A}{V\rho} = \frac{3}{r\rho}." src="//upload.wikimedia.org/wikipedia/en/math/7/b/7/7b76283f53a1362aa67d1ccfc980903d.png" /></dd>
</dl>
<div class="thumb tright">
<div class="thumbinner" style="width:352px;"><a href="/wiki/File:Einstein_gyro_gravity_probe_b.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Einstein_gyro_gravity_probe_b.jpg/350px-Einstein_gyro_gravity_probe_b.jpg" width="350" height="235" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Einstein_gyro_gravity_probe_b.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
An image of one of the most accurate man-made spheres, as it <a href="/wiki/Refraction" title="Refraction">refracts</a> the image of Einstein in the background. This sphere was a <a href="/wiki/Fused_quartz" title="Fused quartz">fused quartz</a> <a href="/wiki/Gyroscope" title="Gyroscope">gyroscope</a> for the <a href="/wiki/Gravity_Probe_B" title="Gravity Probe B">Gravity Probe B</a> experiment, and differs in shape from a perfect sphere by no more than 40 atoms of thickness. It is thought that only non-rotating <a href="/wiki/Neutron_star" title="Neutron star">neutron stars</a> are smoother<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from March 2011">citation needed</span></a></i>]</sup>. It was announced on 1 July 2008 that <a href="/wiki/Australia" title="Australia">Australian</a> scientists had created even more perfect spheres, accurate to 0.3 <a href="/wiki/Nanometers" title="Nanometers" class="mw-redirect">nanometers</a>, as part of an international hunt to find a new global standard <a href="/wiki/Kilogram" title="Kilogram">kilogram</a>.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></div>
</div>
</div>
<p>A sphere can also be defined as the surface formed by rotating a <a href="/wiki/Circle" title="Circle">circle</a> about any <a href="/wiki/Diameter" title="Diameter">diameter</a>. If the circle is replaced by an <a href="/wiki/Ellipse" title="Ellipse">ellipse</a>, and rotated about the major axis, the shape becomes a prolate <a href="/wiki/Spheroid" title="Spheroid">spheroid</a>, rotated about the minor axis, an oblate spheroid.</p>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=4" title="Edit section: Terminology"></a>]</span> <span class="mw-headline" id="Terminology">Terminology</span></h2>
<p>Pairs of points on a sphere that lie on a straight line through its center are called <a href="/wiki/Antipodal_point" title="Antipodal point">antipodal points</a>. A <a href="/wiki/Great_circle" title="Great circle">great circle</a> is a circle on the sphere that has the same center and radius as the sphere, and consequently divides it into two equal parts. The shortest distance between two distinct non-antipodal points on the surface and measured along the surface, is on the unique great circle passing through the two points. Equipped with the <a href="/wiki/Great-circle_distance" title="Great-circle distance">great-circle distance</a>, a great circle becomes the <a href="/wiki/Riemannian_circle" title="Riemannian circle">Riemannian circle</a>.</p>
<p>If a particular point on a sphere is (arbitrarily) designated as its <i>north pole</i>, then the corresponding antipodal point is called the <i>south pole</i> and the <a href="/wiki/Equator" title="Equator">equator</a> is the great circle that is equidistant to them. Great circles through the two poles are called lines (or <a href="/wiki/Meridian_(geography)" title="Meridian (geography)">meridians</a>) of <a href="/wiki/Longitude" title="Longitude">longitude</a>, and the line connecting the two poles is called the <a href="/wiki/Axis_of_rotation" title="Axis of rotation" class="mw-redirect">axis of rotation</a>. Circles on the sphere that are parallel to the equator are lines of <a href="/wiki/Latitude" title="Latitude">latitude</a>. This terminology is also used for astronomical bodies such as the planet <a href="/wiki/Earth" title="Earth">Earth</a>, even though it is not spherical and only approximately <a href="/wiki/Spheroid" title="Spheroid">spheroidal</a> (see <a href="/wiki/Geoid" title="Geoid">geoid</a>).</p>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=5" title="Edit section: Hemisphere"></a>]</span> <span class="mw-headline" id="Hemisphere">Hemisphere</span></h2>
<p>A sphere is divided into two equal "hemispheres" by any plane that passes through its center. If two intersecting planes pass through its center, then they will subdivide the sphere into four <a href="/wiki/Lune_(mathematics)" title="Lune (mathematics)">lunes</a> or biangles, the vertices of which all coincide with the antipodal points lying on the line of intersection of the planes.</p>
<p>The antipodal quotient of the sphere is the surface called the <a href="/wiki/Real_projective_plane" title="Real projective plane">real projective plane</a>, which can also be thought of as the northern hemisphere with antipodal points of the equator identified.</p>
<p>The round hemisphere is <a href="/wiki/Filling_area_conjecture" title="Filling area conjecture">conjectured</a> to be the optimal (least area) filling of the <a href="/wiki/Riemannian_circle" title="Riemannian circle">Riemannian circle</a>.</p>
<p>If the planes don't pass through the sphere's center, then the intersection is called <i>spheric section</i>.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=6" title="Edit section: Generalization to other dimensions"></a>]</span> <span class="mw-headline" id="Generalization_to_other_dimensions">Generalization to other dimensions</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/N-sphere" title="N-sphere">n-sphere</a></div>
<p>Spheres can be generalized to spaces of any <a href="/wiki/Dimension" title="Dimension">dimension</a>. For any <a href="/wiki/Natural_number" title="Natural number">natural number</a> <i>n</i>, an "<i>n</i>-sphere," often written as <i>S<sup>n</sup></i>, is the set of points in (<span class="nowrap"><i>n</i> + 1</span>)-dimensional Euclidean space which are at a fixed distance <i>r</i> from a central point of that space, where <i>r</i> is, as before, a positive real number. In particular:</p>
<ul>
<li>a 0-sphere is a pair of endpoints of an interval (<i>r</i>, <i>r</i>) of the real line</li>
<li>a 1-sphere is a <a href="/wiki/Circle" title="Circle">circle</a> of radius <i>r</i></li>
<li>a 2-sphere is an ordinary sphere</li>
<li>a <a href="/wiki/3-sphere" title="3-sphere">3-sphere</a> is a sphere in 4-dimensional Euclidean space.</li>
</ul>
<p>Spheres for <i>n</i> &gt; 2 are sometimes called <a href="/wiki/Hypersphere" title="Hypersphere" class="mw-redirect">hyperspheres</a>.</p>
<p>The <i>n</i>-sphere of unit radius centered at the origin is denoted <i>S</i><sup><i>n</i></sup> and is often referred to as "the" <i>n</i>-sphere. Note that the ordinary sphere is a 2-sphere, because it is a 2-dimensional surface (which is embedded in 3-dimensional space).</p>
<p>The surface area of the (<span class="nowrap"><i>n</i>  1</span>)-sphere of radius 1 is</p>
<dl>
<dd><img class="tex" alt="2 \frac{\pi^{n/2}}{\Gamma(n/2)}" src="//upload.wikimedia.org/wikipedia/en/math/d/4/6/d467d23c35e4184a9a7fc08976ab948d.png" /></dd>
</dl>
<p>where (<i>z</i>) is Euler's <a href="/wiki/Gamma_function" title="Gamma function">Gamma function</a>.</p>
<p>Another expression for the surface area is</p>
<dl>
<dd><img class="tex" alt="
 \begin{cases}
 \displaystyle \frac{(2\pi)^{n/2}\,r^{n-1}}{2 \cdot 4 \cdots (n-2)}, &amp; \text{if } n \text{ is even}; \\ \\
 \displaystyle \frac{2(2\pi)^{(n-1)/2}\,r^{n-1}}{1 \cdot 3 \cdots (n-2)}, &amp; \text{if } n \text{ is odd}.
 \end{cases}" src="//upload.wikimedia.org/wikipedia/en/math/9/c/3/9c319ae1f4ffee27458ce77d40437d5d.png" /></dd>
</dl>
<p>and the volume is the surface area times <img class="tex" alt="{r \over n}" src="//upload.wikimedia.org/wikipedia/en/math/d/c/0/dc06e9716e7af876326bb80c57725b16.png" /> or</p>
<dl>
<dd><img class="tex" alt="
 \begin{cases}
 \displaystyle \frac{(2\pi)^{n/2}\,r^n}{2 \cdot 4 \cdots n}, &amp; \text{if } n \text{ is even}; \\ \\
 \displaystyle \frac{2(2\pi)^{(n-1)/2}\,r^n}{1 \cdot 3 \cdots n}, &amp; \text{if } n \text{ is odd}.
 \end{cases}" src="//upload.wikimedia.org/wikipedia/en/math/8/1/5/815d5cb81569cb98c8a4a3d87a2ca7b2.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=7" title="Edit section: Generalization to metric spaces"></a>]</span> <span class="mw-headline" id="Generalization_to_metric_spaces">Generalization to metric spaces</span></h2>
<p>More generally, in a <a href="/wiki/Metric_space" title="Metric space">metric space</a> (<i>E</i>,<i>d</i>), the sphere of center <i>x</i> and radius <span class="nowrap"><i>r</i> &gt; 0</span> is the set of points <i>y</i> such that <span class="nowrap"><i>d</i>(<i>x</i>,<i>y</i>) = <i>r</i></span>.</p>
<p>If the center is a distinguished point considered as origin of <i>E</i>, as in a <a href="/wiki/Norm_(mathematics)" title="Norm (mathematics)">normed</a> space, it is not mentioned in the definition and notation. The same applies for the radius if it is taken to equal one, as in the case of a <a href="/wiki/Unit_sphere" title="Unit sphere">unit sphere</a>.</p>
<p>In contrast to a <a href="/wiki/Ball_(mathematics)" title="Ball (mathematics)">ball</a>, a sphere may be an empty set, even for a large radius. For example, in <b>Z</b><sup><i>n</i></sup> with <a href="/wiki/Euclidean_metric" title="Euclidean metric" class="mw-redirect">Euclidean metric</a>, a sphere of radius <i>r</i> is nonempty only if <i>r</i><sup>2</sup> can be written as sum of <i>n</i> squares of integers.</p>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=8" title="Edit section: Topology"></a>]</span> <span class="mw-headline" id="Topology">Topology</span></h2>
<p>In <a href="/wiki/Topology" title="Topology">topology</a>, an <i>n</i>-sphere is defined as a space <a href="/wiki/Homeomorphic" title="Homeomorphic" class="mw-redirect">homeomorphic</a> to the boundary of an <a href="/wiki/Ball_(mathematics)#Topological_balls" title="Ball (mathematics)">(<i>n</i>+1)-ball</a>; thus, it is <a href="/wiki/Homeomorphic" title="Homeomorphic" class="mw-redirect">homeomorphic</a> to the Euclidean <i>n</i>-sphere, but perhaps lacking its <a href="/wiki/Metric_space" title="Metric space">metric</a>.</p>
<ul>
<li>a 0-sphere is a pair of points with the <a href="/wiki/Discrete_topology" title="Discrete topology" class="mw-redirect">discrete topology</a></li>
<li>a 1-sphere is a circle (<a href="/wiki/Up_to" title="Up to">up to</a> <a href="/wiki/Homeomorphism" title="Homeomorphism">homeomorphism</a>); thus, for example, (the image of) any <a href="/wiki/Knot_(mathematics)" title="Knot (mathematics)">knot</a> is a 1-sphere</li>
<li>a 2-sphere is an ordinary sphere (<a href="/wiki/Up_to" title="Up to">up to</a> <a href="/wiki/Homeomorphism" title="Homeomorphism">homeomorphism</a>); thus, for example, any <a href="/wiki/Spheroid" title="Spheroid">spheroid</a> is a 2-sphere</li>
</ul>
<p>The <i>n</i>-sphere is denoted <i>S<sup>n</sup></i>. It is an example of a <a href="/wiki/Compact_space" title="Compact space">compact</a> <a href="/wiki/Topological_manifold" title="Topological manifold">topological manifold</a> without <a href="/wiki/Boundary_(topology)" title="Boundary (topology)">boundary</a>. A sphere need not be <a href="/wiki/Manifold#Differentiable_manifolds" title="Manifold">smooth</a>; if it is smooth, it need not be <a href="/wiki/Diffeomorphic" title="Diffeomorphic" class="mw-redirect">diffeomorphic</a> to the Euclidean sphere.</p>
<p>The <a href="/wiki/Heine-Borel_theorem" title="Heine-Borel theorem" class="mw-redirect">Heine-Borel theorem</a> implies that a Euclidean <i>n</i>-sphere is compact. The sphere is the inverse image of a one-point set under the continuous function ||<i>x</i>||. Therefore, the sphere is closed. <i>S<sup>n</sup></i> is also bounded; therefore it is compact.</p>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=9" title="Edit section: Spherical geometry"></a>]</span> <span class="mw-headline" id="Spherical_geometry">Spherical geometry</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Sphere_halve.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Sphere_halve.png/220px-Sphere_halve.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Sphere_halve.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
<a href="/wiki/Great_circle" title="Great circle">Great circle</a> on a sphere</div>
</div>
</div>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Spherical_geometry" title="Spherical geometry">Spherical geometry</a></div>
<p>The basic elements of <a href="/wiki/Euclidean_plane_geometry" title="Euclidean plane geometry" class="mw-redirect">Euclidean plane geometry</a> are <a href="/wiki/Point_(geometry)" title="Point (geometry)">points</a> and <a href="/wiki/Line_(mathematics)" title="Line (mathematics)" class="mw-redirect">lines</a>. On the sphere, points are defined in the usual sense, but the analogue of "line" may not be immediately apparent. If one measures by <a href="/wiki/Arc_length" title="Arc length">arc length</a> one finds that the shortest path connecting two points lying entirely in the sphere is a segment of the <a href="/wiki/Great_circle" title="Great circle">great circle</a> containing the points; see <a href="/wiki/Geodesic" title="Geodesic">geodesic</a>. Many theorems from classical geometry hold true for this spherical geometry as well, but many do not (see <a href="/wiki/Parallel_postulate" title="Parallel postulate">parallel postulate</a>). In <a href="/wiki/Spherical_trigonometry" title="Spherical trigonometry">spherical trigonometry</a>, <a href="/wiki/Angle" title="Angle">angles</a> are defined between great circles. Thus spherical trigonometry is different from ordinary <a href="/wiki/Trigonometry" title="Trigonometry">trigonometry</a> in many respects. For example, the sum of the interior angles of a spherical triangle exceeds 180 degrees. Also, any two <a href="/wiki/Similar_triangles" title="Similar triangles" class="mw-redirect">similar</a> spherical triangles are congruent.</p>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=10" title="Edit section: Eleven properties of the sphere"></a>]</span> <span class="mw-headline" id="Eleven_properties_of_the_sphere">Eleven properties of the sphere</span></h2>
<p>In their book <i>Geometry and the imagination</i><sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup> <a href="/wiki/David_Hilbert" title="David Hilbert">David Hilbert</a> and <a href="/wiki/Stephan_Cohn-Vossen" title="Stephan Cohn-Vossen">Stephan Cohn-Vossen</a> describe eleven properties of the sphere and discuss whether these properties uniquely determine the sphere. Several properties hold for the <a href="/wiki/Plane_(mathematics)" title="Plane (mathematics)" class="mw-redirect">plane</a> which can be thought of as a sphere with infinite radius. These properties are:</p>
<ol>
<li><i>The points on the sphere are all the same distance from a fixed point. Also, the ratio of the distance of its points from two fixed points is constant.</i>
<dl>
<dd>The first part is the usual definition of the sphere and determines it uniquely. The second part can be easily deduced and follows a similar <a href="/wiki/Circle#Circle_of_Apollonius" title="Circle">result</a> of <a href="/wiki/Apollonius_of_Perga" title="Apollonius of Perga">Apollonius of Perga</a> for the <a href="/wiki/Circle" title="Circle">circle</a>. This second part also holds for the <a href="/wiki/Plane_(mathematics)" title="Plane (mathematics)" class="mw-redirect">plane</a>.</dd>
</dl>
</li>
<li><i>The contours and plane sections of the sphere are circles.</i>
<dl>
<dd>This property defines the sphere uniquely.</dd>
</dl>
</li>
<li><i>The sphere has constant width and constant girth.</i>
<dl>
<dd>The width of a surface is the distance between pairs of parallel tangent planes. There are numerous other closed convex surfaces which have constant width, for example the <a href="/wiki/Meissner_body" title="Meissner body" class="mw-redirect">Meissner body</a>. The girth of a surface is the circumference of the boundary of its orthogonal projection on to a plane. It can be proved that each of these properties implies the other.
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a href="/wiki/File:Sphere_section.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/2/2a/Sphere_section.png/300px-Sphere_section.png" width="300" height="320" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Sphere_section.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A normal vector to a sphere, a normal plane and its normal section. The curvature of the curve of intersection is the sectional curvature. For the sphere each normal section through a given point will be a circle of the same radius, the radius of the sphere. This means that every point on the sphere will be an umbilical point.</div>
</div>
</div>
</dd>
</dl>
</li>
<li><i>All points of a sphere are umbilics.</i>
<dl>
<dd>At any point on a surface we can find a <a href="/wiki/Normal_(geometry)" title="Normal (geometry)">normal direction</a> which is at right angles to the surface, for the sphere these are the lines radiating out from the center of the sphere. The intersection of a plane containing the normal with the surface will form a curve called a <i>normal section</i> and the curvature of this curve is the <i>sectional curvature</i>. For most points on most surfaces, different sections will have different curvatures; the maximum and minimum values of these are called the <a href="/wiki/Principal_curvature" title="Principal curvature">principal curvatures</a>. It can be proved that any closed surface will have at least four points called <i><a href="/wiki/Umbilical_point" title="Umbilical point">umbilical points</a></i>. At an umbilic all the sectional curvatures are equal; in particular the <a href="/wiki/Principal_curvature" title="Principal curvature">principal curvatures</a> are equal. Umbilical points can be thought of as the points where the surface is closely approximated by a sphere.</dd>
<dd>For the sphere the curvatures of all normal sections are equal, so every point is an umbilic. The sphere and plane are the only surfaces with this property.</dd>
</dl>
</li>
<li><i>The sphere does not have a surface of centers.</i>
<dl>
<dd>For a given normal section there is a circle whose curvature is the same as the sectional curvature, is tangent to the surface and whose center lines along on the normal line. Take the two centers corresponding to the maximum and minimum sectional curvatures: these are called the <i>focal points</i>, and the set of all such centers forms the <a href="/wiki/Focal_surface" title="Focal surface">focal surface</a>.</dd>
<dd>For most surfaces the focal surface forms two sheets each of which is a surface and which come together at umbilical points. There are a number of special cases. For <a href="/wiki/Channel_surface" title="Channel surface">channel surfaces</a> one sheet forms a curve and the other sheet is a surface; For <a href="/wiki/Cone_(geometry)" title="Cone (geometry)">cones</a>, cylinders, <a href="/wiki/Torus" title="Torus">toruses</a> and <a href="/wiki/Dupin_cyclide" title="Dupin cyclide">cyclides</a> both sheets form curves. For the sphere the center of every osculating circle is at the center of the sphere and the focal surface forms a single point. This is a unique property of the sphere.</dd>
</dl>
</li>
<li><i>All geodesics of the sphere are closed curves.</i>
<dl>
<dd><a href="/wiki/Geodesics" title="Geodesics" class="mw-redirect">Geodesics</a> are curves on a surface which give the shortest distance between two points. They are a generalization of the concept of a straight line in the plane. For the sphere the geodesics are great circles. There are many other surfaces with this property.</dd>
</dl>
</li>
<li><i>Of all the solids having a given volume, the sphere is the one with the smallest surface area; of all solids having a given surface area, the sphere is the one having the greatest volume.</i>
<dl>
<dd>These properties define the sphere uniquely. These properties can be seen by observing <a href="/wiki/Soap_bubble" title="Soap bubble">soap bubbles</a>. A soap bubble will enclose a fixed volume and due to <a href="/wiki/Surface_tension" title="Surface tension">surface tension</a> its surface area is minimal for that volume. This is why a free floating soap bubble approximates a sphere (though external forces such as gravity will distort the bubble's shape slightly).</dd>
</dl>
</li>
<li><i>The sphere has the smallest total mean curvature among all convex solids with a given surface area.</i>
<dl>
<dd>The <a href="/wiki/Mean_curvature" title="Mean curvature">mean curvature</a> is the average of the two principal curvatures and as these are constant at all points of the sphere then so is the mean curvature.</dd>
</dl>
</li>
<li><i>The sphere has constant mean curvature.</i>
<dl>
<dd>The sphere is the only imbedded surface without boundary or singularities with constant positive mean curvature. There are other immersed surfaces with constant mean curvature. The <a href="/wiki/Minimal_surface" title="Minimal surface">minimal surfaces</a> have zero mean curvature.</dd>
</dl>
</li>
<li><i>The sphere has constant positive Gaussian curvature.</i>
<dl>
<dd><a href="/wiki/Gaussian_curvature" title="Gaussian curvature">Gaussian curvature</a> is the product of the two principal curvatures. It is an intrinsic property which can be determined by measuring length and angles and does not depend on the way the surface is <a href="/wiki/Embedding" title="Embedding">embedded</a> in space. Hence, bending a surface will not alter the Gaussian curvature and other surfaces with constant positive Gaussian curvature can be obtained by cutting a small slit in the sphere and bending it. All these other surfaces would have boundaries and the sphere is the only surface without boundary with constant positive Gaussian curvature. The <a href="/wiki/Pseudosphere" title="Pseudosphere">pseudosphere</a> is an example of a surface with constant negative Gaussian curvature.</dd>
</dl>
</li>
<li><i>The sphere is transformed into itself by a three-parameter family of rigid motions.</i>
<dl>
<dd>Consider a unit sphere placed at the origin, a rotation around the <i>x</i>, <i>y</i> or <i>z</i> axis will map the sphere onto itself, indeed any rotation about a line through the origin can be expressed as a combination of rotations around the three-coordinate axis, see <a href="/wiki/Euler_angles" title="Euler angles">Euler angles</a>. Thus there is a three-parameter family of rotations which transform the sphere onto itself, this is the <a href="/wiki/Rotation_group_SO(3)" title="Rotation group SO(3)">rotation group SO(3)</a>. The plane is the only other surface with a three-parameter family of transformations (translations along the <i>x</i> and <i>y</i> axis and rotations around the origin). Circular cylinders are the only surfaces with two-parameter families of rigid motions and the <a href="/wiki/Surface_of_revolution" title="Surface of revolution">surfaces of revolution</a> and <a href="/wiki/Helicoid" title="Helicoid">helicoids</a> are the only surfaces with a one-parameter family.</dd>
</dl>
</li>
</ol>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=11" title="Edit section: Cubes in relation to spheres"></a>]</span> <span class="mw-headline" id="Cubes_in_relation_to_spheres">Cubes in relation to spheres</span></h2>
<p>For every sphere there are multiple <a href="/wiki/Cuboids" title="Cuboids" class="mw-redirect">cuboids</a> that may be inscribed within the sphere. When briefly considered it becomes apparent that the largest of the multiple cuboids which may be inscribed is a <a href="/wiki/Cube" title="Cube">cube</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=12" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<table cellspacing="0" cellpadding="0" class="multicol" style="background:transparent; width:100%;">
<tr>
<td align="left" valign="top">
<ul>
<li><a href="/wiki/3-sphere" title="3-sphere">3-sphere</a></li>
<li><a href="/wiki/Affine_sphere" title="Affine sphere">Affine sphere</a></li>
<li><a href="/wiki/Alexander_horned_sphere" title="Alexander horned sphere">Alexander horned sphere</a></li>
<li><a href="/wiki/Ball_(mathematics)" title="Ball (mathematics)">Ball (mathematics)</a></li>
<li><a href="/wiki/Banach%E2%80%93Tarski_paradox" title="BanachTarski paradox">BanachTarski paradox</a></li>
<li><a href="/wiki/Cube" title="Cube">Cube</a></li>
<li><a href="/wiki/Cuboid" title="Cuboid">Cuboid</a></li>
<li><a href="/wiki/Curvature" title="Curvature">Curvature</a></li>
<li><a href="/wiki/Directional_statistics" title="Directional statistics">Directional statistics</a></li>
<li><a href="/wiki/Dome_(mathematics)" title="Dome (mathematics)">Dome (mathematics)</a></li>
<li><a href="/wiki/Dyson_sphere" title="Dyson sphere">Dyson sphere</a></li>
<li><a href="/wiki/Hoberman_sphere" title="Hoberman sphere">Hoberman sphere</a></li>
</ul>
</td>
<td align="left" valign="top">
<ul>
<li><a href="/wiki/Homology_sphere" title="Homology sphere">Homology sphere</a></li>
<li><a href="/wiki/Homotopy_groups_of_spheres" title="Homotopy groups of spheres">Homotopy groups of spheres</a></li>
<li><a href="/wiki/Homotopy_sphere" title="Homotopy sphere">Homotopy sphere</a></li>
<li><a href="/wiki/Hypersphere" title="Hypersphere" class="mw-redirect">Hypersphere</a></li>
<li><a href="/wiki/Metric_space" title="Metric space">Metric space</a></li>
<li><a href="/wiki/Napkin_ring_problem" title="Napkin ring problem">Napkin ring problem</a></li>
<li><a href="/wiki/Pseudosphere" title="Pseudosphere">Pseudosphere</a></li>
<li><a href="/wiki/Riemann_sphere" title="Riemann sphere">Riemann sphere</a></li>
<li><a href="/wiki/Smale%27s_paradox" title="Smale's paradox">Smale's paradox</a></li>
<li><a href="/wiki/Solid_angle" title="Solid angle">Solid angle</a></li>
<li><a href="/wiki/Sphere_packing" title="Sphere packing">Sphere packing</a></li>
</ul>
</td>
<td align="left" valign="top">
<ul>
<li><a href="/wiki/Spherical_cap" title="Spherical cap">Spherical cap</a></li>
<li><a href="/w/index.php?title=Spherical_helix&amp;action=&amp;redlink=1" class="new" title="Spherical helix (page does not exist)">Spherical helix</a>, tangent indicatrix of a curve of constant precession</li>
<li><a href="/wiki/Spherical_sector" title="Spherical sector">Spherical sector</a></li>
<li><a href="/wiki/Spherical_segment" title="Spherical segment">Spherical segment</a></li>
<li><a href="/wiki/Spherical_shell" title="Spherical shell">Spherical shell</a></li>
<li><a href="/wiki/Spherical_wedge" title="Spherical wedge">Spherical wedge</a></li>
<li><a href="/wiki/Spherical_zone" title="Spherical zone" class="mw-redirect">Spherical zone</a></li>
<li><a href="/wiki/Spherical_coordinates" title="Spherical coordinates" class="mw-redirect">Spherical coordinates</a></li>
<li><a href="/wiki/Spherical_Earth" title="Spherical Earth">Spherical Earth</a></li>
<li><a href="/wiki/Zoll_surface" title="Zoll surface">Zoll sphere</a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=13" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/38px-Wikisource-logo.svg.png" width="38" height="40" /></td>
<td class="mbox-text" style=""><a href="/wiki/Wikisource" title="Wikisource">Wikisource</a> has the text of the <a href="/wiki/Encyclop%C3%A6dia_Britannica_Eleventh_Edition" title="Encyclopdia Britannica Eleventh Edition">1911 Encyclopdia Britannica</a> article <i><b><a href="//en.wikisource.org/wiki/1911_Encyclop%C3%A6dia_Britannica/Sphere" class="extiw" title="wikisource:1911 Encyclopdia Britannica/Sphere">Sphere</a></b></i>.</td>
</tr>
</table>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.04.0057%3Aentry%3Dsfai%3Dra^"></a>, Henry George Liddell, Robert Scott, <i>A Greek-English Lexicon</i>, on Perseus</span></li>
<li id="cite_note-delta-1">^ <a href="#cite_ref-delta_1-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-delta_1-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text">Pages 141, 149. <span class="citation book">E.J. Borowski, J.M. Borwein. <i>Collins Dictionary of Mathematics</i>. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-00-434347-6" title="Special:BookSources/0-00-434347-6">0-00-434347-6</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Collins+Dictionary+of+Mathematics&amp;rft.aulast=E.J.+Borowski%2C+J.M.+Borwein&amp;rft.au=E.J.+Borowski%2C+J.M.+Borwein&amp;rft.isbn=0-00-434347-6&amp;rfr_id=info:sid/en.wikipedia.org:Sphere"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://technology.newscientist.com/article/dn14229-roundest-objects-in-the-world-created.html">New Scientist | Technology | Roundest objects in the world created</a></span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><span class="citation mathworld" id="Reference-Mathworld-Spheric_section"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/SphericSection.html">Spheric section</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><span class="citation book"><a href="/wiki/David_Hilbert" title="David Hilbert">Hilbert, David</a>; Cohn-Vossen, Stephan (1952). <i>Geometry and the Imagination</i> (2nd ed.). Chelsea. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-8284-1087-9" title="Special:BookSources/0-8284-1087-9">0-8284-1087-9</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Geometry+and+the+Imagination&amp;rft.aulast=%5B%5BDavid+Hilbert%7CHilbert%2C+David%5D%5D%3B+Cohn-Vossen%2C+Stephan&amp;rft.au=%5B%5BDavid+Hilbert%7CHilbert%2C+David%5D%5D%3B+Cohn-Vossen%2C+Stephan&amp;rft.date=1952&amp;rft.ion=2nd&amp;rft.pub=Chelsea&amp;rft.isbn=0-8284-1087-9&amp;rfr_id=info:sid/en.wikipedia.org:Sphere"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<ul>
<li>William Dunham. "Pages 28, 226", <i>The Mathematical Universe: An Alphabetical Journey Through the Great Proofs, Problems and Personalities</i>, <a href="/wiki/Special:BookSources/0471176613" class="internal mw-magiclink-isbn">ISBN 0-471-17661-3</a>.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Sphere&amp;action=&amp;section=14" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata plainlinks mbox-small" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td colspan="2" style="margin: auto; text-align: center">Find more about <b>Sphere</b> on Wikipedia's <a href="/wiki/Wikipedia:Wikimedia_sister_projects" title="Wikipedia:Wikimedia sister projects">sister projects</a>:</td>
</tr>
<tr>
<td><a href="//en.wiktionary.org/wiki/Special:Search/Sphere" title="Search Wiktionary"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/23px-Wiktionary-logo-en.svg.png" width="23" height="25" /></a></td>
<td><a class="external text" href="//en.wiktionary.org/wiki/Special:Search/Sphere">Definitions and translations</a> from Wiktionary<br /></td>
</tr>
<tr>
<td><a href="//commons.wikimedia.org/wiki/Special:Search/Sphere" title="Search Commons"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/18px-Commons-logo.svg.png" width="18" height="25" /></a></td>
<td><a class="external text" href="//commons.wikimedia.org/wiki/Special:Search/Sphere">Images and media</a> from Commons<br /></td>
</tr>
<tr>
<td><a href="//en.wikiversity.org/wiki/Special:Search/Sphere" title="Search Wikiversity"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Wikiversity-logo-en.svg/25px-Wikiversity-logo-en.svg.png" width="25" height="23" /></a></td>
<td><a class="external text" href="//en.wikiversity.org/wiki/Special:Search/Sphere">Learning resources</a> from Wikiversity<br /></td>
</tr>
<tr>
<td><a href="//en.wikinews.org/wiki/Special:Search/Sphere" title="Search Wikinews"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/24/Wikinews-logo.svg/25px-Wikinews-logo.svg.png" width="25" height="14" /></a></td>
<td><a class="external text" href="//en.wikinews.org/wiki/Special:Search/Sphere">News stories</a> from Wikinews<br /></td>
</tr>
<tr>
<td><a href="//en.wikiquote.org/wiki/Special:Search/Sphere" title="Search Wikiquote"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/21px-Wikiquote-logo.svg.png" width="21" height="25" /></a></td>
<td><a class="external text" href="//en.wikiquote.org/wiki/Special:Search/Sphere">Quotations</a> from Wikiquote<br /></td>
</tr>
<tr>
<td><a href="//en.wikisource.org/wiki/Special:Search/Sphere" title="Search Wikisource"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/24px-Wikisource-logo.svg.png" width="24" height="25" /></a></td>
<td><a class="external text" href="//en.wikisource.org/wiki/Special:Search/Sphere">Source texts</a> from Wikisource<br /></td>
</tr>
<tr>
<td><a href="//en.wikibooks.org/wiki/Special:Search/Sphere" title="Search Wikibooks"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikibooks-logo.svg/25px-Wikibooks-logo.svg.png" width="25" height="25" /></a></td>
<td><a class="external text" href="//en.wikibooks.org/wiki/Special:Search/Sphere">Textbooks</a> from Wikibooks<br /></td>
</tr>
</table>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.abe.msstate.edu/~fto/tools/vol/sphere.html">Calculate volume of sphere</a></li>
<li><a href="http://planetmath.org/?op=getobj&amp;from=objects&amp;id=186" class="extiw" title="planetmath:186">Sphere (PlanetMath.org website)</a></li>
<li><span class="citation mathworld" id="Reference-Mathworld-Sphere"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Sphere.html">Sphere</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><a class="external text" href="http://en.wikibooks.org/wiki/Mathematica/Uniform_Spherical_Distribution">Mathematica/Uniform Spherical Distribution</a></li>
<li><span class="citation video"><a rel="nofollow" class="external text" href="http://video.google.com/videoplay?docid=-6626464599825291409"><i>Outside In</i></a>. 2007-11-14<span class="printonly">. <a rel="nofollow" class="external free" href="http://video.google.com/videoplay?docid=-6626464599825291409">http://video.google.com/videoplay?docid=-6626464599825291409</a></span><span class="reference-accessdate">. Retrieved 2007-11-24</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Outside+In&amp;rft.date=2007-11-14&amp;rft_id=http%3A%2F%2Fvideo.google.com%2Fvideoplay%3Fdocid%3D-6626464599825291409&amp;rfr_id=info:sid/en.wikipedia.org:Sphere"><span style="display: none;">&#160;</span></span> (computer animation showing how the inside of a sphere can turn outside.)</li>
<li><a rel="nofollow" class="external text" href="http://www.start2code.com/Cresources/sphere-program-cpp.html">Program in C++ to draw a sphere using parametric equation</a></li>
<li><a rel="nofollow" class="external text" href="http://mathschallenge.net/index.php?section=faq&amp;ref=geometry/surface_sphere">Surface area of sphere proof.</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 4333/1000000
Post-expand include size: 23246/2048000 bytes
Template argument size: 7252/2048000 bytes
Expensive parser function count: 3/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:27859-0!0!0!!en!4!* and timestamp 20120415135509 -->
