{% extends 'base.html' %}


{% block nav-dash-style %}
	class="active"
{% endblock %}


{% block main %}

<h1>{% block title %}  {% endblock %}</h1>

<h2>Chapters:</h2>
<ul class="nav nav-list well">
  {% for chapter in chapters %}
  <li><a href="/chapter/?q={{ chapter.id }}">{{ chapter }}</a></li>
  {% empty %}
  <p>No chapters in this course.</p>
  {% endfor %}
</ul>

{% endblock %}


