{% extends 'base.html' %}

{% block nav-dash-style %}
class="active"
{% endblock %}


{% block main %}
<h1>{% block title %} {{ lesson.chapter }} - {{ lesson.name }} {% endblock %}</h1>
<p> {% include path %} </p>

{% endblock %}


{% block sidebar %}
	{% if lesson.video_url %}
		<iframe width="300" height="200" src="{{ lesson.video_url }}" 
		frameborder="0" allowfullscreen></iframe>
	{% endif %}
{% endblock %}

