{% extends 'base.html' %}

{% block nav-dash-style %}
class="active"
{% endblock %}


{% block main %}
<h1>{% block title %} Problem Management {% endblock %}</h1>

<form enctype="multipart/form-data" method="post" action="">
  {% csrf_token %}
  {{ formset.as_table }}
  <input type="submit" value="Submit" id="Save">
</form>

{% endblock %}


{% block sidebar %}
{% endblock %}