{% extends 'base.html' %}

{% block nav-dash-style %}
class="active"
{% endblock %}


{% block main %}
<h1>{% block title %} {{ problem.chapter }} {% endblock %}</h1>
<br />
<h2> {{ problem.question }} </h2>
<br />


{% if errors %}
<p class="errors">
  Please correct the error{{ errors|pluralize }} below.
</p>
{% endif %}



<form enctype="multipart/form-data" method="post" action="">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" id="Save">
</form>
{% endblock %}


{% block sidebar %}
{% if user.is_staff %}
<h3>Admin Menu</h3>
  <a class="btn btn-success" href="/add_problem/"><i class="icon-plus icon-white"></i> 
        Add Problem
  </a>
  <br />
  <br />
  <a class="btn btn-danger" href="/remove_problem/?q={{ problem.id }}"><i class="icon-minus icon-white"></i> 
        Remove Problem
  </a>
  <br />
  <br />
  <a class="btn btn-warning" href="/update_problem/?q={{ problem.id }}"><i class="icon-pencil icon-white"></i> 
        Update Problem
  </a>
{% endif %}
<h3>Suggested Lessons:</h3>
<ul class="nav nav-list well">
  {% for lesson in lessons %}
  <li><a href="/lesson/?q={{ lesson.id }}">{{ lesson }}</a></li>
  {% empty %}
  <p>Sorry, there are no suggested lessons for this question.</p>
  {% endfor %}
</ul>

{% endblock %}

