{% extends 'base.html' %}

{% block nav-profile-style %}
 class="active"
{% endblock %}



{% block main %}

<h1>{% block title %} Profile {% endblock %}</h1>
<br />
<h3> Grades </h3>
<table class="table table-striped">

    <thead>
        <tr>
            <th>Problem #</th>
            <th>Problem Name</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        {% for prob in probs %}
        <tr>
            <td>{{ prob.problem.id }}</td>
            <td><a href="/problem/?q={{ prob.problem.id }}">{{ prob.problem }}</a></td>
            <td>{{ prob.score }}</td>
        </tr>
        {% endfor %}
    <tbody>
</table>


{% endblock %}

{% block sidebar %}
    <a class="btn btn-info pull-right" href="/settings/"><i class="icon-cog icon-white"></i>Settings</a>
    <h3>Personal Info</h3>
        <dl class="dl-horizontal">
        <dt>Username:</dt><dd>{% if user %}{{ user }}{% else %}---{% endif %}</dd>
        <dt>First name:</dt><dd>{% if user.first_name %}{{ user.first_name }}{% else %}---{% endif %}</dd>
        <dt>Lastname:</dt><dd>{% if user.last_name %}{{ user.last_name }}{% else %}---{% endif %}</dd>
        <dt>Email:</dt><dd>{% if user.email %}{{ user.email }}{% else %}---{% endif %}</dd>
    </dl>
    <p>{{ request.user.get_full_name }}</p>
{% endblock %}