<p>In <a href="/wiki/Elementary_algebra" title="Elementary algebra">elementary algebra</a>, an <b>algebraic fraction</b> is the indicated <a href="/wiki/Quotient" title="Quotient">quotient</a> of two <a href="/wiki/Algebraic_expression" title="Algebraic expression">algebraic expressions</a>.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> Two examples of algebraic fractions are <img class="tex" alt="\frac{3x}{x^2+2x-3}" src="//upload.wikimedia.org/wikipedia/en/math/2/f/5/2f513cb06371e0c671ae03799515bf79.png" /> and <img class="tex" alt="\frac{\sqrt{x+2}}{x^2-3}" src="//upload.wikimedia.org/wikipedia/en/math/c/2/5/c257e35bd62b5e006b936ed9a74c3039.png" />. Algebraic fractions are subject to the same laws as <a href="/wiki/Arithmetic_fraction" title="Arithmetic fraction" class="mw-redirect">arithmetic fractions</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Terminology"><span class="tocnumber">1</span> <span class="toctext">Terminology</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Rational_fractions"><span class="tocnumber">2</span> <span class="toctext">Rational fractions</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Irrational_fractions"><span class="tocnumber">3</span> <span class="toctext">Irrational fractions</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Notes"><span class="tocnumber">4</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#References"><span class="tocnumber">5</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Algebraic_fraction&amp;action=&amp;section=1" title="Edit section: Terminology"></a>]</span> <span class="mw-headline" id="Terminology">Terminology</span></h2>
<p>In the algebraic fraction <img class="tex" alt="\tfrac{a}{b}" src="//upload.wikimedia.org/wikipedia/en/math/e/c/3/ec3e447b2dcda3eb68860a5cb3780bf7.png" />, the dividend <i>a</i> is called the <b>numerator</b> and the divisor <i>b</i> is called the <b>denominator</b>. The numerator and denominator are called the <b><a href="/wiki/Term_(mathematics)" title="Term (mathematics)">terms</a></b> of the algebraic fraction.</p>
<p>A <b>complex fraction</b> is a fraction whose numerator or denominator, or both, contains a fraction. A <b>simple fraction</b> contains no fraction either in its numerator or its denominator. A fraction is in <b>lowest terms</b> if the only factor common to the numerator and the denominator is 1.</p>
<p>An expression which is not in fractional form is an <b>integral expression</b>. An integral expression can always be written in fractional form by giving it the denominator 1. A <b>mixed expression</b> is the algebraic sum of one or more integral expressions and one or more fractional terms.</p>
<h2><span class="section">[<a href="/w/index.php?title=Algebraic_fraction&amp;action=&amp;section=2" title="Edit section: Rational fractions"></a>]</span> <span class="mw-headline" id="Rational_fractions">Rational fractions</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Rational_function" title="Rational function">Rational function</a></div>
<p>If the expressions <i>a</i> and <i>b</i> are <a href="/wiki/Polynomial" title="Polynomial">polynomials</a>, the algebraic fraction is called a <b>rational algebraic fraction</b><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> or simply <b>rational fraction</b>.<sup id="cite_ref-Vinberg_2-0" class="reference"><a href="#cite_note-Vinberg-2"><span>[</span>3<span>]</span></a></sup><sup id="cite_ref-Gupta_3-0" class="reference"><a href="#cite_note-Gupta-3"><span>[</span>4<span>]</span></a></sup> Rational fractions are also known under the term <a href="/wiki/Rational_function" title="Rational function">rational function</a><sup id="cite_ref-Vinberg_2-1" class="reference"><a href="#cite_note-Vinberg-2"><span>[</span>3<span>]</span></a></sup><sup id="cite_ref-Gupta_3-1" class="reference"><a href="#cite_note-Gupta-3"><span>[</span>4<span>]</span></a></sup> or rational expression. A rational fraction <img class="tex" alt="\tfrac{f(x)}{g(x)}" src="//upload.wikimedia.org/wikipedia/en/math/3/d/7/3d74b2477853e3b3ce3609e9cfed3729.png" /> is called <b>proper</b> if <img class="tex" alt="\deg f(x) &lt; \deg g(x)" src="//upload.wikimedia.org/wikipedia/en/math/f/3/3/f3316547bd8ea13b1b7b6e1eaf646ffd.png" />, and <b>improper</b> otherwise. For example, the rational fraction <img class="tex" alt="\tfrac{2x}{x^2-1}" src="//upload.wikimedia.org/wikipedia/en/math/e/b/4/eb40ba1b3f6d03b183bb98e1c861db4a.png" /> is proper, and the rational fractions <img class="tex" alt="\tfrac{x^3+x^2+1}{x^2-5x+6}" src="//upload.wikimedia.org/wikipedia/en/math/1/7/2/172cfa085264f2527ec5ba574a88267a.png" /> and <img class="tex" alt="\tfrac{x^2-x+1}{5x^2+3}" src="//upload.wikimedia.org/wikipedia/en/math/3/4/b/34b222ec902cf34e8e5aa39ef2934a7c.png" /> are improper. Any improper rational fraction can be expressed as the sum of a polynomial (possibly constant) and a proper rational fraction. In the first example of an improper fraction one has</p>
<dl>
<dd><img class="tex" alt="\frac{x^3+x^2+1}{x^2-5x+6} = (x+6) + \frac{24x-35}{x^2-5x+6}," src="//upload.wikimedia.org/wikipedia/en/math/a/1/3/a13d184ce5b2309e50c708a1f7c33b86.png" /></dd>
</dl>
<p>where the second term is a proper rational fraction. The sum of two proper rational fractions is a proper rational fraction as well. The reverse process of expressing a proper rational fraction as the sum of two or more fractions is called resolving it into <a href="/wiki/Partial_fraction" title="Partial fraction">partial fractions</a>. For example,</p>
<dl>
<dd><img class="tex" alt="\frac{2x}{x^2-1} = \frac{1}{x-1} + \frac{1}{x+1}." src="//upload.wikimedia.org/wikipedia/en/math/7/6/c/76c7cdfa5b67009d691161f01207e511.png" /></dd>
</dl>
<p>Here, the two terms on the right are called partial fractions.</p>
<h2><span class="section">[<a href="/w/index.php?title=Algebraic_fraction&amp;action=&amp;section=3" title="Edit section: Irrational fractions"></a>]</span> <span class="mw-headline" id="Irrational_fractions">Irrational fractions</span></h2>
<p>An <b>irrational fraction</b> is one that contains the variable under a fractional exponent.<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup> An example of an irrational fraction is</p>
<dl>
<dd><img class="tex" alt="\frac{x^\tfrac12 - \tfrac13 a}{x^\tfrac13 - x^\tfrac12}." src="//upload.wikimedia.org/wikipedia/en/math/1/2/d/12dd8e94f570f1f58043b333bdd90111.png" /></dd>
</dl>
<p>The process of transforming an irrational fraction to a rational fraction is known as <a href="/wiki/Rationalisation_(mathematics)" title="Rationalisation (mathematics)">rationalization</a>. Every irrational fraction in which the radicals are <a href="/wiki/Monomial" title="Monomial">monomials</a> may be rationalized by finding the <a href="/wiki/Least_common_multiple" title="Least common multiple">least common multiple</a> of the indices of the roots, and substituting the variable for another variable with the least common multiple as exponent. In the example given, the least common multiple is 6, hence we can substitute <img class="tex" alt="x = z^6" src="//upload.wikimedia.org/wikipedia/en/math/d/b/4/db4b876f1df8608747646b386e8c0e27.png" /> to obtain</p>
<dl>
<dd><img class="tex" alt="\frac{z^3 - \tfrac13 a}{z^2 - z^3}." src="//upload.wikimedia.org/wikipedia/en/math/5/a/c/5acf4c51686cf2d2d8343083df688832.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Algebraic_fraction&amp;action=&amp;section=4" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation book">Slaught, H. E.; Lennes, N.J.. <a rel="nofollow" class="external text" href="http://books.google.com/books?id=01l2b7SP9sIC&amp;pg=PA41&amp;dq=%22algebraic+fraction%22+%2Bdefinition&amp;hl=fr&amp;ei=LXi1TpzaENO5hAfD7dWXBA&amp;sa=X&amp;oi=book_result&amp;ct=book-preview-link&amp;resnum=9&amp;ved=0CF0QuwUwCA#v=onepage&amp;q=%22algebraic%20fraction%22%20%2Bdefinition&amp;f=false"><i>Intermediate algebra</i></a>. p.&#160;41<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=01l2b7SP9sIC&amp;pg=PA41&amp;dq=%22algebraic+fraction%22+%2Bdefinition&amp;hl=fr&amp;ei=LXi1TpzaENO5hAfD7dWXBA&amp;sa=X&amp;oi=book_result&amp;ct=book-preview-link&amp;resnum=9&amp;ved=0CF0QuwUwCA#v=onepage&amp;q=%22algebraic%20fraction%22%20%2Bdefinition&amp;f=false">http://books.google.com/books?id=01l2b7SP9sIC&amp;pg=PA41&amp;dq=%22algebraic+fraction%22+%2Bdefinition&amp;hl=fr&amp;ei=LXi1TpzaENO5hAfD7dWXBA&amp;sa=X&amp;oi=book_result&amp;ct=book-preview-link&amp;resnum=9&amp;ved=0CF0QuwUwCA#v=onepage&amp;q=%22algebraic%20fraction%22%20%2Bdefinition&amp;f=false</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Intermediate+algebra&amp;rft.aulast=Slaught&amp;rft.aufirst=H.+E.&amp;rft.au=Slaught%2C%26%2332%3BH.+E.&amp;rft.au=Lennes%2C%26%2332%3BN.J.&amp;rft.pages=p.%26nbsp%3B41&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3D01l2b7SP9sIC%26pg%3DPA41%26dq%3D%2522algebraic%2Bfraction%2522%2B%252Bdefinition%26hl%3Dfr%26ei%3DLXi1TpzaENO5hAfD7dWXBA%26sa%3DX%26oi%3Dbook_result%26ct%3Dbook-preview-link%26resnum%3D9%26ved%3D0CF0QuwUwCA%23v%3Donepage%26q%3D%2522algebraic%2520fraction%2522%2520%252Bdefinition%26f%3Dfalse&amp;rfr_id=info:sid/en.wikipedia.org:Algebraic_fraction"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><span class="citation book">Bansi Lal (2006). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=RlQ-tHlWcxcC&amp;pg=PA53&amp;dq=%22rational+algebraic+fraction%22&amp;hl=fr&amp;ei=cyWcTqe1I5CPswaz5oTsAw&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=1&amp;ved=0CC0Q6AEwAA"><i>Topics in Integral Calculus</i></a>. p.&#160;53<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=RlQ-tHlWcxcC&amp;pg=PA53&amp;dq=%22rational+algebraic+fraction%22&amp;hl=fr&amp;ei=cyWcTqe1I5CPswaz5oTsAw&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=1&amp;ved=0CC0Q6AEwAA">http://books.google.com/books?id=RlQ-tHlWcxcC&amp;pg=PA53&amp;dq=%22rational+algebraic+fraction%22&amp;hl=fr&amp;ei=cyWcTqe1I5CPswaz5oTsAw&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=1&amp;ved=0CC0Q6AEwAA</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Topics+in+Integral+Calculus&amp;rft.aulast=Bansi+Lal&amp;rft.au=Bansi+Lal&amp;rft.date=2006&amp;rft.pages=p.%26nbsp%3B53&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DRlQ-tHlWcxcC%26pg%3DPA53%26dq%3D%2522rational%2Balgebraic%2Bfraction%2522%26hl%3Dfr%26ei%3DcyWcTqe1I5CPswaz5oTsAw%26sa%3DX%26oi%3Dbook_result%26ct%3Dresult%26resnum%3D1%26ved%3D0CC0Q6AEwAA&amp;rfr_id=info:sid/en.wikipedia.org:Algebraic_fraction"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-Vinberg-2">^ <a href="#cite_ref-Vinberg_2-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Vinberg_2-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><span class="citation book">rnest Borisovich Vinberg (2003). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=rzNq39lvNt0C&amp;pg=PA132&amp;dq=%22rational+fraction%22&amp;hl=fr&amp;ei=JiucTp-qJIj0sgbY2PSfBA&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=5&amp;ved=0CEIQ6AEwBDgK"><i>A course in algebra</i></a>. p.&#160;131<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=rzNq39lvNt0C&amp;pg=PA132&amp;dq=%22rational+fraction%22&amp;hl=fr&amp;ei=JiucTp-qJIj0sgbY2PSfBA&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=5&amp;ved=0CEIQ6AEwBDgK">http://books.google.com/books?id=rzNq39lvNt0C&amp;pg=PA132&amp;dq=%22rational+fraction%22&amp;hl=fr&amp;ei=JiucTp-qJIj0sgbY2PSfBA&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=5&amp;ved=0CEIQ6AEwBDgK</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=A+course+in+algebra&amp;rft.aulast=%C4%96rnest+Borisovich+Vinberg&amp;rft.au=%C4%96rnest+Borisovich+Vinberg&amp;rft.date=2003&amp;rft.pages=p.%26nbsp%3B131&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DrzNq39lvNt0C%26pg%3DPA132%26dq%3D%2522rational%2Bfraction%2522%26hl%3Dfr%26ei%3DJiucTp-qJIj0sgbY2PSfBA%26sa%3DX%26oi%3Dbook_result%26ct%3Dresult%26resnum%3D5%26ved%3D0CEIQ6AEwBDgK&amp;rfr_id=info:sid/en.wikipedia.org:Algebraic_fraction"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-Gupta-3">^ <a href="#cite_ref-Gupta_3-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Gupta_3-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><span class="citation book">Parmanand Gupta. <a rel="nofollow" class="external text" href="http://books.google.com/books?id=DoqIu7L2Yg8C&amp;pg=PA739&amp;dq=%22rational+fraction%22&amp;hl=fr&amp;ei=gi6cTom4Ic3FtAbQ58CbBA&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=2&amp;ved=0CDUQ6AEwATgK"><i>Comprehensive Mathematics XII</i></a>. p.&#160;739<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=DoqIu7L2Yg8C&amp;pg=PA739&amp;dq=%22rational+fraction%22&amp;hl=fr&amp;ei=gi6cTom4Ic3FtAbQ58CbBA&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=2&amp;ved=0CDUQ6AEwATgK">http://books.google.com/books?id=DoqIu7L2Yg8C&amp;pg=PA739&amp;dq=%22rational+fraction%22&amp;hl=fr&amp;ei=gi6cTom4Ic3FtAbQ58CbBA&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=2&amp;ved=0CDUQ6AEwATgK</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Comprehensive+Mathematics+XII&amp;rft.aulast=Parmanand+Gupta&amp;rft.au=Parmanand+Gupta&amp;rft.pages=p.%26nbsp%3B739&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DDoqIu7L2Yg8C%26pg%3DPA739%26dq%3D%2522rational%2Bfraction%2522%26hl%3Dfr%26ei%3Dgi6cTom4Ic3FtAbQ58CbBA%26sa%3DX%26oi%3Dbook_result%26ct%3Dresult%26resnum%3D2%26ved%3D0CDUQ6AEwATgK&amp;rfr_id=info:sid/en.wikipedia.org:Algebraic_fraction"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><span class="citation book">Washington McCartney (1844). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=o1dLAAAAMAAJ&amp;pg=PA203&amp;dq=%22irrational+fraction%22&amp;hl=fr&amp;ei=HRmcTuX6MoX0sgavm_DqAw&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=2&amp;ved=0CDkQ6AEwAQ"><i>The principles of the differential and integral calculus; and their application to geometry</i></a>. p.&#160;203<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=o1dLAAAAMAAJ&amp;pg=PA203&amp;dq=%22irrational+fraction%22&amp;hl=fr&amp;ei=HRmcTuX6MoX0sgavm_DqAw&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=2&amp;ved=0CDkQ6AEwAQ">http://books.google.com/books?id=o1dLAAAAMAAJ&amp;pg=PA203&amp;dq=%22irrational+fraction%22&amp;hl=fr&amp;ei=HRmcTuX6MoX0sgavm_DqAw&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=2&amp;ved=0CDkQ6AEwAQ</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+principles+of+the+differential+and+integral+calculus%3B+and+their+application+to+geometry&amp;rft.aulast=Washington+McCartney&amp;rft.au=Washington+McCartney&amp;rft.date=1844&amp;rft.pages=p.%26nbsp%3B203&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3Do1dLAAAAMAAJ%26pg%3DPA203%26dq%3D%2522irrational%2Bfraction%2522%26hl%3Dfr%26ei%3DHRmcTuX6MoX0sgavm_DqAw%26sa%3DX%26oi%3Dbook_result%26ct%3Dresult%26resnum%3D2%26ved%3D0CDkQ6AEwAQ&amp;rfr_id=info:sid/en.wikipedia.org:Algebraic_fraction"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Algebraic_fraction&amp;action=&amp;section=5" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<p><span class="citation book">Brink, Raymond W. (1951). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=n-EjEuKqk1YC&amp;pg=PR3&amp;dq=%22complex+fraction%22+contains&amp;hl=de&amp;source=gbs_selected_pages&amp;cad=3#v=onepage&amp;q=%22complex%20fraction%22%20contains&amp;f=false">"IV. Fractions"</a>. <i>College Algebra</i><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=n-EjEuKqk1YC&amp;pg=PR3&amp;dq=%22complex+fraction%22+contains&amp;hl=de&amp;source=gbs_selected_pages&amp;cad=3#v=onepage&amp;q=%22complex%20fraction%22%20contains&amp;f=false">http://books.google.com/books?id=n-EjEuKqk1YC&amp;pg=PR3&amp;dq=%22complex+fraction%22+contains&amp;hl=de&amp;source=gbs_selected_pages&amp;cad=3#v=onepage&amp;q=%22complex%20fraction%22%20contains&amp;f=false</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=IV.+Fractions&amp;rft.atitle=College+Algebra&amp;rft.aulast=Brink&amp;rft.aufirst=Raymond+W.&amp;rft.au=Brink%2C%26%2332%3BRaymond+W.&amp;rft.date=1951&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3Dn-EjEuKqk1YC%26pg%3DPR3%26dq%3D%2522complex%2Bfraction%2522%2Bcontains%26hl%3Dde%26source%3Dgbs_selected_pages%26cad%3D3%23v%3Donepage%26q%3D%2522complex%2520fraction%2522%2520contains%26f%3Dfalse&amp;rfr_id=info:sid/en.wikipedia.org:Algebraic_fraction"><span style="display: none;">&#160;</span></span></p>


<!-- 
NewPP limit report
Preprocessor node count: 4145/1000000
Post-expand include size: 36501/2048000 bytes
Template argument size: 13441/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:8559560-0!0!0!!en!*!* and timestamp 20120412191107 -->
