<div class="dablink">This article is about associativity in mathematics.  For associativity in the central processor unit memory cache, see <a href="/wiki/CPU_cache" title="CPU cache">CPU cache</a>.  For associativity in programming languages, see <a href="/wiki/Operator_associativity" title="Operator associativity">operator associativity</a>.</div>
<table class="metadata plainlinks ambox ambox-content ambox-Refimprove" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This article <b>needs additional <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">citations</a> for <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verification</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Associative_property&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(June 2009)</i></small></td>
</tr>
</table>
<table class="vertical-navbox nowraplinks" cellspacing="5" style="float: right; clear: right; background-color: #f9f9f9; border: 1px solid #aaa; width:22em; margin: 0 0 1em 1em; padding: 0.2em; border-spacing: 0.4em 0; text-align: center; line-height: 1.4em; font-size: 88%; line-height:160%; width:auto;" cellpadding="0">
<tr>
<th class="" style="padding: 0.2em 0.4em 0.2em; font-size: 145%; line-height: 1.2em; font-size:140%;padding-bottom:0.25em;"><a href="/wiki/Rule_of_inference" title="Rule of inference">Transformation rules</a></th>
</tr>
<tr>
<th class="" style="padding-top: 0.2em; border-top:#aaa 1px solid;font-size:120%;padding-bottom:0.25em;;"><a href="/wiki/Propositional_calculus" title="Propositional calculus">Propositional calculus</a></th>
</tr>
<tr>
<td class="" style="padding-bottom: 0.2em;&#160;;">
<p><b><a href="/wiki/Rule_of_inference" title="Rule of inference">Rules of inference</a></b><br />
<i><a href="/wiki/Modus_ponens" title="Modus ponens"><span title="AB, A  B">Modus ponens</span></a></i><br />
<i><a href="/wiki/Modus_tollens" title="Modus tollens"><span title="AB, B  A">Modus tollens</span></a></i><br />
<a href="/wiki/Biconditional_introduction" title="Biconditional introduction">Biconditional introduction</a><br />
<a href="/wiki/Biconditional_elimination" title="Biconditional elimination">Biconditional elimination</a><br />
<a href="/wiki/Conjunction_introduction" title="Conjunction introduction"><span title="A, B  AB">Conjunction introduction</span></a><br />
<a href="/wiki/Simplification" title="Simplification"><span title="AB  A">Simplification</span></a><br />
<a href="/wiki/Disjunction_introduction" title="Disjunction introduction"><span title="A  AB">Disjunction introduction</span></a><br />
<a href="/wiki/Disjunction_elimination" title="Disjunction elimination"><span title="AB, AC, BC  C">Disjunction elimination</span></a><br />
<a href="/wiki/Disjunctive_syllogism" title="Disjunctive syllogism"><span title="AB, A  B">Disjunctive syllogism</span></a><br />
<a href="/wiki/Hypothetical_syllogism" title="Hypothetical syllogism"><span title="AB, BC  AC">Hypothetical syllogism</span></a><br />
<a href="/wiki/Constructive_dilemma" title="Constructive dilemma"><span title="AP, BQ, AB  PQ">Constructive dilemma</span></a><br />
<a href="/wiki/Destructive_dilemma" title="Destructive dilemma"><span title="AP, BQ, PQ  AB">Destructive dilemma</span></a><br />
<a href="/wiki/Absorption_(logic)" title="Absorption (logic)"><span title="AB  AAB">Absorption</span></a><br /></p>
<p><b><a href="/wiki/Rule_of_replacement" title="Rule of replacement">Rules of replacement</a></b><br /></p>
<strong class="selflink"><span title="A(BC) = (AB)C">Associativity</span></strong><br />
<a href="/wiki/Commutative_property" title="Commutative property">Commutativity</a><br />
<a href="/wiki/Distributive_property" title="Distributive property"><span title="A(BC)= (AB)(AC)">Distributivity</span></a><br />
<a href="/wiki/Double_negative_elimination" title="Double negative elimination"><span title="A = A">Double negation</span></a><br />
<a href="/wiki/De_Morgan%27s_laws" title="De Morgan's laws">De Morgan's laws</a><br />
<a href="/wiki/Transposition_(logic)" title="Transposition (logic)">Transposition</a><br />
<a href="/wiki/Material_implication_(rule_of_inference)" title="Material implication (rule of inference)">Material implication</a><br />
<a href="/wiki/Exportation_(logic)" title="Exportation (logic)">Exportation</a><br />
<a href="/wiki/Tautology_(rule_of_inference)" title="Tautology (rule of inference)">Tautology</a><br /></td>
</tr>
<tr>
<th class="" style="padding-top: 0.2em; border-top:#aaa 1px solid;font-size:120%;padding-bottom:0.25em;;"><a href="/wiki/Predicate_logic" title="Predicate logic">Predicate logic</a></th>
</tr>
<tr>
<td class="" style="padding-bottom: 0.2em;&#160;;"><a href="/wiki/Universal_generalization" title="Universal generalization">Universal generalization</a><br />
<a href="/wiki/Universal_instantiation" title="Universal instantiation">Universal instantiation</a><br />
<a href="/wiki/Existential_generalization" title="Existential generalization">Existential generalization</a><br />
<a href="/wiki/Existential_instantiation" title="Existential instantiation">Existential instantiation</a></td>
</tr>
<tr>
<td style="text-align: right; font-size: 115%;">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Transformation_rules" title="Template:Transformation rules"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Transformation_rules" title="Template talk:Transformation rules"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Transformation_rules&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, the <b>associative property</b> is a property of some <a href="/wiki/Binary_operation" title="Binary operation">binary operations</a>. In <a href="/wiki/Propositional_logic" title="Propositional logic" class="mw-redirect">propositional logic</a>, <b>associativity</b> is a <a href="/wiki/Validity" title="Validity">valid</a> <a href="/wiki/Rule_of_replacement" title="Rule of replacement">rule of replacement</a> for <a href="/wiki/Well-formed_formula" title="Well-formed formula">expressions</a> in <a href="/wiki/Formal_proof" title="Formal proof">logical proofs</a>.</p>
<p>Within an expression containing two or more occurrences in a row of the same associative operator, the order in which the <a href="/wiki/Operation_(mathematics)" title="Operation (mathematics)">operations</a> are performed does not matter as long as the sequence of the <a href="/wiki/Operand" title="Operand">operands</a> is not changed. That is, rearranging the <a href="/wiki/Bracket#Parentheses_.28_.29" title="Bracket">parentheses</a> in such an expression will not change its value. Consider, for instance, the following equations:</p>
<dl>
<dd><img class="tex" alt="(5+2)+1=5+(2+1)=8 \," src="//upload.wikimedia.org/wikipedia/en/math/8/2/f/82f91605d6e250e81ab4cc2ba4e8514d.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="5\times(5\times3)=(5\times5)\times3=75 \," src="//upload.wikimedia.org/wikipedia/en/math/b/d/1/bd14fcb33d5a77d6d2a02e6243a4c588.png" /></dd>
</dl>
<p>Consider the first equation. Even though the parentheses were rearranged (the left side requires adding 5 and 2 first, then adding 1 to the result, whereas the right side requires adding 2 and 1 first, then 5), the value of the expression was not altered. Since this holds true when performing addition on any <a href="/wiki/Real_number" title="Real number">real numbers</a>, we say that "addition of real numbers is an associative operation."</p>
<p>Associativity is not to be confused with <a href="/wiki/Commutativity" title="Commutativity" class="mw-redirect">commutativity</a>. Commutativity justifies changing the order or sequence of the operands within an expression while associativity does not. For example,</p>
<dl>
<dd><img class="tex" alt="(5+2)+1=5+(2+1) \," src="//upload.wikimedia.org/wikipedia/en/math/c/7/9/c79a22d4c5d703c5ad1e391a38ccd11a.png" /></dd>
</dl>
<p>is an example of associativity because the parentheses were changed (and consequently the order of operations during evaluation) while the operands 5, 2, and 1 appeared in exactly the same order from left to right in the expression. In contrast,</p>
<dl>
<dd><img class="tex" alt="(5+2)+1=(2+5)+1 \," src="//upload.wikimedia.org/wikipedia/en/math/c/a/6/ca6908272e5cdb25c78811a097036cbc.png" /></dd>
</dl>
<p>is an example of commutativity, not associativity, because the operand sequence changed when the 2 and 5 switched places.</p>
<p>Associative operations are abundant in mathematics; in fact, many <a href="/wiki/Algebraic_structure" title="Algebraic structure">algebraic structures</a> (such as <a href="/wiki/Semigroup_(mathematics)" title="Semigroup (mathematics)" class="mw-redirect">semigroups</a> and <a href="/wiki/Category_(mathematics)" title="Category (mathematics)">categories</a>) explicitly require their binary operations to be associative.</p>
<p>However, many important and interesting operations are non-associative; one common example would be the <a href="/wiki/Vector_cross_product" title="Vector cross product" class="mw-redirect">vector cross product</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Definition"><span class="tocnumber">1</span> <span class="toctext">Definition</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Examples"><span class="tocnumber">2</span> <span class="toctext">Examples</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Propositional_logic"><span class="tocnumber">3</span> <span class="toctext">Propositional logic</span></a>
<ul>
<li class="toclevel-2 tocsection-4"><a href="#Rule_of_replacement"><span class="tocnumber">3.1</span> <span class="toctext">Rule of replacement</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Truth_functional_connectives"><span class="tocnumber">3.2</span> <span class="toctext">Truth functional connectives</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-6"><a href="#Non-associativity"><span class="tocnumber">4</span> <span class="toctext">Non-associativity</span></a>
<ul>
<li class="toclevel-2 tocsection-7"><a href="#Notation_for_non-associative_operations"><span class="tocnumber">4.1</span> <span class="toctext">Notation for non-associative operations</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-8"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Associative_property&amp;action=&amp;section=1" title="Edit section: Definition"></a>]</span> <span class="mw-headline" id="Definition">Definition</span></h2>
<p>Formally, a binary operation <img class="tex" alt="*\!\!\!" src="//upload.wikimedia.org/wikipedia/en/math/2/b/5/2b56030da291dcc0a035651d34a2582b.png" /> on a <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">set</a> <i>S</i> is called <b>associative</b> if it satisfies the <b>associative law</b>:</p>
<dl>
<dd><img class="tex" alt="(x * y) * z=x * (y * z)\qquad\mbox{for all }x,y,z\in S." src="//upload.wikimedia.org/wikipedia/en/math/f/0/8/f084fdec688b37158f0b4fed216cbd81.png" /></dd>
<dd><i>Using * to denote a <a href="/wiki/Binary_operation" title="Binary operation">binary operation</a> performed on a set</i></dd>
</dl>
<dl>
<dd><img class="tex" alt="(xy)z=x(yz) = xyz \qquad\mbox{for all }x,y,z\in S." src="//upload.wikimedia.org/wikipedia/en/math/c/e/9/ce911160dda5e889e86256888258d14c.png" /></dd>
<dd><i>An example of multiplicative associativity</i></dd>
</dl>
<p>The evaluation order does not affect the value of such expressions, and it can be shown that the same holds for expressions containing <i>any</i> number of <img class="tex" alt="*\!\!\!" src="//upload.wikimedia.org/wikipedia/en/math/2/b/5/2b56030da291dcc0a035651d34a2582b.png" /> operations. Thus, when <img class="tex" alt="*\!\!\!" src="//upload.wikimedia.org/wikipedia/en/math/2/b/5/2b56030da291dcc0a035651d34a2582b.png" /> is associative, the evaluation order can be left unspecified without causing ambiguity, by omitting the parentheses and writing simply:</p>
<dl>
<dd><img class="tex" alt="xyz," src="//upload.wikimedia.org/wikipedia/en/math/b/d/e/bde4c6f70fd40fb44debedd474966ded.png" /></dd>
</dl>
<p>However, it is important to remember that changing the order of operations does not involve or permit moving the operands around within the expression; the sequence of operands is always unchanged.</p>
<p>The associative law can also be expressed in functional notation thus&#160;: <img class="tex" alt=" f(f(x,y),z) = f(x,f(y,z))" src="//upload.wikimedia.org/wikipedia/en/math/1/8/e/18e58b927d4a341b67d784a5bb05e09e.png" />.</p>
<p>Associativity can be generalized to <a href="/wiki/Arity" title="Arity">n-ary operations</a>. Ternary associativity is (abc)de = a(bcd)e = ab(cde), i.e. the string abcde with any three adjacent elements bracketed. N-ary associativity is a string of length n+(n-1) with any n adjacent elements bracketed.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Associative_property&amp;action=&amp;section=2" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h2>
<p>Some examples of associative operations include the following.</p>
<ul>
<li>The <a href="/wiki/String_concatenation" title="String concatenation" class="mw-redirect">concatenation</a> of the three strings <code>"hello"</code>, <code>" "</code>, <code>"world"</code> can be computed by concatenating the first two strings (giving <code>"hello "</code>) and appending the third string (<code>"world"</code>), or by joining the second and third string (giving <code>" world"</code>) and concatenating the first string (<code>"hello"</code>) with the result. The two methods produce the same result; string concatenation is associative (but not commutative).</li>
</ul>
<ul>
<li>In <a href="/wiki/Arithmetic" title="Arithmetic">arithmetic</a>, <a href="/wiki/Addition" title="Addition">addition</a> and <a href="/wiki/Multiplication" title="Multiplication">multiplication</a> of <a href="/wiki/Real_number" title="Real number">real numbers</a> are associative; i.e.,</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="
\left.
\begin{matrix}
(x+y)+z=x+(y+z)=x+y+z\quad
\\
(x\,y)z=x(y\,z)=x\,y\,z\qquad\qquad\qquad\quad\ \ \,
\end{matrix}
\right\}
\mbox{for all }x,y,z\in\mathbb{R}.
" src="//upload.wikimedia.org/wikipedia/en/math/2/5/2/252115efce7f846c21023312bd8b12e6.png" /></dd>
</dl>
</dd>
<dd>Because of associativity, the grouping parentheses can be omitted without ambiguity.</dd>
</dl>
<ul>
<li>Addition and multiplication of <a href="/wiki/Complex_number" title="Complex number">complex numbers</a> and <a href="/wiki/Quaternion" title="Quaternion">quaternions</a> is associative. Addition of <a href="/wiki/Octonion" title="Octonion">octonions</a> is also associative, but multiplication of octonions is non-associative.</li>
</ul>
<ul>
<li>The <a href="/wiki/Greatest_common_divisor" title="Greatest common divisor">greatest common divisor</a> and <a href="/wiki/Least_common_multiple" title="Least common multiple">least common multiple</a> functions act associatively.</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="

\left.
\begin{matrix}
\operatorname{gcd}(\operatorname{gcd}(x,y),z)=
\operatorname{gcd}(x,\operatorname{gcd}(y,z))=
\operatorname{gcd}(x,y,z)\ \quad
\\
\operatorname{lcm}(\operatorname{lcm}(x,y),z)=
\operatorname{lcm}(x,\operatorname{lcm}(y,z))=
\operatorname{lcm}(x,y,z)\quad
\end{matrix}
\right\}\mbox{ for all }x,y,z\in\mathbb{Z}.
" src="//upload.wikimedia.org/wikipedia/en/math/9/1/3/9131da93c734ddc52647b1f1598c1918.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>Taking the <a href="/wiki/Intersection_(set_theory)" title="Intersection (set theory)">intersection</a> or the <a href="/wiki/Union_(set_theory)" title="Union (set theory)">union</a> of <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">sets</a>:</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="

\left.
\begin{matrix}
(A\cap B)\cap C=A\cap(B\cap C)=A\cap B\cap C\quad
\\
(A\cup B)\cup C=A\cup(B\cup C)=A\cup B\cup C\quad
\end{matrix}
\right\}\mbox{for all sets }A,B,C.
" src="//upload.wikimedia.org/wikipedia/en/math/f/9/4/f940b5f53dd26b1323d518736e36c73c.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>If <i>M</i> is some set and <i>S</i> denotes the set of all functions from <i>M</i> to <i>M</i>, then the operation of <a href="/wiki/Functional_composition" title="Functional composition" class="mw-redirect">functional composition</a> on <i>S</i> is associative:</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="(f\circ g)\circ h=f\circ(g\circ h)=f\circ g\circ h\qquad\mbox{for all }f,g,h\in S." src="//upload.wikimedia.org/wikipedia/en/math/9/f/a/9faff3ee8b1e083f498a64b05032cd28.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>Slightly more generally, given four sets <i>M</i>, <i>N</i>, <i>P</i> and <i>Q</i>, with <i>h</i>: <i>M</i> to <i>N</i>, <i>g</i>: <i>N</i> to <i>P</i>, and <i>f</i>: <i>P</i> to <i>Q</i>, then</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="(f\circ g)\circ h=f\circ(g\circ h)=f\circ g\circ h" src="//upload.wikimedia.org/wikipedia/en/math/d/8/f/d8fde79d7ec5f54c46ab8f6e04925c27.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>as before. In short, composition of maps is always associative.</dd>
</dl>
<ul>
<li>Consider a set with three elements, A, B, and C. The following operation:</li>
</ul>
<table class="wikitable" style="text-align:center">
<tr>
<th></th>
<th>A</th>
<th>B</th>
<th>C</th>
</tr>
<tr>
<th>A</th>
<td>A</td>
<td>A</td>
<td>A</td>
</tr>
<tr>
<th>B</th>
<td>A</td>
<td>B</td>
<td>C</td>
</tr>
<tr>
<th>C</th>
<td>A</td>
<td>A</td>
<td>A</td>
</tr>
</table>
<p>is associative. Thus, for example, A(BC)=(AB)C. This mapping is not commutative.</p>
<ul>
<li>Because <a href="/wiki/Matrix_(mathematics)" title="Matrix (mathematics)">matrices</a> represent <a href="/wiki/Linear_map" title="Linear map">linear transformation</a> functions, with <a href="/wiki/Matrix_multiplication" title="Matrix multiplication">matrix multiplication</a> representing functional composition, one can immediately conclude that matrix multiplication is associative.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Associative_property&amp;action=&amp;section=3" title="Edit section: Propositional logic"></a>]</span> <span class="mw-headline" id="Propositional_logic">Propositional logic</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Associative_property&amp;action=&amp;section=4" title="Edit section: Rule of replacement"></a>]</span> <span class="mw-headline" id="Rule_of_replacement">Rule of replacement</span></h3>
<p>In standard truth-functional propositional logic, <i>association</i><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup><sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup>, or <i>associativity</i><sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup> are two <a href="/wiki/Validity" title="Validity">valid</a> <a href="/wiki/Rule_of_replacement" title="Rule of replacement">rules of replacement</a>. The rules allow one to move parentheses in <a href="/wiki/Well-formed_formula" title="Well-formed formula">logical expressions</a> in <a href="/wiki/Formal_proof" title="Formal proof">logical proofs</a>. The rules are:</p>
<p><br /></p>
<dl>
<dd><img class="tex" alt="(P \or (Q \or R)) \Leftrightarrow ((P \or Q) \or R)" src="//upload.wikimedia.org/wikipedia/en/math/4/1/7/417c6cbeba0d2666ba9b9fa84a9c8258.png" /></dd>
</dl>
<p>and</p>
<dl>
<dd><img class="tex" alt="(P \and (Q \and R)) \Leftrightarrow ((P \and Q) \and R)" src="//upload.wikimedia.org/wikipedia/en/math/4/4/4/444cf6c0aa3163cae3124b2a41a606e0.png" /></dd>
</dl>
<p><br />
Where "<img class="tex" alt="\Leftrightarrow" src="//upload.wikimedia.org/wikipedia/en/math/0/1/4/014cced2b73c22eb88cdc6901afb0c9d.png" />" is a <a href="/wiki/Metalogic" title="Metalogic">metalogical</a> <a href="/wiki/Symbol_(formal)" title="Symbol (formal)">symbol</a> representing "can be replaced in a <a href="/wiki/Formal_proof" title="Formal proof">proof</a> with."</p>
<h3><span class="section">[<a href="/w/index.php?title=Associative_property&amp;action=&amp;section=5" title="Edit section: Truth functional connectives"></a>]</span> <span class="mw-headline" id="Truth_functional_connectives">Truth functional connectives</span></h3>
<p><i>Associativity</i> is a property of some <a href="/wiki/Logical_connective" title="Logical connective">logical connectives</a> of truth-functional <a href="/wiki/Propositional_logic" title="Propositional logic" class="mw-redirect">propositional logic</a>. The following <a href="/wiki/Logical_equivalence" title="Logical equivalence">logical equivalences</a> demonstrate that associativity is a property of particular connectives. The following are truth-functional <a href="/wiki/Tautology_(logic)" title="Tautology (logic)">tautologies</a>.</p>
<p><b>Associativity of disjunction</b>:</p>
<dl>
<dd><img class="tex" alt="(P \or (Q \or R)) \leftrightarrow ((P \or Q) \or R)" src="//upload.wikimedia.org/wikipedia/en/math/9/f/5/9f5980c3ef7f9be772e9188376cdf9d8.png" /></dd>
<dd><img class="tex" alt="((P \or Q) \or R) \leftrightarrow (P \or (Q \or R))" src="//upload.wikimedia.org/wikipedia/en/math/d/a/3/da33fbbcd9b9a644fcf157916fee2524.png" /></dd>
</dl>
<p><b>Associativity of conjunction</b>:</p>
<dl>
<dd><img class="tex" alt="((P \and Q) \and R) \leftrightarrow (P \and (Q \and R))" src="//upload.wikimedia.org/wikipedia/en/math/9/c/a/9ca3e5e7565427cbde08eec5808a08c4.png" /></dd>
<dd><img class="tex" alt="(P \and (Q \and R)) \leftrightarrow ((P \and Q) \and R)" src="//upload.wikimedia.org/wikipedia/en/math/a/4/7/a47bda0ffb603cc79f623b54f5f3eaed.png" /></dd>
</dl>
<p><b>Associativity of equivalence</b>:</p>
<dl>
<dd><img class="tex" alt="((P \leftrightarrow Q) \leftrightarrow R) \leftrightarrow (P \leftrightarrow (Q \leftrightarrow R))" src="//upload.wikimedia.org/wikipedia/en/math/d/7/5/d75645a7c34c9a2bdbd4eebec8e646ea.png" /></dd>
<dd><img class="tex" alt="(P \leftrightarrow (Q \leftrightarrow R)) \leftrightarrow ((P \leftrightarrow Q) \leftrightarrow R)" src="//upload.wikimedia.org/wikipedia/en/math/e/0/e/e0ed91383e1e18f0db14517686480348.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Associative_property&amp;action=&amp;section=6" title="Edit section: Non-associativity"></a>]</span> <span class="mw-headline" id="Non-associativity">Non-associativity</span></h2>
<p>A binary operation <img class="tex" alt="*" src="//upload.wikimedia.org/wikipedia/en/math/3/3/8/3389dae361af79b04c9c8e7057f60cc6.png" /> on a set <i>S</i> that does not satisfy the associative law is called <b>non-associative</b>. Symbolically,</p>
<dl>
<dd><img class="tex" alt="(x*y)*z\ne x*(y*z)\qquad\mbox{for some }x,y,z\in S." src="//upload.wikimedia.org/wikipedia/en/math/3/f/3/3f3107293e1ed8d727e503bb8c3eea0b.png" /></dd>
</dl>
<p>For such an operation the order of evaluation <i>does</i> matter. For example:</p>
<ul>
<li><a href="/wiki/Subtraction" title="Subtraction">Subtraction</a></li>
</ul>
<dl>
<dd><img class="tex" alt="
(5-3)-2 \, \ne \, 5-(3-2)
" src="//upload.wikimedia.org/wikipedia/en/math/1/7/c/17c75e621f6851cdac46e1954afb7783.png" /></dd>
</dl>
<ul>
<li><a href="/wiki/Division_(mathematics)" title="Division (mathematics)">Division</a></li>
</ul>
<dl>
<dd><img class="tex" alt="
(4/2)/2 \, \ne \, 4/(2/2)
" src="//upload.wikimedia.org/wikipedia/en/math/7/4/5/745a7421bd1c403b77d88429db7a96f1.png" /></dd>
</dl>
<ul>
<li><a href="/wiki/Exponentiation" title="Exponentiation">Exponentiation</a></li>
</ul>
<dl>
<dd><img class="tex" alt="
2^{(1^2)} \, \ne \, (2^1)^2
" src="//upload.wikimedia.org/wikipedia/en/math/2/e/b/2eba2d68f8410f9b4309c33266f7d84d.png" /></dd>
</dl>
<p>Also note that infinite sums are not generally associative, for example:</p>
<dl>
<dd><img class="tex" alt="
(1-1)+(1-1)+(1-1)+(1-1)+(1-1)+(1-1)+\dots \, = \, 0
" src="//upload.wikimedia.org/wikipedia/en/math/a/9/9/a9932b6b2d696423c27c79036256f37c.png" /></dd>
</dl>
<p>whereas</p>
<dl>
<dd><img class="tex" alt="
1+(-1+1)+(-1+1)+(-1+1)+(-1+1)+(-1+1)+(-1+\dots \, = \, 1
" src="//upload.wikimedia.org/wikipedia/en/math/8/c/0/8c0ad8fc51a359dca088b31a4ef7e4b3.png" /></dd>
</dl>
<p>The study of non-associative structures arises from reasons somewhat different from the mainstream of classical algebra. One area within non-associative algebra that has grown very large is that of <a href="/wiki/Lie_algebra" title="Lie algebra">Lie algebras</a>. There the associative law is replaced by the <a href="/wiki/Jacobi_identity" title="Jacobi identity">Jacobi identity</a>. Lie algebras abstract the essential nature of <a href="/wiki/Infinitesimal_transformation" title="Infinitesimal transformation">infinitesimal transformations</a>, and have become ubiquitous in mathematics. They are an example of <a href="/wiki/Non-associative_algebra" title="Non-associative algebra">non-associative algebras</a>.</p>
<p>There are other specific types of non-associative structures that have been studied in depth. They tend to come from some specific applications. Some of these arise in <a href="/wiki/Combinatorial_mathematics" title="Combinatorial mathematics" class="mw-redirect">combinatorial mathematics</a>. Other examples: <a href="/wiki/Quasigroup" title="Quasigroup">Quasigroup</a>, <a href="/wiki/Quasifield" title="Quasifield">Quasifield</a>, <a href="/wiki/Nonassociative_ring" title="Nonassociative ring">Nonassociative ring</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Associative_property&amp;action=&amp;section=7" title="Edit section: Notation for non-associative operations"></a>]</span> <span class="mw-headline" id="Notation_for_non-associative_operations">Notation for non-associative operations</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Operator_associativity" title="Operator associativity">Operator associativity</a></div>
<p>In general, parentheses must be used to indicate the <a href="/wiki/Order_of_operations" title="Order of operations">order of evaluation</a> if a non-associative operation appears more than once in an expression. However, <a href="/wiki/Mathematician" title="Mathematician">mathematicians</a> agree on a particular order of evaluation for several common non-associative operations. This is simply a notational convention to avoid parentheses.</p>
<p>A <b>left-associative</b> operation is a non-associative operation that is conventionally evaluated from left to right, i.e.,</p>
<dl>
<dd><img class="tex" alt="
\left.
\begin{matrix}
x*y*z=(x*y)*z\qquad\qquad\quad\,
\\
w*x*y*z=((w*x)*y)*z\quad
\\
\mbox{etc.}\qquad\qquad\qquad\qquad\qquad\qquad\ \ \,
\end{matrix}
\right\}
\mbox{for all }w,x,y,z\in S
" src="//upload.wikimedia.org/wikipedia/en/math/9/7/1/971340d34da063c144160be90abd5470.png" /></dd>
</dl>
<p>while a <b>right-associative</b> operation is conventionally evaluated from right to left:</p>
<dl>
<dd><img class="tex" alt="
\left.
\begin{matrix}
x*y*z=x*(y*z)\qquad\qquad\quad\,
\\
w*x*y*z=w*(x*(y*z))\quad
\\
\mbox{etc.}\qquad\qquad\qquad\qquad\qquad\qquad\ \ \,
\end{matrix}
\right\}
\mbox{for all }w,x,y,z\in S
" src="//upload.wikimedia.org/wikipedia/en/math/f/3/c/f3c9179044ce06ef089be7b3b2a8cb70.png" /></dd>
</dl>
<p>Both left-associative and right-associative operations occur. Left-associative operations include the following:</p>
<ul>
<li>Subtraction and division of real numbers:</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="x-y-z=(x-y)-z\qquad\mbox{for all }x,y,z\in\mathbb{R};" src="//upload.wikimedia.org/wikipedia/en/math/8/a/2/8a2a4cf50baaa1059fb5d136a16c27d6.png" /></dd>
<dd><img class="tex" alt="x/y/z=(x/y)/z\qquad\qquad\quad\mbox{for all }x,y,z\in\mathbb{R}\mbox{ with }y\ne0,z\ne0." src="//upload.wikimedia.org/wikipedia/en/math/4/a/d/4adb4a15830f216a63e40b6f7356dd85.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>Function application:</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="(f \, x \, y) = ((f \, x) \, y)" src="//upload.wikimedia.org/wikipedia/en/math/6/5/8/6589445070ba304c700ac734716c9518.png" /></dd>
</dl>
</dd>
<dd>This notation can be motivated by the <a href="/wiki/Currying" title="Currying">currying</a> isomorphism.</dd>
</dl>
<p>Right-associative operations include the following:</p>
<ul>
<li><a href="/wiki/Exponentiation" title="Exponentiation">Exponentiation</a> of real numbers:</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="x^{y^z}=x^{(y^z)}.\," src="//upload.wikimedia.org/wikipedia/en/math/9/1/8/918ddb7eb983feec132efd0c75cc83b9.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>The reason exponentiation is right-associative is that a repeated left-associative exponentiation operation would be less useful. Multiple appearances could (and would) be rewritten with multiplication:</dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="(x^y)^z=x^{(yz)}.\," src="//upload.wikimedia.org/wikipedia/en/math/6/7/f/67ffd8c120d05c3dbd04d4845e3170b8.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li><a href="/wiki/Function_(mathematics)" title="Function (mathematics)">Function definition</a></li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\mathbb{Z} \rarr \mathbb{Z} \rarr \mathbb{Z} = \mathbb{Z} \rarr (\mathbb{Z} \rarr \mathbb{Z})" src="//upload.wikimedia.org/wikipedia/en/math/6/9/3/693eb2c69cd0384328d3f2ce006231fb.png" /></dd>
<dd><img class="tex" alt="x \mapsto y \mapsto x - y = x \mapsto (y \mapsto x - y)" src="//upload.wikimedia.org/wikipedia/en/math/7/a/9/7a9dbc98fc28b26aa32d3d93cd0af4fb.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>Using right-associative notation for these operations can be motivated by the <a href="/wiki/Curry-Howard_correspondence" title="Curry-Howard correspondence" class="mw-redirect">Curry-Howard correspondence</a> and by the <a href="/wiki/Currying" title="Currying">currying</a> isomorphism.</dd>
</dl>
<p>Non-associative operations for which no conventional evaluation order is defined include the following.</p>
<ul>
<li>Taking the <a href="/wiki/Cross_product" title="Cross product">Cross product</a> of three vectors:</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\vec a \times (\vec b \times \vec c) \neq (\vec a \times \vec b ) \times \vec c \qquad \mbox{ for some } \vec a,\vec b,\vec c \in \mathbb{R}^3" src="//upload.wikimedia.org/wikipedia/en/math/6/c/7/6c727f79b631e1a7bb2c329da4d8206f.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>Taking the pairwise <a href="/wiki/Average" title="Average">average</a> of real numbers:</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="{(x+y)/2+z\over2}\ne{x+(y+z)/2\over2} \qquad \mbox{for all }x,y,z\in\mathbb{R} \mbox{ with }x\ne z." src="//upload.wikimedia.org/wikipedia/en/math/2/9/7/297969b040ff71a3032dfe3cb6284d56.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>Taking the <a href="/wiki/Complement_(set_theory)" title="Complement (set theory)">relative complement</a> of sets <img class="tex" alt="(A\backslash B)\backslash C" src="//upload.wikimedia.org/wikipedia/en/math/c/9/7/c97fa3e5f6b442dd7c0f9bced0eacafb.png" /> is not the same as <img class="tex" alt="A\backslash (B\backslash C)" src="//upload.wikimedia.org/wikipedia/en/math/b/1/3/b130cea41c1390db2561fff3fede2475.png" />. (Compare <a href="/wiki/Material_nonimplication" title="Material nonimplication">material nonimplication</a> in logic.)</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Associative_property&amp;action=&amp;section=8" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/Special:Search/associative_property">associative property</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<ul>
<li><a href="/wiki/Light%27s_associativity_test" title="Light's associativity test">Light's associativity test</a></li>
<li>A <a href="/wiki/Semigroup" title="Semigroup">semigroup</a> is a set with a closed associative binary operation.</li>
<li><a href="/wiki/Commutativity" title="Commutativity" class="mw-redirect">Commutativity</a> and <a href="/wiki/Distributivity" title="Distributivity" class="mw-redirect">distributivity</a> are two other frequently discussed properties of binary operations.</li>
<li><a href="/wiki/Power_associativity" title="Power associativity">Power associativity</a> and <a href="/wiki/Alternativity" title="Alternativity">alternativity</a> are weak forms of associativity.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Associative_property&amp;action=&amp;section=9" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFDudek2001">Dudek, W.A. (2001), <a rel="nofollow" class="external text" href="http://www.quasigroups.eu/contents/contents8.php?m=trzeci">"On some old problems in n-ary groups"</a>, <i>Quasigroups and Related Systems</i> <b>8</b>: 1536<span class="printonly">, <a rel="nofollow" class="external free" href="http://www.quasigroups.eu/contents/contents8.php?m=trzeci">http://www.quasigroups.eu/contents/contents8.php?m=trzeci</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=On+some+old+problems+in+n-ary+groups&amp;rft.jtitle=Quasigroups+and+Related+Systems&amp;rft.aulast=Dudek&amp;rft.aufirst=W.A.&amp;rft.au=Dudek%2C%26%2332%3BW.A.&amp;rft.date=2001&amp;rft.volume=8&amp;rft.pages=15%E2%80%9336&amp;rft_id=http%3A%2F%2Fwww.quasigroups.eu%2Fcontents%2Fcontents8.php%3Fm%3Dtrzeci&amp;rfr_id=info:sid/en.wikipedia.org:Associative_property"><span style="display: none;">&#160;</span></span>.</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">Moore and Parker</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text">Copi and Cohen</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text">Hurley</span></li>
</ol>
</div>


<!-- 
NewPP limit report
Preprocessor node count: 2338/1000000
Post-expand include size: 23600/2048000 bytes
Template argument size: 8916/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1335-0!0!0!!en!4!* and timestamp 20120404180534 -->
