<table class="metadata plainlinks ambox ambox-content ambox-Refimprove" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This article <b>needs additional <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">citations</a> for <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verification</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Inequation&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(March 2010)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, an <b>inequation</b> is a statement that an <a href="/wiki/Inequality_(mathematics)" title="Inequality (mathematics)">inequality</a> holds between two values.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> It is usually written in the form of a pair of <a href="/wiki/Expression_(mathematics)" title="Expression (mathematics)">expressions</a> denoting the values in question, with a relational sign between them indicating the specific inequality relation. Some examples of inequations are:</p>
<dl>
<dd><img class="tex" alt="a &lt; b,\," src="//upload.wikimedia.org/wikipedia/en/math/e/7/5/e75b7a465570a8ef110ce1ea0b4e22bc.png" /></dd>
<dd><img class="tex" alt="x+y+z \leq 1,\," src="//upload.wikimedia.org/wikipedia/en/math/1/6/1/161df0ae8bcfd37ff26c16aeb3d26025.png" /></dd>
<dd><img class="tex" alt="n &gt; 1,\," src="//upload.wikimedia.org/wikipedia/en/math/4/4/0/440178391ae758a7387fb1e7d5a0c04d.png" /></dd>
<dd><img class="tex" alt="x \neq 0.\," src="//upload.wikimedia.org/wikipedia/en/math/2/8/f/28fbd548ee94ab78bde2e7f9ed5a5d61.png" /></dd>
</dl>
<p>Some authors apply the term only to inequations in which the inequality relation is, specifically, not-equal-to ().<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Inequation&amp;action=&amp;section=1" title="Edit section: Chains of inequations"></a>]</span> <span class="mw-headline" id="Chains_of_inequations">Chains of inequations</span></h2>
<p>A shorthand notation is used for the <a href="/wiki/Conjunction_(logic)" title="Conjunction (logic)" class="mw-redirect">conjunction</a> of several inequations involving common expressions, by chaining them together. For example, the chain</p>
<dl>
<dd><img class="tex" alt="0 \leq a &lt; b \leq 1\," src="//upload.wikimedia.org/wikipedia/en/math/7/4/0/74074c46c2683bf49b26ebf542fb09a0.png" /></dd>
</dl>
<p>is shorthand for</p>
<dl>
<dd><img class="tex" alt="0 \leq a~\mathrm{and}~a&lt; b~\mathrm{and}~b\leq 1.\," src="//upload.wikimedia.org/wikipedia/en/math/0/2/1/0215cb581d6bcaaa73add9d91fe883a7.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Inequation&amp;action=&amp;section=2" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/Special:Search/inequation">inequation</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<ul>
<li><a href="/wiki/Equation" title="Equation">Equation</a></li>
<li><a href="/wiki/Equals_sign" title="Equals sign">Equals sign</a></li>
<li><a href="/wiki/Inequality_(mathematics)" title="Inequality (mathematics)">Inequality (mathematics)</a></li>
<li><a href="/wiki/Relational_operator" title="Relational operator">Relational operator</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Inequation&amp;action=&amp;section=3" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation book">Thomas H. Sidebotham (2002). <i>The A to Z of Mathematics: A Basic Guide</i>. John Wiley and Sons. p.&#160;252. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-471-15045-2" title="Special:BookSources/0-471-15045-2">0-471-15045-2</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+A+to+Z+of+Mathematics%3A+A+Basic+Guide&amp;rft.aulast=Thomas+H.+Sidebotham&amp;rft.au=Thomas+H.+Sidebotham&amp;rft.date=2002&amp;rft.pages=p.%26nbsp%3B252&amp;rft.pub=John+Wiley+and+Sons&amp;rft.isbn=0-471-15045-2&amp;rfr_id=info:sid/en.wikipedia.org:Inequation"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><span class="citation mathworld" id="Reference-Mathworld-Inequation"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Inequation.html">Inequation</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></span></li>
</ol>
</div>


<!-- 
NewPP limit report
Preprocessor node count: 1369/1000000
Post-expand include size: 9297/2048000 bytes
Template argument size: 2995/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:89486-0!0!0!!*!4!* and timestamp 20120412191846 -->
