<div class="dablink">Not to be confused with <a href="/wiki/Inequation" title="Inequation">Inequation</a>.</div>
<div class="dablink">"Less than" and "Greater than" redirect here. For the use of the "&lt;" and "&gt;" signs as punctuation, see <a href="/wiki/Bracket" title="Bracket">Bracket</a>.</div>
<div class="dablink">"More than" redirects here. For the UK insurance brand, see <a href="/wiki/RSA_Insurance_Group" title="RSA Insurance Group">RSA Insurance Group</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Linear_Programming_Feasible_Region.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Linear_Programming_Feasible_Region.svg/250px-Linear_Programming_Feasible_Region.svg.png" width="250" height="250" class="thumbimage" /></a>
<div class="thumbcaption">The <a href="/wiki/Feasible_region" title="Feasible region" class="mw-redirect">feasible regions</a> of <a href="/wiki/Linear_programming" title="Linear programming">linear programming</a> are defined by a set of inequalities.</div>
</div>
</div>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, an <b>inequality</b> is a relation that holds between two values when they are different (see also: <a href="/wiki/Equality_(mathematics)" title="Equality (mathematics)">equality</a>).</p>
<ul>
<li>The notation <i>a</i>  <i>b</i> means that <i>a</i> is <b>not equal to</b> <i>b</i>.</li>
</ul>
<p>It does not say that one is greater than the other, or even that they can be compared in size.</p>
<p>If the values in question are elements of an <a href="/wiki/Ordered_set" title="Ordered set">ordered set</a>, such as the <a href="/wiki/Integer" title="Integer">integers</a> or the <a href="/wiki/Real_number" title="Real number">real numbers</a>, they can be compared in size.</p>
<ul>
<li>The notation <i>a</i> &lt; <i>b</i> means that <i>a</i> is <b>less than</b> <i>b</i>.</li>
<li>The notation <i>a</i> &gt; <i>b</i> means that <i>a</i> is <b>greater than</b> <i>b</i>.</li>
</ul>
<p>In either case, <i>a</i> is not equal to <i>b</i>. These relations are known as <b>strict inequalities</b>. The notation <i>a</i> &lt; <i>b</i> may also be read as "<i>a</i> is strictly less than <i>b</i>".</p>
<p>In contrast to strict inequalities, there are two types of inequality relations that are not strict:</p>
<ul>
<li>The notation <i>a</i>  <i>b</i> means that <i>a</i> is <b>less than or equal to</b> <i>b</i> (or, equivalently, <b>not greater than</b> <i>b</i>, or <b>at most</b> <i>b</i>).</li>
<li>The notation <i>a</i>  <i>b</i> means that <i>a</i> is <b>greater than or equal to</b> <i>b</i> (or, equivalently, <b>not less than</b> <i>b</i>, or <b>at least</b> <i>b</i>)</li>
</ul>
<p>An additional use of the notation is to show that one quantity is much greater than another, normally by several <a href="/wiki/Orders_of_magnitude" title="Orders of magnitude" class="mw-redirect">orders of magnitude</a>.</p>
<ul>
<li>The notation <i>a</i> <span class="Unicode"></span> <i>b</i> means that <i>a</i> is <b>much less than</b> <i>b</i>. (In <a href="/wiki/Measure_theory" title="Measure theory" class="mw-redirect">measure theory</a>, however, this notation is used for <a href="/wiki/Absolute_continuity#Absolute_continuity_of_measures" title="Absolute continuity">absolute continuity</a>, an unrelated concept.)</li>
<li>The notation <i>a</i> <span class="Unicode"></span> <i>b</i> means that <i>a</i> is <b>much greater than</b> <i>b</i>.</li>
</ul>
<p><br /></p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Properties"><span class="tocnumber">1</span> <span class="toctext">Properties</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Transitivity"><span class="tocnumber">1.1</span> <span class="toctext">Transitivity</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Converse"><span class="tocnumber">1.2</span> <span class="toctext">Converse</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Addition_and_subtraction"><span class="tocnumber">1.3</span> <span class="toctext">Addition and subtraction</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Multiplication_and_division"><span class="tocnumber">1.4</span> <span class="toctext">Multiplication and division</span></a></li>
<li class="toclevel-2 tocsection-6"><a href="#Additive_inverse"><span class="tocnumber">1.5</span> <span class="toctext">Additive inverse</span></a></li>
<li class="toclevel-2 tocsection-7"><a href="#Multiplicative_inverse"><span class="tocnumber">1.6</span> <span class="toctext">Multiplicative inverse</span></a></li>
<li class="toclevel-2 tocsection-8"><a href="#Applying_a_function_to_both_sides"><span class="tocnumber">1.7</span> <span class="toctext">Applying a function to both sides</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-9"><a href="#Ordered_fields"><span class="tocnumber">2</span> <span class="toctext">Ordered fields</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#Chained_notation"><span class="tocnumber">3</span> <span class="toctext">Chained notation</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#Inequalities_between_means"><span class="tocnumber">4</span> <span class="toctext">Inequalities between means</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#Power_inequalities"><span class="tocnumber">5</span> <span class="toctext">Power inequalities</span></a>
<ul>
<li class="toclevel-2 tocsection-13"><a href="#Examples"><span class="tocnumber">5.1</span> <span class="toctext">Examples</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-14"><a href="#Well-known_inequalities"><span class="tocnumber">6</span> <span class="toctext">Well-known inequalities</span></a></li>
<li class="toclevel-1 tocsection-15"><a href="#Complex_numbers_and_inequalities"><span class="tocnumber">7</span> <span class="toctext">Complex numbers and inequalities</span></a></li>
<li class="toclevel-1 tocsection-16"><a href="#Vector_inequalities"><span class="tocnumber">8</span> <span class="toctext">Vector inequalities</span></a></li>
<li class="toclevel-1 tocsection-17"><a href="#See_also"><span class="tocnumber">9</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-18"><a href="#References"><span class="tocnumber">10</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-19"><a href="#External_links"><span class="tocnumber">11</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=1" title="Edit section: Properties"></a>]</span> <span class="mw-headline" id="Properties">Properties</span></h2>
<p>Inequalities are governed by the following <a href="/wiki/Property_(philosophy)" title="Property (philosophy)">properties</a>. Note that, for the transitivity, converse, addition and subtraction, and multiplication and division properties, the property also holds if strict inequality signs (&lt; and &gt;) are replaced with their corresponding non-strict inequality sign ( and ).</p>
<h3><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=2" title="Edit section: Transitivity"></a>]</span> <span class="mw-headline" id="Transitivity">Transitivity</span></h3>
<p>The Transitive property of inequality states:</p>
<ul>
<li>For any <a href="/wiki/Real_number" title="Real number">real numbers</a> <i>a</i>, <i>b</i>, <i>c</i>:
<ul>
<li>If <i>a</i> &gt; <i>b</i> and <i>b</i> &gt; <i>c</i>, then <i>a</i> &gt; <i>c</i>.</li>
<li>If <i>a</i> &lt; <i>b</i> and <i>b</i> &lt; <i>c</i>, then <i>a</i> &lt; <i>c</i>.</li>
<li>If <i>a</i> &gt; <i>b</i> and <i>b</i> = <i>c</i>, then <i>a</i> &gt; <i>c</i>.</li>
<li>If <i>a</i> &lt; <i>b</i> and <i>b</i> = <i>c</i>, then <i>a</i> &lt; <i>c</i>.</li>
</ul>
</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=3" title="Edit section: Converse"></a>]</span> <span class="mw-headline" id="Converse">Converse</span></h3>
<p>The relations &lt; and &gt; are each other's <a href="/wiki/Converse_relation" title="Converse relation" class="mw-redirect">converse</a>:</p>
<ul>
<li>For any <a href="/wiki/Real_number" title="Real number">real numbers</a> <i>a</i> and <i>b</i>:
<ul>
<li>If <i>a</i> &lt; <i>b</i>, then <i>b</i> &gt; <i>a</i>.</li>
<li>If <i>a</i> &gt; <i>b</i>, then <i>b</i> &lt; <i>a</i>.</li>
</ul>
</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=4" title="Edit section: Addition and subtraction"></a>]</span> <span class="mw-headline" id="Addition_and_subtraction">Addition and subtraction</span></h3>
<p>The properties that deal with <a href="/wiki/Addition" title="Addition">addition</a> and <a href="/wiki/Subtraction" title="Subtraction">subtraction</a> state:</p>
<ul>
<li>For any <a href="/wiki/Real_number" title="Real number">real numbers</a> <i>a</i>, <i>b</i>, <i>c</i>:
<ul>
<li>If <i>a</i> &lt; <i>b</i>, then <i>a</i> + <i>c</i> &lt; <i>b</i> + <i>c</i> and <i>a</i>  <i>c</i> &lt; <i>b</i>  <i>c</i>.</li>
<li>If <i>a</i> &gt; <i>b</i>, then <i>a</i> + <i>c</i> &gt; <i>b</i> + <i>c</i> and <i>a</i>  <i>c</i> &gt; <i>b</i>  <i>c</i>.</li>
</ul>
</li>
</ul>
<p>i.e., the real numbers are an <a href="/wiki/Ordered_group" title="Ordered group" class="mw-redirect">ordered group</a> under addition.</p>
<h3><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=5" title="Edit section: Multiplication and division"></a>]</span> <span class="mw-headline" id="Multiplication_and_division">Multiplication and division</span></h3>
<p>The properties that deal with <a href="/wiki/Multiplication" title="Multiplication">multiplication</a> and <a href="/wiki/Division_(mathematics)" title="Division (mathematics)">division</a> state:</p>
<ul>
<li>For any real numbers, <i>a</i>, <i>b</i>, and non-zero <i>c</i>:
<ul>
<li>If <i>c</i> is <a href="/wiki/Positive_number" title="Positive number" class="mw-redirect">positive</a> and <i>a</i> &lt; <i>b</i>, then <i>ac</i> &lt; <i>bc</i> and <i>a/c</i> &lt; <i>b/c</i>.</li>
<li>If <i>c</i> is <a href="/wiki/Negative_number" title="Negative number">negative</a> and <i>a</i> &lt; <i>b</i>, then <i>ac</i> &gt; <i>bc</i> and <i>a/c</i> &gt; <i>b/c</i>.</li>
</ul>
</li>
</ul>
<p>More generally this applies for an <a href="/wiki/Ordered_field" title="Ordered field">ordered field</a>, see below.</p>
<h3><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=6" title="Edit section: Additive inverse"></a>]</span> <span class="mw-headline" id="Additive_inverse">Additive inverse</span></h3>
<p>The properties for the <a href="/wiki/Additive_inverse" title="Additive inverse">additive inverse</a> state:</p>
<ul>
<li>For any real numbers <i>a</i> and <i>b</i>:
<ul>
<li>If <i>a</i> &lt; <i>b</i> then <i>a</i> &gt; <i>b</i>.</li>
<li>If <i>a</i> &gt; <i>b</i> then <i>a</i> &lt; <i>b</i>.</li>
</ul>
</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=7" title="Edit section: Multiplicative inverse"></a>]</span> <span class="mw-headline" id="Multiplicative_inverse">Multiplicative inverse</span></h3>
<p>The properties for the <a href="/wiki/Multiplicative_inverse" title="Multiplicative inverse">multiplicative inverse</a> state:</p>
<ul>
<li>For any non-zero real numbers <i>a</i> and <i>b</i> that are both <a href="/wiki/Positive_number" title="Positive number" class="mw-redirect">positive</a> or both <a href="/wiki/Negative_number" title="Negative number">negative</a>:
<ul>
<li>If <i>a</i> &lt; <i>b</i> then 1/<i>a</i> &gt; 1/<i>b</i>.</li>
<li>If <i>a</i> &gt; <i>b</i> then 1/<i>a</i> &lt; 1/<i>b</i>.</li>
</ul>
</li>
</ul>
<ul>
<li>If one of <i>a</i> and <i>b</i> is positive and the other is negative, then:
<ul>
<li>If <i>a</i> &lt; <i>b</i> then 1/<i>a</i> &lt; 1/<i>b</i>.</li>
<li>If <i>a</i> &gt; <i>b</i> then 1/<i>a</i> &gt; 1/<i>b</i>.</li>
</ul>
</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=8" title="Edit section: Applying a function to both sides"></a>]</span> <span class="mw-headline" id="Applying_a_function_to_both_sides">Applying a function to both sides</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Log.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Log.svg/220px-Log.svg.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Log.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The graph of <i>y</i> = ln <i>x</i></div>
</div>
</div>
<p>Any strictly <a href="/wiki/Monotonic_function" title="Monotonic function">monotonically</a> increasing <a href="/wiki/Function_(mathematics)" title="Function (mathematics)">function</a> may be applied to both sides of an inequality (provided they are in the <a href="/wiki/Domain_of_a_function" title="Domain of a function">domain</a> of that function) and it will still hold. Applying a strictly monotonically decreasing function to both sides of an inequality means the opposite inequality now holds. The rules for additive and multiplicative inverses are both examples of applying a monotonically decreasing function.</p>
<p>For a non-strict inequality (<i>a</i>  <i>b</i>, <i>a</i>  <i>b</i>):</p>
<ul>
<li>Applying a monotonically increasing function preserves the relation ( remains ,  remains )</li>
<li>Applying a monotonically decreasing function reverses the relation to its converse ( becomes ,  becomes )</li>
</ul>
<p>As an example, consider the application of the <a href="/wiki/Natural_logarithm" title="Natural logarithm">natural logarithm</a> to both sides of an inequality:</p>
<dl>
<dd><img class="tex" alt="0 &lt; a &lt; b \Leftrightarrow \ln(a) &lt; \ln(b)." src="//upload.wikimedia.org/wikipedia/en/math/7/e/c/7ec9492ebc61b0eacb6c0d5a2e338257.png" /></dd>
</dl>
<p>This is true because the natural logarithm is a strictly increasing function.</p>
<h2><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=9" title="Edit section: Ordered fields"></a>]</span> <span class="mw-headline" id="Ordered_fields">Ordered fields</span></h2>
<p>If (<i>F</i>, +, ) is a <a href="/wiki/Field_(mathematics)" title="Field (mathematics)">field</a> and  is a <a href="/wiki/Total_order" title="Total order">total order</a> on <i>F</i>, then (<i>F</i>, +, , ) is called an <a href="/wiki/Ordered_field" title="Ordered field">ordered field</a> if and only if:</p>
<ul>
<li><i>a</i>  <i>b</i> implies <i>a</i> + <i>c</i>  <i>b</i> + <i>c</i>;</li>
<li>0  <i>a</i> and 0  <i>b</i> implies 0  <i>a</i>  <i>b</i>.</li>
</ul>
<p>Note that both (<b>Q</b>, +, , ) and (<b>R</b>, +, , ) are <a href="/wiki/Ordered_field" title="Ordered field">ordered fields</a>, but  cannot be defined in order to make (<b>C</b>, +, , ) an <a href="/wiki/Ordered_field" title="Ordered field">ordered field</a>, because 1 is the square of <i>i</i> and would therefore be positive.</p>
<p>The non-strict inequalities  and  on real numbers are <a href="/wiki/Total_order" title="Total order">total orders</a>. The strict inequalities &lt; and &gt; on real numbers are <a href="/wiki/Total_order#Strict_total_order" title="Total order">strict total orders</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=10" title="Edit section: Chained notation"></a>]</span> <span class="mw-headline" id="Chained_notation">Chained notation</span></h2>
<p>The notation <b><i>a</i> &lt; <i>b</i> &lt; <i>c</i></b> stands for "<i>a</i> &lt; <i>b</i> and <i>b</i> &lt; <i>c</i>", from which, by the transitivity property above, it also follows that <i>a</i> &lt; <i>c</i>. Obviously, by the above laws, one can add/subtract the same number to all three terms, or multiply/divide all three terms by same nonzero number and reverse all inequalities according to sign. Hence, for example, <i>a</i> &lt; <i>b</i> + <i>e</i> &lt; <i>c</i> is equivalent to <i>a</i>  <i>e</i> &lt; <i>b</i> &lt; <i>c</i>  <i>e</i>.</p>
<p>This notation can be generalized to any number of terms: for instance, <b><i>a</i><sub>1</sub>  <i>a</i><sub>2</sub>  ...  <i>a</i><sub><i>n</i></sub></b> means that <i>a</i><sub><i>i</i></sub>  <i>a</i><sub><i>i</i>+1</sub> for <i>i</i> = 1, 2, ..., <i>n</i>&#160;&#160;1. By transitivity, this condition is equivalent to <i>a</i><sub><i>i</i></sub>  <i>a</i><sub><i>j</i></sub> for any 1  <i>i</i>  <i>j</i>  <i>n</i>.</p>
<p>When solving inequalities using chained notation, it is possible and sometimes necessary to evaluate the terms independently. For instance to solve the inequality 4<i>x</i> &lt; 2<i>x</i> + 1  3<i>x</i> + 2, it is not possible to isolate <i>x</i> in any one part of the inequality through addition or subtraction. Instead, the inequalities must be solved independently, yielding <i>x</i> &lt; 1/2 and <i>x</i>  1 respectively, which can be combined into the final solution 1  <i>x</i> &lt; 1/2.</p>
<p>Occasionally, chained notation is used with inequalities in different directions, in which case the meaning is the <a href="/wiki/Logical_conjunction" title="Logical conjunction">logical conjunction</a> of the inequalities between adjacent terms. For instance, <i>a</i> &lt; <i>b</i> = <i>c</i>  <i>d</i> means that <i>a</i> &lt; <i>b</i>, <i>b</i> = <i>c</i>, and <i>c</i>  <i>d</i>. This notation exists in a few <a href="/wiki/Programming_language" title="Programming language">programming languages</a> such as <a href="/wiki/Python_(programming_language)" title="Python (programming language)">Python</a>.</p>
<p><br /></p>
<h2><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=11" title="Edit section: Inequalities between means"></a>]</span> <span class="mw-headline" id="Inequalities_between_means">Inequalities between means</span></h2>
<div class="rellink boilerplate seealso">See also: <a href="/wiki/Inequality_of_arithmetic_and_geometric_means" title="Inequality of arithmetic and geometric means">Inequality of arithmetic and geometric means</a></div>
<p>There are many inequalities between means. For example, for any positive numbers <i>a</i><sub>1</sub>, <i>a</i><sub>2</sub>, , <i>a</i><sub><i>n</i></sub> we have <span class="nowrap"><i>H</i>  <i>G</i>  <i>A</i>  <i>Q</i>,</span> where</p>
<dl>
<dd>
<table style="height:200px">
<tr>
<td><img class="tex" alt="H = \frac{n}{1/a_1 + 1/a_2 + \cdots + 1/a_n}" src="//upload.wikimedia.org/wikipedia/en/math/d/5/c/d5c69484cf715d48881b6caf19d50154.png" /> </td>
<td>(<a href="/wiki/Harmonic_mean" title="Harmonic mean">harmonic mean</a>),</td>
</tr>
<tr>
<td><img class="tex" alt="G = \sqrt[n]{a_1 \cdot a_2 \cdots a_n} " src="//upload.wikimedia.org/wikipedia/en/math/c/4/b/c4b2be327655964f6682cd4b090a3882.png" /></td>
<td>(<a href="/wiki/Geometric_mean" title="Geometric mean">geometric mean</a>),</td>
</tr>
<tr>
<td><img class="tex" alt="A = \frac{a_1 + a_2 + \cdots + a_n}{n}" src="//upload.wikimedia.org/wikipedia/en/math/3/a/a/3aa7ab6534d54386abcf12c818fdd45a.png" /></td>
<td>(<a href="/wiki/Arithmetic_mean" title="Arithmetic mean">arithmetic mean</a>),</td>
</tr>
<tr>
<td><img class="tex" alt="Q = \sqrt{\frac{a_1^2 + a_2^2 + \cdots + a_n^2}{n}}" src="//upload.wikimedia.org/wikipedia/en/math/4/a/e/4aec89b5a2fb553350279a370d8eaaf2.png" /></td>
<td>(<a href="/wiki/Root_mean_square" title="Root mean square">quadratic mean</a>).</td>
</tr>
</table>
</dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=12" title="Edit section: Power inequalities"></a>]</span> <span class="mw-headline" id="Power_inequalities">Power inequalities</span></h2>
<p>Sometimes with notation "<b>power inequality</b>" understand inequalities that contain <i>a</i><sup><i>b</i></sup> type expressions where <i>a</i> and <i>b</i> are real positive numbers or expressions of some variables. They can appear in exercises of mathematical olympiads and some calculations.</p>
<h3><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=13" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h3>
<ul>
<li>For any real <i>x</i>,</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="e^x \ge 1+x.\," src="//upload.wikimedia.org/wikipedia/en/math/9/7/6/9761fe80556318046cccf03404747a0f.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>If <i>x</i> &gt; 0, then</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="x^x \ge \left( \frac{1}{e}\right)^{1/e}.\," src="//upload.wikimedia.org/wikipedia/en/math/b/7/3/b731ba83890ce30b8d55b145f07f6280.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>If <i>x</i> &gt; 0, then</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="x^{x^x} \ge x.\," src="//upload.wikimedia.org/wikipedia/en/math/4/3/a/43a6c98f5dcd99ea0f767834991ed2cc.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>If <i>x</i>, <i>y</i>, <i>z</i> &gt; 0, then</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="(x+y)^z + (x+z)^y + (y+z)^x &gt; 2.\," src="//upload.wikimedia.org/wikipedia/en/math/8/a/9/8a9aa76dd0f5a531bd012c25709a4ff9.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>For any real distinct numbers <i>a</i> and <i>b</i>,</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\frac{e^b-e^a}{b-a} &gt; e^{(a+b)/2}." src="//upload.wikimedia.org/wikipedia/en/math/e/9/2/e921eff95a578dc485b9b891db64fc78.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>If <i>x</i>, <i>y</i> &gt; 0 and 0 &lt; <i>p</i> &lt; 1, then</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="(x+y)^p &lt; x^p+y^p.\," src="//upload.wikimedia.org/wikipedia/en/math/d/b/c/dbcfbfedb980fd4f9e675bb724dbb693.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>If <i>x</i>, <i>y</i>, <i>z</i> &gt; 0, then</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="x^x y^y z^z \ge (xyz)^{(x+y+z)/3}.\," src="//upload.wikimedia.org/wikipedia/en/math/4/4/c/44cd0f544159b47a7d53b0e115ec4eba.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>If <i>a</i>, <i>b</i> &gt; 0, then</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="a^a + b^b \ge a^b + b^a.\," src="//upload.wikimedia.org/wikipedia/en/math/7/e/5/7e5e7da85b75a3820f06d49ecef0d786.png" /></dd>
</dl>
</dd>
<dd>This inequality was solved by I.Ilani in JSTOR,AMM,Vol.97,No.1,1990.</dd>
</dl>
<ul>
<li>If <i>a</i>, <i>b</i> &gt; 0, then</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="a^{ea} + b^{eb} \ge a^{eb} + b^{ea}.\," src="//upload.wikimedia.org/wikipedia/en/math/8/4/c/84c8f135ed104d8862b7c7799a264591.png" /></dd>
</dl>
</dd>
<dd>This inequality was solved by S.Manyama in AJMAA,Vol.7,Issue 2,No.1,2010 and by V.Cirtoaje in JNSA,Vol.4,Issue 2,130-137,2011.</dd>
</dl>
<ul>
<li>If <i>a</i>, <i>b</i>, <i>c</i> &gt; 0, then</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="a^{2a} + b^{2b} + c^{2c} \ge a^{2b} + b^{2c} + c^{2a}.\," src="//upload.wikimedia.org/wikipedia/en/math/b/0/2/b02c908763868f795170fbb4e20ec3cd.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>If <i>a</i>, <i>b</i> &gt; 0, then</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="a^b + b^a &gt; 1.\," src="//upload.wikimedia.org/wikipedia/en/math/3/b/e/3be5c5e6b19dc89f642c24b84bd78974.png" /></dd>
</dl>
</dd>
<dd>This result was generalized by R. Ozols in 2002 who proved that if <i>a</i><sub>1</sub>,&#160;...,&#160;<i>a</i><sub><i>n</i></sub> &gt; 0, then
<dl>
<dd><img class="tex" alt="a_1^{a_2}+a_2^{a_3}+\cdots+a_n^{a_1}&gt;1" src="//upload.wikimedia.org/wikipedia/en/math/6/3/8/63878477319f15e9d258cd530544c30c.png" /></dd>
</dl>
</dd>
<dd>(result is published in Latvian popular-scientific quarterly <i>The Starry Sky</i>, see references).</dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=14" title="Edit section: Well-known inequalities"></a>]</span> <span class="mw-headline" id="Well-known_inequalities">Well-known inequalities</span></h2>
<div class="rellink boilerplate seealso">See also: <a href="/wiki/List_of_inequalities" title="List of inequalities">List of inequalities</a></div>
<p><a href="/wiki/Mathematician" title="Mathematician">Mathematicians</a> often use inequalities to bound quantities for which exact formulas cannot be computed easily. Some inequalities are used so often that they have names:</p>
<div style="-moz-column-count:2; column-count:2;">
<ul>
<li><a href="/wiki/Azuma%27s_inequality" title="Azuma's inequality">Azuma's inequality</a></li>
<li><a href="/wiki/Bernoulli%27s_inequality" title="Bernoulli's inequality">Bernoulli's inequality</a></li>
<li><a href="/wiki/Boole%27s_inequality" title="Boole's inequality">Boole's inequality</a></li>
<li><a href="/wiki/Cauchy%E2%80%93Schwarz_inequality" title="CauchySchwarz inequality">CauchySchwarz inequality</a></li>
<li><a href="/wiki/Chebyshev%27s_inequality" title="Chebyshev's inequality">Chebyshev's inequality</a></li>
<li><a href="/wiki/Chernoff%27s_inequality" title="Chernoff's inequality" class="mw-redirect">Chernoff's inequality</a></li>
<li><a href="/wiki/Cram%C3%A9r%E2%80%93Rao_inequality" title="CramrRao inequality" class="mw-redirect">CramrRao inequality</a></li>
<li><a href="/wiki/Hoeffding%27s_inequality" title="Hoeffding's inequality">Hoeffding's inequality</a></li>
<li><a href="/wiki/H%C3%B6lder%27s_inequality" title="Hlder's inequality">Hlder's inequality</a></li>
<li><a href="/wiki/Inequality_of_arithmetic_and_geometric_means" title="Inequality of arithmetic and geometric means">Inequality of arithmetic and geometric means</a></li>
<li><a href="/wiki/Jensen%27s_inequality" title="Jensen's inequality">Jensen's inequality</a></li>
<li><a href="/wiki/Kolmogorov%27s_inequality" title="Kolmogorov's inequality">Kolmogorov's inequality</a></li>
<li><a href="/wiki/Markov%27s_inequality" title="Markov's inequality">Markov's inequality</a></li>
<li><a href="/wiki/Minkowski_inequality" title="Minkowski inequality">Minkowski inequality</a></li>
<li><a href="/wiki/Nesbitt%27s_inequality" title="Nesbitt's inequality">Nesbitt's inequality</a></li>
<li><a href="/wiki/Pedoe%27s_inequality" title="Pedoe's inequality">Pedoe's inequality</a></li>
<li><a href="/wiki/Poincar%C3%A9_inequality" title="Poincar inequality">Poincar inequality</a></li>
<li><a href="/wiki/Triangle_inequality" title="Triangle inequality">Triangle inequality</a></li>
</ul>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=15" title="Edit section: Complex numbers and inequalities"></a>]</span> <span class="mw-headline" id="Complex_numbers_and_inequalities">Complex numbers and inequalities</span></h2>
<p>The set of <a href="/wiki/Complex_number" title="Complex number">complex numbers</a> <img class="tex" alt="\mathbb{C}" src="//upload.wikimedia.org/wikipedia/en/math/8/4/f/84feda6433ec704f8ff2098173f9413f.png" /> with its operations of <a href="/wiki/Addition" title="Addition">addition</a> and <a href="/wiki/Multiplication" title="Multiplication">multiplication</a> is a <a href="/wiki/Field_(mathematics)" title="Field (mathematics)">field</a>, but it is impossible to define any relation  so that <img class="tex" alt="(\mathbb{C},+,\times,\le)" src="//upload.wikimedia.org/wikipedia/en/math/a/4/7/a47d9e3b6954283c3b96739db999c339.png" /> becomes an <a href="/wiki/Ordered_field" title="Ordered field">ordered field</a>. To make <img class="tex" alt="(\mathbb{C},+,\times,\le)" src="//upload.wikimedia.org/wikipedia/en/math/a/4/7/a47d9e3b6954283c3b96739db999c339.png" /> an <a href="/wiki/Ordered_field" title="Ordered field">ordered field</a>, it would have to satisfy the following two properties:</p>
<ul>
<li>if <i>a</i>  <i>b</i> then <i>a</i> + <i>c</i>  <i>b</i> + <i>c</i></li>
<li>if 0  <i>a</i> and 0  <i>b</i> then 0  <i>a b</i></li>
</ul>
<p>Because  is a <a href="/wiki/Total_order" title="Total order">total order</a>, for any number <i>a</i>, either 0  <i>a</i> or <i>a</i>  0 (in which case the first property above implies that 0  <img class="tex" alt="-a" src="//upload.wikimedia.org/wikipedia/en/math/3/7/c/37caf0ee262229a9ddc60877eec6883f.png" />). In either case 0  <i>a</i><sup>2</sup>; this means that <img class="tex" alt="i^2&gt;0" src="//upload.wikimedia.org/wikipedia/en/math/1/7/f/17f8f50d7421818f9a08769297257225.png" /> and <img class="tex" alt="1^2&gt;0" src="//upload.wikimedia.org/wikipedia/en/math/0/7/8/0787874dbc1b419f6fbf7cd2c0a73679.png" />; so <img class="tex" alt="-1&gt;0" src="//upload.wikimedia.org/wikipedia/en/math/b/2/1/b2140ec20466e975e1b1ae57cbfad9af.png" /> and <img class="tex" alt="1&gt;0" src="//upload.wikimedia.org/wikipedia/en/math/1/a/b/1ab4e2d1136854fbb042404772121520.png" />, which means <img class="tex" alt="(-1+1)&gt;0" src="//upload.wikimedia.org/wikipedia/en/math/1/8/2/182502d59cbc0ac4a2c39722dfa57368.png" />; contradiction.</p>
<p>However, an operation  can be defined so as to satisfy only the first property (namely, "if <i>a</i>  <i>b</i> then <i>a</i> + <i>c</i>  <i>b</i> + <i>c</i>"). Sometimes the <a href="/wiki/Lexicographical_order" title="Lexicographical order">lexicographical order</a> definition is used:</p>
<ul>
<li>a  b if <img class="tex" alt=" Re(a)" src="//upload.wikimedia.org/wikipedia/en/math/2/3/f/23f0ed9b75a2efac3ce5bff464bd14c6.png" /> &lt; <img class="tex" alt="Re(b)" src="//upload.wikimedia.org/wikipedia/en/math/5/0/b/50be8238b3a2a93f69fd0ac4938e45db.png" /> or (<img class="tex" alt="Re(a) = Re(b)" src="//upload.wikimedia.org/wikipedia/en/math/7/3/8/738e5a3b80b73d41a790216a4dba5dd5.png" /> and <img class="tex" alt="Im(a)" src="//upload.wikimedia.org/wikipedia/en/math/a/8/6/a868bb557d9bd2cf908dca98cf39600a.png" />  <img class="tex" alt="Im(b)" src="//upload.wikimedia.org/wikipedia/en/math/9/3/7/937bd94ed25258ac4809c7aea7838f19.png" />)</li>
</ul>
<p>It can easily be proven that for this definition <i>a</i>  <i>b</i> implies <i>a</i> + <i>c</i>  <i>b</i> + <i>c</i>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=16" title="Edit section: Vector inequalities"></a>]</span> <span class="mw-headline" id="Vector_inequalities">Vector inequalities</span></h2>
<p>Inequality relationships similar to those defined above can also be defined for <a href="/wiki/Column_vector" title="Column vector">column vector</a>. If we let the vectors <img class="tex" alt="x,y\in\mathbb{R}^n" src="//upload.wikimedia.org/wikipedia/en/math/9/1/5/915ed92257826cdca2a17c8f1c469c85.png" /> (meaning that <img class="tex" alt="x = \left(x_1,x_2,\ldots,x_n\right)^T" src="//upload.wikimedia.org/wikipedia/en/math/2/0/c/20c41aeea82694fa27a19b2c3244d562.png" /> and <img class="tex" alt="y = \left(y_1,y_2,\ldots,y_n\right)^T" src="//upload.wikimedia.org/wikipedia/en/math/9/c/0/9c093e4433ac199306e20771a1fc827b.png" /> where <img class="tex" alt="x_i" src="//upload.wikimedia.org/wikipedia/en/math/0/5/e/05e42209d67fe1eb15a055e9d3b3770e.png" /> and <img class="tex" alt="y_i" src="//upload.wikimedia.org/wikipedia/en/math/1/8/d/18daef71b5d25ce76b8628a81e4fc76b.png" /> are real numbers for <img class="tex" alt="i=1,\ldots,n" src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0ccf5455d21e83c396573de9c87adc07.png" />), we can define the following relationships.</p>
<ul>
<li><img class="tex" alt="x = y \ " src="//upload.wikimedia.org/wikipedia/en/math/2/2/3/2235ba47a64fdf0d02da7cb0e2c3dc25.png" /> if <img class="tex" alt="x_i = y_i\ " src="//upload.wikimedia.org/wikipedia/en/math/9/2/e/92e009209c96536498b6ce2619f395c2.png" /> for <img class="tex" alt="i=1,\ldots,n" src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0ccf5455d21e83c396573de9c87adc07.png" /></li>
<li><img class="tex" alt="x &lt; y \ " src="//upload.wikimedia.org/wikipedia/en/math/c/f/3/cf3904572b42c571060f5cea160eb990.png" /> if <img class="tex" alt="x_i &lt; y_i\ " src="//upload.wikimedia.org/wikipedia/en/math/8/b/b/8bb54fa8bfcf7235f6be575b21a8e6ee.png" /> for <img class="tex" alt="i=1,\ldots,n" src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0ccf5455d21e83c396573de9c87adc07.png" /></li>
<li><img class="tex" alt="x \leq y " src="//upload.wikimedia.org/wikipedia/en/math/0/4/9/0499fbc0b0f937d8f3a192a94edcd193.png" /> if <img class="tex" alt="x_i \leq y_i " src="//upload.wikimedia.org/wikipedia/en/math/9/3/a/93ac0044e3e8c7d2df4159d793c09aee.png" /> for <img class="tex" alt="i=1,\ldots,n" src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0ccf5455d21e83c396573de9c87adc07.png" /> and <img class="tex" alt="x \neq y" src="//upload.wikimedia.org/wikipedia/en/math/7/3/c/73c7070fbc887c38daea22738774c01c.png" /></li>
<li><img class="tex" alt="x \leqq y " src="//upload.wikimedia.org/wikipedia/en/math/d/c/1/dc1b25f51e3faddea4639ff0788583b8.png" /> if <img class="tex" alt="x_i \leq y_i " src="//upload.wikimedia.org/wikipedia/en/math/9/3/a/93ac0044e3e8c7d2df4159d793c09aee.png" /> for <img class="tex" alt="i=1,\ldots,n" src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0ccf5455d21e83c396573de9c87adc07.png" /></li>
</ul>
<p>Similarly, we can define relationships for <img class="tex" alt=" x &gt; y " src="//upload.wikimedia.org/wikipedia/en/math/1/0/3/10342149cd04422c7be79506cb544ac5.png" />, <img class="tex" alt=" x \geq y " src="//upload.wikimedia.org/wikipedia/en/math/7/7/c/77c3f188e2905561a0ed31d83c26f789.png" />, and <img class="tex" alt=" x \geqq y " src="//upload.wikimedia.org/wikipedia/en/math/9/2/2/922952ceb7e5803521348de4ca1e8b1e.png" />. We note that this notation is consistent with that used by Matthias Ehrgott in <i>Multicriteria Optimization</i> (see References).</p>
<p>We observe that the property of Trichotomy (as stated above) is not valid for vector relationships. We consider the case where <img class="tex" alt="x = \left[ 2, 5 \right]^T " src="//upload.wikimedia.org/wikipedia/en/math/7/7/e/77efd506bc60a41518cabbb204552c6c.png" /> and <img class="tex" alt="y = \left[ 3, 4 \right]^T " src="//upload.wikimedia.org/wikipedia/en/math/4/7/5/4753d9479062cc04a276edeb8ebb842d.png" />. There exists no valid inequality relationship between these two vectors. Also, a <a href="/wiki/Multiplicative_inverse" title="Multiplicative inverse">multiplicative inverse</a> would need to be defined on a vector before this property could be considered. However, for the rest of the aforementioned properties, a parallel property for vector inequalities exists.</p>
<h2><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=17" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Binary_relation" title="Binary relation">Binary relation</a></li>
<li><a href="/wiki/Bracket" title="Bracket">Bracket</a> for the use of the &lt; and &gt; signs as brackets</li>
<li><a href="/wiki/Fourier-Motzkin_elimination" title="Fourier-Motzkin elimination" class="mw-redirect">Fourier-Motzkin elimination</a></li>
<li><a href="/wiki/Inclusion_(set_theory)" title="Inclusion (set theory)" class="mw-redirect">Inclusion (set theory)</a></li>
<li><a href="/wiki/Inequation" title="Inequation">Inequation</a></li>
<li><a href="/wiki/Interval_(mathematics)" title="Interval (mathematics)">Interval (mathematics)</a></li>
<li><a href="/wiki/List_of_inequalities" title="List of inequalities">List of inequalities</a></li>
<li><a href="/wiki/Partially_ordered_set" title="Partially ordered set">Partially ordered set</a></li>
<li><a href="/wiki/Relational_operator" title="Relational operator">Relational operators</a>, used in programming languages to denote inequality</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=18" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;"></div>
<ul>
<li><span class="citation book">Hardy, G., Littlewood J.E., Polya, G. (1999). <i>Inequalities</i>. Cambridge Mathematical Library, Cambridge University Press. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-521-05206-8" title="Special:BookSources/0-521-05206-8">0-521-05206-8</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Inequalities&amp;rft.aulast=Hardy%2C+G.%2C+Littlewood+J.E.%2C+Polya%2C+G.&amp;rft.au=Hardy%2C+G.%2C+Littlewood+J.E.%2C+Polya%2C+G.&amp;rft.date=1999&amp;rft.pub=Cambridge+Mathematical+Library%2C+Cambridge+University+Press&amp;rft.isbn=0-521-05206-8&amp;rfr_id=info:sid/en.wikipedia.org:Inequality_(mathematics)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation book">Beckenbach, E.F., Bellman, R. (1975). <i>An Introduction to Inequalities</i>. Random House Inc. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-394-01559-2" title="Special:BookSources/0-394-01559-2">0-394-01559-2</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=An+Introduction+to+Inequalities&amp;rft.aulast=Beckenbach%2C+E.F.%2C+Bellman%2C+R.&amp;rft.au=Beckenbach%2C+E.F.%2C+Bellman%2C+R.&amp;rft.date=1975&amp;rft.pub=Random+House+Inc&amp;rft.isbn=0-394-01559-2&amp;rfr_id=info:sid/en.wikipedia.org:Inequality_(mathematics)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation book">Drachman, Byron C., Cloud, Michael J. (1998). <i>Inequalities: With Applications to Engineering</i>. Springer-Verlag. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-387-98404-6" title="Special:BookSources/0-387-98404-6">0-387-98404-6</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Inequalities%3A+With+Applications+to+Engineering&amp;rft.aulast=Drachman%2C+Byron+C.%2C+Cloud%2C+Michael+J.&amp;rft.au=Drachman%2C+Byron+C.%2C+Cloud%2C+Michael+J.&amp;rft.date=1998&amp;rft.pub=Springer-Verlag&amp;rft.isbn=0-387-98404-6&amp;rfr_id=info:sid/en.wikipedia.org:Inequality_(mathematics)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation Journal">Murray S. Klamkin. <a rel="nofollow" class="external text" href="http://ua-mirror.pims.math.ca/pi/issue7/page26-29.pdf">""Quickie" inequalities"</a> (PDF). <i>Math Strategies</i><span class="printonly">. <a rel="nofollow" class="external free" href="http://ua-mirror.pims.math.ca/pi/issue7/page26-29.pdf">http://ua-mirror.pims.math.ca/pi/issue7/page26-29.pdf</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=%22Quickie%22+inequalities&amp;rft.jtitle=Math+Strategies&amp;rft.aulast=Murray+S.+Klamkin&amp;rft.au=Murray+S.+Klamkin&amp;rft_id=http%3A%2F%2Fua-mirror.pims.math.ca%2Fpi%2Fissue7%2Fpage26-29.pdf&amp;rfr_id=info:sid/en.wikipedia.org:Inequality_(mathematics)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation web">Arthur Lohwater (1982). <a rel="nofollow" class="external text" href="http://www.mediafire.com/?1mw1tkgozzu">"Introduction to Inequalities"</a>. Online e-book in PDF format<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.mediafire.com/?1mw1tkgozzu">http://www.mediafire.com/?1mw1tkgozzu</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Introduction+to+Inequalities&amp;rft.atitle=&amp;rft.aulast=Arthur+Lohwater&amp;rft.au=Arthur+Lohwater&amp;rft.date=1982&amp;rft.pub=Online+e-book+in+PDF+format&amp;rft_id=http%3A%2F%2Fwww.mediafire.com%2F%3F1mw1tkgozzu&amp;rfr_id=info:sid/en.wikipedia.org:Inequality_(mathematics)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation web">Harold Shapiro (2005,19721985). <a rel="nofollow" class="external text" href="http://www.math.kth.se/math/TOPS/index.html">"Mathematical Problem Solving"</a>. <i>The Old Problem Seminar</i>. Kungliga Tekniska hgskolan<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.math.kth.se/math/TOPS/index.html">http://www.math.kth.se/math/TOPS/index.html</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Mathematical+Problem+Solving&amp;rft.atitle=The+Old+Problem+Seminar&amp;rft.aulast=Harold+Shapiro&amp;rft.au=Harold+Shapiro&amp;rft.date=2005%2C1972%E2%80%931985&amp;rft.pub=Kungliga+Tekniska+h%C3%B6gskolan&amp;rft_id=http%3A%2F%2Fwww.math.kth.se%2Fmath%2FTOPS%2Findex.html&amp;rfr_id=info:sid/en.wikipedia.org:Inequality_(mathematics)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation web"><a rel="nofollow" class="external text" href="http://web.archive.org/web/20080203070350/www.kalva.demon.co.uk/usa/usa74.html">"3rd USAMO"</a>. Archived from <a rel="nofollow" class="external text" href="http://www.kalva.demon.co.uk/usa/usa74.html">the original</a> on 2008-02-03<span class="printonly">. <a rel="nofollow" class="external free" href="http://web.archive.org/web/20080203070350/www.kalva.demon.co.uk/usa/usa74.html">http://web.archive.org/web/20080203070350/www.kalva.demon.co.uk/usa/usa74.html</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=3rd+USAMO&amp;rft.atitle=&amp;rft_id=http%3A%2F%2Fweb.archive.org%2Fweb%2F20080203070350%2Fwww.kalva.demon.co.uk%2Fusa%2Fusa74.html&amp;rfr_id=info:sid/en.wikipedia.org:Inequality_(mathematics)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation book">Ehrgott, Matthias (2005). <i>Multicriteria Optimization</i>. Springer-Berlin. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/3-540-21398-8" title="Special:BookSources/3-540-21398-8">3-540-21398-8</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Multicriteria+Optimization&amp;rft.aulast=Ehrgott%2C+Matthias&amp;rft.au=Ehrgott%2C+Matthias&amp;rft.date=2005&amp;rft.pub=Springer-Berlin&amp;rft.isbn=3-540-21398-8&amp;rfr_id=info:sid/en.wikipedia.org:Inequality_(mathematics)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation book"><a href="/wiki/J._Michael_Steele" title="J. Michael Steele">Steele, J. Michael</a> (2004). <a rel="nofollow" class="external text" href="http://www-stat.wharton.upenn.edu/~steele/Publications/Books/CSMC/CSMC_index.html"><i>The Cauchy-Schwarz Master Class: An Introduction to the Art of Mathematical Inequalities</i></a>. Cambridge University Press. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-0-521-54677-5" title="Special:BookSources/978-0-521-54677-5">978-0-521-54677-5</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://www-stat.wharton.upenn.edu/~steele/Publications/Books/CSMC/CSMC_index.html">http://www-stat.wharton.upenn.edu/~steele/Publications/Books/CSMC/CSMC_index.html</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+Cauchy-Schwarz+Master+Class%3A+An+Introduction+to+the+Art+of+Mathematical+Inequalities&amp;rft.aulast=Steele&amp;rft.aufirst=J.+Michael&amp;rft.au=Steele%2C%26%2332%3BJ.+Michael&amp;rft.date=2004&amp;rft.pub=Cambridge+University+Press&amp;rft.isbn=978-0-521-54677-5&amp;rft_id=http%3A%2F%2Fwww-stat.wharton.upenn.edu%2F%7Esteele%2FPublications%2FBooks%2FCSMC%2FCSMC_index.html&amp;rfr_id=info:sid/en.wikipedia.org:Inequality_(mathematics)"><span style="display: none;">&#160;</span></span></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Inequality_(mathematics)&amp;action=&amp;section=19" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://demonstrations.wolfram.com/GraphOfInequalities/">Graph of Inequalities</a> by <a href="/wiki/Ed_Pegg,_Jr." title="Ed Pegg, Jr.">Ed Pegg, Jr.</a>, <a href="/wiki/Wolfram_Demonstrations_Project" title="Wolfram Demonstrations Project">Wolfram Demonstrations Project</a>.</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 6534/1000000
Post-expand include size: 31899/2048000 bytes
Template argument size: 11246/2048000 bytes
Expensive parser function count: 3/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:89489-0!0!0!!en!4!* and timestamp 20120412184843 -->
