<table class="metadata plainlinks ambox ambox-content" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/f/f4/Ambox_content.png" width="40" height="40" /></div>
</td>
<td class="mbox-text" style="">This article <b>needs attention from an expert on the subject</b>. Please add a <i>reason</i> or a <i>talk</i> parameter to this template to explain the issue with the article. <a href="/wiki/Wikipedia:WikiProject_Mathematics" title="Wikipedia:WikiProject Mathematics">WikiProject Mathematics</a> or the <a href="/wiki/Portal:Mathematics" title="Portal:Mathematics">Mathematics Portal</a> may be able to help recruit an expert. <small><i>(June 2009)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, <b>Light's associativity test</b> is a <a href="/wiki/Algorithm" title="Algorithm">procedure</a> invented by F W Light for testing whether a <a href="/wiki/Binary_operation" title="Binary operation">binary operation</a> defined in a <a href="/wiki/Finite_set" title="Finite set">finite set</a> by a <a href="/wiki/Cayley_table" title="Cayley table">Cayley multiplication table</a> is <a href="/wiki/Associative" title="Associative" class="mw-redirect">associative</a>. Direct verification of the associativity of a binary operation specified by a Cayley table is cumbersome and tedious. Light's associativity test greatly simplifies the task.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Description_of_the_procedure"><span class="tocnumber">1</span> <span class="toctext">Description of the procedure</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Example"><span class="tocnumber">2</span> <span class="toctext">Example</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#A_further_simplification"><span class="tocnumber">2.1</span> <span class="toctext">A further simplification</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-4"><a href="#Algorithm_for_Light.27s_associativity_test"><span class="tocnumber">3</span> <span class="toctext">Algorithm for Light's associativity test</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Extension_of_Light.27s_associativity_test"><span class="tocnumber">4</span> <span class="toctext">Extension of Light's associativity test</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Light%27s_associativity_test&amp;action=&amp;section=1" title="Edit section: Description of the procedure"></a>]</span> <span class="mw-headline" id="Description_of_the_procedure">Description of the procedure</span></h2>
<p>Let a binary operation '  ' be defined in a finite set <i>A</i> by a Cayley table. Choosing some element <i>a</i> in <i>A</i>, two new binary operations are defined in <i>A</i> as follows:</p>
<dl>
<dd><i>x</i> <img class="tex" alt="\star" src="//upload.wikimedia.org/wikipedia/en/math/2/3/d/23d64887f9c2add7a296e5b99acbbdfb.png" /> <i>y</i> = <i>x</i>  ( <i>a</i>  <i>y</i> )</dd>
<dd><i>x</i> <img class="tex" alt="\circ" src="//upload.wikimedia.org/wikipedia/en/math/1/0/c/10c3e97d2a3eda0d182b81d48f231b62.png" /> <i>y</i> = ( <i>x</i>  <i>a</i> )  <i>y</i></dd>
</dl>
<p>The Cayley tables of these operations are constructed and compared. If the tables coincide then <i>x</i>  ( <i>a</i>  <i>y</i> ) = ( <i>x</i>  <i>a</i> )  <i>y</i> for all <i>x</i> and <i>y</i>. This is repeated for every element of the set <i>A</i>.</p>
<p>The example below illustrates a further simplification in the procedure for the construction and comparison of the Cayley tables of the operations ' <img class="tex" alt="\star" src="//upload.wikimedia.org/wikipedia/en/math/2/3/d/23d64887f9c2add7a296e5b99acbbdfb.png" /> ' and ' <img class="tex" alt="\circ" src="//upload.wikimedia.org/wikipedia/en/math/1/0/c/10c3e97d2a3eda0d182b81d48f231b62.png" /> '.</p>
<p>It is not even necessary to construct the Cayley tables of ' <img class="tex" alt="\star" src="//upload.wikimedia.org/wikipedia/en/math/2/3/d/23d64887f9c2add7a296e5b99acbbdfb.png" /> ' and ' <img class="tex" alt="\circ" src="//upload.wikimedia.org/wikipedia/en/math/1/0/c/10c3e97d2a3eda0d182b81d48f231b62.png" /> ' for <i>all</i> elements of <i>A</i>. It is enough to compare Cayley tables of ' <img class="tex" alt="\star" src="//upload.wikimedia.org/wikipedia/en/math/2/3/d/23d64887f9c2add7a296e5b99acbbdfb.png" /> ' and ' <img class="tex" alt="\circ" src="//upload.wikimedia.org/wikipedia/en/math/1/0/c/10c3e97d2a3eda0d182b81d48f231b62.png" /> ' corresponding to the elements in a proper generating subset of <i>A</i>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Light%27s_associativity_test&amp;action=&amp;section=2" title="Edit section: Example"></a>]</span> <span class="mw-headline" id="Example">Example</span></h2>
<p>Consider the binary operation '  ' in the set <i>A</i> = { <i>a</i>, <i>b</i>, <i>c</i>, <i>d</i>, <i>e</i> } defined by the following Cayley table (Table 1):</p>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 1</caption>
<tr>
<th></th>
<th><i>a</i></th>
<th><i>b</i></th>
<th><i>c</i></th>
<th><i>d</i></th>
<th><i>e</i></th>
</tr>
<tr>
<td>&#160; <b><i>a</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>b</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>c</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>d</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td>&#160; <b><i>e</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
</table>
</center>
<p>The set { <i>c</i>, <i>e</i> } is a generating set for the set <i>A</i> under the binary operation defined by the above table, for, <i>a</i> = <i>e</i>  <i>e</i>, <i>b</i> = <i>c</i>  <i>c</i>, <i>d</i> = <i>c</i>  <i>e</i>. Thus it is enough to verify that the binary operations ' <img class="tex" alt="\star" src="//upload.wikimedia.org/wikipedia/en/math/2/3/d/23d64887f9c2add7a296e5b99acbbdfb.png" /> ' and ' <img class="tex" alt="\circ" src="//upload.wikimedia.org/wikipedia/en/math/1/0/c/10c3e97d2a3eda0d182b81d48f231b62.png" /> ' corresponding to <i>c</i> coincide and also that the binary operations ' <img class="tex" alt="\star" src="//upload.wikimedia.org/wikipedia/en/math/2/3/d/23d64887f9c2add7a296e5b99acbbdfb.png" /> ' and ' <img class="tex" alt="\circ" src="//upload.wikimedia.org/wikipedia/en/math/1/0/c/10c3e97d2a3eda0d182b81d48f231b62.png" /> ' corresponding to <i>e</i> coincide.</p>
<p>To verify that the binary operations ' <img class="tex" alt="\star" src="//upload.wikimedia.org/wikipedia/en/math/2/3/d/23d64887f9c2add7a296e5b99acbbdfb.png" /> ' and ' <img class="tex" alt="\circ" src="//upload.wikimedia.org/wikipedia/en/math/1/0/c/10c3e97d2a3eda0d182b81d48f231b62.png" /> ' corresponding to <i>c</i> coincide, choose the row in Table 1 corresponding to the element <b><i>c</i></b> :</p>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 2</caption>
<tr>
<th></th>
<th><i>a</i></th>
<th><i>b</i></th>
<th><i>c</i></th>
<th><i>d</i></th>
<th><i>e</i></th>
</tr>
<tr>
<td>&#160; <b><i>a</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>b</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>c</i></b></td>
<td style="background:#ADFF2F">&#160; <i>a</i></td>
<td style="background:#ADFF2F">&#160; <i>c</i></td>
<td style="background:#ADFF2F">&#160; <i>b</i></td>
<td style="background:#ADFF2F">&#160; <i>d</i></td>
<td style="background:#ADFF2F">&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>d</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td>&#160; <b><i>e</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
</table>
</center>
<p>This row is copied as the header row of a new table (Table 3):</p>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 3</caption>
<tr>
<th>&#160;&#160;&#160;</th>
<th style="background:#ADFF2F">&#160; <i>a</i></th>
<th style="background:#ADFF2F">&#160; <i>c</i></th>
<th style="background:#ADFF2F">&#160; <i>b</i></th>
<th style="background:#ADFF2F">&#160; <i>d</i></th>
<th style="background:#ADFF2F">&#160; <i>d</i></th>
</tr>
<tr>
<td>&#160;&#160;&#160;</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>&#160;&#160;&#160;</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>&#160;&#160;&#160;</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>&#160;&#160;&#160;</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>&#160;&#160;&#160;</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</center>
<p>Under the header <b><i>a</i></b> copy the corresponding column in Table 1, under the header <b><i>b</i></b> copy the corresponding column in Table 1, etc, and construct Table 4.</p>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 4</caption>
<tr>
<th>&#160;&#160;&#160;</th>
<th style="background:#ADFF2F">&#160; <i>a</i></th>
<th style="background:#ADFF2F">&#160; <i>c</i></th>
<th style="background:#ADFF2F">&#160; <i>b</i></th>
<th style="background:#ADFF2F">&#160; <i>d</i></th>
<th style="background:#ADFF2F">&#160; <i>d</i></th>
</tr>
<tr>
<td></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
</table>
</center>
<p>The column headers of Table 4 are now deleted to get Table 5:</p>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 5</caption>
<tr>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
</tr>
<tr>
<td></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
</table>
</center>
<p>The Cayley table of the binary operation ' <img class="tex" alt="\star" src="//upload.wikimedia.org/wikipedia/en/math/2/3/d/23d64887f9c2add7a296e5b99acbbdfb.png" /> ' corresponding to the element <i>c</i> is given by Table 6.</p>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 6</caption>
<tr>
<th>&#160;<img class="tex" alt="\star" src="//upload.wikimedia.org/wikipedia/en/math/2/3/d/23d64887f9c2add7a296e5b99acbbdfb.png" /> (c)</th>
<th>&#160; <i>a</i></th>
<th>&#160; <i>b</i></th>
<th>&#160; <i>c</i></th>
<th>&#160; <i>d</i></th>
<th>&#160; <i>e</i></th>
</tr>
<tr>
<td>&#160; <b><i>a</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>b</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>c</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>d</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td>&#160; <b><i>e</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
</table>
</center>
<p>Next choose the <b><i>c</i></b> column of Table 1:</p>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 7</caption>
<tr>
<th></th>
<th><i>a</i></th>
<th><i>b</i></th>
<th><i>c</i></th>
<th><i>d</i></th>
<th><i>e</i></th>
</tr>
<tr>
<td>&#160; <b><i>a</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td style="background:#87CEEB">&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>b</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>b</i></td>
<td style="background:#87CEEB">&#160; <i>c</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>c</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>c</i></td>
<td style="background:#87CEEB">&#160; <i>b</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>d</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td style="background:#87CEEB">&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td>&#160; <b><i>e</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>e</i></td>
<td style="background:#87CEEB">&#160; <i>e</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
</table>
</center>
<p>Copy this column to the index column to get Table 8:</p>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 8</caption>
<tr>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>a</i></b></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>c</i></b></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>b</i></b></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>d</i></b></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>e</i></b></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</center>
<p>Against the index entry <b><i>a</i></b> in Table 8 copy the corresponding row in Table 1, against the index entry <b><i>b</i></b> copy the corresponding row in Table 1, etc, and construct Table 9.</p>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 9</caption>
<tr>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>a</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>c</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>b</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>d</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>e</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
</table>
</center>
<p>The index entries in the first column of Table 9 are now deleted to get Table 10:</p>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 10</caption>
<tr>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
<th>&#160;&#160;&#160;</th>
</tr>
<tr>
<td>&#160;&#160;&#160;</td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160;&#160;&#160;</td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160;&#160;&#160;</td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160;&#160;&#160;</td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td>&#160;&#160;&#160;</td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
</table>
</center>
<p>The Cayley table of the binary operation ' <img class="tex" alt="\circ" src="//upload.wikimedia.org/wikipedia/en/math/1/0/c/10c3e97d2a3eda0d182b81d48f231b62.png" /> ' corresponding to the element <i>c</i> is given by Table 11.</p>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 11</caption>
<tr>
<th><img class="tex" alt="\circ" src="//upload.wikimedia.org/wikipedia/en/math/1/0/c/10c3e97d2a3eda0d182b81d48f231b62.png" />(c)</th>
<th>&#160; <i>a</i></th>
<th>&#160; <i>b</i></th>
<th>&#160; <i>c</i></th>
<th>&#160; <i>d</i></th>
<th>&#160; <i>e</i></th>
</tr>
<tr>
<td>&#160; <b><i>a</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>b</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>c</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td>&#160; <b><i>d</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td>&#160; <b><i>e</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
</table>
</center>
<p>One can verify that the entries in the various cells in Table 6 agrees with the entries in the corresponding cells of Table 11. This shows that <i>x</i>  ( <i>c</i>  <i>y</i> ) = ( <i>x</i>  <i>c</i> )  <i>y</i> for all <i>x</i> and <i>y</i> in <i>A</i>. If there were some discrepancy then it would not be true that <i>x</i>  ( <i>c</i>  <i>y</i> ) = ( <i>x</i>  <i>c</i> )  <i>y</i> for all <i>x</i> and <i>y</i> in <i>A</i>.</p>
<p>That <i>x</i>  ( <i>e</i>  <i>y</i> ) = ( <i>x</i>  <i>e</i> )  <i>y</i> for all <i>x</i> and <i>y</i> in <i>A</i> can be verified in a similar way by constructing the following tables (Table 12 and Table 13):</p>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 12</caption>
<tr>
<th>&#160;<img class="tex" alt="\star" src="//upload.wikimedia.org/wikipedia/en/math/2/3/d/23d64887f9c2add7a296e5b99acbbdfb.png" />(<i>e</i>)</th>
<th style="background:#ADFF2F">&#160; <i>a</i></th>
<th style="background:#ADFF2F">&#160; <i>b</i></th>
<th style="background:#ADFF2F">&#160; <i>c</i></th>
<th style="background:#ADFF2F">&#160; <i>d</i></th>
<th style="background:#ADFF2F">&#160; <i>e</i></th>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>a</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>b</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>c</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>d</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>e</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
</table>
</center>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 13</caption>
<tr>
<th>&#160;<img class="tex" alt="\circ" src="//upload.wikimedia.org/wikipedia/en/math/1/0/c/10c3e97d2a3eda0d182b81d48f231b62.png" />(<i>e</i>)</th>
<th style="background:#ADFF2F">&#160; <i>a</i></th>
<th style="background:#ADFF2F">&#160; <i>b</i></th>
<th style="background:#ADFF2F">&#160; <i>c</i></th>
<th style="background:#ADFF2F">&#160; <i>d</i></th>
<th style="background:#ADFF2F">&#160; <i>e</i></th>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>a</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>b</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>c</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>d</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>e</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
</table>
</center>
<h3><span class="section">[<a href="/w/index.php?title=Light%27s_associativity_test&amp;action=&amp;section=3" title="Edit section: A further simplification"></a>]</span> <span class="mw-headline" id="A_further_simplification">A further simplification</span></h3>
<p>It is not necessary to construct the Cayley tables (Table 6 and table 11) of the binary operations ' <img class="tex" alt="\star" src="//upload.wikimedia.org/wikipedia/en/math/2/3/d/23d64887f9c2add7a296e5b99acbbdfb.png" /> ' and ' <img class="tex" alt="\circ" src="//upload.wikimedia.org/wikipedia/en/math/1/0/c/10c3e97d2a3eda0d182b81d48f231b62.png" /> '. It is enough to copy the column corresponding to the header <b><i>c</i></b> in Table 1 to the index column in Table 5 and form the following table (Table 14) and verify that the <b><i>a</i></b> -row of Table 14 is identical with the <b><i>a</i></b> -row of Table 1, the <b><i>b</i></b> -row of Table 14 is identical with the <b><i>b</i></b> -row of Table 1, etc. This is to be repeated mutatis mutandis for all the elements of the generating set of <i>A</i>.</p>
<center>
<table class="wikitable" border="1" width="20%">
<caption>Table 14</caption>
<tr>
<th>&#160;&#160;&#160;</th>
<th style="background:#ADFF2F">&#160; <i>a</i></th>
<th style="background:#ADFF2F">&#160; <i>c</i></th>
<th style="background:#ADFF2F">&#160; <i>b</i></th>
<th style="background:#ADFF2F">&#160; <i>d</i></th>
<th style="background:#ADFF2F">&#160; <i>d</i></th>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>a</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>c</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>b</i></b></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>b</i></td>
<td>&#160; <i>c</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>d</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
<tr>
<td style="background:#87CEEB">&#160; <b><i>e</i></b></td>
<td>&#160; <i>d</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>e</i></td>
<td>&#160; <i>a</i></td>
<td>&#160; <i>a</i></td>
</tr>
</table>
</center>
<h2><span class="section">[<a href="/w/index.php?title=Light%27s_associativity_test&amp;action=&amp;section=4" title="Edit section: Algorithm for Light's associativity test"></a>]</span> <span class="mw-headline" id="Algorithm_for_Light.27s_associativity_test">Algorithm for Light's associativity test</span></h2>
<p><a href="/wiki/Computer_software" title="Computer software" class="mw-redirect">Computer software</a> can be written to carry out Light's associativity test. Kehayopulu and Argyris have developed such an <a href="/wiki/Algorithm" title="Algorithm">algorithm</a> for <a href="/wiki/Mathematica" title="Mathematica">Mathematica</a>.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Light%27s_associativity_test&amp;action=&amp;section=5" title="Edit section: Extension of Light's associativity test"></a>]</span> <span class="mw-headline" id="Extension_of_Light.27s_associativity_test">Extension of Light's associativity test</span></h2>
<p>Light's associativity test can be extended to test associativity in a more general context.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup><sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<p>Let <i>T</i> = { <i>t</i><sub>1</sub>, <i>t</i><sub>2</sub>, <img class="tex" alt="\ldots" src="//upload.wikimedia.org/wikipedia/en/math/0/6/5/065775997fdbcb83ddbe8936e67e4f2c.png" /> , <i>t</i><sub><i>m</i></sub> } be a <a href="/wiki/Magma_(algebra)" title="Magma (algebra)">magma</a> in which the operation is denoted by <a href="/w/index.php?title=Juxtaposition_(literary)&amp;action=&amp;redlink=1" class="new" title="Juxtaposition (literary) (page does not exist)">juxtaposition</a>. Let <i>X</i> = { <i>x</i><sub>1</sub>, <i>x</i><sub>2</sub>, <img class="tex" alt="\ldots" src="//upload.wikimedia.org/wikipedia/en/math/0/6/5/065775997fdbcb83ddbe8936e67e4f2c.png" /> , <i>x</i><sub><i>n</i></sub> } be a set. Let there be a mapping from the <a href="/wiki/Cartesian_product" title="Cartesian product">Cartesian product</a> <i>T</i>  <i>X</i> to <i>X</i> denoted by (<i>t</i>, <i>x</i>)  <i>tx</i> and let it be required to test whether this map has the property</p>
<dl>
<dd>(<i>st</i>)<i>x</i> = <i>s</i>(<i>tx</i>) for all <i>s</i>, <i>t</i> in <i>T</i> and all <i>x</i> in <i>X</i>.</dd>
</dl>
<p>A generalization of Light's associativity test can be applied to verify whether the above property holds or not. In mathematical notations, the generalization runs as follows: For each <i>t</i> in <i>T</i>, let <i>L</i>(<i>t</i>) be the <i>m</i>  <i>n</i> matrix of elements of <i>X</i> whose <i>i</i> - th row is</p>
<dl>
<dd>( (<i>t</i><sub><i>i</i></sub><i>t</i>)<i>x</i><sub>1</sub>, (<i>t</i><sub><i>i</i></sub><i>t</i>)<i>x</i><sub>2</sub>, <img class="tex" alt="\ldots" src="//upload.wikimedia.org/wikipedia/en/math/0/6/5/065775997fdbcb83ddbe8936e67e4f2c.png" /> , (<i>t</i><sub><i>i</i></sub><i>t</i>)<i>x</i><sub>n</sub> ) for <i>i</i> = 1, <img class="tex" alt="\ldots" src="//upload.wikimedia.org/wikipedia/en/math/0/6/5/065775997fdbcb83ddbe8936e67e4f2c.png" />, <i>m</i></dd>
</dl>
<p>and let <i>R</i>(<i>t</i>) be the <i>m</i>  <i>n</i> matrix of elements of <i>X</i>, the elements of whose <i>j</i> - th column are</p>
<dl>
<dd>( <i>t</i><sub>1</sub>(<i>tx</i><sub><i>j</i></sub>), <i>t</i><sub>2</sub>(<i>tx</i><sub><i>j</i></sub>), <img class="tex" alt="\ldots" src="//upload.wikimedia.org/wikipedia/en/math/0/6/5/065775997fdbcb83ddbe8936e67e4f2c.png" /> , <i>t</i><sub><i>m</i></sub>(<i>tx</i><sub>j</sub>) ) for <i>j</i> = 1, <img class="tex" alt="\ldots" src="//upload.wikimedia.org/wikipedia/en/math/0/6/5/065775997fdbcb83ddbe8936e67e4f2c.png" />, <i>n</i>.</dd>
</dl>
<p>According to the generalised test (due to Bednarek), that the property to be verified holds if and only if <i>L</i>(<i>t</i>) = <i>R</i>(<i>t</i>) for all <i>t</i> in <i>T</i>. When <i>X</i> = <i>T</i>, Bednarek's test reduces to Light's test.</p>
<h2><span class="section">[<a href="/w/index.php?title=Light%27s_associativity_test&amp;action=&amp;section=6" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Cayley_table" title="Cayley table">Cayley table</a></li>
<li><a href="/wiki/Associativity" title="Associativity" class="mw-redirect">Associativity</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Light%27s_associativity_test&amp;action=&amp;section=7" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation Journal">Kehayopulu, Niovi; Philip Argyris (1993). "An algorithm for Light's associativity test using Mathematica". <i>J. Comput. Inform.</i> <b>3</b> (1): 8798. <a href="/wiki/International_Standard_Serial_Number" title="International Standard Serial Number">ISSN</a>&#160;<a rel="nofollow" class="external text" href="http://www.worldcat.org/issn/11803886">11803886</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=An+algorithm+for++Light%27s+associativity+test+using++Mathematica&amp;rft.jtitle=J.+Comput.+Inform.&amp;rft.aulast=Kehayopulu&amp;rft.aufirst=Niovi&amp;rft.au=Kehayopulu%2C%26%2332%3BNiovi&amp;rft.date=1993&amp;rft.volume=3&amp;rft.issue=1&amp;rft.pages=87%26ndash%3B98&amp;rft.issn=11803886&amp;rfr_id=info:sid/en.wikipedia.org:Light%27s_associativity_test"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><span class="citation Journal">Bednarek, A R (1968). "An extension of Light's associativity test". <i><a href="/wiki/American_Mathematical_Monthly" title="American Mathematical Monthly">American Mathematical Monthly</a></i> <b>75</b> (5): 531532. <a href="/wiki/Digital_object_identifier" title="Digital object identifier">doi</a>:<a rel="nofollow" class="external text" href="http://dx.doi.org/10.2307%2F2314731">10.2307/2314731</a>. <a href="/wiki/JSTOR" title="JSTOR">JSTOR</a>&#160;<a rel="nofollow" class="external text" href="http://www.jstor.org/stable/2314731">2314731</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=An+extension+of+Light%27s+associativity+test&amp;rft.jtitle=%5B%5BAmerican+Mathematical+Monthly%5D%5D&amp;rft.aulast=Bednarek&amp;rft.aufirst=A+R&amp;rft.au=Bednarek%2C%26%2332%3BA+R&amp;rft.date=1968&amp;rft.volume=75&amp;rft.issue=5&amp;rft.pages=531%26ndash%3B532&amp;rft_id=info:doi/10.2307%2F2314731&amp;rft.jstor=2314731&amp;rfr_id=info:sid/en.wikipedia.org:Light%27s_associativity_test"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><span class="citation Journal">Kalman, J A (1971). "Bednarek's extension of Light's associativity test". <i>Semigroup Forum</i> <b>3</b> (1): 275276. <a href="/wiki/Digital_object_identifier" title="Digital object identifier">doi</a>:<a rel="nofollow" class="external text" href="http://dx.doi.org/10.1007%2FBF02572966">10.1007/BF02572966</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Bednarek%27s+extension+of+Light%27s+associativity+test&amp;rft.jtitle=Semigroup+Forum&amp;rft.aulast=Kalman&amp;rft.aufirst=J+A&amp;rft.au=Kalman%2C%26%2332%3BJ+A&amp;rft.date=1971&amp;rft.volume=3&amp;rft.issue=1&amp;rft.pages=275%E2%80%93276&amp;rft_id=info:doi/10.1007%2FBF02572966&amp;rfr_id=info:sid/en.wikipedia.org:Light%27s_associativity_test"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<ul>
<li><span class="citation book"><a href="/wiki/Alfred_H._Clifford" title="Alfred H. Clifford">Clifford, Alfred Hoblitzelle</a>; <a href="/wiki/Gordon_Preston" title="Gordon Preston">Preston, Gordon Bamford</a> (1961). <i>The algebraic theory of semigroups. Vol. I</i>. Mathematical Surveys, No. 7. Providence, R.I.: <a href="/wiki/American_Mathematical_Society" title="American Mathematical Society">American Mathematical Society</a>. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-0-8218-0272-4" title="Special:BookSources/978-0-8218-0272-4">978-0-8218-0272-4</a>. <a href="/wiki/Mathematical_Reviews" title="Mathematical Reviews">MR</a><a rel="nofollow" class="external text" href="http://www.ams.org/mathscinet-getitem?mr=0132791">0132791</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+algebraic+theory+of+semigroups.+Vol.+I&amp;rft.aulast=Clifford&amp;rft.aufirst=Alfred+Hoblitzelle&amp;rft.au=Clifford%2C%26%2332%3BAlfred+Hoblitzelle&amp;rft.au=Preston%2C%26%2332%3BGordon+Bamford&amp;rft.date=1961&amp;rft.series=Mathematical+Surveys%2C+No.+7&amp;rft.place=Providence%2C+R.I.&amp;rft.pub=%5B%5BAmerican+Mathematical+Society%5D%5D&amp;rft.isbn=978-0-8218-0272-4&amp;rfr_id=info:sid/en.wikipedia.org:Light%27s_associativity_test"><span style="display: none;">&#160;</span></span> (pp.&#160;79)</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 3673/1000000
Post-expand include size: 23310/2048000 bytes
Template argument size: 6142/2048000 bytes
Expensive parser function count: 3/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:22783408-0!0!0!!en!4!* and timestamp 20120412191904 -->
