<p>In 1932, <a href="/wiki/George_David_Birkhoff" title="George David Birkhoff">G. D. Birkhoff</a> created a set of four <a href="/wiki/Postulate" title="Postulate" class="mw-redirect">postulates</a> of <a href="/wiki/Euclidean_geometry" title="Euclidean geometry">Euclidean geometry</a> sometimes referred to as <b>Birkhoff's axioms</b>. These postulates are all based on basic <a href="/wiki/Geometry" title="Geometry">geometry</a> that can be confirmed experimentally with a <a href="/wiki/Vernier_scale" title="Vernier scale">scale</a> and <a href="/wiki/Protractor" title="Protractor">protractor</a>. Since the postulates build upon the <a href="/wiki/Real_number" title="Real number">real numbers</a>, the approach is similar to a <a href="/wiki/Model_theory" title="Model theory">model</a>-based introduction to Euclidean geometry. Other often-used axiomizations of plane geometry are <a href="/wiki/Hilbert%27s_axioms" title="Hilbert's axioms">Hilbert's axioms</a> and <a href="/wiki/Tarski%27s_axioms" title="Tarski's axioms">Tarski's axioms</a>.</p>
<p>Birkhoff's axiom system was utilized in the secondary-school text <i>Basic Geometry</i> (first ion, 1940; see References).</p>
<h2><span class="section">[<a href="/w/index.php?title=Birkhoff%27s_axioms&amp;action=&amp;section=1" title="Edit section: Postulates"></a>]</span> <span class="mw-headline" id="Postulates">Postulates</span></h2>
<p><b>Postulate I: Postulate of Line Measure</b>. A set of points {<i>A,&#160;B</i>,&#160;...} on any line can be put into a 1:1 correspondence with the <a href="/wiki/Real_number" title="Real number">real numbers</a> {<i>a,&#160;b</i>,&#160;...} so that |<i>b</i>&#160;&#160;<i>a</i>| =&#160;<i>d</i>(<i>A,&#160;B</i>) for all points <i>A</i> and&#160;<i>B</i>.</p>
<p><b>Postulate II: Point-Line Postulate</b>. There is one and only one line, <i></i>, that contains any two given distinct points <i>P</i> and&#160;<i>Q</i>.</p>
<p><b>Postulate III: Postulate of Angle Measure</b>. A set of rays {<i>,&#160;m,&#160;n</i>,&#160;...} through any point <i>O</i> can be put into 1:1 correspondence with the real numbers <i>a</i>&#160;(mod&#160;2<i></i>) so that if <i>A</i> and <i>B</i> are points (not equal to <i>O</i>) of <i></i> and <i>m</i>, respectively, the difference <i>a</i><sub><i>m</i></sub>&#160;&#160;<i>a</i><sub><i></i></sub>&#160;(mod&#160;2) of the numbers associated with the lines <i></i> and <i>m</i> is <img class="tex" alt="\angle" src="//upload.wikimedia.org/wikipedia/en/math/c/5/8/c58f5b6977cb475bd9ae57cb9674d324.png" /><i>AOB</i>. Furthermore, if the point <i>B</i> on <i>m</i> varies continuously in a line <i>r</i> not containing the vertex <i>O</i>, the number <i>a</i><sub><i>m</i></sub> varies continuously also.</p>
<p><b>Postulate IV: Postulate of Similarity</b>. Given two triangles <i>ABC</i> and <i>A'B'C'&#160;</i> and some constant <i>k</i>&#160;&gt;&#160;0, <i>d</i>(<i>A',&#160;B'</i> ) =&#160;<i>kd</i>(<i>A, B</i>), <i>d</i>(<i>A',&#160;C'&#160;</i>)&#160;=&#160;<i>kd</i>(<i>A,&#160;C</i>) and <img class="tex" alt="\angle" src="//upload.wikimedia.org/wikipedia/en/math/c/5/8/c58f5b6977cb475bd9ae57cb9674d324.png" /><i>B'A'C'&#160;</i>&#160;=&#160;<img class="tex" alt="\angle" src="//upload.wikimedia.org/wikipedia/en/math/c/5/8/c58f5b6977cb475bd9ae57cb9674d324.png" /><i>BAC</i>, then <i>d</i>(<i>B',&#160;C'&#160;</i>)&#160;=&#160;<i>kd</i>(<i>B,&#160;C</i>), <img class="tex" alt="\angle" src="//upload.wikimedia.org/wikipedia/en/math/c/5/8/c58f5b6977cb475bd9ae57cb9674d324.png" /><i>C'B'A'&#160;</i>&#160;=&#160;<img class="tex" alt="\angle" src="//upload.wikimedia.org/wikipedia/en/math/c/5/8/c58f5b6977cb475bd9ae57cb9674d324.png" /><i>CBA</i>, and <img class="tex" alt="\angle" src="//upload.wikimedia.org/wikipedia/en/math/c/5/8/c58f5b6977cb475bd9ae57cb9674d324.png" /><i>A'C'B'&#160;</i>&#160;=&#160;<img class="tex" alt="\angle" src="//upload.wikimedia.org/wikipedia/en/math/c/5/8/c58f5b6977cb475bd9ae57cb9674d324.png" /><i>ACB</i>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Birkhoff%27s_axioms&amp;action=&amp;section=2" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li>Birkhoff, George David. 1932. "A Set of Postulates for Plane Geometry (Based on Scale and Protractors)," <i><a href="/wiki/Annals_of_Mathematics" title="Annals of Mathematics">Annals of Mathematics</a> 33</i>.</li>
<li>Birkhoff, George David and Ralph Beatley. 1959. <i>Basic Geometry</i> 3rd ed. Chelsea Publishing Co. [Reprint: American Mathematical Society, 2000. <a href="/wiki/Special:BookSources/9780821821015" class="internal mw-magiclink-isbn">ISBN 9780821821015</a>]</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 70/1000000
Post-expand include size: 0/2048000 bytes
Template argument size: 0/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:828320-0!0!0!!*!*!* and timestamp 20120301035742 -->
