<p><b>Bonnesen's inequality</b> is an <a href="/wiki/Inequality_(mathematics)" title="Inequality (mathematics)">inequality</a> relating the length, the area, the radius of the <a href="/wiki/Incircle" title="Incircle" class="mw-redirect">incircle</a> and the radius of the <a href="/wiki/Circumcircle" title="Circumcircle" class="mw-redirect">circumcircle</a> of a <a href="/wiki/Jordan_curve" title="Jordan curve" class="mw-redirect">Jordan curve</a>. It is a strengthening of the classical <a href="/wiki/Isoperimetry" title="Isoperimetry" class="mw-redirect">isoperimetric inequality</a>.</p>
<p>More precisely, consider a planar simple closed curve of length <img class="tex" alt="L" src="//upload.wikimedia.org/wikipedia/en/math/d/2/0/d20caec3b48a1eef164cb4ca81ba2587.png" /> bounding a domain of area <img class="tex" alt="F" src="//upload.wikimedia.org/wikipedia/en/math/8/0/0/800618943025315f869e4e1f09471012.png" />. Let <img class="tex" alt="r" src="//upload.wikimedia.org/wikipedia/en/math/4/b/4/4b43b0aee35624cd95b910189b3dc231.png" /> and <img class="tex" alt="R" src="//upload.wikimedia.org/wikipedia/en/math/e/1/e/e1e1d3d40573127e9ee0480caf1283d6.png" /> denote the radii of the incircle and the circumcircle. Bonnesen proved the inequality</p>
<dl>
<dd><img class="tex" alt=" L^2-4\pi F\geq \pi^2 (R-r)^2. \, " src="//upload.wikimedia.org/wikipedia/en/math/3/6/2/362f9e100d121c2454b9cea1d11a7e40.png" /></dd>
</dl>
<p>The term <img class="tex" alt=" \pi^2 (R-r)^2" src="//upload.wikimedia.org/wikipedia/en/math/0/c/7/0c77b032a8c50fd3929adab5c7bba3d2.png" /> in the right hand side is known as the <em>isoperimetric defect</em>.</p>
<p><a href="/wiki/Loewner%27s_torus_inequality" title="Loewner's torus inequality">Loewner's torus inequality</a> with isosystolic defect is a <a href="/wiki/Systolic_geometry" title="Systolic geometry">systolic</a> analogue of Bonnesen's inequality.</p>
<h2><span class="section">[<a href="/w/index.php?title=Bonnesen%27s_inequality&amp;action=&amp;section=1" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li>Bonnesen, T.: "Sur une amlioration de l'ingalit isoprimetrique du cercle et la dmonstration d'une ingalit de Minkowski," <i>C. R. Acad. Sci. Paris</i> <b>172</b> (1921), 10871089.</li>
<li>Yu. D. Burago and V. A. Zalgaller, <i>Geometric inequalities</i>. Translated from the Russian by A. B. Sosinski. Springer-Verlag, Berlin, 1988. <a href="/wiki/Special:BookSources/3540136150" class="internal mw-magiclink-isbn">ISBN 3-540-13615-0</a>.</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 57/1000000
Post-expand include size: 0/2048000 bytes
Template argument size: 0/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:9719512-0!0!0!*!*!*!* and timestamp 20120301023928 -->
