<div class="dablink">"Equidistance" redirects here. For the principle in maritime boundary claims, see <a href="/wiki/Equidistance_principle" title="Equidistance principle">Equidistance principle</a>.</div>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/Special:Search/equidistant">equidistant</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a href="/wiki/File:Perpendicular_bisector.gif" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/4/45/Perpendicular_bisector.gif" width="200" height="333" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Perpendicular_bisector.gif" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Bisection of two <a href="/wiki/Circular_segment" title="Circular segment">circular segments</a> by a line. All the points on the red line are equidistant from the two end points of the black line.</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Skel.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/93/Skel.png/220px-Skel.png" width="220" height="274" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Skel.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A shape and its skeleton, computed with a <a href="/wiki/Topology" title="Topology">topology</a>-preserving <a href="/w/index.php?title=Thinning_algorithm&amp;action=&amp;redlink=1" class="new" title="Thinning algorithm (page does not exist)">thinning algorithm</a>.</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Circumscribed_Polygon.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/76/Circumscribed_Polygon.svg/220px-Circumscribed_Polygon.svg.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Circumscribed_Polygon.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The circle C is <a href="/wiki/Circumscribed_circle" title="Circumscribed circle">circumscribed</a> by the <a href="/wiki/Cyclic_polygon" title="Cyclic polygon" class="mw-redirect">cyclic polygon</a> P. The circumcentre O is equidistant to each point on the polygon.</div>
</div>
</div>
<p>A point is said to be <b>equidistant</b> from a set of objects if the <a href="/wiki/Distance" title="Distance">distances</a> between that point and each object in the set are equal.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<p>In two-dimensional <a href="/wiki/Euclidian_geometry" title="Euclidian geometry" class="mw-redirect">Euclidian geometry</a> the <a href="/wiki/Locus_(mathematics)" title="Locus (mathematics)">locus</a> of points equidistant from two given (different) points is their <a href="/wiki/Perpendicular_bisector" title="Perpendicular bisector" class="mw-redirect">perpendicular bisector</a>. In three dimensions, the locus of points equidistant from two given points is a plane, and generalising further, in <a href="/wiki/N-dimensional_space" title="N-dimensional space" class="mw-redirect">n-dimensional space</a> the locus of points equidistant from two points in <a href="/wiki/N-space" title="N-space" class="mw-redirect">n-space</a> is an (n1)-space.</p>
<p>For a triangle the <a href="/wiki/Circumcentre" title="Circumcentre" class="mw-redirect">circumcentre</a> is a point equidistant from each of the three end points. Every non degenerate triangle has such a point. This result can be generalised to <a href="/wiki/Cyclic_polygon" title="Cyclic polygon" class="mw-redirect">cyclic polygons</a>. The center of a circle is equidistant from every point on the circle. Likewise the center of a <a href="/wiki/Sphere" title="Sphere">sphere</a> is equidistant from every point on the sphere.</p>
<p>A <a href="/wiki/Parabola" title="Parabola">parabola</a> is the set of points in a plane equidistant from a fixed point (the focus) and a fixed line (the directrix), where distance from the directrix is measured along a line perpendicular to the directrix.</p>
<p>In <a href="/wiki/Shape_analysis" title="Shape analysis">shape analysis</a>, the <a href="/wiki/Topological_skeleton" title="Topological skeleton">topological skeleton</a> or <a href="/wiki/Medial_axis" title="Medial axis">medial axis</a> of a <a href="/wiki/Shape" title="Shape">shape</a> is a thin version of that shape that is equidistant from its <a href="/wiki/Boundary_(topology)" title="Boundary (topology)">boundaries</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Equidistant&amp;action=&amp;section=1" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation book">Clapham, Christopher; Nicholson, James (2009). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=UTCenrlmVW4C&amp;lpg=PT300&amp;pg=PT164"><i>The concise Oxford dictionary of mathematics</i></a>. Oxford University Press. pp.&#160;164165. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/9780199235940" title="Special:BookSources/9780199235940">9780199235940</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=UTCenrlmVW4C&amp;lpg=PT300&amp;pg=PT164">http://books.google.com/books?id=UTCenrlmVW4C&amp;lpg=PT300&amp;pg=PT164</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+concise+Oxford+dictionary+of+mathematics&amp;rft.aulast=Clapham&amp;rft.aufirst=Christopher&amp;rft.au=Clapham%2C%26%2332%3BChristopher&amp;rft.au=Nicholson%2C%26%2332%3BJames&amp;rft.date=2009&amp;rft.pages=pp.%26nbsp%3B164%E2%80%93165&amp;rft.pub=Oxford+University+Press&amp;rft.isbn=9780199235940&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DUTCenrlmVW4C%26lpg%3DPT300%26pg%3DPT164&amp;rfr_id=info:sid/en.wikipedia.org:Equidistant"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Equidistant&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 1152/1000000
Post-expand include size: 11216/2048000 bytes
Template argument size: 3095/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1532579-0!*!0!*!*!4!* and timestamp 20120412194410 -->
