<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Tile_4,4.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Tile_4%2C4.svg/220px-Tile_4%2C4.svg.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Tile_4,4.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.18/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
<a href="/wiki/Square_tiling" title="Square tiling">Square tiling</a>  four <a href="/wiki/Square_(geometry)" title="Square (geometry)">square</a> faces per vertex</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Hexahedron.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/33/Hexahedron.png/220px-Hexahedron.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Hexahedron.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.18/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
<a href="/wiki/Cube" title="Cube">Cube</a>  three <a href="/wiki/Square_(geometry)" title="Square (geometry)">square</a> faces per vertex</div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, a <b>face</b> of a <a href="/wiki/Polyhedron" title="Polyhedron">polyhedron</a> is any of the <a href="/wiki/Polygons" title="Polygons" class="mw-redirect">polygons</a> that make up its boundaries. For example, any of the <a href="/wiki/Square_(geometry)" title="Square (geometry)">squares</a> that bound a <a href="/wiki/Cube" title="Cube">cube</a> is a face of the cube. The suffix <i>-hedron</i> is derived from the Greek word  (<i>hedra</i>) which means "face".</p>
<p>Sometimes, in the case of a <a href="/wiki/Pyramid" title="Pyramid">pyramid</a>, the term <i>face</i> is understood to exclude the base.</p>
<p>The (two-dimensional) polygons that bound higher-dimensional <a href="/wiki/Polytopes" title="Polytopes" class="mw-redirect">polytopes</a> are also commonly called <i>faces</i>. Formally, however, a face is <i>any</i> of the lower dimensional boundaries of the polytope, more specifically called an <b><i>n</i>-face</b>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Formal_definition"><span class="tocnumber">1</span> <span class="toctext">Formal definition</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Facets"><span class="tocnumber">2</span> <span class="toctext">Facets</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#See_also"><span class="tocnumber">3</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#External_links"><span class="tocnumber">4</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Face_(geometry)&amp;action=&amp;section=1" title="Edit section: Formal definition"></a>]</span> <span class="mw-headline" id="Formal_definition">Formal definition</span></h2>
<p>In <a href="/wiki/Convex_geometry" title="Convex geometry">convex geometry</a>, a face of a polytope <i>P</i> is the intersection of any <a href="/wiki/Supporting_hyperplane" title="Supporting hyperplane">supporting hyperplane</a> of <i>P</i> and <i>P</i>. From this definition it follows that the set of faces of a polytope includes the polytope itself and the empty set. For example, a polyhedron <i>R</i><sup>3</sup> is entirely on one hyperplane of <i>R</i><sup>4</sup>. If <i>R</i><sup>4</sup> were spacetime, the hyperplane at <span class="nowrap"><i>t</i> = 0</span> supports and contains the entire polyhedron. Thus, by the formal definition, the polyhedron is a face of itself.</p>
<p>All of the following are the <i>n</i>-faces of a <a href="/wiki/4-polytope" title="4-polytope" class="mw-redirect">4-dimensional polytope</a>:</p>
<ul>
<li>4-face  the 4-dimensional <a href="/wiki/4-polytope" title="4-polytope" class="mw-redirect">4-polytope</a> itself</li>
<li>3-face  any 3-dimensional <a href="/wiki/Cell_(geometry)" title="Cell (geometry)">cell</a></li>
<li>2-face  any 2-dimensional polygonal face (using the common definition of face)</li>
<li>1-face  any 1-dimensional <a href="/wiki/Edge_(geometry)" title="Edge (geometry)">edge</a></li>
<li>0-face  any 0-dimensional <a href="/wiki/Vertex_(geometry)" title="Vertex (geometry)">vertex</a></li>
<li>the empty set.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Face_(geometry)&amp;action=&amp;section=2" title="Edit section: Facets"></a>]</span> <span class="mw-headline" id="Facets">Facets</span></h2>
<p>If the polytope lies in <i>n</i>-dimensions, a face in the (<i>n</i>1)-dimension is called a <i><a href="/wiki/Facet_(mathematics)" title="Facet (mathematics)">facet</a></i>. For example, a cell of a polychoron is a facet, a "face" of a polyhedron is a facet, an edge of a polygon is a facet, etc. A face in the (<i>n</i>2)-dimension is called a <a href="/wiki/Ridge_(geometry)" title="Ridge (geometry)">ridge</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Face_(geometry)&amp;action=&amp;section=3" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Euler_characteristic" title="Euler characteristic">Euler characteristic</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Face_(geometry)&amp;action=&amp;section=4" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a href="/wiki/George_Olshevsky" title="George Olshevsky">Olshevsky, George</a>, <i><a rel="nofollow" class="external text" href="http://web.archive.org/web/20070204075028/members.aol.com/Polycell/glossary.html#Face">Face</a></i> at <i>Glossary for Hyperspace</i>.</li>
<li><span class="citation mathworld" id="Reference-Mathworld-Face"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Face.html">Face</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 44/1000000
Post-expand include size: 385/2048000 bytes
Template argument size: 29/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:149926-0!*!0!!en!4!* and timestamp 20120229222805 generated by mw51 -->
