<div class="thumb tright">
<div class="thumbinner" style="width:284px;"><a href="/wiki/File:Midpoint.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/68/Midpoint.svg/282px-Midpoint.svg.png" width="282" height="115" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Midpoint.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The midpoint of the segment (<span class="texhtml"><var>x</var></span><sub>1</sub>,<span class="texhtml"><var>y</var></span><sub>1</sub>) to (<span class="texhtml"><var>x</var></span><sub>2</sub>,<span class="texhtml"><var>y</var></span><sub>2</sub>)</div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, the <b>midpoint</b> is the middle <a href="/wiki/Point_(geometry)" title="Point (geometry)">point</a> of a <a href="/wiki/Line_segment" title="Line segment">line segment</a>. It is <a href="/wiki/Distance" title="Distance">equidistant</a> from both endpoints.</p>
<p>In statistics and use of <a href="/wiki/Histogram" title="Histogram">histograms</a>, a midpoint is known as <b>class mark</b>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Formulas"><span class="tocnumber">1</span> <span class="toctext">Formulas</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Construction"><span class="tocnumber">2</span> <span class="toctext">Construction</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Deriving_the_formula"><span class="tocnumber">3</span> <span class="toctext">Deriving the formula</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Generalizations"><span class="tocnumber">4</span> <span class="toctext">Generalizations</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#External_links"><span class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Midpoint&amp;action=&amp;section=1" title="Edit section: Formulas"></a>]</span> <span class="mw-headline" id="Formulas">Formulas</span></h2>
<p>The <a href="/wiki/Formula" title="Formula">formula</a> for determining the midpoint of two points <span class="texhtml"><var>x</var></span><sub>1</sub> and <span class="texhtml"><var>x</var></span><sub>2</sub> on a <a href="/wiki/Line" title="Line">line</a> is:</p>
<dl>
<dd><img class="tex" alt=" \frac{x_1 + x_2}{2} " src="//upload.wikimedia.org/wikipedia/en/math/3/3/d/33dd9ebd8c7f65e1e1c2c7cf7b4bc947.png" /></dd>
</dl>
<p>The formula for determining the midpoint of a segment in the <a href="/wiki/Plane_(geometry)" title="Plane (geometry)">plane</a>, with endpoints (<span class="texhtml"><var>x</var></span><sub>1</sub>,<span class="texhtml"><var>y</var></span><sub>1</sub>) and (<span class="texhtml"><var>x</var></span><sub>2</sub>,<span class="texhtml"><var>y</var></span><sub>2</sub>) in <a href="/wiki/Cartesian_coordinates" title="Cartesian coordinates" class="mw-redirect">Cartesian coordinates</a>, is:</p>
<dl>
<dd><img class="tex" alt="\left(\frac{x_1 + x_2}{2}, \frac{y_1 + y_2}{2}\right)" src="//upload.wikimedia.org/wikipedia/en/math/d/e/e/deecdda2b6747bacf9382133e6d045f4.png" /></dd>
</dl>
<p><br />
The formula for determining the midpoint of a segment in the space, with endpoints (<span class="texhtml"><var>x</var></span><sub>1</sub>,<span class="texhtml"><var>y</var></span><sub>1</sub>,<span class="texhtml"><var>z</var></span><sub>1</sub>) and (<span class="texhtml"><var>x</var></span><sub>2</sub>,<span class="texhtml"><var>y</var></span><sub>2</sub>,<span class="texhtml"><var>z</var></span><sub>2</sub>) is:</p>
<dl>
<dd><img class="tex" alt="\left(\frac{x_1 + x_2}{2},\frac{y_1 + y_2}{2}, \frac{z_1 + z_2}{2}\right)" src="//upload.wikimedia.org/wikipedia/en/math/0/f/f/0ffb3cee0a0fbd17e95c0cc79e056e90.png" /></dd>
</dl>
<p>More generally, for an <span class="texhtml"><var>n</var></span>-dimensional space with axes <img class="tex" alt="x_1, x_2, x_3, \dots, x_n\,\!" src="//upload.wikimedia.org/wikipedia/en/math/e/b/5/eb5437ca6135931591418f8abf1efc8e.png" />, the midpoint of an interval is given by:</p>
<dl>
<dd><img class="tex" alt="\left(\frac{x_{1_1} + x_{1_2}}{2}, \frac{x_{2_1} + x_{2_2}}{2}, \frac{x_{3_1} + x_{3_2}}{2}, \dots , \frac{x_{n_1} + x_{n_2}}{2} \right)" src="//upload.wikimedia.org/wikipedia/en/math/3/0/6/30689a8dbdeb9dc4dc3f0f9a39af852a.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Midpoint&amp;action=&amp;section=2" title="Edit section: Construction"></a>]</span> <span class="mw-headline" id="Construction">Construction</span></h2>
<p>Given two points, finding the midpoint is one of the <a href="/wiki/Compass_and_straightedge_constructions" title="Compass and straightedge constructions">compass and straightedge constructions</a>. The midpoint of a line segment can be located by first constructing a lens using circular arcs, then connecting the cusps of the lens. The point where the cusp-connecting line intersects the segment is then the midpoint. It is more challenging to locate the midpoint using only a compass, but it is still possible.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Midpoint&amp;action=&amp;section=3" title="Edit section: Deriving the formula"></a>]</span> <span class="mw-headline" id="Deriving_the_formula">Deriving the formula</span></h2>
<table class="metadata plainlinks ambox mbox-small-left ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></td>
<td class="mbox-text" style="">This unreferenced section requires <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">citations</a> to ensure <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verifiability</a>.</td>
</tr>
</table>
<p>In order to derive the formula you must understand the relationship between distance, and midpoint. Distance is very important in deriving the formula for midpoint. This is because the two are intertwined because when you have (<span class="texhtml"><var>x</var></span><sub>1</sub>,<span class="texhtml"><var>y</var></span><sub>1</sub>) and (<span class="texhtml"><var>x</var></span><sub>2</sub>,<span class="texhtml"><var>y</var></span><sub>2</sub>) there is a relationship in distance between these two points. This forms a line segment, but this isn't the relationship we are looking for. The relationship in distance that helps us derive the formula is Pythagorean Theorem. How this helps us is that there is a relationship that (<span class="texhtml"><var>x</var></span><sub>1</sub>,<span class="texhtml"><var>y</var></span><sub>1</sub>) and (<span class="texhtml"><var>x</var></span><sub>2</sub>,<span class="texhtml"><var>y</var></span><sub>2</sub>) with a third point. This Third point can be achieved by taking either x<sub>1</sub> or x<sub>2</sub> and y<sub>1</sub> or y<sub>2</sub>. This third point allows us to make a triangle. which set of points you choose to use depends on which angle you are making the triangle at.<sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Please_clarify" title="Wikipedia:Please clarify"><span title="The text in the vicinity of this tag needs clarification or removal of jargon from February 2012">clarification needed</span></a></i>]</sup> Making a triangle helps us by because then we can use A<sup>2</sup> + B<sup>2</sup> = C<sup>2</sup> to find the distance of the long side. The long side of the triangle would be the line segment that we are trying to find the midpoint of. After you use Pythagorean theorem you can find the midpoint of that by dividing it by 2, but that will not give you the coordinate point. This can be helpful because you can then apply the (x<sub>1</sub>,x<sub>2</sub>) and (y<sub>2</sub>,y<sub>1</sub>)<sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Please_clarify" title="Wikipedia:Please clarify"><span title="The text in the vicinity of this tag needs clarification or removal of jargon from February 2012">clarification needed</span></a></i>]</sup> to a A<sup>2</sup> or B<sup>2</sup>. This would make the formula <span class="texhtml">C<sup>2</sup> = (<span class="texhtml"><var>y</var></span><sub>2</sub>  <span class="texhtml"><var>y</var></span><sub>2</sub>)<sup>2</sup> + (<span class="texhtml"><var>x</var></span><sub>1</sub>  <span class="texhtml"><var>x</var></span><sub>2</sub>)<sup>2</sup></span>. This formula will not find midpoint, but it will assist someone in deriving the formula for midpoint from a formula that will find distance.</p>
<h2><span class="section">[<a href="/w/index.php?title=Midpoint&amp;action=&amp;section=4" title="Edit section: Generalizations"></a>]</span> <span class="mw-headline" id="Generalizations">Generalizations</span></h2>
<p>The midpoint is actually an <a href="/wiki/Affine_geometry" title="Affine geometry">affine</a> <a href="/wiki/Invariant_(mathematics)" title="Invariant (mathematics)">invariant</a>. Hence, <a href="#Formulas">aforementioned</a> formulas for Cartesian coordinates are feasible for any <a href="/wiki/Affine_coordinate_system" title="Affine coordinate system">affine coordinate system</a>.</p>
<p>The midpoint is not defined in <a href="/wiki/Projective_geometry" title="Projective geometry">projective geometry</a>. Any point inside a <a href="/wiki/Projective_range" title="Projective range">projective range</a> may be projectively mapped to any another point inside (the same or some else) projective range. Fixing one of such points as a midpoint actually defines an affine structure on the <a href="/wiki/Projective_line" title="Projective line">projective line</a> containing that range. The <a href="/wiki/Projective_harmonic_conjugate" title="Projective harmonic conjugate">projective harmonic conjugate</a> of the two endpoints together with the midpoint is the <a href="/wiki/Point_at_infinity" title="Point at infinity">point at infinity</a>.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<p>The definition of the midpoint of a segment may be extended to <a href="/wiki/Geodesic" title="Geodesic">geodesic</a> <a href="/wiki/Arc_(geometry)" title="Arc (geometry)">arcs</a> on a <a href="/wiki/Riemannian_manifold" title="Riemannian manifold">Riemannian manifold</a>. Note that, unlike affine case, the midpoint between two <i>points</i> may be defined not uniquely.</p>
<h2><span class="section">[<a href="/w/index.php?title=Midpoint&amp;action=&amp;section=5" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Midpoint_polygon" title="Midpoint polygon">Midpoint polygon</a></li>
<li><a href="/wiki/Median_(geometry)" title="Median (geometry)">Median (geometry)</a></li>
<li><a href="/wiki/Bisection" title="Bisection">Segment bisector</a></li>
<li><a href="/wiki/Numerical_integration#Quadrature_rules_based_on_interpolating_functions" title="Numerical integration">Numerical integration</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Midpoint&amp;action=&amp;section=6" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Midpoint.html">"Wolfram mathworld"</a>. 29 September 2010<span class="printonly">. <a rel="nofollow" class="external free" href="http://mathworld.wolfram.com/Midpoint.html">http://mathworld.wolfram.com/Midpoint.html</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Wolfram+mathworld&amp;rft.atitle=&amp;rft.date=29+September+2010&amp;rft_id=http%3A%2F%2Fmathworld.wolfram.com%2FMidpoint.html&amp;rfr_id=info:sid/en.wikipedia.org:Midpoint"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><a href="/wiki/H._S._M._Coxeter" title="H. S. M. Coxeter" class="mw-redirect">H. S. M. Coxeter</a> (1955) <i>The Real Projective Plane</i>, page 119</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Midpoint&amp;action=&amp;section=7" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/midpoint.html">Animation</a>  showing the characteristics of the midpoint of a line segment</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 2553/1000000
Post-expand include size: 15139/2048000 bytes
Template argument size: 5141/2048000 bytes
Expensive parser function count: 3/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:437979-0!0!0!!en!4!* and timestamp 20120407055746 -->
