<div class="dablink">For other uses, see <a href="/wiki/Mirror_image_(disambiguation)" title="Mirror image (disambiguation)">Mirror image (disambiguation)</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Window_reflection_of_Barack_Obama_in_the_Oval_Office.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Window_reflection_of_Barack_Obama_in_the_Oval_Office.jpg/220px-Window_reflection_of_Barack_Obama_in_the_Oval_Office.jpg" width="220" height="330" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Window_reflection_of_Barack_Obama_in_the_Oval_Office.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Window reflection. U.S. President <a href="/wiki/Barack_Obama" title="Barack Obama">Barack Obama</a> in the <a href="/wiki/Oval_Office" title="Oval Office">Oval Office</a> 1/27/09. Official White House photo by <a href="/wiki/Pete_Souza" title="Pete Souza">Pete Souza</a>.</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Mirror.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Mirror.jpg/220px-Mirror.jpg" width="220" height="226" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Mirror.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Mirror image</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Reflections_Car_Window_1.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/65/Reflections_Car_Window_1.jpg/220px-Reflections_Car_Window_1.jpg" width="220" height="157" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Reflections_Car_Window_1.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Images reflected in a car window.</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Fire-mirror-image.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Fire-mirror-image.jpg/220px-Fire-mirror-image.jpg" width="220" height="146" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Fire-mirror-image.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The word <a href="/wiki/Fire" title="Fire">fire</a> and its mirror image are displayed on the front of this <a href="/wiki/Fire_engine" title="Fire engine" class="mw-redirect">fire engine</a></div>
</div>
</div>
<p>A <b>mirror image</b> is a reflected duplication of an object that appears identical but reversed. As an <a href="/wiki/Optics" title="Optics">optical</a> effect it results from <a href="/wiki/Reflection_(physics)" title="Reflection (physics)">reflection</a> off of substances such as a <a href="/wiki/Mirror" title="Mirror">mirror</a> or water. It is also a concept in <a href="/wiki/Geometry" title="Geometry">geometry</a> and can be used as a conceptualization process for 3-D structures. In <a href="/wiki/Chemistry" title="Chemistry">chemistry</a>, a '"mirror image'" is a molecule having a spatial arrangement that corresponds to that of another molecule except that the right-to-left sense on one corresponds to the left-to-right sense on the other, the left handedness being known as "levo" or l-x and the righthandedness being known as "dextro" or d-x, where "x" is the referenced molecule.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#In_geometry"><span class="tocnumber">1</span> <span class="toctext">In geometry</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#In_two_dimensions"><span class="tocnumber">1.1</span> <span class="toctext">In two dimensions</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#In_three_dimensions"><span class="tocnumber">1.2</span> <span class="toctext">In three dimensions</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-4"><a href="#Uses"><span class="tocnumber">2</span> <span class="toctext">Uses</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Systems_of_mirrors"><span class="tocnumber">3</span> <span class="toctext">Systems of mirrors</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#References"><span class="tocnumber">5</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#External_links"><span class="tocnumber">6</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Mirror_image&amp;action=&amp;section=1" title="Edit section: In geometry"></a>]</span> <span class="mw-headline" id="In_geometry">In geometry</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Mirror_image&amp;action=&amp;section=2" title="Edit section: In two dimensions"></a>]</span> <span class="mw-headline" id="In_two_dimensions">In two dimensions</span></h3>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, the mirror image of an object or <a href="/wiki/2D_geometric_model" title="2D geometric model">two-dimensional figure</a> is the <a href="/wiki/Virtual_image" title="Virtual image">virtual image</a> formed by <a href="/wiki/Reflection_(mathematics)" title="Reflection (mathematics)">reflection</a> in a <a href="/wiki/Plane_mirror" title="Plane mirror">plane mirror</a>; it is of the same size as the original object, yet different, unless the object or figure has <a href="/wiki/Reflection_symmetry" title="Reflection symmetry">reflection symmetry</a> (also known as a <a href="/wiki/P-symmetry" title="P-symmetry" class="mw-redirect">P-symmetry</a>).</p>
<p>Two-dimensional mirror images can be seen in the reflections of mirrors or other reflecting surfaces, or on a printed surface seen inside out.</p>
<h3><span class="section">[<a href="/w/index.php?title=Mirror_image&amp;action=&amp;section=3" title="Edit section: In three dimensions"></a>]</span> <span class="mw-headline" id="In_three_dimensions">In three dimensions</span></h3>
<p>The concept of mirror image can be extended to <a href="/wiki/Three-dimensional_space" title="Three-dimensional space">three-dimensional</a> objects, including the inside parts, even if they are not <a href="/wiki/Transparency_(optics)" title="Transparency (optics)" class="mw-redirect">transparent</a>. The term then relates to structural as well as visual aspects. This is also called <a href="/wiki/Enantiomer" title="Enantiomer">enantiomer</a> or <a href="/wiki/Enantiomorph" title="Enantiomorph" class="mw-redirect">enantiomorph</a>.</p>
<p>If a point of an object has coordinates (x, y,z) then the image of this point (as reflected from the mirror in y, z plane) has coordinates (-x, y,z) - so mirror reflection is a reversal of the coordinate axis perpendicular to the mirror's surface. Thus, a mirror image does not have reversed right and left (or up and down), but rather reversed front and back. The left-right reversal of the mirror image only holds in relation a normal (i.e. unreflected) picture that we see in front of us; see schematic illustration at the right. For instance, if we look at a picture or object in our hand and then turn it towards a mirror, the picture and thus its mirror reflection have made a left-to-right 'flip over' of 180 degrees. The same principle holds when we stand with our back towards the mirror and face a picture or object in front of the mirror, and then compare it with its reflection by turning our head or body 180 degrees towards the mirror. It is thus not the mirror itself, but our own relative position and viewing point that has caused the apparent left-to-right reversal.</p>
<p>A mirror image appears three-dimensional if the observer moves. This is because the relative position of objects changes as the observer's perspective changes.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<p>Looking through a mirror from different positions (but necessarily with the point of observation restricted to the halfspace on one side of the mirror) is like looking at the 3D mirror image of space; without further mirrors only the mirror image of the halfspace before the mirror is relevant; if there is another mirror, the mirror image of the other halfspace is too.</p>
<h2><span class="section">[<a href="/w/index.php?title=Mirror_image&amp;action=&amp;section=4" title="Edit section: Uses"></a>]</span> <span class="mw-headline" id="Uses">Uses</span></h2>
<p>A text is sometimes deliberately displayed in mirror image, in order to be read through a mirror. Emergency vehicles such as <a href="/wiki/Ambulance" title="Ambulance">ambulances</a> or fire engines use mirror images in order to be read from a driver's <a href="/wiki/Rear-view_mirror" title="Rear-view mirror">rear-view mirror</a>. Some <a href="/wiki/Movie_theater" title="Movie theater">movie theaters</a> also use a <a href="/wiki/Rear_Window_Captioning_System" title="Rear Window Captioning System">Rear Window Captioning System</a> to assist individuals with <a href="/wiki/Hearing_impairment" title="Hearing impairment" class="mw-redirect">hearing impairments</a> watching the film.</p>
<h2><span class="section">[<a href="/w/index.php?title=Mirror_image&amp;action=&amp;section=5" title="Edit section: Systems of mirrors"></a>]</span> <span class="mw-headline" id="Systems_of_mirrors">Systems of mirrors</span></h2>
<p>In the case of two mirrors, in planes at an angle , looking through both from the sector which is the intersection of the two halfspaces, is like looking at a version of the world rotated by an angle of 2; the points of observations and directions of looking for which this applies correspond to those for looking through a frame like that of the first mirror, and a frame at the mirror image with respect to the first plane, of the second mirror. If the mirrors have vertical edges then the left edge of the field of view is the plane through the right edge of the first mirror and the edge of the second mirror which is on the right when looked at directly, but on the left in the mirror image.</p>
<p>In the case of two parallel mirrors, looking through both once is like looking at a version of the world which is translated by twice the distance between the mirrors, in the direction perpendicular to them, away from the observer. Since the plane of the mirror in which one looks directly is beyond that of the other mirror, one always looks at an oblique angle, and the translation just mentioned has not only a component away from the observer, but also one in a perpendicular direction. The translated view can also be described by a translation of the observer in opposite direction. For example, with a vertical <a href="/wiki/Periscope" title="Periscope">periscope</a>, the shift of the world is away from the observer and down, both by the length of the periscope, but it is more practical to consider the equivalent shift of the observer: up, and backward.</p>
<h2><span class="section">[<a href="/w/index.php?title=Mirror_image&amp;action=&amp;section=6" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Flipped_image" title="Flipped image">Flipped image</a></li>
<li><a href="/wiki/Flopped_image" title="Flopped image">Flopped image</a></li>
<li><a href="/wiki/Handedness" title="Handedness">Handedness</a></li>
<li><a href="/wiki/Mirror_writing" title="Mirror writing">Mirror writing</a></li>
<li><a href="/wiki/Relative_direction" title="Relative direction">Relative direction</a></li>
</ul>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" width="30" height="40" /></td>
<td class="mbox-text" style="">Wikimedia Commons has media related to: <i><b><a class="external text" href="//commons.wikimedia.org/wiki/Category:Symmetric_images">Symmetric images</a></b></i></td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Mirror_image&amp;action=&amp;section=7" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation web">Adams, Cecil (1985-09-27). <a rel="nofollow" class="external text" href="http://www.straightdope.com/classics/a2_071b.html">"Are dogs unable to see 2-D images (mirrors, photos, TV)?"</a>. <a href="/wiki/The_Straight_Dope" title="The Straight Dope">The Straight Dope</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://www.straightdope.com/classics/a2_071b.html">http://www.straightdope.com/classics/a2_071b.html</a></span><span class="reference-accessdate">. Retrieved 2008-01-31</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Are+dogs+unable+to+see+2-D+images+%28mirrors%2C+photos%2C+TV%29%3F&amp;rft.atitle=&amp;rft.aulast=Adams&amp;rft.aufirst=Cecil&amp;rft.au=Adams%2C%26%2332%3BCecil&amp;rft.date=1985-09-27&amp;rft.pub=%5B%5BThe+Straight+Dope%5D%5D&amp;rft_id=http%3A%2F%2Fwww.straightdope.com%2Fclassics%2Fa2_071b.html&amp;rfr_id=info:sid/en.wikipedia.org:Mirror_image"><span style="display: none;">&#160;</span></span></span></li>
</ol>
<h2><span class="section">[<a href="/w/index.php?title=Mirror_image&amp;action=&amp;section=8" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.d7s.com/mirror.shtml">Why do mirrors reverse images left to right? Why not up and down?</a></li>
<li><a rel="nofollow" class="external text" href="http://amoebacrunch.blogspot.com/2008/04/fun-with-mirror-images.html">The same question explained a little differently, with examples</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 874/1000000
Post-expand include size: 5824/2048000 bytes
Template argument size: 1992/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:148234-0!*!0!!en!4!* and timestamp 20120411184321 -->
