<p><b>Multilateration</b> is a <a href="/wiki/Navigation" title="Navigation">navigation</a> technique based on the measurement of the <i>difference</i> in distance to two or more stations at known locations that broadcast signals at known times. Unlike measurements of absolute distance or angle, measuring the difference in distance results in an infinite number of locations that satisfy the measurement. When these possible locations are plotted, they form a <a href="/wiki/Hyperbola" title="Hyperbola">hyperbolic curve</a>. To locate the exact location along that curve, a second measurement is taken to a different pair of stations to produce a second curve, which intersects with the first. When the two are compared, a small number of possible locations are revealed, producing a "fix".</p>
<p>Multilateration is a common technique in <a href="/wiki/Radio_navigation" title="Radio navigation">radio navigation</a> systems, where it is known as <a href="/wiki/Hyperbolic_navigation" title="Hyperbolic navigation">hyperbolic navigation</a>. These systems are relatively easy to construct as there is no need for a common clock, and the difference in the signal timing can be measured visibly using an <a href="/wiki/Oscilloscope" title="Oscilloscope">oscilloscope</a>. This formed the basis of a number of widely used navigation systems starting in <a href="/wiki/World_War_II" title="World War II">World War II</a> with the British <a href="/wiki/Gee_(navigation)" title="Gee (navigation)">Gee</a> system and several similar systems introduced over the next few decades. The introduction of the <a href="/wiki/Microprocessor" title="Microprocessor">microprocessor</a> greatly simplified operation, greatly increasing popularity during the 1980s. The most popular hyperbolic navigation system was <a href="/wiki/LORAN-C" title="LORAN-C" class="mw-redirect">LORAN-C</a>, which was used around the world until the system was shut down in 2010. Other systems continue to be used, but the widespread use of <a href="/wiki/Satellite_navigation" title="Satellite navigation">satellite navigation</a> systems like <a href="/wiki/Global_Positioning_System" title="Global Positioning System">GPS</a> have made these systems largely redundant.</p>
<p>Multilateration should not be confused with <a href="/wiki/Trilateration" title="Trilateration">trilateration</a>, which uses distances or absolute measurements of <a href="/wiki/Time-of-flight" title="Time-of-flight" class="mw-redirect">time-of-flight</a> from three or more sites, or with <a href="/wiki/Triangulation" title="Triangulation">triangulation</a>, which uses the measurement of absolute angles. Both of these systems are also commonly used with radio navigation systems; trilateration is the basis of GPS.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Principle"><span class="tocnumber">1</span> <span class="toctext">Principle</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Reciprocal_case:_locating_a_receiver_from_multiple_transmitter_sites"><span class="tocnumber">1.1</span> <span class="toctext">Reciprocal case: locating a receiver from multiple transmitter sites</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-3"><a href="#TDOA_geometry"><span class="tocnumber">2</span> <span class="toctext">TDOA geometry</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Measuring_the_Time_Difference_in_a_TDOA_System"><span class="tocnumber">3</span> <span class="toctext">Measuring the Time Difference in a TDOA System</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#3-D_Solution"><span class="tocnumber">4</span> <span class="toctext">3-D Solution</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#2-D_Solution"><span class="tocnumber">5</span> <span class="toctext">2-D Solution</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Accuracy"><span class="tocnumber">6</span> <span class="toctext">Accuracy</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Example_applications"><span class="tocnumber">7</span> <span class="toctext">Example applications</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#Simplification"><span class="tocnumber">8</span> <span class="toctext">Simplification</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#See_also"><span class="tocnumber">9</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#References"><span class="tocnumber">10</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#Notes"><span class="tocnumber">11</span> <span class="toctext">Notes</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Multilateration&amp;action=&amp;section=1" title="Edit section: Principle"></a>]</span> <span class="mw-headline" id="Principle">Principle</span></h2>
<p>Multilateration is commonly used in civil and military surveillance applications to accurately locate an aircraft, vehicle or stationary emitter by measuring the "Time Difference of Arrival" (TDOA) of a signal from the emitter at three or more receiver sites.</p>
<p>If a pulse is emitted from a platform, it will arrive at slightly different times at two spatially separated receiver sites, the TDOA being due to the different distances of each receiver from the platform. In fact, for given locations of the two receivers, a whole set of emitter locations would give the same measurement of TDOA. Given two receiver locations and a known TDOA, the <a href="/wiki/Locus_(mathematics)" title="Locus (mathematics)">locus</a> of possible emitter locations is a one half of a two-sheeted <a href="/wiki/Hyperboloid" title="Hyperboloid">hyperboloid</a>.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:HyperboloidOfTwoSheets.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/91/HyperboloidOfTwoSheets.png/220px-HyperboloidOfTwoSheets.png" width="220" height="247" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:HyperboloidOfTwoSheets.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Fig1. A two-sheeted hyperboloid</div>
</div>
</div>
<p>In simple terms, with two receivers at known locations, an emitter can be located onto a hyperboloid.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> Note that the receivers do not need to know the absolute time at which the pulse was transmitted  only the time difference is needed.</p>
<p>Consider now a third receiver at a third location. This would provide a second TDOA measurement and hence locate the emitter on a second hyperboloid. The intersection of these two hyperboloids describes a curve on which the emitter lies.</p>
<p>If a fourth receiver is now introduced, a third TDOA measurement is available and the intersection of the resulting third hyperboloid with the curve already found with the other three receivers defines a unique point in space. The emitter's location is therefore fully determined in 3D.</p>
<p>In practice, errors in the measurement of the time of arrival of pulses mean that enhanced accuracy can be obtained with more than four receivers. In general, <i>N</i> receivers provide <i>N</i>&#160;&#160;1 hyperboloids. When there are <i>N</i>&#160;&gt;&#160;4 receivers, the <i>N</i>&#160;&#160;1 hyperboloids should, assuming a perfect model and measurements, intersect on a single point. In reality, the surfaces rarely intersect, because of various errors. In this case, the location problem can be posed as an <a href="/wiki/Optimization_(mathematics)" title="Optimization (mathematics)" class="mw-redirect">optimization</a> problem and solved using, for example, a <a href="/wiki/Least_squares" title="Least squares">least squares</a> method or an <a href="/wiki/Kalman_filter#Extended_Kalman_filter" title="Kalman filter">extended Kalman filter</a>.</p>
<p>Additionally, the TDOA of multiple transmitted pulses from the emitter can be averaged to improve accuracy.</p>
<h3><span class="section">[<a href="/w/index.php?title=Multilateration&amp;action=&amp;section=2" title="Edit section: Reciprocal case: locating a receiver from multiple transmitter sites"></a>]</span> <span class="mw-headline" id="Reciprocal_case:_locating_a_receiver_from_multiple_transmitter_sites">Reciprocal case: locating a receiver from multiple transmitter sites</span></h3>
<p>Multilateration can also be used by a single receiver to locate itself, by measuring the TDOA of signals emitted from three or more synchronised transmitters at known locations. This can be used by navigation systems, an example being the British <a href="/wiki/Decca_Navigator_System" title="Decca Navigator System">DECCA</a> navigation system, developed during World War II, which used the <a href="/wiki/Phase_(waves)" title="Phase (waves)">phase</a>-difference of two transmitters, rather than the TDOA of a pulse, to define the hyperboloids. This allowed the transmitters to broadcast a continuous wave signal. Phase-difference and time-difference can be considered the same for narrow-band transmitters.</p>
<h2><span class="section">[<a href="/w/index.php?title=Multilateration&amp;action=&amp;section=3" title="Edit section: TDOA geometry"></a>]</span> <span class="mw-headline" id="TDOA_geometry">TDOA geometry</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:352px;"><a href="/wiki/File:TDOA_Geometry.png" class="image"><img alt="Geometry of spherical waves emanating from an emitter and passing through several receivers." src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1c/TDOA_Geometry.png/350px-TDOA_Geometry.png" width="350" height="350" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:TDOA_Geometry.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Fig 2. TDOA geometry.</div>
</div>
</div>
<p>Consider an emitter (E in Figure 2) at an unknown location vector</p>
<dl>
<dd>E = (x, y, z)</dd>
</dl>
<p>which we wish to locate. The source is within range of N+1 receivers at known locations</p>
<dl>
<dd>P<sub>0</sub>, P<sub>1</sub>, ..., P<sub>m</sub>, ..., P<sub>N</sub>.</dd>
</dl>
<p>The subscript m refers to any one of the receivers:</p>
<dl>
<dd>P<sub>m</sub> = (x<sub>m</sub>, y<sub>m</sub>, z<sub>m</sub>)</dd>
<dd>0  m  N</dd>
</dl>
<p>The distance (R) from the emitter to one of the receivers in terms of the coordinates is</p>
<dl>
<dd>
<table style="border-collapse:collapse; background:none; margin:0; border:none;">
<tr>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0;"></p>
<p><img class="tex" alt=" 
R_m = \left | \vec P_{m} - \vec E \right | = \sqrt{(x_m-x)^2+(y_m-y)^2+(z_m-z)^2}
" src="//upload.wikimedia.org/wikipedia/en/math/b/8/3/b83e9959835a101c103a3255e202fee9.png" /></p>
</td>
<td style="vertical-align:middle; width:99%; border:none; padding:0.08em;">
<p style="margin:0;"></p>
<table style="border-collapse:collapse; background:none; margin:0; border:none; width:99%;">
<tr>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
<td style="width:100%; border:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
</tr>
<tr>
<td style="border-left:none; border-top:0px none #e5e5e5; border-right:none; border-bottom:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
</tr>
</table>
</td>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0pt;"><b>(<cite id="math_1"></cite><span class="reference plainlinksneverexpand"><cite id="math_1"><a href="#equation_1">1</a></cite><b><cite id="math_1"></cite>)</b></span></b></p>
</td>
</tr>
</table>
</dd>
</dl>
<p>The math is made easier by placing the origin at one of the receivers (P<sub>0</sub>), which makes its distance to the emitter</p>
<dl>
<dd>
<table style="border-collapse:collapse; background:none; margin:0; border:none;">
<tr>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0;"></p>
<p><img class="tex" alt="
R_0 = \sqrt{(x)^2+(y)^2+(z)^2}
" src="//upload.wikimedia.org/wikipedia/en/math/8/2/d/82d75334411f22ecc9f3cac860df608b.png" /></p>
</td>
<td style="vertical-align:middle; width:99%; border:none; padding:0.08em;">
<p style="margin:0;"></p>
<table style="border-collapse:collapse; background:none; margin:0; border:none; width:99%;">
<tr>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
<td style="width:100%; border:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
</tr>
<tr>
<td style="border-left:none; border-top:0px none #e5e5e5; border-right:none; border-bottom:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
</tr>
</table>
</td>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0pt;"><b>(<cite id="math_2"></cite><span class="reference plainlinksneverexpand"><cite id="math_2"><a href="#equation_2">2</a></cite><b><cite id="math_2"></cite>)</b></span></b></p>
</td>
</tr>
</table>
</dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Multilateration&amp;action=&amp;section=4" title="Edit section: Measuring the Time Difference in a TDOA System"></a>]</span> <span class="mw-headline" id="Measuring_the_Time_Difference_in_a_TDOA_System">Measuring the Time Difference in a TDOA System</span></h2>
<div class="thumb tright" style="width: 362px;">
<div class="thumbinner">
<div style="margin: 1px; width: 352px">
<div class="thumbimage"><a href="/wiki/File:CrossCorr_Pulse.png" class="image" title="Fig 3a. Pulse Signal"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a0/CrossCorr_Pulse.png/350px-CrossCorr_Pulse.png" width="350" height="350" /></a></div>
<div class="thumbcaption" style="clear:left">Fig 3a. Pulse Signal</div>
</div>
<div style="margin: 1px; width: 352px">
<div class="thumbimage"><a href="/wiki/File:CrossCorr_Wideband.png" class="image" title="Fig 3b. Wide-band Signal"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fd/CrossCorr_Wideband.png/350px-CrossCorr_Wideband.png" width="350" height="350" /></a></div>
<div class="thumbcaption" style="clear:left">Fig 3b. Wide-band Signal</div>
</div>
<div style="margin: 1px; width: 352px">
<div class="thumbimage"><a href="/wiki/File:CrossCorr_Narrowband.png" class="image" title="Fig 3c. Narrow-band Signal"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/CrossCorr_Narrowband.png/350px-CrossCorr_Narrowband.png" width="350" height="350" /></a></div>
<div class="thumbcaption" style="clear:left">Fig 3c. Narrow-band Signal</div>
</div>
<div class="thumbcaption" style="clear: left; text-align: left; background: transparent">Examples of measuring time difference with cross correlation.</div>
</div>
</div>
<p>The distance <img class="tex" alt=" R_m " src="//upload.wikimedia.org/wikipedia/en/math/a/b/6/ab6702107370f4898c164719e308d3e0.png" /> in equation <cite id="equation_1" style="font-style: normal;"><b><a href="#math_1">1</a></b></cite> is the wave speed (<img class="tex" alt="v" src="//upload.wikimedia.org/wikipedia/en/math/9/e/3/9e3669d19b675bd57058fd4664205d2a.png" />) times transit time (<img class="tex" alt="T_m" src="//upload.wikimedia.org/wikipedia/en/math/f/d/e/fdee3e3e3f358a0d55b1b914c00c64ec.png" />). A TDOA multilateration system measures the time difference (<img class="tex" alt=" \tau_m" src="//upload.wikimedia.org/wikipedia/en/math/1/c/b/1cb4595c2a1c2b9883aff19b961556cb.png" />) of a wavefront touching each receiver. The TDOA equation for receivers m and 0 is</p>
<dl>
<dd>
<table style="border-collapse:collapse; background:none; margin:0; border:none;">
<tr>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0;"></p>
<p><img class="tex" alt="\begin{align}
    v \tau_m  &amp; = v T_m - v T_0 \\
    v \tau_m  &amp; = R_m - R_0 
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/e/9/9/e9999beaa1e7221183f56981c62dbd14.png" /></p>
</td>
<td style="vertical-align:middle; width:99%; border:none; padding:0.08em;">
<p style="margin:0;"></p>
<table style="border-collapse:collapse; background:none; margin:0; border:none; width:99%;">
<tr>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
<td style="width:100%; border:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
</tr>
<tr>
<td style="border-left:none; border-top:0px none #e5e5e5; border-right:none; border-bottom:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
</tr>
</table>
</td>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0pt;"><b>(<cite id="math_3"></cite><span class="reference plainlinksneverexpand"><cite id="math_3"><a href="#equation_3">3</a></cite><b><cite id="math_3"></cite>)</b></span></b></p>
</td>
</tr>
</table>
</dd>
</dl>
<p>Figure 3a is a simulation of the a pulse waveform recorded by receivers <img class="tex" alt="P_0" src="//upload.wikimedia.org/wikipedia/en/math/1/3/8/13899aa46204b02713a854702142955d.png" /> and <img class="tex" alt="P_1" src="//upload.wikimedia.org/wikipedia/en/math/4/7/d/47ddd0a8d1607438330cf19c0c1ac45e.png" />. The spacing between <img class="tex" alt="E" src="//upload.wikimedia.org/wikipedia/en/math/3/a/3/3a3ea00cfc35332cedf6e5e9a32e94da.png" />, <img class="tex" alt="P_1" src="//upload.wikimedia.org/wikipedia/en/math/4/7/d/47ddd0a8d1607438330cf19c0c1ac45e.png" /> and <img class="tex" alt="P_0" src="//upload.wikimedia.org/wikipedia/en/math/1/3/8/13899aa46204b02713a854702142955d.png" /> is such that the pulse takes 5 time units longer to reach <img class="tex" alt="P_1" src="//upload.wikimedia.org/wikipedia/en/math/4/7/d/47ddd0a8d1607438330cf19c0c1ac45e.png" /> than <img class="tex" alt="P_0" src="//upload.wikimedia.org/wikipedia/en/math/1/3/8/13899aa46204b02713a854702142955d.png" />. The units of time in Figure 3 are arbitrary. The following table gives approximate time scale units for recording different types of waves.</p>
<table class="wikitable">
<tr>
<th>Type of wave</th>
<th>Material</th>
<th>Time Units</th>
</tr>
<tr>
<td>Acoustic</td>
<td>Air</td>
<td>1 millisecond</td>
</tr>
<tr>
<td>Acoustic</td>
<td>Water</td>
<td>1/2 millisecond</td>
</tr>
<tr>
<td>Acoustic</td>
<td>Rock</td>
<td>1/10 millisecond</td>
</tr>
<tr>
<td>Electromagnetic</td>
<td>Vacuum, air</td>
<td>1 nanosecond</td>
</tr>
</table>
<p>The red curve in Figure 3a is the <a href="/wiki/Cross-correlation" title="Cross-correlation">cross-correlation</a> function <img class="tex" alt="(P_1 \star P_0)" src="//upload.wikimedia.org/wikipedia/en/math/e/7/7/e77eb0fcfcc70270c97b993c47a18bc2.png" />. The cross correlation function slides one curve in time across the other and returns a peak value when the curve shapes match. The peak at time = 5 is a measure of the time shift between the recorded waveforms, which is also the <img class="tex" alt="\tau" src="//upload.wikimedia.org/wikipedia/en/math/8/1/a/81a69207104f00baaabd6f84cafd15a0.png" /> value needed for Equation <cite id="equation_3" style="font-style: normal;"><b><a href="#math_3">3</a></b></cite>.</p>
<p>Figure 3b is the same type of simulation for a wide-band waveform from the emitter. The time shift is 5 time units because the geometry and wave speed is the same as the Figure 3a example. Again, the peak in the cross correlation occurs at <img class="tex" alt="\tau_1 = 5" src="//upload.wikimedia.org/wikipedia/en/math/9/9/0/990e51239f6aa4241c792fb3796fc946.png" />.</p>
<p>Figure 3c is an example of a continuous, narrow-band waveform from the emitter. The cross correlation function shows an important factor when choosing the receiver geometry. There is a peak at Time = 5 plus every increment of the waveform period. To get one solution for the measured time difference, the largest space between any two receivers must be closer than one wavelength of the emitter signal. Some systems, such as the <a href="/wiki/LORAN-C" title="LORAN-C" class="mw-redirect">LORAN C</a> and <a href="/wiki/Decca_Navigator_System" title="Decca Navigator System">Decca</a> mentioned at earlier (recall the same math works for moving receiver &amp; multiple known transmitters), use spacing larger than 1 wavelength and include equipment, such as a <a href="/wiki/Phase_detector" title="Phase detector">Phase Detector</a>, to count the number of cycles that pass by as the emitter moves. This only works for continuous, narrow-band waveforms because of the relation between phase (<img class="tex" alt="\theta" src="//upload.wikimedia.org/wikipedia/en/math/5/0/d/50d91f80cbb8feda1d10e167107ad1ff.png" />), frequency (f) and time (T)</p>
<dl>
<dd><img class="tex" alt="\theta = 2 \pi f \cdot T" src="//upload.wikimedia.org/wikipedia/en/math/3/4/4/344697c6a643355ff90edb3d6d5cfcdf.png" />.</dd>
</dl>
<p>The phase detector will see variations in frequency as measured <a href="/wiki/Phase_noise" title="Phase noise">phase noise</a>, which will be an <a href="/wiki/Propagation_of_uncertainty" title="Propagation of uncertainty">uncertainty that propagates</a> into the calculated location. If the phase noise is large enough, the phase detector can become unstable.</p>
<h2><span class="section">[<a href="/w/index.php?title=Multilateration&amp;action=&amp;section=5" title="Edit section: 3-D Solution"></a>]</span> <span class="mw-headline" id="3-D_Solution">3-D Solution</span></h2>
<p>Equation <cite id="equation_3" style="font-style: normal;"><b><a href="#math_3">3</a></b></cite> is the hyperboloid described in the previous section, where 4 receivers (0  m  3) lead to 3 non-linear equations in 3 unknown values (x,y,z). The system must then solve for the unknown emitter location in real time.</p>
<p>Civilian air traffic control multilateration systems use the Mode C <a href="/wiki/Secondary_surveillance_radar" title="Secondary surveillance radar">SSR</a> transponder return to find the altitude (z). Three or more receivers at known locations are used to find the other 2 dimensions (x, y).</p>
<p>R. Bucher and D. Misra show the detailed algebra to locate 1 receiver with TDOA between 3 transmitters.<sup id="cite_ref-Bucher_Misra_1-0" class="reference"><a href="#cite_note-Bucher_Misra-1"><span>[</span>2<span>]</span></a></sup> Their solution is a set of linear equations to find (x, y) and a quadratic for (z).</p>
<p>Improving accuracy with a large number of receivers can be a problem for devices with small embedded processors because of the time required to solve several simultaneous, non-linear equations (<cite id="equation_1" style="font-style: normal;"><b><a href="#math_1">1</a></b></cite>, <cite id="equation_2" style="font-style: normal;"><b><a href="#math_2">2</a></b></cite> &amp; <cite id="equation_3" style="font-style: normal;"><b><a href="#math_3">3</a></b></cite>). The TDOA problem can be turned into a system of linear equations when there are 5 or more receivers, which can reduce the computation time. Starting with equation <cite id="equation_3" style="font-style: normal;"><b><a href="#math_3">3</a></b></cite>, solve for R<sub>m</sub>, square both sides, collect terms and divide all terms by <img class="tex" alt=" v \tau_m " src="//upload.wikimedia.org/wikipedia/en/math/3/1/8/31882c9b23b2b8bf6bbd018a33d4f4c8.png" />:</p>
<dl>
<dd>
<table style="border-collapse:collapse; background:none; margin:0; border:none;">
<tr>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0;"></p>
<p><img class="tex" alt="\begin{align}
R_{m}^2 &amp; = (v \tau_{m} + R_{0} )^2  \\
R_{m}^2 &amp; = (v \tau_{m})^2 + 2 v \tau_{m} R_{0} + R_{0}^2 \\
0       &amp; = (v \tau_{m})^2 + 2 v \tau_{m} R_{0} + R_{0}^2 - R_{m}^2 \\
0       &amp; = (v \tau_{m}) + 2 R_{0} + \frac {(R_{0}^2 - R_{m}^2)} {v \tau_{m}}.  \\
\end{align} " src="//upload.wikimedia.org/wikipedia/en/math/a/0/c/a0c979194e6a6605ee0c8c92ab226348.png" /></p>
</td>
<td style="vertical-align:middle; width:99%; border:none; padding:0.08em;">
<p style="margin:0;"></p>
<table style="border-collapse:collapse; background:none; margin:0; border:none; width:99%;">
<tr>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
<td style="width:100%; border:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
</tr>
<tr>
<td style="border-left:none; border-top:0px none #e5e5e5; border-right:none; border-bottom:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
</tr>
</table>
</td>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0pt;"><b>(<cite id="math_4"></cite><span class="reference plainlinksneverexpand"><cite id="math_4"><a href="#equation_4">4</a></cite><b><cite id="math_4"></cite>)</b></span></b></p>
</td>
</tr>
</table>
</dd>
</dl>
<p>Removing the 2 R<sub>0</sub> term will eliminate all the square root terms. That is done by subtracting the TDOA equation of receiver m = 1 from each of the others (2  m  N)</p>
<dl>
<dd>
<table style="border-collapse:collapse; background:none; margin:0; border:none;">
<tr>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0;"></p>
<p><img class="tex" alt=" \begin{align} 
     &amp; 0 =  v \tau_{m} + 2 R_{0}  + \frac {(R_{0}^2 - R_{m}^2)} {v \tau_{m}} \\
     &amp; 0 = -v \tau_{1} - 2 R_{0}  - \frac {(R_{0}^2 - R_{1}^2)} {v \tau_{1}} \\

\hline \\

     &amp; 0 = v \tau_{m} - v \tau_{1} + \frac {(R_{0}^2 - R_{m}^2)} {v \tau_{m}}
                                   - \frac {(R_{0}^2 - R_{1}^2)} {v \tau_{1}}. 
\end{align} " src="//upload.wikimedia.org/wikipedia/en/math/1/e/c/1ecdb8d051a6f036eeb014a27758a579.png" /></p>
</td>
<td style="vertical-align:middle; width:99%; border:none; padding:0.08em;">
<p style="margin:0;"></p>
<table style="border-collapse:collapse; background:none; margin:0; border:none; width:99%;">
<tr>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
<td style="width:100%; border:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
</tr>
<tr>
<td style="border-left:none; border-top:0px none #e5e5e5; border-right:none; border-bottom:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
</tr>
</table>
</td>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0pt;"><b>(<cite id="math_5"></cite><span class="reference plainlinksneverexpand"><cite id="math_5"><a href="#equation_5">5</a></cite><b><cite id="math_5"></cite>)</b></span></b></p>
</td>
</tr>
</table>
</dd>
</dl>
<p>Focus for a moment on equation <cite id="equation_1" style="font-style: normal;"><b><a href="#math_1">1</a></b></cite>. Square R<sub>m</sub>, group similar terms and use equation <cite id="equation_2" style="font-style: normal;"><b><a href="#math_2">2</a></b></cite> to replace some of the terms with R<sub>0</sub>.</p>
<dl>
<dd>
<table style="border-collapse:collapse; background:none; margin:0; border:none;">
<tr>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0;"></p>
<p><img class="tex" alt=" \begin{align}
R_m^2         &amp; =  x_m^2+y_m^2+z_m^2 -x\ 2x_m - y\ 2y_m - z\ 2z_m +x^2 + y^2 + z^2 \\
              &amp; =  x_m^2+y_m^2+z_m^2 -x\ 2x_m - y\ 2y_m - z\ 2z_m + R_0^2  \\
R_0^2 - R_m^2 &amp; = -x_m^2-y_m^2-z_m^2 +x\ 2x_m + y\ 2y_m + z\ 2z_m. 
\end{align} " src="//upload.wikimedia.org/wikipedia/en/math/2/b/1/2b14232c53a41474677a840bf6740a6a.png" /></p>
</td>
<td style="vertical-align:middle; width:99%; border:none; padding:0.08em;">
<p style="margin:0;"></p>
<table style="border-collapse:collapse; background:none; margin:0; border:none; width:99%;">
<tr>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
<td style="width:100%; border:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
</tr>
<tr>
<td style="border-left:none; border-top:0px none #e5e5e5; border-right:none; border-bottom:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
</tr>
</table>
</td>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0pt;"><b>(<cite id="math_6"></cite><span class="reference plainlinksneverexpand"><cite id="math_6"><a href="#equation_6">6</a></cite><b><cite id="math_6"></cite>)</b></span></b></p>
</td>
</tr>
</table>
</dd>
</dl>
<p>Combine equations <cite id="equation_5" style="font-style: normal;"><b><a href="#math_5">5</a></b></cite> and <cite id="equation_6" style="font-style: normal;"><b><a href="#math_6">6</a></b></cite>, and write as a set of linear equations of the unknown emitter location x,y,z</p>
<dl>
<dd>
<table style="border-collapse:collapse; background:none; margin:0; border:none;">
<tr>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0;"></p>
<p><img class="tex" alt=" \begin{align} 
     0 &amp; =  xA_m + yB_m + zC_m + D_m         \\
       &amp; A_m = \frac {2x_m} {v \tau_m} - \frac {2x_1} {v \tau_1} \\
       &amp; B_m = \frac {2y_m} {v \tau_m} - \frac {2y_1} {v \tau_1} \\
       &amp; C_m = \frac {2z_m} {v \tau_m} - \frac {2z_1} {v \tau_1} \\

       &amp; D_m = v \tau_m - v \tau_1 - \frac {x_m^2 + y_m^2 + z_m^2} {v \tau_m}
                                 + \frac {x_1^2 + y_1^2 + z_1^2} {v \tau_1}. 
\end{align} " src="//upload.wikimedia.org/wikipedia/en/math/0/e/c/0ec0daf2a0819fbbabc1577a05be1138.png" /></p>
</td>
<td style="vertical-align:middle; width:99%; border:none; padding:0.08em;">
<p style="margin:0;"></p>
<table style="border-collapse:collapse; background:none; margin:0; border:none; width:99%;">
<tr>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
<td style="width:100%; border:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
<td style="border:none; padding:0.08em;" rowspan="2">
<p style="margin:0; font-size:4pt;">&#160;</p>
</td>
</tr>
<tr>
<td style="border-left:none; border-top:0px none #e5e5e5; border-right:none; border-bottom:none; padding:0.08em;">
<p style="margin:0; font-size:1pt;">&#160;</p>
</td>
</tr>
</table>
</td>
<td style="vertical-align:middle; border:none; padding:0.08em;" nowrap="nowrap">
<p style="margin:0pt;"><b>(<cite id="math_7"></cite><span class="reference plainlinksneverexpand"><cite id="math_7"><a href="#equation_7">7</a></cite><b><cite id="math_7"></cite>)</b></span></b></p>
</td>
</tr>
</table>
</dd>
</dl>
<p>Use equation <cite id="equation_7" style="font-style: normal;"><b><a href="#math_7">7</a></b></cite> to generate the four constants <img class="tex" alt="A_m,B_m,C_m,D_m" src="//upload.wikimedia.org/wikipedia/en/math/e/c/3/ec3a281beff4ee3bd8ffcffb6fe313f1.png" /> from measured distances and time for each receiver 2  m  N. This will be a set of N <a href="/wiki/Homogeneous_linear_equation" title="Homogeneous linear equation" class="mw-redirect">homogeneous linear equations</a>.</p>
<p>There are many robust linear algebra methods that can solve for the values of (x,y,z), such as <a href="/wiki/Singular_value_decomposition" title="Singular value decomposition">Singular value decomposition</a> or <a href="/wiki/Gaussian_elimination" title="Gaussian elimination">Gaussian Elimination</a>. Chapter 15 in <a href="/wiki/Numerical_Recipes" title="Numerical Recipes">Numerical Recipes</a> <sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup> describes several methods to solve linear equations and estimate the uncertainty of the resulting values.</p>
<h2><span class="section">[<a href="/w/index.php?title=Multilateration&amp;action=&amp;section=6" title="Edit section: 2-D Solution"></a>]</span> <span class="mw-headline" id="2-D_Solution">2-D Solution</span></h2>
<p>Finding the emitter location in a two dimensional geometry can use any of the methods used for the 3-D geometry. The coordinate frame is typically defined to make the z dimension zero or constant. Examples of 2-D multilateration are <a href="/wiki/Short-wave_radio" title="Short-wave radio" class="mw-redirect">short wave radio</a> long distance communications through the Earth's atmosphere, acoustic wave propagation in the <a href="/wiki/SOFAR_channel" title="SOFAR channel">sound fixing and ranging channel</a> of the oceans and the <a href="/wiki/Loran_C" title="Loran C" class="mw-redirect">LORAN</a> navigation system.</p>
<h2><span class="section">[<a href="/w/index.php?title=Multilateration&amp;action=&amp;section=7" title="Edit section: Accuracy"></a>]</span> <span class="mw-headline" id="Accuracy">Accuracy</span></h2>
<p>For <a href="/wiki/Trilateration" title="Trilateration">trilateration</a> or multilateration, calculation is done based on distances, which requires the frequency and the wave count of a received transmission. For <a href="/wiki/Triangulation" title="Triangulation">triangulation</a> or multiangulation, calculation is done based on angles, which requires the phases of received transmission plus the wave count.</p>
<p>For lateration compared to angulation, the numerical problems compare, but the technical problem is more challenging with angular measurements, as angles require two measures per position when using optical or electronic means for measuring phase differences instead of counting wave cycles.</p>
<p>Trilateration in general is calculating with triangles of known distances/sizes, mathematically a very sound system. In a triangle, the <a href="/wiki/Angle" title="Angle">angles</a> can be derived if one knows the length of all sides, (see <a href="/wiki/Congruence_(geometry)#Congruence_of_triangles" title="Congruence (geometry)">congruence</a>), but the length of the sides cannot be derived based on all of the angles, not without knowing the length of at least one of the sides (a baseline) (see <a href="/wiki/Similarity_(geometry)#Angle.2Fside_similarities" title="Similarity (geometry)">similarity</a>).</p>
<p>In 3D, when four or more angles are in play, locations can be calculated from <i>n</i>&#160;+&#160;1&#160;=&#160;4 measured angles plus one known baseline or from just <i>n</i>&#160;+&#160;1&#160;=&#160;4 measured sides.</p>
<p>Multilateration is, in general, far more accurate for locating an object than sparse approaches such as <a href="/wiki/Trilateration" title="Trilateration">trilateration</a>, where with planar problems just three distances are known and computed. Multilateration serves for several aspects:</p>
<ul>
<li>over-determination of an <i>n</i>-variable <a href="/wiki/Quadratic_equation" title="Quadratic equation">quadratic problem</a> with (<i>n</i>&#160;+&#160;1)&#160;+&#160;<i>m</i> <a href="/wiki/Quadratic_equation" title="Quadratic equation">quadratic equations</a></li>
<li><a href="/wiki/Stochastics" title="Stochastics" class="mw-redirect">stochastic</a> errors prohibiting a <a href="/wiki/Determinism" title="Determinism">deterministic</a> approach to solving the equations</li>
<li><a href="/wiki/Cluster_analysis" title="Cluster analysis">clustering</a> needs to segregate members of various clusters contributing to various <a href="/wiki/Model_theory" title="Model theory">models</a> of solving, i.e. fixed locations, <a href="/wiki/Oscillation" title="Oscillation">oscillating</a> locations and moving locations</li>
</ul>
<p>Accuracy of multilateration is a function of several variables, including:</p>
<ul>
<li>The <a href="/wiki/Antenna_(radio)" title="Antenna (radio)">antenna</a> or <a href="/wiki/Sensor" title="Sensor">sensor</a> <a href="/wiki/Geometry" title="Geometry">geometry</a> of the <a href="/wiki/Receiver_(radio)" title="Receiver (radio)">receiver(s)</a> and <a href="/wiki/Transmitter" title="Transmitter">transmitter(s)</a> for <a href="/wiki/Electronics" title="Electronics">electronic</a> or <a href="/wiki/Optics" title="Optics">optical</a> transmission.</li>
<li>The timing accuracy of the receiver system, i.e. <a href="/wiki/Drift_(telecommunication)" title="Drift (telecommunication)">thermal stability</a> of the clocking <a href="/wiki/Oscillators" title="Oscillators" class="mw-redirect">oscillators</a>.</li>
<li>The accuracy of frequency synchronisation of the transmitter <a href="/wiki/Oscillators" title="Oscillators" class="mw-redirect">oscillators</a> with the receiver oscillators.</li>
<li>Phase synchronisation of the transmitted signal with the received signal, as propagation effects as e.g. diffraction or reflection changes the phase of the signal thus indication deviation from <a href="/wiki/Line-of-sight_propagation" title="Line-of-sight propagation">line of sight</a>, i.e. multipath reflections.</li>
<li>The bandwidth of the emitted pulse(s) and thus the rise-time of the pulses with pulse coded signals in transmission.</li>
<li>Inaccuracies in the locations of the transmitters or receivers when used as a known location</li>
</ul>
<p>The accuracy can be calculated by using the <a href="/wiki/Cram%C3%A9r%E2%80%93Rao_bound" title="CramrRao bound">CramrRao bound</a> and taking account of the above factors in its formulation.</p>
<h2><span class="section">[<a href="/w/index.php?title=Multilateration&amp;action=&amp;section=8" title="Edit section: Example applications"></a>]</span> <span class="mw-headline" id="Example_applications">Example applications</span></h2>
<ul>
<li><a href="/wiki/Sound_ranging" title="Sound ranging">Sound ranging</a>  Using sound to locate artillery fire.</li>
<li><a href="/wiki/Decca_Navigator_System" title="Decca Navigator System">Decca Navigator System</a>  A system used from the end of World War II to the year 2000, employing the phase-difference of multiple transmitters to locate on the intersection of hyperboloids</li>
<li><a href="/wiki/OMEGA_Navigation_System" title="OMEGA Navigation System" class="mw-redirect">OMEGA Navigation System</a>  A worldwide system similar to Decca, shut down in 1997</li>
<li><a href="/wiki/Radio_navigation#GEE" title="Radio navigation">GEE</a>  British aircraft location technique from World War II, using accurate reference transmitters</li>
<li><a href="/wiki/LORAN-C" title="LORAN-C" class="mw-redirect">LORAN-C</a>  navigation system using TDOA of signals from multiple synchronised transmitters</li>
<li>Passive <a href="/wiki/Electronic_warfare_support_measures" title="Electronic warfare support measures">ESM</a> multilateration systems, including <a href="/wiki/Kop%C3%A1%C4%8D_passive_sensor" title="Kop passive sensor">Kop</a>, <a href="/wiki/Ramona_passive_sensor" title="Ramona passive sensor">Ramona</a>, <a href="/wiki/Tamara_passive_sensor" title="Tamara passive sensor">Tamara</a>, <a href="/wiki/VERA_passive_sensor" title="VERA passive sensor">VERA</a> and possibly <a href="/wiki/Kolchuga_passive_sensor" title="Kolchuga passive sensor">Kolchuga</a>  location of a transmitter using multiple receivers</li>
<li><a href="/wiki/Mobile_phone_tracking" title="Mobile phone tracking">Mobile phone tracking</a>  using multiple base stations to estimate phone location (by either the phone itself, or the phone network)</li>
<li><a href="/wiki/Reduced_Vertical_Separation_Minima" title="Reduced Vertical Separation Minima">Reduced Vertical Separation Minima</a> (RVSM) monitoring using <a href="/wiki/Secondary_Surveillance_Radar" title="Secondary Surveillance Radar" class="mw-redirect">Secondary Surveillance Radar</a>  Mode C/S transponder replies to calculate the position of an aircraft. Application to RVSM was first demonstrated by <a href="/wiki/Roke_Manor_Research_Limited" title="Roke Manor Research Limited" class="mw-redirect">Roke Manor Research Limited</a> in 1992.<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from January 2010">citation needed</span></a></i>]</sup></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Multilateration&amp;action=&amp;section=9" title="Edit section: Simplification"></a>]</span> <span class="mw-headline" id="Simplification">Simplification</span></h2>
<p>For applications where no need for absolute coordinates determination is assessed, the implementing of a more simple solution is advantageous. Compared to multilateration as the concept of <i>crisp locating</i>, the other option is <i><a href="/wiki/Fuzzy_locating" title="Fuzzy locating" class="mw-redirect">fuzzy locating</a></i>, where just one distance delivers the relation between detector and detected object. This most simple approach is <a href="/w/index.php?title=Unilateration&amp;action=&amp;redlink=1" class="new" title="Unilateration (page does not exist)">unilateration</a>. However, such unilateration approach never delivers the angular position with reference to the detector. Many solutions are available today.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup><sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup><sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup><sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup><sup id="cite_ref-7" class="reference"><a href="#cite_note-7"><span>[</span>8<span>]</span></a></sup> Some of these vendors offer a position estimate based on combining several laterations. This approach is often not stable, when the wireless ambience is affected by metal or water masses. Other vendors offer room discrimination with a room-wise excitation, one vendor offers a position discrimination with a contiguity excitation.</p>
<h2><span class="section">[<a href="/w/index.php?title=Multilateration&amp;action=&amp;section=10" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/FDOA" title="FDOA">FDOA</a> Frequency difference of arrival. Analogous to TDOA using differential doppler.</li>
<li><a href="/wiki/Triangulation" title="Triangulation">Triangulation</a>  Location by angular measurement on lines of bearing that intersect</li>
<li><a href="/wiki/Trilateration" title="Trilateration">Trilateration</a>  Location by distance (e.g. time-of-flight) measurement on coincident signals from multiple transmitters.</li>
<li><a href="/wiki/Mobile_phone_tracking" title="Mobile phone tracking">Mobile phone tracking</a>  used in <a href="/wiki/GSM" title="GSM">GSM</a> networks</li>
<li><a href="/wiki/Multidimensional_scaling" title="Multidimensional scaling">Multidimensional scaling</a></li>
<li><a href="/wiki/Radiolocation" title="Radiolocation">Radiolocation</a></li>
<li><a href="/wiki/Radio_navigation" title="Radio navigation">Radio navigation</a></li>
<li><a href="/wiki/Real-time_locating" title="Real-time locating" class="mw-redirect">Real-time locating</a>  International standard for asset and staff tracking using wireless hardware and real-time software</li>
<li><a href="/wiki/Real_time_location_system" title="Real time location system" class="mw-redirect">Real time location system</a>  General techniques for asset and staff tracking using wireless hardware and real-time software</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Multilateration&amp;action=&amp;section=11" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.multilateration.com">The Multilateration Executive Reference Guide</a> is an easy-to-read reference for air traffic management, airport and airline professionals to learn more about this next-generation surveillance technology</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Multilateration&amp;action=&amp;section=12" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">In other words, given two receivers at known locations, one can derive a three-dimensional surface (characterized as one half of a hyperboloid) for which any two points on said surface will have the same differential distance from said receivers, i.e., a signal transmitted from any point on the surface will have the same TDOA (measured by the receivers) as a signal transmitted from any other point on the surface.<br />
Therefore, in practice, the TDOA corresponding to a (moving) transmitter is measured, a corresponding hyperbolic surface is derived, and the transmitter is said to be "located" somewhere on the that surface.</span></li>
<li id="cite_note-Bucher_Misra-1"><b><a href="#cite_ref-Bucher_Misra_1-0">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.hindawi.com/journals/vlsi/2002/935925.abs.html">A Synthesizable VHDL Model of the Exact Solution for Three-dimensional Hyperbolic Positioning System</a>, Ralph Bucher and D. Misra, VLSI Design, Volume 15 (2002), Issue 2, Pages 507-520.</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.numerical-recipes.com/">Numerical Recipes</a> official website</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.sonitor.com">Sonitor Technologies, NO-0314 Oslo, Norway: SONITOR Ultra sound proprietary approach</a></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.rfcode.com">RF Code, Austin, TX 78758, USA: RF Code 433 MHz proprietary approach</a></span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.tokloc.de/tokloc/tokloclocating/mission/mission.html">ReadPost Bremerhaven Germany: TokLoc, the Bluetooth LowEnergy based approach</a></span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.albistechnologies.com/products/zone_monitoring/index.php">Albis Zurich Switzerland: ZOMOFI Microwave proprietary approach</a></span></li>
<li id="cite_note-7"><b><a href="#cite_ref-7">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.patentstorm.us/patents/7228136.html">Location estimation in wireless telecommunication networks: Ekahau proprietary modified WLAN fuzzy locating approach</a></span></li>
</ol>
</div>


<!-- 
NewPP limit report
Preprocessor node count: 3514/1000000
Post-expand include size: 26283/2048000 bytes
Template argument size: 4983/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:3516652-0!0!0!!en!4!* and timestamp 20120329131739 -->
