<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Supplementary_angles2.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/18/Supplementary_angles2.svg/250px-Supplementary_angles2.svg.png" width="250" height="188" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Supplementary_angles2.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A pair of supplementary angles</div>
</div>
</div>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/supplementary">supplementary</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<table class="metadata plainlinks ambox ambox-move" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Merge-arrows.svg/50px-Merge-arrows.svg.png" width="50" height="20" /></div>
</td>
<td class="mbox-text" style="">It has been suggested that this article or section be <a href="/wiki/Wikipedia:Merging" title="Wikipedia:Merging">merged</a> with <i><a href="/wiki/Complementary_angles" title="Complementary angles">Complementary angles</a></i>, <i><a href="/wiki/Vertical_angles" title="Vertical angles">Vertical angles</a></i>, <i><a href="/wiki/Adjacent_angles" title="Adjacent angles" class="mw-redirect">Adjacent angles</a></i> and <i><a href="/wiki/Transversal_(geometry)" title="Transversal (geometry)">Transversal (geometry)</a></i>&#160;to <i><a href="/w/index.php?title=Special_angle_relationships&amp;action=&amp;redlink=1" class="new" title="Special angle relationships (page does not exist)">Special angle relationships</a></i>. (<a href="/wiki/Talk:Vertical_angles#Merge.3F" title="Talk:Vertical angles">Discuss</a>) <small><i>Proposed since December 2011.</i></small></td>
</tr>
</table>
<p><b>Supplementary angles</b> are pairs of <a href="/wiki/Angle" title="Angle">angles</a> that add up to 180 <a href="/wiki/Degree_(angle)" title="Degree (angle)">degrees</a>. Thus the supplement of an angle of <i>x</i> degrees is an angle of (180&#160;&#160;<i>x</i>) degrees.</p>
<p>If the two supplementary angles are <a href="/wiki/Adjacent_angles" title="Adjacent angles" class="mw-redirect">adjacent</a> (i.e. have a common <a href="/wiki/Vertex_(geometry)" title="Vertex (geometry)">vertex</a> and share just one side), their non-shared sides form a <a href="/wiki/Line_(geometry)" title="Line (geometry)">straight line</a>. However, supplementary angles do not have to be on the same line, and can be separated in space. For example, adjacent angles of a <a href="/wiki/Parallelogram" title="Parallelogram">parallelogram</a> are supplementary, and opposite angles of a <a href="/wiki/Cyclic_quadrilateral" title="Cyclic quadrilateral">cyclic quadrilateral</a> (one whose vertices all fall on a single circle) are supplementary.</p>
<p>If a point P is exterior to a circle with center O, and if the <a href="/wiki/Tangent_lines_to_circles" title="Tangent lines to circles">tangent lines</a> from P touch the circle at points T and Q, then TPQ and TOQ are supplementary.</p>
<h2><span class="section">[<a href="/w/index.php?title=Supplementary_angles&amp;action=&amp;section=1" title="Edit section: Trigonometric ratios"></a>]</span> <span class="mw-headline" id="Trigonometric_ratios">Trigonometric ratios</span></h2>
<p>The <b><a href="/wiki/Sine" title="Sine">sines</a></b> of supplementary angles are equal. Their <b><a href="/wiki/Cosine" title="Cosine" class="mw-redirect">cosines</a></b> and <b><a href="/wiki/Tangent" title="Tangent">tangents</a></b> (unless undefined) are equal in magnitude but have opposite signs.</p>
<h2><span class="section">[<a href="/w/index.php?title=Supplementary_angles&amp;action=&amp;section=2" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Complementary_angles" title="Complementary angles">Complementary angles</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Supplementary_angles&amp;action=&amp;section=3" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/anglesupplementary.html">Animated demonstration</a> - Interactive applet and explanation of the characteristics of supplementary angles.</li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/tocs/anglestoc.html">Angle definition pages</a> with interactive applets that are also useful in a classroom setting. Math Open Reference</li>
</ul>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Supplementary_angles&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 881/1000000
Post-expand include size: 11001/2048000 bytes
Template argument size: 3510/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:463004-0!*!0!!*!4!* and timestamp 20120410202310 -->
