<div class="dablink">For the tangent function, see <a href="/wiki/Trigonometric_functions#Sine.2C_cosine_and_tangent" title="Trigonometric functions">trigonometric functions#Sine, cosine and tangent</a>.  For other uses, see <a href="/wiki/Tangent_(disambiguation)" title="Tangent (disambiguation)">tangent (disambiguation)</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Tangent_to_a_curve.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Tangent_to_a_curve.svg/220px-Tangent_to_a_curve.svg.png" width="220" height="154" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Tangent_to_a_curve.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Tangent to a curve. The red line is tangential to the curve at the point marked by a red dot.</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Image_Tangent-plane.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/Image_Tangent-plane.svg/220px-Image_Tangent-plane.svg.png" width="220" height="142" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Image_Tangent-plane.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Tangent plane to a sphere</div>
</div>
</div>
<p>A <b>tangent line</b> of a <a href="/wiki/Curve" title="Curve">curve</a> is a line that touches one <a href="/wiki/Point_(geometry)" title="Point (geometry)">point</a> on the curve. The word <i>tangent</i> comes from the <a href="/wiki/Latin" title="Latin">Latin</a> <i><a href="//en.wiktionary.org/wiki/en:tangere#Latin" class="extiw" title="wiktionary:en:tangere">tangere</a></i>, <i>to touch</i>.</p>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, the <b>tangent line</b> (or simply the <b>tangent</b>) to a plane <a href="/wiki/Curve" title="Curve">curve</a> at a given <a href="/wiki/Point_(geometry)" title="Point (geometry)">point</a> is the <a href="/wiki/Straight_line" title="Straight line" class="mw-redirect">straight line</a> that "just touches" the curve at that point. More precisely, a straight line is said to be a tangent of a curve <span class="nowrap"><i>y</i> = <i>f</i>(<i>x</i>)</span> at a point <span class="nowrap"><i>x</i> = <i>c</i></span> on the curve if the line passes through the point <span class="nowrap">(<i>c</i>, <i>f</i>(<i>c</i>))</span> on the curve and has slope <span class="nowrap"><i>f</i><span style="padding-left:0.1em;">'</span>(<i>c</i>)</span> where <i>f</i><span style="padding-left:0.1em;">'</span> is the <a href="/wiki/Derivative" title="Derivative">derivative</a> of <i>f</i>. A similar definition applies to <a href="/wiki/Space_curve" title="Space curve" class="mw-redirect">space curves</a> and curves in <i>n</i>-dimensional <a href="/wiki/Euclidean_space" title="Euclidean space">Euclidean space</a>.</p>
<p>As it passes through the point where the tangent line and the curve meet, or the point of tangency, the tangent line is "going in the same direction" as the curve, and in this sense it is the best straight-line approximation to the curve at that point.</p>
<p>Similarly, the <b>tangent plane</b> to a <a href="/wiki/Surface" title="Surface">surface</a> at a given point is the <a href="/wiki/Plane_(mathematics)" title="Plane (mathematics)" class="mw-redirect">plane</a> that "just touches" the surface at that point. The concept of a tangent is one of the most fundamental notions in <a href="/wiki/Differential_geometry" title="Differential geometry">differential geometry</a> and has been extensively generalized; see <a href="/wiki/Tangent_space" title="Tangent space">Tangent space</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#History"><span class="tocnumber">1</span> <span class="toctext">History</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Tangent_line_to_a_curve"><span class="tocnumber">2</span> <span class="toctext">Tangent line to a curve</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Analytical_approach"><span class="tocnumber">2.1</span> <span class="toctext">Analytical approach</span></a>
<ul>
<li class="toclevel-3 tocsection-4"><a href="#Intuitive_description"><span class="tocnumber">2.1.1</span> <span class="toctext">Intuitive description</span></a></li>
<li class="toclevel-3 tocsection-5"><a href="#More_rigorous_description"><span class="tocnumber">2.1.2</span> <span class="toctext">More rigorous description</span></a></li>
<li class="toclevel-3 tocsection-6"><a href="#How_the_method_can_fail"><span class="tocnumber">2.1.3</span> <span class="toctext">How the method can fail</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-7"><a href="#Equations"><span class="tocnumber">2.2</span> <span class="toctext">Equations</span></a></li>
<li class="toclevel-2 tocsection-8"><a href="#Normal_line_to_a_curve"><span class="tocnumber">2.3</span> <span class="toctext">Normal line to a curve</span></a></li>
<li class="toclevel-2 tocsection-9"><a href="#Angle_between_curves"><span class="tocnumber">2.4</span> <span class="toctext">Angle between curves</span></a></li>
<li class="toclevel-2 tocsection-10"><a href="#Multiple_tangents_at_the_origin"><span class="tocnumber">2.5</span> <span class="toctext">Multiple tangents at the origin</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-11"><a href="#Tangent_circles"><span class="tocnumber">3</span> <span class="toctext">Tangent circles</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#Surfaces_and_higher-dimensional_manifolds"><span class="tocnumber">4</span> <span class="toctext">Surfaces and higher-dimensional manifolds</span></a></li>
<li class="toclevel-1 tocsection-13"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-14"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-15"><a href="#External_links"><span class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=1" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<p><a href="/wiki/Pierre_de_Fermat" title="Pierre de Fermat">Pierre de Fermat</a> developed a general technique for determining the tangents of a curve using his method of <a href="/wiki/Adequality" title="Adequality">adequality</a> in the 1630s. <a href="/wiki/Leibniz" title="Leibniz" class="mw-redirect">Leibniz</a> defined the tangent line as the line through a pair of <a href="/wiki/Infinitesimal" title="Infinitesimal">infinitely close</a> points on the curve.</p>
<h2><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=2" title="Edit section: Tangent line to a curve"></a>]</span> <span class="mw-headline" id="Tangent_line_to_a_curve">Tangent line to a curve</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:CIRCLE_LINES.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/06/CIRCLE_LINES.svg/220px-CIRCLE_LINES.svg.png" width="220" height="222" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:CIRCLE_LINES.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A tangent, a <a href="/wiki/Chord_(geometry)" title="Chord (geometry)">chord</a>, and a <a href="/wiki/Secant_line" title="Secant line">secant</a> to a circle</div>
</div>
</div>
<p>The intuitive notion that a tangent line "touches" a curve can be made more explicit by considering the sequence of straight lines (<a href="/wiki/Secant_line" title="Secant line">secant lines</a>) passing through two points, <i>A</i> and <i>B</i>, those that lie on the function curve. The tangent at <i>A</i> is the limit when point <i>B</i> approximates or tends to <i>A</i>. The existence and uniqueness of the tangent line depends on a certain type of mathematical smoothness, known as "differentiability." For example, if two circular arcs meet at a sharp point (a vertex) then there is no uniquely defined tangent at the vertex because the limit of the progression of secant lines depends on the direction in which "point <i>B</i>" approaches the vertex.</p>
<p>If the curvature is nonzero, the tangent to a curve does not cross the curve at the point of tangency (though it may, when continued, cross the curve at other places away from the point of tangent) This is true, for example, of all tangents to a <a href="/wiki/Circle" title="Circle">circle</a> or a <a href="/wiki/Parabola" title="Parabola">parabola</a>. However, at exceptional points called <a href="/wiki/Inflection_point" title="Inflection point">inflection points</a>, the tangent line <i>does</i> cross the curve at the point of tangency. An example is the point (0,0) on the graph of the cubic parabola <i>y</i> = <i>x</i><sup>3</sup>.</p>
<p>Conversely, it may happen that the curve lies entirely on one side of a straight line passing through a point on it, and yet this straight line is not a tangent line. This is the case, for example, for a line passing through the vertex of a <a href="/wiki/Triangle" title="Triangle">triangle</a> and not intersecting the trianglewhere the tangent line does not exist for the reasons explained above. In <a href="/wiki/Convex_geometry" title="Convex geometry">convex geometry</a>, such lines are called <a href="/wiki/Supporting_hyperplane" title="Supporting hyperplane">supporting lines</a>.</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:402px;"><a href="/wiki/File:Graph_of_sliding_derivative_line.gif" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/7/7a/Graph_of_sliding_derivative_line.gif" width="400" height="400" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Graph_of_sliding_derivative_line.gif" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
At each point, the line is always tangent to the <a href="/wiki/Curve" title="Curve">curve</a>. Its slope is the <a href="/wiki/Derivative" title="Derivative">derivative</a>; the positivity, negativity and zeroes of the derivative are marked by green, red and black respectively.</div>
</div>
</div>
<h3><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=3" title="Edit section: Analytical approach"></a>]</span> <span class="mw-headline" id="Analytical_approach">Analytical approach</span></h3>
<p>The geometric idea of the tangent line as the limit of secant lines serves as the motivation for analytical methods that are used to find tangent lines explicitly. The question of finding the tangent line to a graph, or the <b>tangent line problem,</b> was one of the central questions leading to the development of <a href="/wiki/Calculus" title="Calculus">calculus</a> in the 17th century. In the second book of his <i><a href="/wiki/La_Geometrie" title="La Geometrie" class="mw-redirect">Geometry</a></i>, <a href="/wiki/Ren%C3%A9_Descartes" title="Ren Descartes">Ren Descartes</a><sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> <a href="//en.wikisource.org/wiki/fr:Page:Descartes_La_G%C3%A9om%C3%A9trie.djvu/52" class="extiw" title="s:fr:Page:Descartes La Gomtrie.djvu/52">said</a> of the problem of constructing the tangent to a curve, "And I dare say that this is not only the most useful and most general problem in geometry that I know, but even that I have ever desired to know".<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<h4><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=4" title="Edit section: Intuitive description"></a>]</span> <span class="mw-headline" id="Intuitive_description">Intuitive description</span></h4>
<p>Suppose that a curve is given as the graph of a <a href="/wiki/Function_(mathematics)" title="Function (mathematics)">function</a>, <i>y</i> = <i>f</i>(<i>x</i>). To find the tangent line at the point <i>p</i> = (<i>a</i>, <i>f</i>(<i>a</i>)), consider another nearby point <i>q</i> = (<i>a</i> + <i>h</i>, <i>f</i>(<i>a</i> + <i>h</i>)) on the curve. The <a href="/wiki/Slope" title="Slope">slope</a> of the <a href="/wiki/Secant_line" title="Secant line">secant line</a> passing through <i>p</i> and <i>q</i> is equal to the <a href="/wiki/Difference_quotient" title="Difference quotient">difference quotient</a></p>
<dl>
<dd><img class="tex" alt="\frac{f(a+h)-f(a)}{h}." src="//upload.wikimedia.org/wikipedia/en/math/8/0/d/80daab08fe2b1ebcfa18316c1cad8bbf.png" /></dd>
</dl>
<p>As the point <i>q</i> approaches <i>p</i>, which corresponds to making <i>h</i> smaller and smaller, the difference quotient should approach a certain limiting value <i>k</i>, which is the slope of the tangent line at the point <i>p</i>. If <i>k</i> is known, the equation of the tangent line can be found in the point-slope form:</p>
<dl>
<dd><img class="tex" alt=" y-f(a) = k(x-a).\," src="//upload.wikimedia.org/wikipedia/en/math/9/6/1/961f720c292b3e3ff233ab390ccb6f53.png" /></dd>
</dl>
<h4><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=5" title="Edit section: More rigorous description"></a>]</span> <span class="mw-headline" id="More_rigorous_description">More rigorous description</span></h4>
<p>To make the preceding reasoning rigorous, one has to explain what is meant by the difference quotient approaching a certain limiting value <i>k</i>. The precise mathematical formulation was given by <a href="/wiki/Cauchy" title="Cauchy" class="mw-redirect">Cauchy</a> in the 19th century and is based on the notion of <a href="/wiki/Limit_of_a_function" title="Limit of a function">limit</a>. Suppose that the graph does not have a break or a sharp edge at <i>p</i> and it is neither plumb nor too wiggly near <i>p</i>. Then there is a unique value of <i>k</i> such that as <i>h</i> approaches 0, the difference quotient gets closer and closer to <i>k</i>, and the distance between them becomes negligible compared with the size of <i>h</i>, if <i>h</i> is small enough. This leads to the definition of the slope of the tangent line to the graph as the limit of the difference quotients for the function <i>f</i>. This limit is the <a href="/wiki/Derivative#Definition_via_difference_quotients" title="Derivative">derivative</a> of the function <i>f</i> at <i>x</i> = <i>a</i>, denoted <i>f</i>&#160;(<i>a</i>). Using derivatives, the equation of the tangent line can be stated as follows:</p>
<dl>
<dd><img class="tex" alt=" y=f(a)+f'(a)(x-a).\," src="//upload.wikimedia.org/wikipedia/en/math/8/4/b/84bb85a2c235c80b66caae2c4a85d58d.png" /></dd>
</dl>
<p>Calculus provides rules for computing the derivatives of functions that are given by formulas, such as the <a href="/wiki/Power_function" title="Power function">power function</a>, <a href="/wiki/Trigonometric_functions" title="Trigonometric functions">trigonometric functions</a>, <a href="/wiki/Exponential_function" title="Exponential function">exponential function</a>, <a href="/wiki/Logarithm" title="Logarithm">logarithm</a>, and their various combinations. Thus, equations of the tangents to graphs of all these functions, as well as many others, can be found by the methods of calculus.</p>
<h4><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=6" title="Edit section: How the method can fail"></a>]</span> <span class="mw-headline" id="How_the_method_can_fail">How the method can fail</span></h4>
<p>Calculus also demonstrates that there are functions and points on their graphs for which the limit determining the slope of the tangent line does not exist. For these points the function <i>f</i> is <i>non-differentiable</i>. There are two possible reasons for the method of finding the tangents based on the limits and derivatives to fail: either the geometric tangent exists, but it is a vertical line, which cannot be given in the point-slope form since it does not have a slope, or the graph exhibits one of three behaviors that precludes a geometric tangent.</p>
<p>The graph <i>y</i> = <i>x</i><sup>1/3</sup> illustrates the first possibility: here the difference quotient at <i>a</i> = 0 is equal to <i>h</i><sup>1/3</sup>/<i>h</i> = <i>h</i><sup>2/3</sup>, which becomes very large as <i>h</i> approaches 0. The tangent line to this curve at the origin is vertical.</p>
<p>The graph <i>y</i> = |<i>x</i>| of the <a href="/wiki/Absolute_value" title="Absolute value">absolute value</a> function consists of two straight lines with different slopes joined at the origin. As a point <i>q</i> approaches the origin from the right, the secant line always has slope 1. As a point <i>q</i> approaches the origin from the left, the secant line always has slope 1. Therefore, there is no unique tangent to the graph at the origin. Having two different (but finite) slopes is called a <i>corner</i>.</p>
<p>A <i><a href="/wiki/Cusp_(singularity)" title="Cusp (singularity)">cusp</a></i> occurs when the slope approaches infinity. This can mean one side of the graph has a slope that approaches plus or minus infinity while the slope other is finite. It can also mean both sides' slopes approaches positive infinity or negative infinity.</p>
<p>Finally, since differentiability implies continuity, the <a href="/wiki/Contraposition" title="Contraposition">contrapositive</a> states <i>discontinuity</i> implies non-differentiability. Any such jump or point discontinuity will have no tangent line. This includes cases where one slope approaches positive infinity while the other approaches negative infinity, leading to an infinite jump discontinuity</p>
<h3><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=7" title="Edit section: Equations"></a>]</span> <span class="mw-headline" id="Equations">Equations</span></h3>
<p>When the curve is given by <i>y</i> = <i>f</i>(<i>x</i>) then the slope of the tangent is <img class="tex" alt="\frac{dy}{dx}," src="//upload.wikimedia.org/wikipedia/en/math/d/d/1/dd15625fcbaaad8f70d53eeaaa43bc25.png" /> so by the <a href="/wiki/Linear_equation#Point.E2.80.93slope_form" title="Linear equation">pointslope formula</a> the equation of the tangent line at (<i>X</i>,&#160;<i>Y</i>) is</p>
<dl>
<dd><img class="tex" alt="y-Y=\frac{dy}{dx}(X) \cdot (x-X)" src="//upload.wikimedia.org/wikipedia/en/math/c/c/4/cc43a017a63b84e8b8f5837dcf87f3fe.png" /></dd>
</dl>
<p>where (<i>x</i>,&#160;<i>y</i>) are the coordinates of any point on the tangent line, and where the derivative is evaluated at <img class="tex" alt="x=X" src="//upload.wikimedia.org/wikipedia/en/math/c/a/6/ca6829009c5222299a0ae28aa462c11e.png" />.<sup id="cite_ref-E191_2-0" class="reference"><a href="#cite_note-E191-2"><span>[</span>3<span>]</span></a></sup></p>
<p>When the curve is given by <i>y</i> = <i>f</i>(<i>x</i>), the tangent line's equation can also be found<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup> by using <a href="/wiki/Polynomial_division" title="Polynomial division" class="mw-redirect">polynomial division</a> to divide <img class="tex" alt="f \, (x)" src="//upload.wikimedia.org/wikipedia/en/math/4/6/4/46433f3e21a5598ea97cde637540e89a.png" /> by <img class="tex" alt="(x-X)^2" src="//upload.wikimedia.org/wikipedia/en/math/4/1/0/4105d290d1c3cca0443aa10abca93792.png" />; if the remainder is denoted by <img class="tex" alt="g(x)" src="//upload.wikimedia.org/wikipedia/en/math/e/8/4/e84fec1e074026d6fa8e3155482c35c3.png" />, then the equation of the tangent line is given by</p>
<dl>
<dd><img class="tex" alt="y=g(x)." src="//upload.wikimedia.org/wikipedia/en/math/1/5/9/15987259d4b76cf46a31c7164f2df634.png" /></dd>
</dl>
<p>When the equation of the curve is given in the form <i>f</i>(<i>x</i>,&#160;<i>y</i>) = 0 then the value of the slope can be found by <a href="/wiki/Implicit_and_explicit_functions#Implicit_differentiation" title="Implicit and explicit functions">implicit differentiation</a>, giving</p>
<dl>
<dd><img class="tex" alt="\frac{dy}{dx}=-\frac{\frac{\partial f}{\partial x}}{\frac{\partial f}{\partial y}}." src="//upload.wikimedia.org/wikipedia/en/math/e/e/8/ee870d5673109caf94d8f973a1c2a55d.png" /></dd>
</dl>
<p>The equation of the tangent line is then<sup id="cite_ref-E191_2-1" class="reference"><a href="#cite_note-E191-2"><span>[</span>3<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="\frac{\partial f}{\partial x}(X,Y) \cdot (x-X)+\frac{\partial f}{\partial y}(X,Y) \cdot (y-Y)=0." src="//upload.wikimedia.org/wikipedia/en/math/4/8/3/483fe2a1288ed2eae93dd2e5a548e6e7.png" /></dd>
</dl>
<p><br style="clear:both;" />
For <a href="/wiki/Algebraic_curve" title="Algebraic curve">algebraic curves</a>, computations may be simplified somewhat by converting to <a href="/wiki/Homogeneous_coordinate" title="Homogeneous coordinate" class="mw-redirect">homogeneous coordinates</a>. Specifically, let the homogeneous equation of the curve be <i>g</i>(<i>x</i>,&#160;<i>y</i>,&#160;<i>z</i>) = 0 where <i>g</i> is a homogeneous function of degree <i>n</i>. Then, if (<i>X</i>,&#160;<i>Y</i>,&#160;<i>Z</i>) lies on the curve, <a href="/wiki/Homogeneous_function#Positive_homogeneity" title="Homogeneous function">Euler's theorem</a> implies</p>
<dl>
<dd><img class="tex" alt="\frac{\partial g}{\partial x} \cdot X +\frac{\partial g}{\partial y} \cdot Y+\frac{\partial g}{\partial z} \cdot Z=ng(X, Y, Z)=0." src="//upload.wikimedia.org/wikipedia/en/math/e/7/b/e7b6cd8b22385a5813d365fef24b7897.png" /></dd>
</dl>
<p>It follows that the homogeneous equation of the tangent line is</p>
<dl>
<dd><img class="tex" alt="\frac{\partial g}{\partial x}(X,Y,Z) \cdot x+\frac{\partial g}{\partial y}(X,Y,Z) \cdot y+\frac{\partial g}{\partial z}(X,Y,Z) \cdot z=0." src="//upload.wikimedia.org/wikipedia/en/math/7/d/b/7dbaabb3abcd86744ae1e37238eb9e60.png" /></dd>
</dl>
<p>The equation of the tangent line in Cartesian coordinates can be found by setting <i>z</i>=1 in this equation.<sup id="cite_ref-E192_4-0" class="reference"><a href="#cite_note-E192-4"><span>[</span>5<span>]</span></a></sup></p>
<p>To apply this to algebraic curves, write <i>f</i>(<i>x</i>,&#160;<i>y</i>) as</p>
<dl>
<dd><img class="tex" alt="f=u_n+u_{n-1}+\dots+u_1+u_0\," src="//upload.wikimedia.org/wikipedia/en/math/9/0/f/90f19884342062dacfedc487b147192f.png" /></dd>
</dl>
<p>where each <i>u</i><sub><i>r</i></sub> is the sum of all terms of degree <i>r</i>. The homogeneous equation of the curve is then</p>
<dl>
<dd><img class="tex" alt="g=u_n+u_{n-1}z+\dots+u_1 z^{n-1}+u_0 z^n=0.\," src="//upload.wikimedia.org/wikipedia/en/math/7/6/4/76458db59e75eb2e01a4f9514df53487.png" /></dd>
</dl>
<p>Applying the equation above and setting <i>z</i>=1 produces</p>
<dl>
<dd><img class="tex" alt="\frac{\partial f}{\partial x}(X,Y) \cdot x + \frac{\partial f}{\partial y}(X,Y) \cdot y + u_{n-1} + \dots + (n-1) u_1 + nu_0 =0" src="//upload.wikimedia.org/wikipedia/en/math/d/6/a/d6a54829e6f3eb593a311c507692a624.png" /></dd>
</dl>
<p>as the equation of the tangent line.<sup id="cite_ref-E193_5-0" class="reference"><a href="#cite_note-E193-5"><span>[</span>6<span>]</span></a></sup> The equation in this form is often simpler to use in practice since no further simplification is needed after it is applied.<sup id="cite_ref-E192_4-1" class="reference"><a href="#cite_note-E192-4"><span>[</span>5<span>]</span></a></sup></p>
<p>If the curve is given <a href="/wiki/Parametric_equation" title="Parametric equation">parametrically</a> by</p>
<dl>
<dd><img class="tex" alt="x=x(t),\quad y=y(t)" src="//upload.wikimedia.org/wikipedia/en/math/6/0/e/60efb0ac0f9ae0340cb91e33b0645454.png" /></dd>
</dl>
<p>then the slope of the tangent is</p>
<dl>
<dd><img class="tex" alt="\frac{dy}{dx}=\frac{\frac{dy}{dt}}{\frac{dx}{dt}}" src="//upload.wikimedia.org/wikipedia/en/math/3/c/f/3cf83a7c5a6811d83a2379727216d4cc.png" /></dd>
</dl>
<p>giving the equation for the tangent line at <img class="tex" alt="\, t=T, \, x=X, \, y=Y" src="//upload.wikimedia.org/wikipedia/en/math/6/6/a/66aa8e5cf44b84b6c8be846f1e636344.png" /> as<sup id="cite_ref-E196_6-0" class="reference"><a href="#cite_note-E196-6"><span>[</span>7<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="\frac{dx}{dt}(T) \cdot (y-Y)=\frac{dy}{dt}(T) \cdot (x-X)." src="//upload.wikimedia.org/wikipedia/en/math/4/5/e/45e4eea42a1a46333f988fe3ba78cc41.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=8" title="Edit section: Normal line to a curve"></a>]</span> <span class="mw-headline" id="Normal_line_to_a_curve">Normal line to a curve</span></h3>
<p>The line perpendicular to the tangent line to a curve at the point of tangency is called the <i>normal line</i> to the curve at that point. The slopes of perpendicular lines have product 1, so if the equation of the curve is <i>y</i> = <i>f</i>(<i>x</i>) then slope of the normal line is</p>
<dl>
<dd><img class="tex" alt="-\frac{1}{\frac{dy}{dx}}" src="//upload.wikimedia.org/wikipedia/en/math/4/4/b/44ba15473a33b0144c96900bb2b9945b.png" /></dd>
</dl>
<p>and it follows that the equation of the normal line is</p>
<dl>
<dd><img class="tex" alt="(X-x)+\frac{dy}{dx}(Y-y)=0." src="//upload.wikimedia.org/wikipedia/en/math/6/8/8/688907602bb11c99f9f81988d971b68f.png" /></dd>
</dl>
<p>Similarly, if the equation of the curve has the form <i>f</i>(<i>x</i>,&#160;<i>y</i>) = 0 then the equation of the tangent line is given by <sup id="cite_ref-E194_7-0" class="reference"><a href="#cite_note-E194-7"><span>[</span>8<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="\frac{\partial f}{\partial y}(X-x)-\frac{\partial f}{\partial x}(Y-y)=0." src="//upload.wikimedia.org/wikipedia/en/math/a/a/b/aabf84ce5db5aef3cbf29d04ffe46e7b.png" /></dd>
</dl>
<p>If the curve is given parametrically by</p>
<dl>
<dd><img class="tex" alt="x=x(t),\quad y=y(t)" src="//upload.wikimedia.org/wikipedia/en/math/6/0/e/60efb0ac0f9ae0340cb91e33b0645454.png" /></dd>
</dl>
<p>then the equation of the normal line is <sup id="cite_ref-E196_6-1" class="reference"><a href="#cite_note-E196-6"><span>[</span>7<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="\frac{dx}{dt}(X-x)+\frac{dy}{dt}(Y-y)=0." src="//upload.wikimedia.org/wikipedia/en/math/4/d/4/4d479f621cd4e93d970951c63f6b03e3.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=9" title="Edit section: Angle between curves"></a>]</span> <span class="mw-headline" id="Angle_between_curves">Angle between curves</span></h3>
<div class="rellink boilerplate seealso">See also: <a href="/wiki/Angle#Angle_between_curves" title="Angle">Angle#Angle between curves</a></div>
<p>The angle between two curves at a point where they intersect is defined as the angle between their tangent lines at that point. More specifically, two curves are said to be tangent at a point if they have the same tangent at a point, and orthogonal if their tangent lines are orthogonal.<sup id="cite_ref-E195_8-0" class="reference"><a href="#cite_note-E195-8"><span>[</span>9<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=10" title="Edit section: Multiple tangents at the origin"></a>]</span> <span class="mw-headline" id="Multiple_tangents_at_the_origin">Multiple tangents at the origin</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a href="/wiki/File:Lima%C3%A7onTrisectrix.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Lima%C3%A7onTrisectrix.svg/300px-Lima%C3%A7onTrisectrix.svg.png" width="300" height="240" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Lima%C3%A7onTrisectrix.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The limaon trisectrix: a curve with two tangents at the origin.</div>
</div>
</div>
<p>The formulas above fail when the point is a <a href="/wiki/Singular_point_of_a_curve" title="Singular point of a curve">singular point</a>. In this case there may be two or more branches of the curve which pass through the point, each branch having its own tangent line. When the point is the origin, the equations of these lines can be found for algebraic curves by factoring the equation formed by eliminating all but the lowest degree terms from the original equation. Since any point can be made the origin by a change of variables, this gives a method for finding the tangent lines at any singular point.</p>
<p>For example, the equation of the <a href="/wiki/Lima%C3%A7on_trisectrix" title="Limaon trisectrix">limaon trisectrix</a> shown to the left is</p>
<dl>
<dd><img class="tex" alt="(x^2+y^2-2ax)^2=a^2(x^2+y^2).\," src="//upload.wikimedia.org/wikipedia/en/math/a/7/3/a7316c4c688b4b7ba90d7e24620fe873.png" /></dd>
</dl>
<p>Expanding this and eliminating all but terms of degree 2 gives</p>
<dl>
<dd><img class="tex" alt="a^2(3x^2-y^2)=0\," src="//upload.wikimedia.org/wikipedia/en/math/6/1/8/618a87b5e149b80647145468c1e3117a.png" /></dd>
</dl>
<p>which, when factored, becomes</p>
<dl>
<dd><img class="tex" alt="y=\pm\sqrt{3}x." src="//upload.wikimedia.org/wikipedia/en/math/9/5/d/95d7a6f6410582b52eea74e0ad84ac40.png" /></dd>
</dl>
<p>So these are the equations of the two tangent lines through the origin.<sup id="cite_ref-E197_9-0" class="reference"><a href="#cite_note-E197-9"><span>[</span>10<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=11" title="Edit section: Tangent circles"></a>]</span> <span class="mw-headline" id="Tangent_circles">Tangent circles</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a href="/wiki/File:Tangent_circles.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Tangent_circles.svg/200px-Tangent_circles.svg.png" width="200" height="267" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Tangent_circles.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Two pairs of tangent circles. Above internally and below externally tangent</div>
</div>
</div>
<p>Two circles of non-equal radius, both in the same plane, are said to be tangent to each other if they meet at only one point. Equivalently, two <a href="/wiki/Circles" title="Circles" class="mw-redirect">circles</a>, with <a href="/wiki/Radii" title="Radii" class="mw-redirect">radii</a> of <i>r<sub>i</sub></i> and centers at (<i>x<sub>i</sub></i> , <i>y<sub>i</sub></i>), for <i>i</i>&#160;=&#160;1,&#160;2 are said to be tangent to each other if</p>
<dl>
<dd><img class="tex" alt="\left(x_1-x_2\right)^2+\left(y_1-y_2\right)^2=\left(r_1\pm r_2\right)^2.\," src="//upload.wikimedia.org/wikipedia/en/math/1/c/c/1ccb881936ad5427a36afac94db7660a.png" /></dd>
</dl>
<ul>
<li>Two circles are <b>externally tangent</b> if the <a href="/wiki/Distance#Geometry" title="Distance">distance</a> between their centres is equal to the sum of their radii.</li>
</ul>
<dl>
<dd><img class="tex" alt="\left(x_1-x_2\right)^2+\left(y_1-y_2\right)^2=\left(r_1 + r_2\right)^2.\," src="//upload.wikimedia.org/wikipedia/en/math/e/b/2/eb23f9760495ed8d1b54d67936654b43.png" /></dd>
</dl>
<ul>
<li>Two circles are <b>internally tangent</b> if the <a href="/wiki/Distance#Geometry" title="Distance">distance</a> between their centres is equal to the difference between their radii.<sup id="cite_ref-10" class="reference"><a href="#cite_note-10"><span>[</span>11<span>]</span></a></sup></li>
</ul>
<dl>
<dd><img class="tex" alt="\left(x_1-x_2\right)^2+\left(y_1-y_2\right)^2=\left(r_1 - r_2\right)^2.\," src="//upload.wikimedia.org/wikipedia/en/math/e/b/0/eb03fd9f9f591c47cfbe036dad2ba88c.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=12" title="Edit section: Surfaces and higher-dimensional manifolds"></a>]</span> <span class="mw-headline" id="Surfaces_and_higher-dimensional_manifolds">Surfaces and higher-dimensional manifolds</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Tangent_space" title="Tangent space">Tangent space</a></div>
<p>The <i>tangent plane</i> to a <a href="/wiki/Surface" title="Surface">surface</a> at a given point <i>p</i> is defined in an analogous way to the tangent line in the case of curves. It is the best approximation of the surface by a plane at <i>p</i>, and can be obtained as the limiting position of the planes passing through 3 distinct points on the surface close to <i>p</i> as these points converge to <i>p</i>. More generally, there is a <i>k</i>-dimensional <a href="/wiki/Tangent_space" title="Tangent space">tangent space</a> at each point of a <i>k</i>-dimensional <a href="/wiki/Manifold" title="Manifold">manifold</a> in the <i>n</i>-dimensional <a href="/wiki/Euclidean_space" title="Euclidean space">Euclidean space</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=13" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Newton%27s_method" title="Newton's method">Newton's method</a></li>
<li><a href="/wiki/Normal_(geometry)" title="Normal (geometry)">Normal (geometry)</a></li>
<li><a href="/wiki/Osculating_circle" title="Osculating circle">Osculating circle</a></li>
<li><a href="/wiki/Osculating_curve" title="Osculating curve">Osculating curve</a></li>
<li><a href="/wiki/Subtangent" title="Subtangent">Subtangent</a></li>
<li><a href="/wiki/Tangent_cone" title="Tangent cone">Tangent cone</a></li>
<li><a href="/wiki/Tangential_angle" title="Tangential angle">Tangential angle</a></li>
<li><a href="/wiki/Tangential_and_normal_components" title="Tangential and normal components">Tangential component</a></li>
<li><a href="/wiki/Tangent_lines_to_circles" title="Tangent lines to circles">Tangent lines to circles</a></li>
<li><a href="/wiki/Perpendicular" title="Perpendicular">Perpendicular</a></li>
<li><a href="/wiki/Supporting_line" title="Supporting line">Supporting line</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=14" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation book">Descartes, Ren (1954). <i>The geometry of Ren Descartes</i>. Courier <a rel="nofollow" class="external text" href="http://store.doverpublications.com/0486600688.html">Dover</a>. pp.&#160;95. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0486600688" title="Special:BookSources/0486600688">0486600688</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+geometry+of+Ren%C3%A9+Descartes&amp;rft.aulast=Descartes&amp;rft.aufirst=Ren%C3%A9&amp;rft.au=Descartes%2C%26%2332%3BRen%C3%A9&amp;rft.date=1954&amp;rft.pages=pp.%26nbsp%3B95&amp;rft.pub=Courier+%5Bhttp%3A%2F%2Fstore.doverpublications.com%2F0486600688.html+Dover%5D&amp;rft.isbn=0486600688&amp;rfr_id=info:sid/en.wikipedia.org:Tangent"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><span class="citation Journal">R. E. Langer (October 1937). "Rene Descartes". <i><a href="/wiki/American_Mathematical_Monthly" title="American Mathematical Monthly">American Mathematical Monthly</a></i> (Mathematical Association of America) <b>44</b> (8): 495512. <a href="/wiki/Digital_object_identifier" title="Digital object identifier">doi</a>:<a rel="nofollow" class="external text" href="http://dx.doi.org/10.2307%2F2301226">10.2307/2301226</a>. <a href="/wiki/JSTOR" title="JSTOR">JSTOR</a>&#160;<a rel="nofollow" class="external text" href="http://www.jstor.org/stable/2301226">2301226</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Rene+Descartes&amp;rft.jtitle=%5B%5BAmerican+Mathematical+Monthly%5D%5D&amp;rft.aulast=R.+E.+Langer&amp;rft.au=R.+E.+Langer&amp;rft.date=October+1937&amp;rft.volume=44&amp;rft.issue=8&amp;rft.pages=495%E2%80%93512&amp;rft.pub=Mathematical+Association+of+America&amp;rft_id=info:doi/10.2307%2F2301226&amp;rft.jstor=2301226&amp;rfr_id=info:sid/en.wikipedia.org:Tangent"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-E191-2">^ <a href="#cite_ref-E191_2-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-E191_2-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text">Edwards Art. 191</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text">Strickland-Constable, Charles, "A simple method for finding tangents to polynomial graphs", <i><a href="/wiki/Mathematical_Gazette" title="Mathematical Gazette" class="mw-redirect">Mathematical Gazette</a></i>, November 2005, 466-467.</span></li>
<li id="cite_note-E192-4">^ <a href="#cite_ref-E192_4-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-E192_4-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text">Edwards Art. 192</span></li>
<li id="cite_note-E193-5"><b><a href="#cite_ref-E193_5-0">^</a></b> <span class="reference-text">Edwards Art. 193</span></li>
<li id="cite_note-E196-6">^ <a href="#cite_ref-E196_6-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-E196_6-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text">Edwards Art. 196</span></li>
<li id="cite_note-E194-7"><b><a href="#cite_ref-E194_7-0">^</a></b> <span class="reference-text">Edwards Art. 194</span></li>
<li id="cite_note-E195-8"><b><a href="#cite_ref-E195_8-0">^</a></b> <span class="reference-text">Edwards Art. 195</span></li>
<li id="cite_note-E197-9"><b><a href="#cite_ref-E197_9-0">^</a></b> <span class="reference-text">Edwards Art. 197</span></li>
<li id="cite_note-10"><b><a href="#cite_ref-10">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://homepage.eircom.net/~phabfys/circles.html">Circles For Leaving Certificate Honours Mathematics by Thomas OSullivan 1997</a></span></li>
</ol>
<ul>
<li><span class="citation book">J. Edwards (1892). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=unltAAAAMAAJ&amp;pg=PA143#v=onepage&amp;q&amp;f=false"><i>Differential Calculus</i></a>. London: MacMillan and Co.. pp.&#160;143 ff.<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=unltAAAAMAAJ&amp;pg=PA143#v=onepage&amp;q&amp;f=false">http://books.google.com/books?id=unltAAAAMAAJ&amp;pg=PA143#v=onepage&amp;q&amp;f=false</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Differential+Calculus&amp;rft.aulast=J.+Edwards&amp;rft.au=J.+Edwards&amp;rft.date=1892&amp;rft.pages=pp.%26nbsp%3B143+ff.&amp;rft.place=London&amp;rft.pub=MacMillan+and+Co.&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DunltAAAAMAAJ%26pg%3DPA143%23v%3Donepage%26q%26f%3Dfalse&amp;rfr_id=info:sid/en.wikipedia.org:Tangent"><span style="display: none;">&#160;</span></span></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Tangent&amp;action=&amp;section=15" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/38px-Wikisource-logo.svg.png" width="38" height="40" /></td>
<td class="mbox-text" style=""><a href="/wiki/Wikisource" title="Wikisource">Wikisource</a> has the text of the 1921 <a href="/wiki/Collier%27s_Encyclopedia" title="Collier's Encyclopedia">Collier's Encyclopedia</a> article <i><b><a href="//en.wikisource.org/wiki/Collier%27s_New_Encyclopedia_(1921)/Tangent" class="extiw" title="s:Collier's New Encyclopedia (1921)/Tangent">Tangent</a></b></i>.</td>
</tr>
</table>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Tangent_Line"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/TangentLine.html">Tangent Line</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/tangent.html">Tangent to a circle</a> With interactive animation</li>
<li><a rel="nofollow" class="external text" href="http://www.vias.org/simulations/simusoft_difftangent.html">Tangent and first derivative</a> - An interactive simulation</li>
<li><a rel="nofollow" class="external text" href="http://math.fullerton.edu/mathews/n2003/TangentParabolaMod.html">The Tangent Parabola by John H. Mathews</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 2976/1000000
Post-expand include size: 15750/2048000 bytes
Template argument size: 4686/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:31482-0!0!0!!en!4!* and timestamp 20120412191721 -->
