<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, the <b>Tarry point</b> for a <a href="/wiki/Triangle" title="Triangle">triangle</a> is a <a href="/wiki/Point_(geometry)" title="Point (geometry)">point</a> of <a href="/wiki/Concurrent_lines" title="Concurrent lines">concurrency</a> of the <a href="/wiki/Line_segment" title="Line segment">lines</a> through the <a href="/wiki/Vertex_(geometry)" title="Vertex (geometry)">vertices</a> of the triangle <a href="/wiki/Perpendicular" title="Perpendicular">perpendicular</a> to the corresponding sides of the triangle's first <a href="/wiki/Brocard_triangle" title="Brocard triangle">Brocard triangle</a>. The Tarry point lies on the other endpoint of the <a href="/wiki/Diameter" title="Diameter">diameter</a> of the <a href="/wiki/Circumcircle" title="Circumcircle" class="mw-redirect">circumcircle</a> drawn through the <a href="/wiki/Steiner_point" title="Steiner point" class="mw-redirect">Steiner point</a>.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> The point is named for <a href="/wiki/Gaston_Tarry" title="Gaston Tarry">Gaston Tarry</a>.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Tarry_point&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Concurrent_lines" title="Concurrent lines">Concurrent lines</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Tarry_point&amp;action=&amp;section=2" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation mathworld" id="Reference-Mathworld-Tarry_Point"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/TarryPoint.html">Tarry Point</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://www-groups.dcs.st-and.ac.uk/~history/Biographies/Tarry.html">"Gaston Tarry"</a>. 2-9-08<span class="printonly">. <a rel="nofollow" class="external free" href="http://www-groups.dcs.st-and.ac.uk/~history/Biographies/Tarry.html">http://www-groups.dcs.st-and.ac.uk/~history/Biographies/Tarry.html</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Gaston+Tarry&amp;rft.atitle=&amp;rft.date=2-9-08&amp;rft_id=http%3A%2F%2Fwww-groups.dcs.st-and.ac.uk%2F%7Ehistory%2FBiographies%2FTarry.html&amp;rfr_id=info:sid/en.wikipedia.org:Tarry_point"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Tarry_point&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 791/1000000
Post-expand include size: 6417/2048000 bytes
Template argument size: 1443/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:14662924-0!*!0!!*!4!* and timestamp 20120407224311 -->
