<div class="thumb tright">
<div class="thumbinner" style="width:182px;"><a href="/wiki/File:Subtraction01.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Subtraction01.svg/180px-Subtraction01.svg.png" width="180" height="142" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Subtraction01.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
"5&#160;&#160;2 = 3" (verbally, "five minus two equals three")</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:182px;"><a href="/wiki/File:Verticle_Subtraction_Example.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/51/Verticle_Subtraction_Example.svg/180px-Verticle_Subtraction_Example.svg.png" width="180" height="284" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Verticle_Subtraction_Example.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
An example problem</div>
</div>
</div>
<p>In <a href="/wiki/Arithmetic" title="Arithmetic">arithmetic</a>, <b>subtraction</b> is one of the four basic <a href="/wiki/Binary_operation" title="Binary operation">binary operations</a>; it is the inverse of <a href="/wiki/Addition" title="Addition">addition</a>, meaning that if we start with any number and add any number and then subtract the same number we added, we return to the number we started with. Subtraction is denoted by a <a href="/wiki/Plus_and_minus_signs" title="Plus and minus signs">minus sign</a> in <a href="/wiki/Infix_notation" title="Infix notation">infix notation</a>, in contrast to the use of the plus sign for addition.</p>
<p>Since subtraction is not a <a href="/wiki/Commutative_property" title="Commutative property">commutative</a> operator, the two operands are named. The traditional names for the parts of the <a href="/wiki/Formula" title="Formula">formula</a></p>
<dl>
<dd><i>c</i>  <i>b</i> = <i>a</i></dd>
</dl>
<p>are <i>minuend</i>&#160;(<i>c</i>)&#160;&#160;<i>subtrahend</i>&#160;(<i>b</i>) = <i>difference</i>&#160;(<i>a</i>).</p>
<p>Subtraction is used to model four related processes:</p>
<ol>
<li>From a given collection, take away (subtract) a given number of objects. For example, 5 apples minus 2 apples leaves 3 apples.</li>
<li>From a given measurement, take away a quantity measured in the same units. If I weigh 200 pounds, and lose 10 pounds, then I weigh 200&#160;&#160;10 = 190 pounds.</li>
<li>Compare two like quantities to find the difference between them. For example, the difference between $800 and $600 is $800&#160;&#160;$600 = $200. Also known as <i>comparative subtraction</i>.</li>
<li>To find the distance between two locations at a fixed distance from starting point. For example if, on a given highway, you see a mileage marker that says 150 miles and later see a mileage marker that says 160 miles, you have traveled 160&#160;&#160;150 = 10 miles.</li>
</ol>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, it is often useful to view or even define subtraction as a kind of <a href="/wiki/Addition" title="Addition">addition</a>, the addition of the <a href="/wiki/Additive_inverse" title="Additive inverse">additive inverse</a>. We can view 7&#160;&#160;3 = 4 as the sum of two <a href="/wiki/Term_(mathematics)" title="Term (mathematics)">terms</a>: 7 and -3. This perspective allows us to apply to subtraction all of the familiar rules and nomenclature of addition. Subtraction is not <a href="/wiki/Associative" title="Associative" class="mw-redirect">associative</a> or <a href="/wiki/Commutative" title="Commutative" class="mw-redirect">commutative</a>in fact, it is <a href="/wiki/Anticommutativity" title="Anticommutativity">anticommutative</a> and <a href="/wiki/Left-associative" title="Left-associative" class="mw-redirect">left-associative</a>but addition of signed numbers is both.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Basic_subtraction:_integers"><span class="tocnumber">1</span> <span class="toctext">Basic subtraction: integers</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Subtraction_as_addition"><span class="tocnumber">2</span> <span class="toctext">Subtraction as addition</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Algorithms_for_subtraction"><span class="tocnumber">3</span> <span class="toctext">Algorithms for subtraction</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#The_teaching_of_subtraction_in_schools"><span class="tocnumber">4</span> <span class="toctext">The teaching of subtraction in schools</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Notes_and_references"><span class="tocnumber">6</span> <span class="toctext">Notes and references</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#External_links"><span class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Subtraction&amp;action=&amp;section=1" title="Edit section: Basic subtraction: integers"></a>]</span> <span class="mw-headline" id="Basic_subtraction:_integers">Basic subtraction: integers</span></h2>
<div class="floatright"><a href="/wiki/File:Line_Segment_jaredwf.svg" class="image"><img alt="Line Segment jaredwf.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Line_Segment_jaredwf.svg/142px-Line_Segment_jaredwf.svg.png" width="142" height="40" /></a></div>
<p>Imagine a <a href="/wiki/Line_segment" title="Line segment">line segment</a> of <a href="/wiki/Length" title="Length">length</a> <i>b</i> with the left end labeled <i>a</i> and the right end labeled <i>c</i>. Starting from <i>a</i>, it takes <i>b</i> steps to the right to reach <i>c</i>. This movement to the right is modeled mathematically by <a href="/wiki/Addition" title="Addition">addition</a>:</p>
<dl>
<dd><i>a</i> + <i>b</i> = <i>c</i>.</dd>
</dl>
<p>From <i>c</i>, it takes <i>b</i> steps to the <i>left</i> to get back to <i>a</i>. This movement to the left is modeled by subtraction:</p>
<dl>
<dd><i>c</i>  <i>b</i> = <i>a</i>.</dd>
</dl>
<div class="floatright"><a href="/wiki/File:Subtraction_line_segment.svg" class="image"><img alt="Subtraction line segment.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Subtraction_line_segment.svg/143px-Subtraction_line_segment.svg.png" width="143" height="50" /></a></div>
<p>Now, imagine a line segment labeled with the numbers <a href="/wiki/1_(number)" title="1 (number)">1</a>, <a href="/wiki/2_(number)" title="2 (number)">2</a>, and <a href="/wiki/3_(number)" title="3 (number)">3</a>. From position 3, it takes no steps to the left to stay at 3, so 3&#160;&#160;0 = 3. It takes 2 steps to the left to get to position 1, so 3&#160;&#160;2 = 1. This picture is inadequate to describe what would happen after going 3 steps to the left of position 3. To represent such an operation, the line must be extended.</p>
<p>To subtract arbitrary <a href="/wiki/Natural_number" title="Natural number">natural numbers</a>, one begins with a line containing every natural number (0, 1, 2, 3, 4, 5, 6, ...). From 3, it takes 3 steps to the left to get to 0, so 3&#160;&#160;3 = 0. But 3&#160;&#160;4 is still invalid since it again leaves the line. The natural numbers are not a useful context for subtraction.</p>
<p>The solution is to consider the <a href="/wiki/Integer" title="Integer">integer</a> number line (..., 3, 2, 1, 0, 1, 2, 3, ...). From 3, it takes 4 steps to the left to get to 1:</p>
<dl>
<dd>3&#160;&#160;4 = 1.</dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Subtraction&amp;action=&amp;section=2" title="Edit section: Subtraction as addition"></a>]</span> <span class="mw-headline" id="Subtraction_as_addition">Subtraction as addition</span></h2>
<p>There are some cases where subtraction as a separate <a href="/wiki/Operation_(mathematics)" title="Operation (mathematics)">operation</a> becomes problematic. For example, 3&#160;&#160;(2) (i.e. subtract 2 from 3) is not immediately obvious from either a <a href="/wiki/Natural_number" title="Natural number">natural number</a> view or a number line view, because it is not immediately clear what it means to move 2 steps to the left or to take away 2 apples. One solution is to view subtraction as addition of signed numbers. Extra minus signs simply denote <a href="/wiki/Additive_inverse" title="Additive inverse">additive inversion</a>. Then we have 3&#160;&#160;(2)&#160;=&#160;3&#160;+&#160;2&#160;=&#160;5. This also helps to keep the <a href="/wiki/Ring_(mathematics)" title="Ring (mathematics)">ring</a> of integers "simple" by avoiding the introduction of "new" operators such as subtraction. Ordinarily a ring only has two operations defined on it; in the case of the integers, these are addition and multiplication. A ring already has the concept of additive inverses, but it does not have any notion of a separate subtraction operation, so the use of signed addition as subtraction allows us to apply the ring axioms to subtraction without needing to prove anything.</p>
<h2><span class="section">[<a href="/w/index.php?title=Subtraction&amp;action=&amp;section=3" title="Edit section: Algorithms for subtraction"></a>]</span> <span class="mw-headline" id="Algorithms_for_subtraction">Algorithms for subtraction</span></h2>
<p>There are various algorithms for subtraction, and they differ in their suitability for various applications. A number of methods are adapted to <a href="/wiki/Elementary_arithmetic" title="Elementary arithmetic">hand calculation</a>; for example, when making change, no actual subtraction is performed, but rather the change-maker counts forward.</p>
<p>For machine calculation, the <a href="/wiki/Method_of_complements" title="Method of complements">method of complements</a> is preferred, whereby the subtraction is replaced by an addition in a modular arithmetic.</p>
<h2><span class="section">[<a href="/w/index.php?title=Subtraction&amp;action=&amp;section=4" title="Edit section: The teaching of subtraction in schools"></a>]</span> <span class="mw-headline" id="The_teaching_of_subtraction_in_schools">The teaching of subtraction in schools</span></h2>
<p>The method by which <a href="/wiki/Elementary_school" title="Elementary school">elementary school</a> students are taught to subtract varies from country to country, and within a country, different methods are in fashion at different times. In what is in the <a href="/wiki/United_States_of_America" title="United States of America" class="mw-redirect">United States of America</a> referred to as <a href="/wiki/Traditional_mathematics" title="Traditional mathematics">traditional mathematics</a>, a specific process is taught to students at the end of the 1st year or during the 2nd year for use with multi-digit whole numbers, and is extended in either the fourth or fifth grade to include decimal representations of fractional numbers.</p>
<p>Some American schools currently teach a method of subtraction using borrowing and a system of markings called crutches<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from December 2008">citation needed</span></a></i>]</sup>. Although a method of borrowing had been known and published in textbooks prior, apparently the crutches are the invention of William A. Brownell who used them in a study in November 1937<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from December 2008">citation needed</span></a></i>]</sup>. This system caught on rapidly, displacing the other methods of subtraction in use in America at that time.</p>
<p>Some European schools employ a method of subtraction called the Austrian method, also known as the additions method. There is no borrowing in this method. There are also crutches (markings to aid the memory) which vary according to country<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from December 2008">citation needed</span></a></i>]</sup>.</p>
<p>Both these methods break up the subtraction as a process of one digit subtractions by place value. Starting with a least significant digit, a subtraction of subtrahend:</p>
<dl>
<dd><i>s</i><sub><i>j</i></sub> <i>s</i><sub><i>j</i>1</sub> ... <i>s</i><sub>1</sub></dd>
</dl>
<p>from minuend</p>
<dl>
<dd><i>m</i><sub><i>k</i></sub> <i>m</i><sub><i>k</i>1</sub> ... <i>m</i><sub>1</sub>,</dd>
</dl>
<p>where each <i>s</i><sub><i>i</i></sub> and <i>m</i><sub><i>i</i></sub> is a digit, proceeds by writing down <i>m</i><sub>1</sub>&#160;&#160;<i>s</i><sub>1</sub>, <i>m</i><sub>2</sub>&#160;&#160;<i>s</i><sub>2</sub>, and so forth, as long as <i>s</i><sub><i>i</i></sub> does not exceed <i>m</i><sub><i>i</i></sub>. Otherwise, <i>m</i><sub><i>i</i></sub> is increased by 10 and some other digit is modified to correct for this increase. The American method corrects by attempting to decrease the minuend digit <i>m</i><sub><i>i</i>+1</sub> by one (or continuing the borrow leftwards until there is a non-zero digit from which to borrow). The European method corrects by increasing the subtrahend digit <i>s</i><sub><i>i</i>+1</sub> by one.</p>
<p><b>Example:</b> 704&#160;&#160;512. The minuend is 704, the subtrahend is 512. The minuend digits are <i>m</i><sub>3</sub> = 7, <i>m</i><sub>2</sub> = 0 and <i>m</i><sub>1</sub> = 4. The subtrahend digits are <i>s</i><sub>3</sub> = 5, <i>s</i><sub>2</sub> = 1 and <i>s</i><sub>1</sub> = 2. Beginning at the one's place, 4 is not less than 2 so the difference 2 is written down in the result's one place. In the ten's place, 0 is less than 1, so the 0 is increased to 10, and the difference with 1, which is 9, is written down in the ten's place. The American method corrects for the increase of ten by reducing the digit in the minuend's hundreds place by one. That is, the 7 is struck through and replaced by a 6. The subtraction then proceeds in the hundreds place, where 6 is not less than 5, so the difference is written down in the result's hundred's place. We are now done, the result is 192.</p>
<p>The Austrian method will not reduce the 7 to 6. Rather it will increase the subtrahend hundred's digit by one. A small mark is made near or below this digit (depending on the school). Then the subtraction proceeds by asking what number when increased by 1, and 5 is added to it, makes 7. The answer is 1, and is written down in the result's hundred's place.</p>
<p>There is an additional subtlety in that the students always employs a mental subtraction table in the American method. The Austrian method often encourages the student to mentally use the addition table in reverse. In the example above, rather than adding 1 to 5, getting 6, and subtracting that from 7, the student is asked to consider what number, when increased by 1, and 5 is added to it, makes 7.</p>
<h2><span class="section">[<a href="/w/index.php?title=Subtraction&amp;action=&amp;section=5" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Elementary_arithmetic" title="Elementary arithmetic">Elementary arithmetic</a></li>
<li><a href="/wiki/Decrement" title="Decrement" class="mw-redirect">Decrement</a></li>
<li><a href="/wiki/Negative_and_non-negative_numbers" title="Negative and non-negative numbers" class="mw-redirect">Negative and non-negative numbers</a></li>
<li><a href="/wiki/Method_of_complements" title="Method of complements">Method of complements</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Subtraction&amp;action=&amp;section=6" title="Edit section: Notes and references"></a>]</span> <span class="mw-headline" id="Notes_and_references">Notes and references</span></h2>
<div class="reflist" style="list-style-type: decimal;"></div>
<ul>
<li>Browell, W. A. (1939). Learning as reorganization: An experimental study in third-grade arithmetic, Duke University Press.</li>
<li>Subtraction in the United States: An Historical Perspective, Susan Ross, Mary Pratt-Cotter, <i>The Mathematics Educator</i>, Vol. 8, No. 1 (original publication) and Vol. 10, No. 1 (reprint.) <a rel="nofollow" class="external free" href="http://math.coe.uga.edu/TME/Issues/v10n2/5ross.pdf">http://math.coe.uga.edu/TME/Issues/v10n2/5ross.pdf</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Subtraction&amp;action=&amp;section=7" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/Special:Search/subtraction">subtraction</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<p>Printable Worksheets: <a rel="nofollow" class="external text" href="http://www.kwiznet.com/p/takeQuiz.php?ChapterID=1214&amp;CurriculumID=2&amp;Method=Worksheet&amp;NQ=24&amp;NQ4P=3">One Digit Subtraction</a>, <a rel="nofollow" class="external text" href="http://www.kwiznet.com/p/takeQuiz.php?ChapterID=1202&amp;CurriculumID=2&amp;Method=Worksheet&amp;NQ=24&amp;NQ4P=3">Two Digit Subtraction</a>, and <a rel="nofollow" class="external text" href="http://www.kwiznet.com/p/takeQuiz.php?ChapterID=1273&amp;CurriculumID=3&amp;Method=Worksheet&amp;NQ=24&amp;NQ4P=3">Four Digit Subtraction</a></p>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/Curriculum/Arithmetic/SubtractionGame.shtml">Subtraction Game</a> at <a href="/wiki/Cut-the-knot" title="Cut-the-knot" class="mw-redirect">cut-the-knot</a></li>
<li><a rel="nofollow" class="external text" href="http://webhome.idirect.com/~totton/abacus/pages.htm#Subtraction1">Subtraction on a Japanese abacus</a> selected from <a rel="nofollow" class="external text" href="http://webhome.idirect.com/~totton/abacus/">Abacus: Mystery of the Bead</a></li>
</ul>
<table cellspacing="0" class="navbox" style="border-spacing:0;;">
<tr>
<td style="padding:2px;">
<table cellspacing="0" class="nowraplinks collapsible autocollapse navbox-inner" style="border-spacing:0;background:transparent;color:inherit;;">
<tr>
<th scope="col" style=";" class="navbox-title" colspan="2">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary_arithmetic" title="Template:Elementary arithmetic"><span title="View this template" style=";;background:none transparent;border:none;">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Elementary_arithmetic" title="Template talk:Elementary arithmetic"><span title="Discuss this template" style=";;background:none transparent;border:none;">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary_arithmetic&amp;action="><span title="Edit this template" style=";;background:none transparent;border:none;">e</span></a></li>
</ul>
</div>
<div class="" style="font-size:110%;"><a href="/wiki/Elementary_arithmetic" title="Elementary arithmetic">Elementary arithmetic</a></div>
</th>
</tr>
<tr style="height:2px;">
<td></td>
</tr>
<tr>
<td colspan="2" style="width:100%;padding:0px;;;background:transparent;color:inherit;" class="navbox-list navbox-odd">
<div style="padding:0px;">
<table cellspacing="0" class="navbox-columns-table" style="text-align:left;width:auto; margin-left:auto; margin-right:auto;">
<tr style="vertical-align:top;">
<td style="width:5em;">&#160;&#160;&#160;</td>
<td style="padding:0px;text-align: center;;;width:25%;">
<div>
<p><a href="/wiki/Addition" title="Addition"><img alt="Symbol support vote.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/94/Symbol_support_vote.svg/50px-Symbol_support_vote.svg.png" width="50" height="51" /></a><br />
<a href="/wiki/Addition" title="Addition">Addition</a><br />
<a href="/wiki/Addition" title="Addition"><font size="5">+</font></a></p>
</div>
</td>
<td style="border-left:2px solid #fdfdfd;padding:0px;text-align: center;;;width:25%;">
<div>
<p><a href="/wiki/Subtraction" title="Subtraction"><img alt="Symbol oppose vote.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Symbol_oppose_vote.svg/50px-Symbol_oppose_vote.svg.png" width="50" height="51" /></a><br />
<strong class="selflink">Subtraction</strong><br />
<font size="5"><strong class="selflink"></strong></font></p>
</div>
</td>
<td style="border-left:2px solid #fdfdfd;padding:0px;text-align: center;;;width:25%;">
<div>
<p><a href="/wiki/Multiplication" title="Multiplication"><img alt="Symbol multiplication vote.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Symbol_multiplication_vote.svg/50px-Symbol_multiplication_vote.svg.png" width="50" height="51" /></a><br />
<a href="/wiki/Multiplication" title="Multiplication">Multiplication</a><br />
<a href="/wiki/Multiplication" title="Multiplication"><font size="5"></font></a></p>
</div>
</td>
<td style="border-left:2px solid #fdfdfd;padding:0px;text-align: center;;;width:25%;">
<div>
<p><a href="/wiki/Division_(mathematics)" title="Division (mathematics)"><img alt="Symbol divide vote.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Symbol_divide_vote.svg/50px-Symbol_divide_vote.svg.png" width="50" height="51" /></a><br />
<a href="/wiki/Division_(mathematics)" title="Division (mathematics)">Division</a><br />
<a href="/wiki/Division_(mathematics)" title="Division (mathematics)"><font size="5"></font></a></p>
</div>
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 2076/1000000
Post-expand include size: 24662/2048000 bytes
Template argument size: 9165/2048000 bytes
Expensive parser function count: 3/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:74141-0!*!0!!en!4!* and timestamp 20120409073449 -->
