<table class="vertical-navbox nowraplinks" cellspacing="5" style="float: right; clear: right; background-color: #f9f9f9; border: 1px solid #aaa; width:22em; margin: 0 0 1em 1em; padding: 0.2em; border-spacing: 0.4em 0; text-align: center; line-height: 1.4em; font-size: 88%; line-height:160%; width:auto;" cellpadding="0">
<tr>
<th class="" style="padding: 0.2em 0.4em 0.2em; font-size: 145%; line-height: 1.2em; font-size:140%;padding-bottom:0.25em;"><a href="/wiki/Rule_of_inference" title="Rule of inference">Transformation rules</a></th>
</tr>
<tr>
<th class="" style="padding-top: 0.2em; border-top:#aaa 1px solid;font-size:120%;padding-bottom:0.25em;;"><a href="/wiki/Propositional_calculus" title="Propositional calculus">Propositional calculus</a></th>
</tr>
<tr>
<td class="" style="padding-bottom: 0.2em;&#160;;">
<p><b><a href="/wiki/Rule_of_inference" title="Rule of inference">Rules of inference</a></b><br />
<i><a href="/wiki/Modus_ponens" title="Modus ponens"><span title="AB, A  B">Modus ponens</span></a></i><br />
<i><a href="/wiki/Modus_tollens" title="Modus tollens"><span title="AB, B  A">Modus tollens</span></a></i><br />
<a href="/wiki/Biconditional_introduction" title="Biconditional introduction">Biconditional introduction</a><br />
<a href="/wiki/Biconditional_elimination" title="Biconditional elimination">Biconditional elimination</a><br />
<a href="/wiki/Conjunction_introduction" title="Conjunction introduction"><span title="A, B  AB">Conjunction introduction</span></a><br />
<a href="/wiki/Simplification" title="Simplification"><span title="AB  A">Simplification</span></a><br />
<a href="/wiki/Disjunction_introduction" title="Disjunction introduction"><span title="A  AB">Disjunction introduction</span></a><br />
<a href="/wiki/Disjunction_elimination" title="Disjunction elimination"><span title="AB, AC, BC  C">Disjunction elimination</span></a><br />
<a href="/wiki/Disjunctive_syllogism" title="Disjunctive syllogism"><span title="AB, A  B">Disjunctive syllogism</span></a><br />
<a href="/wiki/Hypothetical_syllogism" title="Hypothetical syllogism"><span title="AB, BC  AC">Hypothetical syllogism</span></a><br />
<a href="/wiki/Constructive_dilemma" title="Constructive dilemma"><span title="AP, BQ, AB  PQ">Constructive dilemma</span></a><br />
<a href="/wiki/Destructive_dilemma" title="Destructive dilemma"><span title="AP, BQ, PQ  AB">Destructive dilemma</span></a><br />
<a href="/wiki/Absorption_(logic)" title="Absorption (logic)"><span title="AB  AAB">Absorption</span></a><br /></p>
<p><b><a href="/wiki/Rule_of_replacement" title="Rule of replacement">Rules of replacement</a></b><br /></p>
<a href="/wiki/Associative_property" title="Associative property"><span title="A(BC) = (AB)C">Associativity</span></a><br />
<a href="/wiki/Commutative_property" title="Commutative property">Commutativity</a><br />
<strong class="selflink"><span title="A(BC)= (AB)(AC)">Distributivity</span></strong><br />
<a href="/wiki/Double_negative_elimination" title="Double negative elimination"><span title="A = A">Double negation</span></a><br />
<a href="/wiki/De_Morgan%27s_laws" title="De Morgan's laws">De Morgan's laws</a><br />
<a href="/wiki/Transposition_(logic)" title="Transposition (logic)">Transposition</a><br />
<a href="/wiki/Material_implication_(rule_of_inference)" title="Material implication (rule of inference)">Material implication</a><br />
<a href="/wiki/Exportation_(logic)" title="Exportation (logic)">Exportation</a><br />
<a href="/wiki/Tautology_(rule_of_inference)" title="Tautology (rule of inference)">Tautology</a><br /></td>
</tr>
<tr>
<th class="" style="padding-top: 0.2em; border-top:#aaa 1px solid;font-size:120%;padding-bottom:0.25em;;"><a href="/wiki/Predicate_logic" title="Predicate logic">Predicate logic</a></th>
</tr>
<tr>
<td class="" style="padding-bottom: 0.2em;&#160;;"><a href="/wiki/Universal_generalization" title="Universal generalization">Universal generalization</a><br />
<a href="/wiki/Universal_instantiation" title="Universal instantiation">Universal instantiation</a><br />
<a href="/wiki/Existential_generalization" title="Existential generalization">Existential generalization</a><br />
<a href="/wiki/Existential_instantiation" title="Existential instantiation">Existential instantiation</a></td>
</tr>
<tr>
<td style="text-align: right; font-size: 115%;">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Transformation_rules" title="Template:Transformation rules"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Transformation_rules" title="Template talk:Transformation rules"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Transformation_rules&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>
<p>In <a href="/wiki/Abstract_algebra" title="Abstract algebra">abstract algebra</a> and <a href="/wiki/Logic" title="Logic">logic</a>, <b>distributivity</b> is a property of <a href="/wiki/Binary_operation" title="Binary operation">binary operations</a> that generalizes the <b>distributive law</b> from <a href="/wiki/Elementary_algebra" title="Elementary algebra">elementary algebra</a>. In <a href="/wiki/Propositional_calculus" title="Propositional calculus">propositional logic</a>, <b>distribution</b> refers to two <a href="/wiki/Validity" title="Validity">valid</a> <a href="/wiki/Rule_of_replacement" title="Rule of replacement">rules of replacement</a>. The rules allow one to reformulate <a href="/wiki/Logical_conjunction" title="Logical conjunction">conjunctions</a> and <a href="/wiki/Logical_disjunction" title="Logical disjunction">disjunctions</a> within <a href="/wiki/Formal_proof" title="Formal proof">logical proofs</a>.</p>
<p>For example, in <a href="/wiki/Arithmetic" title="Arithmetic">arithmetic</a>:</p>
<dl>
<dd>2  (1 + 3) = (2  1) + (2  3).</dd>
</dl>
<p>In the left-hand side of the first equation, the 2 multiplies the sum of 1 and 3; on the right-hand side, it multiplies the 1 and the 3 individually, with the products added afterwards. Because these give the same final answer (8), we say that multiplication by 2 <i>distributes</i> over addition of 1 and 3. Since we could have put any <a href="/wiki/Real_number" title="Real number">real numbers</a> in place of 2, 1, and 3 above, and still have obtained a true equation, we say that <a href="/wiki/Multiplication" title="Multiplication">multiplication</a> of real numbers <i>distributes</i> over <a href="/wiki/Addition" title="Addition">addition</a> of real numbers.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Definition"><span class="tocnumber">1</span> <span class="toctext">Definition</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Propositional_logic"><span class="tocnumber">2</span> <span class="toctext">Propositional logic</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Rule_of_replacement"><span class="tocnumber">2.1</span> <span class="toctext">Rule of replacement</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Truth_functional_connectives"><span class="tocnumber">2.2</span> <span class="toctext">Truth functional connectives</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-5"><a href="#Examples"><span class="tocnumber">3</span> <span class="toctext">Examples</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Distributivity_and_rounding"><span class="tocnumber">4</span> <span class="toctext">Distributivity and rounding</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Distributivity_in_rings"><span class="tocnumber">5</span> <span class="toctext">Distributivity in rings</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Generalizations_of_distributivity"><span class="tocnumber">6</span> <span class="toctext">Generalizations of distributivity</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#Notes"><span class="tocnumber">7</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#References"><span class="tocnumber">8</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#External_links"><span class="tocnumber">9</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Distributive_property&amp;action=&amp;section=1" title="Edit section: Definition"></a>]</span> <span class="mw-headline" id="Definition">Definition</span></h2>
<p>Given a <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">set</a> <i>S</i> and two <a href="/wiki/Binary_operator" title="Binary operator" class="mw-redirect">binary operators</a>  and + on <i>S</i>, we say that the operation </p>
<ul>
<li>is <i>left-distributive</i> over + if, <a href="/wiki/Given_any" title="Given any" class="mw-redirect">given any</a> elements <i>x</i>, <i>y</i>, and <i>z</i> of <i>S</i>,</li>
</ul>
<dl>
<dd>
<dl>
<dd><i>x</i>  (<i>y</i> + <i>z</i>) = (<i>x</i>  <i>y</i>) + (<i>x</i>  <i>z</i>);</dd>
</dl>
</dd>
</dl>
<ul>
<li>is <i>right-distributive</i> over + if, <a href="/wiki/Given_any" title="Given any" class="mw-redirect">given any</a> elements <i>x</i>, <i>y</i>, and <i>z</i> of <i>S</i>:</li>
</ul>
<dl>
<dd>
<dl>
<dd>(<i>y</i> + <i>z</i>)  <i>x</i> = (<i>y</i>  <i>x</i>) + (<i>z</i>  <i>x</i>);</dd>
</dl>
</dd>
</dl>
<ul>
<li>is <i>distributive</i> over + if it is left- and right-distributive.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></li>
</ul>
<p>Notice that when  is <a href="/wiki/Commutative" title="Commutative" class="mw-redirect">commutative</a>, then the three above conditions are <a href="/wiki/Logical_equivalence" title="Logical equivalence">logically equivalent</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Distributive_property&amp;action=&amp;section=2" title="Edit section: Propositional logic"></a>]</span> <span class="mw-headline" id="Propositional_logic">Propositional logic</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Distributive_property&amp;action=&amp;section=3" title="Edit section: Rule of replacement"></a>]</span> <span class="mw-headline" id="Rule_of_replacement">Rule of replacement</span></h3>
<p>In standard truth-functional propositional logic, <i>distribution</i><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup><sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup><sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup> are two valid rule of replacement. The rules allow one to distribute certain <a href="/wiki/Logical_connective" title="Logical connective">logical connectives</a> within <a href="/wiki/Well-formed_formula" title="Well-formed formula">logical expressions</a> in logical proofs. The rules are:</p>
<dl>
<dd><img class="tex" alt="(P \and (Q \or R)) \Leftrightarrow ((P \and Q) \or (P \and R))" src="//upload.wikimedia.org/wikipedia/en/math/c/9/f/c9fc46c11c29ecd1eff37e589504f34a.png" /></dd>
</dl>
<p>and</p>
<dl>
<dd><img class="tex" alt="(P \or (Q \and R)) \Leftrightarrow ((P \or Q) \and (P \or R))" src="//upload.wikimedia.org/wikipedia/en/math/4/4/6/446ad13289d7c5b3ebf8259cf8402317.png" /></dd>
</dl>
<p>where "<img class="tex" alt="\Leftrightarrow" src="//upload.wikimedia.org/wikipedia/en/math/0/1/4/014cced2b73c22eb88cdc6901afb0c9d.png" />" is a <a href="/wiki/Metalogic" title="Metalogic">metalogical</a> <a href="/wiki/Symbol_(formal)" title="Symbol (formal)">symbol</a> representing "can be replaced in a proof with."</p>
<h3><span class="section">[<a href="/w/index.php?title=Distributive_property&amp;action=&amp;section=4" title="Edit section: Truth functional connectives"></a>]</span> <span class="mw-headline" id="Truth_functional_connectives">Truth functional connectives</span></h3>
<p><i>Distributivity</i> is a property of some logical connectives of truth-functional <a href="/wiki/Propositional_logic" title="Propositional logic" class="mw-redirect">propositional logic</a>. The following logical equivalences demonstrate that distributivity is a property of particular connectives. The following are truth-functional <a href="/wiki/Tautology_(logic)" title="Tautology (logic)">tautologies</a>.</p>
<p><b>Distribution of conjunction over conjunction</b></p>
<dl>
<dd><img class="tex" alt="(P \and (Q \and R)) \leftrightarrow ((P \and Q) \and (P \and R))" src="//upload.wikimedia.org/wikipedia/en/math/3/a/d/3ad42804069fc808be3189e62944eb76.png" /></dd>
</dl>
<p><b>Distribution of conjunction over disjunction</b><sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="(P \and (Q \or R)) \leftrightarrow ((P \and Q) \or (P \and R))" src="//upload.wikimedia.org/wikipedia/en/math/5/a/5/5a5f2d4dd30721280da31cf10638d6fe.png" /></dd>
</dl>
<p><b>Distribution of disjunction over conjunction</b><sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="(P \or (Q \and R)) \leftrightarrow ((P \or Q) \and (P \or R))" src="//upload.wikimedia.org/wikipedia/en/math/e/8/0/e803f17a9add1accc54e49f80a4ba84e.png" /></dd>
</dl>
<p><b>Distribution of disjunction over disjunction</b></p>
<dl>
<dd><img class="tex" alt="(P \or (Q \or R)) \leftrightarrow ((P \or Q) \or (P \or R))" src="//upload.wikimedia.org/wikipedia/en/math/7/3/d/73da021e5b7c51429b6fb90e0ca97692.png" /></dd>
</dl>
<p><b>Distribution of implication</b></p>
<dl>
<dd><img class="tex" alt="(P \to (Q \to R)) \to ((P \to Q) \to (P \to R))" src="//upload.wikimedia.org/wikipedia/en/math/f/f/d/ffdc52bad96e50514ba9c6dd862b12ea.png" /></dd>
</dl>
<p><b>Distribution of implication over equivalence</b></p>
<dl>
<dd><img class="tex" alt="P \to (Q \leftrightarrow R) \leftrightarrow ((P \to Q) \leftrightarrow (P \to R))" src="//upload.wikimedia.org/wikipedia/en/math/c/5/3/c5387f6c71f29fd046c5dae56fc6a3ba.png" /></dd>
</dl>
<p><b>Distribution of disjunction over equivalence</b></p>
<dl>
<dd><img class="tex" alt="(P \or (Q \leftrightarrow R)) \leftrightarrow ((P \or Q) \leftrightarrow (P \or R))" src="//upload.wikimedia.org/wikipedia/en/math/3/f/d/3fdeb6e2c3085c9822c53b31ea52fefc.png" /></dd>
</dl>
<p><b>Distribution of negation over equivalence</b></p>
<dl>
<dd><img class="tex" alt="\neg (P \leftrightarrow Q) \leftrightarrow (\neg P \leftrightarrow Q)" src="//upload.wikimedia.org/wikipedia/en/math/6/3/f/63fa1dc39f0a421460e89aa70e5d8789.png" /></dd>
</dl>
<p><b>Double distribution</b></p>
<dl>
<dd><img class="tex" alt="((P \and Q) \or (R \and S)) \leftrightarrow (((P \or R) \and (P \or S)) \and ((Q \or R) \and (Q \and S)))" src="//upload.wikimedia.org/wikipedia/en/math/9/2/5/9250f4f599632dd75f9f9cc23a71c5a7.png" /></dd>
<dd><img class="tex" alt="((P \or Q) \and (R \or S)) \leftrightarrow (((P \and R) \or (P \and S)) \or ((Q \and R) \or (Q \or S)))" src="//upload.wikimedia.org/wikipedia/en/math/c/8/a/c8a4312b9ef20d22bd620f502277103d.png" /></dd>
</dl>
<p><b>Self distributive law of implication</b></p>
<dl>
<dd><img class="tex" alt="S \to (P \to Q) \to ((S \to P) \to (S \to Q))" src="//upload.wikimedia.org/wikipedia/en/math/6/7/7/677369c9486e7dc8884b79afb07e2e3b.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Distributive_property&amp;action=&amp;section=5" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h2>
<ol>
<li>Multiplication of <a href="/wiki/Number" title="Number">numbers</a> is distributive over addition of numbers, for a broad class of different kinds of numbers ranging from <a href="/wiki/Natural_number" title="Natural number">natural numbers</a> to <a href="/wiki/Complex_number" title="Complex number">complex numbers</a> and <a href="/wiki/Cardinal_number" title="Cardinal number">cardinal numbers</a>.</li>
<li>Multiplication of <a href="/wiki/Ordinal_number" title="Ordinal number">ordinal numbers</a>, in contrast, is only left-distributive, not right-distributive.</li>
<li>The <a href="/wiki/Cross_product" title="Cross product">cross product</a> is left- and right-distributive over <a href="/wiki/Vector_addition" title="Vector addition" class="mw-redirect">vector addition</a>, though not commutative.</li>
<li><a href="/wiki/Matrix_(mathematics)" title="Matrix (mathematics)">Matrix</a> <a href="/wiki/Matrix_multiplication" title="Matrix multiplication">multiplication</a> is distributive over <a href="/wiki/Matrix_addition" title="Matrix addition">matrix addition</a>, though also not commutative.</li>
<li>The <a href="/wiki/Union_(set_theory)" title="Union (set theory)">union</a> of sets is distributive over <a href="/wiki/Intersection_(set_theory)" title="Intersection (set theory)">intersection</a>, and intersection is distributive over union.</li>
<li>Logical disjunction ("or") is distributive over logical conjunction ("and"), and conjunction is distributive over disjunction.</li>
<li>For <a href="/wiki/Real_number" title="Real number">real numbers</a> (or for any <a href="/wiki/Totally_ordered_set" title="Totally ordered set" class="mw-redirect">totally ordered set</a>), the maximum operation is distributive over the minimum operation, and vice versa: max(<i>a</i>,min(<i>b</i>,<i>c</i>)) = min(max(<i>a</i>,<i>b</i>),max(<i>a</i>,<i>c</i>)) and min(<i>a</i>,max(<i>b</i>,<i>c</i>)) = max(min(<i>a</i>,<i>b</i>),min(<i>a</i>,<i>c</i>)).</li>
<li>For <a href="/wiki/Integer" title="Integer">integers</a>, the <a href="/wiki/Greatest_common_divisor" title="Greatest common divisor">greatest common divisor</a> is distributive over the <a href="/wiki/Least_common_multiple" title="Least common multiple">least common multiple</a>, and vice versa: gcd(<i>a</i>,lcm(<i>b</i>,<i>c</i>)) = lcm(gcd(<i>a</i>,<i>b</i>),gcd(<i>a</i>,<i>c</i>)) and lcm(<i>a</i>,gcd(<i>b</i>,<i>c</i>)) = gcd(lcm(<i>a</i>,<i>b</i>),LCM(<i>a</i>,<i>c</i>)).</li>
<li>For real numbers, addition distributes over the maximum operation, and also over the minimum operation: <i>a</i> + max(<i>b</i>,<i>c</i>) = max(<i>a</i>+<i>b</i>,<i>a</i>+<i>c</i>) and <i>a</i> + min(<i>b</i>,<i>c</i>) = min(<i>a</i>+<i>b</i>,<i>a</i>+<i>c</i>).</li>
</ol>
<h2><span class="section">[<a href="/w/index.php?title=Distributive_property&amp;action=&amp;section=6" title="Edit section: Distributivity and rounding"></a>]</span> <span class="mw-headline" id="Distributivity_and_rounding">Distributivity and rounding</span></h2>
<p>In practice, the distributive property of multiplication (and division) over addition may appear to be compromised or lost because of the limitations of <a href="/wiki/Arithmetic_precision" title="Arithmetic precision">arithmetic precision</a>. For example, the identity  +  +  = (1+1+1)/3 appears to fail if the addition is conducted in <a href="/wiki/Decimal_arithmetic" title="Decimal arithmetic" class="mw-redirect">decimal arithmetic</a>; however, if many <a href="/wiki/Significant_digit" title="Significant digit" class="mw-redirect">significant digits</a> are used, the calculation will result in a closer approximation to the correct results. For example, if the arithmetical calculation takes the form: 0.33333+0.33333+0.33333 = 0.99999  1, this result is a closer approximation than if fewer <a href="/wiki/Significant_digit" title="Significant digit" class="mw-redirect">significant digits</a> had been used. Even when fractional numbers can be represented exactly in arithmetical form, errors will be introduced if those arithmetical values are rounded or truncated. For example, buying two books, each priced at 14.99 before a <a href="/wiki/VAT" title="VAT" class="mw-redirect">tax</a> of 17.5%, in two separate transactions will actually save 0.01, over buying them together: 14.991.175 = 17.61 to the nearest 0.01, giving a total expenditure of 35.22, but 29.981.175 = 35.23. Methods such as <a href="/wiki/Rounding#Round_half_to_even" title="Rounding">banker's rounding</a> may help in some cases, as may increasing the precision used, but ultimately some calculation errors are inevitable.</p>
<h2><span class="section">[<a href="/w/index.php?title=Distributive_property&amp;action=&amp;section=7" title="Edit section: Distributivity in rings"></a>]</span> <span class="mw-headline" id="Distributivity_in_rings">Distributivity in rings</span></h2>
<p>Distributivity is most commonly found in <a href="/wiki/Ring_(algebra)" title="Ring (algebra)" class="mw-redirect">rings</a> and <a href="/wiki/Distributive_lattice" title="Distributive lattice">distributive lattices</a>.</p>
<p>A ring has two binary operations (commonly called "+" and "*"), and one of the requirements of a ring is that * must distribute over +. Most kinds of numbers (example 1) and matrices (example 4) form rings. A <a href="/wiki/Lattice_(order)" title="Lattice (order)">lattice</a> is another kind of <a href="/wiki/Algebraic_structure" title="Algebraic structure">algebraic structure</a> with two binary operations,  and . If either of these operations (say ) distributes over the other (), then  must also distribute over , and the lattice is called distributive. See also the article on <a href="/wiki/Distributivity_(order_theory)" title="Distributivity (order theory)">distributivity (order theory)</a>.</p>
<p>Examples 4 and 5 are <a href="/wiki/Boolean_algebra_(structure)" title="Boolean algebra (structure)">Boolean algebras</a>, which can be interpreted either as a special kind of ring (a <a href="/wiki/Boolean_ring" title="Boolean ring">Boolean ring</a>) or a special kind of distributive lattice (a <a href="/wiki/Boolean_lattice" title="Boolean lattice" class="mw-redirect">Boolean lattice</a>). Each interpretation is responsible for different distributive laws in the Boolean algebra. Examples 6 and 7 are distributive lattices which are not Boolean algebras.</p>
<p>Rings and distributive lattices are both special kinds of <a href="/wiki/Rig_(algebra)" title="Rig (algebra)" class="mw-redirect">rigs</a>, certain generalizations of rings. Those numbers in example 1 that don't form rings at least form rigs. <a href="/w/index.php?title=Near-rig&amp;action=&amp;redlink=1" class="new" title="Near-rig (page does not exist)">Near-rigs</a> are a further generalization of rigs that are left-distributive but not right-distributive; example 2 is a near-rig.</p>
<h2><span class="section">[<a href="/w/index.php?title=Distributive_property&amp;action=&amp;section=8" title="Edit section: Generalizations of distributivity"></a>]</span> <span class="mw-headline" id="Generalizations_of_distributivity">Generalizations of distributivity</span></h2>
<p>In several mathematical areas, generalized distributivity laws are considered. This may involve the weakening of the above conditions or the extension to infinitary operations. Especially in <a href="/wiki/Order_theory" title="Order theory">order theory</a> one finds numerous important variants of distributivity, some of which include infinitary operations, such as the <a href="/wiki/Infinite_distributive_law" title="Infinite distributive law" class="mw-redirect">infinite distributive law</a>; others being defined in the presence of only <i>one</i> binary operation, such as the according definitions and their relations are given in the article <a href="/wiki/Distributivity_(order_theory)" title="Distributivity (order theory)">distributivity (order theory)</a>. This also includes the notion of a <b><a href="/wiki/Completely_distributive_lattice" title="Completely distributive lattice">completely distributive lattice</a></b>.</p>
<p>In the presence of an ordering relation, one can also weaken the above equalities by replacing = by either  or . Naturally, this will lead to meaningful concepts only in some situations. An application of this principle is the notion of <b>sub-distributivity</b> as explained in the article on <a href="/wiki/Interval_arithmetic" title="Interval arithmetic">interval arithmetic</a>.</p>
<p>In <a href="/wiki/Category_theory" title="Category theory">category theory</a>, if <i>(S, , )</i> and <i>(S', ', ')</i> are <a href="/wiki/Monad_(category_theory)" title="Monad (category theory)">monads</a> on a <a href="/wiki/Category_(mathematics)" title="Category (mathematics)">category</a> <i>C</i>, a <b>distributive law</b> <i>S.S'  S'.S</i> is a <a href="/wiki/Natural_transformation" title="Natural transformation">natural transformation</a> <i>&#160;: S.S'  S'.S</i> such that (<i>S'</i> , ) is a <a href="/w/index.php?title=Lax_map_of_monads&amp;action=&amp;redlink=1" class="new" title="Lax map of monads (page does not exist)">lax map of monads</a> <i>S  S</i> and (<i>S</i>, ) is a <a href="/w/index.php?title=Colax_map_of_monads&amp;action=&amp;redlink=1" class="new" title="Colax map of monads (page does not exist)">colax map of monads</a> <i>S'  S'</i> . This is exactly the data needed to define a monad structure on <i>S'.S</i>: the multiplication map is <i>S'.'S.S'S</i> and the unit map is <i>'S.</i>. See: <a href="/wiki/Distributive_law_between_monads" title="Distributive law between monads">distributive law between monads</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Distributive_property&amp;action=&amp;section=9" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Ayres, <a rel="nofollow" class="external text" href="http://books.google.com/books?id=7r3bVWx2GHkC&amp;pg=PA20&amp;dq=%22binary+operation%22+%22Left+distributive%22#PPA20,M1">p. 20</a>.</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">Moore and Parker</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text">Copi and Cohen</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text">Hurley</span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><a href="/wiki/Bertrand_Russell" title="Bertrand Russell">Russell</a> and <a href="/wiki/Alfred_Whitehead" title="Alfred Whitehead">Whitehead</a>, <i><a href="/wiki/Principia_Mathematica" title="Principia Mathematica">Principia Mathematica</a></i></span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text"><a href="/wiki/Bertrand_Russell" title="Bertrand Russell">Russell</a> and <a href="/wiki/Alfred_Whitehead" title="Alfred Whitehead">Whitehead</a>, <i><a href="/wiki/Principia_Mathematica" title="Principia Mathematica">Principia Mathematica</a></i></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Distributive_property&amp;action=&amp;section=10" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li>Ayres, Frank, <i>Schaum's Outline of Modern Abstract Algebra</i>, McGraw-Hill; 1st ion (June 1, 1965). <a href="/wiki/Special:BookSources/0070026556" class="internal mw-magiclink-isbn">ISBN 0-07-002655-6</a>.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Distributive_property&amp;action=&amp;section=11" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/distributivity">distributivity</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/Curriculum/Arithmetic/DistributiveLaw.shtml">A demonstration of the Distributive Law</a> for integer arithmetic (from <a href="/wiki/Cut-the-knot" title="Cut-the-knot" class="mw-redirect">cut-the-knot</a>)</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 857/1000000
Post-expand include size: 12233/2048000 bytes
Template argument size: 4906/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:103118-0!0!0!!en!4!* and timestamp 20120414125656 -->
