<table class="metadata plainlinks ambox ambox-style ambox-More_footnotes" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Text_document_with_red_question_mark.svg/40px-Text_document_with_red_question_mark.svg.png" width="40" height="40" /></div>
</td>
<td class="mbox-text" style="">This article includes a <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">list of references</a>, but <b>its sources remain unclear because it has insufficient <a href="/wiki/Wikipedia:INCITE" title="Wikipedia:INCITE" class="mw-redirect">inline citations</a></b>. Please help to <a href="/wiki/Wikipedia:WikiProject_Fact_and_Reference_Check" title="Wikipedia:WikiProject Fact and Reference Check">improve</a> this article by <a href="/wiki/Wikipedia:When_to_cite" title="Wikipedia:When to cite">introducing</a> more precise citations. <small><i>(September 2010)</i></small></td>
</tr>
</table>
<p><b>Elementary algebra</b> is a fundamental and relatively basic form of <a href="/wiki/Algebra" title="Algebra">algebra</a>. It is taught to students who are presumed to have little or no formal knowledge of <a href="/wiki/Mathematics" title="Mathematics">mathematics</a> beyond <a href="/wiki/Arithmetic" title="Arithmetic">arithmetic</a>. It is typically taught in <a href="/wiki/Secondary_school" title="Secondary school">secondary school</a> under the term <b>algebra</b>. The major difference between algebra and arithmetic is the inclusion of <a href="/wiki/Variable_(mathematics)" title="Variable (mathematics)">variables</a>. While in arithmetic only <a href="/wiki/Number" title="Number">numbers</a> and their arithmetical operations (such as +, , , ) occur, in algebra, one also uses variables such as <i>x</i> and <i>y</i>, or <i>a</i> and <i>b</i> to replace numbers.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Features_of_algebra"><span class="tocnumber">1</span> <span class="toctext">Features of algebra</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Variables"><span class="tocnumber">1.1</span> <span class="toctext">Variables</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Expressions"><span class="tocnumber">1.2</span> <span class="toctext">Expressions</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Operations"><span class="tocnumber">1.3</span> <span class="toctext">Operations</span></a>
<ul>
<li class="toclevel-3 tocsection-5"><a href="#Properties_of_operations"><span class="tocnumber">1.3.1</span> <span class="toctext">Properties of operations</span></a></li>
<li class="toclevel-3 tocsection-6"><a href="#Order_of_operations"><span class="tocnumber">1.3.2</span> <span class="toctext">Order of operations</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-7"><a href="#Equations"><span class="tocnumber">1.4</span> <span class="toctext">Equations</span></a>
<ul>
<li class="toclevel-3 tocsection-8"><a href="#Properties_of_equality"><span class="tocnumber">1.4.1</span> <span class="toctext">Properties of equality</span></a></li>
<li class="toclevel-3 tocsection-9"><a href="#Properties_of_inequality"><span class="tocnumber">1.4.2</span> <span class="toctext">Properties of inequality</span></a></li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1 tocsection-10"><a href="#Algebraic_examples"><span class="tocnumber">2</span> <span class="toctext">Algebraic examples</span></a>
<ul>
<li class="toclevel-2 tocsection-11"><a href="#Linear_equations_in_one_variable"><span class="tocnumber">2.1</span> <span class="toctext">Linear equations in one variable</span></a></li>
<li class="toclevel-2 tocsection-12"><a href="#Quadratic_equations"><span class="tocnumber">2.2</span> <span class="toctext">Quadratic equations</span></a></li>
<li class="toclevel-2 tocsection-13"><a href="#Exponential_and_logarithmic_equations"><span class="tocnumber">2.3</span> <span class="toctext">Exponential and logarithmic equations</span></a></li>
<li class="toclevel-2 tocsection-14"><a href="#Radical_equations"><span class="tocnumber">2.4</span> <span class="toctext">Radical equations</span></a></li>
<li class="toclevel-2 tocsection-15"><a href="#System_of_linear_equations"><span class="tocnumber">2.5</span> <span class="toctext">System of linear equations</span></a>
<ul>
<li class="toclevel-3 tocsection-16"><a href="#Elimination_method"><span class="tocnumber">2.5.1</span> <span class="toctext">Elimination method</span></a></li>
<li class="toclevel-3 tocsection-17"><a href="#Second_method_of_finding_a_solution"><span class="tocnumber">2.5.2</span> <span class="toctext">Second method of finding a solution</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-18"><a href="#Other_types_of_systems_of_linear_equations"><span class="tocnumber">2.6</span> <span class="toctext">Other types of systems of linear equations</span></a>
<ul>
<li class="toclevel-3 tocsection-19"><a href="#Unsolvable_systems"><span class="tocnumber">2.6.1</span> <span class="toctext">Unsolvable systems</span></a></li>
<li class="toclevel-3 tocsection-20"><a href="#Undetermined_systems"><span class="tocnumber">2.6.2</span> <span class="toctext">Undetermined systems</span></a></li>
<li class="toclevel-3 tocsection-21"><a href="#Over-_and_underdetermined_systems"><span class="tocnumber">2.6.3</span> <span class="toctext">Over- and underdetermined systems</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-22"><a href="#Relation_between_solvability_and_multiplicity"><span class="tocnumber">2.7</span> <span class="toctext">Relation between solvability and multiplicity</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-23"><a href="#See_also"><span class="tocnumber">3</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-24"><a href="#References"><span class="tocnumber">4</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-25"><a href="#External_links"><span class="tocnumber">5</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=1" title="Edit section: Features of algebra"></a>]</span> <span class="mw-headline" id="Features_of_algebra">Features of algebra</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=2" title="Edit section: Variables"></a>]</span> <span class="mw-headline" id="Variables">Variables</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Variable_(mathematics)" title="Variable (mathematics)">Variable (mathematics)</a></div>
<p>A variable is a letter or symbol used in algebra to represent numbers.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> The purpose of using variables is to allow the making of generalizations in mathematics. This is useful because:</p>
<ul>
<li>It allows arithmetical <a href="/wiki/Equation" title="Equation">equations</a> (and <a href="/wiki/Inequalities" title="Inequalities" class="mw-redirect">inequalities</a>) to be stated as laws (such as <i>a</i> + <i>b</i> = <i>b</i> + <i>a</i> for all <i>a</i> and <i>b</i>), and thus is the first step to the systematic study of the properties of the <a href="/wiki/Real_number" title="Real number">real number system</a>.</li>
<li>It allows reference to numbers which are not known. In the context of a problem, a variable may represent a certain value which is not yet known, but which may be found through the formulation and manipulation of equations.</li>
<li>It allows the exploration of mathematical relationships between quantities (such as "if you sell <i>x</i> tickets, then your profit will be 3<i>x</i>  10 dollars").</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=3" title="Edit section: Expressions"></a>]</span> <span class="mw-headline" id="Expressions">Expressions</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Expression_(mathematics)" title="Expression (mathematics)">Expression (mathematics)</a></div>
<p>In elementary algebra, an expression may contain numbers, variables and arithmetical operations. These are conventionally written with 'higher-power' terms on the left (see <a href="/wiki/Polynomial" title="Polynomial">polynomial</a>); a few examples are:</p>
<dl>
<dd><img class="tex" alt="x + 3\," src="//upload.wikimedia.org/wikipedia/en/math/4/c/f/4cf40911c56c2905af9740acb3776bca.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="y^{2} + 2x - 3\," src="//upload.wikimedia.org/wikipedia/en/math/b/c/5/bc5c7f1eee1e6f0719a6f30166fb9ee7.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="z^{7} + a(b + x^{3}) + 42/y - \pi\," src="//upload.wikimedia.org/wikipedia/en/math/7/0/b/70b3ff01c2749fb463a0c84199711b8d.png" /></dd>
</dl>
<p>In more advanced algebra, an expression may also include <a href="/wiki/Elementary_functions" title="Elementary functions" class="mw-redirect">elementary functions</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=4" title="Edit section: Operations"></a>]</span> <span class="mw-headline" id="Operations">Operations</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Operation_(mathematics)" title="Operation (mathematics)">Operation (mathematics)</a></div>
<h4><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=5" title="Edit section: Properties of operations"></a>]</span> <span class="mw-headline" id="Properties_of_operations">Properties of operations</span></h4>
<table class="wikitable" style="width:100%;">
<tr>
<th>Operation</th>
<th>Is Written</th>
<th><a href="/wiki/Commutative_operation" title="Commutative operation" class="mw-redirect">commutative</a></th>
<th><a href="/wiki/Associative" title="Associative" class="mw-redirect">associative</a></th>
<th><a href="/wiki/Identity_element" title="Identity element">identity element</a></th>
<th><a href="/wiki/Inverse_operation" title="Inverse operation" class="mw-redirect">inverse operation</a></th>
</tr>
<tr>
<td>Addition</td>
<td><i>a</i> + <i>b</i></td>
<td><i>a</i> + <i>b</i> = <i>b</i> + <i>a</i></td>
<td>(<i>a</i> + <i>b</i>) + <i>c</i> = <i>a</i> + (<i>b</i> + <i>c</i>)</td>
<td>0, which preserves numbers: <i>a</i> + 0 = <i>a</i></td>
<td>Subtraction ( - )</td>
</tr>
<tr>
<td>Multiplication</td>
<td><i>a</i>  <i>b</i> or <i>a</i><i>b</i></td>
<td><i>a</i>  <i>b</i> = <i>b</i>  <i>a</i></td>
<td>(<i>a</i>  <i>b</i>)  <i>c</i> = <i>a</i>  (<i>b</i>  <i>c</i>)</td>
<td>1, which preserves numbers: <i>a</i>  1 = <i>a</i></td>
<td>Division ( / )</td>
</tr>
<tr>
<td>Exponentiation</td>
<td><i>a</i><sup><i>b</i></sup> or <i>a</i>^<i>b</i></td>
<td>Not commutative <i>a</i><sup><i>b</i></sup><i>b</i><sup><i>a</i></sup></td>
<td>Not associative</td>
<td>1, which preserves numbers: <i>a</i><sup>1</sup> = <i>a</i></td>
<td>Logarithm (Log)</td>
</tr>
</table>
<ul>
<li>The operation of <a href="/wiki/Addition" title="Addition">addition</a>...
<ul>
<li>means repeated addition of ones: <i>a + n</i> = <i>a</i> + 1 + 1 +...+ 1 (<i>n</i> number of times);</li>
<li>has an inverse operation called subtraction: (<i>a</i> + <i>b</i>)  <i>b</i> = <i>a</i>, which is the same as adding a negative number, <i>a</i>  <i>b</i> = <i>a</i> + (<i>b</i>);</li>
</ul>
</li>
</ul>
<ul>
<li>The operation of <a href="/wiki/Multiplication" title="Multiplication">multiplication</a>...
<ul>
<li>means repeated addition: <i>a</i>  <i>n</i> = <i>a</i> + <i>a</i> +...+ <i>a</i> (<i>n</i> number of times);</li>
<li>has an inverse operation called division which is defined for non-<a href="/wiki/Zero" title="Zero" class="mw-redirect">zero</a> numbers: (<i>ab</i>)/<i>b</i> = <i>a</i>, which is the same as multiplying by a <a href="/wiki/Reciprocal_(mathematics)" title="Reciprocal (mathematics)" class="mw-redirect">reciprocal</a>, <i>a</i>/<i>b</i> = <i>a</i>(1/<i>b</i>);</li>
<li><a href="/wiki/Distributivity" title="Distributivity" class="mw-redirect">distributes</a> over addition: (<i>a</i> + <i>b</i>)<i>c</i> = <i>ac</i> + <i>bc</i>;</li>
<li>is abbreviated by juxtaposition: <i>a</i>  <i>b</i>  <i>ab</i>;</li>
</ul>
</li>
</ul>
<ul>
<li>The operation of <a href="/wiki/Exponentiation" title="Exponentiation">exponentiation</a>...
<ul>
<li>means repeated multiplication: <i>a</i><sup><i>n</i></sup> = <i>a</i>  <i>a</i> ... <i>a</i> (<i>n</i> number of times);</li>
<li>has an inverse operation, called the <a href="/wiki/Logarithm" title="Logarithm">logarithm</a>: <i>a</i><sup>log<sub>a</sub><i>b</i></sup> = <i>b</i> = log<sub><i>a</i></sub><i>a</i><sup><i>b</i></sup>;</li>
<li>distributes over multiplication: (<i>ab</i>)<sup><i>c</i></sup> = <i>a</i><sup><i>c</i></sup><i>b</i><sup><i>c</i></sup>;</li>
<li>can be written in terms of <i>n</i>-th roots: <i>a</i><sup><i>m</i>/<i>n</i></sup>  (<sup><i>n</i></sup><span style="text-decoration:overline"><i>a</i></span>)<sup><i>m</i></sup> and thus even roots of negative numbers do not exist in the real number system. (See: <a href="/wiki/Complex_number" title="Complex number">complex number system</a>)</li>
<li>has the property: <i>a</i><sup><i>b</i></sup><i>a</i><sup><i>c</i></sup> = <i>a</i><sup><i>b</i> + <i>c</i></sup>;</li>
<li>has the property: (<i>a</i><sup><i>b</i></sup>)<sup><i>c</i></sup> = <i>a</i><sup><i>bc</i></sup>.</li>
<li>in general <i>a</i><sup><i>b</i></sup>  <i>b</i><sup><i>a</i></sup> and (<i>a</i><sup><i>b</i></sup>)<sup><i>c</i></sup>  <i>a</i><sup>(<i>b</i><sup><i>c</i></sup>)</sup>;</li>
</ul>
</li>
</ul>
<h4><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=6" title="Edit section: Order of operations"></a>]</span> <span class="mw-headline" id="Order_of_operations">Order of operations</span></h4>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Order_of_operations" title="Order of operations">Order of operations</a></div>
<p>In mathematics it is important that the value of an expression is always computed the same way. Therefore, it is necessary to compute the parts of an expression in a particular order, known as the <b>order of operations</b>. The standard order of operations is expressed in the following chart.</p>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd><b>parenthesis</b> and other grouping symbols including <b>brackets</b>, <b>absolute value symbols</b>, and the <b>fraction bar</b></dd>
<dd><b>exponents</b> and <b>roots</b></dd>
<dd><b>multiplication</b> and <b>division</b></dd>
<dd><b>addition</b> and <b>subtraction</b></dd>
</dl>
</dd>
</dl>
</dd>
</dl>
<p>A common mnemonic device for remembering this order is PEMDAS. Generally in Elementary Algebra, the use of brackets (often called <a href="/wiki/Parentheses" title="Parentheses" class="mw-redirect">parentheses</a>) and their simple applications will be taught at most of the <a href="/wiki/School" title="School">schools</a> in the world.</p>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=7" title="Edit section: Equations"></a>]</span> <span class="mw-headline" id="Equations">Equations</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Equation" title="Equation">Equation</a></div>
<p>An equation is the claim that two expressions have the same value and are equal. Some equations are true for all values of the involved variables (such as <i>a</i> + <i>b</i> = <i>b</i> + <i>a</i>); such equations are called <a href="/wiki/Identity_(mathematics)" title="Identity (mathematics)">identities</a>. Conditional equations are true for only some values of the involved variables: <i>x</i><sup>2</sup>  1 = 4. The values of the variables which make the equation true are the solutions of the equation and can be found through <a href="/wiki/Equation_solving" title="Equation solving">equation solving</a>.</p>
<h4><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=8" title="Edit section: Properties of equality"></a>]</span> <span class="mw-headline" id="Properties_of_equality">Properties of equality</span></h4>
<ul>
<li>The relation of equality (=) is...
<ul>
<li><a href="/wiki/Reflexive_relation" title="Reflexive relation">reflexive</a>: <i>b</i> = <i>b</i>;</li>
<li><a href="/wiki/Symmetric_relation" title="Symmetric relation">symmetric</a>: if <i>a</i> = <i>b</i> then <i>b</i> = <i>a</i>;</li>
<li><a href="/wiki/Transitive_relation" title="Transitive relation">transitive</a>: if <i>a</i> = <i>b</i> and <i>b</i> = <i>c</i> then <i>a</i> = <i>c</i>.</li>
</ul>
</li>
</ul>
<ul>
<li>The relation of equality (=) has the property...
<ul>
<li>that if <i>a</i> = <i>b</i> and <i>c</i> = <i>d</i> then <i>a</i> + <i>c</i> = <i>b</i> + <i>d</i> and <i>ac</i> = <i>bd</i>;</li>
<li>that if <i>a</i> = <i>b</i> then <i>a</i> + <i>c</i> = <i>b</i> + <i>c</i>;</li>
<li>that if two symbols are equal, then one can be substituted for the other.</li>
</ul>
</li>
</ul>
<h4><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=9" title="Edit section: Properties of inequality"></a>]</span> <span class="mw-headline" id="Properties_of_inequality">Properties of inequality</span></h4>
<ul>
<li>The relation of inequality (&lt;) has the property...
<ul>
<li>of transivity: if <i>a</i> &lt; <i>b</i> and <i>b</i> &lt; <i>c</i> then <i>a</i> &lt; <i>c</i>;</li>
<li>that if <i>a</i> &lt; <i>b</i> and <i>c</i> &lt; <i>d</i> then <i>a</i> + <i>c</i> &lt; <i>b</i> + <i>d</i>;</li>
<li>that if <i>a</i> &lt; <i>b</i> and <i>c</i> &gt; 0 then <i>ac</i> &lt; <i>bc</i>;</li>
<li>that if <i>a</i> &lt; <i>b</i> and <i>c</i> &lt; 0 then <i>bc</i> &lt; <i>ac</i>.</li>
</ul>
</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=10" title="Edit section: Algebraic examples"></a>]</span> <span class="mw-headline" id="Algebraic_examples">Algebraic examples</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Algebraproblem.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Algebraproblem.jpg/220px-Algebraproblem.jpg" width="220" height="165" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Algebraproblem.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A typical algebra problem.</div>
</div>
</div>
<p>The following sections lay out examples of some of the types of alegbraic equations you might encounter.</p>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=11" title="Edit section: Linear equations in one variable"></a>]</span> <span class="mw-headline" id="Linear_equations_in_one_variable">Linear equations in one variable</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Linear_equation" title="Linear equation">Linear equation</a></div>
<p>The simplest equations to solve are <a href="/wiki/Linear_equation" title="Linear equation">linear equations</a> that have only one variable. They contain only constant numbers and a single variable without an exponent. For example:</p>
<dl>
<dd><img class="tex" alt="2x + 4 = 12. \," src="//upload.wikimedia.org/wikipedia/en/math/b/7/b/b7b6b5444d5b4b10ea1a0ee78aa06ef1.png" /></dd>
</dl>
<p>The central technique is add, subtract, multiply, or divide both sides of the equation by the same number in order to isolate the variable on one side of the equation. Once the variable is isolated, the other side of the equation is the value of the variable.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> For example, by subtracting 4 from both sides in the equation above:</p>
<dl>
<dd><img class="tex" alt="2x + 4 - 4 = 12 - 4 \," src="//upload.wikimedia.org/wikipedia/en/math/e/8/f/e8f0011ae1cc1eece57f1a95fe8d25e5.png" /></dd>
</dl>
<p>can simplify to:</p>
<dl>
<dd><img class="tex" alt="2x = 8. \," src="//upload.wikimedia.org/wikipedia/en/math/4/9/1/491b345ec8e4c22e6705018f187b342b.png" /></dd>
</dl>
<p>Dividing both sides by 2:</p>
<dl>
<dd><img class="tex" alt="\frac{2x}{2} = \frac{8}{2} \," src="//upload.wikimedia.org/wikipedia/en/math/9/7/b/97ba4159aa82e6931e812f0d88e0b89d.png" /></dd>
</dl>
<p>simplifies to the solution:</p>
<dl>
<dd><img class="tex" alt="x = 4. \," src="//upload.wikimedia.org/wikipedia/en/math/2/e/4/2e42e306a4d3f5101d8c362a61fa1433.png" /></dd>
</dl>
<p>The general case,</p>
<dl>
<dd><img class="tex" alt="ax+b=c\," src="//upload.wikimedia.org/wikipedia/en/math/d/6/a/d6a5e943dc14a6d8cccab26fa83cb51c.png" /></dd>
</dl>
<p>follows the same procedure to obtain the solution:</p>
<dl>
<dd><img class="tex" alt="x=\frac{c-b}{a}" src="//upload.wikimedia.org/wikipedia/en/math/f/5/f/f5fe5772a6b6ba92637154e17166b5aa.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=12" title="Edit section: Quadratic equations"></a>]</span> <span class="mw-headline" id="Quadratic_equations">Quadratic equations</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Quadratic_equation" title="Quadratic equation">Quadratic equation</a></div>
<p><a href="/wiki/Quadratic_equation" title="Quadratic equation">Quadratic equations</a> can be expressed in the form <i>ax</i><sup>2</sup> + <i>bx</i> + <i>c</i> = 0, where <i>a</i> is not zero (if it were zero, then the equation would not be quadratic but linear). Because of this a quadratic equation must contain the term <i>ax</i><sup>2</sup>, which is known as the quadratic term. Hence <i>a</i>  0, and so we may divide by <i>a</i> and rearrange the equation into the standard form</p>
<dl>
<dd><img class="tex" alt="x^2 + px = q\," src="//upload.wikimedia.org/wikipedia/en/math/f/0/8/f0877fc10acf0d8d3d5756a908d4b913.png" /></dd>
</dl>
<p>where <i>p</i> = <i>b</i>/<i>a</i> and <i>q</i> = <i>c</i>/<i>a</i>. Solving this, by a process known as <a href="/wiki/Completing_the_square" title="Completing the square">completing the square</a>, leads to the <a href="/wiki/Quadratic_formula" title="Quadratic formula" class="mw-redirect">quadratic formula</a>.</p>
<p>Quadratic equations can also be solved using <a href="/wiki/Factorization" title="Factorization">factorization</a> (the reverse process of which is <a href="/wiki/Polynomial_expansion" title="Polynomial expansion">expansion</a>, but for two <a href="/wiki/Linear_function" title="Linear function">linear terms</a> is sometimes denoted <a href="/wiki/FOIL_rule" title="FOIL rule" class="mw-redirect">foiling</a>). As an example of factoring:</p>
<dl>
<dd><img class="tex" alt="x^{2} + 3x - 10 = 0. \," src="//upload.wikimedia.org/wikipedia/en/math/4/0/d/40dcb4b95d24b46d3128c2725b59f874.png" /></dd>
</dl>
<p>Which is the same thing as</p>
<dl>
<dd><img class="tex" alt="(x + 5)(x - 2) = 0. \," src="//upload.wikimedia.org/wikipedia/en/math/e/c/5/ec5bc75cc6c9c978c27ebf81cf03002b.png" /></dd>
</dl>
<p>It follows from the <a href="/wiki/Zero-product_property" title="Zero-product property">zero-product property</a> that either <i>x</i> = 2 or <i>x</i> = 5 are the solutions, since precisely one of the factors must be equal to <a href="/wiki/Zero" title="Zero" class="mw-redirect">zero</a>. All quadratic equations will have two solutions in the <a href="/wiki/Complex_number" title="Complex number">complex number</a> system, but need not have any in the <a href="/wiki/Real_number" title="Real number">real number</a> system. For example,</p>
<dl>
<dd><img class="tex" alt="x^{2} + 1 = 0 \," src="//upload.wikimedia.org/wikipedia/en/math/9/5/9/9591713ee78c0e00f4abb01802d71433.png" /></dd>
</dl>
<p>has no real number solution since no real number squared equals 1. Sometimes a quadratic equation has a root of <a href="/wiki/Multiplicity_(mathematics)" title="Multiplicity (mathematics)">multiplicity</a> 2, such as:</p>
<dl>
<dd><img class="tex" alt="(x + 1)^{2} = 0. \," src="//upload.wikimedia.org/wikipedia/en/math/b/f/1/bf1d6cde32379d06e87848a4d7ee9979.png" /></dd>
</dl>
<p>For this equation, 1 is a root of multiplicity 2. This means -1 appears two times.</p>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=13" title="Edit section: Exponential and logarithmic equations"></a>]</span> <span class="mw-headline" id="Exponential_and_logarithmic_equations">Exponential and logarithmic equations</span></h3>
<p>An exponential equation is an equation of the form <i>a</i><sup><i>X</i></sup> = <i>b</i> for <i>a</i> &gt; 0, which has solution</p>
<dl>
<dd><img class="tex" alt="X = \log_a b = \frac{\ln b}{\ln a}" src="//upload.wikimedia.org/wikipedia/en/math/e/9/f/e9f6a34af27bc5413392b351371f7b4e.png" /></dd>
</dl>
<p>when <i>b</i> &gt; 0. Elementary algebraic techniques are used to rewrite a given equation in the above way before arriving at the solution. For example, if</p>
<dl>
<dd><img class="tex" alt="3 \cdot 2^{x - 1} + 1 = 10" src="//upload.wikimedia.org/wikipedia/en/math/4/3/b/43b2bae5310354281bed451d7f4181f3.png" /></dd>
</dl>
<p>then, by subtracting 1 from both sides of the equation, and then dividing both sides by 3 we obtain</p>
<dl>
<dd><img class="tex" alt="2^{x - 1} = 3\," src="//upload.wikimedia.org/wikipedia/en/math/a/f/6/af6dfee5ae9ccbeedc0d6eddfe714bda.png" /></dd>
</dl>
<p>whence</p>
<dl>
<dd><img class="tex" alt="x - 1 = \log_2 3\," src="//upload.wikimedia.org/wikipedia/en/math/b/e/6/be6a586578777a79f093e27b8b8fa9bd.png" /></dd>
</dl>
<p>or</p>
<dl>
<dd><img class="tex" alt="x = \log_2 3 + 1.\," src="//upload.wikimedia.org/wikipedia/en/math/1/9/c/19c6cbee8047259d7454e5578b8e097b.png" /></dd>
</dl>
<p>A logarithmic equation is an equation of the form log<sub><i>a</i></sub><i>X</i> = <i>b</i> for <i>a</i> &gt; 0, which has solution</p>
<dl>
<dd><img class="tex" alt="X = a^b.\," src="//upload.wikimedia.org/wikipedia/en/math/b/d/c/bdc78b124e1b4f2f0e2f7f5af4e2b54f.png" /></dd>
</dl>
<p>For example, if</p>
<dl>
<dd><img class="tex" alt="4\log_5(x - 3) - 2 = 6\," src="//upload.wikimedia.org/wikipedia/en/math/d/7/7/d775ab5347166c83dc4bc60a9c18fd01.png" /></dd>
</dl>
<p>then, by adding 2 to both sides of the equation, followed by dividing both sides by 4, we get</p>
<dl>
<dd><img class="tex" alt="\log_5(x - 3) = 2\," src="//upload.wikimedia.org/wikipedia/en/math/b/c/1/bc19c6086151e6bb769bca2e9111d0bf.png" /></dd>
</dl>
<p>whence</p>
<dl>
<dd><img class="tex" alt="x - 3 = 5^2 = 25\," src="//upload.wikimedia.org/wikipedia/en/math/8/8/c/88c78b3ee27da5f4a109d388d6a11f23.png" /></dd>
</dl>
<p>from which we obtain</p>
<dl>
<dd><img class="tex" alt="x = 28.\," src="//upload.wikimedia.org/wikipedia/en/math/d/b/5/db5aa012e697f41b599844627ecb8da2.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=14" title="Edit section: Radical equations"></a>]</span> <span class="mw-headline" id="Radical_equations">Radical equations</span></h3>
<p>A radical equation is an equation of the form <i>X</i><sup><i>m</i>/<i>n</i></sup> = <i>a</i>, for <i>m</i>, <i>n</i> <a href="/wiki/Integer" title="Integer">integers</a>, which has solution</p>
<dl>
<dd><img class="tex" alt="X = \sqrt[m]{a^n} = \left(\sqrt[m]a\right)^n" src="//upload.wikimedia.org/wikipedia/en/math/e/3/1/e311cb67382767a6edecc9fcd76dceb5.png" /></dd>
</dl>
<p>if <i>m</i> is odd, and solution, and</p>
<dl>
<dd><img class="tex" alt="X = \pm \sqrt[m]{a^n} = \pm \left(\sqrt[m]a\right)^n" src="//upload.wikimedia.org/wikipedia/en/math/2/9/3/293c464b10653e28c3585eb43918e19d.png" /></dd>
</dl>
<p>if <i>m</i> is even and <i>a</i>  0.</p>
<p>For example, if --------------------</p>
<dl>
<dd><img class="tex" alt="(x + 5)^{2/3} = 4,\," src="//upload.wikimedia.org/wikipedia/en/math/b/5/0/b50ac7cb95be4a3906326f9b3eaca815.png" /></dd>
</dl>
<p>then</p>
<dl>
<dd><img class="tex" alt="x + 5 = \pm (\sqrt{4})^3 = \pm 8" src="//upload.wikimedia.org/wikipedia/en/math/0/1/a/01aa02c46688a9e3cf901978966b68b2.png" /></dd>
<dd><img class="tex" alt="x = -5 \pm 8 " src="//upload.wikimedia.org/wikipedia/en/math/2/c/a/2caea42af3774814e1d5ba844df7d20a.png" /></dd>
</dl>
<p>or</p>
<dl>
<dd><img class="tex" alt="x = 3,-13\, " src="//upload.wikimedia.org/wikipedia/en/math/2/8/7/287a90632b5c1ab9bed531b9f92acd0f.png" />.</dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=15" title="Edit section: System of linear equations"></a>]</span> <span class="mw-headline" id="System_of_linear_equations">System of linear equations</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/System_of_linear_equations" title="System of linear equations">System of linear equations</a></div>
<p>In the case of a <a href="/wiki/System_of_linear_equations" title="System of linear equations">system of linear equations</a>, like, for instance, two equations in two variables, it is often possible to find the solutions of both variables that satisfy both equations.</p>
<h4><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=16" title="Edit section: Elimination method"></a>]</span> <span class="mw-headline" id="Elimination_method">Elimination method</span></h4>
<p>An example of solving a system of linear equations is by using the elimination method:</p>
<dl>
<dd><img class="tex" alt="\begin{cases}4x + 2y = 14 \\ 2x - y = 1.\end{cases} \," src="//upload.wikimedia.org/wikipedia/en/math/9/a/e/9ae436ab07efd3cff225ea18e9c12916.png" /></dd>
</dl>
<p>Multiplying the terms in the second equation by 2:</p>
<dl>
<dd><img class="tex" alt="4x + 2y = 14 \," src="//upload.wikimedia.org/wikipedia/en/math/8/9/9/899964fabec4f77f12aed7cdd1dbd1d9.png" /></dd>
<dd><img class="tex" alt="4x - 2y = 2. \," src="//upload.wikimedia.org/wikipedia/en/math/b/c/7/bc741fb9f660cfaaab4d7edf78a4534a.png" /></dd>
</dl>
<p>Adding the two equations together to get:</p>
<dl>
<dd><img class="tex" alt="8x = 16 \," src="//upload.wikimedia.org/wikipedia/en/math/9/6/9/9693aa99bd4aba0f0b0830e556b4f02b.png" /></dd>
</dl>
<p>which simplifies to</p>
<dl>
<dd><img class="tex" alt="x = 2. \," src="//upload.wikimedia.org/wikipedia/en/math/e/0/5/e0533f43e84707b3d0600bab9db908e1.png" /></dd>
</dl>
<p>Since the fact that <i>x</i> = 2 is known, it is then possible to deduce that <i>y</i> = 3 by either of the original two equations (by using <i>2</i> instead of <i>x</i>) The full solution to this problem is then</p>
<dl>
<dd><img class="tex" alt="\begin{cases} x = 2 \\ y = 3. \end{cases}\," src="//upload.wikimedia.org/wikipedia/en/math/a/b/2/ab27b90143811c7ca78bbc1235649899.png" /></dd>
</dl>
<p>Note that this is not the only way to solve this specific system; <i>y</i> could have been solved before <i>x</i>.</p>
<h4><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=17" title="Edit section: Second method of finding a solution"></a>]</span> <span class="mw-headline" id="Second_method_of_finding_a_solution">Second method of finding a solution</span></h4>
<p>Another way of solving the same system of linear equations is by substitution.</p>
<dl>
<dd><img class="tex" alt="\begin{cases}4x + 2y = 14 \\ 2x - y = 1.\end{cases} \," src="//upload.wikimedia.org/wikipedia/en/math/9/a/e/9ae436ab07efd3cff225ea18e9c12916.png" /></dd>
</dl>
<p>An equivalent for <i>y</i> can be deduced by using one of the two equations. Using the second equation:</p>
<dl>
<dd><img class="tex" alt="2x - y = 1 \," src="//upload.wikimedia.org/wikipedia/en/math/d/1/3/d13e406326ece0efddb2d02ffb607983.png" /></dd>
</dl>
<p>Subtracting <i>2x</i> from each side of the equation:</p>
<dl>
<dd><img class="tex" alt="2x - 2x - y = 1 - 2x \," src="//upload.wikimedia.org/wikipedia/en/math/3/f/0/3f0e9c00bd3238002da9fd8be28b938d.png" /></dd>
<dd><img class="tex" alt="- y = 1 - 2x \," src="//upload.wikimedia.org/wikipedia/en/math/6/f/c/6fc949c34eb25f99f75bf8ecebad576a.png" /></dd>
</dl>
<p>and multiplying by -1:</p>
<dl>
<dd><img class="tex" alt=" y = 2x - 1. \," src="//upload.wikimedia.org/wikipedia/en/math/e/a/e/eae24db64c2c60c4887643a45b87973b.png" /></dd>
</dl>
<p>Using this <i>y</i> value in the first equation in the original system:</p>
<dl>
<dd><img class="tex" alt="4x + 2(2x - 1) = 14 \," src="//upload.wikimedia.org/wikipedia/en/math/0/e/d/0ed594d2c307d228a20532fbb5bd774d.png" /></dd>
<dd><img class="tex" alt="4x + 4x - 2 = 14 \," src="//upload.wikimedia.org/wikipedia/en/math/7/9/1/79114cd6b44cc07b156437042cfdd53b.png" /></dd>
<dd><img class="tex" alt="8x - 2 = 14 \," src="//upload.wikimedia.org/wikipedia/en/math/d/1/6/d164ac958790277da51ee6988c49864a.png" /></dd>
</dl>
<p>Adding <i>2</i> on each side of the equation:</p>
<dl>
<dd><img class="tex" alt="8x - 2 + 2 = 14 + 2 \," src="//upload.wikimedia.org/wikipedia/en/math/3/4/2/342c320e1d7a966ffb54bfdda0da8c26.png" /></dd>
<dd><img class="tex" alt="8x = 16 \," src="//upload.wikimedia.org/wikipedia/en/math/9/6/9/9693aa99bd4aba0f0b0830e556b4f02b.png" /></dd>
</dl>
<p>which simplifies to</p>
<dl>
<dd><img class="tex" alt="x = 2 \," src="//upload.wikimedia.org/wikipedia/en/math/0/1/b/01b6a436312001ed03cdfe08aa75de97.png" /></dd>
</dl>
<p>Using this value in one of the equations, the same solution as in the previous method is obtained.</p>
<dl>
<dd><img class="tex" alt="\begin{cases} x = 2 \\ y = 3. \end{cases}\," src="//upload.wikimedia.org/wikipedia/en/math/a/b/2/ab27b90143811c7ca78bbc1235649899.png" /></dd>
</dl>
<p>Note that this is not the only way to solve this specific system; in this case as well, <i>y</i> could have been solved before <i>x</i>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=18" title="Edit section: Other types of systems of linear equations"></a>]</span> <span class="mw-headline" id="Other_types_of_systems_of_linear_equations">Other types of systems of linear equations</span></h3>
<h4><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=19" title="Edit section: Unsolvable systems"></a>]</span> <span class="mw-headline" id="Unsolvable_systems">Unsolvable systems</span></h4>
<p>In the above example, it is possible to find a solution. However, there are also systems of equations which do not have a solution. An obvious example would be:</p>
<dl>
<dd><img class="tex" alt="\begin{cases} x + y = 1 \\ 0x + 0y = 2 \end{cases}\," src="//upload.wikimedia.org/wikipedia/en/math/8/0/1/80130e2450e69084ebc6618f16cfd272.png" /></dd>
</dl>
<p>The second equation in the system has no possible solution. Therefore, this system can't be solved. However, not all incompatible systems are recognized at first sight. As an example, the following system is studied:</p>
<dl>
<dd><img class="tex" alt="\begin{cases}4x + 2y = 12 \\ -2x - y = -4 \end{cases}\," src="//upload.wikimedia.org/wikipedia/en/math/b/1/4/b14f9a1283edc700fac15ec8e2287c4b.png" /></dd>
</dl>
<p>When trying to solve this (for example, by using the method of substitution above), the second equation, after adding 2<i>x</i> on both sides and multiplying by 1, results in:</p>
<dl>
<dd><img class="tex" alt="y = -2x + 4 \," src="//upload.wikimedia.org/wikipedia/en/math/4/1/7/4177cb62797cf44354e6aeddaecb5566.png" /></dd>
</dl>
<p>And using this value for <i>y</i> in the first equation:</p>
<dl>
<dd><img class="tex" alt="4x + 2(-2x + 4) = 12 \," src="//upload.wikimedia.org/wikipedia/en/math/3/0/7/307d262da5255f284a80b380918497d6.png" /></dd>
<dd><img class="tex" alt="4x - 4x + 8 = 12 \," src="//upload.wikimedia.org/wikipedia/en/math/a/5/3/a53d2a6ce107700739e51a8a2b3da23d.png" /></dd>
<dd><img class="tex" alt="8 = 12 \," src="//upload.wikimedia.org/wikipedia/en/math/0/9/d/09df5e8f7d94f15baf34f6dfaa9228b9.png" /></dd>
</dl>
<p>No variables are left, and the equality is not true. This means that the first equation can't provide a solution for the value for <i>y</i> obtained in the second equation.</p>
<h4><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=20" title="Edit section: Undetermined systems"></a>]</span> <span class="mw-headline" id="Undetermined_systems">Undetermined systems</span></h4>
<p>There are also systems which have multiple or infinite solutions, in opposition to a system with a unique solution (meaning, two unique values for <i>x</i> and <i>y</i>) For example:</p>
<dl>
<dd><img class="tex" alt="\begin{cases}4x + 2y = 12 \\ -2x - y = -6 \end{cases}\," src="//upload.wikimedia.org/wikipedia/en/math/e/4/6/e4628037c65f5e0741e0c039092a2b3f.png" /></dd>
</dl>
<p>Isolating <i>y</i> in the second equation:</p>
<dl>
<dd><img class="tex" alt="y = -2x + 6 \," src="//upload.wikimedia.org/wikipedia/en/math/e/b/3/eb3c1aef63050bdb0228dd8de2afe8ce.png" /></dd>
</dl>
<p>And using this value in the first equation in the system:</p>
<dl>
<dd><img class="tex" alt="4x + 2(-2x + 6) = 12 \," src="//upload.wikimedia.org/wikipedia/en/math/8/a/3/8a3708e2a5f80c1bdda2654b4d4115c5.png" /></dd>
<dd><img class="tex" alt="4x - 4x + 12 = 12 \," src="//upload.wikimedia.org/wikipedia/en/math/c/e/b/ceb45b8e0261444e73a63d062912a006.png" /></dd>
<dd><img class="tex" alt="12 = 12 \," src="//upload.wikimedia.org/wikipedia/en/math/a/9/b/a9b3a43bceabb966dfcd415667d60ea0.png" /></dd>
</dl>
<p>The equality is true, but it does not provide a value for <i>x</i>. Indeed, one can easily verify (by just filling in some values of <i>x</i>) that for any <i>x</i> there is a solution as long as <i>y</i> = 2<i>x</i> + 6. There are infinite solutions for this system.</p>
<h4><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=21" title="Edit section: Over- and underdetermined systems"></a>]</span> <span class="mw-headline" id="Over-_and_underdetermined_systems">Over- and underdetermined systems</span></h4>
<p>Systems with more variables than the number of linear equations do not have a unique solution. An example of such a system is</p>
<dl>
<dd><img class="tex" alt="\begin{cases}x + 2y = 10\\y - z  = 2\end{cases}" src="//upload.wikimedia.org/wikipedia/en/math/b/e/9/be983c27810c6940f10776fae6945c99.png" /></dd>
</dl>
<p>Such a system is called <a href="/wiki/Underdetermined_system" title="Underdetermined system">underdetermined</a>; when trying to find a solution, one or more variables can only be expressed in relation to the other variables, but cannot be determined <a href="/wiki/Number" title="Number">numerically</a>. Incidentally, a system with a greater number of equations than variables, in which necessarily some equations are sums or multiples of others, is called <a href="/wiki/Overdetermined_system" title="Overdetermined system">overdetermined</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=22" title="Edit section: Relation between solvability and multiplicity"></a>]</span> <span class="mw-headline" id="Relation_between_solvability_and_multiplicity">Relation between solvability and multiplicity</span></h3>
<p>Given any system of linear equations, there is a relation between multiplicity and solvability.<br />
If one equation is a <a href="/wiki/Multiple_(mathematics)" title="Multiple (mathematics)">multiple</a> of the other (or, more generally, a <a href="/wiki/Sum" title="Sum" class="mw-redirect">sum</a> of multiples of the other equations), then the system of linear equations is undetermined, meaning that the system has infinitely many solutions. Example:</p>
<dl>
<dd><img class="tex" alt="\begin{cases}x + y = 2 \\ 2x + 2y = 4\end{cases}" src="//upload.wikimedia.org/wikipedia/en/math/7/b/d/7bd4755c6d23b4ce071215f305ac7935.png" /></dd>
</dl>
<p>has solutions (<i>x</i>,<i>y</i>) such as (1,1), (0,2), (1.8,0.2), (4,2), (3000.75,3002.75), and so on.</p>
<p>When the multiplicity is only partial (meaning that for example, only the left hand sides of the equations are multiples, while the right hand sides are not or not by the <i>same</i> number) then the system is unsolvable. For example, in</p>
<dl>
<dd><img class="tex" alt="\begin{cases}x + y = 2 \\ 4x + 4y = 1\end{cases}" src="//upload.wikimedia.org/wikipedia/en/math/8/e/d/8edd56284f38620950779dc5bccc0912.png" /></dd>
</dl>
<p>the second equation yields that <i>x + y = 1/4</i> which is in contradiction with the first equation. Such a system is also called <i>inconsistent</i> in the language of <a href="/wiki/Linear_algebra" title="Linear algebra">linear algebra</a>. When trying to solve a system of linear equations it is generally a good idea to check if one equation is a multiple of the other. If this is precisely so, the solution cannot be uniquely determined. If this is only partially so, the solution does not exist.<br />
This, however, does not mean that the equations must be multiples of each other to have a solution, as shown in the sections above; in other words: multiplicity in a system of linear equations is <b>not</b> a <a href="/wiki/Necessary_condition" title="Necessary condition" class="mw-redirect">necessary condition</a> for solvability.</p>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=23" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Binary_operation" title="Binary operation">Binary operation</a></li>
<li><a href="/wiki/Gaussian_elimination" title="Gaussian elimination">Gaussian elimination</a></li>
<li><a href="/wiki/Mathematics_education" title="Mathematics education">Mathematics education</a></li>
<li><a href="/wiki/Number_line" title="Number line">Number line</a></li>
<li><a href="/wiki/Polynomial" title="Polynomial">Polynomial</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=24" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><a href="/wiki/Leonhard_Euler" title="Leonhard Euler">Leonhard Euler</a>, <i><a href="/wiki/Elements_of_Algebra" title="Elements of Algebra">Elements of Algebra</a></i>, 1770. English translation <a href="/w/index.php?title=Tarquin_Press&amp;action=&amp;redlink=1" class="new" title="Tarquin Press (page does not exist)">Tarquin Press</a>, 2007, <a href="/wiki/Special:BookSources/9781899618798" class="internal mw-magiclink-isbn">ISBN 978-1-899618-79-8</a>, also online digitized ions<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup> 2006,<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup> 1822.</li>
<li>Charles Smith, <i><a rel="nofollow" class="external text" href="http://digital.library.cornell.edu/cgi/t/text/text-idx?c=math;idno=smit025">A Treatise on Algebra</a></i>, in <a rel="nofollow" class="external text" href="http://historical.library.cornell.edu/math">Cornell University Library Historical Math Monographs</a>.</li>
<li>Redden, John. <a rel="nofollow" class="external text" href="http://catalog.flatworldknowledge.com/bookhub/reader/128?e=fwk-redden-ch01"><i>Elementary Algebra</i></a>. Flat World Knowledge, 2011</li>
</ul>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Redden, Section 2.1</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><span class="citation book">Slavin, Steve (1989). <i>All the Math You'll Ever Need</i>. <a href="/wiki/John_Wiley_%26_Sons" title="John Wiley &amp; Sons">John Wiley &amp; Sons</a>. p.&#160;72. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0471506362" title="Special:BookSources/0471506362">0471506362</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=All+the+Math+You%27ll+Ever+Need&amp;rft.aulast=Slavin%2C+Steve&amp;rft.au=Slavin%2C+Steve&amp;rft.date=1989&amp;rft.pages=p.%26nbsp%3B72&amp;rft.pub=%5B%5BJohn+Wiley+%26+Sons%5D%5D&amp;rft.isbn=0471506362&amp;rfr_id=info:sid/en.wikipedia.org:Elementary_algebra"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://web.mat.bham.ac.uk/C.J.Sangwin/euler/">Euler's Elements of Algebra</a></span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://books.google.co.uk/books?id=X8yv0sj4_1YC&amp;dq=euler+elements&amp;psp=1">Elements of algebra - Leonhard Euler, John Hewlett, Francis Horner, Jean Bernoulli, Joseph Louis Lagrange - Google Books</a></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Elementary_algebra&amp;action=&amp;section=25" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://catalog.flatworldknowledge.com/bookhub/reader/128?e=fwk-redden-ch01"><i>Elementary Algebra</i></a> An open textbook published by Flat World Knowledge.</li>
</ul>
<table cellspacing="0" class="navbox" style="border-spacing:0;;">
<tr>
<td style="padding:2px;">
<table cellspacing="0" class="nowraplinks collapsible expanded navbox-inner" style="border-spacing:0;background:transparent;color:inherit;;">
<tr>
<th scope="col" style=";" class="navbox-title" colspan="2">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Mathematics-footer" title="Template:Mathematics-footer"><span title="View this template" style=";;background:none transparent;border:none;">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Mathematics-footer" title="Template talk:Mathematics-footer"><span title="Discuss this template" style=";;background:none transparent;border:none;">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Mathematics-footer&amp;action="><span title="Edit this template" style=";;background:none transparent;border:none;">e</span></a></li>
</ul>
</div>
<div class="" style="font-size:110%;"><a href="/wiki/Areas_of_mathematics" title="Areas of mathematics">Areas</a> of <a href="/wiki/Mathematics" title="Mathematics">mathematics</a></div>
</th>
</tr>
<tr style="height:2px;">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Areas</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-odd hlist">
<div style="padding:0em 0.25em">
<ul>
<li><a href="/wiki/Arithmetic" title="Arithmetic">Arithmetic</a></li>
<li><a href="/wiki/Algebra" title="Algebra">Algebra</a>
<ul>
<li><strong class="selflink">elementary</strong></li>
<li><a href="/wiki/Linear_algebra" title="Linear algebra">linear</a></li>
<li><a href="/wiki/Multilinear_algebra" title="Multilinear algebra">multilinear</a></li>
<li><a href="/wiki/Abstract_algebra" title="Abstract algebra">abstract</a></li>
</ul>
</li>
<li><a href="/wiki/Geometry" title="Geometry">Geometry</a>
<ul>
<li><a href="/wiki/Discrete_geometry" title="Discrete geometry">discrete</a></li>
<li><a href="/wiki/Algebraic_geometry" title="Algebraic geometry">algebraic</a></li>
<li><a href="/wiki/Differential_geometry" title="Differential geometry">differential</a></li>
</ul>
</li>
<li><a href="/wiki/Calculus" title="Calculus">Calculus</a>/<a href="/wiki/Mathematical_analysis" title="Mathematical analysis">Analysis</a></li>
<li><a href="/wiki/Set_theory" title="Set theory">Set theory</a></li>
<li><a href="/wiki/Mathematical_logic" title="Mathematical logic">Logic</a></li>
<li><a href="/wiki/Category_theory" title="Category theory">Category theory</a></li>
<li><a href="/wiki/Number_theory" title="Number theory">Number theory</a></li>
<li><a href="/wiki/Combinatorics" title="Combinatorics">Combinatorics</a></li>
<li><a href="/wiki/Graph_theory" title="Graph theory">Graph theory</a></li>
<li><a href="/wiki/Topology" title="Topology">Topology</a></li>
<li><a href="/wiki/Lie_theory" title="Lie theory">Lie theory</a></li>
<li><a href="/wiki/Differential_equation" title="Differential equation">Differential equations</a>/<a href="/wiki/Dynamical_systems_theory" title="Dynamical systems theory">Dynamical systems</a></li>
<li><a href="/wiki/Mathematical_physics" title="Mathematical physics">Mathematical physics</a></li>
<li><a href="/wiki/Numerical_analysis" title="Numerical analysis">Numerical analysis</a></li>
<li><a href="/wiki/Theory_of_computation" title="Theory of computation">Computation</a></li>
<li><a href="/wiki/Information_theory" title="Information theory">Information theory</a></li>
<li><a href="/wiki/Probability_theory" title="Probability theory">Probability</a></li>
<li><a href="/wiki/Mathematical_statistics" title="Mathematical statistics">Statistics</a></li>
<li><a href="/wiki/Mathematical_optimization" title="Mathematical optimization">Optimization</a></li>
<li><a href="/wiki/Control_theory" title="Control theory">Control theory</a></li>
<li><a href="/wiki/Game_theory" title="Game theory">Game theory</a></li>
</ul>
</div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">Divisions</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-even hlist">
<div style="padding:0em 0.25em">
<ul>
<li><a href="/wiki/Pure_mathematics" title="Pure mathematics">Pure mathematics</a></li>
<li><a href="/wiki/Applied_mathematics" title="Applied mathematics">Applied mathematics</a></li>
<li><a href="/wiki/Discrete_mathematics" title="Discrete mathematics">Discrete mathematics</a></li>
<li><a href="/wiki/Computational_mathematics" title="Computational mathematics">Computational mathematics</a></li>
</ul>
</div>
</td>
</tr>
<tr style="height:2px;">
<td></td>
</tr>
<tr>
<td class="navbox-abovebelow hlist" style=";" colspan="2">
<div>
<ul>
<li><b><a href="/wiki/Category:Fields_of_mathematics" title="Category:Fields of mathematics">Category</a></b></li>
<li><a href="/wiki/Portal:Mathematics" title="Portal:Mathematics">Mathematics portal</a></li>
<li><a href="/wiki/Topic_outline_of_mathematics" title="Topic outline of mathematics" class="mw-redirect">Outline</a></li>
<li><a href="/wiki/Lists_of_mathematics_topics" title="Lists of mathematics topics">Lists</a></li>
</ul>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 2602/1000000
Post-expand include size: 21288/2048000 bytes
Template argument size: 8255/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:9710-0!0!0!!en!4!* and timestamp 20120412184137 -->
