<p>In mathematics, the method of <b>equating the coefficients</b> is a way of solving a functional equation of two <a href="/wiki/Polynomial" title="Polynomial">polynomials</a> for a number of unknown parameters. It relies on the fact that two polynomials are identical precisely when all corresponding coefficients are equal. The method is used to bring formulas into a desired form.</p>
<h2><span class="section">[<a href="/w/index.php?title=Equating_coefficients&amp;action=&amp;section=1" title="Edit section: Example"></a>]</span> <span class="mw-headline" id="Example">Example</span></h2>
<p>Suppose we want to apply <a href="/wiki/Partial_fraction_decomposition" title="Partial fraction decomposition" class="mw-redirect">partial fraction decomposition</a> to the expression:</p>
<dl>
<dd><img class="tex" alt="\frac{1}{x(x-1)(x-2)},\," src="//upload.wikimedia.org/wikipedia/en/math/6/2/8/628017548784cbb6ed911d705dd52b30.png" /></dd>
</dl>
<p>that is, we want to bring it into the form:</p>
<dl>
<dd><img class="tex" alt="\frac{A}{x}+\frac{B}{x-1}+\frac{C}{x-2},\," src="//upload.wikimedia.org/wikipedia/en/math/c/5/9/c59f796732dec514c0f23f6c6fd6da64.png" /></dd>
</dl>
<p>in which the unknown parameters are <i>A</i>, <i>B</i> and <i>C</i>. Multiplying these formulas by <i>x</i>(<i>x</i>&#160;&#160;1)(<i>x</i>&#160;&#160;2) turns both into polynomials, which we equate:</p>
<dl>
<dd><img class="tex" alt="A(x-1)(x-2) + Bx(x-2) + Cx(x-1) = 1,\," src="//upload.wikimedia.org/wikipedia/en/math/5/e/4/5e42454cc8d699586492be3fd9056001.png" /></dd>
</dl>
<p>or, after expansion and collecting terms with equal powers of <i>x</i>:</p>
<dl>
<dd><img class="tex" alt="(A+B+C)x^2 - (3A+2B+C)x + 2A = 1.\," src="//upload.wikimedia.org/wikipedia/en/math/5/0/9/50917cace6ef3e3522f186e04204e036.png" /></dd>
</dl>
<p>At this point it is essential to realize that the polynomial 1 is in fact equal to the polynomial 0<i>x</i><sup>2</sup>&#160;+&#160;0<i>x</i>&#160;+&#160;1, having zero coefficients for the positive powers of <i>x</i>. Equating the corresponding coefficients now results in this <a href="/wiki/System_of_linear_equations" title="System of linear equations">system of linear equations</a>:</p>
<dl>
<dd><img class="tex" alt="A+B+C = 0,\," src="//upload.wikimedia.org/wikipedia/en/math/2/d/a/2dacb0c3689ce4d5be734d3593452532.png" /></dd>
<dd><img class="tex" alt="3A+2B+C = 0,\," src="//upload.wikimedia.org/wikipedia/en/math/c/2/8/c288f814b1d5930818e47612e5d7900e.png" /></dd>
<dd><img class="tex" alt="2A = 1.\," src="//upload.wikimedia.org/wikipedia/en/math/d/2/5/d25fe7f16d230046970a08f4c8aa7170.png" /></dd>
</dl>
<p>Solving it results in:</p>
<dl>
<dd><img class="tex" alt="A = \frac{1}{2},\, B = -1,\, C = \frac{1}{2}.\," src="//upload.wikimedia.org/wikipedia/en/math/0/f/1/0f1ee5f939bc8f3721c2f9194c89acf8.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Equating_coefficients&amp;action=&amp;section=2" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation book">Tanton, James (2005). <i>Encyclopedia of Mathematics</i>. Facts on File. p.&#160;162. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-8160-5124-0" title="Special:BookSources/0-8160-5124-0">0-8160-5124-0</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Encyclopedia+of+Mathematics&amp;rft.aulast=Tanton&amp;rft.aufirst=James&amp;rft.au=Tanton%2C%26%2332%3BJames&amp;rft.date=2005&amp;rft.pages=p.%26nbsp%3B162&amp;rft.pub=Facts+on+File&amp;rft.isbn=0-8160-5124-0&amp;rfr_id=info:sid/en.wikipedia.org:Equating_coefficients"><span style="display: none;">&#160;</span></span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 731/1000000
Post-expand include size: 3020/2048000 bytes
Template argument size: 672/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:6874521-0!0!0!!*!*!* and timestamp 20120412191415 -->
