<div class="dablink">For entrywise product, see <a href="/wiki/Matrix_multiplication#Hadamard_product" title="Matrix multiplication">Matrix multiplication#Hadamard product</a>.</div>
<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Pointwise_product&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(December 2009)</i></small></td>
</tr>
</table>
<p>The <b>pointwise product</b> of two <a href="/wiki/Function_(mathematics)" title="Function (mathematics)">functions</a> is another function, obtained by multiplying the image of the two functions at each value in the domain. If <i>f</i> and <i>g</i> are both functions with <a href="/wiki/Domain_(mathematics)" title="Domain (mathematics)" class="mw-redirect">domain</a> <i>X</i> and <a href="/wiki/Codomain" title="Codomain">codomain</a> <i>Y</i>, and elements of <i>Y</i> can be multiplied (for instance, <i>Y</i> could be some set of numbers), then the pointwise product of <i>f</i> and <i>g</i> is another function from <i>X</i> to <i>Y</i> which maps <i>x</i>  <i>X</i> to <i>f</i>(<i>x</i>)<i>g</i>(<i>x</i>).</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Formal_definition"><span class="tocnumber">1</span> <span class="toctext">Formal definition</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Examples"><span class="tocnumber">2</span> <span class="toctext">Examples</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Algebraic_application_of_pointwise_products"><span class="tocnumber">3</span> <span class="toctext">Algebraic application of pointwise products</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Generalization"><span class="tocnumber">4</span> <span class="toctext">Generalization</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Pointwise_product&amp;action=&amp;section=1" title="Edit section: Formal definition"></a>]</span> <span class="mw-headline" id="Formal_definition">Formal definition</span></h2>
<p>Let <i>X</i> and <i>Y</i> be <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">sets</a>, and let <a href="/wiki/Multiplication" title="Multiplication">multiplication</a> be defined in <i>Y</i>that is, for each <i>y</i> and <i>z</i> in <i>Y</i> let the <a href="/wiki/Product_(mathematics)" title="Product (mathematics)">product</a></p>
<dl>
<dd><img class="tex" alt="\cdot&#160;: Y \times Y \longrightarrow Y" src="//upload.wikimedia.org/wikipedia/en/math/8/d/a/8daed511c3e30318a39325aebbc39291.png" /> given by <img class="tex" alt="y \cdot z = yz" src="//upload.wikimedia.org/wikipedia/en/math/c/5/e/c5eb0df5a2e14d47efd4e20313a1c2d2.png" /></dd>
</dl>
<p>be well-defined. Let <i>f</i> and <i>g</i> be <a href="/wiki/Function_(mathematics)" title="Function (mathematics)">functions</a> <i>f</i>, <i>g</i>&#160;: <i>X</i>  <i>Y</i>. Then the <b>pointwise product</b> (<i>f</i>  <i>g</i>)&#160;: <i>X</i>  <i>Y</i> is defined by</p>
<dl>
<dd><img class="tex" alt="(f \cdot g)(x) = f(x) \cdot g(x)" src="//upload.wikimedia.org/wikipedia/en/math/2/4/2/2429cb8fbf91c60b71dff2f3f0d44ef5.png" /></dd>
</dl>
<p>for each <i>x</i> in <i>X</i>. In the same manner in which the <a href="/wiki/Binary_operator" title="Binary operator" class="mw-redirect">binary operator</a>  is omitted from products, we say that <i>f</i>  <i>g</i> = <i>fg</i>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Pointwise_product&amp;action=&amp;section=2" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h2>
<p>The most common case of the pointwise product of two functions is when the <a href="/wiki/Co-domain" title="Co-domain" class="mw-redirect">co-domain</a> is a <a href="/wiki/Ring_(mathematics)" title="Ring (mathematics)">ring</a> (or <a href="/wiki/Field_(mathematics)" title="Field (mathematics)">field</a>), in which multiplication is well-defined.</p>
<ul>
<li>If <i>Y</i> is the set of <a href="/wiki/Real_number" title="Real number">real numbers</a> <b>R</b>, then the pointwise product of <i>f</i>, <i>g</i>&#160;: <i>X</i>  <b>R</b> is just normal multiplication of the images. For example, if we have <i>f</i>(<i>x</i>) = 2<i>x</i> and <i>g</i>(<i>x</i>) = <i>x</i> + 1 then</li>
</ul>
<dl>
<dd><img class="tex" alt="(fg)(x) = f(x)g(x) = 2x(x + 1) = 2x^2 + 2x\," src="//upload.wikimedia.org/wikipedia/en/math/2/0/8/2081d7f5b63217e969b2021a9e9fb716.png" /></dd>
</dl>
<p>for every real number <i>x</i> in <b>R</b>.</p>
<ul>
<li>The <a href="/wiki/Convolution_theorem" title="Convolution theorem">convolution theorem</a> states that the Fourier transform of a convolution is the pointwise product of Fourier transforms:</li>
</ul>
<dl>
<dd><img class="tex" alt="\mathcal{F}\{f*g\} = \mathcal{F}\{f\} \cdot \mathcal{F}\{g\}" src="//upload.wikimedia.org/wikipedia/en/math/2/e/e/2ee8d3f157bd3a6ffa0bfee1cc65da1d.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Pointwise_product&amp;action=&amp;section=3" title="Edit section: Algebraic application of pointwise products"></a>]</span> <span class="mw-headline" id="Algebraic_application_of_pointwise_products">Algebraic application of pointwise products</span></h2>
<p>Let <i>X</i> be a <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">set</a> and let <i>R</i> be a <a href="/wiki/Ring_(mathematics)" title="Ring (mathematics)">ring</a>. Since <a href="/wiki/Addition" title="Addition">addition</a> and <a href="/wiki/Multiplication" title="Multiplication">multiplication</a> are defined in <i>R</i>, we can construct an algebraic structure known as an <a href="/wiki/K-algebra" title="K-algebra" class="mw-redirect">algebra</a> out of the functions from <i>X</i> to <i>R</i> by defining addition, multiplication, and scalar multiplication of functions to be done pointwise.</p>
<p>If <i>R</i><sup><i>X</i></sup> denotes the set of functions from <i>X</i> to <i>R</i>, then we say that if <i>f</i>, <i>g</i> are elements of <i>R</i><sup><i>X</i></sup>, then <i>f</i> + <i>g</i>, <i>fg</i>, and <i>rf</i>, the last of which is defined by</p>
<dl>
<dd><img class="tex" alt="(rf)(x) = rf(x)\," src="//upload.wikimedia.org/wikipedia/en/math/3/2/1/3213ac4e632f2c5ffd7bbd120cf5923f.png" /></dd>
</dl>
<p>for all <i>r</i> in <i>R</i>, are all elements of <i>R</i><sup><i>X</i></sup>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Pointwise_product&amp;action=&amp;section=4" title="Edit section: Generalization"></a>]</span> <span class="mw-headline" id="Generalization">Generalization</span></h2>
<p>If both <i>f</i> and <i>g</i> have as their domain all possible assignments of a set of discrete variables, then their pointwise product is a function whose domain is constructed by all possible assignments of the <a href="/wiki/Union_(set_theory)" title="Union (set theory)">union</a> of both sets. The value of each assignment is calculated as the product of the values of both functions given to each one the subset of the assignment that is in its domain.</p>
<p>For example, given the function <i>f</i><sub>1</sub>() for the boolean variables <i>p</i> and <i>q</i>, and <i>f</i><sub>2</sub>() for the boolean variables <i>q</i> and <i>r</i>, both with the <a href="/wiki/Range_(mathematics)" title="Range (mathematics)">range</a> in <b>R</b>, the pointwise product of <i>f</i><sub>1</sub>() and <i>f</i><sub>2</sub>() is shown in the next table:</p>
<center>
<table border="1" cellspacing="0" cellpadding="5">
<tr style="background:silver">
<td><i>p</i></td>
<td><i>q</i></td>
<td><i>r</i></td>
<td><i>f</i><sub>1</sub>(<i>p</i>, <i>q</i>)</td>
<td><i>f</i><sub>2</sub>(<i>q</i>, <i>r</i>)</td>
<td>pointwise product</td>
</tr>
<tr align="center">
<td>T</td>
<td>T</td>
<td>T</td>
<td>0.1</td>
<td>0.2</td>
<td>0.1 x 0.2</td>
</tr>
<tr align="center">
<td>T</td>
<td>T</td>
<td>F</td>
<td>0.1</td>
<td>0.4</td>
<td>0.1 x 0.4</td>
</tr>
<tr align="center">
<td>T</td>
<td>F</td>
<td>T</td>
<td>0.3</td>
<td>0.6</td>
<td>0.3 x 0.6</td>
</tr>
<tr align="center">
<td>T</td>
<td>F</td>
<td>F</td>
<td>0.3</td>
<td>0.8</td>
<td>0.3 x 0.8</td>
</tr>
<tr align="center">
<td>F</td>
<td>T</td>
<td>T</td>
<td>0.5</td>
<td>0.2</td>
<td>0.5 x 0.2</td>
</tr>
<tr align="center">
<td>F</td>
<td>T</td>
<td>F</td>
<td>0.5</td>
<td>0.4</td>
<td>0.5 x 0.4</td>
</tr>
<tr align="center">
<td>F</td>
<td>F</td>
<td>T</td>
<td>0.7</td>
<td>0.6</td>
<td>0.7 x 0.6</td>
</tr>
<tr align="center">
<td>F</td>
<td>F</td>
<td>F</td>
<td>0.7</td>
<td>0.8</td>
<td>0.7 x 0.8</td>
</tr>
</table>
</center>
<h2><span class="section">[<a href="/w/index.php?title=Pointwise_product&amp;action=&amp;section=5" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Pointwise" title="Pointwise">Pointwise</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 526/1000000
Post-expand include size: 6512/2048000 bytes
Template argument size: 2345/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:3977272-0!0!0!!en!4!* and timestamp 20120313104517 -->
