<div class="dablink">This article is about quadratic equations and solutions.  For more general information about quadratic functions, see <a href="/wiki/Quadratic_function" title="Quadratic function">Quadratic function</a>.  For more information about quadratic polynomials, see <a href="/wiki/Quadratic_polynomial" title="Quadratic polynomial">Quadratic polynomial</a>.</div>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, a <b>quadratic equation</b> is a <a href="/wiki/Univariate" title="Univariate">univariate</a> <a href="/wiki/Polynomial_equation" title="Polynomial equation" class="mw-redirect">polynomial equation</a> of the second <a href="/wiki/Degree_of_a_polynomial" title="Degree of a polynomial">degree</a>. A general quadratic equation can be written in the form</p>
<dl>
<dd><img class="tex" alt="ax^2+bx+c=0,\," src="//upload.wikimedia.org/wikipedia/en/math/1/c/1/1c110885bd9155bea6b6630e7d24d6c4.png" /></dd>
</dl>
<p>where <i>x</i> represents a <a href="/wiki/Variable_(mathematics)" title="Variable (mathematics)">variable</a> or an unknown, and <i>a</i>, <i>b</i>, and <i>c</i> are <a href="/wiki/Constant_term" title="Constant term">constants</a> with <i>a</i>&#160;&#160;0. (If <i>a</i>&#160;=&#160;0, the equation is a <a href="/wiki/Linear_equation" title="Linear equation">linear equation</a>.)</p>
<p>The constants <i>a</i>, <i>b</i>, and <i>c</i> are called respectively, the quadratic <a href="/wiki/Coefficient" title="Coefficient">coefficient</a>, the linear coefficient and the <a href="/wiki/Constant_term" title="Constant term">constant term</a> or free term. The term "quadratic" comes from <i>quadratus</i>, which is the <a href="/wiki/Latin" title="Latin">Latin</a> word for "<a href="/wiki/Square_(algebra)" title="Square (algebra)" class="mw-redirect">square</a>". Quadratic equations can be solved by <a href="/wiki/Factorization" title="Factorization">factoring</a>, <a href="/wiki/Completing_the_square" title="Completing the square">completing the square</a>, <a href="/wiki/Graph_of_a_function" title="Graph of a function">graphing</a>, <a href="/wiki/Newton%27s_method" title="Newton's method">Newton's method</a>, and using the <b>quadratic formula</b> (given below).</p>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a href="/wiki/File:Quadratic_equation_coefficients.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Quadratic_equation_coefficients.png/300px-Quadratic_equation_coefficients.png" width="300" height="206" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Quadratic_equation_coefficients.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Plots of <a href="/wiki/Real_number" title="Real number">real</a>-valued quadratic function <span class="nowrap"><i>ax</i><sup>2</sup> + <i>bx</i> + <i>c</i></span>, varying each coefficient separately</div>
</div>
</div>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Quadratic_formula"><span class="tocnumber">1</span> <span class="toctext">Quadratic formula</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Discriminant"><span class="tocnumber">1.1</span> <span class="toctext">Discriminant</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Monic_form"><span class="tocnumber">1.2</span> <span class="toctext">Monic form</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-4"><a href="#History"><span class="tocnumber">2</span> <span class="toctext">History</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Examples_of_use"><span class="tocnumber">3</span> <span class="toctext">Examples of use</span></a>
<ul>
<li class="toclevel-2 tocsection-6"><a href="#Geometry"><span class="tocnumber">3.1</span> <span class="toctext">Geometry</span></a></li>
<li class="toclevel-2 tocsection-7"><a href="#Quadratic_factorization"><span class="tocnumber">3.2</span> <span class="toctext">Quadratic factorization</span></a></li>
<li class="toclevel-2 tocsection-8"><a href="#Application_to_higher-degree_equations"><span class="tocnumber">3.3</span> <span class="toctext">Application to higher-degree equations</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-9"><a href="#Derivations_of_the_quadratic_formula"><span class="tocnumber">4</span> <span class="toctext">Derivations of the quadratic formula</span></a>
<ul>
<li class="toclevel-2 tocsection-10"><a href="#By_completing_the_square"><span class="tocnumber">4.1</span> <span class="toctext">By completing the square</span></a></li>
<li class="toclevel-2 tocsection-11"><a href="#By_shifting_ax2"><span class="tocnumber">4.2</span> <span class="toctext">By shifting <i>ax</i><sup>2</sup></span></a></li>
<li class="toclevel-2 tocsection-12"><a href="#By_Lagrange_resolvents"><span class="tocnumber">4.3</span> <span class="toctext">By Lagrange resolvents</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-13"><a href="#Other_methods_of_root_calculation"><span class="tocnumber">5</span> <span class="toctext">Other methods of root calculation</span></a>
<ul>
<li class="toclevel-2 tocsection-14"><a href="#Alternative_quadratic_formula"><span class="tocnumber">5.1</span> <span class="toctext">Alternative quadratic formula</span></a></li>
<li class="toclevel-2 tocsection-15"><a href="#Floating_point_implementation"><span class="tocnumber">5.2</span> <span class="toctext">Floating point implementation</span></a></li>
<li class="toclevel-2 tocsection-16"><a href="#Vieta.27s_formulas"><span class="tocnumber">5.3</span> <span class="toctext">Vieta's formulas</span></a></li>
<li class="toclevel-2 tocsection-17"><a href="#Trigonometric_solution_for_complex_roots"><span class="tocnumber">5.4</span> <span class="toctext">Trigonometric solution for complex roots</span></a></li>
<li class="toclevel-2 tocsection-18"><a href="#Geometric_Solution"><span class="tocnumber">5.5</span> <span class="toctext">Geometric Solution</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-19"><a href="#Generalization_of_quadratic_equation"><span class="tocnumber">6</span> <span class="toctext">Generalization of quadratic equation</span></a>
<ul>
<li class="toclevel-2 tocsection-20"><a href="#Characteristic_2"><span class="tocnumber">6.1</span> <span class="toctext">Characteristic 2</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-21"><a href="#See_also"><span class="tocnumber">7</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-22"><a href="#References"><span class="tocnumber">8</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-23"><a href="#External_links"><span class="tocnumber">9</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=1" title="Edit section: Quadratic formula"></a>]</span> <span class="mw-headline" id="Quadratic_formula">Quadratic formula</span></h2>
<p>A quadratic equation with <a href="/wiki/Real_number" title="Real number">real</a> or <a href="/wiki/Complex_number" title="Complex number">complex</a> <a href="/wiki/Coefficients" title="Coefficients" class="mw-redirect">coefficients</a> has two solutions, called <i>roots</i>. These two solutions may or may not be distinct, and they may or may not be <i><a href="/wiki/Real_number" title="Real number">real</a></i>.</p>
<p>The roots are given by the quadratic formula</p>
<dl>
<dd><img class="tex" alt="x=\frac{-b \pm \sqrt {b^2-4ac}}{2a}," src="//upload.wikimedia.org/wikipedia/en/math/8/e/4/8e4fef5352eb498b3534af481c8c4fd4.png" /></dd>
</dl>
<p>where <a href="/wiki/Plus-minus_sign" title="Plus-minus sign">the symbol ""</a> indicates that both</p>
<dl>
<dd><img class="tex" alt=" x=\frac{-b + \sqrt {b^2-4ac}}{2a}\quad\text{and}\quad x=\frac{-b - \sqrt {b^2-4ac}}{2a}" src="//upload.wikimedia.org/wikipedia/en/math/4/7/7/477776da54abbfd9f54951a6d06e3475.png" /></dd>
</dl>
<p>are solutions of the quadratic equation.</p>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=2" title="Edit section: Discriminant"></a>]</span> <span class="mw-headline" id="Discriminant">Discriminant</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Quadratic_equation_discriminant.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Quadratic_equation_discriminant.png/220px-Quadratic_equation_discriminant.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Quadratic_equation_discriminant.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Example discriminant signs<br />
<span style="color:#FFE600"></span> &lt;0: <i>x</i><sup>2</sup>+<sup>1</sup><sub>2</sub><br />
<span style="color:#bc1e47"></span> =0: <sup>4</sup><sub>3</sub><i>x</i><sup>2</sup>+<sup>4</sup><sub>3</sub><i>x</i><sup>1</sup><sub>3</sub><br />
<span style="color:#0081cd"></span> &gt;0: <sup>3</sup><sub>2</sub><i>x</i><sup>2</sup>+<sup>1</sup><sub>2</sub><i>x</i><sup>4</sup><sub>3</sub></div>
</div>
</div>
<p>In the above formula, the expression underneath the square root sign is called the <i><a href="/wiki/Discriminant" title="Discriminant">discriminant</a></i> of the quadratic equation, and is often represented using an upper case <i>D</i> or an upper case Greek <a href="/wiki/Delta_(letter)" title="Delta (letter)">delta</a>, the initial of the <a href="/wiki/Greek_language" title="Greek language">Greek</a> word <b></b>, <i>Diakrnousa</i>, discriminant:</p>
<dl>
<dd><img class="tex" alt="\Delta = b^2 - 4ac.\," src="//upload.wikimedia.org/wikipedia/en/math/6/8/3/6835638670fb4ab74a039c741644fc89.png" /></dd>
</dl>
<p>A quadratic equation with <i>real</i> coefficients can have either one or two distinct real roots, or two distinct complex roots. In this case the discriminant determines the number and nature of the roots. There are three cases:</p>
<ul>
<li>If the discriminant is positive, then there are two distinct roots, both of which are real numbers:</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\frac{-b + \sqrt {\Delta}}{2a} \quad\text{and}\quad \frac{-b - \sqrt {\Delta}}{2a}" src="//upload.wikimedia.org/wikipedia/en/math/3/2/8/3285d5bc6fe28ea2a8a8ce27c43eed0c.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>For quadratic equations with <a href="/wiki/Integer" title="Integer">integer</a> coefficients, if the discriminant is a <a href="/wiki/Square_number" title="Square number">perfect square</a>, then the roots are <a href="/wiki/Rational_number" title="Rational number">rational numbers</a>in other cases they may be <a href="/wiki/Quadratic_irrational" title="Quadratic irrational">quadratic irrationals</a>.</dd>
</dl>
<ul>
<li>If the discriminant is zero, then there is exactly one distinct <a href="/wiki/Real_number" title="Real number">real</a> root, sometimes called a <a href="/wiki/Multiple_root" title="Multiple root" class="mw-redirect">double root</a>:</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="-\frac{b}{2a} . \,\!" src="//upload.wikimedia.org/wikipedia/en/math/f/f/3/ff36cb8944b1e9a03ffbbe8b174a39fc.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>If the discriminant is negative, then there are <i>no</i> real roots. Rather, there are two distinct (non-real) <a href="/wiki/Complex_number" title="Complex number">complex</a> roots, which are <a href="/wiki/Complex_conjugate" title="Complex conjugate">complex conjugates</a> of each other:</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt=" \frac{-b}{2a} + i \frac{\sqrt {-\Delta}}{2a}, \quad\text{and}\quad \frac{-b}{2a} - i \frac{\sqrt {-\Delta}}{2a}," src="//upload.wikimedia.org/wikipedia/en/math/c/a/5/ca522d128b038f0c7b74be7beb407a22.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>where <i>i</i> is the <a href="/wiki/Imaginary_unit" title="Imaginary unit">imaginary unit</a>.</dd>
</dl>
<p>Thus the roots are distinct if and only if the discriminant is non-zero, and the roots are real if and only if the discriminant is non-negative.</p>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=3" title="Edit section: Monic form"></a>]</span> <span class="mw-headline" id="Monic_form">Monic form</span></h3>
<p>Dividing the quadratic equation by the quadratic coefficient <i>a</i> gives the simplified <a href="/wiki/Monic_polynomial" title="Monic polynomial">monic</a> form of</p>
<dl>
<dd><img class="tex" alt="x^2 + px + q =\,0\text{,}" src="//upload.wikimedia.org/wikipedia/en/math/a/2/a/a2a1b351dfb023e99914dedab014650e.png" /></dd>
</dl>
<p>where <i>p</i> = <i>b</i>/<i>a</i> and <i>q</i> = <i>c</i>/<i>a</i>. This in turn simplifies the root and discriminant equations somewhat to</p>
<dl>
<dd><img class="tex" alt="x = \frac{1}{2} \left( -p \pm \sqrt{p^2 - 4q} \right)" src="//upload.wikimedia.org/wikipedia/en/math/5/6/0/5609a15c588ef80c2987ecd242e32dd1.png" /></dd>
</dl>
<p>and</p>
<dl>
<dd><img class="tex" alt="\Delta = p^2 - 4q\,\text{.}" src="//upload.wikimedia.org/wikipedia/en/math/4/8/4/4842853b27181bd5a03dd3db630d3972.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=4" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<table class="metadata plainlinks ambox ambox-content" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Text_document_with_red_question_mark.svg" class="image"><img alt="Text document with red question mark.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Text_document_with_red_question_mark.svg/40px-Text_document_with_red_question_mark.svg.png" width="40" height="40" /></a></div>
</td>
<td class="mbox-text" style="">This section <b>may contain inappropriate or misinterpreted <a href="/wiki/Wikipedia:CITE" title="Wikipedia:CITE" class="mw-redirect">citations</a> that do not <a href="/wiki/Wikipedia:V" title="Wikipedia:V" class="mw-redirect">verify</a> the text</b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Quadratic_equation&amp;action=">improve this article</a> by checking for inaccuracies. (<a href="/wiki/Help:Editing" title="Help:Editing">help</a>, <a href="/wiki/Talk:Quadratic_equation" title="Talk:Quadratic equation">talk</a>, <a href="/wiki/Wikipedia:WikiProject_Fact_and_Reference_Check" title="Wikipedia:WikiProject Fact and Reference Check">get involved!</a>) <small><i>(September 2010)</i></small></td>
</tr>
</table>
<p>The <a href="/wiki/Babylonian_mathematics" title="Babylonian mathematics">Babylonian mathematicians</a>, as early as 2000 BC (displayed on <a href="/wiki/First_Babylonian_Dynasty" title="First Babylonian Dynasty">Old Babylonian</a> <a href="/wiki/Clay_tablet" title="Clay tablet">clay tablets</a>) could solve a pair of simultaneous equations of the form:</p>
<dl>
<dd><img class="tex" alt=" x+y=p,\ \ xy=q \ " src="//upload.wikimedia.org/wikipedia/en/math/1/5/5/1556eec045eebd2205f53e43d066f9fd.png" /></dd>
</dl>
<p>which are equivalent to the equation:<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="\ x^2+q=px " src="//upload.wikimedia.org/wikipedia/en/math/5/3/f/53faf88eaa34fcc1dbcd755ab14c5523.png" /></dd>
</dl>
<p>The original pair of equations were solved as follows:</p>
<ol>
<li>Form <span style="white-space:nowrap;">&#160;&#160;&#160;</span><img class="tex" alt="\frac{x+y}{2}" src="//upload.wikimedia.org/wikipedia/en/math/c/1/2/c12167a856505ed6691e4750b99dd190.png" /></li>
<li>Form <span style="white-space:nowrap;">&#160;&#160;&#160;</span><img class="tex" alt=" \left(\frac{x+y}{2}\right)^2 " src="//upload.wikimedia.org/wikipedia/en/math/1/c/0/1c02fe76a53f1218772dfb5ce1016ef8.png" /></li>
<li>Form <span style="white-space:nowrap;">&#160;&#160;&#160;</span><img class="tex" alt=" \left(\frac{x+y}{2}\right)^2 - xy " src="//upload.wikimedia.org/wikipedia/en/math/a/4/d/a4dc4818465df990217d78692cd42b21.png" /></li>
<li>Form <span style="white-space:nowrap;">&#160;&#160;&#160;</span><img class="tex" alt=" \sqrt{\left(\frac{x+y}{2}\right)^2 - xy} = \frac{x-y}{2} " src="//upload.wikimedia.org/wikipedia/en/math/d/a/a/daa6549727029e523805a0e1bddd768b.png" /> <span style="white-space:nowrap;">&#160;&#160;&#160;&#160;&#160;</span>(where <i>x</i>  <i>y</i> is assumed)</li>
<li>Find <i>x</i> and <i>y</i> by inspection of the values in (1) and (4).<sup id="cite_ref-Stillwell.2C_p._87_1-0" class="reference"><a href="#cite_note-Stillwell.2C_p._87-1"><span>[</span>2<span>]</span></a></sup></li>
</ol>
<p>There is evidence pushing this back as far as the <a href="/wiki/Ur_III" title="Ur III" class="mw-redirect">Ur III</a> dynasty.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<p>In the <a href="/wiki/Sulba_Sutras" title="Sulba Sutras" class="mw-redirect">Sulba Sutras</a> in <a href="/wiki/Indian_subcontinent" title="Indian subcontinent">ancient India</a> circa <a href="/wiki/8th_century_BC" title="8th century BC">8th century BC</a> quadratic equations of the form <i>ax</i><sup>2</sup> = <i>c</i> and <i>ax</i><sup>2</sup> + <i>bx</i> = <i>c</i> were explored using geometric methods. Babylonian mathematicians from circa 400 BC and <a href="/wiki/Chinese_mathematics" title="Chinese mathematics">Chinese mathematicians</a> from circa 200 BC used the method of <a href="/wiki/Completing_the_square" title="Completing the square">completing the square</a> to solve quadratic equations with positive roots, but did not have a general formula.<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from September 2010">citation needed</span></a></i>]</sup></p>
<p><a href="/wiki/Euclid" title="Euclid">Euclid</a>, the <a href="/wiki/Greek_mathematics" title="Greek mathematics">Greek mathematician</a>, produced a more abstract geometrical method around 300 BC. <a href="/wiki/Pythagoras" title="Pythagoras">Pythagoras</a> and Euclid used a strictly geometric approach, and found a general procedure to solve the quadratic equation. In his work <i><a href="/wiki/Arithmetica" title="Arithmetica">Arithmetica</a></i>, the Greek mathematician <a href="/wiki/Diophantus" title="Diophantus">Diophantus</a> solved the quadratic equation, but giving only one root, even when both roots were positive.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup></p>
<p>In 628 AD, <a href="/wiki/Brahmagupta" title="Brahmagupta">Brahmagupta</a>, an <a href="/wiki/Indian_mathematics" title="Indian mathematics">Indian mathematician</a>, gave the first explicit (although still not completely general) solution of the quadratic equation</p>
<dl>
<dd><img class="tex" alt="\ ax^2+bx=c \, " src="//upload.wikimedia.org/wikipedia/en/math/f/a/e/faef0a4321b5ff2c76e4c407458c9351.png" /></dd>
</dl>
<p>as follows:</p>
<table class="cquote" style="margin:auto; border-collapse: collapse; border: none; background-color: transparent; width: auto;">
<tr>
<td width="20" valign="top" style="border:none; color:#B2B7F2;font-size:35px;font-family: 'Times New Roman', serif; font-weight: bold; text-align: left; padding: 10px 10px;"></td>
<td valign="top" style="border: none; padding: 4px 10px;">To the absolute number multiplied by four times the [coefficient of the] square, add the square of the [coefficient of the] middle term; the square root of the same, less the [coefficient of the] middle term, being divided by twice the [coefficient of the] square is the value. (<i>Brahmasphutasiddhanta</i> (Colebrook translation, 1817, page 346)<sup id="cite_ref-Stillwell.2C_p._87_1-1" class="reference"><a href="#cite_note-Stillwell.2C_p._87-1"><span>[</span>2<span>]</span></a></sup></td>
<td width="20" valign="bottom" style="border: none; color: #B2B7F2; font-size: 35px; font-family: 'Times New Roman', serif; font-weight: bold; text-align: right; padding: 10px 10px;"></td>
</tr>
</table>
<p><br />
This is equivalent to:</p>
<dl>
<dd><img class="tex" alt="x = \frac{\sqrt{4ac+b^2}-b}{2a}. " src="//upload.wikimedia.org/wikipedia/en/math/b/8/3/b83e8982df95874332c03b4822e2f1fd.png" /></dd>
</dl>
<p>The <i><a href="/wiki/Bakhshali_Manuscript" title="Bakhshali Manuscript" class="mw-redirect">Bakhshali Manuscript</a></i> written in India in the 7th century AD contained an algebraic formula for solving quadratic equations, as well as quadratic <a href="/wiki/Indeterminate_(variable)" title="Indeterminate (variable)">indeterminate</a> equations (originally of type <i>ax</i>/<i>c</i>&#160;=&#160;<i>y</i>).</p>
<p><a href="/wiki/Muhammad_ibn_Musa_al-Khwarizmi" title="Muhammad ibn Musa al-Khwarizmi" class="mw-redirect">Muhammad ibn Musa al-Khwarizmi</a> (<a href="/wiki/Persia" title="Persia" class="mw-redirect">Persia</a>, 9th century), inspired by Brahmagupta, developed a set of formulas that worked for positive solutions. Al-Khwarizmi goes further in providing a full solution to the general quadratic equation, accepting one or two numerical answers for every quadratic equation, while providing geometric <a href="/wiki/Mathematical_proof" title="Mathematical proof">proofs</a> in the process.<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup> He also described the method of completing the square and recognized that the <a href="/wiki/Discriminant" title="Discriminant">discriminant</a> must be positive,<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup> which was proven by his contemporary <a href="/wiki/%27Abd_al-Ham%C4%ABd_ibn_Turk" title="'Abd al-Hamd ibn Turk">'Abd al-Hamd ibn Turk</a> (Central Asia, 9th century) who gave geometric figures to prove that if the discriminant is negative, a quadratic equation has no solution.<sup id="cite_ref-Boyer_Ibn_Turk_6-0" class="reference"><a href="#cite_note-Boyer_Ibn_Turk-6"><span>[</span>7<span>]</span></a></sup> While al-Khwarizmi himself did not accept negative solutions, later <a href="/wiki/Mathematics_in_medieval_Islam" title="Mathematics in medieval Islam">Islamic mathematicians</a> that succeeded him accepted negative solutions,<sup id="cite_ref-7" class="reference"><a href="#cite_note-7"><span>[</span>8<span>]</span></a></sup> as well as <a href="/wiki/Irrational_number" title="Irrational number">irrational numbers</a> as solutions.<sup id="cite_ref-8" class="reference"><a href="#cite_note-8"><span>[</span>9<span>]</span></a></sup> <a href="/wiki/Ab%C5%AB_K%C4%81mil_Shuj%C4%81_ibn_Aslam" title="Ab Kmil Shuj ibn Aslam" class="mw-redirect">Ab Kmil Shuj ibn Aslam</a> (Egypt, 10th century) in particular was the first to accept irrational numbers (often in the form of a <a href="/wiki/Square_root" title="Square root">square root</a>, <a href="/wiki/Cube_root" title="Cube root">cube root</a> or <a href="/wiki/Nth_root" title="Nth root">fourth root</a>) as solutions to quadratic equations or as <a href="/wiki/Coefficient" title="Coefficient">coefficients</a> in an equation.<sup id="cite_ref-9" class="reference"><a href="#cite_note-9"><span>[</span>10<span>]</span></a></sup></p>
<p>The Jewish mathematician <a href="/wiki/Abraham_bar_Hiyya" title="Abraham bar Hiyya">Abraham bar Hiyya Ha-Nasi</a> (12th century, Spain) authored the first European book to include the full solution to the general quadratic equation.<sup id="cite_ref-10" class="reference"><a href="#cite_note-10"><span>[</span>11<span>]</span></a></sup> His solution was largely based on Al-Khwarizmi's work.<sup id="cite_ref-11" class="reference"><a href="#cite_note-11"><span>[</span>12<span>]</span></a></sup> The writing of the Chinese mathematician <a href="/wiki/Yang_Hui" title="Yang Hui">Yang Hui</a> (1238-1298 AD) represents the first in which quadratic equations with negative coefficients of 'x' appear, although he attributes this to the earlier <a href="/wiki/Liu_Yi" title="Liu Yi">Liu Yi</a>.</p>
<p>By 1545 <a href="/wiki/Gerolamo_Cardano" title="Gerolamo Cardano">Gerolamo Cardano</a> compiled the works related to the quadratic equations. The quadratic formula covering all cases was first obtained by Simon Stevin in 1594.<sup id="cite_ref-12" class="reference"><a href="#cite_note-12"><span>[</span>13<span>]</span></a></sup> In 1637 <a href="/wiki/Ren%C3%A9_Descartes" title="Ren Descartes">Ren Descartes</a> published <i><a href="/wiki/La_G%C3%A9om%C3%A9trie" title="La Gomtrie">La Gomtrie</a></i> containing the quadratic formula in the form we know today. The first appearance of the general solution in the modern mathematical literature appeared in a 1896 paper by Henry Heaton.<sup id="cite_ref-heaton-1896_13-0" class="reference"><a href="#cite_note-heaton-1896-13"><span>[</span>14<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=5" title="Edit section: Examples of use"></a>]</span> <span class="mw-headline" id="Examples_of_use">Examples of use</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=6" title="Edit section: Geometry"></a>]</span> <span class="mw-headline" id="Geometry">Geometry</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a href="/wiki/File:Polynomialdeg2.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Polynomialdeg2.svg/200px-Polynomialdeg2.svg.png" width="200" height="200" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Polynomialdeg2.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
For the <a href="/wiki/Quadratic_function" title="Quadratic function">quadratic function</a>:<br />
<font size="2"><i>f</i></font> (<i>x</i>) = <i>x</i><sup>2</sup>  <i>x</i>  2 = (<i>x</i> + 1)(<i>x</i>  2) of a <a href="/wiki/Real_number" title="Real number">real</a> variable <i>x</i>, the <i>x</i>-<a href="/wiki/Coordinates" title="Coordinates" class="mw-redirect">coordinates</a> of the points where the graph intersects the <i>x</i>-axis, <i>x</i> = 1 and <i>x</i> = 2, are the solutions of the quadratic equation: <i>x</i><sup>2</sup>  <i>x</i>  2 = 0.</div>
</div>
</div>
<p>The solutions of the quadratic equation</p>
<dl>
<dd><img class="tex" alt="ax^2+bx+c=0,\," src="//upload.wikimedia.org/wikipedia/en/math/1/c/1/1c110885bd9155bea6b6630e7d24d6c4.png" /></dd>
</dl>
<p>are also the <a href="/wiki/Root_of_a_function" title="Root of a function" class="mw-redirect">roots</a> of the <a href="/wiki/Quadratic_function" title="Quadratic function">quadratic function</a>:</p>
<dl>
<dd><img class="tex" alt="f(x) = ax^2+bx+c,\," src="//upload.wikimedia.org/wikipedia/en/math/b/c/f/bcf96db954fc7c49c749ae82f5fd64cc.png" /></dd>
</dl>
<p>since they are the values of <i>x</i> for which</p>
<dl>
<dd><img class="tex" alt="f(x) = 0.\, " src="//upload.wikimedia.org/wikipedia/en/math/0/2/0/02056ecc35ad1b6df7c978975fbf392c.png" /></dd>
</dl>
<p>If <i>a</i>, <i>b</i>, and <i>c</i> are <a href="/wiki/Real_numbers" title="Real numbers" class="mw-redirect">real numbers</a> and the <a href="/wiki/Domain_(mathematics)" title="Domain (mathematics)" class="mw-redirect">domain</a> of <i>f</i> is the set of real numbers, then the roots of <i>f</i> are exactly the <i>x</i>-<a href="/wiki/Coordinates" title="Coordinates" class="mw-redirect">coordinates</a> of the points where the graph touches the <i>x</i>-axis.</p>
<p>It follows from the above that, if the discriminant is positive, the graph touches the <a href="/wiki/X-axis" title="X-axis" class="mw-redirect"><i>x</i>-axis</a> at two points, if zero, the graph touches at one point, and if negative, the graph does not touch the <i>x</i>-axis.</p>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=7" title="Edit section: Quadratic factorization"></a>]</span> <span class="mw-headline" id="Quadratic_factorization">Quadratic factorization</span></h3>
<p>The term</p>
<dl>
<dd><img class="tex" alt="x - r\, " src="//upload.wikimedia.org/wikipedia/en/math/4/6/a/46ab212323d717c34874820f352dfe06.png" /></dd>
</dl>
<p>is a factor of the polynomial</p>
<dl>
<dd><img class="tex" alt="ax^2+bx+c, \ " src="//upload.wikimedia.org/wikipedia/en/math/7/b/4/7b4eff4f1cc42a3e3a9f858fc841b20c.png" /></dd>
</dl>
<p>if and only if <i>r</i> is a <a href="/wiki/Root_of_a_function" title="Root of a function" class="mw-redirect">root</a> of the quadratic equation</p>
<dl>
<dd><img class="tex" alt="ax^2+bx+c=0. \ " src="//upload.wikimedia.org/wikipedia/en/math/f/5/e/f5e0ad69e2d5db17cf7ffcf8b6cee9ef.png" /></dd>
</dl>
<p>It follows from the quadratic formula that</p>
<dl>
<dd><img class="tex" alt="ax^2+bx+c = a \left( x - \frac{-b + \sqrt {b^2-4ac}}{2a} \right) \left( x - \frac{-b - \sqrt {b^2-4ac}}{2a} \right)." src="//upload.wikimedia.org/wikipedia/en/math/c/7/0/c706c36d5016e6533ca5a79c80943696.png" /></dd>
</dl>
<p>In the special case (<img class="tex" alt="b^2 = 4ac" src="//upload.wikimedia.org/wikipedia/en/math/3/b/7/3b7a9d94b69a5266be9b263bf2f27c3f.png" />) where the quadratic has only one distinct root (i.e. the discriminant is zero), the quadratic polynomial can be <a href="/wiki/Factorization" title="Factorization">factored</a> as</p>
<dl>
<dd><img class="tex" alt="ax^2+bx+c = a \left( x + \frac{b}{2a} \right)^2.\,\!" src="//upload.wikimedia.org/wikipedia/en/math/1/d/d/1ddd6c801f9751da3886f873348c7ac4.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=8" title="Edit section: Application to higher-degree equations"></a>]</span> <span class="mw-headline" id="Application_to_higher-degree_equations">Application to higher-degree equations</span></h3>
<p>Certain higher-degree equations can be brought into quadratic form and solved that way. For example, the 6th-degree equation in <i>x</i>:</p>
<dl>
<dd><img class="tex" alt="x^6 - 4x^3 + 8 = 0\," src="//upload.wikimedia.org/wikipedia/en/math/9/0/f/90ff5cdd4247301c2d511e9a9f4b6b9c.png" /></dd>
</dl>
<p>can be rewritten as:</p>
<dl>
<dd><img class="tex" alt="(x^3)^2 - 4(x^3) + 8 = 0\,," src="//upload.wikimedia.org/wikipedia/en/math/3/c/c/3cc8d95fa1d2684e3a952fe2247c62c4.png" /></dd>
</dl>
<p>or, equivalently, as a quadratic equation in a new variable <i>u</i>:</p>
<dl>
<dd><img class="tex" alt="u^2 - 4u + 8 = 0,\," src="//upload.wikimedia.org/wikipedia/en/math/6/2/8/628d1397a665f46b5880cc412b2bfe53.png" /></dd>
</dl>
<p>where</p>
<dl>
<dd><img class="tex" alt="u = x^3.\," src="//upload.wikimedia.org/wikipedia/en/math/9/7/e/97e2ac3175644472faa59a96eba1a9c8.png" /></dd>
</dl>
<p>Solving the quadratic equation for <i>u</i> results in the two solutions:</p>
<dl>
<dd><img class="tex" alt="u = 2 \pm 2i\,." src="//upload.wikimedia.org/wikipedia/en/math/b/4/b/b4b84b5b15fc26669c0aea5f67384c5e.png" /></dd>
</dl>
<p>Thus</p>
<dl>
<dd><img class="tex" alt="x^3 = 2 \pm 2i\,." src="//upload.wikimedia.org/wikipedia/en/math/3/f/6/3f6a002a7d54690060cdefc947e5fddd.png" /></dd>
</dl>
<p>Concentrating on finding the three cube roots of <span class="nowrap">2 + 2<i>i</i></span>  the other three solutions for <i>x</i> (the three cube roots of <span class="nowrap">2 - 2<i>i</i></span> ) will be their <a href="/wiki/Complex_conjugate" title="Complex conjugate">complex conjugates</a>  rewriting the right-hand side using <a href="/wiki/Euler%27s_formula" title="Euler's formula">Euler's formula</a>:</p>
<dl>
<dd><img class="tex" alt="x^3 = 2^{\tfrac{3}{2}}e^{\tfrac{1}{4}\pi i} = 2^{\tfrac{3}{2}}e^{\tfrac{8k+1}{4}\pi i}\," src="//upload.wikimedia.org/wikipedia/en/math/9/e/2/9e29679be9cc2a67f815a4aee63379e8.png" /></dd>
</dl>
<p>(since <i>e</i><sup>2<i>k</i><i>i</i></sup> = 1), gives the three solutions:</p>
<dl>
<dd><img class="tex" alt="x = 2^{\tfrac{1}{2}}e^{\tfrac{8k+1}{12}\pi i}\,,~k = 0, 1, 2\,." src="//upload.wikimedia.org/wikipedia/en/math/5/4/d/54d221623ad31faa8502c22d2bd246a6.png" /></dd>
</dl>
<p>Using Eulers' formula again together with trigonometric identities such as cos(/12) = <span class="nowrap">(2 + 6) / 4</span>, and adding the complex conjugates, gives the complete collection of solutions as:</p>
<dl>
<dd><img class="tex" alt="x_{1,2} = -1 \pm i,\," src="//upload.wikimedia.org/wikipedia/en/math/4/2/6/42692a2905b6345cec4c795bd3c50829.png" /></dd>
<dd><img class="tex" alt="x_{3,4} = \frac{1 + \sqrt{3}}{2} \pm \frac{1 - \sqrt{3}}{2}i\," src="//upload.wikimedia.org/wikipedia/en/math/f/9/f/f9f5af5a5149cf6f0eed093178634036.png" /></dd>
</dl>
<p>and</p>
<dl>
<dd><img class="tex" alt="x_{5,6} = \frac{1 - \sqrt{3}}{2} \pm \frac{1 + \sqrt{3}}{2}i.\," src="//upload.wikimedia.org/wikipedia/en/math/6/3/8/638024879f63b9d2b5cbea0edd48c039.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=9" title="Edit section: Derivations of the quadratic formula"></a>]</span> <span class="mw-headline" id="Derivations_of_the_quadratic_formula">Derivations of the quadratic formula</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=10" title="Edit section: By completing the square"></a>]</span> <span class="mw-headline" id="By_completing_the_square">By completing the square</span></h3>
<p>The <a href="#Quadratic_formula">quadratic formula</a> can be derived by the method of <a href="/wiki/Completing_the_square" title="Completing the square">completing the square</a>,<sup id="cite_ref-14" class="reference"><a href="#cite_note-14"><span>[</span>15<span>]</span></a></sup> so as to make use of the algebraic identity:</p>
<dl>
<dd><img class="tex" alt="x^2+2xh+h^2 = (x+h)^2.\,\!" src="//upload.wikimedia.org/wikipedia/en/math/c/3/9/c3901bcb1e1d14cff02648f4655bd4a7.png" /></dd>
</dl>
<p>Dividing the quadratic equation</p>
<dl>
<dd><img class="tex" alt="ax^2+bx+c=0 \,\!" src="//upload.wikimedia.org/wikipedia/en/math/f/c/6/fc6366dd1fd484528b085dff42ba1027.png" /></dd>
</dl>
<p>by <i>a</i> (which is allowed because <i>a</i> is non-zero), gives:</p>
<dl>
<dd><img class="tex" alt="x^2 + \frac{b}{a} x + \frac{c}{a}=0,\,\!" src="//upload.wikimedia.org/wikipedia/en/math/f/e/d/fed9229c07a2e81cb7817be3110fd9ae.png" /></dd>
</dl>
<p>or</p>
<dl>
<dd><img class="tex" alt="x^2 + \frac{b}{a} x= -\frac{c}{a}." src="//upload.wikimedia.org/wikipedia/en/math/1/4/3/1435e1a582704849186cd188263a9b33.png" /></dd>
</dl>
<p>The quadratic equation is now in a form to which the method of completing the square can be applied. To "complete the square" is to add a constant to both sides of the equation such that the left hand side becomes a complete square:</p>
<dl>
<dd><img class="tex" alt="x^2+\frac{b}{a}x+\left( \frac{1}{2}\frac{b}{a} \right)^2 =-\frac{c}{a}+\left( \frac{1}{2}\frac{b}{a} \right)^2,\!" src="//upload.wikimedia.org/wikipedia/en/math/4/4/7/4471fb30ea50e8ea48fb8f56656972a6.png" /></dd>
</dl>
<p>which produces</p>
<dl>
<dd><img class="tex" alt="\left(x+\frac{b}{2a}\right)^2=-\frac{c}{a}+\frac{b^2}{4a^2}.\,\!" src="//upload.wikimedia.org/wikipedia/en/math/9/c/0/9c0a92b1bdc2333469c9414b7fa18161.png" /></dd>
</dl>
<p>The right side can be written as a single fraction, with common denominator 4<i>a</i><sup>2</sup>. This gives</p>
<dl>
<dd><img class="tex" alt="\left(x+\frac{b}{2a}\right)^2=\frac{b^2-4ac}{4a^2}." src="//upload.wikimedia.org/wikipedia/en/math/6/e/e/6ee0ac4d5fad8cdfa2ddd45a843e7541.png" /></dd>
</dl>
<p>Taking the <a href="/wiki/Square_root" title="Square root">square root</a> of both sides yields</p>
<dl>
<dd><img class="tex" alt="x+\frac{b}{2a}=\pm\frac{\sqrt{b^2-4ac\ }}{2a}." src="//upload.wikimedia.org/wikipedia/en/math/5/7/6/576845ebc9664fca6be3d22871712668.png" /></dd>
</dl>
<p>Isolating <i>x</i>, gives</p>
<dl>
<dd><img class="tex" alt="x=-\frac{b}{2a}\pm\frac{\sqrt{b^2-4ac\ }}{2a}=\frac{-b\pm\sqrt{b^2-4ac\ }}{2a}." src="//upload.wikimedia.org/wikipedia/en/math/c/4/d/c4ddfb85bdb724ec4ef8c30d1be80ec4.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=11" title="Edit section: By shifting ax2"></a>]</span> <span class="mw-headline" id="By_shifting_ax2">By shifting <i>ax</i><sup>2</sup></span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a href="/wiki/File:Ax2_shift.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/70/Ax2_shift.svg/300px-Ax2_shift.svg.png" width="300" height="240" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Ax2_shift.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
<i>ax</i><sup>2</sup> with vertex shifted from the origin to (<i>x<sub>V</sub></i>, <i>y<sub>V</sub></i>). <i>a</i>=-1 in this example.</div>
</div>
</div>
<p>The quadratic formula can be derived by starting with equation</p>
<dl>
<dd><img class="tex" alt="a(x-x_V)^2 + y_V = 0 \,\!" src="//upload.wikimedia.org/wikipedia/en/math/3/3/b/33b44b4e011652c00ccef42ed9557c78.png" /></dd>
</dl>
<p>which describes the parabola as <i>ax</i><sup>2</sup> with the vertex shifted from the origin to (<i>x<sub>V</sub></i>, <i>y<sub>V</sub></i>).</p>
<p>Solving this equation for <i>x</i> is straightforward and results in</p>
<dl>
<dd><img class="tex" alt="x = x_V\pm\sqrt{-\frac{y_V}{a}}." src="//upload.wikimedia.org/wikipedia/en/math/d/8/c/d8c1436bfc9219c431c2fd2e120d7e7f.png" /></dd>
</dl>
<p>Using <a href="/wiki/Vieta%27s_formulas" title="Vieta's formulas">Vieta's formulas</a> for the vertex coordinates</p>
<dl>
<dd><img class="tex" alt="\begin{align}
x_V &amp;= \frac{-b}{2a}\\
y_V &amp;= -\frac{b^2-4ac}{4a},\\
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/9/6/a/96ac9462ef2e2f8e528f25e8889b0238.png" /></dd>
</dl>
<p>the values of x can be written as</p>
<dl>
<dd><img class="tex" alt="x = \frac{-b \pm \sqrt{b^2-4ac}}{2a}." src="//upload.wikimedia.org/wikipedia/en/math/3/d/4/3d43df0a013f60c96d5a0bacdd53787b.png" /></dd>
</dl>
<p><b>Note.</b> The formulas for <i>x<sub>V</sub></i> and <i>y<sub>V</sub></i> can be derived by comparing the coefficients in</p>
<dl>
<dd><img class="tex" alt="ax^2+bx+c=0 \,\!" src="//upload.wikimedia.org/wikipedia/en/math/f/c/6/fc6366dd1fd484528b085dff42ba1027.png" /></dd>
</dl>
<p>and</p>
<dl>
<dd><img class="tex" alt="a(x-x_V)^2 + y_V = 0 \,\!." src="//upload.wikimedia.org/wikipedia/en/math/0/0/8/0080ddcfa7e0b4808ff836238ac79eeb.png" /></dd>
</dl>
<p>Rewriting the latter equation as</p>
<dl>
<dd><img class="tex" alt="ax^2 + (-2ax_V)x + (a{x_V}^2 + y_V) = 0" src="//upload.wikimedia.org/wikipedia/en/math/3/2/1/321518bd4b2041c13d909decc76cf9d9.png" /></dd>
</dl>
<p>and comparing with the former results in</p>
<dl>
<dd><img class="tex" alt="b=-2ax_V \!" src="//upload.wikimedia.org/wikipedia/en/math/3/6/4/3645b9aead87bdbacf307bd80e54ad34.png" /></dd>
<dd><img class="tex" alt="c=a{x_V}^2 + y_V \!," src="//upload.wikimedia.org/wikipedia/en/math/4/0/3/403b86d3fc39563ba63be9e3ea6eb906.png" /></dd>
</dl>
<p>from which Vieta's expressions for <i>x<sub>V</sub></i> and <i>y<sub>V</sub></i> can be derived.</p>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=12" title="Edit section: By Lagrange resolvents"></a>]</span> <span class="mw-headline" id="By_Lagrange_resolvents">By Lagrange resolvents</span></h3>
<div class="rellink boilerplate seealso">For more details on this topic, see <a href="/wiki/Lagrange_resolvents" title="Lagrange resolvents" class="mw-redirect">Lagrange resolvents</a>.</div>
<p>An alternative way of deriving the quadratic formula is via the method of <a href="/wiki/Lagrange_resolvents" title="Lagrange resolvents" class="mw-redirect">Lagrange resolvents</a>, which is an early part of <a href="/wiki/Galois_theory" title="Galois theory">Galois theory</a>.<sup id="cite_ref-efei_15-0" class="reference"><a href="#cite_note-efei-15"><span>[</span>16<span>]</span></a></sup> A benefit of this method is that it generalizes to give the solution of <a href="/wiki/Cubic_polynomial" title="Cubic polynomial" class="mw-redirect">cubic polynomials</a> and <a href="/wiki/Quartic_polynomial" title="Quartic polynomial" class="mw-redirect">quartic polynomials</a>, and leads to Galois theory, which allows one to understand the solution of polynomials of any degree in terms of the <a href="/wiki/Symmetry_group" title="Symmetry group">symmetry group</a> of their roots, the <a href="/wiki/Galois_group" title="Galois group">Galois group</a>.</p>
<p>This approach focuses on the <i>roots</i> more than on rearranging the original equation. Given a monic quadratic polynomial</p>
<dl>
<dd><img class="tex" alt="x^2+px+q,\!" src="//upload.wikimedia.org/wikipedia/en/math/3/1/9/3191242d43c5a6949871843d7c50c7ef.png" /></dd>
</dl>
<p>assume that it factors as</p>
<dl>
<dd><img class="tex" alt="x^2+px+q=(x-\alpha)(x-\beta).\!" src="//upload.wikimedia.org/wikipedia/en/math/2/3/7/237df3a87c5c58a2a572daf9d18075b9.png" /></dd>
</dl>
<p>Expanding yields</p>
<dl>
<dd><img class="tex" alt="x^2+px+q=x^2-(\alpha+\beta)x+\alpha \beta,\!" src="//upload.wikimedia.org/wikipedia/en/math/7/8/0/780aa9c49ae884b729e36d20c7d5b6fb.png" /></dd>
</dl>
<p>where</p>
<dl>
<dd><img class="tex" alt="p=-(\alpha+\beta)\!" src="//upload.wikimedia.org/wikipedia/en/math/5/2/f/52f544c099e162490546d981c7df674b.png" /></dd>
</dl>
<p>and</p>
<dl>
<dd><img class="tex" alt="q=\alpha \beta.\!" src="//upload.wikimedia.org/wikipedia/en/math/a/1/3/a13457f6786745a45faf9ffb987a4b2b.png" /></dd>
</dl>
<p>Since the order of multiplication does not matter, one can switch <i></i> and <i></i> and the values of <i>p</i> and <i>q</i> will not change: one says that <i>p</i> and <i>q</i> are <a href="/wiki/Symmetric_polynomials" title="Symmetric polynomials" class="mw-redirect">symmetric polynomials</a> in <i></i> and <i></i>. In fact, they are the <a href="/wiki/Elementary_symmetric_polynomials" title="Elementary symmetric polynomials" class="mw-redirect">elementary symmetric polynomials</a>  any symmetric polynomial in <i></i> and <i></i> can be expressed in terms of <img class="tex" alt="\alpha + \beta" src="//upload.wikimedia.org/wikipedia/en/math/e/b/9/eb9c93dfda0ee7c4102cfc49fb9c4021.png" /> and <i>.</i> The Galois theory approach to analyzing and solving polynomials is: given the coefficients of a polynomial, which are symmetric functions in the roots, can one "break the symmetry" and recover the roots? Thus solving a polynomial of degree <i>n</i> is related to the ways of rearranging ("permuting") <i>n</i> terms, which is called the <a href="/wiki/Symmetric_group" title="Symmetric group">symmetric group</a> on <i>n</i> letters, and denoted <img class="tex" alt="S_n." src="//upload.wikimedia.org/wikipedia/en/math/d/1/e/d1eb21c17431c708407d248b1488b495.png" /> For the quadratic polynomial, the only way to rearrange two terms is to swap them ("<a href="/wiki/Transposition_(mathematics)" title="Transposition (mathematics)" class="mw-redirect">transpose</a>" them), and thus solving a quadratic polynomial is simple.</p>
<p>To find the roots <i></i> and <i>,</i> consider their sum and difference:</p>
<dl>
<dd><img class="tex" alt="\begin{align}
r_1 &amp;= \alpha + \beta\\
r_2 &amp;= \alpha - \beta.\\
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/0/4/3/043bc62d10f62db0f0898b13902b8fff.png" /></dd>
</dl>
<p>These are called the <b><a href="/wiki/Lagrange_resolvents" title="Lagrange resolvents" class="mw-redirect">Lagrange resolvents</a></b> of the polynomial; notice that these depend on the order of the roots, which is the key point. One can recover the roots from the resolvents by inverting the above equations:</p>
<dl>
<dd><img class="tex" alt="\begin{align}
\alpha &amp;= \textstyle{\frac{1}{2}}\left(r_1+r_2\right)\\
\beta  &amp;= \textstyle{\frac{1}{2}}\left(r_1-r_2\right).\\
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/2/f/b/2fb778be4738cac9c98b8bbc13be48f8.png" /></dd>
</dl>
<p>Thus, solving for the resolvents gives the original roots.</p>
<p>Formally, the resolvents are called the <a href="/wiki/Discrete_Fourier_transform" title="Discrete Fourier transform">discrete Fourier transform</a> (DFT) of order 2, and the transform can be expressed by the matrix <img class="tex" alt="\left(\begin{smallmatrix}1 &amp; 1\\ 1 &amp; -1\end{smallmatrix}\right)," src="//upload.wikimedia.org/wikipedia/en/math/1/3/1/131c59a58b039ca829d9a9daa70c5cee.png" /> with inverse matrix <img class="tex" alt="\left(\begin{smallmatrix}1/2 &amp; 1/2\\ 1/2 &amp; -1/2\end{smallmatrix}\right)." src="//upload.wikimedia.org/wikipedia/en/math/e/3/5/e351b1a1c432f9ea5643fc82813c5bed.png" /> The transform matrix is also called the <a href="/wiki/DFT_matrix" title="DFT matrix">DFT matrix</a> or <a href="/wiki/Vandermonde_matrix" title="Vandermonde matrix">Vandermonde matrix</a>.</p>
<p>Now <img class="tex" alt="r_1=\alpha + \beta" src="//upload.wikimedia.org/wikipedia/en/math/b/1/e/b1e0ee9a0d89db6f97bcd477eea87f60.png" /> is a symmetric function in <i></i> and <i>,</i> so it can be expressed in terms of <i>p</i> and <i>q,</i> and in fact <img class="tex" alt="r_1 = -p," src="//upload.wikimedia.org/wikipedia/en/math/8/e/e/8ee6211455219d33ceebf1f2b4c91bec.png" /> as noted above. Contrariwise, <img class="tex" alt="r_2=\alpha - \beta" src="//upload.wikimedia.org/wikipedia/en/math/4/a/e/4aee7c1c6e5f56be3b2dcf64390a98b8.png" /> is not symmetric, since switching <i></i> and <i></i> yields <img class="tex" alt="-r_2=\beta - \alpha" src="//upload.wikimedia.org/wikipedia/en/math/e/0/8/e08269ac48af1c31daa9bb888accb6ce.png" /> (formally, this is termed a <a href="/wiki/Group_action" title="Group action">group action</a> of the symmetric group of the roots). Since <img class="tex" alt="r_2" src="//upload.wikimedia.org/wikipedia/en/math/a/c/b/acb7bc85ecad9b0a5ba463144b229605.png" /> is not symmetric, it cannot be expressed in terms of the polynomials <i>p</i> and <i>q</i>, as these are symmetric in the roots and thus so is any polynomial expression involving them. However, changing the order of the roots only changes <img class="tex" alt="r_2" src="//upload.wikimedia.org/wikipedia/en/math/a/c/b/acb7bc85ecad9b0a5ba463144b229605.png" /> by a factor of <img class="tex" alt="-1," src="//upload.wikimedia.org/wikipedia/en/math/f/5/0/f50e2e5af0581d9f4dbed19107cb5915.png" /> and thus the square <img class="tex" alt="\scriptstyle r_2^2 = (\alpha - \beta)^2" src="//upload.wikimedia.org/wikipedia/en/math/3/7/b/37b863949a8b5c378c61d904805cadd7.png" /> <i>is</i> symmetric in the roots, and thus expressible in terms of <i>p</i> and <i>q.</i> Using the equation</p>
<dl>
<dd><img class="tex" alt="(\alpha - \beta)^2 = (\alpha + \beta)^2 - 4\alpha\beta\!" src="//upload.wikimedia.org/wikipedia/en/math/1/b/d/1bd2f2b4c0e4a11d818592c21cd23564.png" /></dd>
</dl>
<p>yields</p>
<dl>
<dd><img class="tex" alt="r_2^2 = p^2 - 4q\!" src="//upload.wikimedia.org/wikipedia/en/math/6/3/9/639052b04cfcd53ea0fd87617591a01a.png" /></dd>
</dl>
<p>and thus</p>
<dl>
<dd><img class="tex" alt="r_2 = \pm \sqrt{p^2 - 4q}\!" src="//upload.wikimedia.org/wikipedia/en/math/3/a/e/3ae0fd5cdd81d6fc5eac1adff734ae73.png" />.</dd>
</dl>
<p>If one takes the positive root, breaking symmetry, one obtains:</p>
<dl>
<dd><img class="tex" alt="\begin{align}
r_1 &amp;= -p\\
r_2 &amp;= \sqrt{p^2 - 4q}\\
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/f/d/e/fde2e6ee2a939475d7855f1e4197a481.png" /></dd>
</dl>
<p>and thus</p>
<dl>
<dd><img class="tex" alt="\begin{align}
\alpha &amp;= \textstyle{\frac{1}{2}}\left(-p+\sqrt{p^2 - 4q}\right)\\
\beta  &amp;= \textstyle{\frac{1}{2}}\left(-p-\sqrt{p^2 - 4q}\right)\\
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/2/5/0/250ac90528185fa8e3891636249087ec.png" /></dd>
</dl>
<p>Thus the roots are</p>
<dl>
<dd><img class="tex" alt="\textstyle{\frac{1}{2}}\left(-p \pm \sqrt{p^2 - 4q}\right)" src="//upload.wikimedia.org/wikipedia/en/math/6/6/f/66f00358870d8bcd382a999d124c1e97.png" /></dd>
</dl>
<p>which is the quadratic formula. Substituting <img class="tex" alt="\scriptstyle p=\tfrac{b}{a}, q=\tfrac{c}{a}\!" src="//upload.wikimedia.org/wikipedia/en/math/5/1/3/51383dbcc792eff87a0c4118d1d33ba2.png" /> yields the usual form for when a quadratic is not monic. The resolvents can be recognized as <img class="tex" alt="\scriptstyle \frac{r_1}{2} = \frac{-p}{2}=\frac{-b}{2a}\!" src="//upload.wikimedia.org/wikipedia/en/math/6/f/c/6fceb6464fb55bbb675b2aa1e115b184.png" /> being the vertex, and <img class="tex" alt="\scriptstyle r_2^2=p^2-4q\!" src="//upload.wikimedia.org/wikipedia/en/math/6/0/b/60b4d2eb6411abd52208a5204db77364.png" /> is the discriminant (of a monic polynomial).</p>
<p>A similar but more complicated method works for cubic equations, where one has three resolvents and a quadratic equation (the "resolving polynomial") relating <img class="tex" alt="r_2" src="//upload.wikimedia.org/wikipedia/en/math/a/c/b/acb7bc85ecad9b0a5ba463144b229605.png" /> and <img class="tex" alt="r_3," src="//upload.wikimedia.org/wikipedia/en/math/2/f/e/2fe78edb736d2a55a6b7d670ac96a1eb.png" /> which one can solve by the quadratic equation, and similarly for a quartic (degree 4) equation, whose resolving polynomial is a cubic, which can in turn be solved. However, the same method for a quintic equation yields a polynomial of degree 24, which does not simplify the problem, and in fact solutions to quintic equations in general cannot be expressed using only roots.</p>
<h2><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=13" title="Edit section: Other methods of root calculation"></a>]</span> <span class="mw-headline" id="Other_methods_of_root_calculation">Other methods of root calculation</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=14" title="Edit section: Alternative quadratic formula"></a>]</span> <span class="mw-headline" id="Alternative_quadratic_formula">Alternative quadratic formula</span></h3>
<p>In some situations it is preferable to express the roots in an alternative form.</p>
<dl>
<dd><img class="tex" alt="x =\frac{2c}{-b \mp \sqrt {b^2-4ac\ }} = \frac{2c}{-b \mp \sqrt \Delta}. " src="//upload.wikimedia.org/wikipedia/en/math/6/c/d/6cdb62c52309d0c7ad74f45df5a6f70b.png" /></dd>
</dl>
<p>This alternative requires <i>c</i> to be nonzero; for, if <i>c</i> is zero, the formula correctly gives zero as one root, but fails to give any second, non-zero root. Instead, one of the two choices for  produces the <a href="/wiki/Indeterminate_form" title="Indeterminate form">indeterminate form</a> 0/0, which is undefined. However, the alternative form works when <i>a</i> is zero (giving the unique solution as one root and <a href="/wiki/Division_by_zero" title="Division by zero">division by zero</a> again for the other), which the normal form does not (instead producing division by zero both times).</p>
<p>The roots are the same regardless of which expression we use; the alternative form is merely an algebraic variation of the common form:</p>
<dl>
<dd><img class="tex" alt="\begin{align}
\frac{-b + \sqrt {b^2-4ac\ }}{2a}
 &amp;{}= \frac{-b + \sqrt {b^2-4ac\ }}{2a} \cdot \frac{-b - \sqrt {b^2-4ac\ }}{-b - \sqrt {b^2-4ac\ }} \\
 &amp;{}= \frac{b^2 - (b^2 - 4ac)}{2a \left ( -b - \sqrt {b^2-4ac} \right ) } \\
 &amp;{}= \frac{4ac}{2a \left ( -b - \sqrt {b^2-4ac} \right ) } \\
 &amp;{}=\frac{2c}{-b - \sqrt {b^2-4ac\ }}.
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/2/8/4/284ee3feab838c0d90b948f1bcbca26b.png" /></dd>
</dl>
<p>The alternative formula can reduce loss of precision in the numerical evaluation of the roots, which may be a problem if one of the roots is much smaller than the other in absolute magnitude. In this case, <i>b</i> is very close to <img class="tex" alt="\scriptstyle \pm\sqrt{x}" src="//upload.wikimedia.org/wikipedia/en/math/4/3/4/43431437bae8690e5d437120023d5798.png" />, and the subtraction in the numerator causes <a href="/wiki/Loss_of_significance" title="Loss of significance">loss of significance</a>.</p>
<p>A mixed approach avoids both all cancellation problems (only numbers of the same sign are added), and the problem of <i>c</i> being zero:</p>
<dl>
<dd><img class="tex" alt="\begin{align}
x_1 &amp;= \frac{-b - \sgn (b) \,\sqrt {b^2-4ac}}{2a}, \\
x_2 &amp;= \frac{2c}{-b - \sgn (b) \,\sqrt {b^2-4ac}} = \frac{c}{ax_1}.
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/d/e/6/de60830e3424a9242ee77da258d26bdb.png" /></dd>
</dl>
<p>Here sgn denotes the <a href="/wiki/Sign_function" title="Sign function">sign function</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=15" title="Edit section: Floating point implementation"></a>]</span> <span class="mw-headline" id="Floating_point_implementation">Floating point implementation</span></h3>
<p>A careful <a href="/wiki/Floating_point" title="Floating point">floating point</a> computer implementation differs a little from both forms to produce a robust result. Assuming the discriminant, <span class="nowrap"><i>b</i><sup>2</sup>  4<i>ac</i></span>, is positive and <i>b</i> is nonzero, the code will be something like the following:<sup id="cite_ref-16" class="reference"><a href="#cite_note-16"><span>[</span>17<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="q = -\tfrac12 \left( b + \sgn(b) \sqrt{b^2-4ac} \right) \,\! " src="//upload.wikimedia.org/wikipedia/en/math/f/f/9/ff95d56ee2675863a7d81d873c02b7ac.png" /></dd>
<dd><img class="tex" alt="x_1 = q/a \,\! " src="//upload.wikimedia.org/wikipedia/en/math/2/4/8/248ce71967d8d257525b6164d0f3024b.png" /></dd>
<dd><img class="tex" alt="x_2 = c/q \,\! " src="//upload.wikimedia.org/wikipedia/en/math/c/6/b/c6b328754d31a12d4c45b06e32d44435.png" /></dd>
</dl>
<p>Here sgn(<i>b</i>) is the <a href="/wiki/Sign_function" title="Sign function">sign function</a>, where sgn(<i>b</i>) is 1 if <i>b</i> is positive and 1 if <i>b</i> is negative; its use ensures that the quantities added are of the same sign, avoiding <i><a href="/wiki/Loss_of_significance" title="Loss of significance">catastrophic cancellation</a></i>. The computation of <i>x</i><sub>2</sub> uses the fact that the product of the roots is <i>c</i>/<i>a</i>. Note that while the above formulation avoids catastrophic cancellation between <i>b</i> and <img class="tex" alt="\sqrt{b^2-4ac}" src="//upload.wikimedia.org/wikipedia/en/math/4/5/0/450f33a677f74a27a4d1ebc7295b72df.png" />, there remains a form of cancellation between the terms <i>b</i><sup>2</sup> and 4<i>ac</i> of the discriminant, which can still lead to loss of up to half of correct significant figures.<sup id="cite_ref-17" class="reference"><a href="#cite_note-17"><span>[</span>18<span>]</span></a></sup><sup id="cite_ref-18" class="reference"><a href="#cite_note-18"><span>[</span>19<span>]</span></a></sup> The discriminant <i>b</i><sup>2</sup>4<i>ac</i> needs to be computed in arithmetic of twice the precision of the result to avoid this (e.g. <a href="/wiki/Quadruple-precision_floating-point_format" title="Quadruple-precision floating-point format">quad</a> precision if the final result is to be accurate to full <a href="/wiki/Double-precision_floating-point_format" title="Double-precision floating-point format">double</a> precision).<sup id="cite_ref-19" class="reference"><a href="#cite_note-19"><span>[</span>20<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=16" title="Edit section: Vieta's formulas"></a>]</span> <span class="mw-headline" id="Vieta.27s_formulas">Vieta's formulas</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Vieta%27s_formulas" title="Vieta's formulas">Vieta's formulas</a></div>
<p>Vieta's formulas give a simple relation between the roots of a polynomial and its coefficients. In the case of the quadratic polynomial, they take the following form:</p>
<dl>
<dd><img class="tex" alt=" x_1 + x_2 = -\frac{b}{a} " src="//upload.wikimedia.org/wikipedia/en/math/d/8/3/d83b69383ba34e8566e85e6c56723f89.png" /></dd>
</dl>
<p>and</p>
<dl>
<dd><img class="tex" alt=" x_1 \ x_2 = \frac{c}{a}." src="//upload.wikimedia.org/wikipedia/en/math/5/2/e/52e49f5724e1c71a8f5c32df97a66f7c.png" /></dd>
</dl>
<p>These results follow immediately from the relation:</p>
<dl>
<dd><img class="tex" alt="\left( x - x_1 \right) \ \left( x-x_2 \right ) = x^2 \ - \left( x_1+x_2 \right)x +x_1 \ x_2 \ = 0 \ , " src="//upload.wikimedia.org/wikipedia/en/math/0/6/3/06386aee9c6d1821d3fe62b9a1f5db41.png" /></dd>
</dl>
<p>which can be compared term by term with:</p>
<dl>
<dd><img class="tex" alt=" x^2 + (b/a)x +c/a = 0 \ ." src="//upload.wikimedia.org/wikipedia/en/math/d/b/6/db60baa1bee750d55bedaf88294d2ec7.png" /></dd>
</dl>
<p>The first formula above yields a convenient expression when graphing a quadratic function. Since the graph is symmetric with respect to a vertical line through the <a href="/wiki/Quadratic_function#Vertex" title="Quadratic function">vertex</a>, when there are two real roots the vertexs x-coordinate is located at the average of the roots (or intercepts). Thus the x-coordinate of the vertex is given by the expression:</p>
<dl>
<dd><img class="tex" alt=" x_V = \frac {x_1 + x_2} {2} = -\frac{b}{2a}." src="//upload.wikimedia.org/wikipedia/en/math/3/d/a/3daecb0d1e130da5c9e6f70c84e76bdd.png" /></dd>
</dl>
<p>The y-coordinate can be obtained by substituting the above result into the given quadratic equation, giving</p>
<dl>
<dd><img class="tex" alt=" y_V = - \frac{b^2}{4a} + c = - \frac{ b^2 - 4ac} {4a}." src="//upload.wikimedia.org/wikipedia/en/math/6/9/8/698ab203f637e6887bc18fdc75f31c4f.png" /></dd>
</dl>
<div class="thumb tright">
<div class="thumbinner" style="width:352px;"><a href="/wiki/File:Excel_quadratic_error.PNG" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/53/Excel_quadratic_error.PNG/350px-Excel_quadratic_error.PNG" width="350" height="186" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Excel_quadratic_error.PNG" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Graph of two evaluations of the smallest root of a quadratic: direct evaluation using the quadratic formula (accurate at smaller <i>b</i>) and an approximation for widely spaced roots (accurate for larger <i>b</i>). The difference reaches a minimum at the large dots, and rounding causes squiggles in the curves beyond this minimum.</div>
</div>
</div>
<p>As a practical matter, Vieta's formulas provide a useful method for finding the roots of a quadratic in the case where one root is much smaller than the other. If |<i>x</i><sub>2</sub>| &lt;&lt; |<i>x</i><sub>1</sub>|, then <i>x</i><sub>1</sub> + <i>x</i><sub>2</sub>  <i>x</i><sub>1</sub>, and we have the estimate:</p>
<dl>
<dd><img class="tex" alt=" x_1 \approx -\frac{b}{a} \ . " src="//upload.wikimedia.org/wikipedia/en/math/0/c/b/0cb4026a10cf2b157808ae566e08376d.png" /></dd>
</dl>
<p>The second Vieta's formula then provides:</p>
<dl>
<dd><img class="tex" alt="x_2 = \frac{c}{a \ x_1} \approx -\frac{c}{b} \ ." src="//upload.wikimedia.org/wikipedia/en/math/8/2/6/82608948d6ce6508d1098bf68baf8c38.png" /></dd>
</dl>
<p>These formulas are much easier to evaluate than the quadratic formula under the condition of one large and one small root, because the quadratic formula evaluates the small root as the difference of two very nearly equal numbers (the case of large <i>b</i>), which causes <a href="/wiki/Round-off_error" title="Round-off error">round-off error</a> in a numerical evaluation. The figure shows the difference between (i) a direct evaluation using the quadratic formula (accurate when the roots are near each other in value) and (ii) an evaluation based upon the above approximation of Vieta's formulas (accurate when the roots are widely spaced). As the linear coefficient <i>b</i> increases, initially the quadratic formula is accurate, and the approximate formula improves in accuracy, leading to a smaller difference between the methods as <i>b</i> increases. However, at some point the quadratic formula begins to lose accuracy because of round off error, while the approximate method continues to improve. Consequently the difference between the methods begins to increase as the quadratic formula becomes worse and worse.</p>
<p>This situation arises commonly in amplifier design, where widely separated roots are desired to insure a stable operation (see <a href="/wiki/Step_response" title="Step response">step response</a>).</p>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=17" title="Edit section: Trigonometric solution for complex roots"></a>]</span> <span class="mw-headline" id="Trigonometric_solution_for_complex_roots">Trigonometric solution for complex roots</span></h3>
<p>In the case of complex roots the roots can also be found <a href="/wiki/Trigonometry" title="Trigonometry">trigonometrically</a>.<sup id="cite_ref-20" class="reference"><a href="#cite_note-20"><span>[</span>21<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=18" title="Edit section: Geometric Solution"></a>]</span> <span class="mw-headline" id="Geometric_Solution">Geometric Solution</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:182px;"><a href="/wiki/File:LillsQuadratic.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d5/LillsQuadratic.svg/180px-LillsQuadratic.svg.png" width="180" height="174" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:LillsQuadratic.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Geometric solution of <i>ax</i><sup>2</sup>+<i>bx</i>+<i>c</i> using Lill's method. Solutions are AX1/SA, AX2/SA</div>
</div>
</div>
<p>The quadratic equation may be solved geometrically in a number of ways. One way is via <a href="/wiki/Lill%27s_method" title="Lill's method">Lill's method</a>. The three coefficients <i>a</i>, <i>b</i>, <i>c</i> are drawn with right angles between them as in SA, AB, and BC in the accompanying diagram. A circle is drawn with the start and end point SC as a diameter. If this cuts the middle line AB of the three then the equation has a solution, and the solutions are given by negative of the distance along this line from A divided by the first coefficient <i>a</i> or SA. If <i>a</i> is 1 the coefficients may be read off directly. Thus the solutions in the diagram are AX1/SA and AX2/SA.<sup id="cite_ref-21" class="reference"><a href="#cite_note-21"><span>[</span>22<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=19" title="Edit section: Generalization of quadratic equation"></a>]</span> <span class="mw-headline" id="Generalization_of_quadratic_equation">Generalization of quadratic equation</span></h2>
<p>The formula and its derivation remain correct if the coefficients <i>a</i>, <i>b</i> and <i>c</i> are <a href="/wiki/Complex_number" title="Complex number">complex numbers</a>, or more generally members of any <a href="/wiki/Field_(mathematics)" title="Field (mathematics)">field</a> whose <a href="/wiki/Characteristic_(algebra)" title="Characteristic (algebra)">characteristic</a> is not 2. (In a field of characteristic 2, the element 2<i>a</i> is zero and it is impossible to divide by it.)</p>
<p>The symbol</p>
<dl>
<dd><img class="tex" alt="\pm \sqrt {b^2-4ac}" src="//upload.wikimedia.org/wikipedia/en/math/2/0/6/206f72fb8355f3c9895442abc18a5a02.png" /></dd>
</dl>
<p>in the formula should be understood as "either of the two elements whose square is <i>b</i><sup>2</sup>&#160;&#160;4<i>ac</i>, if such elements exist". In some fields, some elements have no square roots and some have two; only zero has just one square root, except in fields of characteristic 2. Note that even if a field does not contain a square root of some number, there is always a quadratic <a href="/wiki/Extension_field" title="Extension field" class="mw-redirect">extension field</a> which does, so the quadratic formula will always make sense as a formula in that extension field.</p>
<h3><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=20" title="Edit section: Characteristic 2"></a>]</span> <span class="mw-headline" id="Characteristic_2">Characteristic 2</span></h3>
<p>In a field of characteristic 2, the quadratic formula, which relies on 2 being a <a href="/wiki/Unit_(ring_theory)" title="Unit (ring theory)">unit</a>, does not hold. Consider the <a href="/wiki/Monic_polynomial" title="Monic polynomial">monic</a> quadratic polynomial</p>
<dl>
<dd><img class="tex" alt="\displaystyle x^{2} + bx + c" src="//upload.wikimedia.org/wikipedia/en/math/e/e/f/eef061361fd52f7e12b262dcfbaef892.png" /></dd>
</dl>
<p>over a field of characteristic 2. If <i>b</i> = 0, then the solution reduces to extracting a square root, so the solution is</p>
<dl>
<dd><img class="tex" alt="\displaystyle x = \sqrt{c}" src="//upload.wikimedia.org/wikipedia/en/math/a/3/b/a3b58d6a4e5a49d94568a99718b8d6e2.png" /></dd>
</dl>
<p>and note that there is only one root since</p>
<dl>
<dd><img class="tex" alt="\displaystyle -\sqrt{c} = -\sqrt{c} + 2\sqrt{c} = \sqrt{c}." src="//upload.wikimedia.org/wikipedia/en/math/9/1/1/9112377ccda03c7aab5c7b1297099754.png" /></dd>
</dl>
<p>In summary,</p>
<dl>
<dd><img class="tex" alt="\displaystyle x^{2} + c = (x + \sqrt{c})^{2}." src="//upload.wikimedia.org/wikipedia/en/math/f/f/6/ff62d06bc45279c87105ca1eb7f4cd0d.png" /></dd>
</dl>
<p>See <a href="/wiki/Quadratic_residue" title="Quadratic residue">quadratic residue</a> for more information about extracting square roots in finite fields.</p>
<p>In the case that <i>b</i>  0, there are two distinct roots, but if the polynomial is <a href="/wiki/Irreducible_polynomial" title="Irreducible polynomial">irreducible</a>, they cannot be expressed in terms of square roots of numbers in the coefficient field. Instead, define the <b>2-root</b> <i>R</i>(<i>c</i>) of <i>c</i> to be a root of the polynomial <i>x</i><sup>2</sup> + <i>x</i> + <i>c</i>, an element of the <a href="/wiki/Splitting_field" title="Splitting field">splitting field</a> of that polynomial. One verifies that <i>R</i>(<i>c</i>) + 1 is also a root. In terms of the 2-root operation, the two roots of the (non-monic) quadratic <i>ax</i><sup>2</sup> + <i>bx</i> + <i>c</i> are</p>
<dl>
<dd><img class="tex" alt="\frac{b}{a}R\left(\frac{ac}{b^2}\right)" src="//upload.wikimedia.org/wikipedia/en/math/d/d/5/dd50bdf6ec4ffae6feb928f873e7db1b.png" /></dd>
</dl>
<p>and</p>
<dl>
<dd><img class="tex" alt="\frac{b}{a}\left(R\left(\frac{ac}{b^2}\right)+1\right)." src="//upload.wikimedia.org/wikipedia/en/math/f/c/e/fce5edd05f8ee81bd211647eb05571b1.png" /></dd>
</dl>
<p>For example, let <i>a</i> denote a multiplicative generator of the group of units of <b>F</b><sub>4</sub>, the <a href="/wiki/Galois_field" title="Galois field" class="mw-redirect">Galois field</a> of order four (thus <i>a</i> and <i>a</i> + 1 are roots of <i>x</i><sup>2</sup> + <i>x</i> + 1 over <b>F</b><sub>4</sub>). Because (<i>a</i> + 1)<sup>2</sup> = <i>a</i>, <i>a</i> + 1 is the unique solution of the quadratic equation <i>x</i><sup>2</sup> + <i>a</i> = 0. On the other hand, the polynomial <i>x</i><sup>2</sup> + <i>ax</i> + 1 is irreducible over <b>F</b><sub>4</sub>, but it splits over <b>F</b><sub>16</sub>, where it has the two roots <i>ab</i> and <i>ab</i> + <i>a</i>, where <i>b</i> is a root of <i>x</i><sup>2</sup> + <i>x</i> + <i>a</i> in <b>F</b><sub>16</sub>.</p>
<p>This is a special case of <a href="/wiki/Artin-Schreier_theory" title="Artin-Schreier theory" class="mw-redirect">Artin-Schreier theory</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=21" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<div style="-moz-column-count:2; column-count:2">
<ul>
<li><a href="/wiki/Chakravala_method" title="Chakravala method">Chakravala method</a></li>
<li><a href="/wiki/Completing_the_square" title="Completing the square">Completing the square</a></li>
<li><a href="/wiki/Cubic_function" title="Cubic function">Cubic function</a></li>
<li><a href="/wiki/Fundamental_theorem_of_algebra" title="Fundamental theorem of algebra">Fundamental theorem of algebra</a></li>
<li><a href="/wiki/Linear_equation" title="Linear equation">Linear equation</a></li>
<li><a href="/wiki/Parabola" title="Parabola">Parabola</a></li>
<li><a href="/wiki/Periodic_points_of_complex_quadratic_mappings" title="Periodic points of complex quadratic mappings">Periodic points of complex quadratic mappings</a></li>
<li><a href="/wiki/Quadratic_function" title="Quadratic function">Quadratic function</a></li>
<li><a href="/wiki/Quadratic_polynomial" title="Quadratic polynomial">Quadratic polynomial</a></li>
<li><a href="/wiki/Quartic_function" title="Quartic function">Quartic function</a></li>
<li><a href="/wiki/Quintic_function" title="Quintic function">Quintic function</a></li>
<li><a href="/wiki/Solving_quadratic_equations_with_continued_fractions" title="Solving quadratic equations with continued fractions">Solving quadratic equations with continued fractions</a></li>
</ul>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=22" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><a href="#CITEREFStillwell2004">Stillwell 2004</a>, p.&#160;86</span></li>
<li id="cite_note-Stillwell.2C_p._87-1">^ <a href="#cite_ref-Stillwell.2C_p._87_1-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Stillwell.2C_p._87_1-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><a href="#CITEREFStillwell2004">Stillwell 2004</a>, p.&#160;87</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a rel="nofollow" class="external autonumber" href="http://cdli.ucla.edu/pubs/cdlj/2009/cdlj2009_003.html">[1]</a> Jran Friberg, A Geometric Algorithm with Solutions to Quadratic Equations in a Sumerian Juridical Document from Ur III Umma, CDLI, 2009.</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text">David Eugene Smith (1958). "<i><a rel="nofollow" class="external text" href="http://books.google.com/books?id=12qdOZ0gsWoC&amp;pg=PA134&amp;dq&amp;hl=en#v=onepage&amp;q=&amp;f=false">History of mathematics</a></i>". Courier Dover Publications. p.134. <a href="/wiki/Special:BookSources/0486204294" class="internal mw-magiclink-isbn">ISBN 0486204294</a></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><a href="#CITEREFKatzBarton2007">Katz &amp; Barton 2007</a>, pp.&#160;190191</span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text">(<a href="#CITEREFBoyerMerzbach1991">Boyer &amp; Merzbach 1991</a>, p.&#160;230) "Al-Khwarizmi here calls attention to the fact that what we designate as the discriminant must be positive: "You ought to understand also that when you take the half of the roots in this form of equation and then multiply the half by itself; if that which proceeds or results from the multiplication is less than the units above mentioned as accompanying the square, you have an equation." [...] Once more the steps in completing the square are meticulously indicated, without justification,"</span></li>
<li id="cite_note-Boyer_Ibn_Turk-6"><b><a href="#cite_ref-Boyer_Ibn_Turk_6-0">^</a></b> <span class="reference-text">(<a href="#CITEREFBoyerMerzbach1991">Boyer &amp; Merzbach 1991</a>, p.&#160;234) "The <i>Algebra</i> of al-Khwarizmi usually is regarded as the first work on the subject, but a recent publication in Turkey raises some questions about this. A manuscript of a work by 'Abd-al-Hamid ibn-Turk, entitled "Logical Necessities in Mixed Equations," was part of a book on <i>Al-jabr wa'l muqabalah</i> which was evidently very much the same as that by al-Khwarizmi and was published at about the same time - possibly even earlier. The surviving chapters on "Logical Necessities" give precisely the same type of geometric demonstration as al-Khwarizmi's <i>Algebra</i> and in one case the same illustrative example x<sup>2</sup> + 21 = 10x. In one respect 'Abd-al-Hamad's exposition is more thorough than that of al-Khwarizmi for he gives geometric figures to prove that if the discriminant is negative, a quadratic equation has no solution. Similarities in the works of the two men and the systematic organization found in them seem to indicate that algebra in their day was not so recent a development as has usually been assumed. When textbooks with a conventional and well-ordered exposition appear simultaneously, a subject is likely to be considerably beyond the formative stage. [...] Note the omission of Diophantus and Pappus, authors who evidently were not at first known in Arabia, although the Diophantine <i>Arithmetica</i> became familiar before the end of the tenth century."</span></li>
<li id="cite_note-7"><b><a href="#cite_ref-7">^</a></b> <span class="reference-text"><a href="#CITEREFKatzBarton2007">Katz &amp; Barton 2007</a>, p.&#160;191</span></li>
<li id="cite_note-8"><b><a href="#cite_ref-8">^</a></b> <span class="reference-text"><span class="citation"><a href="/wiki/John_J._O%27Connor_(mathematician)" title="John J. O'Connor (mathematician)" class="mw-redirect">O'Connor, John J.</a>; <a href="/wiki/Edmund_F._Robertson" title="Edmund F. Robertson">Robertson, Edmund F.</a>, <a rel="nofollow" class="external text" href="http://www-history.mcs.st-andrews.ac.uk/HistTopics/Arabic_mathematics.html">"Arabic mathematics: forgotten brilliance?"</a>, <i><a href="/wiki/MacTutor_History_of_Mathematics_archive" title="MacTutor History of Mathematics archive">MacTutor History of Mathematics archive</a></i>, <a href="/wiki/University_of_St_Andrews" title="University of St Andrews">University of St Andrews</a><span class="printonly">, <a rel="nofollow" class="external free" href="http://www-history.mcs.st-andrews.ac.uk/HistTopics/Arabic_mathematics.html">http://www-history.mcs.st-andrews.ac.uk/HistTopics/Arabic_mathematics.html</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Arabic+mathematics%3A+forgotten+brilliance%3F&amp;rft.atitle=%5B%5BMacTutor+History+of+Mathematics+archive%5D%5D&amp;rft.aulast=O%27Connor&amp;rft.aufirst=John+J.&amp;rft.au=O%27Connor%2C%26%2332%3BJohn+J.&amp;rft.au=Robertson%2C%26%2332%3BEdmund+F.&amp;rft.pub=%5B%5BUniversity+of+St+Andrews%5D%5D&amp;rft_id=&amp;rfr_id=info:sid/en.wikipedia.org:Quadratic_equation"><span style="display: none;">&#160;</span></span>. "Algebra was a unifying theory which allowed rational numbers, irrational numbers, geometrical magnitudes, etc., to all be treated as "algebraic objects"."</span></li>
<li id="cite_note-9"><b><a href="#cite_ref-9">^</a></b> <span class="reference-text">Jacques Sesiano, "Islamic mathematics", p. 148, in <span class="citation" id="CITEREFSelinD.27Ambrosio2000">Selin, Helaine; D'Ambrosio, Ubiratan (2000), <i>Mathematics Across Cultures: The History of Non-Western Mathematics</i>, <a href="/wiki/Springer_Science%2BBusiness_Media" title="Springer Science+Business Media">Springer</a>, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/1402002602" title="Special:BookSources/1402002602">1402002602</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Mathematics+Across+Cultures%3A+The+History+of+Non-Western+Mathematics&amp;rft.aulast=Selin&amp;rft.aufirst=Helaine&amp;rft.au=Selin%2C%26%2332%3BHelaine&amp;rft.au=D%27Ambrosio%2C%26%2332%3BUbiratan&amp;rft.date=2000&amp;rft.pub=%5B%5BSpringer+Science%2BBusiness+Media%7CSpringer%5D%5D&amp;rft.isbn=1402002602&amp;rfr_id=info:sid/en.wikipedia.org:Quadratic_equation"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-10"><b><a href="#cite_ref-10">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://books.google.com/books?id=veQ9a3nixDUC&amp;pg=PA62&amp;lpg=PA62&amp;dq=Abraham+bar+Hiyya+Ha-Nasi+quadratic&amp;source=bl&amp;ots=85JwJi8y4q&amp;sig=UvI5MOdfntTgYwJgR_-5yEZuvEI&amp;hl=en&amp;ei=yGSjSe7eB4iQngf9p52kBQ&amp;sa=X&amp;oi=book_result&amp;resnum=2&amp;ct=result">The Equation that Couldn't be Solved</a></span></li>
<li id="cite_note-11"><b><a href="#cite_ref-11">^</a></b> <span class="reference-text"><a href="#CITEREFKatzBarton2007">Katz &amp; Barton 2007</a>, pp.&#160;190193</span></li>
<li id="cite_note-12"><b><a href="#cite_ref-12">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFStruikStevin1958">Struik, D. J.; Stevin, Simon (1958), <a rel="nofollow" class="external text" href="http://www.historyofscience.nl/works_detail.cfm?RecordId=2702"><i>The Principal Works of Simon Stevin</i></a>, <b>II-B</b>, C. V. Swets &amp; Zeitlinger, p.&#160;470<span class="printonly">, <a rel="nofollow" class="external free" href="http://www.historyofscience.nl/works_detail.cfm?RecordId=2702">http://www.historyofscience.nl/works_detail.cfm?RecordId=2702</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+Principal+Works+of+Simon+Stevin&amp;rft.aulast=Struik&amp;rft.aufirst=D.+J.&amp;rft.au=Struik%2C%26%2332%3BD.+J.&amp;rft.au=Stevin%2C%26%2332%3BSimon&amp;rft.date=1958&amp;rft.volume=II-B&amp;rft.pages=p.%26nbsp%3B470&amp;rft.pub=C.+V.+Swets+%26+Zeitlinger&amp;rft_id=http%3A%2F%2Fwww.historyofscience.nl%2Fworks_detail.cfm%3FRecordId%3D2702&amp;rfr_id=info:sid/en.wikipedia.org:Quadratic_equation"><span style="display: none;">&#160;</span></span>, <a rel="nofollow" class="external text" href="http://www.historyofscience.nl/search/detail.cfm?startrow=14&amp;view=image&amp;pubid=2502">Extract page 470</a></span></li>
<li id="cite_note-heaton-1896-13"><b><a href="#cite_ref-heaton-1896_13-0">^</a></b> <span class="reference-text">Heaton, H. (1896) <i><a rel="nofollow" class="external text" href="http://www.jstor.org/stable/info/2971099">A Method of Solving Quadratic Equations</a></i>, <a href="/wiki/American_Mathematical_Monthly" title="American Mathematical Monthly">American Mathematical Monthly</a> <b>3</b>(10), 236237.</span></li>
<li id="cite_note-14"><b><a href="#cite_ref-14">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFRichSchmidt2004">Rich, Barnett; Schmidt, Philip (2004), <a rel="nofollow" class="external text" href="http://books.google.com/?id=8PRU9cTKprsC"><i>Schaum's Outline of Theory and Problems of ELEMENTARY ALGEBRA</i></a>, The McGraw-Hill Companies, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-07-141083-X" title="Special:BookSources/0-07-141083-X">0-07-141083-X</a><span class="printonly">, <a rel="nofollow" class="external free" href="http://books.google.com/?id=8PRU9cTKprsC">http://books.google.com/?id=8PRU9cTKprsC</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Schaum%27s+Outline+of+Theory+and+Problems+of+ELEMENTARY+ALGEBRA&amp;rft.aulast=Rich&amp;rft.aufirst=Barnett&amp;rft.au=Rich%2C%26%2332%3BBarnett&amp;rft.au=Schmidt%2C%26%2332%3BPhilip&amp;rft.date=2004&amp;rft.pub=The+McGraw-Hill+Companies&amp;rft.isbn=0-07-141083-X&amp;rft_id=http%3A%2F%2Fbooks.google.com%2F%3Fid%3D8PRU9cTKprsC&amp;rfr_id=info:sid/en.wikipedia.org:Quadratic_equation"><span style="display: none;">&#160;</span></span>, <a rel="nofollow" class="external text" href="http://books.google.be/books?id=8PRU9cTKprsC&amp;pg=PA291">Chapter 13 4.4, p. 291</a></span></li>
<li id="cite_note-efei-15"><b><a href="#cite_ref-efei_15-0">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFPrasolovSolovyev1997">Prasolov, Viktor; Solovyev, Yuri (1997), <a rel="nofollow" class="external text" href="http://books.google.com/?id=fcp9IiZd3tQC"><i>Elliptic functions and elliptic integrals</i></a>, AMS Bookstore, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978_0_82180587_9" title="Special:BookSources/978 0 82180587 9">978 0 82180587 9</a><span class="printonly">, <a rel="nofollow" class="external free" href="http://books.google.com/?id=fcp9IiZd3tQC">http://books.google.com/?id=fcp9IiZd3tQC</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Elliptic+functions+and+elliptic+integrals&amp;rft.aulast=Prasolov&amp;rft.aufirst=Viktor&amp;rft.au=Prasolov%2C%26%2332%3BViktor&amp;rft.au=Solovyev%2C%26%2332%3BYuri&amp;rft.date=1997&amp;rft.pub=AMS+Bookstore&amp;rft.isbn=978+0+82180587+9&amp;rft_id=http%3A%2F%2Fbooks.google.com%2F%3Fid%3Dfcp9IiZd3tQC&amp;rfr_id=info:sid/en.wikipedia.org:Quadratic_equation"><span style="display: none;">&#160;</span></span>, <a rel="nofollow" class="external text" href="http://books.google.com/books?id=fcp9IiZd3tQC&amp;pg=PA134#PPA134,M1">6.2, p. 134</a></span></li>
<li id="cite_note-16"><b><a href="#cite_ref-16">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFPressFlanneryTeukolskyVetterling1992">Press, William H.; Flannery, Brian P.; Teukolsky, Saul A.; Vetterling, William T. (1992), <a rel="nofollow" class="external text" href="http://www.nrbook.com/a/bookcpdf.php"><i>Numerical Recipes in C</i></a> (Second ed.)<span class="printonly">, <a rel="nofollow" class="external free" href="http://www.nrbook.com/a/bookcpdf.php">http://www.nrbook.com/a/bookcpdf.php</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Numerical+Recipes+in+C&amp;rft.aulast=Press&amp;rft.aufirst=William+H.&amp;rft.au=Press%2C%26%2332%3BWilliam+H.&amp;rft.au=Flannery%2C%26%2332%3BBrian+P.&amp;rft.au=Teukolsky%2C%26%2332%3BSaul+A.&amp;rft.au=Vetterling%2C%26%2332%3BWilliam+T.&amp;rft.date=1992&amp;rft.ion=Second&amp;rft_id=http%3A%2F%2Fwww.nrbook.com%2Fa%2Fbookcpdf.php&amp;rfr_id=info:sid/en.wikipedia.org:Quadratic_equation"><span style="display: none;">&#160;</span></span>, Section 5.6: "Quadratic and Cubic Equations.</span></li>
<li id="cite_note-17"><b><a href="#cite_ref-17">^</a></b> <span class="reference-text"><span class="citation web">W. Kahan (20 November 2004). <a rel="nofollow" class="external text" href="http://www.cs.berkeley.edu/~wkahan/Qdrtcs.pdf">"On the Cost of Floating-Point Computation Without Extra-Precise Arithmetic"</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://www.cs.berkeley.edu/~wkahan/Qdrtcs.pdf">http://www.cs.berkeley.edu/~wkahan/Qdrtcs.pdf</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=On+the+Cost+of+Floating-Point+Computation+Without+Extra-Precise+Arithmetic&amp;rft.atitle=&amp;rft.aulast=W.+Kahan&amp;rft.au=W.+Kahan&amp;rft.date=20+November+2004&amp;rft_id=http%3A%2F%2Fwww.cs.berkeley.edu%2F%7Ewkahan%2FQdrtcs.pdf&amp;rfr_id=info:sid/en.wikipedia.org:Quadratic_equation"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-18"><b><a href="#cite_ref-18">^</a></b> <span class="reference-text"><span class="citation book">Higham, Nicholas (2002). <i>Accuracy and Stability of Numerical Algorithms</i> (2nd ed.). SIAM. pp.&#160;10. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-0898715217" title="Special:BookSources/978-0898715217">978-0898715217</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Accuracy+and+Stability+of+Numerical+Algorithms&amp;rft.aulast=Higham&amp;rft.aufirst=Nicholas&amp;rft.au=Higham%2C%26%2332%3BNicholas&amp;rft.date=2002&amp;rft.pages=pp.%26nbsp%3B10&amp;rft.ion=2nd&amp;rft.pub=SIAM&amp;rft.isbn=978-0898715217&amp;rfr_id=info:sid/en.wikipedia.org:Quadratic_equation"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-19"><b><a href="#cite_ref-19">^</a></b> <span class="reference-text"><span class="citation Journal">Hough, David. "Applications of the proposed IEEE 754 standard for floating point arithmetic". <i>IEEE Computer</i> <b>14</b> (3): 7074.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Applications+of+the+proposed+IEEE+754+standard+for+floating+point+arithmetic&amp;rft.jtitle=IEEE+Computer&amp;rft.aulast=Hough&amp;rft.aufirst=David&amp;rft.au=Hough%2C%26%2332%3BDavid&amp;rft.volume=14&amp;rft.issue=3&amp;rft.pages=70%E2%80%9374&amp;rfr_id=info:sid/en.wikipedia.org:Quadratic_equation"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-20"><b><a href="#cite_ref-20">^</a></b> <span class="reference-text">Simons, Stuart, "Alternative approach to complex roots of real quadratic equations", <i><a href="/wiki/Mathematical_Gazette" title="Mathematical Gazette" class="mw-redirect">Mathematical Gazette</a></i> 93, March 2009, 91-92.</span></li>
<li id="cite_note-21"><b><a href="#cite_ref-21">^</a></b> <span class="reference-text"><span class="citation book">Bixby, William Herbert (1879). <i>Graphical Method for finding readily the Real Roots of Numerical Equations of Any Degree</i>. West Point N. Y..</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Graphical+Method+for+finding+readily+the+Real+Roots+of+Numerical+Equations+of+Any+Degree&amp;rft.aulast=Bixby&amp;rft.aufirst=William+Herbert&amp;rft.au=Bixby%2C%26%2332%3BWilliam+Herbert&amp;rft.date=1879&amp;rft.pub=West+Point+N.+Y.&amp;rfr_id=info:sid/en.wikipedia.org:Quadratic_equation"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<ul>
<li><span class="citation" id="CITEREFBoyerMerzbach1991"><a href="/wiki/Carl_Benjamin_Boyer" title="Carl Benjamin Boyer">Boyer, Carl B.</a>; Merzbach, Uta C. (1991), "The Arabic Hegemony", <i>A History of Mathematics</i> (2nd ed.), Wiley, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0471543977" title="Special:BookSources/0471543977">0471543977</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=The+Arabic+Hegemony&amp;rft.atitle=A+History+of+Mathematics&amp;rft.aulast=Boyer&amp;rft.aufirst=Carl+B.&amp;rft.au=Boyer%2C%26%2332%3BCarl+B.&amp;rft.au=Merzbach%2C%26%2332%3BUta+C.&amp;rft.date=1991&amp;rft.ion=2nd&amp;rft.pub=Wiley&amp;rft.isbn=0471543977&amp;rfr_id=info:sid/en.wikipedia.org:Quadratic_equation"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation" id="CITEREFKatzBarton2007">Katz, Victor J.; Barton, Bill (October 2007), "Stages in the History of Algebra with Implications for Teaching", <i>Educational Studies in Mathematics</i> (<a href="/wiki/Springer_Science%2BBusiness_Media" title="Springer Science+Business Media">Springer Netherlands</a>) <b>66</b> (2): 185201, <a href="/wiki/Digital_object_identifier" title="Digital object identifier">doi</a>:<a rel="nofollow" class="external text" href="http://dx.doi.org/10.1007%2Fs10649-006-9023-7">10.1007/s10649-006-9023-7</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Stages+in+the+History+of+Algebra+with+Implications+for+Teaching&amp;rft.jtitle=Educational+Studies+in+Mathematics&amp;rft.aulast=Katz&amp;rft.aufirst=Victor+J.&amp;rft.au=Katz%2C%26%2332%3BVictor+J.&amp;rft.au=Barton%2C%26%2332%3BBill&amp;rft.date=October+2007&amp;rft.volume=66&amp;rft.issue=2&amp;rft.pages=185%E2%80%93201&amp;rft.pub=%5B%5BSpringer+Science%2BBusiness+Media%7CSpringer+Netherlands%5D%5D&amp;rft_id=info:doi/10.1007%2Fs10649-006-9023-7&amp;rfr_id=info:sid/en.wikipedia.org:Quadratic_equation"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation" id="CITEREFStillwell2004">Stillwell, John (January 27, 2004), <i>Mathematics and Its History</i> (2nd ed.), Springer, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-387-95336-1" title="Special:BookSources/0-387-95336-1">0-387-95336-1</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Mathematics+and+Its+History&amp;rft.aulast=Stillwell&amp;rft.aufirst=John&amp;rft.au=Stillwell%2C%26%2332%3BJohn&amp;rft.date=January+27%2C+2004&amp;rft.ion=2nd&amp;rft.pub=Springer&amp;rft.isbn=0-387-95336-1&amp;rfr_id=info:sid/en.wikipedia.org:Quadratic_equation"><span style="display: none;">&#160;</span></span></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Quadratic_equation&amp;action=&amp;section=23" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Quadratic_equations"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/QuadraticEquation.html">Quadratic equations</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><a rel="nofollow" class="external text" href="http://plus.maths.org/issue29/features/quadratic/index-gifd.html">101 uses of a quadratic equation</a></li>
<li><a rel="nofollow" class="external text" href="http://plus.maths.org/issue30/features/quadratic/index-gifd.html">101 uses of a quadratic equation: Part II</a></li>
<li><a rel="nofollow" class="external text" href="http://www.gandraxa.com/using_the_quadratic_formula.xml?Var1=3;Var2=1/4;Var3=4">Step-by-step instructions on using the quadratic formula for any input</a></li>
</ul>
<table cellspacing="0" class="navbox" style="border-spacing:0;;">
<tr>
<td style="padding:2px;">
<table cellspacing="0" class="nowraplinks collapsible autocollapse navbox-inner" style="border-spacing:0;background:transparent;color:inherit;;">
<tr>
<th scope="col" style=";" class="navbox-title" colspan="2">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Polynomials" title="Template:Polynomials"><span title="View this template" style=";;background:none transparent;border:none;">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Polynomials&amp;action=&amp;redlink=1" class="new" title="Template talk:Polynomials (page does not exist)"><span title="Discuss this template" style=";;background:none transparent;border:none;">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Polynomials&amp;action="><span title="Edit this template" style=";;background:none transparent;border:none;">e</span></a></li>
</ul>
</div>
<div class="" style="font-size:110%;"><a href="/wiki/Polynomial" title="Polynomial">Polynomials</a></div>
</th>
</tr>
<tr style="height:2px;">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">By name</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-odd">
<div style="padding:0em 0.25em"><a href="/wiki/Zero_polynomial" title="Zero polynomial" class="mw-redirect">Zero polynomial</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Constant_function" title="Constant function">Constant function</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Linear_equation" title="Linear equation">Linear equation</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Quadratic_function" title="Quadratic function">Quadratic function</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Cubic_function" title="Cubic function">Cubic function</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Quartic_function" title="Quartic function">Quartic function</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Quintic_function" title="Quintic function">Quintic function</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Sextic_equation" title="Sextic equation">Sextic equation</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Septic_equation" title="Septic equation">Septic equation</a> &#160;<span style="font-weight:bold;"></span>  <a href="/w/index.php?title=Octic_equation&amp;action=&amp;redlink=1" class="new" title="Octic equation (page does not exist)">Octic equation</a> &#160;<span style="font-weight:bold;"></span>  <a href="/w/index.php?title=Nonic_equation&amp;action=&amp;redlink=1" class="new" title="Nonic equation (page does not exist)">Nonic equation</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Decic_equation" title="Decic equation">Decic equation</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Hectic_equation" title="Hectic equation" class="mw-redirect">Hectic equation</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">By <a href="/wiki/Degree_of_a_polynomial" title="Degree of a polynomial">degree</a></th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-even">
<div style="padding:0em 0.25em"><a href="/wiki/Constant_function" title="Constant function">0</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Linear_equation" title="Linear equation">1</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Quadratic_function" title="Quadratic function">2</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Cubic_function" title="Cubic function">3</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Quartic_function" title="Quartic function">4</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Quintic_function" title="Quintic function">5</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Sextic_equation" title="Sextic equation">6</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Septic_equation" title="Septic equation">7</a> &#160;<span style="font-weight:bold;"></span>  <a href="/w/index.php?title=Octic_equation&amp;action=&amp;redlink=1" class="new" title="Octic equation (page does not exist)">8</a> &#160;<span style="font-weight:bold;"></span>  <a href="/w/index.php?title=Nonic_equation&amp;action=&amp;redlink=1" class="new" title="Nonic equation (page does not exist)">9</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Decic_equation" title="Decic equation">10</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Hectic_equation" title="Hectic equation" class="mw-redirect">100</a></div>
</td>
</tr>
</table>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 13182/1000000
Post-expand include size: 92538/2048000 bytes
Template argument size: 26464/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:25175-0!0!0!!en!4!* and timestamp 20120417223741 -->
