<div class="thumb tright">
<div class="thumbinner" style="width:235px;"><a href="/wiki/File:Polynomialdeg4.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Polynomialdeg4.svg/233px-Polynomialdeg4.svg.png" width="233" height="194" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Polynomialdeg4.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Graph of a polynomial of degree 4, with 3 <a href="/wiki/Critical_point_(mathematics)" title="Critical point (mathematics)">critical points</a>.</div>
</div>
</div>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, a <b>quartic function</b>, or equation of the fourth degree, is a <a href="/wiki/Function_(mathematics)" title="Function (mathematics)">function</a> of the form</p>
<dl>
<dd><img class="tex" alt="f(x)=ax^4+bx^3+cx^2+dx+e \," src="//upload.wikimedia.org/wikipedia/en/math/0/f/2/0f2932e173dcc50b6562c557ae7821a2.png" /></dd>
</dl>
<p>where <i>a</i> is nonzero; or in other words, a <a href="/wiki/Polynomial" title="Polynomial">polynomial</a> of <a href="/wiki/Degree_of_a_polynomial" title="Degree of a polynomial">degree</a> four. Such a function is sometimes called a <b>biquadratic function</b>, but the latter term can occasionally also refer to a quadratic function of a square, having the form</p>
<dl>
<dd><img class="tex" alt="ax^4+bx^2+c, \," src="//upload.wikimedia.org/wikipedia/en/math/7/4/6/74647f0d497bff3ca0c84f1bfe1dd3fb.png" /></dd>
</dl>
<p>or a product of two quadratic factors, having the form</p>
<dl>
<dd><img class="tex" alt="(ax^2+bx+c)(dy^2+ey+f). \," src="//upload.wikimedia.org/wikipedia/en/math/1/c/f/1cff2fb86005204902802592f6298b98.png" /></dd>
</dl>
<p>Setting <img class="tex" alt="f(x)=0" src="//upload.wikimedia.org/wikipedia/en/math/f/d/0/fd05d8d90456c441c8f10641bd8576bc.png" /> results in a quartic <a href="/wiki/Equation" title="Equation">equation</a> of the form:</p>
<dl>
<dd><img class="tex" alt="ax^4+bx^3+cx^2+dx+e=0 \," src="//upload.wikimedia.org/wikipedia/en/math/3/8/7/3877c974e99e357dd09e6b5b7f78caea.png" /></dd>
</dl>
<p>where <i>a</i>&#160;&#160;0.</p>
<p>The <a href="/wiki/Derivative" title="Derivative">derivative</a> of a quartic function is a <a href="/wiki/Cubic_function" title="Cubic function">cubic function</a>.</p>
<p>Since a quartic function is a polynomial of even degree, it has the same limit when the argument goes to positive or negative <a href="/wiki/Infinity" title="Infinity">infinity</a>. If <i>a</i> is positive, then the function increases to positive infinity at both sides; and thus the function has a <a href="/wiki/Maxima_and_minima" title="Maxima and minima">global minimum</a>. Likewise, if <i>a</i> is negative, it decreases to negative infinity and has a global maximum.</p>
<p>The <b>quartic</b> is the highest order polynomial equation that can be solved by <a href="/wiki/Nth_root" title="Nth root">radicals</a> in the general case (i.e., one where the coefficients can take any value).</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#History"><span class="tocnumber">1</span> <span class="toctext">History</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Applications"><span class="tocnumber">2</span> <span class="toctext">Applications</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Solving_a_quartic_equation"><span class="tocnumber">3</span> <span class="toctext">Solving a quartic equation</span></a>
<ul>
<li class="toclevel-2 tocsection-4"><a href="#Special_cases"><span class="tocnumber">3.1</span> <span class="toctext">Special cases</span></a>
<ul>
<li class="toclevel-3 tocsection-5"><a href="#Degenerate_case"><span class="tocnumber">3.1.1</span> <span class="toctext">Degenerate case</span></a></li>
<li class="toclevel-3 tocsection-6"><a href="#Evident_roots:_1_and_.E2.88.921_and_.E2.88.92k"><span class="tocnumber">3.1.2</span> <span class="toctext">Evident roots: 1 and 1 and <i>k</i></span></a></li>
<li class="toclevel-3 tocsection-7"><a href="#Biquadratic_equations"><span class="tocnumber">3.1.3</span> <span class="toctext">Biquadratic equations</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-8"><a href="#Quasi-symmetric_equations"><span class="tocnumber">3.2</span> <span class="toctext">Quasi-symmetric equations</span></a></li>
<li class="toclevel-2 tocsection-9"><a href="#The_general_case.2C_along_Ferrari.27s_lines"><span class="tocnumber">3.3</span> <span class="toctext">The general case, along Ferrari's lines</span></a>
<ul>
<li class="toclevel-3 tocsection-10"><a href="#Converting_to_a_depressed_quartic"><span class="tocnumber">3.3.1</span> <span class="toctext">Converting to a depressed quartic</span></a></li>
<li class="toclevel-3 tocsection-11"><a href="#Ferrari.27s_solution"><span class="tocnumber">3.3.2</span> <span class="toctext">Ferrari's solution</span></a>
<ul>
<li class="toclevel-4 tocsection-12"><a href="#Conversion_of_the_nested_cubic_into_a_depressed_cubic"><span class="tocnumber">3.3.2.1</span> <span class="toctext">Conversion of the nested cubic into a depressed cubic</span></a></li>
<li class="toclevel-4 tocsection-13"><a href="#Solving_the_nested_depressed_cubic"><span class="tocnumber">3.3.2.2</span> <span class="toctext">Solving the nested depressed cubic</span></a></li>
<li class="toclevel-4 tocsection-14"><a href="#Folding_the_second_perfect_square"><span class="tocnumber">3.3.2.3</span> <span class="toctext">Folding the second perfect square</span></a></li>
<li class="toclevel-4 tocsection-15"><a href="#Summary_of_Ferrari.27s_method"><span class="tocnumber">3.3.2.4</span> <span class="toctext">Summary of Ferrari's method</span></a></li>
<li class="toclevel-4 tocsection-16"><a href="#Ferrari.27s_solution_in_the_special_case_of_real_coefficients"><span class="tocnumber">3.3.2.5</span> <span class="toctext">Ferrari's solution in the special case of real coefficients</span></a></li>
</ul>
</li>
<li class="toclevel-3 tocsection-17"><a href="#Obtaining_alternative_solutions_by_factoring_out_complex_conjugate_solutions"><span class="tocnumber">3.3.3</span> <span class="toctext">Obtaining alternative solutions by factoring out complex conjugate solutions</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-18"><a href="#Alternative_methods"><span class="tocnumber">3.4</span> <span class="toctext">Alternative methods</span></a>
<ul>
<li class="toclevel-3 tocsection-19"><a href="#Factorization_into_quadratics"><span class="tocnumber">3.4.1</span> <span class="toctext">Factorization into quadratics</span></a></li>
<li class="toclevel-3 tocsection-20"><a href="#Galois_theory_and_factorization"><span class="tocnumber">3.4.2</span> <span class="toctext">Galois theory and factorization</span></a></li>
<li class="toclevel-3 tocsection-21"><a href="#Algebraic_geometry"><span class="tocnumber">3.4.3</span> <span class="toctext">Algebraic geometry</span></a></li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1 tocsection-22"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-23"><a href="#References"><span class="tocnumber">5</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-24"><a href="#Further_reading"><span class="tocnumber">6</span> <span class="toctext">Further reading</span></a></li>
<li class="toclevel-1 tocsection-25"><a href="#External_links"><span class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=1" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<p><a href="/wiki/Lodovico_Ferrari" title="Lodovico Ferrari">Lodovico Ferrari</a> is attributed with the discovery of the solution to the quartic in 1540, but since this solution, like all algebraic solutions of the quartic, requires the solution of a <a href="/wiki/Cubic_equation" title="Cubic equation" class="mw-redirect">cubic</a> to be found, it couldn't be published immediately.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> The solution of the quartic was published together with that of the cubic by Ferrari's mentor <a href="/wiki/Gerolamo_Cardano" title="Gerolamo Cardano">Gerolamo Cardano</a> in the book <i><a href="/wiki/Ars_Magna_(Gerolamo_Cardano)" title="Ars Magna (Gerolamo Cardano)">Ars Magna</a></i> (1545).</p>
<p>It is reported that even earlier, in 1486, Spanish mathematician Paolo Valmes was <a href="/wiki/Burned_at_the_stake" title="Burned at the stake" class="mw-redirect">burned at the stake</a> for claiming to have solved the quartic equation. <a href="/wiki/Inquisitor_General" title="Inquisitor General" class="mw-redirect">Inquisitor General</a> <a href="/wiki/Tom%C3%A1s_de_Torquemada" title="Toms de Torquemada">Toms de Torquemada</a> allegedly told him that <i>it was the will of God that such a solution be inaccessible to human understanding.</i><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> However, attempts to find corroborating evidence for this story, or for the existence of Paolo Valmes, have not succeeded.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<p>The proof that four is the highest degree of a general polynomial for which such solutions can be found was first given in the <a href="/wiki/Abel%E2%80%93Ruffini_theorem" title="AbelRuffini theorem">AbelRuffini theorem</a> in 1824, proving that all attempts at solving the higher order polynomials would be futile. The notes left by <a href="/wiki/%C3%89variste_Galois" title="variste Galois">variste Galois</a> prior to dying in a duel in 1832 later led to an elegant <a href="/wiki/Galois_Theory" title="Galois Theory" class="mw-redirect">complete theory</a> of the roots of polynomials, of which this theorem was one result.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=2" title="Edit section: Applications"></a>]</span> <span class="mw-headline" id="Applications">Applications</span></h2>
<p>Polynomials of high degrees often appear in problems involving <a href="/wiki/Optimization_(mathematics)" title="Optimization (mathematics)" class="mw-redirect">optimization</a>, and sometimes these polynomials happen to be quartics, but this is a coincidence.</p>
<p>Quartics often arise in <a href="/wiki/Computer_graphics" title="Computer graphics">computer graphics</a> and during <a href="/wiki/Ray_tracing_(graphics)" title="Ray tracing (graphics)">ray-tracing</a> against surfaces such as <a href="/wiki/Quadric" title="Quadric">quadric</a> or <a href="/wiki/Torus" title="Torus">tori</a> surfaces, which are the next level beyond the <a href="/wiki/Sphere" title="Sphere">sphere</a> and <a href="/wiki/Developable_surface" title="Developable surface">developable surfaces</a>.</p>
<p>Another frequent generator of quartics is the intersection of two ellipses.</p>
<p>In <a href="/wiki/Computer-aided_manufacturing" title="Computer-aided manufacturing">computer-aided manufacturing</a>, the torus is a common shape associated with the <a href="/wiki/Endmill" title="Endmill">endmill</a> cutter. To calculate its location relative to a triangulated surface, the position of a horizontal torus on the Z-axis must be found where it is tangent to a fixed line, and this requires the solution of a general quartic equation to be calculated. Over 10% of the computational time in a CAM system can be consumed simply calculating the solution to millions of quartic equations.</p>
<p>A program demonstrating various analytic solutions to the quartic was provided in <a href="/w/index.php?title=Graphics_Gems&amp;action=&amp;redlink=1" class="new" title="Graphics Gems (page does not exist)">Graphics Gems</a> Book V.<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup> However, none of the three algorithms implemented are unconditionally stable. In an updated version of the paper,<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup> which compares the 3 algorithms from the original paper and 2 others, it is demonstrated that computationally stable solutions exist only for 4 of the possible 16 sign combinations of the quartic coefficients.</p>
<h2><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=3" title="Edit section: Solving a quartic equation"></a>]</span> <span class="mw-headline" id="Solving_a_quartic_equation">Solving a quartic equation</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=4" title="Edit section: Special cases"></a>]</span> <span class="mw-headline" id="Special_cases">Special cases</span></h3>
<p>Consider the quartic</p>
<dl>
<dd><img class="tex" alt="Q(x) = a_4x^4+a_3x^3+a_2x^2+a_1x+a_0.\," src="//upload.wikimedia.org/wikipedia/en/math/4/d/7/4d7b449b138d285e00dcc2cb12fb0768.png" /></dd>
</dl>
<h4><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=5" title="Edit section: Degenerate case"></a>]</span> <span class="mw-headline" id="Degenerate_case">Degenerate case</span></h4>
<p>If <span class="nowrap"><i>a</i><sub>0</sub> = 0</span> then <span class="nowrap"><i>Q</i>(0) = 0</span>, and so <span class="nowrap"><i>x</i> = 0</span> is a solution. It follows that <i>Q</i>(<i>x</i>) may be factorised as <span class="nowrap"><i>Q</i>(x) = <i>x</i>(<i>a</i><sub>4</sub><i>x</i><sup>3</sup> + <i>a</i><sub>3</sub><i>x</i><sup>2</sup> + <i>a</i><sub>2</sub><i>x</i> + <i>a</i><sub>1</sub>).</span> The remaining three roots  see <a href="/wiki/Fundamental_Theorem_of_Algebra" title="Fundamental Theorem of Algebra" class="mw-redirect">Fundamental Theorem of Algebra</a>  can be found by solving the <a href="/wiki/Cubic_function" title="Cubic function">cubic equation</a> <span class="nowrap"><i>a</i><sub>4</sub><i>x</i><sup>3</sup> + <i>a</i><sub>3</sub><i>x</i><sup>2</sup> + <i>a</i><sub>2</sub><i>x</i> + <i>a</i><sub>1</sub> = 0</span>.</p>
<h4><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=6" title="Edit section: Evident roots: 1 and 1 and k"></a>]</span> <span class="mw-headline" id="Evident_roots:_1_and_.E2.88.921_and_.E2.88.92k">Evident roots: 1 and 1 and <i>k</i></span></h4>
<p>If <img class="tex" alt="a_0+a_1+a_2+a_3+a_4=0,\," src="//upload.wikimedia.org/wikipedia/en/math/7/e/3/7e3ab2fbc43dab10dfdfb231c3f0fa5b.png" /> then <img class="tex" alt="Q(1) = 0\," src="//upload.wikimedia.org/wikipedia/en/math/0/0/f/00fceaeb1427600b95e5fd790fffedda.png" />, so <img class="tex" alt="1\," src="//upload.wikimedia.org/wikipedia/en/math/d/0/6/d06c48671eacd7f1e2afde7289e483d5.png" /> is a root. Similarly, if <img class="tex" alt="a_4-a_3+a_2-a_1+a_0=0,\," src="//upload.wikimedia.org/wikipedia/en/math/a/3/4/a342db9ff4c4ba5edb5eb662b70986a3.png" /> that is, <img class="tex" alt="a_0+a_2+a_4=a_1+a_3,\," src="//upload.wikimedia.org/wikipedia/en/math/1/3/4/13445ead6a82158bdbf58214a51b6b66.png" /> then <img class="tex" alt="-1\," src="//upload.wikimedia.org/wikipedia/en/math/f/3/c/f3c1d3a00c1ad4b653ef1ce33e47e721.png" /> is a root.</p>
<p>When <img class="tex" alt="1\," src="//upload.wikimedia.org/wikipedia/en/math/d/0/6/d06c48671eacd7f1e2afde7289e483d5.png" /> is a root, we can divide <img class="tex" alt="Q(x)\," src="//upload.wikimedia.org/wikipedia/en/math/c/a/0/ca02ac5ef60b36ee3db4562bcb89bf3f.png" /> by <img class="tex" alt="x-1\," src="//upload.wikimedia.org/wikipedia/en/math/e/0/9/e09aa56011ae1020092aedbff5839a69.png" /> and get</p>
<dl>
<dd><img class="tex" alt="Q(x) = (x - 1)p(x),\," src="//upload.wikimedia.org/wikipedia/en/math/9/b/3/9b34e211186ebf3063a38395bcff06c4.png" /></dd>
</dl>
<p>where <img class="tex" alt="p(x)\," src="//upload.wikimedia.org/wikipedia/en/math/0/9/1/09158ac493eb982be2f92b1ac044362b.png" /> is a <a href="/wiki/Cubic_polynomial" title="Cubic polynomial" class="mw-redirect">cubic polynomial</a>, which may be solved to find <img class="tex" alt="Q\," src="//upload.wikimedia.org/wikipedia/en/math/7/0/3/703d7e7da69a957c727a4fa68f18cfe6.png" /> 's other roots. Similarly, if <img class="tex" alt="-1\," src="//upload.wikimedia.org/wikipedia/en/math/f/3/c/f3c1d3a00c1ad4b653ef1ce33e47e721.png" /> is a root,</p>
<dl>
<dd><img class="tex" alt="Q(x) = (x + 1)p(x),\," src="//upload.wikimedia.org/wikipedia/en/math/b/5/c/b5cb53c47f3c2d35f80ab5f1fa2d359b.png" /></dd>
</dl>
<p>where <img class="tex" alt="p(x)\," src="//upload.wikimedia.org/wikipedia/en/math/0/9/1/09158ac493eb982be2f92b1ac044362b.png" /> is some cubic polynomial.</p>
<p>If <img class="tex" alt="a_2 = 0, a_3 = ka_4, a_0 = ka_1,\," src="//upload.wikimedia.org/wikipedia/en/math/d/9/e/d9ece6f9cedeaffd6df6d3c60340abf3.png" /> then <i>k</i> is a root and we can factor out <img class="tex" alt="x+k\," src="//upload.wikimedia.org/wikipedia/en/math/8/d/f/8df05033bfda73fea82285e93ca17ff0.png" />,</p>
<dl>
<dd><img class="tex" alt="
\begin{align}
Q(x)
&amp;=a_4 x^4 + k a_4 x^3 + a_1 x + ka_1
\\
&amp;=(x + k)a_4x^3 + (x + k)a_1
\\
&amp;=(x + k)(a_4x^3 + a_1).
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/d/d/8/dd85db022d5b64f9fecb4072b46c67ae.png" /></dd>
</dl>
<p>And if <img class="tex" alt="a_0=0, a_3=ka_4, a_1 = ka_2,\," src="//upload.wikimedia.org/wikipedia/en/math/0/c/4/0c4578f99b93b67b79fc44da366d8742.png" /> then both <img class="tex" alt="0\," src="//upload.wikimedia.org/wikipedia/en/math/b/7/2/b7277a3bac777f05d8acc80a07ed0e19.png" /> and <img class="tex" alt="-k\," src="//upload.wikimedia.org/wikipedia/en/math/e/9/2/e921cbcb1c16e3095b04b0456fb0feed.png" /> are roots Now we can factor out <img class="tex" alt="x(x + k)\," src="//upload.wikimedia.org/wikipedia/en/math/5/3/d/53d5663306bb108fc1d9d5c43a2b908f.png" /> and get</p>
<dl>
<dd><img class="tex" alt="
\begin{align}
Q(x)
&amp;=x(a_4x^3+ka_4x^2+a_2x+ka_2)
\\
&amp;=x(x+k)(a_4x^2+a_2).
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/4/6/6/4668b8a7a3947fec65bfb0e887949019.png" /></dd>
</dl>
<p>To get <i>Q</i> 's other roots, we simply solve the quadratic factor.</p>
<h4><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=7" title="Edit section: Biquadratic equations"></a>]</span> <span class="mw-headline" id="Biquadratic_equations">Biquadratic equations</span></h4>
<p>If <img class="tex" alt="a_3=a_1=0,\," src="//upload.wikimedia.org/wikipedia/en/math/a/1/d/a1dd16af51ca0997f9737abe9b966e83.png" /> then</p>
<dl>
<dd><img class="tex" alt="
Q(x) = a_4x^4+a_2x^2+a_0.\,\!
" src="//upload.wikimedia.org/wikipedia/en/math/a/8/9/a89049010bb6714f3499a6114d40fe3a.png" /></dd>
</dl>
<p>We call such a polynomial a <b>biquadratic</b>, which is easy to solve.</p>
<p>Let <img class="tex" alt="z=x^2.\," src="//upload.wikimedia.org/wikipedia/en/math/2/d/a/2da1fac337f6656a4242ae444670feaf.png" /> Then <i>Q</i> becomes a <a href="/wiki/Quadratic_function" title="Quadratic function">quadratic</a> <i>q</i> in <img class="tex" alt="z,\," src="//upload.wikimedia.org/wikipedia/en/math/3/4/8/348719b113d5b60c87ee28c5446ac4ff.png" /></p>
<dl>
<dd><img class="tex" alt="
q(z) = a_4z^2+a_2z+a_0.\,\!
" src="//upload.wikimedia.org/wikipedia/en/math/2/4/5/245a0e8b9457c8cf0cca76aeefc8ea25.png" /></dd>
</dl>
<p>Let <img class="tex" alt="z_+\," src="//upload.wikimedia.org/wikipedia/en/math/9/b/a/9ba03b0e4dc0da9f8842465c59be432a.png" /> and <img class="tex" alt="z_-\," src="//upload.wikimedia.org/wikipedia/en/math/5/7/5/57597d78cad2a8518d9777bcf03cf55f.png" /> be the roots of <i>q</i>. Then the roots of our quartic <i>Q</i> are</p>
<dl>
<dd><img class="tex" alt="
\begin{align}
x_1&amp;=+\sqrt{z_+},
\\
x_2&amp;=-\sqrt{z_+},
\\
x_3&amp;=+\sqrt{z_-},
\\
x_4&amp;=-\sqrt{z_-}.
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/4/3/d/43d033f8a693afb40f4dd1ec3c107590.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=8" title="Edit section: Quasi-symmetric equations"></a>]</span> <span class="mw-headline" id="Quasi-symmetric_equations">Quasi-symmetric equations</span></h3>
<dl>
<dd><img class="tex" alt="a_0x^4+a_1x^3+a_2x^2+a_1 m x+a_0 m^2=0 \," src="//upload.wikimedia.org/wikipedia/en/math/5/a/b/5ab96640dc5a887bffb8302a791469b2.png" /></dd>
</dl>
<p>Steps:</p>
<p>1) Divide by <i>x</i><sup>&#160;2</sup>.</p>
<p>2) Use variable change <i>z</i> = <i>x</i> + <i>m</i>/<i>x</i>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=9" title="Edit section: The general case, along Ferrari's lines"></a>]</span> <span class="mw-headline" id="The_general_case.2C_along_Ferrari.27s_lines">The general case, along Ferrari's lines</span></h3>
<p>To begin, the quartic must first be converted to a <i>depressed quartic</i>.</p>
<h4><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=10" title="Edit section: Converting to a depressed quartic"></a>]</span> <span class="mw-headline" id="Converting_to_a_depressed_quartic">Converting to a depressed quartic</span></h4>
<p>Let</p>
<dl>
<dd><img class="tex" alt=" A x^4 + B x^3 + C x^2 + D x + E = 0 \qquad\qquad(1')" src="//upload.wikimedia.org/wikipedia/en/math/5/4/b/54be364106a71279b669db7aa3fe1dcb.png" /></dd>
</dl>
<p>be the general quartic equation we want to solve. Divide both sides by <i>A</i> to produce a monic polynomial,</p>
<dl>
<dd><img class="tex" alt=" x^4 + {B \over A} x^3 + {C \over A} x^2 + {D \over A} x + {E \over A} = 0. " src="//upload.wikimedia.org/wikipedia/en/math/0/e/a/0ead6faf06bf8c2f5ab884ce2bf025a8.png" /></dd>
</dl>
<p>The first step should be to eliminate the <i>x</i><sup>3</sup> term. To do this, change variables from <i>x</i> to <i>u</i>, such that</p>
<dl>
<dd><img class="tex" alt=" x = u - {B \over 4 A} " src="//upload.wikimedia.org/wikipedia/en/math/d/e/f/defeba6231ee8f8e8300ef7401a1ad78.png" />.</dd>
</dl>
<p>Then</p>
<dl>
<dd><img class="tex" alt=" \left( u - {B \over 4 A} \right)^4 + {B \over A} \left( u - {B \over 4 A} \right)^3 + {C \over A} \left( u - {B \over 4 A} \right)^2 + {D \over A} \left( u - {B \over 4 A} \right) + {E \over A} = 0. " src="//upload.wikimedia.org/wikipedia/en/math/3/5/a/35a4a3b09fe6233fae3cfcaa1e47a175.png" /></dd>
</dl>
<p>Expanding the powers of the binomials produces</p>
<dl>
<dd><img class="tex" alt=" \left( u^4 - {B \over A} u^3 + {6 u^2 B^2 \over 16 A^2} - {4 u B^3 \over 64 A^3} + {B^4 \over 256 A^4} \right)
+ {B \over A}
\left( u^3 - {3 u^2 B \over 4 A} + {3 u B^2 \over 16 A^2} - {B^3 \over 64 A^3} \right)
+ {C \over A}
\left( u^2 - {u B \over 2 A} + {B^2 \over 16 A^2} \right) + {D \over A} \left( u - {B \over 4 A} \right) + {E \over A} = 0. " src="//upload.wikimedia.org/wikipedia/en/math/e/6/1/e615f4a0d21dd8d852b13f1877ddfc0d.png" /></dd>
</dl>
<p>Collecting the same powers of <i>u</i> yields</p>
<dl>
<dd><img class="tex" alt=" u^4 + \left( {-3 B^2 \over 8 A^2} + {C \over A} \right) u^2 + \left( {B^3 \over 8 A^3} - {B C \over 2 A^2} + {D \over A} \right) u + \left( {-3 B^4 \over 256 A^4} + {C B^2 \over 16 A^3} - {B D \over 4 A^2} + {E \over A} \right) = 0. " src="//upload.wikimedia.org/wikipedia/en/math/d/1/8/d18de82ff12787871ff2dd1830b78334.png" /></dd>
</dl>
<p>Now rename the coefficients of <i>u</i>. Let</p>
<dl>
<dd><img class="tex" alt="\begin{align}
\alpha &amp; = {-3 B^2 \over 8 A^2} + {C \over A} ,\\
\beta &amp; = {B^3 \over 8 A^3} - {B C \over 2 A^2} + {D \over A} ,\\
\gamma &amp; = {-3 B^4 \over 256 A^4} + {C B^2 \over 16 A^3} - {B D \over 4 A^2} + {E \over A} .
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/7/1/6/7169e4b6e53476253a8a03f19bb40564.png" /></dd>
</dl>
<p>The resulting equation is</p>
<dl>
<dd><img class="tex" alt=" u^4 + \alpha u^2 + \beta u + \gamma = 0 \qquad \qquad (1) " src="//upload.wikimedia.org/wikipedia/en/math/3/0/9/309dbdd53e7dfe45784b74da09937f3a.png" /></dd>
</dl>
<p>which is a <b>depressed quartic equation</b>.</p>
<p>If <img class="tex" alt="\beta=0 \ " src="//upload.wikimedia.org/wikipedia/en/math/6/4/6/646457087009809f8f5d4e0fb07a2eb9.png" /> then we have a <a href="#Biquadratic_equations">biquadratic equation</a>, which (as explained above) is easily solved; using reverse substitution we can find our values for <img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" />.</p>
<p>If <img class="tex" alt="\gamma=0 \ " src="//upload.wikimedia.org/wikipedia/en/math/5/9/e/59ecbb1c44580fdfd5cf3280b102163c.png" /> then one of the roots is <img class="tex" alt="u=0 \ " src="//upload.wikimedia.org/wikipedia/en/math/4/5/c/45ca7e984361b01cfe2b6ec90ac38cc3.png" /> and the other roots can be found by dividing by <img class="tex" alt="u" src="//upload.wikimedia.org/wikipedia/en/math/7/b/7/7b774effe4a349c6dd82ad4f4f21d34c.png" />, and solving the resulting <a href="/wiki/Cubic_equation#Cardano.27s_method" title="Cubic equation" class="mw-redirect">depressed cubic equation</a>,</p>
<dl>
<dd><img class="tex" alt=" u^3 + \alpha u + \beta = 0 \,." src="//upload.wikimedia.org/wikipedia/en/math/3/f/0/3f07c2eceaca86c16ad99f69e00f3c8b.png" /></dd>
</dl>
<p>Using reverse substitution we can find our values for <img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" />.</p>
<h4><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=11" title="Edit section: Ferrari's solution"></a>]</span> <span class="mw-headline" id="Ferrari.27s_solution">Ferrari's solution</span></h4>
<p>Otherwise, the depressed quartic can be solved by means of a method discovered by <a href="/wiki/Lodovico_Ferrari" title="Lodovico Ferrari">Lodovico Ferrari</a>. Once the depressed quartic has been obtained, the next step is to add the valid identity</p>
<dl>
<dd><img class="tex" alt=" (u^2 + \alpha)^2 - u^4 - 2 \alpha u^2 = \alpha^2\," src="//upload.wikimedia.org/wikipedia/en/math/4/6/4/4642b2fbb68cdf5ff65af9529e93701a.png" /></dd>
</dl>
<p>to equation (1), yielding</p>
<dl>
<dd><img class="tex" alt=" (u^2 + \alpha)^2 + \beta u + \gamma = \alpha u^2 + \alpha^2. \qquad \qquad (2) " src="//upload.wikimedia.org/wikipedia/en/math/7/f/5/7f52a9039dcc1ed7d6874c03ff7ce796.png" /></dd>
</dl>
<p>The effect has been to fold up the <i>u</i><sup>4</sup> term into a <a href="/wiki/Square_number" title="Square number">perfect square</a>: (<i>u</i><sup>2</sup>&#160;+&#160;)<sup>2</sup>. The second term, <i>u</i><sup>2</sup> did not disappear, but its sign has changed and it has been moved to the right side.</p>
<p>The next step is to insert a variable <i>y</i> into the perfect square on the left side of equation (2), and a corresponding 2<i>y</i> into the coefficient of <i>u</i><sup>2</sup> in the right side. To accomplish these insertions, the following valid formulas will be added to equation (2),</p>
<dl>
<dd><img class="tex" alt="
  \begin{matrix}
   (u^2+\alpha+y)^2-(u^2+\alpha)^2 &amp; = &amp; 2y(u^2+\alpha)+ y^2\\
  \\
   &amp; = &amp; 2yu^2+2y\alpha+y^2,
  \end{matrix}
 " src="//upload.wikimedia.org/wikipedia/en/math/7/d/b/7db3605ca106e18ec1f24bc589fe3ccf.png" /></dd>
</dl>
<p>and</p>
<dl>
<dd><img class="tex" alt=" 0 = (\alpha + 2 y) u^2 - 2 y u^2 - \alpha u^2\," src="//upload.wikimedia.org/wikipedia/en/math/2/a/7/2a7b4210e8ec27cba16440787d0b0c08.png" /></dd>
</dl>
<p>These two formulas, added together, produce</p>
<dl>
<dd><img class="tex" alt=" (u^2 + \alpha + y)^2 - (u^2 + \alpha)^2 = (\alpha + 2 y) u^2 - \alpha u^2 + 2 y \alpha + y^2 \qquad \qquad (y-\hbox{insertion})\," src="//upload.wikimedia.org/wikipedia/en/math/8/9/2/89203fac9bcff60f10f243b00595addd.png" /></dd>
</dl>
<p>which added to equation (2) produces</p>
<dl>
<dd><img class="tex" alt=" (u^2 + \alpha + y)^2 + \beta u + \gamma = (\alpha + 2 y) u^2 + (2 y \alpha + y^2 + \alpha^2).\," src="//upload.wikimedia.org/wikipedia/en/math/1/8/2/182bf57c28efd5530eb2d00262e7eac1.png" /></dd>
</dl>
<p>This is equivalent to</p>
<dl>
<dd><img class="tex" alt=" (u^2 + \alpha + y)^2 = (\alpha + 2 y) u^2 - \beta u + (y^2 + 2 y \alpha + \alpha^2 - \gamma). \qquad \qquad (3)\," src="//upload.wikimedia.org/wikipedia/en/math/d/a/0/da026fe7f02b5b1d1a8ad15379fc5222.png" /></dd>
</dl>
<p>The objective now is to choose a value for <i>y</i> such that the right side of equation (3) becomes a perfect square. This can be done by letting the discriminant of the quadratic function become zero. To explain this, first expand a perfect square so that it equals a quadratic function:</p>
<dl>
<dd><img class="tex" alt=" (s u + t)^2 = (s^2) u^2 + (2 s t) u + (t^2).\," src="//upload.wikimedia.org/wikipedia/en/math/b/8/a/b8a0eff27dba8448c2526de3de221fe3.png" /></dd>
</dl>
<p>The quadratic function on the right side has three coefficients. It can be verified that squaring the second coefficient and then subtracting four times the product of the first and third coefficients yields zero:</p>
<dl>
<dd><img class="tex" alt=" (2 s t)^2 - 4 (s^2) (t^2) = 0.\," src="//upload.wikimedia.org/wikipedia/en/math/5/3/6/536cf5c8266bbd04fa69f3b2f4c371d3.png" /></dd>
</dl>
<p>Therefore to make the right side of equation (3) into a perfect square, the following equation must be solved:</p>
<dl>
<dd><img class="tex" alt=" (-\beta)^2 - 4 (2 y + \alpha) (y^2 + 2 y \alpha + \alpha^2 - \gamma) = 0.\," src="//upload.wikimedia.org/wikipedia/en/math/8/4/9/8497b88e1060cbbe181cfeb45583d7f1.png" /></dd>
</dl>
<p>Multiply the binomial with the polynomial,</p>
<dl>
<dd><img class="tex" alt=" \beta^2 - 4 (2 y^3 + 5 \alpha y^2 + (4 \alpha^2 - 2 \gamma) y + (\alpha^3 - \alpha \gamma)) = 0\," src="//upload.wikimedia.org/wikipedia/en/math/6/b/e/6be288bd46f357025c966a2fd8a20dcd.png" /></dd>
</dl>
<p>Divide both sides by 4, and move the <i></i><sup>2</sup>/4 to the right,</p>
<dl>
<dd><img class="tex" alt=" 2 y^3
+ 5 \alpha y^2
+ ( 4 \alpha^2 - 2 \gamma ) y
+ \left( \alpha^3 - \alpha \gamma - {\beta^2 \over 4} \right)
= 0 \qquad \qquad " src="//upload.wikimedia.org/wikipedia/en/math/4/1/8/41821ee168c9a3e67ce4cd5dacd69b55.png" /></dd>
</dl>
<p>This is a <a href="/wiki/Cubic_equation" title="Cubic equation" class="mw-redirect">cubic equation</a> for <i>y</i>. Divide both sides by 2,</p>
<dl>
<dd><img class="tex" alt=" y^3 + {5 \over 2} \alpha y^2 + (2 \alpha^2 - \gamma) y + \left( {\alpha^3 \over 2} - {\alpha \gamma \over 2} - {\beta^2 \over 8} \right) = 0. \qquad \qquad (4) " src="//upload.wikimedia.org/wikipedia/en/math/9/9/1/991767a6bebbcb5bf1be694ca3f02f91.png" /></dd>
</dl>
<h5><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=12" title="Edit section: Conversion of the nested cubic into a depressed cubic"></a>]</span> <span class="mw-headline" id="Conversion_of_the_nested_cubic_into_a_depressed_cubic">Conversion of the nested cubic into a depressed cubic</span></h5>
<p>Equation (4) is a cubic equation nested within the quartic equation. It must be solved to solve the quartic. To solve the cubic, first transform it into a depressed cubic by means of the substitution</p>
<dl>
<dd><img class="tex" alt=" y = v - {5 \over 6} \alpha. " src="//upload.wikimedia.org/wikipedia/en/math/1/b/8/1b8bc7de2d2491b71a6e25255908262c.png" /></dd>
</dl>
<p>Equation (4) becomes</p>
<dl>
<dd><img class="tex" alt=" \left( v - {5 \over 6} \alpha \right)^3 + {5 \over 2} \alpha \left( v - {5 \over 6} \alpha \right)^2 + (2 \alpha^2 - \gamma) \left( v - {5 \over 6} \alpha \right) + \left( {\alpha^3 \over 2} - {\alpha \gamma \over 2} - {\beta^2 \over 8} \right) = 0. " src="//upload.wikimedia.org/wikipedia/en/math/c/8/0/c806ebb6b93dc1cb714b35633e45c936.png" /></dd>
</dl>
<p>Expand the powers of the binomials,</p>
<dl>
<dd><img class="tex" alt=" \left( v^3 - {5 \over 2} \alpha v^2 + {25 \over 12} \alpha^2 v - {125 \over 216} \alpha^3 \right) + {5 \over 2} \alpha \left( v^2 - {5 \over 3} \alpha v + {25 \over 36} \alpha^2 \right) + (2 \alpha^2 - \gamma) \left( v - {5 \over 6} \alpha \right) + \left( {\alpha^3 \over 2} - {\alpha \gamma \over 2} - {\beta^2 \over 8} \right) = 0. " src="//upload.wikimedia.org/wikipedia/en/math/4/7/a/47a9ee51c08b788b6b5797b47107803c.png" /></dd>
</dl>
<p>Distribute, collect like powers of <i>v</i>, and cancel out the pair of <i>v</i><sup>2</sup> terms,</p>
<dl>
<dd><img class="tex" alt=" v^3 + \left( - {\alpha^2 \over 12} - \gamma \right) v + \left( - {\alpha^3 \over 108} + {\alpha \gamma \over 3} - {\beta^2 \over 8} \right) = 0. " src="//upload.wikimedia.org/wikipedia/en/math/7/a/8/7a84b590f800b80016755746aed232cb.png" /></dd>
</dl>
<p>This is a depressed cubic equation.</p>
<p>Relabel its coefficients,</p>
<dl>
<dd><img class="tex" alt=" P = - {\alpha^2 \over 12} - \gamma, " src="//upload.wikimedia.org/wikipedia/en/math/8/e/e/8eeb6f45848bed2ff34a1aaea5119e0d.png" /></dd>
<dd><img class="tex" alt=" Q = - {\alpha^3 \over 108} + {\alpha \gamma \over 3} - {\beta^2 \over 8}. " src="//upload.wikimedia.org/wikipedia/en/math/9/a/8/9a8a589be1782cb1e9a8a57a8fce9cca.png" /></dd>
</dl>
<p>The depressed cubic now is</p>
<dl>
<dd><img class="tex" alt=" v^3 + P v + Q = 0. \qquad \qquad (5)" src="//upload.wikimedia.org/wikipedia/en/math/5/3/d/53d54c5d2f0a4cdcc4eebbd057ef2825.png" /></dd>
</dl>
<h5><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=13" title="Edit section: Solving the nested depressed cubic"></a>]</span> <span class="mw-headline" id="Solving_the_nested_depressed_cubic">Solving the nested depressed cubic</span></h5>
<p>The solutions (any solution will do, so pick any of the three complex roots) of equation (5) are computed as (see <a href="/wiki/Cubic_equation" title="Cubic equation" class="mw-redirect">Cubic equation</a>)</p>
<dl>
<dd><img class="tex" alt="y = - {5 \over 6} \alpha + U + V \qquad \qquad (6)" src="//upload.wikimedia.org/wikipedia/en/math/c/3/3/c3377a38221d5cea3226ae82c4a56203.png" /></dd>
</dl>
<p>where</p>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="U=\sqrt[3]{-{Q\over 2}\pm \sqrt{{Q^{2}\over 4}+{P^{3}\over 27}}}" src="//upload.wikimedia.org/wikipedia/en/math/d/c/d/dcd7f6eef7f97973127a02752f697f38.png" /></dd>
</dl>
</dd>
</dl>
</dd>
</dl>
<p>and <i>V</i> is computed according to the two defining equations <img class="tex" alt="-U \mbox{ }^3-V \mbox{ }^3=Q" src="//upload.wikimedia.org/wikipedia/en/math/f/a/8/fa8fe9c68fb09606a0aef1cbec7275da.png" /> and <img class="tex" alt="-3UV=P" src="//upload.wikimedia.org/wikipedia/en/math/2/1/1/211de338cd4fbbda8a9e10b8c39715dc.png" />, so</p>
<dl>
<dd>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="
V=\begin{cases}
  -\frac{P}{3U}&amp;\text{ if }U\ne 0\text{ and }\\
  -\sqrt[3]{Q}&amp;\text{ if }U=0\ .
\end{cases}" src="//upload.wikimedia.org/wikipedia/en/math/a/6/f/a6f2ffb5408554862e1e2da2dd6192f3.png" /></dd>
</dl>
</dd>
</dl>
</dd>
</dl>
<h5><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=14" title="Edit section: Folding the second perfect square"></a>]</span> <span class="mw-headline" id="Folding_the_second_perfect_square">Folding the second perfect square</span></h5>
<p>With the value for <i>y</i> given by equation (6), it is now known that the right side of equation (3) is a perfect square of the form</p>
<dl>
<dd><img class="tex" alt="(s^2)u^2+(2st)u+(t^2) = (s^2)\left(u - {-(2st) \over 2(s^2)}\right)^2=\left[\sqrt{(s^2)}\left(u - {-(2st) \over 2(s^2)}\right)\right]^2," src="//upload.wikimedia.org/wikipedia/en/math/a/3/4/a341a76f56efc638b6b6081ede6049a5.png" /></dd>
<dd><img class="tex" alt="(s^2)u^2+(2st)u+(t^2) = \left(\left(\sqrt{(s^2)}\right)u + {(2st) \over 2\sqrt{(s^2)}}\right)^2" src="//upload.wikimedia.org/wikipedia/en/math/c/f/e/cfe955b0e9440f7728467334a316e16a.png" />
<dl>
<dd>(This is correct for both signs of square root, as long as the same sign is taken for both square roots. A  is redundant, as it would be absorbed by another  a few equations further down this page.)</dd>
</dl>
</dd>
</dl>
<p>so that it can be folded:</p>
<dl>
<dd><img class="tex" alt=" (\alpha + 2 y) u^2 + (- \beta) u + (y^2 + 2 y \alpha + \alpha^2 - \gamma ) = \left( \left(\sqrt{(\alpha + 2y)}\right)u + {(-\beta) \over 2\sqrt{(\alpha + 2 y)}} \right)^2" src="//upload.wikimedia.org/wikipedia/en/math/7/9/0/7903e1fe9d5e4ddd58ec3ca8dc047fe3.png" />.
<dl>
<dd>Note: If <i></i>  0 then <i></i> + 2<i>y</i>  0. If <i></i> = 0 then this would be a biquadratic equation, which we solved earlier.</dd>
</dl>
</dd>
</dl>
<p>Therefore equation (3) becomes</p>
<dl>
<dd><img class="tex" alt="(u^2 + \alpha + y)^2 = \left( \left(\sqrt{\alpha + 2 y}\right)u - {\beta \over 2\sqrt{\alpha + 2 y}} \right)^2 \qquad\qquad (7)" src="//upload.wikimedia.org/wikipedia/en/math/4/f/f/4fffe0aa9046cd4a4dc057dd695aa0f1.png" />.</dd>
</dl>
<p>Equation (7) has a pair of folded perfect squares, one on each side of the equation. The two perfect squares balance each other.</p>
<p>If two squares are equal, then the sides of the two squares are also equal, as shown by:</p>
<dl>
<dd><img class="tex" alt="(u^2 + \alpha + y) = \pm\left( \left(\sqrt{\alpha + 2 y}\right)u - {\beta \over 2\sqrt{\alpha + 2 y}} \right) \qquad\qquad (7')" src="//upload.wikimedia.org/wikipedia/en/math/9/1/8/918a9f5b7a441b5b36cf9e011734add4.png" />.</dd>
</dl>
<p>Collecting like powers of u produces</p>
<dl>
<dd><img class="tex" alt="u^2 + \left(\mp_s \sqrt{\alpha + 2 y}\right)u + \left( \alpha + y \pm_s {\beta \over 2\sqrt{\alpha + 2 y}} \right) = 0 \qquad\qquad (8)" src="//upload.wikimedia.org/wikipedia/en/math/0/3/c/03cacafd60c3f32e20125549eb9be1a9.png" />.
<dl>
<dd>Note: The subscript <i>s</i> of <img class="tex" alt="\pm_s" src="//upload.wikimedia.org/wikipedia/en/math/7/f/d/7fd54525f639a9730f7d3ec923416a83.png" /> and <img class="tex" alt="\mp_s" src="//upload.wikimedia.org/wikipedia/en/math/c/9/e/c9ecde4007f4c2808f1d2a671544e8e0.png" /> is to note that they are dependent.</dd>
</dl>
</dd>
</dl>
<p>Equation (8) is a <a href="/wiki/Quadratic_equation" title="Quadratic equation">quadratic equation</a> for <i>u</i>. Its solution is</p>
<dl>
<dd><img class="tex" alt="u={\pm_s\sqrt{\alpha + 2 y} \pm_t \sqrt{(\alpha + 2y) - 4(\alpha + y \pm_s {\beta \over 2\sqrt{\alpha + 2 y}})} \over 2}." src="//upload.wikimedia.org/wikipedia/en/math/6/1/d/61d14d625b78edfcdfaf5e4fc82a3cfe.png" /></dd>
</dl>
<p>Simplifying, one gets</p>
<dl>
<dd><img class="tex" alt="u={\pm_s\sqrt{\alpha + 2 y} \pm_t \sqrt{-\left(3\alpha + 2y \pm_s {2\beta \over \sqrt{\alpha + 2 y}} \right)} \over 2}." src="//upload.wikimedia.org/wikipedia/en/math/0/b/6/0b641419d6b759e8852acf3a7db59dfa.png" /></dd>
</dl>
<p>This is the solution of the depressed quartic, therefore the solutions of the original quartic equation are</p>
<dl>
<dd><img class="tex" alt="x=-{B \over 4A} + {\pm_s\sqrt{\alpha + 2 y} \pm_t \sqrt{-\left(3\alpha + 2y \pm_s {2\beta \over \sqrt{\alpha + 2 y}} \right)} \over 2}. \qquad\qquad (8')" src="//upload.wikimedia.org/wikipedia/en/math/7/e/a/7ea5aae29c0fa155a43db5d351ad54b2.png" />
<dl>
<dd>Remember: The two <img class="tex" alt="\pm_s" src="//upload.wikimedia.org/wikipedia/en/math/7/f/d/7fd54525f639a9730f7d3ec923416a83.png" /> come from the same place in equation (7'), and should both have the same sign, while the sign of <img class="tex" alt="\pm_t" src="//upload.wikimedia.org/wikipedia/en/math/4/7/e/47e327a59652cddc62e51e51a63ea60f.png" /> is independent.</dd>
</dl>
</dd>
</dl>
<h5><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=15" title="Edit section: Summary of Ferrari's method"></a>]</span> <span class="mw-headline" id="Summary_of_Ferrari.27s_method">Summary of Ferrari's method</span></h5>
<p>Given the quartic equation</p>
<dl>
<dd><img class="tex" alt=" A x^4 + B x^3 + C x^2 + D x + E = 0, \," src="//upload.wikimedia.org/wikipedia/en/math/1/0/2/102cf1c5d3b3ded7e48b9ed68a56a73f.png" /></dd>
</dl>
<p>its solution can be found by means of the following calculations:</p>
<dl>
<dd><img class="tex" alt=" \alpha = - {3 B^2 \over 8 A^2} + {C \over A}, " src="//upload.wikimedia.org/wikipedia/en/math/3/e/6/3e69e9d56fa48e7000d3d4150935f5a8.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt=" \beta = {B^3 \over 8 A^3} - {B C \over 2 A^2} + {D \over A}, " src="//upload.wikimedia.org/wikipedia/en/math/3/d/d/3ddd5c15973d9f607de2e272edfb9c86.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt=" \gamma = - {3 B^4 \over 256 A^4} + {C B^2 \over 16 A^3} - {B D \over 4 A^2} + {E \over A}. " src="//upload.wikimedia.org/wikipedia/en/math/0/d/1/0d1911469b6075b5e96ce75ff3e523ff.png" /></dd>
</dl>
<p>If <img class="tex" alt="\,\beta=0," src="//upload.wikimedia.org/wikipedia/en/math/f/b/5/fb5fb34be7a4d4e129abeeccef91d3ac.png" /> then</p>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="x=-{B\over 4A}\pm_s\sqrt{-\alpha\pm_t\sqrt{\alpha^2-4\gamma}\over 2}\qquad \mbox{(for } \beta=0 \mbox{ only)}." src="//upload.wikimedia.org/wikipedia/en/math/d/6/b/d6b7c5b3048ec4c126a2f44a3b23ee85.png" /></dd>
</dl>
</dd>
</dl>
<p>Otherwise, continue with</p>
<dl>
<dd><img class="tex" alt=" P = - {\alpha^2 \over 12} - \gamma, " src="//upload.wikimedia.org/wikipedia/en/math/8/e/e/8eeb6f45848bed2ff34a1aaea5119e0d.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt=" Q = - {\alpha^3 \over 108} + {\alpha \gamma \over 3} - {\beta^2 \over 8}, " src="//upload.wikimedia.org/wikipedia/en/math/9/6/f/96f37806d962579090c944354217e994.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt=" R = -{Q\over 2} \pm \sqrt{{Q^{2}\over 4}+{P^{3}\over 27}}," src="//upload.wikimedia.org/wikipedia/en/math/5/a/8/5a8de650236f33540d67cc6d1e21d838.png" /></dd>
</dl>
<p>(either sign of the square root will do)</p>
<dl>
<dd><img class="tex" alt=" U = \sqrt[3]{R}," src="//upload.wikimedia.org/wikipedia/en/math/e/3/3/e3322597c0d374ee70164f962ea53329.png" /></dd>
</dl>
<p>(there are 3 complex roots, any one of them will do)</p>
<dl>
<dd><img class="tex" alt=" y = \begin{cases}
     - {5 \over 6} \alpha + U - \frac{P}{3U} &amp; \text{if }U\ne 0\\
      -{5\over 6} \alpha + U - \sqrt[3]{Q} &amp; \text{if }U=0
\end{cases}
" src="//upload.wikimedia.org/wikipedia/en/math/6/9/d/69dda029b55bfa926229633ec31c9c43.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="W=\sqrt{ \alpha + 2 y}" src="//upload.wikimedia.org/wikipedia/en/math/6/a/a/6aa9a5437fc67fee478541ea8947d025.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt=" x = - {B \over 4 A} + { \pm_s  W \mp_t \sqrt{-\left(3\alpha + 2 y \pm_s {2\beta\over W} \right) }\over 2 }." src="//upload.wikimedia.org/wikipedia/en/math/4/4/9/449c6ebf6fca6b45e8ff8a9c122f8d8f.png" /></dd>
</dl>
<p>As stated above, Cardano cred Ferrari as the first to discover one of these <a href="/wiki/Labyrinth" title="Labyrinth">labyrinthine</a> solutions. The equation he solved was:</p>
<dl>
<dd><img class="tex" alt="\ x^4 + 6 x^2 - 60 x + 36 = 0 " src="//upload.wikimedia.org/wikipedia/en/math/1/1/c/11cb232b7bbda64fbc29124c4d5bedf8.png" /></dd>
</dl>
<p>which was already in depressed form. It has a pair of solutions that can be found with the set of formulas shown above.</p>
<h5><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=16" title="Edit section: Ferrari's solution in the special case of real coefficients"></a>]</span> <span class="mw-headline" id="Ferrari.27s_solution_in_the_special_case_of_real_coefficients">Ferrari's solution in the special case of real coefficients</span></h5>
<p>If the coefficients of the quartic equation are real then the nested depressed cubic equation (5) also has real coefficients, thus it has at least one real root.</p>
<p>Furthermore the <a href="/wiki/Cubic_function" title="Cubic function">cubic function</a> <img class="tex" alt="\ C(v) = v^3 + P v + Q," src="//upload.wikimedia.org/wikipedia/en/math/7/e/1/7e13edc90bb866bbfe915fcd0a0098c2.png" /> where P and Q are given by (5) has the properties that</p>
<dl>
<dd><img class="tex" alt=" C\left({\alpha \over 3}\right) = {-\beta^2 \over 8} &lt; 0 \ " src="//upload.wikimedia.org/wikipedia/en/math/3/f/8/3f83851c25d930d44ba04d6348a0260b.png" /> and</dd>
</dl>
<p><img class="tex" alt="\lim_{v\to \infty}{C(v)}=\infty," src="//upload.wikimedia.org/wikipedia/en/math/c/4/1/c41e4ab0a08df0f5aff0a3f4d79ae1f7.png" /> where  and  are given by (1).</p>
<p>This means that (5) has a real root greater than <img class="tex" alt="\alpha \over 3" src="//upload.wikimedia.org/wikipedia/en/math/8/4/c/84c3e72ef3883489ef6c329bc40e0c28.png" />, and therefore that (4) has a real root greater than <img class="tex" alt="-\alpha \over 2" src="//upload.wikimedia.org/wikipedia/en/math/7/9/d/79d06efe6c46e08d287b40a66c285033.png" />.</p>
<p>Using this root the term <img class="tex" alt="\sqrt{\alpha + 2 y}" src="//upload.wikimedia.org/wikipedia/en/math/c/f/f/cff402c5fd396ffac4f1520127611084.png" /> in (8) is always real, which ensures that the two quadratic equations (8) have real coefficients.<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup></p>
<h4><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=17" title="Edit section: Obtaining alternative solutions by factoring out complex conjugate solutions"></a>]</span> <span class="mw-headline" id="Obtaining_alternative_solutions_by_factoring_out_complex_conjugate_solutions">Obtaining alternative solutions by factoring out complex conjugate solutions</span></h4>
<p>It could happen that one only obtained one solution through the seven formulae above, because not all four sign patterns are tried for four solutions, and the solution obtained is <a href="/wiki/Complex_number" title="Complex number">complex</a>. It may also be the case that one is only looking for a real solution. Let <i>x</i><sub>1</sub> denote the complex solution. If all the original coefficients <i>A</i>, <i>B</i>, <i>C</i>, <i>D</i> and <i>E</i> are real  which should be the case when one desires only real solutions  then there is another complex solution <i>x</i><sub>2</sub>, which is the <a href="/wiki/Complex_conjugate" title="Complex conjugate">complex conjugate</a> of <i>x</i><sub>1</sub>. If the other two roots are denoted as <i>x</i><sub>3</sub> and <i>x</i><sub>4</sub> then the quartic equation can be expressed as</p>
<dl>
<dd><img class="tex" alt=" (x - x_1) (x - x_2) (x - x_3) (x - x_4) = 0, \," src="//upload.wikimedia.org/wikipedia/en/math/4/1/2/412338a6ef34c22a96a8751098271dac.png" /></dd>
</dl>
<p>but this quartic equation is equivalent to the product of two quadratic equations:</p>
<dl>
<dd><img class="tex" alt=" (x - x_1) (x - x_2) = 0 \qquad \qquad (9) " src="//upload.wikimedia.org/wikipedia/en/math/5/2/5/5257c4c34aa8d701d1549feb6e1ea94f.png" /></dd>
</dl>
<p>and</p>
<dl>
<dd><img class="tex" alt=" (x - x_3) (x - x_4) = 0. \qquad \qquad (10) " src="//upload.wikimedia.org/wikipedia/en/math/f/1/d/f1df2ec33fc2af37987ea36e3053b298.png" /></dd>
</dl>
<p>Since</p>
<dl>
<dd><img class="tex" alt=" x_2 = x_1^\star " src="//upload.wikimedia.org/wikipedia/en/math/3/2/2/322b8cff7cd5d191897a01eb6dd5fa5c.png" /></dd>
</dl>
<p>then</p>
<dl>
<dd><img class="tex" alt="
  \begin{matrix}
   (x-x_1)(x-x_2)&amp;=&amp;x^2-(x_1+x_1^\star)x+x_1x_1^\star\qquad\qquad\qquad\quad
  \\
   &amp;=&amp;x^2-2\,\mathrm{Re}(x_1)x+[\mathrm{Re}(x_1)]^2+[\mathrm{Im}(x_1)]^2.
  \end{matrix}
 " src="//upload.wikimedia.org/wikipedia/en/math/4/4/a/44a486189cc52f48c6d3487926282b6d.png" /></dd>
</dl>
<p>Let</p>
<dl>
<dd><img class="tex" alt=" a = - 2 \, \mathrm{Re}(x_1), " src="//upload.wikimedia.org/wikipedia/en/math/b/e/d/bed3016070d845472aae354ca28df00b.png" /></dd>
<dd><img class="tex" alt=" b = \left[ \mathrm{Re}( x_1) \right]^{2} + \left[ \mathrm{Im}(x_1) \right]^{2} " src="//upload.wikimedia.org/wikipedia/en/math/9/c/0/9c0f7d72f03a6d901ce5a55d7afdbcb0.png" /></dd>
</dl>
<p>so that equation (9) becomes</p>
<dl>
<dd><img class="tex" alt=" x^2 + a x + b = 0. \qquad \qquad (11) " src="//upload.wikimedia.org/wikipedia/en/math/8/0/3/803b44f9b335d92ae4521a54cba9769b.png" /></dd>
</dl>
<p>Also let there be (unknown) variables <i>w</i> and <i>v</i> such that equation (10) becomes</p>
<dl>
<dd><img class="tex" alt=" x^2 + w x + v = 0. \qquad \qquad (12) " src="//upload.wikimedia.org/wikipedia/en/math/4/4/0/4404b677dab102fcba42850426f1d05e.png" /></dd>
</dl>
<p>Multiplying equations (11) and (12) produces</p>
<dl>
<dd><img class="tex" alt=" x^4 + (a + w) x^3 + (b + w a + v) x^2 + (w b + v a) x + v b = 0. \qquad \qquad (13) " src="//upload.wikimedia.org/wikipedia/en/math/d/3/5/d3541b1415873808d4f487a23c023261.png" /></dd>
</dl>
<p>Comparing equation (13) to the original quartic equation, it can be seen that</p>
<dl>
<dd><img class="tex" alt=" a + w = {B \over A}, " src="//upload.wikimedia.org/wikipedia/en/math/1/e/f/1ef7af093b49ea4bb41dbf2d574984d8.png" /></dd>
<dd><img class="tex" alt=" b + w a + v = {C \over A}, " src="//upload.wikimedia.org/wikipedia/en/math/c/f/1/cf1a296996882b366d76a958566f8165.png" /></dd>
<dd><img class="tex" alt=" w b + v a = {D \over A}, " src="//upload.wikimedia.org/wikipedia/en/math/4/8/7/487f547eff809b489f6549974b88964c.png" /></dd>
</dl>
<p>and</p>
<dl>
<dd><img class="tex" alt=" v b = {E \over A}. " src="//upload.wikimedia.org/wikipedia/en/math/9/3/0/9303ec221e60ffe2f97fb90096011b76.png" /></dd>
</dl>
<p>Therefore</p>
<dl>
<dd><img class="tex" alt=" w = {B \over A} - a = {B \over A} + 2 \mathrm{Re}(x_1), " src="//upload.wikimedia.org/wikipedia/en/math/3/1/3/31379e73891f3f2ff8c73af056729a77.png" /></dd>
<dd><img class="tex" alt=" v = {E \over A b} = {E \over A \left(
[ \mathrm{Re}(x_1) ]^2 + [ \mathrm{Im}(x_1) ]^2 \right) }. " src="//upload.wikimedia.org/wikipedia/en/math/3/4/7/347b3acbe99d2f51ec309a6dfbc503f0.png" /></dd>
</dl>
<p>Equation (12) can be solved for <i>x</i> yielding</p>
<dl>
<dd><img class="tex" alt=" x_3 = {-w + \sqrt{w^2 - 4 v} \over 2}, " src="//upload.wikimedia.org/wikipedia/en/math/4/e/c/4ec0b6a70dfb511712de9138a494f91b.png" /></dd>
<dd><img class="tex" alt=" x_4 = {-w - \sqrt{w^2 - 4 v} \over 2}. " src="//upload.wikimedia.org/wikipedia/en/math/9/8/a/98afc4221129cdc585d8521098638ffb.png" /></dd>
</dl>
<p>These two solutions are the desired real solutions if real solutions exist.</p>
<h3><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=18" title="Edit section: Alternative methods"></a>]</span> <span class="mw-headline" id="Alternative_methods">Alternative methods</span></h3>
<h4><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=19" title="Edit section: Factorization into quadratics"></a>]</span> <span class="mw-headline" id="Factorization_into_quadratics">Factorization into quadratics</span></h4>
<p>One can solve a quartic by factoring it into a product of two <a href="/wiki/Quadratic_equation" title="Quadratic equation">quadratics</a>.<sup id="cite_ref-Brookfield_7-0" class="reference"><a href="#cite_note-Brookfield-7"><span>[</span>8<span>]</span></a></sup> Let</p>
<dl>
<dd><img class="tex" alt="
  \begin{array}{lcl}
   0 = x^4 + bx^3 + cx^2 + dx + e &amp; = &amp; (x^2 + px + q)(x^2 + rx + s) \\
   &amp; = &amp; x^4 + (p + r)x^3 + (q + s + pr)x^2 + (ps + qr)x + qs
  \end{array}
 " src="//upload.wikimedia.org/wikipedia/en/math/1/b/7/1b7e5963aa95246806619cd71a3b6941.png" /></dd>
</dl>
<p>By equating coefficients, this results in the following set of simultaneous equations:</p>
<dl>
<dd><img class="tex" alt="
  \begin{array}{lcl}
   b &amp; = &amp; p + r \\
   c &amp; = &amp; q + s + pr \\
   d &amp; = &amp; ps + qr \\
   e &amp; = &amp; qs
  \end{array}
 " src="//upload.wikimedia.org/wikipedia/en/math/0/c/d/0cdfda615809d244ad51e0d1005b9d30.png" /></dd>
</dl>
<p>This can be simplified by starting again with a <a href="#Converting_to_a_depressed_quartic">depressed quartic</a> where <img class="tex" alt="b = 0" src="//upload.wikimedia.org/wikipedia/en/math/f/6/d/f6d5eef5ee5e51fc839bb54201c62e3b.png" />, which can be obtained by substituting <img class="tex" alt="(x - b/4)" src="//upload.wikimedia.org/wikipedia/en/math/d/b/c/dbcb6445259d900d38e92a7d0c0ab747.png" /> for <img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" />, then <img class="tex" alt="r = -p" src="//upload.wikimedia.org/wikipedia/en/math/9/5/8/958312a44e3426852420ca6dc07c0068.png" />, and:</p>
<dl>
<dd><img class="tex" alt="
  \begin{array}{lcl}
   c + p^2 &amp; = &amp; s + q \\
   d/p &amp; = &amp; s - q \\
   e &amp; = &amp; sq
  \end{array}
 " src="//upload.wikimedia.org/wikipedia/en/math/f/e/4/fe4228f9c46814b5a95b7abe61566d43.png" /></dd>
</dl>
<p>It's now easy to eliminate both <img class="tex" alt="s" src="//upload.wikimedia.org/wikipedia/en/math/0/3/c/03c7c0ace395d80182db07ae2c30f034.png" /> and <img class="tex" alt="q" src="//upload.wikimedia.org/wikipedia/en/math/7/6/9/7694f4a66316e53c8cdd9d9954bd611d.png" /> by doing the following:</p>
<dl>
<dd><img class="tex" alt="
  \begin{array}{lcl}
   (c + p^2)^2 - (d/p)^2 &amp; = &amp; (s + q)^2 - (s - q)^2 \\
   &amp; = &amp; 4sq \\
   &amp; = &amp; 4e
  \end{array}
 " src="//upload.wikimedia.org/wikipedia/en/math/0/9/8/098f09580ac8df9cd36a80fc1ba9d726.png" /></dd>
</dl>
<p>If we set <img class="tex" alt="P = p^2" src="//upload.wikimedia.org/wikipedia/en/math/b/6/4/b64896486171a8933b87f1a0498c92a8.png" />, then this equation turns into the resolvent <a href="/wiki/Cubic_equation" title="Cubic equation" class="mw-redirect">cubic equation</a></p>
<dl>
<dd><img class="tex" alt="P^3 + 2cP^2 + (c^2 - 4e)P - d^2 = 0\," src="//upload.wikimedia.org/wikipedia/en/math/c/0/1/c018db87998a7fcac197b31efc9af4fd.png" /></dd>
</dl>
<p>which is solved elsewhere. Then:</p>
<dl>
<dd><img class="tex" alt="
  \begin{array}{lcl}
  r &amp; = &amp; -p \\
 2s &amp; = &amp; c + p^2 + d/p \\
 2q &amp; = &amp; c + p^2 - d/p
  \end{array}
 " src="//upload.wikimedia.org/wikipedia/en/math/b/c/4/bc438a10b92eb58a4f96c71de7f4c4ae.png" /></dd>
</dl>
<p>The symmetries in this solution are easy to see. There are three roots of the cubic, corresponding to the three ways that a quartic can be factored into two quadratics, and choosing positive or negative values of <img class="tex" alt="p" src="//upload.wikimedia.org/wikipedia/en/math/8/3/8/83878c91171338902e0fe0fb97a8c47a.png" /> for the square root of <img class="tex" alt="P" src="//upload.wikimedia.org/wikipedia/en/math/4/4/c/44c29edb103a2872f519ad0c9a0fdaaa.png" /> merely exchanges the two quadratics with one another.</p>
<p>The above solution shows that the quartic polynomial with a zero coefficient on the cubic term is factorable into quadratics with rational coefficients if and only if the resolvent cubic <img class="tex" alt="P^3 + 2cP^2 + (c^2 - 4e)P - d^2\," src="//upload.wikimedia.org/wikipedia/en/math/3/0/1/301bcba47ae269f30f73fdd680329a15.png" /> has a root which is the square of a rational; this can readily be checked using the <a href="/wiki/Rational_root_test" title="Rational root test" class="mw-redirect">rational root test</a>.</p>
<h4><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=20" title="Edit section: Galois theory and factorization"></a>]</span> <span class="mw-headline" id="Galois_theory_and_factorization">Galois theory and factorization</span></h4>
<p>The <a href="/wiki/Symmetric_group" title="Symmetric group">symmetric group</a> S<sub>4</sub> on four elements has the <a href="/wiki/Klein_four-group" title="Klein four-group">Klein four-group</a> as a <a href="/wiki/Normal_subgroup" title="Normal subgroup">normal subgroup</a>. This suggests using a <b><span id="resolvent_cubic">resolvent cubic</span></b> whose roots may be variously described as a discrete Fourier transform or a <a href="/wiki/Hadamard_matrix" title="Hadamard matrix">Hadamard matrix</a> transform of the roots; see <a href="/wiki/Lagrange_resolvents" title="Lagrange resolvents" class="mw-redirect">Lagrange resolvents</a> for the general method. Suppose r<sub>i</sub> for i from 0 to 3 are roots of</p>
<dl>
<dd><img class="tex" alt="x^4 + bx^3 + cx^2 + dx + e = 0\qquad (1)" src="//upload.wikimedia.org/wikipedia/en/math/0/0/c/00c42110584f43bada67a53ec8c5be04.png" /></dd>
</dl>
<p>If we now set</p>
<dl>
<dd><img class="tex" alt=" \begin{align}
s_0 &amp;= \tfrac12(r_0 + r_1 + r_2 + r_3), \\
s_1 &amp;= \tfrac12(r_0 - r_1 + r_2 - r_3), \\
s_2 &amp;= \tfrac12(r_0 + r_1 - r_2 - r_3), \\
s_3 &amp;= \tfrac12(r_0 - r_1 - r_2 + r_3),
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/8/0/2/8028eefe7580ec185a64b7de540439b9.png" /></dd>
</dl>
<p>then since the transformation is an <a href="/wiki/Involution_(mathematics)" title="Involution (mathematics)">involution</a> we may express the roots in terms of the four s<sub>i</sub> in exactly the same way. Since we know the value s<sub>0</sub> = -b/2, we really only need the values for s<sub>1</sub>, s<sub>2</sub> and s<sub>3</sub>. These we may find by expanding the polynomial</p>
<dl>
<dd><img class="tex" alt="(z^2 - s_1^2)(z^2-s_2^2)(z^2-s_3^2)\qquad (2)" src="//upload.wikimedia.org/wikipedia/en/math/a/d/d/add64c4d9598185a9c8debb06656f484.png" /></dd>
</dl>
<p>which if we make the simplifying assumption that b=0, is equal to</p>
<dl>
<dd><img class="tex" alt="{z}^{6}+2c\,{z}^{4}+({c}^{2}-4e)\,{z}^{2}-{d}^{2}\qquad(3)" src="//upload.wikimedia.org/wikipedia/en/math/e/b/7/eb703ca4abfc32a62df807984e1a8764.png" /></dd>
</dl>
<p>This polynomial is of degree six, but only of degree three in z<sup>2</sup>, and so the corresponding equation is solvable. By trial we can determine which three roots are the correct ones, and hence find the solutions of the quartic.</p>
<p>We can remove any requirement for trial by using a root of the same resolvent polynomial for factoring; if w is any root of (3), and if</p>
<dl>
<dd><img class="tex" alt="F_1 = {x}^{2}+wx+1/2\,{w}^{2}+1/2\,c-1/2\,{\frac {{c}^{2}w}{d}}-1/2\,{\frac {{w}^{5}}{d}}-{\frac {c{w}^{3}}{d}}+2\,{\frac {ew}{d}}" src="//upload.wikimedia.org/wikipedia/en/math/d/a/c/dac7dfac0b10cf3efef64317a451e83c.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="F_2 =
{x}^{2}-wx+1/2\,{w}^{2}+1/2\,c+1/2\,{\frac {{w}^{5}}{d}}+{\frac {c{w}^{3}}{d}}-2\,{\frac {ew}{d}}+1/2\,{\frac {{c}^{2}w}{d}}" src="//upload.wikimedia.org/wikipedia/en/math/a/2/a/a2addc0d5e7abc81c2639938ddb8aae3.png" /></dd>
</dl>
<p>then</p>
<dl>
<dd><img class="tex" alt="F_1 F_2 = x^4 + cx^2 + dx + e\,\,(4)" src="//upload.wikimedia.org/wikipedia/en/math/1/f/d/1fd25855e92ff6aee3f9091f381cba60.png" /></dd>
</dl>
<p>We therefore can solve the quartic by solving for w and then solving for the roots of the two factors using the quadratic formula.</p>
<h4><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=21" title="Edit section: Algebraic geometry"></a>]</span> <span class="mw-headline" id="Algebraic_geometry">Algebraic geometry</span></h4>
<p>An alternative solution using algebraic geometry is given in (<a href="#CITEREFFaucette1996">Faucette 1996</a>), and proceeds as follows (more detailed discussion in reference). In brief, one interprets the roots as the intersection of two quadratic curves, then finds the three <a href="/wiki/Degenerate_conic" title="Degenerate conic">reducible quadratic curves</a> (pairs of lines) that pass through these points (this corresponds to the resolvent cubic, the pairs of lines being the Lagrange resolvents), and then use these linear equations to solve the quadratic.</p>
<p>The four roots of the depressed quartic <img class="tex" alt="x^4+px^2+qx+r=0" src="//upload.wikimedia.org/wikipedia/en/math/8/6/a/86a264a44bd4d034c3f6263d52d5e894.png" /> may also be expressed as the <i>x</i> coordinates of the intersections of the two quadratic equations <img class="tex" alt="y^2+py+qx+r=0," src="//upload.wikimedia.org/wikipedia/en/math/e/f/e/efe948b97c3628793929087f10b29a2e.png" /> <img class="tex" alt="y-x^2=0;" src="//upload.wikimedia.org/wikipedia/en/math/3/e/2/3e24c18cf1e88fd66716f40b29245ef0.png" /> i.e., using the substitution <img class="tex" alt="y=x^2;" src="//upload.wikimedia.org/wikipedia/en/math/3/6/8/36865e5d00e22ccba6c7b2f1a61f60a0.png" /> that two quadratics intersect in four points is an instance of <a href="/wiki/B%C3%A9zout%27s_theorem" title="Bzout's theorem">Bzout's theorem</a>. Explicitly, the four points are <img class="tex" alt="P_i&#160;:= (x_i,x_i^2)" src="//upload.wikimedia.org/wikipedia/en/math/7/6/e/76e1eb38ef88a2ae749070322fb41573.png" /> for the four roots <img class="tex" alt="x_i" src="//upload.wikimedia.org/wikipedia/en/math/0/5/e/05e42209d67fe1eb15a055e9d3b3770e.png" /> of the quartic.</p>
<p>These four points are not collinear because they lie on the irreducible quadratic <img class="tex" alt="y=x^2," src="//upload.wikimedia.org/wikipedia/en/math/3/8/0/380fa9ded91299ff021055beb0734c8c.png" /> and thus there is a 1-parameter family of quadratics (a <a href="/wiki/Pencil_of_curves" title="Pencil of curves" class="mw-redirect">pencil of curves</a>) passing through these points. Writing the projectivization of the two quadratics as <a href="/wiki/Quadratic_form" title="Quadratic form">quadratic forms</a> in three variables:</p>
<dl>
<dd><img class="tex" alt="\begin{align}
F_1(X,Y,Z) &amp;:= Y^2 + pYZ + qXZ + rZ^2,\\
F_2(X,Y,Z) &amp;:= YZ - X^2
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/3/6/2/362650dea2a64140b84edda1d4d1fa3a.png" /></dd>
</dl>
<p>the pencil is given by the forms <img class="tex" alt="\lambda F_1 + \mu F_2" src="//upload.wikimedia.org/wikipedia/en/math/c/8/0/c806043941ca4067b55be9903759ac1a.png" /> for any point <img class="tex" alt="[\lambda,\mu]" src="//upload.wikimedia.org/wikipedia/en/math/b/1/6/b16ebd8e960e372d25f91f1f4f7bcd27.png" /> in the projective line  in other words, where <img class="tex" alt="\lambda" src="//upload.wikimedia.org/wikipedia/en/math/e/0/5/e05a30d96800384dd38b22851322a6b5.png" /> and <img class="tex" alt="\mu" src="//upload.wikimedia.org/wikipedia/en/math/b/7/2/b72bb92668acc30b4474caff40274044.png" /> are not both zero, and multiplying a quadratic form by a constant does not change its quadratic curve of zeros.</p>
<p>This pencil contains three reducible quadratics, each corresponding to a pair of lines, each passing through two of the four points, which can be done <img class="tex" alt="\textstyle{\binom{4}{2} = 3}" src="//upload.wikimedia.org/wikipedia/en/math/5/4/3/543f23da291a18cb680f91870b49c827.png" /> different ways. Denote these <img class="tex" alt="Q_1 = L_{12} + L_{34}," src="//upload.wikimedia.org/wikipedia/en/math/5/0/8/508a9b325b742bb6bc69ccc9b3f4e785.png" /> <img class="tex" alt="Q_2 = L_{13} + L_{24}," src="//upload.wikimedia.org/wikipedia/en/math/f/a/7/fa765d341709548e846d052047917093.png" /> <img class="tex" alt="Q_3 = L_{14} + L_{23}." src="//upload.wikimedia.org/wikipedia/en/math/b/7/c/b7c7e9e0a1596f209b5255dbe560f55f.png" /> Given any two of these, their intersection is exactly the four points.</p>
<p>The reducible quadratics, in turn, may be determined by expressing the quadratic form <img class="tex" alt="\lambda F_1 + \mu F_2" src="//upload.wikimedia.org/wikipedia/en/math/c/8/0/c806043941ca4067b55be9903759ac1a.png" /> as a 33 matrix: reducible quadratics correspond to this matrix being singular, which is a equivalent to its determinant being zero, and the determinant is a homogeneous degree three polynomial in <img class="tex" alt="\lambda" src="//upload.wikimedia.org/wikipedia/en/math/e/0/5/e05a30d96800384dd38b22851322a6b5.png" /> and <img class="tex" alt="\mu," src="//upload.wikimedia.org/wikipedia/en/math/4/7/9/479b1b06c89d24b2c0d587adc51983b2.png" /> and corresponds to the resolvent cubic.</p>
<h2><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=22" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Linear_function" title="Linear function">Linear function</a></li>
<li><a href="/wiki/Quadratic_function" title="Quadratic function">Quadratic function</a></li>
<li><a href="/wiki/Cubic_function" title="Cubic function">Cubic function</a></li>
<li><a href="/wiki/Quintic_function" title="Quintic function">Quintic function</a></li>
<li><a href="/wiki/Polynomial" title="Polynomial">Polynomial</a></li>
<li><a href="/wiki/Newton%27s_method" title="Newton's method">Newton's method</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=23" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation"><a href="/wiki/John_J._O%27Connor_(mathematician)" title="John J. O'Connor (mathematician)" class="mw-redirect">O'Connor, John J.</a>; <a href="/wiki/Edmund_F._Robertson" title="Edmund F. Robertson">Robertson, Edmund F.</a>, <a rel="nofollow" class="external text" href="http://www-history.mcs.st-andrews.ac.uk/Biographies/Ferrari.html">"Lodovico Ferrari"</a>, <i><a href="/wiki/MacTutor_History_of_Mathematics_archive" title="MacTutor History of Mathematics archive">MacTutor History of Mathematics archive</a></i>, <a href="/wiki/University_of_St_Andrews" title="University of St Andrews">University of St Andrews</a><span class="printonly">, <a rel="nofollow" class="external free" href="http://www-history.mcs.st-andrews.ac.uk/Biographies/Ferrari.html">http://www-history.mcs.st-andrews.ac.uk/Biographies/Ferrari.html</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Lodovico+Ferrari&amp;rft.atitle=%5B%5BMacTutor+History+of+Mathematics+archive%5D%5D&amp;rft.aulast=O%27Connor&amp;rft.aufirst=John+J.&amp;rft.au=O%27Connor%2C%26%2332%3BJohn+J.&amp;rft.au=Robertson%2C%26%2332%3BEdmund+F.&amp;rft.pub=%5B%5BUniversity+of+St+Andrews%5D%5D&amp;rft_id=&amp;rfr_id=info:sid/en.wikipedia.org:Quartic_function"><span style="display: none;">&#160;</span></span>.</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><span class="citation book">P. Beckmann (1971). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=TB6jzz3ZDTEC&amp;pg=PA80"><i>A history of </i></a>. Macmillan. p.&#160;80<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=TB6jzz3ZDTEC&amp;pg=PA80">http://books.google.com/books?id=TB6jzz3ZDTEC&amp;pg=PA80</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=A+history+of+%CF%80&amp;rft.aulast=P.+Beckmann&amp;rft.au=P.+Beckmann&amp;rft.date=1971&amp;rft.pages=p.%26nbsp%3B80&amp;rft.pub=Macmillan&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DTB6jzz3ZDTEC%26pg%3DPA80&amp;rfr_id=info:sid/en.wikipedia.org:Quartic_function"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><span class="citation Journal">P. Zoll (1989). "Letter to the Editor". <i>American Mathematical Monthly</i> <b>96</b> (8): 709710. <a href="/wiki/JSTOR" title="JSTOR">JSTOR</a>&#160;<a rel="nofollow" class="external text" href="http://www.jstor.org/stable/2324719">2324719</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Letter+to+the+Editor&amp;rft.jtitle=American+Mathematical+Monthly&amp;rft.aulast=P.+Zoll&amp;rft.au=P.+Zoll&amp;rft.date=1989&amp;rft.volume=96&amp;rft.issue=8&amp;rft.pages=709%E2%80%93710&amp;rft.jstor=2324719&amp;rfr_id=info:sid/en.wikipedia.org:Quartic_function"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text">Stewart, Ian, <i>Galois Theory, Third Edition</i> (Chapman &amp; Hall/CRC Mathematics, 2004)</span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.acm.org/pubs/tog/GraphicsGems/gems.html#gemsv">http://www.acm.org/pubs/tog/GraphicsGems/gems.html#gemsv</a></span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www-staff.it.uts.edu.au/~don/pubs/solving.html">http://www-staff.it.uts.edu.au/~don/pubs/solving.html</a></span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text">Carstensen, Jens, <i>Komplekse tal, First Edition</i>, (Systime 1981), <a href="/wiki/Special:BookSources/8787454718" class="internal mw-magiclink-isbn">ISBN 87-87454-71-8</a>. <span class="languageicon" style="font-size:0.95em; font-weight:bold; color:#555;">(Danish)</span></span></li>
<li id="cite_note-Brookfield-7"><b><a href="#cite_ref-Brookfield_7-0">^</a></b> <span class="reference-text"><span class="citation Journal">Brookfield, G. (2007). "Factoring quartic polynomials: A lost art". <i>Mathematics Magazine</i> <b>80</b> (1): 6770.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Factoring+quartic+polynomials%3A+A+lost+art&amp;rft.jtitle=Mathematics+Magazine&amp;rft.aulast=Brookfield%2C+G.&amp;rft.au=Brookfield%2C+G.&amp;rft.date=2007&amp;rft.volume=80&amp;rft.issue=1&amp;rft.pages=67%E2%80%9370&amp;rfr_id=info:sid/en.wikipedia.org:Quartic_function"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=24" title="Edit section: Further reading"></a>]</span> <span class="mw-headline" id="Further_reading">Further reading</span></h2>
<ul>
<li><span class="citation" id="CITEREFCardano1545"><a href="/wiki/Gerolamo_Cardano" title="Gerolamo Cardano">Cardano, Gerolamo</a> (1545), <i>Ars magna or The Rules of Algebra</i>, Dover (published 1993), <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-486-67811-3" title="Special:BookSources/0-486-67811-3">0-486-67811-3</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Ars+magna+or+The+Rules+of+Algebra&amp;rft.aulast=Cardano&amp;rft.aufirst=Gerolamo&amp;rft.au=Cardano%2C%26%2332%3BGerolamo&amp;rft.date=1545&amp;rft.pub=Dover&amp;rft.isbn=0-486-67811-3&amp;rfr_id=info:sid/en.wikipedia.org:Quartic_function"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation" id="CITEREFFaucette1996">Faucette, William Mark (1996), <a rel="nofollow" class="external text" href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.111.5574&amp;rep=rep1&amp;type=pdf">"A Geometric Interpretation of the Solution of the General Quartic Polynomial"</a>, <i><a href="/wiki/The_American_Mathematical_Monthly" title="The American Mathematical Monthly" class="mw-redirect">The American Mathematical Monthly</a></i> <b>103</b> (1): 5157, <a href="/wiki/Digital_object_identifier" title="Digital object identifier">doi</a>:<a rel="nofollow" class="external text" href="http://dx.doi.org/10.2307%2F2975214">10.2307/2975214</a><span class="printonly">, <a rel="nofollow" class="external free" href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.111.5574&amp;rep=rep1&amp;type=pdf">http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.111.5574&amp;rep=rep1&amp;type=pdf</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=A+Geometric+Interpretation+of+the+Solution+of+the+General+Quartic+Polynomial&amp;rft.jtitle=%5B%5BThe+American+Mathematical+Monthly%5D%5D&amp;rft.aulast=Faucette&amp;rft.aufirst=William+Mark&amp;rft.au=Faucette%2C%26%2332%3BWilliam+Mark&amp;rft.date=1996&amp;rft.volume=103&amp;rft.issue=1&amp;rft.pages=51%E2%80%9357&amp;rft_id=info:doi/10.2307%2F2975214&amp;rft_id=http%3A%2F%2Fciteseerx.ist.psu.edu%2Fviewdoc%2Fdownload%3Fdoi%3D10.1.1.111.5574%26rep%3Drep1%26type%3Dpdf&amp;rfr_id=info:sid/en.wikipedia.org:Quartic_function"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation Journal">Nickalls, R. W. D. (2009). <a rel="nofollow" class="external text" href="http://www.nickalls.org/dick/papers/maths/quartic2009.pdf">"The quartic equation: invariants and Euler's solution revealed"</a>. <i><a href="/wiki/Mathematical_Gazette" title="Mathematical Gazette" class="mw-redirect">Mathematical Gazette</a></i> <b>93</b>: 6675<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.nickalls.org/dick/papers/maths/quartic2009.pdf">http://www.nickalls.org/dick/papers/maths/quartic2009.pdf</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=The+quartic+equation%3A+invariants+and+Euler%27s+solution+revealed&amp;rft.jtitle=%5B%5BMathematical+Gazette%5D%5D&amp;rft.aulast=Nickalls%2C+R.+W.+D.&amp;rft.au=Nickalls%2C+R.+W.+D.&amp;rft.date=2009&amp;rft.volume=93&amp;rft.pages=66%E2%80%9375&amp;rft_id=http%3A%2F%2Fwww.nickalls.org%2Fdick%2Fpapers%2Fmaths%2Fquartic2009.pdf&amp;rfr_id=info:sid/en.wikipedia.org:Quartic_function"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation Journal">Carpenter, W. (1966). "On the solution of the real quartic". <i><a href="/wiki/Mathematics_Magazine" title="Mathematics Magazine">Mathematics Magazine</a></i> <b>39</b>: 2830.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=On+the+solution+of+the+real+quartic&amp;rft.jtitle=%5B%5BMathematics+Magazine%5D%5D&amp;rft.aulast=Carpenter%2C+W.&amp;rft.au=Carpenter%2C+W.&amp;rft.date=1966&amp;rft.volume=39&amp;rft.pages=28%E2%80%9330&amp;rfr_id=info:sid/en.wikipedia.org:Quartic_function"><span style="display: none;">&#160;</span></span></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Quartic_function&amp;action=&amp;section=25" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://planetmath.org/encyclopedia/QuarticFormula.html">Quartic formula as four single equations</a> at <a href="/wiki/PlanetMath" title="PlanetMath">PlanetMath</a></li>
<li><a rel="nofollow" class="external text" href="http://members.tripod.com/l_ferrari/quartic_equation.htm">Ferrari's achievement</a></li>
<li><a rel="nofollow" class="external text" href="http://www.freewebs.com/brianjs/ultimateequationsolver.htm">Calculator for solving Quartics (also solves Cubics and Quadratics)</a></li>
</ul>
<table cellspacing="0" class="navbox" style="border-spacing:0;;">
<tr>
<td style="padding:2px;">
<table cellspacing="0" class="nowraplinks collapsible autocollapse navbox-inner" style="border-spacing:0;background:transparent;color:inherit;;">
<tr>
<th scope="col" style=";" class="navbox-title" colspan="2">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Polynomials" title="Template:Polynomials"><span title="View this template" style=";;background:none transparent;border:none;">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Polynomials&amp;action=&amp;redlink=1" class="new" title="Template talk:Polynomials (page does not exist)"><span title="Discuss this template" style=";;background:none transparent;border:none;">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Polynomials&amp;action="><span title="Edit this template" style=";;background:none transparent;border:none;">e</span></a></li>
</ul>
</div>
<div class="" style="font-size:110%;"><a href="/wiki/Polynomial" title="Polynomial">Polynomials</a></div>
</th>
</tr>
<tr style="height:2px;">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">By name</th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-odd">
<div style="padding:0em 0.25em"><a href="/wiki/Zero_polynomial" title="Zero polynomial" class="mw-redirect">Zero polynomial</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Constant_function" title="Constant function">Constant function</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Linear_equation" title="Linear equation">Linear equation</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Quadratic_function" title="Quadratic function">Quadratic function</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Cubic_function" title="Cubic function">Cubic function</a> &#160;<span style="font-weight:bold;"></span>  <strong class="selflink">Quartic function</strong> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Quintic_function" title="Quintic function">Quintic function</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Sextic_equation" title="Sextic equation">Sextic equation</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Septic_equation" title="Septic equation">Septic equation</a> &#160;<span style="font-weight:bold;"></span>  <a href="/w/index.php?title=Octic_equation&amp;action=&amp;redlink=1" class="new" title="Octic equation (page does not exist)">Octic equation</a> &#160;<span style="font-weight:bold;"></span>  <a href="/w/index.php?title=Nonic_equation&amp;action=&amp;redlink=1" class="new" title="Nonic equation (page does not exist)">Nonic equation</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Decic_equation" title="Decic equation">Decic equation</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Hectic_equation" title="Hectic equation" class="mw-redirect">Hectic equation</a></div>
</td>
</tr>
<tr style="height:2px">
<td></td>
</tr>
<tr>
<th scope="row" class="navbox-group" style=";;">By <a href="/wiki/Degree_of_a_polynomial" title="Degree of a polynomial">degree</a></th>
<td style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px;;;" class="navbox-list navbox-even">
<div style="padding:0em 0.25em"><a href="/wiki/Constant_function" title="Constant function">0</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Linear_equation" title="Linear equation">1</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Quadratic_function" title="Quadratic function">2</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Cubic_function" title="Cubic function">3</a> &#160;<span style="font-weight:bold;"></span>  <strong class="selflink">4</strong> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Quintic_function" title="Quintic function">5</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Sextic_equation" title="Sextic equation">6</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Septic_equation" title="Septic equation">7</a> &#160;<span style="font-weight:bold;"></span>  <a href="/w/index.php?title=Octic_equation&amp;action=&amp;redlink=1" class="new" title="Octic equation (page does not exist)">8</a> &#160;<span style="font-weight:bold;"></span>  <a href="/w/index.php?title=Nonic_equation&amp;action=&amp;redlink=1" class="new" title="Nonic equation (page does not exist)">9</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Decic_equation" title="Decic equation">10</a> &#160;<span style="font-weight:bold;"></span>  <a href="/wiki/Hectic_equation" title="Hectic equation" class="mw-redirect">100</a></div>
</td>
</tr>
</table>
</td>
</tr>
</table>
<p><span id="interwiki-uk-fa"></span></p>


<!-- 
NewPP limit report
Preprocessor node count: 7955/1000000
Post-expand include size: 52438/2048000 bytes
Template argument size: 15054/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:308152-0!0!0!!en!4!* and timestamp 20120416163121 -->
