<table class="metadata plainlinks ambox ambox-content" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/f/f4/Ambox_content.png" width="40" height="40" /></div>
</td>
<td class="mbox-text" style="">This article <b>needs attention from an expert on the subject</b>. Please add a <i>reason</i> or a <i>talk</i> parameter to this template to explain the issue with the article. <a href="/wiki/Wikipedia:WikiProject_Mathematics" title="Wikipedia:WikiProject Mathematics">WikiProject Mathematics</a> or the <a href="/wiki/Portal:Mathematics" title="Portal:Mathematics">Mathematics Portal</a> may be able to help recruit an expert. <small><i>(November 2008)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, <b>simultaneous equations</b> are a set of <a href="/wiki/Equation" title="Equation">equations</a> containing multiple variables. This set is often referred to as a <b>system of equations</b>. A solution to a system of equations is a particular specification of the values of all variables that simultaneously satisfies all of the equations. To find a solution, the solver needs to use the provided equations to find the exact value of each variable. Generally, the solver uses either a <a href="/wiki/Linear_equation#Linear_equations_in_two_variables" title="Linear equation">graphical method</a>, the <a href="/wiki/Matrix_(mathematics)" title="Matrix (mathematics)">matrix</a> method, the substitution method, or the elimination method. Some textbooks refer to the elimination method as the addition method, since it involves adding equations (or constant multiples of the said equations) to one another, as detailed later in this article.</p>
<p>This is a set of <a href="/wiki/Linear_equation" title="Linear equation">linear equations</a>, also known as a <a href="/wiki/System_of_linear_equations" title="System of linear equations">linear system of equations</a>:</p>
<dl>
<dd><img class="tex" alt="
\begin{cases}
2x + y = 8\\
x + y = 6
\end{cases}
" src="//upload.wikimedia.org/wikipedia/en/math/1/a/c/1aca9ac07fef8727f3313b4e106e5d12.png" /></dd>
</dl>
<p>Solving this involves subtracting <i>x</i> + <i>y</i> = 6 from 2<i>x</i> + <i>y</i> = 8 (using the elimination method) to remove the <i>y</i>-variable, then simplifying the resulting equation to find the value of <i>x</i>, then substituting the <i>x</i>-value into either equation to find <i>y</i>.</p>
<p>The solution of this system is:</p>
<dl>
<dd><img class="tex" alt="
\begin{cases}
x = 2\\
y = 4
\end{cases}
" src="//upload.wikimedia.org/wikipedia/en/math/7/4/d/74dbbc4c3bab38654ae5a78651485a1c.png" /></dd>
</dl>
<p>which can also be written as an <a href="/wiki/Ordered_pair" title="Ordered pair">ordered pair</a> (2, 4), representing on a graph the coordinates of the point of intersection of the two lines represented by the equations.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Finding_solutions"><span class="tocnumber">1</span> <span class="toctext">Finding solutions</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Substitution_method"><span class="tocnumber">2</span> <span class="toctext">Substitution method</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Elimination_method"><span class="tocnumber">3</span> <span class="toctext">Elimination method</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Matrices"><span class="tocnumber">4</span> <span class="toctext">Matrices</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Least-squares"><span class="tocnumber">5</span> <span class="toctext">Least-squares</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#See_also"><span class="tocnumber">6</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#References"><span class="tocnumber">7</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#External_links"><span class="tocnumber">8</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Simultaneous_equations&amp;action=&amp;section=1" title="Edit section: Finding solutions"></a>]</span> <span class="mw-headline" id="Finding_solutions">Finding solutions</span></h2>
<p>Sometimes not all variables can be solved for, and so an answer for at least one variable must be expressed in terms of other variables and so the set of all solutions is infinite; this is typical for the case where the system has fewer equations than variables. If the number of equations is the same as the number of variables, then probably (but not necessarily) the system is exactly solvable in the sense that the set of its solutions is finite; for a <a href="/wiki/System_of_linear_equations" title="System of linear equations">system of linear equations</a> in this case there is exactly one solution, for other systems to have several solutions is also typical. A consistent system is a system of equations with at least one solution. Sometimes a system is inconsistent, or has no solution;<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> this is typical for the case where the system has more equations than variables. If these rules about connection between number of solutions and numbers of equations and variables do not hold, then such situation is often referred to as dependence between equations or between their left parts. For instance, this occurs in linear systems if one equation is a simple multiple of the other (representing the same line, e.g. 2<i>x</i> + <i>y</i> = 3 and 4<i>x</i> + 2<i>y</i> = 6) or if the ratio of like variables in two linear equations is the same (representing parallel lines, e.g. 2<i>x</i> + <i>y</i> = 3 and 6<i>x</i> + 3<i>y</i> = 7 where the ratio of comparable letters is 3).</p>
<p>Systems of two equations in two real-value unknowns usually appear as one of five different types, having a relationship to the number of solutions:</p>
<ol>
<li>Systems that represent intersecting sets of points such as lines and curves, and that are not of one of the types below. This can be considered the normal type, the others being exceptional in some respect. These systems usually have a finite number of solutions, each formed by the coordinates of one point of intersection.</li>
<li>Systems that simplify down to false (for example, equations such as 1 = 0). Such systems have no points of intersection and no solutions. This type is found, for example, when the equations represent parallel lines.</li>
<li>Systems in which both equations simplify down to an identity (for example, <i>x</i> = <i>2x</i>  <i>x</i> and 0<i>y</i> = 0). Any assignment of values to the unknown variables satisfies the equations. Thus, there are an infinite number of solutions: all points of the plane.</li>
<li>Systems in which the two equations represent the same set of points: they are mathematically equivalent (one equation can typically be transformed into the other through algebraic manipulation). Such systems represent completely overlapping lines, or curves, etc. One of the two equations is redundant and can be discarded. Each point of the set of points corresponds to a solution. Usually, this means there are an infinite number of solutions.</li>
<li>Systems in which one (and only one) of the two equations simplifies down to an identity. It is therefore redundant, and can be discarded, as per the previous type. Each point of the set of points represented by the other equation is a solution of which there are then usually an infinite number.</li>
</ol>
<p>The equation <i>x</i><sup>2</sup> + <i>y</i><sup>2</sup> = 0 can be thought of as the equation of a circle whose radius has shrunk to zero, and so it represents a single point: (<i>x</i> = 0, <i>y</i> = 0), unlike a normal circle containing an infinity of points. This and similar examples show the reason why the last two types described above need the qualification "usually". An example of a system of equations of the first type described above with an infinite number of solutions is given by <i>x</i> = |<i>x</i>|, <i>y</i> = |<i>y</i>| (where the notation || denotes the <a href="/wiki/Absolute_value" title="Absolute value">absolute value</a> function), whose solutions form a quadrant of the <a href="/wiki/Cartesian_coordinate_system#Cartesian_coordinates_in_two_dimensions" title="Cartesian coordinate system"><i>x</i>-<i>y</i> plane</a>. Another example is <i>x</i> = |<i>y</i>|, <i>y</i> = |<i>x</i>|, whose solution represents a <a href="/wiki/Line_(mathematics)#Ray" title="Line (mathematics)" class="mw-redirect">ray</a>. Another example is (<i>x</i>+1)(<i>x</i>+<i>y</i>)=0, (<i>y</i>+1)(<i>x</i>+<i>y</i>)=0, whose solution represents a line and a point.</p>
<h2><span class="section">[<a href="/w/index.php?title=Simultaneous_equations&amp;action=&amp;section=2" title="Edit section: Substitution method"></a>]</span> <span class="mw-headline" id="Substitution_method">Substitution method</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a href="/wiki/File:Simultaneous_equations_example_1.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/53/Simultaneous_equations_example_1.svg/300px-Simultaneous_equations_example_1.svg.png" width="300" height="309" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Simultaneous_equations_example_1.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The two example <a href="/wiki/Equation" title="Equation">equations</a> intersect twice. Therefore, there are two solutions.</div>
</div>
</div>
<p>Systems of simultaneous equations can be hard to solve unless a systematic approach is used. A common technique is the <b>substitution method</b>: Find an equation that can be written with a single variable as the subject, in which the left-hand side variable does not occur in the right-hand side expression. Next, <a href="/wiki/Substitution_of_variables" title="Substitution of variables">substitute</a> that expression where that variable appears in the other equations, thereby obtaining a smaller system with fewer variables. After that smaller system has been solved (whether by further application of the substitution method or by other methods), substitute the solutions found for the variables in the above right-hand side expression.</p>
<p>In this set of equations</p>
<dl>
<dd><img class="tex" alt="
\begin{cases}
x^2 + y^2 = 1\\
2x + 4y = 0
\end{cases}
" src="//upload.wikimedia.org/wikipedia/en/math/7/6/4/764c21ef1726cd6496548bc0588b61bc.png" /></dd>
</dl>
<p><i>x</i> is made the subject of the second equation:</p>
<dl>
<dd><img class="tex" alt="x = -2y\," src="//upload.wikimedia.org/wikipedia/en/math/b/0/6/b06f084498e7676ff10facc212137270.png" /></dd>
</dl>
<p>then, this result is substituted into the first equation:</p>
<dl>
<dd><img class="tex" alt="(-2y)^2 + y^2 = 1.\," src="//upload.wikimedia.org/wikipedia/en/math/1/6/6/1665277c48c67252612f68c86b029fee.png" /></dd>
</dl>
<p>After simplification, this yields the solutions</p>
<dl>
<dd><img class="tex" alt="y = \pm \sqrt{1 \over 5}" src="//upload.wikimedia.org/wikipedia/en/math/8/e/5/8e552e2ab7c735a91505a9ec47ee9c34.png" /></dd>
</dl>
<p>and by substituting this in <i>x</i> = 2<i>y</i> the corresponding <i>x</i> values are obtained. The two solutions of the system of equations are then:</p>
<dl>
<dd><img class="tex" alt="x = -2\sqrt{1 \over 5},\  y=\sqrt{1 \over 5} \qquad\mbox{and}\qquad x = 2\sqrt{1 \over 5},\ y=-\sqrt{1 \over 5}.\," src="//upload.wikimedia.org/wikipedia/en/math/0/8/8/088d500f21c7d8dd1b89580e892d599b.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Simultaneous_equations&amp;action=&amp;section=3" title="Edit section: Elimination method"></a>]</span> <span class="mw-headline" id="Elimination_method">Elimination method</span></h2>
<p>Elimination by judicious multiplication is the other commonly used method to solve simultaneous linear equations. It uses the general principles that each side of an equation still equals the other when both sides are multiplied (or divided) by the same quantity, or when the same quantity is added (or subtracted) from both sides. As the equations grow simpler through the elimination of some variables, a variable will eventually appear in fully solvable form, and this value can then be "back-substituted" into previously derived equations by plugging this value in for the variable. Typically, each "back-substitution" can then allow another variable in the system to be solved.</p>
<h2><span class="section">[<a href="/w/index.php?title=Simultaneous_equations&amp;action=&amp;section=4" title="Edit section: Matrices"></a>]</span> <span class="mw-headline" id="Matrices">Matrices</span></h2>
<p>Systems of equations may also be represented in terms of <a href="/wiki/Matrix_(mathematics)" title="Matrix (mathematics)">matrices</a>, allowing various principles of matrix operations to be handily applied to the problem. <a href="/wiki/System_of_linear_equations" title="System of linear equations">Systems of simultaneous <i>linear</i> equations</a> are studied in <a href="/wiki/Linear_algebra" title="Linear algebra">linear algebra</a>; they are solved using <a href="/wiki/Gaussian_elimination" title="Gaussian elimination">Gaussian elimination</a> or the <a href="/wiki/Cholesky_decomposition" title="Cholesky decomposition">Cholesky decomposition</a>. To determine approximate solutions to general systems <a href="/wiki/Numerical_analysis" title="Numerical analysis">numerically</a> on a computer, the <i>n</i>-dimensional <a href="/wiki/Newton%27s_method" title="Newton's method">Newton's method</a> may be used. <a href="/wiki/Algebraic_geometry" title="Algebraic geometry">Algebraic geometry</a> is essentially the theory of simultaneous <a href="/wiki/Polynomial" title="Polynomial">polynomial</a> equations. The question of effective computation with such equations belongs to <a href="/wiki/Elimination_theory" title="Elimination theory">elimination theory</a>. See also <a href="/wiki/Cramer%27s_Rule" title="Cramer's Rule" class="mw-redirect">Cramer's Rule</a>, which computes the quotient of 2 determinants to calculate the solution.</p>
<p><a href="/wiki/Simultaneous_equation_model" title="Simultaneous equation model" class="mw-redirect">Simultaneous equation models</a> are a form of <a href="/wiki/Statistical_model" title="Statistical model">statistical model</a> in the form of a set of linear simultaneous equations. They are often used in <a href="/wiki/Econometrics" title="Econometrics">econometrics</a>.</p>
<p>In <a href="/wiki/Modular_arithmetic" title="Modular arithmetic">modular arithmetic</a>, simple systems of <a href="/w/index.php?title=Simultaneous_congruences&amp;action=&amp;redlink=1" class="new" title="Simultaneous congruences (page does not exist)">simultaneous congruences</a> can be solved by the <a href="/wiki/Method_of_successive_substitution" title="Method of successive substitution">method of successive substitution</a>.</p>
<p>Simultaneous equations are easier to solve using this method.</p>
<h2><span class="section">[<a href="/w/index.php?title=Simultaneous_equations&amp;action=&amp;section=5" title="Edit section: Least-squares"></a>]</span> <span class="mw-headline" id="Least-squares">Least-squares</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Linear_least_squares" title="Linear least squares">Linear least squares</a></div>
<p>A set of linear simultaneous equations can be written in matrix form as <span class="nowrap"><b>Ax</b> = <b>y</b></span>. If there are more equations than variables, the system is called <a href="/wiki/Overdetermined_system" title="Overdetermined system">overdetermined</a>, and has (in general) no solutions. The system can then be changed to <span class="nowrap">(<b>A</b><sup>T</sup><b>A</b>)<b>x</b> = <b>A</b><sup>T</sup><b>y</b></span>. The new system has as many equations as variables (the matrix <b>A</b><sup>T</sup><b>A</b> is a <a href="/wiki/Square_matrix" title="Square matrix" class="mw-redirect">square matrix</a>) and can be solved in the usual way. The solution is a <a href="/wiki/Least-squares" title="Least-squares" class="mw-redirect">least-squares</a> solution of the original, overdetermined system, minimizing the <a href="/wiki/Euclidean_norm" title="Euclidean norm" class="mw-redirect">Euclidean norm</a> ||<b>Ax</b>&#160;&#160;<b>y</b>||, a measure of the discrepancy between the two sides in the original system.</p>
<h2><span class="section">[<a href="/w/index.php?title=Simultaneous_equations&amp;action=&amp;section=6" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Systems_of_polynomial_equations" title="Systems of polynomial equations" class="mw-redirect">Systems of polynomial equations</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Simultaneous_equations&amp;action=&amp;section=7" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation web">Simmons, Bruce. <a rel="nofollow" class="external text" href="http://www.mathwords.com/i/inconsistent_system_of_equations.htm">"Mathwords"</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://www.mathwords.com/i/inconsistent_system_of_equations.htm">http://www.mathwords.com/i/inconsistent_system_of_equations.htm</a></span><span class="reference-accessdate">. Retrieved 11 October 2011</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Mathwords&amp;rft.atitle=&amp;rft.aulast=Simmons&amp;rft.aufirst=Bruce&amp;rft.au=Simmons%2C%26%2332%3BBruce&amp;rft_id=http%3A%2F%2Fwww.mathwords.com%2Fi%2Finconsistent_system_of_equations.htm&amp;rfr_id=info:sid/en.wikipedia.org:Simultaneous_equations"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Simultaneous_equations&amp;action=&amp;section=8" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.bbc.co.uk/schools/gcsebitesize/maths/algebra/simultaneoushirev2.shtml">Simultaneous equations</a></li>
<li><a rel="nofollow" class="external text" href="http://www.idomaths.com/simeq.php">Simultaneous linear equations solver</a></li>
<li><a rel="nofollow" class="external text" href="http://www.akiti.ca/SimEqR12Solver.html">Simultaneous Equation Solver</a> Also computes the determinant, inverse, and LU Decomposition of the [A] Matrix.</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1252/1000000
Post-expand include size: 7820/2048000 bytes
Template argument size: 2255/2048000 bytes
Expensive parser function count: 3/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:249617-0!0!0!!en!4!* and timestamp 20120407062813 -->
