<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Cake_quarters.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Cake_quarters.svg/220px-Cake_quarters.svg.png" width="220" height="167" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Cake_quarters.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A cake with one quarter removed. The remaining three quarters are shown. Dotted lines indicate where the cake may be cut in order to divide it into equal parts. Each quarter of the cake is denoted by the fraction 1/4.</div>
</div>
</div>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/numerator">numerator</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/denominator">denominator</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<p>A <b>fraction</b> (from Latin: <i>fractus</i>, "broken") represents a part of a whole or, more generally, any number of equal parts. When spoken in everyday English, a fraction describes how many parts of a certain size there are, for example, one-half, five-eighths, three-quarters.</p>
<p>A <b>common</b> or <b>vulgar</b> fraction, such as 1/2, 8/5, 3/4, consists of an <a href="/wiki/Integer" title="Integer">integer</a> <b>numerator</b> and a non-zero integer <b>denominator</b>the numerator representing a number of equal parts and the denominator indicating how many of those parts make up a whole. An example is 3/4, in which the numerator, 3, tells us that the fraction represents 3 equal parts, and the denominator, 4, tells us that 4 parts equal a whole. The picture to the right illustrates 3/4 of a cake.</p>
<p>Fractional numbers can also be written without using explicit numerators or denominators, by using decimals, percent signs, or negative exponents (as in 0.01, 1%, and 10<sup>2</sup> respectively, all of which are equivalent to 1/100). An integer such as the number 7 can be thought of as having an implied denominator of one: 7 equals 7/1.</p>
<p>Other uses for fractions are to represent <a href="/wiki/Ratio" title="Ratio">ratios</a> and to represent <a href="/wiki/Division_(mathematics)" title="Division (mathematics)">division</a>. Thus the fraction 3/4 is also used to represent the ratio 3:4 (the ratio of the part to the whole) and the division 3  4 (three divided by four).</p>
<p>In mathematics the set of all numbers which can be expressed in the form a/b, where a and b are <a href="/wiki/Integer" title="Integer">integers</a> and b is not zero, is called the set of <a href="/wiki/Rational_numbers" title="Rational numbers" class="mw-redirect">rational numbers</a> and is represented by the symbol <b>Q</b>, which stands for <a href="/wiki/Quotient" title="Quotient">quotient</a>. The test for a number being a rational number is that it can be written in that form (i.e., as a common fraction). However, the word <i>fraction</i> is also used to describe mathematical expressions that are not rational numbers, for example <a href="/wiki/Algebraic_fraction" title="Algebraic fraction">algebraic fractions</a> (quotients of algebraic expressions), and expressions that contain <a href="/wiki/Irrational_number" title="Irrational number">irrational numbers</a>, such as 2/2 (see <a href="/wiki/Square_root_of_2" title="Square root of 2">square root of 2</a>) and /4 (see <a href="/wiki/Proof_that_%CF%80_is_irrational" title="Proof that  is irrational">proof that  is irrational</a>).</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Forms_of_fractions"><span class="tocnumber">1</span> <span class="toctext">Forms of fractions</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Common.2C_vulgar.2C_or_simple_fractions"><span class="tocnumber">1.1</span> <span class="toctext">Common, vulgar, or simple fractions</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Writing_simple_fractions"><span class="tocnumber">1.2</span> <span class="toctext">Writing simple fractions</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Proper_and_improper_common_fractions"><span class="tocnumber">1.3</span> <span class="toctext">Proper and improper common fractions</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Mixed_numbers"><span class="tocnumber">1.4</span> <span class="toctext">Mixed numbers</span></a></li>
<li class="toclevel-2 tocsection-6"><a href="#Reciprocals_and_the_.22invisible_denominator.22"><span class="tocnumber">1.5</span> <span class="toctext">Reciprocals and the "invisible denominator"</span></a></li>
<li class="toclevel-2 tocsection-7"><a href="#Complex_fractions"><span class="tocnumber">1.6</span> <span class="toctext">Complex fractions</span></a></li>
<li class="toclevel-2 tocsection-8"><a href="#Compound_fractions"><span class="tocnumber">1.7</span> <span class="toctext">Compound fractions</span></a></li>
<li class="toclevel-2 tocsection-9"><a href="#Decimal_fractions_and_percentages"><span class="tocnumber">1.8</span> <span class="toctext">Decimal fractions and percentages</span></a></li>
<li class="toclevel-2 tocsection-10"><a href="#Special_cases"><span class="tocnumber">1.9</span> <span class="toctext">Special cases</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-11"><a href="#Arithmetic_with_fractions"><span class="tocnumber">2</span> <span class="toctext">Arithmetic with fractions</span></a>
<ul>
<li class="toclevel-2 tocsection-12"><a href="#Equivalent_fractions"><span class="tocnumber">2.1</span> <span class="toctext">Equivalent fractions</span></a></li>
<li class="toclevel-2 tocsection-13"><a href="#Comparing_fractions"><span class="tocnumber">2.2</span> <span class="toctext">Comparing fractions</span></a></li>
<li class="toclevel-2 tocsection-14"><a href="#Addition"><span class="tocnumber">2.3</span> <span class="toctext">Addition</span></a>
<ul>
<li class="toclevel-3 tocsection-15"><a href="#Adding_unlike_quantities"><span class="tocnumber">2.3.1</span> <span class="toctext">Adding unlike quantities</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-16"><a href="#Subtraction"><span class="tocnumber">2.4</span> <span class="toctext">Subtraction</span></a></li>
<li class="toclevel-2 tocsection-17"><a href="#Multiplication"><span class="tocnumber">2.5</span> <span class="toctext">Multiplication</span></a>
<ul>
<li class="toclevel-3 tocsection-18"><a href="#Multiplying_a_fraction_by_another_fraction"><span class="tocnumber">2.5.1</span> <span class="toctext">Multiplying a fraction by another fraction</span></a></li>
<li class="toclevel-3 tocsection-19"><a href="#Multiplying_a_fraction_by_a_whole_number"><span class="tocnumber">2.5.2</span> <span class="toctext">Multiplying a fraction by a whole number</span></a></li>
<li class="toclevel-3 tocsection-20"><a href="#Mixed_numbers_2"><span class="tocnumber">2.5.3</span> <span class="toctext">Mixed numbers</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-21"><a href="#Division"><span class="tocnumber">2.6</span> <span class="toctext">Division</span></a></li>
<li class="toclevel-2 tocsection-22"><a href="#Converting_between_decimals_and_fractions"><span class="tocnumber">2.7</span> <span class="toctext">Converting between decimals and fractions</span></a>
<ul>
<li class="toclevel-3 tocsection-23"><a href="#Converting_repeating_decimals_to_fractions"><span class="tocnumber">2.7.1</span> <span class="toctext">Converting repeating decimals to fractions</span></a></li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1 tocsection-24"><a href="#Fractions_in_abstract_mathematics"><span class="tocnumber">3</span> <span class="toctext">Fractions in abstract mathematics</span></a></li>
<li class="toclevel-1 tocsection-25"><a href="#Algebraic_fractions"><span class="tocnumber">4</span> <span class="toctext">Algebraic fractions</span></a></li>
<li class="toclevel-1 tocsection-26"><a href="#Radical_expressions"><span class="tocnumber">5</span> <span class="toctext">Radical expressions</span></a></li>
<li class="toclevel-1 tocsection-27"><a href="#Pronunciation_and_spelling"><span class="tocnumber">6</span> <span class="toctext">Pronunciation and spelling</span></a></li>
<li class="toclevel-1 tocsection-28"><a href="#History"><span class="tocnumber">7</span> <span class="toctext">History</span></a></li>
<li class="toclevel-1 tocsection-29"><a href="#Pedagogical_tools"><span class="tocnumber">8</span> <span class="toctext">Pedagogical tools</span></a></li>
<li class="toclevel-1 tocsection-30"><a href="#See_also"><span class="tocnumber">9</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-31"><a href="#References"><span class="tocnumber">10</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-32"><a href="#External_links"><span class="tocnumber">11</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=1" title="Edit section: Forms of fractions"></a>]</span> <span class="mw-headline" id="Forms_of_fractions">Forms of fractions</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=2" title="Edit section: Common, vulgar, or simple fractions"></a>]</span> <span class="mw-headline" id="Common.2C_vulgar.2C_or_simple_fractions">Common, vulgar, or simple fractions</span></h3>
<p>A <b>common fraction</b> (also known as a <b>vulgar fraction</b> or <b>simple fraction</b>) is a <a href="/wiki/Rational_number" title="Rational number">rational number</a> written as <i>a</i>/<i>b</i> or <img class="tex" alt="\tfrac{a}{b}" src="//upload.wikimedia.org/wikipedia/en/math/e/c/3/ec3e447b2dcda3eb68860a5cb3780bf7.png" />, where the <a href="/wiki/Integer" title="Integer">integers</a> <i>a</i> and <i>b</i> are called the <i>numerator</i> and the <i>denominator</i>, respectively.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> The numerator represents a number of equal parts and the denominator, which cannot be zero, indicates how many of those parts make up a unit or a whole. In the examples 2/5 and 7/3, the slanting line is called a <a href="/wiki/Solidus_(punctuation)" title="Solidus (punctuation)" class="mw-redirect">solidus</a> or <a href="/wiki/Slash_(punctuation)" title="Slash (punctuation)">forward slash</a>. In the examples <img class="tex" alt="\tfrac{2}{5}" src="//upload.wikimedia.org/wikipedia/en/math/e/4/5/e4565ad81b2d311d2b2bf06ca9a3407a.png" /> and <img class="tex" alt="\tfrac{7}{3}" src="//upload.wikimedia.org/wikipedia/en/math/5/4/5/545779d9d743206a5e63c51087bc1e81.png" />, the horizontal line is called a <a href="/wiki/Vinculum_(symbol)" title="Vinculum (symbol)">vinculum</a> or, informally, a "fraction bar".</p>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=3" title="Edit section: Writing simple fractions"></a>]</span> <span class="mw-headline" id="Writing_simple_fractions">Writing simple fractions</span></h3>
<p>In computer displays and <a href="/wiki/Typography" title="Typography">typography</a>, simple fractions are sometimes printed as a single character, e.g.  (<a href="/wiki/One_half" title="One half">one half</a>).</p>
<p>Scientific publishing distinguishes four ways to set fractions, together with guidelines on use:<sup id="cite_ref-galen_1-0" class="reference"><a href="#cite_note-galen-1"><span>[</span>2<span>]</span></a></sup></p>
<ul>
<li><b>case fractions:</b> <img class="tex" alt="\tfrac{1}{2}" src="//upload.wikimedia.org/wikipedia/en/math/3/a/9/3a96e71dfcb71605c92ac270bfd4d4cc.png" />, generally used for simple fractions and for showing mathematical operations;</li>
<li><b>special fractions:</b> , not used in modern mathematical notation, but in other contexts;</li>
<li><b>shilling fractions:</b> 1/2, so called because this notation was used for pre-decimal British currency (<a href="/wiki/%C2%A3sd" title="sd">sd</a>), as in 2/6 for a <a href="/wiki/Half_crown_(British_coin)" title="Half crown (British coin)">half crown</a>, meaning two shillings and six pence. While the notation "two shillings and six pence" did not represent a fraction, the forward slash is now used in fractions, especially for fractions inline with prose (rather than displayed), to avoid uneven lines. It is also used for fractions within fractions (<a href="#Complex_fractions">complex fractions</a>) or within exponents to increase legibility;</li>
<li><b>built-up fractions:</b> <img class="tex" alt="\frac{1}{2}" src="//upload.wikimedia.org/wikipedia/en/math/3/d/c/3dcde285c447d48b6bc42bb636112d6c.png" />, while large and legible, these can be disruptive, particularly for simple fractions or within complex fractions.</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=4" title="Edit section: Proper and improper common fractions"></a>]</span> <span class="mw-headline" id="Proper_and_improper_common_fractions">Proper and improper common fractions</span></h3>
<p>Common fractions can be classified as either proper or improper. When the numerator and the denominator are both positive, the fraction is called proper if the numerator is less than the denominator, and improper otherwise.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup><sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup> In general, a common fraction is said to be a <b>proper fraction</b> if the <a href="/wiki/Absolute_value" title="Absolute value">absolute value</a> of the fraction is strictly less than onethat is, if the fraction is between -1 and 1 (but not equal to -1 or 1).<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup><sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup> It is said to be an <b>improper fraction</b> (U.S., British or Australian) or <b>top-heavy fraction</b> (British, occasionally North America) if the absolute value of the fraction is greater than or equal to 1. Examples of proper fractions are 2/3, -3/4, and 4/9; examples of improper fractions are 9/4, -4/3, and 8/3.</p>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=5" title="Edit section: Mixed numbers"></a>]</span> <span class="mw-headline" id="Mixed_numbers">Mixed numbers</span></h3>
<p>A <b>mixed numeral</b> (often called a <i>mixed number</i>, also called a <i>mixed fraction</i>) is the sum of a non-zero integer and a proper fraction. This sum is implied without the use of any visible operator such as "+". For example, in referring to two entire cakes and three quarters of another cake, the whole and fractional parts of the number are written next to each other: <img class="tex" alt="2+\tfrac{3}{4}=2\tfrac{3}{4}" src="//upload.wikimedia.org/wikipedia/en/math/8/a/e/8aee52b9d6eefc3e84c7ee4b87e424e3.png" />.</p>
<p>This is not to be confused with the algebra rule of implied multiplication. When two algebraic expressions are written next to each other, the operation of multiplication is said to be "understood". In algebra, <img class="tex" alt=" a \tfrac{b}{c} " src="//upload.wikimedia.org/wikipedia/en/math/9/a/f/9af2a286aa82589ab0e9ccd784c40ae8.png" /> for example is not a mixed number. Instead, multiplication is understood: <img class="tex" alt=" a \tfrac{b}{c}  = a \times \tfrac{b}{c}" src="//upload.wikimedia.org/wikipedia/en/math/c/0/7/c076f2c26e3843d48e6109f7c1440b3b.png" />.</p>
<p>An improper fraction is another way to write a whole plus a part. A mixed number can be converted to an improper fraction as follows:</p>
<ol>
<li>Write the mixed number <img class="tex" alt="2\tfrac{3}{4}" src="//upload.wikimedia.org/wikipedia/en/math/b/a/b/bab57bc8a509af6503fcd5353a3d8c47.png" /> as a sum <img class="tex" alt="2+\tfrac{3}{4}" src="//upload.wikimedia.org/wikipedia/en/math/c/9/6/c96f6293db32ca2e0e86008d7543a2a1.png" />.</li>
<li>Convert the whole number to an improper fraction with the same denominator as the fractional part, <img class="tex" alt="\tfrac{8}{4}+\tfrac{3}{4}" src="//upload.wikimedia.org/wikipedia/en/math/6/3/9/63929fc00b1536eb352ecf9e04f9bd47.png" />.</li>
<li>Add the fractions. The resulting sum is the improper fraction. In the example, <img class="tex" alt="2\tfrac{3}{4}=\tfrac{11}{4}" src="//upload.wikimedia.org/wikipedia/en/math/c/0/8/c087e9380caf8b8d9faf48f190363888.png" />.</li>
</ol>
<p>Similarly, an improper fraction can be converted to a mixed number as follows:</p>
<ol>
<li>Divide the numerator by the denominator. In the example, <img class="tex" alt="\tfrac{11}{4}" src="//upload.wikimedia.org/wikipedia/en/math/d/c/e/dce63aafb62b9ba29267b6a9706f3f78.png" />, divide 11 by 4. 11  4 = 2 with remainder 3.</li>
<li>The <a href="/wiki/Quotient" title="Quotient">quotient</a> (without the remainder) becomes the whole number part of the mixed number. The remainder becomes the numerator of the fractional part. In the example, 2 is the whole number part and 3 is the numerator of the fractional part.</li>
<li>The new denominator is the same as the denominator of the improper fraction. In the example, they are both 4. Thus <img class="tex" alt="\tfrac{11}{4} =2\tfrac{3}{4}" src="//upload.wikimedia.org/wikipedia/en/math/c/9/e/c9eb77cd0def723682b81a75a751b490.png" />.</li>
</ol>
<p>Mixed numbers can also be negative, as in <img class="tex" alt="-2\tfrac{3}{4}" src="//upload.wikimedia.org/wikipedia/en/math/6/5/7/6579fdce35b5b64ef82283f913b96898.png" />, which equals <img class="tex" alt=" -(2+\tfrac{3}{4}) = -2-\tfrac{3}{4}" src="//upload.wikimedia.org/wikipedia/en/math/7/b/d/7bd6e4a66b38e5a44392de113d564748.png" />.</p>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=6" title="Edit section: Reciprocals and the &quot;invisible denominator&quot;"></a>]</span> <span class="mw-headline" id="Reciprocals_and_the_.22invisible_denominator.22">Reciprocals and the "invisible denominator"</span></h3>
<p>The <b>reciprocal</b> of a fraction is another fraction with the numerator and denominator reversed. The reciprocal of <img class="tex" alt="\tfrac{3}{7}" src="//upload.wikimedia.org/wikipedia/en/math/a/1/0/a10665174d72dc3f8e057da89b841a88.png" />, for instance, is <img class="tex" alt="\tfrac{7}{3}" src="//upload.wikimedia.org/wikipedia/en/math/5/4/5/545779d9d743206a5e63c51087bc1e81.png" />. The product of a fraction and its reciprocal is 1, hence the reciprocal is the <a href="/wiki/Multiplicative_inverse" title="Multiplicative inverse">multiplicative inverse</a> of a fraction. Any integer can be written as a fraction with the number one as denominator. For example, 17 can be written as <img class="tex" alt="\tfrac{17}{1}" src="//upload.wikimedia.org/wikipedia/en/math/8/1/0/8102472fc6f699a6ca04296daf8c362d.png" />, where 1 is sometimes referred to as the <i>invisible denominator</i>. Therefore, every fraction or integer except for zero has a reciprocal. The reciprocal of 17 is <img class="tex" alt="\tfrac{1}{17}" src="//upload.wikimedia.org/wikipedia/en/math/5/3/a/53a1142edc24fdfd68c6aa88c4f4a910.png" />.</p>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=7" title="Edit section: Complex fractions"></a>]</span> <span class="mw-headline" id="Complex_fractions">Complex fractions</span></h3>
<p>In a <b>complex fraction</b>, either the numerator, or the denominator, or both, is a fraction or a mixed number<sup id="cite_ref-Trotter_6-0" class="reference"><a href="#cite_note-Trotter-6"><span>[</span>7<span>]</span></a></sup><sup id="cite_ref-Barlow_7-0" class="reference"><a href="#cite_note-Barlow-7"><span>[</span>8<span>]</span></a></sup>, corresponding to division of fractions. For example, <img class="tex" alt="\frac{\tfrac{1}{2}}{\tfrac{1}{3}}" src="//upload.wikimedia.org/wikipedia/en/math/7/2/c/72c6a51e0453c43855cf676204952a2d.png" /> and <img class="tex" alt="\frac{12\tfrac{3}{4}}{26}" src="//upload.wikimedia.org/wikipedia/en/math/9/7/8/978eee7465437373d5baa3c227762696.png" /> are complex fractions. To reduce a complex fraction to a simple fraction, treat the longest fraction line as representing division. For example:</p>
<dl>
<dd><img class="tex" alt="\frac{\tfrac{1}{2}}{\tfrac{1}{3}}=\tfrac{1}{2}\times\tfrac{3}{1}=\tfrac{3}{2}=1\tfrac{1}{2}." src="//upload.wikimedia.org/wikipedia/en/math/f/1/b/f1b8ad90ac04ac0d800a805f7607a50a.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="\frac{12\tfrac{3}{4}}{26} = 12\tfrac{3}{4} \cdot \tfrac{1}{26} = \tfrac{12 \cdot 4 + 3}{4} \cdot \tfrac{1}{26} = \tfrac{51}{4} \cdot \tfrac{1}{26} = \tfrac{51}{104}" src="//upload.wikimedia.org/wikipedia/en/math/7/2/3/7237fb17e13b7c85209035c0b52147e3.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="\frac{\tfrac{3}{2}}5=\tfrac{3}{2}\times\tfrac{1}{5}=\tfrac{3}{10}." src="//upload.wikimedia.org/wikipedia/en/math/d/6/f/d6f3f02eabab48c92a0ada325c337d0b.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="\frac{8}{\tfrac{1}{3}}=8\times\tfrac{3}{1}=24." src="//upload.wikimedia.org/wikipedia/en/math/1/e/d/1ed41ac2708dc3ece5cb99bcd4f8cf71.png" /></dd>
</dl>
<p>If, in a complex fraction, there is no clear way to tell which fraction line takes precedence, then the expression is improperly formed, and meaningless.</p>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=8" title="Edit section: Compound fractions"></a>]</span> <span class="mw-headline" id="Compound_fractions">Compound fractions</span></h3>
<p>A <b>compound fraction</b> is a fraction of a fraction, or any number of fractions connected with the word <i>of</i><sup id="cite_ref-Trotter_6-1" class="reference"><a href="#cite_note-Trotter-6"><span>[</span>7<span>]</span></a></sup><sup id="cite_ref-Barlow_7-1" class="reference"><a href="#cite_note-Barlow-7"><span>[</span>8<span>]</span></a></sup>, corresponding to multiplication of fractions. To reduce a compound fraction to a simple fraction, just carry out the multiplication (see the section on <a href="#Multiplication">multiplication</a>). For example, <img class="tex" alt="\tfrac{3}{4}" src="//upload.wikimedia.org/wikipedia/en/math/0/a/6/0a68e73c11ad2348d7f564e980ecdbab.png" /> of <img class="tex" alt="\tfrac{5}{7}" src="//upload.wikimedia.org/wikipedia/en/math/d/7/f/d7f5a71bc92e13070fd808cf93dbf2af.png" /> is a compound fraction, corresponding to <img class="tex" alt="\tfrac{3}{4} \times \tfrac{5}{7} = \tfrac{15}{28}" src="//upload.wikimedia.org/wikipedia/en/math/2/2/8/228bcd8a678adfac3018aed5e0047161.png" />. The terms compound fraction and complex fraction are closely related and sometimes one is used as a synonym for the other.</p>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=9" title="Edit section: Decimal fractions and percentages"></a>]</span> <span class="mw-headline" id="Decimal_fractions_and_percentages">Decimal fractions and percentages</span></h3>
<p>A <b><a href="/wiki/Decimal_fraction" title="Decimal fraction" class="mw-redirect">decimal fraction</a></b> is a fraction whose denominator is not given explicitly, but is understood to be an integer power of ten. Decimal fractions are commonly expressed using decimal notation in which the implied denominator is determined by the number of <a href="/wiki/Numerical_digit" title="Numerical digit">digits</a> to the right of a <a href="/wiki/Decimal_separator" title="Decimal separator" class="mw-redirect">decimal separator</a>, the appearance of which (e.g., a period, a raised period (), a comma) depends on the locale (for examples, see <a href="/wiki/Decimal_separator#Hindu-Arabic_numeral_system" title="Decimal separator" class="mw-redirect">decimal separator</a>). Thus for 0.75 the numerator is 75 and the implied denominator is 10 to the second power, <i>viz.</i> 100, because there are two digits to the right of the decimal separator. In decimal numbers greater than 1 (such as 3.75), the <a href="/wiki/Fractional_part" title="Fractional part">fractional part</a> of the number is expressed by the digits to the right of the decimal (with a value of 0.75 in this case). 3.75 can be written either as an improper fraction, 375/100, or as a mixed number, <img class="tex" alt="3\tfrac{75}{100}" src="//upload.wikimedia.org/wikipedia/en/math/7/3/3/733ad251a022a51fb9e48380da7efaad.png" />.</p>
<p>Decimal fractions can also be expressed using <a href="/wiki/Scientific_notation" title="Scientific notation">scientific notation</a> with negative exponents, such as <span style="white-space:nowrap">6.023<span style="white-space:nowrap;margin-left:0.25em;margin-right:0.15em"></span>10<sup>7</sup></span>, which represents 0.0000006023. The <span style="white-space:nowrap">10<sup>7</sup></span> represents a denominator of <span style="white-space:nowrap">10<sup>7</sup></span>. Dividing by <span style="white-space:nowrap">10<sup>7</sup></span> moves the decimal point 7 places to the left.</p>
<p>Decimal fractions with infinitely many digits to the right of the decimal separator represent an <a href="/wiki/Infinite_series" title="Infinite series" class="mw-redirect">infinite series</a>. For example, 1/3 = 0.333... represents the infinite series 3/10 + 3/100 + 3/1000 + ... .</p>
<p>Another kind of fraction is the <a href="/wiki/Percentage" title="Percentage">percentage</a> (Latin <i>per centum</i> meaning "per hundred", represented by the symbol&#160;%), in which the implied denominator is always 100. Thus, 75% means 75/100. Related concepts are the <a href="/wiki/Permille" title="Permille" class="mw-redirect">permille</a>, with 1000 as implied denominator, and the more general <a href="/wiki/Parts-per_notation" title="Parts-per notation">parts-per notation</a>, as in 75 parts per million, meaning that the proportion is 75/1,000,000.</p>
<p>Whether common fractions or decimal fractions are used is often a matter of taste and context. Common fractions are used most often when the denominator is relatively small. By <a href="/wiki/Mental_calculation" title="Mental calculation">mental calculation</a>, it is easier to multiply 16 by 3/16 than to do the same calculation using the fraction's decimal equivalent (0.1875). And it is more <a href="/wiki/Accurate" title="Accurate" class="mw-redirect">accurate</a> to multiply 15 by 1/3, for example, than it is to multiply 15 by any decimal approximation of one third. Monetary values are commonly expressed as decimal fractions, for example $3.75. However, as noted above, in pre-decimal British currency, shillings and pence were often given the form (but not the meaning) of a fraction, as, for example 3/6 (read "three and six") meaning 3 shillings and 6 pence, and having no relationship to the fraction 3/6.</p>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=10" title="Edit section: Special cases"></a>]</span> <span class="mw-headline" id="Special_cases">Special cases</span></h3>
<ul>
<li>A <a href="/wiki/Unit_fraction" title="Unit fraction">unit fraction</a> is a vulgar fraction with a numerator of 1, e.g. <img class="tex" alt="\tfrac{1}{7}" src="//upload.wikimedia.org/wikipedia/en/math/a/5/c/a5ce892c9a8c1fbd5b691152affadbdc.png" />. Unit fractions can also be expressed using negative exponents, as in 2<sup>1</sup> which represents 1/2, and 2<sup>2</sup> which represents 1/(2<sup>2</sup>) or 1/4.</li>
</ul>
<ul>
<li>An <a href="/wiki/Egyptian_fraction" title="Egyptian fraction">Egyptian fraction</a> is the sum of distinct positive unit fractions, for example <img class="tex" alt="\tfrac{1}{2}+\tfrac{1}{3}" src="//upload.wikimedia.org/wikipedia/en/math/2/2/d/22dcc161ff1c8214bddc21a847353c35.png" />. This definition derives from the fact that the <a href="/wiki/Ancient_Egypt" title="Ancient Egypt">ancient Egyptians</a> expressed all fractions except <img class="tex" alt="\tfrac{1}{2}" src="//upload.wikimedia.org/wikipedia/en/math/3/a/9/3a96e71dfcb71605c92ac270bfd4d4cc.png" />, <img class="tex" alt="\tfrac{2}{3}" src="//upload.wikimedia.org/wikipedia/en/math/8/b/8/8b883c896019dad7a0b493cf42e21c6b.png" /> and <img class="tex" alt="\tfrac{3}{4}" src="//upload.wikimedia.org/wikipedia/en/math/0/a/6/0a68e73c11ad2348d7f564e980ecdbab.png" /> in this manner. Every positive rational number can be expanded as an Egyptian fraction. For example, <img class="tex" alt="\tfrac{5}{7}" src="//upload.wikimedia.org/wikipedia/en/math/d/7/f/d7f5a71bc92e13070fd808cf93dbf2af.png" /> can be written as <img class="tex" alt="\tfrac{1}{2} + \tfrac{1}{6} + \tfrac{1}{21}." src="//upload.wikimedia.org/wikipedia/en/math/f/f/0/ff01f5cfa7cca78b88d4104abc840346.png" /> Any positive rational number can be written as a sum of unit fractions in infinitely many ways. Two ways to write <img class="tex" alt="\tfrac{13}{17}" src="//upload.wikimedia.org/wikipedia/en/math/c/5/a/c5a91b05e0cf3a9c4f1b16e7a51f9d38.png" /> are <img class="tex" alt="\tfrac{1}{2}+\tfrac{1}{4}+\tfrac{1}{68}" src="//upload.wikimedia.org/wikipedia/en/math/3/1/4/31412f6c47df9cfb30dc2ca6dc5a01d5.png" /> and <img class="tex" alt="\tfrac{1}{3}+\tfrac{1}{4}+\tfrac{1}{6}+\tfrac{1}{68}" src="//upload.wikimedia.org/wikipedia/en/math/e/a/8/ea8ee81b14ffe5fbd2306eff845eabb8.png" />.</li>
</ul>
<ul>
<li>A <a href="/wiki/Dyadic_rational" title="Dyadic rational">dyadic fraction</a> is a vulgar fraction in which the denominator is a <a href="/wiki/Power_of_two" title="Power of two">power of two</a>, e.g. <img class="tex" alt="\tfrac{1}{8}" src="//upload.wikimedia.org/wikipedia/en/math/b/9/0/b90f827f8cc9fee6e7f91df4418725d9.png" />.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=11" title="Edit section: Arithmetic with fractions"></a>]</span> <span class="mw-headline" id="Arithmetic_with_fractions">Arithmetic with fractions</span></h2>
<p>Like whole numbers, fractions obey the <a href="/wiki/Commutative" title="Commutative" class="mw-redirect">commutative</a>, <a href="/wiki/Associative" title="Associative" class="mw-redirect">associative</a>, and <a href="/wiki/Distributive" title="Distributive" class="mw-redirect">distributive</a> laws, and the rule against <a href="/wiki/Division_by_zero" title="Division by zero">division by zero</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=12" title="Edit section: Equivalent fractions"></a>]</span> <span class="mw-headline" id="Equivalent_fractions">Equivalent fractions</span></h3>
<p>Multiplying the numerator and denominator of a fraction by the same (non-zero) number results in a fraction that is equivalent to the original fraction. This is true because for any non-zero number <img class="tex" alt="n" src="//upload.wikimedia.org/wikipedia/en/math/7/b/8/7b8b965ad4bca0e41ab51de7b31363a1.png" />, the fraction <img class="tex" alt="\tfrac{n}{n} = 1" src="//upload.wikimedia.org/wikipedia/en/math/7/7/6/7762f8cc10ebf39888615379d8784490.png" />. Therefore, multiplying by <img class="tex" alt="\tfrac{n}{n}" src="//upload.wikimedia.org/wikipedia/en/math/1/b/8/1b8ede65f277bf3e3544125c2243d62d.png" /> is equivalent to multiplying by one, and any number multiplied by one has the same value as the original number. By way of an example, start with the fraction <img class="tex" alt="\tfrac{1}{2}" src="//upload.wikimedia.org/wikipedia/en/math/3/a/9/3a96e71dfcb71605c92ac270bfd4d4cc.png" />. When the numerator and denominator are both multiplied by 2, the result is <img class="tex" alt="\tfrac{2}{4}" src="//upload.wikimedia.org/wikipedia/en/math/6/3/f/63f01080abb06932a0c2aae9da37694f.png" />, which has the same value (0.5) as <img class="tex" alt="\tfrac{1}{2}" src="//upload.wikimedia.org/wikipedia/en/math/3/a/9/3a96e71dfcb71605c92ac270bfd4d4cc.png" />. To picture this visually, imagine cutting a cake into four pieces; two of the pieces together (<img class="tex" alt="\tfrac{2}{4}" src="//upload.wikimedia.org/wikipedia/en/math/6/3/f/63f01080abb06932a0c2aae9da37694f.png" />) make up half the cake (<img class="tex" alt="\tfrac{1}{2}" src="//upload.wikimedia.org/wikipedia/en/math/3/a/9/3a96e71dfcb71605c92ac270bfd4d4cc.png" />).</p>
<p>Dividing the numerator and denominator of a fraction by the same non-zero number will also yield an equivalent fraction. This is called reducing or simplifying the fraction. A simple fraction in which the numerator and denominator are <a href="/wiki/Coprime" title="Coprime">coprime</a> [that is, the only positive integer that goes into both the numerator and denominator evenly is 1) is said to be <a href="/wiki/Irreducible_fraction" title="Irreducible fraction">irreducible</a>, in lowest terms, or in simplest terms. For example, <img class="tex" alt="\tfrac{3}{9}" src="//upload.wikimedia.org/wikipedia/en/math/4/6/6/4660608c7b33e449fb9996c52d152702.png" /> is not in lowest terms because both 3 and 9 can be exactly divided by 3. In contrast, <img class="tex" alt="\tfrac{3}{8}" src="//upload.wikimedia.org/wikipedia/en/math/2/7/9/27937b6d493928d339b1d3b6e9a56f2f.png" /> <i>is</i> in lowest termsthe only positive integer that goes into both 3 and 8 evenly is 1.</p>
<p>Using these rules, we can show that <img class="tex" alt="\tfrac{5}{10}" src="//upload.wikimedia.org/wikipedia/en/math/5/b/6/5b6ce4a722933462b8565514a13753ca.png" /> = <img class="tex" alt="\tfrac{1}{2}" src="//upload.wikimedia.org/wikipedia/en/math/3/a/9/3a96e71dfcb71605c92ac270bfd4d4cc.png" /> = <img class="tex" alt="\tfrac{10}{20}" src="//upload.wikimedia.org/wikipedia/en/math/c/2/1/c2132a562ccc28d885e5a03d2c0f968b.png" /> = <img class="tex" alt="\tfrac{50}{100}" src="//upload.wikimedia.org/wikipedia/en/math/a/c/6/ac69576a5d88099578a629df79b7d256.png" />.</p>
<p>A common fraction can be reduced to lowest terms by dividing both the numerator and denominator by their <a href="/wiki/Greatest_common_divisor" title="Greatest common divisor">greatest common divisor</a>. For example, as the greatest common divisor of 63 and 462 is 21, the fraction <img class="tex" alt="\tfrac{63}{462}" src="//upload.wikimedia.org/wikipedia/en/math/6/3/0/630e19c97b85263b0701a703d5678081.png" /> can be reduced to lowest terms by dividing the numerator and denominator by 21:</p>
<dl>
<dd><img class="tex" alt="\tfrac{63}{462} = \tfrac{63 \div 21}{462 \div 21}= \tfrac{3}{22}" src="//upload.wikimedia.org/wikipedia/en/math/7/1/1/711e239939e9fc4527d20a0e014cb3ef.png" /></dd>
</dl>
<p>The <a href="/wiki/Euclidean_algorithm" title="Euclidean algorithm">Euclidean algorithm</a> gives a method for finding the greatest common divisor of any two positive integers.</p>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=13" title="Edit section: Comparing fractions"></a>]</span> <span class="mw-headline" id="Comparing_fractions">Comparing fractions</span></h3>
<p>Comparing fractions with the same denominator only requires comparing the numerators.</p>
<dl>
<dd><img class="tex" alt="\tfrac{3}{4}&gt;\tfrac{2}{4}" src="//upload.wikimedia.org/wikipedia/en/math/6/b/e/6bea8bbaa2fd318f16f65db67d74f864.png" /> because 3&gt;2.</dd>
</dl>
<p>If two positive fractions have the same numerator, then the fraction with the smaller denominator is the larger number. When a whole is divided into equal pieces, if fewer equal pieces are needed to make up the whole, then each piece must be larger. When two positive fractions have the same numerator, they represent the same number of parts, but in the fraction with the smaller denominator, the parts are larger.</p>
<p>One way to compare fractions with different numerators and denominators is to find a common denominator. To compare <img class="tex" alt="\tfrac{a}{b}" src="//upload.wikimedia.org/wikipedia/en/math/e/c/3/ec3e447b2dcda3eb68860a5cb3780bf7.png" /> and <img class="tex" alt="\tfrac{c}{d}" src="//upload.wikimedia.org/wikipedia/en/math/7/5/8/758c339a3765b5692cbfe38037f4937b.png" />, these are converted to <img class="tex" alt="\tfrac{ad}{bd}" src="//upload.wikimedia.org/wikipedia/en/math/4/0/8/4089ebaf78a746acfe546c8e43031937.png" /> and <img class="tex" alt="\tfrac{bc}{bd}" src="//upload.wikimedia.org/wikipedia/en/math/7/3/0/730042bc7a6fde05b08c8540a9f86466.png" />. Then <i>bd</i> is a common denominator and the numerators <i>ad</i> and <i>bc</i> can be compared.</p>
<dl>
<dd><img class="tex" alt="\tfrac{2}{3}" src="//upload.wikimedia.org/wikipedia/en/math/8/b/8/8b883c896019dad7a0b493cf42e21c6b.png" />&#160;? <img class="tex" alt="\tfrac{1}{2}" src="//upload.wikimedia.org/wikipedia/en/math/3/a/9/3a96e71dfcb71605c92ac270bfd4d4cc.png" /> gives <img class="tex" alt="\tfrac{4}{6}&gt;\tfrac{3}{6}" src="//upload.wikimedia.org/wikipedia/en/math/b/c/f/bcf2c70f4e9764356768350a44d8fbfa.png" /></dd>
</dl>
<p>It is not necessary to determine the value of the common denominator to compare fractions. This short cut is known as "cross multiplying"  you can just compare <i>ad</i> and <i>bc</i>, without computing the denominator.</p>
<dl>
<dd><img class="tex" alt="\tfrac{5}{18}" src="//upload.wikimedia.org/wikipedia/en/math/d/5/7/d57016f990004884e4e8b12c5d384eee.png" />&#160;? <img class="tex" alt="\tfrac{4}{17}" src="//upload.wikimedia.org/wikipedia/en/math/2/3/c/23c307088213b2913fad74ae608a2946.png" /></dd>
</dl>
<p>Multiply top and bottom of each fraction by the denominator of the other fraction, to get a common denominator:</p>
<dl>
<dd><img class="tex" alt="\tfrac{5 \times 17}{18 \times 17}" src="//upload.wikimedia.org/wikipedia/en/math/5/7/b/57b5a99747adb91ad264a49fe69b3bf6.png" />&#160;? <img class="tex" alt="\tfrac{4 \times 18}{17 \times 18}" src="//upload.wikimedia.org/wikipedia/en/math/4/f/1/4f178c50690cdf0653b5dba693203023.png" /></dd>
</dl>
<p>The denominators are now the same, but it is not necessary to calculate their value  only the numerators need to be compared. Since 517 (=&#160;85) is greater than 418 (=&#160;72), <img class="tex" alt="\tfrac{5}{18}&gt;\tfrac{4}{17}" src="//upload.wikimedia.org/wikipedia/en/math/3/0/e/30e130078761621fa7deffc0129af881.png" />.</p>
<p>Also note that every negative number, including negative fractions, is less than zero, and every positive number, including positive fractions, is greater than zero, so every negative fraction is less than any positive fraction.</p>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=14" title="Edit section: Addition"></a>]</span> <span class="mw-headline" id="Addition">Addition</span></h3>
<p>The first rule of addition is that only like quantities can be added; for example, various quantities of quarters. Unlike quantities, such as adding thirds to quarters, must first be converted to like quantities as described below: Imagine a pocket containing two quarters, and another pocket containing three quarters; in total, there are five quarters. Since four quarters is equivalent to one (dollar), this can be represented as follows:</p>
<dl>
<dd><img class="tex" alt="\tfrac24+\tfrac34=\tfrac54=1\tfrac14" src="//upload.wikimedia.org/wikipedia/en/math/0/c/7/0c713a057989d9a604abaa4aa94938eb.png" />.</dd>
</dl>
<div class="thumb tright">
<div class="thumbinner" style="width:272px;"><a href="/wiki/File:Cake_fractions.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Cake_fractions.svg/270px-Cake_fractions.svg.png" width="270" height="205" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Cake_fractions.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
If <img class="tex" alt="\tfrac12" src="//upload.wikimedia.org/wikipedia/en/math/5/7/9/5796c45956cd22e2bbd474418b9e4dbc.png" /> of a cake is to be added to <img class="tex" alt="\tfrac14" src="//upload.wikimedia.org/wikipedia/en/math/8/3/3/8330237493c93cda5426e0bab870874f.png" /> of a cake, the pieces need to be converted into comparable quantities, such as cake-eighths or cake-quarters.</div>
</div>
</div>
<h4><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=15" title="Edit section: Adding unlike quantities"></a>]</span> <span class="mw-headline" id="Adding_unlike_quantities">Adding unlike quantities</span></h4>
<p>To add fractions containing unlike quantities (e.g. quarters and thirds), it is necessary to convert all amounts to like quantities. It is easy to work out the chosen type of fraction to convert to; simply multiply together the two denominators (bottom number) of each fraction.</p>
<p>For adding quarters to thirds, both types of fraction are converted to <img class="tex" alt="\tfrac14\times\tfrac13=\tfrac1{12}" src="//upload.wikimedia.org/wikipedia/en/math/f/9/8/f98182f84b8afb8558c758053bcfca68.png" /> (twelfths).</p>
<p>Consider adding the following two quantities:</p>
<dl>
<dd><img class="tex" alt="\tfrac34+\tfrac23" src="//upload.wikimedia.org/wikipedia/en/math/b/1/6/b16ba5b52a5f213f688f9e91ac6a0a75.png" /></dd>
</dl>
<p>First, convert <img class="tex" alt="\tfrac34" src="//upload.wikimedia.org/wikipedia/en/math/c/5/3/c536e7f42751bba85c42c39eea578af9.png" /> into twelfths by multiplying both the numerator and denominator by three: <img class="tex" alt="\tfrac34\times\tfrac33=\tfrac9{12}" src="//upload.wikimedia.org/wikipedia/en/math/e/3/b/e3bb6c0ff064fcce62842f39f80b1516.png" />. Note that <img class="tex" alt="\tfrac33" src="//upload.wikimedia.org/wikipedia/en/math/3/e/7/3e7750838cdaeafad64436128415dd0c.png" /> is equivalent to 1, which shows that <img class="tex" alt="\tfrac34" src="//upload.wikimedia.org/wikipedia/en/math/c/5/3/c536e7f42751bba85c42c39eea578af9.png" /> is equivalent to the resulting <img class="tex" alt="\tfrac9{12}" src="//upload.wikimedia.org/wikipedia/en/math/c/b/c/cbc2c1171686edce2deb7a6b1716b98b.png" />.</p>
<p>Secondly, convert <img class="tex" alt="\tfrac23" src="//upload.wikimedia.org/wikipedia/en/math/a/8/3/a83a12a86f142bd9434e8a054fff02ec.png" /> into twelfths by multiplying both the numerator and denominator by four: <img class="tex" alt="\tfrac23\times\tfrac44=\tfrac8{12}" src="//upload.wikimedia.org/wikipedia/en/math/1/6/c/16c76d1ddd18331a73d1034309b20620.png" />. Note that <img class="tex" alt="\tfrac44" src="//upload.wikimedia.org/wikipedia/en/math/9/6/7/967740c7a1b3fcff821a03885ba7789f.png" /> is equivalent to 1, which shows that <img class="tex" alt="\tfrac23" src="//upload.wikimedia.org/wikipedia/en/math/a/8/3/a83a12a86f142bd9434e8a054fff02ec.png" /> is equivalent to the resulting <img class="tex" alt="\tfrac8{12}" src="//upload.wikimedia.org/wikipedia/en/math/a/6/8/a6850a7b04824edc6f8837289753c585.png" />.</p>
<p>Now it can be seen that:</p>
<dl>
<dd><img class="tex" alt="\tfrac34+\tfrac23" src="//upload.wikimedia.org/wikipedia/en/math/b/1/6/b16ba5b52a5f213f688f9e91ac6a0a75.png" /></dd>
</dl>
<p>is equivalent to:</p>
<dl>
<dd><img class="tex" alt="\tfrac9{12}+\tfrac8{12}=\tfrac{17}{12}=1\tfrac5{12}" src="//upload.wikimedia.org/wikipedia/en/math/4/9/a/49ad0ac3d794cc13b2600b482226af22.png" /></dd>
</dl>
<p>This method can be expressed algebraically:</p>
<dl>
<dd><img class="tex" alt="\tfrac{a}{b} + \tfrac {c}{d} = \tfrac{ad+cb}{bd}" src="//upload.wikimedia.org/wikipedia/en/math/4/1/6/41694b1f219cf5c6c73fb3c230115be8.png" /></dd>
</dl>
<p>And for expressions consisting of the addition of three fractions:</p>
<dl>
<dd><img class="tex" alt="\tfrac{a}{b} + \tfrac {c}{d} + \tfrac{e}{f} = \tfrac{a(df)+c(bf)+e(bd)}{bdf}" src="//upload.wikimedia.org/wikipedia/en/math/a/9/9/a99f97a6983b72e9d62fdd52d268dad1.png" /></dd>
</dl>
<p>This method always works, but sometimes there is a smaller denominator that can be used (a least common denominator). For example, to add <img class="tex" alt="\tfrac{3}{4}" src="//upload.wikimedia.org/wikipedia/en/math/0/a/6/0a68e73c11ad2348d7f564e980ecdbab.png" /> and <img class="tex" alt="\tfrac{5}{12}" src="//upload.wikimedia.org/wikipedia/en/math/f/2/4/f247e6d03f43ac6fd9633683dd19a7a7.png" /> the denominator 48 can be used (the product of 4 and 12), but the smaller denominator 12 may also be used, being the <a href="/wiki/Least_common_multiple" title="Least common multiple">least common multiple</a> of 4 and 12.</p>
<dl>
<dd><img class="tex" alt="\tfrac34+\tfrac{5}{12}=\tfrac{9}{12}+\tfrac{5}{12}=\tfrac{14}{12}=\tfrac76=1\tfrac16" src="//upload.wikimedia.org/wikipedia/en/math/8/d/4/8d4934a9db1bc526133118a410ac3dec.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=16" title="Edit section: Subtraction"></a>]</span> <span class="mw-headline" id="Subtraction">Subtraction</span></h3>
<p>The process for subtracting fractions is, in essence, the same as that of adding them: find a common denominator, and change each fraction to an equivalent fraction with the chosen common denominator. The resulting fraction will have that denominator, and its numerator will be the result of subtracting the numerators of the original fractions. For instance,</p>
<dl>
<dd><img class="tex" alt="\tfrac23-\tfrac12=\tfrac46-\tfrac36=\tfrac16" src="//upload.wikimedia.org/wikipedia/en/math/9/d/c/9dc5b27f84e431467ff764ae1eddf0ef.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=17" title="Edit section: Multiplication"></a>]</span> <span class="mw-headline" id="Multiplication">Multiplication</span></h3>
<h4><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=18" title="Edit section: Multiplying a fraction by another fraction"></a>]</span> <span class="mw-headline" id="Multiplying_a_fraction_by_another_fraction">Multiplying a fraction by another fraction</span></h4>
<p>To multiply fractions, multiply the numerators and multiply the denominators. Thus:</p>
<dl>
<dd><img class="tex" alt="\tfrac{2}{3} \times \tfrac{3}{4} = \tfrac{6}{12}" src="//upload.wikimedia.org/wikipedia/en/math/c/8/4/c84eda58c41b5f34ad5495ad51d37600.png" /></dd>
</dl>
<p>Why does this work? First, consider one third of one quarter. Using the example of a cake, if three small slices of equal size make up a quarter, and four quarters make up a whole, twelve of these small, equal slices make up a whole. Therefore a third of a quarter is a twelfth. Now consider the numerators. The first fraction, two thirds, is twice as large as one third. Since one third of a quarter is one twelfth, two thirds of a quarter is two twelfth. The second fraction, three quarters, is three times as large as one quarter, so two thirds of three quarters is three times as large as two thirds of one quarter. Thus two thirds times three quarters is six twelfths.</p>
<p>A short cut for multiplying fractions is called "cancellation". In effect, we reduce the answer to lowest terms during multiplication. For example:</p>
<dl>
<dd><img class="tex" alt="\tfrac{2}{3} \times \tfrac{3}{4} = \tfrac{\cancel{2} ^{~1}}{\cancel{3} ^{~1}} \times \tfrac{\cancel{3} ^{~1}}{\cancel{4} ^{~2}} = \tfrac{1}{1} \times \tfrac{1}{2} = \tfrac{1}{2}" src="//upload.wikimedia.org/wikipedia/en/math/e/a/b/eab945f6186a8c1e00a980be870f0e22.png" /></dd>
</dl>
<p>A two is a common <a href="/wiki/Divisor" title="Divisor">factor</a> in both the numerator of the left fraction and the denominator of the right and is divided out of both. Three is a common factor of the left denominator and right numerator and is divided out of both.</p>
<h4><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=19" title="Edit section: Multiplying a fraction by a whole number"></a>]</span> <span class="mw-headline" id="Multiplying_a_fraction_by_a_whole_number">Multiplying a fraction by a whole number</span></h4>
<p>Place the whole number over one and multiply.</p>
<dl>
<dd><img class="tex" alt="6 \times \tfrac{3}{4} = \tfrac{6}{1} \times \tfrac{3}{4} = \tfrac{18}{4}" src="//upload.wikimedia.org/wikipedia/en/math/0/8/6/0863ba65f02781e9295aaee4fdffa34d.png" /></dd>
</dl>
<p>This method works because the fraction 6/1 means six equal parts, each one of which is a whole.</p>
<h4><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=20" title="Edit section: Mixed numbers"></a>]</span> <span class="mw-headline" id="Mixed_numbers_2">Mixed numbers</span></h4>
<p>When multiplying mixed numbers, it's best to convert the mixed number into an improper fraction. For example:</p>
<dl>
<dd><img class="tex" alt="3 \times 2\tfrac{3}{4} = 3 \times \left (\tfrac{8}{4} + \tfrac{3}{4} \right ) = 3 \times \tfrac{11}{4} = \tfrac{33}{4} = 8\tfrac{1}{4}" src="//upload.wikimedia.org/wikipedia/en/math/c/6/f/c6fe2934e5362b58b6ba40dbeef028d5.png" /></dd>
</dl>
<p>In other words, <img class="tex" alt="2\tfrac{3}{4}" src="//upload.wikimedia.org/wikipedia/en/math/b/a/b/bab57bc8a509af6503fcd5353a3d8c47.png" /> is the same as <img class="tex" alt="\tfrac{8}{4} + \tfrac{3}{4}" src="//upload.wikimedia.org/wikipedia/en/math/6/3/9/63929fc00b1536eb352ecf9e04f9bd47.png" />, making 11 quarters in total (because 2 cakes, each split into quarters makes 8 quarters total) and 33 quarters is <img class="tex" alt="8\tfrac{1}{4}" src="//upload.wikimedia.org/wikipedia/en/math/b/3/e/b3e74156f27595b87585af470576ba16.png" />, since 8 cakes, each made of quarters, is 32 quarters in total.</p>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=21" title="Edit section: Division"></a>]</span> <span class="mw-headline" id="Division">Division</span></h3>
<p>To divide a fraction by a whole number, you may either divide the numerator by the number, if it goes evenly into the numerator, or multiply the denominator by the number. For example, <img class="tex" alt="\tfrac{10}{3} \div 5" src="//upload.wikimedia.org/wikipedia/en/math/9/b/4/9b4da7df09d7b63af98cde5d02d2fb99.png" /> equals <img class="tex" alt="\tfrac{2}{3}" src="//upload.wikimedia.org/wikipedia/en/math/8/b/8/8b883c896019dad7a0b493cf42e21c6b.png" /> and also equals <img class="tex" alt="\tfrac{10}{3 \cdot 5} = \tfrac{10}{15}" src="//upload.wikimedia.org/wikipedia/en/math/8/f/e/8febb14b6afef40afac58660591997d4.png" />, which reduces to <img class="tex" alt="\tfrac{2}{3}" src="//upload.wikimedia.org/wikipedia/en/math/8/b/8/8b883c896019dad7a0b493cf42e21c6b.png" />. To divide a number by a fraction, multiply that number by the reciprocal of that fraction. Thus, <img class="tex" alt="\tfrac{1}{2} \div \tfrac{3}{4} = \tfrac{1}{2} \times \tfrac{4}{3} = \tfrac{1 \cdot 4}{2 \cdot 3} = \tfrac{2}{3}" src="//upload.wikimedia.org/wikipedia/en/math/9/c/f/9cf5f7a5ce75f42cda264a297747adf5.png" />.</p>
<h3><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=22" title="Edit section: Converting between decimals and fractions"></a>]</span> <span class="mw-headline" id="Converting_between_decimals_and_fractions">Converting between decimals and fractions</span></h3>
<p>To change a common fraction to a decimal, divide the denominator into the numerator. Round the answer to the desired accuracy. For example, to change 1/4 to a decimal, divide 4 into 1.00, to obtain 0.25. To change 1/3 to a decimal, divide 3 into 1.0000..., and stop when the desired accuracy is obtained. Note that 1/4 can be written exactly with two decimal digits, while 1/3 cannot be written exactly with any finite number of decimal digits.</p>
<p>To change a decimal to a fraction, write in the denominator a 1 followed by as many zeroes as there are digits to the right of the decimal point, and write in the numerator all the digits in the original decimal, omitting the decimal point. Thus 12.3456 = 123456/10000.</p>
<h4><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=23" title="Edit section: Converting repeating decimals to fractions"></a>]</span> <span class="mw-headline" id="Converting_repeating_decimals_to_fractions">Converting repeating decimals to fractions</span></h4>
<div class="rellink boilerplate seealso">See also: <a href="/wiki/Repeating_decimal" title="Repeating decimal">Repeating decimal</a></div>
<p>Decimal numbers, while arguably more useful to work with when performing calculations, sometimes lack the precision that common fractions have. Sometimes an infinite number of <a href="/wiki/Repeating_decimal" title="Repeating decimal">repeating decimals</a> is required to convey the same kind of precision. Thus, it is often useful to convert repeating decimals into fractions.</p>
<p>The preferred way to indicate a repeating decimal is to place a bar over the digits that repeat, for example 0.<span style="text-decoration:overline;">789</span> = 0.789789789 For repeating patterns where the repeating pattern begins immediately after the decimal point, a simple division of the pattern by the same number of nines as numbers it has will suffice. For example:</p>
<dl>
<dd>0.<span style="text-decoration:overline;">5</span> = 5/9</dd>
<dd>0.<span style="text-decoration:overline;">62</span> = 62/99</dd>
<dd>0.<span style="text-decoration:overline;">264</span> = 264/999</dd>
<dd>0.<span style="text-decoration:overline;">6291</span> = 6291/9999</dd>
</dl>
<p>In case <a href="/wiki/Leading_zero" title="Leading zero">leading zeros</a> precede the pattern, the nines are suffixed by the same number of <a href="/wiki/Trailing_zero" title="Trailing zero">trailing zeros</a>:</p>
<dl>
<dd>0.0<span style="text-decoration:overline;">5</span> = 5/90</dd>
<dd>0.000<span style="text-decoration:overline;">392</span> = 392/999000</dd>
<dd>0.00<span style="text-decoration:overline;">12</span> = 12/9900</dd>
</dl>
<p>In case a non-repeating set of decimals precede the pattern (such as 0.1523<span style="text-decoration:overline;">987</span>), we can write it as the sum of the non-repeating and repeating parts, respectively:</p>
<dl>
<dd>0.1523 + 0.0000<span style="text-decoration:overline;">987</span></dd>
</dl>
<p>Then, convert the repeating part to a fraction:</p>
<dl>
<dd>0.1523 + 987/9990000</dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=24" title="Edit section: Fractions in abstract mathematics"></a>]</span> <span class="mw-headline" id="Fractions_in_abstract_mathematics">Fractions in abstract mathematics</span></h2>
<p>In addition to being of great practical importance, fractions are also studied by mathematicians, who check that the rules for fractions given above are <a href="/wiki/Well_defined" title="Well defined" class="mw-redirect">consistent and reliable</a>. Mathematicians define a fraction as an ordered pair (<i>a</i>, <i>b</i>) of <a href="/wiki/Integer" title="Integer">integers</a> <i>a</i> and <i>b</i>  0, for which the operations <a href="/wiki/Addition" title="Addition">addition</a>, <a href="/wiki/Subtraction" title="Subtraction">subtraction</a>, <a href="/wiki/Multiplication" title="Multiplication">multiplication</a>, and <a href="/wiki/Division_(mathematics)" title="Division (mathematics)">division</a> are defined as follows:<sup id="cite_ref-8" class="reference"><a href="#cite_note-8"><span>[</span>9<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="(a,b) + (c,d) = (ad+bc,bd) \," src="//upload.wikimedia.org/wikipedia/en/math/d/e/e/dee8c981a036dadfce55cce8224341e5.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="(a,b) - (c,d) = (ad-bc,bd) \," src="//upload.wikimedia.org/wikipedia/en/math/b/4/c/b4c892a7b37ae707d23199d50e4cb644.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="(a,b) \cdot (c,d) = (ac,bd)" src="//upload.wikimedia.org/wikipedia/en/math/9/1/1/91135b2bbfb174d47824d83ba9ec1689.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="(a,b) \div (c,d) = (ad,bc)" src="//upload.wikimedia.org/wikipedia/en/math/f/c/3/fc380df9b32844b8c4a231a551b333ad.png" /> &#160; &#160; (when c  0)</dd>
</dl>
<p>In addition, an <a href="/wiki/Equivalence_relation" title="Equivalence relation">equivalence relation</a> is specified as follows: <img class="tex" alt="(a, b)" src="//upload.wikimedia.org/wikipedia/en/math/2/d/0/2d05e1f15387f87456155cd96cc06235.png" /> ~ <img class="tex" alt="(c, d)" src="//upload.wikimedia.org/wikipedia/en/math/3/0/8/308904906e48218b196da63abbcf3526.png" /> if and only if <img class="tex" alt="ad=bc" src="//upload.wikimedia.org/wikipedia/en/math/4/d/b/4dbbc0e0c2e342adba0fa1f9e26a7199.png" />.</p>
<p>These definitions agree in every case with the definitions given above; only the notation is different.</p>
<p>More generally, <i>a</i> and <i>b</i> may be elements of any <a href="/wiki/Integral_domain" title="Integral domain">integral domain</a> <i>R</i>, in which case a fraction is an element of the <a href="/wiki/Field_of_fractions" title="Field of fractions">field of fractions</a> of <i>R</i>. For example, when <i>a</i> and <i>b</i> are <a href="/wiki/Polynomial" title="Polynomial">polynomials</a> in one indeterminate, the field of fractions is the field of <a href="/wiki/Rational_fraction" title="Rational fraction" class="mw-redirect">rational fractions</a> (also known as the field of <a href="/wiki/Rational_function" title="Rational function">rational functions</a>). When <i>a</i> and <i>b</i> are integers, the field of fractions is the field of <a href="/wiki/Rational_number" title="Rational number">rational numbers</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=25" title="Edit section: Algebraic fractions"></a>]</span> <span class="mw-headline" id="Algebraic_fractions">Algebraic fractions</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Algebraic_fraction" title="Algebraic fraction">Algebraic fraction</a></div>
<p>An algebraic fraction is the indicated <a href="/wiki/Quotient" title="Quotient">quotient</a> of two <a href="/wiki/Algebraic_expression" title="Algebraic expression">algebraic expressions</a>. Two examples of algebraic fractions are <img class="tex" alt="\frac{3x}{x^2+2x-3}" src="//upload.wikimedia.org/wikipedia/en/math/2/f/5/2f513cb06371e0c671ae03799515bf79.png" /> and <img class="tex" alt="\frac{\sqrt{x+2}}{x^2-3}" src="//upload.wikimedia.org/wikipedia/en/math/c/2/5/c257e35bd62b5e006b936ed9a74c3039.png" />. Algebraic fractions are subject to the same laws as arithmetic fractions.</p>
<p>If the numerator and the denominator are <a href="/wiki/Polynomial" title="Polynomial">polynomials</a>, as in <img class="tex" alt="\frac{3x}{x^2+2x-3}" src="//upload.wikimedia.org/wikipedia/en/math/2/f/5/2f513cb06371e0c671ae03799515bf79.png" />, the algebraic fraction is called a <b>rational fraction</b> (or <b>rational expression</b>). An <b>irrational fraction</b> is one that contains the variable under a fractional exponent, as in <img class="tex" alt="\frac{\sqrt{x+2}}{x^2-3}" src="//upload.wikimedia.org/wikipedia/en/math/c/2/5/c257e35bd62b5e006b936ed9a74c3039.png" />.</p>
<p>The terminology used to describe algebraic fractions is similar to that used for ordinary fractions. For example, an algebraic fraction is in lowest terms if the only factor common to the numerator and the denominator is 1. An algebraic fraction whose numerator or denominator, or both, contains a fraction, such as <img class="tex" alt="\frac{1 + \tfrac{1}{x}}{1 - \tfrac{1}{x}}" src="//upload.wikimedia.org/wikipedia/en/math/1/5/b/15b52f4fe939448cbc71aef46d6e58d7.png" />, is called a <b>complex fraction</b>.</p>
<p>Rational numbers are the <a href="/wiki/Quotient_field" title="Quotient field" class="mw-redirect">quotient field</a> of integers. Rational expressions are the quotient field of the <a href="/wiki/Polynomial" title="Polynomial">polynomials</a> (over some <a href="/wiki/Integral_domain" title="Integral domain">integral domain</a>). Since a <a href="/wiki/Coefficient" title="Coefficient">coefficient</a> is a polynomial of degree zero, a <a href="/wiki/Radical_expression" title="Radical expression" class="mw-redirect">radical expression</a> such as 2/2 is a rational fraction. Another example (over the reals) is <img class="tex" alt="\textstyle{\tfrac{\pi}{2}}" src="//upload.wikimedia.org/wikipedia/en/math/5/3/2/53267f86e33da7ec6a4ccba9fe90a93b.png" />, the radian measure of a right angle.</p>
<p>The term <a href="/wiki/Partial_fraction" title="Partial fraction">partial fraction</a> is used when decomposing rational expressions. The goal is to write the rational expression as the sum of other rational expressions with denominators of lesser degree. For example, the rational expression <img class="tex" alt="\textstyle{2x \over x^2-1}" src="//upload.wikimedia.org/wikipedia/en/math/b/0/1/b0147d05baa77f00589f7c7e5a8a1e96.png" /> can be rewritten as the sum of two fractions: <img class="tex" alt="\textstyle{1 \over x+1}" src="//upload.wikimedia.org/wikipedia/en/math/3/b/9/3b99da4a862c0e923debab0d4014104b.png" /> and <img class="tex" alt="\textstyle{1 \over x-1}" src="//upload.wikimedia.org/wikipedia/en/math/7/5/2/7526fa76e46c34ffb10bf6283cfd5e16.png" />. This is useful in many areas such as integral calculus and differential equations.</p>
<h2><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=26" title="Edit section: Radical expressions"></a>]</span> <span class="mw-headline" id="Radical_expressions">Radical expressions</span></h2>
<div class="rellink relarticle mainarticle">Main articles: <a href="/wiki/Nth_root" title="Nth root">Nth root</a> and <a href="/wiki/Rationalization_(mathematics)" title="Rationalization (mathematics)" class="mw-redirect">Rationalization (mathematics)</a></div>
<p>A fraction may also contain <a href="/wiki/Nth_root" title="Nth root">radicals</a> in the numerator and/or the denominator. If the denominator contains radicals, it can be helpful to <a href="/wiki/Rationalisation_(mathematics)" title="Rationalisation (mathematics)">rationalize</a> it (compare <a href="/wiki/Nth_root#Simplified_form_of_a_radical_expression" title="Nth root">Simplified form of a radical expression</a>), especially if further operations, such as adding or comparing that fraction to another, are to be carried out. It is also more convenient if division is to be done manually. When the denominator is a <a href="/wiki/Monomial" title="Monomial">monomial</a> square root, it can be rationalized by multiplying both the top and the bottom of the fraction by the denominator:</p>
<dl>
<dd><img class="tex" alt="\frac{3}{\sqrt{7}} = \frac{3}{\sqrt{7}} \cdot \frac{\sqrt{7}}{\sqrt{7}} = \frac{3\sqrt{7}}{7}" src="//upload.wikimedia.org/wikipedia/en/math/e/f/a/efa510a66ee11f05dfd52e775fd0bb9e.png" /></dd>
</dl>
<p>The process of rationalization of <a href="/wiki/Binomial" title="Binomial">binomial</a> denominators involves multiplying the top and the bottom of a fraction by the <a href="/wiki/Conjugate_(algebra)" title="Conjugate (algebra)">conjugate</a> of the denominator so that the denominator becomes a rational number. For example:</p>
<dl>
<dd><img class="tex" alt="\frac{3}{3-2\sqrt{5}} = \frac{3}{3-2\sqrt{5}} \cdot \frac{3+2\sqrt{5}}{3+2\sqrt{5}} = \frac{3(3+2\sqrt{5})}{{3}^2 - (2\sqrt{5})^2} = \frac{ 3 (3 + 2\sqrt{5} ) }{ 9 - 20 } = - \frac{ 9+6 \sqrt{5}  }{11}" src="//upload.wikimedia.org/wikipedia/en/math/f/b/a/fba3833066955c0272daab0ca94571ca.png" /></dd>
</dl>
<p><br /></p>
<dl>
<dd><img class="tex" alt="\frac{3}{3+2\sqrt{5}} = \frac{3}{3+2\sqrt{5}} \cdot \frac{3-2\sqrt{5}}{3-2\sqrt{5}} = \frac{3(3-2\sqrt{5})}{{3}^2 - (2\sqrt{5})^2} = \frac{ 3 (3 - 2\sqrt{5} ) }{ 9 - 20 } = - \frac{ 9-6 \sqrt{5}  }{11}" src="//upload.wikimedia.org/wikipedia/en/math/4/a/5/4a58d22f1df4d9b1ff1bfea95cd1b477.png" /></dd>
</dl>
<p>Even if this process results in the numerator being irrational, like in the examples above, the process may still facilitate subsequent manipulations by reducing the number of irrationals one has to work with in the denominator.</p>
<h2><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=27" title="Edit section: Pronunciation and spelling"></a>]</span> <span class="mw-headline" id="Pronunciation_and_spelling">Pronunciation and spelling</span></h2>
<table class="metadata plainlinks ambox ambox-content ambox-Original_research" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/f/f4/Ambox_content.png" width="40" height="40" /></div>
</td>
<td class="mbox-text" style="">This section <b>may contain <a href="/wiki/Wikipedia:No_original_research" title="Wikipedia:No original research">original research</a></b>. Please <a class="external text" href="//en.wikipedia.org/w/index.php?title=Fraction_(mathematics)&amp;action=">improve it</a> by <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verifying</a> the claims made and adding <a href="/wiki/Wikipedia:References" title="Wikipedia:References" class="mw-redirect">references</a>. Statements consisting only of original research may be removed. More details may be available on the <a href="/wiki/Talk:Fraction_(mathematics)" title="Talk:Fraction (mathematics)">talk page</a>. <small><i>(March 2012)</i></small></td>
</tr>
</table>
<div class="rellink">Further information: <a href="/wiki/Ordinal_number_(linguistics)" title="Ordinal number (linguistics)">Ordinal number (linguistics)</a></div>
<p>When reading fractions, it is customary in English to pronounce the denominator using ordinal nomenclature, as in "fifths" for fractions with a 5 in the denominator. Thus, for 3/5, we would say "three-fifths" and for 5/32, we would say "five thirty-seconds". This generally applies to whole number denominators greater than 2, though large denominators that are not powers of ten are often read using the <a href="/wiki/Cardinal_number" title="Cardinal number">cardinal number</a>. Therefore, 1/123 might be read "one one hundred twenty-third" but is often read "one over one hundred twenty-three". In contrast, because one million is a power of ten, 1/1,000,000 is commonly read "one-millionth" or "one one-millionth".</p>
<p>The denominators 1, 2, and 4 are special cases. The fraction 3/1 may be read "three wholes". The fraction 3/2 is usually read "three-halves", but never "three seconds". The fraction 3/4 may be read either "three fourths" or "three-quarters". Furthermore, since most fractions are used grammatically as adjectives of a noun, the fractional modifier is hyphenated. This is evident in standard prose in which one might write about "every two-tenths of a mile", "the quarter-mile run", or the <a href="/wiki/Three-Fifths_Compromise" title="Three-Fifths Compromise">Three-Fifths Compromise</a>. When the fraction's numerator is one, then the word "one" may be omitted, such as "every tenth of a second" or "during the final quarter of the year".</p>
<table class="wikitable">
<tr>
<th>Denominator</th>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
</tr>
<tr>
<th>in words</th>
<td>half<br />
(or halves)</td>
<td>third(s)</td>
<td>fourth(s) or<br />
quarter(s)</td>
<td>fifth(s)</td>
<td>sixth(s)</td>
<td>seventh(s)</td>
<td>eighth(s)</td>
<td>ninth(s)</td>
</tr>
<tr>
<td></td>
</tr>
<tr>
<th>Denominator</th>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
<td>22</td>
</tr>
<tr>
<th>in words</th>
<td>tenth(s)</td>
<td>eleventh(s)</td>
<td>twelfth(s)</td>
<td>thirteenth(s)</td>
<td>fourteenth(s)</td>
<td>fifteenth(s)</td>
<td>sixteenth(s)</td>
<td>twenty-second(s)</td>
</tr>
<tr>
<td></td>
</tr>
<tr>
<th>Denominator</th>
<td>100</td>
<td>1,000</td>
<td>1,000,000</td>
</tr>
<tr>
<th>in words</th>
<td>hundredth(s)</td>
<td>thousandth(s)</td>
<td>millionth(s)</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=28" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<div class="rellink boilerplate seealso">See also: <a href="/wiki/Irrational_number#History" title="Irrational number">History of irrational numbers</a></div>
<p>The earliest fractions were <a href="/wiki/Multiplicative_inverse" title="Multiplicative inverse">reciprocals</a> of <a href="/wiki/Integer" title="Integer">integers</a>: ancient symbols representing one part of two, one part of three, one part of four, and so on.<sup id="cite_ref-eves_9-0" class="reference"><a href="#cite_note-eves-9"><span>[</span>10<span>]</span></a></sup> The <a href="/wiki/History_of_Egypt" title="History of Egypt">Egyptians</a> used <a href="/wiki/Egyptian_fraction" title="Egyptian fraction">Egyptian fractions</a> ca. 1000 BC. About 4,000 years ago Egyptians divided with fractions using slightly different methods. They used least common multiples with <a href="/wiki/Unit_fraction" title="Unit fraction">unit fractions</a>. Their methods gave the same answer as modern methods.<sup id="cite_ref-10" class="reference"><a href="#cite_note-10"><span>[</span>11<span>]</span></a></sup> The Egyptians also had a different notation for <a href="/wiki/Dyadic_fraction" title="Dyadic fraction" class="mw-redirect">dyadic fractions</a> in the <a href="/wiki/Akhmim_Wooden_Tablet" title="Akhmim Wooden Tablet" class="mw-redirect">Akhmim Wooden Tablet</a> and several <a href="/wiki/Rhind_Mathematical_Papyrus" title="Rhind Mathematical Papyrus">Rhind Mathematical Papyrus</a> problems.</p>
<p>The <a href="/wiki/Ancient_Greece" title="Ancient Greece">Greeks</a> used unit fractions and later continued fractions and followers of the Greek philosopher <a href="/wiki/Pythagoras" title="Pythagoras">Pythagoras</a>, ca. 530 BC, discovered that the <a href="/wiki/Square_root_of_two" title="Square root of two" class="mw-redirect">square root of two</a> cannot be expressed as a fraction. In 150 BC <a href="/wiki/Jain" title="Jain" class="mw-redirect">Jain</a> mathematicians in <a href="/wiki/History_of_India" title="History of India">India</a> wrote the "<a href="/wiki/Sthananga_Sutra" title="Sthananga Sutra">Sthananga Sutra</a>", which contains work on the theory of numbers, arithmetical operations, operations with <a href="/wiki/Fractions" title="Fractions" class="mw-redirect">fractions</a>.</p>
<p>The method of putting one number below the other and computing fractions first appeared in <a href="/wiki/Aryabhatta" title="Aryabhatta" class="mw-redirect">Aryabhatta</a>'s work around 499 CE.<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from January 2012">citation needed</span></a></i>]</sup> In <a href="/wiki/Sanskrit_literature" title="Sanskrit literature">Sanskrit literature</a>, <a href="/wiki/Fractions" title="Fractions" class="mw-redirect">fractions</a>, or <a href="/wiki/Rational_numbers" title="Rational numbers" class="mw-redirect">rational numbers</a> were always expressed by an integer followed by a fraction. When the integer is written on a line, the fraction is placed below it and is itself written on two lines, the <a href="/wiki/Numerator" title="Numerator" class="mw-redirect">numerator</a> called <i>amsa</i> part on the first line, the denominator called <i>cheda</i> divisor on the second below. If the fraction is written without any particular additional sign, one understands that it is added to the integer above it. If it is marked by a small circle or a cross (the shape of the plus sign in the West) placed on its right, one understands that it is subtracted from the integer. For example, <a href="/wiki/Bhaskara_I" title="Bhaskara I" class="mw-redirect">Bhaskara I</a> writes<sup id="cite_ref-filliozat-p152_11-0" class="reference"><a href="#cite_note-filliozat-p152-11"><span>[</span>12<span>]</span></a></sup></p>
<pre>
      
      <sub></sub>
      
</pre>
<p>That is,</p>
<pre>
6   1   2
1   1   1<sub></sub>
4   5   9
</pre>
<p>to denote 6+1/4, 1+1/5, and 21/9</p>
<p><a href="/wiki/Al-Hass%C4%81r" title="Al-Hassr" class="mw-redirect">Al-Hassr</a>, a <a href="/wiki/Mathematics_in_medieval_Islam" title="Mathematics in medieval Islam">Muslim mathematician</a> from <a href="/wiki/Fez" title="Fez">Fez</a>, <a href="/wiki/Morocco" title="Morocco">Morocco</a> specializing in <a href="/wiki/Islamic_inheritance_jurisprudence" title="Islamic inheritance jurisprudence">Islamic inheritance jurisprudence</a> during the 12th century, first mentions the use of a fractional bar, where <a href="/wiki/Numerator" title="Numerator" class="mw-redirect">numerators</a> and denominators are separated by a horizontal bar. In his discussion he writes, "..., for example, if you are told to write three-fifths and a third of a fifth, write thus, <img class="tex" alt="\frac{3 \quad 1}{5 \quad 3}" src="//upload.wikimedia.org/wikipedia/en/math/3/8/9/389d64866c087697c1dea385c5fa2b9d.png" />." <sup id="cite_ref-12" class="reference"><a href="#cite_note-12"><span>[</span>13<span>]</span></a></sup> This same fractional notation appears soon after in the work of <a href="/wiki/Leonardo_Fibonacci" title="Leonardo Fibonacci" class="mw-redirect">Leonardo Fibonacci</a> in the 13th century.<sup id="cite_ref-13" class="reference"><a href="#cite_note-13"><span>[</span>14<span>]</span></a></sup></p>
<p>In discussing the origins of <a href="/wiki/Decimal_fractions" title="Decimal fractions" class="mw-redirect">decimal fractions</a>, <a href="/wiki/Dirk_Jan_Struik" title="Dirk Jan Struik">Dirk Jan Struik</a> states that (p.&#160;7):<sup id="cite_ref-14" class="reference"><a href="#cite_note-14"><span>[</span>15<span>]</span></a></sup></p>
<blockquote>
<p>"The introduction of decimal fractions as a common computational practice can be dated back to the <a href="/wiki/Flemish_Region" title="Flemish Region">Flemish</a> pamphlet <i>De Thiende</i>, published at <a href="/wiki/Leiden" title="Leiden">Leyden</a> in 1585, together with a French translation, <i>La Disme</i>, by the Flemish mathematician <a href="/wiki/Simon_Stevin" title="Simon Stevin">Simon Stevin</a> (1548-1620), then settled in the Northern <a href="/wiki/Netherlands" title="Netherlands">Netherlands</a>. It is true that decimal fractions were used by the <a href="/wiki/Chinese_mathematics" title="Chinese mathematics">Chinese</a> many centuries before Stevin and that the Persian astronomer <a href="/wiki/Al-K%C4%81sh%C4%AB" title="Al-Ksh" class="mw-redirect">Al-Ksh</a> used both decimal and <a href="/wiki/Sexagesimal" title="Sexagesimal">sexagesimal</a> fractions with great ease in his <i>Key to arithmetic</i> (Samarkand, early fifteenth century).<sup id="cite_ref-15" class="reference"><a href="#cite_note-15"><span>[</span>16<span>]</span></a></sup>"</p>
</blockquote>
<p>While the <a href="/wiki/Persian_people" title="Persian people">Persian</a> mathematician <a href="/wiki/Jamsh%C4%ABd_al-K%C4%81sh%C4%AB" title="Jamshd al-Ksh">Jamshd al-Ksh</a> claimed to have discovered decimal fractions himself in the 15th century, J. Lennart Berggren notes that he was mistaken, as decimal fractions were first used five centuries before him by the <a href="/wiki/Baghdad" title="Baghdad">Baghdadi</a> mathematician <a href="/wiki/Abu%27l-Hasan_al-Uqlidisi" title="Abu'l-Hasan al-Uqlidisi">Abu'l-Hasan al-Uqlidisi</a> as early as the 10th century.<sup id="cite_ref-16" class="reference"><a href="#cite_note-16"><span>[</span>17<span>]</span></a></sup> <sup id="cite_ref-17" class="reference"><a href="#cite_note-17"><span>[</span>18<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=29" title="Edit section: Pedagogical tools"></a>]</span> <span class="mw-headline" id="Pedagogical_tools">Pedagogical tools</span></h2>
<p>In <a href="/wiki/Primary_school" title="Primary school">primary schools</a>, fractions have been demonstrated through <a href="/wiki/Cuisenaire_rods" title="Cuisenaire rods">Cuisenaire rods</a>, <a href="/wiki/Fraction_bar" title="Fraction bar" class="mw-redirect">fraction bars</a>, fraction strips, fraction circles, paper (for folding or cutting), <a href="/wiki/Pattern_block" title="Pattern block">pattern blocks</a>, pie-shaped pieces, plastic rectangles, grid paper, <a href="/w/index.php?title=Dot_paper&amp;action=&amp;redlink=1" class="new" title="Dot paper (page does not exist)">dot paper</a>, <a href="/wiki/Geoboard" title="Geoboard">geoboards</a>, counters and computer software.</p>
<h2><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=30" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<p><a href="/wiki/Continued_fraction" title="Continued fraction">Continued fraction</a></p>
<h2><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=31" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation mathworld" id="Reference-Mathworld-Common_Fraction"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/CommonFraction.html">Common Fraction</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></span></li>
<li id="cite_note-galen-1"><b><a href="#cite_ref-galen_1-0">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFGalen2004">Galen, Leslie Blackwell (March 2004), <a rel="nofollow" class="external text" href="http://www.integretechpub.com/research/papers/monthly238-242.pdf">"Putting Fractions in Their Place"</a>, <i><a href="/wiki/American_Mathematical_Monthly" title="American Mathematical Monthly">American Mathematical Monthly</a></i> <b>111</b> (3)<span class="printonly">, <a rel="nofollow" class="external free" href="http://www.integretechpub.com/research/papers/monthly238-242.pdf">http://www.integretechpub.com/research/papers/monthly238-242.pdf</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Putting+Fractions+in+Their+Place&amp;rft.jtitle=%5B%5BAmerican+Mathematical+Monthly%5D%5D&amp;rft.aulast=Galen&amp;rft.aufirst=Leslie+Blackwell&amp;rft.au=Galen%2C%26%2332%3BLeslie+Blackwell&amp;rft.date=March+2004&amp;rft.volume=111&amp;rft.issue=3&amp;rft_id=http%3A%2F%2Fwww.integretechpub.com%2Fresearch%2Fpapers%2Fmonthly238-242.pdf&amp;rfr_id=info:sid/en.wikipedia.org:Fraction_(mathematics)"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.worldwidewords.org/qa/qa-vul1.htm">World Wide Words: Vulgar fractions</a></span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><span class="citation mathworld" id="Reference-Mathworld-Improper_Fraction"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/ImproperFraction.html">Improper Fraction</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://mathforum.org/library/drmath/view/65128.html">Math Forum - Ask Dr. Math:Can Negative Fractions Also Be Proper or Improper?</a></span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.necompact.org/ea/gle_support/Math/resources_number/prop_fraction.htm">New England Compact Math Resources</a></span></li>
<li id="cite_note-Trotter-6">^ <a href="#cite_ref-Trotter_6-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Trotter_6-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><span class="citation book">Trotter, James (1853). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=a0sDAAAAQAAJ&amp;pg=PA65&amp;dq=%2B%22complex+fraction%22+%2B%22compound+fraction%22&amp;hl=sv&amp;ei=kN-6TuKZIITc0QHStb3eCQ&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=4&amp;ved=0CD4Q6AEwAw#v=onepage&amp;q=%22complex%20fraction%22&amp;f=false"><i>A complete system of arithmetic</i></a>. p.&#160;65<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=a0sDAAAAQAAJ&amp;pg=PA65&amp;dq=%2B%22complex+fraction%22+%2B%22compound+fraction%22&amp;hl=sv&amp;ei=kN-6TuKZIITc0QHStb3eCQ&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=4&amp;ved=0CD4Q6AEwAw#v=onepage&amp;q=%22complex%20fraction%22&amp;f=false">http://books.google.com/books?id=a0sDAAAAQAAJ&amp;pg=PA65&amp;dq=%2B%22complex+fraction%22+%2B%22compound+fraction%22&amp;hl=sv&amp;ei=kN-6TuKZIITc0QHStb3eCQ&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=4&amp;ved=0CD4Q6AEwAw#v=onepage&amp;q=%22complex%20fraction%22&amp;f=false</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=A+complete+system+of+arithmetic&amp;rft.aulast=Trotter&amp;rft.aufirst=James&amp;rft.au=Trotter%2C%26%2332%3BJames&amp;rft.date=1853&amp;rft.pages=p.%26nbsp%3B65&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3Da0sDAAAAQAAJ%26pg%3DPA65%26dq%3D%252B%2522complex%2Bfraction%2522%2B%252B%2522compound%2Bfraction%2522%26hl%3Dsv%26ei%3DkN-6TuKZIITc0QHStb3eCQ%26sa%3DX%26oi%3Dbook_result%26ct%3Dresult%26resnum%3D4%26ved%3D0CD4Q6AEwAw%23v%3Donepage%26q%3D%2522complex%2520fraction%2522%26f%3Dfalse&amp;rfr_id=info:sid/en.wikipedia.org:Fraction_(mathematics)"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-Barlow-7">^ <a href="#cite_ref-Barlow_7-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Barlow_7-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><span class="citation book">Barlow, Peter (1814). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=BBowAAAAYAAJ&amp;pg=PT329&amp;dq=%2B%22complex+fraction%22+%2B%22compound+fraction%22&amp;hl=sv&amp;ei=kN-6TuKZIITc0QHStb3eCQ&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=10&amp;ved=0CFwQ6AEwCQ#v=onepage&amp;q=%2B%22complex%20fraction%22%20%2B%22compound%20fraction%22&amp;f=false"><i>A new mathematical and philosophical dictionary</i></a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=BBowAAAAYAAJ&amp;pg=PT329&amp;dq=%2B%22complex+fraction%22+%2B%22compound+fraction%22&amp;hl=sv&amp;ei=kN-6TuKZIITc0QHStb3eCQ&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=10&amp;ved=0CFwQ6AEwCQ#v=onepage&amp;q=%2B%22complex%20fraction%22%20%2B%22compound%20fraction%22&amp;f=false">http://books.google.com/books?id=BBowAAAAYAAJ&amp;pg=PT329&amp;dq=%2B%22complex+fraction%22+%2B%22compound+fraction%22&amp;hl=sv&amp;ei=kN-6TuKZIITc0QHStb3eCQ&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=10&amp;ved=0CFwQ6AEwCQ#v=onepage&amp;q=%2B%22complex%20fraction%22%20%2B%22compound%20fraction%22&amp;f=false</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=A+new+mathematical+and+philosophical+dictionary&amp;rft.aulast=Barlow&amp;rft.aufirst=Peter&amp;rft.au=Barlow%2C%26%2332%3BPeter&amp;rft.date=1814&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DBBowAAAAYAAJ%26pg%3DPT329%26dq%3D%252B%2522complex%2Bfraction%2522%2B%252B%2522compound%2Bfraction%2522%26hl%3Dsv%26ei%3DkN-6TuKZIITc0QHStb3eCQ%26sa%3DX%26oi%3Dbook_result%26ct%3Dresult%26resnum%3D10%26ved%3D0CFwQ6AEwCQ%23v%3Donepage%26q%3D%252B%2522complex%2520fraction%2522%2520%252B%2522compound%2520fraction%2522%26f%3Dfalse&amp;rfr_id=info:sid/en.wikipedia.org:Fraction_(mathematics)"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-8"><b><a href="#cite_ref-8">^</a></b> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.encyclopediaofmath.org/index.php/Fraction">http://www.encyclopediaofmath.org/index.php/Fraction</a></span></li>
<li id="cite_note-eves-9"><b><a href="#cite_ref-eves_9-0">^</a></b> <span class="reference-text"><span class="citation book">Eves, Howard&#160;; with cultural connections by Jamie H. (1990). <i>An introduction to the history of mathematics</i> (6th ed. ed.). Philadelphia: Saunders College Pub.. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0030295580" title="Special:BookSources/0030295580">0030295580</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=An+introduction+to+the+history+of+mathematics&amp;rft.aulast=Eves&amp;rft.aufirst=Howard+%3B+with+cultural+connections+by+Jamie+H.&amp;rft.au=Eves%2C%26%2332%3BHoward+%3B+with+cultural+connections+by+Jamie+H.&amp;rft.date=1990&amp;rft.ion=6th+ed.&amp;rft.place=Philadelphia&amp;rft.pub=Saunders+College+Pub.&amp;rft.isbn=0030295580&amp;rfr_id=info:sid/en.wikipedia.org:Fraction_(mathematics)"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-10"><b><a href="#cite_ref-10">^</a></b> <span class="reference-text"><span class="citation web">Milo Gardner (December 19, 2005). <a rel="nofollow" class="external text" href="http://egyptianmath.blogspot.com">"Math History"</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://egyptianmath.blogspot.com">http://egyptianmath.blogspot.com</a></span><span class="reference-accessdate">. Retrieved 2006-01-18</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Math+History&amp;rft.atitle=&amp;rft.aulast=Milo+Gardner&amp;rft.au=Milo+Gardner&amp;rft.date=December+19%2C+2005&amp;rft_id=http%3A%2F%2Fegyptianmath.blogspot.com&amp;rfr_id=info:sid/en.wikipedia.org:Fraction_(mathematics)"><span style="display: none;">&#160;</span></span> See for examples and an explanation.</span></li>
<li id="cite_note-filliozat-p152-11"><b><a href="#cite_ref-filliozat-p152_11-0">^</a></b> <span class="reference-text">(<a href="#CITEREFFilliozat2004">Filliozat 2004</a>, p.&#160;152)</span></li>
<li id="cite_note-12"><b><a href="#cite_ref-12">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFCajori1928">Cajori, Florian (1928), <i>A History of Mathematical Notations (Vol.1)</i>, La Salle, Illinois: The Open Court Publishing Company</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=A+History+of+Mathematical+Notations+%28Vol.1%29&amp;rft.aulast=Cajori&amp;rft.aufirst=Florian&amp;rft.au=Cajori%2C%26%2332%3BFlorian&amp;rft.date=1928&amp;rft.place=La+Salle%2C+Illinois&amp;rft.pub=The+Open+Court+Publishing+Company&amp;rfr_id=info:sid/en.wikipedia.org:Fraction_(mathematics)"><span style="display: none;">&#160;</span></span> pg. 269.</span></li>
<li id="cite_note-13"><b><a href="#cite_ref-13">^</a></b> <span class="reference-text">(<a href="#CITEREFCajori1928">Cajori 1928</a>, pg.89)</span></li>
<li id="cite_note-14"><b><a href="#cite_ref-14">^</a></b> <span class="reference-text">D.J. Struik, <i>A Source Book in Mathematics 1200-1800</i> (Princeton University Press, New Jersey, 1986). <a href="/wiki/Special:BookSources/0691023972" class="internal mw-magiclink-isbn">ISBN 0-691-02397-2</a></span></li>
<li id="cite_note-15"><b><a href="#cite_ref-15">^</a></b> <span class="reference-text">P. Luckey, <i>Die Rechenkunst bei amd b. Mas'd al-K</i> (Steiner, Wiesbaden, 1951).</span></li>
<li id="cite_note-16"><b><a href="#cite_ref-16">^</a></b> <span class="reference-text"><span class="citation book">Berggren, J. Lennart (2007). "Mathematics in Medieval Islam". <i>The Mathematics of Egypt, Mesopotamia, China, India, and Islam: A Sourcebook</i>. Princeton University Press. p.&#160;518. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/9780691114859" title="Special:BookSources/9780691114859">9780691114859</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Mathematics+in+Medieval+Islam&amp;rft.atitle=The+Mathematics+of+Egypt%2C+Mesopotamia%2C+China%2C+India%2C+and+Islam%3A+A+Sourcebook&amp;rft.aulast=Berggren&amp;rft.aufirst=J.+Lennart&amp;rft.au=Berggren%2C%26%2332%3BJ.+Lennart&amp;rft.date=2007&amp;rft.pages=p.%26nbsp%3B518&amp;rft.pub=Princeton+University+Press&amp;rft.isbn=9780691114859&amp;rfr_id=info:sid/en.wikipedia.org:Fraction_(mathematics)"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-17"><b><a href="#cite_ref-17">^</a></b> <span class="reference-text">While there is some disagreement among history of mathematics scholars as to the primacy of al-Uqlidisi's contribution, there is no question as to his major contribution to the concept of decimal fractions. <a rel="nofollow" class="external autonumber" href="http://www-history.mcs.st-andrews.ac.uk/Biographies/Al-Uqlidisi.html">[1]</a> "MacTutor's al-Uqlidisi biography". Retrieved 2011-11-22.</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Fraction_(mathematics)&amp;action=&amp;section=32" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation book"><a rel="nofollow" class="external text" href="http://www.encyclopediaofmath.org/index.php/Fraction">"Fraction, arithmetical"</a>. <i>The Online Encyclopaedia of Mathematics</i><span class="printonly">. <a rel="nofollow" class="external free" href="http://www.encyclopediaofmath.org/index.php/Fraction">http://www.encyclopediaofmath.org/index.php/Fraction</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Fraction%2C+arithmetical&amp;rft.atitle=The+Online+Encyclopaedia+of+Mathematics&amp;rft_id=http%3A%2F%2Fwww.encyclopediaofmath.org%2Findex.php%2FFraction&amp;rfr_id=info:sid/en.wikipedia.org:Fraction_(mathematics)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation mathworld" id="Reference-Mathworld-Fraction"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Fraction.html">Fraction</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><span class="citation book"><a rel="nofollow" class="external text" href="http://www.britannica.com/EBchecked/topic/215508/fraction">"Fraction"</a>. <i>Encyclopedia Britannica</i><span class="printonly">. <a rel="nofollow" class="external free" href="http://www.britannica.com/EBchecked/topic/215508/fraction">http://www.britannica.com/EBchecked/topic/215508/fraction</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Fraction&amp;rft.atitle=Encyclopedia+Britannica&amp;rft_id=http%3A%2F%2Fwww.britannica.com%2FEBchecked%2Ftopic%2F215508%2Ffraction&amp;rfr_id=info:sid/en.wikipedia.org:Fraction_(mathematics)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation book"><a rel="nofollow" class="external text" href="http://en.citizendium.org/wiki/Fraction_(mathematics)">"Fraction (mathematics)"</a>. <i>Citizendium</i><span class="printonly">. <a rel="nofollow" class="external free" href="http://en.citizendium.org/wiki/Fraction_(mathematics)">http://en.citizendium.org/wiki/Fraction_(mathematics)</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Fraction+%28mathematics%29&amp;rft.atitle=Citizendium&amp;rft_id=http%3A%2F%2Fen.citizendium.org%2Fwiki%2FFraction_%28mathematics%29&amp;rfr_id=info:sid/en.wikipedia.org:Fraction_(mathematics)"><span style="display: none;">&#160;</span></span></li>
<li><span class="citation book"><a rel="nofollow" class="external text" href="http://planetmath.org/encyclopedia/Fraction.html">"Fraction"</a>. <i>PlanetMath</i><span class="printonly">. <a rel="nofollow" class="external free" href="http://planetmath.org/encyclopedia/Fraction.html">http://planetmath.org/encyclopedia/Fraction.html</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Fraction&amp;rft.atitle=PlanetMath&amp;rft_id=http%3A%2F%2Fplanetmath.org%2Fencyclopedia%2FFraction.html&amp;rfr_id=info:sid/en.wikipedia.org:Fraction_(mathematics)"><span style="display: none;">&#160;</span></span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 11041/1000000
Post-expand include size: 63548/2048000 bytes
Template argument size: 19335/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1704824-0!0!0!!en!4!* and timestamp 20120416222728 -->
