<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Irreducible_fraction&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(December 2009)</i></small></td>
</tr>
</table>
<p>An <b>irreducible fraction</b> (or <b>fraction in lowest terms</b> or <b>reduced form</b>) is a <a href="/wiki/Vulgar_fraction" title="Vulgar fraction" class="mw-redirect">vulgar fraction</a> in which the <a href="/wiki/Numerator" title="Numerator" class="mw-redirect">numerator</a> and <a href="/wiki/Denominator" title="Denominator" class="mw-redirect">denominator</a> are smaller than those in any other vulgar fraction equal to it. It can be shown that a fraction <sup>a</sup><sub>b</sub> is irreducible if and only if <i>a</i> and <i>b</i> are <a href="/wiki/Coprime" title="Coprime">coprime</a>, that is, if <i>a</i> and <i>b</i> have a <a href="/wiki/Greatest_common_divisor" title="Greatest common divisor">greatest common divisor</a> of 1.</p>
<p>More formally, if <i>a</i>, <i>b</i>, <i>c</i>, and <i>d</i> are all integers, then the fraction <sup>a</sup><sub>b</sub> is irreducible if and only if there is no other equal fraction <sup>c</sup><sub>d</sub> such that |<i>c</i>| &lt; |<i>a</i>| or |<i>d</i>| &lt; |<i>b</i>|, where |<i>a</i>| means the <a href="/wiki/Absolute_value" title="Absolute value">absolute value</a> of <i>a</i>. This definition is more rigorous and expandable than a simpler one involving common divisors,<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from July 2011">citation needed</span></a></i>]</sup> and it is often necessary to use it to determine the <a href="/wiki/Rational_number" title="Rational number">rationality</a> or reducibility of numbers that are expressed in terms of variables.</p>
<p>For example, <sup>1</sup><sub>4</sub>, <sup>5</sup><sub>6</sub>, and <sup>101</sup><sub>100</sub> are all irreducible fractions. On the other hand, <sup>2</sup><sub>4</sub> is not irreducible since it is equal in value to <sup>1</sup><sub>2</sub>, and the numerator of the latter (1) is less than the numerator of the former (2).</p>
<p>A fraction that is reducible can be reduced by dividing both the numerator and denominator by a common factor. It can be fully reduced to lowest terms if both are divided by their <a href="/wiki/Greatest_common_divisor" title="Greatest common divisor">greatest common divisor</a>. In order to find the greatest common divisor, the <a href="/wiki/Euclidean_algorithm" title="Euclidean algorithm">Euclidean algorithm</a> may be used. Using the Euclidean algorithm is a simple method that can even be performed without a calculator.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Examples"><span class="tocnumber">1</span> <span class="toctext">Examples</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Uniqueness"><span class="tocnumber">2</span> <span class="toctext">Uniqueness</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Generalization"><span class="tocnumber">3</span> <span class="toctext">Generalization</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Irreducible_fraction&amp;action=&amp;section=1" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h2>
<dl>
<dd><img class="tex" alt=" \frac{120}{90}=\frac{12}{9}=\frac{4}{3} \,." src="//upload.wikimedia.org/wikipedia/en/math/8/b/9/8b9d0f0f4e72953587f9f7427ea47708.png" /></dd>
</dl>
<p>In the first step both numbers were divided by 10, which is a factor common to both 120 and 90. In the second step, they were divided by 3. The final result, <sup>4</sup>/<sub>3</sub>, is an irreducible fraction because 4 and 3 have no common factors other than 1.</p>
<p>The original fraction could have also been reduced in a single step by using the greatest common divisor of 90 and 120, which would be gcd(90,120)=30.</p>
<dl>
<dd><img class="tex" alt=" \frac{120}{90}=\frac{4}{3} \,." src="//upload.wikimedia.org/wikipedia/en/math/2/1/9/219e37d0ba25de55ecc292508d2fbd3d.png" /></dd>
</dl>
<p>Which method is faster "by hand" depends on the fraction and the ease with which common factors are spotted. In case a denominator and numerator remain that are too large to ensure they are coprime by inspection, a greatest common divisor computation is needed anyway to ensure the fraction is actually irreducible.</p>
<h2><span class="section">[<a href="/w/index.php?title=Irreducible_fraction&amp;action=&amp;section=2" title="Edit section: Uniqueness"></a>]</span> <span class="mw-headline" id="Uniqueness">Uniqueness</span></h2>
<p>Every rational number has a <i>unique</i> representation as an irreducible fraction. Uniqueness is a consequence of the <a href="/wiki/Fundamental_theorem_of_arithmetic" title="Fundamental theorem of arithmetic">unique prime factorization</a> of integers, since <img class="tex" alt="\tfrac{a}{b} = \tfrac{c}{d}" src="//upload.wikimedia.org/wikipedia/en/math/6/4/2/6426c98b536ce8c992c727f85e0cef16.png" /> implies <i>ad</i> = <i>bc</i> and so both sides of the latter must share the same prime factorization.</p>
<h2><span class="section">[<a href="/w/index.php?title=Irreducible_fraction&amp;action=&amp;section=3" title="Edit section: Generalization"></a>]</span> <span class="mw-headline" id="Generalization">Generalization</span></h2>
<p>The notion of irreducible fraction generalizes to the <a href="/wiki/Field_of_fractions" title="Field of fractions">field of fractions</a> of any <a href="/wiki/Unique_factorization_domain" title="Unique factorization domain">unique factorization domain</a>: any element of such a field can be written as a fraction in which denominator and numerator are coprime, by dividing both by their greatest common divisor. This applies notably to <a href="/wiki/Rational_expression" title="Rational expression" class="mw-redirect">rational expressions</a> over a field. The irreducible fraction for a given element is unique up to multiplication of denominator and numerator by the same invertible element. In the case of the rational numbers this means that any number has two irreducible fractions, related by a change of sign of both numerator and denominator; this ambiguity can be removed by requiring the denominator to be positive. In the case of rational functions the denominator could similarly be required to be a <a href="/wiki/Monic_polynomial" title="Monic polynomial">monic polynomial</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Irreducible_fraction&amp;action=&amp;section=4" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Anomalous_cancellation" title="Anomalous cancellation">Anomalous cancellation</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 928/1000000
Post-expand include size: 9824/2048000 bytes
Template argument size: 3663/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:14822-0!0!0!!en!4!* and timestamp 20120404232754 -->
