<p>In <a href="/wiki/Arithmetic" title="Arithmetic">arithmetic</a> and <a href="/wiki/Number_theory" title="Number theory">number theory</a>, the <b>least common multiple</b> (also called the <b>lowest common multiple</b> or <b>smallest common multiple</b>) of two <a href="/wiki/Integer" title="Integer">integers</a> <i>a</i> and <i>b</i>, usually denoted by <b>LCM(<i>a</i>, <i>b</i>)</b>, is the smallest positive integer that is a <a href="/wiki/Multiple_(mathematics)" title="Multiple (mathematics)">multiple</a> of both <i>a</i> and <i>b</i>.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> It is familiar from grade-school arithmetic as the "lowest common denominator"<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from February 2012">citation needed</span></a></i>]</sup> that must be determined before two <a href="/wiki/Fraction_(mathematics)" title="Fraction (mathematics)">fractions</a> can be added.</p>
<p>If either <i>a</i> or <i>b</i> is 0, LCM(<i>a</i>,&#160;<i>b</i>) is defined to be zero.</p>
<p>The LCM of more than two integers is also well-defined: it is the smallest number that is an integer multiple of each of them.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Overview"><span class="tocnumber">1</span> <span class="toctext">Overview</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Notation"><span class="tocnumber">1.1</span> <span class="toctext">Notation</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Example"><span class="tocnumber">1.2</span> <span class="toctext">Example</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Applications"><span class="tocnumber">1.3</span> <span class="toctext">Applications</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-5"><a href="#Computing_the_least_common_multiple"><span class="tocnumber">2</span> <span class="toctext">Computing the least common multiple</span></a>
<ul>
<li class="toclevel-2 tocsection-6"><a href="#Reduction_by_the_greatest_common_divisor"><span class="tocnumber">2.1</span> <span class="toctext">Reduction by the greatest common divisor</span></a></li>
<li class="toclevel-2 tocsection-7"><a href="#Finding_least_common_multiples_by_prime_factorization"><span class="tocnumber">2.2</span> <span class="toctext">Finding least common multiples by prime factorization</span></a></li>
<li class="toclevel-2 tocsection-8"><a href="#A_simple_algorithm"><span class="tocnumber">2.3</span> <span class="toctext">A simple algorithm</span></a></li>
<li class="toclevel-2 tocsection-9"><a href="#A_method_using_a_table"><span class="tocnumber">2.4</span> <span class="toctext">A method using a table</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-10"><a href="#Formulas"><span class="tocnumber">3</span> <span class="toctext">Formulas</span></a>
<ul>
<li class="toclevel-2 tocsection-11"><a href="#Fundamental_theorem_of_arithmetic"><span class="tocnumber">3.1</span> <span class="toctext">Fundamental theorem of arithmetic</span></a></li>
<li class="toclevel-2 tocsection-12"><a href="#Lattice-theoretic"><span class="tocnumber">3.2</span> <span class="toctext">Lattice-theoretic</span></a></li>
<li class="toclevel-2 tocsection-13"><a href="#Other"><span class="tocnumber">3.3</span> <span class="toctext">Other</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-14"><a href="#The_LCM_in_commutative_rings"><span class="tocnumber">4</span> <span class="toctext">The LCM in commutative rings</span></a></li>
<li class="toclevel-1 tocsection-15"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-16"><a href="#Notes"><span class="tocnumber">6</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-17"><a href="#References"><span class="tocnumber">7</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-18"><a href="#External_links"><span class="tocnumber">8</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=1" title="Edit section: Overview"></a>]</span> <span class="mw-headline" id="Overview">Overview</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=2" title="Edit section: Notation"></a>]</span> <span class="mw-headline" id="Notation">Notation</span></h3>
<p>In this article we will denote the least common multiple of two integers <i>a</i> and <i>b</i> as lcm( <i>a</i>, <i>b</i> ). Some older textbooks use [ <i>a</i>, <i>b</i> ].<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup><sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=3" title="Edit section: Example"></a>]</span> <span class="mw-headline" id="Example">Example</span></h3>
<p>What is the LCM of 4 and 6?</p>
<p>Multiples of 4 are:</p>
<dl>
<dd>4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76 etc.</dd>
</dl>
<p><br />
and the multiples of 6 are:</p>
<dl>
<dd>6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, ...</dd>
</dl>
<p><b>Common multiples</b> of 4 and 6 are simply the numbers that are in both lists:</p>
<dl>
<dd>12, 24, 36, 48, 60, 72, ....</dd>
</dl>
<p>So the <b>least common multiple</b> of 4 and 6 is the smallest one of those:&#160;12</p>
<h3><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=4" title="Edit section: Applications"></a>]</span> <span class="mw-headline" id="Applications">Applications</span></h3>
<p>When adding, subtracting, or comparing <a href="/wiki/Vulgar_fraction" title="Vulgar fraction" class="mw-redirect">vulgar fractions</a>, it is useful to find the least common multiple of the denominators, often called the <a href="/wiki/Lowest_common_denominator" title="Lowest common denominator">lowest common denominator</a>, because each of the fractions can be expressed as a fraction with this denominator. For instance,</p>
<dl>
<dd><img class="tex" alt="{2\over21}+{1\over6}={4\over42}+{7\over42}={11\over42}" src="//upload.wikimedia.org/wikipedia/en/math/e/e/7/ee7a470cdd341ea5f15d33aa58f28fdc.png" /></dd>
</dl>
<p>where the denominator 42 was used because it is the least common multiple of 21 and 6.</p>
<h2><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=5" title="Edit section: Computing the least common multiple"></a>]</span> <span class="mw-headline" id="Computing_the_least_common_multiple">Computing the least common multiple</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=6" title="Edit section: Reduction by the greatest common divisor"></a>]</span> <span class="mw-headline" id="Reduction_by_the_greatest_common_divisor">Reduction by the greatest common divisor</span></h3>
<p>The following formula reduces the problem of computing the least common multiple to the problem of computing the <a href="/wiki/Greatest_common_divisor" title="Greatest common divisor">greatest common divisor</a> (GCD):</p>
<dl>
<dd><img class="tex" alt="\operatorname{lcm}(a,b)=\frac{|a\cdot b|}{\operatorname{gcd}(a,b)}." src="//upload.wikimedia.org/wikipedia/en/math/5/b/3/5b3f3c62dd59cc5594af7b2ece3798fb.png" /></dd>
</dl>
<p>This formula is also valid when exactly one of <i>a</i> and <i>b</i> is 0, since gcd(<i>a</i>, 0) = |<i>a</i>|.</p>
<p>There are fast <a href="/wiki/Algorithm" title="Algorithm">algorithms</a> for computing the GCD that do not require the numbers to be factored, such as the <a href="/wiki/Euclidean_algorithm" title="Euclidean algorithm">Euclidean algorithm</a>. To return to the example above,</p>
<dl>
<dd><img class="tex" alt="\operatorname{lcm}(21,6)
={21\cdot6\over\operatorname{gcd}(21,6)}
={21\cdot 6\over 3}= \frac{126}{3} = 42." src="//upload.wikimedia.org/wikipedia/en/math/c/b/0/cb0d245e78e328c29095b9522fd16200.png" /></dd>
</dl>
<p>Because gcd(<i>a</i>, <i>b</i>) is a divisor of both <i>a</i> and <i>b</i>, it's more efficient to compute the LCM by dividing <i>before</i> multiplying:</p>
<dl>
<dd><img class="tex" alt="\operatorname{lcm}(a,b)=\left({|a|\over\operatorname{gcd}(a,b)}\right)\cdot |b|=\left({|b|\over\operatorname{gcd}(a,b)}\right)\cdot |a|." src="//upload.wikimedia.org/wikipedia/en/math/b/8/6/b860d4a705dd4fea6f28e6edd8740853.png" /></dd>
</dl>
<p>This reduces the size of one input for both the division and the multiplication, and reduces the required storage needed for intermediate results (overflow in the <i>a</i><i>b</i> computation). Because gcd(<i>a</i>, <i>b</i>) is a divisor of both <i>a</i> and <i>b</i>, and thus the division will be guaranteed to yield an integer, so the intermediate result can be stored in an integer. Done this way, the previous example becomes:</p>
<dl>
<dd><img class="tex" alt="\operatorname{lcm}(21,6)={21\over\operatorname{gcd}(21,6)}\cdot6={21\over3}\cdot6=7\cdot6=42." src="//upload.wikimedia.org/wikipedia/en/math/9/d/2/9d2af1df7ecb6a9037e2bae89f8c82f8.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=7" title="Edit section: Finding least common multiples by prime factorization"></a>]</span> <span class="mw-headline" id="Finding_least_common_multiples_by_prime_factorization">Finding least common multiples by prime factorization</span></h3>
<p>The <a href="/wiki/Fundamental_theorem_of_arithmetic" title="Fundamental theorem of arithmetic">unique factorization theorem</a> says that every positive integer greater than 1 can be written in only one way as a product of <a href="/wiki/Prime_number" title="Prime number">prime numbers</a>. The prime numbers can be considered as the atomic elements which, when combined together, make up a <a href="/wiki/Composite_number" title="Composite number">composite number</a>.</p>
<p>For example:</p>
<dl>
<dd><img class="tex" alt="90 = 2^1 \cdot 3^2 \cdot 5^1 = 2 \cdot 3 \cdot 3 \cdot 5. \,\!" src="//upload.wikimedia.org/wikipedia/en/math/7/9/1/791eb8743c751d26aac015f7a7ba3a8c.png" /></dd>
</dl>
<p>Here we have the composite number 90 made up of one atom of the prime number <b>2</b>, two atoms of the prime number <b>3</b> and one atom of the prime number <b>5</b>.</p>
<p>This knowledge can be used to find the LCM of a set of numbers.</p>
<p>Example: Find the value of lcm(8,9,21).</p>
<p>First, factor out each number and express it as a product of prime number <a href="/wiki/Power_(mathematics)" title="Power (mathematics)" class="mw-redirect">powers</a>.</p>
<dl>
<dd><img class="tex" alt="8\; \, \; \,= 2^3 \cdot 3^0 \cdot 5^0 \cdot 7^0 \,\!" src="//upload.wikimedia.org/wikipedia/en/math/5/9/7/597afba824704eb2657be1ceb07952a5.png" /></dd>
<dd><img class="tex" alt="9\; \, \; \,= 2^0 \cdot 3^2 \cdot 5^0 \cdot 7^0 \,\!" src="//upload.wikimedia.org/wikipedia/en/math/8/1/2/8129b6f619af1cb23f83f569a33159e1.png" /></dd>
<dd><img class="tex" alt="21\; \,= 2^0 \cdot 3^1 \cdot 5^0 \cdot 7^1. \,\!" src="//upload.wikimedia.org/wikipedia/en/math/2/8/6/286e62edc6d8e5f63a6480f0d16a2b68.png" /></dd>
</dl>
<p>The lcm will be the product of multiplying the highest power in each prime factor category together. Out of the 4 prime factor categories 2, 3, 5, and 7, the highest powers from each are 2<sup>3</sup>, 3<sup>2</sup>, 5<sup>0</sup>, and 7<sup>1</sup>. Thus,</p>
<dl>
<dd><img class="tex" alt="\operatorname{lcm}(8,9,21) = 2^3 \cdot 3^2 \cdot 5^0 \cdot 7^1 = 8 \cdot 9 \cdot 1 \cdot 7 = 504. \,\!" src="//upload.wikimedia.org/wikipedia/en/math/3/a/a/3aa203f7e66443b2ce4d29c13f9d49ea.png" /></dd>
</dl>
<p>This method is not as efficient as reducing to the greatest common divisor, since there is no known general efficient algorithm for <a href="/wiki/Integer_factorization" title="Integer factorization">integer factorization</a>, but is useful in illustrating concepts.</p>
<p>This method can be illustrated using a <a href="/wiki/Venn_diagram" title="Venn diagram">Venn diagram</a> as follows. Find the <a href="/wiki/Prime_factorization" title="Prime factorization" class="mw-redirect">prime factorization</a> of each of the two numbers. Put the prime factors into a Venn diagram with one circle for each of the two numbers, and <i>all</i> factors they share in common in the intersection. To find the LCM, just multiply all of the prime numbers in the diagram.</p>
<p>Here is an example:</p>
<dl>
<dd>48 = 2  2  2  2  3,</dd>
<dd>180 = 2  2  3  3  5,</dd>
</dl>
<p>and what they share in common is two "2"s and a "3":</p>
<dl>
<dd><a href="/wiki/File:Least_common_multiple.svg" class="image"><img alt="Least common multiple.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Least_common_multiple.svg/400px-Least_common_multiple.svg.png" width="400" height="250" /></a></dd>
</dl>
<dl>
<dd>Least common multiple = 2  2  2  2  3  3  5 = 720</dd>
<dd>Greatest common divisor = 2  2  3 = 12</dd>
</dl>
<p>This also works for the <a href="/wiki/Greatest_common_divisor" title="Greatest common divisor">greatest common divisor</a> (GCD), except that instead of multiplying all of the numbers in the Venn diagram, one multiplies only the prime factors that are in the intersection. Thus the GCD of 48 and 180 is 2&#160;&#160;2&#160;&#160;3&#160;=&#160;12.</p>
<h3><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=8" title="Edit section: A simple algorithm"></a>]</span> <span class="mw-headline" id="A_simple_algorithm">A simple algorithm</span></h3>
<p>This method works as easily for finding the LCM of several integers.</p>
<p>Let there be a finite sequence of positive integers <i>X</i> = (<i>x</i><sub>1</sub>, <i>x</i><sub>2</sub>, ..., <i>x</i><sub><i>n</i></sub>), <i>n</i> &gt; 1. The algorithm proceeds in steps as follows: on each step <i>m</i> it examines and updates the sequence <i>X</i><sup>(<i>m</i>)</sup> = (<i>x</i><sub>1</sub><sup>(<i>m</i>)</sup>, <i>x</i><sub>2</sub><sup>(<i>m</i>)</sup>, ..., <i>x</i><sub><i>n</i></sub><sup>(<i>m</i>)</sup>), <i>X</i><sup>(1)</sup> = <i>X</i>. The purpose of the examination is to pick up the least (perhaps, one of many) element of the sequence <i>X</i><sup>(<i>m</i>)</sup>. Assuming <i>x</i><sub><i>k</i><sub>0</sub></sub><sup>(<i>m</i>)</sup> is the selected element, the sequence <i>X</i><sup>(<i>m</i>+1)</sup> is defined as</p>
<dl>
<dd><i>x</i><sub><i>k</i></sub><sup>(<i>m</i>+1)</sup> = <i>x</i><sub><i>k</i></sub><sup>(<i>m</i>)</sup>, <i>k</i>  <i>k</i><sub>0</sub></dd>
<dd><i>x</i><sub><i>k</i><sub>0</sub></sub><sup>(<i>m</i>+1)</sup> = <i>x</i><sub><i>k</i><sub>0</sub></sub><sup>(<i>m</i>)</sup> + <i>x</i><sub><i>k</i><sub>0</sub></sub>.</dd>
</dl>
<p>In other words, the least element is increased by the corresponding <i>x</i> whereas the rest of the elements pass from <i>X</i><sup>(<i>m</i>)</sup> to <i>X</i><sup>(<i>m</i>+1)</sup> unchanged.</p>
<p>The algorithm stops when all elements in sequence <i>X</i><sup>(<i>m</i>)</sup> are equal. Their common value <i>L</i> is exactly LCM(<i>X</i>). (For a proof and an interactive simulation see reference below, <i>Algorithm for Computing the LCM</i>.)</p>
<h3><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=9" title="Edit section: A method using a table"></a>]</span> <span class="mw-headline" id="A_method_using_a_table">A method using a table</span></h3>
<p>This method works for any number of factors. One begins by listing all of the numbers vertically in a table (in this example 4,&#160;7,&#160;12,&#160;21,&#160;and&#160;42):</p>
<dl>
<dd>&#160;4</dd>
<dd>&#160;7</dd>
<dd>12</dd>
<dd>21</dd>
<dd>42</dd>
</dl>
<p>The process begins by dividing all of the factors by 2. If any of them divides evenly, write 2 at the top of the table and the result of division by 2 of each factor in the space to the right of each factor and below the 2. If a number does not divide evenly, just rewrite the number again. If 2 does not divide evenly into any of the numbers, try 3.</p>
<table class="wikitable">
<tr>
<th><i>x</i></th>
<th>2</th>
</tr>
<tr>
<td>4</td>
<td>2</td>
</tr>
<tr>
<td>7</td>
<td>7</td>
</tr>
<tr>
<td>12</td>
<td>6</td>
</tr>
<tr>
<td>21</td>
<td>21</td>
</tr>
<tr>
<td>42</td>
<td>21</td>
</tr>
</table>
<p>Now, check if 2 divides again:</p>
<table class="wikitable">
<tr>
<th><i>x</i></th>
<th>2</th>
<th>2</th>
</tr>
<tr>
<td>4</td>
<td>2</td>
<td>1</td>
</tr>
<tr>
<td>7</td>
<td>7</td>
<td>7</td>
</tr>
<tr>
<td>12</td>
<td>6</td>
<td>3</td>
</tr>
<tr>
<td>21</td>
<td>21</td>
<td>21</td>
</tr>
<tr>
<td>42</td>
<td>21</td>
<td>21</td>
</tr>
</table>
<p>Once 2 no longer divides, divide by 3. If 3 no longer divides, try 5 and 7. Keep going until all of the numbers have been reduced to 1.</p>
<table class="wikitable">
<tr>
<th><i>x</i></th>
<th>2</th>
<th>2</th>
<th>3</th>
<th>7</th>
</tr>
<tr>
<td>4</td>
<td>2</td>
<td>1</td>
<td>1</td>
<td>1</td>
</tr>
<tr>
<td>7</td>
<td>7</td>
<td>7</td>
<td>7</td>
<td>1</td>
</tr>
<tr>
<td>12</td>
<td>6</td>
<td>3</td>
<td>1</td>
<td>1</td>
</tr>
<tr>
<td>21</td>
<td>21</td>
<td>21</td>
<td>7</td>
<td>1</td>
</tr>
<tr>
<td>42</td>
<td>21</td>
<td>21</td>
<td>7</td>
<td>1</td>
</tr>
</table>
<p>Now, multiply the numbers on the top and you have the LCM. In this case, it is 2&#160;&#160;2&#160;&#160;3&#160;&#160;7&#160;=&#160;84. You will get to the LCM the quickest if you use prime numbers and start from the lowest prime, 2.</p>
<h2><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=10" title="Edit section: Formulas"></a>]</span> <span class="mw-headline" id="Formulas">Formulas</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=11" title="Edit section: Fundamental theorem of arithmetic"></a>]</span> <span class="mw-headline" id="Fundamental_theorem_of_arithmetic">Fundamental theorem of arithmetic</span></h3>
<p>According to the <a href="/wiki/Fundamental_theorem_of_arithmetic" title="Fundamental theorem of arithmetic">fundamental theorem of arithmetic</a> a positive integer is the product of <a href="/wiki/Prime_number" title="Prime number">prime numbers</a>, and, except for their order, this representation is unique:</p>
<dl>
<dd><img class="tex" alt="n=2^{n_2} 3^{n_3} 5^{n_5} 7^{n_7} \cdots = \prod_p p^{n_p},\;" src="//upload.wikimedia.org/wikipedia/en/math/c/4/b/c4b4e385bcd5fac53b9856ba8995db3e.png" /></dd>
</dl>
<p>where the exponents <i>n</i><sub>2</sub>, <i>n</i><sub>3</sub>, ... are non-negative integers; for example, 84 = 2<sup>2</sup> 3<sup>1</sup> 5<sup>0</sup> 7<sup>1</sup> 11<sup>0</sup> 13<sup>0</sup> ...</p>
<p>Given two integers &#160; <img class="tex" alt="\;a=\prod_p p^{a_p}\;\;" src="//upload.wikimedia.org/wikipedia/en/math/5/9/4/5949cf4e4d7cf074531d5f9b26ac9fef.png" /> &#160; and &#160; <img class="tex" alt="\;b=\prod_p p^{b_p}\;\;" src="//upload.wikimedia.org/wikipedia/en/math/2/6/f/26faacdd0070333b154d26e51c80bb2b.png" /> &#160; their least common multiple and greatest common divisor are given by the formulas</p>
<dl>
<dd><img class="tex" alt="\gcd(a,b) = \prod_p p^{\min(a_p, b_p)}\;" src="//upload.wikimedia.org/wikipedia/en/math/4/7/f/47f9d0006d9c031e2ccf2992963ff153.png" /></dd>
</dl>
<p>and</p>
<dl>
<dd><img class="tex" alt="\operatorname{lcm}(a,b) = \prod_p p^{\max(a_p, b_p)}.\;" src="//upload.wikimedia.org/wikipedia/en/math/b/6/5/b65d371fef44c71b8135d7dfb12f9430.png" /></dd>
</dl>
<p>Since</p>
<dl>
<dd><img class="tex" alt="\min(x,y) + \max(x,y) = x+y,\;\;" src="//upload.wikimedia.org/wikipedia/en/math/1/2/c/12cabaad1780cd513d59c8a7440189f1.png" /></dd>
</dl>
<p>this gives</p>
<dl>
<dd><img class="tex" alt="\gcd(a,b)\,\operatorname{lcm}(a,b) = a\,b.\;" src="//upload.wikimedia.org/wikipedia/en/math/c/d/2/cd29c907cf66e52fec4f8644f158466d.png" /></dd>
</dl>
<p>In fact, any rational number can be written uniquely as the product of primes if negative exponents are allowed. When this is done, the above formulas remain valid. Using the same examples as above:</p>
<dl>
<dd><img class="tex" alt="4 = 2^2 3^0, \;\; 6 = 2^1 3^1, \;\;  \gcd(4, 6) = 2^1 3^0, \;\; \operatorname{lcm}(4,6) = 2^2  3^1.\;" src="//upload.wikimedia.org/wikipedia/en/math/4/8/4/48402c1d927919fdaa98f099373eb516.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="\tfrac{1}{3}=2^0 3^{-1} 5^0,\;\;\tfrac{2}{5}=2^1 3^0 5^{-1}, \;\; \gcd(\tfrac13, \tfrac25)= 2^0 3^{-1} 5^{-1}, \;\;\operatorname{lcm}(\tfrac13, \tfrac25) = 2^1 3^0 5^0, \;\;" src="//upload.wikimedia.org/wikipedia/en/math/5/2/3/5239dc17c2942838aff5071858d5d313.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="\tfrac{1}{6}=2^{-1} 3^{-1} ,\;\;\tfrac{3}{4}=2^{-2} 3^1, \;\; \gcd(\tfrac16, \tfrac34)= 2^{-2} 3^{-1}, \;\;\operatorname{lcm}(\tfrac16, \tfrac34) = 2^{-1} 3^1. \;\;" src="//upload.wikimedia.org/wikipedia/en/math/0/b/0/0b0934622733cd3204fac2c63ca52ef8.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=12" title="Edit section: Lattice-theoretic"></a>]</span> <span class="mw-headline" id="Lattice-theoretic">Lattice-theoretic</span></h3>
<p>The positive integers may be <a href="/wiki/Partially_ordered" title="Partially ordered" class="mw-redirect">partially ordered</a> by divisibility: if <i>a</i> divides <i>b</i> (i.e. if <i>b</i> is an integer multiple of <i>a</i>) write <i>a</i>  <i>b</i> (or equivalently, <i>b</i>  <i>a</i>). (Forget the usual magnitude-based definition of  in this section - it isn't used.)</p>
<p>Under this ordering, the positive integers become a <a href="/wiki/Lattice_(order)" title="Lattice (order)">lattice</a> with <a href="/wiki/Meet_(mathematics)" title="Meet (mathematics)" class="mw-redirect">meet</a> given by the gcd and <a href="/wiki/Join_(mathematics)" title="Join (mathematics)" class="mw-redirect">join</a> given by the lcm. The proof is straightforward, if a bit tedious; it amounts to checking that lcm and gcd satisfy the axioms for meet and join. Putting the lcm and gcd into this more general context establishes a <a href="/wiki/Duality_(order_theory)" title="Duality (order theory)">duality</a> between them:</p>
<dl>
<dd><b>If a formula involving integer variables, gcd, lcm,  and  is true, then the formula obtained by switching gcd with lcm and switching  with  is also true.</b> (Remember  is defined as divides).</dd>
</dl>
<p>The following pairs of dual formulas are special cases of general lattice-theoretic identities.</p>
<table style="margin:0;" cellpadding="0" border="0" cellspacing="0">
<tr>
<td>
<dl>
<dt><a href="/wiki/Commutative_operation" title="Commutative operation" class="mw-redirect">Commutative laws</a></dt>
<dd><img class="tex" alt="\operatorname{lcm}(a, b) = \operatorname{lcm}(b, a),\;" src="//upload.wikimedia.org/wikipedia/en/math/d/6/c/d6ca4943559dd8c9f7ca8c64dfd14a40.png" /></dd>
<dd><img class="tex" alt="\gcd(a, b) =\gcd( b, a).\;" src="//upload.wikimedia.org/wikipedia/en/math/f/a/e/fae22e8b89dd390d7aec819e678124ed.png" /></dd>
</dl>
</td>
<td>&#160;&#160;&#160;&#160;</td>
<td>
<dl>
<dt><a href="/wiki/Associativity" title="Associativity" class="mw-redirect">Associative laws</a></dt>
<dd><img class="tex" alt="\operatorname{lcm}(a,\operatorname{lcm}(b, c)) = \operatorname{lcm}(\operatorname{lcm}(a , b),c),\;" src="//upload.wikimedia.org/wikipedia/en/math/9/8/1/981a5b14b95678482648affbfe1d3c7c.png" /></dd>
<dd><img class="tex" alt="\gcd(a, \gcd(b, c)) = \gcd(\gcd(a,b), c).\;" src="//upload.wikimedia.org/wikipedia/en/math/8/e/7/8e747e2a178d837fade906b074b3007b.png" /></dd>
</dl>
</td>
<td>&#160;&#160;&#160;&#160;</td>
<td>
<dl>
<dt><a href="/wiki/Absorption_law" title="Absorption law">Absorption laws</a></dt>
<dd><img class="tex" alt="\operatorname{lcm}(a, \gcd(a,b)) = a,\;" src="//upload.wikimedia.org/wikipedia/en/math/2/5/9/25922612d1c52bd96f623e31f995de08.png" /></dd>
<dd><img class="tex" alt="\gcd(a, \operatorname{lcm}(a, b)) = a.\;" src="//upload.wikimedia.org/wikipedia/en/math/3/5/b/35b669bc05b1fb7fbec8b1850c02818c.png" /></dd>
</dl>
</td>
</tr>
</table>
<table style="margin:0;" cellpadding="0" border="0" cellspacing="0">
<tr>
<td>
<dl>
<dt><a href="/wiki/Idempotent" title="Idempotent" class="mw-redirect">Idempotent laws</a></dt>
<dd><img class="tex" alt="\operatorname{lcm}(a, a) = a,\;" src="//upload.wikimedia.org/wikipedia/en/math/f/b/4/fb4bd8c2fc6ce4746345108a17120d03.png" /></dd>
<dd><img class="tex" alt="\gcd(a, a) = a.\;" src="//upload.wikimedia.org/wikipedia/en/math/4/7/1/471345e2857c630101b7b368f44b98bc.png" />.</dd>
</dl>
</td>
<td>&#160;&#160;&#160;&#160;</td>
<td>
<dl>
<dt><a href="/wiki/Lattice_(order)#Connection_between_the_two_definitions" title="Lattice (order)">Define divides in terms of lcm and gcd</a></dt>
<dd><img class="tex" alt="a \ge b \iff a = \operatorname{lcm}(a,b),\;" src="//upload.wikimedia.org/wikipedia/en/math/4/b/0/4b0ead336c798083389e6b5c6bcaf4c3.png" /></dd>
<dd><img class="tex" alt="a \le b \iff a = \gcd(a,b).\;" src="//upload.wikimedia.org/wikipedia/en/math/6/2/f/62f7b78d6b0ad2fa86054f1685d79d82.png" /></dd>
</dl>
</td>
</tr>
</table>
<p>It can also be shown<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup> that this lattice is <a href="/wiki/Distributive_lattice" title="Distributive lattice">distributive</a>, i.e. that lcm distributes over gcd and, dually, that gcd distributes over lcm:</p>
<dl>
<dd><img class="tex" alt="\operatorname{lcm}(a,\gcd(b,c)) = \gcd(\operatorname{lcm}(a,b),\operatorname{lcm}(a,c)),\;" src="//upload.wikimedia.org/wikipedia/en/math/b/c/d/bcdcef222be45c2acc71250e36405f54.png" /></dd>
<dd><img class="tex" alt="\gcd(a,\operatorname{lcm}(b,c)) = \operatorname{lcm}(\gcd(a,b),\gcd(a,c)).\;" src="//upload.wikimedia.org/wikipedia/en/math/f/e/a/feacb4f040ebe48557998ea8be75f828.png" /></dd>
</dl>
<p>This identitity is self-dual:</p>
<dl>
<dd><img class="tex" alt="\gcd(\operatorname{lcm}(a,b),\operatorname{lcm}(b,c),\operatorname{lcm}(a,c))=\operatorname{lcm}(\gcd(a,b),\gcd(b,c),\gcd(a,c)).\;" src="//upload.wikimedia.org/wikipedia/en/math/d/7/d/d7d7e4c81824c8c9cf78704505611be1.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=13" title="Edit section: Other"></a>]</span> <span class="mw-headline" id="Other">Other</span></h3>
<p>Let <i>D</i> be the product of (<i>D</i>) distinct prime numbers (i.e. <i>D</i> is <a href="/wiki/Squarefree" title="Squarefree" class="mw-redirect">squarefree</a>).</p>
<p>Then<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup></p>
<dl>
<dd><img class="tex" alt="|\{(x,y)\;:\; \operatorname{lcm}(x,y)=D\}|= 3^{\omega(D)},\;" src="//upload.wikimedia.org/wikipedia/en/math/8/4/5/84506a7a442221f72b2424dc6918f513.png" /></dd>
</dl>
<p>where the absolute bars || denote the cardinality of a set.</p>
<h2><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=14" title="Edit section: The LCM in commutative rings"></a>]</span> <span class="mw-headline" id="The_LCM_in_commutative_rings">The LCM in commutative rings</span></h2>
<p>The least common multiple can be defined generally over <a href="/wiki/Commutative_ring" title="Commutative ring">commutative rings</a> as follows: Let <i>a</i> and <i>b</i> be elements of a commutative ring <i>R</i>. A common multiple of <i>a</i> and <i>b</i> is an element <i>m</i> of <i>R</i> such that both <i>a</i> and <i>b</i> divide <i>m</i> (i.e. there exist elements <i>x</i> and <i>y</i> of <i>R</i> such that <i>ax</i> = <i>m</i> and <i>by</i> = <i>m</i>). A least common multiple of <i>a</i> and <i>b</i> is a common multiple that is minimal in the sense that for any other common multiple <i>n</i> of <i>a</i> and <i>b</i>, <i>m</i> divides&#160;<i>n</i>.</p>
<p>In general, two elements in a commutative ring can have no least common multiple or more than one. However, any two least common multiples of the same pair of elements are <a href="/wiki/Unit_(ring_theory)" title="Unit (ring theory)">associates</a>. In a <a href="/wiki/Unique_factorization_domain" title="Unique factorization domain">unique factorization domain</a>, any two elements have a least common multiple. In a <a href="/wiki/Principal_ideal_domain" title="Principal ideal domain">principal ideal domain</a>, the least common multiple of <i>a</i> and <i>b</i> can be characterised as a generator of the intersection of the ideals generated by <i>a</i> and <i>b</i> (the intersection of a collection of ideals is always an ideal). In principal ideal domains, one can even talk about the least common multiple of arbitrary collections of elements: it is a generator of the intersection of the ideals generated by the elements of the collection.</p>
<h2><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=15" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Greatest_common_divisor" title="Greatest common divisor">Greatest common divisor</a></li>
<li><a href="/wiki/Anomalous_cancellation" title="Anomalous cancellation">Anomalous cancellation</a></li>
<li><a href="/wiki/Chebyshev_function" title="Chebyshev function">Chebyshev function</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=16" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Hardy &amp; Wright,  5.1, p. 48</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><a href="#CITEREFLong1972">Long (1972</a>, p.&#160;39)</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a href="#CITEREFPettofrezzoByrkit1970">Pettofrezzo &amp; Byrkit (1970</a>, p.&#160;56)</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text">The next three formulas are from Landau, Ex. III.3, p. 254</span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text">Crandall &amp; Pomerance, ex. 2.4, p. 101.</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=17" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation" id="CITEREFCrandallPomerance2001">Crandall, Richard; Pomerance, Carl (2001), <i>Prime Numbers: A Computational Perspective</i>, New York: <a href="/wiki/Springer_Science%2BBusiness_Media" title="Springer Science+Business Media">Springer</a>, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-387-04777-9" title="Special:BookSources/0-387-04777-9">0-387-04777-9</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Prime+Numbers%3A+A+Computational+Perspective&amp;rft.aulast=Crandall&amp;rft.aufirst=Richard&amp;rft.au=Crandall%2C%26%2332%3BRichard&amp;rft.au=Pomerance%2C%26%2332%3BCarl&amp;rft.date=2001&amp;rft.place=New+York&amp;rft.pub=%5B%5BSpringer+Science%2BBusiness+Media%7CSpringer%5D%5D&amp;rft.isbn=0-387-04777-9&amp;rfr_id=info:sid/en.wikipedia.org:Least_common_multiple"><span style="display: none;">&#160;</span></span></li>
</ul>
<ul>
<li><span class="citation" id="CITEREFHardyWright1980">Hardy, G. H.; Wright, E. M. (1980), <i>An Introduction to the Theory of Numbers (Fifth ion)</i>, Oxford: <a href="/wiki/Oxford_University_Press" title="Oxford University Press">Oxford University Press</a>, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-0198531715" title="Special:BookSources/978-0198531715">978-0198531715</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=An+Introduction+to+the+Theory+of+Numbers+%28Fifth+ion%29&amp;rft.aulast=Hardy&amp;rft.aufirst=G.+H.&amp;rft.au=Hardy%2C%26%2332%3BG.+H.&amp;rft.au=Wright%2C%26%2332%3BE.+M.&amp;rft.date=1980&amp;rft.place=Oxford&amp;rft.pub=%5B%5BOxford+University+Press%5D%5D&amp;rft.isbn=978-0198531715&amp;rfr_id=info:sid/en.wikipedia.org:Least_common_multiple"><span style="display: none;">&#160;</span></span></li>
</ul>
<ul>
<li><span class="citation" id="CITEREFLandau1966">Landau, Edmund (1966), <i>Elementary Number Theory</i>, New York: Chelsea</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Elementary+Number+Theory&amp;rft.aulast=Landau&amp;rft.aufirst=Edmund&amp;rft.au=Landau%2C%26%2332%3BEdmund&amp;rft.date=1966&amp;rft.place=New+York&amp;rft.pub=Chelsea&amp;rfr_id=info:sid/en.wikipedia.org:Least_common_multiple"><span style="display: none;">&#160;</span></span></li>
</ul>
<ul>
<li><span class="citation" id="CITEREFLong1972">Long, Calvin T. (1972), <i>Elementary Introduction to Number Theory</i> (2nd ed.), Lexington: <a href="/wiki/D._C._Heath_and_Company" title="D. C. Heath and Company">D. C. Heath and Company</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Elementary+Introduction+to+Number+Theory&amp;rft.aulast=Long&amp;rft.aufirst=Calvin+T.&amp;rft.au=Long%2C%26%2332%3BCalvin+T.&amp;rft.date=1972&amp;rft.ion=2nd&amp;rft.place=Lexington&amp;rft.pub=%5B%5BD.+C.+Heath+and+Company%5D%5D&amp;rfr_id=info:sid/en.wikipedia.org:Least_common_multiple"><span style="display: none;">&#160;</span></span></li>
</ul>
<ul>
<li><span class="citation" id="CITEREFPettofrezzoByrkit1970">Pettofrezzo, Anthony J.; Byrkit, Donald R. (1970), <i>Elements of Number Theory</i>, Englewood Cliffs: <a href="/wiki/Prentice_Hall" title="Prentice Hall">Prentice Hall</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Elements+of+Number+Theory&amp;rft.aulast=Pettofrezzo&amp;rft.aufirst=Anthony+J.&amp;rft.au=Pettofrezzo%2C%26%2332%3BAnthony+J.&amp;rft.au=Byrkit%2C%26%2332%3BDonald+R.&amp;rft.date=1970&amp;rft.place=Englewood+Cliffs&amp;rft.pub=%5B%5BPrentice+Hall%5D%5D&amp;rfr_id=info:sid/en.wikipedia.org:Least_common_multiple"><span style="display: none;">&#160;</span></span></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Least_common_multiple&amp;action=&amp;section=18" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.utilitymill.com/utility/GCF_and_LCM_Calculator">Online LCM calculator</a></li>
<li><a rel="nofollow" class="external text" href="http://www.calculla.com/eng/lcm">Online LCM and GCD calculator  displays also fractions of given numbers</a></li>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/Curriculum/Arithmetic/LCM.shtml">Algorithm for Computing the LCM</a></li>
<li><a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/LeastCommonMultiple.html">Least Common Multiple from Wolfram MathWorld</a></li>
<li><a rel="nofollow" class="external text" href="http://www.edugain.com/blog/2011/06/26/lcm-of-fractions">LCM of Fractions</a></li>
<li><a rel="nofollow" class="external text" href="http://do-skoly.cz/en/courses/math/m-2/least-common-multiple/calculator.aspx">Advanced Least Common Multiple (LCM) calculator for 2 - 5 numbers.</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 4686/1000000
Post-expand include size: 25497/2048000 bytes
Template argument size: 5717/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:17961-0!0!0!!en!4!* and timestamp 20120410172627 -->
