<div class="dablink">This article is about mathematics.  For computers, see <a href="/wiki/Lowest_common_denominator_(computers)" title="Lowest common denominator (computers)" class="mw-redirect">Lowest common denominator (computers)</a>.</div>
<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Lowest_common_denominator&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(December 2009)</i></small></td>
</tr>
</table>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/lowest_common_denominator">lowest common denominator</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, the <b>lowest common denominator</b> or <b>least common denominator</b> (abbreviated <b>LCD</b>) is the <a href="/wiki/Least_common_multiple" title="Least common multiple">least common multiple</a> of the <a href="/wiki/Denominator" title="Denominator" class="mw-redirect">denominators</a> of a set of <a href="/wiki/Vulgar_fraction" title="Vulgar fraction" class="mw-redirect">vulgar fractions</a>. It is the smallest positive <a href="/wiki/Integer" title="Integer">integer</a> that is a multiple of the denominators.</p>
<p>The term is also used in popular culture with <a href="#Non-mathematical_usage">a different though related meaning</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Examples"><span class="tocnumber">1</span> <span class="toctext">Examples</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Middle_school_instruction"><span class="tocnumber">2</span> <span class="toctext">Middle school instruction</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Non-mathematical_usage"><span class="tocnumber">3</span> <span class="toctext">Non-mathematical usage</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Lowest_common_denominator&amp;action=&amp;section=1" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h2>
<p>The LCD of</p>
<dl>
<dd><img class="tex" alt="\left\{ \frac{5}{12}, \frac{11}{18} \right\}" src="//upload.wikimedia.org/wikipedia/en/math/7/8/8/7886fa16386fb0901fd69d63a36ef184.png" /></dd>
</dl>
<p>is 36 because the <a href="/wiki/Least_common_multiple" title="Least common multiple">least common multiple</a> of 12 and 18 is 36. Likewise the LCD of</p>
<dl>
<dd><img class="tex" alt="\left\{ \frac{5}{6}, \frac{1}{4} \right\}" src="//upload.wikimedia.org/wikipedia/en/math/f/0/a/f0a39ee44cf76da1e2c60ad47a4aa891.png" /></dd>
</dl>
<p>is 12. Using the LCD (or any multiple of it, such as the product of the denominators) as a denominator enables <a href="/wiki/Addition" title="Addition">addition</a>, <a href="/wiki/Subtraction" title="Subtraction">subtraction</a> or comparison of fractions:</p>
<dl>
<dd><img class="tex" alt="\frac{5}{6} - \frac{1}{4} = \frac{10}{12} - \frac{3}{12} = \frac{7}{12};" src="//upload.wikimedia.org/wikipedia/en/math/a/7/3/a73b479c662b83b82aba432e0d5c1a38.png" /></dd>
</dl>
<p><br /></p>
<dl>
<dd><img class="tex" alt="\frac{1}{2} - \frac{1}{3} = \frac{3}{6} - \frac{2}{6} = \frac{1}{6};" src="//upload.wikimedia.org/wikipedia/en/math/0/2/9/029e0725112aaca190e0123e3a7116a5.png" /></dd>
</dl>
<p><br /></p>
<dl>
<dd><img class="tex" alt="\frac{7}{9} &lt; \frac{19}{24}\text{ since }\frac{56}{72} &lt; \frac{57}{72}." src="//upload.wikimedia.org/wikipedia/en/math/2/c/0/2c07dcc197bd9906b1eb132b55a737dc.png" /></dd>
</dl>
<p><br />
The lowest common denominator of two vulgar fractions can be found by <a href="/wiki/Least_common_multiple#Computing_the_least_common_multiple" title="Least common multiple">computing the least common multiple</a> of their denominators.</p>
<h2><span class="section">[<a href="/w/index.php?title=Lowest_common_denominator&amp;action=&amp;section=2" title="Edit section: Middle school instruction"></a>]</span> <span class="mw-headline" id="Middle_school_instruction">Middle school instruction</span></h2>
<p>Some K1 math standards such as the latest revision of the NCTM math standards and <a href="/wiki/Reform_mathematics" title="Reform mathematics">reform mathematics</a> textbooks created since the 1990s de-emphasize or omit coverage of the LCD entirely in favor of finding any common, but not necessarily the lowest common denominator, or by using less powerful methods such as fraction strips or "benchmark" fractions. The "cross-multiply" method of comparing fractions effectively creates a common denominator by multiplying both denominators together.</p>
<p>Algorithm finds lowest common denominator.</p>
<p>Lowest common denominator for 2/9 + 1/4 + 1/6:</p>
<p>Start with the 3 denominators in an upside-down division box. The algorithm uses similar division boxes going downward.</p>
<p>Start with 2 and see if it divides exactly into any of the three denominators. Then go to 3, then 4, then 5, and so on.</p>
<pre>
|_9_4_6_ 
</pre>
<pre>
2|_9_4_6_      2 doesn't go into 9 exactly. 2 goes into 4 two times, and into 6 three times.
</pre>
<pre>
2|_9_2_3_      2 goes into 2 one time.
</pre>
<pre>
3|_9_1_3_      3 is the next divisor. 3 goes into 9 three times, and into 3 one time.
</pre>
<pre>
3|_3_1_1_      3 goes into 3 one time.
</pre>
<pre>
|_1_1_1_
</pre>
<p>The process is to keep dividing the denominators until they reduce to 1. Then ignore the 1's and use the column of divisors as factors which produce the L.C.D.</p>
<pre>
2 x 2 x 3 x 3 = 36 = L.C.D.
</pre>
<h2><span class="section">[<a href="/w/index.php?title=Lowest_common_denominator&amp;action=&amp;section=3" title="Edit section: Non-mathematical usage"></a>]</span> <span class="mw-headline" id="Non-mathematical_usage">Non-mathematical usage</span></h2>
<p>'Lowest common denominator' is often used as a figure of speech meaning the most basic, least sophisticated level of <a href="/wiki/Taste_(sociology)" title="Taste (sociology)">taste</a>, sensibility, or opinion among a group of people.</p>
<h2><span class="section">[<a href="/w/index.php?title=Lowest_common_denominator&amp;action=&amp;section=4" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Greatest_common_divisor" title="Greatest common divisor">Greatest common divisor</a></li>
<li><a href="/wiki/Partial_fraction_expansion" title="Partial fraction expansion" class="mw-redirect">Partial fraction expansion</a>  reverses the process of adding fractions into <i>uncommon</i> denominators.</li>
<li><a href="/wiki/Anomalous_cancellation" title="Anomalous cancellation">Anomalous cancellation</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 747/1000000
Post-expand include size: 8554/2048000 bytes
Template argument size: 3173/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:378200-0!0!0!!en!4!* and timestamp 20120416042505 -->
