<div class="thumb tright">
<div class="thumbinner" style="width:102px;"><a href="/wiki/File:Percent_18e.svg" class="image"><img alt="Percent 18e.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Percent_18e.svg/100px-Percent_18e.svg.png" width="100" height="91" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Percent_18e.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
</div>
</div>
</div>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, a <b>percentage</b> is a way of expressing a number, especially a <a href="/wiki/Ratio" title="Ratio">ratio</a>, as a <a href="/wiki/Fraction" title="Fraction">fraction</a> of 100. The word is derived from the Latin <i>per centum</i> meaning by the hundred.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> It is often denoted using the <a href="/wiki/Percent_sign" title="Percent sign">percent sign</a>, %, or the abbreviation pct. For example, 45% (read as forty-five percent) is equal to <a href="/wiki/Fraction_(mathematics)" title="Fraction (mathematics)">45/100</a>, or <a href="/wiki/Decimals" title="Decimals" class="mw-redirect">0.45</a>. A related system which expresses a number as a fraction of 1000 uses the terms "<a href="/wiki/Per_mil" title="Per mil">per mil</a>" and "millage".</p>
<p>Percentages are used to express how large/small one quantity is, relative to another quantity. The first quantity usually represents a part of, or a change in, the second quantity, which should be greater than zero. For example, an increase of $&#160;0.15 on a price of $&#160;2.50 is an increase by a fraction of 0.15/2.50 = 0.06. Expressed as a percentage, this is therefore a 6% increase.</p>
<p>Although percentages are usually used to express numbers between zero and one, any ratio can be expressed as a percentage. For instance, 111% is 1.11 and 0.35% is 0.0035. Although this is technically inaccurate as per the definition of percent, an alternative wording in terms of a change in an observed value is an increase/decrease by a factor of...</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#History"><span class="tocnumber">1</span> <span class="toctext">History</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Percent_sign"><span class="tocnumber">1.1</span> <span class="toctext">Percent sign</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-3"><a href="#Calculations"><span class="tocnumber">2</span> <span class="toctext">Calculations</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Percentage_increase_and_decrease"><span class="tocnumber">3</span> <span class="toctext">Percentage increase and decrease</span></a>
<ul>
<li class="toclevel-2 tocsection-5"><a href="#Change_in_sign"><span class="tocnumber">3.1</span> <span class="toctext">Change in sign</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-6"><a href="#Word_and_symbol"><span class="tocnumber">4</span> <span class="toctext">Word and symbol</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Related_units"><span class="tocnumber">5</span> <span class="toctext">Related units</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Other_uses"><span class="tocnumber">6</span> <span class="toctext">Other uses</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#Practical_applications"><span class="tocnumber">7</span> <span class="toctext">Practical applications</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#See_also"><span class="tocnumber">8</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#References"><span class="tocnumber">9</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#External_links"><span class="tocnumber">10</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Percentage&amp;action=&amp;section=1" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<p>In <a href="/wiki/Ancient_Rome" title="Ancient Rome">Ancient Rome</a>, long before the existence of the decimal system, computations were often made in fractions which were multiples of 1/100. For example <a href="/wiki/Augustus" title="Augustus">Augustus</a> levied a tax of 1/100 on goods sold at auction known as <i>centesima rerum venalium</i>. Computation with these fractions were similar to computing percentages. As denominations of money grew in the <a href="/wiki/Middle_Ages" title="Middle Ages">Middle Ages</a>, computations with a denominator of 100 become more standard and from the late 15th century to the early 16th century it became common for arithmetic texts to include such computations. Many of these texts applied these methods to profit and loss, interest rates, and the <a href="/wiki/Rule_of_three_(mathematics)" title="Rule of three (mathematics)" class="mw-redirect">Rule of Three</a>. By the 17th century it was standard to quote interest rates in hundredths.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=Percentage&amp;action=&amp;section=2" title="Edit section: Percent sign"></a>]</span> <span class="mw-headline" id="Percent_sign">Percent sign</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Percent_sign#Evolution" title="Percent sign">Percent sign#Evolution</a></div>
<p>The percent sign evolved by gradual contraction of the phrase <i>per cento</i>. The "per" was often abbreviated as "p." and eventually disappeared entirely. The "cento" was contracted to two circles separated by a horizontal line from which the modern "%" is derived.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Percentage&amp;action=&amp;section=3" title="Edit section: Calculations"></a>]</span> <span class="mw-headline" id="Calculations">Calculations</span></h2>
<p>The percent value is computed by multiplying the numeric value of the ratio by 100. For example, to find the percentage of 50 apples out of 1250 apples, first compute the ratio 50/1250 = .04, and then multiply by 100 to obtain 4%. The percent value can also be found by multiplying first, so in this example the 50 would be multiplied by 100 to give 5000, and this result would be divided by 1250 to give 4%.</p>
<p>To calculate a percentage of a percentage, convert both percentages to fractions of 100, or to decimals, and multiply them. For example, 50% of 40% is:</p>
<dl>
<dd><span class="nowrap">(50/100)  (40/100) = 0.50  0.40 = 0.20 = 20/100 = 20%.</span></dd>
</dl>
<p>It is not correct to divide by 100 and use the percent sign at the same time. (E.g. <span class="nowrap">25% = 25/100 = 0.25</span>, not <span class="nowrap">25% / 100</span>, which actually is <span class="nowrap">(25/100) / 100 = 0.0025</span>.)</p>
<p>The easy way to calculate addition in percentage (discount 10% + 5%):</p>
<dl>
<dd><img class="tex" alt="y = (x_1 + x_2) - (x_1 \times x_2)" src="//upload.wikimedia.org/wikipedia/en/math/e/9/4/e947396e79149bb1313e2eadf86d25f1.png" /></dd>
</dl>
<p>For example, if a department store has a "10% + 5% discount," the total discount is not 15% but</p>
<dl>
<dd><img class="tex" alt="y = (10% + 5%) - (10% \times 5%)
  = 15% - 0.5%
  = 14.5%" src="//upload.wikimedia.org/wikipedia/en/math/2/6/9/26912024bea11b47d72e575f875edc22.png" /></dd>
</dl>
<p>Whenever we talk about a percentage, it is important to specify what it is relative to, i.e. what is the total that corresponds to 100%. The following problem illustrates this point.</p>
<dl>
<dd>In a certain college 60% of all students are female, and 10% of all students are computer science majors. If 5% of female students are computer science majors, what percentage of computer science majors are female?</dd>
</dl>
<p>We are asked to compute the <a href="/wiki/Ratio" title="Ratio">ratio</a> of female computer science majors to all computer science majors. We know that 60% of all students are female, and among these 5% are computer science majors, so we conclude that (60/100)  (5/100) = 3/100 or 3% of all students are female computer science majors. Dividing this by the 10% of all students that are computer science majors, we arrive at the answer: 3%/10% = 30/100 or 30% of all computer science majors are female.</p>
<p>This example is closely related to the concept of <a href="/wiki/Conditional_probability" title="Conditional probability">conditional probability</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Percentage&amp;action=&amp;section=4" title="Edit section: Percentage increase and decrease"></a>]</span> <span class="mw-headline" id="Percentage_increase_and_decrease">Percentage increase and decrease</span></h2>
<p>Sometimes due to inconsistent usage, it is not always clear from the context what a percentage is relative to. When speaking of a "10% rise" or a "10% fall" in a quantity, the usual interpretation is that this is relative to the <i>initial value</i> of that quantity. For example, if an item is initially priced at $200 and the price rises 10% (an increase of $20), the new price will be $220. Note that this final price is 110% of the initial price (100% + 10% = 110%).</p>
<p>Some other examples of <a href="/wiki/Percent_difference#Percentage_change" title="Percent difference" class="mw-redirect">percent changes</a>:</p>
<ul>
<li>An increase of 100% in a quantity means that the final amount is 200% of the initial amount (100% of initial + 100% of increase = 200% of initial); in other words, the quantity has doubled.</li>
<li>An increase of 800% means the final amount is 9 times the original (100% + 800% = 900% = 9 times as large).</li>
<li>A decrease of 60% means the final amount is 40% of the original (100%  60% = 40%).</li>
<li>A decrease of 100% means the final amount is <i>zero</i> (100%  100% = 0%).</li>
</ul>
<p>In general, a change of <img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /> percent in a quantity results in a final amount that is <img class="tex" alt="100+x" src="//upload.wikimedia.org/wikipedia/en/math/2/9/c/29c7ceffd70e0ddeea0d8208c7e7376a.png" /> percent of the original amount (equivalently, <img class="tex" alt="1+0.01x" src="//upload.wikimedia.org/wikipedia/en/math/6/5/6/65652b19eee239674cb2c3104bfba754.png" /> times the original amount).</p>
<p>It is important to understand that percent changes, as they have been discussed here, <i>do not add</i> in the usual way, if applied sequentially. For example, if the 10% increase in price considered earlier (on the $200 item, raising its price to $220) is followed by a 10% decrease in the price (a decrease of $22), the final price will be $198, <i>not</i> the original price of $200. The reason for the apparent discrepancy is that the two percent changes (+10% and 10%) are measured relative to <i>different</i> quantities ($200 and $220, respectively), and thus do not "cancel out".</p>
<p>Another common mistake is thinking that working 50% faster means taking 50% less time to complete the task. On this account, 100% faster means twice the speed, so half the time. For example, if one traveled at 50 mph, 100% faster would be 100 mph (taking 50% less time). And 50% faster speed means 33.33% less time to travel the same distance.</p>
<p>In general, if an increase of <img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /> percent is followed by a decrease of <img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /> percent, and the initial amount was <img class="tex" alt="p" src="//upload.wikimedia.org/wikipedia/en/math/8/3/8/83878c91171338902e0fe0fb97a8c47a.png" />, the final amount is <img class="tex" alt="p((1+0.01x)(1-0.01x))=p(1-(0.01x)^2)" src="//upload.wikimedia.org/wikipedia/en/math/9/b/2/9b2deaf06763ceab2ce9ecfe4994d92b.png" />; thus the net change is an overall decrease by <img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /> percent <i>of</i> <img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /> percent (the square of the original percent change when expressed as a decimal number). Thus, in the above example, after an increase and decrease of <img class="tex" alt="x=10" src="//upload.wikimedia.org/wikipedia/en/math/2/8/5/285a5d1baf1b7b84552a0ab4104041b8.png" /> percent, the final amount, $198, was 10% of 10%, or 1%, less than the initial amount of $200.</p>
<p>This can be expanded for a case where you do not have the same percent change. If the initial percent change is <img class="tex" alt="x" src="//upload.wikimedia.org/wikipedia/en/math/9/d/d/9dd4e461268c8034f5c8564e155c67a6.png" /> and the second percent change is <img class="tex" alt="y" src="//upload.wikimedia.org/wikipedia/en/math/4/1/5/415290769594460e2e485922904f345d.png" />, and the initial amount was <img class="tex" alt="p" src="//upload.wikimedia.org/wikipedia/en/math/8/3/8/83878c91171338902e0fe0fb97a8c47a.png" />, then the final amount is <img class="tex" alt="p((1+0.01x)(1+0.01y))" src="//upload.wikimedia.org/wikipedia/en/math/a/0/8/a080a7fb918c9d3aea7b6bf5232987a9.png" />. To change the above example, after an increase of <img class="tex" alt="x=10" src="//upload.wikimedia.org/wikipedia/en/math/2/8/5/285a5d1baf1b7b84552a0ab4104041b8.png" /> and decrease of <img class="tex" alt="y=-5" src="//upload.wikimedia.org/wikipedia/en/math/e/7/4/e74e90827bccae836d92b9af6f45dbbf.png" /> percent, the final amount, $209, is 4.5% more than the initial amount of $200.</p>
<p>In the case of <a href="/wiki/Interest_rate" title="Interest rate">interest rates</a>, it is a common practice to state the percent change differently. If an interest rate rises from 10% to 15%, for example, it is typical to say, "The interest rate increased by 5%"  rather than by 50%, which would be correct when measured as a percentage of the initial rate (i.e., from 0.10 to 0.15 is an increase of 50%). Such ambiguity can be avoided by using the term "<a href="/wiki/Percentage_point" title="Percentage point">percentage points</a>". In the previous example, the interest rate "increased by 5 percentage points" from 10% to 15%. If the rate then drops by 5 percentage points, it will return to the initial rate of 10%, as expected.</p>
<h3><span class="section">[<a href="/w/index.php?title=Percentage&amp;action=&amp;section=5" title="Edit section: Change in sign"></a>]</span> <span class="mw-headline" id="Change_in_sign">Change in sign</span></h3>
<p>When the first number is negative and second number is positive, the percentage change from first number to second number is negative. This often occurs in financial statements that changes from a period of loss to period in profit.</p>
<pre>
Acme Company EBIT
First quarter     (100)
Second quarter     100
Change in profitability (100 - (-100))/(-100) = -200%
</pre>
<p>In expressing a number as a percentage, the base of the comparison cannot be negative. The First number in the above example is the base of the comparison when it is expressed as a positive amount becomes <b>Loss of 100</b>. The change from First quarter loss to Second quarter profit becomes <b>Percentage change in loss by -200% to turn a profit of 100</b>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Percentage&amp;action=&amp;section=6" title="Edit section: Word and symbol"></a>]</span> <span class="mw-headline" id="Word_and_symbol">Word and symbol</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Percent_sign" title="Percent sign">Percent sign</a></div>
<p>In <a href="/wiki/British_English" title="British English">British English</a>, <i>percent</i> is sometimes written as two words (<i>per cent</i>, although <i>percentage</i> and <i>percentile</i> are written as one word).<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup> In <a href="/wiki/American_English" title="American English">American English</a>, <i>percent</i> is the most common variant<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup> (but cf. <i>per mille</i> written as two words).</p>
<p>In the early part of the twentieth century, there was a dotted abbreviation form <i>per cent.,</i> as opposed to <i>per cent</i>. The form per cent. is still in use as a part of the highly formal language found in certain documents like commercial loan agreements (particularly those subject to, or inspired by, common law), as well as in the <a href="/wiki/Hansard" title="Hansard">Hansard</a> transcripts of British Parliamentary proceedings. While the term has been attributed to <a href="/wiki/Latin" title="Latin">Latin</a> <i>per centum</i>, this is a <a href="/wiki/Dog_Latin" title="Dog Latin">pseudo-Latin</a> construction and the term was likely originally adopted from the <a href="/wiki/French_language" title="French language">French</a> <i>pour cent</i>.<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from December 2010">citation needed</span></a></i>]</sup> The concept of considering values as parts of a hundred is originally <a href="/wiki/Ancient_Greece" title="Ancient Greece">Greek</a>. The <a href="/wiki/Percent_sign" title="Percent sign">symbol for percent</a> (%) evolved from a symbol abbreviating the Italian <i>per cento</i>. In some other languages, the form <i>prosent</i> is used instead. Some languages use both a word derived from <i>percent</i> and an expression in that language meaning the same thing, e.g. Romanian <i>procent</i> and <i>la sut</i> (thus, <i>10&#160;%</i> can be read or sometimes written <i>ten for [each] hundred</i>, similarly with the English <i>one out of ten</i>). Other abbreviations are rarer, but sometimes seen.</p>
<p>Grammar and style guides often differ as to how percentages are to be written. For instance, it is commonly suggested that the word percent (or per cent) be spelled out in all texts, as in 1&#160;percent and not 1%. Other guides prefer the word to be written out in humanistic texts, but the symbol to be used in scientific texts. Most guides agree that they always be written with a numeral, as in 5&#160;percent and not five percent, the only exception being at the beginning of a sentence: Ten percent of all writers love style guides. Decimals are also to be used instead of fractions, as in 3.5&#160;percent of the gain and not 3&#160; percent of the gain. It is also widely accepted to use the percent symbol (%) in tabular and graphic material.</p>
<p>In line with common English practice, style guidessuch as the <a href="/wiki/The_Chicago_Manual_of_Style" title="The Chicago Manual of Style">The Chicago Manual of Style</a>generally state that the number and percent sign are written without any space in between.<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup> However, the <a href="/wiki/International_System_of_Units" title="International System of Units">International System of Units</a> and the <a href="/wiki/ISO_31-0" title="ISO 31-0">ISO 31-0</a> standard require a space.<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup><sup id="cite_ref-7" class="reference"><a href="#cite_note-7"><span>[</span>8<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Percentage&amp;action=&amp;section=7" title="Edit section: Related units"></a>]</span> <span class="mw-headline" id="Related_units">Related units</span></h2>
<ul>
<li><a href="/wiki/Percentage_point" title="Percentage point">Percentage point</a></li>
<li><a href="/wiki/Permille" title="Permille" class="mw-redirect">Per mille</a> () 1 part in 1,000</li>
<li><a href="/wiki/Basis_point" title="Basis point">Basis point</a> (<span class="Unicode"></span>) 1 part in 10,000</li>
<li><a href="/wiki/Per_cent_mille" title="Per cent mille">Per cent mille</a> (pcm) 1 part in 100,000</li>
<li><a href="/wiki/Parts-per_notation" title="Parts-per notation">Parts-per notation</a></li>
<li><a href="/wiki/Concentration" title="Concentration">Concentration</a></li>
<li><a href="/wiki/Grade_(slope)" title="Grade (slope)">Grade (slope)</a></li>
<li><a href="/wiki/Per-unit_system" title="Per-unit system">Per-unit system</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Percentage&amp;action=&amp;section=8" title="Edit section: Other uses"></a>]</span> <span class="mw-headline" id="Other_uses">Other uses</span></h2>
<p>The word "percentage" is often misused in the context of sports statistics, when the referenced number is expressed as a decimal proportion, not a percentage: "The <a href="/wiki/Phoenix_Suns" title="Phoenix Suns">Phoenix Suns'</a> <a href="/wiki/Shaquille_O%27Neal" title="Shaquille O'Neal">Shaquille O'Neal</a> led the <a href="/wiki/NBA" title="NBA" class="mw-redirect">NBA</a> with a .609 <a href="/wiki/Field_goal_percentage" title="Field goal percentage">field goal percentage</a> (FG%) during the 2008-09 season." (O'Neal made 60.9% of his shots, not 0.609%.) The practice is probably related to the similar way that <a href="/wiki/Batting_average" title="Batting average">batting averages</a> are quoted.</p>
<p>As "percent" it is used to describe the steepness of the <a href="/wiki/Grade_(slope)" title="Grade (slope)">slope</a> of a <a href="/wiki/Road" title="Road">road</a> or <a href="/wiki/Rail_tracks" title="Rail tracks" class="mw-redirect">railway</a>, formula for which is <img class="tex" alt=" 100 \frac{\text{rise}}{\text{run}}" src="//upload.wikimedia.org/wikipedia/en/math/c/c/b/ccb701acdcb4047751819534aa9c0538.png" /> which could also be expressed as the tangent of the angle of inclination times 100. The is the ratio of distances a vehicle would advance vertically and horizontally, respectively, when going up- or downhill, expressed in percent.</p>
<h2><span class="section">[<a href="/w/index.php?title=Percentage&amp;action=&amp;section=9" title="Edit section: Practical applications"></a>]</span> <span class="mw-headline" id="Practical_applications">Practical applications</span></h2>
<ul>
<li><a href="/wiki/Baker_percentage" title="Baker percentage">Baker percentage</a></li>
<li><a href="/wiki/Volume_percent" title="Volume percent">Volume percent</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Percentage&amp;action=&amp;section=10" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Percent_difference" title="Percent difference" class="mw-redirect">Percent difference</a></li>
<li><a href="/wiki/Percentage_change" title="Percentage change" class="mw-redirect">Percentage change</a></li>
<li><a href="/wiki/Annual_percentage_rate" title="Annual percentage rate">Annual percentage rate</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Percentage&amp;action=&amp;section=11" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">American Heritage Dictionary of the English Language, 3rd ed. (1992) Houghton Mifflin</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><span class="citation book">Smith, D.E. (19511958). <i>History of Mathematics</i>. <b>2</b>. Courier Dover Publications. pp.&#160;247249. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-486-20430-8" title="Special:BookSources/0-486-20430-8">0-486-20430-8</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=History+of+Mathematics&amp;rft.aulast=Smith&amp;rft.aufirst=D.E.&amp;rft.au=Smith%2C%26%2332%3BD.E.&amp;rft.date=1951%E2%88%A81958&amp;rft.volume=2&amp;rft.pages=pp.%26nbsp%3B247%E2%80%93249&amp;rft.pub=Courier+Dover+Publications&amp;rft.isbn=0-486-20430-8&amp;rfr_id=info:sid/en.wikipedia.org:Percentage"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text">Smith p. 250</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><span class="citation web">Brians, Paul. <a rel="nofollow" class="external text" href="http://www.wsu.edu/~brians/errors/percent1.html">"Percent/per cent"</a>. <i>Common Errors in English Usage</i>. Washington State University<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.wsu.edu/~brians/errors/percent1.html">http://www.wsu.edu/~brians/errors/percent1.html</a></span><span class="reference-accessdate">. Retrieved 22 November 2010</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Percent%2Fper+cent&amp;rft.atitle=Common+Errors+in+English+Usage&amp;rft.aulast=Brians&amp;rft.aufirst=Paul&amp;rft.au=Brians%2C%26%2332%3BPaul&amp;rft.pub=Washington+State+University&amp;rft_id=http%3A%2F%2Fwww.wsu.edu%2F%7Ebrians%2Ferrors%2Fpercent1.html&amp;rfr_id=info:sid/en.wikipedia.org:Percentage"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://oxforddictionaries.com/view/entry/m_en_us1276846?rskey=eX1NKq&amp;result=1#m_en_us1276846">"Percent (per cent)"</a>. Oxford Dictionaries<span class="printonly">. <a rel="nofollow" class="external free" href="http://oxforddictionaries.com/view/entry/m_en_us1276846?rskey=eX1NKq&amp;result=1#m_en_us1276846">http://oxforddictionaries.com/view/entry/m_en_us1276846?rskey=eX1NKq&amp;result=1#m_en_us1276846</a></span><span class="reference-accessdate">. Retrieved 22 November 2010</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Percent+%28per+cent%29&amp;rft.atitle=&amp;rft.pub=Oxford+Dictionaries&amp;rft_id=http%3A%2F%2Foxforddictionaries.com%2Fview%2Fentry%2Fm_en_us1276846%3Frskey%3DeX1NKq%26result%3D1%23m_en_us1276846&amp;rfr_id=info:sid/en.wikipedia.org:Percentage"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://www.chicagomanualofstyle.org/">"</a><a href="/wiki/The_Chicago_Manual_of_Style" title="The Chicago Manual of Style">The Chicago Manual of Style</a>". <a href="/wiki/University_of_Chicago_Press" title="University of Chicago Press">University of Chicago Press</a>. 2003<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.chicagomanualofstyle.org/">http://www.chicagomanualofstyle.org/</a></span><span class="reference-accessdate">. Retrieved 2007-01-05</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=%5B%5BThe+Chicago+Manual+of+Style%5D%5D&amp;rft.atitle=&amp;rft.date=2003&amp;rft.pub=%5B%5BUniversity+of+Chicago+Press%5D%5D&amp;rft_id=http%3A%2F%2Fwww.chicagomanualofstyle.org%2F&amp;rfr_id=info:sid/en.wikipedia.org:Percentage"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://www.bipm.org/utils/common/pdf/si_brochure_8.pdf">"The International System of Units"</a>. <a href="/wiki/International_Bureau_of_Weights_and_Measures" title="International Bureau of Weights and Measures">International Bureau of Weights and Measures</a>. 2006<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.bipm.org/utils/common/pdf/si_brochure_8.pdf">http://www.bipm.org/utils/common/pdf/si_brochure_8.pdf</a></span><span class="reference-accessdate">. Retrieved 2007-08-06</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=The+International+System+of+Units&amp;rft.atitle=&amp;rft.date=2006&amp;rft.pub=%5B%5BInternational+Bureau+of+Weights+and+Measures%5D%5D&amp;rft_id=http%3A%2F%2Fwww.bipm.org%2Futils%2Fcommon%2Fpdf%2Fsi_brochure_8.pdf&amp;rfr_id=info:sid/en.wikipedia.org:Percentage"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-7"><b><a href="#cite_ref-7">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://www.iso.org/iso/en/CatalogueDetailPage.CatalogueDetail?CSNUMBER=3621">"ISO 31-0  Quantities and units  Part 0: General principles"</a>. <a href="/wiki/International_Organization_for_Standardization" title="International Organization for Standardization">International Organization for Standardization</a>. 1999-12-22<span class="printonly">. <a rel="nofollow" class="external free" href="http://www.iso.org/iso/en/CatalogueDetailPage.CatalogueDetail?CSNUMBER=3621">http://www.iso.org/iso/en/CatalogueDetailPage.CatalogueDetail?CSNUMBER=3621</a></span><span class="reference-accessdate">. Retrieved 2007-01-05</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=ISO+31-0+%E2%80%94+Quantities+and+units+%E2%80%93+Part+0%3A+General+principles&amp;rft.atitle=&amp;rft.date=1999-12-22&amp;rft.pub=%5B%5BInternational+Organization+for+Standardization%5D%5D&amp;rft_id=http%3A%2F%2Fwww.iso.org%2Fiso%2Fen%2FCatalogueDetailPage.CatalogueDetail%3FCSNUMBER%3D3621&amp;rfr_id=info:sid/en.wikipedia.org:Percentage"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Percentage&amp;action=&amp;section=12" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.khanacademy.org/video/describing-the-meaning-of-percent?playlist=Developmental">Math "Describing the Meaning of Percent"</a> <a href="/wiki/Khan_Academy" title="Khan Academy">Khan Academy</a> module (first of seven)</li>
<li><a rel="nofollow" class="external text" href="http://percentagecalculator.info">Percentage Calculator</a> - an educational tool that helps kids grasp the idea of percentages. It calculates percentages and solves a few related problems on the fly, showing how different formulas relate to each other.</li>
</ul>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/percentage">percentage</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 4838/1000000
Post-expand include size: 26245/2048000 bytes
Template argument size: 9248/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:64493-0!0!0!!en!4!* and timestamp 20120417210121 -->
