<p>In <a href="/wiki/Arithmetic" title="Arithmetic">arithmetic</a>, <b>repeating decimal</b> is a way of representing a <a href="/wiki/Rational_number" title="Rational number">rational number</a>. Thus, a <a href="/wiki/Decimal_representation" title="Decimal representation">decimal representation</a> of a number is called a <b>repeating decimal</b> (or <b>recurring decimal</b>) if at some point it becomes <a href="/wiki/Periodic_function" title="Periodic function">periodic</a>, that is, if there is some finite sequence of digits that is repeated indefinitely. For example, the decimal representation of <span class="nowrap">1/3 = 0.3333333</span> or 0.<span style="text-decoration: overline;">3</span> (spoken as "0.3 repeating", or "0.3 recurring") becomes periodic just after the decimal point, repeating the single-digit sequence "3" <a href="/wiki/Infinite" title="Infinite" class="mw-redirect">infinitely</a>. A somewhat more complicated example is <span class="nowrap">3227/555 = 5.8144144144,</span> where the decimal representation becomes periodic at the second digit after the decimal point, repeating the sequence of digits "144" indefinitely.</p>
<p>Rational numbers are numbers that can be expressed in the form <i>a</i>/<i>b</i> where <i>a</i> and <i>b</i> are <a href="/wiki/Integers" title="Integers" class="mw-redirect">integers</a> and <i>b</i> is non-zero. This form is known as a <a href="/wiki/Common_fraction" title="Common fraction" class="mw-redirect">common fraction</a>. On the one hand, the decimal representation of a rational number is ultimately periodic, as explained <a href="#Every_rational_number_is_either_a_terminating_or_repeating_decimal">below</a>. On the other hand every real number which has an eventually periodic decimal expansion is a rational number. In other words the numbers with eventually repeating decimal expansions are exactly the rational numbers.</p>
<p>A decimal representation written with a repeating final 0 is said to <i>terminate</i> before these zeros. Instead of "1.585000" one simply writes "1.585".<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> The decimal is also called a <b>terminating decimal</b>. Terminating decimals represent <a href="/wiki/Rational_number" title="Rational number">rational numbers</a> of the form <i>k</i>/(2<sup><i>n</i></sup>5<sup><i>m</i></sup>). For example, <span class="nowrap">1.585 = 317/200 = 317/(2<sup>3</sup>5<sup>2</sup>)</span>. A terminating decimal can be written as a <a href="/wiki/Decimal_fraction" title="Decimal fraction" class="mw-redirect">decimal fraction</a>: <span class="nowrap">317/200 = 1585/1000</span>. However, a terminating decimal also has a second representation as a repeating decimal, obtained by decreasing the final (nonzero) digit by one and appending an infinitely repeating sequence of nines, a phenomenon students typically find puzzling (see <a href="/wiki/List_of_common_misconceptions#Mathematics" title="List of common misconceptions">List of common misconceptions#Mathematics</a>). <a href="/wiki/0.999%E2%80%A6" title="0.999" class="mw-redirect"><span class="nowrap">1 = 0.999999</span></a> and <span class="nowrap">1.585 = 1.584999999</span> are two examples of this. This type of repeating decimal can be obtained by long division if one uses a modified form of the usual <a href="/wiki/Division_algorithm" title="Division algorithm">division algorithm</a>.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<p>A decimal that is neither terminating nor repeating represents an <a href="/wiki/Irrational_number" title="Irrational number">irrational number</a> (which cannot be expressed as a fraction of two integers), such as the <a href="/wiki/Square_root_of_2" title="Square root of 2">square root of 2</a> or the number <a href="/wiki/%CE%A0" title="" class="mw-redirect"></a>. Conversely, an irrational number always has a non-repeating decimal representation.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Background"><span class="tocnumber">1</span> <span class="toctext">Background</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Notation"><span class="tocnumber">1.1</span> <span class="toctext">Notation</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Decimal_expansion_and_recurrence_sequence"><span class="tocnumber">1.2</span> <span class="toctext">Decimal expansion and recurrence sequence</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Every_rational_number_is_either_a_terminating_or_repeating_decimal"><span class="tocnumber">1.3</span> <span class="toctext">Every rational number is either a terminating or repeating decimal</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Every_repeating_or_terminating_decimal_is_a_rational_number"><span class="tocnumber">1.4</span> <span class="toctext">Every repeating or terminating decimal is a rational number</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-6"><a href="#Fractions_with_prime_denominators"><span class="tocnumber">2</span> <span class="toctext">Fractions with prime denominators</span></a>
<ul>
<li class="toclevel-2 tocsection-7"><a href="#Cyclic_numbers"><span class="tocnumber">2.1</span> <span class="toctext">Cyclic numbers</span></a></li>
<li class="toclevel-2 tocsection-8"><a href="#Other_reciprocals_of_primes"><span class="tocnumber">2.2</span> <span class="toctext">Other reciprocals of primes</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-9"><a href="#Reciprocals_of_composite_integers_coprime_to_10"><span class="tocnumber">3</span> <span class="toctext">Reciprocals of composite integers coprime to 10</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#Reciprocals_of_integers_not_co-prime_to_10"><span class="tocnumber">4</span> <span class="toctext">Reciprocals of integers not co-prime to 10</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#Converting_repeating_decimals_to_fractions"><span class="tocnumber">5</span> <span class="toctext">Converting repeating decimals to fractions</span></a>
<ul>
<li class="toclevel-2 tocsection-12"><a href="#A_shortcut"><span class="tocnumber">5.1</span> <span class="toctext">A shortcut</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-13"><a href="#Repeating_decimals_as_an_infinite_series"><span class="tocnumber">6</span> <span class="toctext">Repeating decimals as an infinite series</span></a></li>
<li class="toclevel-1 tocsection-14"><a href="#Multiplication_and_cyclic_permutation"><span class="tocnumber">7</span> <span class="toctext">Multiplication and cyclic permutation</span></a></li>
<li class="toclevel-1 tocsection-15"><a href="#Other_properties_of_repetend_lengths"><span class="tocnumber">8</span> <span class="toctext">Other properties of repetend lengths</span></a></li>
<li class="toclevel-1 tocsection-16"><a href="#See_also"><span class="tocnumber">9</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-17"><a href="#References"><span class="tocnumber">10</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-18"><a href="#External_links"><span class="tocnumber">11</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=1" title="Edit section: Background"></a>]</span> <span class="mw-headline" id="Background">Background</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=2" title="Edit section: Notation"></a>]</span> <span class="mw-headline" id="Notation">Notation</span></h3>
<p>One convention to indicate a repeating decimal is to put a horizontal line (known as a <a href="/wiki/Vinculum_(symbol)" title="Vinculum (symbol)">vinculum</a>) above the repeated numerals (<img class="tex" alt="\tfrac{1}{3}=0.\overline{3}" src="//upload.wikimedia.org/wikipedia/en/math/0/a/1/0a1d8d60c3d6ad7bee122e9f0afc89f5.png" />). Another convention is to place dots above the outermost numerals of the repeating digits. Where those methods are impossible, the extension may be represented by an <a href="/wiki/Ellipsis" title="Ellipsis">ellipsis</a> (), although this may introduce uncertainty as to exactly which digits should be repeated. Another notation, used for example in Europe and China, encloses the repeating digits in brackets.</p>
<table class="wikitable">
<tr>
<th>Fraction</th>
<th>Ellipsis</th>
<th>Vinculum</th>
<th>Dots</th>
<th>Brackets</th>
</tr>
<tr>
<td align="center">1/9</td>
<td>0.111</td>
<td>0.<span style="text-decoration: overline;">1</span></td>
<td><img class="tex" alt="0.\dot{1}" src="//upload.wikimedia.org/wikipedia/en/math/6/0/d/60d262dfc59fa49fa2664e0480aa9e10.png" /></td>
<td>0.(1)</td>
</tr>
<tr>
<td align="center">1/3</td>
<td>0.333</td>
<td>0.<span style="text-decoration: overline;">3</span></td>
<td><img class="tex" alt="0.\dot{3}" src="//upload.wikimedia.org/wikipedia/en/math/0/d/3/0d3eb90b7d38b59524bdf68d57781359.png" /></td>
<td>0.(3)</td>
</tr>
<tr>
<td align="center">2/3</td>
<td>0.666</td>
<td>0.<span style="text-decoration: overline;">6</span></td>
<td><img class="tex" alt="0.\dot{6}" src="//upload.wikimedia.org/wikipedia/en/math/2/1/9/21954912968e2fc76307ef65fcfb71a7.png" /></td>
<td>0.(6)</td>
</tr>
<tr>
<td align="center">9/11</td>
<td>0.8181</td>
<td>0.<span style="text-decoration: overline;">81</span></td>
<td><img class="tex" alt="0.\dot{8}\dot{1}" src="//upload.wikimedia.org/wikipedia/en/math/3/9/f/39f5e0a20672b18d880af896bdf19a9b.png" /></td>
<td>0.(81)</td>
</tr>
<tr>
<td align="center">7/12</td>
<td>0.58333</td>
<td>0.58<span style="text-decoration: overline;">3</span></td>
<td><img class="tex" alt="0.58\dot{3}" src="//upload.wikimedia.org/wikipedia/en/math/e/8/7/e87040c5a87b78045e315eff2a1063ec.png" /></td>
<td>0.58(3)</td>
</tr>
<tr>
<td align="center">1/81</td>
<td>0.012345679</td>
<td>0.<span style="text-decoration: overline;">012345679</span></td>
<td><img class="tex" alt="0.\dot{0}1234567\dot{9}" src="//upload.wikimedia.org/wikipedia/en/math/c/4/1/c416b48c5cfc41bb1922c855821fe74c.png" /></td>
<td>0.(012345679)</td>
</tr>
<tr>
<td align="center">22/7</td>
<td>3.142857142857</td>
<td>3.<span style="text-decoration: overline;">142857</span></td>
<td><img class="tex" alt="3.\dot{1}4285\dot{7}" src="//upload.wikimedia.org/wikipedia/en/math/e/5/e/e5e1ead1ec9d69845175ff05dcfb0930.png" /></td>
<td>3.(142857)</td>
</tr>
</table>
<h3><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=3" title="Edit section: Decimal expansion and recurrence sequence"></a>]</span> <span class="mw-headline" id="Decimal_expansion_and_recurrence_sequence">Decimal expansion and recurrence sequence</span></h3>
<p>In order to convert a <a href="/wiki/Rational_number" title="Rational number">rational number</a> represented as a fraction into decimal form, one may use <a href="/wiki/Long_division" title="Long division">long division</a>. For example, consider the rational number 5/74:</p>
<pre>
      <u>  0.0675</u>
   74 ) 5.00000
        <u>4.44</u>
          560
          <u>518</u>
           420
           <u>370</u>
            500
</pre>
<p>etc. Observe that at each step we have a remainder; the successive remainders displayed above are 56, 42, 50. When we arrive at 50 as the remainder, and bring down the "0", we find ourselves dividing 500 by 74, which is the same problem we began with. Therefore the decimal repeats:&#160;0.0675&#160;675&#160;675&#160;.</p>
<h3><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=4" title="Edit section: Every rational number is either a terminating or repeating decimal"></a>]</span> <span class="mw-headline" id="Every_rational_number_is_either_a_terminating_or_repeating_decimal">Every rational number is either a terminating or repeating decimal</span></h3>
<p>Only finitely many different remainders can occur. In the example above, the 74 possible remainders are 0,&#160;1,&#160;2,&#160;,&#160;73. If at any point in the division the remainder is 0, the expansion terminates at that point. If 0 never occurs as a remainder, then the division process continues forever, and eventually a remainder must occur that has occurred before. The next step in the division will yield the same new digit in the quotient, and the same new remainder, as the previous time the remainder was the same. Therefore the following division will repeat the same results.</p>
<h3><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=5" title="Edit section: Every repeating or terminating decimal is a rational number"></a>]</span> <span class="mw-headline" id="Every_repeating_or_terminating_decimal_is_a_rational_number">Every repeating or terminating decimal is a rational number</span></h3>
<p>Each repeating decimal number satisfies a <a href="/wiki/Linear_equation" title="Linear equation">linear equation</a> with integer coefficients, and its unique solution is a rational number. To illustrate the latter point, the number <span class="nowrap"> = 5.8144144144</span> above satisfies the equation <span class="nowrap">10000  10 = 58144.144144  58.144144 = 58086,</span> whose solution is <span class="nowrap"> = 58086/9990 = 3227/555</span>. The process of how to find these integer coefficients is described <a href="#Converting_repeating_decimals_to_fractions">below</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=6" title="Edit section: Fractions with prime denominators"></a>]</span> <span class="mw-headline" id="Fractions_with_prime_denominators">Fractions with prime denominators</span></h2>
<p>A fraction <a href="/wiki/In_lowest_terms" title="In lowest terms" class="mw-redirect">in lowest terms</a> with a <a href="/wiki/Prime_number" title="Prime number">prime</a> denominator other than 2 or 5 (i.e. <a href="/wiki/Coprime" title="Coprime">coprime</a> to 10) always produces a repeating decimal. The period of the repeating decimal of 1/<i>p</i> is equal to the <a href="/wiki/Order_(number_theory)" title="Order (number theory)" class="mw-redirect">order</a> of 10 modulo <i>p</i>. If 10 is a <a href="/wiki/Primitive_root_modulo_n" title="Primitive root modulo n">primitive root</a> modulo <i>p</i>, the period is equal to <i>p</i>&#160;&#160;1; if not, the period is a factor of <i>p</i>&#160;&#160;1. This result can be deduced from <a href="/wiki/Fermat%27s_little_theorem" title="Fermat's little theorem">Fermat's little theorem</a>, which states that 10<sup><i>p</i>1</sup>&#160;=&#160;1 (mod&#160;<i>p</i>).</p>
<p>The base-10 repetend (the repeating decimal part) of the reciprocal of any prime number greater than 5 is divisible by 9.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=7" title="Edit section: Cyclic numbers"></a>]</span> <span class="mw-headline" id="Cyclic_numbers">Cyclic numbers</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Cyclic_number" title="Cyclic number">Cyclic number</a></div>
<p>If the period of the repeating decimal of 1/<i>p</i> for prime <i>p</i> is equal to <i>p</i>&#160;&#160;1 then the repeating decimal part is called a <b>cyclic number</b>.</p>
<p>Examples of fractions belonging to this group are:</p>
<ul>
<li>1/7 = 0.<span style="text-decoration: overline;">142857</span> &#160;; 6 repeating digits</li>
<li>1/17 = 0.<span style="text-decoration: overline;">05882352 94117647</span> &#160;; 16 repeating digits</li>
<li>1/19 = 0.<span style="text-decoration: overline;">052631578 947368421</span> &#160;; 18 repeating digits</li>
<li>1/23 = 0.<span style="text-decoration: overline;">04347826086 95652173913</span> &#160;; 22 repeating digits</li>
<li>1/29 = 0.<span style="text-decoration: overline;">0344827 5862068 9655172 4137931</span> &#160;; 28 repeating digits</li>
<li>1/97 = 0.<span style="text-decoration: overline;">01030927 83505154 63917525 77319587 62886597 93814432 98969072 16494845 36082474 22680412 37113402 06185567</span> &#160;; 96 repeating digits</li>
</ul>
<p>The list can go on to include the fractions 1/47, 1/59, 1/61, 1/109, etc.</p>
<p>Every <i>proper</i> multiple of a cyclic number (that is, a multiple having the same number of digits) is a rotation.</p>
<ul>
<li>1/7 = 1  0.142857 = 0.142857</li>
<li>3/7 = 3  0.142857 = 0.428571</li>
<li>2/7 = 2  0.142857 = 0.285714</li>
<li>6/7 = 6  0.142857 = 0.857142</li>
<li>4/7 = 4  0.142857 = 0.571428</li>
<li>5/7 = 5  0.142857 = 0.714285</li>
</ul>
<p>See also the article <a href="/wiki/142857" title="142857" class="mw-redirect">142857</a> for more properties.</p>
<h3><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=8" title="Edit section: Other reciprocals of primes"></a>]</span> <span class="mw-headline" id="Other_reciprocals_of_primes">Other reciprocals of primes</span></h3>
<p>Some reciprocals of primes that do not generate cyclic numbers are:</p>
<ul>
<li>1/3 = 0.333 which has a period of 1.</li>
<li>1/11 = 0.090909 which has a period of 2.</li>
<li>1/13 = 0.076923 which has a period of 6.</li>
</ul>
<p>The multiples of 1/13 can be divided into two sets, with different repeating decimal parts. The first set is:</p>
<ul>
<li>1/13 = 0.076923</li>
<li>10/13 = 0.769230</li>
<li>9/13 = 0.692307</li>
<li>12/13 = 0.923076</li>
<li>3/13 = 0.230769</li>
<li>4/13 = 0.307692</li>
</ul>
<p>where the repeating decimal part of each fraction is a cyclic re-arrangement of 076923. The second set is:</p>
<ul>
<li>2/13 = 0.153846</li>
<li>7/13 = 0.538461</li>
<li>5/13 = 0.384615</li>
<li>11/13 = 0.846153</li>
<li>6/13 = 0.461538</li>
<li>8/13 = 0.615384</li>
</ul>
<p>where the repeating decimal part of each fraction is a cyclic re-arrangement of 153846.</p>
<p>In general, the set of reciprocals of a prime <i>p</i> will consist of <i>n</i> sets each with period&#160;<i>k</i>, where&#160;<i>nk</i>&#160;=&#160;<i>p</i>&#160;&#160;1.</p>
<h2><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=9" title="Edit section: Reciprocals of composite integers coprime to 10"></a>]</span> <span class="mw-headline" id="Reciprocals_of_composite_integers_coprime_to_10">Reciprocals of composite integers coprime to 10</span></h2>
<p>If <i>p</i> is a prime other than 2 or 5, the decimal representation of the fraction <img class="tex" alt="\tfrac{1}{p^2}" src="//upload.wikimedia.org/wikipedia/en/math/c/9/c/c9c7c8a164af74374f2843ef0de0a893.png" /> has a specific period e.g.:</p>
<dl>
<dd>1/<b>49</b> = 0.<span style="text-decoration: overline;">0204081 6326530 6122448 9795918 3673469 3877551</span></dd>
</dl>
<p>The period of the repeating decimal must be a factor of (49)&#160;=&#160;42, where (<i>n</i>) is known as the <a href="/wiki/Carmichael_function" title="Carmichael function">Carmichael function</a>. This follows from <a href="/wiki/Carmichael_function" title="Carmichael function">Carmichael's theorem</a>, which states that: if <i>n</i> is a positive integer then (<i>n</i>) is the smallest integer <i>m</i> such that</p>
<dl>
<dd><img class="tex" alt="a^m \equiv 1 \pmod{n}" src="//upload.wikimedia.org/wikipedia/en/math/8/9/3/893263ce130f626fa194d79e4f25487b.png" /></dd>
</dl>
<p>for every integer <i>a</i> that is <a href="/wiki/Coprime" title="Coprime">coprime</a> to <i>n</i>.</p>
<p>The period of the repeating decimal of <img class="tex" alt="\tfrac{1}{p^2}" src="//upload.wikimedia.org/wikipedia/en/math/c/9/c/c9c7c8a164af74374f2843ef0de0a893.png" /> is usually <i>pT</i><sub><i>p</i></sub> where <i>T</i><sub><i>p</i></sub> is the period of the repeating decimal of <img class="tex" alt="\tfrac{1}{p}" src="//upload.wikimedia.org/wikipedia/en/math/4/f/a/4fa06dde3230a234e73872f273b94300.png" />. There are three known primes for which this is not true, and for which the period of <img class="tex" alt="\tfrac{1}{p^2}" src="//upload.wikimedia.org/wikipedia/en/math/c/9/c/c9c7c8a164af74374f2843ef0de0a893.png" /> is the same as the period of <img class="tex" alt="\tfrac{1}{p}" src="//upload.wikimedia.org/wikipedia/en/math/4/f/a/4fa06dde3230a234e73872f273b94300.png" /> because <i>p</i><sup>2</sup> divides 10<sup><i>p</i>1</sup>1; they are 3, 487 and 56598313 (sequence <span class="nowrap"><a href="//oeis.org/A045616" class="extiw" title="oeis:A045616">A045616</a></span> in <a href="/wiki/On-Line_Encyclopedia_of_Integer_Sequences" title="On-Line Encyclopedia of Integer Sequences">OEIS</a>).<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup></p>
<p>Similarly, the period of the repeating decimal of <img class="tex" alt="\tfrac{1}{p^k}" src="//upload.wikimedia.org/wikipedia/en/math/8/f/c/8fc7c494231c7140f4788d8ba673d828.png" /> is usually <i>p</i><sup><i>k</i>1</sup>T<sub>p</sub></p>
<p>If <i>p</i> and <i>q</i> are primes other than 2 or 5, the decimal representation of the fraction <img class="tex" alt="\tfrac{1}{p \ q}" src="//upload.wikimedia.org/wikipedia/en/math/f/e/b/feb4741b09aea311dd07f6cd915098b5.png" /> has a specific period. An example is 1/119:</p>
<dl>
<dd><b>119</b> = 7  17</dd>
<dd>(7  17) = LCM((7), (17))
<dl>
<dd>= LCM(6, 16)</dd>
<dd>= 48</dd>
</dl>
</dd>
</dl>
<p>where LCM denotes the <a href="/wiki/Least_common_multiple" title="Least common multiple">least common multiple</a>.</p>
<p>The period <i>T</i> of <img class="tex" alt="\tfrac{1}{p \ q}" src="//upload.wikimedia.org/wikipedia/en/math/f/e/b/feb4741b09aea311dd07f6cd915098b5.png" /> is a factor of (<i>pq</i>) and it happens to be 48 in this case:</p>
<dl>
<dd>1/119 = 0.<span style="text-decoration: overline;">00840336 13445378 15126050 42016806 72268907 56302521</span></dd>
</dl>
<p>The period <i>T</i> of the repeating decimal of <img class="tex" alt="\tfrac{1}{p \ q}" src="//upload.wikimedia.org/wikipedia/en/math/f/e/b/feb4741b09aea311dd07f6cd915098b5.png" /> is LCM(<i>T</i><sub><i>p</i></sub>,&#160;<i>T</i><sub><i>q</i></sub>) where <i>T</i><sub><i>p</i></sub> is the period of the repeating decimal of <img class="tex" alt="\tfrac{1}{p}" src="//upload.wikimedia.org/wikipedia/en/math/4/f/a/4fa06dde3230a234e73872f273b94300.png" /> and <i>T</i><sub><i>q</i></sub> is the period of the repeating decimal of <img class="tex" alt="\tfrac{1}{q}" src="//upload.wikimedia.org/wikipedia/en/math/6/5/5/65595a07423a234320af28395968b63d.png" />.</p>
<p>If <i>p</i> , <i>q</i>, <i>r</i> etc. are primes other than 2 or 5, and <i>k</i> , <i></i>, <i>m</i> etc. are positive integers then <img class="tex" alt="\frac{1}{p^k q^\ell r^m \cdots }" src="//upload.wikimedia.org/wikipedia/en/math/1/e/d/1edc7f74c5f42d46561e72f262f34a84.png" /> is a repeating decimal with a period of <img class="tex" alt="\mathrm{LCM}(T_{p^k}, T_{q^\ell}, T_{r^m}, \ldots)" src="//upload.wikimedia.org/wikipedia/en/math/f/0/b/f0bb4bc64a5f6a50fc6c9876936a46ac.png" /> where <img class="tex" alt="T_{p^k},\ T_{q^\ell},\ T_{r^m}" src="//upload.wikimedia.org/wikipedia/en/math/a/6/f/a6f939b7d6dd8d902e3fa66ba40fe825.png" />, etc. are respectively the periods of the repeating decimals <img class="tex" alt="\frac{1}{p^k},\ \frac{1}{q^\ell},\ \frac{1}{r^m},\ " src="//upload.wikimedia.org/wikipedia/en/math/b/c/c/bcce83c2f5e1b5389f9e4d6a86de582f.png" /> etc. as defined above.</p>
<h2><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=10" title="Edit section: Reciprocals of integers not co-prime to 10"></a>]</span> <span class="mw-headline" id="Reciprocals_of_integers_not_co-prime_to_10">Reciprocals of integers not co-prime to 10</span></h2>
<p>An integer that is not co-prime to 10 but has a prime factor other than 2 or 5 has a reciprocal that is eventually periodic, but with a non-repeating sequence of digits that precede the repeating part. The reciprocal can be expressed as:</p>
<dl>
<dd><img class="tex" alt="\frac{1}{2^a 5^b p^k q^\ell \cdots}\, ," src="//upload.wikimedia.org/wikipedia/en/math/a/d/3/ad34122c63165e57c09d7b964f90e881.png" /></dd>
</dl>
<p>where <i>a</i> and <i>b</i> are not both zero.</p>
<p>This fraction can also be expressed as:</p>
<dl>
<dd><img class="tex" alt="\frac{5^{a-b}}{10^a p^k q^\ell \cdots}\, ," src="//upload.wikimedia.org/wikipedia/en/math/2/2/6/226552d822d9c2f80c0d16ba0aa198dc.png" /></dd>
</dl>
<p>if <i>a</i> &gt; <i>b</i>, or as</p>
<dl>
<dd><img class="tex" alt="\frac{2^{b-a}}{10^b p^k q^\ell \cdots}\, ," src="//upload.wikimedia.org/wikipedia/en/math/c/7/a/c7af37c3ae36652260597fa6dfb7549e.png" /></dd>
</dl>
<p>if <i>b</i> &gt; <i>a</i>, or as</p>
<dl>
<dd><img class="tex" alt="\frac{1}{10^a p^k q^\ell \cdots}\, ," src="//upload.wikimedia.org/wikipedia/en/math/9/7/5/97587ec368ab18f86074dce1a2bf2702.png" /></dd>
</dl>
<p>if <i>a</i> = <i>b</i>.</p>
<p>The decimal has:</p>
<ul>
<li>An initial transient of max(<i>a</i>,&#160;<i>b</i>) digits after the decimal point. Some or all of the digits in the transient can be zeros.</li>
<li>A subsequent repetend which is the same as that for the fraction <img class="tex" alt="\frac{1}{p^k q^\ell \cdots}" src="//upload.wikimedia.org/wikipedia/en/math/9/8/d/98dd0822adeadbdac2b06aa13c95393b.png" />.</li>
</ul>
<p>For example 1/28 = 0.03571428571428:</p>
<ul>
<li>the initial non-repeating digits are 03; and</li>
<li>the subsequent repeating digits are 571428.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=11" title="Edit section: Converting repeating decimals to fractions"></a>]</span> <span class="mw-headline" id="Converting_repeating_decimals_to_fractions">Converting repeating decimals to fractions</span></h2>
<p>Given a repeating decimal, it is possible to calculate the fraction that produced it. For example:</p>
<dl>
<dd><img class="tex" alt="\begin{alignat}2
   x &amp;= 0.333333\ldots\\
 10x &amp;= 3.333333\ldots&amp;\quad&amp;\text{(multiplying each side of the above line by 10)}\\
  9x &amp;= 3          &amp;&amp;\text{(subtracting the 1st line from the 2nd)}\\
   x &amp;= 3/9 = 1/3   &amp;&amp;\text{(reducing to lowest terms)}\\
\end{alignat}" src="//upload.wikimedia.org/wikipedia/en/math/5/b/1/5b1338c9ddd730fdac506ccf9f0758ba.png" /></dd>
</dl>
<p>Another example:</p>
<dl>
<dd><img class="tex" alt="\begin{align}
    x &amp;=   0.836363636\ldots\\
  10x &amp;= 8.3636363636\ldots\text{(multiplying by a power of 10 to move decimal to start of repetition)}\\
1000x &amp;= 836.36363636\ldots\text{(multiplying by a power of 10 to move decimal to end of first repeating decimal)}\\
 990x &amp;= 836.36363636\ldots - 8.36363636\ldots = 828 \text{   (subtracting to clear decimals)}\\
    x &amp;= \frac{828}{990} = \frac{18 \times 46}{18 \times 55} = \frac{46}{55}.
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/e/b/2/eb25481407d90db7c62c181e6c30ee76.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=12" title="Edit section: A shortcut"></a>]</span> <span class="mw-headline" id="A_shortcut">A shortcut</span></h3>
<p>The above argument can be applied in particular if the repeating sequence has <i>n</i> digits, all of which are 0 except the final one which is 1. For instance for <i>n</i>&#160;=&#160;7:</p>
<dl>
<dd><img class="tex" alt="\begin{align}
    x &amp;=   0.000000100000010000001\ldots \\
 10^7x &amp;= 1.000000100000010000001\ldots \\
  (10^7-1)x=9999999x &amp;= 1 \\
    x &amp;= {1 \over 10^7-1} = {1 \over9999999}
\end{align}" src="//upload.wikimedia.org/wikipedia/en/math/5/b/6/5b66b5b5e844e7ca47a4a6801d5ab969.png" /></dd>
</dl>
<p>So this particular repeating decimal corresponds to the fraction 1/(10<sup><i>n</i></sup>&#160;&#160;1), where the denominator is the number written as <i>n</i> digits 9. Knowing just that, a general repeating decimal can be expressed as a fraction without having to solve an equation. For example, one could reason:</p>
<dl>
<dd><img class="tex" alt="
\begin{align}
7.48181818\ldots &amp; = 7.3 + 0.18181818\ldots \\[8pt]
&amp; = \frac{73}{10}+\frac{18}{99} = \frac{73}{10} + \frac{9\times2}{9\times 11}
= \frac{73}{10} + \frac{2}{11} \\[12pt]
&amp; = \frac{11\times73 + 10\times2}{10\times 11} = \frac{823}{110}
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/c/6/e/c6eed362326234e0b7e2a7a32a266475.png" /></dd>
</dl>
<p>It is possible to get a general formula expressing a repeating decimal with an <i>n</i> digit period, beginning right after the decimal point, as a fraction:</p>
<p><i>x</i> = 0.(<i>A</i><sub>1</sub><i>A</i><sub>2</sub><i>A</i><sub><i>n</i></sub>)</p>
<p>10<sup><i>n</i></sup><i>x</i> = <i>A</i><sub>1</sub><i>A</i><sub>2</sub><i>A</i><sub><i>n</i></sub>.(<i>A</i><sub>1</sub><i>A</i><sub>2</sub><i>A</i><sub><i>n</i></sub>)</p>
<p>(10<sup><i>n</i></sup> - 1)<i>x</i> = 9999<i>x</i> = <i>A</i><sub>1</sub><i>A</i><sub>2</sub><i>A</i><sub><i>n</i></sub></p>
<p><i>x</i> = <i>A</i><sub>1</sub><i>A</i><sub>2</sub><i>A</i><sub><i>n</i></sub>/(10<sup><i>n</i></sup> - 1)</p>
<p>= <i>A</i><sub>1</sub><i>A</i><sub>2</sub><i>A</i><sub><i>n</i></sub>/9999</p>
<p>More explicitly one gets the following cases.</p>
<p>If the repeating decimal is between 0 and 1, and the repeating block is <i>n</i> digits long, first occurring right after the decimal point, then the fraction (not necessarily reduced) will be the integer number represented by the <i>n</i>-digit block divided by the one represented by <i>n</i> digits 9. For example,</p>
<ul>
<li>0.444444 = 4/9 since the repeating block is 4 (a 1-digit block),</li>
<li>0.565656 = 56/99 since the repeating block is 56 (a 2-digit block),</li>
<li>0.012012 = 12/999 since the repeating block is 012 (a 3-digit block), and this further reduces to 4/333.</li>
<li>0.9999999 = 9/9 = 1, since the repeating block is 9 (also a 1-digit block)</li>
</ul>
<p>If the repeating decimal is as above, except that there are <i>k</i> (extra) digits 0 between the decimal point and the repeating <i>n</i>-digit block, then one can simply add <i>k</i> digits 0 after the <i>n</i> digits 9 of the denominator (and as before the fraction may subsequently be simplified). For example,</p>
<ul>
<li>0.000444 = 4/9000 since the repeating block is 4 and this block is preceded by 3 zeros,</li>
<li>0.005656 = 56/9900 since the repeating block is 56 and it is preceded by 2 zeros,</li>
<li>0.00012012 = 12/99900 = 2/16650 since the repeating block is 012 and it is preceded by 2 (!) zeros.</li>
</ul>
<p>Any repeating decimal not of the form described above can be written as a sum of a terminating decimal and a repeating decimal of one of the two above types (actually the first type suffices, but that could require the terminating decimal to be negative). For example,</p>
<ul>
<li>1.23444 = 1.23 + 0.00444 = 123/100 + 4/900 = 1107/900 + 4/900 = 1111/900 or alternatively 1.23444 = 0.79 + 0.44444 = 79/100 + 4/9 = 711/900 + 400/900 = 1111/900</li>
<li>0.3789789 = 0.3 + 0.0789789 = 3/10 + 789/9990 = 2997/9990 + 789/9990 = 3786/9990 = 631/1665 or alternatively 0.3789789 = 0.6 + 0.9789789 = 6/10 + 978/999 = 5994/9990 + 9780/9990 = 3786/9990 = 631/1665</li>
</ul>
<p>It follows that any repeating decimal with <a href="/wiki/Periodic_function" title="Periodic function">period</a> <i>n</i>, and <i>k</i> digits after the decimal point that do not belong to the repeating part, can be written as a (not necessarily reduced) fraction whose denominator is (10<sup><i>n</i></sup>&#160;&#160;1)10<sup><i>k</i></sup>.</p>
<p>Conversely the period of the repeating decimal of a fraction <i>c</i>/<i>d</i> will be (at most) the smallest number <i>n</i> such that 10<sup><i>n</i></sup>&#160;&#160;1 is divisible by <i>d</i>.</p>
<p>For example, the fraction 2/7 has <i>d</i> = 7, and the smallest <i>k</i> that makes 10<sup><i>k</i></sup>&#160;&#160;1 divisible by 7 is <i>k</i> = 6, because 999999 = 7&#160;&#160;142857. The period of the fraction 2/7 is therefore 6.</p>
<h2><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=13" title="Edit section: Repeating decimals as an infinite series"></a>]</span> <span class="mw-headline" id="Repeating_decimals_as_an_infinite_series">Repeating decimals as an infinite series</span></h2>
<p>Repeating decimals can also be expressed as an <a href="/wiki/Infinite_series" title="Infinite series" class="mw-redirect">infinite series</a>. That is, repeating decimals can be shown to be a sum of a <a href="/wiki/Sequence" title="Sequence">sequence</a> of numbers. To take the simplest example,</p>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\sum_{n=1}^\infty \frac{1}{10^n} = {1 \over 10} + {1 \over 100} + {1 \over 1000} + \cdots = 0.\overline{1}" src="//upload.wikimedia.org/wikipedia/en/math/6/4/b/64b14c3b8e51518ca75f55b0cd5ecc05.png" /></dd>
</dl>
</dd>
</dl>
<p>The above series is a <a href="/wiki/Geometric_series" title="Geometric series">geometric series</a> with the first term as 1/10 and the common factor 1/10. Because the absolute value of the common factor is less than 1, we can say that the geometric series <a href="/wiki/Convergent_series" title="Convergent series">converges</a> and find the exact value in the form of a fraction by using the following formula where <i>a</i> is the first term of the series and <i>r</i> is the common factor.</p>
<dl>
<dd><img class="tex" alt="\ \frac{a}{1-r} = \frac{\frac{1}{10}}{1-\frac{1}{10}} = \frac{1}{9} = 0.\overline{1}" src="//upload.wikimedia.org/wikipedia/en/math/6/c/8/6c8f62c1bafd8a376f2b14a35b2a938e.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=14" title="Edit section: Multiplication and cyclic permutation"></a>]</span> <span class="mw-headline" id="Multiplication_and_cyclic_permutation">Multiplication and cyclic permutation</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Cyclic_permutation_of_integer" title="Cyclic permutation of integer" class="mw-redirect">Cyclic permutation of integer</a></div>
<p>The cyclic behavior of repeating decimals in multiplication also leads to the construction of integers which are <a href="/wiki/Cyclic_permutation" title="Cyclic permutation">cyclically permuted</a> when multiplied by a number <i>n</i>. For example, 102564 x 4 = 410256. Note that 102564 is the repeating digits of 4/39 and 410256 the repeating digits of 16/39.</p>
<h2><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=15" title="Edit section: Other properties of repetend lengths"></a>]</span> <span class="mw-headline" id="Other_properties_of_repetend_lengths">Other properties of repetend lengths</span></h2>
<p>Various properties of repetend lengths (periods) are given in <sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup> and <sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup>:</p>
<p>The period of 1/<i>k</i> for integer <i>k</i> is always &#160;<i>k</i>&#160;&#160;1.</p>
<p>If <i>p</i> is prime, the period of 1/<i>p</i> divides evenly into <i>p</i>&#160;&#160;1.</p>
<p>If <i>k</i> is composite, the period of 1/<i>k</i> is strictly less than <i>k</i>&#160;&#160;1.</p>
<p>The period of <i>c/k</i>, for <i>c</i> <a href="/wiki/Coprime" title="Coprime">coprime</a> to <i>k</i>, equals the period of 1/<i>k</i>.</p>
<p>If <img class="tex" alt="k=2^{a}5^{b}n" src="//upload.wikimedia.org/wikipedia/en/math/8/f/7/8f757b057bdf74e7b98395ea91848a6d.png" /> where <i>n</i>&#160;&gt;&#160;1 and <i>n</i> is not divisible by 2 or 5, then the length of the transient of 1/<i>k</i> is max(<i>a</i>,&#160;<i>b</i>), and the period equals <i>r</i>, where <i>r</i> is the smallest integer such that <img class="tex" alt="10^r \equiv 1 \pmod n" src="//upload.wikimedia.org/wikipedia/en/math/e/0/0/e003dac48a3404de0b2479597ffa7947.png" />.</p>
<p>If <i>p, p', p", </i> are distinct primes, then the period of 1/(<i>pp'p"</i>) equals the lowest common multiple of the periods of 1/<i>p</i>, 1/<i>p'</i> ,1/<i>p"</i> , .</p>
<p>If <i>k</i> and <i>k'</i> have no common prime factors other than 2 and/or 5, then the period of <img class="tex" alt="\frac{1}{kk'}" src="//upload.wikimedia.org/wikipedia/en/math/b/b/a/bba477d2f2a797150d39f61574e3ba46.png" /> equals the least common multiple of the periods of <img class="tex" alt="\frac{1}{k}" src="//upload.wikimedia.org/wikipedia/en/math/4/f/e/4fe69a16c7e7df05b75e266519ac0049.png" /> and <img class="tex" alt="\frac{1}{k'}" src="//upload.wikimedia.org/wikipedia/en/math/9/5/7/9575fe715f8a9bf016e9bd9cf9d51122.png" />.</p>
<p>For prime <i>p</i>, if <img class="tex" alt="\text{period of } \tfrac{1}{p}= \text{period of }\tfrac{1}{p^{2}}= \cdots = \text{period }\tfrac{1}{p^m}" src="//upload.wikimedia.org/wikipedia/en/math/7/2/8/72835d1e8fa4062531324f14e92f0bc8.png" /> but <img class="tex" alt="\text{period of }\tfrac{1}{p^{m+1}} \ne \text{ period of } \tfrac {1}{p}" src="//upload.wikimedia.org/wikipedia/en/math/6/2/7/62728db728fb4af7d626085f6c12252b.png" />, then for <img class="tex" alt=" c \ge m" src="//upload.wikimedia.org/wikipedia/en/math/0/b/4/0b449bb6a6b322fa693a9cd10b2d9a05.png" /> we have <img class="tex" alt="\text{period of } \tfrac{1}{p^{c}} = p^{c-m} \cdot \text{ period of } \tfrac{1}{p}" src="//upload.wikimedia.org/wikipedia/en/math/3/c/b/3cbe872edc76cbb30b6bb81e034a6454.png" />.</p>
<p>If <i>p</i> is a <b>proper prime</b> ending in a 1  that is, if the repetend of 1/<i>p</i> is a cyclic number of length <i>p</i>&#160;&#160;1 and <i>p</i> = 10<i>h</i>&#160;+&#160;1 for some <i>h</i>  then each digit 0, 1, , 9 appears in the repetend exactly <i>h</i> =&#160;(<i>p</i>&#160;&#160;1)/10 times.</p>
<p>For some other properties of repetends, see also<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=16" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/142857_(number)" title="142857 (number)">142857</a></li>
<li><a href="/wiki/Cyclic_number" title="Cyclic number">Cyclic number</a></li>
<li><a href="/wiki/Parasitic_number" title="Parasitic number">Parasitic number</a></li>
<li><a href="/wiki/Midy%27s_theorem" title="Midy's theorem">Midy's theorem</a></li>
<li><a href="/wiki/0.999..." title="0.999...">0.999...</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=17" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Courant, R. and Robbins, H. <i>What Is Mathematics?: An Elementary Approach to Ideas and Methods, 2nd ed.</i> Oxford, England: Oxford University Press, 1996: p. 67 .</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFBeswick2004">Beswick, Kim (2004), "Why Does 0.999... = 1?: A Perennial Question and Number Sense", <i>Australian Mathematics Teacher</i> <b>60</b> (4): 79</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Why+Does+0.999...+%3D+1%3F%3A+A+Perennial+Question+and+Number+Sense&amp;rft.jtitle=Australian+Mathematics+Teacher&amp;rft.aulast=Beswick&amp;rft.aufirst=Kim&amp;rft.au=Beswick%2C%26%2332%3BKim&amp;rft.date=2004&amp;rft.volume=60&amp;rft.issue=4&amp;rft.pages=7%E2%80%939&amp;rfr_id=info:sid/en.wikipedia.org:Repeating_decimal"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text">Gray, Alexander J., "Digital roots and reciprocals of primes," <i><a href="/wiki/Mathematical_Gazette" title="Mathematical Gazette" class="mw-redirect">Mathematical Gazette</a></i> 84, March 2000, 86.</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text">Albert H. Beiler, <i>Recreations in the Theory of Numbers</i>, p&#160;79</span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text">Mitchell, Douglas W., "A nonlinear random number generator with known, long cycle length," <i><a href="/wiki/Cryptologia" title="Cryptologia">Cryptologia</a></i> 17, January 1993, 5562.</span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text">Dickson, Leonard E., <i>History of the Theory of Numbers, Vol. I</i>, Chelsea Publ. Co., 1952 (orig. 1918), 164173.</span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text">Armstrong, N. J., and Armstrong, R. J., "Some properties of repetends," <i>Mathematical Gazette</i> 87, November 2003, 437443.</span></li>
</ol>
<h2><span class="section">[<a href="/w/index.php?title=Repeating_decimal&amp;action=&amp;section=18" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Repeating_Decimal"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/RepeatingDecimal.html">Repeating Decimal</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1501/1000000
Post-expand include size: 5881/2048000 bytes
Template argument size: 1540/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:13612447-0!0!0!!en!*!* and timestamp 20120409231158 -->
