<div class="thumb tright">
<div class="thumbinner" style="width:290px;"><a href="/wiki/File:Cube_root.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/02/Cube_root.svg/288px-Cube_root.svg.png" width="288" height="230" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Cube_root.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Plot of <i>y</i> = <img class="tex" alt="\sqrt[3]{x}" src="//upload.wikimedia.org/wikipedia/en/math/a/1/0/a10c7f2aa138b1565920d17c22062a35.png" /> for <img class="tex" alt="x \ge 0" src="//upload.wikimedia.org/wikipedia/en/math/d/7/b/d7b89f725185c1fd9984123cbaa89612.png" />. Complete plot is symmetric with respect to origin, as it is an <a href="/wiki/Odd_function" title="Odd function" class="mw-redirect">odd function</a>. At <i>x</i> = 0 this graph has a <a href="/wiki/Vertical_tangent" title="Vertical tangent">vertical tangent</a>.</div>
</div>
</div>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, a <b>cube root</b> of a number, denoted <img class="tex" alt="\sqrt[3]{x} " src="//upload.wikimedia.org/wikipedia/en/math/a/1/0/a10c7f2aa138b1565920d17c22062a35.png" /> or x<sup>1/3</sup>, is a number <i>a</i> such that <i>a</i><sup>3</sup>&#160;=&#160;<i>x</i>. All <a href="/wiki/Real_number" title="Real number">real numbers</a> (except zero) have exactly one real cube root and a pair of <a href="/wiki/Complex_conjugate" title="Complex conjugate">complex conjugate</a> roots, and all nonzero complex numbers have three distinct complex cube roots. For example, the real cube root of 8 is 2, because 2<sup>3</sup>&#160;=&#160;8. All the cube roots of 27<i>i</i> are</p>
<dl>
<dd><img class="tex" alt="\sqrt[3]{-27i} = \begin{cases} \ \ \ \ \ \ \ \ \ \ \ \ 3i \\ \ \ \frac{3}{2}\sqrt3-\frac{3}{2}i \\ -\frac{3}{2}\sqrt3-\frac{3}{2}i. \end{cases} " src="//upload.wikimedia.org/wikipedia/en/math/c/c/0/cc057e0da43138bd9820faaeeb23dc79.png" /></dd>
</dl>
<p>The cube root operation is not <a href="/wiki/Associativity" title="Associativity" class="mw-redirect">associative</a> or distributive with <a href="/wiki/Addition" title="Addition">addition</a> or <a href="/wiki/Subtraction" title="Subtraction">subtraction</a>.</p>
<p>The cube root operation is associative with <a href="/wiki/Exponentiation" title="Exponentiation">exponentiation</a> and <a href="/wiki/Distributivity" title="Distributivity" class="mw-redirect">distributive</a> with <a href="/wiki/Multiplication" title="Multiplication">multiplication</a> and <a href="/wiki/Division_(mathematics)" title="Division (mathematics)">division</a> if considering only real numbers, but not always if considering complex numbers, for example:</p>
<dl>
<dd><img class="tex" alt="(\sqrt[3]{8})^3 = 8" src="//upload.wikimedia.org/wikipedia/en/math/f/1/9/f19b8a8c1c83acd10b5b2702f95bc113.png" /></dd>
</dl>
<p>but</p>
<dl>
<dd><img class="tex" alt="\sqrt[3]{8^3} = \begin{cases} \ \ 8 \\ -4+4\sqrt{3}i \\ -4-4\sqrt{3}i. \end{cases} " src="//upload.wikimedia.org/wikipedia/en/math/9/1/5/9154a1df8cc54ebb5a37cebbe82fd4c8.png" /></dd>
</dl>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Formal_definition"><span class="tocnumber">1</span> <span class="toctext">Formal definition</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Real_numbers"><span class="tocnumber">1.1</span> <span class="toctext">Real numbers</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Complex_numbers"><span class="tocnumber">1.2</span> <span class="toctext">Complex numbers</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-4"><a href="#Cube_root_on_standard_calculator"><span class="tocnumber">2</span> <span class="toctext">Cube root on standard calculator</span></a>
<ul>
<li class="toclevel-2 tocsection-5"><a href="#Why_this_method_works"><span class="tocnumber">2.1</span> <span class="toctext">Why this method works</span></a></li>
<li class="toclevel-2 tocsection-6"><a href="#Alternative_method"><span class="tocnumber">2.2</span> <span class="toctext">Alternative method</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-7"><a href="#Numerical_methods"><span class="tocnumber">3</span> <span class="toctext">Numerical methods</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#History"><span class="tocnumber">4</span> <span class="toctext">History</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#External_links"><span class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Cube_root&amp;action=&amp;section=1" title="Edit section: Formal definition"></a>]</span> <span class="mw-headline" id="Formal_definition">Formal definition</span></h2>
<p>The cube roots of a number <i>x</i> are the numbers <i>y</i> which satisfy the equation</p>
<dl>
<dd><img class="tex" alt="y^3 = x.\ " src="//upload.wikimedia.org/wikipedia/en/math/9/1/c/91c774f89f5e48ab55a5d739cf714e83.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Cube_root&amp;action=&amp;section=2" title="Edit section: Real numbers"></a>]</span> <span class="mw-headline" id="Real_numbers">Real numbers</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:3rd_roots_of_unity.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/39/3rd_roots_of_unity.svg/220px-3rd_roots_of_unity.svg.png" width="220" height="180" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:3rd_roots_of_unity.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The three cube roots of 1</div>
</div>
</div>
<p>If <i>x</i> and <i>y</i> are <a href="/wiki/Real_number" title="Real number">real</a>, then there is a unique solution and so the cube root of a real number is sometimes defined by this equation. If this definition is used, the cube root of a negative number is a negative number.</p>
<p>If <i>x</i> and <i>y</i> are allowed to be <a href="/wiki/Complex_number" title="Complex number">complex</a>, then there are three solutions (if <i>x</i> is non-zero) and so <i>x</i> has three cube roots. A real number has one real cube root and two further cube roots which form a <a href="/wiki/Complex_conjugate" title="Complex conjugate">complex conjugate</a> pair. This can lead to some interesting results.</p>
<p>For instance, the cube roots of the number <a href="/wiki/One_(number)" title="One (number)" class="mw-redirect">one</a> are:</p>
<dl>
<dd><img class="tex" alt="\sqrt[3]{1} = \begin{cases} \ \ 1 \\ -\frac{1}{2}+\frac{1}{2}\sqrt{3}i \\ -\frac{1}{2}-\frac{1}{2}\sqrt{3}i. \end{cases} " src="//upload.wikimedia.org/wikipedia/en/math/1/9/a/19a160b344a8971a9c5d7560f1789d01.png" /></dd>
</dl>
<p>The last two of these roots lead to a relationship between all roots of any real or complex number. If a number is one cube root of any real or complex number, the other two cube roots can be found by multiplying that number by one or the other of the two complex cube roots of one.</p>
<h3><span class="section">[<a href="/w/index.php?title=Cube_root&amp;action=&amp;section=3" title="Edit section: Complex numbers"></a>]</span> <span class="mw-headline" id="Complex_numbers">Complex numbers</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:352px;"><a href="/wiki/File:Complex_cube_root.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/62/Complex_cube_root.jpg/350px-Complex_cube_root.jpg" width="350" height="117" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Complex_cube_root.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Plot of the complex cube root together with its two additional leaves. The first picture shows the main branch which is described in the text</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a href="/wiki/File:Riemann_surface_cube_root.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/85/Riemann_surface_cube_root.jpg/200px-Riemann_surface_cube_root.jpg" width="200" height="203" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Riemann_surface_cube_root.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
<a href="/wiki/Riemann_surface" title="Riemann surface">Riemann surface</a> of the cube root. One can see how all three leaves fit together</div>
</div>
</div>
<p>For complex numbers, the principal cube root is usually defined by</p>
<dl>
<dd><img class="tex" alt="x^{1/3} = \exp ( \tfrac13 \ln{x} )" src="//upload.wikimedia.org/wikipedia/en/math/b/7/2/b729fb1a1ea609659df4028f6df0c6df.png" /></dd>
</dl>
<p>where ln(<i>x</i>) is the principal branch of the <a href="/wiki/Natural_logarithm" title="Natural logarithm">natural logarithm</a>. If we write <i>x</i> as</p>
<dl>
<dd><img class="tex" alt="x = r \exp(i \theta)\," src="//upload.wikimedia.org/wikipedia/en/math/4/6/3/463a9a9d1be317a090583254c38a144f.png" /></dd>
</dl>
<p>where <i>r</i> is a non-negative real number and  lies in the range</p>
<dl>
<dd><img class="tex" alt="-\pi &lt; \theta \le \pi" src="//upload.wikimedia.org/wikipedia/en/math/c/3/8/c380eea5d42dc67766cca3001e3fb2a0.png" />,</dd>
</dl>
<p>then the principal complex cube root is</p>
<dl>
<dd><img class="tex" alt="\sqrt[3]{x} = \sqrt[3]{r}\exp ( \tfrac13 i\theta )." src="//upload.wikimedia.org/wikipedia/en/math/8/e/9/8e901d34e7e7b4ae69c4c9c8b3b0bbea.png" /></dd>
</dl>
<p>This means that in <a href="/wiki/Polar_coordinates" title="Polar coordinates" class="mw-redirect">polar coordinates</a>, we are taking the cube root of the radius and dividing the polar angle by three in order to define a cube root. With this definition, the principal cube root of a negative number is a complex number, and for instance <img class="tex" alt="\sqrt[3]{-8}" src="//upload.wikimedia.org/wikipedia/en/math/e/6/c/e6ca3a3950c92e57c2faf7983423235a.png" /> will not be <img class="tex" alt="-2" src="//upload.wikimedia.org/wikipedia/en/math/5/d/7/5d7b9adcbe1c629ec722529dd12e5129.png" />, but rather <img class="tex" alt="1 + i\sqrt{3}." src="//upload.wikimedia.org/wikipedia/en/math/d/b/2/db24b3675e11d63ca246d15807a53177.png" /></p>
<p>This limitation can easily be avoided if we write the original complex number <i>x</i> in three equivalent forms, namely</p>
<dl>
<dd><img class="tex" alt="x = \begin{cases} r \exp \bigl(i (\theta) \bigr), \\ r \exp \bigl(i (\theta + 2\pi) \bigr),  \\ r \exp \bigl( i (\theta - 2\pi) \bigr). \end{cases} " src="//upload.wikimedia.org/wikipedia/en/math/b/3/3/b338cf7d77d3c4134eae6cf9aceaf0c8.png" /></dd>
</dl>
<p>The principal complex cube roots of these three forms are then respectively</p>
<dl>
<dd><img class="tex" alt="\sqrt[3]{x} = \begin{cases} \sqrt[3]{r}\exp \bigl( i ( \tfrac13 \theta) \bigr), \\ \sqrt[3]{r}\exp \bigl( i ( \tfrac13 \theta + \tfrac23 \pi ) \bigr), \\ \sqrt[3]{r}\exp \bigl( i ( \tfrac13 \theta - \tfrac23 \pi ) \bigr). \end{cases} " src="//upload.wikimedia.org/wikipedia/en/math/e/c/2/ec2289749728b6121b3ddc474a59abae.png" /></dd>
</dl>
<p>In general, these three complex numbers are distinct, even though the three representations of <i>x</i> were the same. For example, -8 may then be calculated to be -2, 1 + <i>i</i>3, or 1 - <i>i</i>3.</p>
<p>In programs that are aware of the imaginary plane, the graph of the cube root of <i>x</i> on the real plane will not display any output for negative values of <i>x</i>. To also include negative roots, these programs must be explicitly instructed to only use real numbers.</p>
<h2><span class="section">[<a href="/w/index.php?title=Cube_root&amp;action=&amp;section=4" title="Edit section: Cube root on standard calculator"></a>]</span> <span class="mw-headline" id="Cube_root_on_standard_calculator">Cube root on standard calculator</span></h2>
<p>From the identity</p>
<dl>
<dd><img class="tex" alt="\frac{1}{3} = \frac{1}{2^2} \left(1 + \frac{1}{2^2}\right) \left(1 + \frac{1}{2^4}\right) \left(1 + \frac{1}{2^8}\right) \left(1 + \frac{1}{2^{16}}\right) \dots" src="//upload.wikimedia.org/wikipedia/en/math/6/1/f/61fd32dfdea21d1166d6c6d2ccebd764.png" /></dd>
</dl>
<p>there is a simple method to compute cube roots using a non-scientific calculator, using only the multiplication and square root buttons, after the number is on the display. No memory is required.</p>
<ul>
<li>Press the square root button <i>once</i>. (Note that the last step will take care of this strange start.)</li>
<li>Press the multiplication button.</li>
<li>Press the square root button <i>twice</i>.</li>
<li>Press the multiplication button.</li>
<li>Press the square root button <i>four</i> times.</li>
<li>Press the multiplication button.</li>
<li>Press the square root button <i>eight</i> times.</li>
<li>Press the multiplication button...</li>
</ul>
<p>This process continues until the number does not change after pressing the multiplication button because the repeated square root gives 1 (this means that the solution has been figured to as many significant digits as the calculator can handle). Then:</p>
<ul>
<li>Press the square root button one last time.</li>
</ul>
<p>At this point an approximation of the cube root of the original number will be shown in the display.</p>
<p>If the first multiplication is replaced by division, instead of the cube root, the fifth root will be shown on the display.</p>
<h3><span class="section">[<a href="/w/index.php?title=Cube_root&amp;action=&amp;section=5" title="Edit section: Why this method works"></a>]</span> <span class="mw-headline" id="Why_this_method_works">Why this method works</span></h3>
<p>After raising <i>x</i> to the power in both sides of the above identity, one obtains:</p>
<dl>
<dd><img class="tex" alt="x^{\frac{1}{3}} = x^{\frac{1}{2^2} \left(1 + \frac{1}{2^2}\right) \left(1 + \frac{1}{2^4}\right) \left(1 + \frac{1}{2^8}\right) \left(1 + \frac{1}{2^{16}}\right) \cdots}." src="//upload.wikimedia.org/wikipedia/en/math/8/0/2/80203b1e7ef722b32930a6abc6c8d1b6.png" /> (*)</dd>
</dl>
<p>The left hand side is the cube root of <i>x</i>.</p>
<p>The steps shown in the method give:</p>
<p>After 2nd step:</p>
<dl>
<dd><img class="tex" alt="x^{\frac{1}{2}}" src="//upload.wikimedia.org/wikipedia/en/math/3/1/b/31bb4f5e9e987e9c9fc544b5fafc4526.png" /></dd>
</dl>
<p>After 4th step:</p>
<dl>
<dd><img class="tex" alt="x^{\frac{1}{2} (1 + \frac{1}{2^2})}" src="//upload.wikimedia.org/wikipedia/en/math/5/a/7/5a73ce6093cedbc1582709165d1ea454.png" /></dd>
</dl>
<p>After 6th step:</p>
<dl>
<dd><img class="tex" alt="x^{\frac{1}{2} (1 + \frac{1}{2^2}) (1 + \frac{1}{2^4})}" src="//upload.wikimedia.org/wikipedia/en/math/6/6/5/6652fb906cb628846aede17ee4f2a251.png" /></dd>
</dl>
<p>After 8th step:</p>
<dl>
<dd><img class="tex" alt="x^{\frac{1}{2} (1 + \frac{1}{2^2}) (1 + \frac{1}{2^4}) (1 + \frac{1}{2^8})}" src="//upload.wikimedia.org/wikipedia/en/math/1/e/c/1ec17e4e3c148a7da61a1334c3e75afb.png" /></dd>
</dl>
<p>etc.</p>
<p>After computing the necessary terms according to the calculator precision, the <i>last square root</i> finds the right hand of (*).</p>
<h3><span class="section">[<a href="/w/index.php?title=Cube_root&amp;action=&amp;section=6" title="Edit section: Alternative method"></a>]</span> <span class="mw-headline" id="Alternative_method">Alternative method</span></h3>
<p>The above method requires the calculator to have a square root button. Having a simple method of calculating the square root the following function converges fast to the result:</p>
<dl>
<dd><img class="tex" alt="x_{i+1} = \tfrac{4}{3}\sqrt[4]{a x_{i}} - \tfrac{1}{3}x_i." src="//upload.wikimedia.org/wikipedia/en/math/e/e/6/ee614b3f704306b3ce845ee6df8ae5b5.png" /></dd>
</dl>
<p>Where with each iteration the result comes closer to the cube root of <i>a</i>.</p>
<p>The method requires less iterations than Halley's method but needs more calculations, hidden in determining the square roots. Because of the fast converging an initial approximation of 1 suffices.</p>
<h2><span class="section">[<a href="/w/index.php?title=Cube_root&amp;action=&amp;section=7" title="Edit section: Numerical methods"></a>]</span> <span class="mw-headline" id="Numerical_methods">Numerical methods</span></h2>
<p><a href="/wiki/Newton%27s_method" title="Newton's method">Newton's method</a> is an <a href="/wiki/Iterative_method" title="Iterative method">Iterative method</a> that can be used to calculate the cube root. For real floating point numbers this method reduces to the following iterative algorithm to produce successively better approximations of the cube root of <img class="tex" alt="a " src="//upload.wikimedia.org/wikipedia/en/math/0/c/c/0cc175b9c0f1b6a831c399e269772661.png" />:</p>
<dl>
<dd><img class="tex" alt="x_{i+1} = \frac{1}{3} \left(\frac{a}{x_i^2} + 2x_i\right)." src="//upload.wikimedia.org/wikipedia/en/math/0/a/c/0ac19281d068f6b5736897f0d10d18aa.png" /></dd>
</dl>
<p>The method is simply averaging three factors chosen such that <img class="tex" alt=" x_i \times x_i \times \frac{a}{x_i^2}=a " src="//upload.wikimedia.org/wikipedia/en/math/e/b/b/ebbff732a46bc9b8010dd77d42a0aba0.png" /> at each iteration.</p>
<p><a href="/wiki/Halley%27s_method" title="Halley's method">Halley's method</a> improves upon this with an algorithm that converges more quickly with each step, albeit consuming more multiplication operations:</p>
<dl>
<dd><img class="tex" alt="x_{i+1} = x_i \left(\frac{x_i^3 + 2a}{2x_i^3 + a}\right)." src="//upload.wikimedia.org/wikipedia/en/math/2/8/8/288563cd248b78b7106307383c18799e.png" /></dd>
</dl>
<p>With either method a poor initial approximation of <img class="tex" alt="x_0" src="//upload.wikimedia.org/wikipedia/en/math/0/b/2/0b21a666a81629962ade8afd967826ed.png" /> can give very poor algorithm performance, and coming up with a good initial approximation is somewhat of a black art. Some implementations manipulate the exponent bits of the floating point number; i.e. they arrive at an initial approximation by dividing the exponent by 3. This has the disadvantage of requiring knowledge of the internal representation of the floating point number, and therefore a single implementation is not guaranteed to work across all computing platforms.</p>
<p>Also useful is this <a href="/wiki/Generalized_continued_fraction" title="Generalized continued fraction">generalized continued fraction</a>, based on the <a href="/wiki/Nth_root" title="Nth root">nth root</a> method:</p>
<p>If <i>x</i> is a good first approximation to the cube root of <i>z</i> and <i>y</i> = <i>z</i>  <i>x</i><sup>3</sup>, then:</p>
<dl>
<dd><img class="tex" alt="\sqrt[3]{z} = \sqrt[3]{x^3+y} = x+\cfrac{y} {3x^2+\cfrac{2y} {2x+\cfrac{4y} {9x^2+\cfrac{5y} {2x+\cfrac{7y} {15x^2+\cfrac{8y} {2x+\ddots}}}}}}" src="//upload.wikimedia.org/wikipedia/en/math/8/a/0/8a0f3c90b7bcee42d529573649385e09.png" /></dd>
<dd><img class="tex" alt="= x+\cfrac{2x \cdot y} {3(2z-y)-y-\cfrac{2\cdot 4y^2} {9(2z-y)-\cfrac{5\cdot 7y^2} {15(2z-y)-\cfrac{8\cdot 10y^2} {21(2z-y)-\ddots}}}}." src="//upload.wikimedia.org/wikipedia/en/math/e/c/d/ecdce2fba7f32ba582c822cbb26dcc1b.png" /></dd>
</dl>
<p>The second equation combines each pair of fractions from the first into a single fraction, thus doubling the speed of convergence. The advantage is that <i>x</i> and <i>y</i> are only computed once.</p>
<h2><span class="section">[<a href="/w/index.php?title=Cube_root&amp;action=&amp;section=8" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<div class="rellink boilerplate seealso">See also: <a href="/wiki/Doubling_the_cube#History" title="Doubling the cube">Doubling the cube#History</a></div>
<p>In 499 CE <a href="/wiki/Aryabhata" title="Aryabhata">Aryabhata</a>, a great <a href="/wiki/Mathematician" title="Mathematician">mathematician</a>-<a href="/wiki/Astronomer" title="Astronomer">astronomer</a> from the classical age of <a href="/wiki/Indian_mathematics" title="Indian mathematics">Indian mathematics</a> and <a href="/wiki/Indian_astronomy" title="Indian astronomy">Indian astronomy</a>, gave a method for finding the cube root of numbers having many digits in the <i><a href="/wiki/Aryabhatiya" title="Aryabhatiya" class="mw-redirect">Aryabhatiya</a></i> (section 2.5).<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Cube_root&amp;action=&amp;section=9" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Methods_of_computing_square_roots" title="Methods of computing square roots">Methods of computing square roots</a></li>
<li><a href="/wiki/List_of_polynomial_topics" title="List of polynomial topics">List of polynomial topics</a></li>
<li><a href="/wiki/Nth_root" title="Nth root">Nth root</a></li>
<li><a href="/wiki/Square_root" title="Square root">Square root</a></li>
<li><a href="/wiki/Nested_radical" title="Nested radical">Nested radical</a></li>
<li><a href="/wiki/Root_of_unity" title="Root of unity">Root of unity</a></li>
<li><a href="/wiki/Shifting_nth-root_algorithm" title="Shifting nth-root algorithm" class="mw-redirect">Shifting nth-root algorithm</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Cube_root&amp;action=&amp;section=10" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><i><a rel="nofollow" class="external text" href="http://www.flipkart.com/aryabhatiya-mohan-apte-book-8174344802">Aryabhatiya</a> <a href="/wiki/Marathi_language" title="Marathi language">Marathi</a>: <span lang="mr" xml:lang="mr"></span></i>, Mohan Apte, Pune, India, Rajhans Publications, 2009, p.62, <a href="/wiki/Special:BookSources/9788174344809" class="internal mw-magiclink-isbn">ISBN 978-81-7434-480-9</a></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Cube_root&amp;action=&amp;section=11" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.mathwarehouse.com/arithmetic/cube-root-calculator.php">Cube root calculator reduces any number to simplest radical form</a></li>
<li><a rel="nofollow" class="external text" href="http://people.freebsd.org/~lstewart/references/apple_tr_kt32_cuberoot.pdf">Computing the Cube Root, K. Turkowski, Apple Technical Report #KT-32, 1998</a>. Includes C source code.</li>
<li><a rel="nofollow" class="external text" href="http://planetmath.org/?op=getobj&amp;from=objects&amp;id=748">Cube root</a>, <a href="/wiki/PlanetMath" title="PlanetMath">PlanetMath.org</a>.</li>
<li><span class="citation mathworld" id="Reference-Mathworld-Cube_Root"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/CubeRoot.html">Cube Root</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>
<p><span id="interwiki-ca-fa"></span></p>


<!-- 
NewPP limit report
Preprocessor node count: 615/1000000
Post-expand include size: 1696/2048000 bytes
Template argument size: 392/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:292506-0!0!0!!en!4!* and timestamp 20120414202052 -->
