<table class="metadata plainlinks ambox ambox-content ambox-Refimprove" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This article <b>needs additional <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">citations</a> for <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verification</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Difference_of_two_squares&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(December 2009)</i></small></td>
</tr>
</table>
<table class="metadata plainlinks ambox ambox-move" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Merge-arrows.svg/50px-Merge-arrows.svg.png" width="50" height="20" /></div>
</td>
<td class="mbox-text" style="">It has been suggested that this article or section be <a href="/wiki/Wikipedia:Merging" title="Wikipedia:Merging">merged</a> with <i><a href="/wiki/Conjugate_(algebra)" title="Conjugate (algebra)">Conjugate (algebra)</a></i>. (<a href="/wiki/Talk:Difference_of_two_squares" title="Talk:Difference of two squares">Discuss</a>) <small><i>Proposed since January 2012.</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, the <b>difference of two squares</b>, or the difference of perfect squares, is a <a href="/wiki/Square_(algebra)" title="Square (algebra)" class="mw-redirect">squared</a> (multiplied by itself) number subtracted from another squared number. It refers to the <a href="/wiki/Identity_(mathematics)" title="Identity (mathematics)">identity</a></p>
<dl>
<dd><img class="tex" alt="a^2-b^2 = (a+b)(a-b)\,\!" src="//upload.wikimedia.org/wikipedia/en/math/0/4/d/04dd5f7df935f8c3b69856dcedbd8860.png" /></dd>
</dl>
<p>in <a href="/wiki/Elementary_algebra" title="Elementary algebra">elementary algebra</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Proof"><span class="tocnumber">1</span> <span class="toctext">Proof</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#In_geometry"><span class="tocnumber">2</span> <span class="toctext">In geometry</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Uses"><span class="tocnumber">3</span> <span class="toctext">Uses</span></a>
<ul>
<li class="toclevel-2 tocsection-4"><a href="#Complex_number_case:_sum_of_two_squares"><span class="tocnumber">3.1</span> <span class="toctext">Complex number case: sum of two squares</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Rationalising_denominators"><span class="tocnumber">3.2</span> <span class="toctext">Rationalising denominators</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-6"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#References"><span class="tocnumber">5</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Difference_of_two_squares&amp;action=&amp;section=1" title="Edit section: Proof"></a>]</span> <span class="mw-headline" id="Proof">Proof</span></h2>
<p>The <a href="/wiki/Mathematical_proof" title="Mathematical proof">proof</a> is straightforward. Starting from the <a href="/wiki/Sides_of_an_equation" title="Sides of an equation">right-hand side</a>, apply the <a href="/wiki/Distributive_law" title="Distributive law" class="mw-redirect">distributive law</a> to get</p>
<dl>
<dd><img class="tex" alt="(a+b)(a-b) = a^2+ba-ab-b^2\,\!" src="//upload.wikimedia.org/wikipedia/en/math/7/5/a/75a76d1962e46ddb7db185ae527c56a8.png" />,</dd>
</dl>
<p>and set</p>
<dl>
<dd><img class="tex" alt="ba - ab = 0\,\!" src="//upload.wikimedia.org/wikipedia/en/math/2/a/1/2a12d91664d415816d359072dbf98bd6.png" /></dd>
</dl>
<p>as an application of the <a href="/wiki/Commutative_law" title="Commutative law" class="mw-redirect">commutative law</a>. The resulting identity is one of the most commonly used in mathematics.</p>
<p>The proof just given indicates the scope of the identity in <a href="/wiki/Abstract_algebra" title="Abstract algebra">abstract algebra</a>: it will hold in any <a href="/wiki/Commutative_ring" title="Commutative ring">commutative ring</a> <i>R</i>.</p>
<p>Conversely, if this identity holds in a <a href="/wiki/Ring_(mathematics)" title="Ring (mathematics)">ring</a> <i>R</i> for all pairs of elements <i>a</i> and <i>b</i> of the ring, then <i>R</i> is commutative. To see this, we apply the distributive law to the right-hand side of the original equation and get</p>
<dl>
<dd><img class="tex" alt="a^2 + ba - ab - b^2\,\!" src="//upload.wikimedia.org/wikipedia/en/math/7/3/c/73c160d96ec476780802996cf5168ad3.png" /></dd>
</dl>
<p>and for this to be equal to <img class="tex" alt="a^2 - b^2" src="//upload.wikimedia.org/wikipedia/en/math/6/7/e/67e84b349c46fda589a95d7c5f25af3c.png" />, we must have</p>
<dl>
<dd><img class="tex" alt="ba - ab = 0\,\!" src="//upload.wikimedia.org/wikipedia/en/math/2/a/1/2a12d91664d415816d359072dbf98bd6.png" /></dd>
</dl>
<p>for all pairs <i>a</i>, <i>b</i> of elements of <i>R</i>, so the ring <i>R</i> is commutative.</p>
<h2><span class="section">[<a href="/w/index.php?title=Difference_of_two_squares&amp;action=&amp;section=2" title="Edit section: In geometry"></a>]</span> <span class="mw-headline" id="In_geometry">In geometry</span></h2>
<div class="floatright"><a href="/wiki/File:Difference_of_two_squares.png" class="image"><img alt="Difference of two squares.png" src="//upload.wikimedia.org/wikipedia/commons/7/75/Difference_of_two_squares.png" width="193" height="171" /></a></div>
<p>The difference of two squares can also be illustrated geometrically as the difference of two square areas in a <a href="/wiki/Plane_(mathematics)" title="Plane (mathematics)" class="mw-redirect">plane</a>. In the diagram, the shaded part represents the difference between the areas of the two squares, i.e. <img class="tex" alt="a^2 - b^2" src="//upload.wikimedia.org/wikipedia/en/math/6/7/e/67e84b349c46fda589a95d7c5f25af3c.png" />. The area of the shaded part can be found by adding the areas of the two rectangles; <img class="tex" alt="a(a-b) + b(a-b)" src="//upload.wikimedia.org/wikipedia/en/math/2/9/8/298bc2839e0df76b34d8884015147fec.png" />, which can be factorized to <img class="tex" alt="(a+b)(a-b)" src="//upload.wikimedia.org/wikipedia/en/math/9/e/1/9e1d2d0c0a0aa37e51347deb9a04f339.png" />. Therefore <img class="tex" alt="a^2 - b^2 = (a+b)(a-b)" src="//upload.wikimedia.org/wikipedia/en/math/f/5/4/f546acc18a25a4753e3174865f25a4f6.png" /></p>
<p>Another geometric proof proceeds as follows: We start with the figure shown in the first diagram below, a large square with a smaller square removed from it. The side of the entire square is a, and the side of the small removed square is b. The area of the shaded region is <img class="tex" alt="a^2-b^2" src="//upload.wikimedia.org/wikipedia/en/math/6/7/e/67e84b349c46fda589a95d7c5f25af3c.png" />. A cut is made, splitting the region into two rectangular pieces, as shown in the second diagram. The larger piece, at the top, has width a and height a-b. The smaller piece, at the bottom, has width a-b and height b. Now the smaller piece can be detached, rotated, and placed to the right of the larger piece. In this new arrangement, shown in the last diagram below, the two pieces together form a rectangle, whose width is <img class="tex" alt="a+b" src="//upload.wikimedia.org/wikipedia/en/math/6/5/c/65c884f742c8591808a121a828bc09f8.png" /> and whose height is <img class="tex" alt="a-b" src="//upload.wikimedia.org/wikipedia/en/math/8/c/a/8ca2ed590cf2ea2404f2e67641bcdf50.png" />. This rectangle's area is <img class="tex" alt="(a+b)(a-b)" src="//upload.wikimedia.org/wikipedia/en/math/9/e/1/9e1d2d0c0a0aa37e51347deb9a04f339.png" />. Since this rectangle came from rearranging the original figure, it must have the same area as the original figure. Therefore, <img class="tex" alt="a^2-b^2 = (a+b)(a-b)" src="//upload.wikimedia.org/wikipedia/en/math/f/5/4/f546acc18a25a4753e3174865f25a4f6.png" />.Any odd number can be expressed as difference of two squares. <a href="/wiki/File:Difference_of_two_squares_geometric_proof.png" class="image"><img alt="Difference of two squares geometric proof.png" src="//upload.wikimedia.org/wikipedia/en/a/a1/Difference_of_two_squares_geometric_proof.png" width="1000" height="220" /></a></p>
<h2><span class="section">[<a href="/w/index.php?title=Difference_of_two_squares&amp;action=&amp;section=3" title="Edit section: Uses"></a>]</span> <span class="mw-headline" id="Uses">Uses</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Difference_of_two_squares&amp;action=&amp;section=4" title="Edit section: Complex number case: sum of two squares"></a>]</span> <span class="mw-headline" id="Complex_number_case:_sum_of_two_squares">Complex number case: sum of two squares</span></h3>
<p>The difference of two squares is used to find the linear factors of the <i>sum</i> of two squares, using <a href="/wiki/Complex_number" title="Complex number">complex number</a> coefficients.</p>
<p>For example, the root of <img class="tex" alt="z^2 + 5\,\!" src="//upload.wikimedia.org/wikipedia/en/math/e/3/8/e386e28fee3cc1da6f553f810ab47aa3.png" /> can be found using difference of two squares:</p>
<dl>
<dd><img class="tex" alt="z^2 + 5\,\!" src="//upload.wikimedia.org/wikipedia/en/math/e/3/8/e386e28fee3cc1da6f553f810ab47aa3.png" /></dd>
<dd><img class="tex" alt=" = z^2 - (\sqrt{-5})^2" src="//upload.wikimedia.org/wikipedia/en/math/8/2/7/827b5b9290b6b73bb3504d1319e6e00e.png" /></dd>
<dd><img class="tex" alt=" = z^2 - (i\sqrt5)^2" src="//upload.wikimedia.org/wikipedia/en/math/1/8/4/184d5e3dc0ce74277e038a7d5af3a6e8.png" /></dd>
<dd><img class="tex" alt=" = (z + i\sqrt5)(z - i\sqrt5)" src="//upload.wikimedia.org/wikipedia/en/math/d/9/b/d9bf5a6b36b3d60a5e9eeed7a894e90a.png" /></dd>
</dl>
<p>Therefore the linear factors are <img class="tex" alt="(z + i\sqrt5)" src="//upload.wikimedia.org/wikipedia/en/math/6/5/a/65a89d3a63875c39aad32f628677fe41.png" /> and <img class="tex" alt="(z - i\sqrt5)" src="//upload.wikimedia.org/wikipedia/en/math/c/4/3/c438d653c0953ac390d2a8b3397a48bd.png" />.</p>
<p>Since the two factors found by this method are <a href="/wiki/Complex_conjugate" title="Complex conjugate">Complex conjugates</a>, we can use this in reverse as a method of multiplying a complex number to get a real number. This is used to get real denominators in complex fractions.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=Difference_of_two_squares&amp;action=&amp;section=5" title="Edit section: Rationalising denominators"></a>]</span> <span class="mw-headline" id="Rationalising_denominators">Rationalising denominators</span></h3>
<p>The difference of two squares can also be used in the <a href="/wiki/Rationalisation_(mathematics)" title="Rationalisation (mathematics)">rationalising</a> of <a href="/wiki/Irrational_number" title="Irrational number">irrational</a> <a href="/wiki/Denominator" title="Denominator" class="mw-redirect">denominators</a>.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> This is a method for removing <a href="/wiki/Nth_root" title="Nth root">surds</a> from expressions (or at least moving them), applying to division by some combinations involving <a href="/wiki/Square_root" title="Square root">square roots</a>.</p>
<p>For example: The denominator of <img class="tex" alt="\dfrac{5}{\sqrt{3} + 4}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/5/a/a/5aa3e6c15b2319cc0d990573c2c2ec97.png" /> can be rationalised as follows:</p>
<dl>
<dd><img class="tex" alt="\dfrac{5}{\sqrt{3} + 4}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/5/a/a/5aa3e6c15b2319cc0d990573c2c2ec97.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt=" = \dfrac{5}{\sqrt{3} + 4} \times \dfrac{\sqrt{3} - 4}{\sqrt{3} - 4}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/9/5/9/959ffc52613ff9dd2eb418a868c03b8f.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt=" = \dfrac{5(\sqrt{3} - 4)}{(\sqrt{3} + 4)(\sqrt{3} - 4)}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/7/5/6/756c955002358e15bd0ca1c1654f13a2.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt=" = \dfrac{5(\sqrt{3} - 4)}{\sqrt{3}^2 - 4^2}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/5/a/f/5af7530eb9a91e28767f582980d4dd94.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt=" = \dfrac{5(\sqrt{3} - 4)}{3 - 16}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/5/c/4/5c48fc8c683f8ea8569a2337371dcd8c.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt=" = -\dfrac{5(\sqrt{3} - 4)}{13}\,\!" src="//upload.wikimedia.org/wikipedia/en/math/b/c/1/bc1ba18af0bb500cac0e2ff5e45be24c.png" /></dd>
</dl>
<p>Here, the irrational denominator <img class="tex" alt="\sqrt{3} + 4\,\!" src="//upload.wikimedia.org/wikipedia/en/math/d/3/1/d31df4f58680fed197f61604b86b487a.png" /> has been rationalised to <img class="tex" alt="13\,\!" src="//upload.wikimedia.org/wikipedia/en/math/7/c/4/7c44261a911ecb833f102bf828deb7db.png" />. Any odd number can be expressed as difference of two squares.</p>
<h2><span class="section">[<a href="/w/index.php?title=Difference_of_two_squares&amp;action=&amp;section=6" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Conjugate_(algebra)" title="Conjugate (algebra)">Conjugate (algebra)</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Difference_of_two_squares&amp;action=&amp;section=7" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.themathpage.com/alg/complex-numbers.htm#conjugates">Complex or imaginary numbers</a> TheMathPage.com, retrieved 22 December 2011</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.themathpage.com/alg/multiply-radicals.htm">Multiplying Radicals</a> TheMathPage.com, retrieved 22 December 2011</span></li>
</ol>
</div>


<!-- 
NewPP limit report
Preprocessor node count: 1233/1000000
Post-expand include size: 8300/2048000 bytes
Template argument size: 2872/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1102297-0!0!0!!en!4!* and timestamp 20120301013510 -->
