<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, the <b><i>n</i>th root</b> of a <a href="/wiki/Number" title="Number">number</a> <i>x</i> is a number <i>r</i> which, when raised to the power of <i>n</i>, equals <i>x</i></p>
<dl>
<dd><img class="tex" alt="r^n  =  x," src="//upload.wikimedia.org/wikipedia/en/math/2/f/6/2f6463194b8c7e01c6a28b643cf6902a.png" /></dd>
</dl>
<p>where <i>n</i> is the <i>degree</i> of the root. A root of degree 2 is called a <i><a href="/wiki/Square_root" title="Square root">square root</a></i> and a root of degree 3, a <i><a href="/wiki/Cube_root" title="Cube root">cube root</a></i>. Roots of higher degree are referred to using ordinal numbers, as in <i>fourth root</i>, <i>twentieth root</i>, etc.</p>
<p>For example:</p>
<ul>
<li>2 is a square root of 4, since 2<sup>2</sup> = 4.</li>
<li>2 is also a square root of 4, since (2)<sup>2</sup> = 4.</li>
</ul>
<p>A <a href="/wiki/Real_number" title="Real number">real number</a> or <a href="/wiki/Complex_number" title="Complex number">complex number</a> has <i>n</i> roots of degree <i>n</i>. While the roots of 0 are not distinct (all equaling 0), the <i>n</i> <i>n</i>th roots of any other real or complex number are all distinct. If <i>n</i> is even and the number is real and positive, one of its <i>n</i>th roots is positive, one is negative, and the rest are complex but not real; if <i>n</i> is even and the number is real and negative, none of the <i>n</i>th roots are real. If <i>n</i> is odd and the number is real, one <i>n</i>th root is real and has the same sign as the number, while the other roots are not real.</p>
<p>Roots are usually written using the <b>radical symbol</b> <img class="tex" alt="\sqrt{\,\,}" src="//upload.wikimedia.org/wikipedia/en/math/b/0/d/b0d09f0a98d46a957a0d4833afd2ff97.png" /> or <img class="tex" alt="\surd{}" src="//upload.wikimedia.org/wikipedia/en/math/0/3/7/037a9585f5dc9127d77b6efd5a37fd44.png" />, with <img class="tex" alt="\sqrt{x}\!\," src="//upload.wikimedia.org/wikipedia/en/math/1/7/a/17a6d2e4b2a8b13d32c936f85dac6121.png" /> or <img class="tex" alt="\surd x" src="//upload.wikimedia.org/wikipedia/en/math/3/1/7/317e32fd7aedbc645fa4b7ab0ca2192d.png" /> denoting the square root, <img class="tex" alt="\sqrt[3]{x}\!\," src="//upload.wikimedia.org/wikipedia/en/math/d/4/6/d466b33802795a4c6e1d9cb930903866.png" /> denoting the cube root, <img class="tex" alt="\sqrt[4]{x}" src="//upload.wikimedia.org/wikipedia/en/math/d/c/3/dc3b0133777287c898c319e89db2c134.png" /> denoting the fourth root, and so on. In the expression <img class="tex" alt="\sqrt[n]{x}" src="//upload.wikimedia.org/wikipedia/en/math/5/e/4/5e4352778f3b156f05ef056f9793ec36.png" />, <i>n</i> is called the <b>index</b>, <img class="tex" alt="\sqrt{\,\,}" src="//upload.wikimedia.org/wikipedia/en/math/b/0/d/b0d09f0a98d46a957a0d4833afd2ff97.png" /> is the <b>radical sign</b>, and <i>x</i> is called the <b>radicand</b>. When a number is presented under the radical symbol, it must return only one result like a <a href="/wiki/Function_(mathematics)" title="Function (mathematics)">function</a>, so a non-negative real root, called the <b>principal <i>n</i>th root</b>, is preferred rather than others. An unresolved root, especially one using the radical symbol, is often referred to as a <b>surd</b><sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> or a <b>radical</b>.<sup id="cite_ref-silver_1-0" class="reference"><a href="#cite_note-silver-1"><span>[</span>2<span>]</span></a></sup> Any expression containing a radical, whether it is a square root, a cube root, or a higher root, is called a <b>radical expression</b>.</p>
<p>In <a href="/wiki/Calculus" title="Calculus">calculus</a>, <b>roots</b> are treated as special cases of <i>exponentiation</i>, where the <i>exponent</i> is a <a href="/wiki/Fraction_(mathematics)" title="Fraction (mathematics)">fraction</a>:</p>
<dl>
<dd><img class="tex" alt="\sqrt[n]{x} \,=\, x^{1/n}" src="//upload.wikimedia.org/wikipedia/en/math/f/6/e/f6e2875466bdf9e5eb4a7db071b8e812.png" /></dd>
</dl>
<p>Roots are particularly important in the theory of infinite <a href="/wiki/Series_(mathematics)" title="Series (mathematics)">series</a>; the <a href="/wiki/Root_test" title="Root test">root test</a> determines the <a href="/wiki/Radius_of_convergence" title="Radius of convergence">radius of convergence</a> of a <a href="/wiki/Power_series" title="Power series">power series</a>. <i>Nth roots</i> can also be defined for <a href="/wiki/Complex_number" title="Complex number">complex numbers</a>, and the complex roots of&#160;1 (the <a href="/wiki/Root_of_unity" title="Root of unity">roots of unity</a>) play an important role in higher mathematics. <a href="/wiki/Galois_theory" title="Galois theory">Galois theory</a> can be used to determine which <a href="/wiki/Algebraic_number" title="Algebraic number">algebraic numbers</a> can be expressed using roots, and to prove the <a href="/wiki/Abel-Ruffini_theorem" title="Abel-Ruffini theorem" class="mw-redirect">Abel-Ruffini theorem</a>, which states that a general <a href="/wiki/Polynomial" title="Polynomial">polynomial</a> equation of degree five or higher cannot be solved using roots alone; this result is also known as "the insolubility of the quintic".</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#History"><span class="tocnumber">1</span> <span class="toctext">History</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Definition_and_notation"><span class="tocnumber">2</span> <span class="toctext">Definition and notation</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Square_roots"><span class="tocnumber">2.1</span> <span class="toctext">Square roots</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Cube_roots"><span class="tocnumber">2.2</span> <span class="toctext">Cube roots</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-5"><a href="#Identities_and_properties"><span class="tocnumber">3</span> <span class="toctext">Identities and properties</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Simplified_form_of_a_radical_expression"><span class="tocnumber">4</span> <span class="toctext">Simplified form of a radical expression</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Infinite_series"><span class="tocnumber">5</span> <span class="toctext">Infinite series</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Computing_principal_roots"><span class="tocnumber">6</span> <span class="toctext">Computing principal roots</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#Complex_roots"><span class="tocnumber">7</span> <span class="toctext">Complex roots</span></a>
<ul>
<li class="toclevel-2 tocsection-10"><a href="#Square_roots_2"><span class="tocnumber">7.1</span> <span class="toctext">Square roots</span></a></li>
<li class="toclevel-2 tocsection-11"><a href="#Roots_of_unity"><span class="tocnumber">7.2</span> <span class="toctext">Roots of unity</span></a></li>
<li class="toclevel-2 tocsection-12"><a href="#nth_roots"><span class="tocnumber">7.3</span> <span class="toctext"><i>n</i>th roots</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-13"><a href="#Solving_polynomials"><span class="tocnumber">8</span> <span class="toctext">Solving polynomials</span></a></li>
<li class="toclevel-1 tocsection-14"><a href="#See_also"><span class="tocnumber">9</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-15"><a href="#References"><span class="tocnumber">10</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-16"><a href="#External_links"><span class="tocnumber">11</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=1" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<p>The origin of the root symbol  is largely speculative. Some sources imply that the symbol was first used by Arabic mathematicians. One of those mathematicians was <a href="/wiki/Ab%C5%AB_al-Hasan_ibn_Al%C4%AB_al-Qalas%C4%81d%C4%AB" title="Ab al-Hasan ibn Al al-Qalasd" class="mw-redirect">Ab al-Hasan ibn Al al-Qalasd</a> (<i>14211486</i>). Legend has it that it was taken from the <a href="/wiki/Arabic" title="Arabic" class="mw-redirect">Arabic</a> letter <i></i>, which is the first letter in the word <i>Jadhir</i> "root" in Arabic. (The <i>dh</i> in <i>Jadhir</i> is a voiced interdental fricative, like the <i>th</i> in English <i>the</i>.) Many scholars, however, including <a href="/wiki/Leonhard_Euler" title="Leonhard Euler">Leonhard Euler</a> <sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup> believe it originates from the <a href="/wiki/Letter_(alphabet)" title="Letter (alphabet)">letter</a> <i>r</i>, the first letter of <i><a href="/wiki/Radix" title="Radix">radix</a></i> "root" in <a href="/wiki/Latin" title="Latin">Latin</a> word referring to the same <a href="/wiki/Operation_(mathematics)" title="Operation (mathematics)">mathematical operation</a>. The symbol was first seen in print without the <a href="/wiki/Vinculum_(symbol)" title="Vinculum (symbol)">vinculum</a> (the horizontal "bar" over the numbers inside the radical symbol) in the year 1525 in <i>Die Coss</i> by <a href="/wiki/Christoff_Rudolff" title="Christoff Rudolff" class="mw-redirect">Christoff Rudolff</a>, a <a href="/wiki/German_people" title="German people" class="mw-redirect">German</a> mathematician.</p>
<p>The term <i>surd</i> traces back to <a href="/wiki/Khw%C4%81rizm%C4%AB" title="Khwrizm" class="mw-redirect">al-Khwrizm</a> (c. 825), who referred to rational and irrational numbers as <i>audible</i> and <i>inaudible</i>, respectively. This later led to the Arabic <i>asamm</i> (deaf, dumb) for irrational number being translated as surdus (<i>deaf</i> or <i>mute</i>) into Latin. <i>Gherardo</i> of <i>Cremona</i> (c. 1150), <i>Fibonacci</i> (1202) and then <i>Robert Recorde</i> (1551) all used the term to refer to <i>unresolved irrational roots</i>.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=2" title="Edit section: Definition and notation"></a>]</span> <span class="mw-headline" id="Definition_and_notation">Definition and notation</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:NegativeOne4Root.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/aa/NegativeOne4Root.svg/220px-NegativeOne4Root.svg.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:NegativeOne4Root.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The four 4th roots of 1,<br />
none of which is real</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:NegativeOne3Root.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/91/NegativeOne3Root.svg/220px-NegativeOne3Root.svg.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:NegativeOne3Root.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The three 3rd roots of 1,<br />
one of which is a negative real</div>
</div>
</div>
<p>The <b><i>n</i>th root</b> of a number <i>x</i>, where <i>n</i> is a positive integer, is a number <i>r</i> whose <i>n</i>th power is <i>x</i>:</p>
<dl>
<dd><img class="tex" alt="r^n = x.\!\," src="//upload.wikimedia.org/wikipedia/en/math/8/f/4/8f4247747e77d52f86d52205948286fd.png" /></dd>
</dl>
<p>Every positive <a href="/wiki/Real_number" title="Real number">real number</a> <i>x</i> has a single positive <i>n</i>th root, which is written <img class="tex" alt="\sqrt[n]{x}" src="//upload.wikimedia.org/wikipedia/en/math/5/e/4/5e4352778f3b156f05ef056f9793ec36.png" />. For <i>n</i> equal to 2 this is called the square root and the <i>n</i> is omitted. The <i>n</i>th root can also be represented using <a href="/wiki/Exponentiation" title="Exponentiation">exponentiation</a> as <i>x</i><sup>1/n</sup>.</p>
<p>For even values of <i>n</i>, positive numbers also have a negative <i>n</i>th root, while negative numbers do not have a real <i>n</i>th root. For odd values of <i>n</i>, every negative number <i>x</i> has a real negative <i>n</i>th root. For example, 2 has a real 5th root, <img class="tex" alt="\sqrt[5]{-2} \,= -1.148698354\ldots" src="//upload.wikimedia.org/wikipedia/en/math/e/7/5/e75bbbba9b8964e457e4a7c0a685487e.png" /> but 2 does not have any real 6th roots.</p>
<p>Every non-zero number <i>x</i>, real or <a href="/wiki/Complex_number" title="Complex number">complex</a>, has <i>n</i> different complex number <i>n</i>th roots including any positive or negative roots, see <a href="#Complex_roots">complex roots</a> below. The <i>n</i>th root of 0 is 0.</p>
<p>For most numbers, an <i>n</i>th root is <a href="/wiki/Irrational_number" title="Irrational number">irrational</a>. For example,</p>
<dl>
<dd><img class="tex" alt="\sqrt{2} = 1.414213562\ldots" src="//upload.wikimedia.org/wikipedia/en/math/d/d/1/dd117c27e3266e8848eca39f1af54b1c.png" /></dd>
</dl>
<p>All <i>n</i>th roots of integers, or in fact of any <a href="/wiki/Algebraic_number" title="Algebraic number">algebraic number</a>, are algebraic.</p>
<p>For the extension of powers and roots to indices that are not positive integers, see <a href="/wiki/Exponentiation" title="Exponentiation">exponentiation</a>.</p>
<p>The character codes for the radical symbols are</p>
<table class="wikitable" style="text-align:center;">
<tr>
<th>Read</th>
<th>Character</th>
<th><a href="/wiki/Unicode" title="Unicode">Unicode</a></th>
<th><a href="/wiki/ASCII" title="ASCII">ASCII</a></th>
<th><a href="/wiki/Uniform_Resource_Locator" title="Uniform Resource Locator" class="mw-redirect">URL</a></th>
<th><a href="/wiki/HTML" title="HTML">HTML</a> <small>(others)</small></th>
</tr>
<tr>
<td><i>Square root</i></td>
<td></td>
<td>U+221A</td>
<td><code>&amp;#8730;</code></td>
<td><code>%E2%88%9A</code></td>
<td><code>&amp;radic;</code></td>
</tr>
<tr>
<td><i>Cube root</i></td>
<td></td>
<td>U+221B</td>
<td><code>&amp;#8731;</code></td>
<td><code>%E2%88%9B</code></td>
<td></td>
</tr>
<tr>
<td><i>Fourth root</i></td>
<td></td>
<td>U+221C</td>
<td><code>&amp;#8732;</code></td>
<td><code>%E2%88%9C</code></td>
<td></td>
</tr>
</table>
<h3><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=3" title="Edit section: Square roots"></a>]</span> <span class="mw-headline" id="Square_roots">Square roots</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:The_graph_y_%3D_%E2%88%9Ax.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/8/8f/The_graph_y_%3D_%E2%88%9Ax.png/220px-The_graph_y_%3D_%E2%88%9Ax.png" width="220" height="125" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:The_graph_y_%3D_%E2%88%9Ax.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The graph y = <img class="tex" alt="\pm \sqrt{x}" src="//upload.wikimedia.org/wikipedia/en/math/0/0/8/008e77623880de3eaa1e13a30f8ea498.png" />.</div>
</div>
</div>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Square_root" title="Square root">Square root</a></div>
<p>The <b>square root</b> of a number <i>x</i> is that number <i>r</i> which, when <a href="/wiki/Square_(algebra)" title="Square (algebra)" class="mw-redirect">squared</a>, becomes <i>x</i>:</p>
<dl>
<dd><img class="tex" alt="r^2 = x.\!\," src="//upload.wikimedia.org/wikipedia/en/math/e/7/b/e7b8a637f5078c06e7358516dc2a2c96.png" /></dd>
</dl>
<p>Every positive real number has two square roots, one positive and one negative. For example, the two square roots of 25 are 5 and 5. The positive square root is also known as the <b>principal square root</b>, and is denoted with a radical sign:</p>
<dl>
<dd><img class="tex" alt="\sqrt{25} = 5.\!\," src="//upload.wikimedia.org/wikipedia/en/math/f/5/3/f539600c4eb7aa59ee16e54c1e84f231.png" /></dd>
</dl>
<p>Since the square of every real number is a positive real number, negative numbers do not have real square roots. However, every negative number has two <a href="/wiki/Imaginary_number" title="Imaginary number">imaginary</a> square roots. For example, the square roots of 25 are 5<i>i</i> and 5<i>i</i>, where <a href="/wiki/Imaginary_unit" title="Imaginary unit"><i>i</i></a> represents a square root of 1.</p>
<h3><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=4" title="Edit section: Cube roots"></a>]</span> <span class="mw-headline" id="Cube_roots">Cube roots</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:The_graph_y_%3D_3%E2%88%9Ax.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/7/75/The_graph_y_%3D_3%E2%88%9Ax.png/220px-The_graph_y_%3D_3%E2%88%9Ax.png" width="220" height="123" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:The_graph_y_%3D_3%E2%88%9Ax.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The graph y = <img class="tex" alt="\sqrt[3]{x}" src="//upload.wikimedia.org/wikipedia/en/math/a/1/0/a10c7f2aa138b1565920d17c22062a35.png" />.</div>
</div>
</div>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Cube_root" title="Cube root">Cube root</a></div>
<p>A <b>cube root</b> of a number <i>x</i> is a number <i>r</i> whose <a href="/wiki/Cube_(algebra)" title="Cube (algebra)">cube</a> is <i>x</i>:</p>
<dl>
<dd><img class="tex" alt="r^3 = x.\!\," src="//upload.wikimedia.org/wikipedia/en/math/8/6/a/86a027c90d931ee013f36da92f903691.png" /></dd>
</dl>
<p>Every real number <i>x</i> has exactly one real cube root, written <img class="tex" alt="\sqrt[3]{x}" src="//upload.wikimedia.org/wikipedia/en/math/a/1/0/a10c7f2aa138b1565920d17c22062a35.png" />. For example,</p>
<dl>
<dd><img class="tex" alt="\sqrt[3]{8}\,=\,2\quad\text{and}\quad\sqrt[3]{-8}\,= -2." src="//upload.wikimedia.org/wikipedia/en/math/9/a/3/9a3f9a68113114bb84da1c3e1c0e1e48.png" /></dd>
</dl>
<p>Every real number has two additional <a href="/wiki/Complex_number" title="Complex number">complex</a> cube roots (see complex roots below).</p>
<h2><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=5" title="Edit section: Identities and properties"></a>]</span> <span class="mw-headline" id="Identities_and_properties">Identities and properties</span></h2>
<p>Every <a href="/wiki/Positive_number" title="Positive number" class="mw-redirect">positive real number</a> has a positive <i>n</i>th root and the rules for operations with such surds are straightforward:</p>
<dl>
<dd><img class="tex" alt="\sqrt[n]{ab} = \sqrt[n]{a} \sqrt[n]{b} \,," src="//upload.wikimedia.org/wikipedia/en/math/1/c/4/1c4a72da0039879d6a3f51c2a3cd7842.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="\sqrt[n]{\frac{a}{b}} = \frac{\sqrt[n]{a}}{\sqrt[n]{b}} \,." src="//upload.wikimedia.org/wikipedia/en/math/b/d/a/bda2aa437b256dd2810e496f88cd0cbe.png" /></dd>
</dl>
<p>Using the exponent form as in <img class="tex" alt="x^{1/n}" src="//upload.wikimedia.org/wikipedia/en/math/4/e/b/4eb5b6192fbdc2331103f35ec4eeb4bc.png" /> normally makes it easier to cancel out powers and roots.</p>
<dl>
<dd><img class="tex" alt="\sqrt[n]{a^m} = \left(a^m\right)^{\frac{1}{n}} = a^{\frac{m}{n}}." src="//upload.wikimedia.org/wikipedia/en/math/f/a/8/fa8470504bf32778b14907106851fbae.png" /></dd>
</dl>
<p>Problems can occur when taking the <i>n</i>th roots of negative or <a href="/wiki/Complex_number" title="Complex number">complex numbers</a>. For instance:</p>
<dl>
<dd><img class="tex" alt="\sqrt{-1}\times\sqrt{-1} = -1" src="//upload.wikimedia.org/wikipedia/en/math/1/1/b/11b6b7fd738dbcf97019cc377975cb0e.png" /></dd>
</dl>
<p>whereas</p>
<dl>
<dd><img class="tex" alt="\sqrt{-1 \times -1} = 1" src="//upload.wikimedia.org/wikipedia/en/math/7/2/1/72106e59f9ea7701831b0432b0d619ee.png" /></dd>
</dl>
<p>when taking the <a href="/wiki/Principal_value" title="Principal value">principal value</a> of the roots. See <a href="/wiki/Exponentiation#Failure_of_power_and_logarithm_identities" title="Exponentiation">failure of power and logarithm identities</a> in the exponentiation article for more details.</p>
<h2><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=6" title="Edit section: Simplified form of a radical expression"></a>]</span> <span class="mw-headline" id="Simplified_form_of_a_radical_expression">Simplified form of a radical expression</span></h2>
<p>A radical expression is said to be in <b>simplified form</b> if<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup></p>
<ol>
<li>There is no factor of the radicand that can be written as a power greater than or equal to the index.</li>
<li>There are no fractions under the radical sign.</li>
<li>There are no radicals in the denominator.</li>
</ol>
<p>For example, to write the radical expression <img class="tex" alt="\sqrt{\tfrac{32}{5}}" src="//upload.wikimedia.org/wikipedia/en/math/0/9/0/090ff6c2a2f9be1fa6b244b169c9475a.png" /> in simplified form, we can proceed as follows. First, look for a perfect square under the square root sign and remove it:</p>
<dl>
<dd><img class="tex" alt="\sqrt{\tfrac{32}{5}} = \sqrt{\tfrac{16 \cdot 2}{5}} = 4 \sqrt{\tfrac{2}{5}}" src="//upload.wikimedia.org/wikipedia/en/math/3/5/d/35d8d14a7388ee39b1a0b4203afd121b.png" /></dd>
</dl>
<p>Next, there is a fraction under the radical sign, which we change as follows:</p>
<dl>
<dd><img class="tex" alt="4 \sqrt{\tfrac{2}{5}} = \frac{4 \sqrt{2}}{\sqrt{5}}" src="//upload.wikimedia.org/wikipedia/en/math/f/c/6/fc62d3b4bab43d72bc570a2385d2d9ae.png" /></dd>
</dl>
<p>Finally, we remove the radical from the denominator as follows:</p>
<dl>
<dd><img class="tex" alt="\frac{4 \sqrt{2}}{\sqrt{5}} = \frac{4 \sqrt{2}}{\sqrt{5}} \cdot \frac{\sqrt{5}}{\sqrt{5}} = \frac{4 \sqrt{10}}{5}" src="//upload.wikimedia.org/wikipedia/en/math/a/f/f/aff49ad0c56236142d4d20fa463bffca.png" /></dd>
</dl>
<p>When there is a denominator involving surds it may be possible to find a factor to multiply both numerator and denominator by to simplify the expression. For instance using the <a href="/wiki/Factorization#Sum.2Fdifference_of_two_cubes" title="Factorization">factorization of the sum of two cubes</a>:</p>
<dl>
<dd><img class="tex" alt="\frac{1}{\sqrt[3]{a}+\sqrt[3]{b}} = \frac{\sqrt[3]{a^2}-\sqrt[3]{ab}+\sqrt[3]{b^2}}{(\sqrt[3]{a}+\sqrt[3]{b})(\sqrt[3]{a^2}-\sqrt[3]{ab}+\sqrt[3]{b^2})} = \frac{\sqrt[3]{a^2}-\sqrt[3]{ab}+\sqrt[3]{b^2}}{a+b} \,." src="//upload.wikimedia.org/wikipedia/en/math/7/c/0/7c0451ee16e40408d714290ff68a3bc2.png" /></dd>
</dl>
<p>Simplifying radical expressions involving <a href="/wiki/Nested_radical" title="Nested radical">nested radicals</a> can be quite difficult. It is not immediately obvious for instance that:</p>
<dl>
<dd><img class="tex" alt="\sqrt{3+2\sqrt{2}} = 1+\sqrt{2}\," src="//upload.wikimedia.org/wikipedia/en/math/d/a/f/daffa6a91b91781b41ce08ff45d67b2d.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=7" title="Edit section: Infinite series"></a>]</span> <span class="mw-headline" id="Infinite_series">Infinite series</span></h2>
<p>The radical or root may be represented by the <a href="/wiki/Infinite_series" title="Infinite series" class="mw-redirect">infinite series</a>:</p>
<dl>
<dd><img class="tex" alt="
(1+x)^{s/t} = \sum_{n=0}^\infty \frac{\prod_{k=0}^{n-1} (s-kt)}{n!t^n}x^n
" src="//upload.wikimedia.org/wikipedia/en/math/f/3/d/f3d1c5494f0dd502610127718bd7fad9.png" /></dd>
</dl>
<p>with <img class="tex" alt="|x|&lt;1" src="//upload.wikimedia.org/wikipedia/en/math/1/1/2/112f97d0a5732861bb9297b7d2c3e631.png" />. This expression can be derived from the <a href="/wiki/Binomial_series" title="Binomial series">binomial series</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=8" title="Edit section: Computing principal roots"></a>]</span> <span class="mw-headline" id="Computing_principal_roots">Computing principal roots</span></h2>
<p>The <i>n</i>th root of an integer is not always an integer, and if it is not an integer then it is not a rational number. For instance, the fifth root of 34 is</p>
<dl>
<dd><img class="tex" alt=" \sqrt[5]{34} = 2.024397458 \ldots, " src="//upload.wikimedia.org/wikipedia/en/math/d/2/7/d2772990726be278ed230db1850dc23d.png" /></dd>
</dl>
<p>where the dots signify that the decimal expression does not end after any finite number of digits. Since in this example the digits after the decimal never enter a repeating pattern, the number is irrational.</p>
<p>The <i>n</i>th root of a number <i>A</i> can be computed by the <a href="/wiki/Nth_root_algorithm" title="Nth root algorithm"><i>n</i>th root algorithm</a>, a special case of <a href="/wiki/Newton%27s_method" title="Newton's method">Newton's method</a>. Start with an initial guess <i>x</i><sub>0</sub> and then iterate using the recurrence relation</p>
<dl>
<dd><img class="tex" alt="x_{k+1} = \frac{1}{n} \left({(n-1)x_k +\frac{A}{x_k^{n-1}}}\right) " src="//upload.wikimedia.org/wikipedia/en/math/8/f/d/8fd382788bd56de6239f8f2edd1e3b97.png" /></dd>
</dl>
<p>until the desired precision is reached.</p>
<p>Depending on the application, it may be enough to use only the first Newton approximant:</p>
<dl>
<dd><img class="tex" alt=" \sqrt[n]{x^n+y} \approx x + \frac{y}{n x^{n-1}}. " src="//upload.wikimedia.org/wikipedia/en/math/a/2/5/a25d581b7161170fc8ab0dbe74532ecc.png" /></dd>
</dl>
<p>For example, to find the fifth root of 34, note that 2<sup>5</sup> = 32 and thus take <i>x</i> = 32 and <i>y</i> = 2 in the above formula. This yields</p>
<dl>
<dd><img class="tex" alt=" \sqrt[5]{34} = \sqrt[5]{32 + 2} \approx 2 + \frac{2}{5 \cdot 16} = 2.025. " src="//upload.wikimedia.org/wikipedia/en/math/1/9/8/198ae9a2e87d4552f51a383d13d46598.png" /></dd>
</dl>
<p>The error in the approximation is only about 0.03&#160;%.</p>
<p>Newton's method can be extended to produce a <a href="/wiki/Generalized_continued_fraction#Roots_of_positive_numbers" title="Generalized continued fraction">generalized continued fraction</a> for the <i>n</i>th root which can be modified in various ways as described in that article. For example:</p>
<p><img class="tex" alt="
\sqrt[n]{z^m} = \sqrt[n]{(x^n+y)^m} = x^m+\cfrac{my} {nx^{n-m}+\cfrac{(n-m)y} {2x^m+\cfrac{(n+m)y} {3nx^{n-m}+\cfrac{(2n-m)y} {2x^m+\cfrac{(2n+m)y} {5nx^{n-m}+\cfrac{(3n-m)y} {2x^m+\ddots}}}}}};
" src="//upload.wikimedia.org/wikipedia/en/math/0/3/2/032a1ffc66be2ecff1e5925a32b1ff92.png" /></p>
<p><img class="tex" alt="
\sqrt[n]{z^m}=x^m+\cfrac{2x^m\cdot my}{n(2z - y)-my-\cfrac{(1^2n^2-m^2)y^2}{3n(2z - y)-\cfrac{(2^2n^2-m^2)y^2}{5n(2z - y)-\cfrac{(3^2n^2-m^2)y^2}{7n(2z - y)-\ddots}}}}.
" src="//upload.wikimedia.org/wikipedia/en/math/f/8/b/f8be82a938f8c47805cfac76179ed409.png" /></p>
<p>In the case of the fifth root of 34 above (after dividing out selected common factors):</p>
<p><img class="tex" alt="
\sqrt[5]{34} = 2+\cfrac{1} {40+\cfrac{4} {4+\cfrac{6} {120+\cfrac{9} {4+\cfrac{11} {200+\cfrac{14} {4+\ddots}}}}}}
=2+\cfrac{4\cdot 1}{165-1-\cfrac{4\cdot 6}{495-\cfrac{9\cdot 11}{825-\cfrac{14\cdot 16}{1155-\ddots}}}}.
" src="//upload.wikimedia.org/wikipedia/en/math/6/a/0/6a08ca7bbb4404976826f57d81c015a5.png" /></p>
<h2><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=9" title="Edit section: Complex roots"></a>]</span> <span class="mw-headline" id="Complex_roots">Complex roots</span></h2>
<p>Every <a href="/wiki/Complex_number" title="Complex number">complex number</a> other than 0 has <i>n</i> different <i>n</i>th roots.</p>
<h3><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=10" title="Edit section: Square roots"></a>]</span> <span class="mw-headline" id="Square_roots_2">Square roots</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Imaginary2Root.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/32/Imaginary2Root.svg/220px-Imaginary2Root.svg.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Imaginary2Root.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The square roots of <i><b>i</b></i></div>
</div>
</div>
<p>The two square roots of a complex number are always negatives of each other. For example, the square roots of 4 are 2<i>i</i> and 2<i>i</i>, and the square roots of <i>i</i> are</p>
<dl>
<dd><img class="tex" alt="\frac{1 + i}{\sqrt{2}}\quad\text{and}\quad\frac{-1 - i}{\sqrt{2}}." src="//upload.wikimedia.org/wikipedia/en/math/b/a/b/bab6903c44ffcedb4d2e993924d27f92.png" /></dd>
</dl>
<p>If we express a complex number in polar form, then the square root can be obtained by taking the square root of the radius and halving the angle:</p>
<dl>
<dd><img class="tex" alt="\sqrt{re^{i\theta}} \,=\, \pm\sqrt{r}\,e^{i\theta/2}." src="//upload.wikimedia.org/wikipedia/en/math/f/2/5/f251729a75a1a8145c82cf8142f3bb1f.png" /></dd>
</dl>
<p>A <i>principal</i> root of a complex number may be chosen in various ways, for example</p>
<dl>
<dd><img class="tex" alt="\sqrt{re^{i\theta}} \,=\, \sqrt{r}\,e^{i\theta/2}" src="//upload.wikimedia.org/wikipedia/en/math/e/c/6/ec6b1d8bf116de471ba21dc62202aba5.png" /></dd>
</dl>
<p>which introduces a <a href="/wiki/Branch_cut" title="Branch cut" class="mw-redirect">branch cut</a> in the <a href="/wiki/Complex_plane" title="Complex plane">complex plane</a> along the positive real axis with the condition 0&#160;&#160;<i></i>&#160;&lt;&#160;2, or along the negative real axis with &#160;&lt;&#160;<i></i>&#160;&#160;.</p>
<p>Using the first(last) branch cut the principal square root <img class="tex" alt="\sqrt z" src="//upload.wikimedia.org/wikipedia/en/math/8/a/b/8abc6972001d6bcdb94a777326d8c762.png" /> maps <img class="tex" alt="z" src="//upload.wikimedia.org/wikipedia/en/math/f/b/a/fbade9e36a3f36d3d676c1b808451dd7.png" /> to the half plane with non-negative imaginary(real) part. The last branch cut is presupposed in mathematical software like <a href="/wiki/Matlab" title="Matlab" class="mw-redirect">Matlab</a> or <a href="/wiki/Scilab" title="Scilab">Scilab</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=11" title="Edit section: Roots of unity"></a>]</span> <span class="mw-headline" id="Roots_of_unity">Roots of unity</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:3rd_roots_of_unity.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/39/3rd_roots_of_unity.svg/220px-3rd_roots_of_unity.svg.png" width="220" height="180" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:3rd_roots_of_unity.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The three 3rd roots of 1</div>
</div>
</div>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Root_of_unity" title="Root of unity">Root of unity</a></div>
<p>The number 1 has <i>n</i> different <i>n</i>th roots in the complex plane, namely</p>
<dl>
<dd><img class="tex" alt="1,\;\omega,\;\omega^2,\;\ldots,\;\omega^{n-1}," src="//upload.wikimedia.org/wikipedia/en/math/4/f/f/4ff92e02f410ebe0bc11af158dbddedc.png" /></dd>
</dl>
<p>where</p>
<dl>
<dd><img class="tex" alt="\omega \,=\, e^{2\pi i/n} \,=\, \cos\left(\frac{2\pi}{n}\right) + i\sin\left(\frac{2\pi}{n}\right)" src="//upload.wikimedia.org/wikipedia/en/math/b/8/a/b8a093a47972c152f3ac389d204e20b1.png" /></dd>
</dl>
<p>These roots are evenly spaced around the <a href="/wiki/Unit_circle" title="Unit circle">unit circle</a> in the complex plane, at angles which are multiples of <img class="tex" alt="2\pi/n" src="//upload.wikimedia.org/wikipedia/en/math/3/e/4/3e48363673505285725af54bee72a0e2.png" />. For example, the square roots of unity are 1 and 1, and the fourth roots of unity are 1, <img class="tex" alt="i" src="//upload.wikimedia.org/wikipedia/en/math/8/6/5/865c0c0b4ab0e063e5caa3387c1a8741.png" />, 1, and <img class="tex" alt="-i" src="//upload.wikimedia.org/wikipedia/en/math/2/0/f/20f011826070657b0f0092278d65ec74.png" />.</p>
<h3><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=12" title="Edit section: nth roots"></a>]</span> <span class="mw-headline" id="nth_roots"><i>n</i>th roots</span></h3>
<p>Every complex number has <i>n</i> different <i>n</i>th roots in the complex plane. These are</p>
<dl>
<dd><img class="tex" alt="\eta,\;\eta\omega,\;\eta\omega^2,\;\ldots,\;\eta\omega^{n-1}," src="//upload.wikimedia.org/wikipedia/en/math/d/0/3/d03c61421c2e310d5e214f85bf0e0bbc.png" /></dd>
</dl>
<p>where <i></i> is a single <i>n</i>th root, and 1,&#160;<i></i>,&#160;<i></i><sup>2</sup>,&#160;...&#160;<i></i><sup><i>n</i>1</sup> are the <i>n</i>th roots of unity. For example, the four different fourth roots of 2 are</p>
<dl>
<dd><img class="tex" alt="\sqrt[4]{2},\quad i\sqrt[4]{2},\quad -\sqrt[4]{2},\quad\text{and}\quad -i\sqrt[4]{2}." src="//upload.wikimedia.org/wikipedia/en/math/9/6/9/9694f35fef8ad7c207131fcb2770c6dd.png" /></dd>
</dl>
<p>In polar form, a single <i>n</i>th root may be found by the formula</p>
<dl>
<dd><img class="tex" alt="\sqrt[n]{re^{i\theta}} \,=\, \sqrt[n]{r}\,e^{i\theta/n}." src="//upload.wikimedia.org/wikipedia/en/math/9/a/3/9a363b547d8719bf4f2a7f2da0f504e5.png" /></dd>
</dl>
<p>Here <i>r</i> is the magnitude (the modulus, also called the <a href="/wiki/Absolute_value" title="Absolute value">absolute value</a>) of the number whose root is to be taken; if the number can be written as <i>a+bi</i> then <img class="tex" alt="r=\sqrt{a^2+b^2}" src="//upload.wikimedia.org/wikipedia/en/math/3/c/2/3c273687491d80b1915760b3c5161abb.png" />. Also, <img class="tex" alt="\theta" src="//upload.wikimedia.org/wikipedia/en/math/5/0/d/50d91f80cbb8feda1d10e167107ad1ff.png" /> is the angle formed as one pivots on the origin counterclockwise from the positive horizontal axis to a ray going from the origin to the number; it has the properties that <img class="tex" alt="\cos \theta = a/r," src="//upload.wikimedia.org/wikipedia/en/math/5/9/e/59e117a94f5d0c6a6e90edbb34842226.png" /> <img class="tex" alt=" \sin \theta = b/r," src="//upload.wikimedia.org/wikipedia/en/math/1/b/e/1bea671b7663b154e9c0dd7da840c153.png" /> and <img class="tex" alt=" \tan \theta = b/a." src="//upload.wikimedia.org/wikipedia/en/math/e/1/f/e1fc70c6629de0361072ff8e6df61c04.png" /></p>
<p>Thus finding <i>n</i>th roots in the complex plane can be segmented into two steps. First, the magnitude of all the <i>n</i>th roots is the <i>n</i>th root of the magnitude of the original number. Second, the direction of a ray from the origin to one of the <i>n</i>th roots involves an angle <img class="tex" alt="\theta / n" src="//upload.wikimedia.org/wikipedia/en/math/a/6/6/a665f62ed66325ccf7076134ebf84404.png" /> relative to the positive horizontal axis that is 1/<i>n</i> times the angle <img class="tex" alt="\theta" src="//upload.wikimedia.org/wikipedia/en/math/5/0/d/50d91f80cbb8feda1d10e167107ad1ff.png" /> of a ray from the origin to the original number relative to the positive horizontal axis. Furthermore, all <i>n</i> of the <i>n</i>th roots are at equally spaced angles from each other.</p>
<p>As with square roots, the formula above cannot be applied consistently to the entire complex plane, but instead leads to a branch cut at the points where <i></i>&#160;/&#160;<i>n</i> suddenly jumps.<sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Please_clarify" title="Wikipedia:Please clarify"><span title="The text in the vicinity of this tag needs clarification or removal of jargon from January 2012">clarification needed</span></a></i>]</sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=13" title="Edit section: Solving polynomials"></a>]</span> <span class="mw-headline" id="Solving_polynomials">Solving polynomials</span></h2>
<p>It was once believed that all roots of <a href="/wiki/Polynomial" title="Polynomial">polynomials</a> could be expressed in terms of radicals and <a href="/wiki/Elementary_arithmetic" title="Elementary arithmetic">elementary operations</a>; however, while this is true for third degree polynomials (<a href="/wiki/Cubic_function" title="Cubic function">cubics</a>) and fourth degree polynomials (<a href="/wiki/Quartic_function" title="Quartic function">quartics</a>), the <a href="/wiki/Abel-Ruffini_theorem" title="Abel-Ruffini theorem" class="mw-redirect">Abel-Ruffini theorem</a> (1824) shows that this is not true in general when the degree is 5 or greater. For example, the solutions of the equation</p>
<dl>
<dd><img class="tex" alt="x^5=x+1\," src="//upload.wikimedia.org/wikipedia/en/math/c/c/6/cc695d1d61d7cd8a8217aea318736b76.png" /></dd>
</dl>
<p>cannot be expressed in terms of radicals. (<i>cf.</i> <a href="/wiki/Quintic_equation" title="Quintic equation" class="mw-redirect">quintic equation</a>)</p>
<p>For solving any equation of the <i>n</i>th degree numerically, to obtain a result that is arbitrarily close to being exact, see <a href="/wiki/Root-finding_algorithm" title="Root-finding algorithm">Root-finding algorithm</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=14" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Nth_root_algorithm" title="Nth root algorithm">Nth root algorithm</a></li>
<li><a href="/wiki/Shifting_nth-root_algorithm" title="Shifting nth-root algorithm" class="mw-redirect">Shifting nth-root algorithm</a></li>
<li><a href="/wiki/Irrational_number" title="Irrational number">Irrational number</a></li>
<li><a href="/wiki/Algebraic_number" title="Algebraic number">Algebraic number</a></li>
<li><a href="/wiki/Nested_radical" title="Nested radical">Nested radical</a></li>
<li><a href="/wiki/Twelfth_root_of_two" title="Twelfth root of two">Twelfth root of two</a></li>
<li><a href="/wiki/Super-root" title="Super-root" class="mw-redirect">Super-root</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=15" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation book">Bansal, R K (2006). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=1C4iQNUWLBwC&amp;pg=PA25#v=onepage&amp;q&amp;f=false"><i>New Approach to CBSE Mathematics IX</i></a>. Laxmi Publications. p.&#160;25. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-81-318-0013-3" title="Special:BookSources/978-81-318-0013-3">978-81-318-0013-3</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=1C4iQNUWLBwC&amp;pg=PA25#v=onepage&amp;q&amp;f=false">http://books.google.com/books?id=1C4iQNUWLBwC&amp;pg=PA25#v=onepage&amp;q&amp;f=false</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=New+Approach+to+CBSE+Mathematics+IX&amp;rft.aulast=Bansal&amp;rft.aufirst=R+K&amp;rft.au=Bansal%2C%26%2332%3BR+K&amp;rft.date=2006&amp;rft.pages=p.%26nbsp%3B25&amp;rft.pub=Laxmi+Publications&amp;rft.isbn=978-81-318-0013-3&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3D1C4iQNUWLBwC%26pg%3DPA25%23v%3Donepage%26q%26f%3Dfalse&amp;rfr_id=info:sid/en.wikipedia.org:Nth_root"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-silver-1"><b><a href="#cite_ref-silver_1-0">^</a></b> <span class="reference-text"><span class="citation book">Silver, Howard A. (1986). <i>Algebra and trigonometry</i>. Englewood Cliffs, N.J.: Prentice-Hall. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-13-021270-9" title="Special:BookSources/0-13-021270-9">0-13-021270-9</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Algebra+and+trigonometry&amp;rft.aulast=Silver&amp;rft.aufirst=Howard+A.&amp;rft.au=Silver%2C%26%2332%3BHoward+A.&amp;rft.date=1986&amp;rft.place=Englewood+Cliffs%2C+N.J.&amp;rft.pub=Prentice-Hall&amp;rft.isbn=0-13-021270-9&amp;rfr_id=info:sid/en.wikipedia.org:Nth_root"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><span class="citation book">Leonhard Euler (1755) (in Latin). Institutiones calculi differentialis.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=%27%27Institutiones+calculi+differentialis%27%27&amp;rft.aulast=Leonhard+Euler&amp;rft.au=Leonhard+Euler&amp;rft.date=1755&amp;rfr_id=info:sid/en.wikipedia.org:Nth_root"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://jeff560.tripod.com/s.html">"Earliest Known Uses of Some of the Words of Mathematics"</a>. Mathematics Pages by Jeff Miller<span class="printonly">. <a rel="nofollow" class="external free" href="http://jeff560.tripod.com/s.html">http://jeff560.tripod.com/s.html</a></span><span class="reference-accessdate">. Retrieved 2008-11-30</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Earliest+Known+Uses+of+Some+of+the+Words+of+Mathematics&amp;rft.atitle=&amp;rft.pub=Mathematics+Pages+by+Jeff+Miller&amp;rft_id=http%3A%2F%2Fjeff560.tripod.com%2Fs.html&amp;rfr_id=info:sid/en.wikipedia.org:Nth_root"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><span class="citation book">McKeague, Charles P. (2011). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=etTbP0rItQ4C&amp;printsec=frontcover&amp;dq=ions:q0hGn6PkOxsC&amp;hl=sv&amp;ei=52CsTqv9Go7sOZ_tldAP&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=2&amp;ved=0CDEQ6AEwAQ#v=onepage&amp;q&amp;f=false"><i>Elementary algebra</i></a>. p.&#160;470<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=etTbP0rItQ4C&amp;printsec=frontcover&amp;dq=ions:q0hGn6PkOxsC&amp;hl=sv&amp;ei=52CsTqv9Go7sOZ_tldAP&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=2&amp;ved=0CDEQ6AEwAQ#v=onepage&amp;q&amp;f=false">http://books.google.com/books?id=etTbP0rItQ4C&amp;printsec=frontcover&amp;dq=ions:q0hGn6PkOxsC&amp;hl=sv&amp;ei=52CsTqv9Go7sOZ_tldAP&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=2&amp;ved=0CDEQ6AEwAQ#v=onepage&amp;q&amp;f=false</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Elementary+algebra&amp;rft.aulast=McKeague&amp;rft.aufirst=Charles+P.&amp;rft.au=McKeague%2C%26%2332%3BCharles+P.&amp;rft.date=2011&amp;rft.pages=p.%26nbsp%3B470&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DetTbP0rItQ4C%26printsec%3Dfrontcover%26dq%3Dions%3Aq0hGn6PkOxsC%26hl%3Dsv%26ei%3D52CsTqv9Go7sOZ_tldAP%26sa%3DX%26oi%3Dbook_result%26ct%3Dresult%26resnum%3D2%26ved%3D0CDEQ6AEwAQ%23v%3Donepage%26q%26f%3Dfalse&amp;rfr_id=info:sid/en.wikipedia.org:Nth_root"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Nth_root&amp;action=&amp;section=16" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/surd">surd</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/radical">radical</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 4854/1000000
Post-expand include size: 25578/2048000 bytes
Template argument size: 8284/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:235029-0!0!0!!en!4!* and timestamp 20120412185808 -->
