<p>In <a href="/wiki/Algebra" title="Algebra">algebra</a>, the <b>partial fraction decomposition</b> or <b>partial fraction expansion</b> is a procedure used to reduce the <a href="/wiki/Degree_of_a_polynomial" title="Degree of a polynomial">degree</a> of <i>either</i> the numerator or the denominator of a <a href="/wiki/Rational_function" title="Rational function">rational function</a> (also known as a rational <a href="/wiki/Algebraic_fraction" title="Algebraic fraction">algebraic fraction</a>).</p>
<p>In symbols, one can use <i>partial fraction expansion</i> to change a rational function in the form</p>
<dl>
<dd><img class="tex" alt=" \frac{f(x)}{g(x)} " src="//upload.wikimedia.org/wikipedia/en/math/4/e/b/4eb01f75f9c723e11238562ba106e9f7.png" /></dd>
</dl>
<p>where <i></i> and <i>g</i> are polynomials, into a function of the form</p>
<dl>
<dd><img class="tex" alt=" \sum_j \frac{f_j(x)}{g_j(x)} " src="//upload.wikimedia.org/wikipedia/en/math/3/d/e/3decd4cc11847e0bc6f8c5c1a9b42c2c.png" /></dd>
</dl>
<p>where <i>g</i><sub><i>j</i></sub>&#160;(<i>x</i>) are polynomials that are factors of <i>g</i>(<i>x</i>), and are in general of lower degree. Thus the partial fraction decomposition may be seen as the inverse procedure of the more elementary operation of addition of algebraic fractions, that produces a single rational function with a numerator and denominator usually of high degree. The <i>full</i> decomposition pushes the reduction as far as it will go: in other words, the factorization of <i>g</i> is used as much as possible. Thus, the outcome of a full partial fraction expansion expresses that function as a sum of fractions, where:</p>
<ul>
<li>the <a href="/wiki/Denominator" title="Denominator" class="mw-redirect">denominator</a> of each term is a <a href="/wiki/Exponentiation" title="Exponentiation">power</a> of an <a href="/wiki/Irreducible_polynomial" title="Irreducible polynomial">irreducible</a> (not factorable) <a href="/wiki/Polynomial" title="Polynomial">polynomial</a> and</li>
<li>the <a href="/wiki/Numerator" title="Numerator" class="mw-redirect">numerator</a> is a polynomial of smaller degree than that irreducible polynomial. To decrease the degree of the numerator directly, the <a href="/wiki/Euclidean_algorithm" title="Euclidean algorithm">Euclidean algorithm</a> can be used, but in fact if <i></i> already has lower degree than <i>g</i> this isn't helpful.</li>
</ul>
<p>The main motivation to decompose a rational function into a sum of simpler fractions is that it makes it simpler to perform linear operations on it. Therefore the problem of computing derivatives, antiderivatives, integrals, power series expansions, Fourier series, residues, and linear functional transformations of rational functions can be reduced, via partial fraction decomposition, to making the computation on each single element used in the decomposition. See e.g. <a href="/wiki/Partial_fractions_in_integration" title="Partial fractions in integration">partial fractions in integration</a> for an account of the use of the partial fractions in finding antiderivatives. Just which polynomials are irreducible depends on which <a href="/wiki/Field_(mathematics)" title="Field (mathematics)">field</a> of <a href="/wiki/Scalar_(mathematics)" title="Scalar (mathematics)">scalars</a> one adopts. Thus if one allows only <a href="/wiki/Real_number" title="Real number">real numbers</a>, then irreducible polynomials are of degree either 1 or 2. If <a href="/wiki/Complex_number" title="Complex number">complex numbers</a> are allowed, only 1st-degree polynomials can be irreducible. If one allows only <a href="/wiki/Rational_number" title="Rational number">rational numbers</a>, or a <a href="/wiki/Finite_field" title="Finite field">finite field</a>, then some higher-degree polynomials are irreducible.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Basic_principles"><span class="tocnumber">1</span> <span class="toctext">Basic principles</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Procedure"><span class="tocnumber">2</span> <span class="toctext">Procedure</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Illustration"><span class="tocnumber">2.1</span> <span class="toctext">Illustration</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Residue_method"><span class="tocnumber">2.2</span> <span class="toctext">Residue method</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-5"><a href="#Over_the_reals"><span class="tocnumber">3</span> <span class="toctext">Over the reals</span></a>
<ul>
<li class="toclevel-2 tocsection-6"><a href="#General_result"><span class="tocnumber">3.1</span> <span class="toctext">General result</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-7"><a href="#Examples"><span class="tocnumber">4</span> <span class="toctext">Examples</span></a>
<ul>
<li class="toclevel-2 tocsection-8"><a href="#Example_1"><span class="tocnumber">4.1</span> <span class="toctext">Example 1</span></a></li>
<li class="toclevel-2 tocsection-9"><a href="#Example_2"><span class="tocnumber">4.2</span> <span class="toctext">Example 2</span></a></li>
<li class="toclevel-2 tocsection-10"><a href="#Example_3"><span class="tocnumber">4.3</span> <span class="toctext">Example 3</span></a></li>
<li class="toclevel-2 tocsection-11"><a href="#Example_4_.28residue_method.29"><span class="tocnumber">4.4</span> <span class="toctext">Example 4 (residue method)</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-12"><a href="#The_role_of_the_Taylor_polynomial"><span class="tocnumber">5</span> <span class="toctext">The role of the Taylor polynomial</span></a></li>
<li class="toclevel-1 tocsection-13"><a href="#Fractions_of_integers"><span class="tocnumber">6</span> <span class="toctext">Fractions of integers</span></a></li>
<li class="toclevel-1 tocsection-14"><a href="#Notes"><span class="tocnumber">7</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-15"><a href="#References"><span class="tocnumber">8</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-16"><a href="#External_links"><span class="tocnumber">9</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=1" title="Edit section: Basic principles"></a>]</span> <span class="mw-headline" id="Basic_principles">Basic principles</span></h2>
<p>The basic principles involved are quite simple; it is the algorithmic aspects that require attention in particular cases. On the other hand, the existence of a decomposition of a certain kind is an assumption in practical cases, and the principles should explain which assumptions are justified.</p>
<p>Assume a rational function <i>R</i>(<i>x</i>)&#160;=&#160;<i></i>(<i>x</i>)/<i>g</i>(<i>x</i>) in one <a href="/wiki/Indeterminate_(variable)" title="Indeterminate (variable)">indeterminate</a> <i>x</i> has a <a href="/wiki/Denominator" title="Denominator" class="mw-redirect">denominator</a> that factors as</p>
<dl>
<dd><img class="tex" alt=" g(x) = P(x) \cdot Q(x) \, " src="//upload.wikimedia.org/wikipedia/en/math/8/9/5/8951b267da631c3cc3ee2eaad56b7229.png" /></dd>
</dl>
<p>over a <a href="/wiki/Field_(mathematics)" title="Field (mathematics)">field</a> <i>K</i> (we can take this to be <a href="/wiki/Real_number" title="Real number">real numbers</a>, or <a href="/wiki/Complex_number" title="Complex number">complex numbers</a>). If <i>P</i> and <i>Q</i> have no common factor, then <i>R</i> may be written as</p>
<dl>
<dd><img class="tex" alt=" \frac{A}{P} + \frac{B}{Q}" src="//upload.wikimedia.org/wikipedia/en/math/0/e/f/0efc90047c87e523e2e85303934d7185.png" /></dd>
</dl>
<p>for some polynomials <i>A</i>(<i>x</i>) and <i>B</i>(<i>x</i>) over <i>K</i>. The <i>existence</i> of such a decomposition is a consequence of the fact that the <a href="/wiki/Polynomial_ring" title="Polynomial ring">polynomial ring</a> over <i>K</i> is a <a href="/wiki/Principal_ideal_domain" title="Principal ideal domain">principal ideal domain</a>, so that</p>
<dl>
<dd><img class="tex" alt="CP + DQ = 1 \, " src="//upload.wikimedia.org/wikipedia/en/math/d/6/4/d649d8414e32aa7d6dea94a549d2798d.png" /></dd>
</dl>
<p>for some polynomials <i>C</i>(<i>x</i>) and <i>D</i>(<i>x</i>) (see <a href="/wiki/B%C3%A9zout%27s_identity" title="Bzout's identity">Bzout's identity</a>).</p>
<p>Using this idea inductively we can write <i>R</i>(<i>x</i>) as a sum with denominators powers of <a href="/wiki/Irreducible_polynomial" title="Irreducible polynomial">irreducible polynomials</a>. To take this further, if required, write:</p>
<dl>
<dd><img class="tex" alt="\frac {G(x)}{F(x)^n}" src="//upload.wikimedia.org/wikipedia/en/math/1/1/1/1117f1b04b8c7a6d86a9818274699318.png" /></dd>
</dl>
<p>as a sum with denominators powers of <i>F</i> and <a href="/wiki/Numerator" title="Numerator" class="mw-redirect">numerators</a> of degree less than <i>F</i>, plus a possible extra polynomial. This can be done by the <a href="/wiki/Euclidean_algorithm" title="Euclidean algorithm">Euclidean algorithm</a>, polynomial case. The result is the following <a href="/wiki/Theorem" title="Theorem">theorem</a>:</p>
<blockquote class="toccolours" style="float:none; padding: 10px 15px 10px 15px; display:table;">
<p>Let <i></i> and <i>g</i> be nonzero polynomials over a field <i>K</i>. Write <i>g</i> as a product of powers of distinct irreducible polynomials:</p>
<dl>
<dd><img class="tex" alt="g=\prod_{i=1}^k p_i^{n_i}." src="//upload.wikimedia.org/wikipedia/en/math/9/f/9/9f9803e06e13cbfc2a6deace881e4c98.png" /></dd>
</dl>
There are (unique) polynomials <i>b</i> and <i>a</i><sub>&#160;<i>ij</i></sub> with deg&#160;<i>a</i><sub>&#160;<i>ij</i></sub>&#160;&lt;&#160;deg&#160;<i>p</i><sub>&#160;<i>i</i></sub> such that
<dl>
<dd><img class="tex" alt="\frac{f}{g}=b+\sum_{i=1}^k\sum_{j=1}^{n_i}\frac{a_{ij}}{p_i^j}." src="//upload.wikimedia.org/wikipedia/en/math/6/1/4/6140740f79ecb80653eedde4df7ef5a9.png" /></dd>
</dl>
If deg&#160;<i></i>&#160;&lt;&#160;deg&#160;<i>g</i>, then <i>b</i>&#160;=&#160;0.</blockquote>
<p>Therefore when the field <i>K</i> is the complex numbers, we can assume that each <i>p</i><sub><i>i</i></sub> has degree 1 (by the <a href="/wiki/Fundamental_theorem_of_algebra" title="Fundamental theorem of algebra">fundamental theorem of algebra</a>) the numerators will be constant. When <i>K</i> is the real numbers, some of the <i>p</i><sub><i>i</i></sub> might be quadratic, so in the partial fraction decomposition a quotient of a linear polynomial by a power of a quadratic will occur. This therefore is a case that requires discussion, in the systematic theory of integration (for example in <a href="/wiki/Computer_algebra" title="Computer algebra" class="mw-redirect">computer algebra</a>).</p>
<h2><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=2" title="Edit section: Procedure"></a>]</span> <span class="mw-headline" id="Procedure">Procedure</span></h2>
<p>Given two polynomials <img class="tex" alt="P(x)" src="//upload.wikimedia.org/wikipedia/en/math/c/1/9/c19f6b6a7bae1fd5b14f578c6edc3454.png" /> and <img class="tex" alt="Q(x) = (x-\alpha_1)(x-\alpha_2) \cdots (x-\alpha_n)" src="//upload.wikimedia.org/wikipedia/en/math/1/7/6/176b0d5826eb5750af9557f272d2ec16.png" />, where the <i></i><sub><i>i</i></sub> are distinct constants and deg&#160;<i>P</i>&#160;&lt;&#160;<i>n</i>, partial fractions are generally obtained by supposing that</p>
<dl>
<dd><img class="tex" alt="\frac{P(x)}{Q(x)} = \frac{c_1}{x-\alpha_1} + \frac{c_2}{x-\alpha_2} + \cdots + \frac{c_n}{x-\alpha_n}" src="//upload.wikimedia.org/wikipedia/en/math/f/8/c/f8cd0278ea5d9b4d0adda3cdd1811dad.png" /></dd>
</dl>
<p>and solving for the <i>c</i><sub><i>i</i></sub> constants, by substitution, by <a href="/wiki/Equating_the_coefficients" title="Equating the coefficients" class="mw-redirect">equating the coefficients</a> of terms involving the powers of <i>x</i>, or otherwise. (This is a variant of the <a href="/wiki/Method_of_undetermined_coefficients" title="Method of undetermined coefficients">method of undetermined coefficients</a>.)</p>
<p>This approach does not account for several other cases, but can be modified accordingly:</p>
<ul>
<li>If deg&#160;<i>P</i>&#160; <img class="tex" alt=" \ge " src="//upload.wikimedia.org/wikipedia/en/math/8/f/b/8fbe2a506fe3db0835548e1b648ec977.png" /> &#160;deg&#160;<i>Q</i>, then it is necessary to perform the division</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\frac{P(x)}{Q(x)} = P_1(x) + \frac{P_2(x)}{Q(x)}," src="//upload.wikimedia.org/wikipedia/en/math/f/d/7/fd74d56e5174e5ae7a59bfab93d196cf.png" /></dd>
</dl>
</dd>
<dd>via <a href="/wiki/Polynomial_long_division" title="Polynomial long division">polynomial long division</a> or otherwise, and then seek partial fractions for the remainder fraction (which by definition satisfies deg&#160;<i>P</i><sub>2</sub>&#160;&lt;&#160;deg&#160;<i>Q</i>).</dd>
</dl>
<ul>
<li>If <i>Q</i>(<i>x</i>) contains factors which are irreducible over the given field, then the numerator <i>N</i>(<i>x</i>) of each partial fraction with such a factor <i>F</i>(<i>x</i>) in the denominator must be sought as a polynomial with deg&#160;<i>N</i>&#160;&lt;&#160;deg&#160;<i>F</i>, rather than as a constant. For example, take the following decomposition over <b>R</b>:</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\frac{x^2 + 1}{(x+2)(x-1)\color{Blue}(x^2+x+1)} = \frac{a}{x+2} + \frac{b}{x-1} + \frac{\color{OliveGreen}cx + d}{\color{Blue}x^2 + x + 1}." src="//upload.wikimedia.org/wikipedia/en/math/f/5/2/f52beef7ceefe91bfa8516395b257d77.png" /></dd>
</dl>
</dd>
</dl>
<ul>
<li>Suppose <i>Q</i>(<i>x</i>) = (<i>x</i>  <i></i>)<sup><i>r</i></sup><i>S</i>(<i>x</i>) and <i>S</i>(<i></i>)&#160;&#160;0. Then <i>Q</i>(<i>x</i>) has a zero <i></i> of <a href="/wiki/Multiplicity_(mathematics)#Multiplicity_of_a_root_of_a_polynomial" title="Multiplicity (mathematics)">multiplicity</a> <i>r</i>, and in the partial fraction decomposition, <i>r</i> of the partial fractions will involve the powers of (<i>x</i>  <i></i>). For illustration, take <i>S</i>(<i>x</i>) =&#160;1 to get the following decomposition:</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\frac{P(x)}{Q(x)} = \frac{P(x)}{(x-\alpha)^r} = \frac{c_1}{x-\alpha} + \frac{c_2}{(x-\alpha)^2} + \cdots + \frac{c_r}{(x-\alpha)^r}." src="//upload.wikimedia.org/wikipedia/en/math/f/0/1/f0188d8f5e4d3e466da726eac1e61e3e.png" /></dd>
</dl>
</dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=3" title="Edit section: Illustration"></a>]</span> <span class="mw-headline" id="Illustration">Illustration</span></h3>
<p>In an example application of this procedure, <span class="nowrap">(3<i>x</i> + 5)/(1  2<i>x</i>)<sup>2</sup></span> can be decomposed in the form</p>
<dl>
<dd><img class="tex" alt="\frac{3x + 5}{(1-2x)^2} = \frac{A}{(1-2x)^2} + \frac{B}{(1-2x)}." src="//upload.wikimedia.org/wikipedia/en/math/0/d/b/0db538e0436da9e1534770857d0a8b5e.png" /></dd>
</dl>
<p>Clearing denominators shows that <span class="nowrap">3<i>x</i> + 5 = <i>A</i> + <i>B</i>(1&#160;&#160;2<i>x</i>)</span>. Expanding and equating the coefficients of powers of <i>x</i> gives</p>
<dl>
<dd>5 = <i>A</i> + <i>B</i> and 3<i>x</i> = 2<i>Bx</i></dd>
</dl>
<p>Solving for <i>A</i> and <i>B</i> yields <i>A</i> = 13/2 and <i>B</i> = 3/2. Hence,</p>
<dl>
<dd><img class="tex" alt="\frac{3x + 5}{(1-2x)^2} = \frac{13/2}{(1-2x)^2} + \frac{-3/2}{(1-2x)}." src="//upload.wikimedia.org/wikipedia/en/math/2/0/8/208e477caa9341533d0d251a33bc275a.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=4" title="Edit section: Residue method"></a>]</span> <span class="mw-headline" id="Residue_method">Residue method</span></h3>
<div class="rellink boilerplate seealso">See also: <a href="/wiki/Heaviside_cover-up_method" title="Heaviside cover-up method">Heaviside cover-up method</a></div>
<p>Over the complex numbers, suppose <i></i>(<i>x</i>) is a rational proper fraction, and can be decomposed into</p>
<dl>
<dd><img class="tex" alt="f(x) = \sum_i \left( \frac{a_{i1}}{x - x_i} + \frac{a_{i2}}{( x - x_i)^2} + \cdots + \frac{a_{i k_i}}{(x - x_i)^{k_i}} \right). " src="//upload.wikimedia.org/wikipedia/en/math/0/b/2/0b2f7f2325aa6eab4ea472616232f898.png" /></dd>
</dl>
<p>Let</p>
<dl>
<dd><img class="tex" alt=" g_{ij}(x)=(x-x_{i})^{j-1}f(x)," src="//upload.wikimedia.org/wikipedia/en/math/2/e/3/2e34c1d77b7f46b4e13a49f313d74199.png" /></dd>
</dl>
<p>then according to the <a href="/wiki/Laurent_series#Uniqueness" title="Laurent series">uniqueness of Laurent series</a>, <i>a</i><sub><i>ij</i></sub> is the coefficient of the term (<i>x</i>&#160;&#160;<i>x</i><sub><i>i</i></sub>)<sup>1</sup> in the Laurent expansion of <i>g</i><sub><i>ij</i></sub>(<i>x</i>) about the point <i>x</i><sub><i>i</i></sub>, i.e., its <a href="/wiki/Residue_(complex_analysis)" title="Residue (complex analysis)">residue</a></p>
<dl>
<dd><img class="tex" alt="a_{ij} = \operatorname{Res}(g_{ij},x_i)." src="//upload.wikimedia.org/wikipedia/en/math/e/e/f/eefc0e1c8c1819b733ffa25945b1883d.png" /></dd>
</dl>
<p>This is given directly by the formula</p>
<dl>
<dd><img class="tex" alt="a_{ij}=\frac{1}{(k_{i}-j)!}\lim_{x\to x_i}\frac{d^{k_{i}-j}}{dx^{k_{i}-j}}\left((x-x_{i})^{k_{i}}f(x)\right)," src="//upload.wikimedia.org/wikipedia/en/math/b/2/7/b27076fc7e9b607133dca65f27e4f7c3.png" /></dd>
</dl>
<p>or in the special case when <i>x</i><sub><i>i</i></sub> is a simple root,</p>
<dl>
<dd><img class="tex" alt="a_{i1}=\frac{P(x_{i})}{Q'(x_{i})}," src="//upload.wikimedia.org/wikipedia/en/math/5/0/1/50178a8f5c10092d83ad2f10dd71b3cf.png" /></dd>
</dl>
<p>when</p>
<dl>
<dd><img class="tex" alt="f(x)=\frac{P(x)}{Q(x)}." src="//upload.wikimedia.org/wikipedia/en/math/d/4/3/d4341f20b7b8e615fe58e2be9154cc7e.png" /></dd>
</dl>
<p>Note that <i>P</i>(<i>x</i>) and <i>Q</i>(<i>x</i>) may or may not be polynomials.</p>
<h2><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=5" title="Edit section: Over the reals"></a>]</span> <span class="mw-headline" id="Over_the_reals">Over the reals</span></h2>
<p>Partial fractions are used in <a href="/wiki/Real_number" title="Real number">real-variable</a> <a href="/wiki/Integral_calculus" title="Integral calculus" class="mw-redirect">integral calculus</a> to find real-valued <a href="/wiki/Antiderivative" title="Antiderivative">antiderivatives</a> of <a href="/wiki/Rational_function" title="Rational function">rational functions</a>. Partial fraction decomposition of real <a href="/wiki/Rational_function" title="Rational function">rational functions</a> is also used to find their <a href="/wiki/Inverse_Laplace_transform" title="Inverse Laplace transform">Inverse Laplace transforms</a>. For applications of <b>partial fraction decomposition over the reals</b>, see</p>
<ul>
<li><a href="/wiki/Partial_fractions_in_integration" title="Partial fractions in integration">Partial fractions in integration</a></li>
<li><a href="/wiki/Partial_fractions_in_Laplace_transforms" title="Partial fractions in Laplace transforms" class="mw-redirect">Partial fractions in Laplace transforms</a></li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=6" title="Edit section: General result"></a>]</span> <span class="mw-headline" id="General_result">General result</span></h3>
<p>Let <i></i>(<i>x</i>) be any rational function over the <a href="/wiki/Real_number" title="Real number">real numbers</a>. In other words, suppose there exist real polynomials <i>p</i>(<i>x</i>) and <i>q</i>(<i>x</i>) 0, such that</p>
<dl>
<dd><img class="tex" alt="f(x) = \frac{p(x)}{q(x)}" src="//upload.wikimedia.org/wikipedia/en/math/7/8/4/784c0f5b796212ddff2324a653810c65.png" /></dd>
</dl>
<p>By removing the leading coefficient of <i>q</i>(<i>x</i>), we may assume <a href="/wiki/Without_loss_of_generality" title="Without loss of generality">without loss of generality</a> that <i>q</i>(<i>x</i>) is <a href="/wiki/Monic" title="Monic">monic</a>. By the <a href="/wiki/Fundamental_theorem_of_algebra" title="Fundamental theorem of algebra">fundamental theorem of algebra</a>, we can write</p>
<dl>
<dd><img class="tex" alt="q(x) = (x-a_1)^{j_1}\cdots(x-a_m)^{j_m}(x^2+b_1x+c_1)^{k_1}\cdots(x^2+b_nx+c_n)^{k_n}" src="//upload.wikimedia.org/wikipedia/en/math/2/2/8/2286c5e21b4a0d0e2da1e5cbb708fe48.png" /></dd>
</dl>
<p>where <i>a</i><sub>1</sub>,..., <i>a</i><sub><i>m</i></sub>, <i>b</i><sub>1</sub>,..., <i>b</i><sub><i>n</i></sub>, <i>c</i><sub>1</sub>,..., <i>c</i><sub><i>n</i></sub> are real numbers with <i>b</i><sub><i>i</i></sub><sup>2</sup> - 4<i>c</i><sub><i>i</i></sub> &lt; 0, and <i>j</i><sub>1</sub>,..., <i>j</i><sub><i>m</i></sub>, <i>k</i><sub>1</sub>,..., <i>k</i><sub><i>n</i></sub> are positive integers. The terms (<i>x</i> - <i>a</i><sub><i>i</i></sub>) are the <i>linear factors</i> of <i>q</i>(<i>x</i>) which correspond to real roots of <i>q</i>(<i>x</i>), and the terms (<i>x</i><sub><i>i</i></sub><sup>2</sup> + <i>b</i><sub><i>i</i></sub><i>x</i> + <i>c</i><sub><i>i</i></sub>) are the <i>irreducible quadratic factors</i> of <i>q</i>(<i>x</i>) which correspond to pairs of <a href="/wiki/Complex_number" title="Complex number">complex</a> conjugate roots of <i>q</i>(<i>x</i>).</p>
<p>Then the partial fraction decomposition of <i></i>(<i>x</i>) is the following:</p>
<dl>
<dd><img class="tex" alt="f(x) = \frac{p(x)}{q(x)} = P(x) + \sum_{i=1}^m\sum_{r=1}^{j_i} \frac{A_{ir}}{(x-a_i)^r} + \sum_{i=1}^n\sum_{r=1}^{k_i} \frac{B_{ir}x+C_{ir}}{(x^2+b_ix+c_i)^r}" src="//upload.wikimedia.org/wikipedia/en/math/e/c/3/ec3a4639556f73015932aeead0ab4f6f.png" /></dd>
</dl>
<p>Here, <i>P</i>(<i>x</i>) is a (possibly zero) polynomial, and the <i>A</i><sub><i>ir</i></sub>, <i>B</i><sub><i>ir</i></sub>, and <i>C</i><sub><i>ir</i></sub> are real constants. There are a number of ways the constants can be found.</p>
<p>The most straightforward method is to multiply through by the common denominator <i>q</i>(<i>x</i>). We then obtain an equation of polynomials whose left-hand side is simply <i>p</i>(<i>x</i>) and whose right-hand side has coefficients which are linear expressions of the constants <i>A</i><sub><i>ir</i></sub>, <i>B</i><sub><i>ir</i></sub>, and <i>C</i><sub><i>ir</i></sub>. Since two polynomials are equal if and only if their corresponding coefficients are equal, we can equate the coefficients of like terms. In this way, a system of linear equations is obtained which <i>always</i> has a unique solution. This solution can be found using any of the standard methods of <a href="/wiki/Linear_algebra" title="Linear algebra">linear algebra</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=7" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=8" title="Edit section: Example 1"></a>]</span> <span class="mw-headline" id="Example_1">Example 1</span></h3>
<dl>
<dd><img class="tex" alt="f(x)=\frac{1}{x^2+2x-3}" src="//upload.wikimedia.org/wikipedia/en/math/1/1/9/1196f25c43fb3e3f6d096fdc0781ee20.png" /></dd>
</dl>
<p>Here, the denominator splits into two distinct linear factors:</p>
<dl>
<dd><img class="tex" alt="q(x)=x^2+2x-3=(x+3)(x-1)" src="//upload.wikimedia.org/wikipedia/en/math/4/5/c/45cba69681de4ab7bdb5c4043a0cb004.png" /></dd>
</dl>
<p>so we have the partial fraction decomposition</p>
<dl>
<dd><img class="tex" alt="f(x)=\frac{1}{x^2+2x-3} =\frac{A}{x+3}+\frac{B}{x-1}" src="//upload.wikimedia.org/wikipedia/en/math/4/6/c/46c7b4d46bccd5d60a683f9875a35902.png" /></dd>
</dl>
<p>Multiplying through by <i>x</i><sup>2</sup> + 2<i>x</i> - 3, we have the polynomial identity</p>
<dl>
<dd><img class="tex" alt="1=A(x-1)+B(x+3)" src="//upload.wikimedia.org/wikipedia/en/math/3/a/d/3ad5cdc1860c2d6c4f393b3fd7a05ccb.png" /></dd>
</dl>
<p>Substituting <i>x</i> = -3 into this equation gives <i>A</i> = -1/4, and substituting <i>x</i> = 1 gives <i>B</i> = 1/4, so that</p>
<dl>
<dd><img class="tex" alt="f(x) =\frac{1}{x^2+2x-3} =\frac{1}{4}\left(\frac{-1}{x+3}+\frac{1}{x-1}\right)" src="//upload.wikimedia.org/wikipedia/en/math/6/9/b/69bcee707e20f85769438244449a4d6c.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=9" title="Edit section: Example 2"></a>]</span> <span class="mw-headline" id="Example_2">Example 2</span></h3>
<dl>
<dd><img class="tex" alt="f(x)=\frac{x^3+16}{x^3-4x^2+8x}" src="//upload.wikimedia.org/wikipedia/en/math/4/d/c/4dc4ca6716cbd95e8fad4421e828a5e8.png" /></dd>
</dl>
<p>After long-division, we have</p>
<dl>
<dd><img class="tex" alt="f(x)=1+\frac{4x^2-8x+16}{x^3-4x^2+8x}=1+\frac{4x^2-8x+16}{x(x^2-4x+8)}" src="//upload.wikimedia.org/wikipedia/en/math/8/0/7/807bd6be8b7dec6eb58eaf426a84e6ec.png" /></dd>
</dl>
<p>Since (4)<sup>2</sup>&#160;&#160;4(8) = 16 &lt; 0, <i>x</i><sup>2</sup>  4<i>x</i> + 8 is irreducible, and so</p>
<dl>
<dd><img class="tex" alt="\frac{4x^2-8x+16}{x(x^2-4x+8)}=\frac{A}{x}+\frac{Bx+C}{x^2-4x+8}" src="//upload.wikimedia.org/wikipedia/en/math/b/6/0/b60be02cd6ab1df5b5077a09cb919f0d.png" /></dd>
</dl>
<p>Multiplying through by <i>x</i><sup>3</sup>  4<i>x</i><sup>2</sup> + 8<i>x</i>, we have the polynomial identity</p>
<dl>
<dd><img class="tex" alt="4x^2-8x+16 = A(x^2-4x+8)+(Bx+C)x" src="//upload.wikimedia.org/wikipedia/en/math/9/c/e/9ce86bdcaea36291d4af4972c4db3041.png" /></dd>
</dl>
<p>Taking <i>x</i> = 0, we see that 16 = 8<i>A</i>, so <i>A</i> = 2. Comparing the <i>x</i><sup>2</sup> coefficients, we see that 4 = <i>A</i> + <i>B</i> = 2 + <i>B</i>, so <i>B</i> = 2. Comparing linear coefficients, we see that 8 = 4<i>A</i> + <i>C</i> = 8 + <i>C</i>, so <i>C</i> = 0. Altogether,</p>
<dl>
<dd><img class="tex" alt="f(x)=1+2\left(\frac{1}{x}+\frac{x}{x^2-4x+8}\right)" src="//upload.wikimedia.org/wikipedia/en/math/3/f/9/3f9c8845d19eec9bf66e1466d5208829.png" /></dd>
</dl>
<p>The following example illustrates almost all the "tricks" one would need to use short of consulting a <a href="/wiki/Computer_algebra_system" title="Computer algebra system">computer algebra system</a><b>.</b></p>
<h3><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=10" title="Edit section: Example 3"></a>]</span> <span class="mw-headline" id="Example_3">Example 3</span></h3>
<dl>
<dd><img class="tex" alt="f(x)=\frac{x^9-2x^6+2x^5-7x^4+13x^3-11x^2+12x-4}{x^7-3x^6+5x^5-7x^4+7x^3-5x^2+3x-1}" src="//upload.wikimedia.org/wikipedia/en/math/c/3/9/c3978d687eb89a05c3d47983e2bc27e0.png" /></dd>
</dl>
<p>After long-division and factoring, we have</p>
<dl>
<dd><img class="tex" alt="f(x)=x^2+3x+4+\frac{2x^6-4x^5+5x^4-3x^3+x^2+3x}{(x-1)^3(x^2+1)^2}" src="//upload.wikimedia.org/wikipedia/en/math/f/d/4/fd4a89b40998d49c7678b154ed58f744.png" /></dd>
</dl>
<p>The partial fraction decomposition takes the form</p>
<dl>
<dd><img class="tex" alt="\frac{2x^6-4x^5+5x^4-3x^3+x^2+3x}{(x-1)^3(x^2+1)^2}=\frac{A}{x-1}+\frac{B}{(x-1)^2}+\frac{C}{(x-1)^3}+\frac{Dx+E}{x^2+1}+\frac{Fx+G}{(x^2+1)^2}" src="//upload.wikimedia.org/wikipedia/en/math/e/6/4/e64b0d339144171d432b70849c62bfd5.png" /></dd>
</dl>
<p>Multiplying through by (<i>x</i>&#160;&#160;1)<sup>3</sup>(<i>x</i><sup>2</sup> + 1)<sup>2</sup> we have the polynomial identity</p>
<dl>
<dd><img class="tex" alt="

\begin{align}
&amp; {} \quad 2x^6-4x^5+5x^4-3x^3+x^2+3x \\
&amp; =A(x-1)^2(x^2+1)^2+B(x-1)(x^2+1)^2+C(x^2+1)^2+(Dx+E)(x-1)^3(x^2+1)+(Fx+G)(x-1)^3
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/9/b/4/9b4777eceede25c36e190ffdcb882594.png" /></dd>
</dl>
<p>Taking <i>x</i> = 1 gives 4 = 4<i>C</i>, so <i>C</i> = 1. Similarly, taking <i>x</i> = <a href="/wiki/Complex_number" title="Complex number"><i>i</i></a> gives 2 + 2<i>i</i> = (<i>Fi</i> + <i>G</i>)(2 + 2<i>i</i>), so <i>Fi</i> + <i>G</i> = 1, so <i>F</i> = 0 and <i>G</i> = 1 by equating real and <a href="/wiki/Complex_number" title="Complex number">imaginary</a> parts. With <i>C</i> = <i>G</i> = 1 and <i>F</i> = 0, taking <i>x</i> = 0 we get <i>A</i> - <i>B</i> + 1 - <i>E</i> - 1 = 0, thus <i>E</i> = <i>A</i> - <i>B</i>.</p>
<p>We now have the identity</p>
<dl>
<dd><img class="tex" alt="
\begin{align}
 &amp; {} 2x^6-4x^5+5x^4-3x^3+x^2+3x \\
 &amp; = A(x-1)^2(x^2+1)^2+B(x-1)(x^2+1)^2+(x^2+1)^2+(Dx+(A-B))(x-1)^3(x^2+1)+(x-1)^3 \\
 &amp; = A((x-1)^2(x^2+1)^2 + (x-1)^3(x^2+1)) + B((x-1)(x^2+1) - (x-1)^3(x^2+1)) + (x^2+1)^2 + Dx(x-1)^3(x^2+1)
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/1/5/3/153a7c421c4601b8d4f8ea723a1fa8e6.png" /></dd>
</dl>
<p>Expanding and sorting by exponents of x we get</p>
<dl>
<dd><img class="tex" alt=" 
\begin{align}
 &amp; {} 2 x^6 -4 x^5 +5 x^4 -3 x^3 + x^2 +3 x \\
 &amp; = (A + D) x^6 + (-A - 3D) x^5 + (2B + 4D + 1) x^4 + (-2B - 4D + 1) x^3 + (-A + 2B + 3D - 1) x^2 (A - 2B - D + 3) x 

\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/8/f/2/8f20073a3f895fcb9295e27e7ab6c7fe.png" /></dd>
</dl>
<p>We can now compare the coefficients and see that</p>
<dl>
<dd><img class="tex" alt=" 
\begin{align}
 A + D &amp;=&amp; 2  \\
 -A - 3D &amp;=&amp;  -4 \\
2B + 4D + 1 &amp;=&amp; 5 \\
-2B - 4D + 1 &amp;=&amp; -3 \\
-A + 2B + 3D - 1 &amp;=&amp; 1 \\
A - 2B - D + 3 &amp;=&amp; 3 ,
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/9/f/7/9f774d626657acb118b003b481933006.png" /></dd>
</dl>
<p>with <i>A</i> = 2 - <i>D</i> we get <i>A</i> = <i>D</i> = 1 and so <i>B</i> = 0, furthermore is <i>C</i> = 1, <i>E</i> = <i>A</i> - <i>B</i> = 1, <i>F</i> = 0 and <i>G</i> = 1.</p>
<p>The partial fraction decomposition of <i></i>(<i>x</i>) is thus</p>
<dl>
<dd><img class="tex" alt="f(x)=x^2+3x+4+\frac{1}{(x-1)} + \frac{1}{(x - 1)^3} + \frac{x + 1}{x^2+1}+\frac{1}{(x^2+1)^2}." src="//upload.wikimedia.org/wikipedia/en/math/a/e/0/ae0835466473c2ec7f78ce73a629ccba.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=11" title="Edit section: Example 4 (residue method)"></a>]</span> <span class="mw-headline" id="Example_4_.28residue_method.29">Example 4 (residue method)</span></h3>
<dl>
<dd><img class="tex" alt=" f(z)=\frac{z^{2}-5}{(z^2-1)(z^2+1)}=\frac{z^{2}-5}{(z+1)(z-1)(z+i)(z-i)}" src="//upload.wikimedia.org/wikipedia/en/math/e/4/e/e4e473dd7553392ba2d29299b5e36f67.png" /></dd>
</dl>
<p>Thus, <i>f</i>(<i>z</i>) can be decomposed into rational functions whose denominators are <i>z</i>+1, <i>z</i>-1, <i>z</i>+i, <i>z</i>-i. Since each term is of power one, -1, 1, -<i>i</i> and <i>i</i> are simple poles.</p>
<p>Hence, the residues associated with each pole, given by</p>
<dl>
<dd><img class="tex" alt="\frac{P(z_i)}{Q'(z_i)} = \frac{z_i^2 - 5}{4z_i^3}" src="//upload.wikimedia.org/wikipedia/en/math/2/9/8/298fed4549cbaeae67578cb056f0cb7c.png" />,</dd>
</dl>
<p>are</p>
<dl>
<dd><img class="tex" alt=" 1, -1, \tfrac{3i}{2}, -\tfrac{3i}{2}" src="//upload.wikimedia.org/wikipedia/en/math/5/c/3/5c37fafc1c9afba87ff0e4cdf110426d.png" />,</dd>
</dl>
<p>respectively, and</p>
<dl>
<dd><img class="tex" alt=" f(z)=\frac{1}{z+1}-\frac{1}{z-1}+\frac{3i}{2}\frac{1}{z+i}-\frac{3i}{2}\frac{1}{z-i}" src="//upload.wikimedia.org/wikipedia/en/math/d/d/8/dd826cea22552e5800bb7a24612708dd.png" />.</dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=12" title="Edit section: The role of the Taylor polynomial"></a>]</span> <span class="mw-headline" id="The_role_of_the_Taylor_polynomial">The role of the Taylor polynomial</span></h2>
<p>The partial fraction decomposition of a rational function can be related to <a href="/wiki/Taylor%27s_theorem" title="Taylor's theorem">Taylor's theorem</a> as follows. Let</p>
<dl>
<dd><img class="tex" alt="P(x), Q(x), A_1(x),\dots, A_r(x)" src="//upload.wikimedia.org/wikipedia/en/math/c/c/f/ccf9904787fb63847e3f8f7e0d34037f.png" /></dd>
</dl>
<p>be real or complex polynomials; assume that</p>
<dl>
<dd><img class="tex" alt="\textstyle Q=\prod_{j=1}^{r}(x-\lambda_j)^{\nu_j}," src="//upload.wikimedia.org/wikipedia/en/math/0/0/4/004a6e1e5b8b4cc712f3056cccd1f69e.png" /></dd>
</dl>
<p>that</p>
<dl>
<dd><img class="tex" alt="\textstyle\deg(P)&lt;\deg(Q)=\sum_{j=1}^{r}\nu_j," src="//upload.wikimedia.org/wikipedia/en/math/c/3/5/c3565eb1902b62200be54c28e7475503.png" /></dd>
</dl>
<p>and that uyu</p>
<dl>
<dd><img class="tex" alt="\textstyle\deg A_j&lt;\nu_j\text{ for }j=1,\dots,r." src="//upload.wikimedia.org/wikipedia/en/math/3/4/d/34d53094e8d705af9f5aeee717781f3f.png" /></dd>
</dl>
<p>Define also</p>
<dl>
<dd><img class="tex" alt="\textstyle Q_i=\prod_{j\neq i}(x-\lambda_j)^{\nu_j}=\frac{Q}{(x-\lambda_i)^{\nu_i}} \text{ for }i=1,\dots,r." src="//upload.wikimedia.org/wikipedia/en/math/1/d/9/1d9649d8330f3d0eefc122df04615adb.png" /></dd>
</dl>
<p>Then we have</p>
<dl>
<dd><img class="tex" alt="\frac{P}{Q}=\sum_{j=1}^{r}\frac{A_j}{(x-\lambda_j)^{\nu_j}}" src="//upload.wikimedia.org/wikipedia/en/math/9/3/6/9363501fdbe7ff95330c7647ac367444.png" /></dd>
</dl>
<p>if, and only if, for each <img class="tex" alt="\textstyle i" src="//upload.wikimedia.org/wikipedia/en/math/0/b/3/0b36ee693126b34b58f77dba7ed23987.png" /> the polynomial <img class="tex" alt="\textstyle A_i(x)" src="//upload.wikimedia.org/wikipedia/en/math/0/a/c/0ac823fe667b83a206add60a78874ea2.png" /> is the Taylor polynomial of <img class="tex" alt="\textstyle\frac{P}{Q_i}" src="//upload.wikimedia.org/wikipedia/en/math/5/7/e/57ec08218c80d522c0e7a6d950742c76.png" /> of order <img class="tex" alt="\textstyle\nu_i-1" src="//upload.wikimedia.org/wikipedia/en/math/a/c/a/aca011d61d5cc3fee82723dfac58cb1b.png" /> at the point <img class="tex" alt="\textstyle\lambda_i" src="//upload.wikimedia.org/wikipedia/en/math/2/3/5/23536ce45f0ee57fffa389163f8437bd.png" />:</p>
<dl>
<dd><img class="tex" alt="A_i(x):=\sum_{k=0}^{\nu_i-1} \frac{1}{k!}\left(\frac{P}{Q_i}\right)^{(k)}(\lambda_i)\ (x-\lambda_i)^k.
" src="//upload.wikimedia.org/wikipedia/en/math/4/d/a/4da4711e6556317b094748d0d51bc351.png" /></dd>
</dl>
<p>Taylor's theorem (in the real or complex case) then provides a proof of the existence and uniqueness of the partial fraction decomposition, and a characterization of the coefficients.</p>
<p><b>Sketch of the proof:</b> The above partial fraction decomposition implies, for each 1&#160;&#160;<i>i</i>&#160;&#160;<i>r</i>, a polynomial expansion</p>
<dl>
<dd><img class="tex" alt="\frac{P}{Q_i}=A_i + O((x-\lambda_i)^{\nu_i})\qquad " src="//upload.wikimedia.org/wikipedia/en/math/8/6/b/86b7b3f24ac4b585ad29263deb1e2b0b.png" />, as <img class="tex" alt="x\to\lambda_i;" src="//upload.wikimedia.org/wikipedia/en/math/6/8/8/688f5200b548c2812a4016c2068ac815.png" /></dd>
</dl>
<p>so <img class="tex" alt="\textstyle A_i" src="//upload.wikimedia.org/wikipedia/en/math/5/e/d/5ed6b835c973cf696cc4479651b428f5.png" /> is the Taylor polynomial of <img class="tex" alt="\textstyle\frac{P}{Q_i}" src="//upload.wikimedia.org/wikipedia/en/math/5/7/e/57ec08218c80d522c0e7a6d950742c76.png" />, because of the unicity of the polynomial expansion of order <img class="tex" alt="\textstyle\nu_i-1" src="//upload.wikimedia.org/wikipedia/en/math/a/c/a/aca011d61d5cc3fee82723dfac58cb1b.png" />, and by assumption <img class="tex" alt="\textstyle\deg A_i&lt;\nu_i" src="//upload.wikimedia.org/wikipedia/en/math/e/7/1/e718b0592856c4d33f6f981380080ea6.png" />.</p>
<p>Conversely, if the <img class="tex" alt="\textstyle A_i" src="//upload.wikimedia.org/wikipedia/en/math/5/e/d/5ed6b835c973cf696cc4479651b428f5.png" /> are the Taylor polynomials, the above expansions at each <img class="tex" alt="\textstyle\lambda_i" src="//upload.wikimedia.org/wikipedia/en/math/2/3/5/23536ce45f0ee57fffa389163f8437bd.png" /> hold, therefore we also have</p>
<dl>
<dd><img class="tex" alt="P-Q_i A_i = O((x-\lambda_i)^{\nu_i})\qquad " src="//upload.wikimedia.org/wikipedia/en/math/d/8/0/d8095b800987aa05f831dcb9cc693f64.png" />, as <img class="tex" alt="x\to\lambda_i," src="//upload.wikimedia.org/wikipedia/en/math/6/e/5/6e58e43cab6023bf1f186bce1145e726.png" /></dd>
</dl>
<p>which implies that the polynomial <img class="tex" alt="\textstyle P-Q_iA_i" src="//upload.wikimedia.org/wikipedia/en/math/0/b/a/0bad296a8bd4db14e9f8e75c0bd6a172.png" /> is divisible by <img class="tex" alt="\textstyle (x-\lambda_i)^{\nu_i}." src="//upload.wikimedia.org/wikipedia/en/math/e/6/8/e68a2f5120d6152569b9b672d610bf32.png" /></p>
<p>For <img class="tex" alt="\textstyle j\neq i" src="//upload.wikimedia.org/wikipedia/en/math/5/b/1/5b19b1389b5f0295765a3402cb573505.png" /> also <img class="tex" alt="\textstyle Q_jA_j" src="//upload.wikimedia.org/wikipedia/en/math/e/5/0/e50ac728b2c6ba894210cdc0b25742ff.png" /> is divisible by <img class="tex" alt="\textstyle (x-\lambda_i)^{\nu_i}" src="//upload.wikimedia.org/wikipedia/en/math/b/d/8/bd82be16651f2a6f02f434712b90dce2.png" />, so we have in turn that <img class="tex" alt="\textstyle P- \sum_{j=1}^{r}Q_jA_j" src="//upload.wikimedia.org/wikipedia/en/math/6/5/8/65841dfb56733bbffcf5ff74c48aedf3.png" /> is divisible by <img class="tex" alt="\textstyle Q" src="//upload.wikimedia.org/wikipedia/en/math/3/d/8/3d8491d7c8730849cc0c68f8dcf6abdd.png" />. Since <img class="tex" alt="\textstyle\deg\left( P- \sum_{j=1}^{r}Q_jA_j \right) &lt; \deg(Q)" src="//upload.wikimedia.org/wikipedia/en/math/7/e/4/7e4fefafa394695c85df845f813f653f.png" /> we then have <img class="tex" alt="\textstyle P- \sum_{j=1}^{r}Q_jA_j=0" src="//upload.wikimedia.org/wikipedia/en/math/3/a/7/3a73a427f8dd598fe07cdff5792ea0c3.png" />, and we find the partial fraction decomposition dividing by <img class="tex" alt="\textstyle Q" src="//upload.wikimedia.org/wikipedia/en/math/3/d/8/3d8491d7c8730849cc0c68f8dcf6abdd.png" />.</p>
<h2><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=13" title="Edit section: Fractions of integers"></a>]</span> <span class="mw-headline" id="Fractions_of_integers">Fractions of integers</span></h2>
<p>The idea of partial fractions can be generalized to other <a href="/wiki/Ring_(mathematics)" title="Ring (mathematics)">rings</a>, say the ring of <a href="/wiki/Integer" title="Integer">integers</a> where <a href="/wiki/Prime_numbers" title="Prime numbers" class="mw-redirect">prime numbers</a> take the role of irreducible denominators. E.g., it is:</p>
<dl>
<dd><img class="tex" alt="\frac{1}{18} = \frac{1}{2} - \frac{1}{3} - \frac{1}{3^2}. " src="//upload.wikimedia.org/wikipedia/en/math/f/3/b/f3bd37d85febd1f778005ff265e463d9.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=14" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist" style="list-style-type: decimal;"></div>
<h2><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=15" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation" id="CITEREFKudryavtsev2001">Kudryavtsev, L.D. (2001), <a rel="nofollow" class="external text" href="http://www.encyclopediaofmath.org/index.php?title=u/u095160">"Undetermined coefficients, method of"</a>, in Hazewinkel, Michiel, <i><a href="/wiki/Encyclopedia_of_Mathematics" title="Encyclopedia of Mathematics">Encyclopedia of Mathematics</a></i>, Springer, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-1556080104" title="Special:BookSources/978-1556080104">978-1556080104</a><span class="printonly">, <a rel="nofollow" class="external free" href="http://www.encyclopediaofmath.org/index.php?title=u/u095160">http://www.encyclopediaofmath.org/index.php?title=u/u095160</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Undetermined+coefficients%2C+method+of&amp;rft.atitle=%5B%5BEncyclopedia+of+Mathematics%5D%5D&amp;rft.aulast=Kudryavtsev&amp;rft.aufirst=L.D.&amp;rft.au=Kudryavtsev%2C%26%2332%3BL.D.&amp;rft.date=2001&amp;rft.pub=Springer&amp;rft.isbn=978-1556080104&amp;rft_id=&amp;rfr_id=info:sid/en.wikipedia.org:Partial_fraction"><span style="display: none;">&#160;</span></span>.</li>
<li>Charles D. Miller, Margaret L. Lial, David I. Schneider: <i>Fundamentals of College Algebra</i>. Scott &amp; Foresman/Little &amp; Brown Higher Education, 3rd ion 1990, <a href="/wiki/Special:BookSources/0673386384" class="internal mw-magiclink-isbn">ISBN 0-673-38638-4</a>, p. 364-370</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Partial_fraction&amp;action=&amp;section=16" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Partial_Fraction_Decomposition"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/PartialFractionDecomposition.html">Partial Fraction Decomposition</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><a rel="nofollow" class="external text" href="http://calc101.com/webMathematica/partial-fractions.jsp">Step-by-Step Partial Fractions</a></li>
<li><a rel="nofollow" class="external autonumber" href="http://cajael.com/eng/control/LaplaceT/LaplaceT-1_Example_2_6_OGATA_4io.php">[1]</a> Make partial fraction decompositions with <a href="/wiki/Scilab" title="Scilab">Scilab</a>.</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1723/1000000
Post-expand include size: 8161/2048000 bytes
Template argument size: 2686/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:247288-0!0!0!!en!*!* and timestamp 20120412005913 -->
