<dl>
<dd>
<div class="dablink">Alligation should not be mistaken for <a href="/wiki/Allegation" title="Allegation">allegation</a>.</div>
</dd>
</dl>
<p><b>Alligation</b> is an old and practical method of solving <a href="/wiki/Arithmetic" title="Arithmetic">arithmetic</a> problems related to mixtures of ingredients. There are two types of alligation: <b>alligation medial</b>, used to find the quantity of a mixture given the quantities of its ingredients, and <b>alligation alternate</b>, used to find the amount of each ingredient needed to make a mixture of a given quantity. Alligation medial is merely a matter of finding a <a href="/wiki/Weighted_mean" title="Weighted mean">weighted mean</a>. Alligation alternate is more complicated and involves organizing the ingredients into high and low pairs which are then traded off.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Examples"><span class="tocnumber">1</span> <span class="toctext">Examples</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Alligation_medial"><span class="tocnumber">1.1</span> <span class="toctext">Alligation medial</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Alligation_alternate"><span class="tocnumber">1.2</span> <span class="toctext">Alligation alternate</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-4"><a href="#References"><span class="tocnumber">2</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#External_links"><span class="tocnumber">3</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Alligation&amp;action=&amp;section=1" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Alligation&amp;action=&amp;section=2" title="Edit section: Alligation medial"></a>]</span> <span class="mw-headline" id="Alligation_medial">Alligation medial</span></h3>
<p>Suppose you make a cocktail drink combination out of 1/2 <a href="/wiki/Coca-Cola" title="Coca-Cola">Coke</a>, 1/4 <a href="/wiki/Sprite_(soft_drink)" title="Sprite (soft drink)">Sprite</a>, and 1/4 orange soda. The Coke has 120 grams of sugar per liter, the Sprite has 100 grams of sugar per liter, and the orange soda has 150 grams of sugar per liter. How much sugar does the drink have? This is an example of alligation medial because you want to find the amount of sugar in the mixture given the amounts of sugar in its ingredients. The solution is just to find the weighted average by composition:</p>
<dl>
<dd><img class="tex" alt="{1\over2}\times 120 + {1\over4}\times 100 + {1\over4}\times 150 = 122.5" src="//upload.wikimedia.org/wikipedia/en/math/e/8/f/e8f5305c4fd1fa66b142e3cae93aa477.png" /> grams per liter</dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Alligation&amp;action=&amp;section=3" title="Edit section: Alligation alternate"></a>]</span> <span class="mw-headline" id="Alligation_alternate">Alligation alternate</span></h3>
<p>Suppose you like 1% milk, but you have only 3% whole milk and % low fat milk. How much of each should you mix together to make an 8 ounce cup of 1% milk? This is an example of alligation alternate because you want to find the amount of two ingredients to mix together to form a mixture with a given amount of fat. Since there are only two ingredients, there is only one possible way to form a pair. The difference of 3% from the desired 1%, 2%, is assigned to the low fat milk, and the difference of % from the desired 1%, %, is assigned alternately to the whole milk. The total amount, 8 ounces, is then divided by the sum <img class="tex" alt="2 + {1\over2} = {5\over2}" src="//upload.wikimedia.org/wikipedia/en/math/1/2/0/120b986cdb95704e250d407a69bbb4a1.png" /> to yield 16/5, and the amounts of the two ingredients are</p>
<dl>
<dd><img class="tex" alt="{16\over5}\times{1\over2} = {8\over5}" src="//upload.wikimedia.org/wikipedia/en/math/4/1/a/41abf5f0e2f1eba2df2ced47d198090f.png" /> ounces whole milk and <img class="tex" alt="{16\over5}\times2 = {32\over5}" src="//upload.wikimedia.org/wikipedia/en/math/f/9/a/f9a73e1e24d1a543d806f3253295c421.png" /> ounces low fat milk.</dd>
</dl>
<p><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/6/62/PD-icon.svg/15px-PD-icon.svg.png" width="15" height="15" />&#160;<i>This article incorporates content from the 1728</i> <a href="/wiki/Cyclopaedia,_or_an_Universal_Dictionary_of_Arts_and_Sciences" title="Cyclopaedia, or an Universal Dictionary of Arts and Sciences">Cyclopaedia</a><i>, a publication in the <a href="/wiki/Public_domain" title="Public domain">public domain</a>.</i></p>
<h2><span class="section">[<a href="/w/index.php?title=Alligation&amp;action=&amp;section=4" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<p><b>Alligation, Forerunner of Linear Programming</b>, Frederick V. Waugh, <i>Journal of Farm Economics</i> Vol. 40, No. 1 (Feb., 1958), pp. 89-103 <a rel="nofollow" class="external free" href="http://www.jstor.org/stable/1235348">http://www.jstor.org/stable/1235348</a></p>
<h2><span class="section">[<a href="/w/index.php?title=Alligation&amp;action=&amp;section=5" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.formatp.ca/alligation.php">Alligation alterne et medial: www.formatp.ca/alligation.php</a></li>
<li><a rel="nofollow" class="external text" href="http://www.pubmedcentral.nih.gov/articlerender.fcgi?artid=1172291">Alligation Alternate and the Composition of Medicines: Arithmetic and Medicine in Early Modern England</a></li>
<li><a rel="nofollow" class="external text" href="http://books.google.com/books?id=vaYXAAAAIAAJ&amp;pg=PA307&amp;dq=Alligation&amp;num=30&amp;as_brr=1#PPA308,M1">Robinson's Progressive Practical Arithmetic</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 67/1000000
Post-expand include size: 384/2048000 bytes
Template argument size: 53/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:3683228-0!0!0!!en!4!* and timestamp 20120229234658 -->
