<div class="dablink">"Third power" redirects here. For the band, see <a href="/wiki/Third_Power" title="Third Power">Third Power</a>.</div>
<div class="dablink">"Cubed" redirects here. For other uses, see <a href="/wiki/Cube_(disambiguation)" title="Cube (disambiguation)">Cube (disambiguation)</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:282px;"><a href="/wiki/File:CubeChart.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9e/CubeChart.svg/280px-CubeChart.svg.png" width="280" height="245" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:CubeChart.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
y=x: for values of 0x25.</div>
</div>
</div>
<p>In <a href="/wiki/Arithmetic" title="Arithmetic">arithmetic</a> and <a href="/wiki/Algebra" title="Algebra">algebra</a>, the <b>cube</b> of a number <i>n</i> is its third <a href="/wiki/Exponentiation" title="Exponentiation">power</a>  the result of the number multiplied by itself twice:</p>
<dl>
<dd><i>n</i><sup>3</sup> = <i>n</i>  <i>n</i>  <i>n</i>.</dd>
</dl>
<p>This is also the <a href="/wiki/Volume" title="Volume">volume</a> formula for a <a href="/wiki/Cube_(geometry)" title="Cube (geometry)" class="mw-redirect">geometric cube</a> with sides of length <i>n</i>, giving rise to the name. The <a href="/wiki/Inverse_function" title="Inverse function">inverse</a> operation of finding a number whose cube is <i>n</i> is called extracting the <a href="/wiki/Cube_root" title="Cube root">cube root</a> of <i>n</i>. It determines the side of the cube of a given volume. It is also <i>n</i> raised to the one-third power.</p>
<p>A cube number usually has a small 3 above it for example x<sup>3</sup>.</p>
<p>A <b>perfect cube</b> (also called a <b>cube number</b>, or sometimes just a <b>cube</b>) is a number which is the cube of an <a href="/wiki/Integer" title="Integer">integer</a>.</p>
<p>The non-negative perfect cubes up to 60<sup>3</sup> are (sequence <span class="nowrap"><a href="//oeis.org/A000578" class="extiw" title="oeis:A000578">A000578</a></span> in <a href="/wiki/On-Line_Encyclopedia_of_Integer_Sequences" title="On-Line Encyclopedia of Integer Sequences">OEIS</a>):</p>
<table width="65%">
<tr>
<td>1<sup>3</sup> = 1</td>
<td>11<sup>3</sup> = 1331</td>
<td>21<sup>3</sup> = 9261</td>
<td>31<sup>3</sup> = 29791</td>
<td>41<sup>3</sup> = 68921</td>
<td>51<sup>3</sup> = 132651</td>
</tr>
<tr>
<td>2<sup>3</sup> = 8</td>
<td>12<sup>3</sup> = 1728</td>
<td>22<sup>3</sup> = 10648</td>
<td>32<sup>3</sup> = 32768</td>
<td>42<sup>3</sup> = 74088</td>
<td>52<sup>3</sup> = 140608</td>
</tr>
<tr>
<td>3<sup>3</sup> = 27</td>
<td>13<sup>3</sup> = 2197</td>
<td>23<sup>3</sup> = 12167</td>
<td>33<sup>3</sup> = 35937</td>
<td>43<sup>3</sup> = 79507</td>
<td>53<sup>3</sup> = 148877</td>
</tr>
<tr>
<td>4<sup>3</sup> = 64</td>
<td>14<sup>3</sup> = 2744</td>
<td>24<sup>3</sup> = 13824</td>
<td>34<sup>3</sup> = 39304</td>
<td>44<sup>3</sup> = 85184</td>
<td>54<sup>3</sup> = 157464</td>
</tr>
<tr>
<td>5<sup>3</sup> = 125</td>
<td>15<sup>3</sup> = 3375</td>
<td>25<sup>3</sup> = 15625</td>
<td>35<sup>3</sup> = 42875</td>
<td>45<sup>3</sup> = 91125</td>
<td>55<sup>3</sup> = 166375</td>
</tr>
<tr>
<td>6<sup>3</sup> = 216</td>
<td>16<sup>3</sup> = 4096</td>
<td>26<sup>3</sup> = 17576</td>
<td>36<sup>3</sup> = 46656</td>
<td>46<sup>3</sup> = 97336</td>
<td>56<sup>3</sup> = 175616</td>
</tr>
<tr>
<td>7<sup>3</sup> = 343</td>
<td>17<sup>3</sup> = 4913</td>
<td>27<sup>3</sup> = 19683</td>
<td>37<sup>3</sup> = 50653</td>
<td>47<sup>3</sup> = 103823</td>
<td>57<sup>3</sup> = 185193</td>
</tr>
<tr>
<td>8<sup>3</sup> = 512</td>
<td>18<sup>3</sup> = 5832</td>
<td>28<sup>3</sup> = 21952</td>
<td>38<sup>3</sup> = 54872</td>
<td>48<sup>3</sup> = 110592</td>
<td>58<sup>3</sup> = 195112</td>
</tr>
<tr>
<td>9<sup>3</sup> = 729</td>
<td>19<sup>3</sup> = 6859</td>
<td>29<sup>3</sup> = 24389</td>
<td>39<sup>3</sup> = 59319</td>
<td>49<sup>3</sup> = 117649</td>
<td>59<sup>3</sup> = 205379</td>
</tr>
<tr>
<td>10<sup>3</sup> = 1000</td>
<td>20<sup>3</sup> = 8000</td>
<td>30<sup>3</sup> = 27000</td>
<td>40<sup>3</sup> = 64000</td>
<td>50<sup>3</sup> = 125000</td>
<td>60<sup>3</sup> = 216000</td>
</tr>
</table>
<p>Geometrically speaking, a positive number <i>m</i> is a perfect cube <a href="/wiki/If_and_only_if" title="If and only if">if and only if</a> one can arrange <i>m</i> solid unit cubes into a larger, solid cube. For example, 27 small cubes can be arranged into one larger one with the appearance of a <a href="/wiki/Rubik%27s_Cube" title="Rubik's Cube">Rubik's Cube</a>, since 3&#160;&#160;3&#160;&#160;3 = 27.</p>
<p>The pattern between every perfect cube from negative infinity to positive infinity is as follows,</p>
<p><i>n</i><sup>3</sup> = (<i>n</i>  1)<sup>3</sup> + 3(<i>n</i>  1)<i>n</i> + 1.</p>
<p>or</p>
<p><i>n</i><sup>3</sup> = (<i>n</i> + 1)<sup>3</sup>  3(<i>n</i> + 1)<i>n</i>  1.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Cubes_in_number_theory"><span class="tocnumber">1</span> <span class="toctext">Cubes in number theory</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Base_ten"><span class="tocnumber">1.1</span> <span class="toctext">Base ten</span></a></li>
<li class="toclevel-2 tocsection-3"><a href="#Waring.27s_problem_for_cubes"><span class="tocnumber">1.2</span> <span class="toctext">Waring's problem for cubes</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Fermat.27s_last_theorem_for_cubes"><span class="tocnumber">1.3</span> <span class="toctext">Fermat's last theorem for cubes</span></a></li>
<li class="toclevel-2 tocsection-5"><a href="#Sums_of_rational_cubes"><span class="tocnumber">1.4</span> <span class="toctext">Sums of rational cubes</span></a></li>
<li class="toclevel-2 tocsection-6"><a href="#Sum_of_first_n_cubes"><span class="tocnumber">1.5</span> <span class="toctext">Sum of first <i>n</i> cubes</span></a></li>
<li class="toclevel-2 tocsection-7"><a href="#Sum_of_cubes_in_arithmetic_progression"><span class="tocnumber">1.6</span> <span class="toctext">Sum of cubes in arithmetic progression</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-8"><a href="#History"><span class="tocnumber">2</span> <span class="toctext">History</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#Notes"><span class="tocnumber">3</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#References"><span class="tocnumber">5</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#External_links"><span class="tocnumber">6</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Cube_(algebra)&amp;action=&amp;section=1" title="Edit section: Cubes in number theory"></a>]</span> <span class="mw-headline" id="Cubes_in_number_theory">Cubes in number theory</span></h2>
<p>There is no smallest perfect cube, since negative integers are included. For example, (4)&#160;&#160;(4)&#160;&#160;(4)&#160;=&#160;64. For any <i>n</i>, (<i>n</i>)<sup>3</sup> = (<i>n</i><sup>3</sup>).</p>
<h3><span class="section">[<a href="/w/index.php?title=Cube_(algebra)&amp;action=&amp;section=2" title="Edit section: Base ten"></a>]</span> <span class="mw-headline" id="Base_ten">Base ten</span></h3>
<p>Unlike <a href="/wiki/Square_number" title="Square number">perfect squares</a>, perfect cubes do not have a small number of possibilities for the last two digits. Except for cubes divisible by 5, where only <b>25</b>, <b>75</b> and <b>00</b> can be the last two digits, <i>any</i> pair of digits with the last digit odd can be a perfect cube. With <a href="/wiki/Even_and_odd_numbers" title="Even and odd numbers" class="mw-redirect">even</a> cubes, there is considerable restriction, for only <b>00</b>, <b>o2</b>, <b>e4</b>, <b>o6</b> and <b>e8</b> can be the last two digits of a perfect cube (where <b>o</b> stands for any odd digit and <b>e</b> for any even digit). Some cube numbers are also square numbers, for example 64 is a square number (8&#160;&#160;8) and a cube number (4&#160;&#160;4&#160;&#160;4); this happens if and only if the number is a perfect sixth power.</p>
<p>It is, however, easy to show that most numbers are not perfect cubes because <i>all</i> perfect cubes must have <a href="/wiki/Digital_root" title="Digital root">digital root</a> <b>1</b>, <b>8</b> or <b>9</b>. Moreover, the digital root of any number's cube can be determined by the remainder the number gives when divided by 3:</p>
<ul>
<li>If the number is divisible by 3, its cube has digital root 9;</li>
<li>If it has a remainder of 1 when divided by 3, its cube has digital root 1;</li>
<li>If it has a remainder of 2 when divided by 3, its cube has digital root 8.</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Cube_(algebra)&amp;action=&amp;section=3" title="Edit section: Waring's problem for cubes"></a>]</span> <span class="mw-headline" id="Waring.27s_problem_for_cubes">Waring's problem for cubes</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Waring%27s_problem" title="Waring's problem">Waring's problem</a></div>
<p>Every positive integer can be written as the sum of nine (or fewer) positive cubes. This upper limit of nine cubes cannot be reduced because, for example, 23 cannot be written as the sum of fewer than nine positive cubes:</p>
<dl>
<dd>23 = 2<sup>3</sup> + 2<sup>3</sup> + 1<sup>3</sup> + 1<sup>3</sup> + 1<sup>3</sup> + 1<sup>3</sup> + 1<sup>3</sup> + 1<sup>3</sup> + 1<sup>3</sup>.</dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Cube_(algebra)&amp;action=&amp;section=4" title="Edit section: Fermat's last theorem for cubes"></a>]</span> <span class="mw-headline" id="Fermat.27s_last_theorem_for_cubes">Fermat's last theorem for cubes</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Fermat%27s_last_theorem" title="Fermat's last theorem" class="mw-redirect">Fermat's last theorem</a></div>
<p>The equation <i>x</i><sup>3</sup> + <i>y</i><sup>3</sup> = <i>z</i><sup>3</sup> has no non-trivial (i.e. <i>xyz</i>  0) solutions in integers. In fact, it has none in <a href="/wiki/Eisenstein_integers" title="Eisenstein integers" class="mw-redirect">Eisenstein integers</a>.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<p>Both of these statements are also true for the equation<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> <i>x</i><sup>3</sup> + <i>y</i><sup>3</sup> = 3<i>z</i><sup>3</sup>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Cube_(algebra)&amp;action=&amp;section=5" title="Edit section: Sums of rational cubes"></a>]</span> <span class="mw-headline" id="Sums_of_rational_cubes">Sums of rational cubes</span></h3>
<p>Every positive <a href="/wiki/Rational_number" title="Rational number">rational number</a> is the sum of three positive rational cubes,<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup> and there are rationals that are not the sum of two rational cubes.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup></p>
<h3><span class="section">[<a href="/w/index.php?title=Cube_(algebra)&amp;action=&amp;section=6" title="Edit section: Sum of first n cubes"></a>]</span> <span class="mw-headline" id="Sum_of_first_n_cubes">Sum of first <i>n</i> cubes</span></h3>
<p>The sum of the first <i>n</i> cubes is the <i>n</i><sup>th</sup> <a href="/wiki/Triangle_number" title="Triangle number" class="mw-redirect">triangle number</a> squared:</p>
<dl>
<dd><img class="tex" alt="1^3+2^3+\dots+n^3 = (1+2+\dots+n)^2=\left(\frac{n(n+1)}{2}\right)^2." src="//upload.wikimedia.org/wikipedia/en/math/8/a/e/8ae0c21818351ea03a3da6fab032ae20.png" /></dd>
</dl>
<p>For example, the sum of the first 5 cubes is the square of the 5th triangular number,</p>
<dl>
<dd><img class="tex" alt="1^3+2^3+3^3+4^3+5^3 = 15^2 \," src="//upload.wikimedia.org/wikipedia/en/math/9/4/d/94da5182ebbddc72070a3a6c166fde1a.png" /></dd>
</dl>
<p>A similar result can be given for the sum of the first <i>y</i> <a href="/wiki/Odd_number" title="Odd number" class="mw-redirect">odd</a> cubes,</p>
<dl>
<dd><img class="tex" alt="1^3+3^3+\dots+(2y-1)^3 = (xy)^2" src="//upload.wikimedia.org/wikipedia/en/math/0/b/2/0b2c9219300634f2dff250d28f047afc.png" /></dd>
</dl>
<p>but {<i>x,y</i>} must satisfy the negative <a href="/wiki/Pell_equation" title="Pell equation" class="mw-redirect">Pell equation</a> <img class="tex" alt="x^2-2y^2 = -1" src="//upload.wikimedia.org/wikipedia/en/math/3/f/3/3f35d971d7b44352c0b832db9830a240.png" />. For example, for y = 5 and 29, then,</p>
<dl>
<dd><img class="tex" alt="1^3+3^3+\dots+9^3 = (7*5)^2 \," src="//upload.wikimedia.org/wikipedia/en/math/4/d/3/4d3954a73293d4673d736742653bdefd.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="1^3+3^3+\dots+57^3 = (41*29)^2" src="//upload.wikimedia.org/wikipedia/en/math/6/e/c/6ec05d5c9ce24614fadfbdc2baa4175c.png" /></dd>
</dl>
<p>and so on. Also, every <a href="/wiki/Even_number" title="Even number" class="mw-redirect">even</a> <a href="/wiki/Perfect_number" title="Perfect number">perfect number</a>, except the first one, is the sum of the first 2<sup>(<i>p</i>1)/2</sup> <a href="/wiki/Odd_number" title="Odd number" class="mw-redirect">odd</a> cubes,</p>
<dl>
<dd><img class="tex" alt="28 = 2^2(2^3-1) = 1^3+3^3" src="//upload.wikimedia.org/wikipedia/en/math/4/2/d/42d40fba0a9c02812392be6bebfab8d8.png" /></dd>
<dd><img class="tex" alt="496 = 2^4(2^5-1) = 1^3+3^3+5^3+7^3" src="//upload.wikimedia.org/wikipedia/en/math/d/4/c/d4c9e91db9fb7a1ae6c4d0441a957109.png" /></dd>
<dd><img class="tex" alt="8128 = 2^6(2^7-1) = 1^3+3^3+5^3+7^3+9^3+11^3+13^3+15^3" src="//upload.wikimedia.org/wikipedia/en/math/0/1/3/013bf6148c0a94c68f3f9ebeaa3d3e7d.png" /></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Cube_(algebra)&amp;action=&amp;section=7" title="Edit section: Sum of cubes in arithmetic progression"></a>]</span> <span class="mw-headline" id="Sum_of_cubes_in_arithmetic_progression">Sum of cubes in arithmetic progression</span></h3>
<p>There are examples of cubes in <a href="/wiki/Arithmetic_progression" title="Arithmetic progression">arithmetic progression</a> whose sum is a cube,</p>
<dl>
<dd><img class="tex" alt="3^3+4^3+5^3 = 6^3" src="//upload.wikimedia.org/wikipedia/en/math/a/4/9/a495a636760f3525b17e405197a19ce6.png" /></dd>
<dd><img class="tex" alt="11^3+12^3+13^3+14^3 = 20^3" src="//upload.wikimedia.org/wikipedia/en/math/4/a/2/4a258fdfd35c49a1187e35d7a01a7011.png" /></dd>
<dd><img class="tex" alt="31^3+33^3+35^3+37^3+39^3+41^3 = 66^3" src="//upload.wikimedia.org/wikipedia/en/math/a/9/1/a9126bcfab42d71118e1975e4121f651.png" /></dd>
</dl>
<p>with the first one also known as <a href="/wiki/Plato%27s_number" title="Plato's number">Plato's number</a>. The formula <i>F</i> for finding the sum of an <i>n</i> number of cubes in arithmetic progression with common difference <i>d</i> and initial cube <i>a<sup>3</sup></i>,</p>
<dl>
<dd><img class="tex" alt="F(d,a,n) = a^3+(a+d)^3+(a+2d)^3+...+(a+dn-d)^3" src="//upload.wikimedia.org/wikipedia/en/math/2/d/f/2df6d36d89de556f859b4a1904d7489e.png" /></dd>
</dl>
<p>is given by,</p>
<dl>
<dd><img class="tex" alt="F(d,a,n) = (n/4)(2a-d+dn)(2a^2-2ad+2adn-d^2n+d^2n^2)" src="//upload.wikimedia.org/wikipedia/en/math/4/d/0/4d08c9f9383e2c0ac3fef32ad699efc3.png" /></dd>
</dl>
<p>A parametric solution to,</p>
<dl>
<dd><img class="tex" alt="F(d,a,n) = y^3" src="//upload.wikimedia.org/wikipedia/en/math/1/c/9/1c91d2f78a19c6b4fb660d1813525e03.png" /></dd>
</dl>
<p>is known for the special case of <i>d</i> = 1, or consecutive cubes, but only sporadic solutions are known for integer <i>d</i> &gt; 1, such as <i>d</i> = {2,3,5,7,11,13,37,39}, etc.<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Cube_(algebra)&amp;action=&amp;section=8" title="Edit section: History"></a>]</span> <span class="mw-headline" id="History">History</span></h2>
<p>Determination of the Cube of large numbers was very common in many ancient civilizations. <a href="/wiki/Aryabhata" title="Aryabhata">Aryabhata</a>, the ancient <a href="/wiki/India" title="India">Indian</a> mathematician in his famous work <a href="/wiki/Aryabhatiya" title="Aryabhatiya" class="mw-redirect">Aryabhatiya</a> explains about the mathematical meaning of cube (Aryabhatiya, 2-3), as "the continuous product of three equals as also the (rectangular) solid having 12 equal edges are called cube". Similar definitions can be seen in ancient texts such as Brahmasphuta Siddhanta (XVIII. 42), Ganitha sara sangraha (II. 43) and Siddhanta sekhara (XIII. 4). It is interesting that in modern mathematics too, the term "Cube" stands for two mathematical meanings just like in <a href="/wiki/Sanskrit" title="Sanskrit">Sanskrit</a>, where the word <i>Ghhana</i> means a factor of power with the number, multiplied by itself three times and also a cubical structure.</p>
<h2><span class="section">[<a href="/w/index.php?title=Cube_(algebra)&amp;action=&amp;section=9" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Hardy &amp; Wright, Thm. 227</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">Hardy &amp; Wright, Thm. 232</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text">Hardy &amp; Wright, Thm. 234</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text">Hardy &amp; Wright, Thm. 233</span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text">&gt;<span class="citation web"><a rel="nofollow" class="external text" href="http://sites.google.com/site/tpiezas/update06">"A Collection of Algebraic Identities"</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://sites.google.com/site/tpiezas/update06">http://sites.google.com/site/tpiezas/update06</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=A+Collection+of+Algebraic+Identities&amp;rft.atitle=&amp;rft_id=http%3A%2F%2Fsites.google.com%2Fsite%2Ftpiezas%2Fupdate06&amp;rfr_id=info:sid/en.wikipedia.org:Cube_(algebra)"><span style="display: none;">&#160;</span></span></span></li>
</ol>
<h2><span class="section">[<a href="/w/index.php?title=Cube_(algebra)&amp;action=&amp;section=10" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Cube_root" title="Cube root">Cube root</a></li>
<li><a href="/wiki/Square_(algebra)" title="Square (algebra)" class="mw-redirect">Square (algebra)</a></li>
<li><a href="/wiki/Perfect_power" title="Perfect power">Perfect power</a></li>
<li><a href="/wiki/Taxicab_number" title="Taxicab number">Taxicab number</a></li>
<li><a href="/wiki/Cabtaxi_number" title="Cabtaxi number">Cabtaxi number</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Cube_(algebra)&amp;action=&amp;section=11" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation Journal">Hardy, G. H.; Wright, E. M. (1980). <i>An Introduction to the Theory of Numbers (Fifth ion)</i>. Oxford: <a href="/wiki/Oxford_University_Press" title="Oxford University Press">Oxford University Press</a>. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-0198531715" title="Special:BookSources/978-0198531715">978-0198531715</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=An+Introduction+to+the+Theory+of+Numbers+%28Fifth+ion%29&amp;rft.aulast=Hardy&amp;rft.aufirst=G.+H.&amp;rft.au=Hardy%2C%26%2332%3BG.+H.&amp;rft.au=Wright%2C%26%2332%3BE.+M.&amp;rft.date=1980&amp;rft.place=Oxford&amp;rft.pub=%5B%5BOxford+University+Press%5D%5D&amp;rft.isbn=978-0198531715&amp;rfr_id=info:sid/en.wikipedia.org:Cube_(algebra)"><span style="display: none;">&#160;</span></span></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Cube_(algebra)&amp;action=&amp;section=12" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.alpertron.com.ar/FCUBES.HTM">A Java applet that decomposes an integer number not congruent to 4 or 5 (mod 9) into a sum of four cubes.</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1766/1000000
Post-expand include size: 7455/2048000 bytes
Template argument size: 2385/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:451445-0!0!0!!en!4!* and timestamp 20120411195833 -->
