<div class="dablink">This article is about <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>.  For <a href="/wiki/Mass_media" title="Mass media">mass media</a>, see <a href="/wiki/Political_media" title="Political media">Political media</a>.</div>
<p>In <a href="/wiki/Arithmetic" title="Arithmetic">arithmetic</a> and <a href="/wiki/Algebra" title="Algebra">algebra</a>, the <b>fourth <a href="/wiki/Exponentiation" title="Exponentiation">power</a></b> of a number <i>n</i> is the result of multiplying <i>n</i> by itself four times. So:</p>
<dl>
<dd><i>n</i><sup>4</sup> = <i>n</i>  <i>n</i>  <i>n</i>  <i>n</i></dd>
</dl>
<p>Fourth powers are also formed by multiplying a number by its <a href="/wiki/Cube_(arithmetic)" title="Cube (arithmetic)" class="mw-redirect">cube</a>. Furthermore, they are <a href="/wiki/Square_number" title="Square number">squares</a> of squares.</p>
<p>The sequence of fourth powers of <a href="/wiki/Integer" title="Integer">integers</a> (also known as <b>biquadratic numbers</b> or <b><a href="/wiki/Tesseract" title="Tesseract">tesseractic</a> numbers</b>) is:</p>
<dl>
<dd>1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000, ... (sequence <span class="nowrap"><a href="//oeis.org/A000583" class="extiw" title="oeis:A000583">A000583</a></span> in <a href="/wiki/On-Line_Encyclopedia_of_Integer_Sequences" title="On-Line Encyclopedia of Integer Sequences">OEIS</a>)</dd>
</dl>
<p>The last two digits of a fourth power of an integer can be easily shown (for instance, by computing the squares of possible last two digits of square numbers) to be restricted to only <i>twelve</i> possibilities:</p>
<dl>
<dd>00, 01, 16, 21, 25, 36, 41, 56, 61, 76, 81, 96</dd>
</dl>
<p>Every positive integer can be expressed as the sum of at most 19 fourth powers; every sufficiently large integer can be expressed as the sum of at most 16 fourth powers (see <a href="/wiki/Waring%27s_problem" title="Waring's problem">Waring's problem</a>).</p>
<p><a href="/wiki/Euler" title="Euler" class="mw-redirect">Euler</a> conjectured a fourth power cannot be written as the sum of 3 smaller fourth powers, but 200 years later this was disproven with:</p>
<p>95800<sup>4</sup> + 217519<sup>4</sup> + 414560<sup>4</sup> = 422481<sup>4</sup>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Fourth_power&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Square_(algebra)" title="Square (algebra)" class="mw-redirect">Square (algebra)</a></li>
<li><a href="/wiki/Cube_(algebra)" title="Cube (algebra)">Cube (algebra)</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Fourth_power&amp;action=&amp;section=2" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Biquadratic_Number"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/BiquadraticNumber.html">Biquadratic Number</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:E-to-the-i-pi.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/35/E-to-the-i-pi.svg/34px-E-to-the-i-pi.svg.png" width="34" height="30" /></a></td>
<td><i>This mathematics-related article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Fourth_power&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Math-stub" title="Template:Math-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Math-stub" title="Template talk:Math-stub"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Math-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 259/1000000
Post-expand include size: 4059/2048000 bytes
Template argument size: 717/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:665027-0!*!0!!*!4!* and timestamp 20120322204713 -->
