<div class="dablink">"Multiply" redirects here. For other uses, see <a href="/wiki/Multiplication_(disambiguation)" title="Multiplication (disambiguation)">Multiplication (disambiguation)</a>.</div>
<div class="dablink">For methods of computing products, including those of very large numbers, see <a href="/wiki/Multiplication_algorithm" title="Multiplication algorithm">Multiplication algorithm</a>.</div>
<table class="metadata plainlinks ambox ambox-content ambox-Refimprove" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This article <b>needs additional <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">citations</a> for <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verification</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Multiplication&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(April 2012)</i></small></td>
</tr>
</table>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Multiply_4_bags_3_marbles.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/36/Multiply_4_bags_3_marbles.svg/220px-Multiply_4_bags_3_marbles.svg.png" width="220" height="259" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Multiply_4_bags_3_marbles.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Four bags of three <a href="/wiki/Marble_(toy)" title="Marble (toy)">marbles</a> gives twelve marbles. There are also 3 sets consisting of 4 marbles of the same colour.</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Multiplication_as_scaling_integers.gif" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/02/Multiplication_as_scaling_integers.gif/220px-Multiplication_as_scaling_integers.gif" width="220" height="110" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Multiplication_as_scaling_integers.gif" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Multiplication can also be thought of as scaling. In the above animation, we see 2 being multiplied by 3, giving 6 as a result</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Multiplication_scheme_4_by_5.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/0/02/Multiplication_scheme_4_by_5.jpg/220px-Multiplication_scheme_4_by_5.jpg" width="220" height="176" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Multiplication_scheme_4_by_5.jpg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
4  5 = 20, the rectangle is composed of 20 squares, having dimensions of 4 by 5.</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Multiply_field_fract.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Multiply_field_fract.svg/220px-Multiply_field_fract.svg.png" width="220" height="132" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Multiply_field_fract.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Area of a cloth 4.5m&#160;&#160;2.5m&#160;= 11.25m<sup>2</sup>; 4&#160;&#160;2 =&#160;11</div>
</div>
</div>
<p><b>Multiplication</b> (often denoted by the <a href="/wiki/%C3%97" title="" class="mw-redirect">cross symbol</a> "<b><span class="Unicode"></span></b>") is the <a href="/wiki/Operation_(mathematics)" title="Operation (mathematics)">mathematical operation</a> of scaling one number by another. It is one of the four basic operations in <a href="/wiki/Elementary_arithmetic" title="Elementary arithmetic">elementary arithmetic</a> (the others being <a href="/wiki/Addition" title="Addition">addition</a>, <a href="/wiki/Subtraction" title="Subtraction">subtraction</a> and <a href="/wiki/Division_(mathematics)" title="Division (mathematics)">division</a>).</p>
<p>Because the result of scaling by <a href="/wiki/Natural_number" title="Natural number">whole numbers</a> can be thought of as consisting of some number of copies of the original, whole-number products greater than 1 can be computed by repeated addition; for example, 3 multiplied by 4 (often said as "3 times 4") can be calculated by adding 4 copies of 3 together:</p>
<dl>
<dd><img class="tex" alt="3 \times 4 = 3 + 3 + 3 + 3 = 12.\!\," src="//upload.wikimedia.org/wikipedia/en/math/f/d/1/fd130c83fa74ccb1309d6095f08949a7.png" /></dd>
</dl>
<p>Here 3 and 4 are the "factors" and 12 is the "product".</p>
<p>There are differences amongst educators as to which number should normally be considered as the number of copies and whether multiplication should even be introduced as repeated addition.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> For example 3 multiplied by 4 can also be calculated by adding 3 copies of 4 together:</p>
<dl>
<dd><img class="tex" alt="3 \times 4 = 4 + 4 + 4 = 12.\!\," src="//upload.wikimedia.org/wikipedia/en/math/0/7/c/07c6835463b1872eb06f95b30249bb77.png" /></dd>
</dl>
<p>Multiplication of <a href="/wiki/Rational_number" title="Rational number">rational numbers</a> (fractions) and <a href="/wiki/Real_number" title="Real number">real numbers</a> is defined by systematic <a href="/wiki/Multiplication#Multiplication_of_different_kinds_of_numbers" title="Multiplication">generalization</a> of this basic idea.</p>
<p>Multiplication can also be visualized as counting objects arranged in a <a href="/wiki/Rectangle" title="Rectangle">rectangle</a> (for whole numbers) or as finding the <a href="/wiki/Area" title="Area">area</a> of a rectangle whose sides have given <a href="/wiki/Length" title="Length">lengths</a> (for numbers generally). The area of a rectangle does not depend on which side is measured first which illustrates that the order in which numbers are multiplied together does not matter.</p>
<p>In general the result of multiplying two measurements gives a result of a new type depending on the measurements. For instance:</p>
<dl>
<dd><img class="tex" alt="2.5 \mbox{ meters} \times 4.5 \mbox{ meters} = 11.25 \mbox{ square meters},\!\," src="//upload.wikimedia.org/wikipedia/en/math/b/3/6/b36f11a8b25dc876f4deedd4af31d318.png" /></dd>
<dd><img class="tex" alt="11 \mbox{ meters/second} \times 9 \mbox{ seconds} = 99 \mbox{ meters}.\!\," src="//upload.wikimedia.org/wikipedia/en/math/6/4/8/648e761a11d5d11817df024727d77f98.png" /></dd>
</dl>
<p>The inverse operation of multiplication is division. For example, 4 multiplied by 3 equals 12. Then 12 divided by 3 equals 4. Multiplication by 3, followed by division by 3, yields the original number.</p>
<p>Multiplication is also defined for other types of numbers (such as <a href="/wiki/Complex_number" title="Complex number">complex numbers</a>), and for more abstract constructs such as <a href="/wiki/Matrix_(mathematics)" title="Matrix (mathematics)">matrices</a>. For these more abstract constructs, the order in which the operands are multiplied sometimes does matter.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Notation_and_terminology"><span class="tocnumber">1</span> <span class="toctext">Notation and terminology</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Computation"><span class="tocnumber">2</span> <span class="toctext">Computation</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Historical_algorithms"><span class="tocnumber">2.1</span> <span class="toctext">Historical algorithms</span></a>
<ul>
<li class="toclevel-3 tocsection-4"><a href="#Egyptians"><span class="tocnumber">2.1.1</span> <span class="toctext">Egyptians</span></a></li>
<li class="toclevel-3 tocsection-5"><a href="#Babylonians"><span class="tocnumber">2.1.2</span> <span class="toctext">Babylonians</span></a></li>
<li class="toclevel-3 tocsection-6"><a href="#Chinese"><span class="tocnumber">2.1.3</span> <span class="toctext">Chinese</span></a></li>
</ul>
</li>
<li class="toclevel-2 tocsection-7"><a href="#Modern_method"><span class="tocnumber">2.2</span> <span class="toctext">Modern method</span></a></li>
<li class="toclevel-2 tocsection-8"><a href="#Computer_algorithms"><span class="tocnumber">2.3</span> <span class="toctext">Computer algorithms</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-9"><a href="#Products_of_measurements"><span class="tocnumber">3</span> <span class="toctext">Products of measurements</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#Products_of_sequences"><span class="tocnumber">4</span> <span class="toctext">Products of sequences</span></a>
<ul>
<li class="toclevel-2 tocsection-11"><a href="#Capital_Pi_notation"><span class="tocnumber">4.1</span> <span class="toctext">Capital Pi notation</span></a></li>
<li class="toclevel-2 tocsection-12"><a href="#Infinite_products"><span class="tocnumber">4.2</span> <span class="toctext">Infinite products</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-13"><a href="#Properties"><span class="tocnumber">5</span> <span class="toctext">Properties</span></a></li>
<li class="toclevel-1 tocsection-14"><a href="#Axioms"><span class="tocnumber">6</span> <span class="toctext">Axioms</span></a></li>
<li class="toclevel-1 tocsection-15"><a href="#Multiplication_with_set_theory"><span class="tocnumber">7</span> <span class="toctext">Multiplication with set theory</span></a>
<ul>
<li class="toclevel-2 tocsection-16"><a href="#Cartesian_product"><span class="tocnumber">7.1</span> <span class="toctext">Cartesian product</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-17"><a href="#Multiplication_in_group_theory"><span class="tocnumber">8</span> <span class="toctext">Multiplication in group theory</span></a></li>
<li class="toclevel-1 tocsection-18"><a href="#Multiplication_of_different_kinds_of_numbers"><span class="tocnumber">9</span> <span class="toctext">Multiplication of different kinds of numbers</span></a></li>
<li class="toclevel-1 tocsection-19"><a href="#Exponentiation"><span class="tocnumber">10</span> <span class="toctext">Exponentiation</span></a></li>
<li class="toclevel-1 tocsection-20"><a href="#See_also"><span class="tocnumber">11</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-21"><a href="#Notes"><span class="tocnumber">12</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-22"><a href="#References"><span class="tocnumber">13</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-23"><a href="#External_links"><span class="tocnumber">14</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=1" title="Edit section: Notation and terminology"></a>]</span> <span class="mw-headline" id="Notation_and_terminology">Notation and terminology</span></h2>
<table class="metadata plainlinks ambox mbox-small-left ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></td>
<td class="mbox-text" style="">This unreferenced section requires <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">citations</a> to ensure <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verifiability</a>.</td>
</tr>
</table>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Multiplication_Sign.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/49/Multiplication_Sign.svg/220px-Multiplication_Sign.svg.png" width="220" height="220" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Multiplication_Sign.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The multiplication sign <br />
(<a href="/wiki/Character_encodings_in_HTML" title="Character encodings in HTML">HTML entity</a> is <tt>&amp;times;</tt>)</div>
</div>
</div>
<p>Multiplication is often written using the <a href="/wiki/Multiplication_sign" title="Multiplication sign">multiplication sign</a> "" between the terms; that is, in <a href="/wiki/Infix_notation" title="Infix notation">infix notation</a>. The result is expressed with an <a href="/wiki/Equals_sign" title="Equals sign">equals sign</a>. For example,</p>
<dl>
<dd><img class="tex" alt="2\times 3 = 6" src="//upload.wikimedia.org/wikipedia/en/math/c/8/c/c8c883833f248a3c0f6b44bfc7af323e.png" /> (verbally, "two times three equals six")</dd>
</dl>
<dl>
<dd><img class="tex" alt="3\times 4 = 12" src="//upload.wikimedia.org/wikipedia/en/math/7/8/1/7810bdad067f0791db0629dd69a0c185.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="2\times 3\times 5 = 6\times  5 = 30" src="//upload.wikimedia.org/wikipedia/en/math/6/c/6/6c6aa778690382447d090ac313992bdb.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="2\times 2\times 2\times 2\times 2 = 32" src="//upload.wikimedia.org/wikipedia/en/math/5/6/d/56d38dbdd4858d9b9c35b14703fff481.png" /></dd>
</dl>
<p>There are several other common notations for multiplication. Many of these are intended to reduce confusion between the multiplication sign  and the commonly used variable x:</p>
<ul>
<li>Multiplication is sometimes denoted by either a <a href="/wiki/Middle_dot" title="Middle dot" class="mw-redirect">middle dot</a> or a <a href="/wiki/Full_stop" title="Full stop">period</a>:</li>
</ul>
<dl>
<dd><img class="tex" alt="5 \cdot 2 \quad\text{or}\quad 5\,.\,2" src="//upload.wikimedia.org/wikipedia/en/math/8/a/7/8a79fd19da693166562d540a8e453355.png" /></dd>
</dl>
<dl>
<dd>The middle dot is standard in the <a href="/wiki/United_States" title="United States">United States</a>, the <a href="/wiki/United_Kingdom" title="United Kingdom">United Kingdom</a>, and other countries where the period is used as a <a href="/wiki/Decimal_separator" title="Decimal separator" class="mw-redirect">decimal point</a>. In other countries that use a <a href="/wiki/Comma_(punctuation)" title="Comma (punctuation)" class="mw-redirect">comma</a> as a decimal point, either the period or a middle dot is used for multiplication.<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from August 2011">citation needed</span></a></i>]</sup></dd>
</dl>
<ul>
<li>The <a href="/wiki/Asterisk" title="Asterisk">asterisk</a> (as in <code>5*2</code>) is often used in <a href="/wiki/Programming_language" title="Programming language">programming languages</a> because it appears on every keyboard. This usage originated in the <a href="/wiki/FORTRAN" title="FORTRAN" class="mw-redirect">FORTRAN</a> programming language.</li>
</ul>
<ul>
<li>In <a href="/wiki/Algebra" title="Algebra">algebra</a>, multiplication involving <a href="/wiki/Variable_(mathematics)" title="Variable (mathematics)">variables</a> is often written as a <a href="//en.wiktionary.org/wiki/juxtaposition" class="extiw" title="wikt:juxtaposition">juxtaposition</a> (e.g. <i>xy</i> for <i>x</i> times <i>y</i> or 5<i>x</i> for five times <i>x</i>). This notation can also be used for quantities that are surrounded by <a href="/wiki/Bracket#Parentheses_.28_.29" title="Bracket">parentheses</a> (e.g. 5(2) or (5)(2) for five times two).</li>
</ul>
<ul>
<li>In <a href="/wiki/Matrix_multiplication" title="Matrix multiplication">matrix multiplication</a>, there is actually a distinction between the cross and the dot symbols. The cross symbol generally denotes a vector multiplication, while the dot denotes a scalar multiplication. A similar convention distinguishes between the <a href="/wiki/Cross_product" title="Cross product">cross product</a> and the <a href="/wiki/Dot_product" title="Dot product">dot product</a> of two <a href="/wiki/Vector_(mathematics)" title="Vector (mathematics)" class="mw-redirect">vectors</a>.</li>
</ul>
<p>The numbers to be multiplied are generally called the "<a href="/wiki/Factorization" title="Factorization">factors</a>" or "multiplicands". When thinking of multiplication as repeated addition, the number to be multiplied is called the "multiplicand", while the number of multiples is called the "multiplier". In algebra, a number that is the multiplier of a variable or expression (e.g. the 3 in 3<i>xy</i><sup>2</sup>) is called a <a href="/wiki/Coefficient" title="Coefficient">coefficient</a>.</p>
<p>The result of a multiplication is called a <a href="/wiki/Product_(mathematics)" title="Product (mathematics)">product</a>, and is a <a href="/wiki/Multiple_(mathematics)" title="Multiple (mathematics)">multiple</a> of each factor if the other factor is an integer. For example, 15 is the product of 3 and 5, and is both a multiple of 3 and a multiple of 5.</p>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=2" title="Edit section: Computation"></a>]</span> <span class="mw-headline" id="Computation">Computation</span></h2>
<p>The common methods for multiplying numbers using pencil and paper require a <a href="/wiki/Multiplication_table" title="Multiplication table">multiplication table</a> of memorized or consulted products of small numbers (typically any two numbers from 0 to 9), however one method, the <a href="/wiki/Ancient_Egyptian_multiplication" title="Ancient Egyptian multiplication">peasant multiplication</a> algorithm, does not.</p>
<p>Multiplying numbers to more than a couple of decimal places by hand is tedious and error prone. <a href="/wiki/Common_logarithm" title="Common logarithm">Common logarithms</a> were invented to simplify such calculations. The <a href="/wiki/Slide_rule" title="Slide rule">slide rule</a> allowed numbers to be quickly multiplied to about three places of accuracy. Beginning in the early twentieth century, mechanical <a href="/wiki/Calculator" title="Calculator">calculators</a>, such as the <a href="/wiki/Marchant_Calculator" title="Marchant Calculator">Marchant</a>, automated multiplication of up to 10 digit numbers. Modern electronic <a href="/wiki/Computer" title="Computer">computers</a> and calculators have greatly reduced the need for multiplication by hand.</p>
<h3><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=3" title="Edit section: Historical algorithms"></a>]</span> <span class="mw-headline" id="Historical_algorithms">Historical algorithms</span></h3>
<p>Methods of multiplication were documented in the <a href="/wiki/Ancient_Egypt" title="Ancient Egypt">Egyptian</a>, <a href="/wiki/Ancient_Greece" title="Ancient Greece">Greek</a>, <a href="/wiki/Ancient_India" title="Ancient India" class="mw-redirect">Indian</a> and <a href="/wiki/Ancient_China" title="Ancient China" class="mw-redirect">Chinese</a> civilizations.</p>
<p>The <a href="/wiki/Ishango_bone" title="Ishango bone">Ishango bone</a>, dated to about 18,000 to 20,000 BC, hints at a knowledge of multiplication in the <a href="/wiki/Upper_Paleolithic" title="Upper Paleolithic">Upper Paleolithic</a> era in <a href="/wiki/Central_Africa" title="Central Africa">Central Africa</a>.</p>
<h4><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=4" title="Edit section: Egyptians"></a>]</span> <span class="mw-headline" id="Egyptians">Egyptians</span></h4>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Ancient_Egyptian_multiplication" title="Ancient Egyptian multiplication">Ancient Egyptian multiplication</a></div>
<p>The Egyptian method of multiplication of integers and fractions, documented in the <a href="/wiki/Ahmes_Papyrus" title="Ahmes Papyrus" class="mw-redirect">Ahmes Papyrus</a>, was by successive additions and doubling. For instance, to find the product of 13 and 21 one had to double 21 three times, obtaining 1  21 = 21, 2  21 = 42, 4  21 = 84, 8  21 = 168. The full product could then be found by adding the appropriate terms found in the doubling sequence:</p>
<dl>
<dd>13  21 = (1 + 4 + 8)  21 = (1  21) + (4  21) + (8  21) = 21 + 84 + 168 = 273.</dd>
</dl>
<h4><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=5" title="Edit section: Babylonians"></a>]</span> <span class="mw-headline" id="Babylonians">Babylonians</span></h4>
<p>The Babylonians used a <a href="/wiki/Sexagesimal" title="Sexagesimal">sexagesimal</a> <a href="/wiki/Positional_number_system" title="Positional number system" class="mw-redirect">positional number system</a>, analogous to the modern day <a href="/wiki/Decimal_expansion" title="Decimal expansion" class="mw-redirect">decimal system</a>. Thus, Babylonian multiplication was very similar to modern decimal multiplication. Because of the relative difficulty of remembering 60  60 different products, Babylonian mathematicians employed <a href="/wiki/Multiplication_table" title="Multiplication table">multiplication tables</a>. These tables consisted of a list of the first twenty multiples of a certain <i>principal number</i> <i>n</i>: <i>n</i>, 2<i>n</i>, ..., 20<i>n</i>; followed by the multiples of 10<i>n</i>: 30<i>n</i> 40<i>n</i>, and 50<i>n</i>. Then to compute any sexagesimal product, say 53<i>n</i>, one only needed to add 50<i>n</i> and 3<i>n</i> computed from the table.</p>
<h4><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=6" title="Edit section: Chinese"></a>]</span> <span class="mw-headline" id="Chinese">Chinese</span></h4>
<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Multiplication_algorithm.GIF" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Multiplication_algorithm.GIF/250px-Multiplication_algorithm.GIF" width="250" height="184" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Multiplication_algorithm.GIF" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
38&#160;<b></b>&#160;76&#160;=&#160;2888</div>
</div>
</div>
<p>In the mathematical text <i><a href="/wiki/Zhou_Bi_Suan_Jing" title="Zhou Bi Suan Jing">Zhou Bi Suan Jing</a></i>, dated prior to 300 BC, and the <i><a href="/wiki/Nine_Chapters_on_the_Mathematical_Art" title="Nine Chapters on the Mathematical Art" class="mw-redirect">Nine Chapters on the Mathematical Art</a></i>, multiplication calculations were written out in words, although the early Chinese mathematicians employed <a href="/wiki/Rod_calculus" title="Rod calculus">Rod calculus</a> involving place value addition, subtraction, multiplication and division. These place value decimal arithmetic algorithms were introduced by <a href="/wiki/Al_Khwarizmi" title="Al Khwarizmi" class="mw-redirect">Al Khwarizmi</a> to Arab countries in the early 9th century.</p>
<h3><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=7" title="Edit section: Modern method"></a>]</span> <span class="mw-headline" id="Modern_method">Modern method</span></h3>
<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Gelosia_multiplication_45_256.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/05/Gelosia_multiplication_45_256.png/250px-Gelosia_multiplication_45_256.png" width="250" height="192" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Gelosia_multiplication_45_256.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Product of 45 and 256. Note the order of the numerals in 45 is reversed down the left column. The carry step of the multiplication can be performed at the final stage of the calculation (in bold), returning the final product of 45&#160;<b></b>&#160;256&#160;=&#160;11520.</div>
</div>
</div>
<p>The modern method of multiplication based on the <a href="/wiki/Hindu%E2%80%93Arabic_numeral_system" title="HinduArabic numeral system">HinduArabic numeral system</a> was first described by <a href="/wiki/Brahmagupta" title="Brahmagupta">Brahmagupta</a>. Brahmagupta gave rules for addition, subtraction, multiplication and division. <a href="/wiki/Henry_Burchard_Fine" title="Henry Burchard Fine">Henry Burchard Fine</a>, then professor of Mathematics at <a href="/wiki/Princeton_University" title="Princeton University">Princeton University</a>, wrote the following:</p>
<dl>
<dd><i>The Indians are the inventors not only of the positional decimal system itself, but of most of the processes involved in elementary reckoning with the system. Addition and subtraction they performed quite as they are performed nowadays; multiplication they effected in many ways, ours among them, but division they did cumbrously.</i><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=8" title="Edit section: Computer algorithms"></a>]</span> <span class="mw-headline" id="Computer_algorithms">Computer algorithms</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Multiplication_algorithm" title="Multiplication algorithm">Multiplication algorithm</a></div>
<p>The standard method of multiplying two <i>n</i>-digit numbers requires <i>n</i><sup>2</sup> simple multiplications. <a href="/wiki/Multiplication_algorithm" title="Multiplication algorithm">Multiplication algorithms</a> have been designed which reduce the computation time considerably when multiplying large numbers. In particular for very large numbers methods based on the <a href="/wiki/Discrete_Fourier_transform#Multiplication_of_large_integers" title="Discrete Fourier transform">Discrete Fourier Transform</a> can reduce the number of simple multiplications to the order of <i>n</i> log<sub>2</sub>(<i>n</i>).</p>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=9" title="Edit section: Products of measurements"></a>]</span> <span class="mw-headline" id="Products_of_measurements">Products of measurements</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Dimensional_analysis" title="Dimensional analysis">Dimensional analysis</a></div>
<p>When two measurements are multiplied together the product is of a type depending on the types of the measurements. The general theory is given by <a href="/wiki/Dimensional_analysis" title="Dimensional analysis">dimensional analysis</a>. This analysis is routinely applied in physics but has also found applications in finance. One can only meaningfully add or subtract quantities of the same type but can multiply or divide quantities of different types.</p>
<p>A common example is multiplying speed by time gives distance, so</p>
<dl>
<dd>50 kilometers per hour  3 hours = 150 kilometers.</dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=10" title="Edit section: Products of sequences"></a>]</span> <span class="mw-headline" id="Products_of_sequences">Products of sequences</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=11" title="Edit section: Capital Pi notation"></a>]</span> <span class="mw-headline" id="Capital_Pi_notation">Capital Pi notation</span></h3>
<p>The product of a sequence of terms can be written with the product symbol, which derives from the capital letter  (Pi) in the <a href="/wiki/Greek_alphabet" title="Greek alphabet">Greek alphabet</a>. Unicode position U+220F () contains a glyph for denoting such a product, distinct from U+03A0 (), the letter. The meaning of this notation is given by:</p>
<dl>
<dd><img class="tex" alt=" \prod_{i=m}^n x_i = x_m \cdot x_{m+1} \cdot x_{m+2} \cdot \,\,\cdots\,\, \cdot x_{n-1} \cdot x_n. " src="//upload.wikimedia.org/wikipedia/en/math/5/a/e/5aeffd69adde55ab2bebdd9666c95ecd.png" /></dd>
</dl>
<p>The subscript gives the symbol for a <a href="/wiki/Free_variables_and_bound_variables" title="Free variables and bound variables">dummy variable</a> (<i>i</i> in this case), called the "index of multiplication" together with its lower bound (<i>m</i>), whereas the superscript (here <i>n</i>) gives its upper bound. The lower and upper bound are expressions denoting integers. The factors of the product are obtained by taking the expression following the product operator, with successive integer values substituted for the index of multiplication, starting from the lower bound and incremented by 1 up to and including the upper bound. So, for example:</p>
<dl>
<dd><img class="tex" alt=" \prod_{i=2}^6 \left(1 + {1\over i}\right) = \left(1 + {1\over 2}\right) \cdot \left(1 + {1\over 3}\right) \cdot \left(1 + {1\over 4}\right) \cdot \left(1 + {1\over 5}\right) \cdot \left(1 + {1\over 6}\right) = {7\over 2}. " src="//upload.wikimedia.org/wikipedia/en/math/8/8/4/8840e0af35467d9e056d2d60aa7b3e08.png" /></dd>
</dl>
<p>In case <i>m</i> = <i>n</i>, the value of the product is the same as that of the single factor <i>x</i><sub><i>m</i></sub>. If <i>m</i>&#160;&gt;&#160;<i>n</i>, the product is the <a href="/wiki/Empty_product" title="Empty product">empty product</a>, with the value&#160;1.</p>
<h3><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=12" title="Edit section: Infinite products"></a>]</span> <span class="mw-headline" id="Infinite_products">Infinite products</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Infinite_product" title="Infinite product">Infinite product</a></div>
<p>One may also consider products of infinitely many terms; these are called <a href="/wiki/Infinite_product" title="Infinite product">infinite products</a>. Notationally, we would replace <i>n</i> above by the <a href="/wiki/Infinity" title="Infinity">lemniscate</a> . The product of such a series is defined as the <a href="/wiki/Limit_of_a_sequence" title="Limit of a sequence">limit</a> of the product of the first <i>n</i> terms, as <i>n</i> grows without bound. That is, by definition,</p>
<dl>
<dd><img class="tex" alt=" \prod_{i=m}^{\infty} x_{i} = \lim_{n\to\infty} \prod_{i=m}^{n} x_{i}. " src="//upload.wikimedia.org/wikipedia/en/math/6/d/4/6d4cea2c556d504d51608a5178bc887a.png" /></dd>
</dl>
<p>One can similarly replace <i>m</i> with negative infinity, and define:</p>
<dl>
<dd><img class="tex" alt="\prod_{i=-\infty}^\infty x_i = \left(\lim_{m\to-\infty}\prod_{i=m}^0 x_i\right) \cdot \left(\lim_{n\to\infty}\prod_{i=1}^n x_i\right)," src="//upload.wikimedia.org/wikipedia/en/math/6/b/2/6b2bf6e100893e7ca6b07010c84b1060.png" /></dd>
</dl>
<p>provided both limits exist.</p>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=13" title="Edit section: Properties"></a>]</span> <span class="mw-headline" id="Properties">Properties</span></h2>
<p>For the natural numbers, integers, fractions, and real and complex numbers, multiplication has certain properties:</p>
<dl>
<dt><b><a href="/wiki/Commutative" title="Commutative" class="mw-redirect">Commutative property</a></b></dt>
<dd>The order in which two numbers are multiplied does not matter:
<dl>
<dd><img class="tex" alt="x\cdot y = y\cdot x" src="//upload.wikimedia.org/wikipedia/en/math/4/7/3/473ae336994a9066480c735b576cab44.png" />.</dd>
</dl>
</dd>
</dl>
<dl>
<dt><b><a href="/wiki/Associative" title="Associative" class="mw-redirect">Associative property</a></b></dt>
<dd>Expressions solely involving multiplication are invariant with respect to <a href="/wiki/Order_of_operations" title="Order of operations">order of operations</a>:
<dl>
<dd><img class="tex" alt="(x\cdot y)\cdot z = x\cdot(y\cdot z)" src="//upload.wikimedia.org/wikipedia/en/math/c/0/e/c0e7cf86a0da0501c6cc09ba356d77c5.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dt><b><a href="/wiki/Distributive" title="Distributive" class="mw-redirect">Distributive property</a></b></dt>
<dd>Holds with respect to multiplication over addition. This identity is of prime importance in simplifying algebraic expressions:
<dl>
<dd><img class="tex" alt="x\cdot(y + z) = x\cdot y + x\cdot z " src="//upload.wikimedia.org/wikipedia/en/math/2/3/6/2362b213fc0fa92c5679012e218e1854.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dt><b><a href="/wiki/Identity_element" title="Identity element">Identity element</a></b></dt>
<dd>The multiplicative identity is 1; anything multiplied by one is itself. This is known as the identity property:
<dl>
<dd><img class="tex" alt="x\cdot 1 = x" src="//upload.wikimedia.org/wikipedia/en/math/5/8/8/588a340d177f6b90ef7d55275b38b026.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dt><b><a href="/wiki/Absorbing_element" title="Absorbing element">Zero element</a></b></dt>
<dd>Any number multiplied by zero is zero. This is known as the zero property of multiplication:
<dl>
<dd><img class="tex" alt="x\cdot  0 = 0" src="//upload.wikimedia.org/wikipedia/en/math/2/5/e/25ecf75c2e160468f343b79873aba23d.png" /></dd>
</dl>
</dd>
<dd>Zero is sometimes not included amongst the natural numbers.</dd>
</dl>
<p>There are a number of further properties of multiplication not satisfied by all types of numbers.</p>
<dl>
<dt>Negation</dt>
<dd>Negative one times any number is equal to the opposite of that number.
<dl>
<dd><img class="tex" alt="(-1)\cdot x = (-x)" src="//upload.wikimedia.org/wikipedia/en/math/b/2/4/b243c7ca602b0131cee20a8d90b3e982.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>Negative one times negative one is positive one.
<dl>
<dd><img class="tex" alt="(-1)\cdot (-1) = 1" src="//upload.wikimedia.org/wikipedia/en/math/1/5/c/15c5353cd2c5898544300d3bac299e67.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>The natural numbers do not include negative numbers.</dd>
</dl>
<dl>
<dt><b><a href="/wiki/Inverse_element" title="Inverse element">Inverse element</a></b></dt>
<dd>Every number <i>x</i>, except zero, has a <b><a href="/wiki/Multiplicative_inverse" title="Multiplicative inverse">multiplicative inverse</a></b>, <img class="tex" alt="\frac{1}{x}" src="//upload.wikimedia.org/wikipedia/en/math/b/1/e/b1e6a3a2e75b9b06b2bb87293b1eaf9a.png" />, such that <img class="tex" alt="x\cdot\left(\frac{1}{x}\right) = 1" src="//upload.wikimedia.org/wikipedia/en/math/f/8/8/f887dfcc53822b3dc0fcea80b4974830.png" />.</dd>
<dd>The natural numbers and integers do not have inverses.</dd>
</dl>
<dl>
<dt>Order preservation</dt>
<dd>Multiplication by a positive number preserves <a href="/wiki/Order_theory" title="Order theory">order</a>: if <i>a</i>&#160;&gt;&#160;0, then if <i>b</i>&#160;&gt;&#160;<i>c</i> then <i>ab</i>&#160;&gt;&#160;<i>ac</i>. Multiplication by a negative number <b>reverses</b> order: if <i>a</i>&#160;&lt;&#160;0 and <i>b</i>&#160;&gt;&#160;<i>c</i> then <i>ab</i>&#160;&lt;&#160;<i>ac</i>.</dd>
<dd>The complex numbers do not have an order predicate.</dd>
</dl>
<p>Other mathematical systems that include a multiplication operation may not have all these properties. For example, multiplication is not, in general, commutative for matrices and <a href="/wiki/Quaternion" title="Quaternion">quaternions</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=14" title="Edit section: Axioms"></a>]</span> <span class="mw-headline" id="Axioms">Axioms</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Peano_axioms" title="Peano axioms">Peano axioms</a></div>
<p>In the book <i>Arithmetices principia, nova methodo exposita</i>, <a href="/wiki/Giuseppe_Peano" title="Giuseppe Peano">Giuseppe Peano</a> proposed axioms for arithmetic based on his axioms for natural numbers.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup> Peano arithmetic has two axioms for multiplication:</p>
<dl>
<dd><img class="tex" alt="x \times 0 = 0" src="//upload.wikimedia.org/wikipedia/en/math/2/5/6/256653759a983bead8adb0d3b6f71a3b.png" /></dd>
<dd><img class="tex" alt="x \times S(y) = (x \times y) + x" src="//upload.wikimedia.org/wikipedia/en/math/0/0/a/00a3c447f202c500fda3833116dddea2.png" /></dd>
</dl>
<p>Here <i>S</i>(<i>y</i>) represents the <a href="/wiki/Successor_ordinal" title="Successor ordinal">successor</a> of <i>y</i>, or the natural number which <i>follows</i> <i>y</i>. The various properties like associativity can be proved from these and the other axioms of Peano arithmetic including <a href="/wiki/Mathematical_induction" title="Mathematical induction">induction</a>. For instance <i>S</i>(0). denoted by 1, is a multiplicative identity because</p>
<dl>
<dd><img class="tex" alt="x \times 1 = x \times S(0) = (x \times 0) + x = 0 + x = x " src="//upload.wikimedia.org/wikipedia/en/math/8/4/c/84c3e7fe480c437d56009c297e9e07ad.png" /></dd>
</dl>
<p>The axioms for <a href="/wiki/Integer" title="Integer">integers</a> typically define them as equivalence classes of ordered pairs of natural numbers. The model is based on treating (<i>x</i>,<i>y</i>) as equivalent to <i>x</i><i>y</i> when <i>x</i> and <i>y</i> are treated as integers. Thus both (0,1) and (1,2) are equivalent to 1. The multiplication axiom for integers defined this way is</p>
<dl>
<dd><img class="tex" alt="(x_p,\, x_m) \times (y_p,\, y_m) = (x_p \times y_p + x_m \times y_m,\; x_p \times y_m + x_m \times y_p)" src="//upload.wikimedia.org/wikipedia/en/math/c/a/b/caba1147522444b6bf331a189b589430.png" /></dd>
</dl>
<p>The rule that 1  1 = 1 can then be deduced from</p>
<dl>
<dd><img class="tex" alt="(0, 1) \times (0, 1) = (0 \times 0 + 1 \times 1,\, 0 \times 1 + 1 \times 0) = (1,0)" src="//upload.wikimedia.org/wikipedia/en/math/a/6/b/a6b46f6ea7ac8df05075b7c8ab732c1e.png" /></dd>
</dl>
<p>Multiplication is extended in a similar way to <a href="/wiki/Rational_number" title="Rational number">rational numbers</a> and then to <a href="/wiki/Real_number" title="Real number">real numbers</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=15" title="Edit section: Multiplication with set theory"></a>]</span> <span class="mw-headline" id="Multiplication_with_set_theory">Multiplication with set theory</span></h2>
<p>It is possible, though difficult, to create a recursive definition of multiplication with set theory. Such a system usually relies on the <a href="/wiki/Peano_axioms#Arithmetic" title="Peano axioms">Peano definition of multiplication</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=16" title="Edit section: Cartesian product"></a>]</span> <span class="mw-headline" id="Cartesian_product">Cartesian product</span></h3>
<p>The definition of multiplication as repeated <a href="/wiki/Addition" title="Addition">addition</a> provides a way to arrive at a set-theoretic interpretation of multiplication of <a href="/wiki/Cardinal_numbers" title="Cardinal numbers" class="mw-redirect">cardinal numbers</a>. In the expression</p>
<dl>
<dd><img class="tex" alt="\displaystyle n \cdot a = \underbrace{a + \cdots + a}_{n}," src="//upload.wikimedia.org/wikipedia/en/math/9/f/e/9fed12e79f04f5e932dc7b67ca350d2d.png" /></dd>
</dl>
<p>if the <i>n</i> copies of <i>a</i> are to be combined in disjoint union then clearly they must be made disjoint; an obvious way to do this is to use either <i>a</i> or <i>n</i> as the indexing set for the other. Then, the members of <img class="tex" alt="n \cdot a\," src="//upload.wikimedia.org/wikipedia/en/math/5/2/7/527a12a574e983c9acb0f959f33b9af4.png" /> are exactly those of the <a href="/wiki/Cartesian_product" title="Cartesian product">Cartesian product</a> <img class="tex" alt="n  \times a\," src="//upload.wikimedia.org/wikipedia/en/math/f/0/1/f0198b70000b9feb4b3cfdceb5eb8cd7.png" />. The properties of the multiplicative operation as applying to natural numbers then follow trivially from the corresponding properties of the Cartesian product.</p>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=17" title="Edit section: Multiplication in group theory"></a>]</span> <span class="mw-headline" id="Multiplication_in_group_theory">Multiplication in group theory</span></h2>
<p>There are many sets that, under the operation of multiplication, satisfy the axioms that define <a href="/wiki/Group_(mathematics)" title="Group (mathematics)">group</a> structure. These axioms are closure, associativity, and the inclusion of an identity element and inverses.</p>
<p>A simple example is the set of non-zero <a href="/wiki/Rational_numbers" title="Rational numbers" class="mw-redirect">rational numbers</a>. Here we have identity 1, as opposed to groups under addition where the identity is typically 0. Note that with the rationals, we must exclude zero because, under multiplication, it does not have an inverse: there is no rational number that can be multiplied by zero to result in 1. In this example we have an <a href="/wiki/Abelian_group" title="Abelian group">abelian group</a>, but that is not always the case.</p>
<p>To see this, look at the set of invertible square matrices of a given dimension, over a given <a href="/wiki/Field_(mathematics)" title="Field (mathematics)">field</a>. Now it is straightforward to verify closure, associativity, and inclusion of identity (the <a href="/wiki/Identity_matrix" title="Identity matrix">identity matrix</a>) and inverses. However, matrix multiplication is not commutative, therefore this group is nonabelian.</p>
<p>Another fact of note is that the integers under multiplication is not a group, even if we exclude zero. This is easily seen by the nonexistence of an inverse for all elements other than 1 and -1.</p>
<p>Multiplication in group theory is typically notated either by a dot, or by juxtaposition (the omission of an operation symbol between elements). So multiplying element <b>a</b> by element <b>b</b> could be notated <b>a</b> <img class="tex" alt="\cdot" src="//upload.wikimedia.org/wikipedia/en/math/3/6/f/36f8ae4c86b69d52d037a6802d91cc4a.png" /> <b>b</b> or <b>ab</b>. When referring to a group via the indication of the set and operation, the dot is used, e.g. our first example could be indicated by <img class="tex" alt="\left( \mathbb{Q}\smallsetminus \{ 0 \} ,\cdot \right) " src="//upload.wikimedia.org/wikipedia/en/math/d/d/6/dd6ad38a2991fb0cd4001a5fd78dc372.png" /></p>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=18" title="Edit section: Multiplication of different kinds of numbers"></a>]</span> <span class="mw-headline" id="Multiplication_of_different_kinds_of_numbers">Multiplication of different kinds of numbers</span></h2>
<p>Numbers can <i>count</i> (3 apples), <i>order</i> (the 3rd apple), or <i>measure</i> (3.5 feet high); as the history of mathematics has progressed from counting on our fingers to modelling quantum mechanics, multiplication has been generalized to more complicated and abstract types of numbers, and to things that are not numbers (such as <a href="/wiki/Matrix_(mathematics)" title="Matrix (mathematics)">matrices</a>) or do not look much like numbers (such as <a href="/wiki/Quaternion" title="Quaternion">quaternions</a>).</p>
<dl>
<dt><b>Integers</b></dt>
<dd><img class="tex" alt="N\times M" src="//upload.wikimedia.org/wikipedia/en/math/e/3/5/e35f4f965788a1298fc336f107d67d7d.png" /> is the sum of <i>M</i> copies of <i>N</i> when <i>N</i> and <i>M</i> are positive whole numbers. This gives the number of things in an array <i>N</i> wide and <i>M</i> high. Generalization to negative numbers can be done by <img class="tex" alt="N\times (-M) = (-N)\times M = - (N\times M)" src="//upload.wikimedia.org/wikipedia/en/math/c/3/1/c319cbe3733cd85cf256889fb80c63b6.png" /> and <img class="tex" alt="(-N)\times (-M) = N\times M" src="//upload.wikimedia.org/wikipedia/en/math/8/a/7/8a75e2dd3cdbc079c8524951e9c75eef.png" />. The same sign rules apply to rational and real numbers.</dd>
</dl>
<dl>
<dt><b><a href="/wiki/Rational_number" title="Rational number">Rational numbers</a></b></dt>
<dd>Generalization to fractions <img class="tex" alt="\frac{A}{B}\times \frac{C}{D}" src="//upload.wikimedia.org/wikipedia/en/math/5/9/1/591c032ba0fe7d31681b68686855b40e.png" /> is by multiplying the numerators and denominators respectively: <img class="tex" alt="\frac{A}{B}\times \frac{C}{D} = \frac{(A\times C)}{(B\times D)}" src="//upload.wikimedia.org/wikipedia/en/math/8/7/0/870744738d8428162639fb8d4c3b0752.png" />. This gives the area of a rectangle <img class="tex" alt="\frac{A}{B}" src="//upload.wikimedia.org/wikipedia/en/math/2/4/d/24d0724033a3ecccc30847ed18f188ab.png" /> high and <img class="tex" alt="\frac{C}{D}" src="//upload.wikimedia.org/wikipedia/en/math/9/c/2/9c20fbd70abd6e0350820deaf3920e32.png" /> wide, and is the same as the number of things in an array when the rational numbers happen to be whole numbers.</dd>
</dl>
<dl>
<dt><b><a href="/wiki/Real_number" title="Real number">Real numbers</a></b></dt>
<dd><img class="tex" alt="(x)(y)" src="//upload.wikimedia.org/wikipedia/en/math/e/9/5/e95fc7e4551ce91328b3652ec848f8f9.png" /> is the limit of the products of the corresponding terms in certain sequences of rationals that converge to <i>x</i> and <i>y</i>, respectively, and is significant in <a href="/wiki/Calculus" title="Calculus">calculus</a>. This gives the area of a rectangle <i>x</i> high and <i>y</i> wide. See <a href="/wiki/Multiplication#Products_of_sequences" title="Multiplication">Products of sequences</a>, above.</dd>
</dl>
<dl>
<dt><b><a href="/wiki/Complex_number" title="Complex number">Complex numbers</a></b></dt>
<dd>Considering complex numbers <img class="tex" alt="z_1" src="//upload.wikimedia.org/wikipedia/en/math/7/b/1/7b130c2e8f1d1584f9440cbfd6883b1a.png" /> and <img class="tex" alt="z_2" src="//upload.wikimedia.org/wikipedia/en/math/4/a/b/4abf9f21cabdc81618be801995926d30.png" /> as ordered pairs of real numbers <img class="tex" alt="(a_1, b_1)" src="//upload.wikimedia.org/wikipedia/en/math/f/a/5/fa53c8deb976a1d57cae705d8046296c.png" /> and <img class="tex" alt="(a_2, b_2)" src="//upload.wikimedia.org/wikipedia/en/math/3/6/4/36402c9e06e9767602bf8d772448fd9b.png" />, the product <img class="tex" alt="z_1\times z_2" src="//upload.wikimedia.org/wikipedia/en/math/6/a/b/6abe82d47356f87db3f915d9f1a3221b.png" /> is <img class="tex" alt="(a_1\times a_2 - b_1\times b_2, a_1\times b_2 + a_2\times b_1)" src="//upload.wikimedia.org/wikipedia/en/math/a/c/2/ac25fd414d345331442ee19a492d132e.png" />. This is the same as for reals, <img class="tex" alt="a_1\times a_2" src="//upload.wikimedia.org/wikipedia/en/math/1/9/d/19de8605f84f04e5025a4b9030f1fce6.png" />, when the <i>imaginary parts</i> <img class="tex" alt="b_1" src="//upload.wikimedia.org/wikipedia/en/math/b/a/a/baacbe90a611155ee8de5fa5e833e134.png" /> and <img class="tex" alt="b_2" src="//upload.wikimedia.org/wikipedia/en/math/5/6/e/56ece28df930bd4d153b6c74ba96c054.png" /> are zero.</dd>
</dl>
<dl>
<dt><b>Further generalizations</b></dt>
<dd>See <a href="/wiki/Multiplication#Multiplication_in_group_theory" title="Multiplication">Multiplication in group theory</a>, above, and <a href="/wiki/Multiplicative_group" title="Multiplicative group">Multiplicative Group</a>, which for example includes matrix multiplication. A very general, and abstract, concept of multiplication is as the "multiplicatively denoted" (second) binary operation in a <a href="/wiki/Ring_(mathematics)" title="Ring (mathematics)">ring</a>. An example of a ring which is not any of the above number systems is a <a href="/wiki/Polynomial_ring" title="Polynomial ring">polynomial ring</a> (you can add and multiply polynomials, but polynomials are not numbers in any usual sense.)</dd>
</dl>
<dl>
<dt><b>Division</b></dt>
<dd>Often division, <img class="tex" alt="\frac{x}{y}" src="//upload.wikimedia.org/wikipedia/en/math/6/b/4/6b41ee2c2d9bab412b63ecf7d6bf7dfe.png" />, is the same as multiplication by an inverse, <img class="tex" alt="x\left(\frac{1}{y}\right)" src="//upload.wikimedia.org/wikipedia/en/math/a/b/1/ab161d49b96f07a2e805f89837f00492.png" />. Multiplication for some types of "numbers" may have corresponding division, without inverses; in an <a href="/wiki/Integral_domain" title="Integral domain">integral domain</a> <i>x</i> may have no inverse "<img class="tex" alt="\frac{1}{x}" src="//upload.wikimedia.org/wikipedia/en/math/b/1/e/b1e6a3a2e75b9b06b2bb87293b1eaf9a.png" />" but <img class="tex" alt="\frac{x}{y}" src="//upload.wikimedia.org/wikipedia/en/math/6/b/4/6b41ee2c2d9bab412b63ecf7d6bf7dfe.png" /> may be defined. In a <a href="/wiki/Division_ring" title="Division ring">division ring</a> there are inverses but they are not commutative (since <img class="tex" alt="\left(\frac{1}{x}\right)\left(\frac{1}{y}\right)" src="//upload.wikimedia.org/wikipedia/en/math/e/e/8/ee882523802abdb7f6afe98c03505091.png" /> is not the same as <img class="tex" alt="\left(\frac{1}{y}\right)\left(\frac{1}{x}\right)" src="//upload.wikimedia.org/wikipedia/en/math/f/5/2/f527dbbe169d50cec6244e3c281017c7.png" />, <img class="tex" alt="\frac{x}{y}" src="//upload.wikimedia.org/wikipedia/en/math/6/b/4/6b41ee2c2d9bab412b63ecf7d6bf7dfe.png" /> may be ambiguous).</dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=19" title="Edit section: Exponentiation"></a>]</span> <span class="mw-headline" id="Exponentiation">Exponentiation</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Exponentiation" title="Exponentiation">Exponentiation</a></div>
<p>When multiplication is repeated, the resulting operation is known as <b>exponentiation</b>. For instance, the product of three factors of two (222) is "two raised to the third power", and is denoted by 2<sup>3</sup>, a two with a <a href="/wiki/Superscript" title="Superscript" class="mw-redirect">superscript</a> three. In this example, the number two is the <b>base</b>, and three is the <b>exponent</b>. In general, the exponent (or superscript) indicates how many times to multiply base by itself, so that the expression</p>
<dl>
<dd><img class="tex" alt="a^n = \underbrace{a\times a \times \cdots \times a}_n" src="//upload.wikimedia.org/wikipedia/en/math/a/6/f/a6f73b9328f09a7952bbff84cdf3f504.png" /></dd>
</dl>
<p>indicates that the base <i>a</i> to be multiplied by itself <i>n</i> times.</p>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=20" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<table cellspacing="0" cellpadding="0" class="multicol" style="background:transparent; width:100%;">
<tr>
<td width="33%" align="left" valign="top">
<ul>
<li><a href="/wiki/Dimensional_analysis" title="Dimensional analysis">Dimensional analysis</a></li>
<li><a href="/wiki/Multiplication_algorithm" title="Multiplication algorithm">Multiplication algorithm</a>
<ul>
<li><a href="/wiki/Karatsuba_algorithm" title="Karatsuba algorithm">Karatsuba algorithm</a>, for large numbers</li>
<li><a href="/wiki/Toom%E2%80%93Cook_multiplication" title="ToomCook multiplication">ToomCook multiplication</a>, for very large numbers</li>
<li><a href="/wiki/Sch%C3%B6nhage%E2%80%93Strassen_algorithm" title="SchnhageStrassen algorithm">SchnhageStrassen algorithm</a>, for huge numbers</li>
</ul>
</li>
</ul>
</td>
<td width="33%" align="left" valign="top">
<ul>
<li><a href="/wiki/Multiplication_table" title="Multiplication table">Multiplication table</a></li>
<li><a href="/wiki/Multiplication_ALU" title="Multiplication ALU" class="mw-redirect">Multiplication ALU</a>, how computers multiply
<ul>
<li><a href="/wiki/Booth%27s_multiplication_algorithm" title="Booth's multiplication algorithm">Booth's multiplication algorithm</a></li>
<li><a href="/wiki/Floating_point" title="Floating point">Floating point</a></li>
<li><a href="/wiki/Fused_multiply%E2%80%93add" title="Fused multiplyadd" class="mw-redirect">Fused multiplyadd</a></li>
<li><a href="/wiki/Multiply%E2%80%93accumulate" title="Multiplyaccumulate" class="mw-redirect">Multiplyaccumulate</a></li>
<li><a href="/wiki/Wallace_tree" title="Wallace tree">Wallace tree</a></li>
</ul>
</li>
</ul>
</td>
<td align="left" valign="top">
<ul>
<li><a href="/wiki/Multiplicative_inverse" title="Multiplicative inverse">Multiplicative inverse</a>, reciprocal</li>
<li><a href="/wiki/Factorial" title="Factorial">Factorial</a></li>
<li><a href="/wiki/Genaille%E2%80%93Lucas_rulers" title="GenailleLucas rulers">GenailleLucas rulers</a></li>
<li><a href="/wiki/Napier%27s_bones" title="Napier's bones">Napier's bones</a></li>
<li><a href="/wiki/Peasant_multiplication" title="Peasant multiplication" class="mw-redirect">Peasant multiplication</a></li>
<li><a href="/wiki/Product_(mathematics)" title="Product (mathematics)">Product (mathematics)</a>, for generalizations</li>
<li><a href="/wiki/Slide_rule" title="Slide rule">Slide rule</a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=21" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation web">Makoto Yoshida (2009). <a rel="nofollow" class="external text" href="http://www.globaledresources.com/resources/assets/042309_Multiplication_v2.pdf">"Is Multiplication Just Repeated Addition?"</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://www.globaledresources.com/resources/assets/042309_Multiplication_v2.pdf">http://www.globaledresources.com/resources/assets/042309_Multiplication_v2.pdf</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Is+Multiplication+Just+Repeated+Addition%3F&amp;rft.atitle=&amp;rft.aulast=Makoto+Yoshida&amp;rft.au=Makoto+Yoshida&amp;rft.date=2009&amp;rft_id=http%3A%2F%2Fwww.globaledresources.com%2Fresources%2Fassets%2F042309_Multiplication_v2.pdf&amp;rfr_id=info:sid/en.wikipedia.org:Multiplication"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">Henry B. Fine. <i>The Number System of Algebra  Treated Theoretically and Historically</i>, (2nd ion, with corrections, 1907), page 90, <a rel="nofollow" class="external free" href="http://www.archive.org/download/numbersystemofal00fineuoft/numbersystemofal00fineuoft.pdf">http://www.archive.org/download/numbersystemofal00fineuoft/numbersystemofal00fineuoft.pdf</a></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://planetmath.org/encyclopedia/PeanoArithmetic.html">PlanetMath: Peano arithmetic</a></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=22" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation book"><a href="/wiki/Carl_Boyer" title="Carl Boyer" class="mw-redirect">Boyer, Carl B.</a> (revised by Merzbach, Uta C.) (1991). <i>History of Mathematics</i>. John Wiley and Sons, Inc.. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-471-54397-7" title="Special:BookSources/0-471-54397-7">0-471-54397-7</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=History+of+Mathematics&amp;rft.aulast=%5B%5BCarl+Boyer%7CBoyer%2C+Carl+B.%5D%5D+%28revised+by+Merzbach%2C+Uta+C.%29&amp;rft.au=%5B%5BCarl+Boyer%7CBoyer%2C+Carl+B.%5D%5D+%28revised+by+Merzbach%2C+Uta+C.%29&amp;rft.date=1991&amp;rft.pub=John+Wiley+and+Sons%2C+Inc.&amp;rft.isbn=0-471-54397-7&amp;rfr_id=info:sid/en.wikipedia.org:Multiplication"><span style="display: none;">&#160;</span></span></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Multiplication&amp;action=&amp;section=23" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/do_you_know/multiplication.shtml">Multiplication</a> and <a rel="nofollow" class="external text" href="http://www.cut-the-knot.org/blue/SysTable.shtml">Arithmetic Operations In Various Number Systems</a> at <a href="/wiki/Cut-the-knot" title="Cut-the-knot" class="mw-redirect">cut-the-knot</a></li>
<li><a rel="nofollow" class="external text" href="http://webhome.idirect.com/~totton/suanpan/mod_mult/">Modern Chinese Multiplication Techniques on an Abacus</a></li>
</ul>
<table cellspacing="0" class="navbox" style="border-spacing:0;;">
<tr>
<td style="padding:2px;">
<table cellspacing="0" class="nowraplinks collapsible autocollapse navbox-inner" style="border-spacing:0;background:transparent;color:inherit;;">
<tr>
<th scope="col" style=";" class="navbox-title" colspan="2">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary_arithmetic" title="Template:Elementary arithmetic"><span title="View this template" style=";;background:none transparent;border:none;">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Elementary_arithmetic" title="Template talk:Elementary arithmetic"><span title="Discuss this template" style=";;background:none transparent;border:none;">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary_arithmetic&amp;action="><span title="Edit this template" style=";;background:none transparent;border:none;">e</span></a></li>
</ul>
</div>
<div class="" style="font-size:110%;"><a href="/wiki/Elementary_arithmetic" title="Elementary arithmetic">Elementary arithmetic</a></div>
</th>
</tr>
<tr style="height:2px;">
<td></td>
</tr>
<tr>
<td colspan="2" style="width:100%;padding:0px;;;background:transparent;color:inherit;" class="navbox-list navbox-odd">
<div style="padding:0px;">
<table cellspacing="0" class="navbox-columns-table" style="text-align:left;width:auto; margin-left:auto; margin-right:auto;">
<tr style="vertical-align:top;">
<td style="width:5em;">&#160;&#160;&#160;</td>
<td style="padding:0px;text-align: center;;;width:25%;">
<div>
<p><a href="/wiki/Addition" title="Addition"><img alt="Symbol support vote.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/94/Symbol_support_vote.svg/50px-Symbol_support_vote.svg.png" width="50" height="51" /></a><br />
<a href="/wiki/Addition" title="Addition">Addition</a><br />
<a href="/wiki/Addition" title="Addition"><font size="5">+</font></a></p>
</div>
</td>
<td style="border-left:2px solid #fdfdfd;padding:0px;text-align: center;;;width:25%;">
<div>
<p><a href="/wiki/Subtraction" title="Subtraction"><img alt="Symbol oppose vote.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Symbol_oppose_vote.svg/50px-Symbol_oppose_vote.svg.png" width="50" height="51" /></a><br />
<a href="/wiki/Subtraction" title="Subtraction">Subtraction</a><br />
<a href="/wiki/Subtraction" title="Subtraction"><font size="5"></font></a></p>
</div>
</td>
<td style="border-left:2px solid #fdfdfd;padding:0px;text-align: center;;;width:25%;">
<div>
<p><a href="/wiki/Multiplication" title="Multiplication"><img alt="Symbol multiplication vote.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Symbol_multiplication_vote.svg/50px-Symbol_multiplication_vote.svg.png" width="50" height="51" /></a><br />
<strong class="selflink">Multiplication</strong><br />
<font size="5"><strong class="selflink"></strong></font></p>
</div>
</td>
<td style="border-left:2px solid #fdfdfd;padding:0px;text-align: center;;;width:25%;">
<div>
<p><a href="/wiki/Division_(mathematics)" title="Division (mathematics)"><img alt="Symbol divide vote.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Symbol_divide_vote.svg/50px-Symbol_divide_vote.svg.png" width="50" height="51" /></a><br />
<a href="/wiki/Division_(mathematics)" title="Division (mathematics)">Division</a><br />
<a href="/wiki/Division_(mathematics)" title="Division (mathematics)"><font size="5"></font></a></p>
</div>
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 4105/1000000
Post-expand include size: 34790/2048000 bytes
Template argument size: 12279/2048000 bytes
Expensive parser function count: 4/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:20845-0!0!0!!en!4!* and timestamp 20120416024233 -->
