<table class="metadata plainlinks ambox ambox-style ambox-More_footnotes" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Text_document_with_red_question_mark.svg/40px-Text_document_with_red_question_mark.svg.png" width="40" height="40" /></div>
</td>
<td class="mbox-text" style="">This article includes a <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">list of references</a>, but <b>its sources remain unclear because it has insufficient <a href="/wiki/Wikipedia:INCITE" title="Wikipedia:INCITE" class="mw-redirect">inline citations</a></b>. Please help to <a href="/wiki/Wikipedia:WikiProject_Fact_and_Reference_Check" title="Wikipedia:WikiProject Fact and Reference Check">improve</a> this article by <a href="/wiki/Wikipedia:When_to_cite" title="Wikipedia:When to cite">introducing</a> more precise citations. <small><i>(February 2012)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, a <b>square number</b>, sometimes also called a <b>perfect square</b>, is an <a href="/wiki/Integer" title="Integer">integer</a> that is the square of an integer;<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> in other words, it is the product of some integer with itself. So, for example, 9 is a square number, since it can be written as 3&#160;&#160;3.</p>
<p>The usual notation for the formula for the square of a number <i>n</i> is not the product <i>n</i>&#160;&#160;<i>n</i>, but the equivalent <a href="/wiki/Exponentiation" title="Exponentiation">exponentiation</a> <i>n</i><sup>2</sup>, usually pronounced as "<i>n</i> squared". The name square number comes from the name of the shape. This is because a square with side length <i>n</i> has <a href="/wiki/Area" title="Area">area</a> <i>n</i><sup>2</sup>.</p>
<p>Square numbers are <a href="/wiki/Non-negative" title="Non-negative" class="mw-redirect">non-negative</a>. Another way of saying that a (non-negative) number is a square number, is that its <a href="/wiki/Square_root" title="Square root">square root</a> is again an integer. For example, 9&#160;=&#160;3, so 9 is a square number.</p>
<p>A positive integer that has no perfect square <a href="/wiki/Divisor" title="Divisor">divisors</a> except 1 is called <a href="/wiki/Square-free_integer" title="Square-free integer">square-free</a>.</p>
<p>For a non-negative integer <i>n</i>, the <i>n</i>th square number is <i>n</i><sup>2</sup>, with 0<sup>2</sup> = 0 being the <a href="/wiki/Zeroth" title="Zeroth" class="mw-redirect">zeroth</a> square. The concept of square can be extended to some other number systems. If rational numbers are included, then a square is the ratio of two square integers, and, conversely, the ratio of two square integers is a square (e.g., 4/9&#160;=&#160;(2/3)<sup>2</sup>).</p>
<p>Starting with 1, there are <img class="tex" alt="\lfloor \sqrt{m} \rfloor" src="//upload.wikimedia.org/wikipedia/en/math/a/1/3/a1344d3fce9c61446d265f0c951cb3dd.png" /> square numbers up to and including <i>m</i>, where the expression <img class="tex" alt="\lfloor x \rfloor" src="//upload.wikimedia.org/wikipedia/en/math/2/f/c/2fc4d67260ce7b740b9dedf6da69b7dc.png" /> represents the <a href="/wiki/Floor_function" title="Floor function" class="mw-redirect">floor</a> of the number <i>x</i>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Examples"><span class="tocnumber">1</span> <span class="toctext">Examples</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Properties"><span class="tocnumber">2</span> <span class="toctext">Properties</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Special_cases"><span class="tocnumber">3</span> <span class="toctext">Special cases</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Odd_and_even_square_numbers"><span class="tocnumber">4</span> <span class="toctext">Odd and even square numbers</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Uses"><span class="tocnumber">5</span> <span class="toctext">Uses</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#See_also"><span class="tocnumber">6</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Notes"><span class="tocnumber">7</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#References"><span class="tocnumber">8</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#Further_reading"><span class="tocnumber">9</span> <span class="toctext">Further reading</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#External_links"><span class="tocnumber">10</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Square_number&amp;action=&amp;section=1" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h2>
<p>The squares (sequence <span class="nowrap"><a href="//oeis.org/A000290" class="extiw" title="oeis:A000290">A000290</a></span> in <a href="/wiki/On-Line_Encyclopedia_of_Integer_Sequences" title="On-Line Encyclopedia of Integer Sequences">OEIS</a>) smaller than 60<sup>2</sup> are:</p>
<div style="float:left; padding: 1em;">
<dl>
<dd>0<sup>2</sup> = 0</dd>
<dd>1<sup>2</sup> = 1</dd>
<dd>2<sup>2</sup> = 4</dd>
<dd>3<sup>2</sup> = 9</dd>
<dd>4<sup>2</sup> = 16</dd>
<dd>5<sup>2</sup> = 25</dd>
<dd>6<sup>2</sup> = 36</dd>
<dd>7<sup>2</sup> = 49</dd>
<dd>8<sup>2</sup> = 64</dd>
<dd>9<sup>2</sup> = 81</dd>
</dl>
</div>
<div style="float:left; padding: 1em;">
<dl>
<dd>10<sup>2</sup> = 100</dd>
<dd>11<sup>2</sup> = 121</dd>
<dd>12<sup>2</sup> = 144</dd>
<dd>13<sup>2</sup> = 169</dd>
<dd>14<sup>2</sup> = 196</dd>
<dd>15<sup>2</sup> = 225</dd>
<dd>16<sup>2</sup> = 256</dd>
<dd>17<sup>2</sup> = 289</dd>
<dd>18<sup>2</sup> = 324</dd>
<dd>19<sup>2</sup> = 361</dd>
</dl>
</div>
<div style="float:left; padding: 1em;">
<dl>
<dd>20<sup>2</sup> = 400</dd>
<dd>21<sup>2</sup> = 441</dd>
<dd>22<sup>2</sup> = 484</dd>
<dd>23<sup>2</sup> = 529</dd>
<dd>24<sup>2</sup> = 576</dd>
<dd>25<sup>2</sup> = 625</dd>
<dd>26<sup>2</sup> = 676</dd>
<dd>27<sup>2</sup> = 729</dd>
<dd>28<sup>2</sup> = 784</dd>
<dd>29<sup>2</sup> = 841</dd>
</dl>
</div>
<div style="float:left; padding: 1em;">
<dl>
<dd>30<sup>2</sup> = 900</dd>
<dd>31<sup>2</sup> = 961</dd>
<dd>32<sup>2</sup> = 1024</dd>
<dd>33<sup>2</sup> = 1089</dd>
<dd>34<sup>2</sup> = 1156</dd>
<dd>35<sup>2</sup> = 1225</dd>
<dd>36<sup>2</sup> = 1296</dd>
<dd>37<sup>2</sup> = 1369</dd>
<dd>38<sup>2</sup> = 1444</dd>
<dd>39<sup>2</sup> = 1521</dd>
</dl>
</div>
<div style="float:left; padding: 1em;">
<dl>
<dd>40<sup>2</sup> = 1600</dd>
<dd>41<sup>2</sup> = 1681</dd>
<dd>42<sup>2</sup> = 1764</dd>
<dd>43<sup>2</sup> = 1849</dd>
<dd>44<sup>2</sup> = 1936</dd>
<dd>45<sup>2</sup> = 2025</dd>
<dd>46<sup>2</sup> = 2116</dd>
<dd>47<sup>2</sup> = 2209</dd>
<dd>48<sup>2</sup> = 2304</dd>
<dd>49<sup>2</sup> = 2401</dd>
</dl>
</div>
<div style="float:left; padding: 1em;">
<dl>
<dd>50<sup>2</sup> = 2500</dd>
<dd>51<sup>2</sup> = 2601</dd>
<dd>52<sup>2</sup> = 2704</dd>
<dd>53<sup>2</sup> = 2809</dd>
<dd>54<sup>2</sup> = 2916</dd>
<dd>55<sup>2</sup> = 3025</dd>
<dd>56<sup>2</sup> = 3136</dd>
<dd>57<sup>2</sup> = 3249</dd>
<dd>58<sup>2</sup> = 3364</dd>
<dd>59<sup>2</sup> = 3481</dd>
</dl>
</div>
<p><br style="clear:both;" /></p>
<p>The difference between any perfect square and its predecessor is given by the identity <img class="tex" alt=" n ^ 2 = (n - 1) ^ 2 + (2 n - 1) " src="//upload.wikimedia.org/wikipedia/en/math/3/5/3/3536f1beee143991a1c43929cf0b27e7.png" />. Equivalently, it is possible to count up square numbers by adding together the last square, the last square's root, and the current root, that is, <img class="tex" alt=" n ^ 2 = (n - 1) ^ 2 + (n - 1) + n " src="//upload.wikimedia.org/wikipedia/en/math/f/0/2/f02d6f60abb29d4c73d7dd23cd8db127.png" />.</p>
<h2><span class="section">[<a href="/w/index.php?title=Square_number&amp;action=&amp;section=2" title="Edit section: Properties"></a>]</span> <span class="mw-headline" id="Properties">Properties</span></h2>
<p>The number <i>m</i> is a square number if and only if one can arrange <i>m</i> points in a square:</p>
<table cellpadding="8">
<tr>
<td>m = 1<sup>2</sup> = 1</td>
<td><a href="/wiki/File:Square_number_1.png" class="image"><img alt="Square number 1.png" src="//upload.wikimedia.org/wikipedia/commons/7/78/Square_number_1.png" width="136" height="16" /></a></td>
</tr>
<tr>
<td>m = 2<sup>2</sup> = 4</td>
<td><a href="/wiki/File:Square_number_4.png" class="image"><img alt="Square number 4.png" src="//upload.wikimedia.org/wikipedia/commons/e/e1/Square_number_4.png" width="152" height="32" /></a></td>
</tr>
<tr>
<td>m = 3<sup>2</sup> = 9</td>
<td><a href="/wiki/File:Square_number_9.png" class="image"><img alt="Square number 9.png" src="//upload.wikimedia.org/wikipedia/commons/4/4c/Square_number_9.png" width="168" height="48" /></a></td>
</tr>
<tr>
<td>m = 4<sup>2</sup> = 16</td>
<td><a href="/wiki/File:Square_number_16.png" class="image"><img alt="Square number 16.png" src="//upload.wikimedia.org/wikipedia/commons/f/f8/Square_number_16.png" width="184" height="64" /></a></td>
</tr>
<tr>
<td>m = 5<sup>2</sup> = 25</td>
<td><a href="/wiki/File:Square_number_25.png" class="image"><img alt="Square number 25.png" src="//upload.wikimedia.org/wikipedia/commons/0/0a/Square_number_25.png" width="200" height="80" /></a></td>
</tr>
</table>
<p>The expression for the <i>n</i>th square number is <i>n</i><sup>2</sup>. This is also equal to the sum of the first <i>n</i> <a href="/wiki/Odd_number" title="Odd number" class="mw-redirect">odd numbers</a> as can be seen in the above pictures, where a square results from the previous one by adding an odd number of points (shown in magenta). The formula follows:</p>
<dl>
<dd><img class="tex" alt="n^2 = \sum_{k=1}^n(2k-1)." src="//upload.wikimedia.org/wikipedia/en/math/9/c/2/9c28af85502dcaa74d7baedcb75e6444.png" /></dd>
</dl>
<p>So for example, 5<sup>2</sup> = 25 = 1 + 3 + 5 + 7 + 9.</p>
<p>There are several <a href="/wiki/Recursion#recursion_in_mathematics" title="Recursion">recursive</a> methods for computing square numbers. For example, the <i>n</i>th square number can be computed from the previous square by <img class="tex" alt="n^2 = (n-1)^2 + 2n-1" src="//upload.wikimedia.org/wikipedia/en/math/3/a/7/3a7f2801f92da218a07bebdee68283af.png" />. Alternatively, the <i>n</i>th square number can be calculated from the previous two by doubling the (<i>n</i>&#160;&#160;1)-th square, subtracting the (<i>n</i>&#160;&#160;2)-th square number, and adding 2, because <i>n</i><sup>2</sup> = 2(<i>n</i>  1)<sup>2</sup>  (<i>n</i>  2)<sup>2</sup> + 2. For example, 2  5<sup>2</sup>&#160;&#160;4<sup>2</sup>&#160;+&#160;2 = 2  25&#160;&#160;16&#160;+&#160;2 = 50&#160;&#160;16&#160;+&#160;2 = 36 = 6<sup>2</sup>.</p>
<p>A square number is also the sum of two consecutive <a href="/wiki/Triangular_number" title="Triangular number">triangular numbers</a>. The sum of two consecutive square numbers is a <a href="/wiki/Centered_square_number" title="Centered square number">centered square number</a>. Every odd square is also a <a href="/wiki/Centered_octagonal_number" title="Centered octagonal number">centered octagonal number</a>.</p>
<p>Another property of a square number is that it has an odd number of divisors, while other numbers have an even number of divisors. An integer root is the only divisor that pairs up with itself to yield the square number, while other divisors come in pairs.</p>
<p><a href="/wiki/Lagrange%27s_four-square_theorem" title="Lagrange's four-square theorem">Lagrange's four-square theorem</a> states that any positive integer can be written as the sum of four or fewer perfect squares. Three squares are not sufficient for numbers of the form 4<sup><i>k</i></sup>(8<i>m</i> + 7). A positive integer can be represented as a sum of two squares precisely if its <a href="/wiki/Prime_factorization" title="Prime factorization" class="mw-redirect">prime factorization</a> contains no odd powers of primes of the form 4<i>k</i>&#160;+&#160;3. This is generalized by <a href="/wiki/Waring%27s_problem" title="Waring's problem">Waring's problem</a>.</p>
<p>A square number can end only with digits 0,1,4,6,9, or 25 in base 10, as follows:</p>
<ol>
<li>If the last digit of a number is 0, its square ends in an even number of 0s (so at least 00) and the <a href="/wiki/Numerical_digit" title="Numerical digit">digits</a> preceding the ending 0s must also form a square.</li>
<li>If the last digit of a number is 1 or 9, its square ends in 1 and the number formed by its preceding digits must be divisible by four.</li>
<li>If the last digit of a number is 2 or 8, its square ends in 4 and the preceding digit must be even.</li>
<li>If the last digit of a number is 3 or 7, its square ends in 9 and the number formed by its preceding digits must be divisible by four.</li>
<li>If the last digit of a number is 4 or 6, its square ends in 6 and the preceding digit must be <b>odd</b>.</li>
<li>If the last digit of a number is 5, its square ends in 25 and the preceding digits must be 0, 2, 06, or 56.</li>
</ol>
<p>In base 16, a square number can end only with 0,1,4 or 9 and<br />
- in case 0, only 0,1,4,9 can precede it,<br />
- in case 4, only even numbers can precede it.<br /></p>
<p>In general, if a <a href="/wiki/Prime" title="Prime" class="mw-redirect">prime</a> <i>p</i> divides a square number <i>m</i> then the square of <i>p</i> must also divide <i>m</i>; if <i>p</i> fails to divide <img class="tex" alt="m/p" src="//upload.wikimedia.org/wikipedia/en/math/8/1/3/813383dc39b09840225f76d6ee47f9b7.png" />, then <i>m</i> is definitely not square. Repeating the divisions of the previous sentence, one concludes that every prime must divide a given perfect square an even number of times (including possibly 0 times). Thus, the number <i>m</i> is a square number if and only if, in its <a href="/wiki/Canonical_representation_of_a_positive_integer" title="Canonical representation of a positive integer" class="mw-redirect">canonical representation</a>, all exponents are even.</p>
<p>Squarity testing can be used as alternative way in <a href="/wiki/Factorization" title="Factorization">factorization</a> of large numbers. Instead of testing for divisibility, test for squarity: for given <i>m</i> and some number <i>k</i>, if <i>k  m</i> is the square of an integer <i>n</i> then <i>k  n</i> divides <i>m</i>. (This is an application of the factorization of a <a href="/wiki/Difference_of_two_squares" title="Difference of two squares">difference of two squares</a>.) For example, 100  9991 is the square of 3, so consequently 100  3 divides 9991. This test is deterministic for odd divisors in the range from <i>k  n</i> to <i>k + n</i> where <i>k</i> covers some range of natural numbers <i>k</i>  <i>m</i>.</p>
<p>A square number cannot be a <a href="/wiki/Perfect_number" title="Perfect number">perfect number</a>.</p>
<p>The sum of the series of power numbers</p>
<dl>
<dd><img class="tex" alt="\sum_{n=0}^N n^2 = 0^2 + 1^2 + 2^2 + 3^2 + 4^2 + \cdots + N^2" src="//upload.wikimedia.org/wikipedia/en/math/e/b/4/eb4f6939c758915dfbc5ec8f667a86c6.png" /></dd>
</dl>
<p>can also be represented by the formula</p>
<dl>
<dd><img class="tex" alt="\frac{N(N+1)(2N+1)}{6}." src="//upload.wikimedia.org/wikipedia/en/math/d/7/d/d7d2c37a6bfabcb45339a63edb7ce0c9.png" /></dd>
</dl>
<p>The first terms of this series (the <a href="/wiki/Square_pyramidal_number" title="Square pyramidal number">square pyramidal numbers</a>) are:</p>
<blockquote>
<p>0, 1, 5, 14, 30, 55, 91, 140, 204, 285, 385, 506, 650, 819, 1015, 1240, 1496, 1785, 2109, 2470, 2870, 3311, 3795, 4324, 4900, 5525, 6201... (sequence <span class="nowrap"><a href="//oeis.org/A000330" class="extiw" title="oeis:A000330">A000330</a></span> in <a href="/wiki/On-Line_Encyclopedia_of_Integer_Sequences" title="On-Line Encyclopedia of Integer Sequences">OEIS</a>).</p>
</blockquote>
<p>All fourth powers, sixth powers, eighth powers and so on are perfect squares.</p>
<h2><span class="section">[<a href="/w/index.php?title=Square_number&amp;action=&amp;section=3" title="Edit section: Special cases"></a>]</span> <span class="mw-headline" id="Special_cases">Special cases</span></h2>
<ul>
<li>If the number is of the form <i>m</i>5 where <i>m</i> represents the preceding digits, its square is <i>n</i>25 where <i>n</i>&#160;= <i>m</i>  (<i>m</i> + 1) and represents digits before 25. For example the square of 65 can be calculated by <i>n</i>&#160;= 6  (6 + 1)&#160;= 42 which makes the square equal to 4225.</li>
<li>If the number is of the form <i>m</i>0 where <i>m</i> represents the preceding digits, its square is <i>n</i>00 where <i>n</i>&#160;= <i>m</i><sup>2</sup>. For example the square of 70 is 4900.</li>
<li>If the number has two digits and is of the form 5<i>m</i> where <i>m</i> represents the units digit, its square is <i>AABB</i> where <i>AA</i>&#160;=&#160;25&#160;+&#160;<i>m</i> and <i>BB</i>&#160;=&#160;<i>m</i><sup>2</sup>. Example: To calculate the square of 57, 25&#160;+&#160;7&#160;=&#160;32 and 7<sup>2</sup>&#160;=&#160;49, which means 57<sup>2</sup>&#160;=&#160;3249.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Square_number&amp;action=&amp;section=4" title="Edit section: Odd and even square numbers"></a>]</span> <span class="mw-headline" id="Odd_and_even_square_numbers">Odd and even square numbers</span></h2>
<p>Squares of even numbers are even (and in fact divisible by 4), since (2<i>n</i>)<sup>2</sup> = 4<i>n</i><sup>2</sup>.</p>
<p>Squares of odd numbers are odd, since (2<i>n</i> + 1)<sup>2</sup> = 4(<i>n</i><sup>2</sup> + <i>n</i>) + 1.</p>
<p>It follows that square roots of even square numbers are even, and square roots of odd square numbers are odd.</p>
<h2><span class="section">[<a href="/w/index.php?title=Square_number&amp;action=&amp;section=5" title="Edit section: Uses"></a>]</span> <span class="mw-headline" id="Uses">Uses</span></h2>
<p>Since the product of <a href="/wiki/Real_number" title="Real number">real</a> <a href="/wiki/Negative_number" title="Negative number">negative numbers</a> is positive, and the product of two real <a href="/wiki/Positive_number" title="Positive number" class="mw-redirect">positive numbers</a> is also positive, it follows that no square number is negative. It follows that no <a href="/wiki/Square_root" title="Square root">square root</a> can be taken of a negative number within the system of <a href="/wiki/Real_number" title="Real number">real numbers</a>. This leaves a gap in the real number system that mathematicians fill by postulating <a href="/wiki/Complex_number" title="Complex number">complex numbers</a>, beginning with the <a href="/wiki/Imaginary_unit" title="Imaginary unit">imaginary unit</a> <i>i</i>, which by convention is one of the square roots of&#160;1.</p>
<p>Squaring is used in <a href="/wiki/Statistics" title="Statistics">statistics</a> in determining the <a href="/wiki/Standard_deviation" title="Standard deviation">standard deviation</a> of a set of values. The deviation of each value <img class="tex" alt="x_i\," src="//upload.wikimedia.org/wikipedia/en/math/a/c/8/ac840fba3ce6957bef1a8b6fd5044da3.png" /> from the <a href="/wiki/Mean" title="Mean">mean</a> <img class="tex" alt="\overline{x} \," src="//upload.wikimedia.org/wikipedia/en/math/d/b/c/dbcbf886bdd045f71a7e263d9b239f17.png" /> of the set is defined as the difference <img class="tex" alt="x_i - \overline{x} \," src="//upload.wikimedia.org/wikipedia/en/math/0/b/8/0b87a6e53abc0a7750b2f699b75c6766.png" />. These deviations are squared, then a mean is taken of the new set of numbers (each of which is positive). This mean is the <a href="/wiki/Variance" title="Variance">variance</a>, and its square root is the standard deviation. In <a href="/wiki/Finance" title="Finance">finance</a>, the <a href="/wiki/Volatility_(finance)" title="Volatility (finance)">volatility</a> of a financial instrument is the standard deviation of its values.</p>
<h2><span class="section">[<a href="/w/index.php?title=Square_number&amp;action=&amp;section=6" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Square_root" title="Square root">Square root</a></li>
<li><a href="/wiki/Methods_of_computing_square_roots" title="Methods of computing square roots">Methods of computing square roots</a></li>
<li><a href="/wiki/Quadratic_residue" title="Quadratic residue">Quadratic residue</a></li>
<li><a href="/wiki/Polygonal_number" title="Polygonal number">Polygonal number</a></li>
<li><a href="/wiki/Euler%27s_four-square_identity" title="Euler's four-square identity">Euler's four-square identity</a></li>
<li><a href="/wiki/Cube_(algebra)" title="Cube (algebra)">Cube (algebra)</a></li>
<li><a href="/wiki/Fermat%27s_theorem_on_sums_of_two_squares" title="Fermat's theorem on sums of two squares">Fermat's theorem on sums of two squares</a></li>
<li><a href="/wiki/Pythagorean_theorem" title="Pythagorean theorem">Pythagorean theorem</a></li>
<li><a href="/wiki/Parallelogram_law" title="Parallelogram law">Parallelogram law</a></li>
<li><a href="/wiki/Brahmagupta%E2%80%93Fibonacci_identity" title="BrahmaguptaFibonacci identity">BrahmaguptaFibonacci identity</a></li>
<li><i><a href="/wiki/The_Book_of_Squares" title="The Book of Squares">The Book of Squares</a></i></li>
<li><a href="/wiki/Integer_square_root" title="Integer square root">Integer square root</a></li>
<li><a href="/wiki/Square_triangular_number" title="Square triangular number">Square triangular number</a></li>
<li><a href="/wiki/Automorphic_number" title="Automorphic number">Automorphic number</a></li>
<li><a href="/wiki/Exponentiation" title="Exponentiation">Exponentiation</a></li>
<li><a href="/wiki/Power_of_two" title="Power of two">Power of two</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Square_number&amp;action=&amp;section=7" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Some authors also call squares of rational numbers perfect squares.</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Square_number&amp;action=&amp;section=8" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Square_Number"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/SquareNumber.html">Square Number</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Square_number&amp;action=&amp;section=9" title="Edit section: Further reading"></a>]</span> <span class="mw-headline" id="Further_reading">Further reading</span></h2>
<ul>
<li><a href="/wiki/J.H._Conway" title="J.H. Conway" class="mw-redirect">Conway, J. H.</a> and <a href="/wiki/R.K._Guy" title="R.K. Guy" class="mw-redirect">Guy, R. K.</a> <i>The Book of Numbers</i>. New York: Springer-Verlag, pp. 30-32, 1996. <a href="/wiki/Special:BookSources/038797993X" class="internal mw-magiclink-isbn">ISBN 0-387-97993-X</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Square_number&amp;action=&amp;section=10" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.learntables.co.uk/square_numbers/">Learn Square Numbers</a>. Practice square numbers up to 144 with this children's multiplication game</li>
<li>Dario Alpern, <a rel="nofollow" class="external text" href="http://www.alpertron.com.ar/FSQUARES.HTM">Sum of squares</a>. A Java applet to decompose a natural number into a sum of up to four squares.</li>
<li><a rel="nofollow" class="external text" href="http://mathdl.maa.org/convergence/1/?pa=content&amp;sa=viewDocument&amp;nodeId=1296&amp;bodyId=1433">Fibonacci and Square Numbers</a> at <a rel="nofollow" class="external text" href="http://mathdl.maa.org/convergence/1/">Convergence</a></li>
<li><a rel="nofollow" class="external text" href="http://www.naturalnumbers.org/psquares.html">The first 1,000,000 perfect squares</a> Includes a program for generating perfect squares up to 10^15.</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 665/1000000
Post-expand include size: 4588/2048000 bytes
Template argument size: 1563/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:213919-0!0!0!!en!4!* and timestamp 20120416195809 -->
