{% extends 'base.html' %}

{#
{% block nav-auth-style %}
class="active"
{% endblock %}
#}

{% block main %}

<h1>{% block title %} Please Login {% endblock %}</h1>

	{{ state }}	
	<form action="/login/" method="post">
		{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		username:
		<input type="text" name="username" value="{{ username }}" /><br />
		password:
		<input type="password" name="password" value="" /><br />

		<input type="submit" value="Log In" />
	</form>


{% endblock %}
