<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Home {% endblock %}</title>
   <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" /> 
   <link rel="stylesheet" href="/static/css/style.css" /> 
   <style type="text/css">
 <!--/*--><![CDATA[/*><!--*/
  html { font-family: Times, serif; font-size: 12pt; }
  #main, #sidebar { margin-top: 60px;}
  #sidebar { }
  .active {font-weight:bold; color:#fff;}
  /*]]>*/-->
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
        {% block nav %}
      <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      <div class="container">

        <a class="brand" href="/">
          <span style="color:#08C">Open</span>Math
        </a>
        {% if user.is_authenticated %}
        <div class="pull-right"><a class="btn btn-danger" href="/logout"><i class="icon-user icon-white"></i> 
        Logout {{ user }}
        </a></div>  
        {% else %}
          <div class="pull-right"><a class="btn btn-success" href="/login"><i class="icon-user icon-white"></i> 
        Login
		</a></div>
        {% endif %}
		

        <ul id="nav" class="nav pull-right">
            <li>{% block nav-home %}<a href="/" {% block nav-home-style %}{% endblock %}>Home</a>
              {% endblock %}</li>
            <li>{% block nav-about %}<a href="/about" {% block nav-about-style %}{% endblock %}>About</a>
              {% endblock %}</li>
            <li>{% block nav-contact %}<a href="/contact" {% block nav-contact-style %}{% endblock %}>Contact</a>
              {% endblock %}</li>
            <li>{% block nav-search %}<a href="/search" {% block nav-search-style %}{% endblock %}>Search</a>
              {% endblock %}</li>
            {% if user.is_authenticated %}
               <li>{% block nav-profile %}<a href="/profile" {% block nav-profile-style %}{% endblock %}>Profile</a>
              {% endblock %}</li>
               <li>{% block nav-dash %}<a href="/dashboard" {% block nav-dash-style %}{% endblock %}>Dashboard</a>
              {% endblock %}</li>
            {% else %}
              <li>{% block nav-register %}<a href="/register" {% block nav-register-style %}{% endblock %}>Register</a>
                {% endblock %}</li>
            {% endif %}
            
        </ul>
      </div>
      </div>
      </div>
        {% endblock %}

        <div id="main" class="span8">
          {% block main  %}
          {% endblock %}
        </div>

        <div id="sidebar" class="span4">
          <div class="well">
          {% block sidebar %}
          <h3>Description</h3>
<p>OpenMath provides secondary math education with a means of teaching their students to learn computer science principles alongside mathematics.</p>

          <h3>The Team</h3>
          <ul>
                  <li>Eric Mills</li>
                  <li>Marcell Vazquez</li>
                  <li>Sean Abraham</li>
          </ul>
          {% endblock %}
          </div>
        </div>
    </div>
  </div>
</body>
</html>
