{% extends 'base.html' %}

{% block nav-contact-style %}
class="active"
{% endblock %}

{% block main %}

<h1>{% block title %} Contact {% endblock %}</h1>

{% if errors %}
<p class="errors">
  Please correct the error{{ errors|pluralize }} below.
</p>
{% endif %}


<form action="" method="post">
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit">
</form>
{% endblock %}
