{% extends 'base.html' %}

{% block nav-dash-style %}
 class="active"
{% endblock %}


{% block main %}

<h1>{% block title %} Dashboard {% endblock %}</h1>
<p>{% if user.is_authenticated %}
	<h3>Welcome {{ user  }}</h3>
	{% else %}
	<a href="/accounts/login/">You need to login...</a>
	{% endif %}</p>
<h2>Courses:</h2>
<ul class="nav nav-list well">
  {% for course in courses %}
  <li><a href="/course/?q={{ course.id }}">{{course}}</a></li>
   {% empty %}
  <p>Sorry, there are no courses.</p>
  {% endfor %}
</ul>
{% endblock %}
