{% extends 'base.html' %}


{% block nav-home-style %}
class="active"
{% endblock %}

{% block main %}

<h1>{% block title %} Home {% endblock %}</h1>
{% if user %}<h2>Welcome, {{ user }}!<h2>{% endif %}

<a class="image pull-right"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/c/cd/Polynomialdeg5.png" width="233" height="179" class="thumbimage"></a>

<p>OpenMath is a web-based mathematics tool that introduces basic programming
concepts to improve secondary math education. OpenMath provides an engaging
environment for mathematics instruction through use of software geared towards
enabling students to use dynamic, interactive, and programmable teaching tools.</p>

<p>Computer Science is lacking in the high school education system. Only about
17% of Computer Science teachers have the right credentials to teach it. 1 Nearly
66% of ones that do are from the mathematics field. This proves that although not all
teachers may be qualified, a class with a middle ground is beneficial. OpenMath aims
to correct this. We can leverage that many teachers are from mathematics. Lets build
a class structure that still teaches the core math curriculum, but fosters kids to learn
programming. Students learn two complementary skill sets directly relevant to higher
education and the work force. Integration makes it easier to blend into standard
schooling if the core class already exists in the system.</p>

{% endblock %}