{% extends 'base.html' %}


{% block nav-search-style %}
class="active"
{% endblock %}

{% block main %}
<h1>{% block title %} Search {% endblock %}</h1>

<form action="" method="get" class="form-search">
	<div class="input-append">
  		<input type="text" name="q" class="input-medium search-query">
  		<button type="submit" value="Search" class="btn">Search</button>
	</div>
</form>
{% endblock %}
