{% extends "base.html" %}

{% block main %}
<h1>{% block title %} You searched for: {{ query }} {% endblock %}</h1>

<h3>Courses</h3>
{% if courses %}
<p>Found {{ courses|length }} course{{ courses|pluralize }}.</p>
<ul class="nav nav-list well">
  {% for course in courses %}
 <li><a href="/course/?q={{ course.id }}">{{ course.name }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No courses matched your search criteria</p>
{% endif %}

<h3>Chapters</h3>
{% if chapters %}
<p>Found {{ chapters|length }} chapter{{ chapters|pluralize }}.</p>
<ul class="nav nav-list well">
    {% for chapter in chapters %}
    <li><a href="/chapter/?q={{ chapter.id }}">{{ chapter.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No chapters matched your search criteria</p>
{% endif %}


<h3>Lessons</h3>
{% if lessons %}
<p>Found {{ lessons|length }} lesson{{ lessons|pluralize }}.</p>
<ul class="nav nav-list well">
    {% for lesson in lessons %}
    <li><a href="/lesson/?q={{ lesson.id }}">{{ lesson.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No lessons matched your search criteria</p>
{% endif %}



{% endblock %}
