{% extends 'base.html' %}


{% block nav-upload-style %}
class="active"
{% endblock %}

{% block main %}

<h1>{% block title %} Upload Sage File {% endblock %}</h1>

    {% if errors %}
       <p sytle="color red;">
	 Please correct the error{{ form.errors|pluralize }} below.
       </p>
    {% endif %}
    
<form enctype="multipart/form-data" method="post" action="/upload/">
   {% csrf_token %}   
   <table>
       {{form.as_table}}
    </table>
    <input type="submit" value="Submit" id="Save"/>
</form>
{% endblock %}

