<table class="metadata plainlinks ambox ambox-move" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Mergefrom.svg/50px-Mergefrom.svg.png" width="50" height="20" /></div>
</td>
<td class="mbox-text" style="">It has been suggested that <i><a href="/wiki/Substitution_of_variables" title="Substitution of variables">Substitution of variables</a></i> be <a href="/wiki/Wikipedia:Merging" title="Wikipedia:Merging">merged</a> into this article or section. (<a href="/wiki/Talk:Change_of_variables#Merge_proposal" title="Talk:Change of variables">Discuss</a>) <small><i>Proposed since September 2011.</i></small></td>
</tr>
</table>
<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Change_of_variables&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(December 2009)</i></small></td>
</tr>
</table>
<p>In mathematics, a <b>change of variables</b> is a basic technique used to simplify problems in which the original variables are replaced with new ones; the new and old variables being related in some specified way. The intent is that the problem expressed in new variables may be simpler, or equivalent to a better understood problem.</p>
<p>A very simple example of a useful variable change can be seen in the problem of finding the roots of the sixth order polynomial:</p>
<dl>
<dd><img class="tex" alt="x^6 - 9 x^3 + 8 = 0 \," src="//upload.wikimedia.org/wikipedia/en/math/6/5/8/658d4890f9af327a7952f8a73ffb590e.png" /></dd>
</dl>
<p>Sixth order polynomial equations are generally impossible to solve in terms of <a href="/wiki/Elementary_function" title="Elementary function">elementary functions</a>. This particular equation, however, may be simplified by defining a new variable <i>x</i><sup>3</sup> = <i>u</i>. Substituting this into the polynomial:</p>
<dl>
<dd><img class="tex" alt="u^2 - 9 u + 8 = 0 \," src="//upload.wikimedia.org/wikipedia/en/math/c/f/9/cf91d952a6a8bd335f0ab34f121051f8.png" /></dd>
</dl>
<p>which is just a <a href="/wiki/Quadratic_equation" title="Quadratic equation">quadratic equation</a> with solutions:</p>
<dl>
<dd><img class="tex" alt="u = 1 \quad \mbox{and} \quad u = 8" src="//upload.wikimedia.org/wikipedia/en/math/d/5/6/d561ac500df74d2376553458ed188949.png" /></dd>
</dl>
<p>The solution in terms of the original variable is obtained by replacing the original variable:</p>
<dl>
<dd><img class="tex" alt="x^3 = 1 \quad \mbox{and} \quad x^3 = 8 \quad \Rightarrow \qquad x =  (1)^{1/3} = 1 \quad \mbox{and} \quad x =  (8)^{1/3} = 2\," src="//upload.wikimedia.org/wikipedia/en/math/c/d/8/cd81857b446903eea47c0b67e0aed897.png" /></dd>
</dl>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Differentiation"><span class="tocnumber">1</span> <span class="toctext">Differentiation</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Integration"><span class="tocnumber">2</span> <span class="toctext">Integration</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Differential_equations"><span class="tocnumber">3</span> <span class="toctext">Differential equations</span></a>
<ul>
<li class="toclevel-2 tocsection-4"><a href="#Scaling_and_shifting"><span class="tocnumber">3.1</span> <span class="toctext">Scaling and shifting</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-5"><a href="#See_also"><span class="tocnumber">4</span> <span class="toctext">See also</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Change_of_variables&amp;action=&amp;section=1" title="Edit section: Differentiation"></a>]</span> <span class="mw-headline" id="Differentiation">Differentiation</span></h2>
<p>The <a href="/wiki/Chain_rule" title="Chain rule">chain rule</a> is used to simplify complicated differentiation. For example, to calculate the derivative</p>
<dl>
<dd><img class="tex" alt="\frac{d}{d x}\left(\sin(x^2)\right)\," src="//upload.wikimedia.org/wikipedia/en/math/9/7/e/97e50d46ef66a82ed60331b9467c68d8.png" /></dd>
</dl>
<p>the variable <i>x</i> may be changed by introducing <i>x</i><sup>2</sup> = <i>u</i>. Then, by the chain rule:</p>
<dl>
<dd><img class="tex" alt="\frac{d}{d x} = \frac{d}{d u} \frac{d u}{d x} = \frac{d}{d x}\left(u\right) \frac{d}{d u} = \frac{d}{d x}\left(x^2\right) \frac{d}{d u} = 2 x \frac{d}{d u}\," src="//upload.wikimedia.org/wikipedia/en/math/7/f/8/7f8c109b9214cd6272aaf88f263e8376.png" /></dd>
</dl>
<p>so that</p>
<dl>
<dd><img class="tex" alt="\frac{d}{d x}\left(\sin(x^2)\right) = 2 x \frac{d}{d u}\left(\sin(u)\right) = 2 x \cos(x^2)\," src="//upload.wikimedia.org/wikipedia/en/math/f/5/5/f55d6b582a2d7107f9ac32709bed422a.png" /></dd>
</dl>
<p>where in the very last step <i>u</i> has been replaced with <i>x</i><sup>2</sup>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Change_of_variables&amp;action=&amp;section=2" title="Edit section: Integration"></a>]</span> <span class="mw-headline" id="Integration">Integration</span></h2>
<p>Difficult integrals may often be evaluated by changing variables; this is enabled by the <a href="/wiki/Substitution_rule" title="Substitution rule" class="mw-redirect">substitution rule</a> and is analogous to the use of the chain rule above. Difficult integrals maybe also be solved by simplifying the integral using a change of variables given by the corresponding <a href="/wiki/Jacobian_matrix_and_determinant" title="Jacobian matrix and determinant">Jacobian matrix and determinant</a>. Using the Jacobian determinant and the corresponding change of variable that it gives is the basis of coordinate systems such as polar, cylindrical, and spherical coordinate systems.</p>
<h2><span class="section">[<a href="/w/index.php?title=Change_of_variables&amp;action=&amp;section=3" title="Edit section: Differential equations"></a>]</span> <span class="mw-headline" id="Differential_equations">Differential equations</span></h2>
<p>Variable changes for differentiation and integration are taught in elementary <a href="/wiki/Calculus" title="Calculus">calculus</a> and the steps are rarely carried out in full.</p>
<p>The very broad use of variable changes is apparent when considering differential equations, where the independent variables may be changed using the <a href="/wiki/Chain_rule" title="Chain rule">chain rule</a> or the dependent variables are changed resulting in some differentiation to be carried out. Exotic changes, such as the mingling of dependent and independent variables in <a href="/w/index.php?title=Point_transformation&amp;action=&amp;redlink=1" class="new" title="Point transformation (page does not exist)">point</a> and <a href="/wiki/Contact_transformation" title="Contact transformation" class="mw-redirect">contact transformations</a>, can be very complicated but allow much freedom.</p>
<p>Very often, a general form for a change is substituted into a problem and parameters picked along the way to best simplify the problem.</p>
<h3><span class="section">[<a href="/w/index.php?title=Change_of_variables&amp;action=&amp;section=4" title="Edit section: Scaling and shifting"></a>]</span> <span class="mw-headline" id="Scaling_and_shifting">Scaling and shifting</span></h3>
<p>Probably the simplest change is the scaling and shifting of variables, that is replacing them with new variables that are "stretched" and "moved" by constant amounts. This is very common in practical applications to get physical parameters out of problems. For an <i>n</i><sup>th</sup> order derivative, the change simply results in</p>
<dl>
<dd><img class="tex" alt="\frac{d^n y}{d x^n} = \frac{y_\text{scale}}{x_\text{scale}^n} \frac{d^n \hat y}{d \hat x^n}" src="//upload.wikimedia.org/wikipedia/en/math/7/b/1/7b199dab10ae01829487a1b213a39503.png" /></dd>
</dl>
<p>where</p>
<dl>
<dd><img class="tex" alt="x = \hat x x_\text{scale} + x_\text{shift}" src="//upload.wikimedia.org/wikipedia/en/math/9/6/0/9606f1a2c33366c442e71cf7fdeca271.png" /></dd>
</dl>
<dl>
<dd><img class="tex" alt="y = \hat y y_\text{scale} + y_\text{shift}" src="//upload.wikimedia.org/wikipedia/en/math/4/b/7/4b7c947364e17497fe3bef8398499cef.png" /></dd>
</dl>
<p>This may be shown readily through the <a href="/wiki/Chain_rule" title="Chain rule">chain rule</a> and linearity of differentiation. This change is very common in practical applications to get physical parameters out of problems, for example, the <a href="/wiki/Boundary_value_problem" title="Boundary value problem">boundary value problem</a></p>
<dl>
<dd><img class="tex" alt="\mu \frac{d^2 u}{d y^2} = \frac{d p}{d x} \quad&#160;; \quad u(0) = u(\delta) = 0" src="//upload.wikimedia.org/wikipedia/en/math/5/4/9/5490c20a1ff3badfdaf0184722041dd6.png" /></dd>
</dl>
<p>describes parallel fluid flow between flat solid walls separated by a distance ;  is the <a href="/wiki/Viscosity" title="Viscosity">viscosity</a> and <img class="tex" alt="d p/d x" src="//upload.wikimedia.org/wikipedia/en/math/0/4/8/0486da111bb6090cab236af8666d3a64.png" /> the <a href="/wiki/Pressure_gradient" title="Pressure gradient">pressure gradient</a>, both constants. By scaling the variables the problem becomes</p>
<dl>
<dd><img class="tex" alt="\frac{d^2 \hat u}{d \hat y^2} = 1 \quad&#160;; \quad \hat u(0) = \hat u(1) = 0" src="//upload.wikimedia.org/wikipedia/en/math/6/8/3/683259b234bf8499a8d9993cc9631b67.png" /></dd>
</dl>
<p>where</p>
<dl>
<dd><img class="tex" alt="y = \hat y \delta \qquad \mbox{and} \qquad u = \hat u \frac{L^2}{\mu} \frac{d p}{d x}" src="//upload.wikimedia.org/wikipedia/en/math/0/3/9/03948743d03003196b42c1f7ae19229c.png" /></dd>
</dl>
<p>Scaling is useful for many reasons. It simplifies analysis both by reducing the number of parameters and by simply making the problem neater. Proper scaling may <i>normalize</i> variables, that is make them have a sensible unitless range such as 0 to 1. Finally, if a problem mandates numeric solution, the fewer the parameters the fewer the number of computations.</p>
<h2><span class="section">[<a href="/w/index.php?title=Change_of_variables&amp;action=&amp;section=5" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Change_of_variables_(PDE)" title="Change of variables (PDE)">Change of variables (PDE)</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1032/1000000
Post-expand include size: 9948/2048000 bytes
Template argument size: 3577/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:2146848-0!0!0!!en!4!* and timestamp 20120313125405 -->
