<div class="dablink">For other uses, see <a href="/wiki/Commute_(disambiguation)" title="Commute (disambiguation)" class="mw-redirect">Commute (disambiguation)</a>.</div>
<table class="vertical-navbox nowraplinks" cellspacing="5" style="float: right; clear: right; background-color: #f9f9f9; border: 1px solid #aaa; width:22em; margin: 0 0 1em 1em; padding: 0.2em; border-spacing: 0.4em 0; text-align: center; line-height: 1.4em; font-size: 88%; line-height:160%; width:auto;" cellpadding="0">
<tr>
<th class="" style="padding: 0.2em 0.4em 0.2em; font-size: 145%; line-height: 1.2em; font-size:140%;padding-bottom:0.25em;"><a href="/wiki/Rule_of_inference" title="Rule of inference">Transformation rules</a></th>
</tr>
<tr>
<th class="" style="padding-top: 0.2em; border-top:#aaa 1px solid;font-size:120%;padding-bottom:0.25em;;"><a href="/wiki/Propositional_calculus" title="Propositional calculus">Propositional calculus</a></th>
</tr>
<tr>
<td class="" style="padding-bottom: 0.2em;&#160;;">
<p><b><a href="/wiki/Rule_of_inference" title="Rule of inference">Rules of inference</a></b><br />
<i><a href="/wiki/Modus_ponens" title="Modus ponens"><span title="AB, A  B">Modus ponens</span></a></i><br />
<i><a href="/wiki/Modus_tollens" title="Modus tollens"><span title="AB, B  A">Modus tollens</span></a></i><br />
<a href="/wiki/Biconditional_introduction" title="Biconditional introduction">Biconditional introduction</a><br />
<a href="/wiki/Biconditional_elimination" title="Biconditional elimination">Biconditional elimination</a><br />
<a href="/wiki/Conjunction_introduction" title="Conjunction introduction"><span title="A, B  AB">Conjunction introduction</span></a><br />
<a href="/wiki/Simplification" title="Simplification"><span title="AB  A">Simplification</span></a><br />
<a href="/wiki/Disjunction_introduction" title="Disjunction introduction"><span title="A  AB">Disjunction introduction</span></a><br />
<a href="/wiki/Disjunction_elimination" title="Disjunction elimination"><span title="AB, AC, BC  C">Disjunction elimination</span></a><br />
<a href="/wiki/Disjunctive_syllogism" title="Disjunctive syllogism"><span title="AB, A  B">Disjunctive syllogism</span></a><br />
<a href="/wiki/Hypothetical_syllogism" title="Hypothetical syllogism"><span title="AB, BC  AC">Hypothetical syllogism</span></a><br />
<a href="/wiki/Constructive_dilemma" title="Constructive dilemma"><span title="AP, BQ, AB  PQ">Constructive dilemma</span></a><br />
<a href="/wiki/Destructive_dilemma" title="Destructive dilemma"><span title="AP, BQ, PQ  AB">Destructive dilemma</span></a><br />
<a href="/wiki/Absorption_(logic)" title="Absorption (logic)"><span title="AB  AAB">Absorption</span></a><br /></p>
<p><b><a href="/wiki/Rule_of_replacement" title="Rule of replacement">Rules of replacement</a></b><br /></p>
<a href="/wiki/Associative_property" title="Associative property"><span title="A(BC) = (AB)C">Associativity</span></a><br />
<strong class="selflink">Commutativity</strong><br />
<a href="/wiki/Distributive_property" title="Distributive property"><span title="A(BC)= (AB)(AC)">Distributivity</span></a><br />
<a href="/wiki/Double_negative_elimination" title="Double negative elimination"><span title="A = A">Double negation</span></a><br />
<a href="/wiki/De_Morgan%27s_laws" title="De Morgan's laws">De Morgan's laws</a><br />
<a href="/wiki/Transposition_(logic)" title="Transposition (logic)">Transposition</a><br />
<a href="/wiki/Material_implication_(rule_of_inference)" title="Material implication (rule of inference)">Material implication</a><br />
<a href="/wiki/Exportation_(logic)" title="Exportation (logic)">Exportation</a><br />
<a href="/wiki/Tautology_(rule_of_inference)" title="Tautology (rule of inference)">Tautology</a><br /></td>
</tr>
<tr>
<th class="" style="padding-top: 0.2em; border-top:#aaa 1px solid;font-size:120%;padding-bottom:0.25em;;"><a href="/wiki/Predicate_logic" title="Predicate logic">Predicate logic</a></th>
</tr>
<tr>
<td class="" style="padding-bottom: 0.2em;&#160;;"><a href="/wiki/Universal_generalization" title="Universal generalization">Universal generalization</a><br />
<a href="/wiki/Universal_instantiation" title="Universal instantiation">Universal instantiation</a><br />
<a href="/wiki/Existential_generalization" title="Existential generalization">Existential generalization</a><br />
<a href="/wiki/Existential_instantiation" title="Existential instantiation">Existential instantiation</a></td>
</tr>
<tr>
<td style="text-align: right; font-size: 115%;">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Transformation_rules" title="Template:Transformation rules"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Transformation_rules" title="Template talk:Transformation rules"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Transformation_rules&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, a <a href="/wiki/Binary_operation" title="Binary operation">binary operation</a> is <b>commutative</b> if changing the order of the <a href="/wiki/Operand" title="Operand">operands</a> does not change the result. It is a fundamental property of many <a href="/wiki/Binary_operations" title="Binary operations" class="mw-redirect">binary operations</a>, and many <a href="/wiki/Mathematical_proof" title="Mathematical proof">mathematical proofs</a> depend on it. The commutativity of simple operations, such as <a href="/wiki/Multiplication_(mathematics)" title="Multiplication (mathematics)" class="mw-redirect">multiplication</a> and <a href="/wiki/Addition" title="Addition">addition</a> of numbers, was for many years implicitly assumed and the property was not named until the 19th century when mathematics started to become formalized. By contrast, <a href="/wiki/Division_(mathematics)" title="Division (mathematics)">division</a> and <a href="/wiki/Subtraction" title="Subtraction">subtraction</a> are <i>not</i> commutative.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Common_uses"><span class="tocnumber">1</span> <span class="toctext">Common uses</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Propositional_logic"><span class="tocnumber">2</span> <span class="toctext">Propositional logic</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Rule_of_replacement"><span class="tocnumber">2.1</span> <span class="toctext">Rule of replacement</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Truth_functional_connectives"><span class="tocnumber">2.2</span> <span class="toctext">Truth functional connectives</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-5"><a href="#Set_theory"><span class="tocnumber">3</span> <span class="toctext">Set theory</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Mathematical_definitions"><span class="tocnumber">4</span> <span class="toctext">Mathematical definitions</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#History_and_etymology"><span class="tocnumber">5</span> <span class="toctext">History and etymology</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Related_properties"><span class="tocnumber">6</span> <span class="toctext">Related properties</span></a>
<ul>
<li class="toclevel-2 tocsection-9"><a href="#Associativity"><span class="tocnumber">6.1</span> <span class="toctext">Associativity</span></a></li>
<li class="toclevel-2 tocsection-10"><a href="#Symmetry"><span class="tocnumber">6.2</span> <span class="toctext">Symmetry</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-11"><a href="#Examples"><span class="tocnumber">7</span> <span class="toctext">Examples</span></a>
<ul>
<li class="toclevel-2 tocsection-12"><a href="#Commutative_operations_in_everyday_life"><span class="tocnumber">7.1</span> <span class="toctext">Commutative operations in everyday life</span></a></li>
<li class="toclevel-2 tocsection-13"><a href="#Commutative_operations_in_mathematics"><span class="tocnumber">7.2</span> <span class="toctext">Commutative operations in mathematics</span></a></li>
<li class="toclevel-2 tocsection-14"><a href="#Noncommutative_operations_in_everyday_life"><span class="tocnumber">7.3</span> <span class="toctext">Noncommutative operations in everyday life</span></a></li>
<li class="toclevel-2 tocsection-15"><a href="#Noncommutative_operations_in_mathematics"><span class="tocnumber">7.4</span> <span class="toctext">Noncommutative operations in mathematics</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-16"><a href="#Mathematical_structures_and_commutativity"><span class="tocnumber">8</span> <span class="toctext">Mathematical structures and commutativity</span></a></li>
<li class="toclevel-1 tocsection-17"><a href="#Non-commuting_operators_in_quantum_mechanics"><span class="tocnumber">9</span> <span class="toctext">Non-commuting operators in quantum mechanics</span></a></li>
<li class="toclevel-1 tocsection-18"><a href="#See_also"><span class="tocnumber">10</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-19"><a href="#Notes"><span class="tocnumber">11</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-20"><a href="#References"><span class="tocnumber">12</span> <span class="toctext">References</span></a>
<ul>
<li class="toclevel-2 tocsection-21"><a href="#Books"><span class="tocnumber">12.1</span> <span class="toctext">Books</span></a></li>
<li class="toclevel-2 tocsection-22"><a href="#Articles"><span class="tocnumber">12.2</span> <span class="toctext">Articles</span></a></li>
<li class="toclevel-2 tocsection-23"><a href="#Online_resources"><span class="tocnumber">12.3</span> <span class="toctext">Online resources</span></a></li>
</ul>
</li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=1" title="Edit section: Common uses"></a>]</span> <span class="mw-headline" id="Common_uses">Common uses</span></h2>
<p>The <i>commutative property</i> (or <i>commutative law</i>) is a property associated with binary operations and <a href="/wiki/Function_(mathematics)" title="Function (mathematics)">functions</a>. Similarly, if the commutative property holds for a pair of elements under a certain binary operation then it is said that the two elements <i>commute</i> under that operation.</p>
<h2><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=2" title="Edit section: Propositional logic"></a>]</span> <span class="mw-headline" id="Propositional_logic">Propositional logic</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=3" title="Edit section: Rule of replacement"></a>]</span> <span class="mw-headline" id="Rule_of_replacement">Rule of replacement</span></h3>
<p>In standard truth-functional propositional logic, <i>commutation</i>,<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> or <i>commutivity</i><sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup> are two <a href="/wiki/Validity" title="Validity">valid</a> <a href="/wiki/Rule_of_replacement" title="Rule of replacement">rules of replacement</a>. The rules allow one to transpose <a href="/wiki/Propositional_variable" title="Propositional variable">propositional variables</a> within <a href="/wiki/Well-formed_formula" title="Well-formed formula">logical expressions</a> in <a href="/wiki/Formal_proof" title="Formal proof">logical proofs</a>. The rules are:</p>
<dl>
<dd><img class="tex" alt="(P \or Q) \Leftrightarrow (Q \or P)" src="//upload.wikimedia.org/wikipedia/en/math/5/3/0/530bdd1d18d178d67caeb5f82b934c38.png" /></dd>
</dl>
<p>and</p>
<dl>
<dd><img class="tex" alt="(P \and Q) \Leftrightarrow (Q \and P)" src="//upload.wikimedia.org/wikipedia/en/math/2/5/1/2516a4a43c70dc6b10052f99289f6afb.png" /></dd>
</dl>
<p>where "<img class="tex" alt="\Leftrightarrow" src="//upload.wikimedia.org/wikipedia/en/math/0/1/4/014cced2b73c22eb88cdc6901afb0c9d.png" />" is a <a href="/wiki/Metalogic" title="Metalogic">metalogical</a> <a href="/wiki/Symbol_(formal)" title="Symbol (formal)">symbol</a> representing "can be replaced in a <a href="/wiki/Formal_proof" title="Formal proof">proof</a> with."</p>
<h3><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=4" title="Edit section: Truth functional connectives"></a>]</span> <span class="mw-headline" id="Truth_functional_connectives">Truth functional connectives</span></h3>
<p><i>Commutativity</i> is a property of some <a href="/wiki/Logical_connective" title="Logical connective">logical connectives</a> of truth-functional <a href="/wiki/Propositional_logic" title="Propositional logic" class="mw-redirect">propositional logic</a>. The following <a href="/wiki/Logical_equivalence" title="Logical equivalence">logical equivalences</a> demonstrate that commutativity is a property of particular connectives. The following are truth-functional <a href="/wiki/Tautology_(logic)" title="Tautology (logic)">tautologies</a>.</p>
<p><b>Commutativity of conjunction</b></p>
<dl>
<dd><img class="tex" alt="(P \and Q) \leftrightarrow (Q \and P)" src="//upload.wikimedia.org/wikipedia/en/math/6/c/8/6c8eaa553f90982219910b3630736abd.png" /></dd>
</dl>
<p><b>Commutativity of disjunction</b></p>
<dl>
<dd><img class="tex" alt="(P \or Q) \leftrightarrow (Q \or P)" src="//upload.wikimedia.org/wikipedia/en/math/8/a/9/8a986a18caa24253148317b83a141dcb.png" /></dd>
</dl>
<p><b>Commutativity of implication</b> (also called the <b>Law of permutation</b>)</p>
<dl>
<dd><img class="tex" alt="(P \to (Q \to R)) \to (Q \to (P \to R))" src="//upload.wikimedia.org/wikipedia/en/math/4/9/6/4967a5c9b2196680219d09545ecf6af2.png" /></dd>
</dl>
<p><b>Commutativity of equivalence</b> (also called the <b>Complete commutative law of equivalence</b>)</p>
<dl>
<dd><img class="tex" alt="(P \leftrightarrow Q) \leftrightarrow (Q \leftrightarrow P)" src="//upload.wikimedia.org/wikipedia/en/math/0/d/0/0d0688cc419ef5125429911a186fd07c.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=5" title="Edit section: Set theory"></a>]</span> <span class="mw-headline" id="Set_theory">Set theory</span></h2>
<p>In <a href="/wiki/Group_theory" title="Group theory">group</a> and <a href="/wiki/Set_theory" title="Set theory">set theory</a>, many algebraic structures are called commutative when certain operands satisfy the commutative property. In higher branches of mathematics, such as <a href="/wiki/Mathematical_analysis" title="Mathematical analysis">analysis</a> and <a href="/wiki/Linear_algebra" title="Linear algebra">linear algebra</a> the commutativity of well known operations (such as <a href="/wiki/Addition" title="Addition">addition</a> and <a href="/wiki/Multiplication" title="Multiplication">multiplication</a> on real and complex numbers) is often used (or implicitly assumed) in proofs.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup><sup id="cite_ref-Gallian.2C_p.34_4-0" class="reference"><a href="#cite_note-Gallian.2C_p.34-4"><span>[</span>5<span>]</span></a></sup><sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=6" title="Edit section: Mathematical definitions"></a>]</span> <span class="mw-headline" id="Mathematical_definitions">Mathematical definitions</span></h2>
<div class="rellink">Further information: <a href="/wiki/Symmetric_function" title="Symmetric function">Symmetric function</a></div>
<p>The term "commutative" is used in several related senses.<sup id="cite_ref-Krowne.2C_p.1_6-0" class="reference"><a href="#cite_note-Krowne.2C_p.1-6"><span>[</span>7<span>]</span></a></sup><sup id="cite_ref-7" class="reference"><a href="#cite_note-7"><span>[</span>8<span>]</span></a></sup></p>
<p>1. A binary operation <img class="tex" alt="*" src="//upload.wikimedia.org/wikipedia/en/math/3/3/8/3389dae361af79b04c9c8e7057f60cc6.png" /> on a <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">set</a> <i>S</i> is called <i>commutative</i> if:</p>
<dl>
<dd><img class="tex" alt="x * y = y * x\qquad\mbox{for all }x,y\in S" src="//upload.wikimedia.org/wikipedia/en/math/2/2/3/2231581d5ae482ce22f7ec1950c9a4ce.png" /></dd>
</dl>
<p>An operation that does not satisfy the above property is called <b>noncommutative</b>.</p>
<p>2. One says that <i>x commutes</i> with <i>y</i> under <img class="tex" alt="*" src="//upload.wikimedia.org/wikipedia/en/math/3/3/8/3389dae361af79b04c9c8e7057f60cc6.png" /> if:</p>
<dl>
<dd><img class="tex" alt=" x * y = y * x \," src="//upload.wikimedia.org/wikipedia/en/math/e/5/0/e50b1b02c97016fe08369bac6031d2eb.png" /></dd>
</dl>
<p>3. A <a href="/wiki/Binary_function" title="Binary function">binary function</a> <img class="tex" alt="f \colon A \times A \to B" src="//upload.wikimedia.org/wikipedia/en/math/4/9/b/49b53c38c5d1c1ba73729537d2f18a03.png" /> is called <i>commutative</i> if:</p>
<dl>
<dd><img class="tex" alt="f(x, y) = f(y, x)\qquad\mbox{for all }x,y\in A" src="//upload.wikimedia.org/wikipedia/en/math/a/7/5/a756b7c39cbfc4f50dafad80d2cbc541.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=7" title="Edit section: History and etymology"></a>]</span> <span class="mw-headline" id="History_and_etymology">History and etymology</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:252px;"><a href="/wiki/File:Commutative_Word_Origin.PNG" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Commutative_Word_Origin.PNG/250px-Commutative_Word_Origin.PNG" width="250" height="130" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Commutative_Word_Origin.PNG" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The first known use of the term was in a French Journal published in 1814</div>
</div>
</div>
<p>Records of the implicit use of the commutative property go back to ancient times. The <a href="/wiki/Egypt" title="Egypt">Egyptians</a> used the commutative property of <a href="/wiki/Multiplication" title="Multiplication">multiplication</a> to simplify computing <a href="/wiki/Product_(mathematics)" title="Product (mathematics)">products</a>.<sup id="cite_ref-8" class="reference"><a href="#cite_note-8"><span>[</span>9<span>]</span></a></sup><sup id="cite_ref-9" class="reference"><a href="#cite_note-9"><span>[</span>10<span>]</span></a></sup> <a href="/wiki/Euclid" title="Euclid">Euclid</a> is known to have assumed the commutative property of multiplication in his book <a href="/wiki/Euclid%27s_Elements" title="Euclid's Elements"><i>Elements</i></a>.<sup id="cite_ref-10" class="reference"><a href="#cite_note-10"><span>[</span>11<span>]</span></a></sup> Formal uses of the commutative property arose in the late 18th and early 19th centuries, when mathematicians began to work on a theory of functions. Today the commutative property is a well known and basic property used in most branches of mathematics.</p>
<p>The first recorded use of the term <i>commutative</i> was in a memoir by <a href="/w/index.php?title=Fran%C3%A7ois-Joseph_Servois&amp;action=&amp;redlink=1" class="new" title="Franois-Joseph Servois (page does not exist)">Franois Servois</a> in 1814,<sup id="cite_ref-ReferenceA_11-0" class="reference"><a href="#cite_note-ReferenceA-11"><span>[</span>12<span>]</span></a></sup><sup id="cite_ref-12" class="reference"><a href="#cite_note-12"><span>[</span>13<span>]</span></a></sup> which used the word <i>commutatives</i> when describing functions that have what is now called the commutative property. The word is a combination of the French word <i>commuter</i> meaning "to substitute or switch" and the suffix <i>-ative</i> meaning "tending to" so the word literally means "tending to substitute or switch." The term then appeared in English in <i><a href="/wiki/Philosophical_Transactions_of_the_Royal_Society" title="Philosophical Transactions of the Royal Society">Philosophical Transactions of the Royal Society</a></i> in 1844.<sup id="cite_ref-ReferenceA_11-1" class="reference"><a href="#cite_note-ReferenceA-11"><span>[</span>12<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=8" title="Edit section: Related properties"></a>]</span> <span class="mw-headline" id="Related_properties">Related properties</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a href="/wiki/File:Symmetry_Of_Addition.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Symmetry_Of_Addition.svg/200px-Symmetry_Of_Addition.svg.png" width="200" height="155" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Symmetry_Of_Addition.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Graph showing the symmetry of the addition function</div>
</div>
</div>
<h3><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=9" title="Edit section: Associativity"></a>]</span> <span class="mw-headline" id="Associativity">Associativity</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Associativity" title="Associativity" class="mw-redirect">Associativity</a></div>
<p>The associative property is closely related to the commutative property. The associative property of an expression containing two or more occurrences of the same operator states that the order operations are performed in does not affect the final result, as long as the order of terms doesn't change. In contrast, the commutative property states that the order of the terms does not affect the final result</p>
<h3><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=10" title="Edit section: Symmetry"></a>]</span> <span class="mw-headline" id="Symmetry">Symmetry</span></h3>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Symmetry_in_mathematics" title="Symmetry in mathematics">Symmetry in mathematics</a></div>
<p>Some forms of symmetry can be directly linked to commutativity. When a commutative operator is written as a binary function then the resulting function is symmetric across the line <i>y = x</i>. As an example, if we let a function <i>f</i> represent addition (a commutative operation) so that <i>f</i>(<i>x</i>,<i>y</i>) = <i>x</i> + <i>y</i> then <i>f</i> is a symmetric function, which can be seen in the image on the right.</p>
<p>For relations, a <a href="/wiki/Symmetric_relation" title="Symmetric relation">symmetric relation</a> is analogous to a commutative operation, in that if a relation <i>R</i> is symmetric, then <img class="tex" alt="a R b \Leftrightarrow b R a" src="//upload.wikimedia.org/wikipedia/en/math/a/1/8/a18e54cd879425aba26bc2e1435154c7.png" />.</p>
<h2><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=11" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=12" title="Edit section: Commutative operations in everyday life"></a>]</span> <span class="mw-headline" id="Commutative_operations_in_everyday_life">Commutative operations in everyday life</span></h3>
<ul>
<li>Putting on socks resembles a commutative operation, since which sock is put on first is unimportant. Either way, the result (having both socks on), is the same.</li>
<li>The commutativity of addition is observed when paying for an item with cash. Regardless of the order the bills are handed over in, they always give the same total.</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=13" title="Edit section: Commutative operations in mathematics"></a>]</span> <span class="mw-headline" id="Commutative_operations_in_mathematics">Commutative operations in mathematics</span></h3>
<p>Two well-known examples of commutative binary operations are:<sup id="cite_ref-Krowne.2C_p.1_6-1" class="reference"><a href="#cite_note-Krowne.2C_p.1-6"><span>[</span>7<span>]</span></a></sup></p>
<ul>
<li>The <a href="/wiki/Addition" title="Addition">addition</a> of <a href="/wiki/Real_number" title="Real number">real numbers</a>, which is commutative since</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="y + z = z + y \qquad\mbox{for all }y,z\in \mathbb{R}" src="//upload.wikimedia.org/wikipedia/en/math/a/f/3/af34b7f2c3890e5e3dec6b3cf9109223.png" /></dd>
</dl>
</dd>
<dd>For example <b>4 + 5 = 5 + 4</b>, since both <a href="/wiki/Expression_(mathematics)" title="Expression (mathematics)">expressions</a> equal 9.</dd>
</dl>
<ul>
<li>The <a href="/wiki/Multiplication" title="Multiplication">multiplication</a> of <a href="/wiki/Real_number" title="Real number">real numbers</a>, which is commutative since</li>
</ul>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="y z = z y \qquad\mbox{for all }y,z\in \mathbb{R}" src="//upload.wikimedia.org/wikipedia/en/math/4/0/c/40ca70568d4583f619d55c4212427de5.png" /></dd>
</dl>
</dd>
<dd>For example, <b>3  5 = 5  3</b>, since both expressions equal 15.</dd>
</dl>
<ul>
<li>Further examples of commutative binary operations include addition and multiplication of <a href="/wiki/Complex_number" title="Complex number">complex numbers</a>, addition and <a href="/wiki/Scalar_product" title="Scalar product" class="mw-redirect">scalar multiplication</a> of <a href="/wiki/Vector_space" title="Vector space">vectors</a>, and <a href="/wiki/Intersection_(set_theory)" title="Intersection (set theory)">intersection</a> and <a href="/wiki/Union_(set_theory)" title="Union (set theory)">union</a> of <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">sets</a>.</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=14" title="Edit section: Noncommutative operations in everyday life"></a>]</span> <span class="mw-headline" id="Noncommutative_operations_in_everyday_life">Noncommutative operations in everyday life</span></h3>
<ul>
<li><a href="/wiki/Concatenation" title="Concatenation">Concatenation</a>, the act of joining character strings together, is a noncommutative operation. For example</li>
</ul>
<dl>
<dd><img class="tex" alt="EA + T = EAT \neq TEA = T + EA" src="//upload.wikimedia.org/wikipedia/en/math/6/0/8/6080577e2be1856cec7d52c0716abe89.png" /></dd>
</dl>
<ul>
<li>Washing and drying clothes resembles a noncommutative operation; washing and then drying produces a markedly different result to drying and then washing.</li>
<li>Rotating a book 90 around a vertical axis then 90 around a horizontal axis produces a different orientation than when the rotations are performed in the opposite order.</li>
<li>The twists of the <a href="/wiki/Rubik%27s_Cube" title="Rubik's Cube">Rubik's Cube</a> are noncommutative. This can be studied using <a href="/wiki/Group_theory" title="Group theory">group theory</a>.</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=15" title="Edit section: Noncommutative operations in mathematics"></a>]</span> <span class="mw-headline" id="Noncommutative_operations_in_mathematics">Noncommutative operations in mathematics</span></h3>
<p>Some noncommutative binary operations are:<sup id="cite_ref-13" class="reference"><a href="#cite_note-13"><span>[</span>14<span>]</span></a></sup></p>
<ul>
<li><a href="/wiki/Subtraction" title="Subtraction">Subtraction</a> is not commutative since <img class="tex" alt="0-1\neq 1-0" src="//upload.wikimedia.org/wikipedia/en/math/7/8/b/78b6da12b1a83b4b5c9257423c90b667.png" /></li>
<li><a href="/wiki/Division_(mathematics)" title="Division (mathematics)">Division</a> is noncommutative since <img class="tex" alt="1/2\neq 2/1" src="//upload.wikimedia.org/wikipedia/en/math/1/f/8/1f8951f23a493d09f7cc44e0bd16710e.png" /></li>
<li><a href="/wiki/Matrix_(mathematics)" title="Matrix (mathematics)">Matrix</a> multiplication is noncommutative since</li>
</ul>
<dl>
<dd><img class="tex" alt="
\begin{bmatrix}
0 &amp; 2 \\
0 &amp; 1
\end{bmatrix}
=
\begin{bmatrix}
1 &amp; 1 \\
0 &amp; 1
\end{bmatrix}
\cdot
\begin{bmatrix}
0 &amp; 1 \\
0 &amp; 1
\end{bmatrix}
\neq
\begin{bmatrix}
0 &amp; 1 \\
0 &amp; 1
\end{bmatrix}
\cdot
\begin{bmatrix}
1 &amp; 1 \\
0 &amp; 1
\end{bmatrix}
=
\begin{bmatrix}
0 &amp; 1 \\
0 &amp; 1
\end{bmatrix}
" src="//upload.wikimedia.org/wikipedia/en/math/d/3/2/d32b9402508c218bf2ab26e15fb70856.png" /></dd>
</dl>
<ul>
<li>The vector product (or <a href="/wiki/Cross_product" title="Cross product">cross product</a>) of two vectors in three dimensions is <a href="/wiki/Anticommutativity" title="Anticommutativity">anti-commutative</a>, i.e., <b>b</b>  <b>a</b> = (<b>a</b>  <b>b</b>).</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=16" title="Edit section: Mathematical structures and commutativity"></a>]</span> <span class="mw-headline" id="Mathematical_structures_and_commutativity">Mathematical structures and commutativity</span></h2>
<ul>
<li>A <a href="/wiki/Commutative_semigroup" title="Commutative semigroup" class="mw-redirect">commutative semigroup</a> is a set endowed with a total, <a href="/wiki/Associativity" title="Associativity" class="mw-redirect">associative</a> and commutative operation.</li>
<li>If the operation additionally has an <a href="/wiki/Identity_element" title="Identity element">identity element</a>, we have a <a href="/wiki/Commutative_monoid" title="Commutative monoid" class="mw-redirect">commutative monoid</a></li>
<li>An <a href="/wiki/Abelian_group" title="Abelian group">abelian group</a>, or <i>commutative group</i> is a <a href="/wiki/Group_(mathematics)" title="Group (mathematics)">group</a> whose group operation is commutative.<sup id="cite_ref-Gallian.2C_p.34_4-1" class="reference"><a href="#cite_note-Gallian.2C_p.34-4"><span>[</span>5<span>]</span></a></sup></li>
<li>A <a href="/wiki/Commutative_ring" title="Commutative ring">commutative ring</a> is a <a href="/wiki/Ring_(mathematics)" title="Ring (mathematics)">ring</a> whose <a href="/wiki/Multiplication" title="Multiplication">multiplication</a> is commutative. (Addition in a ring is always commutative.)<sup id="cite_ref-14" class="reference"><a href="#cite_note-14"><span>[</span>15<span>]</span></a></sup></li>
<li>In a <a href="/wiki/Field_(mathematics)" title="Field (mathematics)">field</a> both addition and multiplication are commutative.<sup id="cite_ref-15" class="reference"><a href="#cite_note-15"><span>[</span>16<span>]</span></a></sup></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=17" title="Edit section: Non-commuting operators in quantum mechanics"></a>]</span> <span class="mw-headline" id="Non-commuting_operators_in_quantum_mechanics">Non-commuting operators in quantum mechanics</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Uncertainty_principle" title="Uncertainty principle">Uncertainty principle</a></div>
<p>In <a href="/wiki/Introduction_to_quantum_mechanics" title="Introduction to quantum mechanics">quantum mechanics</a> as formulated by <a href="/wiki/Erwin_Schr%C3%B6dinger" title="Erwin Schrdinger">Schrdinger</a>, physical variables are represented by <a href="/wiki/Linear_operators" title="Linear operators" class="mw-redirect">linear operators</a> such as <i>x</i> (meaning multiply by <i>x</i>), and <i>d</i>/<i>dx</i>. These two operators do not commute as may be seen by considering the effect of their products <i>x</i>(<i>d</i>/<i>dx</i>) and (<i>d</i>/<i>dx</i>)<i>x</i> on a one-dimensional <a href="/wiki/Wave_function" title="Wave function">wave function</a> <i></i>(<i>x</i>):</p>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="
x{d\over dx}\psi = x\psi' \neq {d\over dx}x\psi = \psi + x\psi'
" src="//upload.wikimedia.org/wikipedia/en/math/7/f/b/7fb494799f71d7d8d711fff2ead38bfe.png" /></dd>
</dl>
</dd>
</dl>
<p>According to the <a href="/wiki/Uncertainty_principle" title="Uncertainty principle">uncertainty principle</a> of <a href="/wiki/Werner_Heisenberg" title="Werner Heisenberg">Heisenberg</a>, if the two operators representing a pair of variables do not commute, then that pair of variables are mutually <a href="/wiki/Complementarity_(physics)" title="Complementarity (physics)">complementary</a>, which means they cannot be simultaneously measured or known precisely. For example, the position and the linear <a href="/wiki/Momentum" title="Momentum">momentum</a> of a particle are represented respectively (in the <i>x</i>-direction) by the operators x and (<i></i>/<i>i</i>)<i>d</i>/<i>dx</i> (where <i></i> is the <a href="/wiki/Planck_constant" title="Planck constant">reduced Planck constant</a>). This is the same example except for the constant (<i></i>/<i>i</i>), so again the operators do not commute and the physical meaning is that the position and linear momentum in a given direction are complementary.</p>
<h2><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=18" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/Special:Search/commutative_property">commutative property</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<ul>
<li><a href="/wiki/Anticommutativity" title="Anticommutativity">Anticommutativity</a></li>
<li><a href="/wiki/Binary_operation" title="Binary operation">Binary operation</a></li>
<li><a href="/wiki/Commutant" title="Commutant">Commutant</a></li>
<li><a href="/wiki/Commutative_diagram" title="Commutative diagram">Commutative diagram</a></li>
<li><a href="/wiki/Commutative_(neurophysiology)" title="Commutative (neurophysiology)" class="mw-redirect">Commutative (neurophysiology)</a></li>
<li><a href="/wiki/Commutator" title="Commutator">Commutator</a></li>
<li><a href="/wiki/Distributivity" title="Distributivity" class="mw-redirect">Distributivity</a></li>
<li><a href="/wiki/Particle_statistics" title="Particle statistics">Particle statistics</a> (for commutativity in <a href="/wiki/Physics" title="Physics">physics</a>)</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=19" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist references-column-count references-column-count-2" style="-moz-column-count: 2; -webkit-column-count: 2; column-count: 2; list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Moore and Parker</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">Copi and Cohen</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text">Hurley</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text">Axler, p.2</span></li>
<li id="cite_note-Gallian.2C_p.34-4">^ <a href="#cite_ref-Gallian.2C_p.34_4-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Gallian.2C_p.34_4-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text">Gallian, p.34</span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text">p. 26,87</span></li>
<li id="cite_note-Krowne.2C_p.1-6">^ <a href="#cite_ref-Krowne.2C_p.1_6-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Krowne.2C_p.1_6-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text">Krowne, p.1</span></li>
<li id="cite_note-7"><b><a href="#cite_ref-7">^</a></b> <span class="reference-text">Weisstein, <i>Commute</i>, p.1</span></li>
<li id="cite_note-8"><b><a href="#cite_ref-8">^</a></b> <span class="reference-text">Lumpkin, p.11</span></li>
<li id="cite_note-9"><b><a href="#cite_ref-9">^</a></b> <span class="reference-text">Gay and Shute, p.?</span></li>
<li id="cite_note-10"><b><a href="#cite_ref-10">^</a></b> <span class="reference-text">O'Conner and Robertson, <i>Real Numbers</i></span></li>
<li id="cite_note-ReferenceA-11">^ <a href="#cite_ref-ReferenceA_11-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-ReferenceA_11-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text">Cabilln and Miller, <i>Commutative and Distributive</i></span></li>
<li id="cite_note-12"><b><a href="#cite_ref-12">^</a></b> <span class="reference-text">O'Conner and Robertson, <i>Servois</i></span></li>
<li id="cite_note-13"><b><a href="#cite_ref-13">^</a></b> <span class="reference-text">Yark, p.1</span></li>
<li id="cite_note-14"><b><a href="#cite_ref-14">^</a></b> <span class="reference-text">Gallian p.236</span></li>
<li id="cite_note-15"><b><a href="#cite_ref-15">^</a></b> <span class="reference-text">Gallian p.250</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=20" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<h3><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=21" title="Edit section: Books"></a>]</span> <span class="mw-headline" id="Books">Books</span></h3>
<ul>
<li><span class="citation book">Axler, Sheldon (1997). <i>Linear Algebra Done Right, 2e</i>. Springer. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-387-98258-2" title="Special:BookSources/0-387-98258-2">0-387-98258-2</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Linear+Algebra+Done+Right%2C+2e&amp;rft.aulast=Axler&amp;rft.aufirst=Sheldon&amp;rft.au=Axler%2C%26%2332%3BSheldon&amp;rft.date=1997&amp;rft.pub=Springer&amp;rft.isbn=0-387-98258-2&amp;rfr_id=info:sid/en.wikipedia.org:Commutative_property"><span style="display: none;">&#160;</span></span></li>
</ul>
<dl>
<dd><i>Abstract algebra theory. Covers commutativity in that context. Uses property throughout book.</i></dd>
</dl>
<ul>
<li><span class="citation book">Goodman, Frederick (2003). <i>Algebra: Abstract and Concrete, Stressing Symmetry, 2e</i>. Prentice Hall. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-13-067342-0" title="Special:BookSources/0-13-067342-0">0-13-067342-0</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Algebra%3A+Abstract+and+Concrete%2C+Stressing+Symmetry%2C+2e&amp;rft.aulast=Goodman&amp;rft.aufirst=Frederick&amp;rft.au=Goodman%2C%26%2332%3BFrederick&amp;rft.date=2003&amp;rft.pub=Prentice+Hall&amp;rft.isbn=0-13-067342-0&amp;rfr_id=info:sid/en.wikipedia.org:Commutative_property"><span style="display: none;">&#160;</span></span></li>
</ul>
<dl>
<dd><i>Abstract algebra theory. Uses commutativity property throughout book.</i></dd>
</dl>
<ul>
<li><span class="citation book">Gallian, Joseph (2006). <i>Contemporary Abstract Algebra, 6e</i>. Boston, Mass.: Houghton Mifflin. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-618-51471-6" title="Special:BookSources/0-618-51471-6">0-618-51471-6</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Contemporary+Abstract+Algebra%2C+6e&amp;rft.aulast=Gallian&amp;rft.aufirst=Joseph&amp;rft.au=Gallian%2C%26%2332%3BJoseph&amp;rft.date=2006&amp;rft.place=Boston%2C+Mass.&amp;rft.pub=Houghton+Mifflin&amp;rft.isbn=0-618-51471-6&amp;rfr_id=info:sid/en.wikipedia.org:Commutative_property"><span style="display: none;">&#160;</span></span></li>
</ul>
<dl>
<dd><i>Linear algebra theory. Explains commutativity in chapter 1, uses it throughout.</i></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=22" title="Edit section: Articles"></a>]</span> <span class="mw-headline" id="Articles">Articles</span></h3>
<ul>
<li><a rel="nofollow" class="external free" href="http://www.ethnomath.org/resources/lumpkin1997.pdf">http://www.ethnomath.org/resources/lumpkin1997.pdf</a> Lumpkin, B. (1997). The Mathematical Legacy Of Ancient Egypt - A Response To Robert Palter. Unpublished manuscript.</li>
</ul>
<dl>
<dd><i>Article describing the mathematical ability of ancient civilizations.</i></dd>
</dl>
<ul>
<li>Robins, R. Gay, and Charles C. D. Shute. 1987. <i>The Rhind Mathematical Papyrus: An Ancient Egyptian Text</i>. London: British Museum Publications Limited. <a href="/wiki/Special:BookSources/0714109444" class="internal mw-magiclink-isbn">ISBN 0-7141-0944-4</a></li>
</ul>
<dl>
<dd><i>Translation and interpretation of the <a href="/wiki/Rhind_Mathematical_Papyrus" title="Rhind Mathematical Papyrus">Rhind Mathematical Papyrus</a>.</i></dd>
</dl>
<h3><span class="section">[<a href="/w/index.php?title=Commutative_property&amp;action=&amp;section=23" title="Edit section: Online resources"></a>]</span> <span class="mw-headline" id="Online_resources">Online resources</span></h3>
<ul>
<li>Krowne, Aaron, <a rel="nofollow" class="external text" href="http://planetmath.org/encyclopedia/Commutative.html">Commutative</a> at <a href="/wiki/PlanetMath" title="PlanetMath">PlanetMath</a>, Accessed 8 August 2007.</li>
</ul>
<dl>
<dd><i>Definition of commutativity and examples of commutative operations</i></dd>
</dl>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Commute"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Commute.html">Commute</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span>, Accessed 8 August 2007.</li>
</ul>
<dl>
<dd><i>Explanation of the term commute</i></dd>
</dl>
<ul>
<li><a rel="nofollow" class="external text" href="http://planetmath.org/?op=getuser&amp;id=2760">Yark</a>. <a rel="nofollow" class="external text" href="http://planetmath.org/encyclopedia/ExampleOfCommutative.html">Examples of non-commutative operations</a> at <a href="/wiki/PlanetMath" title="PlanetMath">PlanetMath</a>, Accessed 8 August 2007</li>
</ul>
<dl>
<dd><i>Examples proving some noncommutative operations</i></dd>
</dl>
<ul>
<li>O'Conner, J J and Robertson, E F. <a rel="nofollow" class="external text" href="http://www-history.mcs.st-andrews.ac.uk/HistTopics/Real_numbers_1.html">MacTutor history of real numbers</a>, Accessed 8 August 2007</li>
</ul>
<dl>
<dd><i>Article giving the history of the real numbers</i></dd>
</dl>
<ul>
<li>Cabilln, Julio and Miller, Jeff. <a rel="nofollow" class="external text" href="http://jeff560.tripod.com/c.html">Earliest Known Uses Of Mathematical Terms</a>, Accessed 22 November 2008</li>
</ul>
<dl>
<dd><i>Page covering the earliest uses of mathematical terms</i></dd>
</dl>
<ul>
<li>O'Conner, J J and Robertson, E F. <a rel="nofollow" class="external text" href="http://www-groups.dcs.st-and.ac.uk/~history/Biographies/Servois.html">MacTutor biography of Franois Servois</a>, Accessed 8 August 2007</li>
</ul>
<dl>
<dd><i>Biography of Francois Servois, who first used the term</i></dd>
</dl>
<div style="display:none; right:10px;" class="metadata topicon nopopups" id="good-star"><a href="/wiki/Wikipedia:Good_articles" title="This is a good article. Click here for more information."><img alt="This is a good article. Click here for more information." src="//upload.wikimedia.org/wikipedia/en/thumb/9/94/Symbol_support_vote.svg/15px-Symbol_support_vote.svg.png" width="15" height="15" /></a></div>


<!-- 
NewPP limit report
Preprocessor node count: 3595/1000000
Post-expand include size: 25572/2048000 bytes
Template argument size: 8326/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:294390-0!0!0!!en!4!* and timestamp 20120416030444 -->
