<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Constant_term&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(December 2009)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, a <b>constant term</b> is a <a href="/wiki/Term_(mathematics)" title="Term (mathematics)">term</a> in an <a href="/wiki/Expression_(mathematics)" title="Expression (mathematics)">algebraic expression</a> has a value that is <a href="/wiki/Constant_function" title="Constant function">constant</a> or cannot change, because it does not contain any modifiable <a href="/wiki/Variable_(mathematics)" title="Variable (mathematics)">variables</a>. For example, in the <a href="/wiki/Quadratic_polynomial" title="Quadratic polynomial">quadratic polynomial</a></p>
<dl>
<dd><img class="tex" alt="x^2 + 2x + 3,\ " src="//upload.wikimedia.org/wikipedia/en/math/4/d/7/4d7732f91fbbd657fb7819ae660d469c.png" /></dd>
</dl>
<p>the 3 is a constant term.</p>
<p>After <a href="/wiki/Like_terms" title="Like terms">like terms</a> are combined, an algebraic expression will have at most one constant term. Thus, it is common to speak of the quadratic polynomial</p>
<dl>
<dd><img class="tex" alt="ax^2+bx+c,\ " src="//upload.wikimedia.org/wikipedia/en/math/7/b/4/7b4eff4f1cc42a3e3a9f858fc841b20c.png" /></dd>
</dl>
<p>where <i>x</i> is the variable, and has a constant term of <i>c</i>. If <i>c</i>&#160;=&#160;0, then the constant term will not actually appear when the quadratic is written.</p>
<p>It is notable that a term that is constant, with a constant as a multiplicative coefficient added to it (although this expression could be more simply written as their product), still constitutes a constant term as a variable is still not present in the new term. Although the expression is modified, the term (and coefficient) itself classifies as constant. However, should this introduced coefficient contain a variable, while the original number has a constant meaning, this has no bearing if the new term stays constant as the introduced coefficient will always override the constant expression - for example, in <img class="tex" alt="(x+1)(x-2)" src="//upload.wikimedia.org/wikipedia/en/math/e/c/f/ecf36bf6fc70716fe507e6a963d3b31c.png" /> when x is multiplied by 2, the result, 2x, is not constant; while 1 * -2 is -2 and still a constant.</p>
<p>Any <a href="/wiki/Polynomial" title="Polynomial">polynomial</a> written in standard form has a unique constant term, which can be considered a <a href="/wiki/Coefficient" title="Coefficient">coefficient</a> of <i>x</i><sup>0</sup>. In particular, the constant term will always be the lowest <a href="/wiki/Degree_of_a_polynomial" title="Degree of a polynomial">degree</a> term of the polynomial. This also applies to multivariate polynomials. For example, the polynomial</p>
<dl>
<dd><img class="tex" alt="x^2+2xy+y^2-2x+2y-4\ " src="//upload.wikimedia.org/wikipedia/en/math/d/1/c/d1c5608c0c2cdec4231b78b1fb82ec62.png" /></dd>
</dl>
<p>has a constant term of 4, which can be considered to be the coefficient of <i>x</i><sup>0</sup><i>y</i><sup>0</sup>, where the variables are become eliminated by exponentiated to 0 (any number exponentiated to 0 becomes 1). For any polynomial, the constant term can be obtained by substituting in 0 instead of each variable; thus, eliminating each variable. The concept of exponentiation to 0 can be extended to <a href="/wiki/Power_series" title="Power series">power series</a> and other types of series, for example in this power series:</p>
<dl>
<dd><img class="tex" alt="a_0 + a_1 x + a_2 x^2 + a_3 x^3 + \cdots," src="//upload.wikimedia.org/wikipedia/en/math/2/4/e/24e5be8bfd97b9f85cb7ecb2962c3ee0.png" /></dd>
</dl>
<p><i>a</i><sub>0</sub> is the constant term. In general a constant term is one that does not involve any variables at all. However in expressions that involve terms with other types of factors than constants and powers of variables, the notion of constant term cannot be used in this sense, since that would lead to calling "4" the constant term of <img class="tex" alt="(x-3)^2+4" src="//upload.wikimedia.org/wikipedia/en/math/a/9/4/a947be51a555e40f59450d0bc69debd0.png" />, whereas substituting 0 for <i>x</i> in this polynomial makes it evaluate to 13.</p>


<!-- 
NewPP limit report
Preprocessor node count: 453/1000000
Post-expand include size: 6199/2048000 bytes
Template argument size: 2190/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:79861-0!0!0!*!*!4!* and timestamp 20120320202125 -->
