<table class="metadata plainlinks ambox ambox-content ambox-Refimprove" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This article <b>needs additional <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">citations</a> for <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verification</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Linearity&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(December 2007)</i></small></td>
</tr>
</table>
<div class="dablink">"Linear" redirects here. For other uses, see <a href="/wiki/Linear_(disambiguation)" title="Linear (disambiguation)">Linear (disambiguation)</a>.</div>
<div class="dablink">Not to be confused with <a href="/wiki/Lineage" title="Lineage">Lineage</a>.</div>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, a <a href="/wiki/Linear_map" title="Linear map">linear map</a> or <a href="/wiki/Linear_function" title="Linear function">linear function</a> <i>f</i>(<i>x</i>) is a function which satisfies the following two properties:</p>
<ul>
<li><a href="/wiki/Additive_function" title="Additive function">Additivity</a> (also called the <a href="/wiki/Superposition_principle" title="Superposition principle">superposition property</a>): <i>f</i>(<i>x</i>&#160;+&#160;<i>y</i>)&#160;=&#160;<i>f</i>(<i>x</i>)&#160;+&#160;<i>f</i>(<i>y</i>). This says that <i>f</i> is a <a href="/wiki/Group_homomorphism" title="Group homomorphism">group homomorphism</a> with respect to addition.</li>
<li><a href="/wiki/Homogeneous_function" title="Homogeneous function">Homogeneity</a> of degree 1: <i>f</i>(<i>x</i>)&#160;=&#160;<i>f</i>(<i>x</i>) for all .</li>
</ul>
<p>It can be shown that additivity implies the homogeneity in all cases where  is <a href="/wiki/Rational_number" title="Rational number">rational</a>; this is done by proving the case where  is a natural number by <a href="/wiki/Mathematical_induction" title="Mathematical induction">mathematical induction</a> and then extending the result to arbitrary rational numbers. If <i>f</i> is assumed to be continuous as well then this can be extended to show that homogeneity for  any real number, using the fact that rationals form a dense subset of the reals.</p>
<p>In this definition, <i>x</i> is not necessarily a <a href="/wiki/Real_number" title="Real number">real number</a>, but can in general be a member of any <a href="/wiki/Vector_space" title="Vector space">vector space</a>. A <a href="/wiki/Linear_function" title="Linear function">less restrictive definition</a> of linear function, not coinciding with the definition of linear map, is used in elementary mathematics.</p>
<p>The concept of linearity can be extended to linear <a href="/wiki/Operator_(mathematics)" title="Operator (mathematics)">operators</a>. Important examples of linear operators include the <a href="/wiki/Derivative" title="Derivative">derivative</a> considered as a <a href="/wiki/Differential_operator" title="Differential operator">differential operator</a>, and many constructed from it, such as <a href="/wiki/Del" title="Del">del</a> and the <a href="/wiki/Laplacian" title="Laplacian" class="mw-redirect">Laplacian</a>. When a <a href="/wiki/Differential_equation" title="Differential equation">differential equation</a> can be expressed in linear form, it is particularly easy to solve by breaking the equation up into smaller pieces, solving each of those pieces, and adding the solutions up.</p>
<p><a href="/wiki/Linear_algebra" title="Linear algebra">Linear algebra</a> is the branch of mathematics concerned with the study of vectors, vector spaces (also called linear spaces), linear transformations (also called linear maps), and systems of linear equations.</p>
<p>The word <b>linear</b> comes from the <a href="/wiki/Latin" title="Latin">Latin</a> word <i>linearis</i>, which means <i>pertaining to or resembling a line</i>. For a description of linear and nonlinear equations, see <i><a href="/wiki/Linear_equation" title="Linear equation">linear equation</a></i>. <a href="/wiki/Nonlinear" title="Nonlinear" class="mw-redirect">Nonlinear</a> equations and functions are of interest to <a href="/wiki/Physicist" title="Physicist">physicists</a> and <a href="/wiki/Mathematician" title="Mathematician">mathematicians</a> because they can be used to represent many natural phenomena, including <a href="/wiki/Chaos_theory" title="Chaos theory">chaos</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Integral_linearity"><span class="tocnumber">1</span> <span class="toctext">Integral linearity</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Linear_polynomials"><span class="tocnumber">2</span> <span class="toctext">Linear polynomials</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Boolean_functions"><span class="tocnumber">3</span> <span class="toctext">Boolean functions</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Physics"><span class="tocnumber">4</span> <span class="toctext">Physics</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Electronics"><span class="tocnumber">5</span> <span class="toctext">Electronics</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Military_tactical_formations"><span class="tocnumber">6</span> <span class="toctext">Military tactical formations</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Art"><span class="tocnumber">7</span> <span class="toctext">Art</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Music"><span class="tocnumber">8</span> <span class="toctext">Music</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#Measurement"><span class="tocnumber">9</span> <span class="toctext">Measurement</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#See_also"><span class="tocnumber">10</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#References"><span class="tocnumber">11</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Linearity&amp;action=&amp;section=1" title="Edit section: Integral linearity"></a>]</span> <span class="mw-headline" id="Integral_linearity">Integral linearity</span></h2>
<p>For a device that converts a quantity to another quantity there are three basic definitions for integral linearity in common use: independent linearity, zero-based linearity, and terminal, or end-point, linearity. In each case, linearity defines how well the device's actual performance across a specified operating range approximates a straight line. Linearity is usually measured in terms of a deviation, or non-linearity, from an ideal straight line and it is typically expressed in terms of percent of <a href="/wiki/Full_scale" title="Full scale">full scale</a>, or in ppm (parts per million) of full scale. Typically, the straight line is obtained by performing a least-squares fit of the data. The three definitions vary in <a href="/wiki/The" title="The" class="mw-redirect">the</a> manner in which the straight line is positioned relative to the actual device's performance. Also, all three of these definitions ignore any gain, or offset errors that may be present in the actual device's performance characteristics.</p>
<p>Many times a device's specifications will simply refer to linearity, with no other explanation as to which type of linearity is intended. In cases where a specification is expressed simply as linearity, it is assumed to imply independent linearity.</p>
<p>Independent linearity is probably the most commonly-used linearity definition and is often found in the specifications for <a href="/wiki/Multimeter" title="Multimeter">DMMs</a> and <a href="/wiki/Analog-to-digital_converter" title="Analog-to-digital converter">ADCs</a>, as well as devices like <a href="/wiki/Potentiometer" title="Potentiometer">potentiometers</a>. Independent linearity is defined as the maximum deviation of actual performance relative to a straight line, located such that it minimizes the maximum deviation. In that case there are no constraints placed upon the positioning of the straight line and it may be wherever necessary to minimize the deviations between it and the device's actual performance characteristic.</p>
<p>Zero-based linearity forces the lower range value of the straight line to be equal to the actual lower range value of the device's characteristic, but it does allow the line to be rotated to minimize the maximum deviation. In this case, since the positioning of the straight line is constrained by the requirement that the lower range values of the line and the device's characteristic be coincident, the non-linearity based on this definition will generally be larger than for independent linearity.</p>
<p>For terminal linearity, there is no flexibility allowed in the placement of the straight line in order to minimize the deviations. The straight line must be located such that each of its end-points coincides with the device's actual upper and lower range values. This means that the non-linearity measured by this definition will typically be larger than that measured by the independent, or the zero-based linearity definitions. This definition of linearity is often associated with ADCs, <a href="/wiki/Digital-to-analog_converter" title="Digital-to-analog converter">DACs</a> and various sensors.</p>
<p>A fourth linearity definition, absolute linearity, is sometimes also encountered. Absolute linearity is a variation of terminal linearity, in that it allows no flexibility in the placement of the straight line, however in this case the gain and offset errors of the actual device are included in the linearity measurement, making this the most difficult measure of a device's performance. For absolute linearity the end points of the straight line are defined by the ideal upper and lower range values for the device, rather than the actual values. The linearity error in this instance is the maximum deviation of the actual device's performance from ideal.</p>
<h2><span class="section">[<a href="/w/index.php?title=Linearity&amp;action=&amp;section=2" title="Edit section: Linear polynomials"></a>]</span> <span class="mw-headline" id="Linear_polynomials">Linear polynomials</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Linear_equation" title="Linear equation">linear equation</a></div>
<p>In a different usage to the above, a <a href="/wiki/Polynomial" title="Polynomial">polynomial</a> of <a href="/wiki/Degree_(mathematics)" title="Degree (mathematics)">degree</a> 1 is said to be linear, because the <a href="/wiki/Graph_of_a_function" title="Graph of a function">graph of a function</a> of that form is a <a href="/wiki/Line_(geometry)" title="Line (geometry)">line</a>.</p>
<p>Over the reals, a <a href="/wiki/Linear_equation" title="Linear equation">linear equation</a> is one of the forms:</p>
<dl>
<dd><img class="tex" alt="f(x) = m x + b\ " src="//upload.wikimedia.org/wikipedia/en/math/9/8/b/98b82359b63fa951b4060383331e0159.png" /></dd>
</dl>
<p>where <i>m</i> is often called the <a href="/wiki/Slope" title="Slope">slope</a> or <a href="/wiki/Gradient" title="Gradient">gradient</a>; <i>b</i> the <a href="/wiki/Y-intercept" title="Y-intercept">y-intercept</a>, which gives the point of intersection between the graph of the function and the <i>y</i>-axis.</p>
<p>Note that this usage of the term <i>linear</i> is not the same as the above, because linear polynomials over the real numbers do not in general satisfy either additivity or homogeneity. In fact, they do so <a href="/wiki/If_and_only_if" title="If and only if">if and only if</a> <i>b</i> = 0. Hence, if <i>b</i>  0, the function is often called an <b>affine function</b> (see in greater generality <a href="/wiki/Affine_transformation" title="Affine transformation">affine transformation</a>).</p>
<h2><span class="section">[<a href="/w/index.php?title=Linearity&amp;action=&amp;section=3" title="Edit section: Boolean functions"></a>]</span> <span class="mw-headline" id="Boolean_functions">Boolean functions</span></h2>
<p>In <a href="/wiki/Boolean_algebra_(logic)" title="Boolean algebra (logic)">Boolean algebra</a>, a linear function is a function <img class="tex" alt="f" src="//upload.wikimedia.org/wikipedia/en/math/8/f/a/8fa14cdd754f91cc6554c9e71929cce7.png" /> for which there exist <img class="tex" alt="a_0, a_1, \ldots, a_n \in \{0,1\}" src="//upload.wikimedia.org/wikipedia/en/math/b/2/4/b245510f93ef93f5c825c746bce94c93.png" /> such that</p>
<dl>
<dd><img class="tex" alt="f(b_1, \ldots, b_n) = a_0 \oplus (a_1 \land b_1) \oplus \cdots \oplus (a_n \land b_n)" src="//upload.wikimedia.org/wikipedia/en/math/3/2/c/32c5c8a0231425aabf4bce5471d68483.png" /> for all <img class="tex" alt="b_1, \ldots, b_n \in \{0,1\}." src="//upload.wikimedia.org/wikipedia/en/math/7/7/7/7776e0f0be72b9e53495f1fe980bf61c.png" /></dd>
</dl>
<p>A Boolean function is linear if one of the following holds for the function's <a href="/wiki/Truth_table" title="Truth table">truth table</a>:</p>
<ol>
<li>In every row in which the truth value of the function is 'T', there are an odd number of 'T's assigned to the arguments and in every row in which the function is 'F' there is an even number of 'T's assigned to arguments. Specifically, f('F', 'F', ..., 'F') = 'F', and these functions correspond to <a href="/wiki/Linear_map" title="Linear map">linear maps</a> over the Boolean vector space.</li>
<li>In every row in which the value of the function is 'T', there is an even number of 'T's assigned to the arguments of the function; and in every row in which the <a href="/wiki/Truth_value" title="Truth value">truth value</a> of the function is 'F', there are an odd number of 'T's assigned to arguments. In this case, f('F', 'F', ..., 'F') = 'T'.</li>
</ol>
<p>Another way to express this is that each variable always makes a difference in the <a href="/wiki/Truth-value" title="Truth-value" class="mw-redirect">truth-value</a> of the operation or it never makes a difference.</p>
<p><a href="/wiki/Negation" title="Negation">Negation</a>, <a href="/wiki/Logical_biconditional" title="Logical biconditional">Logical biconditional</a>, <a href="/wiki/Exclusive_or" title="Exclusive or">exclusive or</a>, <a href="/wiki/Tautology_(logic)" title="Tautology (logic)">tautology</a>, and <a href="/wiki/Contradiction" title="Contradiction">contradiction</a> are linear functions.</p>
<h2><span class="section">[<a href="/w/index.php?title=Linearity&amp;action=&amp;section=4" title="Edit section: Physics"></a>]</span> <span class="mw-headline" id="Physics">Physics</span></h2>
<p>In <a href="/wiki/Physics" title="Physics">physics</a>, <i>linearity</i> is a property of the <a href="/wiki/Differential_equations" title="Differential equations" class="mw-redirect">differential equations</a> governing many systems; for instance, the <a href="/wiki/Maxwell_equations" title="Maxwell equations" class="mw-redirect">Maxwell equations</a> or the <a href="/wiki/Diffusion_equation" title="Diffusion equation">diffusion equation</a>.</p>
<p>Linearity of a <a href="/wiki/Differential_equation" title="Differential equation">differential equation</a> means that if two functions <i>f</i> and <i>g</i> are solutions of the equation, then any <a href="/wiki/Linear_combination" title="Linear combination">linear combination</a> <i>af+bg</i> is too.</p>
<h2><span class="section">[<a href="/w/index.php?title=Linearity&amp;action=&amp;section=5" title="Edit section: Electronics"></a>]</span> <span class="mw-headline" id="Electronics">Electronics</span></h2>
<p>In <a href="/wiki/Electronics" title="Electronics">electronics</a>, the linear operating region of a device, for example a <a href="/wiki/Transistor" title="Transistor">transistor</a>, is where a <a href="/wiki/Dependent_variable" title="Dependent variable" class="mw-redirect">dependent variable</a> (such as the transistor collector <a href="/wiki/Electric_current" title="Electric current">current</a>) is directly <a href="/wiki/Proportionality_(mathematics)" title="Proportionality (mathematics)">proportional</a> to an <a href="/wiki/Independent_variable" title="Independent variable" class="mw-redirect">independent variable</a> (such as the base current). This ensures that an analog output is an accurate representation of an input, typically with higher amplitude (amplified). A typical example of linear equipment is a <a href="/wiki/High_fidelity" title="High fidelity">high fidelity</a> <a href="/wiki/Audio_amplifier" title="Audio amplifier">audio amplifier</a>, which must amplify a signal without changing its waveform. Others are <a href="/wiki/Linear_filter" title="Linear filter">linear filters</a>, <a href="/wiki/Linear_regulator" title="Linear regulator">linear regulators</a>, and <a href="/wiki/Linear_amplifier" title="Linear amplifier">linear amplifiers</a> in general.</p>
<p>In most <a href="/wiki/Science" title="Science">scientific</a> and <a href="/wiki/Technology" title="Technology">technological</a>, as distinct from mathematical, applications, something may be described as linear if the characteristic is approximately but not exactly a straight line; and linearity may be valid only within a certain operating regionfor example, a high-fidelity amplifier may distort even a small signal, but sufficiently little to be acceptable (acceptable but imperfect linearity); and may distort very badly if the input exceeds a certain value, taking it away from the approximately linear part of the <a href="/wiki/Transfer_function" title="Transfer function">transfer function</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Linearity&amp;action=&amp;section=6" title="Edit section: Military tactical formations"></a>]</span> <span class="mw-headline" id="Military_tactical_formations">Military tactical formations</span></h2>
<p>In <a href="/wiki/Formation_(military)" title="Formation (military)" class="mw-redirect">military tactical formations</a>, "linear formations" were adapted from phalanx-like formations of <a href="/wiki/Pike_(weapon)" title="Pike (weapon)">pike</a> protected by handgunners towards shallow formations of handgunners protected by progressively fewer pikes. This kind of formation would get thinner until its extreme in the age of Wellington with the '<a href="/wiki/The_Thin_Red_Line_(1854_battle)" title="The Thin Red Line (1854 battle)" class="mw-redirect">Thin Red Line</a>'. It would eventually be replaced by skirmish order at the time of the invention of the breech-loading rifle that allowed soldiers to move and fire independently of the large scale formations and fight in small, mobile units.</p>
<h2><span class="section">[<a href="/w/index.php?title=Linearity&amp;action=&amp;section=7" title="Edit section: Art"></a>]</span> <span class="mw-headline" id="Art">Art</span></h2>
<p><b>Linear</b> is one of the five categories proposed by Swiss art historian <a href="/wiki/Heinrich_W%C3%B6lfflin" title="Heinrich Wlfflin">Heinrich Wlfflin</a> to distinguish "Classic", or <a href="/wiki/Renaissance_art" title="Renaissance art">Renaissance art</a>, from the <a href="/wiki/Baroque" title="Baroque">Baroque</a>. According to Wlfflin, painters of the fifteenth and early sixteenth centuries (<a href="/wiki/Leonardo_da_Vinci" title="Leonardo da Vinci">Leonardo da Vinci</a>, <a href="/wiki/Raphael" title="Raphael">Raphael</a> or <a href="/wiki/Albrecht_D%C3%BCrer" title="Albrecht Drer">Albrecht Drer</a>) are more linear than "<a href="/wiki/Painterly" title="Painterly" class="mw-redirect">painterly</a>" Baroque painters of the seventeenth century (<a href="/wiki/Peter_Paul_Rubens" title="Peter Paul Rubens">Peter Paul Rubens</a>, <a href="/wiki/Rembrandt" title="Rembrandt">Rembrandt</a>, and <a href="/wiki/Diego_Vel%C3%A1zquez" title="Diego Velzquez">Velzquez</a>) because they primarily use outline to create <a href="/wiki/Shape" title="Shape">shape</a>.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> Linearity in art can also be referenced in <a href="/wiki/Digital_art" title="Digital art">digital art</a>. For example, <a href="/wiki/Hypertext_fiction" title="Hypertext fiction">hypertext fiction</a> can be an example of <a href="/wiki/Nonlinear_narrative" title="Nonlinear narrative">nonlinear narrative</a>, but there are also websites designed to go in a specified, organized manner, following a linear path.</p>
<h2><span class="section">[<a href="/w/index.php?title=Linearity&amp;action=&amp;section=8" title="Edit section: Music"></a>]</span> <span class="mw-headline" id="Music">Music</span></h2>
<p>In music the <b>linear</b> aspect is succession, either <a href="/wiki/Interval_(music)" title="Interval (music)">intervals</a> or <a href="/wiki/Melodic" title="Melodic" class="mw-redirect">melody</a>, as opposed to <a href="/wiki/Simultaneity_(music)" title="Simultaneity (music)">simultaneity</a> or the <a href="/wiki/Interval_(music)" title="Interval (music)">vertical</a> aspect.</p>
<h2><span class="section">[<a href="/w/index.php?title=Linearity&amp;action=&amp;section=9" title="Edit section: Measurement"></a>]</span> <span class="mw-headline" id="Measurement">Measurement</span></h2>
<p>In measurement, the term "linear foot" refers to the number of feet in a straight line of material (such as lumber or fabric) generally without regard to the width. It is sometimes incorrectly referred to as "lineal feet"; however, "lineal" is typically reserved for usage when referring to ancestry or hery.<a rel="nofollow" class="external autonumber" href="http://www.unc.edu/~rowlett/units/dictL.html">[1]</a> The words "linear"<a rel="nofollow" class="external autonumber" href="http://www.yourdictionary.com/ahd/l/l0180100.html">[2]</a> &amp; "lineal" <a rel="nofollow" class="external autonumber" href="http://www.yourdictionary.com/ahd/l/l0180300.html">[3]</a> both descend from the same root meaning, the <a href="/wiki/Latin" title="Latin">Latin</a> word for line, which is "linea".</p>
<h2><span class="section">[<a href="/w/index.php?title=Linearity&amp;action=&amp;section=10" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Linear_element" title="Linear element">Linear element</a></li>
<li><a href="/wiki/Linear_system" title="Linear system">Linear system</a></li>
<li><a href="/wiki/Linear_medium" title="Linear medium">Linear medium</a></li>
<li><a href="/wiki/Linear_programming" title="Linear programming">Linear programming</a></li>
<li><a href="/wiki/Bilinear" title="Bilinear">Bilinear</a></li>
<li><a href="/wiki/Multilinear" title="Multilinear" class="mw-redirect">Multilinear</a></li>
<li><a href="/wiki/Linear_motor" title="Linear motor">Linear motor</a></li>
<li><a href="/wiki/Linear_A" title="Linear A">Linear A</a> and <a href="/wiki/Linear_B" title="Linear B">Linear B</a> scripts.</li>
<li><a href="/wiki/Linear_interpolation" title="Linear interpolation">Linear interpolation</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Linearity&amp;action=&amp;section=11" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text">Heinrich Wlfflin, <i>Principles of Art History: the Problem of the Development of Style in Later Art</i>, M. D. Hottinger (trans.), Mineola, N.Y.: Dover (1950): pp. 1872.</span></li>
</ol>


<!-- 
NewPP limit report
Preprocessor node count: 622/1000000
Post-expand include size: 4952/2048000 bytes
Template argument size: 1879/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:91591-0!0!0!!en!4!* and timestamp 20120330185711 -->
