<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, <b>anti-parallel lines</b> can be defined with respect to either lines or angles.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Definitions"><span class="tocnumber">1</span> <span class="toctext">Definitions</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Antiparallel_vectors"><span class="tocnumber">1.1</span> <span class="toctext">Antiparallel vectors</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-3"><a href="#Relations"><span class="tocnumber">2</span> <span class="toctext">Relations</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#References"><span class="tocnumber">3</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Antiparallel_(mathematics)&amp;action=&amp;section=1" title="Edit section: Definitions"></a>]</span> <span class="mw-headline" id="Definitions">Definitions</span></h2>
<p>Given two lines <img class="tex" alt="m_1 \," src="//upload.wikimedia.org/wikipedia/en/math/4/2/a/42a6801b6f8351da21c095761aa4c9fa.png" /> and <img class="tex" alt="m_2 \," src="//upload.wikimedia.org/wikipedia/en/math/9/8/e/98e4fcac0b2b86010ac519d55699a399.png" />, lines <img class="tex" alt="l_1 \," src="//upload.wikimedia.org/wikipedia/en/math/c/f/5/cf5800361e719008eb69c524bcf2f197.png" /> and <img class="tex" alt="l_2 \," src="//upload.wikimedia.org/wikipedia/en/math/3/c/6/3c67a35ce4a87af00203c8407e572b8e.png" /> are anti-parallel with respect to <img class="tex" alt="m_1 \," src="//upload.wikimedia.org/wikipedia/en/math/4/2/a/42a6801b6f8351da21c095761aa4c9fa.png" /> and <img class="tex" alt="m_2 \," src="//upload.wikimedia.org/wikipedia/en/math/9/8/e/98e4fcac0b2b86010ac519d55699a399.png" /> if <img class="tex" alt="\angle 1 = \angle 2 \," src="//upload.wikimedia.org/wikipedia/en/math/f/a/2/fa286f01c1f1c39d5a9318621e3b43c2.png" />.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Anti1.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/73/Anti1.svg/220px-Anti1.svg.png" width="220" height="218" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Anti1.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Given two lines <img class="tex" alt="m_1 \," src="//upload.wikimedia.org/wikipedia/en/math/4/2/a/42a6801b6f8351da21c095761aa4c9fa.png" /> and <img class="tex" alt="m_2 \," src="//upload.wikimedia.org/wikipedia/en/math/9/8/e/98e4fcac0b2b86010ac519d55699a399.png" />, lines <img class="tex" alt="l_1 \," src="//upload.wikimedia.org/wikipedia/en/math/c/f/5/cf5800361e719008eb69c524bcf2f197.png" /> and <img class="tex" alt="l_2 \," src="//upload.wikimedia.org/wikipedia/en/math/3/c/6/3c67a35ce4a87af00203c8407e572b8e.png" /> are anti-parallel with respect to <img class="tex" alt="m_1 \," src="//upload.wikimedia.org/wikipedia/en/math/4/2/a/42a6801b6f8351da21c095761aa4c9fa.png" /> and <img class="tex" alt="m_2 \," src="//upload.wikimedia.org/wikipedia/en/math/9/8/e/98e4fcac0b2b86010ac519d55699a399.png" /> if <img class="tex" alt="\angle 1 = \angle 2 \," src="//upload.wikimedia.org/wikipedia/en/math/f/a/2/fa286f01c1f1c39d5a9318621e3b43c2.png" />.</div>
</div>
</div>
<p>If <img class="tex" alt="l_1 \," src="//upload.wikimedia.org/wikipedia/en/math/c/f/5/cf5800361e719008eb69c524bcf2f197.png" /> and <img class="tex" alt="l_2 \," src="//upload.wikimedia.org/wikipedia/en/math/3/c/6/3c67a35ce4a87af00203c8407e572b8e.png" /> and are anti-parallel with respect to <img class="tex" alt="m_1 \," src="//upload.wikimedia.org/wikipedia/en/math/4/2/a/42a6801b6f8351da21c095761aa4c9fa.png" /> and <img class="tex" alt="m_2 \," src="//upload.wikimedia.org/wikipedia/en/math/9/8/e/98e4fcac0b2b86010ac519d55699a399.png" />, then <img class="tex" alt="m_1 \," src="//upload.wikimedia.org/wikipedia/en/math/4/2/a/42a6801b6f8351da21c095761aa4c9fa.png" /> and <img class="tex" alt="m_2 \," src="//upload.wikimedia.org/wikipedia/en/math/9/8/e/98e4fcac0b2b86010ac519d55699a399.png" /> and are also anti-parallel with respect to <img class="tex" alt="l_1 \," src="//upload.wikimedia.org/wikipedia/en/math/c/f/5/cf5800361e719008eb69c524bcf2f197.png" /> and <img class="tex" alt="l_2 \," src="//upload.wikimedia.org/wikipedia/en/math/3/c/6/3c67a35ce4a87af00203c8407e572b8e.png" />.</p>
<p>In any <a href="/wiki/Quadrilateral" title="Quadrilateral">quadrilateral</a> inscribed in a circle, any two opposite sides are anti-parallel with respect to the other two sides.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Anti5.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/38/Anti5.svg/220px-Anti5.svg.png" width="220" height="218" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Anti5.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
In any quadrilateral inscribed in a circle, any two opposite sides are anti-parallel with respect to the other two sides.</div>
</div>
</div>
<p>Two lines <img class="tex" alt="l_1 \," src="//upload.wikimedia.org/wikipedia/en/math/c/f/5/cf5800361e719008eb69c524bcf2f197.png" /> and <img class="tex" alt="l_2 \, " src="//upload.wikimedia.org/wikipedia/en/math/3/c/6/3c67a35ce4a87af00203c8407e572b8e.png" />are said to be antiparallel with respect to the sides of an angle if they make the same angle <img class="tex" alt="\angle APC" src="//upload.wikimedia.org/wikipedia/en/math/9/4/c/94c92ba50aa58d13c7790e655148679d.png" /> in the opposite senses with the <a href="/wiki/Bisector" title="Bisector" class="mw-redirect">bisector</a> of that angle.</p>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Anti2.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Anti2.svg/220px-Anti2.svg.png" width="220" height="218" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Anti2.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Two lines <img class="tex" alt="l_1 \," src="//upload.wikimedia.org/wikipedia/en/math/c/f/5/cf5800361e719008eb69c524bcf2f197.png" /> and <img class="tex" alt="l_2 \, " src="//upload.wikimedia.org/wikipedia/en/math/3/c/6/3c67a35ce4a87af00203c8407e572b8e.png" /> are said to be antiparallel with respect to the sides of an angle if they make the same angle <img class="tex" alt="\angle APC" src="//upload.wikimedia.org/wikipedia/en/math/9/4/c/94c92ba50aa58d13c7790e655148679d.png" /> in the opposite senses with the bisector of that angle. Notice that our previous angles 1 and 2 are still equivalent.</div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Anti3.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Anti3.svg/220px-Anti3.svg.png" width="220" height="218" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Anti3.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
If the lines <img class="tex" alt="m_1 \," src="//upload.wikimedia.org/wikipedia/en/math/4/2/a/42a6801b6f8351da21c095761aa4c9fa.png" /> and <img class="tex" alt="m_2 \," src="//upload.wikimedia.org/wikipedia/en/math/9/8/e/98e4fcac0b2b86010ac519d55699a399.png" /> coincide, <img class="tex" alt="l_1 \," src="//upload.wikimedia.org/wikipedia/en/math/c/f/5/cf5800361e719008eb69c524bcf2f197.png" /> and <img class="tex" alt="l_2 \, " src="//upload.wikimedia.org/wikipedia/en/math/3/c/6/3c67a35ce4a87af00203c8407e572b8e.png" /> are said to be anti-parallel with respect to a straight line.</div>
</div>
</div>
<h3><span class="section">[<a href="/w/index.php?title=Antiparallel_(mathematics)&amp;action=&amp;section=2" title="Edit section: Antiparallel vectors"></a>]</span> <span class="mw-headline" id="Antiparallel_vectors">Antiparallel vectors</span></h3>
<p>In a <a href="/wiki/Vector_space" title="Vector space">vector space</a> over <img class="tex" alt=" \mathbb{R} " src="//upload.wikimedia.org/wikipedia/en/math/1/3/4/134676911181af05d24d406f16edf587.png" /> (or some other <a href="/wiki/Ordered_field" title="Ordered field">ordered field</a>), two nonzero vectors are called antiparallel if they are parallel but have opposite directions.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> In that case, one is a <a href="/wiki/Negative_number" title="Negative number">negative</a> <a href="/wiki/Scalar_(mathematics)" title="Scalar (mathematics)">scalar</a> times the other.</p>
<h2><span class="section">[<a href="/w/index.php?title=Antiparallel_(mathematics)&amp;action=&amp;section=3" title="Edit section: Relations"></a>]</span> <span class="mw-headline" id="Relations">Relations</span></h2>
<ol>
<li>The line joining the feet to two altitudes of a triangle is antiparallel to the third side.</li>
<li>The tangent to a triangle's <a href="/wiki/Circumcircle" title="Circumcircle" class="mw-redirect">circumcircle</a> at a vertex is antiparallel to the opposite side.</li>
<li>The radius of the circumcircle at a vertex is perpendicular to all lines antiparallel to the opposite sides.</li>
</ol>
<h2><span class="section">[<a href="/w/index.php?title=Antiparallel_(mathematics)&amp;action=&amp;section=4" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation book">Harris, John; Harris, John W.; Stcker, Horst (1998). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=DnKLkOb_YfIC"><i>Handbook of mathematics and computational science</i></a>. Birkhuser. p.&#160;332. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-387-94746-9" title="Special:BookSources/0-387-94746-9">0-387-94746-9</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=DnKLkOb_YfIC">http://books.google.com/books?id=DnKLkOb_YfIC</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Handbook+of+mathematics+and+computational+science&amp;rft.aulast=Harris&amp;rft.aufirst=John&amp;rft.au=Harris%2C%26%2332%3BJohn&amp;rft.au=Harris%2C%26%2332%3BJohn+W.&amp;rft.au=St%C3%B6cker%2C%26%2332%3BHorst&amp;rft.date=1998&amp;rft.pages=p.%26nbsp%3B332&amp;rft.pub=Birkh%C3%A4user&amp;rft.isbn=0-387-94746-9&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DDnKLkOb_YfIC&amp;rfr_id=info:sid/en.wikipedia.org:Antiparallel_(mathematics)"><span style="display: none;">&#160;</span></span>, <a rel="nofollow" class="external text" href="http://books.google.com/books?id=DnKLkOb_YfIC&amp;pg=PA332">Chapter 6, p. 332</a></span></li>
</ol>
</div>
<ul>
<li>A.B. Ivanov, Encyclopaedia of Mathematics - <a href="/wiki/Special:BookSources/1402006098" class="internal mw-magiclink-isbn">ISBN 1402006098</a></li>
<li>Weisstein, Eric W. "Antiparallel." From MathWorld--A Wolfram Web Resource. <a rel="nofollow" class="external autonumber" href="http://mathworld.wolfram.com/Antiparallel.html">[1]</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 1125/1000000
Post-expand include size: 5265/2048000 bytes
Template argument size: 1406/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:11450209-0!0!0!!en!4!* and timestamp 20120412184304 -->
