<div class="thumb tright">
<div class="thumbinner" style="width:352px;"><a href="/wiki/File:Apollonian_circles.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Apollonian_circles.svg/350px-Apollonian_circles.svg.png" width="350" height="340" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Apollonian_circles.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Some Apollonian circles. Every blue circle intersects every red circle at a right angle. Every red circle passes through the two points, <i>C</i> and <i>D</i>, and every blue circle separates the two points.</div>
</div>
</div>
<dl>
<dd>
<dl>
<dd><i>This article discusses a family of circles sharing a <a href="/wiki/Radical_axis" title="Radical axis">radical axis</a>, and the corresponding family of orthogonal circles. For other circles associated with <a href="/wiki/Apollonius_of_Perga" title="Apollonius of Perga">Apollonius of Perga</a>, please see the disambiguation page, <a href="/wiki/Circles_of_Apollonius" title="Circles of Apollonius">circles of Apollonius</a>.</i></dd>
</dl>
</dd>
</dl>
<p><b>Apollonian circles</b> are two families of <a href="/wiki/Circle" title="Circle">circles</a> such that every circle in the first family intersects every circle in the second family <a href="/wiki/Orthogonal" title="Orthogonal" class="mw-redirect">orthogonally</a>, and vice versa. These circles form the basis for <a href="/wiki/Bipolar_coordinates" title="Bipolar coordinates">bipolar coordinates</a>. They were discovered by <a href="/wiki/Apollonius_of_Perga" title="Apollonius of Perga">Apollonius of Perga</a>, a renowned <a href="/wiki/Ancient_Greece" title="Ancient Greece">Greek</a> <a href="/wiki/Geometer" title="Geometer" class="mw-redirect">geometer</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Definition"><span class="tocnumber">1</span> <span class="toctext">Definition</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Bipolar_coordinates"><span class="tocnumber">2</span> <span class="toctext">Bipolar coordinates</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Pencils_of_circles"><span class="tocnumber">3</span> <span class="toctext">Pencils of circles</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Radical_axis_and_central_line"><span class="tocnumber">4</span> <span class="toctext">Radical axis and central line</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Inversive_geometry.2C_orthogonal_intersection.2C_and_coordinate_systems"><span class="tocnumber">5</span> <span class="toctext">Inversive geometry, orthogonal intersection, and coordinate systems</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#See_also"><span class="tocnumber">6</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Notes"><span class="tocnumber">7</span> <span class="toctext">Notes</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#References"><span class="tocnumber">8</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#External_links"><span class="tocnumber">9</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Apollonian_circles&amp;action=&amp;section=1" title="Edit section: Definition"></a>]</span> <span class="mw-headline" id="Definition">Definition</span></h2>
<p>The Apollonian circles are defined in two different ways by a <a href="/wiki/Line_segment" title="Line segment">line segment</a> denoted <i>CD</i>.</p>
<p>Each circle in the first family (the blue circles in the figure) is associated with a positive <a href="/wiki/Real_number" title="Real number">real number</a> <i>r</i>, and is defined as the locus of points <i>X</i> such that the ratio of distances from <i>X</i> to <i>C</i> and to <i>D</i> equals <i>r</i>,</p>
<dl>
<dd><img class="tex" alt="\left\{X\mid \frac{d(X,C)}{d(X,D)} = r\right\}." src="//upload.wikimedia.org/wikipedia/en/math/5/8/b/58b3e2aa51f4d53aea1313dcfb6b4f77.png" /></dd>
</dl>
<p>For values of <i>r</i> close to zero, the corresponding circle is close to <i>C</i>, while for values of <i>r</i> close to , the corresponding circle is close to <i>D</i>; for the intermediate value <i>r</i>&#160;=&#160;1, the circle degenerates to a line, the perpendicular bisector of <i>CD</i>. The equation defining these circles as a locus can be generalized to define the <a href="/wiki/Fermat%E2%80%93Apollonius_circle" title="FermatApollonius circle" class="mw-redirect">FermatApollonius circles</a> of larger sets of weighted points.</p>
<p>Each circle in the second family (the red circles in the figure) is associated with an angle <i></i>, and is defined as the locus of points <i>X</i> such that the <a href="/wiki/Inscribed_angle" title="Inscribed angle">inscribed angle</a> CXD equals <i></i>,</p>
<dl>
<dd><img class="tex" alt="\left\{X\mid  \; C\hat{X}D \; = \theta\right\}." src="//upload.wikimedia.org/wikipedia/en/math/4/4/d/44d5242b222a1bc7374b52f20287aeb3.png" /></dd>
</dl>
<p>Scanning <i></i> from 0 to <i></i> generates the set of all circles passing through the two points <i>C</i> and <i>D</i>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Apollonian_circles&amp;action=&amp;section=2" title="Edit section: Bipolar coordinates"></a>]</span> <span class="mw-headline" id="Bipolar_coordinates">Bipolar coordinates</span></h2>
<p>A given blue circle and a given red circle intersect in two points. In order to obtain bipolar <b>coordinates</b>, a method is required to specify which point is the right one. An isoptic arc is the locus of points <i>X</i> that sees points <i>C</i> and <i>D</i> under a given oriented angle of vectors i.e.</p>
<dl>
<dd><img class="tex" alt="isopt(\theta)=\left\{X\mid \left( \overrightarrow{XC}, \overrightarrow{XD} \right)=\theta +2k\pi\right\}." src="//upload.wikimedia.org/wikipedia/en/math/7/2/3/7230d63a2fe13bfd321e5dee57c85c36.png" /></dd>
</dl>
<p>Such an arc is contained into a red circle and is bounded by points <i>C</i> and <i>D</i>. The remaining part of the corresponding red circle is <img class="tex" alt="isopt(\theta+\pi)" src="//upload.wikimedia.org/wikipedia/en/math/5/d/c/5dcd64f09fa92fcb3719b167b73af93d.png" />. When we really want the whole red circle, a description using oriented angles of straight lines has to be used</p>
<dl>
<dd><img class="tex" alt=" {\rm full\;red\;circle}=\left\{X\mid  \; \left( (XC),(XD)\right) \; = \theta+k\pi\right\}" src="//upload.wikimedia.org/wikipedia/en/math/3/3/4/334e87f36b1e00e5eaded548a3a37545.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Apollonian_circles&amp;action=&amp;section=3" title="Edit section: Pencils of circles"></a>]</span> <span class="mw-headline" id="Pencils_of_circles">Pencils of circles</span></h2>
<p>Both of the families of Apollonian circles are called <b>pencils of circles</b>. More generally, there is a natural correspondence between circles in the plane and points in three-dimensional <a href="/wiki/Projective_space" title="Projective space">projective space</a>; a line in this space corresponds to a one-dimensional continuous family of circles called a pencil.</p>
<p>Specifically, the equation of a circle of radius <i>r</i> centered at a point (<i>p</i>,<i>q</i>),</p>
<dl>
<dd><img class="tex" alt="\displaystyle (x-p)^2 + (y-q)^2 = r^2," src="//upload.wikimedia.org/wikipedia/en/math/d/0/f/d0fc4cbc880249936721d7b358f2c571.png" /></dd>
</dl>
<p>may be rewritten as</p>
<dl>
<dd><img class="tex" alt="\displaystyle \alpha(x^2 + y^2) - 2\beta x - 2\gamma y + \delta = 0," src="//upload.wikimedia.org/wikipedia/en/math/0/2/7/0278f43129850e2ed85c2fd87730e7fa.png" /></dd>
</dl>
<p>where &#160;=&#160;1, &#160;=&#160;<i>p</i>, &#160;=&#160;<i>q</i>, and &#160;=&#160;<i>p</i><sup>2</sup>&#160;+&#160;<i>q</i><sup>2</sup>&#160;&#160;<i>r</i><sup>2</sup>. However, in this form, multiplying the 4-tuple (,,,) by a <a href="/wiki/Scalar_(mathematics)" title="Scalar (mathematics)">scalar</a> produces a different four-tuple that represents the same circle; thus, these 4-tuples may be considered to be <a href="/wiki/Homogeneous_coordinates" title="Homogeneous coordinates">homogeneous coordinates</a> for the space of circles.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> Straight lines may also be represented with an equation of this type in which &#160;=&#160;0 and should be thought of as being a degenerate form of a circle. When &#160;&#160;0, we may solve for <i>p</i>&#160;=&#160;/, <i>q</i>&#160;=&#160;/, and <i>r</i>&#160;=((&#160;&#160;<sup>2</sup>&#160;&#160;<sup>2</sup>)/<sup>2</sup>); note, however, that the latter formula may give <i>r</i>&#160;=&#160;0 (in which case the circle degenerates to a point) or <i>r</i> equal to an <a href="/wiki/Imaginary_number" title="Imaginary number">imaginary number</a> (in which case the 4-tuple (,,,) is said to represent an <i>imaginary circle</i>).</p>
<p>The set of <a href="/wiki/Affine_combination" title="Affine combination">affine combinations</a> of two circles (<sub>1</sub>,<sub>1</sub>,<sub>1</sub>,<sub>1</sub>), (<sub>2</sub>,<sub>2</sub>,<sub>2</sub>,<sub>2</sub>), that is, the set of circles represented by the four-tuple</p>
<dl>
<dd><img class="tex" alt="\displaystyle z(\alpha_1,\beta_1,\gamma_1,\delta_1)+(1-z)(\alpha_2,\beta_2,\gamma_2,\delta_2)" src="//upload.wikimedia.org/wikipedia/en/math/2/3/1/231cfe26cb1cc0107f3a1a4809c62b8c.png" /></dd>
</dl>
<p>for some value of the parameter <i>z</i>, forms a pencil; the two circles are called <i>generators</i> of the pencil. There are three types of pencil:<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup></p>
<ul>
<li>An <i>elliptic pencil</i> (red family of circles in the figure) is defined by two generators that pass through each other in exactly <b>two</b> points (<i>C</i> and <i>D</i>). At these points, the defining formula has zero value, and therefore will also equal zero for any affine combination. Thus, every circle of an elliptic pencil passes through the same two points. An elliptic pencil does not include any imaginary circles.</li>
<li>A <i>hyperbolic pencil</i> (blue family of circles in the figure) is defined by two generators that do not intersect each other at <b>any</b> point. It includes real circles, imaginary circles, and two degenerate point circles (here <i>C</i> and <i>D</i>) called the <i>Poncelet points</i> of the pencil. Each point in the plane belongs to exactly one circle of the pencil. forms a pencil of this type.</li>
<li>Finally, a <i>parabolic pencil</i> (as a limiting case) is defined where two generating circles are tangent to each other at a <b>single</b> point . It consists of a family of real circles, all tangent to each other at a single common point. The degenerate circle with radius zero at that point also belongs to the pencil.</li>
</ul>
<p>A family of concentric circles centered at a single focus <i>C</i> forms a special case of a hyperbolic pencil, in which the other focus is the point at infinity of the <a href="/wiki/Complex_projective_line" title="Complex projective line" class="mw-redirect">complex projective line</a>. The corresponding elliptic pencil consists of the family of straight lines through <i>C</i>; these should be interpreted as circles that all pass through the point at infinity.</p>
<h2><span class="section">[<a href="/w/index.php?title=Apollonian_circles&amp;action=&amp;section=4" title="Edit section: Radical axis and central line"></a>]</span> <span class="mw-headline" id="Radical_axis_and_central_line">Radical axis and central line</span></h2>
<p>Except for the two special cases of a pencil of concentric circles and a pencil of coincident lines, any two circles within a pencil have the same <a href="/wiki/Radical_axis" title="Radical axis">radical axis</a>, and all circles in the pencil have collinear centers. Any three or more circles from the same family are called <b>coaxal circles</b> or coaxial circles.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<p>The elliptic pencil of circles passing through the two points <i>C</i> and <i>D</i> (the set of red circles, in the figure) has the line <i>CD</i> as its radical axis. The centers of the circles in this pencil lie on the perpendicular bisector of <i>CD</i>. The hyperbolic pencil defined by points <i>C</i> and <i>D</i> (the blue circles) has its radical axis on the perpendicular bisector of line <i>CD</i>, and all its circle centers on line <i>CD</i>.</p>
<p>The radical axis of any pencil of circles, interpreted as an infinite-radius circle, belongs to the pencil. Any three circles belong to a common pencil whenever all three pairs share the same radical axis and their centers are collinear.</p>
<h2><span class="section">[<a href="/w/index.php?title=Apollonian_circles&amp;action=&amp;section=5" title="Edit section: Inversive geometry, orthogonal intersection, and coordinate systems"></a>]</span> <span class="mw-headline" id="Inversive_geometry.2C_orthogonal_intersection.2C_and_coordinate_systems">Inversive geometry, orthogonal intersection, and coordinate systems</span></h2>
<p><a href="/wiki/Circle_inversion" title="Circle inversion" class="mw-redirect">Circle inversion</a> transforms the plane in a way that maps circles into circles, and pencils of circles into pencils of circles. The type of the pencil is preserved: the inversion of an elliptic pencil is another elliptic pencil, the inversion of a hyperbolic pencil is another hyperbolic pencil, and the inversion of a parabolic pencil is another parabolic pencil.</p>
<p>It is relatively easy to show using inversion that, in the Apollonian circles, every blue circle intersects every red circle orthogonally, i.e., at a <a href="/wiki/Right_angle" title="Right angle">right angle</a>. Inversion of the blue Apollonian circles with respect to a circle centered on point <i>C</i> results in a pencil of concentric circles centered at the image of point <i>D</i>. The same inversion transforms the red circles into a set of straight lines that all contain the image of <i>D</i>. Thus, this inversion transforms the <a href="/wiki/Bipolar_coordinates" title="Bipolar coordinates">bipolar coordinate system</a> defined by the Apollonian circles into a <a href="/wiki/Polar_coordinates" title="Polar coordinates" class="mw-redirect">polar coordinate system</a>. Obviously, the transformed pencils meet at right angles. Since inversion is a <a href="/wiki/Conformal_map" title="Conformal map">conformal transformation</a>, it preserves the angles between the curves it transforms, so the original Apollonian circles also meet at right angles.</p>
<p>Alternatively,<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup> the orthogonal property of the two pencils follows from the defining property of the radical axis, that from any point <i>X</i> on the radical axis of a pencil <i>P</i> the lengths of the tangents from <i>X</i> to each circle in <i>P</i> are all equal. It follows from this that the circle centered at <i>X</i> with length equal to these tangents crosses all circles of <i>P</i> perpendicularly. The same construction can be applied for each <i>X</i> on the radical axis of <i>P</i>, forming another pencil of circles perpendicular to <i>P</i>.</p>
<p>More generally, for every pencil of circles there exists a unique pencil consisting of the circles that are perpendicular to the first pencil. If one pencil is elliptic, its perpendicular pencil is hyperbolic, and vice versa; in this case the two pencils form a set of Apollonian circles. The pencil of circles perpendicular to a parabolic pencil is also parabolic; it consists of the circles that have the same common tangent point but with a perpendicular tangent line at that point.<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Apollonian_circles&amp;action=&amp;section=6" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Power_of_a_point" title="Power of a point">Power of a point</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Apollonian_circles&amp;action=&amp;section=7" title="Edit section: Notes"></a>]</span> <span class="mw-headline" id="Notes">Notes</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><a href="#CITEREFPfeiferVan_Hook1993">Pfeifer &amp; Van Hook (1993)</a>.</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><a href="#CITEREFSchwerdtfeger1979">Schwerdtfeger (1979</a>, pp.&#160;810).</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text">MathWorld uses coaxal, while <a href="#CITEREFAkopyanZaslavsky2007">Akopyan &amp; Zaslavsky (2007)</a> prefer coaxial.</span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><a href="#CITEREFAkopyanZaslavsky2007">Akopyan &amp; Zaslavsky (2007)</a>, p. 59.</span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><a href="#CITEREFSchwerdtfeger1979">Schwerdtfeger (1979</a>, pp.&#160;3031, Theorem A).</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Apollonian_circles&amp;action=&amp;section=8" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation" id="CITEREFAkopyanZaslavsky2007">Akopyan, A. V.; Zaslavsky, A. A. (2007), <i>Geometry of Conics</i>, Mathematical World, <b>26</b>, <a href="/wiki/American_Mathematical_Society" title="American Mathematical Society">American Mathematical Society</a>, pp.&#160;5762, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/978-0-8218-4323-9" title="Special:BookSources/978-0-8218-4323-9">978-0-8218-4323-9</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Geometry+of+Conics&amp;rft.aulast=Akopyan&amp;rft.aufirst=A.+V.&amp;rft.au=Akopyan%2C%26%2332%3BA.+V.&amp;rft.au=Zaslavsky%2C%26%2332%3BA.+A.&amp;rft.date=2007&amp;rft.series=Mathematical+World&amp;rft.volume=26&amp;rft.pages=pp.%26nbsp%3B57%E2%80%9362&amp;rft.pub=%5B%5BAmerican+Mathematical+Society%5D%5D&amp;rft.isbn=978-0-8218-4323-9&amp;rfr_id=info:sid/en.wikipedia.org:Apollonian_circles"><span style="display: none;">&#160;</span></span>.</li>
<li><span class="citation" id="CITEREFPfeiferVan_Hook1993">Pfeifer, Richard E.; Van Hook, Cathleen (1993), "Circles, Vectors, and Linear Algebra", <i>Mathematics Magazine</i> <b>66</b> (2): 7586, <a href="/wiki/Digital_object_identifier" title="Digital object identifier">doi</a>:<a rel="nofollow" class="external text" href="http://dx.doi.org/10.2307%2F2691113">10.2307/2691113</a>, <a href="/wiki/JSTOR" title="JSTOR">JSTOR</a>&#160;<a rel="nofollow" class="external text" href="http://www.jstor.org/stable/2691113">2691113</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Circles%2C+Vectors%2C+and+Linear+Algebra&amp;rft.jtitle=Mathematics+Magazine&amp;rft.aulast=Pfeifer&amp;rft.aufirst=Richard+E.&amp;rft.au=Pfeifer%2C%26%2332%3BRichard+E.&amp;rft.au=Van+Hook%2C%26%2332%3BCathleen&amp;rft.date=1993&amp;rft.volume=66&amp;rft.issue=2&amp;rft.pages=75%E2%80%9386&amp;rft_id=info:doi/10.2307%2F2691113&amp;rft.jstor=2691113&amp;rfr_id=info:sid/en.wikipedia.org:Apollonian_circles"><span style="display: none;">&#160;</span></span>.</li>
<li><span class="citation" id="CITEREFSchwerdtfeger1979">Schwerdtfeger, Hans (1979), <i>Geometry of Complex Numbers: Circle Geometry, Moebius Transformation, Non-Euclidean Geometry</i>, Dover, pp.&#160;810</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Geometry+of+Complex+Numbers%3A+Circle+Geometry%2C+Moebius+Transformation%2C+Non-Euclidean+Geometry&amp;rft.aulast=Schwerdtfeger&amp;rft.aufirst=Hans&amp;rft.au=Schwerdtfeger%2C%26%2332%3BHans&amp;rft.date=1979&amp;rft.pages=pp.%26nbsp%3B8%E2%80%9310&amp;rft.pub=Dover&amp;rfr_id=info:sid/en.wikipedia.org:Apollonian_circles"><span style="display: none;">&#160;</span></span>.</li>
<li><span class="citation" id="CITEREFSamuel1988">Samuel, Pierre (1988), <i>Projective Geometry</i>, Springer, pp.&#160;4043</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Projective+Geometry&amp;rft.aulast=Samuel&amp;rft.aufirst=Pierre&amp;rft.au=Samuel%2C%26%2332%3BPierre&amp;rft.date=1988&amp;rft.pages=pp.%26nbsp%3B40%E2%80%9343&amp;rft.pub=Springer&amp;rfr_id=info:sid/en.wikipedia.org:Apollonian_circles"><span style="display: none;">&#160;</span></span>.</li>
<li><span class="citation" id="CITEREFOgilvy1990">Ogilvy, C. Stanley (1990), <i>Excursions in Geometry</i>, Dover, <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-486-26530-7" title="Special:BookSources/0-486-26530-7">0-486-26530-7</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Excursions+in+Geometry&amp;rft.aulast=Ogilvy&amp;rft.aufirst=C.+Stanley&amp;rft.au=Ogilvy%2C%26%2332%3BC.+Stanley&amp;rft.date=1990&amp;rft.pub=Dover&amp;rft.isbn=0-486-26530-7&amp;rfr_id=info:sid/en.wikipedia.org:Apollonian_circles"><span style="display: none;">&#160;</span></span>.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Apollonian_circles&amp;action=&amp;section=9" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Coaxal_Circles"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/CoaxalCircles.html">Coaxal Circles</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 4174/1000000
Post-expand include size: 24595/2048000 bytes
Template argument size: 4510/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:5023947-0!0!0!!en!4!* and timestamp 20120312043040 -->
