<div class="thumb tright">
<div class="thumbinner" style="width:402px;"><a href="/wiki/File:Bankoff_Circle.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Bankoff_Circle.svg/400px-Bankoff_Circle.svg.png" width="400" height="228" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Bankoff_Circle.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A Bankoff circle with the center C''<sub>6</sub></div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, the <b>Bankoff circle</b> or <b>Bankoff triplet circle</b> is a certain <a href="/wiki/Archimedean_circle" title="Archimedean circle">Archimedean circle</a> that can be constructed from an <a href="/wiki/Arbelos" title="Arbelos">arbelos</a>; an Archimedean circle is any circle with area equal to each of <a href="/wiki/Archimedes%27_twin_circles" title="Archimedes' twin circles">Archimedes' twin circles</a>. The Bankoff circle was first constructed by <a href="/wiki/Leon_Bankoff" title="Leon Bankoff">Leon Bankoff</a>.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup><sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Construction"><span class="tocnumber">1</span> <span class="toctext">Construction</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Radius_of_the_circle"><span class="tocnumber">2</span> <span class="toctext">Radius of the circle</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#References"><span class="tocnumber">3</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#External_links"><span class="tocnumber">4</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Bankoff_circle&amp;action=&amp;section=1" title="Edit section: Construction"></a>]</span> <span class="mw-headline" id="Construction">Construction</span></h2>
<p>The Bankoff circle is formed from three <a href="/wiki/Semicircle" title="Semicircle">semicircles</a> that create an <a href="/wiki/Arbelos" title="Arbelos">arbelos</a>. A circle <i>C</i><sub>1</sub> is then formed tangent to each of the three semicircles, as an instance of the <a href="/wiki/Problem_of_Apollonius" title="Problem of Apollonius">problem of Apollonius</a>. Another circle <i>C</i><sub>2</sub> is then created, through three points: the two points of tangency of <i>C</i><sub>1</sub> with the smaller two semicircles, and the point where the two smaller semicircles are tangent to each other. <i>C</i><sub>2</sub> is the Bankoff circle.</p>
<h2><span class="section">[<a href="/w/index.php?title=Bankoff_circle&amp;action=&amp;section=2" title="Edit section: Radius of the circle"></a>]</span> <span class="mw-headline" id="Radius_of_the_circle">Radius of the circle</span></h2>
<p>If <i>r</i> = <i>AB</i>/<i>AC</i>, then the radius of the Bankoff circle is:</p>
<dl>
<dd><img class="tex" alt="R=\frac{1}{2}r\left(1-r\right)." src="//upload.wikimedia.org/wikipedia/en/math/9/f/7/9f73c0df1391ba7af299aef4cb4111b1.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Bankoff_circle&amp;action=&amp;section=3" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFBankoff1974"><a href="/wiki/Leon_Bankoff" title="Leon Bankoff">Bankoff, L.</a> (1974), "Are the twin circles of Archimedes really twins?", <i>Mathematics Magazine</i> <b>47</b>: 214218, <a href="/wiki/JSTOR" title="JSTOR">JSTOR</a>&#160;<a rel="nofollow" class="external text" href="http://www.jstor.org/stable/2689213">2689213</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Are+the+twin+circles+of+Archimedes+really+twins%3F&amp;rft.jtitle=Mathematics+Magazine&amp;rft.aulast=Bankoff&amp;rft.aufirst=L.&amp;rft.au=Bankoff%2C%26%2332%3BL.&amp;rft.date=1974&amp;rft.volume=47&amp;rft.pages=214%E2%80%93218&amp;rft.jstor=2689213&amp;rfr_id=info:sid/en.wikipedia.org:Bankoff_circle"><span style="display: none;">&#160;</span></span>.</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><span class="citation" id="CITEREFDodgeSchochWooYiu1999">Dodge, Clayton W.; Schoch, Thomas; Woo, Peter Y.; Yiu, Paul (1999), "Those ubiquitous Archimedean circles", <i>Mathematics Magazine</i> <b>72</b> (3): 202213, <a href="/wiki/JSTOR" title="JSTOR">JSTOR</a>&#160;<a rel="nofollow" class="external text" href="http://www.jstor.org/stable/2690883">2690883</a></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Those+ubiquitous+Archimedean+circles&amp;rft.jtitle=Mathematics+Magazine&amp;rft.aulast=Dodge&amp;rft.aufirst=Clayton+W.&amp;rft.au=Dodge%2C%26%2332%3BClayton+W.&amp;rft.au=Schoch%2C%26%2332%3BThomas&amp;rft.au=Woo%2C%26%2332%3BPeter+Y.&amp;rft.au=Yiu%2C%26%2332%3BPaul&amp;rft.date=1999&amp;rft.volume=72&amp;rft.issue=3&amp;rft.pages=202%E2%80%93213&amp;rft.jstor=2690883&amp;rfr_id=info:sid/en.wikipedia.org:Bankoff_circle"><span style="display: none;">&#160;</span></span>.</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><span class="citation" id="CITEREF.C4.8Cerin2006">erin, Zvonko (2006), <a rel="nofollow" class="external text" href="http://web.math.unizg.hr/~cerin/c139.pdf">"Configurations on centers of Bankoff circles"</a>, <i>Far East Journal of Mathematical Sciences</i> <b>22</b> (3): 305320<span class="printonly">, <a rel="nofollow" class="external free" href="http://web.math.unizg.hr/~cerin/c139.pdf">http://web.math.unizg.hr/~cerin/c139.pdf</a></span></span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Configurations+on+centers+of+Bankoff+circles&amp;rft.jtitle=Far+East+Journal+of+Mathematical+Sciences&amp;rft.aulast=%C4%8Cerin&amp;rft.aufirst=Zvonko&amp;rft.au=%C4%8Cerin%2C%26%2332%3BZvonko&amp;rft.date=2006&amp;rft.volume=22&amp;rft.issue=3&amp;rft.pages=305%E2%80%93320&amp;rft_id=http%3A%2F%2Fweb.math.unizg.hr%2F%7Ecerin%2Fc139.pdf&amp;rfr_id=info:sid/en.wikipedia.org:Bankoff_circle"><span style="display: none;">&#160;</span></span>.</span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Bankoff_circle&amp;action=&amp;section=4" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Bankoff_Circle"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/BankoffCircle.html">Bankoff Circle</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><a rel="nofollow" class="external text" href="http://demonstrations.wolfram.com/BankoffCircle/">Bankoff Circle</a> by Jay Warendorff, the <a href="/wiki/Wolfram_Demonstrations_Project" title="Wolfram Demonstrations Project">Wolfram Demonstrations Project</a>.</li>
<li><a rel="nofollow" class="external text" href="http://home.planet.nl/~lamoen/wiskunde/Arbelos/Catalogue.htm">Online catalogue of Archimedean circles</a>, Floor van Lamoen.</li>
</ul>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Elementary_geometry" title="Elementary geometry" class="mw-redirect">Elementary geometry related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Bankoff_circle&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Elementary-geometry-stub" title="Template:Elementary-geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Elementary-geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Elementary-geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Elementary-geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 2512/1000000
Post-expand include size: 20405/2048000 bytes
Template argument size: 3894/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:16857243-0!0!0!!en!4!* and timestamp 20120320181600 -->
