<div class="thumb tright">
<div class="thumbinner" style="width:482px;"><a href="/wiki/File:Conway_relational_chart.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Conway_relational_chart.png/480px-Conway_relational_chart.png" width="480" height="325" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Conway_relational_chart.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
This example chart shows how 11 new forms can be derived from the cube using 3 operations. The new polyhedra are shown as maps on the surface of the cube so the topological changes are more apparent. Vertices are marked in all forms with circles.</div>
</div>
</div>
<p><b>Conway polyhedron notation</b> is used to describe <a href="/wiki/Polyhedron" title="Polyhedron">polyhedra</a> based on a seed polyhedron modified by various <a href="/wiki/Operation_(mathematics)" title="Operation (mathematics)">operations</a>.</p>
<p>The seed polyhedra are the <a href="/wiki/Platonic_solid" title="Platonic solid">Platonic solids</a>, represented by their first letter of their name (T,O,C,I,D); the <a href="/wiki/Prism_(geometry)" title="Prism (geometry)">prisms</a> (P<i>n</i>), <a href="/wiki/Antiprism" title="Antiprism">antiprisms</a> (A<i>n</i>) and <a href="/wiki/Pyramid_(geometry)" title="Pyramid (geometry)">pyramids</a> (Y<i>n</i>). Any convex polyhedron can serve as a seed, as long as the operations can be executed on it.</p>
<p><a href="/wiki/John_Horton_Conway" title="John Horton Conway">John Conway</a> extended the idea of using operators, like <a href="/wiki/Truncation_(geometry)" title="Truncation (geometry)">truncation</a> defined by <a href="/wiki/Kepler" title="Kepler" class="mw-redirect">Kepler</a>, to build related polyhedra of the same symmetry. His descriptive operators can generate all the <a href="/wiki/Archimedean_solid" title="Archimedean solid">Archimedean solids</a> and <a href="/wiki/Catalan_solid" title="Catalan solid">Catalan solids</a> from regular seeds. Applied in a series, these operators allow many higher order polyhedra to be generated.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Operations_on_polyhedra"><span class="tocnumber">1</span> <span class="toctext">Operations on polyhedra</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Examples"><span class="tocnumber">2</span> <span class="toctext">Examples</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Generating_regular_seeds"><span class="tocnumber">3</span> <span class="toctext">Generating regular seeds</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Extensions_to_Conway.27s_symbols"><span class="tocnumber">4</span> <span class="toctext">Extensions to Conway's symbols</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Geometric_coordinates_of_derived_forms"><span class="tocnumber">5</span> <span class="toctext">Geometric coordinates of derived forms</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Other_polyhedra"><span class="tocnumber">6</span> <span class="toctext">Other polyhedra</span></a>
<ul>
<li class="toclevel-2 tocsection-7"><a href="#Tetrahedral_symmetry"><span class="tocnumber">6.1</span> <span class="toctext">Tetrahedral symmetry</span></a></li>
<li class="toclevel-2 tocsection-8"><a href="#Octahedral_symmetry"><span class="tocnumber">6.2</span> <span class="toctext">Octahedral symmetry</span></a></li>
<li class="toclevel-2 tocsection-9"><a href="#Icosahedral_symmetry"><span class="tocnumber">6.3</span> <span class="toctext">Icosahedral symmetry</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-10"><a href="#See_also"><span class="tocnumber">7</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#References"><span class="tocnumber">8</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#External_links_and_references"><span class="tocnumber">9</span> <span class="toctext">External links and references</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Conway_polyhedron_notation&amp;action=&amp;section=1" title="Edit section: Operations on polyhedra"></a>]</span> <span class="mw-headline" id="Operations_on_polyhedra">Operations on <a href="/wiki/Polyhedra" title="Polyhedra" class="mw-redirect">polyhedra</a></span></h2>
<p>Elements are given from the seed (v,e,f) to the new forms, assuming seed is a convex polyhedron: (a topological sphere, <a href="/wiki/Euler_characteristic" title="Euler characteristic">Euler characteristic</a>=2)</p>
<table class="wikitable">
<tr>
<th>Operator</th>
<th>Name</th>
<th>Alternate<br />
construction</th>
<th>vertices</th>
<th>edges</th>
<th>faces</th>
<th>Description</th>
</tr>
<tr bgcolor="#E0F0E0">
<th></th>
<th>Seed</th>
<td></td>
<td>v</td>
<td>e</td>
<td>f</td>
<td>Seed form</td>
</tr>
<tr bgcolor="#E0F0E0">
<th><b>r</b></th>
<th>Reflect<br />
(Hart)</th>
<td></td>
<td>v</td>
<td>e</td>
<td>f</td>
<td>Mirror image for chiral forms</td>
</tr>
<tr bgcolor="#E0F0E0">
<th><b>d</b></th>
<th><a href="/wiki/Dual_polyhedron" title="Dual polyhedron">dual</a></th>
<td></td>
<td>f</td>
<td>e</td>
<td>v</td>
<td>dual of the seed polyhedron - each vertex creates a new face</td>
</tr>
<tr bgcolor="#F0E0E0">
<th><b>a</b></th>
<th>ambo</th>
<td></td>
<td>e</td>
<td>2e</td>
<td>2+e</td>
<td>The edges are new vertices, while old vertices disappear. (<a href="/wiki/Rectification_(geometry)" title="Rectification (geometry)">rectify</a>)</td>
</tr>
<tr bgcolor="#F0E0E0">
<th><b>j</b></th>
<th>join</th>
<td><i>da</i></td>
<td>e+2</td>
<td>2e</td>
<td>e</td>
<td>The seed is augmented with pyramids at a height high enough so that 2 coplanar triangles from 2 different pyramids share an edge.</td>
</tr>
<tr bgcolor="#E0E0F0">
<th><b>t</b></th>
<th><a href="/wiki/Truncation_(geometry)" title="Truncation (geometry)">truncate</a></th>
<td><i>dkd</i></td>
<td>2e</td>
<td>3e</td>
<td>e+2</td>
<td>truncate all vertices.</td>
</tr>
<tr bgcolor="#E0E0F0">
<th>--</th>
<th>--</th>
<td><i>dk</i></td>
<td>2e</td>
<td>3e</td>
<td>e+2</td>
<td>Dual of kis, (<a href="/wiki/Bitruncation" title="Bitruncation">bitruncation</a>)</td>
</tr>
<tr bgcolor="#E0E0F0">
<th>--</th>
<th>--</th>
<td>kd</td>
<td>e+2</td>
<td>3e</td>
<td>2e</td>
<td>Kis of dual</td>
</tr>
<tr bgcolor="#E0E0F0">
<th><b>k</b></th>
<th><a href="/wiki/Kleetope" title="Kleetope">kis</a></th>
<td><i>dtd</i></td>
<td>e+2</td>
<td>3e</td>
<td>2e</td>
<td>raises a pyramid on each face.</td>
</tr>
<tr bgcolor="#E0E0F0">
<th><b>c</b></th>
<th><a href="/wiki/Chamfer" title="Chamfer">chamfer</a></th>
<td></td>
<td>e+v</td>
<td>4e</td>
<td>2e+f</td>
<td>New hexagonal faces are added in place of edges.</td>
</tr>
<tr bgcolor="#E0E0F0">
<th>-</th>
<th>-</th>
<td><i>dc</i></td>
<td>2e+f</td>
<td>4e</td>
<td>e+v</td>
<td></td>
</tr>
<tr bgcolor="#F0E0E0">
<th><b>e</b></th>
<th><a href="/wiki/Expansion_(geometry)" title="Expansion (geometry)">expand</a></th>
<td><i>aa</i></td>
<td>2e</td>
<td>4e</td>
<td>2e+2</td>
<td>Each vertex creates a new face and each edge creates a new quadrilateral. (<a href="/wiki/Cantellation_(geometry)" title="Cantellation (geometry)">cantellate</a>)</td>
</tr>
<tr bgcolor="#F0E0E0">
<th><b>o</b></th>
<th>ortho</th>
<td><i>de</i></td>
<td>2e+2</td>
<td>4e</td>
<td>2e</td>
<td>Each <i>n</i>-gon faces are divided into n quadrilaterals.</td>
</tr>
<tr bgcolor="#F0E0E0">
<th><b>p</b></th>
<th>propellor<br />
(Hart)</th>
<td></td>
<td>v+2e</td>
<td>4e</td>
<td>e+f</td>
<td>A face rotation that creates quadrilaterals at vertices (self-dual)</td>
</tr>
<tr bgcolor="#F0E0E0">
<th>-</th>
<th>-</th>
<td>dp</td>
<td>e+f</td>
<td>4e</td>
<td>v+2e</td>
<td></td>
</tr>
<tr bgcolor="#E0E0F0">
<th><b>s</b></th>
<th><a href="/wiki/Snub_(geometry)" title="Snub (geometry)" class="mw-redirect">snub</a></th>
<td><i>dg</i></td>
<td>2e</td>
<td>5e</td>
<td>3e+2</td>
<td>"expand and twist" - each vertex creates a new face and each edge creates two new triangles</td>
</tr>
<tr bgcolor="#E0E0F0">
<th><b>g</b></th>
<th>gyro</th>
<td><i>ds</i></td>
<td>3e+2</td>
<td>5e</td>
<td>2e</td>
<td>Each <i>n</i>-gon face is divided into <i>n</i> pentagons.</td>
</tr>
<tr bgcolor="#F0E0E0">
<th><b>b</b></th>
<th>bevel</th>
<td><i>ta</i></td>
<td>4e</td>
<td>6e</td>
<td>2e+2</td>
<td>New faces are added in place of edges and vertices, <a href="/wiki/Omnitruncation" title="Omnitruncation">Omnitruncation</a> (Known as cantitruncation in higher polytopes).</td>
</tr>
<tr bgcolor="#F0E0E0">
<th><b>m</b></th>
<th>meta</th>
<td><i>db</i> &amp; <i>kj</i></td>
<td>2e+2</td>
<td>6e</td>
<td>4e</td>
<td>n-gon faces are divided into <i>2n</i> triangles</td>
</tr>
</table>
<p>Special forms</p>
<dl>
<dd>The kis operator has a variation, <b>k</b><i>n</i>, which only adds pyramids to n-sided faces.</dd>
<dd>The truncate operator has a variation, <b>t</b><i>n</i>, which only truncates order-n vertices.</dd>
</dl>
<p>The operators are applied like functions from right to left. For example:</p>
<ul>
<li>the dual of a <a href="/wiki/Tetrahedron" title="Tetrahedron">tetrahedron</a> is <i>dT</i>;</li>
<li>the <a href="/wiki/Truncation" title="Truncation">truncation</a> of a cube is <i>t3C</i> or <i>tC</i>;</li>
<li>the <a href="/wiki/Truncation" title="Truncation">truncation</a> of a <a href="/wiki/Cuboctahedron" title="Cuboctahedron">Cuboctahedron</a> is <i>t4aC</i> or <i>taC</i>.</li>
</ul>
<p>All operations are <i>symmetry-preserving</i> except twisting ones like <b>s</b> and <b>g</b> which lose reflection symmetry.</p>
<h2><span class="section">[<a href="/w/index.php?title=Conway_polyhedron_notation&amp;action=&amp;section=2" title="Edit section: Examples"></a>]</span> <span class="mw-headline" id="Examples">Examples</span></h2>
<p>The <a href="/wiki/Cube" title="Cube">cube</a> can generate all the convex <a href="/wiki/Octahedral_symmetry" title="Octahedral symmetry">Octahedral symmetry</a> <a href="/wiki/Uniform_polyhedron" title="Uniform polyhedron">uniform polyhedra</a>. The first row generates the <a href="/wiki/Archimedean_solid" title="Archimedean solid">Archimedean solids</a> and the second row the <a href="/wiki/Catalan_solid" title="Catalan solid">Catalan solids</a>, the second row forms being duals of the first. Comparing each new <a href="/wiki/Polyhedron" title="Polyhedron">polyhedron</a> with the cube, each operation can be visually understood. (Two polyhedron forms don't have single operator names given by Conway.)</p>
<table class="wikitable">
<tr>
<th><a href="/wiki/Cube" title="Cube">Cube</a><br />
"seed"</th>
<th>ambo<br />
<a href="/wiki/Rectification_(geometry)" title="Rectification (geometry)">(rectify)</a></th>
<th><a href="/wiki/Truncation_(geometry)" title="Truncation (geometry)">truncate</a></th>
<th><a href="/wiki/Bitruncation" title="Bitruncation">bitruncate</a></th>
<th><a href="/wiki/Expansion_(geometry)" title="Expansion (geometry)"><b>expand</b></a><br />
<a href="/wiki/Cantellation_(geometry)" title="Cantellation (geometry)">(cantellate)</a></th>
<th>bevel<br />
<a href="/wiki/Omnitruncation_(geometry)" title="Omnitruncation (geometry)" class="mw-redirect">(omnitruncate)</a></th>
<th><a href="/wiki/Snub_(geometry)" title="Snub (geometry)" class="mw-redirect">snub</a></th>
</tr>
<tr>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_polyhedron-43-t0.png" class="image"><img alt="Uniform polyhedron-43-t0.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Uniform_polyhedron-43-t0.png/64px-Uniform_polyhedron-43-t0.png" width="64" height="64" /></a><br />
<a href="/wiki/Cube" title="Cube">C</a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_polyhedron-43-t1.png" class="image"><img alt="Uniform polyhedron-43-t1.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/58/Uniform_polyhedron-43-t1.png/64px-Uniform_polyhedron-43-t1.png" width="64" height="64" /></a><br />
<a href="/wiki/Cuboctahedron" title="Cuboctahedron">aC = djC</a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_polyhedron-43-t01.png" class="image"><img alt="Uniform polyhedron-43-t01.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Uniform_polyhedron-43-t01.png/64px-Uniform_polyhedron-43-t01.png" width="64" height="64" /></a><br />
<a href="/wiki/Truncated_cube" title="Truncated cube">tC = dkdC</a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_polyhedron-43-t12.png" class="image"><img alt="Uniform polyhedron-43-t12.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Uniform_polyhedron-43-t12.png/64px-Uniform_polyhedron-43-t12.png" width="64" height="64" /></a><br />
<a href="/wiki/Truncated_octahedron" title="Truncated octahedron">tdC = dkC</a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_polyhedron-43-t02.png" class="image"><img alt="Uniform polyhedron-43-t02.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Uniform_polyhedron-43-t02.png/64px-Uniform_polyhedron-43-t02.png" width="64" height="64" /></a><br />
<a href="/wiki/Rhombicuboctahedron" title="Rhombicuboctahedron">eC = aaC = doC</a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_polyhedron-43-t012.png" class="image"><img alt="Uniform polyhedron-43-t012.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Uniform_polyhedron-43-t012.png/64px-Uniform_polyhedron-43-t012.png" width="64" height="64" /></a><br />
<a href="/wiki/Truncated_cuboctahedron" title="Truncated cuboctahedron">bC = taC = dmC = dkjC</a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_polyhedron-43-s012.png" class="image"><img alt="Uniform polyhedron-43-s012.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Uniform_polyhedron-43-s012.png/64px-Uniform_polyhedron-43-s012.png" width="64" height="64" /></a><br />
<a href="/wiki/Snub_cube" title="Snub cube">sC = dgC</a></td>
</tr>
<tr>
<th><a href="/wiki/Dual_polyhedron" title="Dual polyhedron">dual</a></th>
<th>join</th>
<th></th>
<th>kis<br />
(vertex-bisect)</th>
<th>ortho<br />
(edge-bisect)</th>
<th>meta<br />
(full-bisect)</th>
<th>gyro</th>
</tr>
<tr>
<td align="center"><a href="/wiki/File:Uniform_polyhedron-43-t2.png" class="image"><img alt="Uniform polyhedron-43-t2.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Uniform_polyhedron-43-t2.png/64px-Uniform_polyhedron-43-t2.png" width="64" height="64" /></a><br />
<a href="/wiki/Octahedron" title="Octahedron">dC</a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Rhombicdodecahedron.jpg" class="image"><img alt="Rhombicdodecahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Rhombicdodecahedron.jpg/75px-Rhombicdodecahedron.jpg" width="75" height="67" /></a><br />
<a href="/wiki/Rhombic_dodecahedron" title="Rhombic dodecahedron">jC = daC</a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Triakisoctahedron.jpg" class="image"><img alt="Triakisoctahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Triakisoctahedron.jpg/64px-Triakisoctahedron.jpg" width="64" height="70" /></a><br />
<a href="/wiki/Triakis_octahedron" title="Triakis octahedron">kdC = dtC</a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Tetrakishexahedron.jpg" class="image"><img alt="Tetrakishexahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/61/Tetrakishexahedron.jpg/64px-Tetrakishexahedron.jpg" width="64" height="61" /></a><br />
<a href="/wiki/Tetrakis_hexahedron" title="Tetrakis hexahedron">kC = dtdC</a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Deltoidalicositetrahedron.jpg" class="image"><img alt="Deltoidalicositetrahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Deltoidalicositetrahedron.jpg/64px-Deltoidalicositetrahedron.jpg" width="64" height="63" /></a><br />
<a href="/wiki/Deltoidal_icositetrahedron" title="Deltoidal icositetrahedron">oC = deC = daaC</a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Disdyakisdodecahedron.jpg" class="image"><img alt="Disdyakisdodecahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/10/Disdyakisdodecahedron.jpg/64px-Disdyakisdodecahedron.jpg" width="64" height="67" /></a><br />
<a href="/wiki/Disdyakis_dodecahedron" title="Disdyakis dodecahedron">mC = dbC = kjC</a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Pentagonalicositetrahedronccw.jpg" class="image"><img alt="Pentagonalicositetrahedronccw.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Pentagonalicositetrahedronccw.jpg/64px-Pentagonalicositetrahedronccw.jpg" width="64" height="63" /></a><br />
<a href="/wiki/Pentagonal_icositetrahedron" title="Pentagonal icositetrahedron">gC = dsC</a></td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Conway_polyhedron_notation&amp;action=&amp;section=3" title="Edit section: Generating regular seeds"></a>]</span> <span class="mw-headline" id="Generating_regular_seeds">Generating regular seeds</span></h2>
<p>All of the five regular polyhedra can be generated from prismatic generators with zero to two operators:</p>
<ul>
<li><b><a href="/wiki/Triangular_pyramid" title="Triangular pyramid" class="mw-redirect">Triangular pyramid</a>: Y3</b> (A tetrahedron is a special pyramid)
<ul>
<li>T = Y3</li>
<li>O = aY3 (Rectified tetrahedron)</li>
<li>C = daY3 (dual to rectified tetrahedron)</li>
<li>I = sY3 (snub tetrahedron)</li>
<li>D = dsY3 (dual to snub tetrahedron)</li>
</ul>
</li>
<li><b><a href="/wiki/Antiprism" title="Antiprism">Triangular antiprism</a>: A3</b> (An octahedron is a special antiprism)
<ul>
<li>O = A3</li>
<li>C = dA3</li>
</ul>
</li>
<li><b><a href="/wiki/Prism_(geometry)" title="Prism (geometry)">Square prism</a>: P4</b> (A cube is a special prism)
<ul>
<li>C = P4</li>
</ul>
</li>
<li><b><a href="/wiki/Pentagonal_antiprism" title="Pentagonal antiprism">Pentagonal antiprism</a>: A5</b>
<ul>
<li>I = k5A5 (A special <a href="/wiki/Gyroelongated_dipyramid" title="Gyroelongated dipyramid" class="mw-redirect">gyroelongated dipyramid</a>)</li>
<li>D = t5dA5 (A special <a href="/wiki/Truncated_trapezohedron" title="Truncated trapezohedron">truncated trapezohedron</a>)</li>
</ul>
</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Conway_polyhedron_notation&amp;action=&amp;section=4" title="Edit section: Extensions to Conway's symbols"></a>]</span> <span class="mw-headline" id="Extensions_to_Conway.27s_symbols">Extensions to Conway's symbols</span></h2>
<p>The above operations allow all of the <a href="/wiki/Semiregular_polyhedron" title="Semiregular polyhedron">semiregular polyhedrons</a> and <a href="/wiki/Catalan_solid" title="Catalan solid">Catalan solids</a> to be generated from <a href="/wiki/Regular_polyhedron" title="Regular polyhedron">regular polyhedrons</a>. Combined many higher operations can be made, but many interesting higher order polyhedra require new operators to be constructed.</p>
<p>For example, geometric artist <a href="/wiki/George_W._Hart" title="George W. Hart">George W. Hart</a> created an operation he called a <i>propellor</i>, and another <i>reflect</i> to create mirror images of the rotated forms.</p>
<ul>
<li><b>p</b> - "propellor" (A rotation operator that creates <a href="/wiki/Quadrilateral" title="Quadrilateral">quadrilaterals</a> at the vertices). This operation is self-dual: dpX=pdX.</li>
<li><b>r</b> - "reflect" - makes the mirror image of the seed; it has no effect unless the seed was made with <b>s</b> or <b>p</b>.</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Conway_polyhedron_notation&amp;action=&amp;section=5" title="Edit section: Geometric coordinates of derived forms"></a>]</span> <span class="mw-headline" id="Geometric_coordinates_of_derived_forms">Geometric coordinates of derived forms</span></h2>
<p>In general the seed polyhedron can be considered a tiling of a surface since the operators represent topological operations so the exact geometric positions of the vertices of the derived forms are not defined in general. A convex regular polyhedron seed can be considered a tiling on a sphere, and so the derived polyhedron can equally be assumed to be positioned on the surface of a sphere. Similar a regular tiling on a plane, such as a <a href="/wiki/Hexagonal_tiling" title="Hexagonal tiling">hexagonal tiling</a> can be a seed tiling for derived tilings. Nonconvex polyhedra can become seeds if a related topological surface is defined to constrain the positions of the vertices. For example <a href="/wiki/Torus" title="Torus">torus</a>-shaped polyhedra can derive other polyhedra with point on the same torus surface.</p>
<table class="wikitable">
<caption>Example: A <a href="/wiki/Dodecahedron" title="Dodecahedron">dodecahedron</a> seed as a spherical tiling</caption>
<tr align="center">
<td><a href="/wiki/File:Uniform_tiling_532-t0.png" class="image"><img alt="Uniform tiling 532-t0.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/86/Uniform_tiling_532-t0.png/120px-Uniform_tiling_532-t0.png" width="120" height="121" /></a><br />
<a href="/wiki/Dodecahedron" title="Dodecahedron">D</a></td>
<td><a href="/wiki/File:Uniform_tiling_532-t01.png" class="image"><img alt="Uniform tiling 532-t01.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Uniform_tiling_532-t01.png/120px-Uniform_tiling_532-t01.png" width="120" height="122" /></a><br />
<a href="/wiki/Truncated_dodecahedron" title="Truncated dodecahedron">tD</a></td>
<td><a href="/wiki/File:Uniform_tiling_532-t1.png" class="image"><img alt="Uniform tiling 532-t1.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/85/Uniform_tiling_532-t1.png/120px-Uniform_tiling_532-t1.png" width="120" height="121" /></a><br />
<a href="/wiki/Icosidodecahedron" title="Icosidodecahedron">aD</a></td>
<td><a href="/wiki/File:Uniform_tiling_532-t12.png" class="image"><img alt="Uniform tiling 532-t12.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/19/Uniform_tiling_532-t12.png/120px-Uniform_tiling_532-t12.png" width="120" height="121" /></a><br />
<a href="/wiki/Truncated_icosahedron" title="Truncated icosahedron">tdD</a></td>
<td><a href="/wiki/File:Uniform_tiling_532-t02.png" class="image"><img alt="Uniform tiling 532-t02.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Uniform_tiling_532-t02.png/120px-Uniform_tiling_532-t02.png" width="120" height="120" /></a><br />
<a href="/wiki/Rhombicosidodecahedron" title="Rhombicosidodecahedron">eD</a></td>
<td><a href="/wiki/File:Uniform_tiling_532-t012.png" class="image"><img alt="Uniform tiling 532-t012.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/55/Uniform_tiling_532-t012.png/120px-Uniform_tiling_532-t012.png" width="120" height="120" /></a><br />
<a href="/wiki/Truncated_icosidodecahedron" title="Truncated icosidodecahedron">teD</a></td>
<td><a href="/wiki/File:Spherical_snub_dodecahedron.png" class="image"><img alt="Spherical snub dodecahedron.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/34/Spherical_snub_dodecahedron.png/120px-Spherical_snub_dodecahedron.png" width="120" height="121" /></a><br />
<a href="/wiki/Snub_dodecahedron" title="Snub dodecahedron">sD</a></td>
</tr>
<tr align="center">
<td><a href="/wiki/File:Uniform_tiling_532-t2.png" class="image"><img alt="Uniform tiling 532-t2.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Uniform_tiling_532-t2.png/120px-Uniform_tiling_532-t2.png" width="120" height="120" /></a><br />
<a href="/wiki/Icosahedron" title="Icosahedron">dD</a></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><a href="/wiki/File:Icosahedral_reflection_domains.png" class="image"><img alt="Icosahedral reflection domains.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Icosahedral_reflection_domains.png/120px-Icosahedral_reflection_domains.png" width="120" height="120" /></a><br />
<a href="/wiki/Disdyakis_triacontahedron" title="Disdyakis triacontahedron">dteD</a></td>
<td></td>
</tr>
</table>
<table class="wikitable">
<caption>Example: An Euclidean <a href="/wiki/Hexagonal_tiling" title="Hexagonal tiling">hexagonal tiling</a> seed (H)</caption>
<tr>
<td align="center"><a href="/wiki/File:Uniform_tiling_63-t0.png" class="image"><img alt="Uniform tiling 63-t0.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/21/Uniform_tiling_63-t0.png/120px-Uniform_tiling_63-t0.png" width="120" height="120" /></a><br />
<a href="/wiki/Hexagonal_tiling" title="Hexagonal tiling">H</a></td>
<td align="center"><a href="/wiki/File:Uniform_tiling_63-t01.png" class="image"><img alt="Uniform tiling 63-t01.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Uniform_tiling_63-t01.png/120px-Uniform_tiling_63-t01.png" width="120" height="120" /></a><br />
<a href="/wiki/Truncated_hexagonal_tiling" title="Truncated hexagonal tiling">tH</a></td>
<td align="center"><a href="/wiki/File:Uniform_tiling_63-t1.png" class="image"><img alt="Uniform tiling 63-t1.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/61/Uniform_tiling_63-t1.png/120px-Uniform_tiling_63-t1.png" width="120" height="120" /></a><br />
<a href="/wiki/Trihexagonal_tiling" title="Trihexagonal tiling">aH</a></td>
<td align="center"><a href="/wiki/File:Uniform_tiling_63-t12.png" class="image"><img alt="Uniform tiling 63-t12.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Uniform_tiling_63-t12.png/120px-Uniform_tiling_63-t12.png" width="120" height="120" /></a><br />
<a href="/wiki/Hexagonal_tiling" title="Hexagonal tiling">tdH = H</a></td>
<td align="center"><a href="/wiki/File:Uniform_tiling_63-t02.png" class="image"><img alt="Uniform tiling 63-t02.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Uniform_tiling_63-t02.png/120px-Uniform_tiling_63-t02.png" width="120" height="120" /></a><br />
<a href="/wiki/Rhombitrihexagonal_tiling" title="Rhombitrihexagonal tiling">eH</a></td>
<td align="center"><a href="/wiki/File:Uniform_tiling_63-t012.png" class="image"><img alt="Uniform tiling 63-t012.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Uniform_tiling_63-t012.png/120px-Uniform_tiling_63-t012.png" width="120" height="120" /></a><br />
<a href="/wiki/Truncated_trihexagonal_tiling" title="Truncated trihexagonal tiling">teH</a></td>
<td align="center"><a href="/wiki/File:Uniform_tiling_63-snub.png" class="image"><img alt="Uniform tiling 63-snub.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Uniform_tiling_63-snub.png/120px-Uniform_tiling_63-snub.png" width="120" height="120" /></a><br />
<a href="/wiki/Snub_hexagonal_tiling" title="Snub hexagonal tiling">sH</a></td>
</tr>
<tr>
<td align="center"><a href="/wiki/File:Uniform_tiling_63-t2.png" class="image"><img alt="Uniform tiling 63-t2.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/53/Uniform_tiling_63-t2.png/120px-Uniform_tiling_63-t2.png" width="120" height="120" /></a><br />
<a href="/wiki/Triangular_tiling" title="Triangular tiling">dH</a></td>
<td align="center"><a href="/wiki/File:Tiling_Dual_Semiregular_V3-12-12_Triakis_Triangular.svg" class="image"><img alt="Tiling Dual Semiregular V3-12-12 Triakis Triangular.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Tiling_Dual_Semiregular_V3-12-12_Triakis_Triangular.svg/120px-Tiling_Dual_Semiregular_V3-12-12_Triakis_Triangular.svg.png" width="120" height="120" /></a><br />
<a href="/wiki/Triakis_triangular_tiling" title="Triakis triangular tiling">dtH</a></td>
<td align="center"><a href="/wiki/File:Tiling_Dual_Semiregular_V3-6-3-6_Quasiregular_Rhombic.svg" class="image"><img alt="Tiling Dual Semiregular V3-6-3-6 Quasiregular Rhombic.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Tiling_Dual_Semiregular_V3-6-3-6_Quasiregular_Rhombic.svg/120px-Tiling_Dual_Semiregular_V3-6-3-6_Quasiregular_Rhombic.svg.png" width="120" height="120" /></a><br />
<a href="/wiki/Rhombille_tiling" title="Rhombille tiling">daH</a></td>
<td align="center"><a href="/wiki/File:Uniform_tiling_63-t2.png" class="image"><img alt="Uniform tiling 63-t2.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/53/Uniform_tiling_63-t2.png/120px-Uniform_tiling_63-t2.png" width="120" height="120" /></a><br />
<a href="/wiki/Triangular_tiling" title="Triangular tiling">dtdH = dH</a></td>
<td align="center"><a href="/wiki/File:Tiling_Dual_Semiregular_V3-4-6-4_Deltoidal_Trihexagonal.svg" class="image"><img alt="Tiling Dual Semiregular V3-4-6-4 Deltoidal Trihexagonal.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Tiling_Dual_Semiregular_V3-4-6-4_Deltoidal_Trihexagonal.svg/120px-Tiling_Dual_Semiregular_V3-4-6-4_Deltoidal_Trihexagonal.svg.png" width="120" height="120" /></a><br />
<a href="/wiki/Deltoidal_trihexagonal_tiling" title="Deltoidal trihexagonal tiling">deH</a></td>
<td align="center"><a href="/wiki/File:Tiling_Dual_Semiregular_V4-6-12_Bisected_Hexagonal.svg" class="image"><img alt="Tiling Dual Semiregular V4-6-12 Bisected Hexagonal.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Tiling_Dual_Semiregular_V4-6-12_Bisected_Hexagonal.svg/120px-Tiling_Dual_Semiregular_V4-6-12_Bisected_Hexagonal.svg.png" width="120" height="120" /></a><br />
<a href="/wiki/Bisected_hexagonal_tiling" title="Bisected hexagonal tiling">dteH</a></td>
<td align="center"><a href="/wiki/File:Tiling_Dual_Semiregular_V3-3-3-3-6_Floret_Pentagonal.svg" class="image"><img alt="Tiling Dual Semiregular V3-3-3-3-6 Floret Pentagonal.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/74/Tiling_Dual_Semiregular_V3-3-3-3-6_Floret_Pentagonal.svg/120px-Tiling_Dual_Semiregular_V3-3-3-3-6_Floret_Pentagonal.svg.png" width="120" height="120" /></a><br />
<a href="/wiki/Floret_pentagonal_tiling" title="Floret pentagonal tiling">dsH</a></td>
</tr>
</table>
<table class="wikitable">
<caption>Example: A transparent <a href="/wiki/Tetrahedron" title="Tetrahedron">Tetrahedron</a> seed (T)</caption>
<tr>
<td align="center"><a href="/wiki/File:Tetrahedron.jpg" class="image"><img alt="Tetrahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/83/Tetrahedron.jpg/120px-Tetrahedron.jpg" width="120" height="113" /></a><br />
<a href="/wiki/Tetrahedron" title="Tetrahedron">T</a></td>
<td align="center"><a href="/wiki/File:Truncatedtetrahedron.jpg" class="image"><img alt="Truncatedtetrahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Truncatedtetrahedron.jpg/120px-Truncatedtetrahedron.jpg" width="120" height="107" /></a><br />
<a href="/wiki/Truncated_tetrahedron" title="Truncated tetrahedron">tT</a></td>
<td align="center"><a href="/wiki/File:Octahedron.svg" class="image"><img alt="Octahedron.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/07/Octahedron.svg/120px-Octahedron.svg.png" width="120" height="119" /></a><br />
<a href="/wiki/Octahedron" title="Octahedron">aT</a></td>
<td align="center"><a href="/wiki/File:Truncatedtetrahedron.jpg" class="image"><img alt="Truncatedtetrahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Truncatedtetrahedron.jpg/120px-Truncatedtetrahedron.jpg" width="120" height="107" /></a><br />
<a href="/wiki/Truncated_tetrahedron" title="Truncated tetrahedron">tdT</a></td>
<td align="center"><a href="/wiki/File:Cuboctahedron.jpg" class="image"><img alt="Cuboctahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Cuboctahedron.jpg/120px-Cuboctahedron.jpg" width="120" height="118" /></a><br />
<a href="/wiki/Cuboctahedron" title="Cuboctahedron">eT</a></td>
<td align="center"><a href="/wiki/File:Truncatedoctahedron.jpg" class="image"><img alt="Truncatedoctahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Truncatedoctahedron.jpg/120px-Truncatedoctahedron.jpg" width="120" height="110" /></a><br />
<a href="/wiki/Truncated_octahedron" title="Truncated octahedron">bT</a></td>
<td align="center"><a href="/wiki/File:Icosahedron.jpg" class="image"><img alt="Icosahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Icosahedron.jpg/120px-Icosahedron.jpg" width="120" height="116" /></a><br />
<a href="/wiki/Icosahedron" title="Icosahedron">sT</a></td>
</tr>
<tr>
<td align="center"><a href="/wiki/File:Tetrahedron.jpg" class="image"><img alt="Tetrahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/83/Tetrahedron.jpg/120px-Tetrahedron.jpg" width="120" height="113" /></a><br />
<a href="/wiki/Tetrahedron" title="Tetrahedron">dT</a></td>
<td align="center"><a href="/wiki/File:Triakistetrahedron.jpg" class="image"><img alt="Triakistetrahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/de/Triakistetrahedron.jpg/120px-Triakistetrahedron.jpg" width="120" height="135" /></a><br />
<a href="/wiki/Triakis_tetrahedron" title="Triakis tetrahedron">dtT</a></td>
<td align="center"><a href="/wiki/File:Hexahedron.jpg" class="image"><img alt="Hexahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/78/Hexahedron.jpg/120px-Hexahedron.jpg" width="120" height="134" /></a><br />
<a href="/wiki/Cube" title="Cube">jT</a></td>
<td align="center"><a href="/wiki/File:Triakistetrahedron.jpg" class="image"><img alt="Triakistetrahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/de/Triakistetrahedron.jpg/120px-Triakistetrahedron.jpg" width="120" height="135" /></a><br />
<a href="/wiki/Triakis_tetrahedron" title="Triakis tetrahedron">kT</a></td>
<td align="center"><a href="/wiki/File:Rhombicdodecahedron.jpg" class="image"><img alt="Rhombicdodecahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Rhombicdodecahedron.jpg/120px-Rhombicdodecahedron.jpg" width="120" height="107" /></a><br />
<a href="/wiki/Rhombic_dodecahedron" title="Rhombic dodecahedron">oT</a></td>
<td align="center"><a href="/wiki/File:Tetrakishexahedron.jpg" class="image"><img alt="Tetrakishexahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/61/Tetrakishexahedron.jpg/120px-Tetrakishexahedron.jpg" width="120" height="115" /></a><br />
<a href="/wiki/Tetrakis_cube" title="Tetrakis cube" class="mw-redirect">mT</a></td>
<td align="center"><a href="/wiki/File:Dodecahedron.jpg" class="image"><img alt="Dodecahedron.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Dodecahedron.jpg/120px-Dodecahedron.jpg" width="120" height="117" /></a><br />
<a href="/wiki/Dodecahedron" title="Dodecahedron">gT</a></td>
</tr>
</table>
<table class="wikitable">
<caption>Example: A hyperbolic <a href="/wiki/Heptagonal_tiling" title="Heptagonal tiling">heptagonal tiling</a> seed</caption>
<tr>
<th>{7,3}<br />
"seed"</th>
<th><a href="/wiki/Truncation_(geometry)" title="Truncation (geometry)">truncate</a></th>
<th>ambo<br />
<a href="/wiki/Rectification_(geometry)" title="Rectification (geometry)">(rectify)</a></th>
<th><a href="/wiki/Bitruncation" title="Bitruncation">bitruncate</a></th>
<th><a href="/wiki/Expansion_(geometry)" title="Expansion (geometry)"><b>expand</b></a><br />
<a href="/wiki/Cantellation_(geometry)" title="Cantellation (geometry)">(cantellate)</a></th>
<th>bevel<br />
<a href="/wiki/Omnitruncation_(geometry)" title="Omnitruncation (geometry)" class="mw-redirect">(omnitruncate)</a></th>
<th><a href="/wiki/Snub_(geometry)" title="Snub (geometry)" class="mw-redirect">snub</a></th>
</tr>
<tr>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_tiling_73-t0.png" class="image"><img alt="Uniform tiling 73-t0.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Uniform_tiling_73-t0.png/120px-Uniform_tiling_73-t0.png" width="120" height="119" /></a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_tiling_73-t01.png" class="image"><img alt="Uniform tiling 73-t01.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Uniform_tiling_73-t01.png/120px-Uniform_tiling_73-t01.png" width="120" height="118" /></a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_tiling_73-t1.png" class="image"><img alt="Uniform tiling 73-t1.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Uniform_tiling_73-t1.png/120px-Uniform_tiling_73-t1.png" width="120" height="119" /></a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_tiling_73-t12.png" class="image"><img alt="Uniform tiling 73-t12.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/44/Uniform_tiling_73-t12.png/120px-Uniform_tiling_73-t12.png" width="120" height="118" /></a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_tiling_73-t02.png" class="image"><img alt="Uniform tiling 73-t02.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Uniform_tiling_73-t02.png/120px-Uniform_tiling_73-t02.png" width="120" height="118" /></a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_tiling_73-t012.png" class="image"><img alt="Uniform tiling 73-t012.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Uniform_tiling_73-t012.png/120px-Uniform_tiling_73-t012.png" width="120" height="118" /></a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Uniform_tiling_73-snub.png" class="image"><img alt="Uniform tiling 73-snub.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/21/Uniform_tiling_73-snub.png/120px-Uniform_tiling_73-snub.png" width="120" height="119" /></a></td>
</tr>
<tr>
<th><a href="/wiki/Dual_polyhedron" title="Dual polyhedron">dual</a></th>
<th></th>
<th>join</th>
<th>kis<br />
(vertex-bisect)</th>
<th>ortho<br />
(edge-bisect)</th>
<th>meta<br />
(full-bisect)</th>
<th>gyro</th>
</tr>
<tr>
<td align="center"><a href="/wiki/File:Uniform_tiling_73-t2.png" class="image"><img alt="Uniform tiling 73-t2.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Uniform_tiling_73-t2.png/120px-Uniform_tiling_73-t2.png" width="120" height="119" /></a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Ord7_triakis_triang_til.png" class="image"><img alt="Ord7 triakis triang til.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Ord7_triakis_triang_til.png/120px-Ord7_triakis_triang_til.png" width="120" height="120" /></a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Order73_qreg_rhombic_til.png" class="image"><img alt="Order73 qreg rhombic til.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Order73_qreg_rhombic_til.png/120px-Order73_qreg_rhombic_til.png" width="120" height="120" /></a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Order3_heptakis_heptagonal_til.png" class="image"><img alt="Order3 heptakis heptagonal til.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Order3_heptakis_heptagonal_til.png/120px-Order3_heptakis_heptagonal_til.png" width="120" height="120" /></a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Deltoidal_triheptagonal_til.png" class="image"><img alt="Deltoidal triheptagonal til.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Deltoidal_triheptagonal_til.png/120px-Deltoidal_triheptagonal_til.png" width="120" height="120" /></a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Order-3_heptakis_heptagonal_tiling.png" class="image"><img alt="Order-3 heptakis heptagonal tiling.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Order-3_heptakis_heptagonal_tiling.png/120px-Order-3_heptakis_heptagonal_tiling.png" width="120" height="120" /></a></td>
<td align="center" valign="bottom"><a href="/wiki/File:Ord7_3_floret_penta_til.png" class="image"><img alt="Ord7 3 floret penta til.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Ord7_3_floret_penta_til.png/120px-Ord7_3_floret_penta_til.png" width="120" height="120" /></a></td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Conway_polyhedron_notation&amp;action=&amp;section=6" title="Edit section: Other polyhedra"></a>]</span> <span class="mw-headline" id="Other_polyhedra">Other polyhedra</span></h2>
<p>Iterating operators on simple forms can produce progressively larger polyhedra, maintaining the fundamental symmetry of the seed element. The vertices are assumed to be on the same spherical radius. Some generated forms can exist as spherical tilings, but fail to produce polyhedra with planar faces.</p>
<h3><span class="section">[<a href="/w/index.php?title=Conway_polyhedron_notation&amp;action=&amp;section=7" title="Edit section: Tetrahedral symmetry"></a>]</span> <span class="mw-headline" id="Tetrahedral_symmetry">Tetrahedral symmetry</span></h3>
<ul class="gallery">
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:17px auto;"><a href="/wiki/File:Truncated_triakis_tetrahedron.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/96/Truncated_triakis_tetrahedron.png/120px-Truncated_triakis_tetrahedron.png" width="120" height="116" /></a></div>
</div>
<div class="gallerytext">
<p><a href="/wiki/Truncated_triakis_tetrahedron" title="Truncated triakis tetrahedron">Truncated triakis tetrahedron</a><br />
"t6dtT"</p>
</div>
</div>
</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Conway_polyhedron_notation&amp;action=&amp;section=8" title="Edit section: Octahedral symmetry"></a>]</span> <span class="mw-headline" id="Octahedral_symmetry">Octahedral symmetry</span></h3>
<ul class="gallery">
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Truncated_rhombic_dodecahedron2.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Truncated_rhombic_dodecahedron2.png/120px-Truncated_rhombic_dodecahedron2.png" width="120" height="120" /></a></div>
</div>
<div class="gallerytext">
<p><a href="/wiki/Truncated_rhombic_dodecahedron" title="Truncated rhombic dodecahedron">Truncated rhombic dodecahedron</a><br />
"t4daC"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Tetrakis_cuboctahedron.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Tetrakis_cuboctahedron.png/120px-Tetrakis_cuboctahedron.png" width="120" height="120" /></a></div>
</div>
<div class="gallerytext">
<p><a href="/wiki/Tetrakis_cuboctahedron" title="Tetrakis cuboctahedron">Tetrakis cuboctahedron</a><br />
"k4aC"</p>
</div>
</div>
</li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Conway_polyhedron_notation&amp;action=&amp;section=9" title="Edit section: Icosahedral symmetry"></a>]</span> <span class="mw-headline" id="Icosahedral_symmetry">Icosahedral symmetry</span></h3>
<p><i>Rhombic</i>:</p>
<ul class="gallery">
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:16.5px auto;"><a href="/wiki/File:Rhombic_enneacontahedron.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Rhombic_enneacontahedron.png/120px-Rhombic_enneacontahedron.png" width="120" height="117" /></a></div>
</div>
<div class="gallerytext">
<p><a href="/wiki/Rhombic_enneacontahedron" title="Rhombic enneacontahedron">Rhombic enneacontahedron</a><br />
"dakD"</p>
</div>
</div>
</li>
</ul>
<p>Triangular:</p>
<ul class="gallery">
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Conway_polyhedron_kD.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Conway_polyhedron_kD.png/114px-Conway_polyhedron_kD.png" width="114" height="120" /></a></div>
</div>
<div class="gallerytext">
<p><a href="/wiki/Pentakis_dodecahedron" title="Pentakis dodecahedron">Pentakis dodecahedron</a><br />
"kD"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Pentakis_icosidodecahedron.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Pentakis_icosidodecahedron.png/120px-Pentakis_icosidodecahedron.png" width="120" height="120" /></a></div>
</div>
<div class="gallerytext">
<p><a href="/wiki/Pentakis_icosidodecahedron" title="Pentakis icosidodecahedron">Pentakis icosidodecahedron</a><br />
"k5aD"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15.5px auto;"><a href="/wiki/File:Conway_polyhedron_K6k5tI.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Conway_polyhedron_K6k5tI.png/120px-Conway_polyhedron_K6k5tI.png" width="120" height="119" /></a></div>
</div>
<div class="gallerytext">
<p>"k6k5tI"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Conway_polyhedron_kt5daD.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Conway_polyhedron_kt5daD.png/120px-Conway_polyhedron_kt5daD.png" width="120" height="120" /></a></div>
</div>
<div class="gallerytext">
<p>"kt5daD"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15.5px auto;"><a href="/wiki/File:Conway_polyhedron_kdktI.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/81/Conway_polyhedron_kdktI.png/120px-Conway_polyhedron_kdktI.png" width="120" height="119" /></a></div>
</div>
<div class="gallerytext">
<p>"kdktI"<br />
"dtktI"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Conway_polyhedron_kdkt5daD.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Conway_polyhedron_kdkt5daD.png/120px-Conway_polyhedron_kdkt5daD.png" width="120" height="120" /></a></div>
</div>
<div class="gallerytext">
<p>"kdkt5daD"</p>
</div>
</div>
</li>
</ul>
<p>Dual triangular:</p>
<ul class="gallery">
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Truncated_icosahedron.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Truncated_icosahedron.png/120px-Truncated_icosahedron.png" width="120" height="120" /></a></div>
</div>
<div class="gallerytext">
<p><a href="/wiki/Truncated_icosahedron" title="Truncated icosahedron">Truncated icosahedron</a><br />
"dkD"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Truncated_rhombic_triacontahedron.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/39/Truncated_rhombic_triacontahedron.png/120px-Truncated_rhombic_triacontahedron.png" width="120" height="120" /></a></div>
</div>
<div class="gallerytext">
<p><a href="/wiki/Truncated_rhombic_triacontahedron" title="Truncated rhombic triacontahedron">Truncated rhombic triacontahedron</a><br />
"t5daD"<br />
"cD"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15.5px auto;"><a href="/wiki/File:Conway_polyhedron_Dk6k5tI.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/86/Conway_polyhedron_Dk6k5tI.png/120px-Conway_polyhedron_Dk6k5tI.png" width="120" height="119" /></a></div>
</div>
<div class="gallerytext">
<p>"dk6k5tI"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15.5px auto;"><a href="/wiki/File:Conway_polyhedron_dkt5daD.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Conway_polyhedron_dkt5daD.png/120px-Conway_polyhedron_dkt5daD.png" width="120" height="119" /></a></div>
</div>
<div class="gallerytext">
<p>"dkt5daD"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Conway_polyhedron_dkdktI.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/80/Conway_polyhedron_dkdktI.png/120px-Conway_polyhedron_dkdktI.png" width="120" height="120" /></a></div>
</div>
<div class="gallerytext">
<p>"tktI"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Conway_polyhedron_tkt5daD.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Conway_polyhedron_tkt5daD.png/120px-Conway_polyhedron_tkt5daD.png" width="120" height="120" /></a></div>
</div>
<div class="gallerytext">
<p>"tkt5daD"</p>
</div>
</div>
</li>
</ul>
<p>Triangular chiral:</p>
<ul class="gallery">
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15.5px auto;"><a href="/wiki/File:Pentagonalhexecontahedroncw.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Pentagonalhexecontahedroncw.jpg/120px-Pentagonalhexecontahedroncw.jpg" width="120" height="119" /></a></div>
</div>
<div class="gallerytext">
<p><a href="/wiki/Pentagonal_hexecontahedron" title="Pentagonal hexecontahedron">Pentagonal hexecontahedron</a><br />
"dsD"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Conway_polyhedron_K5sI.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/29/Conway_polyhedron_K5sI.png/119px-Conway_polyhedron_K5sI.png" width="119" height="120" /></a></div>
</div>
<div class="gallerytext">
<p><a href="/wiki/Pentakis_snub_dodecahedron" title="Pentakis snub dodecahedron">Pentakis snub dodecahedron</a><br />
"k5sD"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Conway_polyhedron_K5k6st.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Conway_polyhedron_K5k6st.png/119px-Conway_polyhedron_K5k6st.png" width="119" height="120" /></a></div>
</div>
<div class="gallerytext">
<p>"k5k6stI"<br />
"kdk5sD"</p>
</div>
</div>
</li>
</ul>
<p>Dual triangular chiral:</p>
<ul class="gallery">
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Snub_dodecahedron_ccw.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Snub_dodecahedron_ccw.png/120px-Snub_dodecahedron_ccw.png" width="120" height="120" /></a></div>
</div>
<div class="gallerytext">
<p>"sD"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="/wiki/File:Conway_polyhedron_Dk5sI.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/95/Conway_polyhedron_Dk5sI.png/120px-Conway_polyhedron_Dk5sI.png" width="120" height="120" /></a></div>
</div>
<div class="gallerytext">
<p>"dk5sD"</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:16px auto;"><a href="/wiki/File:Conway_polyhedron_Dk5k6st.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Conway_polyhedron_Dk5k6st.png/120px-Conway_polyhedron_Dk5k6st.png" width="120" height="118" /></a></div>
</div>
<div class="gallerytext">
<p>"dk5k6stI"<br />
"tk5sD"</p>
</div>
</div>
</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Conway_polyhedron_notation&amp;action=&amp;section=10" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Uniform_polyhedron#Convex_forms_and_fundamental_vertex_arrangements" title="Uniform polyhedron">Uniform polyhedra</a></li>
<li><a href="/wiki/Computer_graphics" title="Computer graphics">Computer graphics</a> <a href="/wiki/Algorithm" title="Algorithm">algorithms</a>:
<ul>
<li><a href="/wiki/Doo%E2%80%93Sabin_subdivision_surface" title="DooSabin subdivision surface">DooSabin subdivision surface</a> - <b>expand</b> operator</li>
<li><a href="/wiki/Catmull%E2%80%93Clark_subdivision_surface" title="CatmullClark subdivision surface">CatmullClark subdivision surface</a> - <b>ortho</b> operator</li>
</ul>
</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Conway_polyhedron_notation&amp;action=&amp;section=11" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><a href="/wiki/George_W._Hart" title="George W. Hart">George W. Hart</a>, <i>Sculpture based on Propellorized Polyhedra</i>, Proceedings of MOSAIC 2000, Seattle, WA, August, 2000, pp. 61-70 <a rel="nofollow" class="external autonumber" href="http://www.georgehart.com/propello/propello.html">[1]</a></li>
<li><a href="/wiki/John_Horton_Conway" title="John Horton Conway">John H. Conway</a>, Heidi Burgiel, Chaim Goodman-Strass, <i>The Symmetries of Things</i> 2008, <a href="/wiki/Special:BookSources/9781568812205" class="internal mw-magiclink-isbn">ISBN 978-1-56881-220-5</a>
<ul>
<li>Chapter 21: Naming the Archimedean and Catalan polyhedra and Tilings</li>
</ul>
</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Conway_polyhedron_notation&amp;action=&amp;section=12" title="Edit section: External links and references"></a>]</span> <span class="mw-headline" id="External_links_and_references">External links and references</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.georgehart.com/virtual-polyhedra/conway_notation.html">George Hart's Conway interpreter</a>: generates polyhedra in <a href="/wiki/VRML" title="VRML">VRML</a>, taking Conway notation as input
<ul>
<li><a rel="nofollow" class="external text" href="http://www.georgehart.com/virtual-polyhedra/naming.html">Polyhedra Names</a></li>
</ul>
</li>
<li><a rel="nofollow" class="external text" href="http://levskaya.github.com/polyhedronisme/">polyHdronisme</a>: generates polyhedra in HTML5 canvas, taking Conway notation as input</li>
<li><span class="citation mathworld" id="Reference-Mathworld-Conway_Polyhedron_Notation"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/ConwayPolyhedronNotation.html">Conway Polyhedron Notation</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><a rel="nofollow" class="external text" href="http://www.ac-noumea.nc/maths/amc/polyhedr/names_.htm">John Conway's notation</a></li>
<li><span class="citation mathworld" id="Reference-Mathworld-Truncation"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Truncation.html">Truncation</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span> (truncate)</li>
<li><span class="citation mathworld" id="Reference-Mathworld-Rectification"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Rectification.html">Rectification</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span> (ambo)</li>
<li><span class="citation mathworld" id="Reference-Mathworld-Cumulation_or_Apiculation"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Cumulation.html">Cumulation or Apiculation</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span> (kis)</li>
<li><a rel="nofollow" class="external text" href="http://www.os2fan2.com/gloss/pglossc.html#PGCONWAYOPER">Conway operators, PolyGloss, Wendy Krieger</a></li>
<li><a rel="nofollow" class="external text" href="http://homepage.mac.com/dmccooey/polyhedra/Derived.html">Derived Solids</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 180/1000000
Post-expand include size: 873/2048000 bytes
Template argument size: 205/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:5021705-0!*!0!!en!4!* and timestamp 20120326073641 -->
