<div class="dablink">For cross-sections in architecture and engineering, see <a href="/wiki/Multiview_orthographic_projection#Cross-section" title="Multiview orthographic projection">Multiview orthographic projection#Cross-section</a>.</div>
<table class="vertical-navbox" cellspacing="0px" style="float: right; clear: right; background-color: #f9f9f9; border: 1px solid #aaa; width:22em; margin: 0 0 1em 1em; padding: 0.2em; border-spacing: 0.4em 0; text-align: center; line-height: 1.4em; font-size: 88%; padding:0em; line-height:normal; font-size:100%; width:16em; border-spacing:2px 0px;" cellpadding="0px">
<tr>
<td class="" style="padding: 0.4em 0;"><a href="/wiki/File:Axonometric_projection.svg" class="image"><img alt="Axonometric projection.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Axonometric_projection.svg/120px-Axonometric_projection.svg.png" width="120" height="102" /></a></td>
</tr>
<tr>
<td class="" style="padding-top: 0.2em; line-height: 1.2em; padding:2px; margin:0px; line-height:normal; font-size: 90%; height:auto;">Part of a series on:</td>
</tr>
<tr>
<th class="" style="padding: 0.2em 0.4em 0.2em; padding-top: 0; font-size: 145%; line-height: 1.2em; padding:2px; margin:0px; line-height:normal; font-size:100%; height:auto;"><a href="/wiki/Graphical_projection" title="Graphical projection">Graphical projection</a></th>
</tr>
<tr>
<td class="" style="padding-top: 0.2em; padding-bottom: 0.2em;&#160;;">
<div class="NavFrame collapsed" style="border: none; padding: 0; padding:0em; margin:0px; line-height:normal; font-size:100%; height:auto; border:none;;">
<div class="NavHead" style="font-size: 105%; background: transparent; text-align: left; padding:2px; margin:0px; line-height:normal; font-size:100%; height:auto;;"><a href="/wiki/Planar_projection" title="Planar projection">Planar</a></div>
<div class="NavContent" style="font-size: 105%; padding: 0.2em 0 0.4em; text-align: center; padding:2px; margin:0px; line-height:normal; font-size: 90%; height:auto; text-align:left;;">
<ul>
<li><a href="/wiki/Parallel_projection" title="Parallel projection">Parallel projection</a>
<ul>
<li><a href="/wiki/Orthographic_projection" title="Orthographic projection">Orthographic projection</a>
<ul>
<li><a href="/wiki/Multiview_orthographic_projection" title="Multiview orthographic projection">Multiviews</a>
<ul>
<li><i>Plan</i>, or <a href="/wiki/Floor_plan" title="Floor plan">floor plan</a></li>
<li><i>Section</i></li>
<li><i>Elevation</i></li>
<li><i>Auxiliary</i></li>
</ul>
</li>
<li><a href="/wiki/Axonometric_projection" title="Axonometric projection">Axonometric projection</a> (i.e. pictorials)
<ul>
<li><a href="/wiki/Isometric_projection" title="Isometric projection">Isometric projection</a></li>
<li><i>Dimetric projection</i></li>
<li><i>Trimetric projection</i></li>
</ul>
</li>
</ul>
</li>
<li><a href="/wiki/Oblique_projection" title="Oblique projection">Oblique projection</a>
<ul>
<li><i>Cavalier projection</i></li>
<li><i>Cabinet projection</i></li>
</ul>
</li>
</ul>
</li>
<li><a href="/wiki/Perspective_(graphical)" title="Perspective (graphical)">Perspective projection</a>
<ul>
<li><i>Linear perspective</i>
<ul>
<li><a href="/wiki/One-point_perspective" title="One-point perspective" class="mw-redirect">One-point perspective</a></li>
<li><a href="/wiki/Two-point_perspective" title="Two-point perspective" class="mw-redirect">Two-point perspective</a></li>
<li><a href="/wiki/Three-point_perspective" title="Three-point perspective" class="mw-redirect">Three-point perspective</a></li>
<li><a href="/wiki/Zero-point_perspective" title="Zero-point perspective" class="mw-redirect">Zero-point perspective</a></li>
</ul>
</li>
<li><a href="/wiki/Curvilinear_perspective" title="Curvilinear perspective">Curvilinear perspective</a></li>
<li><a href="/wiki/Reverse_perspective" title="Reverse perspective">Reverse perspective</a></li>
</ul>
</li>
</ul>
</div>
</div>
</td>
</tr>
<tr>
<td class="" style="padding-bottom: 0.2em;&#160;;">
<div class="NavFrame collapsed" style="border: none; padding: 0; padding:0em; margin:0px; line-height:normal; font-size:100%; height:auto; border:none;;">
<div class="NavHead" style="font-size: 105%; background: transparent; text-align: left; padding:2px; margin:0px; line-height:normal; font-size:100%; height:auto;;">Other</div>
<div class="NavContent" style="font-size: 105%; padding: 0.2em 0 0.4em; text-align: center; padding:2px; margin:0px; line-height:normal; font-size: 90%; height:auto; text-align:left;;">
<ul>
<li><a href="/wiki/3D_projection" title="3D projection">3D projection</a></li>
<li><a href="/wiki/Stereographic_projection" title="Stereographic projection">Stereographic projection</a></li>
<li><a href="/wiki/Anamorphosis" title="Anamorphosis">Anamorphic projection</a></li>
</ul>
</div>
</div>
</td>
</tr>
<tr>
<td class="" style="padding-bottom: 0.2em;&#160;;">
<div class="NavFrame collapsed" style="border: none; padding: 0; padding:0em; margin:0px; line-height:normal; font-size:100%; height:auto; border:none;;">
<div class="NavHead" style="font-size: 105%; background: transparent; text-align: left; padding:2px; margin:0px; line-height:normal; font-size:100%; height:auto;;">Views</div>
<div class="NavContent" style="font-size: 105%; padding: 0.2em 0 0.4em; text-align: center; padding:2px; margin:0px; line-height:normal; font-size: 90%; height:auto; text-align:left;;">
<ul>
<li><a href="/wiki/Bird%27s-eye_view" title="Bird's-eye view">Bird's-eye view/Aerial view</a></li>
<li><i>Detail view</i></li>
<li><a href="/wiki/3/4_perspective" title="3/4 perspective" class="mw-redirect">3/4 perspective</a></li>
<li><a href="/wiki/Cutaway_drawing" title="Cutaway drawing">Cutaway drawing</a></li>
<li><a href="/wiki/Exploded_view_drawing" title="Exploded view drawing">Exploded view drawing</a></li>
<li><a href="/wiki/Fisheye_lens" title="Fisheye lens">Fisheye</a></li>
<li><a href="/wiki/Fixed_3D" title="Fixed 3D" class="mw-redirect">Fixed 3D</a></li>
<li><a href="/wiki/Panorama" title="Panorama">Panorama</a></li>
<li><a href="/wiki/Top-down_perspective" title="Top-down perspective" class="mw-redirect">Top-down perspective</a></li>
<li><a href="/wiki/Worm%27s-eye_view" title="Worm's-eye view">Worm's-eye view</a></li>
<li><a href="/wiki/Zoom_lens" title="Zoom lens">Zoom</a></li>
</ul>
</div>
</div>
</td>
</tr>
<tr>
<td class="" style="padding-bottom: 0.2em;&#160;;">
<div class="NavFrame collapsed" style="border: none; padding: 0; padding:0em; margin:0px; line-height:normal; font-size:100%; height:auto; border:none;;">
<div class="NavHead" style="font-size: 105%; background: transparent; text-align: left; padding:2px; margin:0px; line-height:normal; font-size:100%; height:auto;;">Topics</div>
<div class="NavContent" style="font-size: 105%; padding: 0.2em 0 0.4em; text-align: center; padding:2px; margin:0px; line-height:normal; font-size: 90%; height:auto; text-align:left;;">
<ul>
<li><a href="/wiki/Computer_graphics" title="Computer graphics">Computer graphics</a></li>
<li><a href="/wiki/Computer-aided_design" title="Computer-aided design">Computer-aided design</a></li>
<li><a href="/wiki/Descriptive_geometry" title="Descriptive geometry">Descriptive geometry</a></li>
<li><a href="/wiki/Engineering_drawing" title="Engineering drawing">Engineering drawing</a></li>
<li><a href="/wiki/Foreshortening" title="Foreshortening" class="mw-redirect">Foreshortening</a></li>
<li><a href="/wiki/Map_projection" title="Map projection">Map projection</a></li>
<li><a href="/wiki/Projective_geometry" title="Projective geometry">Projective geometry</a></li>
<li><a href="/wiki/Technical_drawing" title="Technical drawing">Technical drawing</a></li>
<li><a href="/wiki/Vanishing_point" title="Vanishing point">Vanishing point</a></li>
<li><a href="/wiki/Video_game_graphics" title="Video game graphics">Video game graphics</a></li>
</ul>
</div>
</div>
</td>
</tr>
<tr>
<td style="text-align: right; font-size: 115%; padding-top: 0.6em; padding:2px; margin:0px; line-height:normal; font-size:100%; height:auto;">
<div class="noprint plainlinks hlist navbar mini" style="">
<ul>
<li class="nv-view"><a href="/wiki/Template:Views" title="Template:Views"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Views" title="Template talk:Views"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Views&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, a <b>cross-section</b> is the <a href="/wiki/Intersection_(set_theory)" title="Intersection (set theory)">intersection</a> of a figure in 2-dimensional space with a line, or of a body in 3-dimensional space with a plane, etc. More plainly, when cutting an object into slices one gets many parallel cross-sections.</p>
<p><a href="/wiki/Cavalieri%27s_principle" title="Cavalieri's principle">Cavalieri's principle</a> states that solids with corresponding cross-sections of equal areas have equal volumes.</p>
<p>The cross-sectional area (<img class="tex" alt="A'" src="//upload.wikimedia.org/wikipedia/en/math/3/7/a/37a12b78a9ca96989ad7ceceacb37ea2.png" />) of an object when viewed from a particular angle is the total area of the orthographic projection of the object from that angle. For example, a cylinder of height <i>h</i> and radius <i>r</i> has <img class="tex" alt="A' = \pi r^2" src="//upload.wikimedia.org/wikipedia/en/math/c/7/6/c76bb4a924b7aafd0df1f767cb45c8f9.png" /> when viewed along its central axis, and <img class="tex" alt="A' = 2 rh" src="//upload.wikimedia.org/wikipedia/en/math/f/6/7/f674964bfeb35c79f2d8e7ea27a9657e.png" /> when viewed from an orthogonal direction. A sphere of radius <i>r</i> has <img class="tex" alt="A' = \pi r^2" src="//upload.wikimedia.org/wikipedia/en/math/c/7/6/c76bb4a924b7aafd0df1f767cb45c8f9.png" /> when viewed from any angle. More generically, <img class="tex" alt="A'" src="//upload.wikimedia.org/wikipedia/en/math/3/7/a/37a12b78a9ca96989ad7ceceacb37ea2.png" /> can be calculated by evaluating the following surface integral:</p>
<dl>
<dd><img class="tex" alt=" A' = \iint \limits_\mathrm{top}  d\mathbf{A}  \cdot  \mathbf{\hat{r}}, " src="//upload.wikimedia.org/wikipedia/en/math/7/7/5/7750722cb26f83fc5e95de0b64b0d5a8.png" /></dd>
</dl>
<p>where <img class="tex" alt="\mathbf{\hat{r}}" src="//upload.wikimedia.org/wikipedia/en/math/5/5/f/55f4a71409b265f10c99376b58ba68dd.png" /> is a unit vector pointing along the viewing direction toward the viewer, <img class="tex" alt="d\mathbf{A}" src="//upload.wikimedia.org/wikipedia/en/math/7/8/1/78150f4d0b6b916596a0113b29c7112c.png" /> is a surface element with outward-pointing normal, and the integral is taken only over the top-most surface, that part of the surface that is "visible" from the perspective of the viewer. For a <a href="/wiki/Convex_body" title="Convex body">convex body</a>, each ray through the object from the viewer's perspective crosses just two surfaces. For such objects, the integral may be taken over the entire surface (<img class="tex" alt="A" src="//upload.wikimedia.org/wikipedia/en/math/7/f/c/7fc56270e7a70fa81a5935b72eacbe29.png" />) by taking the absolute value of the integrand (so that the "top" and "bottom" of the object do not subtract away, as would be required by the <a href="/wiki/Divergence_Theorem" title="Divergence Theorem" class="mw-redirect">Divergence Theorem</a> applied to the constant vector field <img class="tex" alt="\mathbf{\hat{r}}" src="//upload.wikimedia.org/wikipedia/en/math/5/5/f/55f4a71409b265f10c99376b58ba68dd.png" />) and dividing by two:</p>
<dl>
<dd><img class="tex" alt=" A' = \frac{1}{2} \iint \limits_A  | d\mathbf{A}  \cdot  \mathbf{\hat{r}}| " src="//upload.wikimedia.org/wikipedia/en/math/6/d/7/6d70b47fc2bf49a20028f9f7294699d0.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Cross_section_(geometry)&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png" width="30" height="40" /></td>
<td class="mbox-text" style="">Wikimedia Commons has media related to: <i><b><a class="external text" href="//commons.wikimedia.org/wiki/Category:Cross_sections">Cross sections</a></b></i></td>
</tr>
</table>
<ul>
<li><a href="/wiki/Descriptive_geometry" title="Descriptive geometry">Descriptive geometry</a></li>
<li><a href="/wiki/Exploded_view_drawing" title="Exploded view drawing">Exploded view drawing</a></li>
<li><a href="/wiki/Graphical_projection" title="Graphical projection">Graphical projection</a></li>
<li><a href="/wiki/Plans_(drawings)" title="Plans (drawings)" class="mw-redirect">Plans (drawings)</a></li>
</ul>
<p><br /></p>
<table class="metadata plainlinks stub" style="background: transparent;">
<tr>
<td><a href="/wiki/File:POV-Ray-Dodecahedron.svg" class="image"><img alt="Stub icon" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/66/POV-Ray-Dodecahedron.svg/30px-POV-Ray-Dodecahedron.svg.png" width="30" height="30" /></a></td>
<td><i>This <a href="/wiki/Geometry" title="Geometry">geometry-related</a> article is a <a href="/wiki/Wikipedia:Stub" title="Wikipedia:Stub">stub</a>. You can help Wikipedia by <a class="external text" href="//en.wikipedia.org/w/index.php?title=Cross_section_(geometry)&amp;action=">expanding it</a>.</i>
<div class="noprint plainlinks hlist navbar mini" style="position: absolute; right: 15px; display: none;">
<ul>
<li class="nv-view"><a href="/wiki/Template:Geometry-stub" title="Template:Geometry-stub"><span title="View this template" style="">v</span></a></li>
<li class="nv-talk"><a href="/w/index.php?title=Template_talk:Geometry-stub&amp;action=&amp;redlink=1" class="new" title="Template talk:Geometry-stub (page does not exist)"><span title="Discuss this template" style="">t</span></a></li>
<li class="nv-"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Geometry-stub&amp;action="><span title="Edit this template" style="">e</span></a></li>
</ul>
</div>
</td>
</tr>
</table>


<!-- 
NewPP limit report
Preprocessor node count: 1440/1000000
Post-expand include size: 35874/2048000 bytes
Template argument size: 17279/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:1337370-0!0!0!*!*!4!* and timestamp 20120404175902 -->
