<p>The <b>crossed ladders problem</b> is a <a href="/wiki/Puzzle" title="Puzzle">puzzle</a> of unknown origin that has appeared in various publications and regularly reappears in Web pages and <a href="/wiki/Usenet" title="Usenet">Usenet</a> discussions.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#The_problem"><span class="tocnumber">1</span> <span class="toctext">The problem</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Solution_summary"><span class="tocnumber">2</span> <span class="toctext">Solution summary</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#Setting_up_the_quartic_equation"><span class="tocnumber">2.1</span> <span class="toctext">Setting up the quartic equation</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-4"><a href="#References"><span class="tocnumber">3</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#External_links"><span class="tocnumber">4</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Crossed_ladders_problem&amp;action=&amp;section=1" title="Edit section: The problem"></a>]</span> <span class="mw-headline" id="The_problem">The problem</span></h2>
<p>Two ladders of lengths <i>a</i> = 40 and <i>b</i> = 30 feet lie oppositely across an alley, as shown. The ladders cross at a height of <i>h</i> = 12 feet above the alley floor. What is the width of the alley?</p>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:CrossedLadders.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/CrossedLadders.png/220px-CrossedLadders.png" width="220" height="212" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:CrossedLadders.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Crossed ladders. <i>h</i> is half the harmonic mean of <i>A</i> and <i>B</i></div>
</div>
</div>
<p><b>History and comment:</b> Martin Gardner presents and discusses the problem in his book of mathematical puzzles published in 1979 and cites references to it as early as 1895. The Crossed Ladders Problem may appear in various forms, with variations in name, using various lengths and heights, or requesting unusual solutions such as cases where all values are integers. Its charm has been attributed to a seeming simplicity which can quickly devolve into an "algebraic mess" [characterization attributed by Gardner to D. F. Church].</p>
<p><b>Puzzle enthusiasts</b> are warned that an outline of the solution and discussion is presented here, that several of puzzle's more <i>charming</i> traps are therein avoided, and the enthusiast may wish to consider whether to continue reading beyond this comment. It may be enough to know whether a <a href="/wiki/Closed_form" title="Closed form">closed form</a> solution exists. It does, although it is unlikely to be attained without the aid of a sixteenth-century mathematical adept, which is further hint. Discussion of the solution follows.</p>
<h2><span class="section">[<a href="/w/index.php?title=Crossed_ladders_problem&amp;action=&amp;section=2" title="Edit section: Solution summary"></a>]</span> <span class="mw-headline" id="Solution_summary">Solution summary</span></h2>
<p>The problem may be reduced to the quartic equation <i>x</i><sup>&#160;3</sup>(<i>x</i>&#160;&#160;<i>c</i>)&#160;&#160;1&#160;=&#160;0, which can be solved by approximation methods, as suggested by Gardner, or the quartic may be solved in <a href="/wiki/Closed_form" title="Closed form">closed form</a> by <a href="/wiki/Quartic_equation#Summary_of_Ferrari.27s_method" title="Quartic equation" class="mw-redirect">Ferrari's method</a>. Once <i>x</i> is obtained, the width of the alley is readily calculated. A derivation of the quartic is outlined below. Note the potentially confusing fact that the requested unknown <i>w</i>, does not even appear!</p>
<h3><span class="section">[<a href="/w/index.php?title=Crossed_ladders_problem&amp;action=&amp;section=3" title="Edit section: Setting up the quartic equation"></a>]</span> <span class="mw-headline" id="Setting_up_the_quartic_equation">Setting up the quartic equation</span></h3>
<dl>
<dd><img class="tex" alt="A B = h (A + B) \, " src="//upload.wikimedia.org/wikipedia/en/math/c/9/b/c9bf3ce430b9e7677ef68ef8ebcfd842.png" />&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;(Eq 1: Three sneaky steps using similar triangles)</dd>
</dl>
<dl>
<dd><img class="tex" alt="a^2 - b^2 = (B + A) (B - A) \qquad{}" src="//upload.wikimedia.org/wikipedia/en/math/d/a/4/da4669b53a112a01a7d6bb0a6155c1fe.png" />&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;(Eq 2: Three easy steps, using the <a href="/wiki/Pythagorean_theorem" title="Pythagorean theorem">Pythagorean theorem</a>)</dd>
</dl>
<dl>
<dd><img class="tex" alt="(a^2 - b^2)^2 = (A+B)^3(A+B-4h) \," src="//upload.wikimedia.org/wikipedia/en/math/c/c/4/cc431a9bbb326ebf4acf1f8fdb0f023a.png" />&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;**(Eq 3: Square (Eq 2) and combine with (Eq 1))</dd>
</dl>
<p>Let</p>
<dl>
<dd><img class="tex" alt=" x = \frac{A + B}{\sqrt{a^2 - b^2}}, \," src="//upload.wikimedia.org/wikipedia/en/math/1/3/8/138e4e4e87449f8e2cd37b33e37f0db7.png" /></dd>
<dd><img class="tex" alt=" c = \frac{4 h}{\sqrt{a^2-b^2}}. \," src="//upload.wikimedia.org/wikipedia/en/math/6/7/0/6708110ebd5c4c4edc8b0471c6f7cf3a.png" /></dd>
</dl>
<p>Then</p>
<dl>
<dd><img class="tex" alt=" x^3(x-c)-1 = 0.\," src="//upload.wikimedia.org/wikipedia/en/math/4/d/0/4d02064a254cc1b7758a09875fed080c.png" />&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;(same as Eq 3)</dd>
</dl>
<p>Solve the above fourth power equation for <i>x</i> using your method of choice. Calculate the width of the alley using&#160;<i>x</i>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Crossed_ladders_problem&amp;action=&amp;section=4" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li>Gardner, M. Mathematical Circus: More Puzzles, Games, Paradoxes and Other Mathematical Entertainments from Scientific American. New York: Knopf, pp. 6264, 1979.</li>
</ul>
<p>A quartic equation has four solutions, and only one solution for this equation matches the problem as presented. Another solution is for a case where one ladder (and wall) is below ground level and the other above ground level. In this case the ladders do not actually cross, but the intersection of their extensions do so at the specified height. The other two solutions are a pair of conjugate complex numbers where presumably the imaginary dimension is normal to the plane of the diagram. The equation does not have the ladder lengths explicitly defined, only the difference of their squares, so one could take the length as any value that makes them cross, and the wall spacing would be defined as between where the ladders intersect the walls. Surprisingly as the wall spacing approaches zero, the height of the crossing approaches</p>
<pre>
a.b/(a+b)   
</pre>
<p>As the solutions to the equation involve square roots, negative roots are equally valid so both ladders and walls can be below ground level and with them in opposing sense, they can be interchanged.</p>
<h2><span class="section">[<a href="/w/index.php?title=Crossed_ladders_problem&amp;action=&amp;section=5" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Crossed_Ladders_Theorem"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/CrossedLaddersTheorem.html">Crossed Ladders Theorem</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
<li><a rel="nofollow" class="external text" href="http://demonstrations.wolfram.com/CrossedLaddersTheorem/">Crossed Ladders Theorem</a> by Jay Warendorff, the <a href="/wiki/Wolfram_Demonstrations_Project" title="Wolfram Demonstrations Project">Wolfram Demonstrations Project</a>.</li>
<li><a rel="nofollow" class="external text" href="http://users.softlab.ntua.gr/~ttsiod/ladders.html">Solving the crossing ladders puzzle (with Python, GNU GSL, Octave, Maxima and Sage)</a>.</li>
</ul>
<p>When the crossing point is not between the walls, (when one ladder is above ground and the other below)) then the maximum height of the crossing is given by a./(a - b)</p>


<!-- 
NewPP limit report
Preprocessor node count: 85/1000000
Post-expand include size: 234/2048000 bytes
Template argument size: 67/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:5203398-0!0!0!!en!4!* and timestamp 20120302060924 -->
