<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, the <b>inscribed sphere</b> or <b>insphere</b> of a <a href="/wiki/Convex_polyhedron" title="Convex polyhedron" class="mw-redirect">convex polyhedron</a> is a <a href="/wiki/Sphere" title="Sphere">sphere</a> that is contained within the polyhedron and <a href="/wiki/Tangent" title="Tangent">tangent</a> to each of the polyhedron's faces. It is the largest sphere that is contained wholly within the polyhedron, and is <a href="/wiki/Dual" title="Dual">dual</a> to the <a href="/wiki/Dual_polyhedron" title="Dual polyhedron">dual polyhedron</a>'s <a href="/wiki/Circumsphere" title="Circumsphere" class="mw-redirect">circumsphere</a>.</p>
<p>All <a href="/wiki/Regular_polyhedra" title="Regular polyhedra" class="mw-redirect">regular polyhedra</a> have inscribed spheres, but some irregular polyhedra do not have all facets tangent to a common sphere, although it is still possible to define the largest contained sphere for such shapes. For such cases, the notion of an <b>insphere</b> does not seem to have been properly defined and various interpretations of an <i>insphere</i> are to be found:</p>
<ul>
<li>The sphere tangent to all faces (if one exists).</li>
<li>The sphere tangent to all face planes (if one exists).</li>
<li>The sphere tangent to a given set of faces (if one exists).</li>
<li>The largest sphere that can fit inside the polyhedron.</li>
</ul>
<p>Often these spheres coincide, leading to confusion as to exactly what properties define the insphere for polyhedra where they do not coincide.</p>
<p>For example the regular <a href="/wiki/Small_stellated_dodecahedron" title="Small stellated dodecahedron">small stellated dodecahedron</a> has a sphere tangent to all faces, while a larger sphere can still be fitted inside the polyhedron. Which is the insphere? Important authorities such as Coxeter or Cundy &amp; Rollett are clear enough that the face-tangent sphere is the insphere. Again, such authorities agree that the <a href="/wiki/Archimedean_solid" title="Archimedean solid">Archimedean polyhedra</a> (having regular faces and equivalent vertices) have no inspheres while the Archimedean dual or <a href="/wiki/Catalan_solid" title="Catalan solid">Catalan</a> polyhedra do have inspheres. But many authors fail to respect such distinctions and assume other definitions for the 'inspheres' of their polyhedra.</p>
<p>The radius of the sphere inscribed in a polyhedron <i>P</i> is called the <b>inradius</b> of <i>P</i>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Inscribed_sphere&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Circumscribed_sphere" title="Circumscribed sphere">Circumscribed sphere</a></li>
<li><a href="/wiki/Midsphere" title="Midsphere">Midsphere</a></li>
<li><a href="/wiki/Inscribed_circle" title="Inscribed circle" class="mw-redirect">Inscribed circle</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Inscribed_sphere&amp;action=&amp;section=2" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li>Coxeter, H.S.M. <i>Regular polytopes</i> 3rd Edn. Dover (1973).</li>
<li>Cundy, H.M. and Rollett, A.P. <i>Mathematical Models</i>, 2nd Edn. OUP (1961).</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Inscribed_sphere&amp;action=&amp;section=3" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Insphere"><a href="/wiki/Eric_W._Weisstein" title="Eric W. Weisstein">Weisstein, Eric W.</a>, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Insphere.html">Insphere</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 23/1000000
Post-expand include size: 191/2048000 bytes
Template argument size: 24/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:991786-0!*!0!!*!*!* and timestamp 20120229125621 generated by srv204 -->
