<div class="dablink">"Interior angle" redirects here. For interior angles on the same side of the transversal, see <a href="/wiki/Transversal_line" title="Transversal line" class="mw-redirect">Transversal line</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:302px;"><a href="/wiki/File:ExternalAngles.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/51/ExternalAngles.svg/300px-ExternalAngles.svg.png" width="300" height="237" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:ExternalAngles.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Internal and External angles</div>
</div>
</div>
<p>In <a href="/wiki/Geometry" title="Geometry">geometry</a>, an <b>interior angle</b> (or <b>internal angle</b>) is an <a href="/wiki/Angle" title="Angle">angle</a> formed by two sides of a <a href="/wiki/Polygon" title="Polygon">polygon</a> that share an endpoint. For a simple, convex or concave of the polygon, this angle will be an angle on the 'inner side' of the polygon. A polygon has exactly one internal angle per <a href="/wiki/Vertex_(geometry)" title="Vertex (geometry)">vertex</a>.</p>
<p>If every internal angle of a simple, closed polygon is less than 180, the polygon is called <a href="/wiki/Convex_polygon" title="Convex polygon" class="mw-redirect">convex</a>.</p>
<p>In contrast, an <b>exterior angle</b> (or <b>external angle</b>) is an angle formed by one side of a simple, closed polygon and a line extended from an adjacent side.</p>
<p>The sum of the internal angle and the external angle on the same vertex is 180.</p>
<p>The sum of all the internal angles of a simple, closed polygon is 180(<i>n</i>-2) where <i>n</i> is the number of sides. The formula can by proved using mathematical induction and starting with a triangle for which the angle sum is 180, and then adding a vertex and two sides, etc.</p>
<p>The sum of the external angles of any simple closed (convex or concave) polygon is 360.</p>
<p>The concept of 'interior angle' can be extended in a consistent way to crossed polygons such as star polygons by using the concept of 'directed angles'. In general, the interior angle sum in degrees of any closed polygon, including crossed (self-intersecting) ones, is then given by 180(<i>n</i>-2<i>k</i>) where <i>n</i> is the number of vertices and <i>k</i> = 0, 1, 2, 3 ... represents the number of total revolutions of 360 one undergoes walking around the perimeter of the polygon. In other words, 360<i>k</i> represents the sum of all the exterior angles. For example, for ordinary convex and concave polygons <i>k</i> = 1, since the exterior angle sum = 360 and one undergoes only one full revolution walking around the perimeter.</p>
<h2><span class="section">[<a href="/w/index.php?title=Internal_and_external_angle&amp;action=&amp;section=1" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;"></div>
<h2><span class="section">[<a href="/w/index.php?title=Internal_and_external_angle&amp;action=&amp;section=2" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.mathopenref.com/triangleinternalangles.html">Internal angles of a triangle</a></li>
<li><a rel="nofollow" class="external text" href="http://dynamicmathematicslearning.com/star_pentagon.html">Interior angle sum of polygons: a general formula</a>, Provides an interactive Java activity that extends the interior angle sum formula for simple closed polygons to include crossed (complex) polygons</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 79/1000000
Post-expand include size: 523/2048000 bytes
Template argument size: 343/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:524003-0!*!0!!*!4!* and timestamp 20120301134316 -->
