<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Kepler_triangle.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Kepler_triangle.svg/220px-Kepler_triangle.svg.png" width="220" height="202" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Kepler_triangle.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A <b>Kepler triangle</b> is a right triangle formed by three squares with areas in geometric progression according to the <b><a href="/wiki/Golden_ratio" title="Golden ratio">golden ratio</a></b>.</div>
</div>
</div>
<p>A <b>Kepler triangle</b> is a <a href="/wiki/Special_right_triangle" title="Special right triangle" class="mw-redirect">right triangle</a> with edge lengths in <a href="/wiki/Geometric_progression" title="Geometric progression">geometric progression</a>. The ratio of the edges of a Kepler triangle are linked to the <a href="/wiki/Golden_ratio" title="Golden ratio">golden ratio</a></p>
<dl>
<dd><img class="tex" alt="\varphi = {1 + \sqrt{5} \over 2}" src="//upload.wikimedia.org/wikipedia/en/math/4/f/4/4f476312beb17c59c80fc921afeba817.png" /></dd>
</dl>
<p>and can be written: <img class="tex" alt=" 1&#160;: \sqrt\varphi&#160;: \varphi" src="//upload.wikimedia.org/wikipedia/en/math/e/0/d/e0dfa4ebab211a136caf62a94c930936.png" />, or approximately <b>1&#160;: 1.272&#160;: 1.618</b>.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> The squares of the edges of this triangle (see figure) are in <a href="/wiki/Geometric_progression" title="Geometric progression">geometric progression</a> according to the <a href="/wiki/Golden_ratio" title="Golden ratio">golden ratio</a>.</p>
<p>Triangles with such ratios are named after the German <a href="/wiki/Mathematician" title="Mathematician">mathematician</a> and <a href="/wiki/Astronomer" title="Astronomer">astronomer</a> <b><a href="/wiki/Johannes_Kepler" title="Johannes Kepler">Johannes Kepler</a></b> (<a href="/wiki/1571" title="1571">1571</a><a href="/wiki/1630" title="1630">1630</a>), who first demonstrated that this triangle is characterised by a ratio between short side and hypotenuse equal to the golden ratio.<sup id="cite_ref-livio_1-0" class="reference"><a href="#cite_note-livio-1"><span>[</span>2<span>]</span></a></sup> Kepler triangles combine two key mathematical conceptsthe <a href="/wiki/Pythagorean_theorem" title="Pythagorean theorem">Pythagorean theorem</a> and the <a href="/wiki/Golden_ratio" title="Golden ratio">golden ratio</a>that fascinated Kepler deeply, as he expressed in this quotation:</p>
<blockquote class="templatequote">
<div class="Bug6200">Geometry has two great treasures: one is the theorem of Pythagoras, the other the division of a line into mean and extreme ratio. The first we may compare to a mass of gold, the second we may call a precious jewel.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></div>
<div class="templatequotecite"> <a href="/wiki/Johannes_Kepler" title="Johannes Kepler">Johannes Kepler</a></div>
</blockquote>
<p>Some sources claim that a triangle with dimensions closely approximating a Kepler triangle can be recognized in the <a href="/wiki/Great_Pyramid_of_Giza" title="Great Pyramid of Giza">Great Pyramid of Giza</a>.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>4<span>]</span></a></sup><sup id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>5<span>]</span></a></sup></p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Derivation"><span class="tocnumber">1</span> <span class="toctext">Derivation</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Relation_to_arithmetic.2C_geometric.2C_and_harmonic_mean"><span class="tocnumber">2</span> <span class="toctext">Relation to arithmetic, geometric, and harmonic mean</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Constructing_a_Kepler_triangle"><span class="tocnumber">3</span> <span class="toctext">Constructing a Kepler triangle</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#A_mathematical_coincidence"><span class="tocnumber">4</span> <span class="toctext">A mathematical coincidence</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Kepler_triangle&amp;action=&amp;section=1" title="Edit section: Derivation"></a>]</span> <span class="mw-headline" id="Derivation">Derivation</span></h2>
<p>The fact that a triangle with edges <img class="tex" alt="1" src="//upload.wikimedia.org/wikipedia/en/math/c/4/c/c4ca4238a0b923820dcc509a6f75849b.png" />, <img class="tex" alt="\sqrt\varphi" src="//upload.wikimedia.org/wikipedia/en/math/9/c/2/9c2b4909f4d3a50cb0b5469a255d1f11.png" /> and <img class="tex" alt="\varphi" src="//upload.wikimedia.org/wikipedia/en/math/3/5/3/3538eb9c84efdcbd130c4c953781cfdb.png" />, forms a right triangle follows directly from rewriting the defining quadratic polynomial for the golden ratio <img class="tex" alt="\varphi" src="//upload.wikimedia.org/wikipedia/en/math/3/5/3/3538eb9c84efdcbd130c4c953781cfdb.png" />:</p>
<dl>
<dd><img class="tex" alt="\varphi^2 = \varphi + 1 " src="//upload.wikimedia.org/wikipedia/en/math/3/b/e/3bed78a0d5d5c86b1c8634816e972ff0.png" /></dd>
</dl>
<p>into the form of the <a href="/wiki/Pythagorean_theorem" title="Pythagorean theorem">Pythagorean theorem</a>:</p>
<dl>
<dd><img class="tex" alt="(\varphi)^2 = (\sqrt\varphi)^2 + (1)^2. " src="//upload.wikimedia.org/wikipedia/en/math/5/0/a/50a19617c5b4f1d3b920f5a6470092e4.png" /></dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Kepler_triangle&amp;action=&amp;section=2" title="Edit section: Relation to arithmetic, geometric, and harmonic mean"></a>]</span> <span class="mw-headline" id="Relation_to_arithmetic.2C_geometric.2C_and_harmonic_mean">Relation to arithmetic, geometric, and harmonic mean</span></h2>
<p>For positive real numbers <i>a</i> and <i>b</i>, their <a href="/wiki/Arithmetic_mean" title="Arithmetic mean">arithmetic mean</a>, <a href="/wiki/Geometric_mean" title="Geometric mean">geometric mean</a>, and <a href="/wiki/Harmonic_mean" title="Harmonic mean">harmonic mean</a> are the lengths of the sides of a right triangle if and only if that triangle is a Kepler triangle.<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"><span>[</span>6<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Kepler_triangle&amp;action=&amp;section=3" title="Edit section: Constructing a Kepler triangle"></a>]</span> <span class="mw-headline" id="Constructing_a_Kepler_triangle">Constructing a Kepler triangle</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Kepler_Triangle_Construction.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Kepler_Triangle_Construction.svg/220px-Kepler_Triangle_Construction.svg.png" width="220" height="266" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Kepler_Triangle_Construction.svg" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
A method to construct a Kepler triangle via a <a href="/wiki/Golden_rectangle" title="Golden rectangle">golden rectangle</a></div>
</div>
</div>
<p>A Kepler triangle can be <a href="/wiki/Compass_and_straightedge_constructions" title="Compass and straightedge constructions">constructed with only straightedge and compass</a> by first creating a <a href="/wiki/Golden_rectangle" title="Golden rectangle">golden rectangle</a>:</p>
<ol>
<li>Construct a simple square</li>
<li>Draw a line from the midpoint of one side of the square to an opposite corner</li>
<li>Use that line as the radius to draw an arc that defines the height of the rectangle</li>
<li>Complete the golden rectangle</li>
<li>Use the longer side of the golden rectangle to draw an arc that intersects the opposite side of the rectangle and defines the <a href="/wiki/Hypotenuse" title="Hypotenuse">hypotenuse</a> of the Kepler triangle</li>
</ol>
<p>Kepler constructed it differently. In a letter to his former professor <a href="/wiki/Michael_M%C3%A4stlin" title="Michael Mstlin" class="mw-redirect">Michael Mstlin</a>, he wrote, "If on a line which is divided in extreme and mean ratio one constructs a right angled triangle, such that the right angle is on the perpendicular put at the section point, then the smaller leg will equal the larger segment of the divided line."<sup id="cite_ref-livio_1-1" class="reference"><a href="#cite_note-livio-1"><span>[</span>2<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Kepler_triangle&amp;action=&amp;section=4" title="Edit section: A mathematical coincidence"></a>]</span> <span class="mw-headline" id="A_mathematical_coincidence">A mathematical coincidence</span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:162px;"><a href="/wiki/File:Kepler_triangle_squaring_the_circle.gif" class="image"><img alt="construction" src="//upload.wikimedia.org/wikipedia/en/thumb/f/fc/Kepler_triangle_squaring_the_circle.gif/160px-Kepler_triangle_squaring_the_circle.gif" width="160" height="160" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Kepler_triangle_squaring_the_circle.gif" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The circle and the square have approximately the same perimeter</div>
</div>
</div>
<p>Take any Kepler triangle with sides <img class="tex" alt="a, a \sqrt{\varphi}, a \varphi," src="//upload.wikimedia.org/wikipedia/en/math/a/9/4/a94eac4d40d97bf00e40911fe313e32a.png" /> and consider:</p>
<ul>
<li>the circle that circumscribes it, and</li>
<li>a square with side equal to the middle-sized edge of the triangle.</li>
</ul>
<p>Then the <a href="/wiki/Perimeter" title="Perimeter">perimeters</a> of the square (<img class="tex" alt="4a \sqrt{\varphi}" src="//upload.wikimedia.org/wikipedia/en/math/9/1/a/91a39ccad2e4d448b2b05c3da36cad8a.png" />) and the circle (<img class="tex" alt="a \pi \varphi" src="//upload.wikimedia.org/wikipedia/en/math/8/e/b/8eb3eca667099178bdc1170bf0157ac5.png" />) coincide up to an error less than 0.1%.</p>
<p>This is the <a href="/wiki/Mathematical_coincidence" title="Mathematical coincidence">mathematical coincidence</a> <img class="tex" alt="\pi \approx 4/\sqrt\varphi" src="//upload.wikimedia.org/wikipedia/en/math/1/b/3/1b37858db8eaeb6e4a52f3cbfabb0ed1.png" />. The square and the circle cannot have exactly the same perimeter, because in that case one would be able to solve the classical (impossible) problem of the <a href="/wiki/Squaring_the_circle" title="Squaring the circle">quadrature of the circle</a>. In other words, <img class="tex" alt="\pi \neq 4/\sqrt\varphi" src="//upload.wikimedia.org/wikipedia/en/math/f/1/b/f1b2db7bb59992db3ae8a2fe6d92cc89.png" /> because <img class="tex" alt="\pi" src="//upload.wikimedia.org/wikipedia/en/math/5/2/2/522359592d78569a9eac16498aa7a087.png" /> is a <a href="/wiki/Transcendental_number" title="Transcendental number">transcendental number</a>.</p>
<p>According to some sources,<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"><span>[</span>7<span>]</span></a></sup><sup id="cite_ref-7" class="reference"><a href="#cite_note-7"><span>[</span>8<span>]</span></a></sup> Kepler triangles appear in the design of Egyptian pyramids, but the ancient Egyptians probably didn't know the mathematical coincidence involving the number <img class="tex" alt="\pi" src="//upload.wikimedia.org/wikipedia/en/math/5/2/2/522359592d78569a9eac16498aa7a087.png" /> and the golden ratio <img class="tex" alt="\phi" src="//upload.wikimedia.org/wikipedia/en/math/7/f/2/7f20aa0b3691b496aec21cf356f63e04.png" />.</p>
<h2><span class="section">[<a href="/w/index.php?title=Kepler_triangle&amp;action=&amp;section=5" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Golden_triangle_(mathematics)" title="Golden triangle (mathematics)">Golden triangle</a></li>
<li><a href="/wiki/Special_right_triangles" title="Special right triangles">Special right triangles</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Kepler_triangle&amp;action=&amp;section=6" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation book">Roger Herz-Fischler (2000). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=066T3YLuhA0C&amp;pg=PA81&amp;dq=kepler-triangle+geometric&amp;ei=ux77Ro6sGKjA7gLzrdjlDQ&amp;sig=bngzcQrK9nHOkfZTo5O0ieNdtUs"><i>The Shape of the Great Pyramid</i></a>. Wilfrid Laurier University Press. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0889203245" title="Special:BookSources/0889203245">0889203245</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=066T3YLuhA0C&amp;pg=PA81&amp;dq=kepler-triangle+geometric&amp;ei=ux77Ro6sGKjA7gLzrdjlDQ&amp;sig=bngzcQrK9nHOkfZTo5O0ieNdtUs">http://books.google.com/books?id=066T3YLuhA0C&amp;pg=PA81&amp;dq=kepler-triangle+geometric&amp;ei=ux77Ro6sGKjA7gLzrdjlDQ&amp;sig=bngzcQrK9nHOkfZTo5O0ieNdtUs</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+Shape+of+the+Great+Pyramid&amp;rft.aulast=Roger+Herz-Fischler&amp;rft.au=Roger+Herz-Fischler&amp;rft.date=2000&amp;rft.pub=Wilfrid+Laurier+University+Press&amp;rft.isbn=0889203245&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3D066T3YLuhA0C%26pg%3DPA81%26dq%3Dkepler-triangle%2Bgeometric%26ei%3Dux77Ro6sGKjA7gLzrdjlDQ%26sig%3DbngzcQrK9nHOkfZTo5O0ieNdtUs&amp;rfr_id=info:sid/en.wikipedia.org:Kepler_triangle"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-livio-1">^ <a href="#cite_ref-livio_1-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-livio_1-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><span class="citation book">Livio, Mario (2002). <i>The Golden Ratio: The Story of Phi, The World's Most Astonishing Number</i>. New York: Broadway Books. pp.&#160;149. <a href="/wiki/Special:BookSources/0767908155" class="internal mw-magiclink-isbn">ISBN 0-7679-0815-5</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+Golden+Ratio%3A+The+Story+of+Phi%2C+The+World%27s+Most+Astonishing+Number&amp;rft.aulast=Livio&amp;rft.aufirst=Mario&amp;rft.au=Livio%2C%26%2332%3BMario&amp;rft.date=2002&amp;rft.pages=pp.%26nbsp%3B149&amp;rft.place=New+York&amp;rft.pub=Broadway+Books&amp;rfr_id=info:sid/en.wikipedia.org:Kepler_triangle"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><span class="citation book">Karl Fink, Wooster Woodruff Beman, and David Eugene Smith (1903). <a rel="nofollow" class="external text" href="http://books.google.com/books?id=3hkPAAAAIAAJ&amp;pg=PA223&amp;dq=%22Geometry+has+two+great+treasures%22&amp;lr=&amp;as_brr=1&amp;ei=sQ1GSI_KH4fstgO_rvCpDQ"><i>A Brief History of Mathematics: An Authorized Translation of Dr. Karl Fink's Geschichte der Elementar-Mathematik</i></a> (2nd ed. ed.). Chicago: Open Court Publishing Co<span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=3hkPAAAAIAAJ&amp;pg=PA223&amp;dq=%22Geometry+has+two+great+treasures%22&amp;lr=&amp;as_brr=1&amp;ei=sQ1GSI_KH4fstgO_rvCpDQ">http://books.google.com/books?id=3hkPAAAAIAAJ&amp;pg=PA223&amp;dq=%22Geometry+has+two+great+treasures%22&amp;lr=&amp;as_brr=1&amp;ei=sQ1GSI_KH4fstgO_rvCpDQ</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=A+Brief+History+of+Mathematics%3A+An+Authorized+Translation+of+Dr.+Karl+Fink%27s+Geschichte+der+Elementar-Mathematik&amp;rft.aulast=Karl+Fink%2C+Wooster+Woodruff+Beman%2C+and+David+Eugene+Smith&amp;rft.au=Karl+Fink%2C+Wooster+Woodruff+Beman%2C+and+David+Eugene+Smith&amp;rft.date=1903&amp;rft.ion=2nd+ed.&amp;rft.pub=Chicago%3A+Open+Court+Publishing+Co&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3D3hkPAAAAIAAJ%26pg%3DPA223%26dq%3D%2522Geometry%2Bhas%2Btwo%2Bgreat%2Btreasures%2522%26lr%3D%26as_brr%3D1%26ei%3DsQ1GSI_KH4fstgO_rvCpDQ&amp;rfr_id=info:sid/en.wikipedia.org:Kepler_triangle"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-3"><b><a href="#cite_ref-3">^</a></b> <span class="reference-text"><span class="citation book"><a rel="nofollow" class="external text" href="http://books.google.com/books?id=LDTPvbXLxgQC&amp;pg=PA93&amp;dq=kepler-triangle&amp;ei=vCH7RuG7O4H87gLJ56XlDQ&amp;sig=6n43Hhu5pE3TN5BW18tbQJGRHTQ"><i>The Best of Astraea: 17 Articles on Science, History and Philosophy</i></a>. Astrea Web Radio. 2006. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/1425970400" title="Special:BookSources/1425970400">1425970400</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/books?id=LDTPvbXLxgQC&amp;pg=PA93&amp;dq=kepler-triangle&amp;ei=vCH7RuG7O4H87gLJ56XlDQ&amp;sig=6n43Hhu5pE3TN5BW18tbQJGRHTQ">http://books.google.com/books?id=LDTPvbXLxgQC&amp;pg=PA93&amp;dq=kepler-triangle&amp;ei=vCH7RuG7O4H87gLJ56XlDQ&amp;sig=6n43Hhu5pE3TN5BW18tbQJGRHTQ</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The+Best+of+Astraea%3A+17+Articles+on+Science%2C+History+and+Philosophy&amp;rft.date=2006&amp;rft.pub=Astrea+Web+Radio&amp;rft.isbn=1425970400&amp;rft_id=http%3A%2F%2Fbooks.google.com%2Fbooks%3Fid%3DLDTPvbXLxgQC%26pg%3DPA93%26dq%3Dkepler-triangle%26ei%3DvCH7RuG7O4H87gLJ56XlDQ%26sig%3D6n43Hhu5pE3TN5BW18tbQJGRHTQ&amp;rfr_id=info:sid/en.wikipedia.org:Kepler_triangle"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-4"><b><a href="#cite_ref-4">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.dartmouth.edu/~matc/math5.geometry/unit2/unit2.html">Squaring the circle, Paul Calter</a></span></li>
<li id="cite_note-5"><b><a href="#cite_ref-5">^</a></b> <span class="reference-text">Di Domenico, Angelo, "The golden ratiothe right triangleand the arithmetic, geometric, and harmonic means," <i><a href="/wiki/The_Mathematical_Gazette" title="The Mathematical Gazette" class="mw-redirect">The Mathematical Gazette</a></i> 89, 2005.</span></li>
<li id="cite_note-6"><b><a href="#cite_ref-6">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.dartmouth.edu/~matc/math5.geometry/unit2/unit2.html">Squaring the circle, Paul Calter</a></span></li>
<li id="cite_note-7"><b><a href="#cite_ref-7">^</a></b> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.petrospec-technologies.com/Herkommer/pyramid/pyramid.htm">The Great Pyramid, The Great Discovery, and The Great Coincidence, Mark Herkommer</a></span></li>
</ol>
</div>


<!-- 
NewPP limit report
Preprocessor node count: 2934/1000000
Post-expand include size: 21704/2048000 bytes
Template argument size: 7851/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:13938136-0!0!0!!en!4!* and timestamp 20120412183159 -->
