<div class="dablink">For a surveying instrument, see <a href="/wiki/Graphometer" title="Graphometer">Graphometer</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:200px;"><a href="/wiki/File:Semicircle.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Semicircle.svg/198px-Semicircle.svg.png" width="198" height="144" class="thumbimage" /></a>
<div class="thumbcaption">A <b>semicircle</b> of radius <i>r</i>.</div>
</div>
</div>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a> (more specifically <a href="/wiki/Geometry" title="Geometry">geometry</a>), a <b>semicircle</b> is a two-dimensional <a href="/wiki/Geometric_shape" title="Geometric shape" class="mw-redirect">geometric shape</a> that forms <a href="/wiki/Half" title="Half" class="mw-redirect">half</a> of a <a href="/wiki/Circle" title="Circle">circle</a>. Being half of a circle's 360, the <a href="/wiki/Arc_(geometry)" title="Arc (geometry)">arc</a> of a semicircle always measures 180 or a half <a href="/wiki/Turn_(geometry)" title="Turn (geometry)">turn</a>. A triangle inscribed in a semicircle is always a <a href="/wiki/Right_triangle" title="Right triangle">right triangle</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Uses"><span class="tocnumber">1</span> <span class="toctext">Uses</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#See_also"><span class="tocnumber">2</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#References"><span class="tocnumber">3</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#External_links"><span class="tocnumber">4</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Semicircle&amp;action=&amp;section=1" title="Edit section: Uses"></a>]</span> <span class="mw-headline" id="Uses">Uses</span></h2>
<div class="floatright"><a href="/wiki/File:SemicircleMeans.png" class="image"><img alt="SemicircleMeans.png" src="//upload.wikimedia.org/wikipedia/en/thumb/7/7c/SemicircleMeans.png/300px-SemicircleMeans.png" width="300" height="179" /></a></div>
<p>A semicircle can be used to <a href="/wiki/Compass_and_straightedge_constructions" title="Compass and straightedge constructions">construct</a> <a href="/wiki/Arithmetic_mean" title="Arithmetic mean">arithmetic</a> and <a href="/wiki/Geometric_mean" title="Geometric mean">geometric</a> means of two lengths using straight-edge and compass. If we make a semicircle with a diameter of <i>a</i>+<i>b</i>, then the length its radius is the arithmetic mean of "a" and "b" (since it's half of the diameter). The geometric mean can be found by dividing the diameter into two segments of lengths <i>a</i> and <i>b</i>, and then connecting their common end and the semicircle with a segment perpendicular to the diameter. The length of the resulting segment is the geometric mean,<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> which can be proved using the <a href="/wiki/Pythagorean_theorem" title="Pythagorean theorem">Pythagorean theorem</a>. e used to accomplish quadrature of a rectangle (since a square whose sides are equal to geometric mean of sides of a rectangle has the same <a href="/wiki/Area" title="Area">area</a> as the rectangle), and thus any figure for which we can construct a rectangle with equal area, such as any <a href="/wiki/Polygon" title="Polygon">polygon</a> (but not a circle).</p>
<h2><span class="section">[<a href="/w/index.php?title=Semicircle&amp;action=&amp;section=2" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Thales%27_theorem" title="Thales' theorem">Thales' theorem</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Semicircle&amp;action=&amp;section=3" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <a rel="nofollow" class="external text" href="http://aleph0.clarku.edu/~djoyce/java/elements/bookVI/propVI13.html">Euclid's Elements, Book VI, Proposition 13</a></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Semicircle&amp;action=&amp;section=4" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/Semicircle.html">Semicircle - Mathworld</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 83/1000000
Post-expand include size: 335/2048000 bytes
Template argument size: 104/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:617831-0!*!0!!en!4!* and timestamp 20120229085944 generated by srv289 -->
