<div class="dablink">This article is about describing the shape of an object.  For common shapes, see <a href="/wiki/List_of_geometric_shapes" title="List of geometric shapes">list of geometric shapes</a>.  For other uses, see <a href="/wiki/Shape_(disambiguation)" title="Shape (disambiguation)">Shape (disambiguation)</a>.</div>
<p>The <b>shape</b> (<a href="/wiki/Old_English_language" title="Old English language" class="mw-redirect">Old English</a>: <span lang="ang" xml:lang="ang"><i>gesceap</i></span>, <i>created thing</i>) of an object located in some space is a geometrical description of the part of that space occupied by the object, as determined by its external boundary&#160; abstracting from <a href="/wiki/Orientation_(geometry)" title="Orientation (geometry)">location and orientation</a> in space, <a href="/wiki/Dimension" title="Dimension">size</a>, and other properties such as colour, content, and material composition.</p>
<p>Mathematician and statistician <a href="/wiki/David_George_Kendall" title="David George Kendall">David George Kendall</a> writes:<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup></p>
<blockquote>
<p>In this paper shape is used in the vulgar sense, and means what one would normally expect it to mean. [...] We here define shape informally as all the geometrical information that remains when location, scale<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> and rotational effects are filtered out from an object.</p>
</blockquote>
<p>Simple shapes can be described by basic <a href="/wiki/Geometry" title="Geometry">geometry</a> objects such as a set of two or more <a href="/wiki/Point_(geometry)" title="Point (geometry)">points</a>, a <a href="/wiki/Line_(geometry)" title="Line (geometry)">line</a>, a <a href="/wiki/Curve" title="Curve">curve</a>, a <a href="/wiki/Plane_(geometry)" title="Plane (geometry)">plane</a>, a <a href="/wiki/Plane_figure" title="Plane figure" class="mw-redirect">plane figure</a> (e.g. <a href="/wiki/Square_(geometry)" title="Square (geometry)">square</a> or <a href="/wiki/Circle" title="Circle">circle</a>), or a solid figure (e.g. <a href="/wiki/Cube" title="Cube">cube</a> or <a href="/wiki/Sphere" title="Sphere">sphere</a>). Most shapes occurring in the physical world are complex. Some, such as plant structures and coastlines, may be so arbitrary as to defy traditional mathematical description&#160; in which case they may be analyzed by <a href="/wiki/Differential_geometry" title="Differential geometry">differential geometry</a>, or as <a href="/wiki/Fractal" title="Fractal">fractals</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Rigid_shape_definition"><span class="tocnumber">1</span> <span class="toctext">Rigid shape definition</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Non-rigid_shape_definition"><span class="tocnumber">2</span> <span class="toctext">Non-rigid shape definition</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Colloquial_shape_definition"><span class="tocnumber">3</span> <span class="toctext">Colloquial shape definition</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Philosophical_skepticism_of_definitions"><span class="tocnumber">4</span> <span class="toctext">Philosophical skepticism of definitions</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Shape_analysis"><span class="tocnumber">5</span> <span class="toctext">Shape analysis</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#External_links"><span class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Shape&amp;action=&amp;section=1" title="Edit section: Rigid shape definition"></a>]</span> <span class="mw-headline" id="Rigid_shape_definition">Rigid shape definition</span></h2>
<p>In geometry, two subsets of a <a href="/wiki/Euclidean_space" title="Euclidean space">Euclidean space</a> have the same shape if one can be transformed to the other by a combination of <a href="/wiki/Translation_(geometry)" title="Translation (geometry)">translations</a>, <a href="/wiki/Rotation" title="Rotation">rotations</a> (together also called <a href="/wiki/Rigid_transformation" title="Rigid transformation">rigid transformations</a>), and <a href="/wiki/Scaling_(geometry)" title="Scaling (geometry)">uniform scalings</a>. In other words, the <i>shape</i> of a set of points is all the geometrical information that is invariant to translations, rotations, and size changes. Having the same shape is an <a href="/wiki/Equivalence_relation" title="Equivalence relation">equivalence relation</a>, and accordingly a precise mathematical definition of the notion of shape can be given as being an <a href="/wiki/Equivalence_class" title="Equivalence class">equivalence class</a> of subsets of a Euclidean space having the same shape.</p>
<p>Shapes of physical objects are equal if the subsets of space these objects occupy satisfy the definition above. In particular, the shape does not depend on the size of the object and on changes in orientation/direction. However, a <a href="/wiki/Mirror_image" title="Mirror image">mirror image</a> could be called a different shape. Shapes may change if the object is scaled non uniformly. For example, a <a href="/wiki/Sphere" title="Sphere">sphere</a> becomes an <a href="/wiki/Ellipsoid" title="Ellipsoid">ellipsoid</a> when scaled differently in the vertical and horizontal directions. In other words, preserving axes of <a href="/wiki/Symmetry" title="Symmetry">symmetry</a> (if they exist) is important for preserving shapes. Also, shape is determined by only the outer boundary of an object. For example, a solid ice cube and a second ice cube containing an inner cavity (air bubble) have the same shape.<sup class="Template-Fact" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources from March 2011">citation needed</span></a></i>]</sup></p>
<p>Objects that can be transformed into each other by rigid transformations and mirroring are <a href="/wiki/Congruence_(geometry)" title="Congruence (geometry)">congruent</a>. An object is therefore congruent to its <a href="/wiki/Mirror_image" title="Mirror image">mirror image</a> (even if it is not symmetric), but not to a scaled version. Objects that have the same shape or one has the same shape as the other's mirror image (or both if they are themselves symmetric) are called <a href="/wiki/Similarity_(geometry)" title="Similarity (geometry)">geometrically similar</a>. Thus congruent objects are always geometrically similar, but geometrical similarity additionally allows uniform scaling.</p>
<h2><span class="section">[<a href="/w/index.php?title=Shape&amp;action=&amp;section=2" title="Edit section: Non-rigid shape definition"></a>]</span> <span class="mw-headline" id="Non-rigid_shape_definition">Non-rigid shape definition</span></h2>
<p>A more flexible definition of shape takes into consideration the fact that realistic shapes are often deformable, e.g. a person in different postures, a tree bending in the wind or a hand with different finger positions. By allowing also isometric (or near-isometric) deformations like bending, the <a href="/wiki/Differential_geometry#Intrinsic_versus_extrinsic" title="Differential geometry">intrinsic</a> geometry of the object will stay the same, while sub-parts might be located at very different positions in space. This definition uses the fact that, <a href="/wiki/Geodesic" title="Geodesic">geodesics</a> (curves measured along the surface of the object) stay the same, independent of the <a href="/wiki/Isometry" title="Isometry">isometric</a> <a href="/wiki/Embedding" title="Embedding">embedding</a>. This means that the distance from a finger to a toe of a person measured along the body is always the same, independent of posture. By only considering geodesic distances or other isometric properties as done in <a href="/wiki/Spectral_shape_analysis" title="Spectral shape analysis">spectral shape analysis</a>, it is possible to retrieve all cats in a database of animals independent of the pose.</p>
<h2><span class="section">[<a href="/w/index.php?title=Shape&amp;action=&amp;section=3" title="Edit section: Colloquial shape definition"></a>]</span> <span class="mw-headline" id="Colloquial_shape_definition">Colloquial shape definition</span></h2>
<div class="rellink">Further information: <a href="/wiki/Glossary_of_shapes_with_metaphorical_names" title="Glossary of shapes with metaphorical names">Glossary of shapes with metaphorical names</a></div>
<p>Shape can also be more loosely defined as "the appearance of something, especially its outline". This definition is consistent with the above, in that the shape of a set does not depend on its position, size or orientation. However, it does not always imply an exact mathematical transformation. For example it is common to talk of <i>star-shaped</i> objects even though the number of points of the star is not defined.</p>
<h2><span class="section">[<a href="/w/index.php?title=Shape&amp;action=&amp;section=4" title="Edit section: Philosophical skepticism of definitions"></a>]</span> <span class="mw-headline" id="Philosophical_skepticism_of_definitions">Philosophical skepticism of definitions</span></h2>
<p>In Plato's Meno, Socrates questions Meno as to the most accurate definition of a figure/shape. By showing the possibility of there being more than one definition, Socrates shows that a definition cannot wholly and accurately describe something and that there is no one absolute definition for anything including shape. <sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<h2><span class="section">[<a href="/w/index.php?title=Shape&amp;action=&amp;section=5" title="Edit section: Shape analysis"></a>]</span> <span class="mw-headline" id="Shape_analysis">Shape analysis</span></h2>
<div class="rellink relarticle mainarticle">Main article: <a href="/wiki/Statistical_shape_analysis" title="Statistical shape analysis">Statistical shape analysis</a></div>
<p>The modern definition of shape<sup class="noprint Inline-Template" style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Please_clarify" title="Wikipedia:Please clarify"><span>clarification needed</span></a></i>]</sup> has arisen in the field of <a href="/wiki/Statistical_shape_analysis" title="Statistical shape analysis">statistical shape analysis</a>. In particular <a href="/wiki/Procrustes_analysis" title="Procrustes analysis">Procrustes analysis</a>, which is a technique for analyzing the statistical distributions of shapes. These techniques have been used to examine the <a href="/wiki/Alignments_of_random_points" title="Alignments of random points">alignments of random points</a>. Other methods are desigend to work with non-rigid (bendable) objects, e.g. for posture independent shape retrieval (see for example <a href="/wiki/Spectral_shape_analysis" title="Spectral shape analysis">Spectral shape analysis</a>).</p>
<h2><span class="section">[<a href="/w/index.php?title=Shape&amp;action=&amp;section=6" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation Journal">Kendall, D.G. (1984). "Shape Manifolds, Procrustean Metrics, and Complex Projective Spaces". <i>Bulletin of the London Mathematical Society</i> <b>16</b> (2): 81121. <a href="/wiki/Digital_object_identifier" title="Digital object identifier">doi</a>:<a rel="nofollow" class="external text" href="http://dx.doi.org/10.1112%2Fblms%2F16.2.81">10.1112/blms/16.2.81</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Shape+Manifolds%2C+Procrustean+Metrics%2C+and+Complex+Projective+Spaces&amp;rft.jtitle=Bulletin+of+the+London+Mathematical+Society&amp;rft.aulast=Kendall%2C+D.G.&amp;rft.au=Kendall%2C+D.G.&amp;rft.date=1984&amp;rft.volume=16&amp;rft.issue=2&amp;rft.pages=81%E2%80%93121&amp;rft_id=info:doi/10.1112%2Fblms%2F16.2.81&amp;rfr_id=info:sid/en.wikipedia.org:Shape"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text">Here, scale means only <a href="/wiki/Uniform_scaling" title="Uniform scaling" class="mw-redirect">uniform scaling</a>, as non-uniform scaling would change the shape of the object (e.g., it would turn a square into a rectangle).</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text"><span class="citation book">Plato, Benjamin Jowett (1946). <a rel="nofollow" class="external text" href="http://books.google.com/?id=p3oQoPm-b_cC&amp;dq=plato+meno"><i>Meno</i></a>. Forgotten Books. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/1-60620-007-0,_9781606200070" title="Special:BookSources/1-60620-007-0, 9781606200070">1-60620-007-0, 9781606200070</a><span class="printonly">. <a rel="nofollow" class="external free" href="http://books.google.com/?id=p3oQoPm-b_cC&amp;dq=plato+meno">http://books.google.com/?id=p3oQoPm-b_cC&amp;dq=plato+meno</a></span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Meno&amp;rft.aulast=Plato&amp;rft.aufirst=Benjamin+Jowett&amp;rft.au=Plato%2C%26%2332%3BBenjamin+Jowett&amp;rft.date=1946&amp;rft.pub=Forgotten+Books&amp;rft.isbn=1-60620-007-0%2C+9781606200070&amp;rft_id=http%3A%2F%2Fbooks.google.com%2F%3Fid%3Dp3oQoPm-b_cC%26dq%3Dplato%2Bmeno&amp;rfr_id=info:sid/en.wikipedia.org:Shape"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Shape&amp;action=&amp;section=7" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<table class="metadata mbox-small plainlinks" style="border:1px solid #aaa; background-color:#f9f9f9;">
<tr>
<td class="mbox-image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Wiktionary-logo-en.svg/37px-Wiktionary-logo-en.svg.png" width="37" height="40" /></td>
<td class="mbox-text" style="">Look up <i><b><a class="external text" href="//en.wiktionary.org/wiki/Special:Search/shape">shape</a></b></i> in Wiktionary, the free dictionary.</td>
</tr>
</table>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.scribd.com/doc/1113/Thinking-about-sizes-and-shapes/">Answers for many questions related to shapes and sizes of common objects</a></li>
<li><a rel="nofollow" class="external text" href="http://allanmccollum.net/amcnet2/album/shapes/intro.html">American artist Allan McCollum's project to create a unique "shape" for every individual on the planet</a></li>
<li><a rel="nofollow" class="external text" href="http://www.stencilease.com/">Shape Stencils from Stencil Ease</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 2848/1000000
Post-expand include size: 18249/2048000 bytes
Template argument size: 6658/2048000 bytes
Expensive parser function count: 3/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:169191-0!*!0!!en!4!* and timestamp 20120412183324 -->
