<div class="dablink">This article is about equations in mathematics.  For the chemistry term, see <a href="/wiki/Chemical_equation" title="Chemical equation">chemical equation</a>.</div>
<div class="thumb tright">
<div class="thumbinner" style="width:219px;"><a href="/wiki/File:First_Equation_Ever.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/8/8d/First_Equation_Ever.png" width="217" height="27" class="thumbimage" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:First_Equation_Ever.png" class="internal" title="Enlarge"><img src="//bits.wikimedia.org/skins-1.19/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
The first use of an equals sign, equivalent to 14<i>x</i>+15=71 in modern notation. From <i>The Whetstone of Witte</i> by <a href="/wiki/Robert_Recorde" title="Robert Recorde">Robert Recorde</a> (1557).</div>
</div>
</div>
<p>An <b>equation</b> is a <a href="/wiki/Mathematics" title="Mathematics">mathematical</a> <a href="/wiki/Proposition_(mathematics)" title="Proposition (mathematics)" class="mw-redirect">statement</a> that asserts the <a href="/wiki/Equality_(mathematics)" title="Equality (mathematics)">equality</a> of two <a href="/wiki/Expression_(mathematics)" title="Expression (mathematics)">expressions</a>.<sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup> In modern notation, this is written by placing the expressions on either side of an <a href="/wiki/Equals_sign" title="Equals sign">equals sign</a> (=), for example</p>
<dl>
<dd><img class="tex" alt="x + 3 = 5\," src="//upload.wikimedia.org/wikipedia/en/math/3/c/a/3ca433e1a60a394891f56c80ec62812a.png" /></dd>
</dl>
<p>asserts that <i>x</i>+3 is equal to 5. The = symbol was invented by <a href="/wiki/Robert_Recorde" title="Robert Recorde">Robert Recorde</a> (15101558), who considered that nothing could be more equal than parallel straight lines with the same length.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Knowns_and_unknowns"><span class="tocnumber">1</span> <span class="toctext">Knowns and unknowns</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Types_of_equations"><span class="tocnumber">2</span> <span class="toctext">Types of equations</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Identities"><span class="tocnumber">3</span> <span class="toctext">Identities</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Properties"><span class="tocnumber">4</span> <span class="toctext">Properties</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#References"><span class="tocnumber">6</span> <span class="toctext">References</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#External_links"><span class="tocnumber">7</span> <span class="toctext">External links</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Equation&amp;action=&amp;section=1" title="Edit section: Knowns and unknowns"></a>]</span> <span class="mw-headline" id="Knowns_and_unknowns">Knowns and unknowns</span></h2>
<div class="rellink boilerplate seealso">See also: <a href="/wiki/Expression_(mathematics)" title="Expression (mathematics)">Expression (mathematics)</a></div>
<p>Equations often express relationships between given quantities, the <i>knowns</i>, and quantities yet to be determined, the <i>unknowns</i>. By convention, unknowns are denoted by letters at the end of the alphabet, <i>x</i>, <i>y</i>, <i>z</i>, <i>w</i>, , while knowns are denoted by letters at the beginning, <i>a</i>, <i>b</i>, <i>c</i>, <i>d</i>,  . The process of expressing the unknowns in terms of the knowns is called <a href="/wiki/Equation_solving" title="Equation solving">solving the equation</a>. In an equation with a single unknown, a value of that unknown for which the equation is true is called a <i>solution</i> or <i>root</i> of the equation. In a set <a href="/wiki/Simultaneous_equations" title="Simultaneous equations">simultaneous equations</a>, or <i>system of equations</i>, multiple equations are given with multiple unknowns. A <i>solution to the system</i> is an assignment of values to all the unknowns so that all of the equations are true.</p>
<h2><span class="section">[<a href="/w/index.php?title=Equation&amp;action=&amp;section=2" title="Edit section: Types of equations"></a>]</span> <span class="mw-headline" id="Types_of_equations">Types of equations</span></h2>
<p>Equations can be classified according to the types of <a href="/wiki/Operation_(mathematics)" title="Operation (mathematics)">operations</a> and quantities involved. Important types include:</p>
<ul>
<li>An <a href="/wiki/Algebraic_equation" title="Algebraic equation">algebraic equation</a> is an equation involving only algebraic expressions in the unknowns. These are further classified by <a href="/wiki/Degree_(mathematics)" title="Degree (mathematics)">degree</a>.</li>
<li>A <a href="/wiki/Linear_equation" title="Linear equation">linear equation</a> is an algebraic equation of degree one.</li>
<li>A <a href="/wiki/Polynomial#Polynomial_equations" title="Polynomial">polynomial equation</a> is an equation in which a polynomial is set equal to another polynomial.</li>
<li>A <a href="/wiki/Transcendental_equation" title="Transcendental equation">transcendental equation</a> is an equation involving a transcendental function of one of its variables.</li>
<li>A <a href="/wiki/Functional_equation" title="Functional equation">functional equation</a> is an equation in which the unknowns are <a href="/wiki/Function_(mathematics)" title="Function (mathematics)">functions</a> rather than simple quantities.</li>
<li>A <a href="/wiki/Differential_equation" title="Differential equation">differential equation</a> is an equation involving <a href="/wiki/Derivative" title="Derivative">derivatives</a>.</li>
<li>An <a href="/wiki/Integral_equation" title="Integral equation">integral equation</a> is an equation involving <a href="/wiki/Integral" title="Integral">integrals</a>.</li>
<li>A <a href="/wiki/Diophantine_equation" title="Diophantine equation">Diophantine equation</a> is an equation where the unknowns are required to be <a href="/wiki/Integer" title="Integer">integers</a>.</li>
<li>A quadratic equation</li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Equation&amp;action=&amp;section=3" title="Edit section: Identities"></a>]</span> <span class="mw-headline" id="Identities">Identities</span></h2>
<p>One use of equations is in mathematical <a href="/wiki/Identity_(mathematics)" title="Identity (mathematics)">identities</a>, assertions that are true independent of the values of any variables contained within them. For example, for any given value of <i>x</i> it is true that</p>
<dl>
<dd><img class="tex" alt="x  (x-1) = x^2-x\,." src="//upload.wikimedia.org/wikipedia/en/math/d/d/9/dd90a95574cb225baca4251d3aef82c0.png" /></dd>
</dl>
<p>However, equations can also be correct for only certain values of the variables.<sup id="cite_ref-Nahin_1-0" class="reference"><a href="#cite_note-Nahin-1"><span>[</span>2<span>]</span></a></sup> In this case, they can be <a href="/wiki/Equation_solving" title="Equation solving">solved</a> to find the values that satisfy the equality. For example, consider the following.</p>
<dl>
<dd><img class="tex" alt="x^2-x = 0\,." src="//upload.wikimedia.org/wikipedia/en/math/3/e/9/3e9e786b7609e226ea96632d10b2bf06.png" /></dd>
</dl>
<p>The equation is true only for two values of <i>x</i>, the <i>solutions</i> of the equation. In this case, the solutions are <img class="tex" alt="x=0" src="//upload.wikimedia.org/wikipedia/en/math/e/1/1/e11729b0b65ecade3fc272548a3883fc.png" /> and <img class="tex" alt="x=1" src="//upload.wikimedia.org/wikipedia/en/math/a/2/5/a255512f9d61a6777bd5a304235bd26d.png" />.</p>
<p>Many mathematicians<sup id="cite_ref-Nahin_1-1" class="reference"><a href="#cite_note-Nahin-1"><span>[</span>2<span>]</span></a></sup> reserve the term <i>equation</i> exclusively for the second type, to signify an equality which is not an identity. The distinction between the two concepts can be subtle; for example,</p>
<dl>
<dd><img class="tex" alt="(x + 1)^2 = x^2 + 2x + 1\," src="//upload.wikimedia.org/wikipedia/en/math/b/6/5/b652be9a498a412deec88870878073f7.png" /></dd>
</dl>
<p>is an identity, while</p>
<dl>
<dd><img class="tex" alt="(x + 1)^2 = 2x^2 + x + 1\," src="//upload.wikimedia.org/wikipedia/en/math/f/a/a/faae1e93b6da11bb4eeff5efb52e9bb8.png" /></dd>
</dl>
<p>is an equation with solutions <img class="tex" alt="x=0" src="//upload.wikimedia.org/wikipedia/en/math/e/1/1/e11729b0b65ecade3fc272548a3883fc.png" /> and <img class="tex" alt="x=1" src="//upload.wikimedia.org/wikipedia/en/math/a/2/5/a255512f9d61a6777bd5a304235bd26d.png" />. Whether a statement is meant to be an identity or an equation can usually be determined from its context. In some cases, a distinction is made between the equality sign (<img class="tex" alt="=" src="//upload.wikimedia.org/wikipedia/en/math/4/3/e/43ec3e5dee6e706af7766fffea512721.png" />) for an equation and the equivalence symbol (<img class="tex" alt="\equiv" src="//upload.wikimedia.org/wikipedia/en/math/2/e/f/2ef0deb28c4bbc1ce6c11e4cce7e75b1.png" />) for an identity.</p>
<p>Letters from the beginning of the alphabet like <i>a</i>, <i>b</i>, <i>c</i>... often denote <a href="/wiki/Constant_(mathematics)" title="Constant (mathematics)">constants</a> in the context of the discussion at hand, while letters from the end of the alphabet, like ...<i>x</i>, <i>y</i>, <i>z</i>, are usually reserved for the <a href="/wiki/Variable_(mathematics)" title="Variable (mathematics)">variables</a>, a convention initiated by <a href="/wiki/Ren%C3%A9_Descartes" title="Ren Descartes">Descartes</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Equation&amp;action=&amp;section=4" title="Edit section: Properties"></a>]</span> <span class="mw-headline" id="Properties">Properties</span></h2>
<p>If an equation in <a href="/wiki/Elementary_algebra" title="Elementary algebra">algebra</a> is known to be true, the following operations may be used to produce another true equation:</p>
<ol>
<li>Any real number can be <a href="/wiki/Addition" title="Addition">added</a> to both sides.</li>
<li>Any real number can be <a href="/wiki/Subtraction" title="Subtraction">subtracted</a> from both sides.</li>
<li>Any real number can be <a href="/wiki/Multiplication" title="Multiplication">multiplied</a> to both sides.</li>
<li>Any non-zero real number can <a href="/wiki/Division_(mathematics)" title="Division (mathematics)">divide</a> both sides.</li>
<li>Some <a href="/wiki/Function_(mathematics)" title="Function (mathematics)">functions</a> can be applied to both sides. Caution must be exercised to ensure that the operation does not cause missing or <a href="/wiki/Extraneous_solution" title="Extraneous solution" class="mw-redirect">extraneous solutions</a>. For example, the equation <img class="tex" alt="yx=x" src="//upload.wikimedia.org/wikipedia/en/math/d/7/e/d7e775795704c51c4e3f0499cb06b5a4.png" /> has 2 sets of solutions: <img class="tex" alt="y=1" src="//upload.wikimedia.org/wikipedia/en/math/6/a/2/6a267007228f9f654a0d28dec6932c31.png" /> (with any x) and <img class="tex" alt="x=0" src="//upload.wikimedia.org/wikipedia/en/math/e/1/1/e11729b0b65ecade3fc272548a3883fc.png" /> (with any y). Raising both sides to the exponent of 2 (which means, applying the function <img class="tex" alt="f(s)=s^2" src="//upload.wikimedia.org/wikipedia/en/math/9/6/3/96306356222d37c99c3801ee6ae69670.png" /> to both sides of the equation) changes our equation into <img class="tex" alt="(xy)^2=x^2" src="//upload.wikimedia.org/wikipedia/en/math/9/a/3/9a32e1ebb0b915dd3b0f4e413ef7f3f4.png" />, which not only has all the previous solutions but also introduces a new set of <a href="/wiki/Extraneous_solution" title="Extraneous solution" class="mw-redirect">extraneous solutions</a>, with <img class="tex" alt="y=-1" src="//upload.wikimedia.org/wikipedia/en/math/0/e/d/0ed775167e5c7887ef5b798190d3ed1b.png" /> and x being any number.</li>
</ol>
<p>The algebraic properties (1-4) imply that equality is a <a href="/wiki/Congruence_relation" title="Congruence relation">congruence relation</a> for a <a href="/wiki/Field_(mathematics)" title="Field (mathematics)">field</a>; in fact, it is essentially the only one.</p>
<p>The most well known system of numbers which allows all of these operations is the <a href="/wiki/Real_numbers" title="Real numbers" class="mw-redirect">real numbers</a>, which is an example of a field. However, if the equation were based on the <a href="/wiki/Natural_number" title="Natural number">natural numbers</a> for example, some of these operations (like division and subtraction) may not be valid as negative numbers and non-whole numbers are not allowed. The <a href="/wiki/Integers" title="Integers" class="mw-redirect">integers</a> are an example of an <a href="/wiki/Integral_domain" title="Integral domain">integral domain</a> which does not allow all divisions as, again, whole numbers are needed. However, subtraction is allowed, and is the <a href="/wiki/Inverse_operator" title="Inverse operator" class="mw-redirect">inverse operator</a> in that system.</p>
<p>If a function that is not <a href="/wiki/Injective" title="Injective" class="mw-redirect">injective</a> is applied to both sides of a true equation, then the resulting equation will still be true, but it may be less useful. Formally, one has an <a href="/wiki/Logical_conditional" title="Logical conditional" class="mw-redirect">implication</a>, not an <a href="/wiki/Logical_biconditional" title="Logical biconditional">equivalence</a>, so the solution set may get larger. The functions implied in properties (1), (2), and (4) are always injective, as is (3) if we do not multiply by <a href="/wiki/0_(number)" title="0 (number)">zero</a>. Some generalized <a href="/wiki/Product_(mathematics)" title="Product (mathematics)">products</a>, such as a <a href="/wiki/Dot_product" title="Dot product">dot product</a>, are never injective.</p>
<p>More information at <a href="/wiki/Equation_solving" title="Equation solving">Equation solving</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Equation&amp;action=&amp;section=5" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<div style="column-count:2;-moz-column-count:2;-webkit-column-count:2">
<ul>
<li><a href="/wiki/Cubic_equation" title="Cubic equation" class="mw-redirect">Cubic equation</a></li>
<li><a href="/wiki/Differential_equation" title="Differential equation">Differential equation</a></li>
<li><a href="/wiki/Diophantine_equation" title="Diophantine equation">Diophantine equation</a></li>
<li><a href="/wiki/Equation_solving" title="Equation solving">Equation solving</a></li>
<li><a href="/wiki/Formula_or" title="Formula or">Formula or</a></li>
<li><a href="/wiki/Functional_equation" title="Functional equation">Functional equation</a></li>
<li><a href="/wiki/History_of_elementary_algebra" title="History of elementary algebra">History of elementary algebra</a></li>
<li><a href="/wiki/Indeterminate_equation" title="Indeterminate equation">Indeterminate equation</a></li>
<li><a href="/wiki/Inequality_(mathematics)" title="Inequality (mathematics)">Inequality</a></li>
<li><a href="/wiki/Inequation" title="Inequation">Inequation</a></li>
<li><a href="/wiki/Integral_equation" title="Integral equation">Integral equation</a></li>
<li><a href="/wiki/Linear_equation" title="Linear equation">Linear equation</a></li>
<li><a href="/wiki/List_of_equations" title="List of equations">List of equations</a></li>
<li><a href="/wiki/Quadratic_equation" title="Quadratic equation">Quadratic equation</a></li>
<li><a href="/wiki/Quartic_equation" title="Quartic equation" class="mw-redirect">Quartic equation</a></li>
<li><a href="/wiki/Quintic_equation" title="Quintic equation" class="mw-redirect">Quintic equation</a></li>
<li><a href="/wiki/Parametric_equation" title="Parametric equation">Parametric equation</a></li>
<li><a href="/wiki/Polynomial" title="Polynomial">Polynomial equation</a></li>
<li><a href="/wiki/Scientific_equations_named_after_people" title="Scientific equations named after people" class="mw-redirect">Scientific equations named after people</a></li>
<li><a href="/wiki/Simultaneous_equation" title="Simultaneous equation" class="mw-redirect">Simultaneous equation</a></li>
<li><a href="/wiki/Theory_of_equations" title="Theory of equations">Theory of equations</a></li>
</ul>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Equation&amp;action=&amp;section=6" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><span class="citation web"><a rel="nofollow" class="external text" href="http://dictionary.reference.com/browse/equation">"Equation"</a>. <i>Dictionary.com</i>. Dictionary.com, LLC<span class="printonly">. <a rel="nofollow" class="external free" href="http://dictionary.reference.com/browse/equation">http://dictionary.reference.com/browse/equation</a></span><span class="reference-accessdate">. Retrieved 2009-11-24</span>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.btitle=Equation&amp;rft.atitle=Dictionary.com&amp;rft.pub=Dictionary.com%2C+LLC&amp;rft_id=http%3A%2F%2Fdictionary.reference.com%2Fbrowse%2Fequation&amp;rfr_id=info:sid/en.wikipedia.org:Equation"><span style="display: none;">&#160;</span></span></span></li>
<li id="cite_note-Nahin-1">^ <a href="#cite_ref-Nahin_1-0"><sup><i><b>a</b></i></sup></a> <a href="#cite_ref-Nahin_1-1"><sup><i><b>b</b></i></sup></a> <span class="reference-text"><span class="citation book">Nahin, Paul J. (2006). <i>Dr. Euler's fabulous formula: cures many mathematical ills</i>. Princeton: Princeton University Press. p.&#160;3. <a href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a href="/wiki/Special:BookSources/0-691-11822-1" title="Special:BookSources/0-691-11822-1">0-691-11822-1</a>.</span><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Dr.+Euler%27s+fabulous+formula%3A+cures+many+mathematical+ills&amp;rft.aulast=Nahin&amp;rft.aufirst=Paul+J.&amp;rft.au=Nahin%2C%26%2332%3BPaul+J.&amp;rft.date=2006&amp;rft.pages=p.%26nbsp%3B3&amp;rft.place=Princeton&amp;rft.pub=Princeton+University+Press&amp;rft.isbn=0-691-11822-1&amp;rfr_id=info:sid/en.wikipedia.org:Equation"><span style="display: none;">&#160;</span></span></span></li>
</ol>
</div>
<h2><span class="section">[<a href="/w/index.php?title=Equation&amp;action=&amp;section=7" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://math.exeter.edu/rparris/winplot.html">Winplot</a>: General Purpose plotter which can draw and animate 2D and 3D mathematical equations.</li>
<li><a rel="nofollow" class="external text" href="http://www.wessa.net/math.wasp">Mathematical equation plotter</a>: Plots 2D mathematical equations, computes integrals, and finds solutions online.</li>
<li><a rel="nofollow" class="external text" href="http://www.cs.cornell.edu/w8/~andru/relplot">Equation plotter</a>: A web page for producing and downloading pdf or postscript plots of the solution sets to equations and inequations in two variables (<i>x</i> and <i>y</i>).</li>
<li><a rel="nofollow" class="external text" href="http://eqworld.ipmnet.ru/">EqWorld</a>contains information on solutions to many different classes of mathematical equations.</li>
<li><a rel="nofollow" class="external text" href="http://www.numberz.co.uk/ES.html">EquationSolver</a>: A webpage that can solve single equations and linear equation systems.</li>
</ul>
<p><span id="interwiki-fr-fa"></span></p>


<!-- 
NewPP limit report
Preprocessor node count: 1667/1000000
Post-expand include size: 7674/2048000 bytes
Template argument size: 2356/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:9284-0!0!0!!en!4!* and timestamp 20120412193628 -->
