<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, <b>Euler's four-square identity</b> says that the product of two numbers, each of which being a sum of four <a href="/wiki/Square_(algebra)" title="Square (algebra)" class="mw-redirect">squares</a>, is itself a sum of four squares. Specifically:</p>
<dl>
<dd><img class="tex" alt="(a_1^2+a_2^2+a_3^2+a_4^2)(b_1^2+b_2^2+b_3^2+b_4^2)=\," src="//upload.wikimedia.org/wikipedia/en/math/9/7/7/9776000d63c6106cf09c3d1f1320a6ee.png" /></dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="(a_1 b_1 - a_2 b_2 - a_3 b_3 - a_4 b_4)^2 +\," src="//upload.wikimedia.org/wikipedia/en/math/0/4/b/04b12303c0df60b66b772d65b7b479b7.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="(a_1 b_2 + a_2 b_1 + a_3 b_4 - a_4 b_3)^2 +\," src="//upload.wikimedia.org/wikipedia/en/math/c/5/f/c5f9689b8d480140dd0375cef7e9b5c6.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="(a_1 b_3 - a_2 b_4 + a_3 b_1 + a_4 b_2)^2 +\," src="//upload.wikimedia.org/wikipedia/en/math/2/a/d/2ad688ca21918a9589e19650e29dcd39.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="(a_1 b_4 + a_2 b_3 - a_3 b_2 + a_4 b_1)^2.\," src="//upload.wikimedia.org/wikipedia/en/math/9/2/5/925519f92e00cd90f360efb5d7d798ba.png" /></dd>
</dl>
</dd>
</dl>
<p><a href="/wiki/Leonhard_Euler" title="Leonhard Euler">Euler</a> wrote about this identity in a letter dated May 4, 1748 to <a href="/wiki/Christian_Goldbach" title="Christian Goldbach">Goldbach</a><sup id="cite_ref-0" class="reference"><a href="#cite_note-0"><span>[</span>1<span>]</span></a></sup><sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>2<span>]</span></a></sup> (but note that he used a different sign convention from the above). It can be proven with <a href="/wiki/Elementary_algebra" title="Elementary algebra">elementary algebra</a> and holds in every <a href="/wiki/Commutative_ring" title="Commutative ring">commutative ring</a>. If the <img class="tex" alt="a_k" src="//upload.wikimedia.org/wikipedia/en/math/3/3/5/335c2b8edc9f3f1368c622252d97eb2c.png" /> and <img class="tex" alt="b_k" src="//upload.wikimedia.org/wikipedia/en/math/0/9/f/09f29221ff39b005c48d526b1f587ed3.png" /> are <a href="/wiki/Real_number" title="Real number">real numbers</a>, a more elegant proof is available: the identity expresses the fact that the absolute value of the product of two <a href="/wiki/Quaternion" title="Quaternion">quaternions</a> is equal to the product of their absolute values, in the same way that the <a href="/wiki/Brahmagupta-Fibonacci_identity" title="Brahmagupta-Fibonacci identity" class="mw-redirect">Brahmagupta-Fibonacci two-square identity</a> does for <a href="/wiki/Complex_numbers" title="Complex numbers" class="mw-redirect">complex numbers</a>.</p>
<p>The identity was used by <a href="/wiki/Joseph_Louis_Lagrange" title="Joseph Louis Lagrange">Lagrange</a> to prove his <a href="/wiki/Lagrange%27s_four-square_theorem" title="Lagrange's four-square theorem">four square theorem</a>. More specifically, it implies that it is sufficient to prove the theorem for <a href="/wiki/Prime_numbers" title="Prime numbers" class="mw-redirect">prime numbers</a>, after which the more general theorem follows. The sign convention used above corresponds to the signs obtained by multiplying two quaternions. Other sign conventions can be obtained by changing any <img class="tex" alt="a_k" src="//upload.wikimedia.org/wikipedia/en/math/3/3/5/335c2b8edc9f3f1368c622252d97eb2c.png" /> to <img class="tex" alt="-a_k" src="//upload.wikimedia.org/wikipedia/en/math/8/f/c/8fcdbd960cf8525827b3f9ff6e842b07.png" />, <img class="tex" alt="b_k" src="//upload.wikimedia.org/wikipedia/en/math/0/9/f/09f29221ff39b005c48d526b1f587ed3.png" /> to <img class="tex" alt="-b_k" src="//upload.wikimedia.org/wikipedia/en/math/0/e/5/0e595f4bb9986cc9aa354ba1a22aec45.png" />, or by changing the signs inside any of the squared terms on the right hand side.</p>
<p>However, a different kind of four-square identity can be given as,</p>
<dl>
<dd><img class="tex" alt="(a_1^2+a_2^2+a_3^2+a_4^2)(b_1^2+b_2^2+b_3^2+b_4^2)=\," src="//upload.wikimedia.org/wikipedia/en/math/9/7/7/9776000d63c6106cf09c3d1f1320a6ee.png" /></dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="(a_1 b_4 + a_2 b_3 + a_3 b_2 + a_4 b_1)^2 +\," src="//upload.wikimedia.org/wikipedia/en/math/3/f/b/3fb0c6ef34ce4de0f804b25f312f4384.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="(a_1 b_3 - a_2 b_4 + a_3 b_1 - a_4 b_2)^2 +\," src="//upload.wikimedia.org/wikipedia/en/math/5/c/3/5c3abb774f57fd351a44c818ee67e67f.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\left(a_1 b_2 + a_2 b_1 + \frac{a_3 (b_1^2b_4-2b_1b_2b_3-b_2^2b_4)}{b_1^2+b_2^2} - \frac{a_4 (b_1^2b_3+2b_1b_2b_4-b_2^2b_3)}{b_1^2+b_2^2}\right)^2+\," src="//upload.wikimedia.org/wikipedia/en/math/f/b/e/fbe8f72a28ec8126f3eef4010ea6f7df.png" /></dd>
</dl>
</dd>
</dl>
<dl>
<dd>
<dl>
<dd><img class="tex" alt="\left(a_1 b_1 - a_2 b_2 - \frac{a_4 (b_1^2b_4-2b_1b_2b_3-b_2^2b_4)}{b_1^2+b_2^2} - \frac{a_3 (b_1^2b_3+2b_1b_2b_4-b_2^2b_3)}{b_1^2+b_2^2}\right)^2.\," src="//upload.wikimedia.org/wikipedia/en/math/4/b/a/4bafab4911149266aef4aa7628464e45.png" /></dd>
</dl>
</dd>
</dl>
<p>More generally, while <a href="/wiki/Hurwitz%27s_theorem_(normed_division_algebras)" title="Hurwitz's theorem (normed division algebras)">Hurwitz's theorem</a> states that an identity of form,</p>
<dl>
<dd><img class="tex" alt="(a_1^2+a_2^2+a_3^2+...+a_n^2)(b_1^2+b_2^2+b_3^2+...+b_n^2) = c_1^2+c_2^2+c_3^2+...+c_n^2\," src="//upload.wikimedia.org/wikipedia/en/math/4/d/b/4dbd7851fb9f8159d99bd8d436e9bc43.png" /></dd>
</dl>
<p>where the <img class="tex" alt="c_i" src="//upload.wikimedia.org/wikipedia/en/math/d/9/8/d9899588b2b28a768a63ade0f3523596.png" /> are <a href="/wiki/Bilinear" title="Bilinear">bilinear</a> functions of the <img class="tex" alt="a_i" src="//upload.wikimedia.org/wikipedia/en/math/d/8/d/d8dd7d0f3eb7145ca41c711457b7eb8f.png" /> and <img class="tex" alt="b_i" src="//upload.wikimedia.org/wikipedia/en/math/c/9/f/c9f6d8557ce40f989fa727b5c0bb1ddf.png" /> is possible only for <i>n</i> = {1, 2, 4, 8}, the more general <a href="/w/index.php?title=Pfister%27s_theorem&amp;action=&amp;redlink=1" class="new" title="Pfister's theorem (page does not exist)">Pfister's theorem</a> allows that if the <img class="tex" alt="c_i" src="//upload.wikimedia.org/wikipedia/en/math/d/9/8/d9899588b2b28a768a63ade0f3523596.png" /> are just <a href="/wiki/Rational_functions" title="Rational functions" class="mw-redirect">rational functions</a> of one set of variables (in this case, the <img class="tex" alt="b_i" src="//upload.wikimedia.org/wikipedia/en/math/c/9/f/c9f6d8557ce40f989fa727b5c0bb1ddf.png" />), hence has a <a href="/wiki/Denominator" title="Denominator" class="mw-redirect">denominator</a>, then it is possible for all <img class="tex" alt="n = 2^m" src="//upload.wikimedia.org/wikipedia/en/math/6/8/d/68db4875f01625836edaeba11fbd27d7.png" />.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>3<span>]</span></a></sup></p>
<p><br /></p>
<h2><span class="section">[<a href="/w/index.php?title=Euler%27s_four-square_identity&amp;action=&amp;section=1" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Degen%27s_eight-square_identity" title="Degen's eight-square identity">Degen's eight-square identity</a></li>
<li><a href="/wiki/Latin_square" title="Latin square">Latin square</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Euler%27s_four-square_identity&amp;action=&amp;section=2" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ol class="references">
<li id="cite_note-0"><b><a href="#cite_ref-0">^</a></b> <span class="reference-text"><i>Leonhard Euler: Life, Work and Legacy</i>, R.E. Bradley and C.E. Sandifer (eds), Elsevier, 2007, p. 193</span></li>
<li id="cite_note-1"><b><a href="#cite_ref-1">^</a></b> <span class="reference-text"><i>Mathematical Evolutions</i>, A. Shenitzer and J. Stillwell (eds), Math. Assoc. America, 2002, p. 174</span></li>
<li id="cite_note-2"><b><a href="#cite_ref-2">^</a></b> <span class="reference-text">Pfister's Theorem on Sums of Squares, Keith Conrad, <a rel="nofollow" class="external free" href="http://www.math.uconn.edu/~kconrad/blurbs/linmultialg/pfister.pdf">http://www.math.uconn.edu/~kconrad/blurbs/linmultialg/pfister.pdf</a></span></li>
</ol>
<h2><span class="section">[<a href="/w/index.php?title=Euler%27s_four-square_identity&amp;action=&amp;section=3" title="Edit section: External links"></a>]</span> <span class="mw-headline" id="External_links">External links</span></h2>
<ul>
<li><a rel="nofollow" class="external text" href="http://sites.google.com/site/tpiezas/005b/">A Collection of Algebraic Identities</a></li>
<li><a rel="nofollow" class="external autonumber" href="http://math.dartmouth.edu/~euler/correspondence/letters/OO0841.pdf">[1]</a> Lettre CXV from Euler to Goldbach</li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 283/1000000
Post-expand include size: 0/2048000 bytes
Template argument size: 0/2048000 bytes
Expensive parser function count: 0/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:222004-0!0!0!!*!*!* and timestamp 20120402093630 -->
