<table class="metadata plainlinks ambox ambox-content ambox-Unreferenced" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="Question book-new.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></a></div>
</td>
<td class="mbox-text" style="">This article <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">references or sources</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Extraneous_and_missing_solutions&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(January 2008)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, an <b>extraneous solution</b> represents a solution, such as that to an equation, that emerges from the process of solving the problem but is not a valid solution to the original problem. A <b>missing solution</b> is a solution that was a valid solution to the original problem, but disappeared during the process of solving the problem. Both are frequently the consequence of performing operations that are not <a href="/wiki/Inverse_function" title="Inverse function">invertible</a> for some or all values of the variables, which disturbs the chain of logical implications in the proof.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Extraneous_solutions:_multiplication"><span class="tocnumber">1</span> <span class="toctext">Extraneous solutions: multiplication</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Extraneous_solutions:_rational"><span class="tocnumber">2</span> <span class="toctext">Extraneous solutions: rational</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Missing_solutions:_division"><span class="tocnumber">3</span> <span class="toctext">Missing solutions: division</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Other_operations"><span class="tocnumber">4</span> <span class="toctext">Other operations</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#See_also"><span class="tocnumber">5</span> <span class="toctext">See also</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Extraneous_and_missing_solutions&amp;action=&amp;section=1" title="Edit section: Extraneous solutions: multiplication"></a>]</span> <span class="mw-headline" id="Extraneous_solutions:_multiplication">Extraneous solutions: multiplication</span></h2>
<p>One of the basic principles of algebra is that one can multiply both sides of an equation by the same expression without changing the equation's solutions. However, strictly speaking, this is not true, in that multiplication by certain expressions may introduce new solutions that were not present before. For example, consider the following simple equation:</p>
<dl>
<dd><img class="tex" alt="x+2=0" src="//upload.wikimedia.org/wikipedia/en/math/b/e/6/be63735e514dd584684d3ca01e453dad.png" /></dd>
</dl>
<p>If we multiply both sides by zero, we get:</p>
<dl>
<dd><img class="tex" alt="0=0" src="//upload.wikimedia.org/wikipedia/en/math/7/b/b/7bb9d941d22396f1ddf635a5cc656c77.png" /></dd>
</dl>
<p>This is true for all values of <i>x</i>, so the solution set is all real numbers. But clearly not all real numbers are solutions to the original equation. The problem is that multiplication by zero is not <i>invertible</i>: if we multiply by any nonzero value, we can undo it immediately by dividing by the same value, but <a href="/wiki/Division_by_zero" title="Division by zero">division by zero</a> is not allowed, so multiplication by zero cannot be undone.</p>
<p>More subtly, suppose we take the same equation and multiply both sides by <i>x</i>. We get:</p>
<dl>
<dd><img class="tex" alt="x(x+2)=(0)x" src="//upload.wikimedia.org/wikipedia/en/math/4/e/3/4e3af30abb03a631f2bd1a30fbba0d66.png" /></dd>
<dd><img class="tex" alt="x^2+2x=0" src="//upload.wikimedia.org/wikipedia/en/math/f/2/5/f25c93996c1202220710c0b18a877826.png" /></dd>
</dl>
<p>This quadratic equation has two solutions, 2 and 0. But if zero is substituted for <i>x</i> into the original equation, the result is the invalid equation 2&#160;=&#160;0. This counterintuitive result occurs because in the case where <i>x</i>=0, multiplying both sides by <i>x</i> multiplies both sides by zero, and so necessarily produces a true equation just as in the first example.</p>
<p>In general, whenever we multiply both sides of an equation by an expression involving variables, we introduce extraneous solutions wherever that expression is equal to zero. But it's not sufficient to exclude these values, because they may have been legitimate solutions to the original equation. For example, suppose we multiply both sides of our original equation <i>x</i>&#160;+&#160;2&#160;=&#160;0 by <i>x</i>&#160;+&#160;2. We get:</p>
<dl>
<dd><img class="tex" alt="(x+2)(x+2)=0(x+2)" src="//upload.wikimedia.org/wikipedia/en/math/6/9/4/694f7ba8589937689509c7380a5c8a33.png" /></dd>
<dd><img class="tex" alt="x^2+4x+4=0" src="//upload.wikimedia.org/wikipedia/en/math/a/9/d/a9d2407a623f3ac50ab31bd75bf7f234.png" /></dd>
</dl>
<p>This quadratic equation has only one real solution: x&#160;=&#160;2, and this is a solution to the original equation, so it cannot be excluded, even though <i>x</i>&#160;+&#160;2 is zero for this value of <i>x</i>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Extraneous_and_missing_solutions&amp;action=&amp;section=2" title="Edit section: Extraneous solutions: rational"></a>]</span> <span class="mw-headline" id="Extraneous_solutions:_rational">Extraneous solutions: rational</span></h2>
<p>Extraneous solutions can arise naturally in problems involving fractions with variables in the denominator. For example, consider this equation:</p>
<dl>
<dd><img class="tex" alt="\frac{1}{x - 2} = \frac{3}{x + 2} - \frac{6x}{(x - 2)(x + 2)}\,." src="//upload.wikimedia.org/wikipedia/en/math/0/0/8/008bc585f2438b103ced60bfb4bb571e.png" /></dd>
</dl>
<p>To begin solving, we multiply each side of the equation by the least common denominator of all the fractions contained in the equation. In this case, the LCD is <img class="tex" alt="(x - 2)(x + 2)" src="//upload.wikimedia.org/wikipedia/en/math/2/1/a/21abb4a043bfa8058110ca5fe9bddc61.png" />. After performing these operations, the fractions are eliminated, and the equation becomes:</p>
<dl>
<dd><img class="tex" alt="x + 2 = 3(x - 2) - 6x\,." src="//upload.wikimedia.org/wikipedia/en/math/2/2/e/22e4c62d8b2dd734572334989cbaca2c.png" /></dd>
</dl>
<p>Solving this yields the single solution <i>x</i>&#160;=&#160;2. However, when we substitute the solution back into the original equation, we obtain:</p>
<dl>
<dd><img class="tex" alt="\frac{1}{-2 - 2} = \frac{3}{-2 + 2} - \frac{6(-2)}{(-2 - 2)(-2 + 2)}\,." src="//upload.wikimedia.org/wikipedia/en/math/f/9/7/f97f9456f2c7c479c34a30b8a9136cb8.png" /></dd>
</dl>
<p>The equation then becomes:</p>
<dl>
<dd><img class="tex" alt="\frac{1}{-4} = \frac{3}{0} + \frac{12}{0}\,." src="//upload.wikimedia.org/wikipedia/en/math/4/e/e/4ee53c65ea1bf7f247c75ffe99876fd8.png" /></dd>
</dl>
<p>This equation is not valid, since one cannot <a href="/wiki/Division_by_zero" title="Division by zero">divide by zero</a>.</p>
<p>Because of this, the only effective way to deal with multiplication by expressions involving variables is to substitute each of the solutions obtained into the original equation and confirm that this yields a valid equation. After discarding solutions that yield an invalid equation, we will have the correct set of solutions. Note that in some cases all solutions may be discarded, in which case the original equation has no solution.</p>
<h2><span class="section">[<a href="/w/index.php?title=Extraneous_and_missing_solutions&amp;action=&amp;section=3" title="Edit section: Missing solutions: division"></a>]</span> <span class="mw-headline" id="Missing_solutions:_division">Missing solutions: division</span></h2>
<p>Extraneous solutions are not too difficult to deal with because they just require checking all solutions for validity. However, more insidious are missing solutions, which can occur when performing operations on expressions that are invalid for certain values of those expressions.</p>
<p>For example, if we were solving this equation, the correct solution is to subtract 4 from both sides, then divide both sides by 2:</p>
<dl>
<dd><img class="tex" alt="2x+4=0" src="//upload.wikimedia.org/wikipedia/en/math/b/f/e/bfe5e618c7d4587ee0971b2718ef58ad.png" /></dd>
<dd><img class="tex" alt="2x=-4" src="//upload.wikimedia.org/wikipedia/en/math/2/9/f/29fdcea51732a605db59c3a3a642066a.png" /></dd>
<dd><img class="tex" alt="x=-2" src="//upload.wikimedia.org/wikipedia/en/math/3/6/3/363be1a1694c88fafb86bd7b8f3bfffc.png" /></dd>
</dl>
<p>By analogy, we might suppose we can solve the following equation by subtracting 2<i>x</i> from both sides, then dividing by <i>x</i>:</p>
<dl>
<dd><img class="tex" alt="x^2+2x=0" src="//upload.wikimedia.org/wikipedia/en/math/f/2/5/f25c93996c1202220710c0b18a877826.png" /></dd>
<dd><img class="tex" alt="x^2=-2x" src="//upload.wikimedia.org/wikipedia/en/math/d/a/2/da286040d962bfde34f349b2bd13933f.png" /></dd>
<dd><img class="tex" alt="x=-2" src="//upload.wikimedia.org/wikipedia/en/math/3/6/3/363be1a1694c88fafb86bd7b8f3bfffc.png" /></dd>
</dl>
<p>The solution <i>x</i>&#160;=&#160;2 is in fact a valid solution to the original equation; but the other solution, <i>x</i>&#160;=&#160;0, has disappeared. The problem is that we divided both sides by <i>x</i>, which is zero when <i>x</i>&#160;=&#160;0.</p>
<p>It's generally possible (and advisable) to avoid dividing by any expression that can be zero; however, where this is necessary, it's sufficient to ensure that any values of the variables that make it zero also fail to satisfy the original equation. For example, suppose we have this equation:</p>
<dl>
<dd><img class="tex" alt="x+2=0" src="//upload.wikimedia.org/wikipedia/en/math/b/e/6/be63735e514dd584684d3ca01e453dad.png" /></dd>
</dl>
<p>It is valid to divide both sides by <i>x</i>2, obtaining the following equation:</p>
<dl>
<dd><img class="tex" alt="\frac{x+2}{x-2}=0" src="//upload.wikimedia.org/wikipedia/en/math/0/9/6/09603d48a63005f66b3fea1f20c75870.png" /></dd>
</dl>
<p>This is valid because the only value of <i>x</i> that makes <i>x</i>2 equal to zero is <i>x</i>=2, and <i>x</i>=2 is not a solution to the original equation.</p>
<p>In some cases we're not interested in certain solutions; for example, we may only want solutions where <i>x</i> is positive. In this case it's okay to divide by an expression that is only zero when <i>x</i> is negative, because this can only remove solutions we don't care about.</p>
<h2><span class="section">[<a href="/w/index.php?title=Extraneous_and_missing_solutions&amp;action=&amp;section=4" title="Edit section: Other operations"></a>]</span> <span class="mw-headline" id="Other_operations">Other operations</span></h2>
<p>Multiplication and division are not the only operations that can modify the solution set. For example, take the problem:</p>
<dl>
<dd><img class="tex" alt="x^2 = 4." src="//upload.wikimedia.org/wikipedia/en/math/3/b/5/3b563f219502ff849a871e841e7f23e3.png" /></dd>
</dl>
<p>If we take the positive square root of both sides, we get:</p>
<dl>
<dd><img class="tex" alt="x = 2." src="//upload.wikimedia.org/wikipedia/en/math/5/4/d/54d244f1d0fd2eaa82a2f1c074d2f6da.png" /></dd>
</dl>
<p>We're not taking the square root of any negative values here, since both <i>x</i><sup>2</sup> and 4 are necessarily positive. But we've lost the solution <i>x</i>&#160;=&#160;2. The reason is that <i>x</i> is actually not in general the <i>positive</i> square root of <i>x</i><sup>2</sup>. If <i>x</i> is negative, the positive square root of <i>x</i><sup>2</sup> is <i>-x</i>. If the step is taken correctly, it leads instead to the equation:</p>
<dl>
<dd><img class="tex" alt="\sqrt{x^2} = \sqrt{4}." src="//upload.wikimedia.org/wikipedia/en/math/4/5/4/45422b9d93a59ecb1bde693d1a9e03ca.png" /></dd>
<dd><img class="tex" alt="|x| = 2." src="//upload.wikimedia.org/wikipedia/en/math/9/9/b/99b6490c656b8ffd86731cf08fb4d784.png" /></dd>
<dd><img class="tex" alt="x = \pm 2." src="//upload.wikimedia.org/wikipedia/en/math/8/0/a/80a7b0cc8652cdfa490143d5dd015a25.png" /></dd>
</dl>
<p>This equation has the same two solutions as the original one: <i>x</i> = 2, and <i>x</i> = 2.</p>
<h2><span class="section">[<a href="/w/index.php?title=Extraneous_and_missing_solutions&amp;action=&amp;section=5" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Invalid_proof" title="Invalid proof" class="mw-redirect">Invalid proof</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 669/1000000
Post-expand include size: 6657/2048000 bytes
Template argument size: 2236/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:14738000-0!0!0!!en!4!* and timestamp 20120313110152 -->
