<table class="metadata plainlinks ambox ambox-content" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/f/f4/Ambox_content.png" width="40" height="40" /></div>
</td>
<td class="mbox-text" style="">This article <b>contains <a href="/wiki/Wikipedia:What_Wikipedia_is_not#NOTHOWTO" title="Wikipedia:What Wikipedia is not">instructions, advice, or how-to content</a></b>. The purpose of Wikipedia is to present facts, not to train. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Solving_quadratic_equations_with_continued_fractions&amp;action=">improve this article</a> either by rewriting the how-to content or by <a href="//meta.wikimedia.org/wiki/Help:Transwiki" class="extiw" title="m:Help:Transwiki">moving</a> it to <a href="//en.wikiversity.org/wiki/" class="extiw" title="v:">Wikiversity</a> or <a href="//en.wikibooks.org/wiki/" class="extiw" title="b:">Wikibooks</a>. <small><i>(October 2009)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, a <b>quadratic equation</b> is a <a href="/wiki/Polynomial" title="Polynomial">polynomial</a> <a href="/wiki/Equation" title="Equation">equation</a> of the second <a href="/wiki/Degree_(mathematics)" title="Degree (mathematics)">degree</a>. The general form is</p>
<dl>
<dd><img class="tex" alt="ax^2+bx+c=0,\,\!" src="//upload.wikimedia.org/wikipedia/en/math/2/9/0/290f05ee27f83b94b76cc080bd1d670f.png" /></dd>
</dl>
<p>where <i>a</i>  0.</p>
<p>Students and teachers all over the world are familiar with the <a href="/wiki/Quadratic_equation#Quadratic_formula" title="Quadratic equation">quadratic formula</a> that can be derived by <a href="/wiki/Completing_the_square" title="Completing the square">completing the square</a>. That formula always gives the roots of the quadratic equation, but the solutions are often expressed in a form that involves a <a href="/wiki/Quadratic_irrational" title="Quadratic irrational">quadratic irrational</a> number, which can only be evaluated as a <a href="/wiki/Fraction_(mathematics)" title="Fraction (mathematics)">fraction</a> or as a <a href="/wiki/Decimal" title="Decimal">decimal fraction</a> by applying an additional <a href="/wiki/Methods_of_computing_square_roots" title="Methods of computing square roots">root extraction algorithm</a>.</p>
<p>There is another way to solve the general quadratic equation. This old technique obtains an excellent rational approximation to one of the roots by manipulating the equation directly. The method works in many cases, and long ago it stimulated further development of the <a href="/wiki/Complex_analysis" title="Complex analysis">analytical theory</a> of <a href="/wiki/Generalized_continued_fraction" title="Generalized continued fraction">continued fractions</a>.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#A_simple_example"><span class="tocnumber">1</span> <span class="toctext">A simple example</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#An_algebraic_explanation"><span class="tocnumber">2</span> <span class="toctext">An algebraic explanation</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#The_general_quadratic_equation"><span class="tocnumber">3</span> <span class="toctext">The general quadratic equation</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#A_general_theorem"><span class="tocnumber">4</span> <span class="toctext">A general theorem</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Complex_coefficients"><span class="tocnumber">5</span> <span class="toctext">Complex coefficients</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#See_also"><span class="tocnumber">6</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#References"><span class="tocnumber">7</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Solving_quadratic_equations_with_continued_fractions&amp;action=&amp;section=1" title="Edit section: A simple example"></a>]</span> <span class="mw-headline" id="A_simple_example">A simple example</span></h2>
<p>Here is a simple example to illustrate the solution of a quadratic equation using continued fractions. Let's begin with the equation</p>
<dl>
<dd><img class="tex" alt="
x^2 = 2\,
" src="//upload.wikimedia.org/wikipedia/en/math/4/b/f/4bff60d9e130a42630a80c4198daabfa.png" /></dd>
</dl>
<p>and manipulate it directly. Subtracting one from both sides we obtain</p>
<dl>
<dd><img class="tex" alt="
x^2 - 1 = 1.\,
" src="//upload.wikimedia.org/wikipedia/en/math/4/3/1/431a60e24ae7ac3cc44c0ed65d5d6d42.png" /></dd>
</dl>
<p>This is easily factored into</p>
<dl>
<dd><img class="tex" alt="
(x+1)(x-1) = 1\,
" src="//upload.wikimedia.org/wikipedia/en/math/7/1/6/7166047297ea663db73a83f4cb3c79ad.png" /></dd>
</dl>
<p>from which we obtain</p>
<dl>
<dd><img class="tex" alt="
(x-1) = \frac{1}{1+x}\,
" src="//upload.wikimedia.org/wikipedia/en/math/6/1/0/6105324030f860e4cd543c1cddff0505.png" /></dd>
</dl>
<p>and finally</p>
<dl>
<dd><img class="tex" alt="
x = 1+\frac{1}{1+x}.\,
" src="//upload.wikimedia.org/wikipedia/en/math/b/9/a/b9a0f15b34f761177e96f6665dc9de37.png" /></dd>
</dl>
<p>Now comes the crucial step. Let's substitute this expression for <i>x</i> back into itself, recursively, to obtain</p>
<dl>
<dd><img class="tex" alt="
x = 1+\cfrac{1}{1+\left(1+\cfrac{1}{1+x}\right)} = 1+\cfrac{1}{2+\cfrac{1}{1+x}}.\,
" src="//upload.wikimedia.org/wikipedia/en/math/8/4/9/849276e270f02ba01f786809cae598dd.png" /></dd>
</dl>
<p>But now we can make the same recursive substitution again, and again, and again, pushing the unknown quantity <i>x</i> as far down and to the right as we please, and obtaining in the limit the infinite continued fraction</p>
<dl>
<dd><img class="tex" alt="
x = 1+\cfrac{1} {2+\cfrac{1} {2+\cfrac{1} {2+\cfrac{1} {2+\cfrac{1} {2+\ddots}}}}} = \sqrt{2}.\,
" src="//upload.wikimedia.org/wikipedia/en/math/8/e/9/8e9d5546829eadb5744666524694fafc.png" /></dd>
</dl>
<p>By applying the <a href="/wiki/Fundamental_recurrence_formulas" title="Fundamental recurrence formulas">fundamental recurrence formulas</a> we may easily compute the successive <a href="/wiki/Convergent_(continued_fraction)" title="Convergent (continued fraction)">convergents</a> of this continued fraction to be 1, 3/2, 7/5, 17/12, 41/29, 99/70, 239/169, ..., where each successive convergent is formed by taking the numerator plus the denominator of the preceding term as the denominator in the next term, then adding in the preceding denominator to form the new numerator. This sequence of denominators is a particular <a href="/wiki/Lucas_sequence" title="Lucas sequence">Lucas sequence</a> known as the <a href="/wiki/Pell_number" title="Pell number">Pell numbers</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Solving_quadratic_equations_with_continued_fractions&amp;action=&amp;section=2" title="Edit section: An algebraic explanation"></a>]</span> <span class="mw-headline" id="An_algebraic_explanation">An algebraic explanation</span></h2>
<p>We can gain further insight into this simple example by considering the successive powers of</p>
<dl>
<dd><img class="tex" alt="
\omega = \sqrt{2} - 1.\,
" src="//upload.wikimedia.org/wikipedia/en/math/e/a/5/ea5247e44cd2a6e4317a50aedb6182ee.png" /></dd>
</dl>
<p>That sequence of successive powers is given by</p>
<dl>
<dd><img class="tex" alt="
\begin{align}
\omega^2&amp; = 3 - 2\sqrt{2}, &amp; \omega^3&amp; = 5\sqrt{2} - 7, &amp; \omega^4&amp; = 17 - 12\sqrt{2}, \\
\omega^5&amp; = 29\sqrt{2}-41, &amp; \omega^6&amp; = 99 - 70\sqrt{2}, &amp; \omega^7&amp; = 169\sqrt{2} - 239, \,
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/9/2/7/9270bf5686d33292d5a287180e3943a9.png" /></dd>
</dl>
<p>and so forth. Notice how the fractions derived as successive <a href="/wiki/Approximant_(continued_fraction)" title="Approximant (continued fraction)" class="mw-redirect">approximants</a> to 2 also pop out of this <a href="/wiki/Geometric_progression" title="Geometric progression">geometric progression</a>.</p>
<p>Since 0 &lt; <i></i> &lt; 1, the sequence {<i></i><sup><i>n</i></sup>} clearly tends toward zero, by well-known properties of the positive real numbers. This fact can be used to prove, rigorously, that the convergents discussed in the simple example above do in fact converge to 2, in the limit.</p>
<p>We can also find these numerators and denominators popping out of the successive powers of</p>
<dl>
<dd><img class="tex" alt="
\omega^{-1} = \sqrt{2} + 1.\,
" src="//upload.wikimedia.org/wikipedia/en/math/6/1/2/61286820ddf21a980660c08b6c553000.png" /></dd>
</dl>
<p>Interestingly, the sequence of successive powers {<i></i><sup><i>n</i></sup>} does not approach zero; it grows without limit instead. But it can still be used to obtain the convergents in our simple example.</p>
<p>Notice also that the <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">set</a> obtained by forming <b>all</b> the combinations <i>a</i> + <i>b</i>2, where <i>a</i> and <i>b</i> are integers, is an example of an object known in <a href="/wiki/Abstract_algebra" title="Abstract algebra">abstract algebra</a> as a <a href="/wiki/Ring_(mathematics)" title="Ring (mathematics)">ring</a>, and more specifically as an <a href="/wiki/Integral_domain" title="Integral domain">integral domain</a>. The number  is a <a href="/wiki/Unit_(ring_theory)" title="Unit (ring theory)">unit</a> in that integral domain. See also <a href="/wiki/Algebraic_number_field" title="Algebraic number field">algebraic number field</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Solving_quadratic_equations_with_continued_fractions&amp;action=&amp;section=3" title="Edit section: The general quadratic equation"></a>]</span> <span class="mw-headline" id="The_general_quadratic_equation">The general quadratic equation</span></h2>
<p>Continued fractions are most conveniently applied to solve the general quadratic equation expressed in the form of a <a href="/wiki/Monic_polynomial" title="Monic polynomial">monic polynomial</a></p>
<dl>
<dd><img class="tex" alt="
x^2 + bx + c = 0\,
" src="//upload.wikimedia.org/wikipedia/en/math/5/b/a/5baa4295057a1628352a2fb9241c5432.png" /></dd>
</dl>
<p>which can always be obtained by dividing the original equation by its leading <a href="/wiki/Coefficient" title="Coefficient">coefficient</a>. Starting from this monic equation we see that</p>
<dl>
<dd><img class="tex" alt="
\begin{align}
x^2 + bx&amp; = -c\\
x + b&amp; = \frac{-c}{x}\\
x&amp; = -b - \frac{c}{x}\,
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/3/2/8/328e26cd63e77cc8b0f007c6e4a8e770.png" /></dd>
</dl>
<p>But now we can apply the last equation to itself recursively to obtain</p>
<dl>
<dd><img class="tex" alt="
x = -b-\cfrac{c} {-b-\cfrac{c} {-b-\cfrac{c} {-b-\cfrac{c} {-b-\ddots\,}}}}
" src="//upload.wikimedia.org/wikipedia/en/math/0/7/5/0750c68d90d9fd7e171a58cdd9a7836a.png" /></dd>
</dl>
<p>If this infinite continued fraction <a href="/wiki/Convergent_(continued_fraction)" title="Convergent (continued fraction)">converges</a> at all, it must converge to one of the <a href="/wiki/Root_of_a_function" title="Root of a function" class="mw-redirect">roots</a> of the monic polynomial <i>x</i><sup>2</sup> + <i>bx</i> + <i>c</i> = 0. Unfortunately, this particular continued fraction does not converge to a finite number in every case. We can easily see that this is so by considering the <a href="/wiki/Quadratic_equation#Quadratic_formula" title="Quadratic equation">quadratic formula</a> and a monic polynomial with real coefficients. If the <a href="/wiki/Discriminant" title="Discriminant">discriminant</a> of such a polynomial is negative, then both roots of the quadratic equation have <a href="/wiki/Imaginary_number" title="Imaginary number">imaginary</a> parts. In particular, if <i>b</i> and <i>c</i> are real numbers and <i>b</i><sup>2</sup> - 4<i>c</i> &lt; 0, all the convergents of this continued fraction "solution" will be real numbers, and they cannot possibly converge to a root of the form <i>u</i> + <i>iv</i> (where <i>v</i>  0), which does not lie on the <a href="/wiki/Real_number" title="Real number">real number line</a>.</p>
<h2><span class="section">[<a href="/w/index.php?title=Solving_quadratic_equations_with_continued_fractions&amp;action=&amp;section=4" title="Edit section: A general theorem"></a>]</span> <span class="mw-headline" id="A_general_theorem">A general theorem</span></h2>
<p>By applying a result obtained by <a href="/wiki/Leonhard_Euler" title="Leonhard Euler">Euler</a> in 1748 it can be shown that the continued fraction solution to the general monic quadratic equation with real coefficients</p>
<dl>
<dd><img class="tex" alt="
x^2 + bx + c = 0\,
" src="//upload.wikimedia.org/wikipedia/en/math/5/b/a/5baa4295057a1628352a2fb9241c5432.png" /></dd>
</dl>
<p>given by</p>
<dl>
<dd><img class="tex" alt="
x = -b-\cfrac{c} {-b-\cfrac{c} {-b-\cfrac{c} {-b-\cfrac{c} {-b-\ddots\,}}}}
" src="//upload.wikimedia.org/wikipedia/en/math/0/7/5/0750c68d90d9fd7e171a58cdd9a7836a.png" /></dd>
</dl>
<p><a href="/wiki/Convergent_(continued_fraction)" title="Convergent (continued fraction)">converges</a> or not depending on both the coefficient <i>b</i> and the value of the discriminant, <i>b</i><sup>2</sup>  4<i>c</i>.</p>
<p>If <i>b</i> = 0 the general continued fraction solution is totally divergent; the convergents alternate between 0 and <img class="tex" alt="\infty" src="//upload.wikimedia.org/wikipedia/en/math/d/2/4/d245777abca64ece2d5d7ca0d19fddb6.png" />. If <i>b</i>  0 we distinguish three cases.</p>
<ol>
<li>If the discriminant is negative, the fraction diverges by oscillation, which means that its convergents wander around in a regular or even chaotic fashion, never approaching a finite limit.</li>
<li>If the discriminant is zero the fraction converges to the single root of multiplicity two.</li>
<li>If the discriminant is positive the equation has two real roots, and the continued fraction converges to the larger (in <a href="/wiki/Absolute_value" title="Absolute value">absolute value</a>) of these. The rate of convergence depends on the absolute value of the ratio between the two roots: the farther that ratio is from unity, the more quickly the continued fraction converges.</li>
</ol>
<p>When the monic quadratic equation with real coefficients is of the form <i>x</i><sup>2</sup> = <i>c</i>, the <b>general</b> solution described above is useless because division by zero is not well defined. As long as <i>c</i> is positive, though, it is always possible to transform the equation by subtracting a <a href="/wiki/Perfect_square" title="Perfect square">perfect square</a> from both sides and proceeding along the lines illustrated with 2 above. In symbols, if</p>
<dl>
<dd><img class="tex" alt="
x^2 = c\qquad(c&gt;0)\,
" src="//upload.wikimedia.org/wikipedia/en/math/2/4/1/241e68712b5f7662e25ac0c23405f07c.png" /></dd>
</dl>
<p>just choose some positive real number <i>p</i> such that</p>
<dl>
<dd><img class="tex" alt="
p^2 &lt; c.\,
" src="//upload.wikimedia.org/wikipedia/en/math/5/9/6/5960a44b13fc1b87c8cff7117c3256eb.png" /></dd>
</dl>
<p>Then by direct manipulation we obtain</p>
<dl>
<dd><img class="tex" alt="
\begin{align}
x^2-p^2&amp; = c-p^2\\
(x+p)(x-p)&amp; = c-p^2\\
x-p&amp; = \frac{c-p^2}{p+x}\\
x&amp; = p + \frac{c-p^2}{p+x}\\
&amp; = p+\cfrac{c-p^2} {p+\left(p+\cfrac{c-p^2} {p+x}\right)}&amp; = p+\cfrac{c-p^2} {2p+\cfrac{c-p^2} {2p+\cfrac{c-p^2} {2p+\ddots\,}}}\,
\end{align}
" src="//upload.wikimedia.org/wikipedia/en/math/7/d/9/7d96a066666e09330c10643252885de0.png" /></dd>
</dl>
<p>and this transformed continued fraction must converge because all the partial numerators and partial denominators are positive real numbers.</p>
<h2><span class="section">[<a href="/w/index.php?title=Solving_quadratic_equations_with_continued_fractions&amp;action=&amp;section=5" title="Edit section: Complex coefficients"></a>]</span> <span class="mw-headline" id="Complex_coefficients">Complex coefficients</span></h2>
<p>By the <a href="/wiki/Fundamental_theorem_of_algebra" title="Fundamental theorem of algebra">fundamental theorem of algebra</a>, if the monic polynomial equation <i>x</i><sup>2</sup> + <i>bx</i> + <i>c</i> = 0 has complex coefficients, it must have two (not necessarily distinct) complex roots. Unfortunately, the discriminant <i>b</i><sup>2</sup> - 4<i>c</i> is not as useful in this situation, because it may be a complex number. Still, a modified version of the general theorem can be proved.</p>
<p>The continued fraction solution to the general monic quadratic equation with complex coefficients</p>
<dl>
<dd><img class="tex" alt="
x^2 + bx + c = 0\qquad (b\ne0)\,
" src="//upload.wikimedia.org/wikipedia/en/math/1/c/9/1c947c0222f08c49a44d64ef3b712012.png" /></dd>
</dl>
<p>given by</p>
<dl>
<dd><img class="tex" alt="
x = -b-\cfrac{c} {-b-\cfrac{c} {-b-\cfrac{c} {-b-\cfrac{c} {-b-\ddots\,}}}}
" src="//upload.wikimedia.org/wikipedia/en/math/0/7/5/0750c68d90d9fd7e171a58cdd9a7836a.png" /></dd>
</dl>
<p><a href="/wiki/Convergent_(continued_fraction)" title="Convergent (continued fraction)">converges</a> or not depending on the value of the discriminant, <i>b</i><sup>2</sup>  4<i>c</i>, and on the relative magnitude of its two roots.</p>
<p>Denoting the two roots by <i>r</i><sub>1</sub> and <i>r</i><sub>2</sub> we distinguish three cases.</p>
<ol>
<li>If the discriminant is zero the fraction converges to the single root of multiplicity two.</li>
<li>If the discriminant is not zero, and |<i>r</i><sub>1</sub>|  |<i>r</i><sub>2</sub>|, the continued fraction converges to the <i>root of maximum modulus</i> (i.e., to the root with the greater <a href="/wiki/Absolute_value" title="Absolute value">absolute value</a>).</li>
<li>If the discriminant is not zero, and |<i>r</i><sub>1</sub>| = |<i>r</i><sub>2</sub>|, the continued fraction diverges by oscillation.</li>
</ol>
<p>In case 2, the rate of convergence depends on the absolute value of the ratio between the two roots: the farther that ratio is from unity, the more quickly the continued fraction converges.</p>
<p>This general solution of monic quadratic equations with complex coefficients is usually not very useful for obtaining rational approximations to the roots, because the criteria are circular (that is, the relative magnitudes of the two roots must be known before we can conclude that the fraction converges, in most cases). But this solution does find useful applications in the further analysis of the <a href="/wiki/Convergence_problem" title="Convergence problem">convergence problem</a> for continued fractions with complex elements.</p>
<h2><span class="section">[<a href="/w/index.php?title=Solving_quadratic_equations_with_continued_fractions&amp;action=&amp;section=6" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Continued_fraction" title="Continued fraction">Continued fraction</a></li>
<li><a href="/wiki/Generalized_continued_fraction" title="Generalized continued fraction">Generalized continued fraction</a></li>
<li><a href="/wiki/Lucas_sequence" title="Lucas sequence">Lucas sequence</a></li>
<li><a href="/wiki/Pell%27s_equation" title="Pell's equation">Pell's equation</a></li>
<li><a href="/wiki/Quadratic_equation" title="Quadratic equation">Quadratic equation</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Solving_quadratic_equations_with_continued_fractions&amp;action=&amp;section=7" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li>H. S. Wall, <i>Analytic Theory of Continued Fractions</i>, D. Van Nostrand Company, Inc., 1948 <a href="/wiki/Special:BookSources/0828402078" class="internal mw-magiclink-isbn">ISBN 0-8284-0207-8</a></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 683/1000000
Post-expand include size: 5006/2048000 bytes
Template argument size: 1347/2048000 bytes
Expensive parser function count: 2/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:8393831-0!0!0!!en!4!* and timestamp 20120306043531 -->
