<table class="metadata plainlinks ambox ambox-content ambox-Refimprove" style="">
<tr>
<td class="mbox-image">
<div style="width: 52px;"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" width="50" height="39" /></div>
</td>
<td class="mbox-text" style="">This article <b>needs additional <a href="/wiki/Wikipedia:Citing_sources#Inline_citations" title="Wikipedia:Citing sources">citations</a> for <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verification</a></b>. Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Unary_operation&amp;action=">improve this article</a> by adding citations to <a href="/wiki/Wikipedia:Identifying_reliable_sources" title="Wikipedia:Identifying reliable sources">reliable sources</a>. Unsourced material may be <a href="/wiki/Template:Citation_needed" title="Template:Citation needed">challenged</a> and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>. <small><i>(March 2010)</i></small></td>
</tr>
</table>
<p>In <a href="/wiki/Mathematics" title="Mathematics">mathematics</a>, a <b>unary operation</b> is an <a href="/wiki/Operation_(mathematics)" title="Operation (mathematics)">operation</a> with only one <a href="/wiki/Operand" title="Operand">operand</a>, i.e. a single input. Specifically, it is a function</p>
<dl>
<dd><img class="tex" alt="f:\ A\to A" src="//upload.wikimedia.org/wikipedia/en/math/b/1/5/b15c18104ff9f540eeae0fb865bfa925.png" /></dd>
</dl>
<p>where <i>A</i> is a <a href="/wiki/Set_(mathematics)" title="Set (mathematics)">set</a>. In this case <i>f</i> is called a unary operation on <i>A</i>.</p>
<p>Common notations are <a href="/wiki/Prefix_notation" title="Prefix notation" class="mw-redirect">prefix notation</a> (e.g. +, , not), <a href="/wiki/Postfix_notation" title="Postfix notation" class="mw-redirect">postfix notation</a> (e.g. <a href="/wiki/Factorial" title="Factorial">factorial</a>: n!), functional notation (e.g. sin x or sin (x)), and <a href="/wiki/Superscript" title="Superscript" class="mw-redirect">superscripts</a> (e.g. <a href="/wiki/Transpose" title="Transpose">transpose</a> <i>A<sup>T</sup></i>). Other notation exists as well, for example in the case of the <a href="/wiki/Square_root" title="Square root">square root</a> a horizontal bar over the argument extending the square root sign can indicate the extent of the argument.</p>
<table id="toc" class="toc">
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Unary_negative_and_positive"><span class="tocnumber">1</span> <span class="toctext">Unary negative and positive</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Computer_programming"><span class="tocnumber">2</span> <span class="toctext">Computer programming</span></a>
<ul>
<li class="toclevel-2 tocsection-3"><a href="#C_family_of_languages"><span class="tocnumber">2.1</span> <span class="toctext">C family of languages</span></a></li>
<li class="toclevel-2 tocsection-4"><a href="#Other_languages"><span class="tocnumber">2.2</span> <span class="toctext">Other languages</span></a>
<ul>
<li class="toclevel-3 tocsection-5"><a href="#Windows_PowerShell"><span class="tocnumber">2.2.1</span> <span class="toctext">Windows PowerShell</span></a></li>
</ul>
</li>
</ul>
</li>
<li class="toclevel-1 tocsection-6"><a href="#See_also"><span class="tocnumber">3</span> <span class="toctext">See also</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#References"><span class="tocnumber">4</span> <span class="toctext">References</span></a></li>
</ul>
</td>
</tr>
</table>
<h2><span class="section">[<a href="/w/index.php?title=Unary_operation&amp;action=&amp;section=1" title="Edit section: Unary negative and positive"></a>]</span> <span class="mw-headline" id="Unary_negative_and_positive">Unary negative and positive</span></h2>
<p>As unary operations have only one operand they are evaluated before other operations containing them. Here is an example using negation:</p>
<dl>
<dd>3  2</dd>
</dl>
<p>Here the first '' represents the binary subtraction operation, while the second '' represents the unary negation of the 2. Therefore, the expression is equal to:</p>
<dl>
<dd>3  (2) = 5</dd>
</dl>
<p>Technically there is also a unary positive but it is not needed since we assume a value to be positive:</p>
<dl>
<dd>(+2) = 2</dd>
</dl>
<p>Unary positive does not change the sign of a negative operation:</p>
<dl>
<dd>(+(2)) = (2)</dd>
</dl>
<p>In this case a unary negative is needed to change the sign:</p>
<dl>
<dd>((2)) = (+2)</dd>
</dl>
<h2><span class="section">[<a href="/w/index.php?title=Unary_operation&amp;action=&amp;section=2" title="Edit section: Computer programming"></a>]</span> <span class="mw-headline" id="Computer_programming">Computer programming</span></h2>
<p>Unary operators (called "monadic" in <a href="/wiki/APL_programming_language" title="APL programming language" class="mw-redirect">APL</a>) are also used in <a href="/wiki/Programming_languages" title="Programming languages" class="mw-redirect">programming languages</a>.</p>
<h3><span class="section">[<a href="/w/index.php?title=Unary_operation&amp;action=&amp;section=3" title="Edit section: C family of languages"></a>]</span> <span class="mw-headline" id="C_family_of_languages">C family of languages</span></h3>
<p>In the <a href="/wiki/C_(programming_language)" title="C (programming language)">C</a> family of languages, the following operators are unary:</p>
<ul>
<li>Increment: <code>++<font color="gray">x</font>, <font color="gray">x</font>++</code></li>
<li>Decrement: <code><font color="gray">x</font>, <font color="gray">x</font></code></li>
<li><a href="/wiki/Reference_(computer_science)" title="Reference (computer science)">Address</a>: <code>&amp;<font color="gray">x</font></code></li>
<li><a href="/wiki/Indirection" title="Indirection">Indirection</a>: <code>*<font color="gray">x</font></code></li>
<li>Positive: <code>+<font color="gray">x</font></code></li>
<li>Negative: <code><font color="gray">x</font></code></li>
<li><a href="/wiki/Signed_number_representations" title="Signed number representations">One's complement</a>: <code>~<font color="gray">x</font></code></li>
<li><a href="/wiki/Negation" title="Negation">Logical negation</a>: <code>!<font color="gray">x</font></code></li>
<li>Sizeof: <code>sizeof <font color="gray">x</font>, sizeof(<font color="gray">type-name</font>)</code></li>
<li><a href="/wiki/Type_conversion" title="Type conversion">Cast</a>: <code>(<i>type-name</i>) <i><font color="gray">cast-expression</font></i></code></li>
</ul>
<h3><span class="section">[<a href="/w/index.php?title=Unary_operation&amp;action=&amp;section=4" title="Edit section: Other languages"></a>]</span> <span class="mw-headline" id="Other_languages">Other languages</span></h3>
<h4><span class="section">[<a href="/w/index.php?title=Unary_operation&amp;action=&amp;section=5" title="Edit section: Windows PowerShell"></a>]</span> <span class="mw-headline" id="Windows_PowerShell">Windows PowerShell</span></h4>
<ul>
<li>Increment: <code>++<font color="gray">$x</font>, <font color="gray">$x</font>++</code></li>
<li>Decrement: <code><font color="gray">$x</font>, <font color="gray">$x</font></code></li>
<li>Positive: <code>+<font color="gray">$x</font></code></li>
<li>Negative: <code><font color="gray">$x</font></code></li>
<li>Logical negation: <code>-not <font color="gray">$x</font></code></li>
<li><a href="/wiki/Execution_(computing)" title="Execution (computing)">Invoke</a> in current <a href="/wiki/Scope_(programming)" title="Scope (programming)" class="mw-redirect">scope</a>: <code>.<font color="gray">$x</font></code></li>
<li>Invoke in new scope: <code>&amp;<font color="gray">$x</font></code></li>
<li>Cast: <code>[<i>type-name</i>] <i><font color="gray">cast-expression</font></i></code></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Unary_operation&amp;action=&amp;section=6" title="Edit section: See also"></a>]</span> <span class="mw-headline" id="See_also">See also</span></h2>
<ul>
<li><a href="/wiki/Binary_operation" title="Binary operation">Binary operation</a></li>
<li><a href="/wiki/Ternary_operation" title="Ternary operation">Ternary operation</a></li>
<li><a href="/wiki/Arity" title="Arity">Arity</a></li>
<li><a href="/wiki/Operation_(mathematics)" title="Operation (mathematics)">Operation (mathematics)</a></li>
<li><a href="/wiki/Operator_(programming)" title="Operator (programming)">Operator (programming)</a></li>
</ul>
<h2><span class="section">[<a href="/w/index.php?title=Unary_operation&amp;action=&amp;section=7" title="Edit section: References"></a>]</span> <span class="mw-headline" id="References">References</span></h2>
<ul>
<li><span class="citation mathworld" id="Reference-Mathworld-Unary_Operation">Matt Insall, "<a rel="nofollow" class="external text" href="http://mathworld.wolfram.com/UnaryOperation.html">Unary Operation</a>" from <a href="/wiki/MathWorld" title="MathWorld">MathWorld</a>.</span></li>
</ul>


<!-- 
NewPP limit report
Preprocessor node count: 482/1000000
Post-expand include size: 4494/2048000 bytes
Template argument size: 1640/2048000 bytes
Expensive parser function count: 1/500
-->

<!-- Saved in parser cache with key enwiki:pcache:idhash:161006-0!0!0!!en!4!* and timestamp 20120314041846 -->
